[2018-08-23 10:04] JIMENOFONSECA opened #1607 "As a CEA developer I want to know how to contribute so I make my code readable and transparent for others to use."
The idea is to create a readme on how to contribute to CEA.

This should include ground rules about:

- Coding (not exactly PEP8, but more on how to create functions etc.)

- Variable Naming (not exactly PEP8, but more on how to understand the physics-based variables that CEA uses.

- How to create issues (or user stories). I will come with more of that in the next period.

[2018-08-23 13:02] #1374 closed

[2018-08-23 13:08] #1322 closed

[2018-08-24 09:51] JIMENOFONSECA commented on #1589
closing as this is a duplicate of issue 1 in the dashboard repository

[2018-08-24 09:51] #1589 closed

[2018-08-24 09:52] JIMENOFONSECA commented on #1433
@shanshanhsieh is this something in the pipeline

[2018-08-24 09:56] JIMENOFONSECA commented on #1510
@shanshanhsieh is this issue already addressed?

[2018-08-24 10:25] JIMENOFONSECA commented on #1238
@Jack-Hawthorne @daren-thomas is this issue closed?

[2018-08-24 10:26] JIMENOFONSECA commented on #1500
@daren-thomas moving to nice to have...

[2018-08-24 10:39] JIMENOFONSECA commented on #1574
@martin-mosteiro yes, those parameters are assumed for now. @martin-mosteiro would you mind making the respective modifications? maybe it would be good that you improve it might be strongly related to your research.

[2018-08-24 11:45] shanshanhsieh commented on #1433
@JIMENOFONSECA yes, i would still like to address this issue, it is closely related to WP2 of my thesis.

[2018-08-24 11:47] shanshanhsieh commented on #1510
@JIMENOFONSECA the pumping costs are added to the tropical context, but not the temperature climate yet. I will discuss with @BhargavaKrishnaSreepathi on how to proceed with that.

[2018-08-24 11:52] daren-thomas opened #1609 "Fix the calibration tests for The Jenkins"
The Jenkins tests run the calibration tests in the task `run_calibration`. Sometimes it runs through. Sometimes it doesn't, producing this error:

[code]

Where does that error come from? I think it might be some combination of building properties that lead to the error happening. This probably only shows up because of some random seed not being the same for every run. Also, it is a symptom of a b

[2018-08-24 11:52] daren-thomas commented on #1609
@JIMENOFONSECA can you take a look?

[2018-08-30 02:46] gabriel-happle commented on #1593
cool!
I'm closing this issue then.

[2018-08-30 02:46] #1593 closed

[2018-08-30 02:51] gabriel-happle commented on #1436
@JIMENOFONSECA this refers to the data in the reference case repository. According to my understanding there is old/wrong radiation data stored.
I don't need this now. But everyone who is using that repository needs it. E.g., @Khayatian for Ecocampus.
I assigned you, because you have a fast machine (especially to rerun Ecocampus radiation). I thought we discussed this once in person.

[2018-08-30 02:56] JIMENOFONSECA commented on #1436
Now it is more clear. Yes I can help.

Btw we bought 2 more powerful machines Assigned to Bhargava and Zhongming, but they are meant for all the group, so in case you need them, just ask them to use it. You can also use mine when I do not need it. Just ask, cheers.

On 30 Aug 2018, 10:51 AM +0800, Gabriel Happle <notifications@github.com>, wrote:

@JIMENOFONSECA<https://github.com/JIMENOFONSECA> t

[2018-08-31 02:59] JIMENOFONSECA commented on #1436
@gabriel-happle so I have files of more than 100MB and Github does not allow to upload them. They just do not host them. So there are these options.

1. We erase all the radiation files of all case studies. This could be a good practice as it is good that whoever uses a case study for the first time makes sure he/she produces results with the latest version of CEA.

2. Compress all file and upload

[2018-08-31 08:21] SJ20 opened #1610 "Error in installation"
while running this program,
(my_root) D:\CityEnergyAnalyst-master\CityEnergyAnalyst-master>cea install-toolbox

ran into this error (ref to screenshot attached)
![screenshot](https://user-images.githubusercontent.com/42861444/44901325-a8b55f80-ad39-11e8-9f10-643a46ac173c.jpg)

[2018-09-03 06:43] gabriel-happle commented on #1436
I also think option 1. is better.
We just have to make sure @Khayatian or whoever is working on large case studies has a way to obtain those files.

[2018-09-05 12:06] daren-thomas commented on #1320
Duplicate of #1310

[2018-09-05 12:06] #1320 closed

[2018-09-05 12:06] daren-thomas commented on #1310
I suggest just adding those buttons next to the "Run" button.

[2018-09-06 07:47] amraladdin opened #1611 "Zurich Executive Course - Kick-off"
Define:
- Time of the workshop
- Course structure and content
- Audience
- Tutors
- ...

[2018-09-06 07:54] amraladdin opened #1612 "Zurich Executive Course"

[2018-09-06 07:58] #1611 closed

[2018-09-06 08:05] amraladdin opened #1613 "Zurich Executive Course - Kick-off"
Define:

- Time of the workshop
- Course structure and content
- Audience
- Tutors
- ...

Set up a meeting to brainstorm ideas and workflow.

[2018-09-07 12:54] daren-thomas commented on #1610
Hello @SJ20,

This seems to be an issue that we just fixed in #1603. Can you please `git pull` and re-run the environment.yml?

Also, by the look of your screenshot, it looks like you might not be following the installation guide closely: https://city-energy-analyst.readthedocs.io/en/latest/installation-on-windows.html#installation

(try to create the `cea` conda environment following each step. i

[2018-09-11 07:18] daren-thomas opened #1616 "Check scripts.yml for orphan scripts"
They are listed in the category "default" - I'm not quite sure what to do with some of them. Others, could be added to an interface (`cea-dev`) for more techie usage (like `compile` - but, tbh, we haven't used that script in soooo long!).

[2018-09-11 07:20] daren-thomas opened #1617 "Test Rhino integration after move to scripts.yml"
Does the Rhino / Grasshopper integration still work? Test this with the scripts.yml changes.

[2018-09-13 08:15] martin-mosteiro opened #1619 "Mismatch in number of variables in different calibration scripts"
The `calibration_sampling` script states
[code]
and even more specifically: `:param variables: input variables of CEA to sample. They must be 5!
`

However after running the sampling and gaussian emulator scripts with five variables, I reached `calibration_main` and got the following:
[code]

So it seems calibration main script actually requires six variables!

@JIMENOFONSECA Any insight on this?

[2018-09-14 11:25] gabriel-happle opened #1620 "current pyliburo creates different daysim geometry as compared to previous version"
when comparing geometry files created now and before the pyliburo update, different results are produced.

It seems that the newer files are wrong. Wall surfaces and windows seem to be stacked on top of each other when looking at the coordinates in the geometry.csv files.

This interesting also for the people who are doing research currently:
@shanshanhsieh. I discovered this issue when I was help

[2018-09-14 11:52] gabriel-happle commented on #1620
With the new pyliburo there are a lot of
`Failed to boolean cut` errors and the resulting geometry has way less surfaces and sensor points.

[2018-09-14 11:54] gabriel-happle commented on #1620
Previous Geometry:
![image](https://user-images.githubusercontent.com/17002288/45548733-f52f8d80-b857-11e8-93b1-02c1b3019351.png)

[2018-09-14 11:55] gabriel-happle commented on #1620
Current Geometry - Two surfaces always on top of each other
![image](https://user-images.githubusercontent.com/17002288/45548782-2740ef80-b858-11e8-9701-f4b4b4939ca2.png)

[2018-09-14 11:59] gabriel-happle commented on #1620
Maybe @chenkianwee knows what's going on here.

[2018-09-17 07:50] daren-thomas commented on #1620
@gabriel-happle compared to which version? Do you have that lying around? I... I only changed the version number on our fork - the rest of the code is exactly the same as it always was...

[2018-09-17 08:26] daren-thomas commented on #1224
@shanshanhsieh do you have any news on this?

[2018-09-17 09:00] martin-mosteiro commented on #1619
After running the `calibration_sampling` with six variables specified, then running `calibration_gaussian_emulator`, and finally `calibration_main, I get the following error message when running the latter:
[code]

[2018-09-17 11:58] gabriel-happle commented on #1620
@daren-thomas I don't know which version. Is there maybe a log with changes to the environment?
I think it was just the previous version. Something like `0.11.xx`. But I am not really sure.

I know that there are no changes to the `cea` code. I checked for that. Something in `pyliburo` has to have changed that is throwing these error messages now.

I think what this means for us is that: Radiation

[2018-09-17 12:05] gabriel-happle commented on #1620
http://blog.rtwilson.com/conda-revisions-letting-you-rollback-to-a-previous-version-of-your-environment/

[code]

[2018-09-17 13:36] chenkianwee commented on #1620
@gabriel-happle it is hard for me to know what is happening with this information. Failed to boolean cut is telling you the boolean operation did not work. So it might be associated with that. It could be the input geometry file is different? There are many possibilities

[2018-09-18 04:03] gabriel-happle commented on #1620
@chenkianwee The input files are the same. And the `cea` code is the same (at least I did not see any recent changes in any related scripts).

[2018-09-18 13:17] daren-thomas commented on #1620
@gabriel-happle I will work on this tomorrow! What test case were you using in the screenshots above?

[2018-09-18 13:21] daren-thomas opened #1621 "Fix environment.yml for read-the-docs"
The version of pyliburo in the file `docs/environment.yml` needs to be updated to reflect the new version.

[2018-09-19 10:32] gabriel-happle commented on #1620
@daren-thomas this is the open case. But basically, I think, you just have to look out for the `Failed to boolean cut` message when running the radiation script.

[2018-09-19 11:32] daren-thomas commented on #1620
@gabriel-happle OK, I can reproduce the "Failed to boolean cut" error!

[2018-09-20 06:44] daren-thomas opened #1623 "As a researcher I want to know what features CEA does not longer support so I can also use them independently"
I think this script is orphaned... When I tried to run it, I got this:

[code]

It seems it hasn't been run in a very long time...

@JIMENOFONSECA I have taken the liberty of assigning this to you as you are mentioned in the credits and probably the only one on the team who knows for sure what this script is for... I think we can safely remove it. What do you think?

[2018-09-20 12:27] #1620 closed

[2018-09-20 12:31] daren-thomas opened #1625 "Figure out why the radiation-daysim tool hangs on Sabine's scenario"
Sabine Python's semester project involves a rather big scenario that seems to hang with the radiation-daysim tool. Why? I don't know.

The scenario can be obtained from Martin, Danielle, Sabine or Daren.

[2018-09-20 12:34] JIMENOFONSECA commented on #1623
mmm. It would be great to keep it somewhere, it was a hard thing to do and it might be useful if we want to use CITYGML format one day. I wonder If another repository could do? what is your opinion?

________________________________
From: Daren Thomas [notifications@github.com]
Sent: Thursday, September 20, 2018 2:44 PM
To: architecture-building-systems/CityEnergyAnalyst
Cc: Jimeno Fonseca; Mentio

[2018-09-20 12:41] daren-thomas commented on #1625
First thing I noticed: Creating the topography geometry takes forever.

[2018-09-20 13:45] daren-thomas commented on #1625
First fix: using ArcScene -> Data Management Tools -> Raster -> Raster Processing -> Resample, I resampled the terrain.tif to 20m x 20m granularity and exported the raster dataset back to TIFF format. Reading in the topography is now faster.

[2018-09-20 13:48] daren-thomas commented on #1625
Next problem: The geometry in `zone.shp` (and probably also in `district.shp` has Z coordinates. This breaks the `geometry_generator.py` script.

[2018-09-20 14:05] daren-thomas commented on #1625
Fixed in branch `1625-figure-out-why-the-radiation-daysim-tool-hangs-on-sabines-scenario`: POLYGON Z shapefiles can now be used (the Z component is ignored)

[2018-09-20 14:07] daren-thomas commented on #1625
Next problem: `zone.shp` and `terrain.tif` do not intersect. The coordinate systems are different, but I believe that the routines we use should be able to abstract that away. Showing both layers in ArcGIS Desktop is impossible, it seems they're too far appart or something.

[2018-09-20 14:11] martin-mosteiro commented on #1625
@daren-thomas I encountered this issue too... but weirdly it's solved if you add layers in a certain order: if you add the terrain first, then the building, they appear to be on the same location. If you add the buildings first, the coordinate system seems to be interpreted differently and the buildings and topography can't be shown together.

[2018-09-20 14:13] daren-thomas commented on #1625
ugh!

[2018-09-20 14:47] daren-thomas commented on #1625
You're right! But check this out:

![image](https://user-images.githubusercontent.com/2969564/45826274-7d98ad00-bcf4-11e8-9e3c-f3f9010390a5.png)

It seems even if it worked, there are still some buildings that are "outside" of the considered terrain...

I just checked to make sure the building our intersection is failing on is not one of those (it isn't):

![image](https://user-images.githubuserco

[2018-09-20 14:58] martin-mosteiro commented on #1625
@daren-thomas you might wanna check the terrain file I sent Sabine in reply to her email today. Seemed to work better and there were no buildings outside the terrain.

Am 20.09.2018 um 16:47 schrieb Daren Thomas <notifications@github.com<mailto:notifications@github.com>>:

You're right! But check this out:

[image]<https://user-images.githubusercontent.com/2969564/45826274-7d98ad00-bcf4-11e8-9e3c-

[2018-09-21 02:13] gabriel-happle opened #1626 "Add radiation to testing"
As a consequence of #1620 and #1624 I think the radiation script should be part of the Jenkins tests.
@daren-thomas I'm assigning this to you. You can decide the priority and milestone.

The testing could be done on a single building with a larger sensor grid, instead of the whole case study, in order to save computational time.

[2018-09-21 07:59] daren-thomas commented on #1626
good point!

[2018-09-21 09:16] daren-thomas commented on #1623
My opinion is to remove any code that doesn't run. You could keep it in a [gist](https://gist.github.com/) for later - and create an issue pointing to the gist so that the code be found later via google...

Keeping dead code is just making the codebase harder to understand for new / existing developers because you never know if it's really safe to delete or not.

[2018-09-21 11:59] daren-thomas commented on #1625
Next thing I tried was importing the Coordinate system from zone.shp using this guide: http://desktop.arcgis.com/en/arcmap/10.3/manage-data/raster-and-images/defining-or-modifying-a-raster-coordinate-system.htm

Still the same error. Somehow the centroid points of the building footprints don't intersect with the geometry of the terrain...

[2018-09-21 12:32] martin-mosteiro commented on #1625
Yep, same issue here. As I mentioned above, things didn't look the same on ArcGIS when I imported the shapefile first than when I opened the terrain. The reason is that ArcGIS was setting a different coordinate system for the scene in each case. So I changed the coordinate system in zone.shp and arrived at the same result you did...

[2018-09-21 12:59] daren-thomas commented on #1625
@martin-mosteiro was just trying to use the reduced.rad scenario you sent me and the following problem occurrs when trying to do the base heights thing in ArcScene:

![image](https://user-images.githubusercontent.com/2969564/45882613-f78d6c80-bdae-11e8-8483-112fd634f797.png)

[2018-09-21 13:03] martin-mosteiro commented on #1625
@daren-thomas Strange. Works perfectly for me:
![screen shot 2018-09-21 at 15 02 44](https://user-images.githubusercontent.com/18548065/45882774-7682a500-bdaf-11e8-9c32-2cca376724bf.png)

[2018-09-21 14:00] DanielleGriego commented on #1625
Ok, thanks guys.  I just talked to Sabine and we’ll correspond here and update the files from the Polybox folder you sent Martin:

Here’s the case study after I removed the Z coordinate in the shapefile and replaced the terrain (I suppose this is the same case study you were testing):
https://polybox.ethz.ch/index.php/apps/files/?dir=/2018.09.21.15.01_flattened_geometry&fileid=1099896304
Here’s th

[2018-09-21 15:05] sabinepython commented on #1625
I had to use swissALTI3D2016relief since the create_new_project tool would not accept the terrain.tif from Martin.

Everything runs fine until the radiation tool... here's the error:

C:\Users\iA\Anaconda2\envs\cea\python.exe C:/Users/iA/Documents/GitHub/CityEnergyAnalyst/cea/resources/radiation_daysim/radiation_main.py
DEBUG:Fiona:GDAL_DATA: C:\Program Files (x86)\PostgreSQL\10\gdal-data
DEBUG:Fi

[2018-09-21 15:08] martin-mosteiro commented on #1625
@sabinepython Sorry, here are the correct links

- Case study after I removed the Z coordinate in the shapefile and replaced the terrain:
https://polybox.ethz.ch/index.php/s/LCLvSZzfQSqrcPE
- Case study with Danielle’s new shapefile:
https://polybox.ethz.ch/index.php/s/mInQrUW3DRdSfDk

[2018-09-23 12:45] JIMENOFONSECA commented on #1623
Got you. Let’s trash it! :-)

Best, Jimeno
On 21 Sep 2018, 18:16 +0900, Daren Thomas <notifications@github.com>, wrote:

My opinion is to remove any code that doesn't run. You could keep it in a gist<https://gist.github.com/> for later - and create an issue pointing to the gist so that the code be found later via google...

Keeping dead code is just making the codebase harder to understand for new

[2018-09-24 07:40] daren-thomas commented on #1446
fixed.

[2018-09-24 07:40] #1446 closed

[2018-09-24 07:42] daren-thomas commented on #1625
@sabinepython do you have new files? the ones martin links to don't seem to work properly for me. i get a totally different errror...

[2018-09-24 07:52] sabinepython commented on #1625
@daren-thomas same here, I tried Martin's files on Friday and it didn't work out neither.
I'm now working on a new reduced sample with 10 buildings in the middle of the district.
https://www.dropbox.com/sh/yja9zlseciawc2c/AABkLMW8aXzD9u2bJb9wvweOa?dl=0

Concerning the re-projection, my shapefiles are already in CH1903/LV03 ...

[2018-09-24 08:19] sabinepython commented on #1625
Or is CH1903/LV03 the root of the problem and I should use another one? Could you recommend any PCS for Switzerland I could use and fulfills CEA's requirements?

[2018-09-24 08:32] sabinepython commented on #1625
Oh it seems to work better with CH1903+/LV95 :)

[2018-09-24 09:10] sabinepython commented on #1625
@daren-thomas
So now I changed the terrain created by Martin and the district & zone shapefiles to CH1903+/LV95, they overlap nicely in QGIS :)
Using these files I'm getting the error below when running the create_new_file:

`Running create-new-project with occupancy-types = C:\Users\iA\Dropbox\SemesterProject_SP\CEA\test_sample10/inputs/building-properties/occupancy.dbf
Warning 1: Cannot find ell

[2018-09-25 09:37] daren-thomas opened #1628 "AssertionError: failed lofting when running radiation-daysim for a building with no height above ground"
This case just came up in conjunction with issue #1625. There was a building with

- floors_ag = 0
- floors_bg = 1
- height_ag = 0
- height_bg = 4.5

in the `district.shp` file. This created an error in the `geometry_generator.py` script:

[code]

The radiation-daysim script needs to be updated to handle this special case. I propose to add such a building to the `reference-case-open/baseline` so t

[2018-09-25 09:38] sabinepython commented on #1625
@daren-thomas Could you come over for the installation issue this afternoon or even now? If after that there are still some issues we can discuss them tomorrow after Integrated Design.

[2018-09-25 09:44] sabinepython commented on #1625
@daren-thomas could you please share your modified files (without Z1947)? thanks

[2018-09-26 13:37] daren-thomas opened #1630 "Solar collector fails when annual threshold is not reached for a building"
I came across this by accident. Here are the steps to reproduce:

- start by making sure you delete `c:\reference-case-open`
- delete / rename your `cea.config` file (this is to make sure we have the exact same setup)
- start Anaconda Prompt, `activate cea`
- run `cea extract-reference-case`
- run `cea data-helper`
- run `cea radiation-daysim`
- run `cea solar-collector  --annual-radiation-thresho

[2018-09-26 13:46] daren-thomas opened #1631 "As a practitioner user of the CEA, I'd like to see the default values for tool parameters"
When running `cea --help demand`, the output contains information of all the parameters that can be used with that tool. Here are the first few lines:

[code]

The options show the currently set values. (shown: scenario and region) as well as a description of the parameter.

The output should also show the default values.

This should also work with the `cea-config` tool and be included in the par

[2018-10-02 08:22] gabriel-happle opened #1632 "Building properties is executed for all buildings, even if single buildings are selected in config file"
`geometry_reader_radiation_daysim` calls all buildings in a loop, even though only a subset of buildings is selected to be simulated for `demand`.

I noticed this issue when trying to run a specific building in a large case study, where I only have the radiation outputs for that specific building.

Assigning @daren-thomas. Please select priority and milestone.

[2018-10-02 09:12] gabriel-happle opened #1633 "Heat gains of whole GFA and whole envelope are allocated to conditioned space"
Some smaller buildings in the new TPW case study are overheating and resulting in very unrealistic conditions.

I think the reason is that their air-conditioned area is relatively small compared to the GFA (small `Hs` value).

If all buildings are defined as mixed use with a high residential fraction in Singapore, typically `0.25 < Hs < 0.65`.

This means that all solar heat gains and all applianc

[2018-10-02 09:17] JIMENOFONSECA commented on #1633
Yes I think we made a previous work around that, and it somehow broke Martin’s case study.

I imagine creating again a new factor for the amount of electrified area (responsible of internal loads). this should be different to Hs.

On 2 Oct 2018, at 5:12 PM, Gabriel Happle <notifications@github.com<mailto:notifications@github.com>> wrote:

Some smaller buildings in the new TPW case study are overhe

[2018-10-02 10:09] martin-mosteiro commented on #1633
@gabriel-happle Yep, I had the same issue. The reason was (1) the electrified area is hard-coded as 90% of the total area, and (2) all the electrical gains get dumped in the conditioned area, regardless of whether the electrified area and conditioned areas match.

As I mentioned before, I think we need to choose a consistent unit of analysis and base our calculations on that - right now we use con

[2018-10-02 11:37] JIMENOFONSECA commented on #1633
Oh. So that means it has to do with the assumed geometry of the building and the real envelope that is heated. Mmm. I wonder if Hs should then be applied proportionately to walls, windows and even roof areas?

Of course it should be coherent with the solar radiation that the area gets i guess

____________

Dr. Jimeno A. Fonseca
Senior Researcher and Project Coordinator
Multi-Scale Energy Systems

[2018-10-02 12:33] daren-thomas opened #1634 "Update plots to newest plotly release"
The plots do not seem compatible with plotly 3.2.1. Here is a stack trace found in the wild:

[code]

[2018-10-02 13:01] daren-thomas opened #1635 "Update error message for daysim sensor limit in radiation-daysim tool"
In big scenarios, it is possible to get the error message "ValueError: You are sending more than 50000 sensors at the same time, this will eventually crash a daysim instance. To solve it, reduce the number of buildings in each chunk in the Settings.py file"

This error message refers to a python file that has been superceded by the `radiation-daysim:n-buildings-in-chunk` configuration variable.

T

[2018-10-02 13:43] daren-thomas opened #1636 "As a Researcher, I want to learn how to make the streets.shp file"
A person who wants to use CEA needs to know how to create the streets shapefile.

- what is the format of this file? POLYLINE? MULTIPOLYLINE?
- this should be part of the documentation along with the description of how to create all the other input files?
- this could be a tutorial, linked from the readthedocs

[2018-10-03 01:46] gabriel-happle commented on #1633
It seems the RC-model gets out of bounds for certain small buildings. In the case study that @shizhongming and @BhargavaKrishnaSreepathi are testing, this only happened to one single building (the smallest one) out of more than 500.

I can create a warning for now that stops the calculation and gives a specific error message when the RC-model goes crazy.

As for the geometry calculations, I think

[2018-10-03 01:48] gabriel-happle opened #1637 "Create warning when RC-model temperatures "pulsate" out of bounds"
Create a specific warning message when the RC-model breaks down.
See also #1633

[2018-10-03 08:42] #670 closed

[2018-10-03 08:46] JIMENOFONSECA commented on #404
Closing as we are moving out of ArcGIS soon

[2018-10-03 08:46] #404 closed

[2018-10-03 08:49] JIMENOFONSECA commented on #1636
@daren-thomas could you write what the problem is briefly and who needs it? It will help me to prioritise it.

[2018-10-03 09:11] JIMENOFONSECA commented on #1239
@daren-thomas is Jack around or would this fit in your domain now?

[2018-10-03 09:12] JIMENOFONSECA commented on #1327
@Khayatian I wonder if you have any updates on this. It would be great if you can help us to clean the issues that exist.

[2018-10-03 09:13] JIMENOFONSECA commented on #1076
@belloj88 Could you give us an update of this issue?

[2018-10-03 09:13] #1606 closed

[2018-10-03 09:14] #1444 closed

[2018-10-03 09:15] JIMENOFONSECA commented on #1243
@BhargavaKrishnaSreepathi or @shanshanhsieh I think this fits your work?

[2018-10-03 09:16] #1609 closed

[2018-10-03 09:18] JIMENOFONSECA commented on #1559
done

[2018-10-03 09:18] #1559 closed

[2018-10-03 09:27] #1471 closed

[2018-10-03 09:30] JIMENOFONSECA commented on #1628
@daren-thomas I suggest to create an exception so the program stops if this is the case.

[2018-10-03 09:31] #1458 closed

[2018-10-03 09:32] JIMENOFONSECA commented on #1557
@daren-thomas is this still an issue? I found the problem was the terrain

[2018-10-03 09:34] JIMENOFONSECA commented on #267
@gabriel-happle it has been a year. I suggest we close the issue if there is no strategy and things work across the full stack of tools.

[2018-10-03 09:35] daren-thomas opened #1639 "The disconnected script (decentralized?) is only defined for regions "CH" and "SIN""
This is evident in the following code:

[code]

The issue here is the hard-coding of the regions. The code should not be hard-coded to specific regions as those can be defined by the user. E.g. region "custom". And the tool should be usable in other regions too. Also, this assumes the network can only be a heating network for region=CH. Is that a valid assumption?

[2018-10-03 09:36] JIMENOFONSECA commented on #753
@daren-thomas do you think we can close this issue now?

[2018-10-03 09:39] JIMENOFONSECA commented on #1595
@gabriel-happle or @shizhongming just add a warning to the documentation in the part about running the new project tool.

[2018-10-03 09:42] JIMENOFONSECA commented on #729
fixed with the region variable in the config

[2018-10-03 09:42] #729 closed

[2018-10-03 09:45] JIMENOFONSECA commented on #1457
@gabriel-happle this is an epic please write it down as an user story and the user persona

[2018-10-03 09:46] JIMENOFONSECA commented on #1552
@BhargavaKrishnaSreepathi uhoh. any solution to this?

[2018-10-03 09:48] JIMENOFONSECA commented on #52
There is an issue about the interface addressing this

[2018-10-03 09:48] #52 closed

[2018-10-03 09:48] #1088 closed

[2018-10-03 09:49] JIMENOFONSECA commented on #692
no needed anymore

[2018-10-03 09:49] #692 closed

[2018-10-03 09:50] JIMENOFONSECA commented on #1247
@daren-thomas yes this is important any chance we can added it?

[2018-10-03 09:54] JIMENOFONSECA commented on #1092
@daren-thomas how far are we of creating an .exe file that does all the magic including downloading the repository and activating the development version? everything I mean

[2018-10-03 09:57] JIMENOFONSECA commented on #33
@gabriel-happle I will put the brakes on this and will not consider it for the time being.

[2018-10-03 09:57] #33 closed

[2018-10-03 10:03] JIMENOFONSECA commented on #1600
@BhargavaKrishnaSreepathi Could you translate this into a list of issues? It would be good to integrate whoever is picking up on thanhhu's work

[2018-10-03 10:16] JIMENOFONSECA opened #1640 "As a practitioner I want to visualize 3D geometry so I can better analyse the outputs of the simulation"
I believe our 2D mapping should be expanded to the use of Unity or related game engine, that help us to Visualize and interact with 3D geometry quickly.

The guys at FCL did something quite cool in this direction. I think we could think on implementing something similar.

(an example of the Unity 3D work): https://we.tl/lDMKOn3hiK

[2018-10-03 10:18] JIMENOFONSECA opened #1641 "As a practitioner I want to upload my own geometry and attributes so I can analyze my own urban scenarios"
The idea is to create basic parsers so users can upload their data into CEA as fast as possible

From the dashboard it should be relatively easy to import:

CAD and excel into shapefiles we need.
Rhino and excel into shapefiles we need.

[2018-10-03 10:19] JIMENOFONSECA opened #1642 "As a practitioner I want access to GIS data so I can run CEA immediately"
The idea is that we can gather GIS data from online services such as Open Street Maps or Mapbox (https://www.mapbox.com/).

The data can be:
DISTRICT
GEOMETRY
TERRAIN
STREETS
OCCUPANCY

The service can be enabled through a new version of the tool "Create New Project".

This could be the first step to do when launching CEA.

[2018-10-03 10:21] JIMENOFONSECA opened #1643 "As a researcher I want to connect to cloud services so I can speed up my calculations"
The idea is that CEA allows me to connect to a cloud service to run simulations.

Two services can be rolled-out at first:

Euler (it helps ETH researchers).
M. Azure (it helps ETH researchers and non-ETH researchers). Fazel for instance is mounting CEA in M. Azure for deep learning.
This behavior could be triggered from the dashboard / and the administrator console.

[2018-10-03 10:22] jimenofonseca opened #1644 "As a researcher I have a profile in CEA storing my passwords and preferences so I can let CEA access to Cloud Services"
The template offers the option of creating a profile for users. I imagine each one of us being able to create a profile of CEA user.

It then will store our credentials and preferences regarding where to store config files, where to store CEA projects and also to which apps we connect.

In regard to apps. one app could be Euler - ETH which basically sets automatically the connection of CEA to the

[2018-10-03 12:45] daren-thomas opened #1645 "As a Contributor, I'd like to find a list of the Roles we can use for issues"
This list should be part of the Documentation on RTD, either part of the [Contributing](https://city-energy-analyst.readthedocs.io/en/latest/how-to-add-a-new-script-to-the-cea.html) section or a separate section.

[2018-10-03 12:47] #193 closed

[2018-10-04 04:31] shanshanhsieh opened #1646 "As a researcher, I'd like to know how to design the configurations of thermal networks"
configuration include:
- placement of plants/technologies
- sizing of plants/technologies
- network routes/layouts
- operation of technologies
- control strategies of technologies

[2018-10-04 04:45] BhargavaKrishnaSreepathi commented on #1552
fixed it in the branch #1541, no longer an issue

[2018-10-04 04:45] #1552 closed

[2018-10-04 04:49] BhargavaKrishnaSreepathi commented on #1535
Added in #1541

[2018-10-04 04:49] #1535 closed

[2018-10-04 06:28] gabriel-happle commented on #1319
can this be closed @daren-thomas ?

[2018-10-04 06:33] gabriel-happle commented on #1182
my PR #1188 was deleted without merging. @daren-thomas should I close this? Or can I assign you?

[2018-10-04 06:35] gabriel-happle commented on #1053
@shanshanhsieh and @martin-mosteiro is this something that is desired by anyone? Or should I close it?

[2018-10-04 06:37] gabriel-happle commented on #515
@JIMENOFONSECA do you think this is still desired? Or can I close it for now?

[2018-10-04 06:38] gabriel-happle commented on #292
@shanshanhsieh this can be closed, right?

[2018-10-04 06:40] gabriel-happle commented on #90
@JIMENOFONSECA I'm closing this as author on behalf of @shizhongming.
I believe this is solved with all the nice visualizations CEA can create now.

[2018-10-04 06:40] #90 closed

[2018-10-04 06:42] gabriel-happle commented on #1645
I'm also wondering the same.

[2018-10-04 06:45] gabriel-happle commented on #1595
@shizhongming can you take care of this? First I think we need to create some terrain files for testing. I.e., some files that have only a single or a few `0` elevation values.

[2018-10-04 06:54] gabriel-happle commented on #1457
@JIMENOFONSECA, @shanshanhsieh, @BhargavaKrishnaSreepathi the lead on this epic is up for grabs. You, as the researchers using multi-objective optimization or the most affected developers.
Of course, I can support with my expertise in LCA.

[2018-10-04 07:07] gabriel-happle opened #1647 "As a practicioner, I want to quickly know if my input files are valid, so that I can fix invalid ones"
CEA often breaks down with cryptic error messages that are hard to fix.
I feel like a lot of trouble could be avoided by checking the input files before running computationally expensive calculations.

This epic contains a collection of issues connected to that.

[2018-10-04 07:15] martin-mosteiro commented on #1053
No need for this technology from my side

[2018-10-04 07:17] martin-mosteiro commented on #89
@BhargavaKrishnaSreepathi @shanshanhsieh Any updates on this? I don't think I'll need this after all.

[2018-10-04 07:17] gabriel-happle commented on #34
@shizhongming is it OK if I unassigned myself from this issue? Should we close it for now?

[2018-10-04 07:28] gabriel-happle commented on #751
@BhargavaKrishnaSreepathi I'm unassigning myself. OK?

[2018-10-04 07:47] gabriel-happle commented on #745
@BhargavaKrishnaSreepathi I'm unassigning myself from this issue, OK?
For now we will just have to assume that PV and BIPV does not alter the thermal properties of the buildings.

[2018-10-04 07:51] gabriel-happle commented on #1103
Who needs this urgently @amraladdin?
It's not related to my research.

[2018-10-04 08:25] gabriel-happle opened #1648 "As a practicioner I want a validated demand calculation so that I can trust the results"

[2018-10-04 08:27] daren-thomas commented on #605
also, maybe using pyinstaller instead of the current conda solution could be used!

[2018-10-04 08:28] gabriel-happle commented on #445
closing this, because the Epic #193 was closed.

[2018-10-04 08:28] #445 closed

[2018-10-04 08:31] #1610 closed

[2018-10-04 08:34] #1573 closed

[2018-10-04 09:11] sabinepython opened #1649 "Data Helper tool outputs internal_loads.dbf with only zeros + zero demand"
I have a case study in Zurich with 10 buildings.
Data Helper tool works fine, but when I take a closer look to the internal_loads input I notice that all the elements were set to 0. I think this is also the reason why I get demand files also filled with 0.
Does this make sense?
Any idea on where the error is generated?

[2018-10-04 09:37] JIMENOFONSECA commented on #1307
@shizhongming @shanshanhsieh @martin-mosteiro @BhargavaKrishnaSreepathi @Khayatian @belloj88 @roglen @ongbolie @JIMENOFONSECA

[2018-10-04 09:55] sabinepython commented on #1649
This is the console message:

C:\Users\iA\Anaconda2\envs\cea2\python.exe C:/Users/iA/Documents/GitHub/CityEnergyAnalyst/cea/demand/demand_main.py
C:\Users\iA\Anaconda2\envs\cea2\lib\site-packages\pysal\__init__.py:65: VisibleDeprecationWarning: PySAL's API will be changed on 2018-12-31. The last release made with this API is version 1.14.4. A preview of the next API version is provided in the `pys

[2018-10-04 10:04] JIMENOFONSECA commented on #1540
we can close this as it is necessary that the variables are independent in each script

[2018-10-04 10:04] #1540 closed

[2018-10-04 10:06] JIMENOFONSECA opened #1650 "update documentation with new naming convention"

[2018-10-04 10:11] #1314 closed

[2018-10-04 10:11] #1315 closed

[2018-10-04 10:11] #1309 closed

[2018-10-04 10:11] #1597 closed

[2018-10-04 10:11] #1308 closed

[2018-10-04 10:11] #1313 closed

[2018-10-04 10:11] #1147 closed

[2018-10-04 10:11] #1311 closed

[2018-10-04 10:11] #1312 closed

[2018-10-04 10:12] #1144 closed

[2018-10-04 10:12] #1141 closed

[2018-10-04 10:12] #1146 closed

[2018-10-04 10:13] #1310 closed

[2018-10-04 10:13] #1404 closed

[2018-10-04 10:13] #1263 closed

[2018-10-04 10:13] #1351 closed

[2018-10-04 10:14] #1238 closed

[2018-10-04 10:18] JIMENOFONSECA commented on #1182
@gabriel-happle let's check again a new solution

[2018-10-04 10:22] #1103 closed, assigned to gabriel-happle

[2018-10-05 02:38] shanshanhsieh commented on #89
@martin-mosteiro i will not need this at the moment as well, also, with the splitting of OAU, RAU, SCU, we can implement different systems supplying space heating/cooling, and that's sufficient for my research.
therefore, i think this is a "nice to have"

[2018-10-05 02:45] #292 closed

[2018-10-05 02:47] #1053 closed

[2018-10-05 08:25] daren-thomas opened #1651 "As a Practitioner, I'd like to be able to create *.xslx files from *.dbf files"
The tool `dbf-to-excel` currently can only create *.xls files. Based on the name chosen for the parameter  `dbf:excel-file`, it should either create an xlsx or an xls file.

This was found by @gabriel-happle in PR #1629.

[2018-10-05 08:29] daren-thomas opened #1652 "As a Practitioner, I'd like to produce Excel files from DBF files with an index of my choice"
Currently, the `dbf-to-excel` tool adds an index column (as found in PR #1629 by @gabriel-happle) when creating an Excel file. It would be nice to be able to create the file with an arbitrary column as index (which would be used for creating the `DataFrame` from the dbf file), possibly defaulting to `Name` if present in the file - since this is a CEA tool, I think it's ok to assume our customary i

[2018-10-05 11:13] JIMENOFONSECA commented on #1436
I do not think so…I have still the cea-reference case blocked because of heavy files I wanted to upload. if you have a bit of time, I appreciate if you can erase it once and for all :-)

Kind regards,
Jimeno

_______________________

Dr. Jimeno A. Fonseca
Senior researcher & Project coordinator
Multi-scale energy systems for low-carbon cities
Singapore ETH-Centre

Product owner & Scrum master
City

[2018-10-08 03:19] gabriel-happle commented on #1436
@JIMENOFONSECA I made a PR in the reference case repository.
Closing this issue here now.

[2018-10-08 03:19] #1436 closed

[2018-10-08 07:51] shanshanhsieh opened #1653 "As a practioner, i would like a guide on how to estimate energy potentials from various solar technologies"
Write a guide on how to use the results from solar technology simulations:
1. How to pre-filter the combination of technologies to simulate? (e.g. PV1+FP or PV2+ET...)
2. What are the thresholds for? and how to set up a threshold?
3. Estimated simulation time for the user's reference

[2018-10-08 11:07] martin-mosteiro opened #1654 "Uncertainty distributions of setback temperatures are incorrect"
In the uncertainty distribution database, the setback temperatures of the heating and cooling systems have the following values:
- **Tcs_setb_C:** mu = 28, min = 22, max = 28
- **Ths_setb_C:** mu = 12, min = 12, max = 24

That is, for both variables the average is equal to one of the bounds. I tried to check these values in the reference provided in the database, but both are referenced to the sam

[2018-10-09 10:25] martin-mosteiro opened #1656 "As a researcher, I want to be able to run add a new region to the CEA"
Based on discussion with @daren-thomas, it appears that 'CH' and 'SIN' are hard-coded as the only possible choices in the radiation script.

Updating databases by researcher.

But also remove hardcoded checks for region.

[2018-10-09 10:56] martin-mosteiro opened #1657 "As a researcher, I want to calibrate my model using genetic algorithms"
The current calibration scripts in CEA are very time consuming. In order to do a quick(er) and simple(r) calibration, @JIMENOFONSECA suggested using a genetic algorithm. So I will be working on this with @BhargavaKrishnaSreepathi's coaching.

[2018-10-10 10:11] JIMENOFONSECA commented on #1657
Good idea, let’s however check some pervious work in the field. I have seen some research on urban simulation and calibration using optimization.

The important thing of using GA to keep in mind is that when eliminating individuals, make sure that they are created following the minimum, maximum posible variable for each variable.

I guess you can even create a strategy to calibrate multiple buildi

[2018-10-13 09:34] daren-thomas opened #1658 "Energy Supply plot does not handle the buildings parameter"
While refactoring the plots code, I noticed that some of the plots (e.g. Energy Supply and Energy Demand) will write out plots specifict to a building (i.e. produce a file `basic/demand/Building_B01_energy_supply`) but that plot is exactly the same as the district version except for the title.

[2018-10-13 09:39] daren-thomas opened #1659 "The plots modules do not have authorship information"
e.g. `cea.plots.demand.load_duration_curve`

The top of our modules are supposed to follow the `cea.examples.template` example and have `__author__` fields etc. As well as a module-level docstring explaining the code.

I propose we collect a list of such modules and allow the core team to claim their own plots.

[2018-10-17 10:38] daren-thomas opened #1660 "What should we do with test_sensible_loads.py?"
The code in ``cea/tests/test_sensible_loads.py`` is commented out. Therefore, these tests are not being run at all.

- are they still relevant?
  - yes: uncomment and perhaps fix them
  - no: remove the file

[2018-10-17 10:38] daren-thomas commented on #1660
@gabriel-happle it seems you commented out the code. Can we assign this issue to you? (also, using tripple quotes to comment stuff is semantically incorrect, use ``#``. but also, commenting out blocks of code just leaves future developers, possibly yourself, wondering whether that code can be safely removed or not)

[2018-10-17 16:21] daren-thomas commented on #1317
PR #1661 still only has the "buildings" parameter - next sprint will add the others, per category added to the new plotting system.

[2018-10-17 18:04] sabinepython commented on #1649
Yes, sorry, the issue has been solved outside GitHub. The problem was that the occupancy files contained NaN instead of 0. But we had to open it in NotePad to see it, since excel/libre office would show the required 0.00000

[2018-10-18 09:56] gabriel-happle commented on #1660
@daren-thomas I deactivated this code because I changed the input parameters to the function it is supposed to test.
If it's OK for you I would just remove it.

[2018-10-19 07:14] daren-thomas commented on #1660
Either change the function or remove it please.

[2018-10-19 07:16] #1649 closed

[2018-10-22 13:45] daren-thomas commented on #1307
@JIMENOFONSECA let's use this issue as the minimal set of plots to provide for dashboard editor feature.

[2018-10-22 14:07] daren-thomas opened #1662 "As a Researcher, I want to be able to format the plot for presentations and papers"
This could include exporting as SVG / EPS or some other method that allows zooming in and cropping the plot in a high resolution.

Maybe just let users do it in plotly? (chart editor)

[2018-10-22 14:13] daren-thomas commented on #1307
Default plots to show for new dashboard:

- demand/load-curve-suppply
- supply_system/map_chart.py

[2018-11-01 09:06] gabriel-happle commented on #1660
OK. I will remove it then and create a PR.

[2018-11-01 09:43] martin-mosteiro commented on #1657
TODO: look at error domain falsification as potential alternative to Bayesian inference

[2018-11-01 09:49] daren-thomas commented on #1662
We decide to just let the user do it in plotly.

[2018-11-01 09:49] #1662 closed

[2018-11-01 09:52] #1654 closed

[2018-11-01 09:52] martin-mosteiro commented on #1654
Fixed by PR #1655

[2018-11-02 09:38] daren-thomas opened #1664 "As a Researcher, I'd like to know why there are different `network-type` parameters"
This is the list of parameters currently used that are called `network-type`:

- thermal-network:network-type
- plots:network-type
- plots-optimization:network-type
- plots-supply-system:network-type
- plots-scenario-comparisons:network-type
- network-layout:network-type
- multi-criteria:network-type

Why do we need 7 different ones? What are the differences? When to use which one?

[2018-11-02 10:18] daren-thomas commented on #1656
@martin-mosteiro not quite sure... essentially, you could start by checking each use of `region` in the code looking for `if` statements and similar constructs... first glance:

- `chiller_absorption.py` might need some checking
- `decentralized_building_main.py` definitely needs checking (but could be fixed maybe by checking another parameters, like... `district-cooling-network`? or `network-type

[2018-11-02 12:43] daren-thomas opened #1665 "As a Contributor I want to know how to create a pull request"
The Step 6 of the [how-to-contribute document](https://city-energy-analyst.readthedocs.io/en/latest/how-to-contribute.html) links to a document "how-to-create-a-pull-request" that doesn't exist or doesn't contain this information.

[2018-11-02 12:58] daren-thomas opened #1666 "As a Contributor I want to know how to document the CEA"
In reference to the document `how-to-document-cea.rst` - this needs some more fleshing out. It would be good to mention some of the tools:

- `docs/make.bat`
- `docs/make-api-doc.bat` (and when to use it)
- `docs/make-warnings.bat` (break on each warning, makes debugging documentation errors easier)

[2018-11-02 15:51] daren-thomas opened #1668 "Buggy control flow in calc_HEX_heating (substation model)"
The variable `Flag` (FIXME: rename this to PEP 8 and convey variable meaning in name) is set to `False` after the first iteration of the `while` loop. This begs the question, is this supposed to be a simple `if`? Or is the control flow broken here?

[code]

[2018-11-05 14:12] daren-thomas commented on #1660
@gabriel-happle nice job! closed!

[2018-11-05 14:12] #1660 closed

[2018-11-06 09:09] Jack-Hawthorne commented on #1239
@JIMENOFONSECA i will have a look at this in the next weeks, apologies for the lack of communication.

[2018-11-07 07:50] shanshanhsieh commented on #1664
In terms of input argument, they are all the same: `DC` or `DH`.
Reasons:
1. The decisions (on network-type) made in these tools are not connected. For example, you can simulate a DC but plot a DH, although, this is unlikely to happen if you are using the tools in a streamlined process (first simulate DC and then plot DC).
2. At the time we made the ArcGIS interface, it was the easiest way to incl

[2018-11-07 13:05] daren-thomas commented on #1664
@shanshanhsieh - well, providing the input in all the tools is as easy as listing it in the parameters part of the tool in the scripts.yml file.

we could promote it to the `[general]` section, since it seems to be a statement about the whole project as opposed to a specific script. what do you think?

[2018-11-07 13:08] daren-thomas commented on #1668
actually, it's not that tough. @BhargavaKrishnaSreepathi were able to work it out in a pair-programming session. basically, the `Flag` variable here has the meaning "first run through the loop", which can totally be replaced by moving that to outside of the loop - except, it doesn't even make sense there, since `eff` is right before the loop and has a known state. The PR #1622 contains the refacto

[2018-11-08 03:12] shanshanhsieh commented on #1664
yes, it is project specific, but we haven't consider the case with both DC and DH yet
if we promote it to general, we should allow the input to be a list:
case study 1, only DC: `network-type=DC`  -> call all the scripts with the argument `DC`
case study 2, only DH: `network-type=DH`  -> call all the scripts with the argument `DH`
case study 3, both DC & DH: `netowrk-type=DC DH` -> first call all

[2018-11-08 03:51] shanshanhsieh opened #1670 "As a contributer, i want to refactor substation_matrix.py script (replica of substation.py)"
the `substation_matrix.py` is only used by the thermal network simulation routine, part of the functions are replicas of `sunstation_matrix.py`, which is used by the system optimization routine.
an update is required after refactoring `substation_matrix.py` in #1622

[2018-11-08 06:58] JIMENOFONSECA commented on #1628
This will be solved in PR #1671

[2018-11-08 07:05] JIMENOFONSECA commented on #1557
@daren-thomas ??

[2018-11-08 07:05] JIMENOFONSECA commented on #753
@daren-thomas ??

[2018-11-08 14:02] daren-thomas commented on #1664
@shanshanhsieh I'm missing a bit of knowledge here, maybe you can help me out: can the zug reference-case also be run with network-type=DC? will that calculate anything meaningful? how to interpret the results?

[2018-11-08 14:04] daren-thomas commented on #1557
@JIMENOFONSECA yes, i think this is still an issue: the script should test for invalid input and provide a helpful error message.

[2018-11-08 15:32] daren-thomas commented on #753
@JIMENOFONSECA no. I don't think so. The issue is still open!

PR #1675 addresses a lot of the low hanging fruit, but there are still some parts of the optimization code and the neural network code that rely on this module.

[2018-11-09 02:29] BhargavaKrishnaSreepathi commented on #1664
Yep, currently multi-criteria is set only for DC cases and not DH cases. This needs to be added into CEA.

[2018-11-09 03:05] JIMENOFONSECA commented on #1619
@martin-mosteiro this issue is solved right?

[2018-11-09 03:20] #1111 closed

[2018-11-09 03:34] JIMENOFONSECA commented on #1623
I made this a bigger issue which entails moving scripts of CEA we will not support anymore as of now. Still we will keep them for the next year at least in our repository, so other researchers can access them.

[2018-11-09 03:54] JIMENOFONSECA commented on #643
@martin-mosteiro @amraladdin this feature will not be anymore supported in CEA so we will not create a tutorial. Check PR #1677

[2018-11-09 03:54] #643 closed

[2018-11-09 03:59] JIMENOFONSECA commented on #89
closing. we will not do this

[2018-11-09 03:59] #89 closed

[2018-11-09 07:59] BhargavaKrishnaSreepathi commented on #1668
fixed in PR #1678

[2018-11-09 08:04] BhargavaKrishnaSreepathi opened #1679 "As a contributor I would like to include varying electrical prices in place a single value"
In place of a fixed electrical pricing, adding in the varying electrical prices to reflect the Electricity costs. This also needs to have a provision when only data for a single value is available. Thus the config file needs to include a variable to do detailed electricity costs in place of a single one.

[2018-11-09 09:11] #1557 closed

[2018-11-09 14:00] daren-thomas commented on #1668
PR #1678 has not been accepted yet.

[2018-11-13 09:53] martin-mosteiro commented on #1619
Yep!

[2018-11-13 09:53] #1619 closed

[2018-11-13 11:44] martin-mosteiro commented on #1656
Thanks for the answers, @daren-thomas. `lca_calculations.py` is not mine, it's @BhargavaKrishnaSreepathi's code. Agree that the `if` statement is unnecessary. I created a new branch and started taking care of the low hanging fruit.

[2018-11-13 13:51] martin-mosteiro opened #1681 "As a user, I would like the time zone to be determined from the weather file"
Currently, the time zone is specified by a string (and is thus hard-coded) - but this information is available in the epw file! This could be read directly from the weather file in order to be able to run case studies in new locations.

[2018-11-13 13:52] martin-mosteiro commented on #1681
Discovered as part of the "de-hard-codification" efforts in issue #1656

[2018-11-13 14:00] martin-mosteiro commented on #1681
Also, the local times for Singapore and Zurich are defined inconsistently. For example:
- Zurich is `'2005-01-01 00:00:00-02:00'`
- Singapore is `'2005-01-01 00:00:00+08:00'`

This means that the UTC time for each of these in `solar_equations.py` get converted to:
- Zurich: `'2005-01-01 02:00:00+00:00'`
- Singapore: `'2004-12-31 16:00:00+00:00'`

The second one is correct (at midnight in Singapore

[2018-11-13 14:03] martin-mosteiro commented on #1681
(Plus Switzerland is UTC+1 in winter, not UTC+2)

[2018-11-13 14:34] martin-mosteiro commented on #1681
Even better: the time zone can be obtained using `timezonefinder.TimezoneFinder` as done in `radiation_main.py`!

[2018-11-13 15:51] martin-mosteiro commented on #1681
This issue is solved by PR #1682.

[2018-11-13 15:52] martin-mosteiro commented on #1656
This issue is solved by PR #1682.

[2018-11-14 05:37] JIMENOFONSECA commented on #1679
@BhargavaKrishnaSreepathi I agree with daren that it could be an schedule. However it depends on how exact you want it to do:
1. it is just ask the user off peak and on-peak tariffs. so just two variables.
2. it consist into creating a schedule (but this has to be done manually every hour of a day).
3. you connect to a certain webservices providing market prices.
4. you define an equation that mod

[2018-11-14 05:37] #1623 closed

[2018-11-14 05:37] #1511 closed

[2018-11-14 05:37] #1635 closed

[2018-11-14 05:38] #1607 closed

[2018-11-14 05:38] #1645 closed

[2018-11-14 05:38] #1668 closed

[2018-11-14 06:46] BhargavaKrishnaSreepathi commented on #1679
My current necessity is to use the electricity prices for every given hour as available in Singapore market. So the way I employed is create an excel sheet with the hourly cost details for the entire year and added to our database. I also added a `config flag` for `detailed-electrical-pricing`, which uses the database added. If the flag is false, it creates an array with electricity prices, by rep

[2018-11-14 07:51] JIMENOFONSECA opened #1683 "As a practitioner, I would like to know about the new release of CEA, so I can use the latest version"
I have a list of people who donwloaded CEA. I planned to send an e-mail stating what is new and why they should download the new version.

[2018-11-14 07:51] JIMENOFONSECA commented on #1683
This is blocked by #1680 and #1582

[2018-11-14 08:50] BhargavaKrishnaSreepathi opened #1684 "As a user, I would like to add in test cases for supply_system_simulation and optimization scripts"
So, recent PRs broke few of these scripts and to make sure they work seamlessly, it is good to include them in jenkins tests. This way scripts can be tested effectively

[2018-11-14 08:58] daren-thomas commented on #1582
there is a planer version in the making... it is not quite the same as what we used for the executive course - it's a setup.exe style installation. now... i have ideas on how to make this easier to do, but those would be a sprint of their own. i'll send you an installer today. i'm just finishing up with the testing (in a virtual machine, just to be sure it really works and installs) - that's all t

[2018-11-14 09:25] BhargavaKrishnaSreepathi opened #1685 "As a contributor, I want to add in part load calculations in decentralized heating similar to decentralized cooling case"
Decentralized Heating currently takes into account the combined load of AHU, ARU and SHU. The script needs to include part load combinations such as AHU only, ARU only, SHU only, AHU+ARU, ARU+SHU, AHU+SHU.

This has been implemented for cooling case, need to be extended for heating case

[2018-11-14 09:27] BhargavaKrishnaSreepathi opened #1686 "As a contributor, I would like to have supply-system-simulation for heating case as is being done for cooling case"
Currently few parts of the `supply-system-simulation.py` script only works for cooling case. This needs to be extended for heating case too.

[2018-11-14 09:33] BhargavaKrishnaSreepathi opened #1687 "As a researcher, I want to know when is the optimization converged for various case studies"
As the title says, optimization using genetic algorithm need to be tuned to find the ideal combination of number of generations and individuals. Also, these are to be tested on multiple case studies and a thumb rule be developed for when dealing with similar amount of buildings.

There also needs to be tradeoff between the accuracy of the solutions and the amount of computational time that goes in

[2018-11-14 09:57] JIMENOFONSECA opened #1688 "CREDITS: As a contributor I would like / would not like to be acknowledged in the order of my contributions"
@architecture-building-systems/cea-core-developers
@architecture-building-systems/cea-developers

Daren raised this issue in a recent conversation.

At the moment we include our names in the Credits.md file (which is used to cite CEA) according to the amount of each others Additions to CEA (check insights/Contributors/Filtercontributors/Additions to see the order).

This metric so far has offered

[2018-11-14 09:58] JIMENOFONSECA commented on #1688
From my side, I go for No. 1 or No. 4., No. 3 could be a recipe for stabbing someones morale every other review :-).

[2018-11-14 14:30] daren-thomas commented on #1683
merged #1680 and created release.

[2018-11-15 08:43] amraladdin commented on #1688
Since my contribution to coding has been minimal, I will leave this decision to the development team.

One thing that I find is not measurable using the ->insights/Contributors/Filtercontributors/Additions, is the time spent in teaching, testing, writing and rewriting the manuals and tutorials. This perhaps can be discussed in during the meeting today.

[2018-11-15 08:48] shizhongming commented on #1617
@daren-thomas Everything works well. All good.

[2018-11-15 08:56] shizhongming commented on #75
Sorry, I have just seen this issue. In the grasshopper tool, can already provide multi-zone use assignment on a floor-basis. However, we decided to not to have the multi-zone a long time ago, right? So, we just close this issue...

[2018-11-15 08:56] #75 closed

[2018-11-15 08:57] amraladdin commented on #1613
We discussed that there are no foreseeable executive courses in the near future. I will close this issue and open a new one when the discussion is back on the table.

[2018-11-15 08:57] #1613 closed

[2018-11-15 09:08] #1617 closed

[2018-11-15 09:17] #1625 closed

[2018-11-15 09:17] BhargavaKrishnaSreepathi commented on #1688
So, going by status quo, which decides the author order based on the amount of additions to CEA, then the CREDITS.MD need to be changed to include Paul Neitzel, as the 3rd author of CEA (3rd highest lines added to the code).

I personally find a flaw with the metrics of additions/deletions/commits individually. They are as follows:
1. additions: incentivises people to add multiple lines of code. S

[2018-11-15 09:18] #530 closed

[2018-11-15 09:18] #1628 closed

[2018-11-15 09:20] #1621 closed

[2018-11-15 09:31] JIMENOFONSECA commented on #1683
Please include the video to CEA in the newletter

[2018-11-15 09:51] BhargavaKrishnaSreepathi opened #1689 "As a researcher I want to develop a rule of thumb for the optimization parameters"
Optimization parameters like number of generations, individuals, hall of fame size, euclidean distance, convergence matrix need to be decided for different scenarios

1. Small scale scenarios (~10 buildings)
2. Medium scale scenarios (~20-30 buildings)
3. Large scale scenarios (~100 buildings)

[2018-11-15 10:17] daren-thomas commented on #1688
One thing that I hadn't thought about when raising this issue, that Jimeno just mentioned is keeping historical authors in the credits for a milestone... They're still in the file, so I think for each milestone, it should just list the contribution for that specific milestone.

The metric, as @amraladdin points out, does not track a lot of "soft" work being done by many in our team that does not d

[2018-11-15 15:03] Jack-Hawthorne commented on #1069
hey @daren-thomas  can the input locator tracer be used to automate this?  i remember discussing with you and seeing some really nice flow diagrams you were working on.

[2018-11-15 16:32] martin-mosteiro commented on #1688
I would vote for option 2,  or possibly option 2 with priority given to "permanent" contributors (basically, the list as it appears [on our website](https://cityenergyanalyst.com/community/)). I'm also okay with option 4.

[2018-11-16 05:58] JIMENOFONSECA commented on #1683
Hi all,

This is to announce that the first Newsletter of CEA was sent to 129 unique users of CEA

https://mailchi.mp/b3814dfddd65/announcing-a-new-cea-and-more
Jimeno

[2018-11-16 05:58] #1683 closed

[2018-11-16 13:33] martin-mosteiro opened #1691 "As a user, I would like to use the DBF to Excel tool on ArcScene to create new Excel files"
The "Excel to DBF" tool on ArcScene does not accept a non-existing file as a target path for the Excel file to be created. So unless there already is an Excel file in the target folder, you cannot use the tool.

![screen shot 2018-11-16 at 14 30 18](https://user-images.githubusercontent.com/18548065/48624252-3ead6d80-e9ac-11e8-9a4d-4b460488296c.png)
(note: '*.xlsx' does not work, either)

The tool

[2018-11-16 14:08] #1551 closed

[2018-11-18 12:44] kerembeygo opened #1693 "CityEnergyAnalyst v2.9.0 run time error"

[2018-11-18 12:46] kerembeygo opened #1694 "CityEnergyAnalyst v2.9.0 run time error"
![cea error 1](https://user-images.githubusercontent.com/29708612/48672702-4c005e80-eb4a-11e8-95fd-0f619f4c2c9e.jpg)
![cea error 2](https://user-images.githubusercontent.com/29708612/48672703-4c98f500-eb4a-11e8-9914-78b532849522.jpg)
![cea error 3](https://user-images.githubusercontent.com/29708612/48672704-4c98f500-eb4a-11e8-885c-c735d9133ea1.jpg)
![folder connections toolboxes](https://user-imag

[2018-11-18 13:04] #1693 closed

[2018-11-19 10:04] martin-mosteiro opened #1695 "As a developer, I would like `general:region` to be a RegionParameter so I can create new regions."
The general:region is defined as a ChoiceParameter, but we should introduce a "RegionParameter" class that is like a ChoiceParameter, but sets the list of available choices to the folders in the cea databases folder + "custom".

Let's add a "RegionParameter" type to the CEA so we can allow the creation of new regions.

[2018-11-21 14:36] daren-thomas commented on #1694
@kerembeygo you're on the right version. it seems you are trying to run the demand script for a scenario that doesn't exist?

[2018-11-22 18:13] kerembeygo commented on #1694
Get started with CEA -> Download a test case study -> reference-case-WTP.zip
My folder connections are as below
![fc](https://user-images.githubusercontent.com/29708612/48917597-a0804280-ee98-11e8-9875-61c040f8a7ca.jpg)
I ran each scenario for WTP.
![run](https://user-images.githubusercontent.com/29708612/48917630-dc1b0c80-ee98-11e8-8bec-0a4673639bcc.jpg)
![1](https://user-images.githubusercontent

[2018-11-23 02:30] JIMENOFONSECA commented on #816
This is blocked by a publication submitted to IBIPSA 2019. should it be accepted (January 2019) we publish the tool

[2018-11-23 10:30] daren-thomas commented on #1694
@kerembeygo do you have DAYSIM installed? You can download and install it here: https://daysim.ning.com/page/download

[2018-11-23 11:16] daren-thomas commented on #1069
@Jack-Hawthorne sure. come to my office to learn how to do this.

[2018-11-23 12:00] kerembeygo commented on #1694
I had it in Urban Modeling Interface. I installed 4.0 release.
![1](https://user-images.githubusercontent.com/29708612/48942216-94938f80-ef2f-11e8-8e1e-7bcb66e2ff6e.jpg)
Fiona Warning! for GDAL and PROJ data files
![2](https://user-images.githubusercontent.com/29708612/48942275-d91f2b00-ef2f-11e8-90a5-dcb9ceda8f7a.jpg)
![3](https://user-images.githubusercontent.com/29708612/48942285-eb00ce00-ef2f-

[2018-11-25 12:46] #1666 closed

[2018-11-26 13:41] daren-thomas commented on #1694
@gabriel-happle do you have any idea what is wrong here? (`KeyError: Qcre_Wm2` seems to be the actual error for the demand script.

[2018-11-27 03:04] JIMENOFONSECA commented on #1688
Alright I see a preference for options 2 and 4. In addition we can think on Shanshan's suggestion towards the end of the project. It sounds great. The result could be:

**How to Cite CEA**

The Developers of CEA. The City Energy Analyst 2.9. Zenodo. http://doi.org/10.5281/zenodo.1xxxxxxx (2018)

CREDITS (in alphabetical order)

**The Developers of CEA**

Development team:

Amr Elesawy
Jimeno A. Fo

[2018-11-27 03:41] gabriel-happle commented on #1694
Hi @daren-thomas and @kerembeygo, I can reproduce this error with the current master.
Trying to figure out what is causing it.

[2018-11-27 03:57] gabriel-happle commented on #1694
Hi @daren-thomas and @kerembeygo. The problem is caused by outdated case study files.
The solution is a simple as running the `data-helper` script again.
In the meantime I will update the case study files.

[2018-11-27 05:54] gabriel-happle opened #1698 "Update example files to run with CEA 2.9"
The .`zip` case study files in `CityEnergyAnalyst/cea/examples/` are outdated. Theses case studies will only run, if the `data-helper` script is executed first.
The aim of this issue is to pre-run and update the case studies
-  	reference-case-WTP.zip

(reference-case-open.zip is fine as is)

[2018-11-27 06:19] gabriel-happle commented on #1694
@daren-thomas PR #1699 should solve this. Please take a look. Thanks.

[2018-11-27 06:21] gabriel-happle commented on #1694
@kerembeygo please close this issue, if your problem is resolved. Thanks.

[2018-11-27 08:56] martin-mosteiro opened #1700 "As a user, I would like to model buildings with unoccupied spaces (e.g. basements)"
Since the executive course, the definition for the occupied area in CEA changed from Af (the conditioned area) to the gross floor area (GFA). This was necessary for Singapore since there are occupied unconditioned spaces. However, buildings in the European context also have unoccupied, unconditioned spaces – basements, for example. So right now CEA assumes that there are people in these spaces, wh

[2018-11-27 09:42] JIMENOFONSECA commented on #1700
Well, we moved to use GFA because it is more standard with the concept of end-use energy intensity. Which helps to cover more places worldwide.

However, I understand NFA is used for the 2000-Watt society and Minergie, which makes sense to a great extend.

Ideally we have both options. To me GFA just makes things easier to compare scenarios and several locations. and well, I believe we have more c

[2018-11-27 09:45] martin-mosteiro commented on #1700
I don't think we actually do, because our calculation of GFA is very rough: ground floor geometry * number of floors. So if you take any building that is not shaped like a box, the whole calculation is off (e.g., what happens with a building where the size of the floor plan decreases with increasing height? then we grossly overestimate the GFA).
I think having a parameter like this NFA allows us t

[2018-11-27 09:47] JIMENOFONSECA commented on #1700
good point. So maybe we make the plots able to give both parameters energy/GFA and energy/NFA?

Jimeno

On 27 Nov 2018, 5:45 PM +0800, Martín Mosteiro-Romero <notifications@github.com>, wrote:

I don't think we actually do, because our calculation of GFA is very rough: ground floor geometry * number of floors. So if you take any building that is not shaped like a box, the whole calculation is off

[2018-11-27 09:49] martin-mosteiro commented on #1700
Yeah, that could be a good solution

[2018-11-27 10:10] martin-mosteiro commented on #1700
Actually, rewriting all the plots would be quite a bit of additional work (because I would have to understand each of these scripts and so on) and it's not a priority for me. Perhaps it could be made into a separate issue for the future (labeled "Should have" and assigned to myself) @JIMENOFONSECA?

[2018-11-27 10:14] JIMENOFONSECA commented on #1700
Sure,

 Probably, can we can also rename the issue so it states what the problem is? NFA visualisation in Plot….

On 27 Nov 2018, 6:10 PM +0800, Martín Mosteiro-Romero <notifications@github.com>, wrote:

Actually, rewriting all the plots would be quite a bit of additional work (because I would have to understand each of these scripts and so on) and it's not a priority for me. Perhaps it could be m

[2018-11-27 10:16] martin-mosteiro opened #1701 "As a user, I would like to create plots that use NFA as the reference area"
CEA plots currently use gross floor area (GFA) as a reference floor area. This is because it is more in line with the concept of end-use energy intensity, which helps to cover more places worldwide. However, net floor area (NFA) is also important in the European context as well as in the 2000-Watt Society and Minergie. So ideally we would have both options, for example by adding a `reference-area`

[2018-11-27 10:17] martin-mosteiro commented on #1700
I think it's better to create a separate issue, since the issue I described here was a different one and much higher priority for me (and I've already fixed it and will create a PR soon).

[2018-11-27 10:31] shanshanhsieh commented on #1224
this issue was resolved in PR#1627 and merged

[2018-11-27 10:31] #1224 closed

[2018-11-27 12:38] martin-mosteiro commented on #1700
Also worth noting, SIA 2024 values for electricity demand are given by *net* floor area, so in theory when using these values the electrified floor area should actually be equal to the net floor area, not 0.9*GFA as currently done on CEA.

[2018-11-27 13:29] martin-mosteiro commented on #1700
Based on the above, I'm adding the parameter 'Es' back into the architecture.dbf file for case studies. I assume this might be a bit controversial :) But using an unreferenced general value of 0.9 for every building in the case study doesn't seem all that reasonable, either. This addition can easily be reverted if it were not approved, though.

[2018-11-27 13:36] martin-mosteiro commented on #1700
On the positive side, since I have updated the example files, this issue should also solve #1698

[2018-11-27 19:51] kerembeygo commented on #1694
Demand run for reference-case-open results a different error. "KeyError: u'B01'
![reference-case-open demand tool](https://user-images.githubusercontent.com/29708612/49107394-a9a55100-f296-11e8-896b-1c4de17cd414.jpg)
 "

[2018-11-28 07:55] gabriel-happle commented on #1694
Hi @kerembeygo, it's hard to know what is causing your errors. I just ran the reference-case-open successfully yesterday.
Could you document the steps of your simulation and maybe share your files?
The error says that there is no building 'B01' in your file `inputs\building-properties\supply_systems.dbf`.
Maybe you can open the file in ArcGIS and check the contents of the attribute table to see if

[2018-11-28 08:45] shizhongming commented on #1688
I vote for option 2 or 4.
I think we are not looking for a crediting strategy that is good forever...for the time being, everyone is sorta key to their own sections...so I think alphabetical order is good...or we can just use _the CEA developer_ , as the website is well-maintained for the moment..

[2018-11-28 12:44] kerembeygo commented on #1694
Hi @gabriel-happle , I downloaded reference cases from your website yesterday.
Demand Run
![demand run](https://user-images.githubusercontent.com/29708612/49150914-55927f00-f31f-11e8-8137-03a526dda700.jpg)
![demand1](https://user-images.githubusercontent.com/29708612/49150953-6cd16c80-f31f-11e8-927b-042a47e26066.jpg)
![demand2](https://user-images.githubusercontent.com/29708612/49150967-7b1f8880-f

[2018-11-28 13:17] kerembeygo commented on #1694
Demand run WTP
![demand wtp run](https://user-images.githubusercontent.com/29708612/49154189-dd30bb80-f328-11e8-8fee-a6838af63574.jpg)
![demand wtp 1](https://user-images.githubusercontent.com/29708612/49154207-e28e0600-f328-11e8-9291-95f4d007e044.jpg)
![demand wtp 2](https://user-images.githubusercontent.com/29708612/49154217-eb7ed780-f328-11e8-9447-6bd2598bc82d.jpg)
WTP is not updated yet I assu

[2018-11-28 21:56] martin-mosteiro opened #1703 "As a researcher, I would like there to be a unit test for the optimization scripts"
PR #1682 created issues for the optimization script, which I didn't notice since (a) I did not test the script manually, and (b) there are no unit tests for these scripts.

I wrote a script to take a first stab at the issue but will probably need to recruit @daren-thomas to convert my simple script into a full unit test as part of the dodo.

[2018-11-28 22:33] martin-mosteiro commented on #1703
The progress so far can be found on the branch **1703-unit-test-for-optimization**

[2018-11-29 02:39] gabriel-happle commented on #1694
@kerembeygo
1) the `reference-case-open` is supposed to be in region `CH`, the building properties were generated using the `CH` databases. If you execute the demand now for `SIN` some links in the databases will not work. Hence this Error. If you want to run this case study for `SIN`, you can simply execute the `data-helper` with region `SIN` first to create new building models.
Be aware, that yo

[2018-11-29 03:16] JIMENOFONSECA opened #1704 "Error during installation via command line: no module named arcpy"
During the ``cea install-toolbox`` step you get this error::

ImportError: no module named arcpy

[2018-11-29 03:16] JIMENOFONSECA commented on #1704
Check your home directory for a file called ``cea_arcgis.pth`` containing these three lines::

        C:\Program Files (x86)\ArcGIS\Desktop10.5\bin64
        C:\Program Files (x86)\ArcGIS\Desktop10.5\arcpy
        C:\Program Files (x86)\ArcGIS\Desktop10.5\Scripts

    Edit these folders to point to the appropriate ArcGIS folders as documented in the ArcGIS manuals."

[2018-11-29 03:16] #1704 closed

[2018-11-29 09:19] #1665 closed

[2018-11-29 09:51] JIMENOFONSECA opened #1705 "Enhancements"

[2018-11-29 09:52] #1657 closed

[2018-11-29 09:55] JIMENOFONSECA commented on #750
@BhargavaKrishnaSreepathi status? Clossing and making it won't have if not in the pipeline

[2018-11-29 09:55] #750 closed

[2018-11-29 09:57] JIMENOFONSECA commented on #438
for the time being, we will not implement this, but we will keep it open

[2018-11-29 09:58] #515 closed

[2018-11-29 09:59] #1500 closed

[2018-11-29 10:04] JIMENOFONSECA commented on #1282
Closing as we moved all validation to a separate repository

[2018-11-29 10:04] #1282 closed

[2018-11-29 10:05] JIMENOFONSECA commented on #1407
@Jack-Hawthorne @daren-thomas can we close this issue?

[2018-11-29 10:07] JIMENOFONSECA commented on #1522
@GA

[2018-11-29 10:07] #1522 closed

[2018-11-29 10:07] JIMENOFONSECA commented on #927
@daren-thomas can we close this issue?

[2018-11-29 10:08] #1125 closed

[2018-11-29 10:09] JIMENOFONSECA commented on #1350
@daren-thomas and @shanshanhsieh can this be closed?

[2018-11-29 10:10] #1582 closed

[2018-11-29 10:10] #1319 closed

[2018-11-29 10:11] JIMENOFONSECA commented on #249
we won't have this.

[2018-11-29 10:11] #249 closed

[2018-11-29 10:11] JIMENOFONSECA commented on #315
we won't have this

[2018-11-29 10:11] #315 closed

[2018-11-29 10:13] JIMENOFONSECA commented on #34
we won't have this. DragonFly in Rhino can do this. One can use Dragon Fly before CEA if necessary.

[2018-11-29 10:13] #34 closed

[2018-11-29 10:13] JIMENOFONSECA commented on #93
we won't have this

[2018-11-29 10:13] #93 closed

[2018-11-29 10:14] JIMENOFONSECA commented on #95
we won't have this

[2018-11-29 10:14] #95 closed

[2018-11-29 10:18] #1054 closed

[2018-11-29 10:20] JIMENOFONSECA commented on #751
@BhargavaKrishnaSreepathi that is closed right?

[2018-11-29 10:29] JIMENOFONSECA commented on #792
I believe there will not be time for this. @BhargavaKrishnaSreepathi please consider if we keep this open

[2018-11-29 10:31] JIMENOFONSECA commented on #1339
@shanshanhsieh is this still the case?

[2018-11-29 11:04] martin-mosteiro opened #1706 "As a user, I want to be able to model building occupancy stochastically"
I was using stochastic occupancy modeling for some internal testing and noticed that since some of the labels were outdated, it wasn't working. So I'm updating it.

[2018-11-29 14:53] Jack-Hawthorne opened #1708 "ImportError: DLL load failed: The specified module could not be found."
After the installation you experience an error:
ImportError: DLL load failed: The specified module could not be found.

[2018-11-29 14:54] Jack-Hawthorne commented on #1708
Try copying:
[code]
    OR:
[code]

[2018-11-29 14:56] #1708 closed

[2018-11-29 14:58] Jack-Hawthorne opened #1709 "Error when running daysim_main.py"
Error when running daysim_main.py :
.wea weather file cannot be found

[2018-11-29 15:00] Jack-Hawthorne commented on #1709
In the subfiles inputlocator.py/tempfile.py, the environment variable is not correctly read if the username contains a space.

If the original path for the TEMP environment variable is:
[code]
it is read as:

[code]

[2018-11-29 15:01] #1709 closed

[2018-11-29 17:09] kerembeygo commented on #1694
Hi @gabriel-happle
Thank you for your brief explanation, solar radiation and demand tools ran successfully.
I don't know whether the manuals are up to date with the latest enhancements of CEA but I want to try other features and that will take a couple of days I guess.

[2018-11-29 17:15] #1694 closed

[2018-11-30 02:00] shanshanhsieh commented on #1339
Yes, because the case we run the dodo test (`reference-case-open`) does not have a loop network,
To make this happen, we will first need to set up another dodo test with other case studies (preferably region = SG)

[2018-11-30 02:29] BhargavaKrishnaSreepathi commented on #792
closing the issue for now as we will not have time to finish this

[2018-11-30 02:29] #792 closed

[2018-11-30 02:31] #751 closed

[2018-11-30 02:33] BhargavaKrishnaSreepathi commented on #1596
fixed in PR #1622

[2018-11-30 02:33] #1596 closed

[2018-11-30 02:58] JIMENOFONSECA opened #1710 "Make release 2.9.1"

[2018-11-30 03:00] #267 closed

[2018-11-30 03:03] #1121 closed

[2018-11-30 03:10] JIMENOFONSECA opened #1712 "As developer, I'd like to have the dashboard also inside the main repository so we avoid decentralization at this point"
So we decided to move the dashboard to the CEA repository. I also would argue we can erase the Config_editor and Launcher which are not used anymore.

[2018-11-30 06:44] shanshanhsieh commented on #1350
yes, these parameters are all shown in the interfaces now thanks to the  `scripts.yml` clean-up by @daren-thomas!

[2018-11-30 06:44] #1350 closed

[2018-11-30 08:34] JIMENOFONSECA commented on #1706
@martin-mosteiro the PR passsed, I am closing this issue!

[2018-11-30 08:34] #1706 closed

[2018-11-30 08:35] #1698 closed

[2018-11-30 08:36] #1239 closed

[2018-11-30 09:02] JIMENOFONSECA opened #1714 "As a researcher I want no hard-coded values of prices in the optimization, so I can know the assumptions of the model more explicitly"
I slave/cooling_main.py I found some hardcoded values regarding service life of piping. This should not be the case.  Ideally, these values are presented in the technology database.

[2018-11-30 09:03] JIMENOFONSECA commented on #1714
@BhargavaKrishnaSreepathi the issue happens in line 210

[2018-11-30 09:11] daren-thomas commented on #1272
We decided to create separate issues for each module that breaks the sphinx build.

[2018-11-30 09:11] #1272 closed

[2018-11-30 09:18] #1046 closed

[2018-11-30 09:33] daren-thomas commented on #1069
@Jack-Hawthorne the file `bin\trace-inputlocator.bat` has examples of how to use the trace-inputlocator tool.

[2018-11-30 09:37] daren-thomas commented on #1069
example:

[code]

[2018-11-30 10:01] daren-thomas commented on #1069
Meeting on January 11 to discuss update on this issue.

[2018-11-30 11:30] #1700 closed

[2018-11-30 13:04] daren-thomas opened #1717 "As a Practitioner, I would like to know how to model existing urban heating networks"
When setting up a case study, how do I model existing urban heating networks? What files do I need to provide? How do I make sure the network is being used?

(Asking for Anja who has such a case)

[2018-11-30 13:06] daren-thomas opened #1718 "As a Practitioner, I would like to know how to deal with basements that do not have the same footprint as the main building"
In some buildings of the case study, only parts of the buildings have basements.

(Asking for Anja who has such a case study)

[2018-11-30 13:08] daren-thomas opened #1719 "As a Practitioner I would like to model the effect of trees on solar radiation"
Is it possible to take existing trees into account for the solar radiation analysis? If so, how should they be modeled?

[2018-11-30 13:10] daren-thomas opened #1720 "As a Practitioner, I would like to know how to model extensions to buildings that differ in height"
How do I go about extensions of buildings that differ in building function and height to the main building? If I model them as individual buildings as I have done so far – the results are not correct….

Is it possible to define if such an extension is a thermal zone or not (open to the outdoor at one front for example in that case like a porch)

@Anja: what do you mean by "the results are not corr

[2018-12-04 00:54] JIMENOFONSECA commented on #1719
CAE is not specifically designed for this. However there are two ways to do it.

1. Create dummy buildings with Hs=0 that represente the trees. (Quite approximate).
2. Create a raster of the terrain that includes already the trees. (Highly computationally expensive).

I close the issue since, this is something we will not have in the near future.

[2018-12-04 00:54] #1719 closed

[2018-12-04 00:58] JIMENOFONSECA commented on #1720
This is one of the current limitations. There are some issues opened but there has not been the time nor the people to do it. #806

We are open to any master student, who would like to develop this specific setting, and coach him/her.

I assign it to @gabriel-happle since it lies in his realm. Gabriel, let us know if you have a way around solution, thanks!

[2018-12-04 01:03] JIMENOFONSECA commented on #1718
What will change is that the building has slightly lower losses towards the ground in winter. We have identified the total losses to the underground (basement vd/no basement) of be about 2%-4%.

If this still a need. I would suggest to keep the basement equal to the footprint but to change the height until the volume of the real basement be covered. This shoudl be a way around

[2018-12-04 01:04] JIMENOFONSECA commented on #1717
@shanshanhsieh could you please adrees this issue? Thanks!

[2018-12-05 01:42] shanshanhsieh commented on #1717
yes, i will write a tutorial

[2018-12-07 00:55] hoseq opened #1722 "[Installation Problem]i can't install the cea for Arcgis10.5"
When i want to install cea for argis10.5 follow the manual(https://city-energy-analyst.readthedocs.io/en/latest/installation-on-windows.html),i have some problems .
    Here is the questions:
    When i go to the 6 step(the follwing figure1),I have this problem:“系统找不到路径”（in english is "The system can't find the path"）.(figure2)
![image](https://user-images.githubusercontent.com/45525658/49620782-5

[2018-12-07 03:53] hoseq commented on #1722
my gmail:dzq19941213@gmail.com

[2018-12-10 09:50] daren-thomas commented on #1722
@hoseq, you are correct: you made a small mistake between step 3 and 4.

The instructions are set up to use the defaults for the "Local path" field in figure4. While you can choose any folder you like, typically it would be `C:\Users\12195\Documents\Github\CityEnergyAnalyst`. It seems you added in a `cd Documents` to replace `Documents` there.

`cd` is a command for the anaconda prompt (actually,

[2018-12-10 11:10] gabriel-happle commented on #1720
I also wonder about "the results are not correct" part?
Do we have any examples? Or any models we can compare to measured data?

[2018-12-10 11:43] AWillmann commented on #1720
What I meant was that the building in total consumes more energy than the single parts of the building individually - this is only important let´s say given the case I want to visualize the total heating demand of each building per year. Then my building does not consume (visually) as much as it actually does. (Is this confusing?)

[2018-12-10 12:36] daren-thomas commented on #1720
@AWillmann wait... are you talking about the visualization in ArcGIS? So... while the simulation results for each part is correct, when you display the building consumption, it only looks like a single building with a lower total consumption? I think this could be solved with some ArcGIS skills...

[2018-12-11 01:59] hoseq commented on #1722
@daren-thomas ,thanks!Your help was greatly appreciated. I got it. But I have some new problems😂 ,it could happend in "2".
1.When i change the path to"C:\Users\12195\cd Documents\Github\CityEnergyAnalyst", the work of the Installation seem complete.(picture1)
![image](https://user-images.githubusercontent.com/45525658/49772210-57007600-fd27-11e8-81a5-71bbc353effb.png)
(picture 1)
2.Then i go on th

[2018-12-12 05:36] gabriel-happle commented on #1720
@AWillmann why don't you just modify the results file (everything is in editable *.csv format) to visualize exactly what you want?

[2018-12-12 12:20] daren-thomas commented on #1722
@hoseq yes, in picture2, you are creating a new conda environment instead of using the one created in step 7. Choose an existing conda environment. If you are not sure about the path of the environment, you can find it out by running `conda env list` in the anaconda prompt. It will list your `cea` environment along with the path. Use that in PyCharm, selecting the `python.exe` file in that folder.

[2018-12-13 09:11] #1637 closed

[2018-12-13 09:13] #1651 closed

[2018-12-13 09:14] #1691 closed

[2018-12-13 09:18] #1604 closed

[2018-12-13 09:19] #1652 closed

[2018-12-13 11:25] Jack-Hawthorne opened #1723 "Module import error for documentation analysis\clustering\sax"
The following error is raised by sphinx autodoc when making the documentation:

[code]

[2018-12-13 12:31] Jack-Hawthorne opened #1725 "Autodoc errors for documentation of demand/metamodel/ nn_generator"
Autodoc throws up the following error when documenting demand/metamodel/ nn_generator scripts:

[code]

Seems like keras.callbacks has to be added to the mock modules in the docs/conf.py
along with some formatting errors with indentation etc...

[2018-12-13 12:36] Jack-Hawthorne commented on #1725
added keras.callbacks to MOCK_MODULES in the docs/config and get the following errors
[code]

[2018-12-13 13:09] daren-thomas commented on #1725
@JIMENOFONSECA, @Jack-Hawthorne I believe the nn_generator stuff is not really functional anyway, right? What is the timeline for this? Or do we move it to a branch and forget about it for now?

[2018-12-13 13:50] Jack-Hawthorne commented on #1725
@daren-thomas I'm just going through the list of exclusions we have in the docs/conf to resolve (hopefully) all the sphinx build errors.

The timeline is end of year for all the build errors, i'm not addressing the functionality of the scripts though.

[2018-12-13 15:59] Jack-Hawthorne opened #1727 "Autodoc errors for documentation of cea/optimization"
The following errors are raised when creating documentation for cea/optimization:
[code]
Looking into the issues now.

[2018-12-13 17:58] Jack-Hawthorne opened #1729 "Autodoc errors for documentation of interfaces/dashboard and resources/radiation_daysim/plot_points"
This error is thrown up by autodoc when running the make html command for documentation of the following:

    - interfaces/dashboard

[code]
    - resources/radiation_daysim/plot_points

[code]

Looks like the Mock class in the docs/conf needs a __getitem__ attribute assigned to it.

@daren-thomas any ideas or suggestions?

[2018-12-13 18:04] Jack-Hawthorne opened #1730 "Autodoc errors for documentation of technologies/thermal_network/network_layout"
The following error is raised by autodoc when creating documentation:

[code]
I'll look into it a bit deeper soon.

[2018-12-13 18:07] Jack-Hawthorne commented on #1406
see #1723

[2018-12-13 18:07] #1406 closed

[2018-12-14 11:49] hoseq commented on #1722
@daren-thomas .oh!Thanks. 😂I am the user who do not want to edit the code in PyCharm.I just install cea for my Arcgis 10.5 . So i can just install  "Setup_CityEnergyAnalyst_2.9.0,exe"?
  I try it.And,but the cea does not appear in My Toolboxes.(picture 1)

![image](https://user-images.githubusercontent.com/45525658/50001749-c9e44800-ffd8-11e8-8549-8c6f004ecba1.png)
(picture 1)
And this is the info

[2018-12-14 11:55] daren-thomas commented on #1722
@hoseq, oh dear, then you really went the hard route! I'm so sorry!

Yes, I see your problem. This is currently being fixed, but a new version won't be available for another week or so.

[2018-12-16 14:33] Jack-Hawthorne opened #1731 "Autodoc errors for documentation of tests/test_dbf"
Getting the following issues with autodoc for cea/tests/test_dbf.py :

[code]

This should be an easy fix.

[2018-12-17 23:21] justinfmccarty opened #1734 "ImportError: DLL load failed fiona.ogrext"
Hello! I am working on getting the CEA set up for use in ArcGIS for retrofit analysis in Vancouver, CA. I also have very little familiarity with python. I have been following the [install guide ](https://city-energy-analyst.readthedocs.io/en/latest/installation-on-windows.html) but have not been able to move past the intial scripts for analysis. Once I am set up in Pycharm and have extracted the r

[2018-12-18 03:25] gabriel-happle opened #1735 "As a researcher, I would like to produce detailed outputs of all variables in the demand calculation"
This feature was highly appreciated by many researchers over the past months and years.

Currently the full reporting function to produce xls files is not working.

On top of that some outputs, e.g. system status are not correctly reported.

[2018-12-18 03:40] billpoon12138 opened #1736 "UnsatisfiableError"
I tried to install the cea (branch release-2.9.0) following the tutorial in ubuntu 18.04.1 LTS, and I encountered the below issue.

After the command : conda env create --file environment.ubuntu.yml
Got the following error:

Solving environment: failed

UnsatisfiableError: The following specifications were found to be in conflict:
  - fiona[version='>=1.7.8']
  - libnetcdf[version='>=4.4.1.1']
  -

[2018-12-20 13:13] daren-thomas commented on #1736
@billpoon12138 this error basically means that the `environment.ubuntu.yml` file is not up to date and that conda cannot create a python environment to run cea.

We will be looking into this after Christmas 2018.

[2018-12-20 13:36] daren-thomas commented on #1734
@justinfmccarty thank you for this bug report! We are currently trying to fix a problem with the conda environment step of the installation process. I will contact you again on this issue as soon as we can find a fix. Sadly, this might be _after_ the holidays. I hope you understand.

[2018-12-20 14:51] justinfmccarty commented on #1734
Daren,

Thank you for letting me know. No problem on my end. I will stay tuned. Happy Holidays!

[2018-12-21 07:14] shanshanhsieh opened #1738 "As a researcher, i would like to output annual solar energy potential of each building in a district"
currently, the hourly data are saved in seperated buildings file
for @shizhongming 's research, it will require one output file with annual values from each building in a district

[2018-12-21 08:52] martin-mosteiro opened #1739 "As a user, I would like to know what ArcGIS is actually used for"
The CEA installation guide says the following:
_"Download and install ArcGIS 10.5 - only if you would like to use ArcGIS visuals."_
This is not entirely true - as it turns out, you also need ArcGIS for the thermal network layout script, which is not a visualization tool. Furthermore, both for heatmaps and thermal network layout you need to install Background Geoprocessing as well – this is not ind

[2018-12-21 08:54] martin-mosteiro commented on #1739
(Also leaving a note for future reference for potential master's students from ETH: the IT shop only provides students with ArcGIS 10.6, not 10.5. So they need to be able to get the correct version to use CEA.)

[2018-12-21 11:55] daren-thomas commented on #1739
@Jack-Hawthorne could you please update the documentation to reflect the fact that the CEA will work with both ArcGIS 10.5 _and_ 10.6 and needs the Background Geoprocessing tools for the network layout scripts to run?

[2018-12-21 16:38] martin-mosteiro opened #1741 "As a user, I would like to be able to run CEA on a clean install without manually installing fiona and gdal"
After a clean install of CEA following the installation guide, the following issue appears when trying to run the demand: `importerror: no module named fiona [...]`

Manually installing GDAL‑2.2.4 and Fiona‑1.8.4 (available [here](https://www.lfd.uci.edu/~gohlke/pythonlibs)) by downloading the files and doing (for my specific case) `pip install gdal-2.2.4-cp27-cp27m-win_amd64.whl --upgrade` (and t

[2019-01-07 09:30] daren-thomas commented on #1741
totally aggree. working on it!

[2019-01-08 10:57] #1730 closed

[2019-01-08 10:58] #1731 closed

[2019-01-08 10:58] #1727 closed

[2019-01-08 10:58] #1723 closed

[2019-01-08 11:45] Jack-Hawthorne commented on #1069
@daren-thomas when trying to run
```cea trace-inputlocator --scripts demand``
i get the following error at the end
[code]
I was running anaconda prompt as administrator, so permissions shouldn't be an issue.
It's probably a minor issue, I still get an output file in the reference case.

[2019-01-09 14:52] daren-thomas commented on #1670
@shanshan - is this a must-have or a should-have? what is the status here?

[2019-01-09 16:50] amraladdin commented on #1576
This issue has been there for a long time. I would like to decide on whether we will do this tutorial or not in our next CEA meeting.

[2019-01-10 00:49] JIMENOFONSECA commented on #1576
I suggest we do it but for the new interface.

Best, Jimeno
On 10 Jan 2019, 01:13 +0800, Amr Elesawy <notifications@github.com>, wrote:

This issue has been there for a long time. I would like to decide on whether we will do this tutorial or not in our next CEA meeting.

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub<https://github.com/architec

[2019-01-10 02:44] shanshanhsieh commented on #1670
the respective scripts are working just fine, and not creating problems for now... but it is a logical step to take to avoid duplicate codes, so i guess it falls to should have?

however, there are some steps we can do before solving this issue: create unit tests for all functions in `substation.py`
After that, what left to be done in this issue is to compare duplicate functions in `substation-mat

[2019-01-10 03:42] shanshanhsieh commented on #1738
merged with PR#1740

[2019-01-10 03:42] #1738 closed

[2019-01-10 03:45] shanshanhsieh commented on #1717
merged with PR#1717

[2019-01-10 03:45] #1717 closed

[2019-01-10 07:35] #1605 closed

[2019-01-10 07:35] #1650 closed

[2019-01-10 09:36] #1681 closed

[2019-01-10 09:42] #1182 closed

[2019-01-10 09:43] #1470 closed

[2019-01-10 09:44] daren-thomas commented on #1631
this might already be the case: check and close.

[2019-01-10 09:46] daren-thomas commented on #1328
@Khayatian can you explain this issue please?

[2019-01-10 09:49] daren-thomas commented on #1633
@martin-mosteiro is this fixed? if so, please close for M2.9.2

[2019-01-10 11:55] #1739 closed

[2019-01-10 11:55] #1725 closed

[2019-01-10 13:55] Jack-Hawthorne commented on #1729
to replicate go to branch 1729 and run `make html` in the docs repos

[2019-01-11 10:33] Jack-Hawthorne opened #1744 "KeyError when running data-helper from the cli"
When running cea data-helper from the cli the following KeyError is called:

[code]
It seems 'Ns' first appears in the correct_archetype_areas method of data-helper if that is any help.

[2019-01-14 09:02] JIMENOFONSECA opened #1745 "As a researcher I want to connect shapefiles of thermal and electrical networks"
@BhargavaKrishnaSreepathi would you mind adding a description to the problem here, so also the files I will need to fix it? thanks!

[2019-01-14 09:08] BhargavaKrishnaSreepathi commented on #1745
In branch `i1600-electric-and-thermal-network-planning`, if you run `cea\concept_project\thermal_network_calculations.py` file, with the default settings, everything will run smoothly. What happens here is that the `streets.shp` file created by Zhongming is used by `cea\concept_project\network_layout_main.py` script. Now if you uncomment the line 31 and comment line 29 in the script, the `cea\conc

[2019-01-14 09:22] JIMENOFONSECA commented on #1744
@martin-mosteiro I guess you can help us in here. I remember you introduced the Ns variable right?

[2019-01-15 16:18] martin-mosteiro commented on #1744
I can't replicate the issue:
[code]

[2019-01-15 16:20] martin-mosteiro commented on #1744
@Jack-Hawthorne are you sure you are running the latest version of the master branch?

[2019-01-20 15:53] martin-mosteiro commented on #450
@daren-thomas Seems to me that the heatmaps tool has been removed from CEA (Is this the case? If so, it doesn't seem to be justified/documented in any other issue). If that is the case, this issue can be closed.

[2019-01-21 03:54] #1741 closed

[2019-01-21 03:54] #1734 closed

[2019-01-21 03:55] JIMENOFONSECA commented on #1741
@martin-mosteiro it works now, please follow the steps of the PR  #1734 to get it up and running.

[2019-01-21 04:04] JIMENOFONSECA commented on #1092
After some discussion with @daren-thomas , I believe we should go the executable route. At the best we develop a Cross-platform installer of CEA. The installer should prompt to the user the next options.

1. Indicate where CEA will be installed.
2. Repair existing installation of CEA
3. Do a fresh installation of CEA.
4. Install the latest version of CEA.
5. Install the Developer version of CEA.

[2019-01-21 06:24] JIMENOFONSECA opened #1749 "Dashboard not working"
Next steps to reporduce:

1. go to master.
2. Reinstall CEA from scratch.
3. run cea dashboard

![image](https://user-images.githubusercontent.com/8973186/51456349-4e6c7800-1d88-11e9-801b-35e41730cb76.png)

4. Open the browser and get this

![image](https://user-images.githubusercontent.com/8973186/51456366-62b07500-1d88-11e9-80c2-58661a3d721b.png)

Then we get these messages

![image](https://use

[2019-01-21 07:15] BhargavaKrishnaSreepathi commented on #1745
This issue turned out to be a non-issue, as I was looking at the wrong shape files and once the correct shape files were used, the problem automatically got fixed.

[2019-01-21 07:15] #1745 closed

[2019-01-21 09:57] daren-thomas commented on #450
@martin-mosteiro let's look at it in the next review-meeting.

[2019-01-21 11:11] #1718 closed

[2019-01-21 11:11] #1307 closed

[2019-01-21 11:51] daren-thomas commented on #1749
@JIMENOFONSECA this works on my computer. could you please re-check?

[2019-01-21 12:11] JIMENOFONSECA commented on #1749
Mmm, did you run it from a fresh installation of CEA? As of master?

Might it be that your computer is calling the old cea-dashboard repository?

Maybe I am missing some extra libraries or 3rd party plug-ins?

What do you think?
On 21 Jan 2019, 19:52 +0800, Daren Thomas <notifications@github.com>, wrote:

@JIMENOFONSECA<https://github.com/JIMENOFONSECA> this works on my computer. could you please

[2019-01-21 15:21] Jack-Hawthorne commented on #1744
okay so the problem was due to:

old database files which were not overwritten during the ```extract-reference-case``` execution

this should be an easy fix

[2019-01-21 16:02] daren-thomas opened #1751 "Update to Plotly 3.5.0 (or newest)"
We are currently locking ourselves down to Plotly 2.5 - due to some plots not working yet with Plotly 3.5.0. We should identify those plots and update the plotly library version to the newest.

[2019-01-22 09:32] martin-mosteiro opened #1753 "Looped DH network simulations create MemoryErrors"
We are running a simulation for a DH network with 86 connected buildings as seen below:
<img width="497" alt="screen shot 2019-01-22 at 10 16 24" src="https://user-images.githubusercontent.com/18548065/51524806-33087800-1e2f-11e9-8a4f-c03d7cf17b41.png"> <img width="497" alt="screen shot 2019-01-22 at 10 16 34" src="https://user-images.githubusercontent.com/18548065/51524809-369bff00-1e2f-11e9-9fc2

[2019-01-22 15:51] daren-thomas commented on #1749
see PR #1752. i think now it works. there were some files missing due to the .gitignore file.

[2019-01-22 17:33] martin-mosteiro opened #1754 "As a user I would like to simulate DC networks that supply data centers"
While running DC network simulation for a case study that includes data center, we get the following error:
[code]

The issue is caused by a typo (the column is actually called `mcpcdata_sys_kWperC`), removing lines 217–218 and fixing this typo in line 464 in substation_matrix.py should take care of this.

[2019-01-22 17:45] Jack-Hawthorne opened #1755 "Dependency on path "C:\\reference-case-open" for install-toolbox and extract-reference-case"
The cea install-toolbox and cea extract-reference-case are both dependent on the existence of the ```C:\\reference-case-open```

[code]

[code]

This should probably be explicit in the installation steps or reviewed in both scripts.

[2019-01-23 11:02] shanshanhsieh opened #1757 "As a researcher, i would like to run thermal network optimization with different load types"
The current network optimization does not support load type variable, hence `optimize-network-load=True` in the **network optimization tool** is not functioning yet.
this functionality was implemented in the code in PR #1599 but it requires more bug fixes to work..

[code]

[2019-01-23 11:06] shanshanhsieh commented on #1753
yep, i agree, the script for looped network is still quite buggy, while testing PR #1599 , I also encountered some errors during the iterations, also documenting it here for reference.

[code]

[2019-01-23 11:14] shanshanhsieh opened #1758 "As a researcher, i would like to optimize thermal network with 4 variables"
In PR #1599 , the thermal network optimization was implemented.
It is able to optimize the variables: `optimize-loop-branch`, `optimize-building-connections`, `min/max-number-of-plants`, and plant location separately, however, it is not possible to run the optimization with all 4 variables together.
the problem comes from the unstable behavior in the `thermal-network-matrix.py` with looped network

[2019-01-23 12:26] daren-thomas opened #1760 "CEA doesn't work if C:\reference-case-open\baseline does not exist"
Just running any of the scripts, after deleting the folder `C:\reference-case-open` causes an error like this one:

[code]

[2019-01-23 12:46] daren-thomas commented on #1729
assuming https://readthedocs.org/projects/city-energy-analyst/builds/8436340/ runs through, then the course of action is to

- remove `geopandas` form `docs/config.py` mock-list
- add `geopandas` to the `docs/environment.yml` file.

see branch `origin/readthedocs` for an example of how to do that.

[2019-01-23 12:56] daren-thomas commented on #1729
it seems that the above suggestion really does work.

[2019-01-23 13:48] Jack-Hawthorne commented on #1729
@daren-thomas following your recommendation, i have removed `geopandas` from the mock-list and added to `environment.yml` however i still get the following error:

[code]

[2019-01-23 13:52] Jack-Hawthorne commented on #1729
this happens for most modules unfortunately. to replicate go to branch `1729-autodoc-error-radiation-daysim`

[2019-01-23 14:06] daren-thomas commented on #1755
possible duplicate of #1760

[2019-01-23 14:11] daren-thomas commented on #1744
I think running `cea copy-default-databases` would have done the trick. This just for future reference. Thank you @Jack-Hawthorne & @martin-mosteiro for diagnosing this. Closing.

[2019-01-23 14:11] #1744 closed

[2019-01-23 14:23] daren-thomas commented on #1005
I think this could be as simple as updating the `environment.ubuntu.yml` file. Also, this should work similarly for euler.ethz.ch (first tests installing conda were promising, but I need to check for PREFIX as there is a limit to the amount of files I may have in my home directory)

[2019-01-23 14:25] daren-thomas commented on #1720
@gabriel-happle can you add a milestone for this, since it is in development? What is the status?

[2019-01-23 14:27] daren-thomas commented on #1751
duplicate of #1634

[2019-01-23 14:27] #1751 closed

[2019-01-23 15:47] #1754 closed

[2019-01-24 07:48] #1659 closed

[2019-01-24 08:36] daren-thomas opened #1761 "Ensure the Grasshopper plugin works"
- for Canada 19th February 2019
- i wonder if project honey-badger is ready by then to do this?

[2019-01-24 08:38] daren-thomas opened #1762 "Add Optimization plots to the Dashboard"
- part of the effort for Canada 19. February 2019
- @JIMENOFONSECA can you please list which plots to prioritize?

[2019-01-24 08:42] daren-thomas commented on #1757
@shanshanhsieh do you have an estimate on how long this will take?

[2019-01-24 09:06] #1712 closed

[2019-01-24 09:07] #1317 closed

[2019-01-24 09:09] daren-thomas commented on #1722
@hoseq, please try again, it should work now.

[2019-01-24 09:09] #1722 closed

[2019-01-24 09:09] #1749 closed

[2019-01-24 09:09] #1631 closed

[2019-01-24 09:09] daren-thomas commented on #1710
skip. do 2.9.2 instead, today.

[2019-01-24 09:16] daren-thomas commented on #1753
- full year simulation for heating / cooling for large branched networks doesn't work.
- full year simulation of looped networks don't work either.

[2019-01-24 09:23] daren-thomas opened #1763 "Port the Grasshopper interface of the CEA to Rhino 6"
- make sure Rhino 5 still works

[2019-01-24 10:09] daren-thomas opened #1764 "Thermal networks don't work on the HIL E65 computers"
This seems to be because the default ArcGIS Geodatabase is not where the CEA expects it to be (see `path_default_arcgis_db` in `cea.technologies.thermal_network_network_layout.main`) but is on a network path instead - roaming profiles.

This is urgent as @martin-mosteiro 's student needs this to work for her thesis.

Steps to reproduce:

- extract reference case
- run thermal network layout in Arc

[2019-01-24 11:43] martin-mosteiro opened #1766 "Radiation script not working on a CEA clean install"
After a clean install of CEA, I ran the radiation script and got the following error message:
[code]

[2019-01-24 14:46] daren-thomas opened #1768 "Create CHANGELOG.md file"
For new releases, we could add a CHANGELOG.md file - automatically generated from

- `git log origin/master --merges`
- parse the output for the PR number
- then use https://developer.github.com/v3/pulls/ to get PR title
- get the version number of that merge
- this could be automated

Format: (this is just an example)

The PR should be a link to the closed PR page.

[2019-01-24 15:04] martin-mosteiro commented on #1766
Running on branch #1764 (which should also solve the above issue) I now ran into the following error:
[code]

[2019-01-24 15:12] martin-mosteiro opened #1769 "Improve reference case open to make testing more robust"
A lot of the testing is currently done on reference-case-open. However, since the case study has very few differences from building to building (almost all buildings are offices) some tests only pass under those very specific conditions. For example, issue #1754 shows there was an evident error in the thermal networks script which wouldn't have passed if the script had been tested on a case study

[2019-01-24 15:57] JIMENOFONSECA commented on #1710
Sure!

Best, Jimeno
On 24 Jan 2019, 22:28 +0800, Daren Thomas <notifications@github.com>, wrote:

@JIMENOFONSECA<https://github.com/JIMENOFONSECA> we're doing a release 2.9.2 instead. could you add the zenodo reference to the CREDITS.md file in the branch release-2.9.2? Thank you!

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub<https://github.c

[2019-01-25 05:59] JIMENOFONSECA commented on #1766
@daren-thomas do you have the same error?
@martin-mosteiro would you mind writing the steps to replicate? thanks!

[2019-01-25 06:00] JIMENOFONSECA commented on #1764
@daren-thomas we can close this right?

[2019-01-25 10:42] martin-mosteiro commented on #1766
For what it's worth, this computer is showing some other strange behavior, however. Namely, I tried to troubleshoot on a python console and I cannot seem to import config correctly, as the config file gets overwritten every time I do `import cea.config`

[2019-01-25 11:59] Jack-Hawthorne opened #1770 "As a Practitioner I want to know how long installation takes so I don't get frustrated waiting."
I've had a couple of enquiries regarding install time from fellow students and thought it would be advantageous to include some ETA's in the ``Get Started with CEA``.

Doing a fresh install to pick up any bugs or issues to be clarified since the new release (cea 2.9.1)

[2019-01-25 13:10] Jack-Hawthorne commented on #1766
I did a fresh install today of the CityEnergyAnalyst repos and cea conda environment (didn't re-install python or anaconda) and cannot run anything via the config:
[code]

[2019-01-25 13:21] Jack-Hawthorne opened #1771 "cea env needs to include mock"
Minor issue but the new conda environment (cea 2.9.1) doesn't include the mock package, leading to the following error when trying to run sphinx builds:
[code]

[2019-01-25 15:44] daren-thomas commented on #1766
@martin-mosteiro are you sure you installed Daysim?

[2019-01-25 15:58] Jack-Hawthorne commented on #1771
also noticed deap is missing:
[code]

[2019-01-28 05:10] JIMENOFONSECA commented on #1762
This issue entails adding all the plots inside the script cea/plots/supply_system/main.py

These plots are classified in different categories. I describe the categories we should add first. To see which exact plot belongs to each category and what data each plot needs, check the script cea/plots/supply_system/main.py

In order of importance (category)

1. "system_sizes"
2. "costs_analysis"
2. "the

[2019-01-29 00:52] JIMENOFONSECA commented on #1770
@Jack-Hawthorne merged. thanks for this!

[2019-01-29 00:52] #1770 closed

[2019-01-29 19:30] martin-mosteiro opened #1774 "Representative week method for thermal networks does not generate all the outputs needed"
The representative week method creates less files, such that the plots for the given case study cannot be generated:
[code]

This is an easy fix, I have already done it locally and it appears to work...

[2019-01-30 11:32] #1774 closed

[2019-01-30 23:23] FionaCollins opened #1776 "cea installed but can't run scripts"
I followed the installation process as documented here: https://city-energy-analyst.readthedocs.io/en/latest/installation-on-windows.html

the conda environment was created (although there is a long report and an error at the end) and the other steps were followed inkl. daysim installation. the installation seemed to be ok because the command "cea --help" gave a correct return.

However, when want

[2019-01-31 06:46] #1735 closed

[2019-01-31 08:15] daren-thomas opened #1777 "Add multiprocessing capabilities to the decentralized script"
As a Researcher, I want the decentralized script (`cea decentralized`) to run on multiple cores (`-- general:multiprocessing on`) so the script runs faster.

[2019-01-31 10:34] gabriel-happle opened #1779 "Bugfix in longwave radiaton thermal losses calculation"
@pajotca discovered a bug in the calculation of long wave radiation heat losses in the demand calculation.
He tried to address this in PR #1767.
This PR was declined. Instead PR #1778 was created to address the issue.

See more details in #1767 and #1778.

[2019-01-31 14:40] daren-thomas opened #1780 "Rename the thermal-network-matrix"
As a Researcher, I'd like the tools to have meaningful names to make them easier to remember and to communicate their function better.

- the `cea thermal-network-matrix` tool is, as far as I can tell named like this because there used to already be a script called `thermal_network.py`. I think it has now been replaced by `thermal_network_matrix.py` and we should update the names everywhere. @shan

[2019-01-31 15:14] daren-thomas opened #1781 "Add openpyxl to the setup.py INSTALL_REQUIRES variables"
As a Researcher, when installing CEA, all the dependencies should be installed so that all the cea commands can be used. Currently, at least openpyxl is missing.

Maybe this issue should include testing all the CEA commands... as an output, maybe some script in cea/tests that uses the `cea.api` module to run each script?

[2019-01-31 15:42] daren-thomas opened #1782 "KeyError: 'NFA_m2' when running cea operation-costs"
When running the tool `cea operation-costs`, a `KeyError: 'NFA_m2'` is produced.

Steps to reproduce:

- `cea extract-reference-case`
- `cea data-helper`
- `cea demand`
- `cea operation-costs`

Error message:

[code]

[2019-01-31 16:07] martin-mosteiro commented on #1782
One of the `demand_writer`s contains a typo whereas 'NFA_m2' and 'people' get exported as 'NFA_m2people'. Missing comma. On it.

[2019-01-31 17:41] martin-mosteiro commented on #1779
Merged

[2019-01-31 17:41] #1779 closed

[2019-02-01 09:23] daren-thomas opened #1784 "Implement the network-layout script without ArcGIS tools"
As a Researcher, I would like to run CEA simulations on systems that don't support ArcGIS (e.g. Docker / Ubuntu / Euler) in order to make use of cloud computing and clusters. Further, removing the ArcGIS requirement makes adopting the CEA easier for Researchers that don't have access to ArcGIS.

[2019-02-01 14:20] martin-mosteiro opened #1786 "Thermal network layout issues should raise an exception instead of infinite loop"
When running simulations for manually-created thermal network layouts, issues can arise that cause CEA to be stuck in an eternal loop - but since no flag of any kind is displayed, the user cannot know why the simulation is starting.

I'm namely thinking of a case like the one shown below:
![screen shot 2019-01-20 at 16 02 57](https://user-images.githubusercontent.com/18548065/52128056-3cb28c80-263

[2019-02-01 14:21] #1782 closed

[2019-02-03 05:01] Khayatian commented on #1328
@daren-thomas when preparing the input features for training a neural network, the start and end of heating and cooling seasons corresponds to the availability of the heating and cooling system. As the surrogate model was written for Singapore's climate, there was no heating required, therefore the cooling system was always available. However, for other climates, the start and end of the heating a

[2019-02-04 08:56] daren-thomas commented on #1328
since the way our data is structured with vectors of length (HOURS_IN_YEAR), how about four variables:

- heating_setpoint_lower_bound
- heating_setpoint_upper_bound
- cooling_setpoint_lower_bound
- cooling_setpoint_upper_bound

and instead of using -99 / +99, we could use `NaN` to indicate that it isn't season.

what do you think? @Khayatian? @gabriel-happle?

(and then create this data during th

[2019-02-04 09:15] daren-thomas commented on #1762
I'm getting this error when running `cea plots-optimization`:

[code]

It seems the variable `data` refers to the optimization checkpoint and that the key `population_fitness` has been removed...

@JIMENOFONSECA, @BhargavaKrishnaSreepathi any ideas?

(since you guys are probably only back on Wednesday, this issue will not make it this sprint)

[2019-02-04 10:04] daren-thomas commented on #450
confirmed: heatmaps tool has been moved to legacy.

[2019-02-04 10:04] #450 closed

[2019-02-04 10:09] #1755 closed

[2019-02-04 10:09] #1760 closed

[2019-02-05 08:58] daren-thomas commented on #1729
@Jack-Hawthorne I'm taking a look at this right now

[2019-02-05 09:48] Jack-Hawthorne commented on #1069
currently working on this on branch ``1069-document-input-output-variables``

[2019-02-06 10:08] daren-thomas commented on #1729
hey @Jack-Hawthorne can you pull this branch from origin? i think it's working now. Could you create a PR?

(btw: i just deleted `plot_points.py` - I don't think we need to keep it)

[2019-02-06 10:08] daren-thomas commented on #1729
wait... I'll create the PR.

[2019-02-06 13:10] #1710 closed

[2019-02-07 07:30] Khayatian commented on #1328
Since I have been lately distant from the latest CEA code, I am unsure whether there was two different vectors for (1) system availability, and (2) the setpoint (as far as I remember, this is how some software like EnergyPlus work, where system availability is Boolean [NaN,1] and setpoint is a float). It mainly comes into play when there are some national/regional/cantonal regulations for switchin

[2019-02-07 09:51] #1771 closed

[2019-02-07 09:53] #1729 closed

[2019-02-07 10:02] daren-thomas commented on #1777
Contact @shanshanhsieh for more information about this script / testing

[2019-02-07 10:23] #1714 closed

[2019-02-07 11:26] martin-mosteiro commented on #1769
I've adjusted the case study so every building is mixed-use. That way we can test all the occupancy type and any issues that might come up in mixed-use buildings at the same time. The new occupancy types are as follows:
B01: 50% COOLROOM, 50% FOODSTORE
B02: 50% GYM, 50% HOTEL
B03: 50% HOSPITAL, 50% INDUSTRIAL
B04: 50% LIBRARY, 50% SCHOOL
B05: 50% MULTIRES, 50% SINGLERES
B06: 50% RESTAURANT, 50% RE

[2019-02-07 11:27] martin-mosteiro commented on #1769
I've also run data_helper on the case study to update all other inputs and I've also run the radiation script to upload the radiation along with the case study.

[2019-02-08 06:47] gabriel-happle opened #1791 "Create a user survey"
- create a survey (e.g., surveymonkey or google forms) to collect info about who is using CEA, which features and for what purpose.
- collect some data about features that are liked and features that are disliked for future development.

[2019-02-08 16:07] pajotca commented on #1779
Just to understand, why was the PR declined?

And thank you for not assuming that contributors are inevitably men in the future.

[2019-02-11 05:40] JIMENOFONSECA commented on #1687
@BhargavaKrishnaSreepathi I believe we are not doing this in the near future.

[2019-02-11 05:40] #1687 closed

[2019-02-11 05:41] JIMENOFONSECA commented on #1689
I believe we are not doing this in the near future. Closing this issue and adding it to enhancements

[2019-02-11 05:41] #1689 closed

[2019-02-11 05:43] JIMENOFONSECA commented on #1600
@BhargavaKrishnaSreepathi What is the status of this? when are we expecting a PR?

[2019-02-11 06:06] JIMENOFONSECA commented on #1784
the solution is in here: https://stackoverflow.com/questions/27161533/find-the-shortest-distance-between-a-point-and-line-segments-not-line

[2019-02-11 06:17] JIMENOFONSECA commented on #1791
you want to use our mailchimp account: we did the newsletter with this: https://cityenergyanalyst.com/newsletter-1/
I can give you the login via slack

[2019-02-13 06:28] gabriel-happle commented on #1779
Hi @pajotca,
The PR was declined, because according to my understanding your modification did not fix the bug in compliance with the ISO norm. (See discussion in #1767).
I gave you suggestions to improve the fix, however I was not able to directly modify code in your fork.
Since you didn't react for some time, I just did it myself quickly.

Thank you for very much for reporting the bug!
Gabriel

[2019-02-13 10:12] JIMENOFONSECA commented on #1784
this could help too https://gis.stackexchange.com/questions/227909/from-shapefile-to-python-networkx

[2019-02-13 10:49] martin-mosteiro opened #1792 "PARKING and COOLROOMs should be electrified"
Right now both appear to have electrified surfaces of 0 according to the CEA archetypes, however both **do** have a lighting demand, so they should be electrified.

Thanks @gabriel-happle for catching this.

[2019-02-14 02:09] gabriel-happle opened #1794 "Buildings with COOLROOM usage should follow the temperature set point of the other uses"
This issue was discovered when creating a new mixed-use reference case for testing #1790

While the COOLROOM is not actually part of the thermal model (`Hs=0` according to the archetypes) it _is_ setting the setpoint for the thermal zone. That is not desired behavior.

I wonder if it makes sense to include the COOLROOMS in single-thermal zone simulation at all, because they have set point temperat

[2019-02-14 02:34] gabriel-happle commented on #1176
Hi @martin-mosteiro, I did some quick research about heating and cooling seasons. I.e., times of the year when heating is allowed in Europe.
It seems this only applies for residential buildings, I.e., MULTI_RES and SINGLE_RES. Or do you know any information that says otherwise?

I guess one way to move forward is to apply heating and cooling seasons only to residential buildings.
For the other bui

[2019-02-14 07:52] gabriel-happle opened #1796 "Upload new reference case open to reference case repository"
- the `dodo` test downloads reference cases from the reference case repository.
- in #1790 a new `reference-case-open` was created.
- we need to upload it to the repository

[2019-02-19 02:20] gabriel-happle opened #1797 "Debug and Document Heating Coil temperature calculation"
the `heating.coil.calc_heating_coil()` code is buggy and not documented.
Either the function has to be debugged and documented or a new function has to be created from scratch.

This issue is related to PR #1790

[2019-02-19 10:33] #1784 closed

[2019-02-20 12:26] daren-thomas commented on #1762
@BhargavaKrishnaSreepathi I am still getting this error. This is blocking me.

[2019-02-20 14:31] daren-thomas opened #1798 "Re-add the ArcGIS interface as deprecated"
A recent PR removed the ArcGIS interface. There are some reasons for not removing it quite yet, but the general idea is still to remove it mid-term. Reasons include users currently relying on that interface, published documentation/papers/tutorials, the state of the replacement interface as well as deployment in the computer rooms at ETH Zurich.

The ArcGIS interface should therefore be re-added.

[2019-02-20 14:32] daren-thomas commented on #1794
@gabriel-happle, you have labeled this as "Should have". What do you think the priority of this is? Would removing COOLROOM as a building function help?

[2019-02-20 14:36] daren-thomas opened #1799 "Mention deprecation of ArcGIS interface on CEA website and README.md on GitHub"
The ArcGIS interface will be deprecated in near future (e.g. 2-3 Months). Communicate this via the CityEnergyAnalyst.com website as well as on GitHub.

[2019-02-20 14:37] daren-thomas opened #1800 "Check to make sure installation guides mention deprecated nature of ArcGIS interface"
This includes the step `cea install-toolbox`.

[2019-02-20 14:39] daren-thomas opened #1801 "Add a deprecation warning to output of ArcGIS scripts"
When running a script through the ArcGIS interface, output a deprecation warning that the interface will be deprecated soon. Ideally, add a link to information about the dashboard interface to use instead.

[2019-02-20 14:41] daren-thomas opened #1802 "Plan a campain to promote new interface (Dashboard)"
- Tutorials
- Documentation
- www.cityenergyanalyst.com
- Maybe come up with a new name for the interface? (-> create an Issue to rename the interface to new name)
- newsletter

[2019-02-20 14:42] daren-thomas opened #1803 "Make running the dashboard easier on Windows"
Windows is still our primary target OS. Running the dashboard currently involves running `cea dashboard` in an Anaconda prompt. In conjunction with a new installation method (tbd) make running the dashboard easier. It could be as simple as a shortcut in the start menu that opens up a shell to run the script.

[2019-02-20 15:22] daren-thomas commented on #1005
status update: the branch `1005-fix-installation-guide-for-ubuntu` is in progress. installation of cea is working and being tested in the new `docker/Dockerfile` which creates a docker image with a fully installed cea. Stuff that still needs to be done:

- copy the `docker/environment.yml` to `environment.ubuntu.yml` (or actually export that environment once built?)
- add installation steps for Da

[2019-02-21 02:29] gabriel-happle commented on #1791
comments by arno:

Some comments: a) Maybe you want to make the email optional, so that people can fill in anonymously. b) ‘What is your research about’ : I would choose a dropdown with options rather than free text. Otherwise itt will be hard to categorize and bin. c) I would add a dropdown asking for their background (engineering, arch, etc.) and their expertise / literacy using modeling / energ

[2019-02-21 02:33] gabriel-happle commented on #1794
Hi @daren-thomas, I think @martin-mosteiro actually know more about this issue. It's his comment that I pasted as the description of the issue.
As I understand at the moment this is not very high priority, since we don't know anyone that is simulating a case with COOLROOM.
However, it should be easy to fix if someone has a bit of spare capacity.

[2019-02-21 06:23] JIMENOFONSECA commented on #1799
I will put this for the 1st of May as a deadline, just to not stretch too much the release of a stable version of the dashboard, which is still our priority now.

[2019-02-21 06:36] JIMENOFONSECA commented on #1801
@daren-thomas I did a first stab to this in the PR #1804 . you probably would like to add this link and additional information in there during your revision.

[2019-02-21 07:04] BhargavaKrishnaSreepathi commented on #1762
I am on it, might take about 3 days to fix it. Will let you know once I finish it

[2019-02-21 08:15] daren-thomas opened #1805 "Create release 2.11"
Wrap up the work on Milestone M2.11 as a release. This time, we'll include a short `CHANGELOG.md` file containing a short description of the PR's changed in this milestone.

Main change:

- `cea dashboard` is now official interface
- ArcGIS interface is being deprecated - this release includes messages to the user regarding the deprecation
- ...?

[2019-02-21 09:23] #1359 closed

[2019-02-21 09:25] #1780 closed

[2019-02-21 09:34] daren-thomas commented on #1762
@JIMENOFONSECA it seems these plots will only run for DC networks. Do we plan to update them for DH?

[2019-02-21 09:37] daren-thomas commented on #1796
- check dodo: is this really being downloaded in the tests?
- if yes: stop downloading and instead use bundled version
- remove from repository

[2019-02-21 09:40] daren-thomas commented on #1796
- dodo checked: doesn't download, so, just remove from repository.

[2019-02-21 09:43] daren-thomas commented on #1794
Could we add a test to schedules to make sure COOLROOM usage < 50%? Or treat similar to PARKING?

[2019-02-21 09:48] daren-thomas commented on #1797
@JIMENOFONSECA can you help @martin-mosteiro with this?

[2019-02-21 13:09] martin-mosteiro commented on #1797
I implemented the same code as for the cooling coil as suggested by Shanshan and it works - but I don't think that solves this issue, since the cooling coil calculation is not documented either!

@shanshanhsieh I presume the cooling coil calculation previously used the NTU method as in the heating coil case and was subsequently replaced by the current method. What is the advantage of the current m

[2019-02-21 21:59] martin-mosteiro commented on #1797
@shanshanhsieh There is a constant declaration in `calc_cooling_coil`:
[code]
Doesn't this belong in the corresponding `constants.py`? In fact, looking for such a constant I found the following in `technologies.constants`:
[code]
I suppose these values are for a water-based heat exchanger? Shouldn't these constants have a more intuitive name, though (e.g. `U_COOL_HEX_WATER = 2500.0` and `U_COOL_HE

[2019-02-21 22:01] martin-mosteiro commented on #1797
As discussed at the meeting today, I implemented the same calculation as for the cooling coil, since the same calculation should be applicable for the heating case as well (just inverting the "hot" and "cold" side in the calculation).

I assumed `U_HEAT = 450.0` is still valid as it appears to be a reasonable number.

I added these changes in #1769 since the issue was discovered there due to the n

[2019-02-22 02:12] JIMENOFONSECA commented on #1762
Yes, I believe they should also work fo rat cheating case.
On 21 Feb 2019, 5:34 PM +0800, Daren Thomas <notifications@github.com>, wrote:

@JIMENOFONSECA<https://github.com/JIMENOFONSECA> it seems these plots will only run for DC networks. Do we plan to update them for DH?

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub<https://github.com/archi

[2019-02-22 02:27] gabriel-happle commented on #1796
This can be closed. Turns out the open case was never part of the repository in the first place :)

[2019-02-22 02:27] #1796 closed

[2019-02-22 03:04] gabriel-happle commented on #1791
please take a look at the improved draft:
https://docs.google.com/forms/d/e/1FAIpQLSeFvy0ERAMEVdbwMEqpzEW3grD-4CaWe-Z-iL_o5HHMPtdXoA/viewform

[2019-02-22 06:33] #1792 closed

[2019-02-22 08:53] daren-thomas commented on #1762
@JIMENOFONSECA I have no idea what a rat cheating case is.

[2019-02-22 09:58] shizhongming commented on #1761
I updated to the current version of CEA and tested the plugin.
Some worked well and a few did not. I was able to fix them but one.

Thermal-network (used to be call thermal-network-matrix) works well with Pycharm and command line. It can also run with Grasshopper but it just never finishes running...keeps running and I need to force close rhino...I cannot figure it out why....could you have a look

[2019-02-22 10:42] daren-thomas commented on #1069
@Jack-Hawthorne I'm moving this issue back to "In Development" - as I see it, the first stage (list files, determine if input or output) is mainly done, awaiting the last few scripts. Would you mind listing the missing ones please?

The next stage is actually listing the _structure_ of these files:

- dbf files: column names, data types, maybe sample values? and then a description, which will have

[2019-02-22 10:42] #1800 closed

[2019-02-22 10:54] daren-thomas commented on #1761
@shizhongming I can't see your branch - did you push to github after committing?

[2019-02-24 19:20] Jack-Hawthorne opened #1808 "script-dependencies-autdoc-build-errors"
Hopefully fixing the build errors in script-dependencies and what are the cea scripts rst

[2019-02-25 02:43] shizhongming commented on #1761
@daren-thomas
.....I thought I did...it requires me to sign out and sign in again to successfully push just now...
it is there now.
grasshopper--for-2.9.2

[2019-02-25 02:54] JIMENOFONSECA commented on #1762
@daren-thomas hahahaha the spellchecker said this. I meant. "....should also work **for the heating** case..."

[2019-02-25 06:47] BhargavaKrishnaSreepathi commented on #1762
I will fix the cooling case, but the heating case needs to be written (from scratch) by someone.

[2019-02-25 09:12] #1769 closed

[2019-02-25 10:40] #1797 closed

[2019-02-25 10:42] #1656 closed

[2019-02-25 14:00] Jack-Hawthorne commented on #1069
@daren-thomas I'm not sure if you want all scripts done - some are not fully developed.

For sake of time please let me know which are the most important (and functional) of the missing:
- multi-criteria-analysis
- operation-costs
-  optimization
- decentralized
- supply-system-simulation
- sensitivity-demand-samples
- sensitivity-demand-simulate
- network-layout
- thermal-network-optimization (if

[2019-02-26 02:41] gabriel-happle commented on #1720
@daren-thomas can we close this?

[2019-02-26 05:00] #1720 closed

[2019-02-26 09:35] daren-thomas commented on #1069
@Jack-Hawthorne oh dear, all the scripts you mention above are _exactly_ those scripts i'm most desperate to have inputs / outputs clearly defined. so yes, i'd really like them all done. but i can also help you run them if you like? how can i best help?

your generalized method sounds exactly like what i was hoping for. i suggest you have separate methods for each of the different file types and s

[2019-02-26 12:17] #1801 closed

[2019-02-27 14:19] Jack-Hawthorne opened #1811 "As a developer I want to access *all* doc strings so I can parse descriptive information"
Some doc strings are not formatted correctly, especially module descriptions or titles. This will be an easy but tedious fix.

[2019-02-27 19:58] FionaCollins opened #1812 "Error when running radiation script for new project"
Hello

I have been struggling with setting up a new project. I get the error visible in the screenshot below when running the radiation-daysim.

![image](https://user-images.githubusercontent.com/46419981/53517978-46fb6580-3ad0-11e9-9471-fa8957e484e2.png)

There must be something going wrong in the terrain_intersection_curves but I can't figure out what.

This is the terrain file I have

![image](

[2019-02-28 12:07] martin-mosteiro commented on #1812
@FionaCollins Thanks for creating the issue. I see you managed to invert the NoData Value as we discussed yesterday, seems like that didn't solve the issue. Did you try to raise the entire case study by 6.75 meters (so the lowest point in the case study is at 0)?

[2019-03-01 07:00] JIMENOFONSECA opened #1813 "Add a zone helper tool to allow users to create zone shape file from a polygon"
I have been trying to work out to run a project in the cea dashboard (to be renamed) from scratch. It seems we are lacking an essential feature: "A landing page" for the dashboard.

The idea of this "landing page" is to point users to the first thing they should do once they open CEA:

1. Select or create a new project in CEA.

I created a diagram to present how the workflow could be, and the seri

[2019-03-01 07:50] daren-thomas opened #1814 "Dashboard tools don't report output when using multiprocessing or subprocesses"
When running tools with multiprocessing (e.g. `demand` or `photovoltaic-thermal`), the output shown in the Dashboard tools output window only shows output from the main process. The same can be observed with tools that run other programs in subprocesses (e.g. `radiation-daysim`).

[2019-03-01 10:11] #1798 closed

[2019-03-01 10:13] JIMENOFONSECA commented on #1703
@martin-mosteiro are you working on this still? I think it would be something that we should have, ideally it is only one gen and 1 individual, otherwise, it gets too long for the Jenkins.

[2019-03-01 10:19] martin-mosteiro commented on #1703
No, not really. As I mentioned above, I wrote a little code, created a branch, and left it for @daren-thomas to take over. Don't know if he did anything though.

[2019-03-01 14:34] petkovevan opened #1815 "Commercial / Residential Reference Load Profiles (Electrical + Thermal) Europe"
I am a PhD researcher at the Group for Sustainability & Technology at ETH Zurich working on a project regarding seasonal storage in different climate zones and district types. In the project, I am constructing synthetic district electrical + thermal load profiles (8760 hours) from commercial and residential profiles.

Using data from CEA would be highly beneficial to me, as it has a European focus

[2019-03-01 14:51] daren-thomas commented on #1005
@roglen do you have some input to compiling Daysim / Radiance on ubuntu? I've seen some instructions and have been able to compile a bit, but I'd like to chat with you if you have experience running the CEA on Linux.

[2019-03-02 11:59] roglen commented on #1005
@daren-thomas sadly I don't think I can be of much help here. I tried to run it in the beginning, and being a complete Ubuntu newbie I couldn't figure it out. During my time using Ubuntu I always took the Radiance files from @shanshanhsieh or @BhargavaKrishnaSreepathi and just copied them in.

[2019-03-03 13:19] emanuel030 opened #1816 "Error when running radiation-daysim with reference case"
I encounter an error when running `cea radiation-daysim` from the terminal:

[code]

The temp0.dc looks like this:
[code]

I have reinstalled DAYSIM multiple times without success.
Due to the reinstallation, if running `set` in the terminal it shows:
[code]

Is this redundancy of the path causing the error?

The setup:
- MacBook Pro (13-inch, 2017, Two Thunderbolt 3 ports)
- Parallels Desktop for

[2019-03-03 14:42] emanuel030 commented on #1816
Issue is resolved installing DAYSIM 4.0.

[2019-03-03 14:42] #1816 closed

[2019-03-03 15:25] FionaCollins commented on #1812
Hi Martin,

I tried the following without success:

- lifting the Raster terrain by a few meters
- making a "super" high and "super" deep building (making height_ag and heigh_bg very big)
- decreasing the raster cell size from 5x5 to 2x2 (because certain buildings are smaller than 4m wide and long)
- tried to modify the code line (y_index, x_index) = np.nonzero(a >= 0) to (y_index, x_index) = np.n

[2019-03-03 16:12] martin-mosteiro commented on #1812
From @FionaCollins

Seems like this issue is solved even though we don't know why. I'll go ahead and close it.

[2019-03-03 16:12] #1812 closed

[2019-03-03 18:36] martin-mosteiro opened #1817 "Error in geometry_generator.create_hollowed_facade: IndexError: list index out of range"
I get the following error when running the radiation script in the Zurich masterplan case study:
[code]

Unfortunately I can't really debug this because I don't understand the data types being used in these scripts. I tried to check the inputs being passed into the function in question look as follows:
- **Surface 52 in Building MPB1J** (which runs correctly):
![screen shot 2019-03-03 at 19 28 11]

[2019-03-03 18:39] martin-mosteiro commented on #1817
This happens not only on my local version, but also on the reference case in the cea-reference-case repository on GitHub. This reference case study used to work correctly, so maybe it's an issue arising from the move to py4design?

[2019-03-04 02:12] JIMENOFONSECA commented on #1817
@chenkianwee sorry to bother, but from the error, do you see where the problem can be? @daren-thomas just for my understanding, are we working with one specific version of py4design right?

[2019-03-04 02:13] JIMENOFONSECA commented on #1817
@martin can you try to run the script of generate geometry on its own and then try to visualize the buiding? (there are some commented lines at the end of the code that trigger a visualization of the geometry.

[2019-03-04 03:51] JIMENOFONSECA commented on #1815
@petkovevan thanks for your quesiton. Just to clarify, we do not use any outputs from Energy Plus in our simulations. We have fully developed our own demand forecasting tool based on ISO standards.

You can definitely use the demand forecasting tool of CEA to forecast the load (8760 hours) of single or multiple buildings in a neighborhood.

Creating a database of prototypical load profiles will be

[2019-03-04 07:00] gabriel-happle commented on #1794
I don't think this is fixed @JIMENOFONSECA. I'm reopening it again to not forget about it.

[2019-03-04 07:28] martin-mosteiro commented on #1817
@JIMENOFONSECA Thanks for your feedback, very cool feature! Please note that the commented lines don't work at the moment, though, because the function `fetch.geom_explorer` does not exist in py4design anymore (it seems to have been removed during the [renaming commit](https://github.com/chenkianwee/py4design/pull/13/files).

[2019-03-04 07:35] JIMENOFONSECA commented on #1817
oh, but, where you able to visualise it?
On 4 Mar 2019, 3:28 PM +0800, Martín Mosteiro-Romero <notifications@github.com>, wrote:

@JIMENOFONSECA<https://github.com/JIMENOFONSECA> Thanks for your feedback, very cool feature! Please note that the commented lines don't work at the moment, though, because the function fetch.geom_explorer does not exist in py4design anymore (it seems to have been remov

[2019-03-04 07:44] martin-mosteiro commented on #1817
Yes! ...after fixing some function names ;) Runs fine on reference-case-open, now I'll test my case study.

[2019-03-04 08:05] martin-mosteiro commented on #1817
<img width="795" alt="screen shot 2019-03-04 at 09 04 20" src="https://user-images.githubusercontent.com/18548065/53718833-a1901b00-3e5c-11e9-9367-11e54fe39764.png">
Visually, the geometry of the building looks okay to me, but once it starts to generate windows the issue occurs...

[2019-03-04 08:10] JIMENOFONSECA commented on #1817
I see, there is a place where four faces touch each other, might that be the problem?

I wonder what happens if you separate that point of the building in the shape file.

[cid:ED4629CCF22F449EB248E0768D9D2613]
On 4 Mar 2019, 4:06 PM +0800, Martín Mosteiro-Romero <notifications@github.com>, wrote:

[screen shot 2019-03-04 at 09 04 20]<https://user-images.githubusercontent.com/18548065/53718833-a19

[2019-03-04 09:29] martin-mosteiro commented on #1817
Thanks, @JIMENOFONSECA, splitting up that building worked. I wonder why this never came up before...

[2019-03-04 09:39] martin-mosteiro commented on #1817
Split up the building to avoid those four corners touching... still no success
<img width="743" alt="screen shot 2019-03-04 at 10 38 42" src="https://user-images.githubusercontent.com/18548065/53724237-c0e17500-3e69-11e9-899d-4a3ed0e1ba4f.png">

[2019-03-04 09:41] daren-thomas commented on #1005
@roglen ok, thank you! i have been able to figure out most stuff, so i think we got this.

[2019-03-04 10:04] martin-mosteiro commented on #1817
Thanks @JIMENOFONSECA

[2019-03-04 10:04] #1817 closed

[2019-03-04 11:34] daren-thomas opened #1819 "Add DAYSIM version to installation guide"
According to issue #1816, the DAYSIM version needs to be 4.0 or greater. At least on Windows. The installation guide should be updated to add this information. Note, this is only for Daysim installations that use the provided installers (Windows & Mac, as far as I know) - the Linux installation is more manual and needs to be compiled.

[2019-03-04 11:35] daren-thomas commented on #1816
@emanuel030 thank you for reporting back on resolving the issue! I have added an issue to mention the minimum Daysim version in the installation guide so future users don't run into this problem.

[2019-03-07 11:58] Jack-Hawthorne commented on #1069
@daren-thomas check out branch ``1069-db-metadata`` and run trace-inputlocator.
Note: you may have to replace your current config

The result is a json containing locator methods as keys and the details for the files they reference.
Could be an idea to also include the list/array lengths for each variable -> easy way to check for consistency (no Null/Nan of course).

Next steps are:
- to somehow m

[2019-03-07 12:03] daren-thomas commented on #1069
@Jack-Hawthorne could you send me such a json file? maybe create a gist or something?

[2019-03-07 12:06] Jack-Hawthorne commented on #1069
[data-helper.txt](https://github.com/architecture-building-systems/CityEnergyAnalyst/files/2941116/data-helper.txt)

this is converted to txt but should be helpful

[2019-03-07 13:17] #1819 closed

[2019-03-07 13:43] daren-thomas commented on #1069
@Jack-Hawthorne thank you for this. I _do_ have some comments. Let's use YAML syntax to talk about this as it is less verbose... (this is just for the discussion. but, writing the yaml file would be just as easy as writing the json file)

Your data format seems to be (i have to do some guessing here):

[code]
The excel format is similar, but actually has real worksheets.

Some improvements I think

[2019-03-08 12:42] Jack-Hawthorne commented on #1069
@daren-thomas thanks for the feedback, that shouldn't be too hard.

one thing though, the reason i made the 'fake' sheet is to be able to easily iterate for all variables ( if they are on the same level, no need for conditionals). if it doesn't matter that much though, it's no problem to do as you've said.

apart from that, do you think it would be advantageous to have the array length, script dep

[2019-03-08 13:19] Jack-Hawthorne commented on #1069
[demand.txt](https://github.com/architecture-building-systems/CityEnergyAnalyst/files/2945933/demand.txt)
this is a sample for demand

[2019-03-11 13:46] Jack-Hawthorne commented on #1069
@daren-thomas ok i've added a script dependencies method now which updates each time you run trace.
you can see which script created the file and which scripts use it. also changed the file type to yml as requested.

sample below:
[trace_dependencies_variables.txt](https://github.com/architecture-building-systems/CityEnergyAnalyst/files/2952440/trace_dependencies_variables.txt)

[2019-03-13 09:47] daren-thomas opened #1822 "Add a cea-config load/save/list feature"
As a developer, I would like to be able to quickly switch between configuration files to reduce errors when testing features designed for different cases - like heating case / cooling case.

I envision a method like:

- `cea-config save my-cooling-config` would save a copy of `~/cea.config` to `~/.cea/my-cooling-config.config`
- `cea-config load my-cooling-config` would replace `~/cea.config` with

[2019-03-13 11:33] #1808 closed

[2019-03-13 12:22] daren-thomas opened #1823 "NetworkXError: G is not a connected graph. metric_closure is not defined."
When trying to run the `cea network-layout` tool using the cooling case study (e.g. `C:\reference-case-WTP\WTP_CBD_h`, I get the following error:

[code]

@JIMENOFONSECA do you have an idea what could be the problem?

[2019-03-13 13:07] JIMENOFONSECA commented on #1823
Yes, the problem is being solved in the fix-optimization branch
On 13 Mar 2019, 20:23 +0800, Daren Thomas <notifications@github.com>, wrote:

Assigned #1823<https://github.com/architecture-building-systems/CityEnergyAnalyst/issues/1823> to @JIMENOFONSECA<https://github.com/JIMENOFONSECA>.

—
You are receiving this because you were assigned.
Reply to this email directly, view it on GitHub<https://g

[2019-03-13 15:10] daren-thomas commented on #1005
status update: The file `docker/Dockerfile` contains a machine-readable guide to installing CEA in a Linux environment, including building Daysim and has been tested to run the following scripts:

- `cea test`
- `cea radiation-daysim`

The documentation for installing on a clean ubuntu will need to be updated. I expect this to change anyway with the M2.12 (installer) efforts. It also depends on wh

[2019-03-13 15:58] Jack-Hawthorne opened #1825 "chiller_absorption.py error due to null entry"
I am currently trying to run ``decentralized`` from cli however it seems that a null entry in one of the reference case input databases is throwing off the script. There are also some divide by zero errors than come up also. See below:

[code]

[2019-03-14 02:44] shanshanhsieh commented on #1825
hi Jack,
are you running the reference-case-open with `has-cooling-season=TRUE` in `baseline/database/CH/archetypes/system_controls.xlsx`?

[2019-03-14 05:13] JIMENOFONSECA commented on #1823
fixed in #1810

[2019-03-14 05:13] #1823 closed

[2019-03-14 05:49] JIMENOFONSECA commented on #1762
@daren-thomas we fixed major problems in the last PR's for these plots. now you can continue with the integration of optimzation plots.

1. run optimization/optimization_main
2 run analysis/multicriteria/main
3. run plots/optimization/main  ---> this will generate the plots

[2019-03-14 06:26] Jack-Hawthorne commented on #1825
@shanshanhsieh i am indeed running with ``has-cooling-season=TRUE`` which is the default it appears. The error only occurs while iterating over B07. I don't know if that's any help.

[2019-03-14 06:44] shanshanhsieh commented on #1825
@Jack-Hawthorne could you please share the `Total_demand.xlsx` file?

[2019-03-14 09:10] daren-thomas commented on #1799
@JIMENOFONSECA yes, this can be closed! :) good job!

[2019-03-14 09:10] #1799 closed

[2019-03-14 09:36] shanshanhsieh opened #1826 "Document Optimization in CEA"
This issue collects what @architecture-building-systems/cea-core-developers wants to know about the supply system optimization in CEA.
This is part of @BhargavaKrishnaSreepathi 's handover.
Please feel free to raise any point you would like to know here. I will compile them and upload to the documentation (with minimum effort though, like graphs and short Q&As).

Here are some points i started, pl

[2019-03-15 06:58] JIMENOFONSECA commented on #1612
Dear CEA developers:
@shanshanhsieh @martin-mosteiro @Khayatian @BhargavaKrishnaSreepathi @shizhongming @gabriel-happle @daren-thomas

We have received 4 serious e-mails about people interested to attend to the CEA executive course in Zurich. I feel we need to start defining this.

Since the executive course is a necessary Milestone to drive the development of CEA, and our still only direct way to

[2019-03-15 09:59] Jack-Hawthorne commented on #1825
@shanshanhsieh sure thing, i'll just link here as text
[Total_demand.txt](https://github.com/architecture-building-systems/CityEnergyAnalyst/files/2970410/Total_demand.txt)

[2019-03-18 02:24] BhargavaKrishnaSreepathi opened #1827 "Config file is getting reset to default values after running scripts"
After running scripts, the `cea.config` present in the local computer is being reset to default values. This has been observed while running the `optimization_main.py` script, also while running few scripts in a different branch.

@shanshanhsieh:  you can add in your experience regarding the same.

@daren-thomas: Any idea why this is happening?

[2019-03-18 04:05] JIMENOFONSECA commented on #1612
Update:
@Khayatian is in :-)
@daren-thomas booked the room :-)

[2019-03-18 05:43] shanshanhsieh commented on #1826
@BhargavaKrishnaSreepathi
please check the workflows and update the additional parts in this issue.

[2019-03-18 09:00] daren-thomas commented on #1612
@JIMENOFONSECA actually, it was too far in advance. i did some calculations and it seems i might be able to book it today. so: still trying.

[2019-03-18 09:43] daren-thomas commented on #1612
@JIMENOFONSECA the room is booked!

[2019-03-18 09:45] daren-thomas commented on #1827
@BhargavaKrishnaSreepathi how do i reproduce this behavior? Can you please provide exact steps?

[2019-03-18 12:16] BhargavaKrishnaSreepathi commented on #1827
1. For a cooling case study (take one of the singapore case studies).
2. Change the config file representing the cooling scenario. Make the flag `district-cooling-network` as `True`. Replace all the `DH` in the config file with `DC`.
3. Save the config file and close it.
4. Run `cea\optimization\optimization_main.py` or run `cea\plots\optimization\main.py`. We observed the behaviour while we ran t

[2019-03-18 13:41] daren-thomas commented on #1827
@BhargavaKrishnaSreepathi what exactly got changed? All the values? Some specific ones? How did you run the scripts?

[2019-03-18 13:47] BhargavaKrishnaSreepathi commented on #1827
@daren-thomas: Everything in the `general` section of the config file got changed to default values. I ran the scripts from Pycharm (not the command prompt)

[2019-03-20 01:30] JIMENOFONSECA opened #1828 "Make one-for-all installer for windows"
After some discussion with @daren-thomas in the Epic, I believe we should go the executable route. At the best we develop a Cross-platform installer of CEA.

WORKFLOW
The installer should prompt to the user the next option:

Indicate where CEA will be installed.
Then the installer should ask the user to select one option of the next:

1. Repair existing installation of CEA
2. Do a fresh installati

[2019-03-20 01:35] JIMENOFONSECA opened #1829 "Prepare invitations and website"
Use the same template as last year and create

1.  Registration page in the website.
2. Send first batch of invitations to downloaders of CEA.

[2019-03-20 01:39] JIMENOFONSECA commented on #1777
@shanshanhsieh @daren-thomas could we add this to an epic? thanks!

[2019-03-20 01:39] JIMENOFONSECA commented on #1786
@martin-mosteiro is this still an issue? maybe we can add it to a milestone?, epic?

[2019-03-20 01:42] #1815 closed

[2019-03-20 01:48] JIMENOFONSECA commented on #1822
This is a good idea. Could this be coupled with moving the cea.config to the 'CityEnergyAnalyst/cea' location? We could include a git.ignore, so this file is not updated by the developers everytime we merge.

This location of the cea.config will make MUCH easier for new users to use the config file. Also for us. since we avoid having to go to the explorer, users names etc.. to get to the file.

In

[2019-03-20 01:52] JIMENOFONSECA commented on #753
@daren-thomas @BhargavaKrishnaSreepathi do you think we can close this issue now? if not, which is the plan of action?

[2019-03-20 01:56] JIMENOFONSECA commented on #1829
We are ready to send invitations. Here is the link to the registration page. @Khayatian thanks for chipping in :-). @gabriel-happle @shanshanhsieh should I put you also inside for now? I guess it would make sense that one of you guys can join us just for the course. Especially if someone of you is going to CISBAT.

https://cityenergyanalyst.com/executive-course-2019

[2019-03-20 02:31] JIMENOFONSECA commented on #1791
@gabriel-happle @daren-thomas from the CEA plan

CEA Surveys - Starting on the 1st of April of 2019. Repeats every quarter.
**Description:**
A survey to existing users of CEA. It should consist of 3 to 5 questions. Example: see Issue #1791 @gabriel-happle

**Goal(s):**
Identify “What is the worst feature of CEA” aka the hurting point
Identify “What is the best feature of CEA”
Identify "How user fr

[2019-03-20 02:31] JIMENOFONSECA commented on #1791
@gabriel-happle I believe you can add these quesitons to the survey:

Identify “What is the worst feature of CEA” aka the hurting point
Identify “What is the best feature of CEA”
Identify "How user friendly is CEA" (1-5 stars), possibly in a few categories (installation, running simulations, analysing results)

[2019-03-20 02:38] JIMENOFONSECA commented on #1791
@gabriel-happle you can us mail-chimp to distribute the survey. I send you the password and the list of contacts

[2019-03-20 08:44] daren-thomas commented on #1822
@JIMENOFONSECA what do you mean by the `CityEnergyAnalyst/cea` location? The source folder? Definitely not! That's the whole point of keeping it where it is: It's part of the installation, not part of the source code!

Also, you can use `cea-config` to make changes to the config file OR (even better) use the dashboard interface?

I see this issue going hand in hand with your issue #1813. We used t

[2019-03-20 08:59] martin-mosteiro commented on #1786
@JIMENOFONSECA It is, it's just not a priority for anyone, so I don't think anyone is working on it.

[2019-03-20 09:05] JIMENOFONSECA commented on #1829
@gabriel-happle @shanshanhsieh let me know, so I can update the website asap

[2019-03-20 09:07] JIMENOFONSECA commented on #1827
@daren-thomas I have the same problem when I run a new installation of CEA. all values get reset.

@daren-thomas I also see a quirky behaviour. When I do a fresh installation of CEA, I have to run a random program to make the cea.config show up. But should not it be ready after installing it?

[2019-03-20 09:11] JIMENOFONSECA commented on #1822
I see, Would it be possible that the source code is the installation of CEA?

I do not get where CEA is installed vs. source code location.

Maybe it makes sense to create an installer that indicates where CEA will be installed and create the config file in there? It will make sense to keep the source code in there too. Right?

Having the config file in the %userprofile% is just a difficult place

[2019-03-20 09:13] daren-thomas commented on #1069
@JIMENOFONSECA I'm not sure this is done yet.

[2019-03-20 09:16] daren-thomas commented on #1822
@JIMENOFONSECA we should probably skype regarding difference between source and product. I think we're not quite on the same page here.

[2019-03-20 09:19] JIMENOFONSECA commented on #1822
sure, let's do this, I am on skype now

________________________________
From: Daren Thomas [notifications@github.com]
Sent: Wednesday, March 20, 2019 5:16 PM
To: architecture-building-systems/CityEnergyAnalyst
Cc: Jimeno Fonseca; Mention
Subject: Re: [architecture-building-systems/CityEnergyAnalyst] Add a cea-config load/save/list feature (#1822)

@JIMENOFONSECA<https://github.com/JIMENOFONSECA>

[2019-03-20 09:20] daren-thomas commented on #1827
@JIMENOFONSECA what exactly do you view as "run a new installation of CEA"? what are the steps?

regarding the `cea.config`: that is created on first access. We don't really have an installer. That's where this file would be created.

[2019-03-20 09:21] daren-thomas commented on #1822
I'm busy with the optimization plots. This would be a distraction. Next week?

[2019-03-20 09:23] JIMENOFONSECA commented on #1822
ok.. Monday will work. Tuesday, I might be in surgery :-(
________________________________
From: Daren Thomas [notifications@github.com]
Sent: Wednesday, March 20, 2019 5:21 PM
To: architecture-building-systems/CityEnergyAnalyst
Cc: Jimeno Fonseca; Mention
Subject: Re: [architecture-building-systems/CityEnergyAnalyst] Add a cea-config load/save/list feature (#1822)

I'm busy with the optimization

[2019-03-20 09:24] daren-thomas commented on #1822
oh no! good luck with surgery!!

[2019-03-20 09:25] JIMENOFONSECA commented on #1827
"run a new installation of CEA". I mean, I do a fresh installation of CEA.
________________________________
From: Daren Thomas [notifications@github.com]
Sent: Wednesday, March 20, 2019 5:20 PM
To: architecture-building-systems/CityEnergyAnalyst
Cc: Jimeno Fonseca; Mention
Subject: Re: [architecture-building-systems/CityEnergyAnalyst] Config file is getting reset to default values after running sc

[2019-03-20 09:26] daren-thomas commented on #1828
The installation process being less than 10 minutes is probably an unrealistic goal. We should talk about options. I have some ideas.

[2019-03-20 09:28] daren-thomas commented on #1827
to clarify: you mean, follow the [installation guide](https://city-energy-analyst.readthedocs.io/en/latest/installation-on-windows.html) steps 1-10?

[2019-03-20 09:53] JIMENOFONSECA commented on #1827
Sorry, I mean these two steps:

  *   Conda env update
  *   Pip install .[dev]

_______________________

Dr. Jimeno A. Fonseca
Senior researcher and project coordinator
Future cities Laboratory
Singapore ETH-Centre

On 20 Mar 2019, 17:28 +0800, Daren Thomas <notifications@github.com>, wrote:

to clarify: you mean, follow the installation guide<https://city-energy-analyst.readthedocs.io/en/latest/

[2019-03-20 09:54] JIMENOFONSECA commented on #1828
Sure, lets put this point in the agenda of next monday’s meeting. Would 4:00pm singapore work for you?

_______________________

Dr. Jimeno A. Fonseca
Senior researcher and project coordinator
Future cities Laboratory
Singapore ETH-Centre

On 20 Mar 2019, 17:26 +0800, Daren Thomas <notifications@github.com>, wrote:

The installation process being less than 10 minutes is probably an unrealistic goa

[2019-03-20 10:51] shanshanhsieh commented on #1829
@JIMENOFONSECA  yes, please keep me in the loop for now!

[2019-03-20 12:49] daren-thomas commented on #1828
i sent you a calendar invite :) see you then!

[2019-03-20 14:34] daren-thomas commented on #1005
status update: our changes to the py4design fork have been merged to the original by kianwe and we can now continue with the development of the installation guide and the Dockerfile.

[2019-03-20 15:39] martin-mosteiro opened #1831 "Geometry generator does not generate courtyards!"
The geometry generator appears unable to process buildings with courtyards! Basically, these buildings seem to be imported as solid blocks with no empty space in the middle. See images below (the extruded shapefile is shown in pink on the left, the visualization from `geometry_generator.py` is in white on the right):
![oopsie](https://user-images.githubusercontent.com/18548065/54697416-d0311580-4b

[2019-03-21 01:19] JIMENOFONSECA commented on #1831
This has to do with the level of simplification used in the Daysim engine. It might be too high for this case.

In order to change it, do the next, in the Daysim radiation configuration use:

zone-geometry = 1

and check the results, if it does not work try:

zone-geometry = 0

Check the results, if does not work, let me know.

Jimeno
On 20 Mar 2019, 11:39 PM +0800, Martín Mosteiro-Romero <notific

[2019-03-21 02:27] #1829 closed

[2019-03-21 02:30] JIMENOFONSECA commented on #1781
@daren-thomas I had an e-mail the other day of a person asking about this. Is this still an issue? maybe that person installed an old version of CEA with this bug?

[2019-03-21 02:32] JIMENOFONSECA commented on #1736
@daren-thomas Any update? I believe we have the environment for linuk/ubuntu ready?

[2019-03-21 02:35] JIMENOFONSECA commented on #1634
@daren-thomas yep, as discussed some months ago, this will mean refactoring all plots. This is a won't have for this year at least.

[2019-03-21 02:37] JIMENOFONSECA commented on #1594
Adding to list of known issues. For now, users would need to check for that in their input files.

[2019-03-21 02:39] JIMENOFONSECA commented on #1576
closing issue, we will not offer anymore support for arcgis in a few months time, and there is no one doing this untill then

[2019-03-21 02:39] #1576 closed

[2019-03-21 02:43] JIMENOFONSECA commented on #1555
Since we will end support for ArcGis soon, we will most likely not be able to solve this issue

[2019-03-21 02:43] #1555 closed

[2019-03-21 02:44] JIMENOFONSECA commented on #1512
This will not take place in the current year

[2019-03-21 02:44] #1512 closed

[2019-03-21 02:45] JIMENOFONSECA commented on #1491
@daren-thomas is this still the case?

[2019-03-21 02:46] JIMENOFONSECA commented on #1478
moving all related to ArcGIS to won't have.

[2019-03-21 02:46] JIMENOFONSECA commented on #1475
@daren-thomas this exists already right? should we close this issue?

[2019-03-21 02:49] JIMENOFONSECA commented on #1218
@gabriel-happle was this fixed in any of the releases?

[2019-03-21 02:52] JIMENOFONSECA commented on #875
The retrofit potential tool is not anymore supported so this issue can be closed

[2019-03-21 02:52] #875 closed

[2019-03-21 02:53] JIMENOFONSECA commented on #754
@BhargavaKrishnaSreepathi I wonder if this was fixed?

[2019-03-21 02:55] JIMENOFONSECA commented on #541
The tool was renamed to data helper. Closing this issue.

[2019-03-21 02:55] #541 closed

[2019-03-21 02:58] JIMENOFONSECA commented on #446
This is not a priority, but It would be great if a contributor works on this in the near future

[2019-03-21 02:59] JIMENOFONSECA commented on #524
@shanshanhsieh this was merged long time ago right?

[2019-03-21 03:00] #936 closed

[2019-03-21 07:00] martin-mosteiro commented on #1831
Thanks for the quick suggestion. The results with `zone_geometry = 1` are the same as before:
<img width="677" alt="Screen Shot 2019-03-21 at 07 58 08" src="https://user-images.githubusercontent.com/18548065/54737204-27c39580-4baf-11e9-8e8a-17f7b3915a07.png">

`zone_geometry = 0` leads to the following:
[code]
(no geometry generated)

[2019-03-21 07:01] martin-mosteiro commented on #1831
This error message seems to be a problem with my installation, not with CEA, so I'll try to fix that next...

[2019-03-21 07:02] JIMENOFONSECA commented on #1831
@martin-mosteiro what happens if you comment the line in the code that does the simplification to the geometry of the zone? do you get the same results?

[2019-03-21 07:07] martin-mosteiro commented on #1831
[code]
(as before)

[2019-03-21 07:15] JIMENOFONSECA commented on #1831
On the other hand, there is a way around to this, which we made for the cases of the WTP (see reference cases.

[2019-03-21 07:19] JIMENOFONSECA commented on #1831
but wait, I am asking Kianwee for help , who developed this in this issue: https://github.com/chenkianwee/py4design/issues/16

[2019-03-21 07:24] shanshanhsieh commented on #524
yes, these functionalities were added and merged.

[2019-03-21 07:24] #524 closed

[2019-03-21 08:50] daren-thomas commented on #1811
hey @Jack-Hawthorne what is the status of this?

[2019-03-21 09:07] martin-mosteiro commented on #1831
Yeah, I figured that would be an option. Not ideal, but workable.

[2019-03-21 09:13] #1762 closed

[2019-03-21 09:36] BhargavaKrishnaSreepathi opened #1833 "Add in more documentation and update the naming of flexibility_model in CEA"
As the name suggests, include more documentation and ways to run

[2019-03-21 09:52] #1176 closed

[2019-03-21 10:13] JIMENOFONSECA commented on #1831
If it is not urgent let’s wait for a week. maybe kianwee can help us to solve it

_______________________

Dr. Jimeno A. Fonseca
Senior researcher and project coordinator
Future cities Laboratory
Singapore ETH-Centre

Chair of Architecure and Building Systems
ETH Zurich

On 21 Mar 2019, 17:07 +0800, Martín Mosteiro-Romero <notifications@github.com>, wrote:

Yeah, I figured that would be an option.

[2019-03-21 10:14] martin-mosteiro commented on #1831
Not urgent, I can use the workaround for the next round of results to be delivered and this issue does not seem to affect @prakharmehta95's project.

[2019-03-21 10:35] martin-mosteiro opened #1834 "DH_hs_MWhyr, DC_hs_MWhyr and district energy supply plots are misleading"
I think these variables and plots present misleading information.

See line 308 in `thermal_loads.py` - here the electricity demand for producing the district heating used in the district is calculated, not the amount of district heating supplied (i.e., `tsd['DH_hs'] = tsd['Qhs_sys'] / efficiency_average_year`, where the `efficiency_average_year` is a COP). However, since the variable is labeled "

[2019-03-21 10:44] martin-mosteiro opened #1835 "Add floor cooling option to CEA demand calculation"
@FionaCollins's case study includes floor cooling but this currently not available in CEA (and actually labeled as `TODO`). This needs to be added as an option.

[2019-03-21 18:29] emanuel030 opened #1836 "Network layout does not handle disconnected street networks"
I tried running `cea network-layout` on a new project and it raised following error:

[code]
I have attached the used cea.config file as a text file.
[cea.txt](https://github.com/architecture-building-systems/CityEnergyAnalyst/files/2993117/cea.txt)

The reference case is working fine on my machine. The coordinate system of the streets.shp file has been checked and is the same as the zone.shp file

[2019-03-22 12:55] gabriel-happle commented on #1218
@JIMENOFONSECA no, this has not been addressed so far.

[2019-03-25 07:36] Jack-Hawthorne commented on #1811
I haven't started yet. the purpose is in the title - why have doc strings if you cannot parse them. all the ``__future__``  should be able to have docstrings preceding, and are preventing access via the doc method.

in addition i can have a look at the inputlocator doc strings, some of which are out of date

[2019-03-25 08:11] JIMENOFONSECA commented on #1813
https://idethz-my.sharepoint.com/:o:/g/personal/ubjt71fbg4_ethz_ch/Es0fFNX5BEJIsW6llzWVWkcBV5TpDQrM17p3_TJbyKwB8Q?e=WTpKv4

[2019-03-25 08:42] JIMENOFONSECA commented on #1828
Folder structure:
(inside the Documents folder)

-CEA
---Repository
---Projects

[2019-03-25 14:16] daren-thomas commented on #1836
@JIMENOFONSECA is this the right coordinate system to use?

[2019-03-25 15:12] martin-mosteiro commented on #1836
@JIMENOFONSECA This seems to be an issue created since the move away from ArcGIS. The old network layout tool (which used BackgroundGP) was used earlier this year to generate thermal networks using the same shapefiles being used by @emanuel030. Indeed, reverting to the previous version of the layout tool (which used BackgroundGP) allows the layout to be created without issue. Could you maybe comme

[2019-03-26 03:09] JIMENOFONSECA commented on #1836
I can take a look at it. @martin-mosteiro can you tell me which case study, files and steps you did in order to reproduce the error

[2019-03-26 08:14] JIMENOFONSECA commented on #1834
@martin-mosteiro could you describe the steps you made. Maybe I can reproduce and see which plots you mean?
A picture of the plots you are referring to will also be useful. I get lost in the variety :-)

[2019-03-26 08:14] JIMENOFONSECA commented on #1833
@BhargavaKrishnaSreepathi is there any suggestion for the renaming of the tools?

[2019-03-26 08:49] martin-mosteiro commented on #1834
@FionaCollins could you maybe provide one of the graphs or data sets that we discussed the other day?
@JIMENOFONSECA basically `DC_sys` in the outputs is given as `Qcs_sys/COP`. So if the cooling demand is, say, 300 MWh/yr and the system COP is 3, then DC_sys is 100 MWh/yr. But this would then be 100 MWh/yr of electricity, not 100 MWh/yr of cooling, hence why I think the naming is misleading.

[2019-03-26 08:51] martin-mosteiro commented on #1836
@JIMENOFONSECA a follow up from @emanuel030:

[code]

We will meet again on Thursday afternoon and check out the issue. @emanuel030 please keep me posted if anything else in the mean time.

[2019-03-26 09:05] JIMENOFONSECA commented on #1836
We were facing this problem a couple of weeks ago. It was solved in the current version in Master (that of a couple of weeks ago).

Let me know if you have more issues. The best, Is that you upload the Zone and streets shapefiles. I can check what is happening with that
On 26 Mar 2019, 4:52 PM +0800, Martín Mosteiro-Romero <notifications@github.com>, wrote:

@JIMENOFONSECA<https://github.com/JIMEN

[2019-03-26 10:42] emanuel030 commented on #1836
@JIMENOFONSECA Thanks for looking into this issue. The used shapefiles and the config file are attached. All shapefiles are in coordinate system WGS_1984_UTM_Zone_32N like the reference case.
[reproduce_error.zip](https://github.com/architecture-building-systems/CityEnergyAnalyst/files/3007721/reproduce_error.zip)

[2019-03-26 13:41] emanuel030 commented on #1836
Update: I drew up a new streets shape file [streets.zip](https://github.com/architecture-building-systems/CityEnergyAnalyst/files/3008330/streets.zip) with which the old ArcGis version (using `git reset --hard 60c3e28`) does work. It produces edges and nodes shape files and just gives following warning:

[code]

The shapely version still gives the same error posted in the original comment.

[2019-03-26 13:57] daren-thomas opened #1840 "Broken link in tutorials section of documentation"
The link nr. 9 in the [advanced section of the tutorials page](https://city-energy-analyst.readthedocs.io/en/latest/tutorials.html#advanced) is broken.

I think it might be a simple typo.

It _should_ link to here: https://city-energy-analyst.readthedocs.io/en/latest/how-to-run-thermal-network-optimization.html?highlight=thermal%20network

[2019-03-26 14:44] emanuel030 commented on #1836
Yes, master branch still throws the same error with the new shapefile.

[2019-03-26 17:01] Jack-Hawthorne commented on #1825
i've also tried running this with the following config and am getting the following:
[code]
not sure if someone has changed the LcaCalculations recently to require 3 args but this is another issue

[2019-03-26 17:08] Jack-Hawthorne opened #1841 "Incomplete function call in energy_mix_based_on_technologies_script.py"
Path:
[code]
function:
[code]
Line 47
[code]

Not sure how this got merged, but hopefully not too big an issue.

[2019-03-26 17:13] Jack-Hawthorne commented on #1840
haha hot-to-run - apparently not.

[2019-03-26 17:34] Jack-Hawthorne commented on #1069
@daren-thomas still having troubles with decentralized. see #1825
also found an issue in #1841 which is halting progress also.

[2019-03-27 02:08] JIMENOFONSECA commented on #1825
@shanshanhsieh any ideas? @daren-thomas I believe you modified the name to LcaCalculations in one of the latest PR's. is that so?

[2019-03-27 02:09] JIMENOFONSECA commented on #1841
@BhargavaKrishnaSreepathi is this supposed to be? maybe it creates some files but does not retunr anything right?

[2019-03-27 02:38] JIMENOFONSECA commented on #1836
Alright, so I found the problem. It turns out that the new open source script cannot handle shapefiles with disconnected streets. See picture.

If you remove those streets, then it runs. While I was at it, I created some warnings for the user.

@emanuel030 I attache the streets.shp without the unwanted (disconnected) streets. Would you mind testing it again using branch i1836-network-layout?

let

[2019-03-27 09:11] daren-thomas commented on #1825
@Jack-Hawthorne @JIMENOFONSECA @shanshanhsieh my bad. I'm super sorry - I refactored something and missed three invocations of LcaCalculations.

I've fixed this in #1843

[2019-03-27 17:01] prakharmehta95 commented on #1831
Actually it does affect my project as the output data becomes incorrect, but I am fine with waiting a week or two. Else I try the workaround.

[2019-03-28 11:00] shizhongming opened #1844 "Grasshopper interface: robust parser from GH geometries to the CEA format"
As of the MuSES review on 28 March 2019, the connection between GH and CEA is built in this workflow: GH geometries -> coordinates in excel format -> CEA converts excel to shapefile. Yet we need to a robust parser doing this.
There is good news. At the end of Year 2018, I realized that there is a toolbox at Grasshopper converting GH geometries to shapefile. In this way, we can bypass the excel as

[2019-03-28 14:06] martin-mosteiro commented on #1835
@FionaCollins could you please provide the floor cooling systems parameters you used for your project in order to test them on this branch?

[2019-03-28 14:46] martin-mosteiro commented on #1836
@JIMENOFONSECA Thanks for checking that out, unfortunately this does not seem to solve the issue for me:
[code]

[2019-03-28 15:01] emanuel030 commented on #1836
Same for me, the problem is not with disconnected streets in the streets shapefile. The file I have recently used was reduced to this:
[streets_smaller.zip](https://github.com/architecture-building-systems/CityEnergyAnalyst/files/3018582/streets_smaller.zip) and it definitely does not include disconnected streets and works with the ArcGis Version (git reset --hard 60c3e28).

[2019-03-28 15:07] JIMENOFONSECA commented on #1836
Mmm. Are you working in the branch I mentioned? I corrected for the error you just showed me there martin.

On 28 Mar 2019, 23:01 +0800, emanuel030 <notifications@github.com>, wrote:

Same for me, the problem is not with disconnected streets in the streets shapefile. The file I have recently used was reduced to this:
streets_smaller.zip<https://github.com/architecture-building-systems/CityEnergyAn

[2019-03-28 15:10] #1805 closed

[2019-03-28 17:16] emanuel030 commented on #1836
@JIMENOFONSECA The i1836-network-layout branch does work for running `cea network-layout`.
Thank you for looking into this!

[2019-03-29 02:00] JIMENOFONSECA commented on #1836
@emanuel030 no problem, thanks for the feedback!, this helps us to build a better tool for you and me :-).

@martin-mosteiro would you mind checking the PR related to this issue? Thanks!

[2019-04-01 05:46] gabriel-happle commented on #1776
Dear @FionaCollins ,

In order for us to better understand the needs of our users and steer the development of the tool in the future we would like to understand why and how you are using the CityEnergyAnalyst.

Please help us by answering 10 short questions in the [CEA user survey](https://forms.gle/6nR8V5JEDM593g5eA).
The feedback we receive will determine the focus of the upcoming development e

[2019-04-01 05:48] gabriel-happle commented on #1736
Dear @billpoon12138 ,

In order for us to better understand the needs of our users and steer the development of the tool in the future we would like to understand why and how you are using the CityEnergyAnalyst.

Please help us by answering 10 short questions in the [CEA user survey](https://forms.gle/6nR8V5JEDM593g5eA).
The feedback we receive will determine the focus of the upcoming development

[2019-04-01 05:49] gabriel-happle commented on #1734
Dear @justinfmccarty ,

In order for us to better understand the needs of our users and steer the development of the tool in the future we would like to understand why and how you are using the CityEnergyAnalyst.

Please help us by answering 10 short questions in the [CEA user survey](https://forms.gle/6nR8V5JEDM593g5eA).
The feedback we receive will determine the focus of the upcoming development

[2019-04-01 05:50] gabriel-happle commented on #1722
Dear @hoseq,

In order for us to better understand the needs of our users and steer the development of the tool in the future we would like to understand why and how you are using the CityEnergyAnalyst.

Please help us by answering 10 short questions in the [CEA user survey](https://forms.gle/6nR8V5JEDM593g5eA).
The feedback we receive will determine the focus of the upcoming development efforts.

[2019-04-01 05:51] gabriel-happle commented on #1694
Dear @kerembeygo,

In order for us to better understand the needs of our users and steer the development of the tool in the future we would like to understand why and how you are using the CityEnergyAnalyst.

Please help us by answering 10 short questions in the [CEA user survey](https://forms.gle/6nR8V5JEDM593g5eA).
The feedback we receive will determine the focus of the upcoming development effo

[2019-04-01 05:56] gabriel-happle commented on #1791
survey sent via CEA mailing list plus posted on 5 issues tagged `user support`.
Closing this for now.
Creating two new issues for analyzing data and modifying the survey for the next round.

[2019-04-01 05:56] #1791 closed

[2019-04-01 05:58] gabriel-happle opened #1847 "Analyze results of first CEA user survey"
Analyze the results of the first CEA user survey #1791.
Identify user needs for the further development of CEA.

[2019-04-01 06:03] gabriel-happle opened #1848 "Update CEA user survey for second round"
Analyze the results of the first CEA user survey #1791, #1847.
Update the survey based on the collected experience.
Send out the second survey by 01. JULY 2019.
This is in line with the CEA future (white paper).

[2019-04-01 08:29] JIMENOFONSECA opened #1849 "Streets and district file form Open street map"
This issue should provide access to CEA users to open street maps data.

Part of this issue will be 2 new tools

1. streets-helper tool: This tool will automatically obtain and clean the streets.shp file for CEA, from Open street maps.

2. District-helper tool: This tool will automatically obtain and clean the district.shp file for CEA, from Open street maps

[2019-04-01 08:38] JIMENOFONSECA opened #1851 "Terrain file with a fixed elevation"
This issue should provide access to CEA users to terrain data

Part of this issue will be 1 tool

terrain-helper tool: This tool will automatically obtain a raster file with one fixed elevation. This should work for most cases.

[2019-04-01 09:20] martin-mosteiro opened #1852 "Occupancy documentation"
The occupancy modeling part of CEA should be documented better. There are a couple of workflow diagrams I created last week as well as a Spacergy deliverable that describes what is going on in these scripts. I will send these to @Jack-Hawthorne for him to incorporate these into his work.

[2019-04-01 12:46] martin-mosteiro opened #1853 "CEA can only process case studies above sea level"
The `geometry_generator` includes the following in line 359:
[code]
This means that only the values in the terrain file that are greater than 0 are considered. However, it's possible to have case studies below sea level, as @FionaCollins showed in the Almere case study.

Setting the minimum to some arbitrary value (e.g., the altitude of Jericho, the lowest city in the world at -258 m) unfortunatel

[2019-04-01 13:31] JIMENOFONSECA commented on #1853
Fiona’s solution is the best since the behavior of daysim might me unpredictible in that regard....

Any chance of you /Fiona helping us to automate this in CEA?

_______________________

Dr. Jimeno A. Fonseca
Senior researcher and project coordinator
Future cities Laboratory
Singapore ETH-Centre

Chair of Architecure and Building Systems
ETH Zurich

On 1 Apr 2019, 20:47 +0800, Martín Mosteiro-Rom

[2019-04-01 13:32] martin-mosteiro commented on #1853
Can!

[2019-04-01 13:44] #1811 closed

[2019-04-01 13:44] #1840 closed

[2019-04-01 13:47] Jack-Hawthorne commented on #1841
@BhargavaKrishnaSreepathi @JIMENOFONSECA this issue is triggering all the jenkins tests to fail, can it be fixed soon? it looks pretty minor.

[2019-04-02 11:48] martin-mosteiro commented on #1853
Interestingly, I cannot replicate @FionaCollins's issue. When I run the `geometry_generator`, I simply get all buildings lying on a flat surface (i.e., the elevation appears to be simply ignored due to this `a >= 0` line).

![Screen Shot 2019-04-02 at 13 46 02](https://user-images.githubusercontent.com/18548065/55400352-f0a99880-554d-11e9-8227-f4983345fc7b.png)

[2019-04-02 14:44] emanuel030 opened #1855 "DC Network non-looped simulation with 258 buildings throws Memory Error"
I am currently trying to run thermal_network.py for a case study with 258 buildings:

![zone_streets](https://user-images.githubusercontent.com/26175926/55408888-3cb20880-5561-11e9-8c43-91e8aa752dbb.png)
with following edges&nodes .shp files:
[edges_nodes.zip](https://github.com/architecture-building-systems/CityEnergyAnalyst/files/3034269/edges_nodes.zip)

The defined parameters for the optimizat

[2019-04-02 19:23] FionaCollins commented on #1835
A new entry 'T5' was made. However the Case Study of Almere highjacks 'T1' ;)
The parameters were set as follows:

Description | code | Qcsmax_Wm2 | dTcs_C | Tscs0_ahu_C | dTcs0_ahu_C | Tc_sup_air_ahu_C | Tscs0_aru_C | dTcs0_aru_C | Tc_sup_air_aru_C | Tscs0_scu_C | dTcs0_scu_C
floor cooling   (15/20) | T5 | 100 | 0.5 | NA | NA | NA | NA | NA | NA | 15 | 5

[2019-04-02 19:36] FionaCollins commented on #1853
@martin-mosteiro, I tried that same again and you are right it also works for me the same way now. I am not exactly sure what happened there. I was stuck with this error message for quite some time:

![image](https://user-images.githubusercontent.com/46419981/55430415-5584e300-558e-11e9-8c55-a443eaebd924.png)

with this from the debugging
![image](https://user-images.githubusercontent.com/46419981

[2019-04-02 19:50] FionaCollins commented on #1853
As I can't push my branch to the Git at the moment I will post a screenshot of the relevant code modifications here:
![image](https://user-images.githubusercontent.com/46419981/55431620-523f2680-5591-11e9-8fb2-3d45269c7eb5.png)

Just one line was added to shift the terrain up.

[2019-04-02 20:43] FionaCollins commented on #1834
The columns you are talking about are highlighted here:

[Total_demand.xlsx](https://github.com/architecture-building-systems/CityEnergyAnalyst/files/3035838/Total_demand.xlsx)

- In general I would say that a little clean up of the demand output variables could be helpful.
- Also updating the glossary to include all the variable explanations could be considered. The variables defined up until now

[2019-04-03 12:46] daren-thomas commented on #1069
@Jack-Hawthorne what is the current status?

[2019-04-04 07:18] JIMENOFONSECA commented on #1855
@shanshanhsieh maybe you have some insights about this?

[2019-04-04 07:22] JIMENOFONSECA commented on #1853
@martin-mosteiro @FionaCollins this could be in principle one implementation. However, it would be good to include an if-else loop that does not move the elevation up all the time.

maybe you can do this by first calculating in the raster if there are negative values, between -150 and 0. and then moving the entire raster up as required.

It is important to not calculate this for neither all negati

[2019-04-04 07:37] JIMENOFONSECA opened #1857 "Selection of participants"
Normally we get a wide number of applications and need to select 15. I make an update of this in here.

[2019-04-04 07:41] daren-thomas opened #1858 "Write blog post for M2.12"
Each Milestone we write a blog post. @JIMENOFONSECA is taking the lead.

[2019-04-04 08:22] daren-thomas commented on #1834
@martin-mosteiro, @FionaCollins: I think what @JIMENOFONSECA was asking for is the list of plots affected?

[2019-04-04 08:26] daren-thomas commented on #1841
@BhargavaKrishnaSreepathi @JIMENOFONSECA I just checked and master still has this error. Is there progress being made on this? Who to assign it to?

[2019-04-04 08:33] daren-thomas commented on #1595
@gabriel-happle do we have a status update on this? how to prioritize it?

[2019-04-04 08:35] daren-thomas commented on #1069
(status update from @Jack-Hawthorne: there is meta-data from the trace-inputlocator script in the branch `1069-db-meta`)

[2019-04-04 08:46] daren-thomas commented on #753
@JIMENOFONSECA It is still being used extensively in the metamodel/nn_generator scripts - what is the status of those? do they work? should they be moved to legacy if they don't?

Other places to fix:

- `cea.demand.occupancy_model.main`: uses `gv.date_start` (this can be fixed, right, @gabriel-happle?)
- `cea.optimization.optimization_main.main`: used in multiple places...
- `cea.demand.calibrati

[2019-04-04 09:10] gabriel-happle commented on #753
@daren-thomas I will take a look at the first point and fix it.

[2019-04-04 09:13] gabriel-happle opened #1859 "remove gv.date_start from occupancy model"
`cea.demand.occupancy_model.main`: uses `gv.date_start`
remove this, so that the `gv` can be finally removed.

[2019-04-04 09:23] #1836 closed

[2019-04-04 09:27] JIMENOFONSECA commented on #1595
Yep, it will just not work for terrains with 0 elevation. It seems to be a daysim problem.

[2019-04-04 09:27] #1595 closed

[2019-04-04 09:34] JIMENOFONSECA commented on #1851
fixed in #1849

[2019-04-04 09:45] gabriel-happle commented on #1836
Dear @emanuel030 ,

In order for us to better understand the needs of our users and steer the development of the tool in the future we would like to understand why and how you are using the CityEnergyAnalyst.

Please help us by answering 10 short questions in the [CEA user survey](https://forms.gle/6nR8V5JEDM593g5eA).
The feedback we receive will determine the focus of the upcoming development eff

[2019-04-04 09:50] gabriel-happle commented on #1841
@JIMENOFONSECA @daren-thomas this is maybe part of the dashboard (optimization plots)

[2019-04-04 09:57] gabriel-happle commented on #1831
Dear @prakharmehta95  ,

In order for us to better understand the needs of our users and steer the development of the tool in the future we would like to understand why and how you are using the CityEnergyAnalyst.

Please help us by answering 10 short questions in the [CEA user survey](https://forms.gle/6nR8V5JEDM593g5eA).
The feedback we receive will determine the focus of the upcoming developmen

[2019-04-04 09:59] JIMENOFONSECA commented on #1831
@prakharmehta95 so we did not get any answers from the developers of this library used in CEA to create the geometries. We will have to do the workaround for now (see my comment above)

[2019-04-04 10:01] #1825 closed

[2019-04-04 10:07] #1328 closed

[2019-04-04 10:13] gabriel-happle commented on #1835
Dear @FionaCollins,

In order for us to better understand the needs of our users and steer the development of the tool in the future we would like to understand why and how you are using the CityEnergyAnalyst.

Please help us by answering 10 short questions in the [CEA user survey](https://forms.gle/6nR8V5JEDM593g5eA).
The feedback we receive will determine the focus of the upcoming development ef

[2019-04-04 10:14] gabriel-happle commented on #1835
@martin-mosteiro are you working on this issue for milestone 2.12?

[2019-04-04 10:16] #1802 closed

[2019-04-04 14:20] #1005 closed

[2019-04-04 21:33] martin-mosteiro commented on #1835
@gabriel-happle The additional code for floor cooling is done, just needed the technology parameters @FionaCollins provided in order to test the code. However this will not be done by today (duh) so it should be moved to the next milestone.

[2019-04-04 21:35] martin-mosteiro commented on #1831
@JIMENOFONSECA I agree we should work with the workaround for now, but I disagree that this issue should be closed. The issue persists, we just have to live with it for now. However this should be either (a) kept as an issue for future development, or (b) properly documented as a limitation of CEA (may become part of the geometry tutorial or something?) and then closed. However I don't think the i

[2019-04-04 21:41] martin-mosteiro commented on #1834
@FionaCollins do you have the plots we generated through CEA that showed the district energy balance? I think those make the issue quite clear. Thanks!

[2019-04-04 21:42] martin-mosteiro commented on #1853
@JIMENOFONSECA That was the plan. The question is whether lifting the entire case study is a better solution than just ignoring the altitude of all buildings that are below sea level. I will test both cases... soon.

[2019-04-05 02:07] JIMENOFONSECA commented on #1853
lifting all will be the best. The minimum elevation point should be 1 in the raster. Otherwise daysim will not work. It doe s not work with 0 elevation. We have another issue about that.
On 5 Apr 2019, 5:42 AM +0800, Martín Mosteiro-Romero <notifications@github.com>, wrote:

@JIMENOFONSECA<https://github.com/JIMENOFONSECA> That was the plan. The question is whether lifting the entire case study is

[2019-04-05 02:11] JIMENOFONSECA commented on #1831
Sure, we can keep it open. I was just taking a top decision of not investigating it further, since there are other more pressing things at the moment (especially in preparation for the Zurich executive course).

Unless somebody has the time and skills to solve this kind of problem, in the next six months, I would close it and leave it in the list of known issues (There is a link in our website to

[2019-04-05 08:35] daren-thomas opened #1862 "Add more expressive print statements to optimization script"
When running the optimization script, It's hard to know where in the process we currently are, when the output is mainly pages and pages of:

[code]

@shanshanhsieh, @BhargavaKrishnaSreepathi do you know where this is being printed? Do you know what that number means? It would be good if those lines included more information, especially:

- individual X of N
- generation Y of M
- a hint to what th

[2019-04-05 11:47] martin-mosteiro commented on #1853
Great, I’ll lift the entire thing so the lowest point is at 1 m elevation then

[2019-04-05 11:48] martin-mosteiro commented on #1831
Okay then, if it’s already in the limitations part we can close it.

[2019-04-06 12:23] daren-thomas commented on #1855
@emanuel030 Can we please move our appointment to Tuesday 10:00am? I won't be in the office on Monday...

[2019-04-06 12:48] emanuel030 commented on #1855
@daren-thomas tuesday works fine for me aswell

[2019-04-08 01:48] shanshanhsieh commented on #1855
@emanuel030 i will try to run this before leaving the office today, and hope to give you some feedback before your meeting with daren on tuesday.

[2019-04-08 02:23] #1831 closed

[2019-04-08 02:23] #1851 closed

[2019-04-08 02:26] JIMENOFONSECA commented on #1826
@shanshanhsieh should we have a PR about this anytime soon?

[2019-04-08 09:16] JIMENOFONSECA commented on #1858
@daren-thomas The first blog is ready. Let me know your comments before making some publicity. Hopefully you can tell me by the end of this week.

https://cityenergyanalyst.com/blogsurrogate/2019/4/5/getting-real-with-data-management-in-cea

[2019-04-09 04:02] shanshanhsieh commented on #1855
i have never tried to run such a big network, and there are def rooms to make the code more efficient, so maybe daren will be able to help better here.
my hunch is that the thermal calculation is the bottleneck

what do you need to know from this DC network simulation?
are you using water from the lake? maybe you will only need to know the pressure losses?

[2019-04-09 06:02] shanshanhsieh commented on #1826
i am planning to work on it this friday!

[2019-04-09 07:52] gabriel-happle opened #1863 "add http://climate.onebuilding.org to documentation"
http://climate.onebuilding.org is a repository of epw weather files for locations all over the world.

[2019-04-09 08:43] daren-thomas opened #1864 "Estimate time of radiation script as a function of building count"
As a User, I would like to have an idea of how long the radiation script will run so I can plan my day.

The radiation script is one of many scripts in the CEA that can take a while to complete. I assume there is a function describing the runtime of this script and I'm assuming the number of buildings is a good proxy to use for estimating this time.

This issue includes the following steps:

- run

[2019-04-09 09:04] Jack-Hawthorne opened #1865 "As a developer I want the decentralized config to have a building argument to avoid long run times for testing"
Developers and practitioners should be able to have tighter control over the specific buildings being investigated. Currently, the decentralized script gets all the buildings for analysis from the total_demand.csv in the outputs. If, say,  decentralized only wants to be run for one specific building, one would have to either:
- run the demand script for only a few buildings, potentially overwritin

[2019-04-09 09:52] Jack-Hawthorne commented on #1069
status update - currently running decentralized script for only one building as the run time is slowing down progress. @daren-thomas is running optimization with a similar setup

the trace yml currently contains metadata from the following scripts:
- data-helper
- radiation-daysim
- demand
- emissions
- operation-costs
- network-layout
- lake-potential
- sewage-potential
- photovoltaic
- solar-col

[2019-04-09 10:07] Jack-Hawthorne commented on #1069
TODO after the all the metadata is recorded:
- merging of plots.variables.csv declaration with all the attributes found in the written files (script outputs).
- post-processing to raise variables which are not listed in the meta OR are listed in the variables declaration but not in the meta
- post-processing to create an up-to-date glossary which links to the viz graphs

@daren-thomas @JIMENOFONSE

[2019-04-09 10:15] Jack-Hawthorne commented on #1852
@martin-mosteiro @JIMENOFONSECA how do you want to present this information? is it super necessary? the occupancy schedules are indexed really weirdly, transposing and dropping nans is a work around for the real issue of how these are written in the xlsx files.

[2019-04-09 12:01] JIMENOFONSECA commented on #1852
@Jack-Hawthorne yes, we should not go into that trouble.

However, as martin mentioned, he made some diagrams of this already, so I suggest that we just upload Martins diagrams as jpeg to the documentation. that should be a piece of cake right?

[2019-04-09 12:51] daren-thomas opened #1866 "Reload list of scenario-names when project folder is changed in the Dashboard"
As a User, when I change the selected folder in the "Projects" dialog on the Dashboard (http://localhost:5050/project/show), I want the list of scenario-names to be updated to valid entries for that project.

Currently, the list from the previous folder is left until the dialog is saved. This is a bug.

[2019-04-09 13:10] daren-thomas commented on #1841
@BhargavaKrishnaSreepathi were you able to make progress on this? At the last meeting you mentioned it was just a quick fix...

[2019-04-09 14:05] Jack-Hawthorne commented on #1852
@JIMENOFONSECA yeah shouldn't be an issue

[2019-04-09 16:40] martin-mosteiro commented on #1835
@FionaCollins could you provide the reference for the values you used? The lower operating temperatures seem... interesting.

Thanks!

[2019-04-09 17:17] martin-mosteiro commented on #1835
I assumed floor cooling systems can be modeled basically the same as ceiling cooling systems other than the convective fraction defined by the SIA standard. So I added the following `or` statement in line 104 of `hourly_procedure_heating_cooling_system_load`:
[code]
Here are some results for building B06 from the reference case open.

**1. Comfort**
1.1. Central AC:
![test_Ebalance_baseline](https

[2019-04-09 21:18] FionaCollins commented on #1835
Hi Martin,
The case study for the anergy grid in Almere suggested a temperature of 7°C for the cooling ring and 17°C for the heating ring throughout the year. I was thinking: 7°C would probably lead to condensations when circulating through the cooling elements, so I took a value in the lower range of ceiling cooling elements.
The file you attached suggest similar values and I did also use it as i

[2019-04-09 21:27] martin-mosteiro commented on #1835
Thanks for the quick reply. How about the maximum cooling power? It matches perfectly to the recommendation in that document, whereas in the paper cited it seems to provide heat transfer coefficients...?

[2019-04-09 21:45] FionaCollins commented on #1834
energy supply for district:
![image](https://user-images.githubusercontent.com/46419981/55837263-2be53200-5b21-11e9-8280-f46692607fd6.png)

energy demand for district:
![image](https://user-images.githubusercontent.com/46419981/55837323-50d9a500-5b21-11e9-8ef9-a604dcd199b7.png)

[2019-04-10 01:58] JIMENOFONSECA opened #1868 "dashboard file directory opener is not working"
@daren-thomas I am trying to change the project dir, but I cannot navigate to any folder outside of the current parent directory (E:/). The project i want to use is in C:/.

I think CEA should allow to locate files in any hard drive.

![image](https://user-images.githubusercontent.com/8973186/55846014-befc8700-5b76-11e9-8143-faec4fbd1a4c.png)

[2019-04-10 02:11] JIMENOFONSECA opened #1869 "dashboard plot settings are not working"
While working inside the plots, I noticed that they are not being recalculated when I change their settings.

I am running the case study that bhargava sent us to test optimzation MIX_low_density.

This is an example for the 'Energy Balance Plot'

1. First I ask CEA to show me the accumulated energy balacne for all buildings

![chrome_riajHxdDZg](https://user-images.githubusercontent.com/8973186/5