[2017-04-04 09:39] gabriel-happle opened #586 "conda install cea - Fiona not working properly"
After trying to install cea with the new installer and @daren-thomas instructions

`conda create -n cea python=2.7`

`activate cea`

`conda install -c conda-forge geopandas`

`conda install ephem`

`python setup.py install`

`python setup.py develop`

I'm getting a geopandas/Fiona error when I try to run the demand script:

    from cea.demand import thermal_loads

    from geopandas import GeoDat

[2017-04-04 09:48] gabriel-happle opened #587 "Ventilation control and energy bug fixes for CISBAT release"
After a meeting with @JIMENOFONSECA today we decided to quickly implement the following bug fixes in the ventilation calculation of the demand part for the CEA version we like to use for CISBAT.

a) Auxiliary electricity demand for all mechanical ventilation (not only AC)
b) Bug fix in mechanical ventilation control
c) Bypass of HEX during cooling season, if outdoor conditions are favorable (kind

[2017-04-05 02:53] JIMENOFONSECA commented on #438
Yes definitely!, good call on improving this work. Did it work?

Best, Jimeno

On 4 Apr 2017, at 16:56, martin-mosteiro <notifications@github.com<mailto:notifications@github.com>> wrote:

I was creating an issue on this until I realized... hey, there already is one!

1. File limit
The limit to the number of files that can be stored at any given time on Euler is a major issue. The limits on the Eul

[2017-04-05 03:19] gabriel-happle commented on #585
I'm closing this @JIMENOFONSECA. OK?

[2017-04-05 07:08] JIMENOFONSECA commented on #585
yes!
________________________________
From: Gabriel Happle [notifications@github.com]
Sent: Wednesday, April 05, 2017 11:19 AM
To: architecture-building-systems/CEAforArcGIS
Cc: Jimeno Fonseca; Mention
Subject: Re: [architecture-building-systems/CEAforArcGIS] CEA seems to not be considering setbacks (#585)

I'm closing this @JIMENOFONSECA<https://github.com/JIMENOFONSECA>. OK?

—
You are receiving

[2017-04-05 08:16] martin-mosteiro commented on #438
@JIMENOFONSECA It worked... but there might be a better solution which avoids moving over to xls files, as @daren-thomas explained to me yesterday.

[2017-04-05 08:56] #585 closed

[2017-04-05 08:58] #552 closed

[2017-04-05 08:59] martin-mosteiro commented on #585
Sorry, what was the conclusion on this issue?

[2017-04-05 11:27] daren-thomas commented on #438
Let's do this. I can't think of a solution that is better except using sqlite, but that requires a whole new set of looking at the problem and ain't nobody got time for that!

[2017-04-05 12:50] #562 closed

[2017-04-06 04:26] BhargavaKrishnaSreepathi opened #589 "Use csv reader/writer instead of Pickle?"
I have been doing some digging on this and have found this reference.
http://tungwaiyip.info/blog/2010/05/12/python_csv_reader_is_much_faster_than_pickle

It turns out csv reader/writer is faster than pickle, but the catch here is the format of the data will be all converted to string, which we then need to reconvert when we are using them again

[2017-04-06 08:44] daren-thomas commented on #589
@BhargavaKrishnaSreepathi where do you want to apply this to?

[2017-04-06 08:45] BhargavaKrishnaSreepathi commented on #589
saving the files in optimization, especially in master_main and further on in the plots

[2017-04-06 08:48] daren-thomas commented on #589
Do you have data to support the change? Have you run a profiler and does it show that the saving of the files in `master_main` with `pickle` is a bottleneck? I'm asking, because I somehow doubt that this will lead to any improvement in the run time, but, I have not run a profiler myself and therefore don't know.

[2017-04-06 08:57] BhargavaKrishnaSreepathi commented on #589
I have neither runt he profiler nor found that this was the bottleneck. I actually was trying to under the results obtained from optimization and found that the 'pickled' files are difficult to understand from naked eye and so tried 'csv reader/writer' which were quite helpful in directly relating the results. This is important as we can see the results in between generations without stopping the

[2017-04-06 09:05] daren-thomas commented on #589
The reason why I'm interested in this topic is that it adds complexity. Complexity is not bad per se - it just needs to be justified. Options are often just what happens, when we don't take time to design.

I remember using a pickle file for the sensitivity analysis and in that case, the data being saved was not in table data format - it was a dictionary and `pickle` was a really easy way to save

[2017-04-06 09:06] daren-thomas commented on #589
I suggest deciding on one format (CSV or pickle) and sticking with that. Readability counts (from the python zen) and The Art of Unix Programming also prefers text-based formats over opaque binary formats (such as the pickle provides). Depending on what kind of data you want to save, CSV or JSON could really be a better answer.

[2017-04-06 09:11] BhargavaKrishnaSreepathi commented on #589
They are not Dataframes as all are of varying sizes. Optimization saves lists of varying sizes. One suggestion was to save each of them as pandas.dataframes and then save as csv files. This will give many files for the same generation, which might not be bad per se.

[2017-04-06 09:17] daren-thomas commented on #589
JSON is really good at saving lists of varying sizes. This sounds like the tool to use for me - it would allow you to read it in an editor, but is just as easy to read/write as pickle. In fact, I believe the change would be minimal.

[2017-04-06 09:19] BhargavaKrishnaSreepathi commented on #589
ok. Let me take a look at it and then implement it.

[2017-04-06 09:45] BhargavaKrishnaSreepathi commented on #589
@daren-thomas : it is really easy and good. I am implementing it in my branch. Thanks

[2017-04-07 13:38] #556 closed

[2017-04-07 13:41] daren-thomas commented on #571
@ahmed3yad try adding these two paths to your system environment PATH variable (https://superuser.com/questions/949560/how-do-i-set-system-environment-variables-in-windows-10):

- `C:\Users\YOUR_USER_NAME\Anaconda2\envs\cea`
- `C:\Users\YOUR_USER_NAME\Anaconda2\envs\cea\Library\bin`

I think that might do the trick for you.

[2017-04-07 14:11] daren-thomas opened #590 "Radiation script actively suppresses errors resulting in infinite loop"
Check out this code:

[code]

This sounds like a good idea (hint: "trick") but, it just causes an infinite loop if `CalcRadiation` for some reason doesn't work. Like in my case right now, where an `arcgisscripting.ExecuteError` is thrown:

@JIMENOFONSECA: Should we fix this or proceed to the new solar radiation module? Are we going to keep the ArcGIS version midterm or not?

[2017-04-09 11:07] amraladdin opened #591 "User Manual modifications - Squarespace"
Here are the points that have taken more time than expected to be finished in the CEA website, due to:
- Length of the data transfer process. Markdown in GitHub is different from the one in Squarespace.
- Some of the points (e.g. DBF reader) require someone with expertise on the topic to input the data.

Below are the remaining points to be tackled:
- How to create your own archetype?
- Finish the

[2017-04-09 11:08] #532 closed

[2017-04-09 11:08] #489 closed

[2017-04-09 20:20] pjayathissa opened #592 "[gitbook] unit for ventilation rate per person"
In the gitbook, the ventilation rate is reported as litres per person per second
https://architecture-building-systems.gitbooks.io/cea-toolbox-for-arcgis-manual/content/building_properties.html

Should the unit not be l/p/s, as opposed to l.p.s

[2017-04-09 20:46] pjayathissa opened #593 "suggestion for code that is easier to read demand/space_emission_systems.py"
Hi Shanshan

line 198 and 243 of `demand/space_emission_systems.py`

I would recommend writing it like this to make it easier for future readers:
[code]

Would you be free to have a chat about this sometime. I am currently trying to build some supply systems but I don't know how to determine the supply temperature.

[2017-04-11 02:57] gabriel-happle commented on #591
@amraladdin Hi, I don't know if anyone else is using a dbf editor. I started to use it because I'm not too familiar with ArcGIS and it seemed a bit too much to use ArcGIS to just change one value in a shapefile for testing purposes. That is why I downloaded this little open source tool: https://sourceforge.net/projects/gtkdbfeditor/?source=typ_redirect
It looks like this and works fine. You simply

[2017-04-12 03:48] #483 closed

[2017-04-12 04:10] JIMENOFONSECA commented on #592
Well noted!. it is just a matter of notation common in water systems. and actually it is not l.p.s., not l/p/s but lps
an example:

https://books.google.com.sg/books?id=lXcS8vH4ThcC&pg=PA199&lpg=PA199&dq=water+consumption+l.p.s&source=bl&ots=eFJZxkVH0_&sig=wDNnOSpHFDDEDr130Bh3tBdkADk&hl=en&sa=X&ved=0ahUKEwjw0KTNhJ7TAhUKPY8KHRU-D-kQ6AEIJzAF#v=onepage&q=water%20consumption%20l.p.s&f=false

@daren-th

[2017-04-12 04:22] #586 closed

[2017-04-12 04:24] JIMENOFONSECA commented on #540
If this is something we need to do, it is priority one.

[2017-04-12 04:24] JIMENOFONSECA commented on #539
If this is something we need to do, it should be first priority

[2017-04-12 04:33] #522 closed

[2017-04-12 04:33] #531 closed

[2017-04-12 05:05] JIMENOFONSECA commented on #420
we might need to do this for sure

[2017-04-12 06:07] JIMENOFONSECA commented on #438
@martin-mosteiro should we close it or leave it as something nice to have?

[2017-04-12 06:08] JIMENOFONSECA commented on #273
@shanshanhsieh @BhargavaKrishnaSreepathi could you coordinate this inside the optimization?

[2017-04-12 06:10] JIMENOFONSECA commented on #251
I see this is something we should definately have to run CEA for Singapore and other locations... chanign to priority 1

[2017-04-12 06:12] #575 closed

[2017-04-12 06:16] JIMENOFONSECA commented on #550
@daren-thomas could you include this in the pip installation?

[2017-04-12 06:20] JIMENOFONSECA commented on #398
@daren-thomas this is somehow priority 2 right?

[2017-04-12 06:23] JIMENOFONSECA commented on #592
done

[2017-04-12 06:23] #592 closed

[2017-04-12 06:30] JIMENOFONSECA commented on #459
@daren-thomas what is the best way to remember about this? should we keep it where?

[2017-04-12 06:33] #529 closed

[2017-04-12 06:34] #442 closed

[2017-04-12 06:34] #452 closed

[2017-04-12 06:36] JIMENOFONSECA commented on #517
@cmiller8 would you mind shedding some light on how to do it please? thanks!

[2017-04-12 06:37] JIMENOFONSECA commented on #525
@shanshanhsieh @gabriel-happle when is there gonna be a meeting anytime soon?

[2017-04-12 07:36] martin-mosteiro commented on #438
I think it would be cool to be able to do monthly sensitivity analysis, no?
The Excel solution didn't work, but Daren's sqlite proposal seems to work out pretty well. I think either he or I could eventually implement it.
Now in terms of priorities... I guess it depends on whether we consider monthly sensitivity analysis a priority or not.

[2017-04-12 07:48] JIMENOFONSECA opened #596 "Hiding Occ_m2p and make it part of schedules"
The occupancy density variable Occ_m2p should be in the Archetypes_schedules.xls. This makes easier calculating schedules with a mix-use

[2017-04-12 08:00] daren-thomas commented on #438
For the record, I think using a MySQL database (like those we can order from ETH, no problemo) would be the best solution, especially since we are doing things in parallel - sqlite might break down for that as that is not what it is intended for. The code would be the same though, just a different database connection...

Let's keep this in mind (in the "New" column) and schedule it for an upcoming

[2017-04-12 08:07] daren-thomas commented on #459
This does not happen with the new way of installing the toolbox (`cea install-toolbox`) which doesn't care anymore which python ArcGIS uses, as long as it is a standard python - we run the cea in it's own python now :)

I'm closing this issue as it is not relevant anymore.

[2017-04-12 08:07] #459 closed

[2017-04-12 08:10] BhargavaKrishnaSreepathi commented on #589
Closing this issues as it is addressed in PR572. The files are now being saved as json files

[2017-04-12 08:10] #589 closed

[2017-04-12 08:11] BhargavaKrishnaSreepathi commented on #535
Addressed in PR572

[2017-04-12 08:11] #535 closed

[2017-04-12 08:35] daren-thomas commented on #550
actually, the pip installation does this. so does running either `python setup.py install` (which is basically what the pip installation does) or `python setup.py develop` (which lets you edit the source without needing to re-install) - they both include pyshp as a dependency.

Closing this as not relevant.

[2017-04-12 08:35] #550 closed

[2017-04-13 03:18] BhargavaKrishnaSreepathi commented on #273
@shanshanhsieh : Can we meet regarding this? I would like to know what we want to do

[2017-04-13 03:55] JIMENOFONSECA commented on #570
@BhargavaKrishnaSreepathi is it solved?

[2017-04-13 03:57] JIMENOFONSECA commented on #591
@amraladdin what is the DBF reader about? you can read edit and create DBF from arcgis or even excel...

[2017-04-13 03:57] BhargavaKrishnaSreepathi commented on #570
@JIMENOFONSECA : I have been trying to recreate the error for sometime now, but ironically, I am unable to get the error. I guess something happened which either solved the issue or may be if we face this error in future, I will save the state.

[2017-04-13 03:58] JIMENOFONSECA commented on #591
@amraladdin there is no need to transfer one to one the content of gitbook. Now that we agreed to use Google presentations, you need to create a presentation about it. which allows you to include, normal tables, images, text, whatever...

[2017-04-13 03:59] JIMENOFONSECA commented on #571
@ahmed3yad can we close this issue or do you need more assistance?

[2017-04-13 05:25] JIMENOFONSECA commented on #570
ok, then let's close this issue
________________________________
From: BhargavaKrishnaSreepathi [notifications@github.com]
Sent: Thursday, April 13, 2017 11:57 AM
To: architecture-building-systems/CEAforArcGIS
Cc: Jimeno Fonseca; Mention
Subject: Re: [architecture-building-systems/CEAforArcGIS] ValueError: operands could not be broadcast together with shapes (8760,) (4984,) (8760,) (#570)

@JIMENO

[2017-04-13 05:26] BhargavaKrishnaSreepathi commented on #570
Closing the issue as the error is not replicated

[2017-04-13 07:14] amraladdin commented on #591
@JIMENOFONSECA the DBF reader was one of the questions that @BhargavaKrishnaSreepathi asked to include in the user manual. As I mentioned before, I'm not familiar with it, so I was asking for support. Martin told me a couple of days ago that he could show me how it can be edited from ArcGIS.

Regarding the presentations: Oh Ok, I thought we will be working on both, the website + presentations. Sor

[2017-04-13 08:24] martin-mosteiro commented on #591
@JIMENOFONSECA Are you sure you can edit DBF on Excel? My version of Excel (2013) can't open DBF. OpenOffice _does_ work... but then it messes up the column names, so it doesn't work.

Editing on ArcGIS works, as I mentioned to @amraladdin a few days ago. However, I wasn't able to delete records using ArcGIS - i.e., I could edit the values, but I couldn't delete buildings. Plus, I don't think you

[2017-04-13 09:32] JIMENOFONSECA opened #598 "Organize cea/tests folder structure and documenting"
Daren gave us a great presentation about Tests in CEA. It would be great to complement this with some small documentation to the existing Test_ scripts. This will facilitate its further use and modification. THis entails

1. creating a subfolder structure for integration tests and unittests
2. labeling the script what creates the integration test data and what runs the test
3. adding a few lines o

[2017-04-13 09:33] JIMENOFONSECA commented on #598
@daren-thomas would you mind taking a look at this?

[2017-04-13 09:34] daren-thomas commented on #598
@JIMENOFONSECA you're fast! sure. I'll take care of this.

[2017-04-13 10:05] amraladdin opened #599 "User Manual Presentations - Goal Oriented Pilot"
How to use the Dynamic Demand Forecasting?
- what is this feature about
- what is this feature useful for (1. to do studies of retrofit, 2. to execute another feature (e.g., LCA analysis)
- what are the prerequisites (e.g., data bases helper)
- what are the inputs
- what are the outputs
- give one example

How to study retrofit measures in buildings?
- what is this feature about
- what is this fea

[2017-04-18 02:34] JIMENOFONSECA commented on #543
# 11: INPUTS: generation, individual, week of the year

![image](https://cloud.githubusercontent.com/assets/8973186/25112246/9e74906e-2422-11e7-942a-00ce7da8cf9c.png)

[2017-04-18 03:05] JIMENOFONSECA commented on #543
# 7: INPUTS: generation, individual.
The title shows the entire energy consumption in TWh/yr. The pie shows the share in percentage.

7.1 pie of local vs non locally produced. - self-sufficiency pie
7.2 renewable vs non-renewable pie.  - the renewable pie balloons into a stacked bar chart with technologies and distinguished what is local and what is grid.
7.3. power mix of all resources independen

[2017-04-18 03:19] JIMENOFONSECA commented on #543
# 9: INPUTS: generation, individual.
The title shows the total investment costs in $. The pie shows the share in percentage.

- pie showing share district heating and cooling and electricity micro-grid. It ballons into individual technologies

[2017-04-18 03:30] JIMENOFONSECA opened #601 "clear out some aspects of the installation guide for developers"
It is not clear which console to open, where to execute python setup.py install etc..

[2017-04-18 07:46] BhargavaKrishnaSreepathi commented on #273
The total potential of PV, PVT, SC of a neighborhood is calculated apriori and this value is used to calculate the individual portion for different configurations. So the estimation of all the technologies is consistent. That is to say either the overestimation or underestimation is consistent. We feel that going in to further granularity is not necessary and is painstaking. Thus closing the issue

[2017-04-18 07:46] #273 closed

[2017-04-18 07:49] BhargavaKrishnaSreepathi opened #603 "setup a supply_main file similar to demand_main file"
This file needs to be run to get the following files:

1. Geothermal.csv
2. SWP.csv
3. PV.csv
4. PVT_35.csv
5. SC_60.csv
6. SC_75.csv

Right now they are being shipped along with the reference-case-zug

[2017-04-18 08:42] amraladdin commented on #495
@martin-mosteiro are you still looking for an answer from my side on the Vw and Vww issue?

[2017-04-18 08:48] martin-mosteiro commented on #495
Well, we still don't have a reference. So yes :)

[2017-04-18 09:25] martin-mosteiro commented on #495
We checked the oldest version of the Archetypes_properties file on GitHub and the values for Vw and Vww are the same as the current ones. So I seem to have been mistaken on point (3.1) in this issue.

However... the values still don't match SIA 2024 and we still don't have a reference for that. Plus the other two points in this issue still haven't been resolved...

[2017-04-18 09:29] martin-mosteiro commented on #495
@JIMENOFONSECA Since you created these archetypes, I believe only you can clarify this.

[2017-04-19 03:16] #596 closed

[2017-04-19 06:52] #601 closed

[2017-04-19 08:26] daren-thomas opened #605 "Update installer to suppress anaconda prompt shortcut"
The installer (used for the planner's edition of the CEA) currently creates an "Anaconda Prompt" shortcut in the Start Menu as part of the installation of miniconda.

I think it would be good to remove that shortcut after installation, as miniconda is installed in a standalone fashion and the console is not meant to be used. Actually, it is slightly broken due to the way it is set up.

Removing th

[2017-04-19 09:15] BhargavaKrishnaSreepathi commented on #543
use branch #i543-Plots-and-Analysis

[2017-04-19 09:39] ahmed3yad commented on #571
@daren-thomas Sorry for my late response. This is wonderful !, I tried what you said and the tool now works without any errors, I really appreciate your help. (NOTE: the `cea install-toolbox` command still creates a folder named `CityEnergyAnalyst.pyt` instead of a file and I have to manually get the `CityEnergyAnalyst.py` file out of that folder and rename it to `CityEnergyAnalyst.pyt`

[2017-04-19 09:43] ahmed3yad commented on #571
@JIMENOFONSECA No, thanks a lot. The tool now works perfectly and you can close the issue. I just need some help on how to use the tool (Are there any detailed documentation for how to create a new scenario?)

[2017-04-19 11:17] daren-thomas opened #606 "Update developer's installation guide"
- point 7 (install cea develop: do `python setup.py install`) is redundant since step 8 does (`python setup.py develop`).
- add a new point at the end (`cea install-toolbox`) which is required for the radiation script.

[2017-04-19 11:47] daren-thomas commented on #571
@ahmed3yad I will close this issue then. Thank you for pointing out the `cea install-toolbox` issue. I have fixed it in the current master version.

[2017-04-19 11:58] ahmed3yad commented on #571
@daren-thomas  You're most welcome :)

[2017-04-19 12:14] daren-thomas commented on #587
@gabriel-happle can this be closed?

[2017-04-19 12:16] daren-thomas commented on #480
@JIMENOFONSECA how far is this issue completed? It's not really a S.M.A.R.T. goal and contains a lot of separate tasks... Maybe we can clean this up a bit?

[2017-04-19 12:16] daren-thomas commented on #584
fixed in master.

[2017-04-19 12:16] #584 closed

[2017-04-19 12:21] #186 closed

[2017-04-19 12:32] daren-thomas opened #607 "Document steps to create a release"
Update the developer's documentation to include the steps to create a new release of the software.

- talk about versioning
- talk about alpha / beta releases
- talk about uploading to PyPI
- talk about creating the installer for the planner's edition (PE?)
- talk about testing in a virtual machine?

[2017-04-19 14:38] daren-thomas opened #608 "README.rst should explain what the CEA is (elevator pitch)"
Currently it just says "this is the repository of..." which is not a good thing to say in this document because

1. if someone is looking at it in GitHub, well, then they already know it's a repository
2. this text is copied to PyPI as the description of the package

[2017-04-19 14:39] daren-thomas commented on #608
@JIMENOFONSECA can we change this?

[2017-04-19 23:40] JIMENOFONSECA commented on #587
Yes!

Best, Jimeno

On 19 Apr 2017, at 20:14, Daren Thomas <notifications@github.com<mailto:notifications@github.com>> wrote:

@gabriel-happle<https://github.com/gabriel-happle> can this be closed?

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub<https://github.com/architecture-building-systems/CEAforArcGIS/issues/587#issuecomment-295244971>, or

[2017-04-19 23:47] JIMENOFONSECA commented on #605
I would give it priority 3 as it does not necessarily affects functionality. I wonder if this is something to consider after some user raises some discomfort with this, but not before.

Best, Jimeno

On 19 Apr 2017, at 16:26, Daren Thomas <notifications@github.com<mailto:notifications@github.com>> wrote:

The installer (used for the planner's edition of the CEA) currently creates an "Anaconda Prom

[2017-04-20 02:01] BhargavaKrishnaSreepathi commented on #603
@JIMENOFONSECA : Can you let me know how the above mentioned 'csv' files are being created. For 'reference-case-zug', the above mentioned files are already present in 'baseline -> outputs -> data -> potentials', whereas for 'reference-case-open', the 'potentials' folder has files with names as 'xx_PV' and 'xx_sensors'. I think these might be used in 'photovoltaic.py' file which requires sensors_da

[2017-04-20 02:08] JIMENOFONSECA commented on #480
@daren-thomas we can talk about this after group meeting

[2017-04-20 02:09] JIMENOFONSECA commented on #608
done!

[2017-04-20 02:09] #608 closed

[2017-04-20 02:10] BhargavaKrishnaSreepathi opened #609 "IOError: [Errno 2] originating in NUS_weather.py file"
The full error is

IOError: [Errno 2] No such file or directory: 'C:/Users/Bhargava/Desktop/Weather-Data/2005/W_20050102.xlsx'

This arises as it is hard coded in the file to access the weather files provided by NUS. This file is not necessary to be present in the CEA- master folder. Although I would have this file stored somewhere for future reference.

Do give your comments on a method to save t

[2017-04-20 02:18] #587 closed

[2017-04-20 02:21] JIMENOFONSECA commented on #603
Geothermal.csv
- I suggest to take it out form the optimization
SWP.csv
- I suggest to take it out from the optimization
PV.csv, PVT_35.csv, SC_60.csv, SC_75.csv
- Created from the PV scripts in technologies. they are being redeveloped in #336 and arre waiting to merge

[2017-04-20 02:23] gabriel-happle commented on #591
@martin-mosteiro @JIMENOFONSECA @amraladdin
- You can not edit DBF with Excel.
- You can not rename columns in ArcGIS. (but with the ET GeoWizard plugin you can ;) http://www.ian-ko.com/)

[2017-04-20 02:31] gabriel-happle opened #610 "Add outdoor temperature control and heat exchanger bypass to ventilation and AC control database"
The activation of outdoor temperature control of AC (cooling system turned off when outdoor is colder than indoor cooling set point) and heat exchanger bypass during cooling season (heat exchanger is bypassed if outdoor air is colder than indoor air during cooling season = no preheat of cooling air) should be control strategies in the emissions systems database rather than hard coded.

Problem: Co

[2017-04-20 02:40] #573 closed

[2017-04-20 02:50] gabriel-happle commented on #610
https://files.slack.com/files-pri/T0L1D0UHZ-F51M0GRA7/cooling_incl_meter.png
https://files.slack.com/files-pri/T0L1D0UHZ-F513GDU5N/heating_incl_meter.png

[2017-04-20 02:51] gabriel-happle commented on #610
![cooling_incl_meter](https://cloud.githubusercontent.com/assets/17002288/25211309/3e608520-25b7-11e7-99a4-521bcfd368f2.png)
![heating_incl_meter](https://cloud.githubusercontent.com/assets/17002288/25211308/3e5bb8e2-25b7-11e7-8cc9-279a5d046695.png)

[2017-04-20 05:22] BhargavaKrishnaSreepathi commented on #603
Ok will work on this after #336 is merged

[2017-04-20 06:35] #527 closed

[2017-04-20 09:20] daren-thomas commented on #609
I like the idea of keeping the code that was used to create the data. How about... we add a folder `notebooks` that contain jupyter (ipython) notebooks for generating data etc. and use literate programming (documentation interspersed with the code) to describe this kind of data generation script.

The documentation should answer at least following questions:

- what is being done
- why it needs to

[2017-04-20 10:19] BhargavaKrishnaSreepathi commented on #609
I like the idea of `notebooks`. The data size is also not big for the current scenario, so should not be an issue for uploading. But it has numerous files (52 files).

[2017-04-20 10:57] JIMENOFONSECA commented on #571
@ahmed3yad check our FAQ which includes information on this. please reasi an issue of something is not clear. thanks !
https://cityenergyanalyst.com/faq/

[2017-04-20 11:25] ahmed3yad commented on #571
@JIMENOFONSECA Thanks a lot!, it seems like your "User Manual" has been updated 😃 ... I will check it and tell you If I find something that is not clear. (BTW, I think if you do some video tutorials it will be very helpful)

[2017-04-20 11:58] daren-thomas commented on #609
what about creating a subdirectory in `notebooks` with the same name as the `.ipynb` file and store the additional data there? this of course depends on you being allowed to publish this data. Otherwise, the `.ipynb` file can include a markdown section at the top detailing how to obtain the data required.

[2017-04-20 16:10] martin-mosteiro opened #612 "Preprocessing doesn't work well for multi-use buildings"
`calc_mainuse` only works if a building has up to two uses: it takes the buildings' uses and generates an array of uses with the largest area (`array_max`) and with the smallest area (`array_min`). If the main use is 'PARKING', the building would have no heated area even if the building was 51% parking and 49%, say, offices. So `calc_comparison` corrects this by defining the building's main use as

[2017-04-20 16:10] martin-mosteiro commented on #612
@daren-thomas You said this needed discussion?

[2017-04-21 03:06] BhargavaKrishnaSreepathi opened #613 "Provide a guide to show which python scripts generate the result files"
The guide should show the python file which corresponds to the saved file and where the file is going to be saved.

For example, `master_main.py` saves the results of optimization which include population, fitness, generation, network, tested pop for each generation in the format of `CheckPoint_` + generation number. This is being stored in the `get_optimization_checkpoint()` folder

[2017-04-23 18:59] daren-thomas commented on #613
If all file locations are read and written through the `InputLocator` then this becomes easy - just check for the calls. It can even be automated...

[2017-04-24 06:39] BhargavaKrishnaSreepathi opened #614 "Refactoring variables following ISO standards in optimization folder"
The issue aims at changing the variable names to make them represent their function clearly, and following ISO standards. For example electricity generated by PV technology in watt.hour is to be represented as `E_gen_PV_Wh`. The objective of this is to make life easier when going through the code and help in documentation process.

[2017-04-24 06:55] #206 closed

[2017-04-24 07:05] BhargavaKrishnaSreepathi opened #615 "Modifying the importing of dataframes in cases where different columns of the same dataframe are loaded separately"
Different columns of a dataframe are loaded in separate instances, where the same can be done by loading it once.

For example, see least_cost.py file:
'Q_DH_networkload = np.array(extract_csv(fName, "Q_DH_networkload", DAYS_IN_YEAR))
    E_aux_ch = np.array(extract_csv(fName, "E_aux_ch", DAYS_IN_YEAR))
    E_aux_dech = np.array(extract_csv(fName, "E_aux_dech", DAYS_IN_YEAR))
    Q_missing = np.ar

[2017-04-24 09:04] BhargavaKrishnaSreepathi commented on #570
I got the same error again, thus reopening the error. I am saving the configuration i.e. the entire reference case folder such that we can reproduce the error

[2017-04-24 10:12] BhargavaKrishnaSreepathi commented on #570
`Bau 14_result` present in `optimization -> substations` is changed and has only 4981 rows instead of 8760 rows. The files which come with the reference-case have all the rows. But it has been updated and the remaining rows are deleted. The result doesnt change even after running the `demand_main` file

[2017-04-25 02:25] BhargavaKrishnaSreepathi commented on #570
After many runs, I figured out that while the substation results of each buildings are changed in `cea -> technologies -> substation.py`, if the run is abruptly stopped, all the values are not being saved to the corresponding csv file i.e in a run for 'Bau F', of the 8760 values calculated only a part of them are being stored to the csv file. This file when accessed the next time will give the Val

[2017-04-25 07:40] gabriel-happle commented on #513
Hey @BhargavaKrishnaSreepathi
could you also produce the 2015 weather file.
That is the year we have the most complete electricity data.

[2017-04-25 09:21] amraladdin opened #617 "'Age', 'Occupancy' and 'Supply Systems' description missing from GitBook Manual"
Some of the Building Properties, e.g. Age, Occupancy and Supply Systems inputs are missing from the GitBook inputs description. @martin-mosteiro and I tried to find them, but they're not there.
@JIMENOFONSECA who was working on this part? Perhaps they have the data still, but missed to add them to the manual.

[2017-04-25 13:02] daren-thomas opened #618 "Logging system and user activity monitoring"
Reading through #570 (ValueError: operands could not be broadcast together with shapes (8760,) (4984,) (8760,)) I think some kind of system to log errors to might be a good idea.

Currently we are printing them to STDOUT. When doing stuff like the sensitivity analysis or the optimization , this leads to messages being hidden in `.lsf` files that nobody is ever going to go through.

What kind of re

[2017-04-25 13:10] daren-thomas commented on #570
If you happen to stop exactly in the middle of writing a file, then of course this could end up corrupting data. Good catch! Where to go from here?

- add extra engineering to ensure that the program can pick up from such a hard shutdown
- don't abruptly kill the process? is that an option?
- make sure you don't read&write the same files in the same process (is this an option? it sounds like the s

[2017-04-25 15:33] JIMENOFONSECA commented on #617
Gitbook is not anymore our manual as discussed in January 2017. If something is missing is  because we took too long to pass the info to the cea website. So please ask directly about the variables that are not defined.

On 25 Apr 2017, at 17:21, Amr Elesawy <notifications@github.com<mailto:notifications@github.com>> wrote:

Some of the Building Properties, e.g. Age, Occupancy and Supply Systems in

[2017-04-25 15:54] amraladdin commented on #617
Still, my question was, who was working on the building properties part?
In the title, the Age, Occupancy and Supply systems inputs description is missing.

[2017-04-25 22:54] BhargavaKrishnaSreepathi commented on #570
I am listing my thoughts on the above options:

1. **Don't abruptly kill the process? Is that an option? :** When we are running optimization for higher generations and we find an error in the results, we will kill the process to fix it. But this need not be abrupt, but rather we can kill it after it finishes the saving of the csv. I feel this is very tricky to do.

2. **make sure you don't read a

[2017-04-26 00:15] JIMENOFONSECA commented on #617
I think i was working on it, you mean you need the description of the Variables of the input databases of age, occupancy etc? Check the how to guide in the FAQ section for this.

Our Gitbook is kind of obsolete and should  not be updated anymore.

On 25 Apr 2017, at 23:54, Amr Elesawy <notifications@github.com<mailto:notifications@github.com>> wrote:

Still, my question was, who was working on the

[2017-04-26 06:19] BhargavaKrishnaSreepathi opened #620 "Doubt regarding the weather file use in cea test command"
I found that `cea test` command from the prompt is successful when the weather file is `Zug`. The command failed when the weather file is `Zug-2010` and `Singapore-2016`.

@daren-thomas are the test results corresponding to `Zug` weather file?
@JIMENOFONSECA any comments on this?

[2017-04-26 06:21] JIMENOFONSECA commented on #620
Yes they are...

Best, Jimeno

On 26 Apr 2017, at 14:19, BhargavaKrishnaSreepathi <notifications@github.com<mailto:notifications@github.com>> wrote:

I found that cea test command from the prompt is successful when the weather file is Zug. The command failed when the weather file is Zug-2010 and Singapore-2016.

@daren-thomas<https://github.com/daren-thomas> are the test results corresponding to Z

[2017-04-26 06:22] BhargavaKrishnaSreepathi commented on #620
Aah. Ok Ok. May be in future we need to get results for other weather files and add to the test cases I guess.

[2017-04-26 06:22] #620 closed

[2017-04-26 06:35] BhargavaKrishnaSreepathi commented on #513
PR#621 takes care of this issue, as the PR is merged, the issue is being closed

[2017-04-26 06:35] #513 closed

[2017-04-26 09:29] daren-thomas commented on #570
Regarding 1. you could create a "sentinel" file, say "STOP" and have the software check for this file and shut down if found.

Regarding 2. say you found a csv file with the wrong dimensions (incomplete write at process termination) - is there a way to recover from there? what would recovery look like (ideally)?

Regarding 3. are you running the optimization locally? I thought you'd be using euler

[2017-04-26 10:11] BhargavaKrishnaSreepathi commented on #570
1. No comments

2. Ideally, it should pick up the result of the previous configuration and proceed. Realistically though, it can recover from the default configuration which is shipped with the reference-case

3. For now, I am running optimization locally. I have not yet given Euler a try, but it is on my list and I will try to do it soon. But on larger picture, for small simulations, done, I thin

[2017-04-27 05:26] BhargavaKrishnaSreepathi opened #622 "Create .ipynb file explaining the data cleaning procedure"
The data cleaning process for the weather file generation needs to be documented under a subdirectory. See discussion in #609

[2017-04-27 05:27] BhargavaKrishnaSreepathi commented on #609
Closing the issue as the error is resolved. The creation of `notebook` is discussed in another issue

[2017-04-27 05:27] #609 closed

[2017-04-27 05:46] shanshanhsieh commented on #356
As the results of the radiation calculation are also used for demand calculation, it is not necessary to implement the pre-selection of sensors for PV installation in the radiation script. The process of sensor selection will be kept in the technology script of PV generation. This issue can be closed.

[2017-04-27 05:46] #356 closed

[2017-04-27 05:55] shanshanhsieh commented on #603
At the moment, the results of the PV generation are saved for individual buildings.
The old results 'PV.csv' are the aggregation of the entire district.
@BhargavaKrishnaSreepathi , how does the current optimization procedure handle this information, does it decide the amount of panel installed at the building level?

[2017-04-27 05:59] BhargavaKrishnaSreepathi commented on #603
[documentation Thuy-an.PDF](https://github.com/architecture-building-systems/CEAforArcGIS/files/960595/documentation.Thuy-an.PDF)
@shanshanhsieh : Nope. It actually takes the total area and then assigns a percentage of this area for PV, PVT and SC. It is not done at building level.

[2017-04-27 13:02] martin-mosteiro commented on #612
So here are the effects of this preprocessing on the calculations done on CEA:

1. **demand/electrical_loads.py**

`calc_Eint` calculates the following:
[code]
However, **Ea, El and Aef** are only defined for the main use type, so if the building is, say, 51% RESTAURANT and 49% percent LIBRARY, the electricity demand will be overestimated.

Furthermore, if the occupancy types include COOLROOM, SER

[2017-05-01 07:41] BhargavaKrishnaSreepathi commented on #570
Based on a discussion with MUSES members here, it is wise to ship the reference-case folder with no files in the `baseline/outputs` folder. As far as the files regarding the substations (where all the buildings are connected, we are shipping this now in `baseline\outputs\data\optimization\substations`), we can shift this to inputs (as it is one of the input) and just import these files to the outp

[2017-05-02 04:07] BhargavaKrishnaSreepathi commented on #613
@daren-thomas : I am modifying the code to read and write the files through `InputLocator`. Can you refer me to the readings to do this process (of writing a guide) automatedly

[2017-05-02 07:40] daren-thomas commented on #613
@BhargavaKrishnaSreepathi : check out `bin/extract_inputlocator_calls.ipynb` I think that does exactly this. BTW: while you're at it, you could move it to `notebook` and update it with the header template :)

[2017-05-02 07:49] daren-thomas commented on #570
that is a brilliant solution. so... in code somewhere you'll check the import of the outputs file and if it isn't up to snuff, you'll just failover to the inputs file? but... how are those inputs ever created?

[2017-05-02 07:56] BhargavaKrishnaSreepathi commented on #570
I know about few other files present in `outputs` folder, but corresponding to the substations I am not sure. May be @JIMENOFONSECA can shed some light on how the substations files are generated when all are connected.

[2017-05-02 09:06] BhargavaKrishnaSreepathi commented on #543
Sunburst charts might be a really good way to visualize many of these plots
https://support.office.com/en-us/article/Create-a-sunburst-chart-in-Office-2016-4a127977-62cd-4c11-b8c7-65b84a358e0c?ui=en-US&rs=en-US&ad=US&fromAR=1

[2017-05-02 15:04] martin-mosteiro commented on #612
I solved this issue the same way as was done for occupancy, as discussed in the "Conclusions" above (i.e., creating yearly schedules for each of these services based on the archetype schedules for each occupancy type in the building).

I also fixed the preprocessing step so that each building's internal_loads.dbf file depends not only on its main use, but also on the other uses in the building. Ho

[2017-05-03 08:30] gabriel-happle commented on #612
Interesting issue @martin-mosteiro
I will take a look at this tomorrow.
I will assign myself to the issue as well, in order to stay in the loop.
I also plan to start looking into actual multi-zone mixed-use representation soon.

[2017-05-04 01:22] BhargavaKrishnaSreepathi commented on #622
Addressed in PR #625

[2017-05-04 01:22] #622 closed

[2017-05-04 11:36] pjayathissa opened #626 "Emission System Supply Temperatures too high?"
Hi @shanshanhsieh , thanks for the skype today

I was having a look at the **CEAforArcGIS/cea/databases/CH/Systems/emission_systems.xls**

For the heating, do you not think that 90C is too high? Do you have any references for these numbers?

Cheers

PJ

[2017-05-04 13:44] shanshanhsieh commented on #626
There are two types of radiators in the database, 90 C is possible for the old radiators.
These data are based on Jimeno's case studies in Switzerland, therefore, I do not have the references at the moment. Maybe you could check out the standards?

[2017-05-05 10:20] gabriel-happle opened #628 "'No module named decorators' error after installing cea with pandas version 0.20.0"
'No module named decorators' error after installing cea with pandas version 0.20.0

Do this: copy `C:\users\Gabriel\Anaconda2\envs\cea\pkgs\proj4-4.9.3-vc9_3\proj.dll` to `C:\users\Gabriel\Anaconda2\envs\cea\Library\bin` and make sure the second folder is in your system environment (restart pycharm) then it should work!

![pasted image at 2017_05_05 03_22 pm](https://cloud.githubusercontent.com/as

[2017-05-05 11:10] daren-thomas commented on #628
wait. that's a different error than the one we were talking about before... so you upgraded to pandas version 0.20.0? I'll look into that.

[2017-05-05 13:51] daren-thomas commented on #628
@gabriel-happle check out PR #629 for an update to the installation guide - for now, we need to force pandas to be < 0.20.

You might need to re-create the environment, but first check to see if `conda install "pandas<0.20"` will do the trick (don't forget the quotes) - that should downgrade pandas for you :)

[2017-05-08 07:32] daren-thomas commented on #628
@gabriel-happle did PR #629 help? it does on my machine...

[2017-05-08 08:00] gabriel-happle commented on #628
@daren-thomas I actually didn't try. I used `conda update pandas`, which installed pandas 0.19.2.
I get two warnings, but no errors.

WARNING:Fiona:GDAL data files not located, GDAL_DATA not set
WARNING:Fiona:PROJ data files not located, PROJ_LIB not set

[2017-05-08 08:02] gabriel-happle commented on #628
@daren-thomas Should I try set up a new environment with the new guide?

[2017-05-08 09:48] shanshanhsieh commented on #544
@BhargavaKrishnaSreepathi  it seems like this is a duplicate of #539 , can we close this?

[2017-05-08 09:50] daren-thomas commented on #628
yes, please do.

[2017-05-08 09:54] BhargavaKrishnaSreepathi commented on #544
sure

[2017-05-08 09:54] #544 closed

[2017-05-08 10:04] shanshanhsieh commented on #536
Note for preparing `network-nodes.shp` and `network-edges.shp` on ArcMap:

1. `network-nodes` add following columns in the attribute table:

- Building Names (join from `zone.shp`)

- Plant: specify which buildings are plants (if yes, value = 1, otherwise 0)

- Qh: specify which buildings are consumers (if yes, value = 1, otherwise 0)

2. `network-edges` add following columns in the attribute tabl

[2017-05-08 11:29] JIMENOFONSECA commented on #570
In essence the optimisation_main.py has a subroutine called preprocessing.

during preprocessing. the solar radiation files, the network files are read. Also the substation routine is run considered that all buildings are connected.

The substation routine calculates the condition of flow from the side of the district heating network.

The substation routine is run overtime the network configurati

[2017-05-08 11:32] JIMENOFONSECA commented on #543
cool idea! go for it!, let me know if we can help
On 2 May 2017, at 11:06 am, BhargavaKrishnaSreepathi <notifications@github.com<mailto:notifications@github.com>> wrote:

Sunburst charts might be a really good way to visualize many of these plots
https://support.office.com/en-us/article/Create-a-sunburst-chart-in-Office-2016-4a127977-62cd-4c11-b8c7-65b84a358e0c?ui=en-US&rs=en-US&ad=US&fromAR=1

—

[2017-05-08 14:22] JIMENOFONSECA commented on #617
@amraladdin does this solve your question?

[2017-05-08 14:25] JIMENOFONSECA commented on #612
@martin-mosteiro is there a branch with these changes right?

[2017-05-08 16:15] martin-mosteiro commented on #612
Yes, i612.

Cheers
Martín

Am 08.05.2017 um 23:25 schrieb JIMENOFONSECA <notifications@github.com<mailto:notifications@github.com>>:

@martin-mosteiro<https://github.com/martin-mosteiro> is there a branch with these changes right?

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub<https://github.com/architecture-building-systems/CEAforArcGIS/issue

[2017-05-09 02:00] gabriel-happle opened #630 "Radiation script: Terrain tiff to terrain shell not working properly"
Trying to run the radiation script in branch #623 for the EcoCampus case study lead to the following break of code:

The code is breaking, because ‘pyliburo.calculate.intersect_shape_with_ptdir()’ returns ‘None’.
Which essentially means the building footprints are not correctly located with respect to the terrain, i.e., not any distance in Z apart.

Inputs visualized in ArcGIS seem to be ok.
![eco

[2017-05-09 02:04] gabriel-happle commented on #630
Terrain seems to be created in `create_gml.terrain2d23d()`.

[2017-05-09 02:08] gabriel-happle commented on #630
Should I take care of radiation/geometry/occ issues @JIMENOFONSECA ? Or who will be the in-house responsible for geometry issues?

[2017-05-09 02:13] chenkianwee commented on #630
Hi Gabriel,
I think this is because you have not projected your shapefile into a Projected Reference System.  As a result, all your number are in longtitude and latitude, thats why its looking so weird.  Follow the link pasted here ((https://gis4design.wordpress.com/2015/10/26/qgis-coordinate-reference-systems-crs/#crs-2) to understand how to change the coordinate system in qgis. Then project the

[2017-05-09 05:26] JIMENOFONSECA commented on #630
Hi Gabriel,

If possible i believe this interface is easier if you can handle it and pull info from Zhongming or me.

On 9 May 2017, at 4:08 am, Gabriel Happle <notifications@github.com<mailto:notifications@github.com>> wrote:

Should I take care of radiation/geometry/occ issues @JIMENOFONSECA<https://github.com/JIMENOFONSECA> ? Or who will be the in-house responsible for geometry issues?

—
You a

[2017-05-09 06:49] BhargavaKrishnaSreepathi commented on #570
@JIMENOFONSECA : There are few files which is being shipped along with the reference case present in `reference-case\baseline\outputs\data\optimization\substations`. Can these files instead be generated in CEA files?

[2017-05-09 06:58] JIMENOFONSECA commented on #570
Yes!, they should in fact do not be shipped woth the reference case

Best, Jimeno

On 9 May 2017, at 08:49, BhargavaKrishnaSreepathi <notifications@github.com<mailto:notifications@github.com>> wrote:

@JIMENOFONSECA<https://github.com/JIMENOFONSECA> : There are few files which is being shipped along with the reference case present in reference-case\baseline\outputs\data\optimization\substations. C

[2017-05-09 07:07] gabriel-happle commented on #630
@JIMENOFONSECA OK. I will start to look into OCC and CityGML.
But is this part of your effort to make all the inputs ready for the new radiation script? Or is this some other bug?

[2017-05-09 07:15] BhargavaKrishnaSreepathi commented on #570
Can you tell me which file generates these files?

[2017-05-09 08:02] shanshanhsieh commented on #268
this issue is related to #478, and will be resolved together in branch `i268`

[2017-05-09 08:29] shanshanhsieh commented on #352
This is related to #630  on how to prepare inputs to run the radiation script. Therefore, this issue will be closed.

[2017-05-09 08:29] #352 closed

[2017-05-09 08:36] JIMENOFONSECA commented on #630
It is a Bug. What KianWee says is that previous to run CEA, the terrain should be projected in a coordinate system that handles meters. such as WSG84. (I am gonna add this to the documentation right away!). The problem with Singapore coordinate system is that it works in a coordinate system based on degrees. I am gonna create a guide of how to change coordinate systems in arcgis, please convert th

[2017-05-09 08:39] JIMENOFONSECA commented on #570
Under the optimisation folder you will see the preprocessing.py which calls the substation_main.py file. This file gets the substation configuration fro the initial state (all buildings connected and the individual. You can track each one of the routines by doing right click in the function and go to declaration…

On 9 May 2017, at 9:15 am, BhargavaKrishnaSreepathi <notifications@github.com<mailto

[2017-05-09 08:46] chenkianwee commented on #630
Hi Jimeno,
Its not that Singapore coordinate system is based on degrees. Its the difference between a GCS (geographical coordinate system) and PCS (projected coordinate system).

GCS locates geographical entities on a three-dimensional spherical surface and references points by their latitude and longitude values. The units are therefore in degrees.

PCS locates geographical entities on a two-dime

[2017-05-09 08:57] BhargavaKrishnaSreepathi commented on #570
Aah. That piece of code is commented out. I now included it into the code and it is working now even after removing the files. This way it will work even if we hard shutdown the code and the data is corrupt. As it is recreating the files from scratch

[2017-05-09 09:06] JIMENOFONSECA commented on #630
@chenkianwee you are right. So the issue is that the data just needs to be projected?

[2017-05-09 09:08] chenkianwee commented on #630
@JIMENOFONSECA I think so, with my limited knowledge of GIS CRS. That is my understanding.

[2017-05-09 09:10] JIMENOFONSECA commented on #630
@gabriel-happle does this solve the problem?

[2017-05-09 09:33] JIMENOFONSECA commented on #630
@gabriel-happle would this guide help to solve the problem? https://docs.google.com/presentation/d/1iZxkIqhyQcRKU91iAzhDO5kMlLIS8DjNP7NeZw9h_fs/edit?usp=sharing
If partly, could you help me to complement it? i could give an editable link via slack

[2017-05-09 10:36] BhargavaKrishnaSreepathi commented on #570
solved in PR #631. Hence closing

[2017-05-09 10:36] #570 closed

[2017-05-09 12:55] amraladdin commented on #617
Yes, this is perfect! Thanks!

[2017-05-09 12:55] #617 closed

[2017-05-09 13:50] amraladdin commented on #591
I believe this issue was fixed with the new FAQ presentations... @JIMENOFONSECA wouldn't you agree?

[2017-05-10 11:03] JIMENOFONSECA commented on #630
@gabriel-happle we might want to fix this issue with another branch than the archetypes singapore branch

[2017-05-10 11:05] #526 closed

[2017-05-10 12:50] JIMENOFONSECA commented on #495
@martin-mosteiro The SIA standard shows schedules per room. (e.g., bathroom, corridor, bedroom, living room, kitchen etc..), In order to create schedules for an use (MULTI-RESIDENTIAL). we used a combination of schedules in several rooms multiplied by a weigth. (Unfortunately I cannot anymore find which weight was assigned). This is why you could find numbers such as 0.44444 etc..

Now. for Vww an

[2017-05-10 14:55] JIMENOFONSECA opened #632 "ArcGIS interface for Hydraulic-Thermal Network Calculation"
@martin-mosteiro @shanshanhsieh would you take care of this issue?

[2017-05-10 14:57] JIMENOFONSECA opened #633 "ArcGIS interface for Solar Potential Calculation"
would @shanshanhsieh and @daren-thomas mind taking care of this?

[2017-05-11 05:42] gabriel-happle commented on #630
The Shapefiles are in PCS:
![image](https://cloud.githubusercontent.com/assets/17002288/25934204/0c9c3716-364f-11e7-966c-cad2d60da696.png)

The Terrain is in GCS:
![image](https://cloud.githubusercontent.com/assets/17002288/25934249/43758fd0-364f-11e7-817b-d4a8e69cda80.png)

Converting terrain raster to coordinate system of shapefiles:

[2017-05-11 12:29] daren-thomas commented on #633
@shanshanhsieh maybe we can skype next week?

[2017-05-15 06:03] BhargavaKrishnaSreepathi commented on #615
PR merged

[2017-05-15 06:03] #615 closed

[2017-05-15 06:07] BhargavaKrishnaSreepathi commented on #494
To avoid the cascading effect of computational time which balloons with the simultaneous approach, integrating surrogate model approach is advisable. I have already discussed with @fazel regarding this.

[2017-05-15 06:17] gabriel-happle opened #634 "Bugfix: radiation_daysim.create_gml.building2d23d() can not read number of floors from input files"
bugfix for reading inputs from dbf in radiation_daysim.create_gml.building2d23d()

[2017-05-15 07:09] #336 closed

[2017-05-15 07:14] shanshanhsieh commented on #92
This issue was set up for the WSBE study, but this functionality is not required at the moment.
Therefore, the priority goes to "priority 2" - good to have.

[2017-05-15 07:15] gabriel-happle commented on #634
closed after merging

[2017-05-15 07:15] #634 closed

[2017-05-15 07:18] shanshanhsieh commented on #370
This will be tackled at the end of the WP1 of Shanshan's research (planned timeline: Nov 2017).

[2017-05-15 07:26] shanshanhsieh commented on #632
This is planned in #539 , therefore, this issue will be closed.

[2017-05-15 07:26] #632 closed

[2017-05-15 07:32] shanshanhsieh opened #636 "Connect Solar collector and PVT calculations with new radiation results"
refactor and connect calculations in `solar_collector.py` , `photovoltaic_thermal.py` with the results of `radiation_main.py`

[2017-05-15 08:17] #512 closed

[2017-05-15 08:18] shizhongming opened #637 "Code to put in Grasshopper to call CEA"
Program the code to be pasted in Grasshopper.  It sends the Urban form generated in the UBG (in CityGML format) to CEA for simulation and returns back results to Grasshopper.

[2017-05-15 08:18] #516 closed

[2017-05-15 08:20] #521 closed

[2017-05-15 08:29] #518 closed

[2017-05-15 08:41] daren-thomas opened #638 "Create a custom installer for veolia"
They have special constraints (no http requests...)

[2017-05-15 08:42] #510 closed

[2017-05-15 08:43] #508 closed

[2017-05-15 08:43] JIMENOFONSECA commented on #509
- [ ]

[2017-05-15 08:43] #509 closed

[2017-05-15 08:44] #511 closed

[2017-05-15 08:52] #480 closed

[2017-05-15 08:55] #606 closed

[2017-05-15 08:58] #637 closed

[2017-05-15 09:03] #599 closed

[2017-05-15 09:14] #504 closed

[2017-05-15 13:22] daren-thomas commented on #607
waiting for @JIMENOFONSECA to merge PR #624

[2017-05-15 13:22] #607 closed

[2017-05-15 13:28] daren-thomas opened #639 "Initialize scenario feature (for databases etc.)"
- copy archetypes and other database stuff to the scenario folder
- CEA reads these files by default from scenario folder, failing over to database versions
- include weather file (this reduces the amount of options a user has to set for each run...)
- ties in with the cascading configuration file

[2017-05-15 13:30] daren-thomas opened #640 "Check coordinate systems of input files on radiation / demand etc."
They need to all be in the same projected coordinate system. When they are not, raise an error message that includes a link to the user documentation on how to fix that (one of the FAQ presentations)

@JIMENOFONSECA are we going to define a default for the CEA tool? Or still let the user choose?

[2017-05-15 13:36] daren-thomas opened #641 "Add options to configuration file specifying preferred models (e.g. ventilation)"
The cascading configuration file (user < reference case < scenario) should have options to specify preferred models and other options for a run. Say:

- which ventilation model to use
- what radiation model to use
- parameters like weather-file / path to weather-file to use
- what else?

[2017-05-15 13:42] daren-thomas opened #642 "ArcGIS interface: Remember last selected options for a scenario (plus last selected scenario)"
This could be part of the cascading configuration file, but does not necessarily have to be. When a user runs a feature in the ArcGIS interface, make that the selected choice the next time the user starts the interface.

- pre-select the last chosen scenario
- read the last options of that scenario from the scenario-level configuration file?

This depends on the configuration file, I think, but gi

[2017-05-16 05:54] shanshanhsieh commented on #603
@BhargavaKrishnaSreepathi do you see this be finished in `spring May`?
I personally would put it to the first priority of the coming sprint, since it will have to wait until #636 is merged as well.

[2017-05-16 06:00] shanshanhsieh commented on #633
@daren-thomas yes, how about this thursday?
Do you see this being finished in `Sprint May`?

[2017-05-16 06:02] BhargavaKrishnaSreepathi commented on #603
@shanshanhsieh: I think it will take longer than that, as both of us have other issues to wrap up.

[2017-05-16 06:10] JIMENOFONSECA commented on #640
@daren-thomas i believe they can choose. but it needs to be projected and be the same always.

[2017-05-16 06:11] JIMENOFONSECA commented on #630
@gabriel-happle i projected all the files for the reference case master branch, please try again.

[2017-05-16 06:17] #591 closed

[2017-05-16 06:18] JIMENOFONSECA opened #643 "Retroffiting Manual in FAQ"
@amraladdin please include the details here, thanks!

[2017-05-16 06:24] JIMENOFONSECA opened #644 "FAQ: How to edit input databases of CEA?"
I Made the slides, @amraladdin can you check if this is the case, if not complement it and close the issue? thanks!

[2017-05-16 06:35] JIMENOFONSECA opened #645 "Switch between infiltration models"
The Demand script should offer the possibility to switch bettween ventilation models.
for this. the interface to Arcgis should provide a list or a tick box indicating which infiltration model to use:

Model A. Simple steady-state
Model B. Dynamic

This will avoid commenting, commenting lines of code once one or the other models is going to be used. I would like to have this functionality to run so

[2017-05-16 08:08] daren-thomas commented on #645
See also #641 for a related issue

[2017-05-16 09:07] Khayatian opened #646 "Weather data file should be part of inputs"
Until now the weather data is hidden in variables which makes it difficult to test cases. I believe that the weather data file should e part of the case study and scenario.
@daren-thomas would you mind taking care of this.

[2017-05-16 09:13] Khayatian opened #647 "Integrating Keras for surrogate model"
This is the first attempt to see if Keras can be associated with the current installation of Theano and CEA. Keras library contains modular ML tools, useful for large scale data processing.

[2017-05-16 09:14] Khayatian commented on #647
@JIMENOFONSECA what is your opinion on this:
![image](https://cloud.githubusercontent.com/assets/27851066/26098691/20a2c72e-3a5b-11e7-9f49-a8b6054e91de.png)

[2017-05-16 09:42] JIMENOFONSECA commented on #633
@shanshanhsieh i think this is the interface we meant for the solar potential that can be created

[2017-05-16 10:28] shanshanhsieh commented on #536
@BhargavaKrishnaSreepathi  This issue is ready to be reviewed!
To test the three networks, please go to branch `i412` and run the reference case in `cea/examples/reference-case-open`, there is a readme guide on how to switch between three network configurations.
To verify the result with simulink model, please access the model via https://github.com/shanshanhsieh/network.

[2017-05-16 14:47] daren-thomas commented on #633
I definitely think it could be! where do i find the solar potential calculation? I couldn't find an open pull request...

[2017-05-17 01:37] JIMENOFONSECA opened #648 "Radiation not working for Zurich case"
There is a memory error, it might have to do with the size of the case study, specially the district. we will check this into the code.

@chenkianwee is there a way to limit the resolution of the district.shp (context buildings) to a wider sensor grid, but keep that one of the Zone.shp smaller?

[2017-05-17 01:40] chenkianwee commented on #648
Hi Jimeno, memory from where? From PythonOCC? It is definitely possible to vary the resolution.

[2017-05-17 01:44] chenkianwee commented on #648
140 mb is ok I think in terms of geometry, but I have not run a solar simulation on such a big file before.  Ya sure, 4pm today ?

[2017-05-17 01:45] JIMENOFONSECA commented on #648
sure, see you here!

Jimeno
________________________________
From: chenkianwee [notifications@github.com]
Sent: Wednesday, May 17, 2017 9:44 AM
To: architecture-building-systems/CEAforArcGIS
Cc: Jimeno Fonseca; Assign
Subject: Re: [architecture-building-systems/CEAforArcGIS] Radiation not working for Zurich case (#648)

140 mb is ok I think in terms of geometry, but I have not run a solar simulati

[2017-05-17 02:21] BhargavaKrishnaSreepathi opened #649 "fix preprocessing_main to include decentralized_main to avoid shipping of files with reference case"
Activating `decentralized_main` to generate 'DiscOP_buildingname_result' files

[2017-05-17 06:34] JIMENOFONSECA commented on #648
I get this: Process finished with exit code -1073741819 (0xC0000005)

And it is happening when the next text is printed:

('Error status:', '- Ok')
('Can work?', True)
('Error status:', '- Ok')
('Can work?', True)
('Error status:', '- Ok')
('Can work?', True)
('Error status:', '- Ok')
('Can work?', True)
('Error status:', '- Ok')
('Can work?', True)
('Error status:', '- Ok')
('Can work?', True)
('

[2017-05-17 06:36] BhargavaKrishnaSreepathi commented on #649
Hi @JIMENOFONSECA , this is the error I am facing, when I run the `optimization_main.py` in branch `i649-decentralized-buildings-preprocessing`. Please help me out . Thanks

  File "C:/Users/Bhargava/Documents/GitHub/CEAforArcGIS/cea/optimization/optimization_main.py", line 84, in <module>
Run decentralized model for buildings
    run_as_script(r'C:\reference-case-zug\baseline')
  File "C:/Users/B

[2017-05-17 06:56] chenkianwee commented on #648
hmnnn Jimeno I am not sure what is happening. I need to look at the error in detail.

[2017-05-17 07:43] BhargavaKrishnaSreepathi commented on #649
@JIMENOFONSECA : a follow up question. After running the `decentralized_buildings.py`, there are files generated corresponding to the number of buildings, but each file has 14 rows, 1 row corresponding to header and 13 (i don't know). The number 13 is hard coded in the code and no explanation is provided for why it is chosen as 13. It says at the start it is a combinatorial problem. Can you give y

[2017-05-17 07:47] JIMENOFONSECA commented on #649
So this is something we need to "decipher" form the code. but in essence, it is making a ranking of the best solution out of combining all possible supply systems for decentralized buildings. Such algorithm should be translated into a MILP formulation which could be a great point to get this skills of your on board ; ). I advice to look at that issue and update the decentralized buildings script.

[2017-05-17 08:41] amraladdin commented on #644
Thanks a lot @JIMENOFONSECA I'll check them and report accordingly!

[2017-05-17 08:47] amraladdin commented on #643
According to our last discussion, a small restructuring of the presentations will take place, as follows:
- Presentation on "How to ensure you have a correct main (aka baseline) scenario?"

Regarding the retrofitting set of presentations, the following changes should take place:
- Create a general presentation on "How to edit databases?"
- Create 3 sub-presentations that tackle the retrofitting to

[2017-05-17 08:52] gabriel-happle commented on #630
@JIMENOFONSECA I get this error now. Is it the same as for other case studies?
[code]

[2017-05-17 08:58] gabriel-happle commented on #520
I think we can close this for now with regards to our issue closing policy.

[2017-05-17 08:58] #520 closed

[2017-05-17 08:59] gabriel-happle commented on #517
I think we can close this for now.

[2017-05-17 08:59] #517 closed

[2017-05-17 08:59] gabriel-happle commented on #645
duplicate of #465

[2017-05-17 09:00] gabriel-happle commented on #465
closing this because there is a newer duplicate of this issue #645

[2017-05-17 09:00] #465 closed

[2017-05-17 09:14] gabriel-happle opened #650 "Create a processor for multi-zone input to multi-zone demand calculation"
The goal of this issue is to import multi-zone building geometries in cityGML format created by @shizhongming in Rhino\Grasshopper into CEA and set up an EN/SIA RC-model demand calculation for every functional zone in the building.
if the geometry of every functional zone is set up properly, i.e. with floor and ceiling connected to other zones instead of outdoors, the current demand calculation me

[2017-05-18 01:56] gabriel-happle opened #651 "Installation of geopandas broken"
When following the current installation guide for setting up a the `cea` anaconda environment, geopandas (specifically GDAL) is not running.
This error happened after cleaning up the Windows PATH Environment variables and and setting up a brand new environment.

This is the error message after attempting to run the radiation script:
[code]

The following fix seemed to work:
- copy `C:\users\Gabrie

[2017-05-18 03:43] gabriel-happle commented on #630
@chenkianwee and @JIMENOFONSECA
In addition I also get the messages mentioned in #648
[code]

[2017-05-18 04:08] JIMENOFONSECA commented on #630
those messages are from the library pythonOCC. they are ok
________________________________
From: Gabriel Happle [notifications@github.com]
Sent: Thursday, May 18, 2017 11:43 AM
To: architecture-building-systems/CEAforArcGIS
Cc: Jimeno Fonseca; Mention
Subject: Re: [architecture-building-systems/CEAforArcGIS] Radiation script: Terrain tiff to terrain shell not working properly (#630)

@chenkianwee

[2017-05-18 05:45] gabriel-happle commented on #630
OK @JIMENOFONSECA. But what about the error? I can't run the radiation for the EcoCampus.

[2017-05-18 05:59] shanshanhsieh commented on #633
This issue can be implemented after #636 is finished.

Here are requirements of the interfact:

- *Input from users*:
1. Grid size
2. Solar technology selection
3. Add technology specifications (optional)
- *Output to visualize*: energy generation potential from the selected technologies of each building or on each building surfaces.
- *Background processes*:
1. Run `radiation_main.py` (with the g

[2017-05-18 06:05] gabriel-happle commented on #630
by the way, this is the error I get when I try to run the arcpy radiation script for EcoCampus:

[code]

[2017-05-18 06:06] shanshanhsieh commented on #539
Here are requirements of the interface:

- *Input from users*:
1. Buildings connecting to thermal network (DC or DH)
2. Plant location
3. Route (limit to branch layout)
4. Insulation thickness and material property (conductive heat transfer coefficient)

- *Output to visualize*:
1. Supply temperature at each substation
2. Plant heat requirement
3. Plant pumping requirement

- *Background processes

[2017-05-18 06:49] JIMENOFONSECA commented on #648
i got the same error again :-((

[2017-05-18 09:11] JIMENOFONSECA commented on #630
@gabriel-happle please try again with branch i648 and let me know if it works :-) i should take about 40 min to calculate (the code is querky and needs to be fixed to speed up)

[2017-05-18 09:19] JIMENOFONSECA commented on #539
so are the network edges and nodes inputs?
what is the route?

[2017-05-18 09:23] shanshanhsieh commented on #539
Route is the pipeline layout.
yes, the user inputs will be stored in `network-nodes.shp` and `network-edges.shp` for the simulation.
I don't expect the users will modify the .shp file directly, rather, we will translate their inputs via the interface to the attribute tables in the .shp file.

[2017-05-18 09:24] JIMENOFONSECA commented on #539
So they are like intermediate outputs right?

[2017-05-18 09:29] shanshanhsieh commented on #539
Yes.
In the current CEA folder structure, it is the input `reference-case-open/baseline/input/network`.
However, in the future, these files will be intermediate outputs prepared by the optimization or determined by users.

[2017-05-18 09:37] JIMENOFONSECA commented on #539
Cool!

Best, Jimeno

On 18 May 2017, at 17:30, shanshanhsieh <notifications@github.com<mailto:notifications@github.com>> wrote:

Yes.
In the current CEA folder structure, it is the input reference-case-open/baseline/input/network.
However, in the future, these files will be intermediate outputs prepared by the optimization or determined by users.

—
You are receiving this because you commented.
Re

[2017-05-18 09:48] gabriel-happle commented on #630
@JIMENOFONSECA unfortunately still the same error:

[code]

gml file looks good:
![image](https://cloud.githubusercontent.com/assets/17002288/26196639/221ef1ca-3bf2-11e7-9ec1-246559585695.png)

[2017-05-18 09:57] JIMENOFONSECA commented on #630
This has to do with the installation of OCCUtils.

what about trying to use the latest release of pyliburo where kianwee absorbs actuals so you do not have problems with versioning?  you can ask him directly here where to find it.

On 18 May 2017, at 5:48 pm, Gabriel Happle <notifications@github.com<mailto:notifications@github.com>> wrote:

@JIMENOFONSECA<https://github.com/jimenofonseca> unfortun

[2017-05-18 10:02] gabriel-happle commented on #630
hi @chenkianwee, where can I update to the latest pyliburo release?

[2017-05-19 02:55] BhargavaKrishnaSreepathi opened #652 "Create a settings.py for optimization folder"
settings.py similar to the one in `resources\radiation_daysim`. It will have the parameters that will be used multiple times in the files in `optimization` folder

[2017-05-19 03:43] gabriel-happle commented on #630
@JIMENOFONSECA does this mean the installation of the python environment should be changed?
In that case we also have to tell @daren-thomas .

[2017-05-19 05:33] JIMENOFONSECA commented on #648
@chenkianwee so this is the profiler of the City GML creator create_gml.py file. Which is quite slow for several buildings. the bottle neck is definitely creating building windows and the intersect_shape_with_pt function... 50% of all the time!

![diagram](https://cloud.githubusercontent.com/assets/8973186/26234494/930b8060-3c97-11e7-8cd4-4115b529d36e.png)

[2017-05-19 05:39] JIMENOFONSECA commented on #630
Yes! We need to inform daren about this to help us to connect to the new version.

Best, Jimeno

On 19 May 2017, at 11:43, Gabriel Happle <notifications@github.com<mailto:notifications@github.com>> wrote:

@JIMENOFONSECA<https://github.com/jimenofonseca> does this mean the installation of the python environment should be changed?
In that case we also have to tell @daren-thomas<https://github.com/d

[2017-05-19 06:14] JIMENOFONSECA commented on #648
so i was able to correct that function and the bottle neck now is  th emake shell:
![diagram](https://cloud.githubusercontent.com/assets/8973186/26235394/6cf15c78-3c9d-11e7-9667-827ccd8e8df7.png)

[2017-05-19 07:03] JIMENOFONSECA commented on #648
Ok the radiation script is working for the Zurich case, however it is quite slow. I think it needs some parallel computing. It did my best in refactoring but i will need an expert to jump in :-) @daren-thomas would you mind to giving me a hand on this? Here is a run of the Profiler.

![diagram2](https://cloud.githubusercontent.com/assets/8973186/26236638/f53a99e0-3ca3-11e7-80e2-9fed114d2fa2.png)

[2017-05-19 07:52] daren-thomas commented on #648
@JIMENOFONSECA I've added it to my list, but for this sprint, I don't think I have time for improving speed - we can do that afterwards, as long as it runs!

[2017-05-22 09:53] JIMENOFONSECA opened #654 "Update reference-case-open so it is more diverse"
In connection to issue #643 there is a need for a more diversified open case. At the moment almost the same buildings are being calculated, what makes difficult identifying "perils".

[2017-05-23 05:45] JIMENOFONSECA commented on #654
Not necessary anymore

[2017-05-23 05:45] #654 closed

[2017-05-23 05:47] JIMENOFONSECA commented on #643
@amraladdin  i think it is not necessary to adapt a casee study. the HQ should be sufficient in this matter. the analysis should take the same time in any case study. Making another one is nice to have but troublesome timewise for the goal of this milestone

[2017-05-23 05:48] JIMENOFONSECA commented on #643
@martin-mosteiro is the case study in the server up to date to do the study?

[2017-05-23 08:06] JIMENOFONSECA opened #655 "Move vent control to ventilation?"
I wonder if the tab of ventilation control can be moved to that of ventilation and simplify the inputs. to only type_vent @gabriel-happle what do you think? I would need to check this for the issue #643 . we could sit down and check it also how we can rework it.

![image](https://cloud.githubusercontent.com/assets/8973186/26344269/96928bd8-3fd1-11e7-990c-2a8c2bee000f.png)

![image](https://cloud.g

[2017-05-23 08:47] martin-mosteiro commented on #643
@JIMENOFONSECA no, it's still waiting to be merged
https://github.com/architecture-building-systems/cea-reference-case/pull/13

[2017-05-24 02:22] gabriel-happle commented on #655
@JIMENOFONSECA `type_ctrl` is not the control of ventilation. It's the control of the heating and cooling space emission systems used to calculate emission losses.

[2017-05-24 03:56] JIMENOFONSECA commented on #643
done! thanks!
________________________________
From: martin-mosteiro [notifications@github.com]
Sent: Tuesday, May 23, 2017 4:47 PM
To: architecture-building-systems/CEAforArcGIS
Cc: Jimeno Fonseca; Mention
Subject: Re: [architecture-building-systems/CEAforArcGIS] Retroffiting Manual in FAQ (#643)

@JIMENOFONSECA<https://github.com/jimenofonseca> no, it's still waiting to be merged
architecture-bu

[2017-05-24 07:45] #613 closed

[2017-05-24 07:45] BhargavaKrishnaSreepathi commented on #613
Closing the issue as the PR is accepted

[2017-05-24 08:29] JIMENOFONSECA opened #657 "FAQ: How do the Life Cycle Assessment tool work?"
Esta se relaciona a los scripts the embodied, operation and mobility emissions
Un ejemplo de otra guia esta aqui: https://cityenergyanalyst.com/faq/

The guides can be created with access to the server and using google presentation ask me for the credentials

[2017-05-24 08:30] JIMENOFONSECA opened #658 "FAQ: How do the 2000-Watt Benchmarking tool work?"
This is related to the scenario plots or 200-watt benchmarking
Un ejemplo de otra guia esta aqui: https://cityenergyanalyst.com/faq/

The guides can be created with access to the server and using google presentation ask me for the credentials

[2017-05-24 09:00] #638 closed

[2017-05-24 09:02] daren-thomas commented on #651
@gabriel-happle I wonder: uninstalling anaconda (the whole thing) and re-installing should, in my opinion, fix this for you.

Is this still an issue?

[2017-05-25 03:08] gabriel-happle opened #660 "create a (unit) test for BuildingProperties generation"
While working on #656 I encountered a problem in `thermal_loads.BuildingProperties` object initialization.
Basically there were some illegal keys `T0` in the archetypes database, which did not provide a link to the respective building systems database. This means the dataframe merge commands used in the various functions don't find a match and the respective building is dropped.

We could implemen

[2017-05-25 06:59] gabriel-happle opened #661 "Old radiation script not working"
I can't run the arcgis radiation on my machine!
I tried multiple scenarios from pycharm as well as from arcgis.

[code]

But I do have the specified Default.gdb:

![f9b4d6c4-3fe7-11e7-98b0-22debb8082ae](https://cloud.githubusercontent.com/assets/17002288/26439484/edccca6e-415a-11e7-92db-76dd260f968e.png)

[2017-05-25 07:02] gabriel-happle commented on #661
[code]

[2017-05-25 07:47] JIMENOFONSECA commented on #661
@gabriel-happle what is the case study?

[2017-05-25 07:49] gabriel-happle commented on #661
I think all of them. I tried ecocampus and zug.

[2017-05-25 07:50] JIMENOFONSECA commented on #661
It works in my computer for all scenarios except ecocampus. @daren-thomas do you think this has to do with the installation of arcgis or something?

[2017-05-25 07:52] JIMENOFONSECA commented on #661
@gabriel-happle can you check you have the spatial analyst extension of arcgis enabled?

[2017-05-25 10:16] gabriel-happle commented on #651
@daren-thomas I re-installed the whole thing.
Seems we are back to square 1 :(

[code]

[2017-05-25 10:32] gabriel-happle commented on #661
@JIMENOFONSECA having a different error now.
Trying to run zug case study
[code]

[2017-05-26 03:04] gabriel-happle commented on #661
after manually deleting the specified folder I ended up with the same error as before

C:\Users\Gabriel\Anaconda2\envs\cea\python.exe C:/Users/Gabriel/Documents/GitHub/CEAforArcGIS/cea/resources/radiation_arcgis/radiation.py
PyTables is not installed. No support for HDF output.
C:\Users\Gabriel\Documents\GitHub\CEAforArcGIS\cea\databases\weather\Zug.epw
complete calculating sunrise
Traceback (most

[2017-05-26 03:05] JIMENOFONSECA commented on #661
@gabriel-happle mmm weird..

[2017-05-26 03:06] JIMENOFONSECA commented on #661
mmm, @darenthomas are you facing this too?
________________________________
From: Gabriel Happle [notifications@github.com]
Sent: Thursday, May 25, 2017 6:32 PM
To: architecture-building-systems/CEAforArcGIS
Cc: Jimeno Fonseca; Mention
Subject: Re: [architecture-building-systems/CEAforArcGIS] Old radiation script not working (#661)

@JIMENOFONSECA<https://github.com/jimenofonseca> having a differe

[2017-05-26 03:10] gabriel-happle commented on #661
after deleting all (non-active) files in AppData/Temp and the Arcgis default.gdb I end up with this different error when running the old radiation script from pycharm:

[code]

Looks like arcgis has to create the default.gdb... Trying from ArcGIS now

[2017-05-26 03:29] gabriel-happle commented on #661
for the reference:
(there are also some warnings in the log)

[radiation_succes_from_arcgis.txt](https://github.com/architecture-building-systems/CEAforArcGIS/files/1030746/radiation_succes_from_arcgis.txt)

[2017-05-26 03:32] gabriel-happle commented on #661
@JIMENOFONSECA now we are on the same page again.

getting this geometry error for EcoCampus:

[code]

[2017-05-26 03:35] JIMENOFONSECA commented on #661
Yes that is what I get too. I believe it has to do with the scenario itself, can you check that all geometry is closed?

Try http://desktop.arcgis.com/en/arcmap/10.3/manage-data/editing-topology/finding-topology-errors-with-the-error-inspector.htm

This is ArcGIS issue so I guess checking on google about the error might help in here..

From: Gabriel Happle [mailto:notifications@github.com]
Sent: F

[2017-05-26 06:56] gabriel-happle commented on #661
@JIMENOFONSECA I tried repairing the geometry and changed some vertex of an overlapping building. No success.
The internet says that the ERROR 999999 of ArcGIS is most of the time thrown because of 32bit Memory issues! They suggest splitting shapefiles.
E.g. here: http://support.esri.com/technical-article/000012368

I don't know what to do anymore.

By the way @daren-thomas and @JIMENOFONSECA I ca

[2017-05-29 08:23] daren-thomas commented on #651
ugh! so. that works for you? weird, i can run this without any problems (except for the warnings but those don't change anything)

@gabriel-happle  do you want to add a note to the installation guide for users experiencing this error?

[2017-05-29 08:30] daren-thomas commented on #660
such a test would create a minimal set of files to read in. maybe need to restructure the code to make it "testable". i'll look into it some day!

[2017-05-29 11:24] gabriel-happle commented on #651
OK. Assigning myself to this issue. Added this to the master directly. hope that's ok

[2017-05-29 11:40] daren-thomas commented on #651
it's not. but nevermind. thanks!

[2017-05-30 01:17] gabriel-happle commented on #651
OK. Sorry.
So branch and pull request next time.

[2017-05-30 11:22] JIMENOFONSECA opened #662 "Refactor radiation file to eliminate CITYGML"
After a meeting with @shizhongming and @gabriel-happle, it was decided to skip the use of citygml for now on the grounds that:

1. It is difficult to edit and it is not human readable.
2. Files are heavy and converting to citygml every time we run a simulation could become computationally expensive.
3. Skipping citygml makes cea faster and the connection to Urban generator simpler.
4. We can alway

[2017-05-30 11:46] martin-mosteiro opened #663 "Life Cycle Assessment tools inconsistently named"
While doing the LCA FAQ (#657) I noticed that the LCA tools in the ArcScene toolbox could be named much more intuitively. At the moment, we have:

- **Embodied energy:** calculates the embodied primary energy demand and emissions
- **Emissions operation:** calculates the operation primary energy demand and emissions
- **Emissions mobility:** calculates the mobility primary energy demand and emissi

[2017-05-30 18:54] martin-mosteiro commented on #657
Done. Need access to the server to upload them, though.

[2017-05-30 19:39] martin-mosteiro commented on #658
Done. Need access to the server to upload them, though. @JIMENOFONSECA

[2017-05-31 01:39] JIMENOFONSECA commented on #657
@martin-mosteiro could you provide me with a gmail account?

[2017-05-31 01:40] JIMENOFONSECA commented on #658
@martin-mosteiro great!, would you provide me with a gmail account?

[2017-05-31 01:58] JIMENOFONSECA commented on #663
@martin-mosteiro I agree, Maybe we can create a sub folder inside the ArcGIS CEA toolbox. As well as in pycharm.

It can be something like:

/City Energy analyst Toolbox
//Demand
//Data Helper
// ....
//......
// Life Cycle Assessment
///construction and dismantling
///operation
///mobility

@martin-mosteiro woudl you work on it in a branch and ask @daren-thomas for help when wanting to do this su

[2017-05-31 02:05] JIMENOFONSECA opened #664 "As a researcher, I want a robust and up-to-date multi-zone demand calculation, so I can simulate a higher level of granularity in terms of uses"
It refers to a step that can be done in parallel to issue #662. In basic therms the output of the radiation tool will not change.

This issue entails:
- changing occupancy.dbf in reference case open to consider multizonning (Jimeno). Floor by floor. Indicate in the radiation file which surface belongs to which floor.
- making multizonning in CEA (Gabriel) and connecting to radiation. (for this, it

[2017-05-31 02:15] JIMENOFONSECA commented on #12
relates to #664 as a duplicate. closing it

[2017-05-31 02:15] #12 closed

[2017-05-31 02:21] JIMENOFONSECA opened #665 "Export Rhino urban generator to CEA files"
based on #662 it was found that in order to connect the urban generator to CEA for now. The best is to create databases readable by CEA.

These are all the input files contained in CEA/examples/open-case-study.zip/baseline/inputs>

- Zone.shp
- architecture.dbf
- occupancy.dbf
- age.dbf

[2017-05-31 02:22] #648 closed

[2017-05-31 02:24] JIMENOFONSECA commented on #630
I think this issue can be closed

[2017-05-31 02:24] #630 closed

[2017-05-31 08:11] gabriel-happle commented on #650
After discussion with @JIMENOFONSECA and @shizhongming we decided to abolish the citygml plan for now. See also part of #664

[2017-05-31 09:10] #514 closed

[2017-05-31 09:10] JIMENOFONSECA commented on #514
WE close this issue because the street network is not necessary anymore for the ecocmapus case study. the terrain is ready

[2017-05-31 09:11] #506 closed

[2017-05-31 09:20] shanshanhsieh commented on #633
hey @daren-thomas , please take a look at branch i633, where I wrote the guide on how to run photovoltaic.py in docs/run_solar_technologies.rst- User input (the choice from the interface)
- Site specific input (draw the data according to the coordinate system, maybe we have to make new functions to automate the process? e.g. extract the first hour of sunrise at solstice)
- Default input (keep the

[2017-05-31 09:34] BhargavaKrishnaSreepathi commented on #89
`decentralized_buildings.py` is considering 13 options for now in optimization, which includes fuel cell, boiler and cogeneration technologies. The options go as follows:
1. Bio gas Boiler
2. Natural gas Boiler
3. Fuel Cell
4. 10 options of Geothermal Heat Pump with various % of Boiler and GHP. It goes from 0% Boiler to 90% Boiler

This is presented as a combinatorial problem (or at least that's w

[2017-05-31 09:36] BhargavaKrishnaSreepathi commented on #488
@gabriel-happle : Is this issue resolved? I am not facing this problem nowadays.

[2017-05-31 09:43] JIMENOFONSECA commented on #664
what happens with funcitons that have an area less than one floor? @martin-mosteiro

[2017-05-31 09:43] BhargavaKrishnaSreepathi commented on #80
@shanshanhsieh : does this mean, that the network is time dependent? or more like there are two or three networks for the entire year. These networks will be operated at different times of the day based on the requirement?

[2017-05-31 09:48] #651 closed

[2017-05-31 09:58] JIMENOFONSECA commented on #251
The solution will be to select these parameters from the interface in arcgis of the demand script. It should give the option to the user of a calendar to indicate when the heating season starts and ends, when the cooling season starts and ends. and..if there is a heating season or not, and if there is a cooling season or not.

[2017-05-31 10:02] JIMENOFONSECA commented on #354
it is duplicate of #665

[2017-05-31 10:02] #354 closed

[2017-05-31 10:02] #482 closed

[2017-05-31 10:11] shanshanhsieh commented on #89
For buildings in Singapore, we might also need to have bivalent systems.  I will revisit this issue for cooling supply around the 4th quarter of 2017.

[2017-05-31 10:13] shanshanhsieh commented on #80
1.  network is time dependent? or more like there are two or three networks for the entire year. These are all possible hypothesis, need more research to decide
2. These networks will be operated at different times of the day based on the requirement? Yes, this is how the current network is running as well.

[2017-05-31 10:21] BhargavaKrishnaSreepathi commented on #80
Do you mean, that in current setting there are multiple networks with same buildings?

[2017-05-31 11:48] martin-mosteiro commented on #612
As discussed during the meeting, here is a summary and update of this issue.

The issue actually aims at a few different problems I found in the schedule makers, namely:
1. If the main use was 'PARKING', the smallest use (rather than the next main use) was assigned as main use instead.
2. During preprocessing, the main use defines the internal loads and ventilation properties of the building (rath

[2017-05-31 16:02] martin-mosteiro commented on #663
@JIMENOFONSECA can! I've assigned this issue to myself.
@daren-thomas: can we create such a subfolder structure?

[2017-06-01 03:22] gabriel-happle commented on #488
@BhargavaKrishnaSreepathi no. I did not take any action on this.

[2017-06-01 03:39] gabriel-happle commented on #645
@daren-thomas let's talk about this and #251 on Friday 02/06? Can you do from 9:00-10:00?

[2017-06-01 04:15] Khayatian commented on #647
Keras Has been successfully integrated with CEA, and the obtained accuracy on a NN trained in Keras is around 0.4%.

[2017-06-01 04:15] #647 closed

[2017-06-01 04:19] Khayatian opened #666 "Test the implementation of NN in Keras"
Test the obtained accuracy on a larger sample (~1000) of buildings with various geometries, occupancy profiles, internal gains, construction materials, HVAC systems, etc...

[2017-06-01 04:20] Khayatian commented on #666
this issue is literally the DEIVIL issue as the corresponding reference number is 666.

[2017-06-01 06:05] shanshanhsieh commented on #80
Yes, in the current setting, district cooling and district heating networks are separated, therefore, could have different layout/connections.

[2017-06-01 09:41] BhargavaKrishnaSreepathi opened #667 "Understanding the substation.py and the doubts in its formulation"
So to calculate the best configuration for a decentralized buildings, as per my understanding the following procedure is followed. @shanshanhsieh @JIMENOFONSECA: Do correct me if my understanding is wrong.

1. Firstly, the supply temperature for space heating, hot water, space cooling through grid are determined. This is calculated by seeing every hour of the year and the maximum requirement tempe

[2017-06-01 09:47] shanshanhsieh opened #668 "Add low exergy (3for2) system to Demand calculation"
Currently, there are four emission system for cooling (none/ radiant panels/ centralized AC/ mini-split AC). But it is not possible to have a combination of these systems.
A low-exergy emission system which consists radiant panels, dehumidification of indoor air, and ventilation should be implemented.
Support from @gabriel-happle  will be needed.

[2017-06-02 01:27] JIMENOFONSECA commented on #667
@BhargavaKrishnaSreepathi all points are right.

About your question. I think that is not/should not be the case.

As discussed about two weeks ago. Would you mind to start doing a detailed workflow diagram of the optimization process so it is easier to understand and improve the current algorithm? This includes when the master and slave are called, when a network is set-up and when the seasonal s

[2017-06-02 01:36] gabriel-happle commented on #668
sure!

[2017-06-02 07:39] JIMENOFONSECA opened #669 "Switch between Archetypes databases"
@gabriel-happle @daren-thomas could you include this as a parallel issue to switching between infiltration types for the demand calculation tool? that is being able to switch between schedules and archetypes of singapore and SIA? kind of necessary for our case studies.

[2017-06-02 10:33] #658 closed

[2017-06-02 10:33] #657 closed

[2017-06-02 10:37] JIMENOFONSECA commented on #664
![b3abdc60d729f442eeaebc9dcb2a8241](https://cloud.githubusercontent.com/assets/8973186/26722427/7d552e20-47c2-11e7-8e0c-d4555717d698.png)

[2017-06-02 13:05] daren-thomas opened #670 "Use `venum` to model enumerations"
Currently, we're using `T0`, `T1` etc. to model enumerations (like, system types etc.) - we could use the python module [venum](https://github.com/ofek/venum) to model these instead. That would give us classes with defined names that map to integers (which are quick to work with in databases).

[2017-06-07 08:28] amraladdin commented on #566
Dear all,

Would it be possible to organize a meeting with you ( @daren-thomas , @shizhongming , @JIMENOFONSECA ) in order to discuss the work done with the Grasshopper CEA Plugin?

To brief Zhongming, I presented a suggestion in the last Chair retreat (1st of June) here in Zurich, which discussed the option of creating our own components on GH that focus on systems. The aim is to create very lean

[2017-06-07 14:33] daren-thomas commented on #251
OK. I have a problem here. @gabriel-happle do I understand this correctly: we don't actually have any way to indicate cooling season? it's just defined as not-heating-season?

And how does the `seasonhours` work?

I'm trying to refactor this into four dates:

- heating-season-start
- heating-season-end
- cooling-season-start
- cooling-season-end

and the option to set them to blank / None or somet

[2017-06-07 14:36] daren-thomas commented on #251
Also. Assuming we assign a date to `heating-season-start`: e.g. `2017-08-01`. Which hour is this then? first hour in the day? last hour in the day?

[2017-06-09 12:38] daren-thomas commented on #251
Check out PR #671 (cascading configuration files) - this includes a unittest that replaces the current `gv.is_heating_season` function with one that works on the four dates described above.

Oh. BTW. we don't have a cooling season. And the bounds are not clear. Can @gabriel-happle and @JIMENOFONSECA take a look??

[2017-06-09 14:47] daren-thomas commented on #633
@shanshanhsieh check out the branch: it now includes an arcgis tool for the photovoltaic use case. is this what you had in mind? then i can implement the rest...

use `cea install-toolbox` to update the toolbox in arcgis (you don't need to restart arcscene, just refresh the toolbox in the interface)

[2017-06-12 06:55] JIMENOFONSECA opened #672 "Create mini tools converter dbf 2excel and viceversa"
I wonder if @Khayatian  this could be your first contribution to CEA.

In essence we are missing two tools that you can call from Arcgis to convert files and make them editable from excel or access.

The result:

1 tool in arcgis called: database to excel converter
1 tool in arcgis called: excel to database converter

The method:

1. order a bit the file we have to do this conversion . cea/utiliti

[2017-06-12 07:05] JIMENOFONSECA commented on #664
@gabriel-happle i made the occupancy.dbf with the zoning convention. you can take this issue from here. I did it for the open case for now.

Please continue the work in the branch i664-multi-zone-radiation

[2017-06-12 07:16] JIMENOFONSECA commented on #644
@amraladdin any update? :-)

[2017-06-12 07:21] BhargavaKrishnaSreepathi opened #673 "Prepare workflow of optimization in CEA"
To prepare a workflow chart of various calculations involved in optimization in CEA. This helps in checking the code and the intention of the process

[2017-06-12 07:21] #655 closed

[2017-06-12 07:22] JIMENOFONSECA commented on #643
@daren-thomas hi Daren, would you mind giving me an extra hand to the interface of this tool? you helped me about two weeks ago, but there is some help i need, @skype?

[2017-06-12 09:20] amraladdin commented on #644
@JIMENOFONSECA Working on it. Will send an update end of today :)

[2017-06-12 10:54] amraladdin commented on #644
Done. So, I made some changes in the text of the first few slides. I've also changed half of the images (Somehow, they had a very bad quality, did you change the settings of the images?).
So, if you have time to look at it, that's great, then we can close this issue. Otherwise, if you don't have time, I'll revise the presentations on Wednesday.

[2017-06-12 14:32] daren-thomas commented on #643
@JIMENOFONSECA check out the newest commit: It includes an interface. Instead of checkboxes it works like this: if there is a value in the input field, then that criteria is to be used. if the field is empty, then ignore that criterium. i think that works quite well.

![image](https://user-images.githubusercontent.com/2969564/27038952-c26129f2-4f8c-11e7-9c1d-4289f9e93572.png)

[2017-06-12 15:30] JIMENOFONSECA commented on #643
Great! Thanks for this. The only thing is that it would be good to keep default values there. (They are like rules of thumb, and they are good to guide the user). In this context, it would be good to have checkboxes too.  the checkboxes should enable or disable charging the default values.

On 12 Jun 2017, at 22:33, Daren Thomas <notifications@github.com<mailto:notifications@github.com>> wrote:

@

[2017-06-13 05:32] shanshanhsieh commented on #633
hey @daren-thomas , thanks for the update. what is the name of the arcgis gui for photovoltaic use? i can only see a box called `radiation` in the branch.

[2017-06-13 07:27] daren-thomas commented on #633
hey @shanshanhsieh - did you run the `cea install-toolbox` command? That is what copies the `CityEnergyAnalyst.py` file to the "My Toolboxes" folder for ArcGIS to pick up. Also, you will need to refresh the toolbox in ArcGIS. Run this after every change to the interfaces...

I just checked the branch `i633-Interface-for-solar-potential`. The interface is there!

![image](https://user-images.github

[2017-06-13 07:28] daren-thomas commented on #643
We can do that, at the expense of cluttering the UI. An alternative would be to add example values to the labels. What would you prefer?

[2017-06-13 08:43] JIMENOFONSECA commented on #643
From my side, i would prefer the tick boxes that enable each field. In addition, it would be good to create subcategories in the interface so it is easy to read the Filters and do not clutter too much the UI

On 13 Jun 2017, at 3:28 pm, Daren Thomas <notifications@github.com<mailto:notifications@github.com>> wrote:

We can do that, at the expense of cluttering the UI. An alternative would be to ad

[2017-06-13 08:43] JIMENOFONSECA commented on #643
<img width="527" alt="screen shot 2017-06-13 at 4 41 54 pm" src="https://user-images.githubusercontent.com/8973186/27073730-776d603e-5057-11e7-8189-73cbbe088624.png">

[2017-06-13 09:50] shanshanhsieh commented on #633
hey @daren-thomas , i tried multiple times `cea install-toolbox` (including delete everything and re-run the command), but no luck. any other potential issues?
but i can see the class you created for `Photovoltaic` in `CityEnergyAnalyst.py` in pycharm (I also just made some modifications)

[2017-06-13 10:56] daren-thomas commented on #633
check with the command `where cea` - it should point to the version inside your conda environment. you probably have it installed in multiple environments and have created a mess...

[2017-06-13 10:57] daren-thomas commented on #643
@JIMENOFONSECA you happen to know what those are called? that could be a good way to do it... still include checkboxes? i have a checkbox version coming up next. still ironing out some bugs...

[2017-06-13 11:07] JIMENOFONSECA commented on #643
Mm no idea about the name. Looking forward to seeing the version with the checkboxes.

Best, Jimeno

On 13 Jun 2017, at 18:57, Daren Thomas <notifications@github.com<mailto:notifications@github.com>> wrote:

@JIMENOFONSECA<https://github.com/jimenofonseca> you happen to know what those are called? that could be a good way to do it... still include checkboxes? i have a checkbox version coming up ne

[2017-06-13 11:18] daren-thomas commented on #643
If only I can get it to work!!

[2017-06-13 12:01] daren-thomas commented on #643
OK. Check out the perfected interface combining the checkboxes as well as grouping the options by category.

[2017-06-13 13:24] daren-thomas commented on #645
working on this in the branch `645-switch-between-infiltration-models`

[2017-06-13 14:22] daren-thomas commented on #645
implemented in PR #674

[2017-06-14 02:26] JIMENOFONSECA opened #676 "Zurich case is missing terrain"
The Zurich main case includes new buildings outside of the current Digital Elevation Model. It is necessary to fix this in order to pass #662.

The steps to do this are:
1. download a new DEM from Geovite at ETHz  or Openmaps.
2. re-sample the DEM to a grid higher than 50m. the bigger the grid is, the less computation time the radiation calculation will take.

[2017-06-14 08:21] gabriel-happle commented on #251
@daren-thomas the original definition of the cooling and heating season was directly given as hour of the year in the globalvars. So maybe from there we can check which hour is exactly meant.
`self.seasonhours = [3216,6192] `  should be 00:00 on that particular day.
Yes, we do not have cooling season and heating season, from what I understand is that there are legal rules on when you are allowed t

[2017-06-14 08:31] gabriel-happle opened #679 "cea installation does not contain xlwt"
python package xlwt is used to write the detailed excel reports of demand calculation if  `self.testing = True` in `gv`.
Right now xlwt is not part of the installer.
It can be installed via conda install

[2017-06-14 08:35] daren-thomas commented on #566
OK. So. The branch `566-code-the-program-to-call-cea-from-gh` has a grasshopper user object (`urban_design/CEA demand.ghuser`) that does this:

![image](https://user-images.githubusercontent.com/2969564/27123069-ffe48a38-50ec-11e7-8df6-a26e8c2382a9.png)

[2017-06-14 08:41] amraladdin commented on #566
Super!
Has anyone had the time to look at my previous comment? @JIMENOFONSECA @shizhongming @daren-thomas

[2017-06-14 08:45] shizhongming commented on #566
@amraladdin we did discuss about having the CEA inside grasshopper as a component. But if the "calling" component Darren is making here works, I think it would work the same. This is very similar to using energyplus with honeybee in grasshopper.
Good idea, lets meet tomorrow~

[2017-06-14 09:12] daren-thomas commented on #566
so here is an updated version, zhonming:

![image](https://user-images.githubusercontent.com/2969564/27124752-4f44c5ca-50f2-11e7-985c-4e62a8b54be0.png)

[2017-06-14 09:14] daren-thomas commented on #566
i think this issue is fixed with PR #680

[2017-06-14 09:38] shizhongming commented on #566
@daren-thomas Great! I think can leave it like this for now. We can test it the loop when I finish my issue. ThX~

[2017-06-14 11:26] daren-thomas commented on #566
so... can we close the issue? did you test to see if it runs on your machine?

[2017-06-14 12:16] daren-thomas commented on #251
@gabriel-happle how do we proceed? I don't think we can make this milestone - we'd need to test. I have a unittest in the branch that shows an example of calculating the `gv.is_heating_season` function. I don't think the opposite is necessarily cooling season either... and rules would be good, of course!

[2017-06-14 12:22] #644 closed

[2017-06-14 16:12] martin-mosteiro commented on #676
I uploaded the new DEM for the Hoschulquartier case study.
As discussed with Jimeno, I also modified the Baseline scenario to reduce the total number of buildings in the shapefile by about two thirds (since most of them had no to negligible effect on the radiation calculation).
I will now update the Masterplan scenario to include the above modification plus some other updates I have worked on the

[2017-06-15 02:20] gabriel-happle commented on #251
I also don't think we can make this milestone

[2017-06-15 03:30] shizhongming commented on #665
@daren-thomas
Hi Daren
I have been able to build up the script to export CEA files in PyCharm. However, as you told me that the ghPython works differently... How did you manage to call libraries in ghPython?
Thanks.

[2017-06-15 03:36] gabriel-happle commented on #650
closing this issue due to duplicate and change of plans

[2017-06-15 03:36] #650 closed

[2017-06-15 03:38] gabriel-happle commented on #664
@JIMENOFONSECA I'm working on that in branch i664-multi-zone-radiation but I prefer that @martin-mosteiro 's mixed-use modifications are merged first. I will prepare the database structure of the thermal zones first in theory. But this issue can not be finished in this sprint.

[2017-06-15 06:38] shizhongming commented on #665
@daren-thomas an update here. I am able to install some libraries and some scripts work now. I am figuring out how to install numpy for IronPython..

[2017-06-15 07:33] amraladdin opened #681 "Branch i643_Building Retrofit Potential Feature - Error when choosing more than one retrofitting criteria"
While testing branch i643, I found an issue:
- When using the cost criteria, an error occurs as seen in the following images:

(In this example I chose age and costs, however, even when I use the costs alone, the feature does not work.)

![error01_a](https://user-images.githubusercontent.com/16256867/27170180-459831f4-51ad-11e7-9a5e-583bb136ca15.jpg)

(Here's a snapshot of the error)

![error01_b]

[2017-06-15 07:33] amraladdin commented on #681
Here's a copy of the error text:

Executing: RetrofitPotentialTool C:\reference-case\baseline 2020 false retrofit_HVAC false 15 false 50 false 50 false 4 false 20 false 30 true 2 false 2 false 2 false 2 false 15 false 15 false 15
Start Time: Thu Jun 15 09:28:15 2017
Running script RetrofitPotentialTool...
['C:\\Users\\aelesawy\\Anaconda2\\envs\\cea\\python.exe', '-u', '-m', 'cea.cli', '--scenario'

[2017-06-15 07:39] JIMENOFONSECA commented on #681
@amraladdin my bad, you should run the feature operation costs first

![image](https://user-images.githubusercontent.com/8973186/27170505-bc791a3a-51e0-11e7-8342-89e220637333.png)

[2017-06-15 07:43] JIMENOFONSECA commented on #681
I implemented this just now in slide 7 of the presentation

[2017-06-15 07:47] amraladdin opened #682 "Branch i643_Building Retrofit Potential Feature - After a successful run, the generated scenario does not contain the retrofit_filters.csv file"
After conducting a successful simulation using the Building Retrofit Potential Feature, I could not locate the "potentials" folder, which contains the retrofit_filters.csv file. Neither in the original scenario, i.e. "baseline", nor the created retrofitting case, i.e. "age_HVAC". Below are the screenshots of the simulation run:

(Inputs)

![error02_a](https://user-images.githubusercontent.com/1625

[2017-06-15 09:54] #667 closed

[2017-06-15 09:55] BhargavaKrishnaSreepathi commented on #667
closing as it is understood with the CEA/optimization work flow diagram

[2017-06-15 10:06] #628 closed

[2017-06-15 12:27] amraladdin commented on #643
#1 ERRORS AND ISSUES RELATED TO i643
-----------------------------------------------
After conducting a successful simulation using the Building Retrofit Potential Feature, I could not locate the "potentials" folder, which contains the retrofit_filters.csv file. Neither in the original scenario, i.e. "baseline", nor the created retrofitting case, i.e. "age_HVAC". Below are the screenshots of the s

[2017-06-15 12:28] amraladdin commented on #643
#2 ERRORS AND ISSUES RELATED TO i643
-----------------------------------------------

While testing branch i643, I found an issue:
- When using the cost criteria, an error occurs as seen in the following images:

(In this example I chose age and costs, however, even when I use the costs alone, the feature does not work.)

![error01_a](https://user-images.githubusercontent.com/16256867/27170180-459

[2017-06-15 12:29] amraladdin commented on #681
Moved to #643

[2017-06-15 12:29] #681 closed

[2017-06-15 12:30] amraladdin commented on #682
Moved to #643

[2017-06-15 12:30] #682 closed

[2017-06-16 01:20] JIMENOFONSECA opened #683 "Speed-up Daysim radiation Script with Parallel computing /refactoring"
The current speed for the open case:

19 min considering windows, floors materials and reflections. 1 point per surface. = 2225 sensors
++1h considering  windows, floors, materials and reflections. 5x5 grid of points. = 8093 sensors

@daren-thomas can I assign this to you for the next milestone?

[2017-06-16 01:24] JIMENOFONSECA opened #684 "Launch tool: solar isolation"
- [   ] Create interface to the Daysim Radiation Tool.
- [   ] Create Tutorial How does the Urban Solar Radiation tool work?

[2017-06-16 01:24] gabriel-happle commented on #583
@martin-mosteiro I modified the milestone as discussed. but I also noticed that nobody is assigned to this issue!

[2017-06-16 01:24] gabriel-happle commented on #542
changed the milestone as discussed

[2017-06-16 01:26] gabriel-happle commented on #530
@JIMENOFONSECA I changed the milestone, as this is not related to EcoCampus. Also I noticed that nobody is assigned to this issue!

[2017-06-16 01:27] gabriel-happle commented on #353
@daren-thomas I changed the milestone as discussed. Also I noticed that nobody is assigned to this issue!

[2017-06-16 01:29] gabriel-happle commented on #645
closing this issue!
Yeah! Milestone achieved in time!
Thanks @daren-thomas

[2017-06-16 01:29] #645 closed

[2017-06-16 01:31] gabriel-happle commented on #251
@daren-thomas do you still want to do this in the May sprint? Or move it to the next one? Should we talk next week?

[2017-06-16 07:31] daren-thomas commented on #251
@gabriel-happle yes, let's talk. No. I think we should move it to the July sprint and use the rest of the may sprint to finish testing the stuff we already coded - as opposed to starting new stuff. BUT, I do think we could start thinking about it now...

[2017-06-16 07:33] daren-thomas commented on #684
@JIMENOFONSECA sure, I'd like to do that. Also, we should move the `settings.py` stuff to the cascading configuration files ;-)

[2017-06-16 07:35] daren-thomas commented on #683
As I understand it, the Daysim tool is the bottleneck here - I can take a look at this, but I'd be surprised if we can make this much faster...

[2017-06-16 07:43] JIMENOFONSECA commented on #683
Many thanks! It is calculating chunks of buildings in series. But it would be improved if this can be done in parallel i guess..

Best, Jimeno

On 16 Jun 2017, at 15:35, Daren Thomas <notifications@github.com<mailto:notifications@github.com>> wrote:

As I understand it, the Daysim tool is the bottleneck here - I can take a look at this, but I'd be surprised if we can make this much faster...

—
Yo

[2017-06-16 07:45] JIMENOFONSECA commented on #684
Sure, although as every tool works independently in CEA (and it should) i wonder if every tool should have its own config or settings file rather than a mega file for all tools.

Best, Jimeno

On 16 Jun 2017, at 15:33, Daren Thomas <notifications@github.com<mailto:notifications@github.com>> wrote:

@JIMENOFONSECA<https://github.com/jimenofonseca> sure, I'd like to do that. Also, we should move the

[2017-06-16 08:20] martin-mosteiro commented on #583
Thanks @gabriel-happle. I also completely missed this since it was assigned to the previous milestone. I believe this issue was already fixed by an older pull request of mine, but I'll check. I'm assigning myself.

[2017-06-16 08:28] daren-thomas commented on #684
it's all about tradeoff... the config file proposal i have made is divided into sections, one for each tool. i suggest we see how well that plays out and then split the files up if they end up becoming too complicated.

[2017-06-16 08:39] JIMENOFONSECA commented on #684
One question, do you expect this config file to be edited from the GUI of each tool in arc-gis? Or what interface will be used?

On 16 Jun 2017, at 16:28, Daren Thomas <notifications@github.com<mailto:notifications@github.com>> wrote:

it's all about tradeoff... the config file proposal i have made is divided into sections, one for each tool. i suggest we see how well that plays out and then split

[2017-06-16 08:43] daren-thomas commented on #684
I'm still figuring that out, Jimeno. what do you think: could editing by hand work?

[2017-06-16 08:51] JIMENOFONSECA commented on #643
@amraladdin fixed. please check the guidelines. Now i included the interface. there is not need of the retrofit_potential file. Only buildings that comply with the criteria are kept in the new scenario. Would you mind complementing and modifying the presentation? thanks!!!

[2017-06-16 09:04] JIMENOFONSECA commented on #684
by hand it would be difficult, especially for new users.

I imagine including these parameters inside the ArcGIS GUI of each tool and creating a separate file storing default values in the main root folder of each tool. Example of the settings.py file in cea/radiation/radiation_daysim

This might make it accessible for 1. the user of arcgis. and 2. the developers (who only see cea and the rootfold

[2017-06-19 08:39] amraladdin commented on #643
Great! Thanks! I will sync the new version, test it and report if I find any errors.

[2017-06-20 06:38] JIMENOFONSECA commented on #590
@daren-thomas I believe we should close it as from the end of this sprint, there would not be more support for the radiation interface

[2017-06-20 06:42] JIMENOFONSECA commented on #372
@martin-mosteiro can you check if this is still the case, and if so implement the quick change you suggested?

[2017-06-20 06:43] JIMENOFONSECA commented on #248
Closing as the function is not used anymore, The geometry generator of the radiation_daysim does this work already

[2017-06-20 06:43] #248 closed

[2017-06-20 06:51] #612 closed

[2017-06-20 06:59] JIMENOFONSECA commented on #478
@shanshanhsieh  I believe the best is to meet together with bargavah and go through each of these points.

@shanshanhsieh @BhargavaKrishnaSreepathi However it would be good if you could give priority to the issue of costs database.

I believe the prices as of today have changed anywise and we might want to be able to do these changes out of the code.

Please prepare a simple table on how this data

[2017-06-20 09:43] martin-mosteiro commented on #372
@JIMENOFONSECA it is, and I can!

[2017-06-20 10:13] martin-mosteiro commented on #372
Small update: the only difference appears to be `type_leak` in the envelope systems database. The thermal properties of a building built in 1992 and one renovated in 1992 appear to be the same.

[2017-06-20 10:30] martin-mosteiro opened #687 "Hs in the building archetypes"
SINGLE_RES buildings built renovated after 2006 lave a _larger_ heated floor area (Hs=0.9) than any other SINGLE_RES buildings (Hs=0.85 regardless of construction or renovation year). @JIMENOFONSECA is there any reason for this? Seems counter intuitive.

Similarly, SERVERROOM's renovated after 2006 have Hs=0.9 whereas any other building or renovation year has Hs=1.

[2017-06-20 11:47] #590 closed

[2017-06-20 13:06] JIMENOFONSECA commented on #687
I recall taking these values from SIA 380/1 but i might be wrong. Let me know of there is any other source.

For servers it should be 1 i guess

Best, Jimeno

On 20 Jun 2017, at 18:30, martin-mosteiro <notifications@github.com<mailto:notifications@github.com>> wrote:

SINGLE_RES buildings built renovated after 2006 lave a larger heated floor area (Hs=0.9) than any other SINGLE_RES buildings (Hs=0.

[2017-06-20 14:12] martin-mosteiro opened #688 "Fixing broken build"
PR #675 broke the build. Need to fix the error created!

[2017-06-21 02:17] BhargavaKrishnaSreepathi commented on #673
Addressed in PR #690

[2017-06-21 07:29] JIMENOFONSECA opened #691 "Config file might also be a excel file"

[2017-06-21 07:31] JIMENOFONSECA commented on #691
I also like the idea of a mini interface to edit the config file. something structured like the settings option in Pycharm

[2017-06-21 07:36] JIMENOFONSECA opened #692 "Having multiple config files?"
maybe it could be something to think about during a power nap

[2017-06-21 08:44] daren-thomas commented on #598
Also document the jenkins setup, including the `ceajenkins.py` file (add it to the repository and create an installation guide) this might be a separate issue.

[2017-06-21 18:10] martin-mosteiro commented on #368
Update: even after the latest update of the Masterplan reference case, there are still two new buildings missing, the Hirschengrabenbau and Plattenstrasse 22/24. Information on the former is rather scarce, but these buildings will be drawn into the reference case later.

[2017-06-21 19:45] martin-mosteiro commented on #676
This issue is solved by [PR #15 in the reference-case repository](https://github.com/architecture-building-systems/cea-reference-case/pull/15)

[2017-06-22 09:42] daren-thomas commented on #598
Also update `cea test` to default to the `--reference-case only` option to speed up testing!

[2017-06-22 16:24] martin-mosteiro opened #694 "Application of archetypes to generate architecture properties doesn't make any sense!"
The script in `properties.py` to generate the architecture properties is significantly flawed.

First and most importantly, **only the envelope renovation year is taken into consideration**. So, say, for a building from 1900 with windows renovated in 2010 but with no envelope renovation (i.e., `age['envelope'] = 0`) the building will be assigned single-glazed windows! Instead, the component type s

[2017-06-22 16:25] martin-mosteiro commented on #694
![image](https://user-images.githubusercontent.com/18548065/27444923-39d859ae-5778-11e7-977e-048128325328.png)

[2017-06-23 01:32] JIMENOFONSECA commented on #694
Hi martin,

Great you noticed it. I believe the main reason why the archetypes of renovation point to the envelope is that we thought this would be the most typical retrofit. But you are right it should be in a component basis. However this is a bit difficult to attain.

The age of each component are taken into account in the LCA asseessment. Including that of the basement.

Do you have something

[2017-06-23 08:05] #372 closed

[2017-06-23 08:44] martin-mosteiro commented on #694
Yeah, I figured that was the reason, but then the dates of renovation of all components other than the envelope only have an effect on the LCA calculation... would be better to be able to influence the energy demand as well, no?

I have some ideas for how to fix this.

[2017-06-23 09:37] JIMENOFONSECA commented on #694
We might want to do something similar to what exists in the LCA embodied. I remember it makes joins with the database according to each one of the renovation years and then selected the value for each component. We might want to try this

From: martin-mosteiro [mailto:notifications@github.com]
Sent: Friday, 23 June 2017 4:44 PM
To: architecture-building-systems/CEAforArcGIS <CEAforArcGIS@noreply.g

[2017-06-26 11:48] daren-thomas opened #695 "Document the jenkins setup, including the ceajenkins.py script"
Document the Jenkins setup, including the `ceajenkins.py` script (add it to the repository and create an installation guide).

The goal is to have a set of steps to re-creating a continuous integration server for the CEA should the one currently being used break - the hard drive is probably close to failure and I will be ordering a new one soon: That would be an ideal time to do the documentation.

[2017-06-26 12:25] daren-thomas commented on #598
pull request #696 addresses this issue

[2017-06-26 13:37] daren-thomas commented on #694
How about using the envelope renovation date as a fall-back for when a more specific renovation date is not known?

[2017-06-26 14:09] martin-mosteiro commented on #694
Sounds reasonable: but "unknown" is not a valid input for the renovation dates at the moment.

[2017-06-26 17:35] martin-mosteiro commented on #368
Plattenstrasse 22/24 was added based on [the building plans](oerebdocs.zh.ch/getDoc?docid=4023). The Hirschengrabenbau was also added, though since no plans could be found it was based on [the ground floor area](http://www.are.zh.ch/dam/baudirektion/are/raumplanung/kantonalerrichtplan/vorlagen/oeba_4349/antrag_regierungsrat/Phase_2_masterplan_minimal.pdf.spooler.download.1400169900471.pdf/Phase_2_

[2017-06-26 17:35] martin-mosteiro commented on #676
As mentioned on #368 two buildings were still missing from the Hochschulquartier reference case. Plattenstrasse 22/24 was added based on [the building plans](oerebdocs.zh.ch/getDoc?docid=4023). The Hirschengrabenbau was also added, though since no plans could be found it was based on [the ground floor area](http://www.are.zh.ch/dam/baudirektion/are/raumplanung/kantonalerrichtplan/vorlagen/oeba_434

[2017-06-27 05:59] shizhongming commented on #566
Trying to test the issue now

[2017-06-27 06:44] daren-thomas commented on #694
is there a value that represents unknown? or: no renovation date?

On Mon, 26 Jun 2017 at 16:09, martin-mosteiro <notifications@github.com>
wrote:

[2017-06-27 06:45] shizhongming commented on #566
@daren-thomas just tested, it is working well! Really cool! Thanks!

[2017-06-27 08:01] martin-mosteiro commented on #694
0 represents "no renovation", but "no revoation" is not the same as unknown :)

[2017-06-27 08:03] #676 closed

[2017-06-27 08:04] kerembeygo opened #697 "CEA Planning V. 2.2.a4 does not install the toolbox for ArcGIS Desktop 10.5 (manual workaround)"
Hi,
I downloaded and installed CEA Planning V. 2.2.a4 and ArcGIS but I can not find City Energy Analyst.pyt under My Toolboxes. I followed the installation guide. Did I miss something?
Best regards,
Kerem

![cea folder](https://user-images.githubusercontent.com/29708612/27577114-2e579f78-5b28-11e7-90b4-faa9bcf8b2fb.jpg)
![my toolboxes](https://user-images.githubusercontent.com/29708612/27577113-2e

[2017-06-27 08:48] JIMENOFONSECA commented on #495
@martin-mosteiro how should we proceed with this issue? would you make it SIA compliant?

[2017-06-27 10:47] martin-mosteiro commented on #495
I think this is probably not an issue of content, just of documentation.
- Occupancy schedules: I think the combination you mentioned above makes sense, it's just too bad we don't have a reference to how it was done. But in principle it looks okay.
- Ve_lps doesn't always match the standard: I guess it's also a result of this combining the standard for, say, bedroom+living room+kitchen=MULTI_RES.

[2017-06-27 10:54] martin-mosteiro opened #698 "Zurich case radiation"
The updated Zurich reference case was added without the corresponding updated radiation data.

[2017-06-27 10:58] martin-mosteiro commented on #698
This is solved by PR [#16](https://github.com/architecture-building-systems/cea-reference-case/pull/16) in the reference-case repository.

[2017-06-27 11:54] daren-thomas commented on #697
Hi. Can you please specify your ArcGIS version?

[2017-06-27 11:55] daren-thomas commented on #566
@shizhongming can we close the issue?

[2017-06-27 11:57] daren-thomas commented on #661
I too have troubles with the radiation script...

[2017-06-27 12:01] martin-mosteiro commented on #661
I ran the old radiation script on the master branch on both the Zurich baseline and masterplan scenarios and it ran with no issues.

[2017-06-27 12:21] kerembeygo commented on #697
Hi Daren,
ArcGIS Desktop 10.5 Version 10.5.0.6491.

[2017-06-27 12:31] daren-thomas commented on #697
Ah, I see, the toolboxes are installed in the folder for ArcGIS Desktop 10.4. Try copying the "C:\Users\**YOUR_USER_NAME_HERE**\AppData\Roaming\ESRI\Desktop10.4\ArcToolbox\My Toolboxes\City Energy Analyst.pyt" to "C:\Users\**YOUR_USER_NAME_HERE**\AppData\Roaming\ESRI\Desktop10.**5**\ArcToolbox\My Toolboxes\City Energy Analyst.pyt"

[2017-06-27 12:51] martin-mosteiro commented on #661
I successfully ran the open reference case from ArcGIS (before I was running from Pycharm). I tried running Ecocampus from ArcGIS: **no success**.

[2017-06-27 13:03] daren-thomas opened #699 "Radiation script: Non_overlap does not exist"
When running the radiation script in an emtpy `Default.gdb` geodatabase, on the reference-case-open, I get the following error:

As far as I can tell, this is because the file is only generated, when `rows` in line has a length > 0. This is only the case when the file `DataFactorsBoundaries.csv` in the temp folder has data. After running the reference-case-open, that is not the case. I assume `Non

[2017-06-27 13:04] daren-thomas commented on #661
there seem to be multiple issues here. I'm working on a bug that states "ERROR 000732: Remove Features: Dataset C:\Users\darthoma\Documents\ArcGIS\Default.gdb\Non_overlap does not exist or is not supported" - I created a separate issue for that: #699

[2017-06-27 13:05] kerembeygo commented on #697
Thank you it's there, but I received an error in radiation simulation.
![import error](https://user-images.githubusercontent.com/29708612/27588913-65acae08-5b52-11e7-9252-fbccc5dfbe1b.jpg)
![radiation](https://user-images.githubusercontent.com/29708612/27588924-6e0ee80e-5b52-11e7-84b9-5838126442b5.jpg)

[2017-06-27 14:17] daren-thomas commented on #699
Running the reference case for Zurich worked.

[2017-06-27 14:29] daren-thomas commented on #699
After running the reference-case-zurich, the reference-case-open runs through. This, in my opinion, proves that the above diagnosis is correct. @JIMENOFONSECA is there a way to move these two lines:

[code]

Out of the for loop, or, handle the case that they are not executed at all?

[2017-06-27 14:49] daren-thomas commented on #661
I can run the Zug case study after following the steps explained in #699.

[2017-06-27 14:53] daren-thomas commented on #661
I, too, get the `arcgisscripting.ExecuteError: ERROR 999999: Error executing function.` when running the ecocampus study.

[2017-06-28 02:07] JIMENOFONSECA commented on #661
This issue is being handled in #685 @daren-thomas would you mind testing it there? I am facing another error for the ecocampus. The pandas dataframe runs out of memory while writing or reading. I checked online and it seems that it does not work good for Win32bit.should all we update to a win64 python?

[2017-06-28 02:56] #698 closed

[2017-06-28 09:18] daren-thomas commented on #661
@JIMENOFONSECA so... we close this issue?

The move to win64 is not one to take lightly. We can do this, but keep in mind that this might require about a week of work for me until we have everything up and running. Please link the sources you used to support the move.

[2017-06-28 09:23] daren-thomas opened #701 "Import Error: no module named arcpy with CEA Planning V. 2.2.a4 on ArcGIS Desktop 10.5"
As described in #697, the radiation script seems to not run with an installation of CEA Planning V 2.2.a4, yielding the following error:

![image](https://user-images.githubusercontent.com/2969564/27629860-f6b125d6-5bf3-11e7-9edf-10a882edf62c.png)

![image](https://user-images.githubusercontent.com/2969564/27629872-fbc2dfa6-5bf3-11e7-82bd-57cdb5b46cb1.png)

@kerembeygo, I created this as a separat

[2017-06-28 09:24] daren-thomas commented on #697
Moving second question to new issue #701, closing this one.

[2017-06-28 09:24] #697 closed

[2017-06-28 10:53] daren-thomas commented on #701
@kerembeygo: Can you please check your home folder (typically `C:\Users\kerembeygo`) for a file called `cea_arcpy.pth` - that file contains paths to the folders required to load the `arcpy` module. Please edit the file, replacing each occurrence of `Desktop10.4`  with `Desktop10.5`. Does that solve the issue for you?

[2017-06-29 04:00] #688 closed

[2017-06-29 06:28] kerembeygo commented on #701
Yes, but I think there are other problems.
![erasepoint](https://user-images.githubusercontent.com/29708612/27674139-016b4150-5cad-11e7-8cc2-a37b858c414c.jpg)

![radiation1](https://user-images.githubusercontent.com/29708612/27674162-1d0e9984-5cad-11e7-9c1c-11833ff82671.jpg)
![radiation2](https://user-images.githubusercontent.com/29708612/27674168-26341ac0-5cad-11e7-9475-67f163f229f5.jpg)

[2017-06-29 06:31] #46 closed

[2017-06-29 07:40] daren-thomas commented on #701
@kerembeygo OK, so that means I can close this issue - sadly, now you have issue #699. We're working on it! I'm not sure about a workaround yet...

[2017-06-29 07:40] #701 closed

[2017-06-29 07:43] daren-thomas commented on #701
I see PR #702 addresses the issue in #699 - I will create a new installer for you when that is merged.

[2017-06-29 08:51] #699 closed

[2017-06-29 09:18] daren-thomas opened #704 "install-toolbox should check for Desktop 10.5"
Chances are, CEA works fine on ArcGIS Desktop 10.5 - so `cea install-toolbox` should check for that version and install there if found.

[2017-06-29 09:38] daren-thomas opened #705 "Update planning installer to follow newest installation guide"
also, update installation guide (currently not working)
maybe figure out how to bundle some of the harder-to-obtain libraries?

[2017-06-29 11:59] daren-thomas opened #706 "Remove requirement for "pandas<20.0""
Anecdotal evidence suggests that this is no longer required. Needs to be tested.

[2017-06-29 12:31] daren-thomas commented on #704
fixed with #705

[2017-06-29 12:33] daren-thomas commented on #701
@kerembeygo can you try installing this release: https://github.com/architecture-building-systems/CEAforArcGIS/releases/tag/v2.3a2

I think it should solve your problems. This is a pre-release - please report back how it went for you! It should also automatically install for ArcGIS Desktop 10.5 - can you check that please?

[2017-06-29 14:38] martin-mosteiro commented on #383
The process heat calculation follows the same structure as the electricity demand calculations (schedule * reference value in W/m2 * Af). The same schedule as for process electricity is assumed. The reference value was calculated using a top-down approach as follows:

1. Process heat by sector (in PJ/yr) was taken from Bundesamt für Energie (2011) _Grundlagen für die Energiestrategie des Bundesra

[2017-06-29 15:41] #687 closed

[2017-06-29 21:23] kerembeygo commented on #701
![rad1](https://user-images.githubusercontent.com/29708612/27710999-44e420c8-5d2a-11e7-8ee9-5a202711ffe4.jpg)
![rad2](https://user-images.githubusercontent.com/29708612/27711000-44ea07ae-5d2a-11e7-9b84-0b114a267017.jpg)

[2017-06-30 03:23] JIMENOFONSECA opened #710 "Launch Tool: hydraulic network modeling."
- [   ] Create interface to hydraulic network modeling.
- [   ] Create Tutorial How does the network modeling tool work?

[2017-06-30 03:23] JIMENOFONSECA opened #711 "Launch Tool: Solar Energy Potential Analysis"
- [   ] Create interface to energy potential analysis: Solar technologies, Fuels.
- [   ] Create Tutorial How does the Renewable Energy Assessment tool work?

[2017-06-30 03:24] JIMENOFONSECA opened #712 "Launch tool: Sensitivity analysis"
[ ] Create interface to sensitivity analysis tool
[ ] Create Tutorial How does the Sensitivity Analysis tool work?

[2017-06-30 03:27] JIMENOFONSECA opened #713 "Launch tool: Supply Systems Optimization"
- [ ] Create interface to multi-objective optimization with CEA.
- [ ] Create Tutorial How does the Multi-Objective Optimization tool work?

[2017-06-30 07:39] daren-thomas commented on #701
can you try to first clean all the old versions away? it looks like you still have some old code on your system.

[2017-06-30 07:46] #662 closed

[2017-06-30 07:50] JIMENOFONSECA commented on #664
@gabriel-happle @martin-mosteiro i finished my part in here. The part about identfying the floor of each surface could not be completed. let me know if you need help.

[2017-06-30 07:54] daren-thomas commented on #384
implemented with PR #686

[2017-06-30 07:55] daren-thomas commented on #398
duplicate of #646

[2017-06-30 07:55] #398 closed

[2017-06-30 07:56] daren-thomas commented on #437
this should be read from the cascading config files as well. and then be a top-level parameter to the `cea` command (much like `--scenario`)

[2017-06-30 07:57] JIMENOFONSECA commented on #495
@martin-mosteiro I agree, would you mind changing the references to assumptions for now?

This is the reference to Vw, Vww for MULTI and SINGLE

Blatter M, Borel M, Simmler H, Paul H. Warmwasserbedarfszahlen und Verbrauchscharakteristik. Bern; 1993.

[2017-06-30 07:58] daren-thomas commented on #639
see also #451 - moving archetypes to the scenario folder

[2017-06-30 08:02] daren-thomas commented on #641
see `--use-dynamic-infiltration-calculation` parameter in demand calculation - maybe alter that to read from configuration file? three values: `True`, `False`, `None`?

[2017-06-30 08:04] daren-thomas commented on #695
Also, buy a SSD for the computer running the Jenkins (less noise, more speed, and the fresh install will help with writing the guide!)

[2017-06-30 09:15] martin-mosteiro commented on #495
![image](https://user-images.githubusercontent.com/18548065/27729243-618c131a-5d85-11e7-9b7d-2cffe70be0d2.png)

[2017-06-30 09:44] daren-thomas opened #717 "Update roadmap to reflect decision not to go CityGML"
We're not doing CityGML after all. Update the roadmap to reflect this decision.

[2017-06-30 09:56] daren-thomas opened #718 "Update CREDITS.md and other files with new features from MS 2.3"
Make sure we have a changelog of the new stuff since completion of MS 2.3

[2017-06-30 09:57] daren-thomas opened #719 "Create PyPI release 2.3"
include installers etc.

[2017-06-30 10:01] martin-mosteiro opened #720 "Hochschulquartier reference case supply systems are incorrect"
The data obtained from the city of Zurich was not entirely correct (e.g., no ETH building is heated by oil boilers... even though that's what the database says). These inconsistencies need to be corrected.

This issue replaces #368, which was too vague and had mostly been solved already.

[2017-06-30 10:02] martin-mosteiro commented on #368
This issue is mostly solved, the only open issue is the supply systems, which are now addressed in issue #720. This issue can therefore now be closed.

[2017-06-30 10:02] #368 closed

[2017-06-30 10:19] #649 closed

[2017-06-30 10:20] #542 closed

[2017-06-30 14:54] martin-mosteiro commented on #583
I cancelled this pull request because I stopped to think for a minute and thought: when might you get a `ZeroDivisionError`?
1 - `p = 0` or `cpw = 0`: not actually possible
2 - `V = 0`: can you actually have a positive hot water demand and a tank volume of zero? In other words, are we actually considering a case where buildings are supplied with hot water but don't have their own hot water tank?
3

[2017-06-30 15:22] martin-mosteiro commented on #495
Well, actually... _can't_ do.
The sources I referenced came from the [Building Properties](https://architecture-building-systems.gitbooks.io/cea-toolbox-for-arcgis-manual/content/building_properties.html) subsection of the Archetypes page on Gitbook... which we're not using anymore.
On the readthedocs [Archetypes section](http://city-energy-analyst.readthedocs.io/en/latest/archetypes.html), howeve

[2017-07-01 03:05] JIMENOFONSECA commented on #495
Well we put all that info in the tutorials. So i guess that would be the place to put the references.

However it would be good to link this information in the developers manual too

Best, Jimeno

On 30 Jun 2017, at 23:22, martin-mosteiro <notifications@github.com<mailto:notifications@github.com>> wrote:

Well, actually... can't do.
The sources I referenced came from the Building Properties<https:

[2017-07-01 07:32] kerembeygo commented on #701
It completes with some warnings.
![rad3](https://user-images.githubusercontent.com/29708612/27760126-89bd615e-5e48-11e7-8757-f50efef9fe08.jpg)
![rad4](https://user-images.githubusercontent.com/29708612/27760125-89b994fc-5e48-11e7-8ad4-40898beb49b1.jpg)

[2017-07-03 03:56] JIMENOFONSECA opened #721 "Memory error running Daysim"
@daren-thomas I am having the same problem of #320 while appending lists and running the daysim routine. There is a memory error caused by access to memory.

The array length is  70'080.000 points = 8760 hours X 8000 sensor points. This is a typical value we are having in the ecocampus case with daysim and it seems that python 32bits cannot handle this.

This is what the python community says abou

[2017-07-03 06:06] shizhongming opened #722 "Singapore case studies for block typologies in the six selected HDMU areas"
This is one of the Zhongming's PhD research tasks. Block typologies will be retrieved from the six selected HDMU areas in Singapore. The results are crucial components of the Urban Block Generator (UBG). Also, it is the basis for further studies about energy-driven urban design in Singapore.

[2017-07-03 06:12] shizhongming opened #723 "Code the program that can run the CEA (data helper and radiation) and send back the result in Rhino/Grasshopper"
In addition to the #566 , this task calls the data helper and radiation to run, completing the whole process of one CEA simulation.

The inputs of this program include, which are fundamental for the CEA to run from the users:
Zone.shp
district.shp
architecture.dbf
occupancy.dbf
age.dbf

The output should be the same as in #566

[2017-07-03 06:18] shizhongming commented on #723
Please wait until the completion of #665 ~ @daren-thomas

[2017-07-03 06:39] #717 closed

[2017-07-03 06:43] JIMENOFONSECA commented on #684
@daren-thomas The Solar Radiation tool should point to the file: cea/resources/radiation_daysim/radiation_main.

It should require as inputs:
- the scenario
- the weather file
- the config properties stored provisionally in the settings.py file included in cea/resources/radiation_daysim

[2017-07-03 09:19] daren-thomas opened #724 "radiation_arcgis script uses daylight saving time"
This is specific to CH cases. Check method `calc_radiation_day`. For the ecocampus study, we should probably fix this. AFTER we get the MemoryError thing fixed.

[2017-07-05 02:22] gabriel-happle commented on #495
@martin-mosteiro yes. I created sources files for the Singapore case. This is for partly for my own documentation. So that I remember the different sources for Singapore. But I think it could also be a way for general documentation.
what do you think @JIMENOFONSECA ?

[2017-07-05 02:27] gabriel-happle commented on #583
@martin-mosteiro In the ventilation and heating scripts it can often happen that temperatures are equal and this kind of error can be produced. I think we should account for that when writing code.
I don't know about the history of that issue.
Was there ever any error caused? If not. I think you can close it until we get an error message :)

[2017-07-05 02:29] JIMENOFONSECA commented on #495
Any way you guys consider the most convenient is fine for me. Please bear in mind the tutorials include tables with all the variables. It could make sense to indicate where the reference can be found.

________________________________
From: Gabriel Happle [notifications@github.com]
Sent: Wednesday, July 05, 2017 10:22 AM
To: architecture-building-systems/CEAforArcGIS
Cc: Jimeno Fonseca; Mention
Su

[2017-07-05 10:13] martin-mosteiro commented on #495
I'm happy as long as we have a clear reference for ourselves for every value. Option 1 = create an xls file for the Swiss references; Option 2 = create documentation for both case studies. Since Option 1 involves less of an overhaul, I'd go for that.

I'll create an xls file with the Swiss references.

[2017-07-06 13:35] martin-mosteiro commented on #495
After discussion with Daren, we decided it was worth keeping the existing documentation on the readthedocs, so I simply copied the existing text to our current documentation instead.

[2017-07-06 14:26] #663 closed

[2017-07-06 14:27] #383 closed

[2017-07-06 15:46] martin-mosteiro commented on #583
I did notice it because I got this error. These issues were however caused by problems caused by highly mixed buildings which the CEA couldn't handle correctly before.

I'm fixing this expression for the case where `twws = tamb` since that may actually happen and still make sense. For cases 1 and 2 above, I will leave an error being raised.

[2017-07-06 15:49] martin-mosteiro commented on #583
I also noticed that in line 73 the volume in the distribution pipes is calculated as **Volume = length * diameter ^ (2 / 4) * pi**, which must be a typo (should be **Volume = length * (diameter^2) / 4 * pi**).
I'm fixing that typo as well

[2017-07-10 10:54] daren-thomas commented on #721
@JIMENOFONSECA did you try it with 64 bit python? Does the problem go away then?

I'd rather investigate this some more - moving to 64 bit python is going to be a *lot* of work. A quick back-of-the-envelope calculation shows that you're not actually hitting the 2GB limit with your array, so I think that might not really be the problem. But yes. It is getting close.

Please provide a stack trace (t

[2017-07-10 10:56] daren-thomas commented on #701
That looks good! The warnings are just that: Warnings. But it seems it worked.

[2017-07-12 10:09] gabriel-happle opened #729 "DataHelper GUI should allow for selection of Archetypes and Functions Database"
As we have archetypes databases for two locations now, the GUI of the DataHelper should have some kind of mechanism to select which database to use to generate the buildings.

[2017-07-12 11:46] daren-thomas commented on #729
Agree. Also, the DataHelper (or some other tool? create-new-scenario?) should copy those archetypes to the input folder of the scenario for the user to edit. I think there might even be an open issue about that somewhere...

[2017-07-12 14:10] daren-thomas commented on #721
Hey @JIMENOFONSECA, I've just tested the most simple thing I could come up with:

[code]

So, can confirm that we can't create lists that long. I also tried to do this:

[code]

So no `numpy` lists either. Now. Where to go from here? Maybe using 64 bit python could help. This amount of floats would take up about 0.5 GB of RAM, plus overhead. Maybe we can come up with an algorithm that doesn't requ

[2017-07-13 00:44] JIMENOFONSECA commented on #721
Hi Daren, yes te error takes place when writing files to json

We tried to write to csv and it was bad. Json gave some more room.

The writing process of the output takes place in the last lines of code in the daysim_main.py

it is a quite similar memory error to the old radiation script.

I agree that we will have bigger and bigger scenarios so we might want to consider using 64 bit too.

On 12 J

[2017-07-13 03:09] #495 closed

[2017-07-13 09:11] #694 closed

[2017-07-13 09:23] #566 closed

[2017-07-13 09:24] #673 closed

[2017-07-13 09:31] JIMENOFONSECA opened #730 "create guide to launch CEA in zenodo"

[2017-07-13 12:19] daren-thomas opened #731 "Port CEA to ArcGIS 10.5 for Computerroom HIL E65"
This just showed up and is kind of important: We need to port the CEA to the ArcGIS 10.5 version. As far as I know, in the wild, some users have already used this version of ArcGIS with the CEA - we just need to update the installer. Wait... installer? Maybe just the `cea install-toolbox` part. And test test test.

[2017-07-14 06:58] gabriel-happle opened #733 "Buildings without heating system but with cooling system can not have conditioned floor area"
Whether or not buildings have a conditioned floor area `Af` depends only on the heating system.
In Singapore climate buildings are conditioned but do not have heating systems.
The code in `thermal_loads.calc_prop_rc_model()` has to be changed:

[code]

[2017-07-14 07:24] gabriel-happle opened #734 "Cooling systems T1 and T2 not considered in emission system calculation"
Cooling systems T1 (cooling ceiling) and T2 (mini split AC) are not considered in:

`sensible_loads.calc_temperatures_emission_systems()`

-> have to be added

[2017-07-14 07:27] gabriel-happle opened #735 "Simple humidity gains from occupants only calculated for cooling system T3"
Humidity gains of occupants are not calculated for cooling systems T1 (ceiling cooling) and T2 (mini split AC) in:

`sensible_loads.calc_Qgain_lat()`

-> have to be added

[2017-07-14 07:30] gabriel-happle opened #736 "Create workaround for EcoCampus heating / cooling season issue"
Before #251 we can create a simple workaround to run EcoCampus calculations. Maybe in a separate branch with special values in globalvars

[2017-07-14 07:31] gabriel-happle commented on #736
@daren-thomas is that ok for you?

[2017-07-14 07:33] gabriel-happle commented on #734
@JIMENOFONSECA and @shanshanhsieh is this straightforward? Can I just use the same calculation as for the centralized AC (i.e. `cooling_system = T3`) ?

[2017-07-14 07:33] daren-thomas commented on #736
sure. that's what separate branches are for. except, you'll need to reference that branch then in your publication?

[2017-07-14 08:10] JIMENOFONSECA commented on #734
@gabriel-happle not really, both models need to be created in the tool. I think I put them there as a potential expansion back in 2015 but the models were not fully developed. This is an issue of technologies for cooling in buildings that needs to be addressed.

This means that a model to calculate mass flow rate, and temperatures in the secondary loop of a mini-split unit and a ceiling cooling wi

[2017-07-14 08:16] gabriel-happle commented on #734
@JIMENOFONSECA OK. So this is a slightly bigger work. But isn't the mini-split not directly supplied by electricity? Are we considering connecting mini-splits to a district-cooling source?

[2017-07-14 08:38] martin-mosteiro commented on #733
Hm good catch, that was actually something I added because of an error I found in the HSQ case study. The easy way out I guess would be to have something like `if 'type_hs' == 'T0' and 'type_cs' == 'T0'` then `Hs = 0`. But then again other properties are calculated based on `Af` (e.g. the process heating demand I added the other day :) ) so then you might still have a case where there's no space c

[2017-07-14 09:48] JIMENOFONSECA commented on #734
Just to cross-check, shanshan, would you like to explore this? :-). Otherwise we can pass it.

We still will need a model for the minisplit electricity consumption based on outdoor temperature of exhaust.

By creating it, we can also compute how much heat is released. A step forward to do outdoor climate studies with cea!!

Best, Jimeno

On 14 Jul 2017, at 16:17, Gabriel Happle <notifications@gith

[2017-07-14 10:30] shanshanhsieh commented on #734
For the chill panel, the model to calculate temperature and mass flow in the secondary is necessary. This goes to the first priority.
For the mini-split unit, the model for electricity consumption and exhaust temperature will be a great addition, but not as pressing as the chill panel. Therefore, this also goes to priority 1 but will happen later...
What do you think, @gabriel-happle & @JIMENOFONS

[2017-07-14 10:50] JIMENOFONSECA commented on #734
I agree with shanshan. I wonder nonetheless if the mini-split will be neccessary to 1. run ecocampus. 2. compare any solution to the status quo (i.e., most residential buildings and hawkers in singapore use just min-split or fans).

________________________________
From: shanshanhsieh [notifications@github.com]
Sent: Friday, July 14, 2017 6:30 PM
To: architecture-building-systems/CEAforArcGIS
Cc:

[2017-07-14 15:36] martin-mosteiro commented on #583
@shanshanhsieh 's comments inspired me to look into the code and (try to) document it.
The procedure described in @JIMENOFONSECA & Schlueter (2015) is followed, which in turn seems to be based on Annex A of ISO EN 15316. However, the time interval before the next tapping appears to be miscalculated.

Currently, the CEA does `t = 3600 / ((hotw / 1000) / Flowtap)` if t < 3600, t = 3600 otherwise. Ho

[2017-07-17 02:42] #661 closed

[2017-07-17 03:06] Khayatian opened #737 "i672-xls2dbf"
The script should be working now. @daren-thomas would you please handle the cli.py script? Thank you kindly

[2017-07-17 03:25] JIMENOFONSECA opened #738 "Rename repository during group meeting"

[2017-07-17 03:37] JIMENOFONSECA opened #739 "Cosmetic fixes to website according to popular content"
This includes renaming and making some sections more visible according to the standing stats on popular content

![image](https://user-images.githubusercontent.com/8973186/28254947-3a2d0dd0-6ae4-11e7-9a3e-341d36619d22.png)

[2017-07-17 03:56] #739 closed

[2017-07-19 15:57] #555 closed

[2017-07-19 15:59] martin-mosteiro commented on #366
Absorption cooling is currently used within the Hochschulquartier in the hospital. However, absorption cooling is considered inefficient and won't be included in the Masterplan scenario. Thus, this is system is no longer required.

[2017-07-19 15:59] #366 closed

[2017-07-20 05:09] Khayatian opened #742 "preprocessing functions for Keras"
Adapt MATLABs "mapminmax" to Keras for normilized input data

[2017-07-20 05:14] Khayatian opened #743 "implementing subset sampling engine"
implementing the Subset Sampling engine in CEA for multi objective calibration of inputs.

[2017-07-21 05:09] BhargavaKrishnaSreepathi opened #744 "Missing energy potentials that need to be incorporated into CEA"
List out all the possible potentials and make them zero if they are not applicable to a certain location.

A few of the possible potentials are:
1. Sewage
2. Data Center
3. Compressed Air (produce heat when decompressed)
4. Municipal Solid Waste
5. Horticulture Waste
6. Wind
7. Waste heat from processes
8. Fossil fuels like Grid natural gas, grid bio gas
9. Heat sinks like Lake, Sea. (boundary con

[2017-07-21 05:11] BhargavaKrishnaSreepathi opened #745 "Calculate the building demand based on the solar panel installations"
As the solar panels are installed in building roofs and facades, the heat gain will be changed, and thus the energy requirement will also change. This issue is aimed at addressing this.

[2017-07-21 05:14] BhargavaKrishnaSreepathi opened #746 "Self shading is not present in the Solar script"
The influence of one PV technology on the other in terms of shading is not present in the calculation of solar potential. The mutual shading of panels needs to be addressed in this issue and the corresponding solar potential calculations.

[2017-07-21 05:16] BhargavaKrishnaSreepathi opened #747 "In substation calculations, a combined configuration of centralized and decentralized is not considered"
For example, 45 C low temperature DH + a decentralized heat pump can bring the low temperature water to 60 C to satisfy the heat requirements

[2017-07-21 05:21] BhargavaKrishnaSreepathi opened #748 "Disconnected building optimization"
An optimization algorithm, p[robably a MILP, need to be created to include more technologies in the decentralized building calculations. The options present for calculating the best energy system configuration of the decentralized building is not exhaustive.

Missing technologies in decentralized cooling are DX fan coil, VCC + CT, Dessicant + Chiller
Missing technologies in decentralized heating a

[2017-07-21 05:26] BhargavaKrishnaSreepathi opened #749 "Network Layout Optimization in Preprocessing"
Network layout optimization based on the street layout is to be carried out assuming that all the buildings are connected to each other.

The outputs from this are:

1. pipe properties like length and diameter
2. mass flow rates in pipes
3. pressure losses in pipes
4. pump sizes

The end result from this optimization should be an equation to calculate the pressure losses per meter based on the flo

[2017-07-21 05:34] BhargavaKrishnaSreepathi opened #750 "Research Question: Influence on the optimal pipe layout due to multiple plants"
Will the optimal pipe layout calculated be very different when multiple plants are connected to multiple networks as opposed to multiple plants connected to one network in a district

[2017-07-21 05:41] BhargavaKrishnaSreepathi opened #751 "calculate electric tariffs based on the peak and non-peak periods"
The electricity calculations need to be modified to include a dynamic change in the tariffs based on the peak and non-peak periods. Occupancy database can be used for this purpose. This also falls in line with the Intra-CREATE grant

[2017-07-21 05:44] BhargavaKrishnaSreepathi opened #752 "Remove calc_pareto_Qhp as there is no process heat involved"
Remove the corresponding function call, as no process heat is involved in the calculations

[2017-07-21 06:01] BhargavaKrishnaSreepathi opened #753 "Remove global variables file and split it into multiple settings files"
Global variables file is to be phased out. Transfer all the variables to the corresponding settings files in the respective folders

[2017-07-21 06:08] BhargavaKrishnaSreepathi opened #754 "Solar potential calculations need to updated based on the installation area instead of total area"
Currently, CEA is using the average potential of the total panel installation area. This needs to be modified. The area for SC/PVT should only be the combined area of the buildings connected to the heating network. The area available in the disconnected buildings should not be considered in this. The disconnected buildings can install PV.

[2017-07-21 06:09] BhargavaKrishnaSreepathi opened #755 "Pre-filter the site resource potentials"
Update the technology configurations such as nHeat, nSolar according to the resource potential present on a site. Currently it is a hard coded value

[2017-07-21 06:12] BhargavaKrishnaSreepathi opened #756 "Modify the individual configuration in optimization"
Currently the building network configuration has only two options 0 if disconnected, 1 if connected. This needs to be changed to
0 if disconnected
1 if consumer of the network
2 prosumer of the network

[2017-07-21 06:14] BhargavaKrishnaSreepathi opened #757 "Bounds set for SC, PVT and PV in the optimization need to be changed"
The bounds are to be dynamic and are linked to the building network. SC/PVT will depend on the buildings connected. The remaining area will be used for PV installation

[2017-07-24 03:49] shanshanhsieh commented on #757
Do you mean the upper bounds of available area to install each type of solar panels?

[2017-07-24 13:15] martin-mosteiro opened #758 "Envelope systems and archetypes"
Since the incorporation of the envelope systems to the CEA databases, the construction properties assumed by the archetypes have changed significantly.
![image](https://user-images.githubusercontent.com/18548065/28524792-3cae25c8-7082-11e7-984f-02733cab506f.png)
For example, residential buildings used to have window U-values of 0.9 to 1.5. Now the U-values are 3.1 to 4.8 for all cases except renov

[2017-07-25 00:43] JIMENOFONSECA commented on #758
Hi martin,

This is a mere mistake. Please feel free to revert it.

Jimeno

On 24 Jul 2017, at 21:28, martin-mosteiro <notifications@github.com<mailto:notifications@github.com>> wrote:

Assigned #758<https://github.com/architecture-building-systems/CEAforArcGIS/issues/758> to @JIMENOFONSECA<https://github.com/jimenofonseca>.

—
You are receiving this because you were mentioned.
Reply to this email

[2017-07-25 08:36] shizhongming commented on #722
An update on the progress: 178 blocks of the six areas have been surveyed. In a total of 50 typologies have been found based on the street pattern, block faces, block pattern, FAR, Site coverage ratio. I will present the results at the weekly meeting on 3 Aug. Future works include an evaluation of these block typologies as well a similar typological study of the HDBs.

[2017-07-25 08:39] shizhongming opened #759 "Singapore case studies for block typologies for HDB projects"
Similar to #722 , this study focuses on the abstracting the block typologies of HDB projects

[2017-07-26 08:56] daren-thomas opened #761 "Port the CEA to 64bit Python"
The `MemoryError` problems just won't go away. It's time to move on to 64 bit Python. I tried my best. It just won't work.

Porting includes these subtasks:

- update the installation guide
- update installations on all developer machines
- update the jenkins installation to use the new python

[2017-07-26 09:08] #642 closed

[2017-07-26 09:09] daren-thomas commented on #633
@shanshanhsieh the pull request was merged... does that mean we can close the issue?

[2017-07-26 09:11] #598 closed

[2017-07-26 09:57] #583 closed

[2017-07-27 01:18] shanshanhsieh commented on #633
@daren-thomas yes, closing the issue now : )

[2017-07-27 01:18] #633 closed

[2017-07-27 02:41] shizhongming commented on #723
I made this diagram to explain the relations between i655, i566, i723. I am finishing the i655 now.
However, I talked with Gabriel. He said this workflow is quite unusual.
Let's find a time to discuss it, @daren-thomas ?
Please have a look first.

![workflow](https://user-images.githubusercontent.com/16640327/28652025-e1572390-72b7-11e7-84ed-838e247f926b.jpg)

[2017-07-27 03:46] shizhongming commented on #723
I made this diagram to explain the relations between #665 #566 #723. I am finishing the #665  now.
However, I talked with Gabriel. He said this workflow is quite unusual.
Let's find a time to discuss it, @daren-thomas ?
![workflow_170727](https://user-images.githubusercontent.com/16640327/28653642-480f908c-72c1-11e7-8a0b-b987b5f7d57f.jpg)

Please have a look first

[2017-07-27 07:57] #672 closed

[2017-07-27 07:57] #384 closed

[2017-07-27 09:02] #719 closed

[2017-07-27 09:03] #737 closed

[2017-07-27 09:18] gabriel-happle commented on #745
@BhargavaKrishnaSreepathi why do you think so? Is your claim based on any research?

[2017-07-27 09:20] BhargavaKrishnaSreepathi commented on #745
@gabriel-happle This was based on our discussion in the CEA optimization workflow discussion. But we can agree that the cooling load of the top few floors will be influenced by the presence of PV, instead of a plain roof.

[2017-07-27 09:21] gabriel-happle commented on #733
solved with #741

[2017-07-27 09:21] #733 closed

[2017-07-27 09:23] gabriel-happle commented on #736
branch e001 is running EcoCampus under assumptions of only centralized AC

[2017-07-27 09:27] gabriel-happle commented on #745
I'm not sure. Maybe we should do some research about that.

[2017-07-27 09:38] #742 closed

[2017-07-27 09:55] gabriel-happle opened #764 "new universal cooling demand calculation procedure for CEA"
implement new calculation procedure of sensible and latent cooling load according to the plan discussed by @shanshanhsieh and @gabriel-happle [CEA_new_AC_20170727.png](https://images.zenhubusercontent.com/57b40a3ee40e5714b16d7336/ccca8db8-4e08-4922-8168-1ea417c212aa)

[2017-07-27 12:02] martin-mosteiro commented on #720
Update:
** Baseline **
The supply systems (and supply temperatures) for the university and hospital buildings have been corrected according to the _Synthesebericht_ and the ETH energy masterplan. Furthermore, buildings that were assigned coal-based heating systems were assumed to be renovated to district heating.

Building architecture was also adjusted based on the area's actual construction mate

[2017-07-27 12:25] martin-mosteiro opened #766 "Remove unnecessary error message"
#733 corrected the error in defining the heated/cooled area but one problem remains:
[code]
This means that every time a building has no heating and no cooling system, a warning appears that the conditioned floor area should be forced to 0. But what happens if the conditioned floor area was already zero to begin with?

The warning should only appear when there is no heating or cooling system **and

[2017-07-27 15:51] #720 closed

[2017-07-28 09:00] daren-thomas opened #768 "Add an interface to extract reference case to the ArcGIS toolbox"
This is a really small task, but could be quite useful to new users: Extract reference case. Allow the user to choose destination folder. Extract the built-in reference case. Tutorials could then start with this step.

I'd put it in the "Utilities" category?

[2017-07-31 08:28] shanshanhsieh commented on #268
The files to be worked upon are: `cea/optimization/master/Cost_model.py` and `least_cost_main.py`

[2017-08-01 02:57] BhargavaKrishnaSreepathi opened #770 "Generate linearized pressure/heat loss equation for different scenarios"
For example, based on the number of buildings, street layout, an optimal piping network is developed. This provides pressure losses and thermal losses that occur in the pipes. This is in turn used to generate a linearized equation which is further used in the calculations. This is to be done, only once for a scenario in the preprocessing step.

[2017-08-01 03:02] BhargavaKrishnaSreepathi opened #771 "checking validity of an individual need to be modified"
when an individual is generated, the validity check is performed to filter out individuals that are outside the bounds. This needs to be thorough and few of the checks need to be strengthened. Also, there are few redundant steps done after this validity check which perform the same task. This issue should eliminate all the unnecessary checks and consolidate the existing validity check

[2017-08-01 03:08] BhargavaKrishnaSreepathi opened #772 "storage_main.py need to be modified to include additional technologies"
There is only one storage technology being considered at the moment, where a storage tank with a fixed volume is considered and it is maintained at a certain temperature.

The current logic is to make sure the thermal energy in the storage at the starting of the year is equal to the thermal energy at the end of the year. This is to ensure no further accumulation or utilizing more thermal energy th

[2017-08-01 03:11] BhargavaKrishnaSreepathi opened #773 "Operating cost of solar collectors is not calculated"
Also, the auxiliary equipment electricity required to run HEX of data servers and compressed air, as well as storage heat pump is not calculated

[2017-08-02 12:15] daren-thomas opened #774 "Ensure `cea test` can be run without access to private reference cases"
When run without specifying one of the private reference cases, just extract the example reference case and run the tests on that - without checking for `cea_github.auth` in the home folder.

To test this, just delete `~/cea_github.auth` and run `cea test` - currently it breaks with this error:

[code]

[2017-08-02 14:17] daren-thomas commented on #768
pushing priority as this needs to get on the student's version

[2017-08-03 11:55] #412 closed

[2017-08-03 11:55] #409 closed

[2017-08-03 11:55] #407 closed

[2017-08-03 11:55] #408 closed

[2017-08-04 02:44] BhargavaKrishnaSreepathi opened #776 "Cost calculations need to include a factor to differentiate cost based on year of investment"
The equipment cost calculations need to incorporate time dependent index to change the investment cost based on the year it is installed.

We can not have equipment installed in 2010, have the same cost as the equipment installed in 2017 or 1990. The cost of materials changes and this need to be taken into consideration. Chemical Engineering Plant Cost Index (CEPCI) is a good thing to be added int

[2017-08-08 03:50] shanshanhsieh commented on #268
@BhargavaKrishnaSreepathi The `supply_system.xls` is updated with costs, the references are documented in `system_references.rst`. After checking and writing new functions for cost calculation, the cost-related constants in `globalvar.py` can be safely removed.

[2017-08-08 11:58] #704 closed

[2017-08-08 12:02] #761 closed

[2017-08-08 12:03] #705 closed

[2017-08-08 12:24] #766 closed

[2017-08-08 13:43] daren-thomas commented on #712
@martin-mosteiro - have you been working on this? any pointers?

[2017-08-08 13:44] daren-thomas commented on #711
@shanshanhsieh where do I start here?

[2017-08-08 13:46] daren-thomas commented on #721
seems to be running in master. closing issue.

[2017-08-08 13:46] #721 closed

[2017-08-08 14:12] martin-mosteiro commented on #712
@daren-thomas I have - and so have you! you just didn't know you were ;)

[2017-08-08 14:34] martin-mosteiro commented on #712
The sampling tool was working when I last tested it last week, now I get the following error, though:
[code]

[2017-08-09 14:14] #731 closed

[2017-08-09 14:23] BhargavaKrishnaSreepathi commented on #268
@shanshanhsieh: we need to have a default parameters for capacities which are not present in the capacity range specified. For example, in boilers, the minimum capacity is 28000, what happens when the capacity thrown by optimizer is less than this?

[2017-08-09 14:46] daren-thomas commented on #712
Huh... That actually works for me.... I'm getting this error instead:

[code]

Any ideas??

[2017-08-09 14:46] daren-thomas commented on #679
fixed in PR #780

[2017-08-09 14:46] #679 closed

[2017-08-09 14:51] martin-mosteiro commented on #712
I still get the message above...

[2017-08-10 08:01] shanshanhsieh commented on #711
@daren-thomas , I believe we have to first look at the settings file together, this is where the arguments of the functions and default constants are saved now. Do you have time to skype tomorrow or next monday?

[2017-08-10 08:45] daren-thomas commented on #711
@shanshanhsieh i can skype tomorrow, say, 10 o'clock my time? 11 could work too...

[2017-08-10 14:48] martin-mosteiro commented on #712
The above error was fixed by @daren-thomas. The sampling and simulation tools are now working. The analysis tool is not working though, and it doesn't work on Pycharm either:

[code]

Any ideas??

[2017-08-14 14:52] daren-thomas opened #782 "Decide whether to keep the "create_function_graphs" functionality"
This functionality is currently broken and might not be necessary; It uses graphviz to create a call graph of the functions in the CEA. We need to fix it a bit or remove it from the codebase.

[2017-08-14 15:13] #706 closed

[2017-08-15 08:00] daren-thomas commented on #711
NOTE: Interface is being created on the branch `i636-connect-solar-collector-and-PVT-with-new-radiation-results`

[2017-08-16 06:10] BhargavaKrishnaSreepathi opened #785 "Removing innumerable saved files generated in optimization main"
Running optimization main file creates so many files with just two rows present in them. I do not think we will ever use these files. These files include:

1. AveragedCostData.csv
2. InvestmentCostDetailed.csv
3. PrimaryEnergyBySource.csv
4. SlaveCostData.csv
5. SlaveDetailedEmissionData.csv
6. SlaveDetailedEprimData.csv
7. SlaveToMasterCostEmissionsPrimE.csv
8. Storage_Sizing_Parameters.csv
9. St

[2017-08-16 06:19] JIMENOFONSECA commented on #785
As soon as they do not affect functionality, take them out at your discretion

________________________________
From: Bhargava Krishna Sreepathi [notifications@github.com]
Sent: Wednesday, August 16, 2017 2:10 PM
To: architecture-building-systems/CityEnergyAnalyst
Cc: Jimeno Fonseca; Mention
Subject: [architecture-building-systems/CityEnergyAnalyst] Removing innumerable saved files generated in op

[2017-08-16 15:05] daren-thomas commented on #684
merging the pull requests #725 and #783 first would make this easier. as is, those two pull requests will probably create a merge conflict...

[2017-08-17 09:24] #768 closed

[2017-08-17 09:31] #640 closed

[2017-08-17 09:44] #759 closed

[2017-08-17 09:44] #722 closed

[2017-08-17 10:01] shanshanhsieh commented on #711
The interface for PV panels is completed in branch `i636`.
In this branch, the interface of SC and PVT should also be added.

[2017-08-18 09:24] shizhongming opened #786 "Filter down the HDMU typologies in Singapore"
Filter down the HDMU and HDB typologies in Singapore.
Conduct analyses for these typologies.

[2017-08-21 09:16] daren-thomas commented on #711
Created the branch `711-launch-tool-energy-potential-analysis` based on `i636-connect-solar-collector-and-PVT-with-new-radiation-results` and am starting on the interface now.

[2017-08-21 13:59] daren-thomas commented on #711
@shanshanhsieh: check out the 711 branch for a solar collector tool in ArcGIS. Is it missing anything? I'll take a stab at the PVT tool tomorrow morning (will you be available for questions?)

[2017-08-22 03:55] shizhongming opened #787 "Explain and evaluate the HDMU typologies of SG"
1. As we have the typologies of SG from #786, we aim to explain why these typologies are as they are.
2. Find the criteria to evaluate these typologies. Evaluate them for future possibilities of repeating in SG

[2017-08-24 09:43] BhargavaKrishnaSreepathi commented on #753
@daren-thomas: To resolve this issue, we can still save the relevant values from the `globalvar.py` into `settings.py` file which is local to sub folder like say optimization right? So remove the variables corresponding to optimization from `globalvar.py` and paste them into `optimization_settings.py` inside `cea\optimization` folder. Does this sound ok?

[2017-08-24 15:25] martin-mosteiro opened #790 "Heatmaps tool not working"
Running the heatmaps tool from the command line, I get the following error:
[code]

Seems like a 32-bit vs 64-bit problem?

The tool doesn't work for me on ArcGIS either, with the following error message:
[code]

@daren-thomas any ideas what might be going on?

[2017-08-28 07:33] #738 closed

[2017-08-28 07:34] #718 closed

[2017-08-31 14:59] daren-thomas commented on #753
you can. but what you really want to do is move them to the configuration file. see some of the pull requests i've posted that work in this direction. moving the variables to an `optimization_settings.py` file could be a valid first step, though. like a stepping stone...

[2017-09-06 14:21] daren-thomas commented on #351
@JIMENOFONSECA the pull request shows differing results in the unit tests... do you have an idea what changed?

[2017-09-07 05:48] Khayatian opened #792 "NN4GA"
a surrogate model is intended for the multi-objective optimization algorithm.

The goal is to lay the calculation burden entirely on the estimator so that rapid generations for the optimization algorithm is facilitated.

[2017-09-07 14:49] daren-thomas commented on #713
@BhargavaKrishnaSreepathi when do we sit down to check this out together?

[2017-09-11 13:00] #736 closed

[2017-09-21 05:49] JIMENOFONSECA commented on #353
@daren-thomas since you created the issue, what is it about?

[2017-09-21 05:53] JIMENOFONSECA commented on #525
@shanshanhsieh I do not see this happening. please close the issue and copy the information somewhere else

[2017-09-21 05:54] JIMENOFONSECA commented on #519
@shanshanhsieh is this being implemented? it seems like an easy thing to do, you probably want toget this info related to the weather file.

[2017-09-21 05:56] JIMENOFONSECA commented on #664
@gabriel-happle @martin-mosteiro status?, this is being a bottle neck in the work we are doing with @Khayatian any chance you can put it as a priority?

[2017-09-25 08:32] daren-thomas commented on #353
@JIMENOFONSECA it's about updating the installation guide to include installing the prerequisites for the `cea radiation-daysim` script.

[2017-09-25 09:33] JIMENOFONSECA commented on #724
@daren-thomas I am unable to run arcpy in master, any ideas?

![image](https://user-images.githubusercontent.com/8973186/30801971-a55b0b74-a217-11e7-8219-398fa6e0a0a1.png)

[2017-09-25 11:05] gabriel-happle commented on #664
OK @JIMENOFONSECA . I will make this my priority now.

[2017-09-25 13:22] daren-thomas commented on #724
@JIMENOFONSECA: what is the contents of the `cea_arcpy.pth` file in your home folder (`C:\Users\your_user_name`)?

mine is this:

[code]

[2017-09-25 13:23] daren-thomas commented on #724
![image](https://user-images.githubusercontent.com/2969564/30810459-80741e5c-a205-11e7-9565-c41cca92a3d7.png)

[2017-09-25 14:45] gabriel-happle opened #797 "Connect Daysim radiation to demand calculation"
Before the whole multi-zone demand calculation #664 I want to connect the daysim radiation to the single zone thermal loads calculation.
In the future I think it would be good to offer both options (single-zone and multi-zone) in the CEA.
What do you think @martin-mosteiro and @JIMENOFONSECA ?

[2017-09-25 14:52] gabriel-happle commented on #797
As far as I can see the following functions would have to change:

`thermal_loads.get_prop_solar()`

`sensible_loads.calc_Asol()`

`blinds.calc_blinds_activation()`

`sensible_loads.calc_I_sol()`

[2017-09-26 01:33] JIMENOFONSECA commented on #797
@gabriel-happle I think this is a good call in terms of functionality (single and multi-zone). It can also help us to know, what is the effect of multi-zone vs. single zoning into demand calculation. Similar to what we did with infiltration. a quite straightforward research question that can be solved with this.

Good call. this should be integrated first than the multizone.

[2017-09-26 01:36] JIMENOFONSECA commented on #782
@daren-thomas remove if not necessary

[2017-09-26 01:37] #730 closed

[2017-09-26 01:45] JIMENOFONSECA commented on #724
I have version 10.4, would that be the problem?

if so, it is kind of a hassle getting 10.5 arcgis in here right now. would you mind trying my branch in your computer?

i724-daylight-saving? I am making a pull request

________________________________
From: Daren Thomas [notifications@github.com]
Sent: Monday, September 25, 2017 9:22 PM
To: architecture-building-systems/CityEnergyAnalyst
Cc: Jimen

[2017-09-26 02:00] #455 closed

[2017-09-26 02:04] #525 closed

[2017-09-26 02:37] JIMENOFONSECA opened #799 "Create online manual for sensitivity analysis tool"

[2017-09-26 02:45] #758 closed

[2017-09-26 02:56] JIMENOFONSECA commented on #593
no answer to this issue, it will be closed

[2017-09-26 02:56] #593 closed

[2017-09-26 02:56] #626 closed

[2017-09-26 03:09] JIMENOFONSECA opened #800 "Create manual for urban solar radiation tool"

[2017-09-26 03:15] JIMENOFONSECA opened #801 "Coding bayesian calibrator"

[2017-09-26 03:18] JIMENOFONSECA commented on #666
@Khayatian can we close this issue?

[2017-09-26 03:22] #76 closed

[2017-09-26 03:26] #9 closed

[2017-09-26 03:30] JIMENOFONSECA opened #802 "configuration"

[2017-09-26 03:30] #802 closed

[2017-09-26 03:31] JIMENOFONSECA opened #803 "Develop configuration file"

[2017-09-26 03:35] JIMENOFONSECA opened #804 "Urban form generator for CEA"

[2017-09-26 03:42] JIMENOFONSECA opened #805 "code urban solar isolation with daysim"

[2017-09-26 03:53] JIMENOFONSECA opened #806 "Develop multi-zoning in CEA"

[2017-09-26 03:57] JIMENOFONSECA opened #807 "code sensitivity analysis tool"

[2017-09-26 04:08] JIMENOFONSECA opened #808 "Executive course with CEA"
Context
- The last workshop of CEA was in June 2016. It was a great experience and we need to come up with a new one to have feedback from real users.

Complication
- We have not done a lesson for both practitioners and students in Singapore.

Question
- Could an executive course helps us to improve the way CEA works?

Hypothesis
- Executive courses could help to build teaching capacity of our PhD

[2017-09-26 04:09] JIMENOFONSECA opened #809 "Create poster"

[2017-09-26 04:20] #540 closed

[2017-09-26 04:44] JIMENOFONSECA opened #810 "code energy potential tool"

[2017-09-26 04:46] #92 closed

[2017-09-26 04:50] #536 closed

[2017-09-26 04:56] #614 closed

[2017-09-26 05:07] JIMENOFONSECA opened #811 "As a researcher, I'd like to implement new cooling technologies in CEA"

[2017-09-26 05:10] JIMENOFONSECA opened #812 "Develop NN surrogate model for CEA demand"
Context:

Complication:

Question:

Hypothesis:

[2017-09-26 05:37] JIMENOFONSECA commented on #790
@daren-thomas is this still the case @martin-mosteiro ?

[2017-09-26 05:45] JIMENOFONSECA opened #813 "Bugs and Important fixes"

[2017-09-26 06:20] JIMENOFONSECA commented on #507
@BhargavaKrishnaSreepathi you will come across with this issue in order to run the optimization algorithm for ecocampus.

[2017-09-26 06:25] #710 closed

[2017-09-26 07:38] JIMENOFONSECA opened #814 "Create online manual of solar energy potential tool"

[2017-09-26 07:49] JIMENOFONSECA opened #815 "Running NN in the Singapore Workstation"

[2017-09-26 08:05] martin-mosteiro commented on #807
This has already been done on PR #781.

[2017-09-26 08:05] gabriel-happle commented on #797
@JIMENOFONSECA but we are not keeping the old radiation engine, right?
Can I overwrite this functions?

[2017-09-26 08:23] JIMENOFONSECA opened #816 "Reduce support for bayesian calibration tool of individual building"

[2017-09-26 08:47] JIMENOFONSECA opened #817 "Select a case study"

[2017-09-26 08:48] daren-thomas opened #818 "Think about how to make the whole course into a story"
with subplots per day.

Remember: a story has a hero (bonus points if the attendees get to be heros) and villain (can be abstract) etc.

[2017-09-26 09:47] JIMENOFONSECA commented on #797
I do not think so, so please go ahead.

On 26 Sep 2017, at 16:05, Gabriel Happle <notifications@github.com<mailto:notifications@github.com>> wrote:

@JIMENOFONSECA<https://github.com/jimenofonseca> but we are not keeping the old radiation engine, right?
Can I overwrite this functions?

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub<https://gith

[2017-09-26 10:45] amraladdin opened #819 "Prepare a list of Keynote speakers and presentation topics"
We need to list Keynotes alternatives to be presented during the workshop. This will help reduce the work load on the team members, and encourage potential users to apply for the course.

It would be great if most of the speakers were from Singapore (To avoid high costs and CO2 emissions flying from other destinations). Therefore we need suggestions.

My suggestion is:
- Arno Schlueter, introducti

[2017-09-26 10:55] amraladdin opened #820 "CEA Executive course cost"
We need to decide on how much we intend to charge our students for a 5 or 6 days CEA Executive course. To do so, we need to first check other course costs, which might relate to our domain.

I need someone to check how much the BCA (Building and Construction Authority) and A*STAR (Institute for Science, Technology and Research) in Singapore.

@gabriel-happle @shanshanhsieh @shizhongming could you

[2017-09-26 11:00] amraladdin opened #821 "Potential Venue and maximum number of attendees"
We need to define the maximum number of applicants. Therefore, I need someone to:
- Check for Venues at FCL and check how many attendees it can hold. We don't want to aim for more than 20 attendees (Maximum).
- Define a maximum number of attendees, based on availability of places.
- Define the number of scholarships we can give based on the previous steps.

[2017-09-26 11:08] amraladdin opened #822 "Credit points and list of contacts"
How many credit points would this course provide to students?

If we calculate according to ETH, then every 25 hours = 1 credit point. Assuming we have 8 hours per day * 6 days, that's 2 credit points. Does this make sense? Or is there a different way of calculating credit points for workshops and winter schools?

@JIMENOFONSECA  @BhargavaKrishnaSreepathi @martin-mosteiro

Also, we need a contact

[2017-09-26 11:11] amraladdin opened #823 "CEA Winter School - Create a detailed daily schedule"
Create a detailed schedule and share with the CEA Development team.

[2017-09-26 11:13] amraladdin opened #824 "Create an Epic category for Singapore case study"
After we decide on the Winter School date.

[2017-09-26 11:22] daren-thomas opened #825 "Tests failing in master: File `Zug-2010.epw` does not exist"
Why is the cea even looking for that file?

Here is the whole output:

[code]

[2017-09-26 11:29] daren-thomas commented on #825
OK. Seems someone changed the `locator.get_default_weather()` method to return a different value. I'm changing it back.

[2017-09-26 12:08] daren-thomas commented on #825
Also, the polybox version changed and direct linking to the files does not seem to work anymore. I have added them to the repository. This makes everything easier anyway...

[2017-09-26 12:19] daren-thomas commented on #825
Fixed! See PR #826

[2017-09-26 12:54] JIMENOFONSECA commented on #822
Man, no idea. I think it seems right but I would cross check with Valerie or Arno.

Best, Jimeno

On 26 Sep 2017, at 19:09, Amr Elesawy <notifications@github.com<mailto:notifications@github.com>> wrote:

How many credit points would this course provide to students?

If we calculate according to ETH, then every 25 hours = 1 credit point. Assuming we have 8 hours per day * 6 days, that's 2 credit po

[2017-09-27 01:45] Khayatian opened #827 "installing CEA dev on workstation"
Im installing CEA dev. on a workstation (here in Singapore) to test some codes. I run into an error, from which I took a screenshot (you may find it attached to the text). Could someone please provide me some insight/potential fix on this issue?

![screenshot](https://user-images.githubusercontent.com/27851066/30891963-8efde4d0-a368-11e7-97ae-4285fa458ef6.png)

[2017-09-27 02:20] #666 closed

[2017-09-27 02:25] JIMENOFONSECA commented on #821
@amraladdin

The Venue: - Incubator Room at the Future Cities Laboratory.
Max number: - we can accommodate up to 30, you decide if 20.
Scholarships: - Students will not pay for it. So they will need to have the scholarship.
So i think we open the calls and based on how many people we get willing to pay. We then receive students.

[2017-09-27 02:37] JIMENOFONSECA commented on #819
I think we need to keep the lesson focused on the topic of urban energy systems. I will go for a technical audience and provide input accordingly in the morning. This is something the past workshop was missing. The scope of each lesson should be to explain what is behind the scenes of the calculations.

The potential speakers i could propose giving technical 1-hour input could be People of MuSES +

[2017-09-27 02:39] JIMENOFONSECA commented on #643
@amraladdin could we try to finish this? :-)

[2017-09-27 02:46] JIMENOFONSECA commented on #820
@amraladdin students will not pay for this. I think it is enough with the flights, + accommodation they will have to cover on their own. I do not see charging students happening.

The cost of the course from FCL's other executive courses is 1700SGD /person for three days including lunch.

I would not organize lunch, but tea. I assume that without lunch for the five days we can charge **3000 SGD**

[2017-09-27 02:48] JIMENOFONSECA commented on #822
@amraladdin  please add my contact. and add those 2 credit points.

[2017-09-27 02:48] JIMENOFONSECA commented on #823
@amraladdin waiting for this

[2017-09-27 02:50] JIMENOFONSECA commented on #818
@amraladdin my advice is to do it in the order we have it. From data mining up to optimizing the area up to comparing scenarios.

morning hours. theoretical input.
afternoon hours. hands on the tool with a practical exercise.

[2017-09-27 02:55] JIMENOFONSECA opened #828 "Create Mailchimp account and send out invitations"
@amraladdin I believe the poster is a good beginning. however it would be easier if we use mailchimp to distribute e-mails to all the community. Please check the channel in Slack I have sent you via e-mail examples of the executive course the guys from mobility did. There is also an excel file on slack with the names of people to whom invite.

[2017-09-27 03:09] JIMENOFONSECA commented on #827
@Khayatian did you try to follow the new installation guide?

[2017-09-27 03:24] #825 closed

[2017-09-27 03:28] Khayatian commented on #827
update on the issue:

cannot connect pycharm to CEA as I do not have the file python.exe in any of the following locations:
C:\Users\your_name\Anaconda2\envs\cea\python.exe
or
C:\Users\your_name\AppData\Local\conda\conda\envs\cea\python.exe

[2017-09-27 03:53] Khayatian commented on #827
update:
tried uninstalling reinstalling, no python.exe file in the suggested directory

[2017-09-27 05:17] #268 closed

[2017-09-27 05:20] JIMENOFONSECA commented on #827
Please contact Daren Via Slack and ask for a meeting immediately to solve this.
we need to move on with the experiments.

best, JImeno
________________________________
From: Fazel Khayatian [notifications@github.com]
Sent: Wednesday, September 27, 2017 11:53 AM
To: architecture-building-systems/CityEnergyAnalyst
Cc: Jimeno Fonseca; Assign
Subject: Re: [architecture-building-systems/CityEnergyAnaly

[2017-09-27 05:25] Khayatian commented on #827
Ok, I will proceed with it now

[2017-09-27 05:39] Khayatian commented on #827
new update:
the issue was resolved through administrative access.
The new error says that "the command line is too long"

[2017-09-27 05:40] #723 closed

[2017-09-27 05:40] #636 closed

[2017-09-27 05:44] Khayatian commented on #827
the error:
![Untitled2.png](https://images.zenhubusercontent.com/59cb0a21b0222d5de47944a4/dc5fdff7-cdab-45db-a463-87b7b79914ff)

[2017-09-27 06:17] Khayatian commented on #812
all issues resolved

[2017-09-27 06:48] Khayatian opened #829 "ImportError: DLL load failed"
I am getting this error related to fiona, I tried the instructions from the installation guide, but there is no proj.dll in C:\Users\your_name\Anaconda2\envs\cea\proj.dll , however, the file is in its correct location at:
C:\Users\your_name\Anaconda2\envs\cea\Library\bin

some help will be appreciated

[2017-09-27 07:15] daren-thomas commented on #827
@Khayatian Fazel, before we close this issue: could you please comment on how you fixed it? For future generations, weisch...

[2017-09-27 07:17] daren-thomas commented on #829
@Khayatian do you have a screenshot of the whole error? Can you import fiona from the command line? What operating system are you running on? What version of python? Which part of the installation guide did you follow? Is this the first installation on that system?

[2017-09-27 07:17] Khayatian commented on #827
The issue was with administration access, so I just ran the code as administrator.

[2017-09-27 07:17] daren-thomas commented on #829
@Khayatian Fazel, is this connected to #827 at all?

[2017-09-27 07:22] Khayatian commented on #829
@daren-thomas
1) I will add a screenshot rightaway,
2) I will try to import fiona from command line and see whether it works
3) python 2.7 x64
4) I installed the cea for developers guide, the installation finished without error
5) yes this is the first installation on our tool on this windows 2012 server OS

[2017-09-27 07:24] Khayatian commented on #829
No the previous issue was fully resolved once I got administrative access.

[2017-09-27 07:26] Khayatian commented on #829
Traceback (most recent call last):
  File "C:/CityEnergyAnalyst/cea/demand/calibration/nn_generator/nn_random_sampler.py", line 2, in <module>
    from cea.demand.demand_main import properties_and_schedule
  File "C:\CityEnergyAnalyst\cea\demand\demand_main.py", line 16, in <module>
    from cea.demand import thermal_loads
  File "C:\CityEnergyAnalyst\cea\demand\thermal_loads.py", line 11, in <mod

[2017-09-27 07:30] Khayatian commented on #829
@daren-thomas  could you please tell me how to import fiona from command line?

[2017-09-27 07:32] daren-thomas commented on #829
[code]

[2017-09-27 07:33] JIMENOFONSECA commented on #829
Guys, talking on the phone will solve this faster :-))).

- prefer face to face rather than tools to fix problems..

On 27 Sep 2017, at 3:30 pm, Fazel Khayatian <notifications@github.com<mailto:notifications@github.com>> wrote:

@daren-thomas<https://github.com/daren-thomas> could you please tell me how to import fiona from command line?

—
You are receiving this because you were assigned.
Reply t

[2017-09-28 06:14] #805 closed

[2017-09-28 06:38] JIMENOFONSECA opened #830 "Launch tool: bayesian calibrator"
This entails creating an interface for the Bayesian calibrator. check the readme in cea/demand/calibration. It includes most information to create the interface.

It also entails launching an online manual for CEA for planners

[2017-09-28 06:52] #810 closed

[2017-09-28 07:06] #829 closed

[2017-09-28 07:07] #827 closed

[2017-09-28 08:56] JIMENOFONSECA commented on #420
For this task, we have to acknowledge that the products of the calibrator are stochastic, so the only way to control if it runs is to see if 5 files (the outputs) are being created for B01 of the open case.

what it needs to be run in the next order are:
- cea/demand/calibration/calibration_sampling.py
- cea/demand/calibration/calibration_gaussian_emulator.py
- cea/demand/calibration/calibration_m

[2017-10-02 13:38] #801 closed

[2017-10-02 13:40] daren-thomas commented on #418
@shizhongming how does this compare to the other issue / pull request? can we close this?

[2017-10-02 16:40] martin-mosteiro commented on #790
@JIMENOFONSECA Still getting the same issue on my computer

[2017-10-03 00:38] JIMENOFONSECA commented on #790
This seems to be a problem of the installation. Could you drop by and ask daren?

Best, Jimeno

On 3 Oct 2017, at 00:40, martin-mosteiro <notifications@github.com<mailto:notifications@github.com>> wrote:

@JIMENOFONSECA<https://github.com/jimenofonseca> Still getting the same issue on my computer

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub<

[2017-10-03 07:58] #807 closed

[2017-10-03 10:48] martin-mosteiro commented on #712
The first issue is completed and merged.
The second issue is replaced by #799.
This issue can therefore now be closed.

[2017-10-03 10:48] #712 closed

[2017-10-04 01:40] #351 closed

[2017-10-04 04:56] JIMENOFONSECA opened #832 "Integrate mini-split unit"
There is a need for this feature. We will integrate an easy to do model for this initially

[2017-10-04 06:23] JIMENOFONSECA commented on #790
@martin-mosteiro i found the problem.

you need to install background geoprocessing for arcgis @daren-thomas could you help martin on this? it is one of the installers that come with arcgis.

I will include this line into the installation guide.

[2017-10-04 07:16] JIMENOFONSECA opened #833 "Enable swtich of databases Singapore and zurich"
In essence we are finding great difficulty on easily running simulations considering the databases of Singapore, instead those of Zurich. Until now we have to change the input locator and global variables all the time. which is inefficient and a gigantic source of error.

This issue will require in essence to:
1. add to the data helper interface in arcgis a new input field pointing to  which datab

[2017-10-04 09:55] JIMENOFONSECA commented on #833
I created the database structure in the branch i833-switch-databases.I leave it there for you to use

These are the pointers of the input locator to account for.
    def get_archetypes_properties(self):
    def get_archetypes_schedules(self):
    def get_supply_systems_cost(self):
    def get_life_cycle_inventory_supply_systems(self):
    def get_life_cycle_inventory_building_systems(self):
    de

[2017-10-05 08:19] #734 closed

[2017-10-05 08:20] #735 closed

[2017-10-05 08:22] #832 closed

[2017-10-05 08:26] #669 closed

[2017-10-05 08:28] #437 closed

[2017-10-05 08:29] JIMENOFONSECA opened #836 "Issue multiprocessing not working in demand main"

[2017-10-05 08:31] #774 closed

[2017-10-05 08:36] shanshanhsieh commented on #811
This Epic will be activated at the second stage of Hybrid Cooling System analysis (Nov, 2017).

- Update CEA demand calculation with low-ex cooling system (Outdoor air unit/ Sensible cooling unit/Latent cooling unit)

- Connect demand results from CEA to OSMOSE

- Implement new cooling system models in CEA

[2017-10-05 08:53] BhargavaKrishnaSreepathi opened #837 "Ecocampus simulation"
Prepare the ecocampus reference case and run CEA from pycharm

[2017-10-05 08:57] shanshanhsieh opened #838 "Draw cooling network for EcoCampus"
Draw a centralized cooling network in `.shp` files for EcoCampus.

[2017-10-05 09:00] shanshanhsieh opened #839 "Simulate cooling network for EcoCampus"
Run network simulation script for EcoCampus cooling network.

[2017-10-06 01:35] JIMENOFONSECA opened #840 "Adding DX unit to CEA Demand calculation"
This issue adds the new field to the demand calculation Ef_gen_kWh. This field contains information of electricity consumed by direct expansion units with mini-split units to the demand calculation.

[2017-10-06 02:15] Khayatian opened #841 "validating/assessing NN4CEA"

[2017-10-06 02:18] Khayatian commented on #841
To determine the accuracy of the model, also going deep into the performance of the network, to understand whether it needs more features or more samples (or both). Also, evaluating the possibility of running the model on smaller (or larger) devices.

[2017-10-08 13:15] amraladdin commented on #828
Good job Jimeno. Which channel are you talking about on Slack? the Winter School Channel? What should I be looking at there? I did receive your emails, but not on Slack.

I agree, seems like a better idea to use mailchimp for the invitations.

[2017-10-08 13:16] amraladdin commented on #818
I'll start from that point and then see what will evolve. This point, however, will begin after we settle on the date of the winter school tomorrow (monday 9th of October)

[2017-10-08 13:18] amraladdin commented on #823
This will also be decided after defining what the tool features presented will be and the case study we will be working on (after Monday 9th of October).

[2017-10-08 13:21] amraladdin commented on #820
Ok great. I will however need someone from Singapore to manage the preparation of the tea, coffee, hall registration... etc.

Regarding the cost, I will add it to the brochure. As for the students not paying, I don't mind, as long as it is ok for you, Arno and ETH.

[2017-10-08 13:24] amraladdin commented on #643
Not any time soon to be honest. This semester, my work schedule is more than full. I will also need someone who knows how this tool works to guide me through it. Otherwise, I can have time to explore the tool myself after December. I've already tried this before but the tool was still buggy, so I ended up spending a lot of time trying to make it work with no outcome.

[2017-10-08 13:30] amraladdin commented on #819
@JIMENOFONSECA with Keynote speakers, I meant with someone famous or has a high position in the university like Arno. This person would focus on the general topic and present examples. This, according to Arno, helps attract applicants to the course. Perhaps you and Arno should talk about who to invite. Otherwise, we can say that you will give one Keynote, and Arno will give another.

As for the da

[2017-10-09 02:38] BhargavaKrishnaSreepathi opened #844 "Error while running radiation_main.py file"
Here is the procedure I followed while running the radiation_main.py file.

1. Firstly, I unzipped the `reference-case-open.zip` file shipped with CEA present in the folder `cea\examples`. Copied this folder to `C:` drive.
2. Ran the `cea\demand\preprocessing\properties.py` file. It ran successfully.
3. Ran the `cea\demand\demand_main.py` file. It ran successfully.
4. Following this, ran the `cea\

[2017-10-09 05:45] BhargavaKrishnaSreepathi commented on #844
Fixed the issue, just had to reinstall daysim.

[2017-10-09 05:45] #844 closed

[2017-10-09 07:39] #809 closed

[2017-10-09 07:42] amraladdin commented on #823
Points to resolve before creating the final schedule:
- Will we have a Singapore Case study?
- What features is the tool expected to have by then?
- Who will participate? For how long?

We have already discussed on some of these points, but I'm keeping them here as a check point.

[2017-10-09 11:09] amraladdin commented on #822
I double checked with Ursula Suter from the studetn planning. I found out that 35 hours of work (lectures + home work) would be equal to 1 credit points. So I think we should state that it's = 1 ECTS only. @JIMENOFONSECA do you agree?

[2017-10-09 11:14] amraladdin opened #845 "Prepare a TEST PLAN meeting"
- [x] Set a date to meet Daren and go through the Test plan preparation.

- Outcome of this meeting should be:

- [x] Tentative structure and breakdown of the tasks

- [ ] Proposed timeline

- [ ] Tasks assignment (Who can be our brother community testers?)

[2017-10-09 11:15] #820 closed

[2017-10-09 11:28] amraladdin opened #846 "LCA and Economic Database for Singapore"
We need to get LCA and economic databases for Singapore. Otherwise, we will have to work with the Swiss database. To do so, for each point, we need to:

- [ ] List potential candidates that might have this information or can help get it.

- [ ] List what needs to be defined for each point.

[2017-10-09 11:33] amraladdin commented on #819
Keynotes:
o	AS	- 1.5 hours, general introduction and examples.
o	JF	- Input on urban energy systems analysis in general (Process and rule of  thumb calculations).
Workshop lectures:
o	SH	- 1 hour lesson about how to analyze energy potentials.
o	GH 	- 1 hour lesson about the guts of the demand calculation in buildings.
o	BK	- 1 hour lessons on how to optimize a district energy system?
o	ZS	- 1 hour

[2017-10-09 11:36] amraladdin opened #847 "Tutorials Check"
- [x] Make  a list of the missing tutorials

- [x] Divide them into priotities (for the CEA Summer School)

- [x] Tentative plan on when the summer school tutorials should be finished.

[2017-10-09 11:37] amraladdin commented on #824
No need. BK is working on it.

[2017-10-09 11:37] #824 closed

[2017-10-09 11:38] #817 closed

[2017-10-09 11:42] amraladdin opened #848 "Make a description of the attendees background"
Prerequisites:
1- Engineering Background.
2- Knowledge on Urban or building energy systems, and preferably both.
3- preferable knowledge on GIS tools.

[2017-10-09 11:44] amraladdin opened #849 "Forefront on Urban Energy Systems teaching"
Set a structure and list of topics needed for the workshop. What information do we wish to include? Which way of teaching will we use for approaching this topic?

[2017-10-09 11:46] amraladdin opened #850 "Prepare a list of dates for the CEA Summer School"
Taking into account:
- NUS and NTU free summer periods.
- ETHZ summer vacation and exam dates.
- The FCL conference and summit.

[2017-10-09 12:17] amraladdin commented on #850
@JIMENOFONSECA here's all the infromation regarding the exams, important dates, overlap periods, tentative dates and my recommendation.

**NUS and NTU students have the summer holidays**
- From 12.05 till 04.08
**NUS and NTU students have the summer holidays**
- From 09.06 till 06.08
**FCL Conference and Summit**
- From 08.07 till 12.07

Proposed dates:
**- Mon 02.07 till Sat 07.07** (Better dates

[2017-10-10 01:03] JIMENOFONSECA commented on #822
Hi amr,

It is fine for me :-),

Best, Jimeno

On 9 Oct 2017, at 19:09, Amr Elesawy <notifications@github.com<mailto:notifications@github.com>> wrote:

I double checked with Ursula Suter from the studetn planning. I found out that 35 hours of work (lectures + home work) would be equal to 1 credit points. So I think we should state that it's = 1 ECTS only. @JIMENOFONSECA<https://github.com/jimenofo

[2017-10-10 01:43] JIMENOFONSECA commented on #850
Amr, thanks for the info. What about exam session in eth?

Best, Jimeno

On 9 Oct 2017, at 20:17, Amr Elesawy <notifications@github.com<mailto:notifications@github.com>> wrote:

@JIMENOFONSECA<https://github.com/jimenofonseca> here's all the infromation regarding the exams, important dates, overlap periods, tentative dates and my recommendation.

NUS and NTU students have the summer holidays

  *

[2017-10-10 01:48] shanshanhsieh commented on #819
small modifications:
BK | Supply system optimization for Singapore case study (EcoCampus).
SH | Solar potential, Singapore status quo cooling technologies, support BK in optimization.

[2017-10-10 02:05] shanshanhsieh opened #854 "get thermal_network_matrix to run"
Update the `thermal_network_matrix.py` script to match the new building demand output.
missing Jenkins.....

[2017-10-10 09:03] daren-thomas commented on #836
@JIMENOFONSECA this issue is underspecified. To be able to help you, I need the following questions answered:

1. Steps to reproduce the problem
2. What did you expect?
3. What did you get?

[2017-10-10 09:05] JIMENOFONSECA commented on #836
1. run demand_main from pycharm
2. I should expect running multiprocessing.
3. I get, it runs with weather file in brussels and multiprocessing is off.

[2017-10-10 09:05] daren-thomas commented on #836
which branch?

[2017-10-10 09:06] JIMENOFONSECA commented on #836
master

[2017-10-10 09:06] daren-thomas commented on #836
I'm on it! :-)

[2017-10-10 09:39] BhargavaKrishnaSreepathi commented on #713
@daren-thomas: I am currently working on developing the case study for Eco campus. Once it is done, we can work on this tool. Sorry for the late response