[2016-02-29 13:58] daren-thomas opened #1 "Fix output: order of columns in properties script"
The order of columns in the properties script should be changed. It is currently messy.

Also, check output columns of the other scripts for similar problems.

[2016-02-29 13:59] daren-thomas opened #2 "Copy GLOSSARY from urben repository"
The "urben" repository has a glossary that applies to this repository as well. Use it as a starting point for the VARIABLES.md file.

[2016-02-29 14:02] daren-thomas opened #3 "Compress radiation file"
Come up with a solution to the size of the radiation input file - it is currently quite big. Could we zip it?

[2016-03-02 01:18] JIMENOFONSECA opened #4 "Rename codes to match ISO standards"
A quite diverse notation of variable names was found in 30% of the data. It still works like this, but it would be great to have a standad notation

[2016-03-02 01:19] JIMENOFONSECA opened #5 "Automate the weather file selection epw format"
Create a reader of .epw data files which are easier to find in literature for building simulation than those from meteonorm

[2016-03-02 01:20] JIMENOFONSECA opened #6 "Shading_type, shading_position, window_to_wall_ratio - are set to a constant value"
We should probably update the archetypes to include these variables. Today they are part of the user's input, and window-to-wall-ratio is considered fixed

[2016-03-02 01:22] JIMENOFONSECA opened #7 "Calculate the CmFunction in Detail"
This function relates the thermal mass of the building. It can be calculated in a detailed way according to ISO standards. it will need also archetypes to facilitate this. It would be good to use if understanding the sensitivity of thermal mass is needed.

[2016-03-02 01:24] JIMENOFONSECA opened #8 "Night and morning temperature setbacks"
Fixing the start of the heating schedule in order to avoid high peak loads, so start an hour before the people arrive. It consist in a control strategy

[2016-03-02 01:25] JIMENOFONSECA opened #9 "New radiation engine (DAYSIM by P. NEITZEL)"
The existing radiation engine is dependent on arcgis. It would be great to have a more powerful and stand alone engine.

[2016-03-02 01:27] JIMENOFONSECA opened #10 "Create controls for the heating, cooling systems and lighting systems"
Generic controls of the current tool might lead to overestimations and inaccuracy in the dynamic profiles of energy consumption. a lighting control strategy would be especially interesting in order to analyse the efficiency of the last at the urban scale.

[2016-03-02 01:28] JIMENOFONSECA opened #11 "Find the standards to all the equations used in the code"
It concerns the standardization part of the tool.

[2016-03-02 01:28] JIMENOFONSECA opened #12 "Simulate multi-thermal zone for buildings"

[2016-03-02 01:29] JIMENOFONSECA opened #13 "Check HVAC calculation as potential bottleneck"

[2016-03-02 01:29] JIMENOFONSECA opened #14 "Sheet with all the abbreviations explained"

[2016-03-02 01:30] JIMENOFONSECA opened #15 "Master Thesis - Stochastic electrical demand model"

[2016-03-02 01:35] JIMENOFONSECA opened #16 "Air infiltration model"
This concerns an outdoor dependent model for simualting air infiltration in buildings due to occupancy and building tightness. Until now this is generalized independently of the type of occupancy or building with the next variables in GlovalVariables.py

-	self.NACH_inf_non_occ = 0.2  num air exchanges due to infiltration when no occupied. SIA
-	self.NACH_inf_occ = 0.5  num air exchanges due to in

[2016-03-02 01:35] JIMENOFONSECA opened #17 "Find out why hf and height_floor both exist"
It is the same variable defined in Global Variables. it has to be checked

[2016-03-02 01:35] JIMENOFONSECA opened #18 "Check out what equivalentlength is for and why it is 0.6 - should be 1.3"

[2016-03-02 01:38] JIMENOFONSECA opened #19 "Properties File Fix"
-	Change name of dataframe `q`
-	q1.E4 will probably have to be changed - it is an equipment type in industrial processes!

[2016-03-02 01:39] JIMENOFONSECA opened #20 "Constants for pumping operation"
-   self.hoursop = 5   Pump running hours assuming around 2000 hour of operation per year. Charged to the electrical system from 11 am to 4 pm. Get a better value-not priority!
-   Self.equivalentlength = 0.6 Used to calculate the friction losses in the pipes. So you assume the network is longer so that you don’t need to calculate the temp losses at the fixtures.  Should be 1.3!

[2016-03-02 01:41] JIMENOFONSECA opened #21 "Consider renaming variables in Demand.py"
-	Water0: Mw peak
-	Occupants: Peak occupancy, hour with 100% occupancy.

[2016-03-02 01:46] JIMENOFONSECA opened #22 "Create year of retrofit per type of retrofit"
there is only one year of retrofit as Input variable, but this not resembles reality. there could be one retrofit year for windows, another one for floors etc.. This will also cancel out the flags of Embodied.py

Assign different level/year of retrofit when calculating embodied energy: Create individual columns for "year retrofit windows", "year retrofit walls", "year retrofit partitions", etc. in

[2016-03-02 01:47] JIMENOFONSECA opened #23 "- Change Aop_sup in the Atot to incluse all area above ground not just the area exposed to sun!"

[2016-03-02 01:49] JIMENOFONSECA commented on #6
It requires chanches in -	q['fwindow'] = gv.window_to_wall_ratio in demand.py
once the window to wall ratio be included in the archetypes

[2016-03-02 01:50] JIMENOFONSECA opened #24 "Other Values such as Y of piping systems should be included in the Archetypes"
Check Variable in Demand.py and create archetypes out of it.

[2016-03-02 01:56] JIMENOFONSECA opened #25 "Check units for Flowtap variable (/min, /h?)"

[2016-03-02 02:02] JIMENOFONSECA opened #26 "Eal_ve in Calc_mix uses should be fixed"
Return ta_hs_set,ta_cs_set,people,ve,q_int,Eal_nove,**Eal_ve/2**,mww,mw, w_int, hour
Eal_ve should not be half here but should be changed in the occupancy schedule

[2016-03-02 02:18] shanshanhsieh opened #27 "Seperate the DHW and SH supply system"
Each building has one supply system for both DHW and SH currently.

[2016-03-02 02:22] shanshanhsieh opened #28 "Primary energy demand output only accounts for fossil based resources"
Should be stated clear at the output

[2016-03-02 02:23] shanshanhsieh opened #29 "Set boundary conditions for the choice of the energy generation"
For example, it could be limited by resource availability and accessibility.

[2016-03-02 02:25] shanshanhsieh opened #30 "Over heating in buildings should be acknowledged"
also, the infiltration rate should be adjust accordingly

[2016-03-02 03:08] gabriel-happle opened #31 "Adding missing parameters and units to the documentation"
Adding missing parameters and units to the documentation (QCf, QHf, Qcsf0, Qhsf0, Qwwf0)

[2016-03-02 03:10] gabriel-happle opened #32 "Dependent variables in the simulation should be parametric for scenarios evolving over time/trajectories"
Dependent variables in the simulation that should be parametric for scenarios evolving over time/trajectories: (1) weather, (2) electricity supply mix, (3) prices of energy, (4) occupancy of buildings & schedules of occupants, (5) electricity demand

[2016-03-02 03:11] gabriel-happle opened #33 "Possible agent based modeling of energy demand"
Possible agent based modeling of energy demand

[2016-03-02 03:30] shizhongming opened #34 "The accuracy of weather data file"
Usually, the weather data is about the airport or the nearest the weather station. But, for a specific site, because of the urban heat island effect, etc., the weather date should be different from the airport or weather stations.

There should be a procedure to generate such weather data for the specific site. Umi by MIT has such weather generator.

[2016-03-02 10:07] JIMENOFONSECA commented on #34
I believe you mean this one?

http://dspace.mit.edu/handle/1721.1/99251

[2016-03-02 10:41] JIMENOFONSECA commented on #30
#16 I belive this should be solve there.

[2016-03-04 10:27] daren-thomas opened #35 "Preserve order of columns when writing out to Excel"
Go through the codebase and change any `DataFrame.to_excel(... cols={...})` to `DataFrame.to_excel(... cols=[...])`

[2016-03-04 10:33] daren-thomas opened #36 "Move Archetypes to a location-based subfolder"
The `/cea/db/Archtetypes` folder contains statistical data broken up by building usage. The current version is specific to Switzerland (maybe even ZH/Switzerland). We should move them to a subfolder (`/cea/db/Archetypes/zh-ch/`) to reflect this.

Also, check if the same applies to Schedules. In that case, move the Archetypes to: (`/cea/db/zh-ch/Archetypes`) and the Schedules to (`/cea/db/zh-ch/Sch

[2016-03-08 14:13] daren-thomas opened #37 "Extract PropertiesTool (etc.) to a separate file"
Extract the `PropertiesTool` class from the `properties.py` script (and the same for the other scripts) to a separate file (`properties_tool.py`?)

[2016-03-08 14:16] daren-thomas opened #38 "Consider renaming `generation.shp`"
I know this is supposed to mean "energy generation", just... it always reminds me of generation as in grandfather - father - son. Especially when we have evolutionary algorithms in the project: They have generations too... Can we call it `systems.shp`? Other ideas?

[2016-03-08 14:22] daren-thomas opened #39 "Properties script: `results_path` should be the file name, not the folder name"
I think that would be so much cleaner: You tell the script what it should call the file (`properties.xls`) that it writes instead of *where* to write it. This reduces implicit knowledge in the interface.

Quoting [the Zen of Python](https://www.python.org/dev/peps/pep-0020/):

[2016-03-08 14:48] daren-thomas opened #40 "Test flags in `properties.py`"
The `generate_*_flag` parameters should turn overwriting of the various worksheets in the output (`properties.xls`) on and off.
  * How is this behavior defined?
  * What is generated if no such file exists and no flags are set? An empty excel sheet?
  * Are the sheets overwritten?

[2016-03-08 15:04] daren-thomas commented on #19
**Note:** these are two separate issues! Take care not to close this without resolving both (especially the "q1.E4" point will probably live longer than the "dataframe q" point, which is really only a very simple refactoring.

[2016-03-09 09:52] daren-thomas opened #41 "Rename the `analytical` function to `demand`?"
"analytical" only makes sense when comparing this to some other demand calculation method - we could call the function `demand_calculation`, `calculate_demand` or whatever. `analytical` doesn't even mean anything to do with demand calculation outside of context...

[2016-03-09 13:48] daren-thomas opened #42 "Check if `Ealf_ve`and `Ealf_nove` in schedules are still being used"
During the developer walk-through, we came upon these variables and we don't quite know if they are still being used. Check. And then update documentation in `demand.md`.

[2016-03-09 13:52] daren-thomas opened #43 "Make sure column names in schedules match ISO standard"
Use the ISO standards (**FIXME:** which ones?) as the basis for naming the schedules. Check each column name to see if it is the correct name.

These column names must be updated in the documentation (`demand.md` and possibly the appendix)

[2016-03-10 13:02] daren-thomas opened #44 "demand script results: `Ef` should also include processes"
The output column `Ef` of the demand script is currently defined as `Ealf` + `Eauxf`, but according to JF it should also include electricity demand from processes...

[2016-03-10 13:05] daren-thomas opened #45 "Split demand script output `Eauxf` into auxillary and ventilation"
`Eauxf` is the final auxillary electricity in [kWh] for fans and pumps. Split it into a fans portion and a pumps portion.

[2016-03-10 14:28] daren-thomas opened #46 "Create Indoor Comfort model"
What norm is this based on? What are the exact criteria used to calculate this field?

[2016-03-10 14:42] daren-thomas opened #47 "Optimize `CalcIncidentRadiation`"
The function `CalcIncidentRadiation` is slow. Run it through a profiler and propose ways to speed up the calculation.

[2016-03-11 05:54] JIMENOFONSECA opened #48 "Equipement use in Properties and Archetypes"
The use of Equipment has become obsolete for other cases without industrial use. It will be taken away shortly to simplify the problem.

[2016-03-11 09:18] daren-thomas commented on #48
so... we are removing industrial use cases from the features?

On Fri, Mar 11, 2016 at 6:54 AM, JIMENOFONSECA <notifications@github.com>
wrote:

[2016-03-11 09:25] JIMENOFONSECA commented on #48
Not necesarly, maybe we just remove what is not being used. parts of the variables E1, E2, E3

[2016-03-11 09:32] daren-thomas opened #49 "calc_Y: check with standards for naming / result"
the function `calc_Y` returns a list of transmittance values for pipes depending on the year of retrofit...

- why is the result called `Y`? this only makes sense if the standards equations use this naming.
- we should rename the function to `calculate_pipe_transmittance_values`
- we should consider moving this to the archetypes instead
- the result should probably be a named tuple (unless the sta

[2016-03-11 09:41] daren-thomas opened #50 "Find out standard used for piping calculations"
this will influence documentation of `calc_form` and `calc_Y`

[2016-03-11 09:48] daren-thomas opened #51 "refactor `calc_mixed_schedule` to return dataframe / class instead of long tuple!"
this improves robustness of code...

[2016-03-11 09:49] daren-thomas commented on #51
an easy way to refactor this in a first step is to use a named tuple...

[2016-03-11 10:04] daren-thomas opened #52 "Remove magic numbers for heating systems and cooling systems"
replace in first step with enumerations / constants, then maybe with classes.

[2016-03-11 10:04] daren-thomas commented on #52
e.g. in `calc_Qem_ls`

[2016-03-11 10:07] daren-thomas opened #53 "Fix shortcut for `tm_t0` and `tm_t1` in `CalcThermalLoads`"
This is hardcoded for the swiss case study - we could fix this by adding a warm up phase.

[2016-03-11 10:29] daren-thomas opened #54 "Profile and optimize `calc_HVAC`"
Anectodal evidence suggests that this is a good candidate to optimize as it is slow.

[2016-03-11 10:38] daren-thomas opened #55 "Create a model for floor heating"
to replace `calc_TABS` which currently uses the same code as `calc_RAD`.

[2016-03-11 10:40] daren-thomas opened #56 "Create a model for thermal storage for hot water inside a building"

[2016-03-11 10:42] daren-thomas opened #57 "Refactor / improve output in `demand.py`"
weird copying of data to temporary files each a line and then summed up to the Totals CSV
- might want to refactor that...
- temporary files are written in `functions.py`
- the totals file is written at the end of `demand.py/analytical`

[2016-03-14 09:33] shanshanhsieh opened #58 "Document sources for all variables"
It could either be from standards or other references.

[2016-03-14 09:35] shanshanhsieh opened #59 "Update "File histroy and credits" for all python files"

[2016-03-14 09:37] daren-thomas commented on #59
please let us not do this!!! we have github that can tell *exactly* what
changes where made to each file, when, and by whom. adding  this
(redundant) information to the file header just increases bureaucracy.

On Mon, Mar 14, 2016 at 10:35 AM, shanshanhsieh <notifications@github.com>
wrote:

[2016-03-14 09:38] daren-thomas commented on #58
so much this!!! :)

I tried to do as much as possible in the developer walkthrough. but of
course this needs to be fed back into the source code, as that will
ultimately be where the buck stops.

On Mon, Mar 14, 2016 at 10:33 AM, shanshanhsieh <notifications@github.com>
wrote:

[2016-03-14 09:43] shanshanhsieh commented on #59
sounds reasonable to me if github already documents every thing, shall i just close the issue?

[2016-03-14 09:48] JIMENOFONSECA commented on #59
The question to me, is if both old and new modules will be correctly credited to their authors. It seems that the one who uploads the script gets the credit but nor the contributors. for instance: the work of Thuy-an, Tim, Florian for the Supply side etc.. which will be uploaded by us next....

[2016-03-14 09:48] daren-thomas commented on #59
yes, please close the issue. instead, i'll create a new issue to add a
license header to all the files.

On Mon, Mar 14, 2016 at 10:43 AM, shanshanhsieh <notifications@github.com>
wrote:

[2016-03-14 09:49] JIMENOFONSECA commented on #59
not yet :-)))

[2016-03-14 09:59] shanshanhsieh commented on #9
KianWee from SMART could possibility implement his algorithm. It will solve this issue if that works.

[2016-03-14 10:01] daren-thomas opened #60 "Add licence header to all the scripts"
This is kind of important. I will figure out what the license header should say (it can be just a short reference to the LICENSE file) and implement it soon.

[2016-03-14 10:02] shanshanhsieh opened #61 "Creat ventilation rate model, Ve"
Instead of using fixed value as it is currently.
Possible ideas: stochastic/ agent based modelling

[2016-03-14 10:04] daren-thomas commented on #59
good point, jimeno. yes, I guess we therefore need to add a credits
section. can we please keep this as simple as possible? (I have seen it go
overboard in other projects with a detailed changelog for each edit)

do i understand you correctly: your main concern is to make sure every
contributor gets credit for their work on each file. so, a name, scope of
contribution and year would suffice?

On M

[2016-03-14 10:10] JIMENOFONSECA commented on #59
Surely it should suffice. and i believe it should be carried out function wise (at leas the big ones).
I saw it first in some scripts in TRnsys. I saw who developed in the 1990's, I then went to his article I got to contact the author for some doubts. He was super happy to see how his work still contributes to R&D after 25 years!.

It also helps to keep track once somebody takes the functions to a

[2016-03-14 10:23] shanshanhsieh opened #62 "Split demand script output `Ealf` according to more detail usages"
ex. separate lighting demand from others

[2016-03-14 10:29] shanshanhsieh commented on #7
Same for **Am**, effective thermal mass.
As well as gathering data from Singapore.

[2016-03-14 10:39] daren-thomas commented on #59
ok. so then let us do it like that!
we add a section at the top for contributors and include information about
what functionality was added?

On Mon, Mar 14, 2016 at 11:10 AM, JIMENOFONSECA <notifications@github.com>
wrote:

[2016-03-14 10:48] shanshanhsieh opened #63 "Other ways to formulate 'cal_mixed_schedule'"
Instead of using weighted average as implemented currently, we have to find a way to describe the mixed schedule better in Singaporean buildings with multiple zones/usages.

[2016-03-14 10:54] shanshanhsieh commented on #53
also for 'Tww_re', cold water return temperature of air conditioning system.

[2016-03-14 11:12] shanshanhsieh opened #64 "Improve emission and control losses calculation in 'calc_TL'"
Right now is using the "french way", check if it could be improved.

[2016-03-14 11:22] shanshanhsieh opened #65 "Simulate building demands in parallel"
check feasibility

[2016-03-14 11:26] shanshanhsieh opened #66 "'Qwwf' is assumed to be supplied via storage all the time"
Could be different according to water heater types.

[2016-03-15 09:15] gabriel-happle opened #67 "improve thermal network model for zernez in CEA SUPPLY AND OPT"
improve thermal network model in CEA legacy version (Matlab model with python wrapper)

CEA SUPPLY AND OPT/legacy/Tsquare/UESM/NetworkByFlorianForZernez/..

[2016-03-15 09:18] gabriel-happle opened #68 "Check UESM Code in CEA legacy version for useful scripts"
CEA SUPPLY AND OPT/legacy/Tsquare/UESM/UESM Code/.. - check old multi objective optimization for useful scripts

[2016-03-15 11:37] gabriel-happle opened #69 "Documentation of solar resource potential function in GitBook"
..legacy/JPlus/ERM/Solar resource potential.py

- creates cloud of point on the buildings in a grid of 2 x 2 m
- calculates solar radiation on all roof areas for every hour of the year
- output is a *.csv file with the coordinates of all points and the horizontal solar irradiation at every hour of the year and a *.shp file containing all points
- the calculation is parallelized

[2016-03-15 11:42] gabriel-happle opened #70 "Documentation and improvement of PV-SC-PVT potentials.py"
../legacy/JPlus/ERM/PV-SC-PVT potentials.py

TODO:
- Rename EDMFunctions to functions
- replace import sys (sandbox library) with new library that can convert  shapefile to dataframe directly
- include other solar technologies and create the options to analyze those (e.g. thin-film pvt)
- check reference for misc losses (system losses of solar technologies)
- fix temporal location. Get Library tem

[2016-03-15 11:48] gabriel-happle opened #71 "Documentation of solar Functions in EDMFunctions.py"
../legacy/JPlus/EDM/EDMFunction.py

Issue: from EDMFunctions → create one file with only solar functions (clean out file)
Idea: create files with functions of the same topic

`**EDMFunction.calc_sunrise**`
- Inputs: latitude, longitude, timezone, yearsimulation
- Output: time of sunrise (uses ephem library)

`**EDMFunction.Calc_pv_generation**`
- calculates pv generation of every group of solar pa

[2016-03-15 14:09] daren-thomas opened #72 "Document `PFloor` in Shapefile: buildings"
The current documentation says: "ratio of `Floor_ag` with a closed envelope."

What does that even mean?

In my notes, I have:

Also... can we have a better name? How does `PFloor` relate to what it is?

[2016-03-15 14:19] daren-thomas opened #73 "Decouple building uses from code (ADMIN, SR, etc.)"
Currently, we use `GlobalVariables.list_uses` to define the list of valid uses for the program. These uses are linked with the schedules and with the attributes in `buildings.shp`. While we try to make sure (e.g. in `properties.py`) that we don't reference this list explicitly, we still make assumptions about them. See in `properties.py`:

[code]

As an example. If we change `GlobalVariables.list_

[2016-03-15 14:33] daren-thomas opened #74 "Check dimensions of `People` in schedules documentation"
The file `schedules.md` says:

I think the dimensions are wrong. This should be $$[/m^2]$$, no?

[2016-03-16 01:41] shanshanhsieh commented on #6
Uwall and Uwindows are now assigned according to archetypes. Should have the flexibility to change via user's input as a design parameter.

[2016-03-16 01:42] JIMENOFONSECA commented on #6
not excatly, they can be extracted from  archetypes at first, but once in the properties file, the user can change them directly in the excel file

[2016-03-16 03:40] shanshanhsieh opened #75 "Visualize floors in a building with different usages"
Currently, there is only one usage per building. We should be able to assign different usages in different floors to model mixed used buildings. (could be done in City Engine, but not in the current version of CEA tool)

[2016-03-16 03:48] shanshanhsieh commented on #75
it will complement issue #63

[2016-03-16 03:53] shanshanhsieh commented on #54
is it referring to the same thing as issue #13 ?

[2016-03-16 04:10] shanshanhsieh opened #76 "check if 'calc_HVAC' is feasible for cooling loads"
Currently using the Kaempf model, we should check if that is the best way to calculate cooling load (de-humidification and cooling).

[2016-03-16 07:52] shanshanhsieh commented on #23
Also, for Atot, real building geometries should be taken into account instead of assuming all building shapes are cuboids now.

[2016-03-16 07:58] shanshanhsieh commented on #55
are you referring to calc_TABSH instead? i believe that is the calculation for floor heating from my version.

[2016-03-16 08:03] shanshanhsieh opened #77 "Creat new models for different cooling systems"
- cooling coils (ex. fins used in 3for2)
- mini split units (air conditioners/ heat pumps)

[2016-03-16 08:13] shanshanhsieh opened #78 "Implement "multiple.py" script into ArcGIS"
the script "multiple.py" to run multiple scenarios is already in the cea folder

[2016-03-16 09:11] shanshanhsieh opened #79 "Documentation and issues for scripts in ESM folder"
../legacy/JPlus/ESM/..
### **Geothermal potential.py**
- This model select areas that could install geothermal.
- It is currently more site specific, where only energy piles are allowed to extract shallow geothermal for buildings with floors>=20.
- The energy generated from geothermal sources are always feed in to the grids directly.
### Sewage Potential.py

- ISSUE: move Cp to global variable.

*

[2016-03-16 09:16] JIMENOFONSECA commented on #75
Not exactly. Currently CEA can consider mixed use as a percentage or ratio. what would be good is to add a visual image of selection of users in a floor basis

[2016-03-16 09:28] JIMENOFONSECA commented on #72
...please suggest a name.
...ratio of the (number of floors above ground) where the building has an external envelope.?

[2016-03-16 09:37] shanshanhsieh commented on #75
true, i remember there was a constraint that all the percentage should be equal to 1 at the end, but couldn't locate it now.

In this case, does the current method already consider how will the thermal masses of the neighboring floors affect each others? just thinking the room temperatures might be different if the neighboring floors has different usage patterns, and thus affecting energy demand i

[2016-03-16 09:42] JIMENOFONSECA commented on #57
the idea behind was that sometimes the user wants to just run a small selection of all the buildings but still get the Total.csv updated. for this we have to have as input layers instead of shapefiles. this can be done in the type of inputs in ArcGIS. But..! if we do it, we will be integrating the code more to ArcGIS.

[2016-03-16 09:57] JIMENOFONSECA commented on #9
Paul Nietzel will work on this in the next 6 months as part of his master thesis

[2016-03-16 10:03] shanshanhsieh opened #80 "Modify current MOO for multiple zone connections"
- For mixed used buildings, the optimization should also determine the specific zones at which time period will be connected via network.
- The is assuming large buildings in the future high density cities, different zones in one building might connect to different sets of networks. More research is required regarding this assumption as well.

[2016-03-16 10:14] JIMENOFONSECA commented on #75
Exactly! That is exactly where we should get to with multi-thermal zoning...

Sent on the road

[2016-03-16 10:26] shanshanhsieh commented on #75
so the problem i mentioned will be addressed in issue#12, and i will change this issue into a sole visualization problem.

[2016-03-16 10:35] daren-thomas opened #81 "Upgrade to ArcGIS Desktop 10.4"
The new version is now on IDES - we should upgrade before it becomes a problem.

[2016-03-16 15:49] daren-thomas commented on #78
this tool assumes a specific input folder structure. where is this structure documented? also, if this structure really is going to be a convention - why can't we make the tools really easy-peasy to use by only requiring the path to the scenario (and inferring the rest?)

[2016-03-16 15:54] daren-thomas commented on #54
yes, @shanshanhsieh, good call! closing this as a duplicate of #13

[2016-03-16 15:54] #54 closed

[2016-03-17 01:19] JIMENOFONSECA commented on #27
Something that can help specially the Zurich case is this publication of F. Marechal's team: """Characterisation of domestic hot water end-uses for integrated urban thermal energy assessment and optimisation""

[2016-03-17 07:03] gabriel-happle opened #82 "Documentation of multi-objective optimization"
Document the important methods inside `MOOMain.py` the multi-objective optimization of the supply side:

`../substationMain.subsMain` :
- calculates domestic hot water / space heating / cooling supply HEX temperatures of the substation
- first calculates temperatures of district heating and cooling networks according to maximum customer requirements per hour (depending on connected customers)
- li

[2016-03-17 07:06] gabriel-happle opened #83 "Method to optimize networks with 3-objective optimization"
Develop new method to optimize the network with 3-objective optimization (length, investment, operation)

[2016-03-17 07:07] gabriel-happle opened #84 "Find a way to better implement turned 'off' status of systems"
Maybe change ‘off’ status of temperature requirements from 0 to ‘NaN’ in order to implement minimum and maximum functions

[2016-03-17 07:08] gabriel-happle opened #85 "Connect substation scripts in a single script"
connect substationMain.py, substationModel.py and substationFn.py into one substation script

[2016-03-17 07:09] gabriel-happle opened #86 "Consider thermal network losses during substation generation"
implement network losses in district heating and district cooling systems during HEX dimensioning (now it is implemented at a later stage to supply the dimensioning temperature to the most critical customer -> reverse iterative calculation of network inlet temperature) -> check ThermalSolution.m (Matlab file where this is already implemented)

[2016-03-17 07:11] gabriel-happle opened #87 "Allow for automatic adjustment of mass flow rates in thermal networks to reduce losses"
allow adjusting mass flow rate in networks for heating and cooling instead of temperature adjustment to compensate high network losses during times with low demand (e.g. only domestic hot water supply in summer)

[2016-03-17 07:14] gabriel-happle opened #88 "Update to dynamic model of ground temperature in heating system optimization of disconnected buildings"
`discBuildMain_noCluster.discBuildOp`: implement updated dynamic model for ground temperature for ground source heat pump

[2016-03-17 07:15] gabriel-happle opened #89 "Implement bivalent heating systems in disconnected buildings"
`discBuildMain_noCluster.discBuildOp`
Implement bivalent systems for heating (heat pump for base load and gas boiler for peak (already implemented, but can be improved), include solar thermal,…)

[2016-03-17 07:16] gabriel-happle opened #90 "Create script to generate final reports (output of the entire tool)"
automatically create reports with plots of the results of the entire tool (after optimization)

[2016-03-17 07:55] shanshanhsieh commented on #61
duplicate with issue #16

[2016-03-17 09:04] #31 closed

[2016-03-17 09:09] #47 closed

[2016-03-17 09:14] daren-thomas opened #91 "Upgrade to ArcGIS Pro"

[2016-03-17 09:19] shanshanhsieh commented on #12
Other ways to formulate 'cal_mixed_schedule'
Instead of using weighted average as implemented currently, we have to find a way to describe the mixed schedule better in Singaporean buildings with multiple zones/usages.

[2016-03-17 09:19] #63 closed

[2016-03-17 09:21] shanshanhsieh commented on #55
For PhD in Zurich : )

[2016-03-17 09:33] shanshanhsieh commented on #43
A quite diverse notation of variable names was found in 30% of the data. It still works like this, but it would be great to have a standad notation

[2016-03-17 09:33] #4 closed

[2016-03-17 09:45] shanshanhsieh opened #92 "Cluster building demands according to typical day behaviors"
check if that is possible

[2016-03-17 09:53] shanshanhsieh commented on #45
Split demand script output `Ealf` according to more detail usages
ex. separate lighting demand from others

[2016-03-17 09:53] #62 closed

[2016-03-17 10:02] shanshanhsieh commented on #16
Instead of using fixed value as it is currently.
Possible ideas: stochastic/ agent based modelling

[2016-03-17 10:02] #61 closed

[2016-03-17 10:05] shanshanhsieh opened #93 "Fixed mass flow rate inside the heat exchanger"
Mass flow rate inside the heat exchanger at building substation is currently fixed (mcpa=mcp_1.1), feasible pressure range and pips size inside heat exchanger are not considered.
This belongs to *_`EDMFunction.calc_sewagetemperature`**

[2016-03-17 10:08] shanshanhsieh opened #94 "Check if code in 'calc_sewagetemperature' match CEA paper"
check if this python code in **`EDMFunction.calc_sewagetemperature`** is the same one as described in CEA paper

[2016-03-17 10:12] shanshanhsieh opened #95 "Check other models for sewage calculation"
ex. TEMPEST from eawag

This belongs to the script **`EDMFunction.calc_sewagetemperature`**

[2016-03-17 10:15] shanshanhsieh opened #96 "Find other ways to optimize network without using ArcGIS interface"
### **MST-Network.py**

[code]

[2016-03-17 10:16] shanshanhsieh opened #97 "Extract functions that are still useful in ESMFunctions.py"
### **ESMFunctions.py**

[2016-03-18 03:11] JIMENOFONSECA opened #98 "Read shapefiles with python library instead of ArcPy,"
Pyhton has new libraries to read Shapefles (e.g., pyshp etc.) and transform the input directly into a dataframe. This could cut the vast amount of lines needed with the ArcPy reader. It also will help to be less dependent on ArcGIS in the future. @daren-thomas could b this an option to fix for milestone 1? I saw you were working a related topic: "refactored row indexing to field_lookup

[2016-03-18 08:14] JIMENOFONSECA opened #99 "New verison properties script"
a new version will avoid the creation of excel files for existing information. (uses, geometry etc). the properties file will allow the user to generate data that he usually  does not have (shading systems, hvac systems, heated space, U values etc). In the case he has it, he can just omit the use of the tool and point at shapefiles with the information.

Using shapefiles as input instead of excel

[2016-03-18 09:27] daren-thomas commented on #98
yes it could. i have read shapefiles in python before (oh no! i had to
write my own library then, but that was before i started at this chair) and
don't see much problems either way. sure, we can check out the new
libraries and use them. this should also speed up the scripts, i think, as
we don't have to start arcgis in the background. i'm all for it!

On Fri, Mar 18, 2016 at 4:11 AM, JIMENOFONSEC

[2016-03-18 10:01] JIMENOFONSECA commented on #98
Great!
I will propose a library as i am necessarly working with them while fixing issues in the properties file. #99

Sent on the road

[2016-03-21 07:24] gabriel-happle commented on #16
Ideas:
(1) Infiltration (and summer comfort) according to EN 15242:2007
(2) Infiltration analog to DOMVENT3D (http://bse.sagepub.com/content/35/4/408.full.pdf+html)

[2016-03-21 08:16] gabriel-happle commented on #30
Idea:
(1) According to DIN EN ISO 13792

[2016-03-21 08:31] JIMENOFONSECA commented on #7
From experience in the 3for2 project, the moisture content capacitance of furniture and equipment might play a major role in the profile of hourly cooling requirements. way around it is to opt for a lumped capacitance for moisture content in the model. the value should be calibrated  with measured data and then keep it as a standard for simulation. A more detailed way will be to model materials in

[2016-03-21 08:35] 3for2 commented on #77
Idea?: In 3for2, we started trying to develop surrogate/meta-models of entire ventilation units (e.g., 3for2 outdoor air unit, which includes rotary wheels, coils, etc.). The benefit of the metamodel was that it would provide a super fast way of modelling a complex thermosystem with basic inputs and outputs. The main methodology we looked at was support vector regression (SVR). If there is any app

[2016-03-21 09:00] 3for2 opened #100 "Experience from simulation+modelling of building energy demand in Singapore"
From 3for2 and related studies in the last 2 years... here is my take on important and less important calibration parameters we've found for the accurate determination of total and peak energy consumption of 3for2 and similar spaces...

Highly important: Infiltration, Thermal and moisture capacitances, Shading (definitely don't overlook this, especially at early morning/evening due to adjacent str

[2016-03-21 09:23] 3for2 commented on #16
Highly advocate a detailed study / model development on this - and with a focus on handling this parameter probabilistically... Some examples: the 3for2 area infiltration is about 0.03 ACH overnight, and negative (e.g., we exfiltrate) during operational hours. Exfiltration is attributed to the creation of positive indoor pressure, which central air handling systems with fresh-air provision strive

[2016-03-22 01:55] gabriel-happle commented on #100
Regarding moisture:

**ISO 13791:2012(E)** - **5 Determination of internal humidity**
...
"Annex K provides a general overview of the calculation method for internal humidity, which is similar to that of internal air temperature (see 4.2.1). Annex K describes the calculation considering only the influx and outflux of moisture due to internal moisture production and ventilation, on the assumption t

[2016-03-22 01:58] JIMENOFONSECA opened #101 "Update installation manual for Geopandas"
issue #99 opened this issue. The process is described in: http://geoffboeing.com/2014/09/using-geopandas-windows/ @daren-thomas we might need to update it for the next milestone.

[2016-03-22 01:59] JIMENOFONSECA opened #102 "Update Class properties Tool"
issue #99 opened this issue. It requires that the front end of ArcGIS be updated for the new properties tool. @daren-thomas we might need to update it for the next milestone.

[2016-03-22 02:05] JIMENOFONSECA commented on #41
done! committed in branch i044....

[2016-03-22 02:05] #41 closed

[2016-03-22 02:34] 3for2 commented on #100
The assumption that walls and other internals items do note absorb and desorb moisture is rubbish. I have a view about the relevancy of the CEN-ISO standards for the tropics.. but I'll leave that for another day. This study by US NREL should be quite useful. It shows the sensitivity of indoor humidity prediction to the type of moisture capacitance model used, and proposes solutions for transient s

[2016-03-22 09:10] gabriel-happle commented on #30
This issue will also be attacked in #16

[2016-03-23 01:30] #99 closed

[2016-03-23 01:32] JIMENOFONSECA commented on #74
pax/m2

[2016-03-23 01:32] #74 closed

[2016-03-23 01:36] JIMENOFONSECA commented on #38
Solution is implicit in #103

[2016-03-23 01:36] #38 closed

[2016-03-23 01:42] JIMENOFONSECA commented on #18
equivalentlength is not used in the CEA tool. it is part of the research framework and old scripts.
it was erased and pulled in issue #104

[2016-03-23 01:42] #18 closed

[2016-03-23 01:44] JIMENOFONSECA commented on #22
it addresses issue #99 and it is solved with the pull request of #103

[2016-03-23 01:44] #22 closed

[2016-03-23 01:45] JIMENOFONSECA commented on #19
it addresses issue #99 and it is solved with the pull request of #103

[2016-03-23 01:45] #19 closed

[2016-03-23 01:50] JIMENOFONSECA commented on #17
solved in #105

[2016-03-23 01:50] #17 closed

[2016-03-23 01:56] JIMENOFONSECA commented on #42
done in the documentation in schedules.md

[2016-03-23 01:56] #42 closed

[2016-03-23 02:02] JIMENOFONSECA commented on #72
* `PFloor`: `float`, $$[-]$$, ratio of `Floor_ag` with a closed envelope
  * **NOTE:** This counts for cases when there is a parking area in  the building. the area is usually not heated/cooled and does not have external walls.

[2016-03-23 02:02] #72 closed

[2016-03-23 02:07] JIMENOFONSECA commented on #25
m3/min corrected in gitbook glovars.md

[2016-03-23 02:07] #25 closed

[2016-03-23 08:49] JIMENOFONSECA opened #107 "Atot shoudl consider real building shape"
Fixed for now. a new version of CEA should account for the real area of the building ( no cuboid). it comes back from issue #106

[2016-03-23 08:54] JIMENOFONSECA commented on #46
no need of a norm, it is calculated as 1 i if the supply system is not able to supply enough energy to heat the space. This can happen especially in buildings with floor heating. this issue will be changed to "create indoor comfort model" as the model should be complemented with humidity.

[2016-03-23 09:10] JIMENOFONSECA commented on #23
translated into issue #107

[2016-03-23 09:10] #23 closed

[2016-03-23 15:43] amraladdin opened #108 "How to create geopandas?"
Put a description in the installation guide.

[2016-03-31 08:51] daren-thomas commented on #37
working on this in the i37 branch...

[2016-03-31 09:26] daren-thomas commented on #37
oh dear... the tools are broken since #99!

[2016-03-31 09:34] JIMENOFONSECA commented on #37
This issue was addressed in issue #102  after properties tool was modified in issue #99

[2016-03-31 10:51] daren-thomas commented on #37
Right. I found the issue and assigned it to myself.

**Philosophy discussion:**

I think this should have been part of #99, as otherwise #99 breaks the
tool, right? so each time an issue is resolved, the whole project must be
left in a state where it still works.

On Thu, Mar 31, 2016 at 11:34 AM, JIMENOFONSECA <notifications@github.com>
wrote:

[2016-03-31 12:44] daren-thomas opened #109 "Document Scenario folder structure in gitbook"
We should document the folder structure used for scenarios in gitbook. The folder structure is as much an input as the files contained in the structure.

We should discuss a naming convention for files too: If we always call them `buildings_age.shp` etc., then the tools for ArcGIS can be simplified a lot (just point to the scenario folder! also, the results from the properties script would not nee

[2016-03-31 12:50] daren-thomas commented on #102
working in branch i37

[2016-03-31 13:02] daren-thomas opened #110 "Update documentation on Demand script"
1. in gitbook
2. in code (the function doc string is outdated...)

[2016-03-31 15:17] daren-thomas opened #111 "prop_RC_model in demand might be empty"
If `len(prop_RC_model.index) == 0`, then this fails to assign `df`:

[code]

This is around line 110 in demand.py on the branch i37_*

See also this error message:

![image](https://cloud.githubusercontent.com/assets/2969564/14180913/40a8b608-f765-11e5-9b5b-888b063edc38.png)

[2016-04-01 07:24] daren-thomas opened #112 "Rename column `Shape_Leng` in the radiation file"
Is there any reason why we can't call it `Shape_Length`?

Also... why the capitalization? Do we need to capitalize everything? It seems awfully baroque...

[2016-04-01 09:01] daren-thomas commented on #111
This can happen if the radiation file does not match the scenario! That is, the building names don't match up... I was using the radiation file from the Siemens Zug case with the shape files from the Hochschulquartier case...

[2016-04-01 09:02] daren-thomas opened #113 "Create a tiny reference test case"
something with just, maybe, 3 buildings, that can be run fast as a way to check if everything is still working.

Maybe have a slightly bigger one to test certain features. We could have a whole collection!

[2016-04-01 11:19] daren-thomas commented on #111
decreasing priority because bug only shows up if the wrong radiation file is used...

[2016-04-01 11:21] daren-thomas commented on #108
The installation guide on gitbook includes a description of how to install geopandas.

[2016-04-01 11:21] #108 closed

[2016-04-01 13:24] daren-thomas opened #114 "Update `lca_embodied` and `lca_operation` to use shapefiles as input"
The functions `lca_embodied` and `lca_operation` still use the `properties.xls` file as input. They need to be updated to use the shapefiles (`buildings_*.shp`) as inputs.

[2016-04-01 13:58] #102 closed

[2016-04-01 14:04] daren-thomas commented on #101
I have added an Installation manual to the gitbook. it is still a little rough but explains how to install geopandas.

[2016-04-01 14:04] #101 closed

[2016-04-01 14:07] daren-thomas opened #117 "Update `README.md` to be more standard"
This guide here is a good start to what should be in our README.md file.

http://docs.writethedocs.org/writing/beginners-guide-to-docs/

[2016-04-01 14:09] daren-thomas commented on #40
it seems this can now be closed as we do not generate `properties.xls` anymore...

[2016-04-01 14:09] #40 closed

[2016-04-01 14:19] daren-thomas commented on #1
closed as no longer relevant

[2016-04-01 14:19] #1 closed

[2016-04-01 14:46] pjayathissa opened #118 "How are the heating/cooling systems controlled?"
I was looking for the code in the `demand.py` that controls the heating/cooling control systems? Is it a simple proportional control or a PI control? If so, where can I find the code?

[2016-04-01 15:30] pjayathissa commented on #118
Also, in the ´Occupancy_COM.csv` schedule, the heating setpoint is often the same as the cooling setpoint? This would cause the model to fight against each other causing a large energy loss. Wouldn't it be better to set the cooling setpoint to something higher, such as 26C?

[2016-04-04 00:56] JIMENOFONSECA commented on #112
no way to do it as it belongs to the way ArcGIS names the geometry of the shapefile and the maximum length of characters in a .dbf file

[2016-04-04 00:56] #112 closed

[2016-04-04 00:58] JIMENOFONSECA commented on #98
found Geopandas. included in next versions

[2016-04-04 00:58] #98 closed

[2016-04-04 01:02] JIMENOFONSECA commented on #109
Great Idea, I will make a structure in the test folder to follow, ditching 102... we will need extra space to upload the radiation file see issue #119

[2016-04-04 01:04] JIMENOFONSECA opened #119 "Get license for Github"
We need space to upload radiation file and one file I'm working on Schedule_maker (>200mb) in Github. @daren-thomas  would you mind buying a license for GitHub at least temporally? until July perhaps?

[2016-04-04 05:30] JIMENOFONSECA commented on #50
The standard is EN 15316 @daren-thomas

[2016-04-04 05:50] JIMENOFONSECA commented on #49
#24 refers the same issue, I will close #24

[2016-04-04 05:50] #24 closed

[2016-04-04 05:55] #50 closed

[2016-04-04 08:15] daren-thomas commented on #50
did you update the documentation?

On Monday, 4 April 2016, JIMENOFONSECA <notifications@github.com> wrote:

[2016-04-04 08:58] #26 closed

[2016-04-04 08:58] #44 closed

[2016-04-04 08:58] #48 closed

[2016-04-04 09:22] JIMENOFONSECA opened #121 "Define users and credentials, based on these documentation"
@daren-thomas and @amraladdin  based on the matsim case study and your experience let's define levels of users, sandbox folders and levels of credentials. Here is the example of Matsim:

1. Users and credentials:

- MatSim counts with 4 types of users and a board of directors, each one belonging to one level of rights. This allows to have certain selection at the moment of expanding the tool. Also

[2016-04-04 09:23] JIMENOFONSECA commented on #121
let me know you opinion and we start distributing issues in relation

[2016-04-04 11:16] amraladdin commented on #121
Sounds good for me! So does this mean I'm a level 2 contributor? :+1:
Why did you write everything twice?

[2016-04-04 12:40] daren-thomas commented on #121
So, the "Sandbox" and "Contributions" folder is not necessary: Basically,
this is solved by the GitHub fork/branch and pull request workflow.

I like the idea of adding structure.

I'm not so sure what you meen by "highly graphic and intuitive" for the
user manual...

On Mon, Apr 4, 2016 at 1:16 PM, Amr Elesawy <notifications@github.com>
wrote:

[2016-04-05 03:00] JIMENOFONSECA commented on #121
I see the sandbox as a collection of scripts anyone can see and play with. For instance i create a new radiation model and start working with it there. Somebody online sees it and wants to give me a hand or use parts of the code. I can decide weather create a pull request or not.

[2016-04-05 03:02] JIMENOFONSECA commented on #121
The nice thing about a contribution folder is that we can organize people who contribute and their contributions before integrating into the Core. It will be easier to check and control later on than digging in each single branch done in let's say next 20 years of the tool?.

[2016-04-05 03:03] JIMENOFONSECA commented on #121
"highly graphic and intuitive": with graphs. a good and clear design that can be digested easily and makes anyone wants to read it. We need to provide a good image speially to the general public if we want the tool becomes widespread.

[2016-04-05 03:06] JIMENOFONSECA commented on #121
Yes @amraladdin your will be level 2. Sorry github wrote it twice

[2016-04-05 08:06] amraladdin opened #122 "Error generating PROPERTIES - new CEA version"
There seems to be a problem when I try to run the PROPERTIES on the CEA.
I get the following error:
------------------------------------------------------------------------------------------------

Executing: PropertiesTool C:\Users\aelesawy\Documents\GitHub\CEAforArcGIS\test\reference-case\feature-classes\building_age.shp C:\Users\aelesawy\Documents\GitHub\CEAforArcGIS\test\reference-case\feature

[2016-04-05 08:09] amraladdin commented on #118
I agree PJ, the there should be a difference between the heating and cooling setpoints.
I'm working on another issue that also has to do with this point. I'll update you with the progress.

[2016-04-05 08:40] amraladdin opened #123 "Update Installation Guide"
Make it more user friendly

[2016-04-05 08:54] amraladdin opened #124 "Create a complete Reference case for SBE16"
We need to have a complete reference case to use for the SBE16 conference. The current test file does not have the buildings in 3D. Jimeno, could you compile a reference case, call it SBE16 and upload it to the server?

[2016-04-05 09:43] daren-thomas commented on #122
bug went away magically after reinstalling. must have been a configuration issue.

[2016-04-05 09:43] #122 closed

[2016-04-05 09:50] daren-thomas commented on #121
OK. I think I don't really understand what you mean. Jimeno, do you mind creating a chapter in the Dev documentation describing the above in more detail? Then maybe I can understand how what you are proposing is different/better to the pull/merge workflow.

As to the credits: Anyone who works on a branch and commits will automatically become part of the changelog. We should apply credits at pull/m

[2016-04-05 09:57] daren-thomas commented on #109
Wrote Arno an email requesting funds. Waiting for answer.

[2016-04-05 13:36] JIMENOFONSECA commented on #121
Perfect i will create ground rules. and include it in the documentation. after finished would you @daren-thomas create the folder structure and change the credentials of any participant?

The ground rules will include the way we will assign issues to people. i think we need some clarity on that too. I suggest we first mention the issue, describe it thoroughly and then propose somebody to solve it.

[2016-04-05 13:37] JIMENOFONSECA opened #125 "Create "ground rules" in Gitbook"
In relation to conversation in issue #121

[2016-04-05 13:47] JIMENOFONSECA commented on #118
No interference as the program considers heating only during winter season. no cooling is allowed during winter as well as no heating is allowed during summer. For the case study of zurich and Zug these set points where the same for commercial units. For other occupancies these set points might change. you can in principle make your schedule and run the program changing setpoints.

[2016-04-07 04:18] gabriel-happle opened #126 "Include some kind of envelope air permeability / air tightness /... in the archetypes database"
To improve the #16 infiltration model, some kind of envelope air tightness value has to be included on the building level.

[2016-04-07 04:21] gabriel-happle opened #127 "Include wind direction in the meteo input"
The wind direction is related to infiltration #16 and ventilation #30, but might also be needed for thermal outdoor comfort considerations later on.

[2016-04-08 01:44] JIMENOFONSECA opened #128 "Take down sensible data"
About the documentation and reference case study currently available online in Github or Gitbook:
- the test/reference-case should be taken down now. The case study could have data (terrain and geometry) that cannot be published by any means. There is no way to make an artificial dataset at this moment. I will suggest to Create a dropbox or another repository (private) where we share the reference

[2016-04-08 01:45] JIMENOFONSECA commented on #128
This will take effect on the 08.04.16 if not any other comment @amraladdin @gabriel-happle @shanshanhsieh

[2016-04-08 07:07] JIMENOFONSECA commented on #128
Done, we will share it. Please copy the reference-case to your C:\ when using it in that sense I can make sure that everytime you open ArcGIS the maps and layers correspond to the folder structure in C:\

[2016-04-08 07:08] JIMENOFONSECA opened #130 "Create fixed folder structure for case studies and share"
The folder structure responds to Issue

[2016-04-08 07:09] JIMENOFONSECA commented on #123
done! check on gitbook.

[2016-04-08 07:09] #123 closed

[2016-04-08 07:11] #128 closed

[2016-04-08 08:00] daren-thomas commented on #128
where is the reference-case?

On Fri, Apr 8, 2016 at 9:11 AM, JIMENOFONSECA <notifications@github.com>
wrote:

[2016-04-11 07:03] JIMENOFONSECA commented on #130
Created and shared via google drive @daren-thomas @amraladdin please comment if it is ok to close the issue.

[2016-04-11 07:05] JIMENOFONSECA commented on #121
done in the documentation, please check.

[2016-04-11 07:05] #121 closed

[2016-04-11 07:25] JIMENOFONSECA commented on #125
done @daren-thomas @gabriel-happle @shanshanhsieh @shizhongming @amraladdin  please check "development team"

[2016-04-11 07:25] #125 closed

[2016-04-11 08:33] #109 closed

[2016-04-11 08:33] #124 closed

[2016-04-11 08:33] #130 closed

[2016-04-11 09:01] daren-thomas opened #134 "Translate referencecase/infrastructure.xls to English"
It is currently in german.

Also, check that the code doesn't depend on the german labels.

[2016-04-11 09:05] daren-thomas opened #135 "Update toolbox.py with new reference-case folder structure"
User only needs to input folder name of scenario - all other files can be found from there...

[2016-04-11 11:59] daren-thomas commented on #119
I have the green light from Arno to do this. Do we want to keep the reference case in a private repository? As opposed to the Google Drive? I like the idea a lot!

[2016-04-11 12:03] daren-thomas commented on #81
@JIMENOFONSECA: can we move this to the next milestone? getting the CEA installed for the workshop is hard enough as it is...

[2016-04-11 12:04] daren-thomas commented on #37
ok. extracted to `toolbox.py`.

[2016-04-11 12:04] #37 closed

[2016-04-11 12:16] daren-thomas commented on #39
ok. since we are now writing back to shapefiles, we can close this issue.

[2016-04-11 12:16] #39 closed

[2016-04-11 14:58] daren-thomas opened #136 "Do we need multiple radiation files per scenario?"
This has to do with the reference-case folder structure: I'm working on an `InputLocator` class that can do stuff like:

[code]

This breaks down because we have multiple radiation files... which file to return for `locator.get_radiation()`?

Now... before I come up with something clever... does a scenario have to have more than one radiation file? is a scenario bound to a specific point in time (

[2016-04-12 01:53] JIMENOFONSECA commented on #136
Good point. There should be only one radiation file per scenario. An scenario should be one point in time with certain boundary conditions under it. The radiation file is an output of an script. I am gonna upload the radiation script we have now in a new issue. we probably will needed for the next milestone

[2016-04-12 01:56] JIMENOFONSECA opened #137 "Create radiation script"
From the old work on the CEA, we will create a script to calculate vertical isolation in building surfaces using ArcGIS. this script will be replaced by the work of Neitel paul in late september. By the time being we need it now. i will create the script @daren-thomas could you create the ArcGIS interface?

[2016-04-12 03:25] JIMENOFONSECA commented on #81
totally! for the next milestone

[2016-04-12 03:28] JIMENOFONSECA commented on #119
Yep, the only thing is that nobody should upload results files. It gets a mess if there is a conflict. Last conflict for instance made me add/remove to master close to 120 files. It takes ages. Maybe we write a small rule or something?

[2016-04-12 03:39] JIMENOFONSECA opened #138 "Standard to create documentation and comment every script"
I was wonder if we could elaborate a good example of how to comment a script and elaborate documentation for it. @shanshanhsieh maybe you can give it a try to create a template. @daren-thomas could we also look for automated ways to do it?. I head from Sergio that java has something called java docs. it basically reads the code and extracts all the comments into an organized and structured way.

@

[2016-04-12 03:58] shanshanhsieh commented on #138
got it, I will make documentation in my current contribution (i056), and derived a template from it.

[2016-04-12 03:59] gabriel-happle opened #139 "Fix paths for test_properties in properties.py"
Fix path to test files in test_properties to new location of reference case on C:\... drive

[2016-04-12 07:51] daren-thomas commented on #136
OK. Let us call it `radiation.csv`.

[2016-04-12 07:51] #136 closed

[2016-04-12 09:36] pjayathissa commented on #118
I guess this would work if you limit the application of your software to Switzerland. If I run a weather file from Wellington (New Zealand) which has inversed seasons, then we would have problems. It would therefore be better to have max and min temperature set points with proportial intergral (PI) Control. You can use my [PID_Controller](https://github.com/architecture-building-systems/RC_Buildin

[2016-04-12 11:22] daren-thomas commented on #136
also, the same goes for the weather files. can we call the (single) weather file:

- `weather_hourly.csv`
- `weather_daily.csv`

[2016-04-13 01:34] JIMENOFONSECA commented on #136
yes let's do that. could you create the private repository for the case studies? I will make a baseline scenario and a baseline scenario+2030 weather data making the above mentioned conventions

[2016-04-13 06:36] JIMENOFONSECA commented on #134
done, where should I put it?

[2016-04-13 08:16] daren-thomas opened #141 "Tidy up `CalcThermalLoads`"
The function `CalcThermalLoads` has some code smells... These are some things that should be fixed:
- the name should comply to PEP8 (suggestion: `calc_thermal_loads`)
- the parameter list needs to be shortend -strategies from Martin Fowlers _Refactoring_:
  - _Replace Parameter with Method_ (like the `InputLocator`)
  - _Introduce Parameter Object_ (create a class to encapsulate the data needed)

[2016-04-13 08:21] daren-thomas commented on #134
huh... i guess it is time to get #119 up and running, right?

where do you currently keep the reference case? put it there. I'll contact you when I have the reference-case repo up and running...

[2016-04-13 08:22] daren-thomas commented on #136
I will do this today!
Creating the repo is easy. I will order the GitHub LFS thing. You will need to install an extension on your computer to use it. This will allow you to push large files to github and download them as well. I'll contact you as soon as this is done!

[2016-04-13 08:25] daren-thomas commented on #118
I guess having a controller plugin architecture will be the way to go in the end, right?

[2016-04-13 08:26] shanshanhsieh opened #142 "Fix paths to reference case location to test run demand.py"
in order to test_demand

[2016-04-13 08:31] daren-thomas commented on #138
Here is a link to the documentation guide for python: https://docs.python.org/devguide/documenting.html

This is for the core python and standard libraries. Following these rules will make it easy to use Sphynx (like javadoc) to generate documentation automatically.

Also check the PyCharm Documenting Source Code page: https://www.jetbrains.com/help/pycharm/2016.1/documenting-source-code-in-pychar

[2016-04-13 08:33] daren-thomas commented on #142
what is `location_demand.py`? What is the new reference case?

I don't understand what this issue is about. Also, "Fixed" in past tense suggests it has already happened, but I think you want to fix it?

[2016-04-13 08:35] daren-thomas commented on #137
sure, can! Assign the task to me as soon as the script is done...

[2016-04-13 08:35] shanshanhsieh commented on #142
the paths in text_demand() is not pointing to the folder where we are storing the current reference case now, so i would like to modify it.

[2016-04-13 08:50] #139 closed

[2016-04-13 10:10] daren-thomas commented on #119
@JIMENOFONSECA I have bought Git LFS - find instructions to install it here: https://help.github.com/articles/installing-git-large-file-storage/

We can now upload bigger files to GitHub! Yay!

Also, I have created a reference case repository (cea-reference-case)

[2016-04-13 10:12] #119 closed

[2016-04-13 10:19] amraladdin commented on #118
Yes, I agree with PJ on this matter.

[2016-04-14 06:35] daren-thomas opened #144 "add pull merge discussion from #143 to dev docs"

[2016-04-14 09:35] #127 closed

[2016-04-15 06:47] gabriel-happle opened #146 "Write a function to automatically place windows on building envelope"
Windows are automatically placed on the building envelope according to window-wall-ratio and number of floors above ground.
Properties of the windows include:
- Orientation of window (deg)
- Height of window above ground (m) or above floor height
- Area of window (m2)

This issue is linked to #16 and #30 and prerequisite for the new ventilation model according to EN 16798

[2016-04-15 08:36] daren-thomas commented on #146
don't forget to document how the orientation works. i have seen different schemes (based of true north, based of project north, based of east (?) etc.) - at some point some poor guy is going to have to take such a building description and create an EnergyPlus model from it programatically (happens all the time, I swear!) and will then need this information...

[2016-04-15 09:45] daren-thomas commented on #114
@JIMENOFONSECA are you still working on this?

[2016-04-15 09:49] daren-thomas commented on #114
ok, I see you are doing this in the i114-update-scripts branch. i'm merging/testing right now and then will get on with lyf.

[2016-04-15 11:48] daren-thomas opened #147 "Refactor embodied.py `for archetype in list_of_archetypes`"
This is ugly: sure, a for-loop is cool, but then using a counter to figure out what archetype we are calculating reverses the benefit.

Suggestion: _extract-method_

[2016-04-18 01:43] JIMENOFONSECA commented on #137
done :-)

[2016-04-18 03:06] JIMENOFONSECA commented on #8
Just checking...is there anything i can help with?

[2016-04-18 06:49] amraladdin commented on #8
Heating and cooling setpoint temperatures

1. In the CEA tool, heating and cooling periods are defined by a seasonal schedule
Pros---	 ease of calculation
Cons---	 Less flexibility, and inaccuracy in demand prediction.

2. Other possible control methods, (used in TRNLizard and Design Builder) are:
	Based on indoor air or operative temperatures
	Example:	If indoor air/op temp < 20 C/68 F, activate

[2016-04-18 08:40] JIMENOFONSECA commented on #8
2. might be equally or even more inaccurate than 1. reason: not all type of buildings have the same set-point temperature and occupancy periods. These periods change during the year. The CEA offers set-points per type of building and schedule in a weekly basis adjusted to monthly occupancy.

Probably we would like to take a look to PID controller or any other controller instead as #118 suggested

[2016-04-18 10:00] amraladdin commented on #8
Do you mean point 2. or 3. could be as inaccurate as 1?

[2016-04-18 21:49] pjayathissa commented on #8
Hi Amr

In my code I take point (2) but also integrate a PID controller so its not ON/OFF heating, and also take occupancy into account. In Sudo-Python code the heating control would look like this

[code]

[2016-04-19 11:19] #142 closed

[2016-04-20 07:20] JIMENOFONSECA commented on #134
up in the repo

[2016-04-20 07:20] #134 closed

[2016-04-20 07:23] JIMENOFONSECA commented on #14
This is part of the documentation. it will be closed to avoid repetition

[2016-04-20 07:23] #14 closed

[2016-04-22 07:44] JIMENOFONSECA opened #154 "Add latest version of energy systems models included in the CEA"
![picture1](https://cloud.githubusercontent.com/assets/8973186/14735022/0c41e810-08a1-11e6-9d09-5c0dc7e62e0c.png)

[2016-04-25 01:51] #114 closed

[2016-04-25 01:54] #27 closed

[2016-04-25 03:52] JIMENOFONSECA opened #156 "Create 2000-Watt Society graphs automatically"

[2016-04-25 04:06] JIMENOFONSECA opened #157 "Fix Graphs file to select four energy services"

[2016-04-25 09:53] JIMENOFONSECA commented on #157
@daren-thomas would you give me a hand with the interface after merging #158 ?

[2016-04-25 09:56] JIMENOFONSECA opened #159 "Create Archetypes Values for Controller types"
@shanshanhsieh i will create the Input excel datafile and shapefile to refer to. It includes temperatures of operation of emission systems. Then i will pass it to you.

[2016-04-25 10:32] daren-thomas commented on #157
i'm still trying to merge #155 ... but yeah: sure! (i'll look into #158 next!)

[2016-04-25 13:14] daren-thomas opened #161 "Refactor `Calc_Rf_sh` to use a dictionary"
Seriously? We create a `DataFrame` and then loop through it to find the row matching `ShadingType` and then return the value?

Code should be this:

[code]

And then refactor function name to `calc_Rf_sh` (maybe) and `ShadingType` to `shading_type`

[2016-04-26 02:16] #6 closed

[2016-04-26 07:36] JIMENOFONSECA commented on #159
@shanshanhsieh the work is in branch i159

[2016-04-26 08:29] shanshanhsieh commented on #56
merged via pull request #160

[2016-04-26 08:29] #56 closed

[2016-04-26 08:33] JIMENOFONSECA opened #163 "Fix heatmap for new input shapefiles"

[2016-04-27 07:42] shanshanhsieh commented on #138
hey @daren-thomas, maybe you could give me a hand on this issue.
as I understand, currently, we are sort of using ReStructured Text format in our codes, which has the possibility to generate documentation in HTML/PDF via Sphinx tool integrated in Pycharm.

This leads me to two questions:
1. Do we want replace gitbook with documentation generated from this workflow (via Sphinx tool)? Seems like the

[2016-04-27 09:46] daren-thomas commented on #138
hey @shanshanhsieh, to answer your questions:

1. No. This should not replace the documentation, but rather augment it: The generated documentation is more of an API documentation. We can maybe add it as a chapter to the gitbook documentation. On gitbook, we are also documenting team stuff and other things that don't fit into file headers / function docstrings.

2. I will look into the "Running Sp

[2016-04-27 10:00] JIMENOFONSECA opened #164 "Architecture for CEA"
The CEA is missing a clear structure to allocate functions, classes and create a controller to put everything together. This needs some research but needs to be implemented asap so the DEV team can more easily contribute

Hi @daren-thomas i believe we can discuss this here. Could you take care of this issue?

[2016-04-27 10:12] daren-thomas commented on #164
Yes. I agree. This is a good place to do the discussion. I am thinking along the lines of having an object called `ModelRepository` that gets passed to the scripts that contains implementations of the models. To do this, we would have to refactor the scripts. Start with `demand.py`: extract the separate models from the "driver" script and describe the inputs and outputs. Add these to a default `Mo

[2016-04-28 07:39] daren-thomas opened #165 "Sandbox and Contributions "bleeding" into pull requests"

[2016-04-29 02:29] JIMENOFONSECA opened #166 "# fix interface for new heatmaps module"
This is the result from solving issue #163
After merging the pull request #167  @daren-thomas would you add it to your list? merci

# COMMENTS FOR THE INTERFACE
## USER SIDE:
-  the user should select a scenario
- then select from a `fixed_list` a file he would like to map.
  - `fixed_list` = `list(get_total_demand(self), all files in results/emissions)`

## PYTHON SIDE
- return the pointer to the

[2016-04-29 05:42] JIMENOFONSECA commented on #111
@daren-thomas should this be closed?

[2016-04-29 07:55] daren-thomas commented on #111
@JIMENOFONSECA, no. It is a bug. Low priority, but good to know you have a bug. I can fix it when I have time. The fix is cheep: just throw an error that explains what happened and where the error might be instead of the confusing one I originally got and had to go looking...

[2016-05-02 10:06] daren-thomas commented on #166
I've cleaned up the issue a bit. It is not really described clearly so I am going to have to guess what you mean. Also, for user interface, we should in the future specify what text to show. Again, I'm going to have to guess some stuff.

[2016-05-02 10:36] daren-thomas commented on #166
Interpreting "all files in results/emissions" as `scenario/2-results/3-emissions/1-timeseries/*.csv`.
the folder can be found in `inputlocator`: `get_lca_emissions_results_folder()`.

[2016-05-02 12:07] martin-mosteiro opened #169 "ValueError: 'te' is not in list (on clean installation)"
First ran properties script,
next ran demand script.

error:
[code]

[2016-05-02 12:18] daren-thomas commented on #169
this turned out to be a problem with git-lfs: @martin-mosteiro had not installed git-lfs. He didn't install it, because we did not tell him to do so in the dev manual installation guide. @martin-mosteiro is going to update the guide to fix this.

after installation of git-lfs, re-clone the reference-case, voilà! problem solved!

(this issue will stay open until the dev manual installation guide ha

[2016-05-02 13:41] amraladdin commented on #8
![image](https://cloud.githubusercontent.com/assets/16256867/14955690/05f9406a-107c-11e6-858a-756927689c77.png)
![image](https://cloud.githubusercontent.com/assets/16256867/14955693/0e456898-107c-11e6-8aee-7e350bd784f3.png)
![image](https://cloud.githubusercontent.com/assets/16256867/14955697/143a1028-107c-11e6-9c5f-eeec162439fb.png)
![image](https://cloud.githubusercontent.com/assets/16256867/149

[2016-05-02 13:42] amraladdin commented on #8
[PID Choice_GitHub.docx](https://github.com/architecture-building-systems/CEAforArcGIS/files/245161/PID.Choice_GitHub.docx)

[2016-05-02 13:52] daren-thomas commented on #166
Problems with emissions-files as inputs: field names longer than 10...

[2016-05-02 14:56] daren-thomas commented on #166
see pull request #170 for implementation of this feature

[2016-05-03 08:50] gabriel-happle opened #171 "Refactor functions.CalcThermalLoads"
Refactor parts of code from CalcThermalLoads into separate small functions that can be called by alternative functions to 'CalcThermalLoads'

[2016-05-03 23:49] JIMENOFONSECA commented on #166
Correct!

Sent on the road

[2016-05-04 07:32] shanshanhsieh opened #173 "Move storagetank_mixed.py to core"
This way, functions.py will not have to import from the contribution folder.

[2016-05-04 08:21] #157 closed

[2016-05-04 08:21] #163 closed

[2016-05-04 09:00] #173 closed

[2016-05-04 12:05] daren-thomas commented on #171
this has been merged into master. thank you!

[2016-05-04 12:05] #171 closed

[2016-05-04 12:06] daren-thomas commented on #169
@martin-mosteiro: have you updated the documentation yet?

[2016-05-04 12:18] martin-mosteiro commented on #169
I did! Just added point 9 to the installation guide.

[2016-05-04 12:18] #169 closed

[2016-05-04 13:33] daren-thomas commented on #166
fixed and merged :)

[2016-05-04 13:33] #166 closed

[2016-05-04 13:36] daren-thomas commented on #164
A first "poor-mans-registry" has been implemented (i.e. "sneaked into core") in the pull request #171 - this adds a `gv.models` dictionary of functions that can be overridden before starting a simulation. The demand script uses `gv.models['calc-thermal-loads']` as the function for (you guesst it!) calculating thermal loads. This is set to be `functions.CalcThermalLoads` in the core, but can be ove

[2016-05-04 13:37] daren-thomas commented on #164
(I'm just a little worried that this could become difficult to debug?)
basically, the pattern is called *dependency injection*.

[2016-05-04 13:58] daren-thomas opened #177 "Style section of dev guide missing reference"
When we copied the style section of the dev guide (I guess from the `code-conventions.md` file?) the reference to the original document got lost.

This is not something we wrote, so we should mention our source!

[2016-05-05 01:32] JIMENOFONSECA commented on #177
Avoid assigning, rather mention. Check team conventions.

The reference you are looking at is at the bottom of the article.

[2016-05-05 03:10] shizhongming opened #178 "Create function "Technical/weather generator""
It would be nice that there are default technical (supply and emission systems) that the user can easily call for, rather than for the user to create the file himself.
Likewise, it would be nice to integrate weather data of some typical cities (Zurich, Singapore, Shanghai....)that the user can easily call for.

[2016-05-05 03:11] shizhongming commented on #178
@JIMENOFONSECA @daren-thomas

[2016-05-05 05:54] shanshanhsieh commented on #159
@JIMENOFONSECA there should actually be two control types, ex. e_ctr_c and e_ctr_h, for heating and cooling respectively, instead of one control type for both heating and cooling emission systems.
could you please add another control field? thanks

[2016-05-05 08:12] shanshanhsieh commented on #159
We will leave this issue on whether implementing separate control systems for cooling and heating emission systems in buildings until more research is done. @martin-mosteiro , would this be something you want to find out as well?

[2016-05-05 13:40] martin-mosteiro commented on #159
@shanshanhsieh absolutely!

[2016-05-06 06:40] JIMENOFONSECA commented on #177
@daren-thomas can we close this?

[2016-05-06 06:48] JIMENOFONSECA commented on #58
Issue #138 is obstructing this @shanshanhsieh @daren-thomas. Equations and systems are likely to change throughout time. A manual way to do this is not durable. A no-standard way to do these things is neither.

[2016-05-06 06:52] JIMENOFONSECA commented on #117
To avoid repetition and changes in one or the other. I suggest this readme to point to the introduction /quick start section of the manual.

[2016-05-06 06:57] daren-thomas commented on #177
yes we can!

[2016-05-06 06:58] #177 closed

[2016-05-06 06:59] JIMENOFONSECA opened #180 "Last fixes to contributors manual"
@daren-thomas i worked intensively in the contributors manual and would need your help to finish the next sections for the milestone. would you mind taking care of them?
- Quick start Team convention / Communication / Github
- Architecture
- Architecture / Code structure
- Architecture / Workflow

[2016-05-09 05:28] JIMENOFONSECA opened #181 "Schedule maker"
The idea will be to create a way to easily input schedules. Nowadays it is hard-coded.

[2016-05-09 06:37] JIMENOFONSECA opened #182 "Create plots of the 2000 Watt society benchmark"
@martin-mosteiro  i believe this could be a good way to get you started.

The idea will be to create automated graphs comparing the CO2 emissions Vs. Primary energy per building and per scenario.

Matplotlib in python can help to do the work. Refer to graphs.py for an example of how to use the library

![img_4276](https://cloud.githubusercontent.com/assets/8973186/15109790/d362fa26-160f-11e6-9c83-

[2016-05-09 10:01] JIMENOFONSECA commented on #182
This diagram can be done with the output of the Total_LCA_emissions file

[2016-05-09 14:08] daren-thomas opened #183 "Cover Art for dev-docs is ungrammatical"
"A Manual for Developer of CEA" is not English. Maybe "A Manual for Developer*s* of CEA"?

[2016-05-10 01:42] shizhongming commented on #183
Yea, I knew it is not grammatically correct. It is not necessarily a sentence. Just to emphasise the three key word "Manual", "Developer", "CEA". Anyway, I am willing to change that.

[2016-05-10 01:51] JIMENOFONSECA commented on #183
@shizhongming Please refer to Contributor instead of Developer for the future

[2016-05-10 02:22] shizhongming commented on #183
@JIMENOFONSECA  ok~

[2016-05-10 07:03] JIMENOFONSECA opened #184 "End support for PUBLIC and ICE"
Buildings under the category of public or Ice ring are barely used. The physical models of each (in special that of the ice ring) have a quite low resolution and accuracy.

It is better to implement a good model of these type of buildings as it becomes necessary. Computational time decreases with this measure.

[2016-05-10 12:01] daren-thomas opened #185 "Add "About" script to toolbox"
Include information like numpy/pandas/scipy versions, version of toolbox (?), Credits / License

[2016-05-10 12:31] daren-thomas opened #186 "Rename `__init__.py` in reference-case to `README.md`"
Or something similar (`DOC.md` or `INFO.md` or `FILES.md`) and include a description of the contents of the folder. `__init__.py` is reserved for python packages and the reference-case does not contain python code! But I love Jimeno's idea of having marker files to force the folder structure in github and this is an excellent opportunity to make the reference-case self-describing.

[2016-05-10 13:01] daren-thomas opened #187 "Add description of `gv.log` method to contributor docs"

[2016-05-11 06:44] JIMENOFONSECA opened #188 "Stochaistic Electricity profiles for Zurich case"
@martin-mosteiro  we talked about this on the phone but the issue was never open. It relates to the script of Markov chains we got from Diego. I talked to adam, who made similar model.

here is the link:
http://www.tandfonline.com/doi/abs/10.1080/19401493.2014.888595#.VzLRtMemA-I

Could you take a look and open the discussion about models in here and consider the possibility to implement it for Ju

[2016-05-11 08:19] martin-mosteiro commented on #188
Hey! Indeed, since we talked about this we switched to more or less working 100% on the test run, so I haven't looked into it any further :)
The script we got is based on this paper:
http://www.sciencedirect.com/science/article/pii/S037877880700031X
...which I started reading but haven't been able to go through yet. After the test run I'll spend more time researching this, I'm pretty sure it would

[2016-05-11 09:40] daren-thomas opened #189 "Subclass `InputLocator` for documenting interface"
Create a `LoggingInputLocator` subclass / decorator of `InputLocator` that tracks all calls to `InputLocator` and use this to gather info about what scripts use what input data. Use this class for the test methods in the scripts.

[2016-05-11 09:49] daren-thomas opened #190 "rename `weather_day.csv` to `weather_daily.csv` in reference-case"
to be consistent with `weathery_hourly.csv`

[2016-05-11 11:19] daren-thomas opened #191 "Create parallel version of `demand` script"
The `demand` script loops over each building and calls `calc-thermal-loads`. This could easily be done in parallel...

[2016-05-12 10:16] shanshanhsieh commented on #55
hey @martin-mosteiro, the "PhD in Zurich" finally arrives!
I spent sometime researching on the models, maybe it will be helpful for you. Let's arrange a time to discuss about it, and then we could hand this issue over to you.

[2016-05-13 01:01] gabriel-happle opened #192 "A function that creates full reports including intermediate results for testing new code"
A function that writes all hourly intermediate results to *.csv if a flag for "testing" is active.

[2016-05-13 08:30] daren-thomas commented on #192
@gabriel-happle, this is a good idea - you should expand on this as it is currently not possible to implement (it is still a little vague)

- which hourly intermediate results do you want to write out? (I believe the demand script actually already does do that?)
- what functions do you want to check with this?
- how would you compare results with previous versions of the software?

[2016-05-13 08:31] daren-thomas opened #193 "Benchmark the CEA with BESTEST"
See paper here: https://infoscience.epfl.ch/record/214754/files/p(139)v2.pdf

Walter, Emmanuel, and Jérôme Henri Kämpf. "A verification of CitySim results using the BESTEST and monitored consumption values." Proceedings of the 2nd Building Simulation Applications conference. No. EPFL-CONF-214754. Bozen-Bolzano University Press, 2015.

[2016-05-13 08:32] daren-thomas commented on #193
@gabriel-happle: this is the benchmark I was talking about in the last group-meeting.

[2016-05-13 09:22] gabriel-happle commented on #192
@daren-thomas
 I just did this and moved it to the contributions. I will make a pull request for my branch now. I plan to use it for now for manual comparison. A date and time tag is included in the file name, so that files are never over written

[2016-05-16 05:59] gabriel-happle commented on #84
Temperature set points of heating and cooling systems are now set to arbitrary very high or low values like 48­­°C or -22°C to represent turned 'off' status.
One way to change this would be to change these to numpy [`nan` ](http://docs.scipy.org/doc/numpy-1.10.1/reference/generated/numpy.isnan.html) or `inf`
Another way is to make two more parameters in the schedules with `True` and `False` values

[2016-05-16 06:02] gabriel-happle commented on #53
I'm going to check if there is something about that issue in ISO 13790 or SIA 2044

[2016-05-16 06:17] JIMENOFONSECA commented on #84
I am taking a look at this. we could define the operating dates of the system in a schedule and define when the setback be activated. Amir should be taking a look at this in his issues of setback temperatures

On 16 May 2016, at 1:59 pm, Gabriel Happle <notifications@github.com<mailto:notifications@github.com>> wrote:

Temperature set points of heating and cooling systems are now set to arbitrary

[2016-05-16 09:35] shanshanhsieh commented on #55
After looking into the models for thermo-active building elements with @martin-mosteiro, the issue is now transferred to him.
However, since Martin will have other tasks for M1, it might be more feasible to set the deadline to M2. What do you think, @JIMENOFONSECA ?

[2016-05-17 02:39] JIMENOFONSECA opened #196 "Put Calc_incident radiation into radiation.py"
This issue aims at increasing the performance of the demand.py script. It will move the solar function (which takes around a minute to complete) to radiation.py

[2016-05-17 08:57] JIMENOFONSECA commented on #11
so much of this!. the equations are referenced in related publications (see reference section in the code)

[2016-05-17 08:57] #11 closed

[2016-05-17 08:59] JIMENOFONSECA commented on #110
included in the code. It will be improved once a standard way to do this be found in #138

[2016-05-17 08:59] #110 closed

[2016-05-17 09:07] daren-thomas commented on #84
We could also create a function like "is-heating-system-on" that takes the date and other info (outside temperature? inside temperature?) and returns `True`/`False`.

First refactor the current work to use this. Reference the function from `gv` as with `calc-thermal-loads`.

Then, we can try out different methods. One is having a schedule like @JIMENOFONSECA says. Another could be a "smarter" appr

[2016-05-18 06:15] JIMENOFONSECA commented on #58
so much of this definitely. The information about equations can be found in the references and list of publications.

[2016-05-18 06:15] #58 closed

[2016-05-18 06:37] JIMENOFONSECA commented on #5
@daren-thomas i have it from Clayton, would you like to implement this? we will kind of needed for the work the Paul is doing in the solar radiation.

EPWColumnLabels = ['Year','Month','Day','Hour','Minute','DataSourceFlag','DryBulbTemp','DewPointTemp','RelHumidity','AtmosphericStationPressure','ETHorizRad','ETDirNormal','HorzInfraRad','GlobalHorizontal','DirectNormalRad','DiffuseHorzRad','GlobHor

[2016-05-18 09:09] JIMENOFONSECA commented on #190
@daren-thomas these files will not be used anymore when #200 is accepted

[2016-05-18 09:13] JIMENOFONSECA commented on #8
any advance?

[2016-05-18 09:15] JIMENOFONSECA commented on #138
any update?

[2016-05-18 09:21] JIMENOFONSECA commented on #84
I think that the season house should be an input of demand.py. The user should select the beginning and the end of the cooling season. which is usually given by a local policy. We should provide a default value.

Two variables will be involved:

- beginning cooling season: 15/05/2016
- end cooling season: 15/09/16

then we transform these inputs into the variables liminf and limsup that calcTherma

[2016-05-18 09:27] JIMENOFONSECA commented on #84
The new pull request #195 makes changes to this. However, @amraladdin is working on a setback control temperature procedure #8 which should solve the problem.

[2016-05-18 09:52] amraladdin commented on #8
Yeah, I thought we were supposed to discuss about what was in my last comments. Did you have time to check it out? Check the word document or what's written in the comment before.

[2016-05-18 11:11] amraladdin opened #201 "Fixing calculations for area of study"
When calculating the demand, we focus on the study area (containing 274 buildings). This also applies when calculating the operational energy.
However, when calculating the embodied energy, the analysis is conducted on the whole modeled area (containing 1482 buildings). Would it be possible to make the embodied energy calculations on the study area only as well?

[2016-05-18 11:14] amraladdin opened #202 "Problem when calculating the cooling demand"
During the test run workshop, we changed the energy supply and emissions systems for all the buildings in the area. When this happens, the cooling demand is not generated and the heat maps come out with one tint (0 values).

However, when we change the systems for some of the buildings within the area of study only, the cooling demand and heat maps are generated accordingly.

Can we take a look at

[2016-05-18 11:26] JIMENOFONSECA commented on #8
Nice info. We can then proceed to implement the the options and run comparisons.

Sent on the road

[2016-05-18 11:40] amraladdin commented on #8
Perfect!!!
Then I'll check with @daren-thomas and start implementing ASAP!

[2016-05-18 14:40] amraladdin opened #203 "Buildings age values"
Why are all the data of retrofitting set to 1969? Except for the non-retrofitted buildings.

[2016-05-18 14:50] martin-mosteiro commented on #203
Just discussed this with Anja :)

Retrofit data should be available online in the cantonal GIS atlas, but we couldn't find it. Furthermore, it appears the building data we got from the city of Zurich is missing retrofit information (the "Mutationsdatum Gebäude", which we could _interpret_ as the renovation year is set to 99999999 for pretty much all buildings). You can find the data in the server

[2016-05-19 09:06] daren-thomas opened #204 "Create reference-case with smaller zone of study"
For testing purposes this would be great: Have our reference-case, but only look at, oh, 10 buildings. That would make running the calculations a lot faster and we would test our code more often!

[2016-05-19 12:34] daren-thomas opened #205 "Create a pre-compilation step for archetypes"
Jimeno just made an optimization to the loading of the archetypes by only loading those, that are actually used. I think we can go a step further:

Develop a `ScheduleReader` object that reads in the schedules and writes them in binary form to disk - reading them back in should then be a lot quicker!
(actually, this is an extension to `schedule_maker`, which should probably have been a class, due

[2016-05-20 05:53] gabriel-happle opened #206 "Implement economizer for HVAC cooled buildings"
Free mechanical cooling at night at certain indoor and outdoor temperature conditions.

[2016-05-20 12:38] daren-thomas opened #207 "Update `gv.report_variables` for `schedule_maker`"
Changes introduced by the schedule maker branch (and solar to radiation) have made the current version of `report_variables` obsolete: not all variables exist!

The current list of missing variables is:
- `q_int`
- `Qcdataf`
- `Qcrefrif`

[2016-05-20 12:38] daren-thomas commented on #207
@gabriel-happle do you want to take a look at this?

[2016-05-20 15:05] daren-thomas commented on #204
Make sure the reference-case contains special buildings! (e.g. no conditioned floor area)

- this should be a mix of any edge cases the software has!

[2016-05-23 01:13] gabriel-happle commented on #207
Yes.

[2016-05-23 01:37] gabriel-happle opened #208 "Create a model for a ventilation heat exchanger with humidity exchange"
Heat exchangers should incorporate a humidity exchange model for the Singapore case.

[2016-05-23 01:38] gabriel-happle opened #209 "Implement comfort measurements"
Measure and report comfort levels in buildings as a function of air temperature and humidity.

[2016-05-23 07:45] gabriel-happle opened #210 "Fix path in test_solar_radiation() in radiation.py"
`test_solar_radiation():`
    ...
    `path_default_arcgisDB = r'C:\Users\JF\Documents\ArcGIS\Default.gdb'`
    ...

This path is specific to a machine.

@daren-thomas @JIMENOFONSECA:
Can it be obtained with the input locator?

[2016-05-23 08:55] amraladdin commented on #203
So @martin-mosteiro we should prepare a case where we change some of these values and check the results, how does that sound?

[2016-05-23 08:56] amraladdin commented on #202
@JIMENOFONSECA Did you have time to check this error? Who can take care of this error?

[2016-05-23 08:57] JIMENOFONSECA commented on #202
@gabriel-happle could you take a look when the new iHVAC model be ready?

[2016-05-23 08:58] amraladdin commented on #201
@JIMENOFONSECA and this one? :+1:

[2016-05-23 08:58] amraladdin commented on #202
Thanks!

[2016-05-23 09:29] JIMENOFONSECA commented on #201
I will probably split the input files to a shapefile with data about the surroundings and another file with the buildings in the area of interest. Would this make sense?. or should we keep the data for all 1440 buildings?

[2016-05-23 09:30] JIMENOFONSECA commented on #201
But, this might constrain the study of opportunities in the surroundings too.

[2016-05-23 09:38] martin-mosteiro commented on #201
Indeed, this would restrict the opportunities for studying the surroundings. However, at the moment, when analyzing the PEN and GHG (say, for example, in the 2000 W society graphs) we get about 1400 data points for embodied energy and emissions and only 274 for the area of study, such that it's a bit of an "apples and pears" comparison (or rather "apples and a lot more apples"). Maybe we could jus

[2016-05-23 09:39] JIMENOFONSECA commented on #201
True...in order to avoid other issues, I will just fix it :-)

[2016-05-23 09:42] martin-mosteiro commented on #203
Sounds good. Maybe we can even come up with some assumption about when buildings could've been renovated to present a more fancy-looking case study for the workshop.

________________________________________
Von: Amr Elesawy [notifications@github.com]
Gesendet: Montag, 23. Mai 2016 10:55
An: architecture-building-systems/CEAforArcGIS
Cc: Mosteiro Romero  Martin; Mention
Betreff: Re: [architecture-

[2016-05-23 09:53] JIMENOFONSECA commented on #182
@martin-mosteiro maybe we could enable the selection of a list of scenarios from Arcgis? this is done with the heatmaps.py script. coudl we then enable the script to receive a list with the location of different scenatios (it could be also one). listscenarios = [locatorA, locatorB etc..) and make the graphs?

[2016-05-23 10:00] martin-mosteiro commented on #182
Certainly. I do think choosing only two scenarios is quite restrictive and I think your proposal is a good way to expand the possibilities. Should I take care of that?

________________________________________
Von: JIMENOFONSECA [notifications@github.com]
Gesendet: Montag, 23. Mai 2016 11:53
An: architecture-building-systems/CEAforArcGIS
Cc: Mosteiro Romero  Martin; Mention
Betreff: Re: [architect

[2016-05-23 10:03] JIMENOFONSECA commented on #182
yep :-). @daren-thomas coudl do the magic with the interface to let the user select from one to n scenarios.

[2016-05-23 11:14] amraladdin commented on #201
Great!

[2016-05-23 11:15] amraladdin commented on #203
That's exactly what I had in mind. Let's talk about this Wednesday morning (tomorrow I have a teaching course to attend)?

[2016-05-24 10:05] JIMENOFONSECA commented on #182
<img width="585" alt="screen shot 2016-05-24 at 6 01 12 pm" src="https://cloud.githubusercontent.com/assets/8973186/15500150/0ccbbc32-21da-11e6-8c1b-b63e7b052c25.png">

[2016-05-24 10:09] JIMENOFONSECA commented on #182
This is basically what we are pointing out to have. If we can not achieve it with matplotlib, we might do the next:
1. Create a template of the graph in an excel worksheet A and put it in our DB.
2. Make A dependent on a worksheet B with all the data points.
3. Make a script in python that puts the data we need to plot into B.
4. Make a script in python that prints out A once the data is in B.

Ex

[2016-05-24 10:10] JIMENOFONSECA commented on #182
Maybe we can look up nicer graphs in python?

[2016-05-24 10:37] martin-mosteiro commented on #182
I think making graphs like these with Python wouldn’t be a problem at all - we can then see if it looks okay or if it’s not aesthetically pleasing enough :)

One caveat, though: SIA 2040 provides 2000 W society target values for the following building types: Residential, Office, and Schools (i.e., no general values for all building types). What we did during the test run was to generate graphs for

[2016-05-25 03:02] JIMENOFONSECA commented on #182
So i talked to clayton and we see there are three options to improve the graphics and analytics of the CEA tool considerably:

1. there is the plotly library in python https://plot.ly/~cparmer2/489/state-2-vs-state-1/
2. there is the seabborn library in python https://web.stanford.edu/~mwaskom/software/seaborn/
3. there is D3 in Jva script. https://github.com/d3/d3/wiki/Gallery

Plotly is free as

[2016-05-25 04:16] #49 closed

[2016-05-25 04:16] #178 closed

[2016-05-25 04:16] #181 closed

[2016-05-25 04:16] #184 closed

[2016-05-25 04:16] #196 closed

[2016-05-25 05:45] JIMENOFONSECA opened #214 "Tree organizational script structure for CEA"
![capture](https://cloud.githubusercontent.com/assets/8973186/15529287/dfea069c-227e-11e6-959a-3a08ead544a1.PNG)

[2016-05-25 05:48] JIMENOFONSECA commented on #214
One thing we discussed sometime ago is the idea of making a folder structure for the current and future scripts of the CEA tool. We should definitely do this for the next release (even if we do not have the supply and optimization side ready) as it will help to show users to keep track of future releases.

I included an example of how other toolboxes are organized in ArcGis.

[2016-05-25 05:50] JIMENOFONSECA commented on #214
This is how i can see the tree taking place for the cea tool: @architecture-building-systems/cea  Please feel free to comment and change until next friday 27.05.2016.

[2016-05-25 06:02] JIMENOFONSECA commented on #214
1 - CEA
1.1. DEMAND MODEL
1.1.1. SIMPLE DYNAMIC
1.2. RESOURCE POTENTIAL
1.2.1 SOLAR
1.2.3 AMBIENT HEAT
1.2.4 WIND
1.2.5 WASTE
1.3. OPTIMIZATION
1.3.1 CONVERSION SYSTEM
1.3.1.1 NGSA-II + MILP
1.3.1.2 OPS + MILP
1.3.1 NETWORK
1.3.1.1 NGSA-II + MILP
1.3.1.2 OPS + MILP
1.4. ANALYSIS
1.4.1. SENSITIVITY ANALYSIS
1.4.2. LIFE CYCLE ANALYSIS
1.4.3. BENCH MARKING
1.5 PLOTS
1.4.4.1 HEAT-MAPS
1.4.4.2 TIME-SER

[2016-05-25 06:53] gabriel-happle opened #215 "Bugfix ventilation schedule calculation in master"
Required ventilation rate is multiplied by people AND conditioned floor area.

[code]

[code]

[2016-05-25 07:25] gabriel-happle commented on #126
Included air tightness (n50 values), fraction of operable windows (assumed) and factor for cross ventilation in archetypes db (building architecture worksheet).

[2016-05-25 08:59] shanshanhsieh commented on #214
I edited the part 1.2 and added part 1.3 TECHNOLOGIES. It has became quite a long list now, maybe we could keep it part 1.3 like this now until we have other new technology models.

[2016-05-25 09:26] JIMENOFONSECA opened #217 "Facilitate migration from shapefiles with .DBF"
So in order to facilitate the migration of shape-files but still maintain functionality, we might consider using only .dbf files instead of .shp files. (excl. buildings geometry, terrain and zone of study).

It will be faster to read by other formats such as CityGML in the future. It will avoid using geopandas potentially. Which is kind of hard to get running.

[2016-05-25 15:31] daren-thomas commented on #217
why?

[2016-05-25 15:32] daren-thomas commented on #217
also, .dbf cannot be directly read from pandas as far as i could find out...

[2016-05-26 01:44] JIMENOFONSECA commented on #217
well....i already did it. it is faster by 0.25 sec than reading a shapefile

[2016-05-26 04:07] JIMENOFONSECA opened #218 "Move 4-Technical to DB and change folder structure"
4-technical is a database which barely depends on the scenario. It should then be moved to cea/db together with the Archetypes and the weather data DBs.

This brings about the opportunity to make the folder structure much more easy to read. here is an example @architecture-building-systems/cea please comment until 27.06.17

![capturenew](https://cloud.githubusercontent.com/assets/8973186/15563345/

[2016-05-26 04:08] JIMENOFONSECA commented on #218
This is the existing one btw:

![capture22222](https://cloud.githubusercontent.com/assets/8973186/15563358/8ba1254a-233a-11e6-9327-91732fd7cb06.PNG)

[2016-05-26 06:37] daren-thomas commented on #217
but... why?

[2016-05-26 06:38] JIMENOFONSECA commented on #217
can you specify?

[2016-05-26 06:39] daren-thomas commented on #217
seriously, jimeno, i must have missed the issue with shapefiles. what was the problem again? (since we still need them for the building geometry as mentioned above...) what is the natural format for arcgis? it's not dbf right?

[2016-05-26 06:39] daren-thomas commented on #217
why not sqlite for that matter? or any other format?

[2016-05-26 06:41] JIMENOFONSECA commented on #217
so...we need just one shapefile not eight to store geometry.
dbf can be read in arcgis too and work with other shafiles. dbf can be open from excel too.

[2016-05-26 06:42] JIMENOFONSECA commented on #217
does sqlite offers those options? if so, i believe it will be a better option than dbf

[2016-05-26 06:48] daren-thomas commented on #217
good. thank you for explaining 😊 (i just needed a motivation for the change because i didn't understand) still... i would like this kind of change (that requires changing the whole documentation and the test cases etc. to have more discussion before we do them - we still need to fix up the code base to be more readible etc...)

[2016-05-26 06:54] JIMENOFONSECA commented on #217
totally agree. I also do not know if in terms of interoperability it is better to keep the shapefiles, so it easier for the user to map directly all data. However i found that the way we are doing the shapefiles might be mixing the data in properties.py :-(

[2016-05-26 06:55] JIMENOFONSECA commented on #217
right at the time of creating a shapefile and saving it. (this was code that i made up) @daren-thomas coudl you take a look if this is the right way?. then we can leave this issue open for another time

[2016-05-26 06:59] daren-thomas commented on #218
due to the use of the input locator, making these changes should be
easy-peasy :)

On Thu, May 26, 2016 at 6:08 AM, JIMENOFONSECA <notifications@github.com>
wrote:

[2016-05-26 09:01] martin-mosteiro commented on #218
Agreed that it makes no sense to have “technical” as an input here. Question: I was including the SIA Standard-based mobility calculations in the technical folder (in order to generate “embodied”, “operation” and “mobility” results). Should these go in the “db” folder as well then? Won’t this make the tool very Swiss-based?

The general folder structure looks a lot clearer to me now than before, a

[2016-05-26 09:05] JIMENOFONSECA commented on #218
About the 2000-watt society we can may be put it in a folder called ..db/benchmarks?.
we could also create all these databases for different regions. Perhaps we put later on everything in a folder called db/switzerland/benchmarks
db/switzerland/archetypes
db/switzerland/weather
etc....

[2016-05-26 11:52] gabriel-happle opened #220 "Separate control strategy of systems from calc thermal loads procedure"
Make functions to determine the state of each system according to temperature and time control outside of the calculation of thermal loads.

e.g.:
heat_exchanger_status(temp_ext, temp_int)  --> returns True (ON) or False (OFF)
heating_system_status(..., heating season, etc) --> returns True (ON) or False (OFF)
etc.

[2016-05-26 11:55] gabriel-happle opened #221 "Group input arguments to calc thermal loads in a class for standardisation of input arguments"
Group input arguments to calc thermal loads in a class for standardization of input arguments.

We can create a simple class that has attributes for each variable we pass... like `ThermalLoadsParameters`

[2016-05-26 11:59] gabriel-happle commented on #202
@amraladdin what do you mean exactly? Buildings only have a cooling demand if they actually have a cooling system. Do you want to calculate the theoretical demand to reach comfortable zone air temperature with a hypothetical system?

[2016-05-26 12:11] martin-mosteiro commented on #202
I can explain, since Amr is out at the moment.

During the workshop, we created a few energetic scenarios: the current situation and various other systems for heating, cooling and hot water. The cooling demand was not zero for the current situation and for the scenarios I ran. However, the cooling demand was zero for all buildings for all the scenarios created by the workshop participants (no erro

[2016-05-26 12:17] gabriel-happle commented on #202
@martin-mosteiro what do you mean with supply system? I was talking about the emission system 'type_cs' in the HVAC worksheet of the archetypes DB. Only Buildings with HVAC cooling have a cooling demand in the present CEA. Does that answer your question?

Of course the string format could also be an issue...

[2016-05-26 13:40] daren-thomas opened #222 "Check for radiation input in demand script"
The error message you get if the radiation script has not been run for a scenario is super ugly:

![image](https://cloud.githubusercontent.com/assets/2969564/15576406/fc7a6f02-2357-11e6-9eed-c33abc34fb13.png)

Instead, when selecting a scenario with no radiation data, a warning should be displayed. Also, the demand script should test this as part of input parameter verification.

[2016-05-27 01:40] JIMENOFONSECA commented on #218
@shanshanhsieh @gabriel-happle @amraladdin @shizhongming please comment in the folder structure. today i expect to start implementing the changes

[2016-05-27 01:43] JIMENOFONSECA commented on #214
@daren-thomas @martin-mosteiro  @gabriel-happle @amraladdin @shizhongming please comment in the folder structure of the CEA folder. today i expect to start implementing

[2016-05-27 02:09] shanshanhsieh commented on #218
@JIMENOFONSECA The new folder structure does make more sense now!
one question, under the folder "building geometry", are both district.shp and zone.shp providing building geometry information? or is the district.shp containing building geometry information, and zone.shp is indicating the group of building in the district that will be simulated?

[2016-05-27 02:57] JIMENOFONSECA commented on #218
@shanshanhsieh i see them both storing building geometry. one of the entire district and one of the zone to be analyzed. but probably we would like to include a way to do zoning in the other areas of the district

[2016-05-27 04:01] gabriel-happle commented on #218
This structure makes sense to me.

[2016-05-27 04:08] gabriel-happle commented on #214
I think the demand model should also have sub folders.
E.g.
- Ventilation Model
- Occupancy Model
- Building Equipment
-- HVAC Model (could also be a sub folder of Ventilation Model?)
etc.

[2016-05-27 08:22] martin-mosteiro commented on #218
db/switzerland/etc. sounds good to me

On 26 May 2016, at 11:05, JIMENOFONSECA <notifications@github.com<mailto:notifications@github.com>> wrote:

About the 2000-watt society we can may be put it in a folder called ..db/benchmarks?.
we could also create all these databases for different regions. Perhaps we put later on everything in a folder called db/switzerland/benchmarks
db/switzerland/archetyp

[2016-05-27 08:25] daren-thomas commented on #218
can we use the country codes instead?

- `db/switzerland` vs. `db/ch/`

On Fri, May 27, 2016 at 10:22 AM, martin-mosteiro <notifications@github.com>
wrote:

[2016-05-27 08:27] daren-thomas commented on #214
Please make sure folder names have no spaces in them. Especially source code folders. While often spaces and non-ascii characters will work, it does tend to make everything more tedious. We could save ourselves some headaches.
- ventilation-model
- occupancy-model
- hvac-model

[2016-05-27 08:34] JIMENOFONSECA commented on #218
sure thing

[2016-05-27 09:20] amraladdin commented on #218
I think the new structure is much nicer, and I agree with Daren to use country codes

[2016-05-27 10:20] daren-thomas opened #224 "Update dev process for sandbox and contributions"
Can we move sandbox and contributions development to two respective branches 'sandbox' and 'contributions'?

We can then merge back to master when a contribution or sandbox item needs to be accessible to other people / is finished. This would stop some of the "bleeding" (i.e. *noise*) of sandbox development into the `github_core` channel.

[2016-05-30 02:20] shanshanhsieh commented on #138
@daren-thomas just checking out the issues we need to finish before M1. i don't think we are going to use the documentation for the SBE workshop, shall we move this to M2?

[2016-05-30 02:29] shanshanhsieh commented on #28
@JIMENOFONSECA how about calling it "Non-renewable PEN"? And I think it only applies for primary energy occurred in operation, not the embodied part?
also, the name "emission.py" is a bit confusing, since both ghg emission and primary energy demand are calculated in both "embodied.py" and "emission.py" scripts. idea for the name to replace "emission.py" could be "operational.py"

[2016-05-30 10:45] #221 closed

[2016-05-30 10:45] #215 closed

[2016-05-30 11:38] daren-thomas commented on #138
I think we need to document the code as much as possible for M1. No need to generate the sphynx api docs, but the code should be in the best shape we can get it by then as it goes public on M1.

[2016-05-31 03:10] gabriel-happle commented on #45
@daren-thomas the splitting of Eauxf seems to be a simple reporting issue. These values can be reported individually.

[code]
@shanshanhsieh this is also easy and can be done in `get_internal_loads()`

I think it will be easier, after my pull request #226  with the second `calc_thermal_loads()` is merged.

[2016-05-31 07:34] gabriel-happle commented on #53
I found nothing helpful in the standards. I discussed with @JIMENOFONSECA and we decided to move the value to the globalvars, where we could have different calibrated values for different countries/regions.

[2016-05-31 08:57] shanshanhsieh commented on #53
This is how energyplus tests the warmup convergence:
http://bigladdersoftware.com/epx/docs/8-0/engineering-reference/page-006.html

[2016-06-01 13:22] daren-thomas commented on #137
The radiation script is very unstable. I often get `MemoryError` on the `pandas.merge` operations. I suspect it might have to do with

- the size of the dataframes in question
- specifically the shape (most tools are optimized for tall tables as opposed to wide tables)

Maybe we can change the shape of the radiation dataframe to fit tidy data standards?

- one observation per line!

We currently h

[2016-06-01 13:23] daren-thomas commented on #3
Also, we could just use `to_pickle` as a quicker format for storing dataframe content...

[2016-06-02 10:38] martin-mosteiro commented on #182
As promised, here are the benchmark graphs at the moment.
[Benchmark_plot_20160601_170203.pdf](https://github.com/architecture-building-systems/CEAforArcGIS/files/295357/Benchmark_plot_20160601_170203.pdf)
- 2000 W target calculated based on SIA standard 2040, but not every building is included (2000 W targets are not defined by all building classes).
- Current situation based on Inducity paper *f

[2016-06-02 12:59] daren-thomas opened #228 "Can't run demand for masterplan scenario!"
[code]

[2016-06-03 13:11] daren-thomas commented on #137
just pushed latest fix for the radiation tool: It now uses the weather file list similar to the demand script.

[2016-06-03 13:11] #137 closed

[2016-06-03 13:27] daren-thomas commented on #60
I'm going to use this stackoverflow answer as a guide to adding the license information to our modules (without creating a big mess of comments on top of each file)

[2016-06-03 14:07] daren-thomas commented on #60
This was added directly to master. Also, @JIMENOFONSECA, I'm not sure I still like the way we changed the `LICENSE.md` file to be split by version. We can talk about this later, though.

[2016-06-03 14:07] #60 closed

[2016-06-03 14:09] daren-thomas commented on #117
Also, we could consider having a "Roadmap" section

[2016-06-03 14:12] daren-thomas commented on #78
@JIMENOFONSECA, I don't think this is going to be part of the workshop - I therefore propose pushing it to the next milestone. What do you think?

[2016-06-03 14:13] daren-thomas commented on #57
@JIMENOFONSECA, I think the basis for this might have changed? What is the current status on your comment above?

[2016-06-03 14:20] daren-thomas commented on #52
I just checked and it seems we moved to a solution half-way in the middle using "T1", "T2" etc. to name heating and cooling systems.

@JIMENOFONSECA, is there a good reason to do this instead of using more descriptive names?

[2016-06-03 14:21] daren-thomas commented on #35
What is the correct order of the columns to use? For which files? This goes hand-in-hand with the documentation effort next week...

[2016-06-03 14:21] daren-thomas commented on #2
I am closing this, as the documentation already goes a lot further than this.

[2016-06-03 14:21] #2 closed

[2016-06-04 08:59] JIMENOFONSECA commented on #52
Good? Lets discuss it on slack one day... Maybe we find a better solution..

[2016-06-04 09:00] JIMENOFONSECA commented on #78
I agree,

Jimeno

[2016-06-06 03:41] #218 closed

[2016-06-06 03:43] JIMENOFONSECA commented on #201
done! now this should be working. We use only the buildings in the zone of interest

[2016-06-06 03:43] #201 closed

[2016-06-06 06:40] JIMENOFONSECA commented on #228
@daren-thomas try getting the radiation file (it was changed on the 2nd)

[2016-06-06 06:41] #183 closed

[2016-06-06 11:14] shanshanhsieh commented on #138
As discussed, here is a general in-function documentation format we could adapt.
@JIMENOFONSECA @daren-thomas @gabriel-happle @martin-mosteiro @amraladdin Please feel free to comment on what else we could include, I will make a standard format and write it in the Gitbook.

[code]

This is the link to the source code of sandia pv library, more examples could be found there:
http://pvlib-python.read

[2016-06-06 14:25] daren-thomas opened #233 "merge `mobility.ExtendInputLocator` and `benchmark.ExtendInputLocator`"
These classes could be merged into `InputLocator`.

Also, maybe we want to tidy up the input locator a bit? it is starting to get confusing...

[2016-06-06 14:36] amraladdin opened #234 "Weather files don't create different results"
When we made simulations using Zurich and Singapore weather files, the results came back identical. Any idea what's the reason behind that?
@JIMENOFONSECA  @daren-thomas

[2016-06-06 14:45] daren-thomas commented on #234
I'll look into that right now! Good catch...

[2016-06-06 14:48] daren-thomas opened #235 "Move weather files to separate directory"
Currently, they are part of the country-specific db stuff (cea/db/CH/...)

[2016-06-06 14:52] daren-thomas commented on #234
@amraladdin: can you try it out again on the master branch? I think I found the bug and fixed it.

[2016-06-06 15:10] daren-thomas opened #236 "Embodied Energy does not work (`building_architecture.shp` file removed from reference-case?)"
[code]

[2016-06-07 08:13] daren-thomas opened #237 "Add automated test to check all weatherfiles"
Another test for our automated test-suite: Run the demand calculations with all the weatherfiles as returned from the inputlocator. The results should differ.

[2016-06-07 08:18] daren-thomas commented on #59
@JIMENOFONSECA Have a look at the core modules. I have added `__credits__` and other variables at the top of the files. We can also add these on a function basis for functions that involve calculations.

I have added myself as `__maintainer__` as I expect to be the person fixing bugs for the next twenty years. This is open for negotiation ;-)

I vote to close this bug.

[2016-06-07 08:26] daren-thomas commented on #236
I'm an idiot. Of course it works. We just need to run the `properties` script first.

[2016-06-07 08:28] #236 closed

[2016-06-07 09:17] JIMENOFONSECA commented on #59
Cool great job!  :-)

[2016-06-07 09:17] #59 closed

[2016-06-07 15:35] amraladdin opened #238 "Scenario plots rename"
The new scenario plot script does not allow to name/rename the graphs.
That means that for every new PDF we want to generate, we'll have to rename the PDF, then create another one.

I don't think we can fix this one before the workshop, but I believe it's a priority for afterwards.

[2016-06-08 11:30] amraladdin opened #240 "Plots - Benchmark & Demand Graphs"
When comparing more than 2 plots, the legend starts to disappear because the text goes out of the page border. Same happens when simulating hotter climates, but for the values as well.

[2016-06-08 14:25] amraladdin opened #241 "Some weather files don't work"
I used the following weather files while simulating... Data helper works fine, however, when running the demand, only the first 5 buildings run, while the rest of the buildings don't, and I have to force the software to shut down. The files used are the following (only EPW):
https://energyplus.net/weather-location/africa_wmo_region_1/EGY//EGY_Cairo.623660_IWEC
https://energyplus.net/weather-locati

[2016-06-14 08:50] daren-thomas opened #242 "Default Gdb could be on another folder (not in userprofile)"
radiation crashes comperroom. maybe create in temp...

[2016-06-14 12:23] daren-thomas opened #243 "scenario plots check inputs before running!"

[2016-06-14 12:33] daren-thomas opened #244 "Scenario plots: When an error occurrs, file stays open"
Then the user can't choose the same filename again. Fix the error handling...

[2016-06-14 13:18] daren-thomas opened #245 "`Vol_ls` in `functions.calc_dhw_heating_demand` sometimes 0"
This leads to a `ZeroDivisionError` in `calc_disls`:

[code]

[2016-06-21 16:46] #182 closed

[2016-06-21 17:08] #156 closed

[2016-06-24 07:03] gabriel-happle opened #246 "Fix calculation of required ventilation rate"
`calc_qv_req()` in `functions` and in `thermal_loads` needs to be fixed.
`if - else`-statement does not make sense.

[2016-06-24 07:05] #126 closed

[2016-06-24 07:07] gabriel-happle commented on #146
I'm going to close this issue. We can open a new one, when we decide how to proceed exactly with building geometries, 3D formats, etc.

[2016-06-24 07:07] #146 closed

[2016-06-24 09:21] daren-thomas opened #247 "Rename `thermal_loads_new_ventilation`"
The name only has meaning in the context of "there was an old ventilation model".

Also, package and module names should not include underscores... (but I also don't really see right now how to do it without...)

@gabriel-happle: is there a name we could use that refers to the ventilation model actually used? Is it a model you came up with or an implementation of a standard? Then we could call it

[2016-06-28 12:58] daren-thomas opened #248 "fix create_windows"
There are a lot of (important) FIXME's in the create_windows function. Also, we could
- rename the inputs, suggestion: surface_properties, architecture (same as get_prop_RC_model)
- rename the columns in the output
- suggestion: angle, are, height_above_ground, height_in_zone, name, orientation
- especially Name: that seems to be the standard in all the other dataframes (and yes, i think we should

[2016-06-29 12:49] daren-thomas opened #249 "Refactor `usage_schedules` to a more sane structure"
The `usage_schedules` dictionary (as passed to the `calc-thermal-loads` models) has the following shape:

[code]

Each element of the 'list_uses' entry represents a building occupancy type.
Each element of the 'schedules' entry represents the schedules for a building occupancy type (in the same order as they appear in the 'list_uses' entry).
The schedules for a building occupancy type are a 4-tupl

[2016-06-29 13:00] daren-thomas opened #250 "Use ISO date format for `gv.date_start`"
Currently, this is given in the format "d/m/yyyy". Seriously. That isn't even the US way to do it! The US date format would be "m/d/yyyy" - so using this format is just begging for errors to happen.

Turns out, there is an international convention for this: https://en.wikipedia.org/wiki/ISO_8601
We should use "2016-01-01" ("yyyy-mm-dd") instead.

Updates required:
- `gv.date_start`
- `maker.test_s

[2016-07-05 02:29] JIMENOFONSECA commented on #8
This change was implemented in the version CEA 0.3C

[2016-07-05 02:29] #8 closed

[2016-07-05 02:30] #5 closed

[2016-07-05 02:31] JIMENOFONSECA commented on #147
@daren-thomas is this still the case? would you take care of it?

[2016-07-05 02:31] JIMENOFONSECA commented on #161
@daren-thomas is this still the case? would you take care of it?

[2016-07-05 02:32] JIMENOFONSECA commented on #165
@daren-thomas is this still the case? would you take care of it?

[2016-07-05 02:34] JIMENOFONSECA commented on #180
@daren-thomas would this be ok?

[2016-07-05 02:35] JIMENOFONSECA commented on #185
@daren-thomas is this still the case? would you take care of it?

[2016-07-05 02:35] JIMENOFONSECA commented on #186
@daren-thomas is this still the case? would you take care of it?

[2016-07-05 02:35] JIMENOFONSECA commented on #187
@daren-thomas is this still needed?

[2016-07-05 02:36] JIMENOFONSECA commented on #189
@daren-thomas is this still the case? would you take care of it?

[2016-07-05 02:37] JIMENOFONSECA commented on #203
@amraladdin  is this still the case? would you take care of it?

[2016-07-05 02:38] JIMENOFONSECA commented on #202
fixed

[2016-07-05 02:38] #202 closed

[2016-07-05 03:00] #21 closed

[2016-07-05 03:03] JIMENOFONSECA commented on #138
@shanshanhsieh was this added to the gitbook? could be close this issue?

[2016-07-05 03:03] #154 closed

[2016-07-05 03:04] JIMENOFONSECA commented on #159
@shanshanhsieh @martin-mosteiro is anybody working on this? is the level of priority adequate?

[2016-07-05 03:10] JIMENOFONSECA commented on #214
@daren-thomas this will change the folder structure of the repository as discussed, i wonder if this is part of the "Architecture" you are investigating.  The next step will be to accommodate the scripts we have in such structure. it could become messy so better we agree on one

[2016-07-05 03:19] JIMENOFONSECA commented on #217
@daren-thomas from the workshop, i see this change does not make sense anymore. if we exchange the shapefiles for .dbs, the users will not be able to select polygons and change the databases in arcgis. it will drastically reduce user experience. i close the issue.

[2016-07-05 03:19] #217 closed

[2016-07-05 07:18] shanshanhsieh commented on #138
The documentation comment template is added to gitbook in the "Style" section. This issue can be closed now.

[2016-07-05 07:18] #138 closed

[2016-07-05 09:59] daren-thomas commented on #189
Closed. See my sandbox for the implementation.

[2016-07-05 09:59] #189 closed

[2016-07-05 10:00] daren-thomas commented on #187
Yes. I will add it.

[2016-07-05 10:01] daren-thomas commented on #186
yes, it is still the case. I will take care of it.

[2016-07-05 10:02] daren-thomas commented on #185
Sure. I'll take care of it.

[2016-07-05 10:03] daren-thomas commented on #180
Sure. I'll work on it.

[2016-07-05 10:04] daren-thomas commented on #165
Yes, this is still the case. We still need to think about this a bit more.

[2016-07-05 11:01] daren-thomas commented on #161
I can take care of it.

[2016-07-05 11:06] daren-thomas commented on #147
Sure. I'm doing a lot of refactoring anyway and adding issues as I'm going through the code so I don't forget them.

[2016-07-05 12:42] amraladdin commented on #203
@JIMENOFONSECA yes, we've already discussed this with Arno and we'll try to get information on these buildings (maybe assign an assistant or an intern).

[2016-07-13 09:46] daren-thomas opened #251 "move Heating/Cooling season to a non northern-hemisphere-based system"
Currently, the heating/cooling season description (`gv.is_heating_season`, `gv.seasonhours`) is based on the assumption that winter is in December and summer in July. This is only true for the northern hemisphere. And the tropics don't have heating/cooling seasons, so, we need a smarter way to do this.

[2016-07-14 05:53] shanshanhsieh commented on #93
this is relating to #95

[2016-07-14 10:30] gabriel-happle opened #253 "Set up Zug case study for the CEA"
Use the Zug case study for testing and validation of the CEA demand calculation.

[2016-07-14 10:36] gabriel-happle commented on #84
This could be addressed via system control algorithms.
Using functions instead of arbitrary temperatures etc.
See #220

[2016-07-14 10:44] amraladdin commented on #241
@JIMENOFONSECA Any idea who can take a look at this point?

[2016-07-14 10:47] amraladdin commented on #240
@martin-mosteiro Should I assign this task to you?

@JIMENOFONSECA any idea who was responsile for the Demand graph plots to fix this point?

[2016-07-14 10:48] amraladdin commented on #238
@daren-thomas already fixed this issue, so I'll close it.

[2016-07-14 10:48] #238 closed

[2016-07-14 10:50] amraladdin commented on #234
@daren-thomas @JIMENOFONSECA
In order for the weather file to work, I have to run the radiation file per weather, is that correct?

[2016-07-14 10:51] amraladdin commented on #203
@martin-mosteiro when you're back from vacations, let's take a look at the website again. If we cannot get the information we seek, we should think of hiring a student.

[2016-07-14 13:35] martin-mosteiro commented on #203
Sure. Let's talk about it on Tuesday?

[2016-07-14 13:36] JIMENOFONSECA commented on #234
Yes

Best, Jimeno

On 14 Jul 2016, at 18:50, Amr Elesawy <notifications@github.com<mailto:notifications@github.com>> wrote:

@daren-thomas<https://github.com/daren-thomas> @JIMENOFONSECA<https://github.com/JIMENOFONSECA>
In order for the weather file to work, I have to run the radiation file per weather, is that correct?

—
You are receiving this because you were mentioned.
Reply to this email dir

[2016-07-14 13:36] martin-mosteiro commented on #240
Sure, I'll take care of it.

________________________________
Von: Amr Elesawy [notifications@github.com]
Gesendet: Donnerstag, 14. Juli 2016 12:47
An: architecture-building-systems/CEAforArcGIS
Cc: Mosteiro Romero Martin; Mention
Betreff: Re: [architecture-building-systems/CEAforArcGIS] Plots - Benchmark & Demand Graphs (#240)

@martin-mosteiro<https://github.com/martin-mosteiro> Should I assign

[2016-07-14 14:15] gabriel-happle commented on #210
@daren-thomas is this still an issue? You can probably close it.

[2016-07-14 14:17] gabriel-happle commented on #192
@daren-thomas I think this could be closed.

[2016-07-14 14:19] shanshanhsieh opened #254 "Run supply system optimization in CEA"

[2016-07-14 14:22] #64 closed

[2016-07-15 03:44] JIMENOFONSECA commented on #241
I can take a look, create a branch and upload the files to the weather folder. Before i do something. did you run the radiation file first? and then the demand?

[2016-07-15 07:03] gabriel-happle opened #256 "Implement free cooling for all buildings"
In the calculation of the required ventilation rate free cooling is currently only possible for buildings that are occupied during the night.
The required ventilation rate per pax is multiplied with a fixed factor. But if there are no occupants present this rate is 0.
-> Research and implement a new mechanism (especially for commercial buildings).

[2016-07-15 08:37] daren-thomas opened #257 "test.py script not working with multiprocessing"
on the multiprocessing branch...

[2016-07-18 03:14] JIMENOFONSECA commented on #204
#113 replaces this

[2016-07-18 03:14] #204 closed

[2016-07-18 03:16] JIMENOFONSECA opened #258 "Refactor functions script"
The functions script needs to be partitioned. A folder structure will be added to the CEA. The work should be done by the end of JULY. This refactoring will make the code more modular and understandable

[2016-07-19 12:41] amraladdin commented on #241
No, I didn't run the radiation files, only the properties and then demand directly. However, it worked without running the radiation file for Singapore, Sri Lanka, Milano and Palermo...

[2016-07-20 02:22] JIMENOFONSECA commented on #241
Could you run it all and let me know the results?

Best, Jimeno

On 19 Jul 2016, at 20:42, Amr Elesawy <notifications@github.com<mailto:notifications@github.com>> wrote:

No, I didn't run the radiation files, only the properties and then demand directly. However, it worked without running the radiation file for Singapore, Sri Lanka, Milano and Palermo...

—
You are receiving this because you were

[2016-07-20 11:25] amraladdin commented on #241
Yes, I'll do that and update.

[2016-07-22 04:17] JIMENOFONSECA commented on #258
solved in merge #258

[2016-07-22 04:17] #258 closed

[2016-07-25 06:39] #214 closed

[2016-07-25 14:50] #240 closed

[2016-07-27 10:10] JIMENOFONSECA opened #261 "CEA in Arcgis not working"
After refactoring the tool used to work form arcgis. However it just executed the scripts and then it finished without producing any output. We noticed this issue later after merging the refactoring of functions.py

the error is relatively simple to solve without needed to reverse any previous merge.  I might need a hand. @daren-thomas can we talk about this when you are back?

the main issue is h

[2016-07-28 11:57] martin-mosteiro commented on #228
Fixed the issues with the shapefiles, the demand runs fine now. I'll update the shapefiles on the reference case repository.

[2016-07-28 11:57] #228 closed

[2016-08-01 03:48] gabriel-happle commented on #246
Closed with pull request #255

[2016-08-01 03:48] #246 closed

[2016-08-01 04:01] gabriel-happle commented on #256
Proposed approach:
Allow for natural night flushing in naturally ventilated buildings
Allow for mechanical night flushing in mechanically ventilated buildings
[https://en.wikipedia.org/wiki/Passive_cooling#Night_Flushing](https://en.wikipedia.org/wiki/Passive_cooling#Night_Flushing)

[2016-08-01 06:52] gabriel-happle commented on #256
possible duplicate of #206 (Economizer)

[2016-08-01 06:53] gabriel-happle commented on #206
possible duplicate of #256 (Free cooling)

[2016-08-01 06:58] gabriel-happle commented on #16
This is probably continuous development. But with smaller, specific issues. I'm therefore closing this now.

[2016-08-01 06:58] #16 closed

[2016-08-01 07:00] gabriel-happle commented on #30
Closed for now. Continuing work in #256 and others.

[2016-08-01 07:00] #30 closed

[2016-08-01 07:04] gabriel-happle commented on #66
I will have a look at this for the next milestone.
@shanshanhsieh what is the exact background of this issue?

[2016-08-01 07:50] shanshanhsieh commented on #66
The final heating energy required for hot water is  `Qwwf = Qww + Qww_dis_ls_r + Qww_dis_ls_nr + Qww_st_ls`, in which the heat loss in storage is included by default.
Currently, the storage tank volume is set to be the maximum instantaneous hot water flow rate (m3/hr), which is the normal case for thankless water heater. What could be improved here is to have the choice for storage tank sizes with

[2016-08-02 08:39] gabriel-happle commented on #84
Working on this.
You can have a look in my sandbox in the master branch, if you are interested.

[2016-08-05 03:22] JIMENOFONSECA opened #262 "tds creating high overhead"
Working with data frames creates a high overhead in the demand calculation.

I observed this in the first implementation back in August 2014. I created the tool following only data frames.  By changing everything to numpy arrays and lists (As in the CEA tool last deployed version) the performance increased dramatically. From 1 min to 2 sec calculation per building!

Somehow we got into this struct

[2016-08-05 12:49] daren-thomas commented on #262
@JIMENOFONSECA, check out pull request #263: speedup after moving to `dict` instead of `Dataframe`

[2016-08-08 11:22] JIMENOFONSECA commented on #261
@daren-thomas could you take a look at this? I tried it to fix it without success

[2016-08-08 11:53] daren-thomas commented on #261
@JIMENOFONSECA i am currently looking into this!

[2016-08-08 11:57] daren-thomas commented on #261
hey... for a bug report: which script executed without results? what results were expected?

[2016-08-08 12:26] daren-thomas commented on #261
@JIMENOFONSECA: assigning back to you to close. I have checked on the master branch. It seems to be working fine! (i did merge some fixes though, so maybe that helped?)

Also, it is really hard to fix a bug as described above. What is the issue? What were the error messages? Where there any? Which tool did you run? (we have ten of them!) Where did you look for the missing data?

[2016-08-09 12:38] daren-thomas commented on #81
@JIMENOFONSECA check out pull request #266 that I have run on ArcGIS Desktop 10.4. The output stays the same. I am currently creating a branch of the documentation to merge with Installation Guide for 10.4.

[2016-08-09 13:02] daren-thomas commented on #81
Documentation updated in a branch called `i81-upgrade-to-arcgis-10.4`. Note that you can't have both versions of ArcGIS Desktop installed side-by-side.

[2016-08-09 13:19] daren-thomas commented on #51
this has become obsolete with the `occupancy_model.schedule_maker` function.

[2016-08-09 13:19] #51 closed

[2016-08-10 02:13] JIMENOFONSECA commented on #261
I get the next message while running the demand tool, any advice?
![capture](https://cloud.githubusercontent.com/assets/8973186/17539726/0f75d3c8-5ee3-11e6-8f82-e1257ffa4bfd.PNG)

[2016-08-10 02:44] JIMENOFONSECA commented on #262
We moved to dicts. It seems a temporal solution. @gabriel-happle @daren-thomas any suggestion?

[2016-08-10 07:57] JIMENOFONSECA opened #267 "0 temperature in time-series should be presented differently"
Now we represent a system in 'off' with a temperature equal to 0. this is convenient as we do not mix text with float or integer in a same vector. However, there is not such a thing as zero temperature in the system so we should think on a better way to represent it in general.

[2016-08-10 08:06] daren-thomas commented on #267
@JIMENOFONSECA, I kind of have to guess what you mean here... So here is what I assume:

- you have found a case where a state variable in the simulation is not known and that is currently represented by a zero `0`
- might have been from an `np.zeros(HOURS_IN_YEAR)` initialization
- you would prefer to have a value outside of the domain of possible values for temperatures (in this case)

Since I a

[2016-08-10 08:10] daren-thomas commented on #262
Can we say temporary instead of temporal? Temporal refers to temperatures...

I actually like using the dict as a namespace for state data of the
simulation. It is fast. It keeps all the variables nicely in a single
namespace and will make documenting all the state variables of the
calculations sooo much easier, as they are then always named the same in
every function and are all in one place.

Al

[2016-08-10 08:27] JIMENOFONSECA commented on #267
NaN i believe would not be an alternative as ArcGIS will fail to read it when we want to represent it in a temporal scale. We will also have trouble on summing up vectors with NAN right?

[2016-08-10 08:29] daren-thomas commented on #267
We could just test that and see. We really need to specify where this is happening. What variables are we talking about? Why do they not have a value? What does not having a value mean? Only then can we actually have a meaningful discussion.

[2016-08-10 08:31] daren-thomas commented on #261
yes, I might have an idea. I fixed a similar issue with the port to 10.4.
what branch is this on?

On Wed, Aug 10, 2016 at 4:13 AM, JIMENOFONSECA <notifications@github.com>
wrote:

[2016-08-10 08:33] daren-thomas commented on #261
I have synced a fix to master that should fix this. Please verify.

[2016-08-10 08:49] daren-thomas commented on #35
@JIMENOFONSECA: Do we have a preferred ordering for the columns? Do we still care about this issue?

The function in question would be `demand_main.write_totals_csv`.
Also `thermal_loads.results_to_csv`.

[2016-08-10 08:51] JIMENOFONSECA commented on #35
@amraladdin i remember coming up together with this issue, is this still important?, i do not see it important anymore.

[2016-08-10 09:02] daren-thomas commented on #35
the fix is really easy, though. someone just has to define the ideal column order.

[2016-08-10 11:29] shanshanhsieh opened #268 "Current investment cost database of technologies"
Build a database of fix cost constants used in conversion technology pricing equations (including specific year and currency) in CEA. This database can then be used as a start to continue with the VEOLIA employee or a master student.
Master thesis topic could be something relating to technology economic data collection in Singapore and optimization of system configurations with different prices an

[2016-08-10 11:34] shanshanhsieh opened #269 "Documentation for supply side scripts"
Including the scripts in the Resources and Technologies folders.

[2016-08-10 11:39] shanshanhsieh opened #270 "Documentation for optimization scripts."
Including scripts in the Optimization folders.

Optimization work flow:
1.  Demand calculation
2.  Resource optimization (solar collector optimization)
3.  Pre-processing
4.  Optimization_main
a.  Network optimization (wrapper from MATLAB cost)
b.  Conversion and storage optimization

[2016-08-10 11:59] shanshanhsieh opened #271 "Uncomplete parts in the resource potential calcualtion"
- Move sewage potential calculation to the resource folder
- Add natural gas resource potential to the resource folder
- Documentation: the geothermal.py is used to calculate ground temperature, it is independent from the technology.

[2016-08-10 12:05] shanshanhsieh opened #272 "Incomplete parts in the technologies"
- Make sure all technology scripts all contain three parts of functions: technical conversion, cost calculation and test functions. An complete example is the `photovoltaic.py` script.
- Add borehole technology for geothermal energy utilization.

[2016-08-10 12:10] shanshanhsieh opened #273 "Distinguish the area used for PV and SC"
The optimization script currently determine the percentage used from PV and SC respectively with the maximum available install area. PV and SC might occupy the same area following this calculation.
A re-iteration step should be implemented to ensure no overlapping installation of PV and SC panels.

[2016-08-10 12:18] shanshanhsieh opened #274 "Other optimization objectives for solar panel tilt angles"
In `photovoltaic.py`, currently the tilt angle is optimized for the maximum yearly yield. Other optimization objectives could be maximum grid penetration, autonomy...

[2016-08-10 12:19] shanshanhsieh commented on #274
Also research on suitable PV panel tilting strategies suitable in Singapore.

[2016-08-10 12:22] shanshanhsieh opened #275 "Find other methods for SC heat loss calculation"
In `solar_collector.py`, the collector heat loss is adapted from TRNSYS code, which is able to calculate to secondly time steps. Compare what is used in Sandia library.

[2016-08-10 12:27] shanshanhsieh opened #276 "Enable different solar collector connection configurations"
In `solar_collector.py`, individual solar collectors are all connected in parallel, which leads to higher mass flow rate than in reality.
We need to create the option to calculate different types of collector arrangements using building as unit (parallel/series/combined).

[2016-08-11 02:59] JIMENOFONSECA commented on #262
I believe compromising performance does not necessarily takes us one step forward. We will need to evaluate this before implementing more carefully and probably subject this to a meeting with the board.

Looking at the future complexity of the tool and the restrictions that this might cause to the user and testers, every second of computation we save will matter.

[2016-08-11 03:05] #253 closed

[2016-08-11 03:47] JIMENOFONSECA commented on #271
done in pull request i264

[2016-08-11 03:48] JIMENOFONSECA commented on #254
done in branch #264

[2016-08-11 03:48] #254 closed

[2016-08-11 03:51] JIMENOFONSECA commented on #94
it is not and it is missing. Only the old version exists and it is available in branch #264

[2016-08-11 03:51] #94 closed

[2016-08-11 03:51] JIMENOFONSECA commented on #113
done in pull request #264 and the new case study reference-case-zug in the private repository

[2016-08-11 03:51] #113 closed

[2016-08-11 04:38] JIMENOFONSECA commented on #268
This work has been already done, but need to be integrated to the tool.
check:
https://hues.empa.ch/index.php/Special:RunQuery/Technology_query

it has lots of economic data about technologies. You might want to start there...

[2016-08-11 04:44] shanshanhsieh commented on #268
Sure, I will start with combining the information from HUES and the data used in CEA, and then prepare the data base for Singapore.

[2016-08-11 04:49] JIMENOFONSECA commented on #268
you might also want to get a way to extract the economic data now intrinsically inside the tool to an excel file. (more easily editable). let's make a detailed plan before implementing.

[2016-08-15 06:47] JIMENOFONSECA commented on #241
#241 and #234 can you check if it is working @amraladdin

[2016-08-15 07:27] gabriel-happle opened #277 "Bugfix thermal load calculation"
`calc_Qhs_Qcs` does not consider actual heating/cooling power for the calculation of the thermal mass temperature of the current time step.

[2016-08-15 08:41] gabriel-happle commented on #277
pull request #278

[2016-08-15 10:00] amraladdin commented on #234
@JIMENOFONSECA Yes, I'll check them as soon as I finish installing the latest ArcGIS 10.4 and CEA

[2016-08-15 10:00] amraladdin commented on #241
@JIMENOFONSECA Yes, I'm on it... Just need to install the latest ArcGIS and CEA

[2016-08-15 13:14] #261 closed

[2016-08-15 13:14] #271 closed

[2016-08-15 13:21] daren-thomas opened #279 "Investigate numba AOT to spead up calc_tm"
Numba might be able to speed up calc_tm - using either JIT or AOT. Investigate this in a branch and merge if successful.

This is an (imprecise) measurement of running the code before optimization:

![image](https://cloud.githubusercontent.com/assets/2969564/17665517/d02479f0-62fb-11e6-9bec-3713bf5a18e4.png)

[2016-08-16 01:43] #277 closed

[2016-08-17 03:05] #68 closed

[2016-08-17 03:30] JIMENOFONSECA commented on #224
Yes i am doing this

[2016-08-17 03:49] #224 closed

[2016-08-17 04:23] JIMENOFONSECA commented on #35
@amraladdin any comment?

[2016-08-17 04:25] #81 closed

[2016-08-17 04:29] JIMENOFONSECA commented on #262
fixed with #279

[2016-08-17 04:29] #262 closed

[2016-08-17 07:01] daren-thomas commented on #279
@JIMENOFONSECA: I'm about to close the issue. I was just wondering if you did any speed tests? I did some on my computer, that uses 8 CPUs - when single processing, the speedup is really big, but when multiprocessing, the overhead of multiprocessing eats up some of the gains (still faster, just not by such a large percent) - so I was wondering if on your machine (4 CPU's? the demand script tells y

[2016-08-17 07:03] #135 closed

[2016-08-17 07:07] daren-thomas commented on #141
Progress has been made here on multiple fronts with multiple issues. I think the M1.8 Milestone is appropriate for having this done and over with. The `tds` variable implements the _Introduce Parameter Object_ refactoring - as does the `bpr` instance of `BuildingPropertiesRow`. `gv` should be expanded on and renamed to `context` but that will be a separate issue.

[2016-08-17 07:32] daren-thomas commented on #57
@JIMENOFONSECA: Do we still want to do this? It might be a good idea to get rid of the temporary files as reading and writing files takes up computation time... The use case you mention at the top: Is that still a valid use case? And does the current code actually address this in a meaningful way?

[2016-08-17 07:35] daren-thomas commented on #257
also, move it to the `tests` folder and maybe rename it to `integration_test.py`

[2016-08-17 08:48] JIMENOFONSECA commented on #57
@daren-thomas yes, let's get rid of them. The functionality was not required in the last experiments so i guess we can discard them and improve performance...

[2016-08-17 08:51] JIMENOFONSECA commented on #279
@daren-thomas I am using an 8 core CPU in windows for this week. I did not do any speed test though.

[2016-08-17 09:07] daren-thomas opened #282 "SettingWithCopyWarning in `cea.analysis.embodied`"
When running the embodied script, the following error occurs:

This is probably due to our move to a newer pandas version. The script runs through - it is just a warning - but I think we should fix it anyway.

[2016-08-17 09:18] JIMENOFONSECA commented on #272
@shanshanhsieh is this part of this milestone? could we add an estimate too?

[2016-08-17 09:41] amraladdin commented on #35
@JIMENOFONSECA @daren-thomas
What I had in mind was to have a main fixed number of columns that represent the repeated values in all the tables (e.g. Date, Hour and Building Name). These values should be added in the first few columns in the same order for all the tables.
As for the rest of the columns:
- In the case of the demand calculation, the next row of columns I would put the totals, and af

[2016-08-17 11:09] shanshanhsieh commented on #275
There is no solar thermal collector model in the Sandia library, but I will still look into other methods.

[2016-08-17 11:31] shanshanhsieh opened #283 "Integrate vertical surfaces for BIPV installation"
Define the collector tilt angle for BIPV solar panels on vertical surfaces in `Optimal_angle_and_tilt`

[2016-08-18 07:35] shanshanhsieh commented on #276
refer to Sandia PVlib class `pvlib.pvsystem.PVSystem` for array arrangement: N(series)*M(parallel)
[http://pvlib-python.readthedocs.io/en/latest/modules.html#module-pvlib.pvsystem](url)

[2016-08-18 07:48] daren-thomas commented on #35
@amraladdin, to keep this task as simple as possible: Since we output CSV files, we can only have one header row with column names. These are the same names as the variables used in the calculation. I think keeping it that way has some advantages, at least for people interested in the calculation procedure: Then, the variables in the output correspond directly to those in the calculation code.

If

[2016-08-18 07:57] #279 closed

[2016-08-18 07:57] #257 closed

[2016-08-18 08:54] daren-thomas opened #285 "Write Paper on comparing to BESTEST benchmark"
Also create reference-case using these buildings.

[2016-08-18 13:17] amraladdin opened #286 "Reducing calculation time for Demand Graphs"
Daren did his magic on the Demand analysis calculation. Now it runs on an 8 processor PC in 1 minute 53 seconds.
However, the Demand Graphs calculation still takes around 10 minutes to calculate. Can we also reduce this analysis calculation time?

[2016-08-18 13:22] amraladdin opened #287 "Issue with the Demand Graphs Plots"
After creating the Demand Graphs Analysis, I found 2 points when opening one of the building results:
- It seems there's an overlapping between the title of the horizontal axis (DATE) with the graph afterwards, or with the legend at the end of the first page.
- The second page contains a graph that has no value or title (the graph on the left), what is this graph supposed to show?

@JIMENOFONSECA

[2016-08-18 15:45] martin-mosteiro opened #288 "Update documentation to include installing numba"
The latest version of CEA uses numba, which needs to be installed. On the Anaconda prompt:

`$ conda install numba`

[2016-08-18 15:47] martin-mosteiro opened #289 "Reference case Hochschulquartier data"
@daren-thomas: Could you look up who was the contact person for the measured data from the Hönggerberg campus? (UMEN -?- project)

They could provide us with information for the Hochschulquartier as well.

[2016-08-19 01:37] JIMENOFONSECA commented on #287
I will fix it..

Best, Jimeno

On 18 Aug 2016, at 21:22, Amr Elesawy <notifications@github.com<mailto:notifications@github.com>> wrote:

After creating the Demand Graphs Analysis, I found 2 points when opening one of the building results:

  *   It seems there's an overlapping between the title of the horizontal axis (DATE) with the graph afterwards, or with the legend at the end of the first page

[2016-08-19 03:14] shanshanhsieh opened #290 "Run Photovoltaic.py"
Some functions are connected to the solarcollector.py which has to be moved to the photovoltaic.py.
And there are uncompleted parts in the solare_quations.py.
Radiation input files have to be translated so that it can be used by the photovoltaic.py.

[2016-08-19 03:18] gabriel-happle opened #291 "Create an office archetype for Singapore"
Create an office archetype with data from 3for2 (Adam Rysanek) and LSE Cities (Devisari Tunas) for @shanshanhsieh  WSBE17 paper.

@shanshanhsieh: please add labels, milestone, etc.

[2016-08-19 03:21] gabriel-happle opened #292 "3for2 regression model for CEA"
Program the 3for2 regression model by @shanshanhsieh for the CEA.

@shanshanhsieh please add milestone, etc.

[2016-08-19 06:14] gabriel-happle commented on #66
The future of this issue will be decided on the MuSES workshop on future energy systems on the 20/09/2016.

[2016-08-19 08:46] gabriel-happle opened #293 "Full reports not working with "tsd" as dict"
The option for full reporting does not work any more for `tsd` variable as `dict`.

[2016-08-19 08:48] gabriel-happle commented on #293
@daren-thomas is it OK that I just assigned you?

[2016-08-19 09:05] JIMENOFONSECA opened #295 "Organize case studies in private repo"
Get the private repo in order and document this. Discuss it with the group.

[2016-08-19 12:07] amraladdin commented on #35
OK, I discovered a discrepancy between the results in the file and the glossary, so I'll create an issue with that first, once it's solved, we can continue with the organization. Does that sound good for you? @daren-thomas

[2016-08-19 12:07] amraladdin opened #296 "Discrepancy between Glossary and Output results"

[2016-08-19 12:09] daren-thomas commented on #296
Can you be more specific please? What is the discrepancy?

[2016-08-19 12:10] amraladdin commented on #296
Yeah yeah, wait, it was a mistake that it got posted... I didn't put the description yet :)

[2016-08-19 12:23] martin-mosteiro opened #297 "Revise TABS temperature calculation"
Incorporate TABS supply and return calculation to TABS model. The current calculation is based on a radiator model.

[2016-08-19 12:24] #55 closed

[2016-08-19 12:48] amraladdin commented on #296
While organizing the output values for the Total_Demand.csv, I realized there is a bit of discrepancy between what is in the .CSV file and the Documentation Glossary. Here is what I found so far:

1. Trww0_C exists in the documentation (under Scenario Outputs>Data>Peak Values), but it's not in the output of the Total_Demand.csv .

2. In the same section of the documentation (under Others) the valu

[2016-08-19 13:19] amraladdin commented on #296
In terms of the Demand Outputs per building, here are my notes:

7. Why aren’t the floor area part of the outputs?

8. Final electricity in industrial processes is abbreviated in the Hourly Values as `Epro_kWh`, while the same definition in the Yearly Values is written as `Eprof_MWhyr`, so shouldn’t we fix it to either `Epro` or `Eprof`?

9. `Qhprof_kWh,Qww_tankloss_kWh,Ecaf_kWh,Tww_tank_C,Tsref_C

[2016-08-19 13:27] amraladdin commented on #296
For the Embodied Energy and Operational Energy, I strongly suggest the following:

1. To change in the documentation the title `Primary energy demand and emissions` to `Operational energy demand and emissions`.

2. Differentiate between the names of the output results to the following:

    * For Embodied Energy `E_ghg_ton,E_ghg_kgm2,E_pen_GJ,E_pen_MJm2`

    * For Operational Energy `O_ghg_ton,O_

[2016-08-22 07:26] gabriel-happle opened #300 "clean up `thermal_loads.results_to_csv()` and move to `utilities.reporting`"
reduce number of input parameters to `results_to_csv()` and move script to reporting.

[2016-08-22 07:27] gabriel-happle commented on #300
@daren-thomas could you take a look at this?

[2016-08-22 07:33] daren-thomas commented on #300
@gabriel-happle: sure, will do.

[2016-08-22 07:54] amraladdin commented on #296
@daren-thomas @JIMENOFONSECA Who can be assigned this task?

[2016-08-22 07:57] amraladdin commented on #118
@JIMENOFONSECA I think we can close this issue now, would you agree?

[2016-08-22 07:58] amraladdin commented on #203
@martin-mosteiro @JIMENOFONSECA Since we will use the MIBS course to estimate the buildings components retrofit, I suggest we close this issue. Would you agree?

[2016-08-22 08:01] martin-mosteiro commented on #203
Agreed. We're having a meeting with the City of Zurich later this week in which we will specifically ask for more information on this, but I think in terms of this milestone, the issue is closed.

[2016-08-22 08:04] JIMENOFONSECA commented on #203
rather than close it, please assign a new milestone to it. @martin-mosteiro  you might want to decide on this based on the Synergy project timeline...

[2016-08-22 08:10] martin-mosteiro commented on #203
@JIMENOFONSECA Good idea. I just did that.

[2016-08-22 08:11] JIMENOFONSECA commented on #296
@amraladdin i think you have identified different issues here and they are worth spliting in three:
1. discrepancies documentation and total_demand.csv
2. eprof and epro related comment
3. embodied energy and emissions folder.

would you mind creating a separate issue for each?
As for the first. I believe we maintain the documentation according to the tool outputs. So you can update this.
As for t

[2016-08-22 08:14] martin-mosteiro commented on #296
Sure, that's an easy fix. @amraladdin please assign the issue to me once you've created it.

[2016-08-22 08:15] amraladdin commented on #296
Done :) Thanks!

[2016-08-22 08:16] amraladdin commented on #296
Oh, sorry, I didn't read Jimeno's comment... Ok, I'll set the issues and assign @martin-mosteiro

[2016-08-22 08:16] daren-thomas commented on #296
@JIMENOFONSECA: Good call. Maybe we can add this to the contributors manual? An issue should be focused on one thing only?

[2016-08-22 08:17] amraladdin commented on #296
Ok, I'm on it.

[2016-08-22 08:17] daren-thomas commented on #293
@gabriel-happle yes. It seems this is blocking a few things right now so I will handle it first thing.

[2016-08-22 08:18] JIMENOFONSECA commented on #296
i agree

[2016-08-22 08:21] daren-thomas commented on #288
I will probably refactor the code to remove the numba requirement instead: Compiling the *.pyd file can be done from my sandbox and we only need to ship the new files.

[2016-08-22 08:42] amraladdin opened #301 "Embodied and Operational Energy"
For the Embodied Energy and Operational Energy, I strongly suggest the following:

1. To change in the documentation the title `Primary energy demand and emissions` to `Operational energy demand and emissions`.

2. Differentiate between the names of the output results to the following:

    * For Embodied Energy `E_ghg_ton,E_ghg_kgm2,E_pen_GJ,E_pen_MJm2`

    * For Operational Energy `O_ghg_ton,O_

[2016-08-22 08:44] JIMENOFONSECA commented on #159
@martin-mosteiro could you add the estimate, thanks?

[2016-08-22 08:44] #296 closed

[2016-08-22 08:45] JIMENOFONSECA commented on #234
@amraladdin could you add the estimate, thanks?

[2016-08-22 08:59] amraladdin commented on #234
This issue is cause I didn't run the radiation at the time.

[2016-08-22 08:59] amraladdin commented on #234
So I think we can close this issue now. @JIMENOFONSECA agree?

[2016-08-22 09:34] #234 closed

[2016-08-22 11:52] martin-mosteiro commented on #301
Separate (but related) note: if the "emissions" script calculates not only the operational greenhouse gas emissions but also the operational primary energy demand... Shouldn't it rather be called "operation"?

Even the output files are called "*_LCA_operation.csv"

[2016-08-22 12:16] amraladdin commented on #241
Issue solved when I run the radiation file for Cairo. Checking Kiruna (Swecden) now...

[2016-08-22 12:22] daren-thomas commented on #293
Fixed with PR #302...

[2016-08-22 12:44] martin-mosteiro opened #303 "Warning on embodied energy script"
The following warning message appears when running the `embodied.py` script:

`C:\Users\User\Anaconda2\envs\esri104\python.exe C:/Users/User/Documents/GitHub/CEAforArcGIS/cea/analysis/embodied.py`
`C:/Users/User/Documents/GitHub/CEAforArcGIS/cea/analysis/embodied.py:95: SettingWithCopyWarning:`
`A value is trying to be set on a copy of a slice from a DataFrame.`
`Try using .loc[row_indexer,col_ind

[2016-08-22 13:01] daren-thomas commented on #289
Here are my notes (edited to remove sensitive information) from the meeting way back when:

Datum: 31. Juli 2013, 09:00

Beteiligte:

	* Markus Zubler, Ferg und Rainer Schwab (ETH Bauten)

	*
		* Schwab Rainer (BA), Fergg Ueli (IS), Zubler Markus (PFM)

	* Daren Thomas, Christian Hersberger (SuAT)

Generell

	* HIT + HPL + HPZ gekühlt
	* Gebäude besichtigen (Reinräume / Speziallabore)

Pläne / Flä

[2016-08-22 13:03] martin-mosteiro commented on #289
Thanks! I'll take it from here then.

[2016-08-22 13:03] #289 closed

[2016-08-22 13:03] daren-thomas commented on #289
Maybe you want to talk to Zubler Markus (PFM stands for Port Folio Management, if I recall correctly). You can mention contact with me and Christian Hersberger and the date if you like. We have access to the SILOVEDA platform, but I would suggest we regain access for the CEA project as access was originally granted for the UMEM project and that is now closed.

[2016-08-22 13:24] daren-thomas opened #304 "Complete transition to `tsd` in demand script"
Complete the transition to the `tsd` variable in the demand script. This includes a refactoring of function parameters. Use this to update the documentation of the code as well.

Since the code currently works, I suggest using the MS 1.8 instead of MS 1.5.

[2016-08-22 13:55] amraladdin commented on #35
So, order of the columns should be as follows:

- Total demand (for the whole study zone):
`Name,Af_m2,Aroof_m2,GFA_m2,occ_pax,QHf_MWhyr,QCf_MWhyr,Ef_MWhyr,Qhsf0_kW,Qhsf_MWhyr,Qhs_MWhyr,Qwwf0_kW,Qwwf_MWhyr,Qww_MWhyr,Qhprof_MWhyr,Qcsf0_kW,Qcsf_MWhyr,Qcs_MWhyr,Qcref_MWhyr,Qcdataf_MWhyr,Ealf0_kW,Ealf_MWhyr,Eauxf_MWhyr,Ecaf_MWhyr,Edataf_MWhyr,Eprof_MWhyr,Tshs0_C,Trhs0_C,Tscs0_C,Trcs0_C,Tsww0_C,Vw_m3yr

[2016-08-22 13:57] amraladdin commented on #301
Is this question directed to me or Jimeno?

[2016-08-22 14:00] #301 closed

[2016-08-22 17:00] amraladdin opened #305 "Running Emissions operation error"
This might not be a huge problem, however, there's a bug.

When running the emissions operation from the CEA Toolbox, if all the following check boxes are ticked (as seen in the photo), then the tool runs smoothly:

![emissions_error00](https://cloud.githubusercontent.com/assets/16256867/17863516/32698af8-689a-11e6-98e6-4e9226cab292.jpg)

HOWEVER, if I untick any of the check-boxes, it gives me th

[2016-08-22 17:07] amraladdin commented on #241
So, when I try to run the radiation for Kiruna (Sweden), I get the following error:

![radiation_error_kiruna](https://cloud.githubusercontent.com/assets/16256867/17863795/88ce071a-689b-11e6-857f-727b9744153a.jpg)

Any idea what this might be? Or how to solve it?

In any case, this is not important for the MIBS students, so I moved the Milestone to 1.8, still, I don't think we would want to keep t

[2016-08-23 01:50] shanshanhsieh commented on #28
@JIMENOFONSECA @gabriel-happle any comment?

[2016-08-23 06:54] JIMENOFONSECA commented on #286
Yeah i was wondering about the same. would it be feasible to implement it?

[2016-08-23 08:03] daren-thomas commented on #305
I'm on it.

[2016-08-23 08:09] daren-thomas commented on #303
It would become a problem with future versions of pandas. I will look into it.

I am moving this to MS 1.8 as it does not present the error in ArcGIS 10.4 (which has a slightly older version of pandas)

![image](https://cloud.githubusercontent.com/assets/2969564/17884634/a52b822e-6919-11e6-858f-4d1d310e6463.png)

[2016-08-23 08:40] daren-thomas commented on #287
Reopened as merge has not happened yet.

[2016-08-23 08:55] daren-thomas opened #308 "Remove `ExtendInputLocator` by merging with `InputLocator`"
The mobility analysis script uses `ExtendInputLocator` but I think the functionality should be folded into the regular `InputLocator`.

@martin-mosteiro: Could you tackle this? It does not have to be done for MS 1.5 I think...

[2016-08-23 09:02] #53 closed

[2016-08-23 09:03] gabriel-happle commented on #53
tested in branch #302
no tm, ta, top jumps at beginning of heating season in all buildings in Zug case study

[2016-08-23 09:10] #45 closed

[2016-08-23 09:23] martin-mosteiro commented on #308
Yeah, this was done in order to avoid last-minute modifications of the main code for milestone 1. I'll incorporate these into the main code.

[2016-08-23 09:41] daren-thomas opened #309 "Demand graphs: Key Error when run from Toolbox"
Reproduction steps:

using Zug case study, select the first three Variables to analyse:

![image](https://cloud.githubusercontent.com/assets/2969564/17887239/da43b664-6925-11e6-9870-66a30c93ee55.png)

Expected: Script to run through.

Buggy behavior: Results in an error message.

[code]
Testing with other variables (["Ealf_kWh", "Qhsf_kWh", "Qwwf_kWh", "Qcsf_kWh"] as in the test-script) works as e

[2016-08-23 09:42] daren-thomas commented on #309
@JIMENOFONSECA any idea? I'm not sure what the script does anymore, I'd have to look back into it. Maybe there is a mismatch between names in the Totals csv file and the per-building csv file?

[2016-08-23 12:19] daren-thomas commented on #309
According to @gabriel-happle:

@daren-thomas I might be the problem. I added columns to the csv files according to an old issue 'detailed electricity' (or similar). individual building reports have more columns added than the totals file.

Hm... What do you suggest we do? I can actually check to make sure we only use columns that are in both files...

[2016-08-23 12:55] #118 closed

[2016-08-23 12:59] daren-thomas opened #310 "Split `toolbox.py` into separate files - one per tool"
We have lumped all the tools into `GUI/toolbox.py`. That was a good idea when we only had 4 tools. Now we have 8 and it is time to split it up.

[2016-08-23 13:33] martin-mosteiro opened #312 "Rename non-renewable primary energy demand in output files"
To be consistent with #301 and #306, the embodied, operational and mobility non-renewable primary energy demand in the corresponding csv output files need to be renamed as E_nre_pen, O_nre_pen and M_nre_pen, respectively.

[2016-08-23 13:34] #308 closed

[2016-08-23 14:05] daren-thomas commented on #309
Fixed in PR #313 - waiting for merge

[2016-08-23 14:06] daren-thomas commented on #309
@JIMENOFONSECA: Please test and merge.
@amraladdin: Can you do your testing magic and break this if possible?

[2016-08-24 02:44] #293 closed

[2016-08-24 08:30] #309 closed

[2016-08-24 08:31] daren-thomas commented on #286
it looks like this can be closed with the merge of #313

[2016-08-24 08:31] #286 closed

[2016-08-24 08:33] daren-thomas commented on #305
Reproduced error on my machine. I'm looking into it right now.

[2016-08-24 08:53] daren-thomas commented on #305
@amraladdin: could you please check out this branch and see if it now works for you?
@JIMENOFONSECA: could you please merge this after testing?

[2016-08-24 09:03] daren-thomas opened #315 "Refactor operation emissions script to use dicts instead of lists"
This is sample code from the operation emissions script:

[code]

This is hard to follow, since the `heating_services` list contains a list of "templates" that are then looped over. But the templates actually use positions to specify information... Instead, I propose to use a dictionary - just as quick and dirty, but easier to read:

[code]

The `'Af_m2'` part is never used, so we can remove it.
T

[2016-08-24 09:29] daren-thomas commented on #144
Added a chapter to the "Repository" section.

[2016-08-24 09:29] #144 closed

[2016-08-24 09:33] amraladdin commented on #305
Hey guys,
I'm sorry but I'm moving out of the office today, so I can't do testing till mid September.
@JIMENOFONSECA or @martin-mosteiro could you test this case instead?

Thanks!

[2016-08-25 03:41] JIMENOFONSECA opened #318 "Interactive timeseries graph"
we discussed about this in the past. It would be great to use .3ds or any other library in java to produce more interactive graphs for the tool.

[2016-08-25 07:18] #287 closed

[2016-08-25 08:21] #233 closed

[2016-08-25 08:22] #190 closed

[2016-08-25 08:25] #245 closed

[2016-08-25 08:25] #192 closed

[2016-08-25 09:14] daren-thomas commented on #318
How do I test this?

[2016-08-25 09:18] daren-thomas commented on #318
OK, I figured it out: Just run the script!

@JIMENOFONSECA: Should this really be in this milestone? Adding functionality like this includes at least two more issues to implement:
1. Update of the documentation
2. Adding to toolbox in ArcGIS (incl. testing)

[2016-08-25 09:21] daren-thomas commented on #318
It runs, but is super slow...

[2016-08-25 09:25] martin-mosteiro opened #320 "Radiation script not working in master"
Running the radiation script on the **baseline** scenario of the HQ reference case takes only about 3 minutes and generates a file radiation.csv that includes all the buildings in the **masterplan** (not baseline) scenario.

This happens when running both on ArcScene and on the command line. Running it on the command line produces the following errors:

[code]

[2016-08-25 11:37] JIMENOFONSECA commented on #318
I believe we can keep it in as an script working for research purposes. So it does not need documentation nor adding it to the toolbox. It can be just like the optimisation part we added before and that does not have an interface. Would this work?

On 25 Aug 2016, at 5:18 pm, Daren Thomas <notifications@github.com<mailto:notifications@github.com>> wrote:

OK, I figured it out: Just run the script!

[2016-08-25 11:42] daren-thomas commented on #318
@JIMENOFONSECA: Yes, this could work. But the implementation breaks the current demand plots functionality... (see discussion on PR #319) Could you please fix that?

[2016-08-25 12:57] daren-thomas commented on #288
see #321 for another way to do this: The compilation step is removed from the scripts to a cea/utilities/compile_pyd_files.py script. Therefore, numba is not required to run the CEA. The compilation requires a whole development environment to run anyway, which is waaaay to much for casual users to install!

[2016-08-25 12:58] daren-thomas commented on #288
@JIMENOFONSECA: Please test the corresponding pull request #321 and merge if satisfied.

[2016-08-25 14:24] #210 closed

[2016-08-25 14:55] martin-mosteiro commented on #320
Okay, this is a real issue. I am running the HQ scenario. I ran the radiation script on the baseline case, then on the masterplan case. Then I ran the data helper on the baseline case, then on the masterplan case. Then I ran the demand script on the baseline case and got the following error message:

Executing: DemandTool "C:\reference-case (HQ)\baseline" Zurich
Start Time: Thu Aug 25 16:50:59 201

[2016-08-25 15:09] martin-mosteiro commented on #320
After copying the reference case from the server again and following the same procedure for the baseline case only, I got the same error message. @daren-thomas could you quickly check if you have the same problem on your computer?

[2016-08-25 15:33] martin-mosteiro commented on #320
Same issue when running the Hochschulquartier baseline reference case from the command line...

[2016-08-26 03:17] #305 closed

[2016-08-26 03:27] #282 closed

[2016-08-26 11:41] daren-thomas opened #322 "Rename plots/graphs.py to plots/graphs_demand.py"
For consistency with the other plots/graphs and also to communicate what is being plotted.

[2016-08-26 11:42] daren-thomas commented on #322
@amraladdin: This might be a good task for you to get into the code workflow... just assign it to yourself if you feel up to it.

[2016-08-26 12:01] #318 closed

[2016-08-26 12:03] #288 closed

[2016-08-26 12:35] daren-thomas commented on #320
There are a couple of things going on here:

1. Running the script from the command line uses the default weather which is set to Zug 2010 (this might create different weather for you)
2. The radiation script does not work at all on my machine:

[code]

@JIMENOFONSECA: Why are the `%TEMP%\Day_N.dbf` files not produced anymore? I suggest you assign this issue to yourself since according to the git

[2016-08-26 12:38] daren-thomas opened #323 "Add command line interface for radiation script"
The radiation script can currently be run from the command line but only for default values (`gv.scenario_reference`, `locator.get_default_weather()`).

Add an `argparse` interface like the `demand_main` script has.

[2016-08-29 02:02] JIMENOFONSECA commented on #320
@martin-mosteiro @daren-thomas , there were some parts of the code that were commented, so they were not run. My bad sorry. please try again,

[2016-08-29 06:59] daren-thomas opened #324 "Implement a continuous integration server"
We need a continuous integration server to run a set of tests whenever code is merged / committed to the master branch. It should:
- download a fresh copy of the reference-case
- run the integration test (i.e. make sure each script actually runs through)
- run the set of unit tests (make sure the modules behave as expected)
  - expand set of unit tests over time

How can we simulate running the Ar

[2016-08-29 07:02] daren-thomas commented on #320
I have created a task for milestone 2.0 to implement a continuous integration server that will hopefully make it easier for us to avoid introducing breaking changes. I have a computer set aside that can be used for this. It will take time, but is probably worth it in the long run!

[2016-08-29 09:07] daren-thomas commented on #320
The radiation script seems to be working now, thanks @JIMENOFONSECA!

@martin-mosteiro: can you please check for valid data?

[2016-08-29 09:08] daren-thomas commented on #35
Pull request sent #325.

[2016-08-29 09:11] shanshanhsieh commented on #28
Fixed in pull request #317, therefore, this issue is closed.

[2016-08-29 09:11] #28 closed

[2016-08-29 09:34] amraladdin commented on #322
@daren-thomas yeah that sounds great! I'll start with it after coming back, does that sound ok?

[2016-08-29 11:26] martin-mosteiro commented on #320
The script runs, but it does still create some warnings:

[code]
(...)
[code]

[2016-08-29 12:35] martin-mosteiro commented on #320
The results are very different to the ones in the HQ reference case on GitHub, but the total yearly radiation for each building is within 6% of the reference case's.

[2016-08-29 16:40] martin-mosteiro commented on #320
The results now are quite different to the radiation data on the server but the total yearly results for each building are within 1%

[2016-08-30 02:18] JIMENOFONSECA commented on #320
@martin-mosteiro would we close the issue?

[2016-08-30 06:59] daren-thomas commented on #320
is there a way to verify the results? if not, we should close the issue.

The warnings mentioned above are just that: Warnings. And while I would like to remove all warnings from the software, the radiation script might be replaced by the next version, so I don't think we need to fix the warnings.

[2016-08-30 07:16] daren-thomas commented on #57
I'm pushing this to the next milestone: It doesn't add new features and the temporary files are currently needed - I'd have to restructure some stuff to get rid of them. We don't have time for MS1.5...

[2016-08-30 08:03] daren-thomas opened #327 "Scenario Plots no longer work!"
C:\Users\darthoma\Anaconda2\envs\esri104\python.exe C:/Users/darthoma/Documents/GitHub/CEAforArcGIS/cea/plots/scenario_plots.py
Traceback (most recent call last):
  File "C:/Users/darthoma/Documents/GitHub/CEAforArcGIS/cea/plots/scenario_plots.py", line 169, in <module>
    test_plot_scenarios()
  File "C:/Users/darthoma/Documents/GitHub/CEAforArcGIS/cea/plots/scenario_plots.py", line 165, in test

[2016-08-30 08:22] #250 closed

[2016-08-30 09:09] daren-thomas commented on #327
@JIMENOFONSECA, wasn't there an issue lately that changed the name of the `pen_MJm2` column?

[2016-08-30 09:21] martin-mosteiro commented on #327
yes, `pen_` columns are now called `nre_pen_` after solving issue #28

[2016-08-30 09:32] daren-thomas commented on #327
I pushed the fix directly to master. @JIMENOFONSECA: the operations output still uses `pen_` - is that correct??

If so, please close this issue.

[2016-08-30 09:40] JIMENOFONSECA commented on #327
I am not sure, i believe martin was working on the renaming..
________________________________
From: Daren Thomas [notifications@github.com]
Sent: Tuesday, August 30, 2016 5:32 PM
To: architecture-building-systems/CEAforArcGIS
Cc: Jimeno Fonseca; Mention
Subject: Re: [architecture-building-systems/CEAforArcGIS] Scenario Plots no longer work! (#327)

I pushed the fix directly to master. @JIMENOFONS

[2016-08-30 10:11] martin-mosteiro commented on #320
@JIMENOFONSECA: I can't really say if the current results are _better_ or _worse_ than before, just different. One key difference is that for about 10 hours in the year, the sun appears to come up one hour earlier in the new calculation.

But I'd say the results in general look feasible, so I think we can close this.

[2016-08-30 10:11] #320 closed

[2016-08-30 11:07] martin-mosteiro commented on #327
The csv files from the embodied, operation and mobility calculation all use `nre_pen_`

[2016-08-30 12:29] daren-thomas commented on #327
@martin-mosteiro, I beg to differ. Please check the master branch: `cea/analysis/operation.py` line 154:

[code]

[2016-08-30 12:33] daren-thomas commented on #312
https://github.com/architecture-building-systems/CEAforArcGIS/pull/317/files
In this pull request, the file `operation.py` is not changed. I think we didn't check the files after the merge and forgot to check in a file...

I am re-opening the issue.

[2016-08-30 13:51] martin-mosteiro commented on #327
Woops. Fixed it now.

[2016-08-30 13:54] martin-mosteiro commented on #312
Fixed this on pull request #328 . As soon as that goes through I'll close this issue.

[2016-08-31 08:49] daren-thomas commented on #312
please make sure the scenario plots also work with your changes.

[2016-08-31 09:02] #327 closed

[2016-09-02 02:32] JIMENOFONSECA opened #329 "Weird Output of coling demand in HVAc buildings"
There is a strange behavior in the hourly calculation of the cooling demand in buildings with HVAC. There are some peaks 5 times the average demand that have no relation to changes to outdoor temperature. The problem might be in the HVAC calculation model. It is difficult to jump to conclusions, but there might be something strange about it.

@gabriel-happle would you take a look at this?

![image

[2016-09-02 05:57] shanshanhsieh opened #330 "Threshold for PV installation in photovoltaic.py"
Research on what are the suitable threshold to set in Singapore.
Currently, there are two methods:
1. Certain percentage of the yearly global horizontal radiation.
2. Certain percentage of the maximum yearly radiation received in each building.

Additionally, we should look into:
3. Full load hours [h/yr] = Radiation[Wh/m2/yr]*PV efficiency/power generated per area[W/m2]
    E.g. To achieve 1000 h

[2016-09-02 06:01] shanshanhsieh opened #331 "Refine sensor categorization in photovoltaic.py"
The current categorization for surface azimuth (teta_z) is set for Zurich condition, the same condition for SG should be updated.

[2016-09-02 06:03] shanshanhsieh opened #332 "Optimal tilt angle calculation in photovoltaic.py"
Currently based on a paper (see ref. in function) that takes average yearly clearness index into account.
Research on other ways that is more suitable for Singapore (and Zurich).

[2016-09-02 06:08] shanshanhsieh opened #333 "Improve pv generation calculation taking shading into account"
This includes the assumptions in two parts: optimal spacing and mutual shading.
Currently, the optimal array spacing is calculated according to the sun at 9am on winter solstice, and assuming no mutual shading between panels.
1. Different ways to estimate optimal spacing should be researched.
2. The effect of mutual shading should be taken into account when calculate PV generation. (one possible w

[2016-09-05 02:01] gabriel-happle commented on #329
@JIMENOFONSECA I will try to fix this asap. The problem is related to the latent load. Probably something related to internal humidity gains. I don't know who changed it and what exactly was changed. But I suspect something went wrong during the testing. I encourage everyone to make use of the "full reports" option to look at the detailed hourly results and check whether they make sense.

[2016-09-05 07:31] daren-thomas commented on #329
@gabriel-happle : is there a way to formalize "check whether they make sense"? Then we could create a unit test for this...

Also, you can do a binary search on the commit history to find the commit that introduced the bug: Choose a time in the past where you know it still worked and then keep checking out the midpoint between that time and now until it stops working. Then check out the midpoint b

[2016-09-05 07:56] daren-thomas commented on #312
is this issue done? #328 was merged. Can you check all the changes are now in master and the plots work? Then we can close this task!

[2016-09-05 07:57] daren-thomas commented on #180
Moving this to the next milestone because I don't think I'll get it done in this one in time.

[2016-09-05 08:02] gabriel-happle commented on #329
@daren-thomas: apparently the problem is from a different origin. We have planned a discussion for tomorrow to decide what to do.
I will keep the search on the commit history in mind. Thanks for the tip.

[2016-09-05 08:12] daren-thomas commented on #329
@JIMENOFONSECA, @gabriel-happle: I need to get a version of the CEA fixed as soon as possible for installation for the students. The IT guy who needs to publish the tool to the computerroom is under a lot of pressure now that the semester is starting again and we shouldn't bug him too often with updates.

What is your opinion on when we can rely on the results of the master branch?

[2016-09-05 10:33] #35 closed

[2016-09-06 16:23] martin-mosteiro commented on #312
Everything works fine. Closing the issue now.

[2016-09-06 16:23] #312 closed

[2016-09-07 09:01] shanshanhsieh commented on #290
The running script is merged to the contribution branch at the moment. It will be included into the master branch when the solar radiation and geometry reader from Paul is ready.

[2016-09-07 09:01] #290 closed

[2016-09-07 09:04] shanshanhsieh commented on #283
The option to install PV panels on the vertical surfaces (walls) is included in `photovoltaic.py` in the contribution branch after merging branch #334.

[2016-09-07 09:04] #283 closed

[2016-09-07 09:09] shanshanhsieh opened #336 "Add PV generation and radiation script to the core"
The `photovoltaic.py` in the contribution branch is running with the output from Paul's radiation script.
Both pv and radiation scripts should be moved to the core when the radiation and geometry reader script is ready.

[2016-09-08 10:50] martin-mosteiro opened #337 "Radiation script not working on the masterplan scenario"
I'm running the radiation script on the masterplan scenario on ArcScene and it seems to be getting stuck after the "calculating observers" part:

I ran it again now and it's still not done after 5+ hours

[2016-09-08 14:47] martin-mosteiro commented on #337
The script works fine on the command line, so it must be a problem with the implementation on ArcScene

`
C:\Users\User\Anaconda2\envs\esri104\python.exe C:/Users/User/Documents/GitHub/CEAforArcGIS/cea/resources/radiation.py
PyTables is not installed. No support for HDF output.
SQLalchemy is not installed. No support for SQL output.
complete calculating sunrise
complete burning buildings into rast

[2016-09-12 09:26] martin-mosteiro opened #338 "Baseline and Masterplan results are inconsistent"
The results for the same buildings change widely between the baseline and masterplan scenarios.

**Baseline:**
![screen shot 2016-09-12 at 11 11 30 copy](https://cloud.githubusercontent.com/assets/18548065/18430745/13f4da46-78da-11e6-9133-abce6ccdb967.png)
Note: during the CEA workshop, we noticed that some buildings (E.G. the ETH Hauptgebäude) had extremely high heating demands caused by the fact

[2016-09-13 08:23] daren-thomas commented on #337
I just started it on the baseline zug scenario and it is running:

![image](https://cloud.githubusercontent.com/assets/2969564/18466448/0ae7f5f6-799c-11e6-9f94-d0144a448ac7.png)

I will check next with another weather file (zurich) and then move on to the masterplan scenario.

[2016-09-13 08:24] daren-thomas commented on #337
Test with baseline zug and zurich weather file works.

[2016-09-13 08:27] martin-mosteiro commented on #337
Baseline HQ with Zurich weather worked for me too. The problem was always with the Masterplan case, and only when running on ArcScene... weird.

[2016-09-13 08:30] daren-thomas commented on #337
Working on HQ masterplan with Zurich weather file:

![image](https://cloud.githubusercontent.com/assets/2969564/18466683/f4fb3950-799c-11e6-9192-19a77256a051.png)

[2016-09-13 08:42] #337 closed

[2016-09-13 08:46] daren-thomas commented on #337
Closed after confirmed it works on @martin-mosteiro 's computer too...

[2016-09-13 09:32] daren-thomas opened #339 "Error message when running demand script on HQ/baseline"
I suspect this has to do with not running the data helper first, but of course we should fix this!

[code]

[2016-09-13 13:57] daren-thomas commented on #338
I did some tests. See branch [i338-baseline-and-masterplan-results-are-inconsistent](https://github.com/architecture-building-systems/CEAforArcGIS/tree/i338-baseline-and-masterplan-results-are-inconsistent), file `tests/compare_hq_baseline_masterplan.py`.

It reads in the properties for the two scenarios. Then it prints the building names that are in common. Then it compares the architecture shape

[2016-09-13 15:24] daren-thomas commented on #338
I revised the test code and now it shows differences in the RC models for the mail building:
[code]

[2016-09-13 16:46] martin-mosteiro commented on #338
Solved the occupancy issues, ran the data helper for both the baseline and the masterplan scenarios. Checked every single shapefile for both to make sure all the information contained in them is the same (it is). The results are still different for both cases.

[2016-09-13 16:59] martin-mosteiro commented on #338
Of course, the rc_model for each case is different (as posted by Daren above). @JIMENOFONSECA does this make any sense to you?

[2016-09-14 00:59] JIMENOFONSECA commented on #338
The results should not change too much as the radiation in the building should be similar.

Just to get it right, for one building at the time, did you checked if all inputs are the same after running the properties.py?

Best, Jimeno

On 14 Sep 2016, at 00:59, martin-mosteiro <notifications@github.com<mailto:notifications@github.com>> wrote:

Of course, the rc_model for each case is different (as

[2016-09-14 08:19] martin-mosteiro commented on #338
@JIMENOFONSECA I did - for every building in the area, for every shapefile. The data in the attributes table is the same for all buildings that are contained in both files. Yet the RC-models for the buildings aren't the same (as shown by @daren-thomas above)

[2016-09-14 12:14] daren-thomas commented on #338
check to make sure ['Shape_Leng', 'Freeheight', 'FactorShade'] in the surface properties are the same. Hint: They're not!

[2016-09-14 12:16] daren-thomas commented on #338
`Awall_all` is a sum of `'Shape_Leng' * 'Freeheight' * 'FactorShade'` from `surface_properties` for the building

[2016-09-15 15:25] martin-mosteiro opened #341 "Demand calculation for HQ Masterplan scenario not working anymore"
After changing the occupancies and deleting the `Shape_Leng` and `Shape_Area` fields in the input files to be consistent with the baseline case, the demand calculation for the masterplan scenario is not working anymore...

[code]

[2016-09-17 04:17] #329 closed

[2016-09-17 08:58] JIMENOFONSECA commented on #338
@martin-mosteiro just try to debug it and see where the inputs or outputs change. while the demand script run. could the technique of Daren work in this case? apparently the inputs are different according to daren.

if you are running it via pycharm, maybe it is taking the wrong default inputs? probably weather data?

[2016-09-18 07:20] daren-thomas commented on #341
I was able to reproduce the bug... I will look into fixing it on monday...

[2016-09-19 09:10] daren-thomas commented on #341
BTW: setting multiprocessing to False makes the error message clearer:

[code]

[2016-09-19 09:16] daren-thomas commented on #341
The building in question is: MP09

[2016-09-19 09:37] daren-thomas commented on #341
Here is some more information: The error happens in the newton solver for the cooling coil. At the time of error, inside the function `fh`, the following variables are set:

[code]

The main problem seems to be the line `LMRT = (TD2 - TD1) / scipy.log(TD2 / TD1)`, as the value of `TD2/TD1` results in `(-0-0j)` and well the log for that is not a happy number: `(-inf-3.1415926535897931j)`. And a run

[2016-09-19 10:44] martin-mosteiro commented on #338
After running the radiation script for both scenarios again, the data in the surface_properties.csv file looks fairly similar for both (which makes sense, since there is very little change to these buildings in the masterplan scenario). This probably means, though, that the radiation files in the baseline case on GitHub, i.e., @amraladdin: you should probably either make the students run the radia

[2016-09-19 13:18] daren-thomas commented on #341
OK. I'm working on a fix that uses the `bisect` algorithm as a fallback when the `newton` fails.

[2016-09-19 13:48] daren-thomas commented on #341
Check out PR #342 - it includes a fallback to bisect (slower but more reliable) if the newton fails for the cooling coil temperature calculation. The masterplan runs through, but with a ComplexWarning (the complex part of the calculation seems to be truncated, but I don't know if this is a problem at all...). It would be good to check the results using @gabriel-happle 's debug output method.

[2016-09-20 06:27] daren-thomas commented on #341
In this case, the documentation of the function should state restrictions on inputs, e.g. a valid range of inputs. Also, unit testing should test the boundaries of this function. I will create an issue to fix this. @JIMENOFONSECA Maybe we can work together on that one? This is probably also the case for the heating coil and tabs calculations.

Ideally, a function should check its inputs for valid

[2016-09-20 06:29] daren-thomas commented on #341
We are still left with the problem that the program creates an invalid state - the bisect algorithm patched that under the assumption that the newton algorithm does not converge for all cases - which is generally true but might not be in this special case.

@JIMENOFONSECA: I think we might need help debugging this problem as your domain knowledge would greatly increase our chances of finding the b

[2016-09-20 06:36] daren-thomas opened #343 "Document range of valid input values for `calc_cooling_coil` and `calc_heating_coil` and check them"
As noted in the issue #341, the functions don't work for all inputs. This issue involves:
- documenting the valid ranges of the inputs as part of the function documentation
- checking those ranges (e.g. with `assert`) at the beginning of the function (see https://wiki.python.org/moin/UsingAssertionsEffectively)
  - NOTE: `assert` statements can be switched off when the script is run for production

[2016-09-20 06:36] daren-thomas commented on #343
@JIMENOFONSECA: Your help with this issue would be greatly appreciated.

[2016-09-20 08:04] daren-thomas commented on #341
This is the list of local variables when the `newton` fails:

[code]

[2016-09-20 08:11] JIMENOFONSECA commented on #341
the problem is with Ta_re_cs and Ta_sup_cs being the same. does this happen for the time before? are we using the version of CEA of the master right?

[2016-09-20 08:13] daren-thomas commented on #341
I moved to the branch of the pull merge, but it is up-to-date with master. Yes, I saw these are the same. I am now testing to see if there are other instances when they are the same.

How can they end up that way?

[2016-09-20 08:16] JIMENOFONSECA commented on #343
I see we have identified one in the newton function. the problem is with infinite values when two temperatures are the same. valid ranges are really difficult to know or describe for any function apriori. so i guess if we want to document this. we need to to run every function with different inputs until they brake...

[2016-09-20 08:21] JIMENOFONSECA commented on #341
not sure... but the best way to see it is to check the value of the variables before the error. did you check the inputs for the building in the shapefiles? It can be that some of the properties are 0 and then the algorithm just crashes when it does not find a balance.

[2016-09-20 08:22] daren-thomas commented on #341
Ta_re_cs and Ta_sup_cs are often equal! I just checked. In fact, when running the masterplan scenario, this state happens 10'860 times! It only falls back to the bisect once.

[2016-09-20 08:26] JIMENOFONSECA commented on #341
mmm....ok i will need to see the data... coudl you upload the case study and tell me which building name?

[2016-09-20 08:27] daren-thomas commented on #341
The case study is the hq masterplan from the repository. The building name is MP09.

[2016-09-20 08:31] martin-mosteiro commented on #341
@JIMENOFONSECA: The problem seems to be the new buildings, not the old ones. out of these, the only values in the input files that are zero are height below ground (for some buildings which have none) and renovation years - which are zero since they have never been renovated. So unless the renovation year convention has changed (I can't seem to find it in the manual anymore), the values given shou

[2016-09-20 08:37] martin-mosteiro commented on #341
All other inputs (including those generated by the data helper) appear reasonable.

[2016-09-20 08:39] JIMENOFONSECA commented on #341
what is the occupancy of the building?

[2016-09-20 08:39] martin-mosteiro commented on #341
Hospital

[2016-09-20 09:00] martin-mosteiro commented on #341
The scenario works perfectly with Zug weather.

[2016-09-20 09:00] daren-thomas commented on #341
I went ahead and plotted `fh(x)` for the offending case (see input data above):

![image](https://cloud.githubusercontent.com/assets/2969564/18664020/3f47ecc2-7f21-11e6-9982-1cd2eb6941a3.png)

Notice how there are multiple solutions? Also, note that python throws some warnings:

[code]

[2016-09-20 09:03] daren-thomas commented on #341
Compare to a case with Ta_re_cs = Ta_sup_cs + 1:

![image](https://cloud.githubusercontent.com/assets/2969564/18664132/afc6ebd8-7f21-11e6-9118-1d1edb2d1824.png)

[2016-09-20 09:09] daren-thomas commented on #341
![image](https://cloud.githubusercontent.com/assets/2969564/18664399/aa039c2c-7f22-11e6-8f38-7be567957057.png)

Note here that the starting value for x is the red line.

[2016-09-20 09:27] martin-mosteiro commented on #341
Given that the inputs all seem to be consistent and the scenario works with other weather, I do think the multiple minimums that @daren-thomas are the most likely explanation. I would go forward with using the bisect algorithm for the MIBS course. I will continue testing the scenarios ( #340 ) using this fallback solution for now.

[2016-09-20 09:59] martin-mosteiro commented on #338
The results from both scenarios are now a lot more reasonable, see the following examples as above:

**Baseline scenario**
![screen shot 2016-09-20 at 11 54 27 copy](https://cloud.githubusercontent.com/assets/18548065/18665871/73d63f0e-7f29-11e6-93f8-dd3b1226ac33.png)

**Masterplan scenario**
![screen shot 2016-09-20 at 11 53 41 copy](https://cloud.githubusercontent.com/assets/18548065/18665885/89

[2016-09-20 11:21] martin-mosteiro commented on #338
Results look good. Closing now.

[2016-09-20 11:21] #338 closed

[2016-09-20 14:49] daren-thomas commented on #343
Actually, no. Valid ranges can be known apriori. In these functions it may be a bit difficult because it is more a relationship of value ranges, but we know that `TD1` must never be zero, for instance and that is `tc - (k2 + x)` and that is... well, you get the picture...

Another thing is to specify that the two temperatures (which ones exactly? I'm guessing `Tcs_sup_0` and `Tcs_ret_0`) must neve

[2016-09-21 02:52] JIMENOFONSECA opened #344 "Rading latitude/longitude form raster not always working"
For some case studies with coordinate systems different to the Swiss, the latitude of the raster is read under a different variable to Latitude. As we can not foresee which case studies and coordinates systems we will gonna be dealing with in the future i suggest to let the user decide the latitude and longitud directly in the GUI of the script radiation.py.

In the next figure you can notice how

[2016-09-21 07:58] daren-thomas commented on #344
Sure! I'm on it!

[2016-09-21 07:59] daren-thomas commented on #339
fixed in PR #342

[2016-09-21 07:59] #339 closed

[2016-09-22 07:55] martin-mosteiro commented on #341
The merge solves this issue. Since we already had similar issues with other weather files (Cairo and Sweden come to mind), maybe @amraladdin could test these cases again to see if this merge solves those previous issues as well.

However, the issue with the masterplan scenario has been solved, so it will now be closed.

[2016-09-22 07:55] #341 closed

[2016-09-22 07:56] martin-mosteiro commented on #241
@amraladdin I believe #341 had quite a bit in common with the errors we were getting for Cairo. So you might want to try these weather files again and see if they work now.

[2016-09-22 07:59] JIMENOFONSECA commented on #341
Be aware you need to test the right weather file, so the right latitude and longitud.
you have also to specify the cooling and heating season variable in global vars...

On 22 Sep 2016, at 3:55 pm, martin-mosteiro <notifications@github.com<mailto:notifications@github.com>> wrote:

The merge solves this issue. Since we already had similar issues with other weather files (Cairo and Sweden come to mi

[2016-09-23 14:06] martin-mosteiro opened #345 "Swiss database contains calculation errors"
The current supply_system database includes the following values (the units are not shown in the database, so they are my assumption):

**T1 - swiss consumer energy mix:** 2.63 kWh PEN/kWh and 0.0413 kg CO2/kWh
**T2 - PVT panel - monocrystalline roof top:** 0.278 kWh PEN/kWh and 0.0202 kg CO2/kWh
**T3 - PVT- monocrystalline roof top:** 0.222 kWh PEN/kWh and 0.0108 kg CO2/kWh
**T4 - swiss consumer

[2016-09-23 14:35] martin-mosteiro commented on #345
I just corrected the mistakes in the Excel file. The only thing missing is the source of the factors used.

[2016-09-27 04:29] JIMENOFONSECA commented on #345
Hi, the source are the ökobilanzdaten analysis of the kbob for buildings

https://www.kbob.admin.ch/dam/kbob/de/dokumente/Publikationen/Nachhaltiges%20Bauen/Empfehlung_Oekobilanzdaten_Baubereich_2009_1_2014.pdf.download.pdf/Empfehlung%20Ökobilanzdaten%20im%20Baubereich%202009/1_2014.pdf

Best, Jimeno

On 23 Sep 2016, at 22:06, martin-mosteiro <notifications@github.com<mailto:notifications@github.c

[2016-09-29 02:39] JIMENOFONSECA commented on #345
btw, I am afraid something is happening with the databases. This error was corrected about twice already last year... did you modified the master?

[2016-09-29 08:53] martin-mosteiro commented on #345
I had modified the master, yes. My apologies for not creating a branch, I should have done that.

[2016-09-29 08:54] JIMENOFONSECA commented on #345
@martin-mosteiro no problem, next time..

[2016-09-29 08:55] #345 closed

[2016-09-29 14:16] daren-thomas commented on #295
wishlist:
- rename "reference-case (HQ)" to "reference-case-hq"
- make sure radiation data is present in each reference case
- delete old reference cases:
  - reference-case dbf
  - reference-case old
  - reference-case
  - NOTE: they will still sit in GitHub forever, but you can add a tag to the current version before deleting if you want quick access (hint: we probably don't)
- move the measurem

[2016-09-29 14:20] daren-thomas commented on #295
Also, we can update `.gitignore` to ignore the `.csv` files in `outputs/data/...`

[2016-09-29 14:31] daren-thomas opened #346 "Radiation data missing from reference-case-zug"
Steps to reproduce:
1. Download reference-case-zug from repo
2. run data helper
3. run Demand script with weather=Zug
4. ???
5. Boom!!

[code]

[2016-09-29 14:33] daren-thomas commented on #346
Currently running radiation script with these parameters: weather=Zug, year=2014

[2016-09-29 14:43] martin-mosteiro commented on #346
I followed the above steps 1 through 3, but step 4 never happened:

[2016-09-29 14:45] martin-mosteiro commented on #346
Edit: the version of the reference case Zug that is copied on my hard drive works perfectly. The one on GitHub, however, doesn't. i.e., I reproduced the above error. I'm having a look at it now.

[2016-09-29 14:57] daren-thomas commented on #346
I tried running the radiation script as mentioned above, but it fails with the following error:

Executing: RadiationTool C:\reference-case-zug\baseline Zug 2014
Start Time: Thu Sep 29 16:32:49 2016
Running script RadiationTool...
longitude: 7.43958333333
latitude: 46.9524055556
complete calculating sunrise
complete burning buildings into raster
complete calculating boundaries
complete calculating

[2016-09-29 15:11] martin-mosteiro commented on #346
Well, the first issue is easy to clarify. There is no radiation data on the reference case on Github. So the demand script obviously doesn't work. So the first problem in this issue is not a problem at all.

The issue is rather that the Radiation tool doesn't work...

[2016-09-29 15:29] daren-thomas commented on #346
This issue is all about the radiation data being missing. That the radiation tool doesn't work is a separate issue (i guess) which might be solved by solving this issue.

@JIMENOFONSECA, do you have any ideas why we are seeing this? And how to fix it?

[2016-09-29 15:39] martin-mosteiro commented on #346
The radiation tool is supposed to create the `surface_properties.csv` file that it later cannot find. i.e., the problem is that the `surface_properties.csv` file is not being created.

[2016-09-29 15:54] daren-thomas commented on #346
OK! I figured it out! the script is trying to WRITE the `surface_properties.csv` file, but the folder does not exist. I will fix the `InputLocator` to create this folder.

[2016-09-30 00:58] JIMENOFONSECA commented on #295
I think it is good to organize it. Would you go ahead with the changes?

On 29 Sep 2016, at 22:23, Daren Thomas <notifications@github.com<mailto:notifications@github.com>> wrote:

wishlist:

  *   rename "reference-case (HQ)" to "reference-case-hq"
  *   make sure radiation data is present in each reference case
  *   delete old reference cases:
     *   reference-case dbf
     *   reference-case

[2016-09-30 03:44] shizhongming opened #347 "Network map of urban components and energy system with D3"
![slack for ios upload](https://cloud.githubusercontent.com/assets/16640327/18980154/05c91ddc-8704-11e6-86f0-74864b088a40.jpg)
Found the connections between urban design components with urban energy systems components, based on the outcome of the MuSES workshop on 16 Sept 2016

[2016-09-30 08:38] daren-thomas commented on #346
OK. So PR #348 can fix this issue automatically. I have now run the radiation data and am created a PR for the reference-case repo: https://github.com/architecture-building-systems/cea-reference-case/pull/7

@JIMENOFONSECA can you check this and merge?

[2016-09-30 09:02] daren-thomas commented on #295
Sure. You OK with the proposed changes? I suggest also removing the `__init__.py` files from the reference cases...

[2016-09-30 09:24] JIMENOFONSECA commented on #295
yes, now we have a way to create the folders automatically right? does this include the folders for optimizaiton?

[2016-09-30 10:44] martin-mosteiro commented on #188
Based on @JIMENOFONSECA's feedback, this method seems to have no advantage, so it will not be pursued any further.

[2016-09-30 10:44] #188 closed

[2016-09-30 11:06] daren-thomas commented on #295
Hm. Not yet. But I have an idea :) I'll create an issue for this.

[2016-09-30 11:11] daren-thomas opened #349 "Ensure `InputLocator` functions create folders if they don't exist yet"
In order to remove the `__init__.py` files from the reference-case folder structures, we need to make sure that paths returned from the `InputLocator` actually reference existing folders. This can be done with the `os.makedirs` function as used in the PR #348. Make sure this technique is applied for all such folders.

Implementation hint: Extract a function "ensure_folder_exists" and wrap the `ret

[2016-10-05 14:23] #191 closed

[2016-10-05 14:25] #205 closed

[2016-10-05 14:26] #207 closed

[2016-10-05 14:44] daren-thomas opened #350 "Add `pool.close()` to `demand_main.thermal_loads_all_buildings_multiprocessing`"
At the end of `thermal_loads_all_buildings_multiprocessing` a `pool.close()` will close down additional python processes. If the demand scripts are being run in an optimization loop, this prevents a memory leak that Paul found.