[2018-05-03 15:15] amraladdin commented on #1230
UPDATE
--------
@JIMENOFONSECA @gabriel-happle @BhargavaKrishnaSreepathi @shanshanhsieh @shizhongming @martin-mosteiro For your PPT template presentation, please modify the master slide as follows:
- Reduce font size for the reference area (at the lower part of the slide) to 8pt instead of 9pt. Otherwise, some references take a big space and overlap with the below logos.
- In case of having one pi

[2018-05-04 04:02] martin-mosteiro commented on #1230
May I suggest another minor change?
I find all the footnotes a bit distracting as they are. So in my presentation I changed their color to gray (*) as in the picture below. I find it a bit less distracting/cluttered that way. Any opinions?

(*) I used the same shade of gray as in the "The 2018 executive course on Urban Energy Systems", based on @amraladdin's feedback on slide design every time I p

[2018-05-04 04:06] JIMENOFONSECA commented on #1230
@amraladdin do you think you can present next Thursday from 3pm - 5-pm Singapore time. The idea is that you wakk us through your slides. no need to prepare a speech. The team will be there to give feedback.

[2018-05-04 05:25] JIMENOFONSECA commented on #1271
on it

[2018-05-04 05:31] JIMENOFONSECA commented on #1271
@amraladdin done

[2018-05-04 05:31] #1271 closed

[2018-05-04 05:46] JIMENOFONSECA commented on #1270
@amraladdin so, yep, we have not updated it completely. I will update the development status, but a new roadmap will be discussed during our meeting of the 9th of July.

[2018-05-04 05:50] #1270 closed

[2018-05-04 05:52] #1110 closed

[2018-05-04 06:01] JIMENOFONSECA commented on #1108
@amraladdin checked!

[2018-05-04 06:01] #1108 closed

[2018-05-04 06:03] JIMENOFONSECA commented on #1103
@amraladdin would you mind giving us some more details? I guess @gabriel-happle can give a better update about this. I am adding him to the issue instead of me.

[2018-05-04 06:08] BhargavaKrishnaSreepathi commented on #1223
Fixed in PR #1265

[2018-05-04 06:08] #1223 closed

[2018-05-04 06:10] BhargavaKrishnaSreepathi commented on #1042
Done in PR #1251

[2018-05-04 06:10] #1042 closed

[2018-05-04 06:10] BhargavaKrishnaSreepathi commented on #1079
included for cooling in #1251

[2018-05-04 06:10] #1079 closed

[2018-05-04 06:11] BhargavaKrishnaSreepathi commented on #1154
done in PR #1251

[2018-05-04 06:11] #1154 closed

[2018-05-04 06:11] BhargavaKrishnaSreepathi commented on #1155
Done in PR #1251

[2018-05-04 06:11] #1155 closed

[2018-05-04 06:12] BhargavaKrishnaSreepathi commented on #748
Done for cooling in PR #1251

[2018-05-04 06:12] #748 closed

[2018-05-04 06:13] #944 closed

[2018-05-04 06:14] BhargavaKrishnaSreepathi commented on #747
Done in PR #1251

[2018-05-04 06:14] #747 closed

[2018-05-04 06:15] #776 closed

[2018-05-04 09:50] amraladdin commented on #1230
@Martin, I definitely agree. Could you specify which greay color you're using from the PowerPoint color template? Maybe take a screenshot and post it here?

@Jimeno, of course! So that would be from 9-11 Zurich time. It's a holiday, so ill probably connect from home from my personal Skype account if that's ok.

[2018-05-04 09:58] martin-mosteiro commented on #1230
The HEX code is 898989. It's not one of the standard colors in my version of Powerpoint, but it's the one used in the text above in the slide.

[2018-05-04 13:52] amraladdin commented on #1271
Super!

[2018-05-04 13:54] amraladdin commented on #1230
You mean the RGB value? I used the following color... Let me know if this is what you meant or not.
R = 89
G = 89
B = 89

[2018-05-04 14:50] Jack-Hawthorne opened #1272 "Update of cea module documentation"
found out much of the documentation was being omitted due to a bad initial build.
might be important to note the following execution when building api using sphinx-apidoc:

sphinx-apidoc -fMeT ../cea -o modules

this rewrites the documentation into the docs/modules dir and creates a new rst for each module, without a module contents toctree at the end

[2018-05-04 15:47] amraladdin commented on #1270
Great! Thanks!

[2018-05-07 08:01] daren-thomas commented on #1272
hey @Jack-Hawthorne could you put that command into a batch file to be run in future? keep it in the `docs` folder or something?

[2018-05-07 11:45] Jack-Hawthorne commented on #1272
@daren-thomas  the only problem is that it creates new untracked files everytime a make command is run from docs. This really clogs up a git branch with around 250 new files, making change tracking pretty messy. Are you sure this is advantageous?

[2018-05-08 01:35] #1255 closed

[2018-05-08 01:38] #1248 closed

[2018-05-08 03:34] BhargavaKrishnaSreepathi opened #1275 "issue encountered in optimization when the network is trying to access all the network file corresponding to all builindgs being connected"

[2018-05-08 07:51] daren-thomas commented on #1272
@Jack-Hawthorne let's have a look at this together next time you're in the office, ok?

[2018-05-08 07:57] #907 closed

[2018-05-08 08:55] roglen opened #1277 "Choose and automatically delete edges in optimization"
Output edges with low massflows to file. Read in, identify which edge to delete, and automate deletion process.

[2018-05-09 02:25] shanshanhsieh opened #1278 "update python functions according to new library versions for solar technologies"

[2018-05-09 04:06] roglen opened #1279 "Update pressure loss calculation in thermal network matrix"
Add pressure loss at buildings (HEX and valves)

[2018-05-09 06:07] #1277 closed

[2018-05-09 06:11] shizhongming commented on #1264
Thanks. The script runs on Pycharm now after I install the processing thing. Still now on arcgis Map. But at least I can run the tool now.
Thanks again.

[2018-05-09 06:11] #1264 closed

[2018-05-09 06:14] shizhongming opened #1280 "A small bug in "create-a-new-project""
It seems that there is a small bug in the script of "create-a-new-project". With a given occupancy.dbf, the script will ignore it and overwrite anyway with the default occupancy.dbf..

[2018-05-09 06:39] roglen opened #1281 "Implement time step reduction for thermal network matrix"
Add code to run thermal network matrix for e.g. 1 week of each month instead of full year. Compare results.

[2018-05-09 06:48] roglen opened #1282 "CEA Validation only partially moved to new repository"
Due to the large volume of validation files for the thermal network matrix a new repository several months ago and validation files are being added there.
This makes the existing 'thermal_networks' folder in the `CityEnergyAnalyst\validation` repository redundant.
I believe we should move all of the validation files to the `cea-validation` repository.

Question: Would this add a huge amount of del

[2018-05-09 07:39] shanshanhsieh commented on #1025
cold water storage is implemented, ice storage is a new issue #1199

[2018-05-09 07:39] #1025 closed

[2018-05-09 07:41] shanshanhsieh commented on #1162
i can't replicate the error at the moment...
we can reopen an issue if the problem comes up again

[2018-05-09 07:41] #1162 closed

[2018-05-09 07:42] shanshanhsieh commented on #757
is this resolved, @BhargavaKrishnaSreepathi ?

[2018-05-09 07:45] BhargavaKrishnaSreepathi commented on #757
we are actually dealing with this in a different way now. We are still assuming the upper bound of the available area to be the maximum roof area. So I dont think this is resolved, but I am not sure if this is something to be resolved?

[2018-05-09 07:51] #757 closed

[2018-05-09 08:33] #1278 closed

[2018-05-10 02:23] shanshanhsieh opened #1285 "Qcsf in demand total not properly aggregated"
![image](https://user-images.githubusercontent.com/16998305/39848872-18d95084-543c-11e8-8901-897fbcc3a11e.png)

[2018-05-10 02:26] gabriel-happle commented on #1192
can be connected with #1285

[2018-05-10 02:27] gabriel-happle commented on #1103
Sorry. No time for this.

[2018-05-10 02:58] gabriel-happle opened #1286 "building comfort chart does not work for "summer only" case"
Comfort chart not working for Singapore.

[code]

[2018-05-10 07:38] gabriel-happle commented on #1285
@shanshanhsieh as discussed this is not a bug. Please close this issue if no further action is required.

[2018-05-10 07:39] #1285 closed

[2018-05-11 02:44] roglen opened #1288 "Substation design only calling cooling HEX design"
Quick fix but needs output numbers to be verified properly.

[2018-05-11 05:38] shanshanhsieh opened #1289 "plot hourly results from solar technologies"

[2018-05-11 05:56] #539 closed

[2018-05-11 06:00] #1187 closed

[2018-05-11 06:01] #85 closed

[2018-05-11 06:08] gabriel-happle opened #1290 "Arcgis plotting interface: "solar-potentials" is a confusing name"
"solar-potentials" plotting creates files named "solar-radiation". Maybe we can rename the plotting function to "solar-radiation" as well?
After all, it visualizes the results of the "solar radiation" script.

what does @JIMENOFONSECA think?
Can I assign this issue to @daren-thomas?

[2018-05-11 06:16] gabriel-happle opened #1291 "ArcGIS Interface Heatmaps not working"
There is an ArcGIS python error when trying to run the `heatmaps` tool in ArcGIS.

![image](https://user-images.githubusercontent.com/17002288/39909440-69d0ee72-5525-11e8-8a0c-3b31ab7a97b8.png)

@JIMENOFONSECA @amraladdin are we planning to use this feature in the executive course?
@daren-thomas can I assign this issue to you?

[2018-05-11 06:29] gabriel-happle opened #1292 "ArcGIS interface: Single building plots not possible"
The field in the ArcGIS interface to input single buildings for plotting is not "active", i.e., single building plots can not be created via ArcGIS.

![image](https://user-images.githubusercontent.com/17002288/39909921-76eb0faa-5527-11e8-8ef2-3a518e0d4260.png)

@daren-thomas can I assign this issue to you?

[2018-05-11 06:38] gabriel-happle opened #1293 "energy demand plots: wrong percentage values displayed in plotly hovertext"
![image](https://user-images.githubusercontent.com/17002288/39910215-c3034564-5528-11e8-9636-94fc325a835f.png)

as discussed with @JIMENOFONSECA this will be addressed directly in the branch of PR #1284

[2018-05-11 06:39] JIMENOFONSECA commented on #1290
@gabriel-happle I agree, it makes sense

[2018-05-11 07:16] amraladdin commented on #1291
Hey Gabriel, thanks for spotting this...

In my opinion, it would be nice to have it, but it's not a priority.
So if we're able to fix the error quickly, that's perfect, if not, we will have to find a way to show them what can be done with the heatmaps tool without actually using it. @JIMENOFONSECA what do you think?

[2018-05-11 07:57] JIMENOFONSECA commented on #1291
mm it is tricky. I think is good for visualisation, but if there are other better ways to show more tangible results I will use them.

If it is something good to have in CEA I would opt for fixing it.

On 11 May 2018, 3:16 PM +0800, Amr Elesawy <notifications@github.com>, wrote:

Hey Gabriel, thanks for spotting this...

In my opinion, it would be nice to have it, but it's not a priority.
So if we

[2018-05-11 08:03] roglen opened #1294 "key Error 'SINGLE_RES' in mobility.py of LCA"
I get the following error message:

`Running mobility with scenario = C:\Users\LennyRo\Dropbox\ETH\Master HS16\Master Thesis\Master-Thesis-LR\reference-case-WTP\RES_high_density\baseline
Traceback (most recent call last):
  File "C:/Users/LennyRo/Documents/CityEnergyAnalyst/cea/analysis/lca/mobility.py", line 90, in <module>
    main(cea.config.Configuration())
  File "C:/Users/LennyRo/Documents/C

[2018-05-11 08:05] daren-thomas commented on #1148
considered. not going to do it for the moment.

[2018-05-11 08:05] #1148 closed

[2018-05-11 08:06] daren-thomas commented on #1227
@gabriel-happle can you please provide a test-case? a minimal reproduction of the error?

[2018-05-11 08:07] daren-thomas commented on #1225
merged long time ago :-)

[2018-05-11 08:07] #1225 closed

[2018-05-11 08:11] #1142 closed

[2018-05-11 08:33] gabriel-happle commented on #1227
@daren-thomas that error was spotted while processing the `void_deck` column an older version of the `architecture.dbf` file of the ecocampus with the `demand` script (or `data-helper`, I don't remember anymore) .

I have to zip it to attach the file here:
[architecture.zip](https://github.com/architecture-building-systems/CityEnergyAnalyst/files/1994526/architecture.zip)

What is weird (and I'm r

[2018-05-11 09:02] BhargavaKrishnaSreepathi opened #1295 "cost analysis plots for CEA"
Based on the saved files, develop cost plots.

[2018-05-11 09:04] #922 closed

[2018-05-11 09:07] #1253 closed

[2018-05-11 09:26] amraladdin opened #1296 "Create a glossary for the CEA Executive Course"
Create a glossary that contains:
- Create a table with the common terminology/definitions used in the CEA Executive Course and the urban energy domain.
- Create/update a variables list and their meaning, so we can print it and provide the attendees with it.

Make sure to agree with @daren-thomas on the correct hierarchical organization of the document.

[2018-05-11 09:37] #1136 closed

[2018-05-11 09:37] #1230 closed

[2018-05-11 09:38] #1211 closed

[2018-05-11 09:38] #1210 closed

[2018-05-11 09:38] #1209 closed

[2018-05-11 09:48] #1137 closed

[2018-05-11 09:50] Jack-Hawthorne opened #1297 "api-update-demand-airconditioning_model"
creating a new documentation issue each module
Priority:
Fix any build issues with current documentation
Update any missing documentation

[2018-05-11 09:53] gabriel-happle commented on #1292
duplicate of #1222

[2018-05-11 09:56] JIMENOFONSECA commented on #1296
btw, there is one table already in the executive channel in slack

[2018-05-11 09:56] shanshanhsieh commented on #1296
https://docs.google.com/spreadsheets/d/149Ugw8BfKI_2wMzOrHHVN3D8pOff29eQIzWg8y9Qy9k/edit#gid=0

[2018-05-11 10:06] Jack-Hawthorne commented on #1297
@gabriel-happle what is the bpr in the script?
Also, is the x_ve_mech the humidity mass fraction? Thanks!

[2018-05-11 10:14] #1153 closed

[2018-05-11 10:15] gabriel-happle commented on #1297
@Jack-Hawthorne bpr is the 'BuildingPropertiesRow' object. Basically all the information about the building. You can copy the documentation of an already documented function in `demand`.

yes. `x_ve_mech` is the humidity content of mechanical ventilation air, should be in [kg/kg dry air]

[2018-05-11 11:12] Jack-Hawthorne opened #1298 "api-demand-building-properties"
updating documentation for building properties

[2018-05-11 11:28] martin-mosteiro commented on #1111
Worth noting: the tutorial **What are the default databases of CEA?** is incomplete, the section on the construction properties database (i.e., construction_properties.xlsx) only describes the 'ARCHITECTURE' tab.

[2018-05-11 11:33] #1161 closed

[2018-05-11 11:34] martin-mosteiro commented on #1112
Looks good to me, I haven't changed input geometries in a while but unless ArcGIS has changed some functionality it should still be correct.

[2018-05-11 11:35] #1112 closed

[2018-05-14 01:36] roglen commented on #1288
Checked with HISAKA online calulator, seems to be in order!

[2018-05-14 02:51] shanshanhsieh opened #1300 "disconnected building calculation - boiler out of range"
This is the error message when running decentralized building from ArcGIS toolbox

![image](https://user-images.githubusercontent.com/16998305/39975787-36e1a3f4-5763-11e8-888f-ac3c8a6cde76.png)

[2018-05-14 02:52] gabriel-happle commented on #1294
Same for me when running my test scenario from ArcGIS interface.

[2018-05-14 02:52] #749 closed

[2018-05-14 06:56] gabriel-happle opened #1301 "Bug testing optimization: "Missing network edge list""
[code]

[2018-05-14 07:06] roglen opened #1302 "Workflow guide needs editing"
- Numbering is wrong (1. 3. 3. 4.)
- 'Data helper' step is missing

@JIMENOFONSECA I guess this falls under you?

[2018-05-14 07:54] martin-mosteiro commented on #1294
Strange. I am not able to replicate the issue on Pycharm. Does the issue only happen for you when you are running it from ArcGIS?

[2018-05-14 08:36] roglen commented on #1294
I got the issue running from Pycharm.
Both Gabriel and I have fresh installs of CEA though, so it might be a library issue? We recently updated the libraries installed with CEA so this might be causing the issue.

[2018-05-14 08:46] gabriel-happle commented on #1301
@daren-thomas this issue seems to have many aspects.
one of them seems to be that the ArcGIS interface of `optimization` and `thermal networks` does not modify/change and save the `config` file in the right way.
I.e., changes in the ArcGIS window are only partly transferred to the config file

[2018-05-14 08:47] gabriel-happle commented on #1294
I'm running in ArcGIS.
and we are talking about the new Singapore WTP case studies here.
My case study for testing is number 03.

[2018-05-14 08:49] martin-mosteiro commented on #1294
I'll do a fresh install of CEA as well, see what happens.

[2018-05-14 09:29] #1192 closed

[2018-05-14 10:19] shanshanhsieh commented on #1111
the *Renewable Energy Assessment tool* is updated now

[2018-05-14 11:13] gabriel-happle opened #1303 "BUG: Decentralized Supply system failed to execute"
[code]

[2018-05-14 11:14] gabriel-happle commented on #1303
Assigning this to you @BhargavaKrishnaSreepathi .

[2018-05-14 11:15] gabriel-happle commented on #1303
duplicate of #1300

[2018-05-14 11:17] #1293 closed

[2018-05-14 11:17] #1286 closed

[2018-05-14 18:14] martin-mosteiro commented on #1294
Okay, I have now been able to replicate the error. I can now look into fixing it.

[2018-05-14 18:25] martin-mosteiro commented on #1294
Okay, easy peasy fix. The error only occurred for the Singapore case because there are less occupancy types in the reference case. I've fixed the error now (see #1304).

[2018-05-15 01:05] roglen commented on #1302
Also in the optimization part a step needs to be added:
- run preprocessing/disconnected_building_main.py (decentralized optimization)

[2018-05-15 01:35] #1258 closed

[2018-05-15 03:42] JIMENOFONSECA opened #1305 "bug error when building does not have cooling or heating in optimization"
to replicate error run open case for the district heating case. it breaks in the optimization main step.

I think it is in 'B06' which is a parking lot without heating or cooling.

![image](https://user-images.githubusercontent.com/8973186/40035600-0efdee88-5835-11e8-8ea2-c23e4ca4c3a5.png)

[2018-05-15 03:45] shanshanhsieh commented on #1300
basically, the boiler model does not support temperature higher than 100 C, i will implement another boiler model with higher supply temperature

[2018-05-15 05:17] BhargavaKrishnaSreepathi commented on #1305
@JIMENOFONSECA: is it on the Master branch?

[2018-05-15 05:17] JIMENOFONSECA commented on #1305
yep

Kind regards,

Dr. Jimeno A. Fonseca
Senior Researcher and Project Coordinator
Multi-Scale Energy Systems for Low-Carbon Cities (MuSES)
Future Cities Laboratory
Singapore ETH-Centre

Chair of Architecture and Building Systems
Institute of Technology in Architecture
ETH Zurich

Scientific Advisory Committee
Energy and Sustainability 2017

On 15 May 2018, 1:17 PM +0800, Bhargava Krishna Sreepat

[2018-05-15 07:06] JIMENOFONSECA opened #1307 "As a Researcher I want to define multiple dashboards to analyze my data"
This should include the following features:

- add new dashboard to the navigation menu (with custom name)
- add plots to a dashboard (above / below existing plots)
  - hierarchy: plot category / plot name / plot parameters / scenario(s)
  - OR: Wizard?? say... the settings wrench top right of plots opens the wizard for defining plot properties
- remove plots
- change position of plots relative to

[2018-05-15 07:08] JIMENOFONSECA opened #1308 "Make file dialog for all scripts in the new dashboard"
At the moment we need to write manually the path to a file or folder in the dashboard. There should be a file dialog instead of this.

[2018-05-15 07:10] JIMENOFONSECA opened #1309 "Add file/folder selection dialogs to the dashboard interface for scenario / weather file selection"
In the Project page of the dashboard, a file selection dialog should allow the user to navigate to the weather file to use. Also, a folder selection dialog should allow the user to navigate to the scenario to use.

Add these selection dialogs also to any `FileParameter` and `PathParameter` parameters for the tools section of the dashboard.

Maybe create a "weather file selection" thing like used i

[2018-05-15 07:17] JIMENOFONSECA opened #1310 "Inputs of dashboard / add dialog to save/discard changes?"
- One button for 'restore defaults'
- One button for 'save'

[2018-05-15 07:18] JIMENOFONSECA opened #1311 "Inputs dashboard is missing "restrictions' database"

[2018-05-15 07:19] JIMENOFONSECA opened #1312 "Inputs / dashboard need a map of the district to select between buildings"

[2018-05-15 07:21] JIMENOFONSECA opened #1313 "Tools/ dashboard add RUN button to the bottom"

[2018-05-15 07:30] daren-thomas opened #1314 "Add link from Help menu in dashboard to GitHub issues"
- rename the link to "Report an Issue"
- known issues (http://city-energy-analyst.readthedocs.io/en/latest/known-issues.html)

[2018-05-15 07:33] daren-thomas opened #1315 "Update tool list in dashboard to conform with toolbox in ArcGIS"
Make sure they have the same position / ordering and Name.
Check for glyphicons.

[2018-05-15 07:37] #1086 closed

[2018-05-15 07:38] daren-thomas commented on #1307
@JIMENOFONSECA i think it would be cool to show off top 5 plots here. Which ones are these?

[2018-05-15 07:39] daren-thomas opened #1316 "Link from plot category to plot"

[2018-05-15 07:43] daren-thomas opened #1317 "Add plot parameters"
similar to the "Buildings" parameter, do with the other plot parameters

[2018-05-15 07:46] JIMENOFONSECA opened #1318 "Add plot title name in the dashboard."

[2018-05-15 07:50] gabriel-happle opened #1319 "ArcGIS interface: Opening CEA toolbox takes a long time"
This is a minor issue and I'm not sure if anything can be done.
On my machine opening the ArcGIS toolbox (clicking on the `plus` symbol) takes 65 seconds.

I'm assigning this to you @daren-thomas with low priority and milestone M3

[2018-05-15 07:54] JIMENOFONSECA opened #1320 "Add 2 buttons to each tool in the Dashboard"
One button for 'restore defaults'
One button for 'save'

[2018-05-15 10:19] gabriel-happle opened #1321 "ArcGIS interface: plotting of scenario comparison not interactive"
![image](https://user-images.githubusercontent.com/17002288/40051091-177f748c-586c-11e8-8097-a9eeac38f1bf.png)

Hi @daren-thomas
In the current ArcGIS plotting interface I can only tick or untick scenario paths for comparison plots.
That means I have to follow that exact folder location and naming structure if I ever want to compare.
In this way it is not really useful/interactive.

[2018-05-15 11:46] martin-mosteiro commented on #1321
Just noticed the same issue: there is no way to "Add Value" in the first two "optional" sections, and the lists shown there do *not* depend on the scenario path given above.
![screen shot 2018-05-15 at 13 44 04](https://user-images.githubusercontent.com/18548065/40054784-4cf3f168-5846-11e8-933a-2e245034b694.png)

[2018-05-15 11:55] martin-mosteiro opened #1322 "Sensitivity analysis tools named incorrectly"
The tool to create the samples is called "Initializer", whereas the tool to run the simulations is called "Sampler". The names of these tools appear to have been swapped, but if they are intended to be called that, it's quite confusing to call the second step "Sampler" rather than the tool that creates the samples.
![screen shot 2018-05-15 at 13 52 14](https://user-images.githubusercontent.com/185

[2018-05-15 14:27] amraladdin opened #1323 "Use "Data Helper" instead of "Data Miner""
Can we change "Data Miner" to "Data Helper" again?

![image](https://user-images.githubusercontent.com/16256867/40063055-c7085c58-585c-11e8-9a1c-f1f6d31c1221.png)

The thing is Data Miner relates strongly to machine learning and other fields. This could raise lots of unnecessary questions on why we used this term.
I believe it would be less confusing to use "Data Management" or "Data Helper".

[2018-05-15 14:46] daren-thomas commented on #1292
fixed in PR #1324, closing this issue as a duplicate

[2018-05-15 14:46] #1292 closed

[2018-05-16 02:07] shanshanhsieh opened #1325 "Improve model for direct fired double-effect absorption chiller"
The current model in CEA for direct fired double-effect absorption chiller is composed of one double-effect absorption chiller and a gas burner.

During operation, the heat sources are either produced by evacuated tube solar collectors or gas burners, similar examples are seen in literature:
https://www.sciencedirect.com/science/article/pii/S1359431104001255#FIG1
https://www.sciencedirect.com/scie

[2018-05-16 02:25] Khayatian opened #1326 "fine-tuning the Subset Sampling engine"
fully integrating the SuS engine with the NN surrogate.

[2018-05-16 02:28] Khayatian opened #1327 "Testing Surrogate accuracy"
defining the overhead uncertainty of the surrogate

[2018-05-16 02:31] Khayatian opened #1328 "heating and cooling season"
fixing the heating and cooling season connection in the input_matrix.py file. The calling variables should be updated according the latest CEA features.

[2018-05-16 03:57] ongbolie opened #1329 "Solar potential - PVT panels fail to run"
**Mix-low density scenario**

Error from running PVT panels :

[code]

[2018-05-16 05:27] martin-mosteiro opened #1330 "Executive course exercises"
Since we will be doing the exercises being prepared for the executive course, we need to have these asap so we can prepare for the test run. So to the people in charge of the exercises (namely, @amraladdin , @martin-mosteiro, @gabriel-happle, @shanshanhsieh) please provide us with the following information about your exercise:
    - description of the exercise
    - checklist (walkthrough of how t

[2018-05-16 06:36] ongbolie opened #1331 "Solar potential - PV panels fail to run"
**Mix-low density scenario**

Error from running PV panels :
[code]

[2018-05-16 06:38] ongbolie opened #1332 "Solar potential - Solar collectors fail to run"
**Mix-low density scenario**

Error from running SC:

[code]

[2018-05-16 07:28] gabriel-happle opened #1333 "Key Error in Optimization plot"
[code]

[2018-05-16 08:58] martin-mosteiro opened #1335 "import arcgisscripting ImportError: DLL load failed: %1 is not a valid Win32 application."
I am trying to run the Heatmaps tool on ArcScene 10.5.1 but I get the following error:
[code]
@shizhongming and @roglen provided a solution: installing background geoprocessing with a file they provided. Unfortunately this file is for ArcGIS 10.5, not 10.5.1. I reinstalled Background GP for 10.5.1 but I still get the same error.
@daren-thomas importing arcgisscripting in the ArcGIS Python console

[2018-05-16 09:03] martin-mosteiro commented on #1335
As pointed out by @shizhongming, I can successfully run the heatmaps tool from Pycharm... just not ArcGIS
[code]

[2018-05-16 10:31] daren-thomas commented on #1335
I'll be in the office tomorrow and will have a look at it then.

[2018-05-16 10:56] amraladdin commented on #1329
Here's the error I get when running the PVT component:
Executing: PhotovoltaicThermalPanelsTool C:\reference-case\reference-case-WTP\RES_low_density Singapore-2016 c:\Users\aelesawy\documents\GitHub\cityenergyanalyst\cea\databases\weather\Singapore-2016.epw 01.01.2016 PV1 SC1 true true 0.75 4 35 200 1.3 1000 0.6 0.217
Start Time: Wed May 16 12:54:49 2018
Running script PhotovoltaicThermalPanelsToo

[2018-05-16 10:57] amraladdin commented on #1329
Here're the first lines of my cea.config:
...
[general]
scenario = C:\reference-case\reference-case-WTP\RES_low_density
region = SIN
weather = Singapore-2016
multiprocessing = true

[2018-05-16 13:48] gabriel-happle opened #1336 "Changing functionality to create energy demand plots of individual buildings"
Hi @JIMENOFONSECA
I wonder if we should change the way the individual building and district plotting for the energy demand works.
Right now we either create plots for a single building if only `1` building name is provided to be plotted.
If `None` or a `list` of building names is provided, we ignore it and create the district energy demand plots.

Maybe it is better to plot each individual plot fo

[2018-05-17 01:53] #1222 closed

[2018-05-17 02:04] roglen opened #1337 "Qwwf does not match mcpwwf*(Tsupwwf-Tretwwf) in Demand files"
Energy Balance in Demand files of the open case for `wwf` do not add up.

The way I understand it, per definition, `Qwwf = mcpwwf * (Tsupwwf-Tretwwf)`.

This does not apply in the open case for DH, checked for B02 and B03.

This causes a wrong output of heating demands and distorts results in `thermal_network_matrix.py`

[B03_error.xlsx](https://github.com/architecture-building-systems/CityEnergyA

[2018-05-17 02:06] roglen commented on #1337
@shanshanhsieh @gabriel-happle not really sure who this applies to, issue #66 is not directly related to this as far as I can tell.

[2018-05-17 05:51] roglen opened #1339 "Jenkins test for looped networks"
Currently there are large parts of the `thermal_network_matrix.py` which are not being tested because they only apply for looped networks.

We now have an option of creating looped network files in CEA from the config file under the section of `Network Layout`. It can be turned on and off using the `allow_looped_networks` flag.

Setting this flag to 'True' and running the 'Network Layout' script w

[2018-05-17 06:35] gabriel-happle opened #1340 "Executive course demand forecasting exercise"
@martin-mosteiro and @amraladdin
Please find the draft for the demand forecasting exercise attached and give some feedback.

@shanshanhsieh @shizhongming @BhargavaKrishnaSreepathi @JIMENOFONSECA @roglen @ongbolie you are also welcome to take a look and give feedback.

[DRAFT_CEA_Exercise_Demand.docx](https://github.com/architecture-building-systems/CityEnergyAnalyst/files/2011864/DRAFT_CEA_Exercis

[2018-05-17 07:37] gabriel-happle commented on #1337
The reason for this is that `mcpwwf` is calculated between `Tww_tank - Tww_re` in `calc_Qwwf()` in `hotwater_loads.py`.
@shanshanhsieh is taking over from here.

The issue is not critical for the Singapore case, as there is no district heating network planned.

[2018-05-17 08:05] JIMENOFONSECA commented on #1336
Yes, that could work too. I will leave it low priority for now though. What do you think?

Kind regards,

Dr. Jimeno A. Fonseca
Senior Researcher and Project Coordinator
Multi-Scale Energy Systems for Low-Carbon Cities (MuSES)
Future Cities Laboratory
Singapore ETH-Centre

Chair of Architecture and Building Systems
Institute of Technology in Architecture
ETH Zurich

Scientific Advisory Committee
E

[2018-05-17 08:26] martin-mosteiro commented on #1340
@gabriel-happle Thanks, that looks great. Looks very detailed and well-developed. I haven't been able to read through it yet, so I'll try to give you more detailed feedback soon.

[2018-05-17 08:29] martin-mosteiro commented on #1330
@gabriel-happle Thanks for creating the issue and the exercise.
@shanshanhsieh This made me think of one more point: since me and Amr are still not very familiar with the supply tools either, in addition to the exercise it would be good to have a brief description of what you will be showing students in both of your live demonstrations (L7E). Just to have an idea what we should show them before th

[2018-05-17 08:40] amraladdin commented on #1238
Hi @Jack-Hawthorne , did you already start with the variables list? If yes, could you share the document you're working with? It's best if you're using a shared document (e.g. Google Sheets) for example.

[2018-05-17 08:42] amraladdin opened #1341 "Finalize L4.Case Study Presentation"
- Complete missing parts in the presentation (Contact Zhongming)
- Add climate analysis section
- Rehearse (0.5-1.0 day)

[2018-05-17 08:47] amraladdin opened #1342 "Finalize L5. Data Management Lecture"
- Refer to Workflow Scheme.
- Add references at end of presentation (to where to find the tutorial online, publications... etc.)
- Cancel Building Metering
- Add section, where to acquire input data from? (Check MBS last year).

[2018-05-17 08:53] amraladdin opened #1343 "Data Helper Exercise preparation"
- Where to find the different databases (within the tool, and each scenario).
- Define which input databases are required from the user.
- Where do we get this input data from?
- Where are both CH and SIN statistical databases come from?
- Show which data sets are generated by the tool.
- Cover 2 cases, one where there is minimum input (Light editing), and one where users have all the inputs (Heav

[2018-05-17 09:33] #1215 closed

[2018-05-17 11:20] martin-mosteiro opened #1344 "BIG. BUG. Demand script generates a lot of extra columns."
Here's the list of columns for B01 in my test case for WTP:
[code]

Now here is B17:
[code]

Notice the difference? For each new batch of simulations, the output file has one extra copy of the columns `I_sol_kWh`, `I_rad_kWh` and `I_sol_and_I_rad_kWh`. @amraladdin's results show the same error. This is a minor bug for the WTP case study since there are only 17 buildings, but check out what happens

[2018-05-17 12:02] martin-mosteiro commented on #1344
Found the problem. Will solve it and follow the appropriate procedure. Phew!

[2018-05-17 12:09] amraladdin commented on #1238
Common terminology Google Sheet link:
https://docs.google.com/spreadsheets/d/149Ugw8BfKI_2wMzOrHHVN3D8pOff29eQIzWg8y9Qy9k/edit#gid=0

[2018-05-17 12:30] JIMENOFONSECA commented on #1344
@martin-mosteiro great catch Martin. It is now merged!

[2018-05-17 12:30] #1344 closed

[2018-05-17 12:50] amraladdin opened #1346 "Plot tool doesn't work on ArcScene"
I tried to run the plot tool from ArcScene, and couldn't run the tool, as you can see in the following image:
![image](https://user-images.githubusercontent.com/16256867/40178234-37b2fcb2-59e1-11e8-9436-2ce9a7e82c20.png)

I'm using the latest CEA master edition, which was updated this morning.

I'm sorry @JIMENOFONSECA that I assigned you directly, but I believe this is an important and urgent iss

[2018-05-17 12:56] martin-mosteiro commented on #1346
Same thing happens on my computer.

[2018-05-17 13:12] JIMENOFONSECA commented on #1346
Hi guys, i am out of office. So no chance to help now. I suggest to ask daren who is fixing anywise the plotting tool.

On 17 May 2018, 20:56 +0800, Martín Mosteiro-Romero <notifications@github.com>, wrote:

Same thing happens on my computer.

—
You are receiving this because you were assigned.
Reply to this email directly, view it on GitHub<https://github.com/architecture-building-systems/CityEne

[2018-05-17 13:48] amraladdin commented on #1346
Hi @daren-thomas , could you please take a look at this issue and give us your feedback?

[2018-05-18 01:51] #1332 closed

[2018-05-18 01:51] #1331 closed

[2018-05-18 01:52] #1329 closed

[2018-05-18 06:55] roglen commented on #1289
In the current version of the `hourly_solar_radiation_curve`, the secondary y-axis title overlaps with the legend:
![image](https://user-images.githubusercontent.com/26787111/40220375-7f439a08-5aab-11e8-944e-9a2a83ef1b3f.png)

[2018-05-18 07:02] ongbolie commented on #1346
I have the same error as well.

[2018-05-18 08:04] daren-thomas commented on #1346
The reason seems to be, that the plotting tool is trying to show a list of building names in the scenario (as defined in the configuration file) and that that scenario doesn't exist on @amraladdin's computer. I will create a pull request that fixes this - e.g. just shows an empty building list when an invalid scenario is chosen. stay tuned.

[2018-05-18 08:51] shanshanhsieh commented on #1330
@martin-mosteiro
Here is the outline of LD7 & E2: https://docs.google.com/document/d/1zsUYLlsEjzx5_81s_BkXGFj0J9JKzLpyesVV2jKj1Io/edit
Please feel free to modify and comment in the document : )

[2018-05-18 08:59] martin-mosteiro commented on #1330
Will do - thanks @shanshanhsieh!

[2018-05-18 09:05] #1346 closed

[2018-05-18 09:19] #1288 closed

[2018-05-18 09:19] #1116 closed

[2018-05-18 10:01] gabriel-happle opened #1349 "Add location to plotting interface"
The comfort plots for individual buildings uses the input locator and region to check if there is a winter = `has_heating_season` and/or a summer = `has_cooling_season` in the region specific database to calculate different comfort conditions.

Plots will work fine if the Region is not chosen correctly, but numbers in tables don't make much sense.
A simple workaround is to change the config file R

[2018-05-18 10:16] gabriel-happle opened #1350 "Add multiprocessing and weather file parameter to network interface"
Thermal network uses multiprocessing and weather file parameters from config.
These parameters are currently not accessible from the ArcGIS interface.

The workaround is to change the config file directly.

@daren-thomas could you help us?
also not sure what milestone to put here.

[2018-05-18 11:17] daren-thomas opened #1351 "Extract-reference-case tool is missing from the ArcGIS interface"
The tool "extract-reference-case" has been removed from the ArcGIS interface. This makes it impossible to test-run the CEA without access to the reference-case-open. Is there a specific reason for this?

@JIMENOFONSECA do you have an idea why this was removed?

[2018-05-18 11:38] #1234 closed

[2018-05-18 11:42] Jack-Hawthorne commented on #1238
@amraladdin i have created a new git branch to address the issue instead. Is this ok?
https://github.com/architecture-building-systems/CityEnergyAnalyst/tree/1238-glossary-terms-and-databases
The super basic csv file is recorded here for Thomas (and anyone else) to work on. I have told him to contact me if he has any questions and he will relay to you or daren if i cannot answer.

[2018-05-18 11:46] Jack-Hawthorne commented on #1234
this is no longer relevant

[2018-05-18 11:54] Jack-Hawthorne commented on #1272
@daren-thomas ok, so the plan is to address each documentation build error as its own issue, then build new rst files in the API debug branch (which also contains an updated docs config file) once everything is update (or as much as i can do).

Does this sound like a good approach?

If so i will close this issue and we will have module by module issues and branches through which i can update/fix a

[2018-05-18 13:07] amraladdin opened #1352 "Final Cooling demand = 0 | singapore case study testing for the test run"
After simulating one case study (i.e. RES_Low Density and CBD_Low Density)
Final demand results = 0 although the breakdown of the cooling demand results show differently. Please check the attached CSV file for the whole district and for one building.
@martin-mosteiro also has the same issue. Here's his analysis:
* Qcs is more than 0, while Qcsf = 0. Qcsf_ahu = 0, Qcsf_sru is much lower than 0, Qcs

[2018-05-18 13:11] amraladdin opened #1353 "Plots: Cannot use scenario comparison"
I tried to use the "scenarios_comparisons" option in the "Plots" feature (@martin-mosteiro tried as well). We could not choose the different paths to the scenarios. This is because the "Add Value" button doesn't work.

@JIMENOFONSECA sorry for assigning you directly, but this is kind of an emergency.

![image](https://user-images.githubusercontent.com/16256867/40236317-724ca374-5aad-11e8-98ad-dcf1

[2018-05-18 13:17] amraladdin opened #1354 "Plots: Cannot run solar potential plots unless all technologies are simulated"
I ran the solar energy potential for technologies PV1 and SC1 only. When I tried to run the plots for the solar energy potentials, I got the below error.
My interpretation, and @martin-mosteiro as well, is that the tool is trying to find the CSV file with the Evacuated Tube solar collector (SC2) results.

@JIMENOFONSECA @shanshanhsieh sorry for assigning you directly, but this is kind of an emerge

[2018-05-18 13:21] amraladdin opened #1355 "Plots: LCA plots cannot run without running the cost analysis feature first"
When trying to generate the plots for LCA, I get the below error. This is because the tool asks me to run the cost analysis first, then the plots feature would run correctly. This is not urgent, but would be great to fix it.
@JIMENOFONSECA can you please take care of this issue?

[code]

[2018-05-18 16:28] martin-mosteiro commented on #1352
Actually, git blame says it was @JIMENOFONSECA who made this change:
![screen shot 2018-05-18 at 18 27 05](https://user-images.githubusercontent.com/18548065/40246470-2660e08a-5ac9-11e8-8c28-cc33ade40cb6.png)

[2018-05-19 01:34] JIMENOFONSECA commented on #1352
This behavior is ok. Qcsf is zero when the supply systems in the building are chillers inside the building. Basically all qcsf converts into electricity due to the chiller inside the building.

If you want to see qcsf, you need to change the supply systems to a type like district cooling.

We did this to keep an scenario consistent with what is final cooling (at the exit of the building) and end u

[2018-05-19 10:31] amraladdin opened #1357 "Heatmaps do not work"
I tried generating the heatmaps for scenario RES_Low Density. After successfully running the demand, I tried to generate the heatmaps for the area, using the Total_demand.csv file. I chose the following outputs:
- QCf_MWhyr
- QHf_MWhyr
- QEf_MWhyr

The tool generated the following error:

[code]

Does this mean we will not use the Heatmap feature during the workshop? Then I would rather we take th

[2018-05-19 10:59] martin-mosteiro commented on #1352
@JIMENOFONSECA Thanks for the answer, I figured that was the reason why.

However this change is inconsistent, because then only the cooling has been lumped with the rest of the electricity demands. Hot water is also provided by electrical boilers in the case study (supply system T4) but it's shown separately. So in reality the graph should then only show the demand for electricity for each buildi

[2018-05-19 12:30] JIMENOFONSECA commented on #1352
Good point. I agree that the the best is to show one diagram for final loads and another one for end-use demand.

We also need to upgrade the code to account for heating and hot water cases.

On 19 May 2018, 18:59 +0800, Martín Mosteiro-Romero <notifications@github.com>, wrote:

@JIMENOFONSECA<https://github.com/JIMENOFONSECA> Thanks for the answer, I figured that was the reason why.

However this

[2018-05-19 12:31] JIMENOFONSECA commented on #1357
It seems you are missing background geoprocessing from arcgis. Dis you install it?

On 19 May 2018, 18:31 +0800, Amr Elesawy <notifications@github.com>, wrote:

I tried generating the heatmaps for scenario RES_Low Density. After successfully running the demand, I tried to generate the heatmaps for the area, using the Total_demand.csv file. I chose the following outputs:

  *   QCf_MWhyr
  *   QHf_

[2018-05-20 05:34] BhargavaKrishnaSreepathi commented on #1333
fixed in PR #1358

[2018-05-20 05:35] BhargavaKrishnaSreepathi commented on #1305
fixed in PR #1334

[2018-05-20 05:35] #1305 closed

[2018-05-20 05:36] BhargavaKrishnaSreepathi commented on #1295
fixed in PR #1358

[2018-05-21 01:48] gabriel-happle commented on #1352
what's the action plan @JIMENOFONSECA ?
Are we doing additional plots?

[2018-05-21 01:53] gabriel-happle commented on #1357
@amraladdin check the executive slack channel for the installation file of background geoprocessing.
Zhongming posted it there on May 16th.

[2018-05-21 01:54] gabriel-happle commented on #1357
possible duplicate of #1291

[2018-05-21 03:18] JIMENOFONSECA commented on #1355
@amraladdin yep, LCA also accounts for the costs. So according to the manual of CEA you need to run it.

[2018-05-21 03:18] #1355 closed

[2018-05-21 03:26] roglen opened #1359 "Optimize thermal network"
Implement script to optimize:
- plant location
- number of plants
- network loads
- number of connected buildings

using genetic algorithm

[2018-05-21 03:33] shanshanhsieh commented on #1354
Hi @amraladdin , at the moment, you will have to run all the solar technology potentials to execute the solar technology plots.
This means you have to run:
1. PV
2. SC1, t-sc-supply =75
3. SC2, t-sc-supply=150
4. PVT

I am planning to disaggregate them, so you can run the plot with the technologies you have simulated, however, it will not happen for the test run. sorry about that.

[2018-05-21 03:39] shanshanhsieh commented on #1269
In this tool, we are planning to let users simulate different supply system configurations.

Which means they can choose:
1. Cooling technologies in the centralized plant
2. Buildings to connect to the network
3. Cooling technologies for all disconnected buildings
4. Areas to install PV or SC

@JIMENOFONSECA , please let us know if you have further comments, thanks!

[2018-05-21 06:51] gabriel-happle opened #1361 "buildings with hot water supply system 'T0' have negative demand"
![image](https://user-images.githubusercontent.com/17002288/40293990-1b47de3a-5d06-11e8-91ae-41d3c92309b6.png)

Buildings with no hot water `hvac` system `type_dhw = T0` (i.e., `retail` and `office` in our Singapore case study) calculate a negative hot water demand.

[2018-05-21 08:49] gabriel-happle opened #1363 "Show time of peak demand in plots"
It would be a nice additional feature to either show the time and date of the end use and final use energy demands in the plots or to show the load curve of the day of the peak.

[2018-05-21 08:58] JIMENOFONSECA opened #1364 "Create conversion to electricity from electic boiler and heat pump"
In relation to issue #1352 we need to separate end use and final loads for hot water and space heating. This needs to be carefully done because at the moment, there are a lot of scripts (in the optimization part) that depend on  Qwwf and Qhsf

[2018-05-21 09:48] martin-mosteiro opened #1365 "Energy use intensity and Energy demand plots are the same!"
Here are the plots for energy use intensity and energy demand for the Hochschulquartier case study:
<img width="1179" alt="screen shot 2018-05-21 at 11 37 20" src="https://user-images.githubusercontent.com/18548065/40301510-9f22c4e6-5cec-11e8-8226-b41e382fe500.png">
<img width="1298" alt="screen shot 2018-05-21 at 11 37 27" src="https://user-images.githubusercontent.com/18548065/40301516-a1e6a242-

[2018-05-21 09:50] martin-mosteiro commented on #1352
Please check out issue #1365 along with this one.

[2018-05-21 11:10] #1361 closed

[2018-05-21 12:16] martin-mosteiro commented on #1354
In that case, @amraladdin we will need to supply students in the test run with the results of the solar technologies potential since we won't have time to run all of the potentials during the test run and @shanshanhsieh has confirmed her exercise _does_ involve running the solar technologies potential plots. So I'll create a separate issue asking everyone to upload their results.

[2018-05-21 12:23] martin-mosteiro opened #1367 "Submit solar technology potential results for test run"
In order to do @shanshanhsieh's exercise during the test run, we will need to run the solar technology potential plots tool. In order to run the plots tool we currently need the potential for **all solar technologies** to have been run in advance. This is an issue in itself (#1354) but it won't be solved before the test run this week.

Solution: we will have the students run the potential for PV t

[2018-05-21 13:07] ongbolie commented on #1367
Hey Martin, here are the results for mix-low density!
[Potentials_Mix_Low.zip](https://github.com/architecture-building-systems/CityEnergyAnalyst/files/2022599/Potentials_Mix_Low.zip)

[2018-05-21 20:39] martin-mosteiro opened #1368 "Database copying and "custom" region"
When running a scenario with region = 'CH' or 'SIN' the archetype databases get copied into the case study, and then if the region needs to be specified as 'custom'.

If, after running the scenario under 'custom', one desires to do LCA calculations, then there'll be an error, because the databases were never copied into the scenario.

@daren-thomas Wouldn't it make more sense for all databases to

[2018-05-22 02:15] gabriel-happle commented on #1367
@shanshanhsieh please list the parameters to run the simulations, so that it is consistent.
Thanks

[2018-05-22 02:58] gabriel-happle commented on #1352
I believe this can be closed @JIMENOFONSECA

[2018-05-22 03:02] BhargavaKrishnaSreepathi commented on #1367
Here are the results for 01_CBD_medium_density
[01_CBD_medium_density potentials.zip](https://github.com/architecture-building-systems/CityEnergyAnalyst/files/2024814/01_CBD_medium_density.potentials.zip)

[2018-05-22 03:06] #1352 closed

[2018-05-22 05:43] shanshanhsieh opened #1369 "fix solar technology potential plot when there the total potential is zero"

[2018-05-22 06:12] BhargavaKrishnaSreepathi commented on #1367
CBD_high_density scenario (Zhongming's Scenario)
[CBD_high_density potentials.zip](https://github.com/architecture-building-systems/CityEnergyAnalyst/files/2025161/CBD_high_density.potentials.zip)

01_CBD_medium_density (Bhargav's Scenario)
[01_CBD_medium_density potentials.zip](https://github.com/architecture-building-systems/CityEnergyAnalyst/files/2025165/01_CBD_medium_density.potentials.zip)

[2018-05-22 07:01] shanshanhsieh commented on #1367
@martin-mosteiro  @amraladdin
in several case studies, the outputs of solar technologies are zero, this is because the threshold is too high, and none of the surfaces are selected to install panels.

to keep all the case studies consistent, we still simulate all cases with the same threshold.
however, the plots are buggy when the total output is zero. this has been addressed in #1369 , and the PR

[2018-05-22 08:54] roglen commented on #1367
Same, sent the results to @martin-mosteiro per email since it's about 50 MB

[2018-05-22 08:56] martin-mosteiro commented on #1367
@roglen Haven't received them yet but I guess they're on their way :)

[2018-05-22 10:13] roglen commented on #1367
@martin-mosteiro  i sent it on slack in the end, outlook is buggy...

[2018-05-22 10:13] gabriel-happle commented on #1367
I'm not sure if I can finish.
Wanted to create them from ArcGIS, but apparently it can get stuck in PVT calculation!
Trying to finish from PyCharm now.

[2018-05-22 10:24] gabriel-happle opened #1373 "Error in PVT script"
[code]

[2018-05-22 10:26] gabriel-happle commented on #1373
This error occurred when running my case study (03 Mix medium) from PyCharm.
When running the same script from ArcGIS interface, ArcGIS gets stuck (not responding without crashing).

[2018-05-22 10:58] gabriel-happle commented on #1373
I already have a branch with a workaround @shanshanhsieh
same number as issue

[2018-05-22 11:49] amraladdin commented on #1357
I'm working with ArcGIS 10.4. When I installed Geoprocessing, it featured the following error:
![image](https://user-images.githubusercontent.com/16256867/40360579-e5e06336-5dc6-11e8-82ee-ab27af484d83.png)

[2018-05-22 12:05] martin-mosteiro opened #1374 "Aef is hard-coded in CEA"
Aef is hard-coded into CEA, whereas Af can be modified. However, since the electrical gains are put entirely into the conditioned floor area, if Aef is much bigger than Af the gains will be very substantial.

[2018-05-22 12:36] JIMENOFONSECA commented on #1357
computer says you need 10.5, just agree with it :-)

On 22 May 2018, 19:49 +0800, Amr Elesawy <notifications@github.com>, wrote:

I'm working with ArcGIS 10.4. When I installed Geoprocessing, it featured the following error:
[image]<https://user-images.githubusercontent.com/16256867/40360579-e5e06336-5dc6-11e8-82ee-ab27af484d83.png>

—
You are receiving this because you were mentioned.
Reply to th

[2018-05-22 12:59] amraladdin commented on #1357
:D So, I did that, but still the Heatmaps didn't work. Still got the same error:

[code]

[2018-05-22 14:55] daren-thomas commented on #1272
nope, this creates a sort of "going dark" mode... specifically, having one branch to fix all the issues... better to fix each in it's own branch. you can do as many pull requests as you like, you know. especially if they are small ones - we can easily just merge them then. if you create one mega-branch parallel to master and work on that over a long period of time, you will diverge and merging wil

[2018-05-22 15:00] daren-thomas commented on #1335
@martin-mosteiro - Is this still an issue?

[2018-05-22 15:02] daren-thomas commented on #1319
@gabriel-happle yes, this is super annoying. i ran a profiler against it last week and pin-pointed the code to arcgis code, so... it seems our stuff runs fast.

I think we could speed it up a bit by dividing and conquering... instead of just one pyt, have multiple. but i'd rather not change something like that just before the course...

[2018-05-23 01:41] #1365 closed

[2018-05-23 02:18] gabriel-happle opened #1375 "BUG: solar radiation plots per building shows wrong percentage values in hovertext"
see screenshot
`roof` is clearly the highest but shows only as 9%.
I think it's a dataframe sorting issue like in the demand plots.

![image](https://user-images.githubusercontent.com/17002288/40399930-6f60bfc4-5e72-11e8-8f11-f196ee9cf28c.png)

[2018-05-23 02:51] gabriel-happle commented on #1374
![image](https://user-images.githubusercontent.com/17002288/40401049-4c8cd62c-5e77-11e8-9fca-58227c43115b.png)

[2018-05-23 02:57] gabriel-happle commented on #1336
see `cea/plots/demand/main.py`

[code]

etc.

[2018-05-23 06:23] shanshanhsieh opened #1376 "high stagnation temperature for pvt"
At some instances, the stagnation temperature exceeds the design limits of panels (t_max in the databases).
This reason might be insufficient segments of the hydraulic circuit (Nseg) that are assumed in the simulation.
More research is required to decide the action plan.

more references:
1. Stagnation behaviour of solar thermal systems
https://www.aee-intec.at/0uploads/dateien48.pdf
2. http://www

[2018-05-23 07:28] daren-thomas commented on #1046
@Jack-Hawthorne - assigning this to you. I created this issue a long time ago so I'm not quite sure exactly if it is still valid. If you can reproduce, maybe fix it? Thank you :-)

[2018-05-23 07:59] shanshanhsieh opened #1377 "the format in .cpg file has to be ISO-8859-1"
After modifying the `.shp` files, they will change the format in `.cpg`
in some cases, it causes error when running the scripts.
after modifying `.shp` files in your case study, always make sure you have **ISO-8859-1** in the `.cpg` (exactly the same format) (special reminder to @martin-mosteiro  and @amraladdin  )

or maybe @JIMENOFONSECA  knows a better solution to this problem?

[2018-05-23 08:01] daren-thomas commented on #1047
already implemented!

[2018-05-23 08:01] #1047 closed

[2018-05-23 08:17] daren-thomas commented on #1321
@gabriel-happle, @JIMENOFONSECA  yes, it seems the wrong parameter type was used here. (ListParameter, instead of SubFoldersParameter like used in the scenario-plots).

Since the way the plots script is written (using a scenario instead of a project) I think SubFoldersParameter doesn't really work either. I'm testing to see if I can make the list editable.

[2018-05-23 08:31] JIMENOFONSECA commented on #1377
@shanshanhsieh right, did you have this error recently? What we tried to do was to make all to that format once we run the new_project tool. did you face this problem recently?

[2018-05-23 08:32] JIMENOFONSECA commented on #1375
included in fix of branch  i1289

[2018-05-23 08:35] shanshanhsieh commented on #1377
not from my side, but @amraladdin ran into some errors while testing different geometries.
so, one should always run the `new_project` tool after modifying building geometry?

[2018-05-23 08:35] JIMENOFONSECA commented on #1337
@roglen I included a fix in the branch i1289. could you tell me if this fixes the issue?
you have to rerun the demand_main.py

[2018-05-23 08:46] JIMENOFONSECA commented on #1374
@martin-mosteiro now Aef is transformed by E_S a constant = 0.9 Woudl you suggest to make it bigger to avoid this problem?

[2018-05-23 08:52] roglen commented on #1337
@JIMENOFONSECA looks good now!
There are still some small deviations, but now they are around 0.1% which I think is reasonable.

[2018-05-23 08:55] JIMENOFONSECA commented on #1337
Yep, it is a rounding error I believe.

Jimeno
________________________________
From: Lennart Rogenhofer [notifications@github.com]
Sent: Wednesday, May 23, 2018 4:52 PM
To: architecture-building-systems/CityEnergyAnalyst
Cc: Jimeno Fonseca; Mention
Subject: Re: [architecture-building-systems/CityEnergyAnalyst] Qwwf does not match mcpwwf*(Tsupwwf-Tretwwf) in Demand files (#1337)

@JIMENOFONSECA<ht

[2018-05-23 08:55] JIMENOFONSECA commented on #1377
that should not be the case!
________________________________
From: Shanshan Hsieh [notifications@github.com]
Sent: Wednesday, May 23, 2018 4:35 PM
To: architecture-building-systems/CityEnergyAnalyst
Cc: Jimeno Fonseca; Mention
Subject: Re: [architecture-building-systems/CityEnergyAnalyst] the format in .cpg file has to be ISO-8859-1 (#1377)

not from my side, but @amraladdin<https://github.com/am

[2018-05-23 08:56] shanshanhsieh commented on #1367
@JIMENOFONSECA , @BhargavaKrishnaSreepathi , @roglen , @ongbolie , @gabriel-happle , @amraladdin , @martin-mosteiro
please upload the results once you finish step 1-3 so i can check the results, thanks!

this is the folder to collect the results:
https://drive.google.com/drive/folders/13K0l5Iv0kMnPgkKdKEoT48QlWUX_tqjg?usp=sharing

[2018-05-23 09:07] amraladdin commented on #1367
Done.
"RES_Low Density" case study, steps 1-3 is uploaded.

[2018-05-23 09:11] daren-thomas commented on #1321
I ended up fixing it with a generalization of how the SubfoldersParameter works (the parent is now a folder with references substituted, instead of a link to a property itself). To test:

- `cea install-toolbox`
- run the plots tool
- changing the scenario folder will change the list of scenarios to choose from for comparison

NOTE: `cea install-toolbox --debug true` will install a `test.pyt` as w

[2018-05-23 09:19] JIMENOFONSECA commented on #1377
@amraladdin fixed, please sync from master

[2018-05-23 09:19] #1377 closed

[2018-05-23 09:27] daren-thomas commented on #1282
@JIMENOFONSECA do you have an opinion on this? I don't really care too much about the deleted lines myself, but I think you had some valid points on why this might be a problem.

[2018-05-23 09:30] daren-thomas commented on #1349
@gabriel-happle I'm interpreting this issue as adding a drop-down box for selecting the region used for the plots interface in ArcGIS (as opposed to printing it out on the plots generated). yes. this is quite easy to do. I'm working on a pull request right now.

[2018-05-23 09:33] daren-thomas commented on #1349
bundling this up with #1321, which already deals with changes to the plots interface.

[2018-05-23 09:38] #1321 closed

[2018-05-23 09:38] #1349 closed

[2018-05-23 09:48] JIMENOFONSECA commented on #1282
HI all, I think that deleting the validation files is OK, we are basically counting authorship depending  the number of lines added to master. So as long as we do not change that. This should be ok. @daren-thomas are you ok with this too?

[2018-05-23 10:02] BhargavaKrishnaSreepathi commented on #1367
Done. For both '01_CBD_medium_density' and 'CBD_high_density'

[2018-05-23 10:06] daren-thomas commented on #1282
sure! deleting code is one of the best things you can do for a project! (seriously! let's get rid of as much dead wood as possible!)

[2018-05-23 10:08] martin-mosteiro commented on #1374
I wrote this down in a rush while fixing some issues in the Zurich case study for my presentation yesterday. I don’t think this affects the Singapore case for the course so it’s relatively low priority now. I will look into it on Monday.

Am 23.05.2018 um 10:46 schrieb Jimeno A. Fonseca <notifications@github.com<mailto:notifications@github.com>>:

@martin-mosteiro<https://github.com/martin-mosteir

[2018-05-23 10:10] daren-thomas commented on #1301
@gabriel-happle I think I see the problem now. Or at least, suspect what is happening: I assume, the "changes in the config file" you're talking about are the parameters to running the script. The `main` function of the script accepts a `config` parameter which contains the configuration. If, however, you decide to create your own instance of `cea.config.Configuration` further down in the script,

[2018-05-23 10:20] daren-thomas commented on #1301
Here are problematic instances of creating a `cea.config.Configuration` instances done by searching all the files in the project:

- cea/technologies/thermal_network/thermal_network_matrix.py : 573 `weather_file = cea.config.Configuration().weather`
- cea/globalvar.py : 19 : `self.config = cea.config.Configuration()self.config = cea.config.Configuration()`
  - is this still being used? if so, then

[2018-05-23 10:27] JIMENOFONSECA commented on #1367
Done for scenario 02

[2018-05-23 10:37] #1373 closed

[2018-05-23 10:42] gabriel-happle commented on #1301
@daren-thomas in this case, I'm just the first tester who found this problem and therefore created the issue.
I think @BhargavaKrishnaSreepathi 's help is needed here to fix this.

[2018-05-23 10:43] gabriel-happle commented on #1349
thank you @daren-thomas

[2018-05-23 10:53] gabriel-happle opened #1382 "comfort plot code: pass down config instead of creating new"
In the comfort plot code a new config file is created instead of passing it down from the main function.
This has to be changed.

see also the discussion to #1301

[2018-05-23 11:33] martin-mosteiro commented on #1357
@amraladdin Are you sure you installed ArcGIS 10.5 *and* BackgroundGP? For example, I have ArcGIS 10.5.1 with BackgroundGP for 10.5.1 and the heatmaps tool doesn't work for me (see #1355). We should make sure it works in the computer lab, if it does, we can use the tool tomorrow, if not, we'll have to skip it.

[2018-05-23 11:36] gabriel-happle commented on #1382
also someone broke my code by changing the data type of the input dataframe index from `datetime` to `str`.

[2018-05-23 11:38] martin-mosteiro commented on #1335
@daren-thomas Yep, there have been no updates since a week ago from my side so the problem is still there. Basically, to summarize:
- I have ArcGIS 10.5.1 with BackgroundGP for 10.5.1
- Some features don't work with this (`ImportError: DLL load failed: %1 is not a valid Win32 application.`)
- We know we can fix such issues for ArcGIS 10.5 using the file @roglen and @shizhongming provided, but it's

[2018-05-23 11:49] #1375 closed

[2018-05-23 13:53] amraladdin commented on #1357
No, I didn't install ArcGIS 10.5, I have 10.4 on my PC. Sure... Let's check the tool in the Lab, however, we cannot install it ourselves, we need to talk to the IT guys tomorrow morning.

[2018-05-23 14:44] amraladdin opened #1384 "Demand plots don't work"
After synchronizing to the latest master. Installing Toolbox for ArcGIS, tried to run the plots. Here are the results:
- "Solar potential" plots were generated successfully.
- "Solar technology potentials" plots were generated successfully.
- "LCA" plots ran successfully.
- **"Demand" plots did not run, due to the following error**:
[code]

[2018-05-23 14:49] martin-mosteiro commented on #1340
@gabriel-happle Excellent job, really. Your exercise is very clear and well-defined, easy to follow and specified learning objectives. I think it is perfect as-is, really. I have edited the Word document to create a handout (removing the things the students should take away from the exercises). If you don't mind, I would just use this document as a handout tomorrow at the course.
Really, really go

[2018-05-23 21:25] martin-mosteiro commented on #1340
@gabriel-happle Here's the edited-down version for the handout. Feel free to veto it being distributed if you'd rather not. We'll probably only get to do exercises 1 and 2, but exercise 3 could be a homework exercise for those who are excited to keep trying stuff out ;)
[20180524_CEA_Exercise_Demand.docx](https://github.com/architecture-building-systems/CityEnergyAnalyst/files/2032888/20180524_CEA

[2018-05-23 22:19] martin-mosteiro commented on #1330
@shanshanhsieh Thanks again for the exercise. It's very clear and well described step-by-step. I like the learning objectives for the first exercise a lot. The other two exercises, however, don't have such a clear learning objective to me - seems like they'll just run different technologies and see which performs best. Is there any further takeaway message from these? e.g. maybe they can see wheth

[2018-05-23 22:21] martin-mosteiro commented on #1330
Also, @shanshanhsieh since we will have the SC results pre-simulated for them, exercise 3 will not take much time. Any chance we could run a thermal network exercise? Or is there a sewage network exercise that we can do in a relatively short period of time?

[2018-05-24 01:32] shanshanhsieh commented on #1330
@martin-mosteiro here are the answers
1. Exercise 2:
a) another objective is to introduce the database, and know what parameters are required for simulation. In the future, they can use the script to evaluate different technologies, this will be possible.
b) great idea to give some first intuition with the results from solar technology and demand simulation (see google doc for update)
2. indeed, E

[2018-05-24 02:00] gabriel-happle commented on #1384
@amraladdin you have to re-run the demand calculation.
For the new plots some new columns from the output files are needed.
I checked the demand plots yesterday, they seemed fine.

[2018-05-24 02:34] roglen opened #1385 "Reduce thermal_network_matrix output files to minimum"
This applies especially for the case when running for the representative week per month, where only very few output files are actually necessary.
Review which files are necessary after core of network optimization is completed.

[2018-05-24 02:39] gabriel-happle commented on #1340
looks good. thanks @martin-mosteiro.
Please let me know the feedback of the participants for the final version of the executive course.

[2018-05-24 03:49] amraladdin commented on #1384
@gabriel-happle I did, but it was too late and had to leave, so I didn't do the plots. It worked fine in the lab when I tried it, so I think that's the reason. I'll check again and update.

[2018-05-24 03:50] gabriel-happle opened #1386 "ArcGIS interface: Plotting tool only works if at least one scenario for comparison is selected"
![image](https://user-images.githubusercontent.com/17002288/40463482-32cb9eb8-5f48-11e8-8f41-a2346fd94601.png)

This is not a critical bug.

[2018-05-24 06:02] gabriel-happle commented on #1291
I still have this issue with my interface.
However, I can generate heatmaps from Pycharm.
seems to be some ArcGIS python related issue.
The interface window already shows errors on opening.
![image](https://user-images.githubusercontent.com/17002288/40467107-210c50d8-5f5b-11e8-87bc-643df3acc7a3.png)

[2018-05-24 06:04] #1382 closed

[2018-05-24 06:48] shanshanhsieh commented on #1367
@martin-mosteiro , the solar technology potentials are simulated with all 9 cases, and I ran all of them with the plots without an error. This means that, the files are ready for Friday!

[2018-05-24 07:19] martin-mosteiro commented on #1367
@shanshanhsieh Excellent! Thanks so much for doing the testing - I was about to get into it, now I can focus on @amraladdin's presentation instead.

[2018-05-24 07:19] #1367 closed

[2018-05-24 07:20] martin-mosteiro commented on #1340
@gabriel-happle Will do!

[2018-05-24 08:11] martin-mosteiro opened #1387 "ArcGIS plots tools force you to select a scenario to compare to"
In order to run the plots toolbox, you always need to select a scenario to compare to, even if you are not running scenario comparison. There is a workaround: you can check the box just for the scenario you are running and the plots will work. But it's just an unnecessary nuisance.

[2018-05-24 08:18] gabriel-happle commented on #1387
@martin-mosteiro check #1386 ;)

[2018-05-24 08:19] gabriel-happle commented on #1386
duplicate of #1387

[2018-05-24 08:20] gabriel-happle commented on #1384
@amraladdin can this issue be closed?

[2018-05-24 09:09] martin-mosteiro commented on #1387
@gabriel-happle Thanks. I'm just quickly jotting down the issues that come up during the test run. Expect more duplicates :)
This issue is closed.

[2018-05-24 09:09] #1387 closed

[2018-05-24 09:24] martin-mosteiro opened #1388 "District emissions plot showing the wrong colors"
This seems to be the same issue that used to happen to every other kind of plot, but it's still happening for district emissions:
<img width="1400" alt="screen shot 2018-05-24 at 11 08 49" src="https://user-images.githubusercontent.com/18548065/40476665-e35fb3f8-5f44-11e8-84fb-60c5ccb6ccdc.png">

[2018-05-24 09:30] daren-thomas commented on #1309
@JIMENOFONSECA I have no idea what this means. Closing as not reproducible.

[2018-05-24 09:32] martin-mosteiro opened #1389 "Weather file cannot be changed from ArcGIS interface"
As mentioned by (I believe) @shanshanhsieh in a group meeting, it is impossible to change the weather file on ArcGIS at the moment. You can open the drop down menu and see the options, but when you select one Zug stays selected. The only workaround is to change the config file manually to select the correct weather file.

[2018-05-24 09:36] martin-mosteiro opened #1390 "ArcGIS interface should update the config file"
Each time you select a new tool, the default scenario path from the config file is pre-selected. This means that each and every time you want to run a tool for a scenario, you have to select your scenario again. The config file should be updated each time you change something on ArcGIS.

[2018-05-24 09:44] martin-mosteiro opened #1391 "Region cannot be selected from ArcGIS interface until it's too late"
Either the "New project" or "Data miner" (aka "Data helper") tool should have an option to select the region to be used and copy the database accordingly. At the moment, the "Data miner" just generates the building properties based on whatever is written in the config file!

[2018-05-24 09:55] martin-mosteiro opened #1392 "LCA exercise for the executive course"

[2018-05-24 10:17] JIMENOFONSECA commented on #1309
@daren-thomas sorry, this is one of the issues concerning the new CEA interface. It consists in making possible that the user can select the project or the weather file from a folder-dialog. At the moment, the user needs to write the name of the sceanrio

[2018-05-24 10:20] JIMENOFONSECA commented on #1388
This has to do with the version of plotly that you have installed. After updating the issue is solved. did you reinstalled CEA recently?, this should have included the version of plotly compatible with CEA. i.e.,g that included in the enviornmnet.yml file

[2018-05-24 10:22] #1384 closed

[2018-05-24 10:27] #1369 closed

[2018-05-24 10:28] JIMENOFONSECA commented on #1353
fixed by Daren

[2018-05-24 10:28] #1353 closed

[2018-05-24 10:29] JIMENOFONSECA commented on #1351
@daren-thomas should we then leave it as it is?

[2018-05-24 10:29] #1337 closed

[2018-05-24 12:18] #1389 closed

[2018-05-24 12:39] daren-thomas commented on #1391
NOTE: the `create-new-project` script does not use the region at all as far as I can tell, so I have only added it to the `data-helper`.

[2018-05-24 12:43] daren-thomas opened #1394 "Restrict `config` to the inputs for the tool when running from cli/arcgis interfaces"
When running the CEA from the `cea.interfaces.cli.cli` interface (and by extension also from arcgis and the dashboard), the config object should be restricted to the options specified in the `cli.config` file.

Why? This makes sure that when the tool is tested, any parameters that are used in the scripts that are not defined in the interface will create an error. That way, we can avoid running scr

[2018-05-24 12:45] #1391 closed

[2018-05-24 12:50] #1323 closed

[2018-05-24 13:00] daren-thomas commented on #1390
ah, @JIMENOFONSECA remember the cascading configuration files? they solved this problem (by introducing other issues, if i remember correctly).

i'm not sure what the best way to address this is...

[2018-05-24 13:09] daren-thomas commented on #1390
one issue: how to restore defaults from the `default.config`? i think we could add a `cea restore-default-config` script? OR, we could maybe... hm... have a checkbox at the top for restoring to default values. and then only for *that* tool? let's see if i can pull this off. check out branch 1390...

[2018-05-24 13:15] Jack-Hawthorne commented on #1298
@gabriel-happle hey gabriel, can you check out the added documentation and see if it is reflective of your code? its on branch 1298
I've put question marks next to some things i was not sure of so if you search for ?? they should be obvious to edit.
Thanks!

[2018-05-24 14:03] Jack-Hawthorne commented on #1046
@daren-thomas i'm assuming that this is caused by the documentation not existing when the original rsts were built.
The only thing that would have to be performed is a rebuild of the rst files using the sphinx-apidoc command. I have a good plan of how to do this, perhaps we could discuss?

[2018-05-24 14:39] JIMENOFONSECA commented on #1390
I think that the best option will be a tool under datamanagement that restores defaults.

________________________________
From: Daren Thomas [notifications@github.com]
Sent: Thursday, May 24, 2018 9:09 PM
To: architecture-building-systems/CityEnergyAnalyst
Cc: Jimeno Fonseca; Mention
Subject: Re: [architecture-building-systems/CityEnergyAnalyst] ArcGIS interface should update the config file (#13

[2018-05-25 05:49] amraladdin commented on #1384
Yes, sorry for the late reply :)

[2018-05-25 06:38] daren-thomas commented on #1390
so. i'm creating a pull request that i'll merge too, because it solves a big pain for the users: when running any tool that uses the CLI (the `cea <script>` program) - including the ArcGIS interface, the settings used are saved to the config file for the next time you open the dialog. i think this makes a lot of sense. we can add the "restore defaults" tool to the datamangement (or utilities?) lat

[2018-05-25 06:42] daren-thomas commented on #1390
fixed in PR #1398

[2018-05-25 06:42] #1390 closed

[2018-05-25 07:13] daren-thomas opened #1399 "ArcGIS interface does not remember weather file in between invocations"
Reproduction steps:
- open arcgis
- start a tool that has a weather input (e.g. demand)
- see: Zug is the chosen weather file
- choose another weather file
- run tool
- re-open tool

Expected:
- chosen weather file is the same as last one used

Buggy behavior:
- Zug is the chosen weather file

[2018-05-25 07:38] #1399 closed

[2018-05-25 10:01] daren-thomas opened #1401 "Add Shapefile-to-excel tools back to ArcGIS interface"
Somehow these got removed...

@JIMENOFONSECA  before i put them back, quick check: was this on purpose or an accident?

[2018-05-25 10:26] daren-thomas commented on #1291
@gabriel-happle it works on my machine...

- can you tell me what version of arcgis you are running?

best,
daren

[2018-05-25 10:34] JIMENOFONSECA commented on #1401
no idea about this issue..

[2018-05-25 11:44] martin-mosteiro opened #1402 "Thermal networks plots didn't work during test run"
1-The choice of heating or cooling network should not be hidden under "Advanced" options since it is necessary in order to run the thermal networks plots.
2-The following error occurred when running the plots for DC for the CBD_medium_density case study:
[code]

[2018-05-25 11:48] martin-mosteiro commented on #1340
Following on point 2 above: buildings had a higher cooling demand for the case with low window to wall ratio than for the case with high window to wall ratio:
![capture](https://user-images.githubusercontent.com/18548065/40542869-3e6d8742-6022-11e8-8191-954216fd9c9a.png)

[2018-05-25 12:48] martin-mosteiro commented on #1340
They did (these are graphs generated by workshop participants).

[2018-05-25 13:30] Jack-Hawthorne opened #1404 "api-demand-occupancy model"
addressing the build documentation only

[2018-05-25 14:55] JIMENOFONSECA commented on #1340
Mmm weird...

On 25 May 2018, 20:48 +0800, Martín Mosteiro-Romero <notifications@github.com>, wrote:

They did (these are graphs generated by workshop participants).

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub<https://github.com/architecture-building-systems/CityEnergyAnalyst/issues/1340#issuecomment-392047433>, or mute the thread<https://g

[2018-05-25 15:00] JIMENOFONSECA commented on #1340
Ill have to check it, but it might be a rebound effect of highly insulated walls.

On 25 May 2018, 20:48 +0800, Martín Mosteiro-Romero <notifications@github.com>, wrote:

They did (these are graphs generated by workshop participants).

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub<https://github.com/architecture-building-systems/CityEnergyAnal

[2018-05-28 08:02] Jack-Hawthorne commented on #1263
@daren-thomas before this is merged can we discuss the module import errors. when we find a solution to that most of the build bugs will be history

[2018-05-28 08:06] Jack-Hawthorne opened #1406 "api-update-analysis-clustering"
addressing doc build issues only

[2018-05-28 08:31] Jack-Hawthorne opened #1407 "module import error for documentation analysis/clustering"
getting the following error message when trying to build the documentation for clustering:

``WARNING: autodoc: failed to import module u'cea.analysis.clustering.sax.clustering_main'; the following exception was raised:
Traceback (most recent call last):
  File "c:\users\assistenz\miniconda2\envs\cea\lib\site-packages\sphinx\ext\autodoc\importer.py", line 140, in import_module
    __import__(modna

[2018-05-28 08:36] daren-thomas commented on #1407
@Jack-Hawthorne, please add the branch this is in and reproduction steps (I'm assuming you have excluded this module from the documentation build, so when we go to fix this error, we'll have to re-include it and having a paper trail would help)

[2018-05-28 09:26] martin-mosteiro commented on #1330
@shanshanhsieh Post-test run feedback:
Exercise 1: Worked really well! We actually had someone ask what the threshold value was during the live demonstration, so it was a good exercise to have.
Exercise 2: This one was maybe a bit too simple for our participants, who were mostly engineers with a background in energy and buildings. Nonetheless, it was nice to hear someone say "PV2 is a disaster" be

[2018-05-28 09:27] martin-mosteiro commented on #1330
That being said - we attempted to have an impromptu live demonstration of the thermal networks simulation and the plots did not work. I am not sure if this is a known issue @shanshanhsieh and @roglen, otherwise I'll create a new issue today.

[2018-05-28 09:28] daren-thomas commented on #1402
@martin-mosteiro does it work on your local computer?

[2018-05-28 09:29] roglen commented on #1330
@martin-mosteiro please create an issue, i'll have a look. As far as I am aware they should be working.

[2018-05-28 09:30] daren-thomas commented on #1401
@JIMENOFONSECA Should we put them back? Or just use the `excel-to-dbf` / `dbf-to-excel` on the dbf part of the shapefiles?

[2018-05-28 09:32] daren-thomas commented on #1046
@Jack-Hawthorne I know you're doing this now in another branch - did that resolve the issue? because, then we can close this one.

[2018-05-28 09:33] martin-mosteiro commented on #1330
@roglen actually, it seems I already did :) #1402
👍 to me from last Friday for following protocol
👎 to present day me for assuming I hadn't followed protocol

[2018-05-28 09:34] daren-thomas commented on #1351
@JIMENOFONSECA I don't really think it's good as it is. "We will be supply the user with a reference case" is only thinking as far as the executive course. What about random users that download the tool and want to give it a spin?

[2018-05-28 09:34] #1294 closed

[2018-05-28 09:36] daren-thomas commented on #1309
@JIMENOFONSECA ok, thank you. I think now I understand. I'm renaming the issue to reflect what I think you meant.

[2018-05-28 09:38] martin-mosteiro opened #1408 "Occupancy issues in WTP case study"
During the test run, the following issues came up with the `occupancy.dbf` files for every scenarioa of the WTP case study:
1-All buildings were assigned occupancy types (namely, 50% OFFICE and 50% MULTI_RES) regardless of the case study's focus (i.e., CBD, RES or MIX). This might be on purpose if setting up the case study is part of the exercises in the Singapore case study. Maybe @shizhongming c

[2018-05-28 09:39] martin-mosteiro commented on #1402
@daren-thomas Don't know. I'll test it and get back to you.

[2018-05-28 09:47] martin-mosteiro opened #1409 "Solar collectors can lose heat?"
During the test run, one of the participants brought up that for their case study they would occasionally have negative heat flows in their solar collectors (see capture attached). Indeed, this was also happening on my computer while testing: when solar collectors circulated water, they would at first lose some heat, then they would work normally, and they would lose heat at the last time step bef

[2018-05-28 09:51] daren-thomas commented on #1386
@JIMENOFONSECA Is there a reason we lumped all plots into the same tool? It seems the cleanest way to fix this one is to split the tools up. If you'd still like them all as one tool, I think I can update the Arcpy parameters in the updateParameterInfo methods.

[2018-05-28 09:52] daren-thomas commented on #1291
@gabriel-happle I have received access to one of the computers nigel is preparing and will check there to see if i can reproduce this error.

[2018-05-28 09:55] daren-thomas commented on #1357
@amraladdin did the tool work in the lab?

[2018-05-28 11:16] martin-mosteiro opened #1410 "Benchmark database does not include all occupancy types"
When the 2000W society benchmark database was created, there were no occupancy types 'LAB', 'LIBRARY' and 'MUSEUM'. These need to be added.

[2018-05-28 11:17] martin-mosteiro commented on #1410
This seems to cause the issue with PR #1380

[2018-05-28 12:58] amraladdin commented on #1357
We did not have time to install the tool in the HIL Lab, so we couldn't test it.

[2018-05-28 14:27] JIMENOFONSECA commented on #1386
I will select the option that takes less time and effort on arcgis. I see us moving away from it after the executive course. What do you think?

On 28 May 2018, 17:51 +0800, Daren Thomas <notifications@github.com>, wrote:

@JIMENOFONSECA<https://github.com/JIMENOFONSECA> Is there a reason we lumped all plots into the same tool? It seems the cleanest way to fix this one is to split the tools up. If

[2018-05-28 14:30] JIMENOFONSECA commented on #1351
I think we can offer a link in the cea manual to download the reference case from github. That could be much cleaner than a tool. What do you think?

On 28 May 2018, 17:34 +0800, Daren Thomas <notifications@github.com>, wrote:

@JIMENOFONSECA<https://github.com/JIMENOFONSECA> I don't really think it's good as it is. "We will be supply the user with a reference case" is only thinking as far as the

[2018-05-28 15:01] daren-thomas commented on #1351
@JIMENOFONSECA I like this idea!

[2018-05-28 15:02] daren-thomas commented on #1386
sure. i'll look into it.

[2018-05-28 15:03] daren-thomas commented on #1357
@amraladdin I don't understand this answer. it _was_ installed, wasn't it? did you just not run the heatmaps, is that what you're saying?

[2018-05-28 15:41] JIMENOFONSECA commented on #1401
I think we can put it back.

On 28 May 2018, 17:30 +0800, Daren Thomas <notifications@github.com>, wrote:

@JIMENOFONSECA<https://github.com/JIMENOFONSECA> Should we put them back? Or just use the excel-to-dbf / dbf-to-excel on the dbf part of the shapefiles?

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub<https://github.com/architecture-buildi

[2018-05-28 16:56] kerembeygo opened #1412 "CEA 2.7 run time error"
![demand simulation 1](https://user-images.githubusercontent.com/29708612/40623628-686b09f8-6297-11e8-8e82-0b2c49f9a5f8.jpg)
![demand simulation 2](https://user-images.githubusercontent.com/29708612/40623629-68963830-6297-11e8-8d30-084fd846af4b.jpg)
![heatmaps](https://user-images.githubusercontent.com/29708612/40623631-68bf36a4-6297-11e8-9523-46d6f6e1bf7c.jpg)
![lca1](https://user-images.githubus

[2018-05-29 02:29] JIMENOFONSECA commented on #1364
@daren-thomas @shanshanhsieh @roglen @Khayatian @martin-mosteiro @BhargavaKrishnaSreepathi @gabriel-happle @shizhongming @amraladdin

This issue will have a significant change in all scripts in CEA. So please be aware of this.
1. Qwwf, Qhsf, Qcsf, Ef will be recalled **Qxx_sys.** and E_sys This will account for the requirements of heating, or cooling, or electricity by the system inside the buildi

[2018-05-29 07:14] daren-thomas commented on #1357
@amraladdin you sure? i mean, did you check? because, i'm pretty sure we did install, back, when we originally specified how to install arcgis...

[2018-05-29 08:14] daren-thomas commented on #1291
@gabriel-happle I was able to reproduce this error on a computer (imac with bootcamp?) supplied by Nigel. investigating.

[2018-05-29 09:00] daren-thomas commented on #1291
ugh! now, after playing around a bit, it suddenly works. @gabriel-happle can you confirm that the heatmaps interface is still not working for you? can you `cea install-toolbox` on master? also... if that doesn't work, i'd love to teamviewer into your machine...

[2018-05-29 09:01] #1357 closed

[2018-05-29 11:01] martin-mosteiro opened #1413 "Plots tool requires values to be selected that are not needed for the selected plots"
I get the following error when running the plots tool:
![screen shot 2018-05-29 at 12 58 03](https://user-images.githubusercontent.com/18548065/40654988-25259952-6340-11e8-8768-fdc8fef3afda.png)
i.e., need to specify a value in the "Advanced" settings in order to run the plots tool even if I am not attempting to produce the plots affected by this value. This is a bug in itself, but on top of that,

[2018-05-29 11:03] martin-mosteiro commented on #1413
Update: after trying for the fourth time to type in a number, it worked. So I was able to produce the plots I wanted to produce. Nonetheless, the first part of the issue still holds.

[2018-05-29 11:04] martin-mosteiro commented on #1413
Same issue as found in the box "Path to scenarios to run comparison graphs for": these values should only be required when attempting to produce the plots that require them.
![screen shot 2018-05-29 at 13 04 06](https://user-images.githubusercontent.com/18548065/40655196-e3242f22-6340-11e8-91d6-c5c35ee4dc67.png)

[2018-05-29 11:09] #1388 closed

[2018-05-29 11:13] martin-mosteiro commented on #1386
This is also true for other values in the plots tool:
![screen shot 2018-05-29 at 13 10 18](https://user-images.githubusercontent.com/18548065/40655552-fb54ccf4-6341-11e8-9455-ec53de218ec0.png)
Issue #1413 covers all of these values being required.

[2018-05-29 11:15] martin-mosteiro commented on #1402
@daren-thomas Interesting. Thermal network plots do work on my own computer.

[2018-05-29 11:20] daren-thomas commented on #1301
@gabriel-happle @BhargavaKrishnaSreepathi what is the current status of this issue?

[2018-05-29 11:27] daren-thomas commented on #1413
duplicate of #1386, fixed in PR #1414

[2018-05-29 11:28] daren-thomas commented on #1402
@martin-mosteiro what is the current status of this bug?

[2018-05-29 11:30] martin-mosteiro commented on #1402
I just updated you 14 minutes ago.

[2018-05-29 11:30] martin-mosteiro commented on #1402
I have not tested this issue on the computer room again and don't think it's worth it. If no one else has this issue, feel free to close it.

[2018-05-29 12:05] #1402 closed

[2018-05-29 13:46] daren-thomas opened #1416 "Check licenses and source strategies for third party code in dashboard tool"
The `cea dashboard` branch would add tons of third party code to the repository. This needs to be checked for:

- compliance with our license
- maybe another way to install it? (separate repository?)
- check git sub repos (I think that was a thing a while ago, don't know yet how it works)

Completion of this issue is required before the PR #1195 can be merged.

[2018-05-29 13:47] daren-thomas commented on #1416
@JIMENOFONSECA any ideas welcome :)

[2018-05-29 14:53] daren-thomas commented on #1386
updated #1414 to address #1413

[2018-05-29 15:02] martin-mosteiro opened #1417 "`cea test --reference-cases all` No such file or directory: cea_github.auth"
[code]

@daren-thomas Is this the issue you referred to today when we discussed testing all scenarios locally?

[2018-05-30 03:09] gabriel-happle commented on #1291
Hey @daren-thomas I still have the same error.
Maybe it has to do with my licenses. For some reason I'm one of the few people here in Singapore that can run ArcGIS without VPN. (?)
We can do teamviewer when you have time. I'm back in the office now.

[2018-05-30 06:27] gabriel-happle opened #1418 "Changing WWR changes total solar irradiance on buildings"
This issue is to investigate the behavior described by @martin-mosteiro in #1340 .
In one of the case studies increasing the WWR of a building lowered the overall irradiance onto that geometry.
That behavior is strange and requires some intensive testing.

@JIMENOFONSECA please add your comments here, if you already did some tests.

[2018-05-30 07:47] martin-mosteiro commented on #1340
One idea that came up during the test run was: perhaps changing the WWR changes the sensor placement for the radiation script such that a sensor gives drastically different results than before?

In any case the decrease in cooling demand is odd as Jimeno said, possibly a consequence of the U-values used when defining the Singaporean office archetype.

Also, please note that the last two graphs I p

[2018-05-30 07:54] daren-thomas opened #1419 "Jenkins tests are failing - update the `ceatest.bat` and `ceatestall.bat` files"
Updates the tests run by the Jenkins to reflect changes to how the `cea` command works (it saves the last used parameters).

[2018-05-30 07:56] gabriel-happle commented on #1418
I had exactly the same idea as you @martin-mosteiro.
That's why I investigated that particular building in terms of sensor placement.
Here is my analysis:

![image](https://user-images.githubusercontent.com/17002288/40706891-abe2e6a2-6421-11e8-9f30-ecf0282454d1.png)

![image](https://user-images.githubusercontent.com/17002288/40706904-b68dfe02-6421-11e8-8cb0-77dbe69d77ef.png)

I conclude, that the

[2018-05-30 07:58] gabriel-happle commented on #1418
@JIMENOFONSECA and @shanshanhsieh, (also @shizhongming) this is also interesting for you.
I will make some further tests and also evaluate the simulation time for the whole case study.

[2018-05-30 08:03] daren-thomas commented on #1417
No, for running the `--reference-cases all` parameter, you need to set up an authentication token for GitHub. The documentation is here: http://city-energy-analyst.readthedocs.io/en/latest/how-to-test-the-cea.html#running-tests-locally

But note that it is old - the `--save` command doesn't work anymore. Instead, just create a text file with two lines, first is github user-name, second is the auth

[2018-05-30 08:09] daren-thomas commented on #1417
@martin-mosteiro I just went ahead and updated the documentation online.

[2018-05-30 08:47] daren-thomas commented on #1368
@martin-mosteiro what if... what if we removed the `custom` region altogether and instead copy each database as needed to the scenario, _unless_ it already exists there. This solves the problem that users need to be able to edit the databases - but we don't want them editing anything inside the cea folders.

(BTW: also remove any mucking around in the cea installation folders during the executive

[2018-05-30 08:52] #1417 closed

[2018-05-30 08:54] martin-mosteiro commented on #1368
Sounds like an excellent plan to me!

[2018-05-30 11:52] JIMENOFONSECA commented on #1418
Really interesting behavior and great analysis. I wonder how does it change the daily load profile (for the floor case at least)

Kind regards,

Dr. Jimeno A. Fonseca
Senior Researcher and Project Coordinator
Multi-Scale Energy Systems for Low-Carbon Cities (MuSES)
Future Cities Laboratory
Singapore ETH-Centre

Chair of Architecture and Building Systems
Institute of Technology in Architecture
ETH

[2018-05-30 13:44] JIMENOFONSECA commented on #1412
@kerembeygo Hi thanks, for putting an issue up. In order for us to help, please describe exactly what you were intending to do and a guide on how to replicate the error. @martin-mosteiro this apparently touches the sensitivity demand tool, so I add you to the conversation in case you have already some insights.

[2018-05-30 13:50] JIMENOFONSECA commented on #1408
@shizhongming could you change the case studies and update?

[2018-05-30 13:55] #1302 closed

[2018-05-30 13:59] JIMENOFONSECA commented on #1296
@Jack-Hawthorne I just added you. As discuss the table of variables and potential glossary are top priorities and should be ready for the 15th of June. This day we start to create a booklet (print it) with all presentations and the glossary, variables of CEA

[2018-05-30 14:02] JIMENOFONSECA commented on #1261
@stevekardinaljusuf in general, it words for ArcGIS 10.5. we are not sure about backward compatibility at the moment. May I suggest you try to use pycharm or the command line instead? If you are these days in SIngapore, you can bring your laptop and I can help over coffee.

[2018-05-30 14:09] JIMENOFONSECA commented on #1103
Changing to another milestone, we will not be able to handle this

[2018-05-30 14:14] daren-thomas commented on #1261
@stevekardinaljusuf I just encountered this bug this week again and I have the following solution steps for you:

- uninstall Miniconda / Anaconda again
- run the "Repair" option for ArcGIS (or re-install it)
- reinstall Miniconda / Anaconda
  - NOTE: Make sure to _not_ install it as the default Python for your system (i.e. uncheck that option in the installer)
- resume installation as per the gui

[2018-05-30 14:28] JIMENOFONSECA commented on #1275
@BhargavaKrishnaSreepathi what is the status?

[2018-05-30 14:46] JIMENOFONSECA commented on #569
This is the case with the radiation_daysim now!

[2018-05-30 14:46] #569 closed

[2018-05-30 14:47] #66 closed

[2018-05-30 14:58] JIMENOFONSECA commented on #683
It is already fast. the fix was based on tuning the hyperparameters.

[2018-05-30 14:58] #683 closed

[2018-05-30 15:48] BhargavaKrishnaSreepathi commented on #1275
fixed in PR #1358

[2018-05-30 15:53] BhargavaKrishnaSreepathi commented on #1354
It is possible, but I will not suggest to do it, as it requires changes in multiple places in CEA, which needs to be followed up by testing process. Keeping the time in consideration, I would refrain from this.
One way is to pre run the technologies for each case study and have them. As per my understanding, we just show them the simulation of one technology, namely `PV` and provide the results fo

[2018-05-30 15:55] BhargavaKrishnaSreepathi commented on #771
Yep it has been done (not sure which PR), but current CEA can handle this

[2018-05-30 15:55] #771 closed

[2018-05-30 15:56] BhargavaKrishnaSreepathi commented on #533
@JIMENOFONSECA: in optimization, will modify the title accordingly

[2018-05-30 16:09] BhargavaKrishnaSreepathi commented on #773
nice catch...Just found that the cost calculations for the SC, PV, PVT have Capex_a, Opex_fixed terms but are missing Opex_var term. @shanshanhsieh Can you help me with this? I am suspecting that the electricity charges of PV, PVT has some portion deducted for operating the technology. Is this the case? Or do you suggest something else. For reference, the cost calculations for the SC are done in `

[2018-05-30 16:10] stevekardinaljusuf commented on #1261
@daren-thomas Thank you for your advice. It looks I can install CEA in my laptop properly. I haven't got time to run it.

@JIMENOFONSECA Let's meet over coffee. I will send you email separately.

[2018-05-31 01:11] JIMENOFONSECA commented on #1261
Hi Daren,

would you mind adding this caveat to the manual? It seems it can be a source of typical error. I think we need a section dedicated to "potential errors during the installation" what do you think?
________________________________
From: Daren Thomas [notifications@github.com]
Sent: Wednesday, May 30, 2018 10:14 PM
To: architecture-building-systems/CityEnergyAnalyst
Cc: Jimeno Fonseca; Com

[2018-05-31 01:12] JIMENOFONSECA commented on #1354
What about if you get SC2 and its files as zero when they are not present? that will be a quick fix right?

________________________________
From: Bhargava Krishna Sreepathi [notifications@github.com]
Sent: Wednesday, May 30, 2018 11:54 PM
To: architecture-building-systems/CityEnergyAnalyst
Cc: Jimeno Fonseca; Assign
Subject: Re: [architecture-building-systems/CityEnergyAnalyst] Plots: Cannot run

[2018-05-31 01:34] shanshanhsieh commented on #1354
I started working on it in `i1244` (will be ready to merge today)
1. for the plotting function, it will only plot the files that are simulated
2. for SC2, we can run for roof tops, but the rest of the technologies can still consider walls and roofs
3. in the case of cooling, `PVT` is not required, i thought you made a quick fix to bypass it last time in the individual evaluation branch, @BhargavaK

[2018-05-31 01:50] gabriel-happle commented on #1267
@JIMENOFONSECA No, currently for `humidification` we are still using some line of code from legacy as mentioned by @martin-mosteiro.
Irrespective of the actual amount of water needed, there is an electric power consumption per kg/h ventilation air flow.
As humidification has a different mechanism as dehumidification we would need a component model for that.
In Singapore this is not an issue, as we

[2018-05-31 02:22] shizhongming commented on #1408
@martin-mosteiro I think your case study folder is not up-to-date....I figured the problem out two weeks before. It is caused by a bug of the Create_a_new_project script...Please sync and it should help~ :)

[2018-05-31 03:13] ongbolie opened #1422 "LCA infrastructure file update for Singaporean context"
Current LCA infrastructure database (DWH, heating, cooling and electricity mix) was adopted from the Swiss Conference for Coordination of Building Services and Public Buildings (KBOB) standards and needs to be adapted to the Singaporean context.

[2018-05-31 06:31] JIMENOFONSECA opened #1423 "optimization results do not seem accurrate to the Singaporean context"
Issue 1:
centralized costs, It seems there are negative values and the bars get juxtaposed.

![image](https://user-images.githubusercontent.com/8973186/40765713-f373881e-64df-11e8-9f09-234d976105d1.png)

![image](https://user-images.githubusercontent.com/8973186/40765732-fb7d3cf8-64df-11e8-917e-859f506335ae.png)

[2018-05-31 07:47] martin-mosteiro commented on #1408
Great!

[2018-05-31 07:52] martin-mosteiro commented on #1267
@JIMENOFONSECA Yep, what @gabriel-happle said, basically. This only seems to have a big effect on buildings with air-based heating, which is not present in any of our case studies at the moment, so I'm giving it a low priority. But I'm keeping the issue open in case it does appear in other cases.

[2018-05-31 09:04] #1419 closed

[2018-05-31 09:44] daren-thomas opened #1425 "Link the case studies for the Executive course to the website"
The website (cityenergyanalyst.com) should include a link to download the case studies used during the executive course.

Bonus points for including "synchronization points", that is, versions of the case studies with the completed exercises for each day of the course, in case a participant misses a day or something.

[2018-05-31 09:53] shizhongming opened #1426 "Reduce the size of the WTP-9-scenarios"
Discuss with @shanshanhsieh  and @roglen about the networks before proceeding...
Deadline : Monday, June 4, 2018

[2018-05-31 09:58] #1281 closed

[2018-05-31 10:26] martin-mosteiro commented on #1408
@shizhongming The updated case studies look good! Only issue is that columns that have 0 of an occupancy type get assigned `int` as a data type. Which means from then on the building can only have 0% of that function or 100%. Practical example: 02_RES_medium_density has 0% office in all the buildings. That column can now only be assigned values of 0 or 1 on ArcScene.

Namely, here are the problema

[2018-05-31 10:36] martin-mosteiro commented on #1408
This issue is solved by PR #34 on the cea-reference-case repository:
https://github.com/architecture-building-systems/cea-reference-case/pull/34

[2018-05-31 12:11] martin-mosteiro commented on #1256
I did. And in any case the cooling system's capacity was greater than the internal gains in all my tests, but the thermal mass was still getting overheated.

As discussed on Pycharm, I agree the issue is that data center cooling demand should be treated as process cooling, not space cooling. This solves the issue of overheating based on my tests on the HSQ case study and it is actually basically t

[2018-05-31 12:20] martin-mosteiro commented on #1412
@kerembeygo Thanks for notifying us about the issue. Looks like there are quite a few different scripts being called up here and a few different issues popping up. I'll get to these one by one below.

[2018-05-31 12:21] martin-mosteiro commented on #1412
These issues all point out to the shapefile for the zone of study being missing. Perhaps you did not select the scenario before running the respective tools?
![40623629-68963830-6297-11e8-8d30-084fd846af4b](https://user-images.githubusercontent.com/18548065/40781866-cfd1a42e-64dd-11e8-806f-7afb0b38e75e.jpg)
![40623665-93a4264a-6297-11e8-924f-3c0222b35241](https://user-images.githubusercontent.com/

[2018-05-31 12:31] martin-mosteiro commented on #1412
The following is an issue with the window-to-wall ratio specified for south-facing walls. Could you please supply us with your architecture.dbf file to check what the issue might be?
If you do not have one, then that is probably the reason for the issue. You might want to run the "Data helper" tool in order to create this file based on the CEA archetype database.
![40623633-692224bc-6297-11e8-9521

[2018-05-31 12:35] martin-mosteiro commented on #1412
These issues all point to the following error: `No module named arcgisscripting`. This error could be caused by your PYTHONPATH variable not being set correctly. [These instructions](https://gis.stackexchange.com/questions/387/resolving-importerror-no-module-named-arcgisscripting) may help solve the problem.
![40623631-68bf36a4-6297-11e8-9523-46d6f6e1bf7c](https://user-images.githubusercontent.com

[2018-05-31 13:46] #1408 closed

[2018-05-31 20:00] kerembeygo commented on #1412
Basically I tried to run the latest version of the tool that is available on your website (CEA 2.7).
 I followed the order in the advanced tutorials section
(http://city-energy-analyst.readthedocs.io/en/latest/tutorials.html).
Starting with
1.How does the Urban Solar Radiation tool work?.
Path to the scenario to run
C:\reference-case-open\baseline
IOError: no such file or directory: 'C:\\reference

[2018-05-31 20:03] kerembeygo commented on #1412
C:\reference-case\baseline\reference-case-open\baseline\inputs\building-properties
[architecture.zip](https://github.com/architecture-building-systems/CityEnergyAnalyst/files/2059880/architecture.zip)
architecture.dbf file

[2018-05-31 20:07] kerembeygo commented on #1412
![inputs building geometry](https://user-images.githubusercontent.com/29708612/40805562-2b114850-650e-11e8-9cc3-5e113794b1b4.jpg)

[2018-05-31 20:08] kerembeygo commented on #1412
![inputs building metering](https://user-images.githubusercontent.com/29708612/40805594-513a2326-650e-11e8-9da1-2290ded75559.jpg)

[2018-05-31 20:08] kerembeygo commented on #1412
![inputs building properties](https://user-images.githubusercontent.com/29708612/40805631-703e40c2-650e-11e8-8f90-1af757c9354b.jpg)

[2018-05-31 20:09] kerembeygo commented on #1412
![inputs networks](https://user-images.githubusercontent.com/29708612/40805691-95dca468-650e-11e8-8253-ba0c1c9364a2.jpg)

[2018-05-31 20:10] kerembeygo commented on #1412
![inputs topography](https://user-images.githubusercontent.com/29708612/40805713-af0b3d32-650e-11e8-8701-e4c1efe35f49.jpg)

[2018-05-31 20:11] kerembeygo commented on #1412
![inputs weather](https://user-images.githubusercontent.com/29708612/40805742-c98d57b2-650e-11e8-8641-ed2bff752a6c.jpg)

[2018-05-31 20:15] kerembeygo commented on #1412
A much earlier version of CEA was installed on PC. There was some problems with ArcScene 10.5. Problem was solved by Daren Thomas. I think that version is still on PC.

[2018-05-31 20:15] kerembeygo commented on #1412
![two versions](https://user-images.githubusercontent.com/29708612/40805940-6825b040-650f-11e8-8fc4-ec8ef67491ac.jpg)

[2018-05-31 20:41] kerembeygo commented on #1412
Run for C:\reference-case-open\baseline
![reference case](https://user-images.githubusercontent.com/29708612/40807124-f984a0f2-6512-11e8-8435-5209fe7ff09d.jpg)

[2018-05-31 20:43] kerembeygo commented on #1412
![1](https://user-images.githubusercontent.com/29708612/40807225-3d3842ea-6513-11e8-83e3-e01a1173c410.jpg)

[2018-05-31 20:44] kerembeygo commented on #1412
![2](https://user-images.githubusercontent.com/29708612/40807289-6ab01784-6513-11e8-8132-a62ed3c081d1.jpg)

[2018-05-31 20:46] kerembeygo commented on #1412
![3](https://user-images.githubusercontent.com/29708612/40807357-9bc71aa2-6513-11e8-9e71-bfa327023477.jpg)

[2018-05-31 20:49] kerembeygo commented on #1412
Run for
![4](https://user-images.githubusercontent.com/29708612/40807563-2aa0f3a6-6514-11e8-8127-6cbc52fb16ec.jpg)
C:\reference-case\baseline\reference-case-open\baseline

[2018-05-31 20:51] kerembeygo commented on #1412
![5](https://user-images.githubusercontent.com/29708612/40807645-6e07e000-6514-11e8-93af-fa61759bcfb6.jpg)

[2018-05-31 20:53] kerembeygo commented on #1412
![6](https://user-images.githubusercontent.com/29708612/40807712-97a1b9e0-6514-11e8-9123-0007f2642339.jpg)

[2018-05-31 20:54] kerembeygo commented on #1412
![7](https://user-images.githubusercontent.com/29708612/40807779-c7f4fd3c-6514-11e8-9e90-47c04681e028.jpg)

[2018-05-31 20:56] kerembeygo commented on #1412
Is there a way to clean both versions of CEA without leaving a trace? May be I should reinstall the newer version then...

[2018-06-01 00:44] JIMENOFONSECA commented on #1267
Got it, thanks!

Kind regards,

Dr. Jimeno A. Fonseca
Senior Researcher and Project Coordinator
Multi-Scale Energy Systems for Low-Carbon Cities (MuSES)
Future Cities Laboratory
Singapore ETH-Centre

Chair of Architecture and Building Systems
Institute of Technology in Architecture
ETH Zurich

Scientific Advisory Committee
Energy and Sustainability 2017

On 31 May 2018, 15:52 +0800, Martín Mosteir

[2018-06-01 09:11] #1385 closed

[2018-06-01 09:12] roglen opened #1430 "Upgrade network optimization to multi-objective"
Current optimization calculates minimum cost only, upgrade this to match CEA main optimization

[2018-06-01 09:13] #1117 closed

[2018-06-01 09:28] martin-mosteiro commented on #1412
@kerembeygo Interesting, you are indeed running an up-to-date case study, so I believe you probably do have conflicting versions of CEA installed and the toolbox that is installed on your ArcGIS is an older version.
I think @daren-thomas is probably the best person to assist you with installation issues.

[2018-06-01 09:39] roglen opened #1433 "Distribute the flow of plants so I can find the best configuration"
Currently the mass flow is devided evenly between all plants, this could/should be optimized.

[2018-06-01 09:58] gabriel-happle commented on #1418
PR #1432 created.
We also need to update all the radiation for all the case studies.
Can you take care of that @JIMENOFONSECA with your fast machine also for the EcoCampus?
Thanks.

[2018-06-01 10:58] daren-thomas commented on #1412
@kerembeygo how did you install the CityEnergyAnalyst?

[2018-06-01 18:37] kerembeygo commented on #1412
I used the Setup_CityEnergyAnalyst_2.7
![1](https://user-images.githubusercontent.com/29708612/40857495-dc9a8b38-65ca-11e8-903f-bc0cf18be24a.jpg)

[2018-06-04 03:09] gabriel-happle opened #1435 "Change default config for radiation"
According to observations in in #1432 and related issues we recommend to change the default config for the radiation simulation to the following:

[code]

[2018-06-04 03:11] gabriel-happle opened #1436 "Recalculate radiation files for all case studies and test cases"
Recalculate all radiation files for all test cases and case studies with bugfix of #1432 and new `config` settings of #1435

- zip file test in cea --- cea/tests/radiation_data
- all case studies of cea-reference-case repository

[2018-06-04 06:06] roglen opened #1437 "Typo in optimization network check"
Typo in line 443, in the checkNtw function of `evaluation.py`
Should be DCN_network_list instead of DHN_network_list

[2018-06-04 06:18] gabriel-happle commented on #1435
If `consider-windows=false AND consider-walls=false` the building geometry doesn't even have walls and demand fails anyways.
One more reason to remove the `consider-windows` parameter from `config`.

[2018-06-04 06:28] #1295 closed

[2018-06-04 06:29] #1275 closed

[2018-06-04 06:30] BhargavaKrishnaSreepathi commented on #1354
yes @shanshanhsieh,  as PVT is not being used, we can make sure that it is not necessary to run it, just need to add a conditional statement in cea\optimization\optimization_main

[2018-06-04 06:36] BhargavaKrishnaSreepathi commented on #1423
I have taken a look at the graphs generated, the CCGT unit generates electricity which is consumed or supplied to the grid. This effectively gives a negative cost to the CCGT. And when the overall costs are calculated this happens. I will try to figure out a better way to show this stacked plot

[2018-06-04 07:03] shanshanhsieh commented on #773
i am on it!

[2018-06-04 07:46] BhargavaKrishnaSreepathi commented on #1437
fixed in i1437-quick-fix-on-a-typo

[2018-06-04 08:09] BhargavaKrishnaSreepathi commented on #1246
fixed in i1437-quick-fix-to-typo

[2018-06-04 08:20] BhargavaKrishnaSreepathi commented on #1303
fixed this in PR of cost-analysis-plots #1358

[2018-06-04 08:20] #1303 closed

[2018-06-04 08:20] #1333 closed

[2018-06-04 08:21] BhargavaKrishnaSreepathi commented on #1300
fixed in #1358. Thank you shanshan for the amazing work :)

[2018-06-04 08:21] #1300 closed

[2018-06-04 11:50] #1063 closed

[2018-06-04 12:58] daren-thomas commented on #1147
still some changes to make after switching to using modal dialogs for editing rows.

[2018-06-04 12:59] #1413 closed

[2018-06-04 13:05] daren-thomas commented on #1416
fixed by moving to separate repository.

[2018-06-04 13:05] #1416 closed

[2018-06-04 13:22] daren-thomas commented on #1401
@JIMENOFONSECA was just looking into this and... it seems we probably took this out when we did a change to the whole CRS thing. Question: Where is the definitive place to check for the universal CRS we're using now?

[2018-06-05 06:06] #1386 closed

[2018-06-05 06:20] #1437 closed

[2018-06-05 06:20] #1246 closed

[2018-06-05 06:23] BhargavaKrishnaSreepathi opened #1441 "Running optimization for the first time gives an error corresponding to non existent folder"
electricity
Process-heat
Traceback (most recent call last):
  File "C:\Program Files\JetBrains\PyCharm 2017.3.3\helpers\pydev\pydev_run_in_console.py", line 53, in run_file
    pydev_imports.execfile(file, globals, locals)  # execute the script
  File "C:/Users/Bhargava/Documents/GitHub/CEAforArcGIS/cea/optimization/optimization_main.py", line 124, in <module>
    main(cea.config.Configuration())

[2018-06-05 07:34] shanshanhsieh opened #1442 "area utilisation factor to install solar technologies"
1. add *area-utilization-factor-roof*, *area-utilization-factor-wall* to decide the number of panels installed
2. change the unit of *annual-radiation-threshold* to kWh/m2

[2018-06-05 07:35] BhargavaKrishnaSreepathi commented on #1441
fixed in PR #1443

[2018-06-05 07:35] #1441 closed

[2018-06-05 08:18] daren-thomas opened #1444 "Fix `ensure_cpg_file` function to actually re-encode the code page"
The function `cea.utilities.standarize_coordinates.ensure_cpg_file` currently just opens the `.CPG` file and writes the official code page used by CEA (`ISO-8859-1`) to that file. This is probably a bug.

- it is my understanding that the `.CPG` file describes the code page used for text data saved with the Shapefile
- therefore, that code page should be used to read in the data (I'd be surprised

[2018-06-05 08:19] daren-thomas commented on #1444
@JIMENOFONSECA would you like to take over this issue? it's a bug, but it won't stop us for the executive course, so I've pushed it to milestone M3...

[2018-06-05 08:47] daren-thomas opened #1445 "Document the Coordinate system used for Shapefiles"
The function `cea.utilities.standarize_coordinates.shapefile_to_WSG_and_UTM` defines the standard coordinate system to use for the Shapefiles in the CEA.

This should also be mentioned in the documentation.

I checked the Tutorials and the readthedocs documentation and could not find any references. If it exists, then we should make it more prominent.

[2018-06-05 08:47] daren-thomas commented on #1445
@JIMENOFONSECA can you take over this issue please? I think of the group, you're the person with the most knowledge in this matter.

[2018-06-05 08:51] daren-thomas opened #1446 "Fix the "details" link to the Jenkins for failed checks in GitHub pull requests"
They still link to localtunnel.me - I'll have to check to see where that happens. This isn't blocking anyone right now - just replace `localtunnel.me` in the link with `ngrok.io`.

[2018-06-05 09:47] JIMENOFONSECA commented on #1445
Sure, please assign it to me
On 5 Jun 2018, 16:48 +0800, Daren Thomas <notifications@github.com>, wrote:

@JIMENOFONSECA<https://github.com/JIMENOFONSECA> can you take over this issue please? I think of the group, you're the person with the most knowledge in this matter.

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub<https://github.com/archite

[2018-06-05 13:57] daren-thomas commented on #1335
@martin-mosteiro is this still not working on your system? i'd like to give it another try. are you in tomorrow?

[2018-06-05 13:58] daren-thomas commented on #1256
@martin-mosteiro what is the status of this issue?

[2018-06-05 14:30] martin-mosteiro commented on #1256
@JIMENOFONSECA is working on a PR to solve this issue among others.

[2018-06-06 07:16] Khayatian opened #1449 "Tcs_sup_ahu_0"
There seems to be an unneccessary space between "**Tc**" and "**s**" in variable "**Tcs_sup_ahu_0**" and therefore, the demand run fails. could you please double check this?
![untitled](https://user-images.githubusercontent.com/27851066/41022564-9025e164-699c-11e8-96f2-fff7d7844165.png)

Attached is a print-screen

PS: I am working with ecocampus

[2018-06-06 08:14] roglen opened #1450 "limit amount of CPUs used for multiprocessing"

[2018-06-06 08:16] roglen commented on #1450
Reduces the amount of used CPUs in the thermal network matrix to make sure that laptop is still useable while simulation is running.

[2018-06-06 08:30] daren-thomas commented on #1450
I wonder if we could add a `max-processes` variable to the `[general]` tab with the following semantics:

- `0`: (default) use all available CPU's if multiprocessing
- `n`: use `min(max_processes, mp.cpu_count())` if multiprocessing

[2018-06-06 11:31] JIMENOFONSECA commented on #1449
@Khayatian yes! i found it and I am repairing it branch i1364

[2018-06-06 11:45] JIMENOFONSECA opened #1451 "Databases folder in case study"
In order to facilitate access to the users to the databases of cea in each case study. This feature should do:

When running the first simualtion. It should copy the databases folder of CEA to the folder of the case study. This is already done, BUT What it should be different is what databases should be copied and hence be used from there on.

If the region in the config file is CH then COPY to th

[2018-06-06 12:27] daren-thomas commented on #1451
sure. i have meetings today, but tomorrow i'll look into this. i like your approach.

[2018-06-06 13:04] JIMENOFONSECA commented on #1449
Hi fazel, we merged that branch already a week ago. Is the same problem happening in master? I saw it last week and tried to solve it.
On 6 Jun 2018, 15:16 +0800, Fazel Khayatian <notifications@github.com>, wrote:

There seems to be an unneccessary space between "Tc" and "s" in variable "Tcs_sup_ahu_0" and therefore, the demand run fails. could you please double check this?
[untitled]<https://user

[2018-06-06 23:33] roglen commented on #1450
@daren-thomas what do you think?

[2018-06-07 03:11] Khayatian commented on #1449
Hi @JIMENOFONSECA

Thanks for the reply. Seems that the issue is resolved in the Master branch, but persists in i928 branch. I will create a new branch from the Master and continue from there.

Best

Fazel

[2018-06-07 03:11] Khayatian commented on #1449
This issue is resolved.

[2018-06-07 03:11] #1449 closed

[2018-06-07 08:19] daren-thomas opened #1455 "Update glossary to reflect variable name changes from PR #1454"
The upcoming  PR  #1454 will change the subscripts of all the variables like this:

hsf  ——> hs_sys
csf  ——> cs_sys
wwf  ——>ww_sys

I recommend Jack use the replace-text tool in csv and replace all with hsf to hs_sys etc… that is an easy way to do it.

The name of the variables will be

“system heating demand” instead of “final heating demand”
“system cooling demand” instead of “final cooling dema

[2018-06-07 09:05] daren-thomas commented on #1450
@roglen i think the trial-and-error thing is unavoidable. i like your suggestion of the `cpu_count() -1` but not sure how you could implement that. what if... negative values for `max-processes` are subtracted from `cpu_count()`?

so, the number of processes used could be calculated like this:

[code]

And have the default in `default.config` be `-1`

[2018-06-07 09:54] roglen commented on #1450
@daren-thomas  Interesting idea! I like it!
I was thinking of something like this:

`if config.multiprocessing:
      processes = max(min(config.max_processes, cpu_count() -1), 1)`

the max condition so that we have at least one. I guess the downside of this would be that we can't set it to using all cpus. So let's go with what you wrote! Can we add a failsafe for the case with only one CPU? (even

[2018-06-07 10:05] #1291 closed

[2018-06-07 10:07] daren-thomas commented on #1291
@gabriel-happle, @shanshanhsieh this issue can be resolved by the following steps:

- uninstall Anaconda (sorry. this takes forever)
- re-install Anaconda (UNCHECK "Register Anaconda as default Python")
- conda env create
- pip install -e .[dev]
- cea install-toolbox

It is now working on @gabriel-happle 's computer.

[2018-06-07 10:08] daren-thomas commented on #1335
This could be similar to the problem @gabriel-happle had in #1291
Suggestion: re-install Anaconda but UNCHECK setting it as the default python...

[2018-06-07 10:13] daren-thomas commented on #1450
you go ahead. add a failsafe! extract it to a function (`number_of_processes`?) and stick that in utilities or something so we can use it from demand as well - in fact, maybe go and see if you can fix those parts too so we stay consistent?

i'll gladly review your changes :)

[2018-06-07 10:57] JIMENOFONSECA commented on #1291
Can we add this to the installation guide?, maybe it was done so already.

On 7 Jun 2018, 6:07 PM +0800, Daren Thomas <notifications@github.com>, wrote:

@gabriel-happle<https://github.com/gabriel-happle>, @shanshanhsieh<https://github.com/shanshanhsieh> this issue can be resolved by the following steps:

  *   uninstall Anaconda (sorry. this takes forever)
  *   re-install Anaconda (UNCHECK "Regi

[2018-06-07 12:00] daren-thomas commented on #1291
yes, the installation guide now contains the relevant instruction.

@gabriel-happle in future, alongside the screenshot, an actual textual representation of the error (for instance using the triple-back-tick formatting) will help future user's find the solution.

[2018-06-08 02:20] gabriel-happle opened #1457 "As a researcher, I want the environmental performance to be a function of my system design and operation, so I can evaluate design options in a meaningful way"
The database of infrastructure LCA should be updated to a more dynamic way of calculating technology environmental impacts.

The idea is to disaggregate infrastructure&materials from fuel usage, similar to cost calculations.
For that we need information on:

- Equipment LCA per unit of generation capacity, e.g., 1 kW of chiller, 1 kWp of PV panel
- Equipment Lifetime, e.g., 15 years for chiller, 2

[2018-06-08 03:35] JIMENOFONSECA opened #1458 "Daysim does not produce the same results when running multiple buildings vs. single ones"

[2018-06-08 03:46] ongbolie commented on #1457
#1422

[2018-06-08 06:26] JIMENOFONSECA opened #1461 "Better description of variables inside lake potential tool"
It is difficult to know what the variables incl. tick boxes do in this tool. I imagine we do not need to run it all the time right? optimization should bypass it if it does not find the file right?

![image](https://user-images.githubusercontent.com/8973186/41142362-fa7a5a54-6b27-11e8-8ae5-1368d30853cb.png)

[2018-06-08 06:28] #1450 closed

[2018-06-08 11:50] BhargavaKrishnaSreepathi opened #1464 "Please test the reference-case-WTP-reduced/ WTP_MIX_m"
Hi Daren, Please run the reference-case-WTP-reduced/WTP_MIX_m.
you can find the scenario here.
https://github.com/architecture-building-systems/cea-reference-case/tree/master/reference-case-WTP-reduced
The configuration to be tested is here:
https://docs.google.com/spreadsheets/d/16YhTIFRgqFL-EDsPm-nwdn3thEoNwKRrDhfk6OdMvRM/edit#gid=148616131

For the test run, run with individuals as 2 and genera

[2018-06-08 11:51] BhargavaKrishnaSreepathi commented on #1464
You can find the workflow of running CEA here, http://city-energy-analyst.readthedocs.io/en/latest/cea-workflow-guide.html

[2018-06-09 08:18] roglen opened #1465 "Several small updates to thermal network matrix"
- [ ] add 20% pressure losses to supply and return networks to account for bends etc.
- [ ] remove pipe isolation for DC case

[2018-06-09 14:35] amraladdin opened #1466 "Change the feature name "Data Miner" to "Data Helper""
@JIMENOFONSECA , we need to change the name of the "data miner" feature to "data helper". We discussed this in an earlier meeting and you asked me to assign you for this issue.

[2018-06-11 01:47] JIMENOFONSECA commented on #1466
@amraladdin this is already implemented in master since some weeks, you might have the old version of CEA, please re-install the toolbox. in the command line do

-activate cea
- cea install-toolbox

[2018-06-11 01:47] #1466 closed

[2018-06-11 02:28] roglen commented on #1465
@JIMENOFONSECA @shanshanhsieh I am grouping these issues in branch
'Various small additions to thermal network matrix'

[2018-06-11 03:20] JIMENOFONSECA commented on #1465
@roglen cool I will be working on the cooling coil part we identified on friday.

[2018-06-11 06:30] JIMENOFONSECA commented on #1465
https://www.spgroup.com.sg/wcm/connect/spgrp/c92a842f-868b-4547-a6e6-0c29394bd7dc/%5BInfo%5D+Supply+Conditions+for+District+Cooling+Service.pdf?MOD=AJPERES

Here is an article portraying the supply and return temeperatures of district cooling in singapore at nominal conditions.

Supply 6 + -0.5 C and retunr  14+- 0.5 C

That means that the cooling coil temperatures should be above 6C and return ab

[2018-06-11 07:52] amraladdin commented on #1466
Sounds great! Thanks!

[2018-06-11 07:53] amraladdin commented on #1109
Checked

[2018-06-11 07:53] #1109 closed

[2018-06-11 07:54] #1342 closed

[2018-06-11 07:57] amraladdin commented on #1103
Ok, sounds great! I also changed the priority and the Epic. @gabriel-happle I'll assign you to this task then.

[2018-06-11 07:57] amraladdin commented on #920
Done

[2018-06-11 07:57] #920 closed

[2018-06-11 07:57] #1341 closed

[2018-06-11 08:27] daren-thomas commented on #1461
I agree. There is much room for improvement here. Also, what is meant with "Calculate the lake potential of the location"?

[2018-06-11 08:34] amraladdin opened #1467 "Glossary | Inputs and Default Databases"
Dear Team,

Please find in the below Google Sheet Link the variables list for the *inputs* and *default databases* of the CEA. We need your (The Singapore Team) input to complete the list and finalize the Glossary.

As discussed over Skype, the Singapore team will check the link, fill the missing parts and return it by *Wednesday 13th of June*.

EXPLANATION:
-----------------
Please open the follo

[2018-06-11 09:14] daren-thomas opened #1469 "Benchmark-graphs not working in master (KeyError: the label [PARKING] is not in the [index])"
When running the `cea benchmark-graphs` tool from master (572e2e78306d752500191d56eeb0e0999e083155) I get the following error:

[code]

I'm moving this to the M3 milestone as I don't think we'll be using this tool for the executive course...

[2018-06-11 09:19] daren-thomas opened #1470 "Remove old radiation tool (ArcGIS version)"
The old radiation tool has been replaced by the `cea radiation-daysim` tool. It can be removed (I checked with @JIMENOFONSECA).

I suggest:

- remove `cea radiation` tool and scripts that go with it (goal: remove unused code whenever possible)
- rename `cea radiation-daysim` to `cea radiation`
- check the labels in ArcGIS / dashboard

[2018-06-11 09:25] daren-thomas opened #1471 "Rename tool "cea decentralized""
Decentralized what? I'm sure we can come up with a better name for the tool.

[2018-06-11 09:30] daren-thomas commented on #1301
@gabriel-happle @BhargavaKrishnaSreepathi what is the current status of this issue?

[2018-06-11 09:30] daren-thomas commented on #1256
@JIMENOFONSECA what is the status of this issue? is it resolved?

[2018-06-11 09:32] JIMENOFONSECA commented on #1256
yes, let’s close it

On 11 Jun 2018, 5:31 PM +0800, Daren Thomas <notifications@github.com>, wrote:

@JIMENOFONSECA<https://github.com/JIMENOFONSECA> what is the status of this issue? is it resolved?

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub<https://github.com/architecture-building-systems/CityEnergyAnalyst/issues/1256#issuecomment-396181

[2018-06-11 09:36] BhargavaKrishnaSreepathi commented on #1301
I think this is no longer an issue. I think this got fixed in one of PRs in the past two weeks

[2018-06-11 09:36] #1301 closed

[2018-06-11 09:44] BhargavaKrishnaSreepathi commented on #1423
fixed in PR#1468

[2018-06-11 09:44] #1423 closed

[2018-06-11 11:12] shanshanhsieh opened #1472 "update documentation with the new names of solar collectors"
this document should be updated
http://city-energy-analyst.readthedocs.io/en/latest/cea-workflow-guide.html

[2018-06-11 11:13] JIMENOFONSECA opened #1473 "fixing names of optimization plots"
Tracked in branch fix-to-opt-plots

[2018-06-11 11:51] #1472 closed

[2018-06-11 11:58] daren-thomas opened #1475 "Add cea copy-databases tool"
This tool, added in PR #1453, needs to be added to the ArcGIS interface (uncomment the class already set up in the CityEnergyAnalyst.pyt file).

Also, the code that runs this functionality automatically has to be removed from the `cea.interfaces.cli.cli.py` file.

[2018-06-11 12:03] #1256 closed

[2018-06-11 12:41] daren-thomas opened #1476 "Retrofit potential tool in master: KeyError: 'Qhsf_MWhyr'"
Running the `cea retrofit-potential` tool on the reference-case-open (`cea extract-reference-case`) produces the following error:

[code]

@JIMENOFONSECA any idea how to fix this? can you take over this issue please? what is the priority of this bug?

[2018-06-11 13:44] Jack-Hawthorne opened #1477 "economics database rename"
default database in cea\databases\CH\economics is named supply_systems

There already exist a number of supply related databases specific to demand.

Perhaps renaming to supply_costs or system_costs might avoid some confusion.

[2018-06-11 13:48] martin-mosteiro commented on #1469
@daren-thomas Benchmark graphs are not even available in the ArcGIS interface, so this indeed is not a feature that will be used in the executive course. The fix should be easy.... provided the fix is what I think it is.

[2018-06-11 13:49] martin-mosteiro commented on #1335
@daren-thomas Thanks for the suggestion, this unfortunately did *not* work, though :(

[2018-06-11 14:16] daren-thomas opened #1478 "Update knowledge base on how to fix python errors in ArcGIS"
Following this guide:

- https://www.python.org/dev/peps/pep-0514/

it is possible to see what registry changes to make to get revert the default python version ("PythonCore") back to the ArcGIS version, as opposed to the version installed with Anaconda.

[2018-06-11 14:28] daren-thomas opened #1479 "CEA network-layout does not work for `reference-case-open/baseline`"
I tried running `cea network-layout` and got the following output:

[code]

@JIMENOFONSECA  do you know who would best be suited to fixing this?

[2018-06-11 14:53] #1368 closed

[2018-06-11 15:02] daren-thomas opened #1480 "cea optimization does not work for C:\reference-case-open\baseline (ValueError: A value in x_new is below the interpolation range.)"
I get this error when running the `cea optimization` script with the scenario from `cea extract-reference-case`.

@BhargavaKrishnaSreepathi

- do you know why this happens?
- what should be done in this case?
- could it in theory show up during the executive course?
- who should fix it?
- when should we fix it?

[code]

[2018-06-11 15:04] daren-thomas commented on #1335
huh... when do you have time to look at this this week?

[2018-06-11 15:05] daren-thomas commented on #1469
@martin-mosteiro do you know anything about scenario-plots? do they need to work for the executive course?

[2018-06-11 15:14] JIMENOFONSECA commented on #1479
I can check this out. Is this in master?
On 11 Jun 2018, 22:29 +0800, Daren Thomas <notifications@github.com>, wrote:

I tried running cea network-layout and got the following output:

λ cea network-layout
Running `cea network-layout` with the following parameters:
- general:scenario = C:\reference-case-open\baseline
- network-layout:network-type = DC
- network-layout:pipe-diameter = 150
- network

[2018-06-11 15:14] JIMENOFONSECA commented on #1476
Yes, please assign it to me. Thanks!
On 11 Jun 2018, 20:41 +0800, Daren Thomas <notifications@github.com>, wrote:

Running the cea retrofit-potential tool on the reference-case-open (cea extract-reference-case) produces the following error:

C:\Users\darthoma\Documents\GitHub\CityEnergyAnalyst (master)
λ cea retrofit-potential
Running `cea retrofit-potential` with the following parameters:
- gener

[2018-06-11 15:41] BhargavaKrishnaSreepathi commented on #1480
hey @daren-thomas, Can you tell me the process to get this error?

do you know why this happens?
We solved a similar error in another PR, it happens when the interpolation occurs outside of the range.
what should be done in this case?
Either the range should be increased or multiple units are to be installed at a lower capacity
could it in theory show up during the executive course?
I am 99% confi

[2018-06-11 16:13] martin-mosteiro commented on #1469
I believe the idea was for scenario-plots to supersede the benchmark graphs, but it's one of those features that hasn't been working for me (#1335), so I haven't been able to test it. Mañana.
In the mean time, perhaps @JIMENOFONSECA can give some insight.

[2018-06-11 16:39] amraladdin opened #1481 "Building Operation Costs Features Does not work."
Tried to run the "Building Operation Costs" Feature, under "Cost Analysis".
Got the following error:

[code]

The problem is that if you're not able to run this feature, you cannot plot the Life Cycle Plots.

[2018-06-11 16:39] amraladdin opened #1482 "Building Operation Costs Features Does not work."
Tried to run the "Building Operation Costs" Feature, under "Cost Analysis".
Got the following error:

[code]

The problem is that if you're not able to run this feature, you cannot plot the Life Cycle Plots.

[2018-06-11 19:49] daren-thomas opened #1483 "Update labels for the interface of Decentralized Optimization"
Seriously. They all say "this is a configuration flag, which influences the disconnected building calculations". So, essentially useless for the user.

Also, why is the code in `cea.optimization.preprocessing.disconnected_building_main`, the cea tool called `decentralized`, the configuration file section called `[disconnected-cooling]` and the ArcGIS tool called "Decentralized supply system", whil

[2018-06-11 19:50] daren-thomas commented on #1483
@JIMENOFONSECA who would be best to assign this issue to? @BhargavaKrishnaSreepathi?

[2018-06-12 00:28] JIMENOFONSECA commented on #1469
Hi, so basically we need to run three scenarios and put them in the same folder of one case study. Then the scenario comparisons should work.

To test it, o just copy paste twice the current scenario i am working on
On 12 Jun 2018, 00:14 +0800, Martín Mosteiro-Romero <notifications@github.com>, wrote:

I believe the idea was for scenario-plots to supersede the benchmark graphs, but it's one of tho

[2018-06-12 00:28] JIMENOFONSECA commented on #1483
Yes
On 12 Jun 2018, 03:50 +0800, Daren Thomas <notifications@github.com>, wrote:

@JIMENOFONSECA<https://github.com/JIMENOFONSECA> who would be best to assign this issue to? @BhargavaKrishnaSreepathi<https://github.com/BhargavaKrishnaSreepathi>?

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub<https://github.com/architecture-building-systems/Cit

[2018-06-12 02:27] #1481 closed

[2018-06-12 03:03] JIMENOFONSECA commented on #1467
@amraladdin  ok, i did my contribution.

[2018-06-12 03:28] shanshanhsieh opened #1486 "place scripts in proper locations"
- `sewage_heat_exchanger.py` should be in the resource folder
- `lake_potential.py` should be in the resource folder
- why is `radiation_total.py` inside technology/solar?

[2018-06-12 03:29] shanshanhsieh commented on #1486
@BhargavaKrishnaSreepathi  please confirm the information, i can make the changes quickly

[2018-06-12 03:31] BhargavaKrishnaSreepathi commented on #1486
@shanshanhsieh: yes, please also keep in mind that the interfaces link to these file locations, so they need to be modified accordingly

[2018-06-12 03:34] shanshanhsieh commented on #1486
@BhargavaKrishnaSreepathi where should `radiation_total.py` be?

[2018-06-12 03:35] BhargavaKrishnaSreepathi commented on #1486
cea\plots\4D_plots_ArcGIS

[2018-06-12 05:35] shanshanhsieh opened #1487 "verify pressure losses at substations with ecocampus data"
Priyanka is the point of contact, she is checking with the BMS

[2018-06-12 06:15] roglen opened #1488 "move HEX cost to seperate function"
Create a new function to calculate HEX costs at substations

[2018-06-12 06:35] #1242 closed

[2018-06-12 07:37] #1435 closed

[2018-06-12 07:37] #1364 closed

[2018-06-12 08:28] #1335 closed

[2018-06-12 08:41] shanshanhsieh commented on #1017
current value for WTP_MIX_h:
substation pumping : 10% of total cooling demand
pipe pumping: 1.4% of total cooling demand
thermal loss: 0.06% of total cooling demand

[2018-06-12 08:58] daren-thomas opened #1491 "Remove hack for executive course (auto-run of cea copy-default-databases)"
Line 52ff of cea/interfaces/cli/cli.py - just remove that paragraph...

[2018-06-12 09:01] daren-thomas commented on #1464
waiting for optimization `initialind=5, ngen=5`

[2018-06-12 09:02] BhargavaKrishnaSreepathi commented on #1464
👍

[2018-06-12 09:02] daren-thomas commented on #1455
@Jack-Hawthorne do you know the status of this issue?

[2018-06-12 09:04] amraladdin commented on #1467
Thanks @JIMENOFONSECA
Could you tell us who is responsible for double-checking the new variable names from the Singapore team?

[2018-06-12 09:11] amraladdin opened #1492 "PV and PV/T Features overwrite results with each run"
While running the Solar Energy Potential features:
- PV
- PV/T
- SC

The following happend:
- When simulating SC_FP, then simulating SC_ET, the results (Data or Plots) are produced separately and they do not overwrite each other, unless you simulate the same SC type again after changing some of the advanced settings.
- When simulating PV1, then simulating PV2 (or PV3, doesn't matter), the results

[2018-06-12 09:11] JIMENOFONSECA opened #1493 "We need more scenario analysis plots"
This is what we have: I believe we need better plots to compare between multiple scenarios in CEA. Please drive ideas in! This is extremely important for the executive course.

Just feel free to unassigned yourself. Ideas are welcome!.

[drive-download-20180612T090620Z-001.zip](https://github.com/architecture-building-systems/CityEnergyAnalyst/files/2093352/drive-download-20180612T090620Z-001.zip)

[2018-06-12 09:14] amraladdin commented on #1493
@JIMENOFONSECA What are Scenario_A and Scenario_B? What are the differences between them?

[2018-06-12 09:17] amraladdin commented on #1493
@JIMENOFONSECA I'm not sure if it's a good idea to add new plots at this stage? Could cause undesired errors before the Executive Course.

[2018-06-12 09:21] martin-mosteiro commented on #1493
@amraladdin These look like dummy scenarios (copies of the original) in order to be able to run the plots.

[2018-06-12 09:23] amraladdin commented on #1493
@martin-mosteiro Yeah, I realized that after writing the comment, so I deleted it and posted a new one :D

[2018-06-12 09:32] gabriel-happle commented on #1493
@JIMENOFONSECA how about visualizing the urban design input parameters of the scenarios?
- m2 GFA of office space
- m2 GFA of residential space
- ...

Plus maybe the same plots as above disaggregated according to occupancy type, i.e.,
- Emissions per m2 GFA office space
- Emissions per m2 GFA residential space

It could be interesting. Maybe it could reveal "synergies" in supply systems. I'm not s

[2018-06-12 09:34] shanshanhsieh commented on #1492
valid point, @amraladdin
however, i will only have time to incorporate this change next week.
the reason that it cannot be done easily is that the names of the files are connected to plots, and that part takes more time to change.
if it is still possible to make changes next week, i will make it happen. @JIMENOFONSECA what do you think?

in the planned exercise, we will not ask them to compare res

[2018-06-12 09:39] shanshanhsieh commented on #1467
me and @roglen both checked/edited the google sheet as well

[2018-06-12 09:41] gabriel-happle commented on #1467
I also checked and modified.

[2018-06-12 09:46] BhargavaKrishnaSreepathi commented on #1467
same here, though very little

[2018-06-12 10:21] JIMENOFONSECA commented on #1492
Well noted Amr!. Next week should do for this issue. I am also planning to implement a better folder structure to the plots folder so we do not get lost...

Jimeno
On 12 Jun 2018, 17:34 +0800, Shanshan Hsieh <notifications@github.com>, wrote:

valid point, @amraladdin<https://github.com/amraladdin>
however, i will only have time to incorporate this change next week.
the reason that it cannot be do

[2018-06-12 10:23] shanshanhsieh opened #1494 "plot annual energy produced from plants and losses in thermal networks"
the plot should include:
- one stacked bar with cooling demand, thermal losses, pumping electricity required for pipes, pumping electricity required for substation heat exchangers
- one stacked bar with specific values [kWh/m]

[2018-06-12 10:29] martin-mosteiro commented on #1476
Same issue on my computer.
@daren-thomas I believe the issue is that Qhsf has been renamed to Qhs_sys (see PR #1454 and issue #1455). @JIMENOFONSECA are you working on this?

[2018-06-12 10:33] JIMENOFONSECA commented on #1476
That is exactly the issue Martin. I am not currently working on this. Would you mind making the changes? I already left the office.
On 12 Jun 2018, 18:29 +0800, Martín Mosteiro-Romero <notifications@github.com>, wrote:

Same issue on my computer.
@daren-thomas<https://github.com/daren-thomas> I believe the issue is that Qhsf has been renamed to Qhs_sys (see PR #1454<https://github.com/architecture

[2018-06-12 11:28] amraladdin commented on #1467
Thanks @BhargavaKrishnaSreepathi @shanshanhsieh @gabriel-happle @roglen @JIMENOFONSECA
So, the last 2 questions:
**Could you tell us who is responsible for double-checking the new variable names from the Singapore team?**
**There is still missing information, e.g. DC and DH, LCA, QEprof... etc.**

[2018-06-12 13:56] JIMENOFONSECA commented on #1493
i got this https://www.sciencedirect.com/science/article/pii/S0360544217320844#fig1

![screen shot 2018-06-12 at 9 46 06 pm](https://user-images.githubusercontent.com/8973186/41294659-2c7a2050-6e8b-11e8-81d0-fe8f1fb4539a.png)
![screen shot 2018-06-12 at 9 47 42 pm](https://user-images.githubusercontent.com/8973186/41294660-2cac8018-6e8b-11e8-95b5-5a6a196ef5a9.png)
![screen shot 2018-06-12 at 9 48

[2018-06-12 14:41] amraladdin opened #1495 "Executive Course Exercises | Friday"
We would like to organize the exercises that will take place Friday afternoon. So far there are the 6 scenarios to run. However, this might not need to run the simulations for most of Friday, so we need to define other exercises in case the attendees have more time. The following is suggested:
- Using another weather file for Singapore in 2030, which takes climate change into account.

We would li

[2018-06-12 14:51] martin-mosteiro commented on #1476
@daren-thomas I fixed the KeyError issue shown above in a separate branch. However, once this issue was fixed a new KeyError popped up as the keys in the cost threshold did not match the ones generated in `operation_costs.py`. This now works on my computer.

However, the solution is not as elegant as the code that was there before. So I see two solutions: either change the outputs of the cost calc

[2018-06-12 15:00] Jack-Hawthorne commented on #1455
@daren-thomas have all variable name changes been finalized?

If so i will access the branch tomorrow and update the variables and descriptions.

Also, are the changes specific to a particular series of databases or have all the input and default databases been modified?

[2018-06-12 17:22] martin-mosteiro commented on #1483
Same. These options are not very informative.
<img width="757" alt="screen shot 2018-06-12 at 19 21 24" src="https://user-images.githubusercontent.com/18548065/41306297-f0abdd30-6e75-11e8-9b9e-6a6b83ebcde1.png">

[2018-06-13 08:43] #1279 closed

[2018-06-13 09:01] Jack-Hawthorne opened #1497 "API build incomplete"
@daren-thomas
The current API build is not displaying any cea subpackages.

I've run a local sphinx build on the master and have had no problems apart from build errors.

Build errors seem to be localized to the new api script (no module named yaml - adding to mock modules in the docs config.py might solve this) and the glossary (glossary build errors have been addressed in the branch 1238).

Ther

[2018-06-13 09:02] #1451 closed

[2018-06-13 09:02] #1464 closed

[2018-06-13 11:07] daren-thomas opened #1498 "Error running optimization"
[code]

[2018-06-13 12:51] daren-thomas opened #1500 "Progress display for optimization algorithm"
The optimization algorithm produces a lot of output, but it's not obvious how to detect the progress from this output. Maybe a line along the lines of:

[code]
could that be added? Actually, based on that, an estimate of time remaining could be created...

@BhargavaKrishnaSreepathi what do you think? maybe push the milestone if you don't think it'd be ready for the executive course (but I suspect

[2018-06-13 13:02] daren-thomas commented on #1394
keep in mind that this is the branch with the `cea trace-inputlocator` code...

[2018-06-14 03:03] shanshanhsieh commented on #1486
when trying to move the scripts (`sewage_heat_exchanger.py`), I found a file called `SOURCES.txt`, not sure how this file was created, and if it needs to be updated manually. @daren-thomas, can you tell me?

[2018-06-14 08:56] gabriel-happle opened #1501 "Check hot water energy demand values for Singapore"
The hot water demand in residential buildings should approximately amount to 20% of electricity consumed.
At the same time we can also check appliance and cooling consumption.
The shares should approx be:
- Cooling around 30-40 % (of Electricity) -> (divide by COP=4 for cooling energy)
- Hot Water around 20% (of Electricity)
- Appliances around 40-50%

![image](https://user-images.githubuserconten

[2018-06-14 09:19] shizhongming opened #1502 "Produce the booklet and send things to print"
Due date for everyone to send the final slides, 12pm Sunday, June 18, 2018.
Then, produce the two booklets and print.

[2018-06-14 09:20] #1244 closed

[2018-06-14 09:20] #1289 closed

[2018-06-14 09:20] #1354 closed

[2018-06-14 09:20] #1245 closed

[2018-06-14 09:20] #1426 closed

[2018-06-14 09:21] #1410 closed

[2018-06-14 09:22] shizhongming commented on #1495
Having a meeting on 20ish

[2018-06-14 09:33] shanshanhsieh commented on #1501
```tsd['vww_m3perh'] = schedules['Vww'] * bpr.internal_loads['Vww_lpd'] / 1000  # m3/h```
as far as i understand, the schedules['Vww'] is a fraction of the Liter per day for each hour

[2018-06-14 09:38] martin-mosteiro commented on #1501
@shanshanhsieh Correct. The hot water schedule is calculated as the scheduled value at time t according to the schedule archetype divided by the sum of the scheduled value for the entire day of the week. This is kind of dumb (why not just redefine the archetype schedule?) but it's the way it was done in CEA from the start.

[2018-06-14 09:45] BhargavaKrishnaSreepathi commented on #1498
I suspect the error is because the excel file is open and this piece of code is trying to access it. Can you try running it again and see if the error is repeating

[2018-06-14 09:53] JIMENOFONSECA commented on #1501
@martin-mosteiro so the reason is that we got data about the profile of consumption of hot water in therms of intensity (m3/m3 of water per hour) BUT got the amount of water consumption in liters per person per DAY. So that is the tricky part. We could change the nominal value of water consumption to Peak liters per person (but that is hard to get from a source).

[2018-06-14 10:00] #1280 closed

[2018-06-14 10:13] martin-mosteiro commented on #1501
@JIMENOFONSECA Thanks for the clarification for the source of the data. However we could just redefine the schedules to skip a step on the CEA code (i.e., give them as x[t]/sum_t(x[t])) - wouldn't that be easier to read?

[2018-06-14 13:17] martin-mosteiro commented on #1501
Okay, this is weird. Just tested on reference-case-open for comparison and the demand for hot water is higher in office buildings than in residential ones (see graph below - B01 and B02 are 'MULTI_RES' and 'SINGLE_RES', respectively). Sounds like a scheduling issue, indeed.
![screen shot 2018-06-14 at 15 13 23 copy](https://user-images.githubusercontent.com/18548065/41414250-d6d509ec-6fe5-11e8-973

[2018-06-15 03:37] shanshanhsieh commented on #1467
Hi all, i went through the glossary just now, and broke down the list of the things to do for each one of us in Singapore. Thank you for your time in advance!

@JIMENOFONSECA
1. in the **input tab**, check row 228-255 (fill the empty boxes, and change color from red to yellow if confirmed)
2. in the **output tab**, check row 265-364 (fill the empty boxes, and change color to white if confirmed)

@

[2018-06-15 04:20] BhargavaKrishnaSreepathi commented on #1467
Thanks @shanshanhsieh for the initiative. Done my part 👍

[2018-06-15 06:08] gabriel-happle commented on #1467
Thank you @shanshanhsieh I think I'm done too...

@amraladdin the document needs spell checking. I corrected all the refri`d`geration I saw.

@amraladdin it's worth checking the document for occurrences of `pro` and `production`. Many times `pro` was mistaken for `production` while it actually means `industrial processes`, i.e., heat/electricity required by special processes.

Also, @amraladdin I

[2018-06-15 06:17] amraladdin commented on #1467
Thanks a lot @shanshanhsieh for leading this and thanks @BhargavaKrishnaSreepathi and @gabriel-happle for chipping in.
I'm sorry but I'm on holidays starting this evening and won't have time to check the document. Please refer to @daren-thomas and @Jack-Hawthorne

[2018-06-15 08:10] Jack-Hawthorne commented on #1467
@gabriel-happle i shall replace all the nominal to peak in the outputs dbs.

I am also not quite happy with the `End-use` description for systems demand, would it be better to change to `System` or `HVAC systems` demand?

I grabbed many of the output variable names from the `naming.csv` in plots, should i deviate from this?

[2018-06-15 09:38] daren-thomas commented on #1412
@kerembeygo this is a very old version of the CEA. Could you try installing the research version instead?
Installation is a bit more involved, but explained in detail here:

- http://city-energy-analyst.readthedocs.io/en/latest/installation-on-windows.html

[2018-06-15 14:13] daren-thomas opened #1507 "chiller_absorption.py: floats are being checked for equality to 0"
e.g.: `if input_conditions['q_chw_W'] == 0:` (line 60)

This is problematic as `0` is an integer. Also, floating point numbers should never be used with the `==` operator. Instead, use a function for checking with a given precision - numpy should have a function for this!

@shanshanhsieh do you want to take a look at this?

[2018-06-15 14:13] #1412 closed

[2018-06-17 07:12] kerembeygo commented on #1412
"Follow these instructions to install the CEA on a Windows system (tested with Windows 10)"
Does it work on Windows 8.1?

[2018-06-18 02:09] shanshanhsieh commented on #1269
renaning tasks:
1. change the default setting to cooling (don't connect to `isheating` and `iscooling` flags which are used in optimisation)
2. reduce the calculation time-steps to a month (May)

[2018-06-18 02:31] gabriel-happle commented on #1501
http://www.e2singapore.gov.sg/DATA/0/docs/Voluntary%20Agreement/Household/Executive%20Summary%20%20Key%20Findings.pdf

[2018-06-18 03:04] gabriel-happle commented on #1501
@shanshanhsieh, @JIMENOFONSECA, @martin-mosteiro
I believe the hot water calculations are OK.
I didn't find any bug so far. I believe the values make sense.

When comparing with actual SG household energy consumption, the values for hot water match quite well.

Real SG values:
Average public housing electricity consumption (4-room) = 4800 kWh/yr
Hot water electricity (20% of electricity) = 960 kWh

[2018-06-18 04:44] gabriel-happle commented on #1501
Action plan:
- make occupant presence (occupant density) dependent on GFA (as opposed to Af)
- check EUI of residential, office and retail buildings and adjust installed lighting and appliance power density in archetypes DB to match SG values

[2018-06-18 07:44] daren-thomas opened #1509 "Fix ZeroDivisionError in calibration"
The following error shows up in calibration tests sometimes. The fix should be to check for this error (either check the log or `try/catch ZeroDivisionError`) and then do something sensible.

Any division that could lead to an unchecked `ZeroDivisionErrror` is to be considered a bug.

@JIMENOFONSECA can you please fix this?

[code]

[2018-06-18 07:56] gabriel-happle commented on #1501
![image](https://user-images.githubusercontent.com/17002288/41523838-f46549d8-730d-11e8-8ae4-d55d16b2bb5c.png)

After the change of occupant density I get following values (for a modified version of MIX_m case study):
- EUI RESIDENTIAL =~ 125 kWh/m2GFA/yr (should be lower)
- EUI RETAIL =~ 190 kWh/m2GFA/yr (should be higher)
- EUI OFFICE =~ 150 kWh/m2GFA/yr (very efficient office)

The shares of Ho

[2018-06-18 09:16] JIMENOFONSECA commented on #1509
Sure, but i do not know how to catch the error. Is there a pyhton recipe for this you can teach me?, thanks!
On 18 Jun 2018, 15:44 +0800, Daren Thomas <notifications@github.com>, wrote:

The following error shows up in calibration tests sometimes. The fix should be to check for this error (either check the log or try/catch ZeroDivisionError) and then do something sensible.

Any division that could

[2018-06-18 09:18] JIMENOFONSECA commented on #1501
Yes! But! For retail, bear in mind that we are not taking into account restaurants! Which increase people density and hot water use.

Maybe the case studies need to include this?
On 18 Jun 2018, 15:56 +0800, Gabriel Happle <notifications@github.com>, wrote:

[image]<https://user-images.githubusercontent.com/17002288/41523838-f46549d8-730d-11e8-8ae4-d55d16b2bb5c.png>

After the change of occupant d

[2018-06-18 09:41] shanshanhsieh opened #1510 "Add operation cost of solar collectors to heating_resource_activation.py"
The electricity cost for pumping in the solar collectors should be accounted into the operation cost.
The information is saved in SC_FP_total.csv and SC_FP_total.csv.
Please take note:
1. this is the cost to operate all solar collectors in the area, if only a portion of the total area is installed with solar collectors, this number will reduce proportionally
2. if PVT is used in this script, the c

[2018-06-18 09:46] gabriel-happle opened #1511 "CEA does not support WWR=1.0"
When running the CEA with buildings with WWR=1 the demand calculation breaks.
Radiation works.

[code]

[2018-06-18 10:42] gabriel-happle opened #1512 "Use a BCA ETTV example calculation for testing the CEA"
https://www.bca.gov.sg/PerformanceBased/others/RETV.pdf

We should model this example building in CEA and compare results.

Assigning some people who might be interested.

[2018-06-18 10:52] shanshanhsieh opened #1513 "thermal storage for solar collectors at buildings"
If using evacuated tubes + absorption chillers, there are with excess cooling production.
In this cases, there should be a cold water tank or a hot water tank to store the excess production.

[2018-06-18 12:47] #1409 closed

[2018-06-18 12:50] daren-thomas commented on #1509
OK, so. There are basically two ways to do this. One is, to check the problematic line itself:

[code]

The term `scipy.log(dT2 / dT1)` should never be zero. This can happen, though, if `dT2 / dT1` is 1.0. I'm guessing that happens when they are equal (or very close to equal, since we're dealing with floats).
Obviously, we need to provide a `dTm` for that case. Is it just `dT1`? idk. that's a doma

[2018-06-18 12:53] daren-thomas commented on #1412
@kerembeygo it should, but we have not tested it.

[2018-06-18 12:53] daren-thomas commented on #1412
we have tested on Windows 7, so... I'm pretty confident it will run on Windows 8.1.

[2018-06-18 12:56] daren-thomas commented on #1507
@shanshanhsieh yes, well... i just looked it up. this is exactly what i mean. would you like to add that to the `critical_updates` channel? i think the others would like to see that too!

[2018-06-18 12:59] #1394 closed

[2018-06-18 13:05] daren-thomas commented on #1498
can't reproduce the error. maybe that  really is what happened...

[2018-06-18 13:05] #1498 closed

[2018-06-18 13:12] daren-thomas commented on #1455
I have merged your changes. We can work starting with this as the current base.

[2018-06-18 13:12] daren-thomas commented on #1455
all the input and default databases should be harmonized...

[2018-06-18 13:13] daren-thomas commented on #1476
@martin-mosteiro which branch do you mean?

[2018-06-18 13:18] daren-thomas commented on #1480
hey @BhargavaKrishnaSreepathi the process to get this error:

[code]

[2018-06-18 13:41] gabriel-happle commented on #1501
I made some modifications to archetypes and window and wall constructions.
These are the Pies I end up with a modified MIX_m case study.
![image](https://user-images.githubusercontent.com/17002288/41539216-cae7dec2-733f-11e8-99c6-763fdf57108b.png)
![image](https://user-images.githubusercontent.com/17002288/41539230-d2db2972-733f-11e8-86db-04ff7d2bbfad.png)
![image](https://user-images.githubuserco

[2018-06-19 01:37] gabriel-happle commented on #1501
SinBerBest Benchmark office
![image](https://user-images.githubusercontent.com/17002288/41571136-60d30506-73a4-11e8-827a-1b112dfce1b1.png)

[2018-06-19 02:53] JIMENOFONSECA opened #1515 "Jenkins has a problem"
@daren-thomas so basically jenkins is having this problem.

![image](https://user-images.githubusercontent.com/8973186/41573294-9d023006-73ae-11e8-8346-f6def8f53406.png)

We had it too locally, what happens is that when the tests run, calibration creates a copy of the case study in a temp folder. This includes databases.

When we run the test again, the calibration creates a copy of the case study

[2018-06-19 04:16] gabriel-happle commented on #1501
Cooling load benchmarks for SG:
https://www.bca.gov.sg/GreenMark/others/Cooling_Load_Article_2015.pdf

In peak_cooling_load per m2_Af.

[2018-06-19 04:42] #1483 closed

[2018-06-19 05:31] martin-mosteiro commented on #1476
`i1476-Retrofit-potential-tool-KeyError-Qhsf_MWhyr`, which was merged in PR #1496. I requested your review on this PR but I think you did not have a chance to do so.

@daren-thomas Could you test the functionality of the tool on your computer and close the issue if it is solved?

[2018-06-19 06:53] martin-mosteiro commented on #1501
@gabriel-happle Good check on the feasibility of the numbers. However, I still think there must be something off with the hot water calculation.

If you look at the graph I provided above for the Swiss case (based on reference-case-open, so the buildings all have the same properties other than the occupancy), the hot water demand per square meter was higher for offices than for residential. Howeve

[2018-06-19 07:12] Jack-Hawthorne commented on #1455
there is also one issue of formatting on the glossary preamble - its not major though.

what do you mean exactly by harmonized?

the current structure was built to reflect what amr will present - however, the dependencies could and should be better represented.

[2018-06-19 07:51] daren-thomas commented on #1515
@JIMENOFONSECA I double checked. The folder that is run for the jenkins tests really is being deleted at the beginning of the tests. But the reference case being used is the zipped up one.

The calibration creates another copy? Where does it take it from? Where does it copy it to? Why?

[2018-06-19 07:52] daren-thomas commented on #1515
Oh, I see... it is using the ReferenceCaseInputLocator. I can fix that.

[2018-06-19 07:54] daren-thomas commented on #1515
@JIMENOFONSECA btw: that was only one of the errors I spotted in the Jenkins master branch. The other two were the `ZeroDivisionError`. (#1509) Have you checked that out? I think the reason why it sometimes happens and why sometimes it doesn't might be because you're not seeding the random number generator used for the calibration? Could that be? (just a wild guess...)

[2018-06-19 07:56] #1509 closed

[2018-06-19 08:10] daren-thomas commented on #1455
With harmonized I mean, to make sure that the same naming scheme is used in all databases and outputs. Is it possible to check that? If not, we can close this issue.

As for the dependencies... I'm working on the GraphViz image...

[2018-06-19 08:30] JIMENOFONSECA opened #1519 "Create separate tool to run optimization plots"
The idea is to create a tool to call a specific urban scenario, an specific generation and an specific individual.
Graphs related to this specific configuration will be generated and will help on the decision making processs

[2018-06-19 09:45] gabriel-happle commented on #1501
@martin-mosteiro true. that is strange!
I actually did't compare across functions, because in SG we only have MULTI_RES with hot water consumption and there the amount of water consumed in one day and the energy used for that made sense to me.

[2018-06-20 02:37] gabriel-happle opened #1522 "test_schedules might be broken"
I can't run `test_schedules`. It tells me the something is wrong with the `config` file:

[code]

[2018-06-20 09:06] #1164 closed

[2018-06-20 09:55] MalithDis commented on #951
I got this error message

`ImportError: cannot import name 'chisqprob'`

when run below code. how to solve this error? please tell me

[code]

[2018-06-20 09:57] daren-thomas commented on #951
@MalithDis how did you install the cea? what operating system?

[2018-06-20 12:38] martin-mosteiro commented on #1501
@gabriel-happle @JIMENOFONSECA We need to stay consistent in the definition of floor areas.

You guys just redefined the hot water calculations in order to use the GFA instead of the conditioned area. Consider however that the Swiss archetypes for example for a residential building have **Af = 0.82 * GFA** in order to account for hallways, basements, etc. So by using GFA for the hot water calculat

[2018-06-20 13:08] JIMENOFONSECA commented on #1519
@BhargavaKrishnaSreepathi  be aware there are some changes taking place on the plots.

![image](https://user-images.githubusercontent.com/8973186/41660138-c4bbf454-74cd-11e8-892c-9b87d748a5fd.png)

could you help me to test here if they run for you?
These are the scripts for that create those three tools now

![image](https://user-images.githubusercontent.com/8973186/41660212-fcc262a2-74cd-11e8-98

[2018-06-20 13:10] JIMENOFONSECA commented on #1519
all is worked in branch 1519. Daren will help us to improve the interface for the Plots scenario comparisons in the following days.

[2018-06-20 13:15] martin-mosteiro commented on #1501
I also noticed that the case study I was testing on had no fresh water demand: indeed, I checked the code and the fresh water volume calculation seems to have gone missing.
![image](https://user-images.githubusercontent.com/18548065/41660557-a9ad04e0-749c-11e8-9a51-9b5a645d38ba.png)
![image](https://user-images.githubusercontent.com/18548065/41660566-b00cfcf0-749c-11e8-8cac-e363cc3b0a35.png)
I'm a

[2018-06-20 13:17] JIMENOFONSECA commented on #1501
Yes! you are right, we might need to create a flag based on the region and bring back the variables Es which controlled the area with lighting.

Would you like to create an strategy so we can discuss it? btw, do you find it to be the case still that offices get more hot water demand than residential? This could be the case as there are more people per m2 though. Did you accounted for this?

It wou

[2018-06-20 13:22] JIMENOFONSECA commented on #1501
Really? There is a variable mcptot i think and thata has the volume of fresh water. One way to see it is in the sewage-heat exchanger script which needs this info to run. If it does not exist then it does not run. Could tou check?
On 20 Jun 2018, 21:15 +0800, Martín Mosteiro-Romero <notifications@github.com>, wrote:

I also noticed that the case study I was testing on had no fresh water demand: in

[2018-06-20 13:28] JIMENOFONSECA commented on #1501
Martin could it be a problem of the schedules? Could you check if they are ok?
On 20 Jun 2018, 21:15 +0800, Martín Mosteiro-Romero <notifications@github.com>, wrote:

I also noticed that the case study I was testing on had no fresh water demand: indeed, I checked the code and the fresh water volume calculation seems to have gone missing.
[image]<https://user-images.githubusercontent.com/18548065/4

[2018-06-20 13:28] martin-mosteiro commented on #1501
@JIMENOFONSECA Found the issue: the hot water loads script (which uses 'vfw_m3perh') was called before Eaux_fw (which defines 'vfw_m3perh'). Should be okay now.

[2018-06-20 13:31] JIMENOFONSECA commented on #1501
Cools is there a pr for this?
On 20 Jun 2018, 21:29 +0800, Martín Mosteiro-Romero <notifications@github.com>, wrote:

@JIMENOFONSECA<https://github.com/JIMENOFONSECA> Found the issue: the hot water loads script (which uses 'vfw_m3perh') was called before Eaux_fw (which defines 'vfw_m3perh'). Should be okay now.

—
You are receiving this because you were mentioned.
Reply to this email directly, vie

[2018-06-20 13:33] martin-mosteiro commented on #1501
There is now :)

[2018-06-21 04:48] gabriel-happle opened #1527 "fix normalization in demand intensity plots"
Some plots were normalized by GFA others by Af.

We want all plots to be normalized by GFA.

[2018-06-21 07:00] BhargavaKrishnaSreepathi opened #1529 "Decentralized buildings optimization runs only when all the flags are turned ON"
(cea) λ cea decentralized
Running `cea decentralized` with the following parameters:
- general:scenario = c:\reference-case-WTP-reduced\WTP_MIX_m
- general:region = SIN
- general:weather = c:\users\darthoma\documents\github\cityenergyanalyst\cea\databases\weather\Singapore.epw
- decentralized:ahuflag = False
- decentralized:aruflag = False
- decentralized:scuflag = False
- decentralized:ahuaruflag

[2018-06-21 08:07] martin-mosteiro commented on #1374
@gabriel-happle I agree, but I think we shouldn't change this before the executive course. So let's discuss it in Singapore and assign it there.

[2018-06-21 08:55] martin-mosteiro commented on #1501
The results for Switzerland makes sense now.
<img width="1397" alt="screen shot 2018-06-21 at 10 55 07" src="https://user-images.githubusercontent.com/18548065/41708709-a00fe9de-7541-11e8-9577-2a183d12e70d.png">
@gabriel-happle I think this issue may be closed now, right?

[2018-06-22 03:41] gabriel-happle commented on #1501
Yeah, if you are OK with it.
We should tackle your #1374 next!

[2018-06-22 03:41] #1501 closed

[2018-06-23 04:42] JIMENOFONSECA opened #1531 "optimization plots might be missing information"
![image](https://user-images.githubusercontent.com/8973186/41805769-861eabc6-76e2-11e8-8cc7-b5a0f37d2d73.png)

![image](https://user-images.githubusercontent.com/8973186/41805774-a38041e8-76e2-11e8-8ea8-463ac0f1aa73.png)

![image](https://user-images.githubusercontent.com/8973186/41805788-d5ca1912-76e2-11e8-8260-f96008ededc5.png)

[2018-06-23 04:44] JIMENOFONSECA commented on #1531
Diagram 1. has exports and import s electricity. it would be good to include all stuff from the district including PV generation etc....

In the present form Diagram 1. is supposed to have lower costs than Diagram 2 and 3 (which shows the totals for centralized and decenstralized). but this is not the case.

[2018-06-23 15:24] amraladdin opened #1532 "Size of the Heatmaps is smaller than study area"
I ran the Heatmaps feature and got the results for the "qcs_sys_mw" output, the heatmap size is smaller than the Zone.shp layer, which results in the following image:

![heatmap_issue](https://user-images.githubusercontent.com/16256867/41811140-2a6555d2-770a-11e8-87eb-e303d27cbd8f.jpg)

[2018-06-25 03:44] shanshanhsieh opened #1534 "read the supply system configuration of each individual"
This script should read the supply system configuration of each individual from the results of optimisation.

[2018-06-25 04:05] JIMENOFONSECA commented on #1519
@BhargavaKrishnaSreepathi @shanshanhsieh I created a total of 5 plots in the supply_main (single energy system) and 2 for the scenario comparisons.

I still need to ask daren for help to get the map complete. Be aware that the mapping already calls the thermal network simulation and the layout. I will coordinate with lenny this part.

Let me know if you have any questions!!

[2018-06-25 04:06] JIMENOFONSECA commented on #1519
All is in branch 1519. as discussed we cannot changed the scripts except those related to plots at this point

[2018-06-25 07:14] BhargavaKrishnaSreepathi opened #1535 "CAPEX of PV for the cooling case needs to be added."

[2018-06-25 08:17] JIMENOFONSECA opened #1536 "Create Map of CEA"
On branch 1519-optimization-plots.

So we are looking to project one configuration of buildings, plant, storage and networks. Like this:

![image](https://user-images.githubusercontent.com/8973186/41838513-313d6414-7893-11e8-8a93-357674272917.png)

[2018-06-25 08:21] JIMENOFONSECA commented on #1536
So far we have a created a placeholder for the function to do this. it is located in cea.plots.supply_system.main.py

Lines 857 to 863 create the thermal network and simulate it.
Line 867 will provide the data which is a path to the location of (it is a place holder now)
1. the shapefile with information about buildings (whcih one is centralized and which one is decentralized. (similar to zone.shp

[2018-06-25 09:10] amraladdin commented on #1418
Has this issue been fixed? How will this impact the exercise?

[2018-06-25 09:10] daren-thomas commented on #1536
OK. so... I need to know:

- names of these Shapefiles
- what columns to use etc.

[2018-06-25 09:28] JIMENOFONSECA commented on #1536
For now, we need to use dummy files. we will create them and assign a locator later.

For now use the inputs of CEA:

1. use the file attached, paste it in building-geometry/. use column [Type]. to differentiate between centralized, decentralized and surrounding buildings.
2. Use networks/DC/nodes.shp and column [Type]. These will show where the plant/storage is.
3. Use networks/DC/edges.shp and c

[2018-06-25 09:29] JIMENOFONSECA commented on #1536
[edges & nodes.zip](https://github.com/architecture-building-systems/CityEnergyAnalyst/files/2132537/edges.nodes.zip)

[2018-06-25 09:59] martin-mosteiro commented on #1418
@amraladdin Yes, @gabriel-happle fixed it with PR #1432. I believe this issue should be closed.

[2018-06-25 15:45] daren-thomas commented on #1536
I have implemented a demo in 7c3fac19eacd4032a8c9b1d21b98f02ee172b040 (pushed to this branch)
The file `cea/plots/supply_system/demo_maps.py` creates an html file called `outputs/plots/demo/demo_maps.html` with three maps, one of the buildings, one of the nodes/edges and one of all three layers super-imposed.

Attached: a zip containing the output.

[demo_maps.zip](https://github.com/architecture-

[2018-06-26 02:34] BhargavaKrishnaSreepathi opened #1537 "PV share of the buildings in Cooling Case need to be configuration dependent"
Currently, the only check is if the building is having a solar collector or not. If a building does not have solar collector then the area is assumed to have PV. This needs to be changed

[2018-06-26 07:36] gabriel-happle commented on #1418
Yep. It should be fixed. However, I actually haven't repeated the exercise with the newest version of case studies and code. That's why I'm keeping it open.

[2018-06-26 08:52] shanshanhsieh commented on #1537
what needs to be done is that we have to set the *area to install PV* as a *variable* in optimization.
so each individual in the optimization will have a different area of pv installed (in the heating case, it is a % of the total available area to install PV)

[2018-06-26 08:54] #1486 closed

[2018-06-26 08:55] #773 closed

[2018-06-26 09:15] shanshanhsieh commented on #1519
i added a new script into this branch, it's called `individual_configuration.py`
the output from the script looks like this:
![image](https://user-images.githubusercontent.com/16998305/41901783-65de1d54-7964-11e8-8fa5-24a174d4f6ec.png)

@JIMENOFONSECA  please let me know if that is compatible with the plotting requirements

[2018-06-26 09:37] JIMENOFONSECA commented on #1519
@shanshanhsieh fabulous! many thanks for this!!

[2018-06-26 09:40] shanshanhsieh commented on #1519
When plotting, one suggestion is the to reduce the table by deleting the columns with zero capacity installed. It will be easier to read the table this way.

[2018-06-27 07:53] daren-thomas opened #1540 "Move network-type parameter to section general"
The `network-type` parameter shows up in a bunch of tools. I think it should be part of the `general` configuration section.

[2018-06-27 07:56] daren-thomas opened #1541 "Refactor Optimization"
This epic collects all the issues regarding a refactoring effort for the optimization code. The goals are:

- refactor to the deap tutorial skeleton (make it easier for new people to understand how the optimization code is set up)
- document the optimization in a top-down fashion to make it easier to get into the code base
- PEP8 the code
- reduce the amount of files saved -> preparation for runni

[2018-06-27 12:02] martin-mosteiro opened #1542 "TypeError: calc_Qcre_sys() takes exactly 3 arguments (1 given)"
This error appears when running any building with refrigeration loads (i.e., `bpr.internal_loads['Qcre_Wm2'] > 0`) but with a conditioned floor area (i.e., `if bpr.rc_model['Af'] != 0`. That is, a mixed-use building with COOLROOM as one of the occupancy types.

[2018-06-28 05:30] #1494 closed

[2018-06-28 07:04] shanshanhsieh commented on #1269
![image](https://user-images.githubusercontent.com/16998305/42018315-4f860dba-7ae4-11e8-819f-74ab07fef66d.png)
@daren-thomas , help needed here.
I would like to use BuildingsParameter to list out the buildings in the interface, and then send back a list of buildings selected to run the simulation.
It seems like the input from the building selection is not in the format of list.

[2018-06-29 01:41] daren-thomas commented on #1269
@shanshanhsieh what branch is this?

[2018-06-29 04:38] daren-thomas opened #1544 "Fix BuildingParameterInfoBuilder to "just work""
Currently, the plots tool and others have to override the `updateParameters` method to have a buildings parameter work properly.

This can be fixed with the new way that the parameter info builders work. fixing this would make the code easier for new tools and remove duplication of code.

[2018-06-29 04:42] BhargavaKrishnaSreepathi opened #1545 "further improvements to the optimization/supply system plots for the executive course"
Instead of creating the files again, plots can reuse the files already created and generate the plots

[2018-06-29 07:54] #1269 closed

[2018-06-30 11:32] gabriel-happle opened #1550 "Strange Behavior of Scenario Comparison Plots"
Scenario Comparison plots produce stacked bars if Same scenario is selected multiple times.
Expected behaviour would be bars next to each other.

As you can see in the screenshots below, the two MIX_m scenario values are stacked on top of each other (separated by a thin white line). The reason why scenario MIX_m was selected twice, is that the plots only run with a minimum of 3 scenarios.

Is this

[2018-06-30 11:36] gabriel-happle commented on #1550
![image](https://user-images.githubusercontent.com/17002288/42124843-e0647f1a-7c9c-11e8-8831-9da8e6bf9d50.png)

[2018-06-30 12:40] JIMENOFONSECA commented on #1550
Got it. It is kind of unexpected but i guess we need to ask everybody to use different scenarios always :-). Is this something that breaks your exercise?

Btw. For now the generations/individual part does not work and it goes straight into considering the archetypes anf the same scenario.

We need to upgrade this on wednesday evening at the latest

[2018-07-01 09:58] JIMENOFONSECA commented on #1545
@bahargav, I think we should be on top of this right now. We need to make the scenario comparisons functional for Wednesday evening

[2018-07-01 10:13] BhargavaKrishnaSreepathi commented on #1545
already working in the branch i1545, do make the changes there

[2018-07-02 00:04] daren-thomas opened #1551 "Add the fix for the ActiveX control message in ArcGIS to Known Issues page in ReadTheDocs"
Check this link for the solution: https://support.esri.com/en/Technical-Article/000011008

[2018-07-02 02:33] BhargavaKrishnaSreepathi opened #1552 "Bug in the emissions calculations"
Instead of subtracting the emissions from PV (saved from using solar), it is being added. Thus raising the emissions instead of decreasing them.

[2018-07-02 06:12] shanshanhsieh opened #1553 "individual evaluation script calls the wrong path"
in line 27 and 29, the path should be changed to `cea.analysis.optimization_post_processing`

[2018-07-02 07:38] #1113 closed

[2018-07-02 07:38] #1296 closed

[2018-07-02 07:38] #1455 closed

[2018-07-02 07:38] #1467 closed

[2018-07-02 07:38] #1536 closed

[2018-07-03 06:48] daren-thomas opened #1555 "Split up CityEnergyAnalyst.pyt into multiple tool boxes by category for faster loading"
I noticed at the course that loading the cea toolbox in ArcGIS takes waaay too long to load.
I profiled it and it seems to be an ArcGIS thing and not something we can optimize. Therefore, I propose splitting the toolbox up into smaller pieces that will each load faster.

At the same time, the list of tools as described in the cea-dashboard could be used to produce the pyt in the `install-toolbox`

[2018-07-03 06:57] daren-thomas opened #1556 "Create new project: parameter is optional for script, but not optional in cli.config"

[2018-07-03 07:05] daren-thomas opened #1557 "Check for `None` return value of `cea.utilities.standarize_coordinates.raster_to_WSG_and_UTM`"
this function is called from the New Project tool but can sometimes return `None`. This causes the tool to crash with the error message:

[code]

[2018-07-03 10:14] #1553 closed

[2018-07-04 02:39] daren-thomas opened #1559 "Update documentation for creating input geometry"
(still uses age.shp! instead of age.dbf!)
https://cityenergyanalyst.com/creating-multiple-scenarios#create-new-geometry

[2018-07-04 05:54] daren-thomas opened #1560 "Selecting a non-existant roof type in architecture.dbf will result in an empty envelope dataset"
The values of the envelope will all be nan's if a non-existant roof type is selected. Instead, the CEA should produce an error message telling the user what the problem is.

Ideally, at the beginning of the script, it should check that only valid types are used.

Do this for the other types as well.

[2018-07-05 02:19] JIMENOFONSECA opened #1562 "service life of systems for embodied energy calculations is more likely to be 25 yrs than 40 yr"
This refers to the value stored in constants in like 24.
Let's cross check the service life of technical systems.

[2018-07-05 02:34] gabriel-happle opened #1563 "Input checks: Check input .dbf and .shp files for unique building names"
The input data readers should check the building names in .dbf and .shp files for uniqueness of the values in the Name column.

Non-unique building names start to throw non-related error messages when creating input geometry for radiation simulation.

This issue popped up when trying to set up one of the executive course participants case study and was kind of hard to track down.

[2018-07-05 03:21] martin-mosteiro opened #1564 "Absorption chiller cooling (T25) cannot be modeled by thermal_loads.py"
[code]

[2018-07-05 03:35] martin-mosteiro opened #1565 "LCA operation cannot handle cooling systems T4 and T5"
The tool generates operational energy and emissions values of 0.

[2018-07-05 03:38] martin-mosteiro commented on #1565
The source of the problem is that for these systems 'GRID0_kW' and 'GRID_MWhyr' are NAN.

[2018-07-05 03:42] martin-mosteiro commented on #1565
@JIMENOFONSECA This issue is caused by the same issue described in #1564, namely `thermal_loads.py` can only handle cooling systems 'T2' and 'T3'. So 'T4', 'T5' and 'T25' **cannot be modeled** at the moment. So once #1564 is solved, so will #1565.

And here's the problem lines (191 and on):
[code]

[2018-07-05 05:06] martin-mosteiro commented on #1564
@JIMENOFONSECA The issue appears to be solved. I tested it locally and the results make sense to me now.

[2018-07-05 06:11] martin-mosteiro commented on #1562
For consistency, I looked up the amortization times for technical systems according to SIA 2032:
![2032-c1_2010_d-5](https://user-images.githubusercontent.com/18548065/42305029-9ed05f48-805b-11e8-9b35-5ed8a7a8aaec.png)
For electrical, ventilation and thermal distribution systems, they suggest 30 years, for boreholes 40 years, for heat generation systems 20 years. So 25 years might be reasonable as

[2018-07-05 06:27] martin-mosteiro opened #1567 "Correct documentation on LCA infrastructure"
A lot of information on the LCA infrastructure database is currently referenced as "from CEA". What does this mean? Because it sounds a bit like saying "I got the water in my bottle from my bottle of water". What is the actual source of the data?

![screen shot 2018-07-05 at 14 26 32](https://user-images.githubusercontent.com/18548065/42305858-793d771c-805f-11e8-8856-c79559d844a0.png)

[2018-07-05 06:34] JIMENOFONSECA opened #1568 "compare annualized capex and annualized opex"
I makes sense to show OPEX including depreciation so we can compare inflows and outflows. This is in the overview plots of costs for all individuals (optimization_overview).

[2018-07-05 13:03] martin-mosteiro opened #1569 "Primary energy/emissions for embodied and commuting are off by a factor of 10"
The operational primary energy and emissions are defined by GFA
The mobility and embodied energy are defined by 0.1*GFA

[2018-07-05 13:06] martin-mosteiro opened #1570 "Typo in Scenarios_occupancy_types legend"
It currently says "Regrigeration rooms".

[2018-07-06 01:48] #1570 closed

[2018-07-06 01:48] #1569 closed

[2018-07-06 05:16] daren-thomas opened #1573 "Add a model to calculate the space between buildings - these affect the urban heat island effect"

[2018-07-06 05:25] daren-thomas opened #1574 "Lake potential tool: Lake size parameter does not have units"
is it m^3? or Liters? nobody knows...

[2018-07-06 05:30] daren-thomas opened #1575 "Allow heatmaps to be normalised (by Af? GFA?)"

[2018-07-06 05:32] daren-thomas opened #1576 "Post a tutorial of arcgis intro steps"
Cover the basic stuff Amr explained in the first two lectures.

[2018-07-06 05:38] daren-thomas opened #1577 "Update documentation / Known issues for ActiveX control bug"
There is a bug in ArcGIS Desktop for versions < 10.6 that shows an annoying dialog box complaining about ActiveX controls...

Here is the fix: https://support.esri.com/en/Technical-Article/000011008

[2018-07-06 07:36] BhargavaKrishnaSreepathi opened #1578 "Update the axis name in Energy Supply System plots"

[2018-07-07 02:32] BhargavaKrishnaSreepathi opened #1580 "eff_cs present in LCA_infrastructure is not being used"
The column named 'eff_cs' in: CityEnergyAnalyst > cea > databases > SIN > lifecycle > LCA_infrastructure.xlsx > COOLING is not being used in CEA.
For the supply heating system, the analogue 'eff_hs' (in the 'HEATING' tab) seems to correspond to the efficiency, based on what I see on line 231 of CityEnergyAnalyst\cea\demand\thermal_loads.py, and for the dwelling hot water, the analogue 'eff_dhw' se

[2018-07-09 04:02] #1330 closed

[2018-07-09 04:02] #1340 closed

[2018-07-09 04:02] #1343 closed

[2018-07-09 04:02] #1392 closed

[2018-07-09 04:03] #1418 closed

[2018-07-09 04:03] #1425 closed

[2018-07-09 04:03] #1461 closed

[2018-07-09 04:03] #1473 closed

[2018-07-09 04:03] #1476 closed

[2018-07-09 04:03] #1480 closed

[2018-07-09 04:03] #1493 closed

[2018-07-09 04:03] #1495 closed

[2018-07-09 04:03] #1502 closed

[2018-07-09 04:03] #1519 closed

[2018-07-09 04:03] #1527 closed

[2018-07-09 04:03] #1531 closed

[2018-07-09 04:03] #1532 closed

[2018-07-09 04:03] #1534 closed

[2018-07-09 04:03] #1550 closed

[2018-07-09 04:04] #1105 closed

[2018-07-09 04:04] #1106 closed

[2018-07-09 04:04] #1114 closed

[2018-07-09 04:04] #1194 closed

[2018-07-09 04:04] #1213 closed

[2018-07-09 04:04] #1220 closed

[2018-07-09 04:04] #1231 closed

[2018-07-09 04:04] #1232 closed

[2018-07-09 04:04] #1290 closed

[2018-07-09 04:06] martin-mosteiro commented on #1574
Also, is this the most sensible way to define the potential from the lake? The key parameters should be the maximum amount you can extract without affecting the environment (m3/h), the temperature at which you can extract the water and the maximum allowed return temperature or temperature difference, no? Or are these parameters all assumed based on the lake size by the tool?

[2018-07-12 09:19] daren-thomas opened #1581 "Check column name case for all inputs in glossary"
I just noticed that the column names for the zone.shp file seem to have a different capitalization:

- "Height_bg" instead of "height_bg"
- etc. for all the others excluding "Name", which is correct.

see: http://city-energy-analyst.readthedocs.io/en/latest/databases.html#primary-zone-geometry

[2018-07-13 07:08] JIMENOFONSECA opened #1582 "Make release 2.9"
@daren-thomas Hi Daren, would you mind making a release before we start working on CEA again?
thanks!!

Also, is there a planer version I can point people to? (the one we used in the computers of the executive course?

[2018-07-13 07:12] JIMENOFONSECA commented on #1562
@martin-mosteiro fixed directly into master, thanks!

[2018-07-13 07:12] #1562 closed

[2018-07-13 07:13] JIMENOFONSECA commented on #1567
@ongbolie @gabriel-happle could we add the reference to the databases?

[2018-07-13 07:14] JIMENOFONSECA commented on #1557
mm the terrain seems to not be working

[2018-07-13 07:22] gabriel-happle commented on #1580
I'm not sure about this database structure. Maybe @JIMENOFONSECA or @shanshanhsieh know more.

[2018-07-13 08:14] JIMENOFONSECA commented on #1580
@BhargavaKrishnaSreepathi it is used in line 183 of thermal_loads.py

[2018-07-13 08:38] ongbolie commented on #1567
Hi all, I just double-checked and can update the reference now if everyone's okay with these:

1. References "from CEA" refer to the cost because they are not available on the Ecoinvent and KBOB database hence are calculated by CEA.

2. Reference for **Electricity** PEN and CO2 supposed to be from

3. Numbers of PEN and CO2 for **Solar** was discussed in one of our previous meetings, in which we a

[2018-07-13 08:40] JIMENOFONSECA commented on #1567
@gabriel-happle that would be a most welcome solution to the problem.

[2018-07-13 08:41] JIMENOFONSECA commented on #1567
@ongbolie yes, let's fix it to the latest version please.

[2018-07-13 08:44] #32 closed

[2018-07-13 08:45] JIMENOFONSECA commented on #755
@BhargavaKrishnaSreepathi is this still the case?

[2018-07-13 08:50] JIMENOFONSECA commented on #1576
@daren-thomas changing to nice to have. Form our conversations I believe we are leaving ArcGIS. I believe we should then focus on the dashboard.

[2018-07-13 08:50] JIMENOFONSECA commented on #1580
@BhargavaKrishnaSreepathi can we close this issue?

[2018-07-13 08:52] BhargavaKrishnaSreepathi commented on #1580
looks like this is fixed quite recently, as when the issue was created, `eff_cs` was not being used. As now it seems to be fixed in CEA, we can close the issue

[2018-07-13 08:52] #1580 closed

[2018-07-16 09:04] #1545 closed

[2018-07-16 13:54] martin-mosteiro opened #1584 "Swiss case studies need to be updated to include 'Qcre_Wm2'"
The Zug and Zurich case studies still contain internal loads as 'Ere_Wm2', but this nomenclature is outdated, as we use 'Qcre_Wm2' instead. These case studies need to be updated accordingly.

[2018-07-16 13:55] martin-mosteiro commented on #1584
The Ecocampus case study might also need to be updated.

[2018-07-17 11:16] amraladdin commented on #1576
Agree with @JIMENOFONSECA ... In addition, it makes sense to have a fixed release for the CEA over ArcGIS, this way we don't have to repeat creating the tutorial many times, which was the case before.

[2018-07-17 18:33] #1542 closed

[2018-07-17 18:34] martin-mosteiro opened #1585 "TypeError: calc_Qcdataf() takes exactly 4 arguments (1 given)"
This issue is analogous to #1542. When `calc_Qcdataf` is called in `thermal_loads.py`, the wrong number of inputs is passed.

[code]

[2018-07-19 06:57] gabriel-happle opened #1588 "Bug in ARU air-conditioning model calculations"
@martin-mosteiro reported strange behavior of the air conditioning model for the case when there is dehumidification and the interior air temperature is below the cooling supply temperature. this happens in spring in a very poorly insulated building outside the heating season.

[2018-07-19 07:17] gabriel-happle commented on #1588
There is a bug in the script where the maximum possible dehumidification demand can turn positive (should be negative) in cases with very low zone internal moisture content (below the off coil humidity content at the ARU). This can only happen in temperate climates and was probably overlooked during testing for the Singapore case.

[2018-07-19 09:46] #1585 closed

[2018-07-19 09:47] #1584 closed

[2018-07-19 10:13] JIMENOFONSECA opened #1589 "DATAHELPER: include street network and building shapes extractor from OSM"
So I came across an easy way to extract street data automatically form street maps. This should help our users to get to CEA faster.

These are the links to the python libraries.

FOR STREETS

https://github.com/gboeing/osmnx-examples/blob/master/notebooks/04-example-simplify-network.ipynb

FOR BUILDINGS

@daren-thomas @martin-mosteiro @shanshanhsieh @BhargavaKrishnaSreepathi @shizhongming @Khayat

[2018-07-19 15:50] martin-mosteiro commented on #1588
The moisture removed by the ARU has a different sign in different parts of the code. This results in the building sometimes having a positive value for `g_dhu_aru` and sometimes a negative one in the final results.

@gabriel-happle I'm adding a fix for this, but since I am not sure if this is consistent with your assumptions, I'm going to need you to check it!

[2018-07-20 05:24] JIMENOFONSECA opened #1590 "Find a way so our Jenkins and Tests last less than 10 min."
Just following a rule of thumb, waiting for tests to complete can be a big waste of time while developing. we faced this issue several times while preparing for the executive of course.

@daren-thomas maybe we can buy a server dedicated for this? would this solve problems of connection with Jenkins? etc..

Is there any other alternative?

[2018-07-25 07:30] shanshanhsieh opened #1591 "add more nodes that connect building to network"
more than one connection from building to network edges should be enabled in the first part of the `network_layout.py`

in the current network layout tool, there is only one way to connect a building to the thermal network (via the shortest path between building node and network edge)
however, this results in odd routes after running steiner spanning tree

[2018-07-25 11:54] martin-mosteiro commented on #1588
This is technically a different issue but I'm adding it to this one because it is the final fix that is needed for the Zurich case study to run. Currently, the demand script gives the following error for some buildings:
[code]
This error is due to the evaporator temperature (7.5°C) being equal to the condenser temperature (which is equal to the outdoor temperature). i.e., there's cooling in the bu

[2018-07-25 12:17] martin-mosteiro commented on #1588
Even better:
[code]
where
[code]
are defined in the appropriate `constants.py` file.

[2018-07-25 12:40] #1488 closed

[2018-07-25 13:16] martin-mosteiro commented on #1588
After making both the ARU and COP changes, the Zurich case study runs correctly.

[2018-07-26 02:35] gabriel-happle commented on #1588
Nice! Let's create a PR then.

[2018-07-26 02:59] gabriel-happle opened #1593 "Make the case study of VMarty run"
This issue aims at making the case study of @VMarty run through the demand calculation.

I will post some testing updates here to document the process.

[2018-07-26 03:08] gabriel-happle commented on #1593
issues: `coordes0` crashes during radiation calculation --> `floors_ag` column in `zone.shp` is in wrong format (`Long` instead of `Double` when opened with ArcGIS)

[2018-07-26 03:17] gabriel-happle opened #1594 "Check geometry inputs before processing"
This is related to observations made in #1593.
Following checks should be done when reading the input shape files:

- Check for unique values in Building Names
- Check for correct data types in other attributes `floors_bg`, ...

I'm assigning @daren-thomas for now.
Please select your priority for this issue.

[2018-07-26 04:00] shanshanhsieh commented on #1591
my approach is to add a "Near Table" which include more than one points to connect substations to networks. This way, the potential network (before entering the steiner tree) has more than one line connecting building substations to the network.
However, it is not stable yet. The modifications i made so far are committed in branch `i1591-improve-network-layout`.
@JIMENOFONSECA maybe you could give

[2018-07-26 06:07] gabriel-happle commented on #1593
@VMarty a pull request #1592  with a fix that is currently waiting to be merged allows to run your case study.
You can either start testing yourself in branch `i1588-bugfix-ARU-model` or wait until it becomes part of the master.

The other cases `cordees0` and `cordees1` have some faulty input files.

[2018-07-27 09:30] gabriel-happle opened #1595 "CEA doesn't seem to handle Terrain files with zero values very well"
@shizhongming was creating terrains for his case studies.
Sometimes the generation of geometries in the radiation script was successful, sometimes not.
The only difference we could see was that terrain files with constant elevation of `0` crashed and while terrain files with constant elevation of `1` worked fine.

Can someone please confirm/negate our observation and work on a fix or warning messa

[2018-07-31 02:31] BhargavaKrishnaSreepathi opened #1596 "Include all the scripts present in optimization_post_processing into optimization_main"
All the scripts done for the executive course in the post processing  need to be integrated into the optimization process.

[2018-08-02 03:05] BhargavaKrishnaSreepathi opened #1597 "pyliburo is replaced by py4design, thus the installation of the environment needs to take this change into account"
pyliburo is renamed as py4design, so the change needs to be made. Also, the folder structure in py4design is different than what it used to be for pyliburo. This impacts the radiation scripts in CEA.

The problem is faced when we are creating the CEA environment afresh

[2018-08-02 03:08] JIMENOFONSECA commented on #1591
@shanshanhsieh sure, let's pick it up after your holidays

[2018-08-02 15:21] martin-mosteiro opened #1598 "No matching distribution found for pyliburo==0.1a12"
Due to some issues with the testing on my computer, I attempted to do a clean reinstall of Anaconda and CEA on my computer. When doing `conda env create` I get the following error message:
[code]
@daren-thomas @JIMENOFONSECA any ideas?

[2018-08-02 15:25] martin-mosteiro commented on #1598
A-ha. I just saw this is exactly what issue #1597 is about. So... this one can be closed.

[2018-08-02 15:25] #1598 closed

[2018-08-03 13:30] #973 closed

[2018-08-03 13:30] #770 closed

[2018-08-07 02:46] JIMENOFONSECA opened #1600 "CONCEPT electrical and thermal planning"

[2018-08-07 02:47] JIMENOFONSECA commented on #1600
@thanhhu kindly describe this issue furthermore

[2018-08-13 03:38] JIMENOFONSECA commented on #1597
@daren-thomas the best for this is to keep the old version of pyliburo. We do not know what else has changed, and it would be too much work to connect to the new version of the library. I think the problem is that a fresh installation of CEA is looking for pyliburo and it does not exist?

[2018-08-13 09:55] daren-thomas commented on #1597
@JIMENOFONSECA technical debt - we've known about this for a while. yes, the old version suits our needs. and as I understand it, the installation should still be pulling it from our fork. I'll have a look and see what can be fixed.

[2018-08-13 11:31] daren-thomas commented on #1597
actually, I think keeping the old pyliburo is harder than it seemed at first... unless... we can publish the fork as pyliburo, but i think we should ask @chenkianwee first before doing this.

@JIMENOFONSECA is @chenkianwee around in singapore? Would you mind asking him in person if we can publish our fork (in his name!) to PyPI?

[2018-08-14 03:51] #1567 closed

[2018-08-14 03:52] #1445 closed

[2018-08-16 10:58] daren-thomas opened #1604 "dbf-to-excel: clarify arguments to script"
I just ran the dbf-to-excel script:

[code]
Notice how the output file (`testing.xlsx`) is not used, but instead the output file is derived from the name of the input file.

Is this the behavior that we want?

- if so, we need to change the interface to just accept `dbf-file`.
- else, we need to change the script to use `excel-file` as input.

Also, check `excel-to-dbf` for similar behavior.

[2018-08-16 10:59] daren-thomas commented on #1604
@JIMENOFONSECA can you please provide some input in how the tool _should_ work? Fixing it should be a piece of cake.

[2018-08-17 04:44] JIMENOFONSECA commented on #1604
So what I understand is that it should convert from excel to dbf and viceversa. If an excel file is the input, then it converts to dbf. if a dbf file is input then it is converted to excel.

[2018-08-17 13:52] daren-thomas commented on #1604
Yes, that's exactly what it does. Just the question is _how_. How is the output name chosen? Is it a parameter to the script? Or is it just the name of the input file with the new extension? Currently, it pretends to do the first, but ends up doing the second. So we should just decide which way we want it.

[2018-08-19 12:56] JIMENOFONSECA commented on #1604
I think the name can be selected by the user once he/she selects the output directory.

The parameters to ask the user are: 1. the location of the file, and 2. the output to locate the new file (including the name of the new file). The default name is the name of the input file.

Does it work like this?
On 17 Aug 2018, 21:52 +0800, Daren Thomas <notifications@github.com>, wrote:

Yes, that's exact

[2018-08-21 08:35] VMarty commented on #1593
hey, @gabriel-happle, cordees2 is perfectly runninng now, thankyou for fixing this issue ! I will keep you informed of my progress.

[2018-08-23 07:48] #808 closed

[2018-08-23 07:49] #1588 closed

[2018-08-23 07:50] #1581 closed

[2018-08-23 09:14] JIMENOFONSECA commented on #1511
to add an exception

[2018-08-23 09:16] JIMENOFONSECA commented on #1436
@gabriel-happle Why do you need this? can you actually run it in your machine?

[2018-08-23 09:50] #1422 closed

[2018-08-23 09:56] BhargavaKrishnaSreepathi opened #1605 "As a researcher I want to know how to name variables in CEA so I make constant integration possible."
CEA variable naming is to be updated based on SIA standards and PEP8 in that order

We are setting up a standard way to call all variables in CEA.  This will standardise the nomenclature and add it to the documentation. This will be a major update in CEA.

https://files.slack.com/files-pri/T10T7UGHM-FC36TM6UX/download/cea_variable_naming_sbk_jf.pptx

[2018-08-23 09:58] BhargavaKrishnaSreepathi commented on #1605
There is an active discussion going on in Slack, feel free to add in the inputs in either place

[2018-08-23 10:00] JIMENOFONSECA opened #1606 "Come up with strategy for further software intensive development"
So MuSeS is entering into the final phase of ANALYSIS. Basically extracting information out of CEA.

We are entering into a stage in which CEA will be refactored and improved to offer a better user experience and transparency (code readibility and limitations).

This means we will have less engineering, more software development work in the next year.

I will propose a plan on how to operate from