[2019-10-17 09:20] gabriel-happle commented on #2082
@reyery and @daren-thomas what is the status of this issue?

[2019-10-17 09:40] #2204 closed

[2019-10-17 09:43] #2053 closed

[2019-10-17 09:45] #2352 closed

[2019-10-17 09:48] #2367 closed

[2019-10-17 09:50] gabriel-happle commented on #2311
@daren-thomas please check this issue. thanks.

[2019-10-17 09:51] #2254 closed

[2019-10-17 09:58] martin-mosteiro commented on #2366
I think the solution is making night time flushing possible even beyond the cooling season. As a test, I ran the same retail building (ventilation system 'T01', i.e., night time flushing available) for a case where the cooling season was the normal cooling season in CEA, and the same case where the cooling season is from March to September. The results are shown below:
- **Case 1: current cooling

[2019-10-17 10:00] martin-mosteiro commented on #2366
Not sure what caused the summertime change in indoor temperature nor the drastic change in cooling demand though...

[2019-10-17 10:01] gabriel-happle commented on #1633
The "multiplier" of solar heat gains could also be an advanced user input that is set to 1` by default.

[2019-10-17 10:04] gabriel-happle commented on #2359
@daren-thomas maybe this could be about the new interface. or do you have another idea?

[2019-10-17 10:06] gabriel-happle commented on #2336
this could be the blog for M2.24 #2359

[2019-10-17 10:36] OmarAdnan commented on #2377
Thanks, i will look into it.

[2019-10-18 05:23] #2350 closed

[2019-10-18 05:23] #2346 closed

[2019-10-18 17:43] OmarAdnan commented on #2377
So followed your suggestion for the floor_ag and have fixed my data. Now Daysim is running but after a while on the CEA command window the last line reads : KeyError: 'Session is disconnected'
2019-10-18T16:47:35Z {'REMOTE_PORT': '59313', 'HTTP_HOST': 'localhost:5050', 'REMOTE_ADDR': '127.0.0.1', (hidden keys: 29)} failed with KeyError
cea-worker: Removing results foldercea-worker:
/server/streams

[2019-10-18 21:58] OmarAdnan commented on #2377
So I did fix the error just as you have suggested and ran the daysim after 4 hours or so it was able to plot the solar radiation on the buildings of the area. I have attached the plots i got.

![Annotation 2019-10-18 225405](https://user-images.githubusercontent.com/54192110/67130756-413ac780-f1fa-11e9-9f0e-192c35cf3732.png)

However, when I checked the command window there seems to be some error

[2019-10-21 06:39] shanshanhsieh commented on #2025
Just checked Thermal Network I & II on the dashboard with CEA version 2.23.
The interface is clean now thanks to the refactoring that was done by @daren-thomas in issue #2255

[2019-10-21 06:39] #2025 closed

[2019-10-21 09:17] daren-thomas commented on #2082
@gabriel-happle There is a PR which addresses it. It hasn't been merged yet.

[2019-10-21 09:21] daren-thomas commented on #2312
yes. we fixed it long time ago.

[2019-10-21 09:21] #2312 closed

[2019-10-21 09:24] daren-thomas commented on #2311
@kerembeygo I just checked and these plots work in master as of today. Can you please update and re-run the thermal-networks simulation?

[2019-10-21 09:31] daren-thomas commented on #2349
@JIMENOFONSECA in theory, it would be possible to kill the processes. The "interface" used by CEA scripts doesn't have any knowledge about stopping, so it wouldn't be a clean exit. Really just a killing of the processes. The state of output etc. would be a bit unknown. A bit like hitting the stop execution button in PyCharm. Actually, _exactly_ like that.

[2019-10-21 10:38] JIMENOFONSECA commented on #2349
That sounds good to me. We can do it like pycharm

On 21 Oct 2019, 5:31 PM +0800, Daren Thomas <notifications@github.com>, wrote:

@JIMENOFONSECA<https://github.com/JIMENOFONSECA> in theory, it would be possible to kill the processes. The "interface" used by CEA scripts doesn't have any knowledge about stopping, so it wouldn't be a clean exit. Really just a killing of the processes. The state of o

[2019-10-21 10:40] daren-thomas commented on #2373
@JIMENOFONSECA are we talking about the plot "Dispatch curve for cooling plant in system"? (I'm not quite sure which plot to check as I couldn't find a plot called "District cooling plant")

[2019-10-21 10:45] JIMENOFONSECA commented on #2373
Hi Daren, yes, that one. The problem is that either way (ridding for district heating, or running for district cooling) we are generating exactly the same files. What changes are the values of the files. But that is not known apriori. So, the only way would be to create a “dummy file” that describes that the problem was run only for district heating or cooling, right?
On 21 Oct 2019, 6:40 PM +0800

[2019-10-21 10:50] daren-thomas commented on #2373
@JIMENOFONSECA what I noticed was that the file `outputs\data\optimization\slave\gen_1\ind_0_Cooling_Activation_Pattern.csv` doesn't have any columns except for the `DATE`:

[code]

The heating version of the file has the following headers:

[code]

I think the problem here might not actually be a plotting problem but more a problem with how we store the data. What happens if you optimize for DC?

[2019-10-21 10:51] daren-thomas commented on #2373
to make this issue googleable, here is the error message in question:

[code]

[2019-10-21 10:54] JIMENOFONSECA commented on #2373
Yes, that is right. The heating version will not have any output.

The output is ok without the columns or values for now…

On 21 Oct 2019, 6:50 PM +0800, Daren Thomas <notifications@github.com>, wrote:

@JIMENOFONSECA<https://github.com/JIMENOFONSECA> what I noticed was that the file outputs\data\optimization\slave\gen_1\ind_0_Cooling_Activation_Pattern.csv doesn't have any columns except for the

[2019-10-21 10:56] daren-thomas commented on #2373
So... just to clarify: we can only optimize for one case per scenario? Either DC or DH?

[2019-10-21 11:18] JIMENOFONSECA opened #2392 "Build the docs does not work"
So we cannot build the docs from the cea console at the moment.
We made several updates to the glossary, but the changes are not reflected.

[2019-10-21 11:20] #2315 closed

[2019-10-21 11:22] daren-thomas commented on #2392
ok. on it.

[2019-10-21 11:49] kerembeygo commented on #2311
So far I used dashboard for simulations. I'm not familiar with PyCharm. Here are some results.

[2019-10-21 11:51] kerembeygo commented on #2311
![1](https://user-images.githubusercontent.com/29708612/67202744-0e6b1c00-f412-11e9-93b4-e40212b5f372.jpg)

[2019-10-21 11:54] kerembeygo commented on #2311
![2](https://user-images.githubusercontent.com/29708612/67202919-7a4d8480-f412-11e9-9c33-047bad086cfb.jpg)

[2019-10-21 12:02] reyery opened #2393 "Plots should have a function to show raw data"
Plots in the dashboard should have a function to allow user to see the raw data used to create the plot so that they can do their own analysis on the data.

One way to do that is to show the users the location of the files used to create the plot and allow they to open such files. This can be achieved in the fronted by getting the `input_files` property of each plot class which contains the path o

[2019-10-21 12:03] kerembeygo commented on #2311
![3](https://user-images.githubusercontent.com/29708612/67203482-da90f600-f413-11e9-8fe7-02f4eb075eab.jpg)

[2019-10-21 12:08] kerembeygo commented on #2311
![4](https://user-images.githubusercontent.com/29708612/67203507-eda3c600-f413-11e9-8a2e-a49112c031a5.jpg)

[2019-10-21 12:10] kerembeygo commented on #2311
On PyCharm CPU runs at %100. That causes overheating of my notebook. So I had terminate the thermal network simulation.

[2019-10-21 12:32] daren-thomas commented on #2311
@kerembeygo I think you misunderstood: I didn't mean for you to run with PyCharm. Just to make sure you were using the newest version - Re-installing and choosing "Developer version" should do that for you.

And then re-run the thermal-network script. It should then work. This script _is_ resource heavy, you could _in theory_ use single process mode (set multi-processing to off in the dashboard).

[2019-10-21 12:50] daren-thomas commented on #2393
That's a cool idea... Note, that the plots generally do a lot of munging of the data before plotting it....

[2019-10-21 12:57] kerembeygo commented on #2311
I have CEA 2.23. Without running thermal network simulation I tried thermal network plots. For thermal networks - supply and return vs. ambient temp plot I got an error message for the first time. For the second try I had this
![newplot](https://user-images.githubusercontent.com/29708612/67207079-8558e280-f41b-11e9-831b-404df0be0058.png)

[2019-10-21 12:59] kerembeygo commented on #2311
I don't know whether this solves the issue. If it does I won't go for the simulation. Thermal network simulation takes more than a day to complete.

[2019-10-21 12:59] #444 closed

[2019-10-21 13:31] OmarAdnan opened #2394 "OutofRange error"
I have tried to generate input data for zone in the city of Lisbon and i get this OutOfRangeError.

Traceback (most recent call last):
  File "C:\Users\Adnan\Documents\CityEnergyAnalyst\Dependencies\Python\lib\site-packages\flask\app.py", line 2292, in wsgi_app
    response = self.full_dispatch_request()
  File "C:\Users\Adnan\Documents\CityEnergyAnalyst\Dependencies\Python\lib\site-packages\flask

[2019-10-21 13:35] daren-thomas opened #2395 "Missing input files should create an error, not a success in the jobs list"
Steps to reproduce:

- create new scenario (chose all the helpers)
- forget to run `data-helper`
- run `radiation`

Expected: Error status on job, detailing the missing files

Observed behavior: Job is completed as "success", but the output of the script shows "ERROR: Missing input files..."

I think the code that checks for these files should end with an error code (`sys.exit(1)`)

[2019-10-21 13:43] daren-thomas commented on #2311
What error did you get the first time you tried? Otherwise, I guess we can close this issue.

[2019-10-21 13:43] #2311 closed

[2019-10-21 16:23] martin-mosteiro opened #2397 "Radiation results do not account for adjacent buildings"
I am running a case study that includes the building shown in yellow below:
![image](https://user-images.githubusercontent.com/18548065/67223640-ec809200-f42f-11e9-8c4d-ebf614dcce7a.png)
![image](https://user-images.githubusercontent.com/18548065/67223644-f0141900-f42f-11e9-9416-cb4c0a706ca2.png)

As you can see, the building is surrounded on three sides by a taller building. This means that three

[2019-10-21 16:29] martin-mosteiro commented on #443
Had the following discussion with @gabriel-happle:

In CEA not only do we not account for adiabatic surfaces between buildings, but we even consider them having the same thermal properties as the external surfaces. So if a building is surrounded entirely by another building it will be calculated as a fully exposed windows with heat transfer coefficients equal to `A_wall * U_wall + A_window * U_win

[2019-10-22 04:20] JIMENOFONSECA commented on #2381
Hi Kerem,

We unfortunately cannot replicate the error.  One way to fix your problem is to:

1. Change the name of the weather file you want to use to “weather.epw”
2. Store this new file in the weather folder ….YOURPROJECT/YOURSCENARIO/inputs/weather/.

Let us know if this works.
We have launched a new version of CEA today. It might be that you do not find that error in there anymore.

We heard y

[2019-10-22 12:53] daren-thomas opened #2399 "Energy Demand calculation failing with KeyError: 'rhum_max_pc'"
When running `cea test`, the pydoit task `run_demand:open` fails with the following output:

[code]

I'm guessing there is some step that needs to be added to the tests.

[2019-10-22 13:06] daren-thomas commented on #2399
Nope. Just checked: Running the data-helper and the schedule-maker does not solve the problem.

[2019-10-22 13:07] daren-thomas commented on #2399
Running with `multiprocessing=False` yields a more accurate description:

[code]

[2019-10-22 19:04] martin-mosteiro commented on #2399
No, someone renamed a variable without changing the name anywhere else (e.g., in the databases).

I'm not sure this was intentional, so I'm creating a PR that solves this issue by reverting to the old naming convention.

[2019-10-22 19:55] martin-mosteiro commented on #2366
Looking at @prakharmehta95's data, it seemed pretty clear that heat gains were accumulating with no way to release them. So I tested what would happen if we made economizers available year-round. This seems like a sensible system to have in buildings such as the ones @prakharmehta95 was having trouble with (`RETAIL`) which have massive internal gains and hence overheat even at times when outdoor t

[2019-10-22 20:01] martin-mosteiro commented on #2399
@daren-thomas I just noticed you had already created a PR about this, so I closed mine. In any case, it's probably a good idea to test stuff before merging in the future... 😂

[2019-10-23 07:52] kerembeygo opened #2402 "CEA 2.24 doesn't load"
![1](https://user-images.githubusercontent.com/29708612/67370346-28783c00-f583-11e9-9510-16c66d43e425.jpg)

[2019-10-23 07:53] kerembeygo commented on #2402
![2](https://user-images.githubusercontent.com/29708612/67370410-42b21a00-f583-11e9-9597-016e4305c046.jpg)
![3](https://user-images.githubusercontent.com/29708612/67370428-49409180-f583-11e9-80c5-0bdcd6f0239b.jpg)

[2019-10-23 07:55] kerembeygo commented on #2402
I tried it yesterday and today. CEA 2.24 doesn't load. I waited but nothing comes. No activity in the background.

[2019-10-23 07:56] kerembeygo commented on #2402
Name needs a correction too.

[2019-10-23 09:15] #2399 closed

[2019-10-23 09:17] daren-thomas opened #2403 "Exception: Temperature in RC-Model of building B007 out of bounds! for reference-case-cooling"
In master, as of today, the demand script for `reference-case-cooling` does not run through. This was noticed by running the command `cea workflow --workflow district-cooling-system`.

[code]

[2019-10-23 09:43] lguilhermers opened #2404 "expanding options for Scenario comparison plots"
Thanks for adding comparison between scenarios in the dashboard, I find it extremely useful!
Would be useful to compare different scenarios for cases other than annual costs.

I am personally interested in energy balances, energy final use intensity and load curves, but I see potential uses for others as well.

Thanks

[2019-10-23 10:45] daren-thomas opened #2405 "Rename shortcuts (start menu & desktop) to "CEA GUI""
Let's rebrand the "CEA Dashboard" feature - starting with the installer and work our way from there:

- rename the shortcuts to "CEA Dashboard" to "CEA GUI"
- rename the script `cea dashboard` to `cea gui`?
  - rename `dashboard.bat` to `cea-gui.bat`
- check documentation for references to "Dashboard"

Reasoning: We have a concept clash - "dashboard" either means the GUI or the dashboard feature o

[2019-10-23 13:25] #2360 closed

[2019-10-24 03:11] shizhongming opened #2406 "optimization not running in SG"
Optimization of Supply system centralized and Supply system decentralized both don't run.
Both scripts try to find 'WOOD' in the LCA database, which doesn't exist in the SG case.

[code]

[2019-10-24 03:12] shizhongming commented on #2406
Same error for the decentralized case:

[code]

[2019-10-24 03:17] JIMENOFONSECA commented on #2406
@shizhongming you can solve it by adding the 'WOOD' parameter to the Singapore LCA. a PR is much appreciated it.

[2019-10-24 09:48] JIMENOFONSECA commented on #2397
@martin-mosteiro mind sending me the case study?
thnaks!

[2019-10-24 09:55] #2235 closed

[2019-10-24 09:56] JIMENOFONSECA commented on #2185
done in PR #2382

[2019-10-24 09:56] #2185 closed

[2019-10-24 09:56] #2183 closed

[2019-10-24 10:08] JIMENOFONSECA commented on #2394
Try the new version Omar. we fixed that in the latest release, let us know if this worked.

[2019-10-24 10:42] JIMENOFONSECA opened #2408 "Shutting down does not kill all python processes"
1. run cea-GUI
2. run demand tool.
3. close cea after the tool starts
4. try to relaunch cea

It does not work. Some processes remain in the background of CEA and CEA cannot open again.

![image](https://user-images.githubusercontent.com/8973186/67478081-f56e9f00-f68d-11e9-8467-211d9ec07f8e.png)

[2019-10-24 10:46] daren-thomas opened #2409 "Update documentation on optimization in files-generated-by-the-cea.rst"
The file `docs/files-generated-by-the-cea.rst` seems to be a bit outdated. I think the title of the file "files generated by the cea" is shown in [script-data-flow](https://city-energy-analyst.readthedocs.io/en/latest/script-data-flow.html)

I think renaming it to an overview of the optimization scripts and updating the information would be a good idea.

@JIMENOFONSECA do you want to have a quick

[2019-10-24 11:31] daren-thomas opened #2410 "Hard-coded path in cea/utilities/converter_old_schedules_to_csv.py"
The file `cea/utilities/converter_old_schedules_to_csv.py` contains a hard-coded path. It also has no documentation.

I gather this is a one-off script - maybe better suited to the `/notebooks` folder with some documentation on _why_ (and _when_) it was used.

I vote to remove the whole script or fix it up.

[2019-10-24 11:32] kerembeygo commented on #2402
I did it as you asked.

[2019-10-24 12:46] gabriel-happle commented on #2366
I think they can overlap. I don't have any issue with that. We just need to come up with some smart way of controlling it. I.e., model some realistic "control system". Because what I am a bit scared of, is that cooling and heating might be activated alternating on the same day. E.g., heating at night and cooling in the afternoon on the same day...
I believe such an algorithm could be based on the

[2019-10-24 14:45] daren-thomas commented on #2375
@dowbh what version of Rhino is this?

[2019-10-24 15:38] kerembeygo commented on #2402
![2](https://user-images.githubusercontent.com/29708612/67501774-82fdbf00-f68d-11e9-86fb-1621f8a64b0e.jpg)

[2019-10-24 15:39] kerembeygo commented on #2402
![1](https://user-images.githubusercontent.com/29708612/67501800-8c872700-f68d-11e9-9fd4-408b69d39159.jpg)

[2019-10-24 15:39] kerembeygo commented on #2402
![3](https://user-images.githubusercontent.com/29708612/67501831-99a41600-f68d-11e9-80e8-98b432b75c59.jpg)

[2019-10-24 15:46] kerembeygo commented on #2402
Dashboard doesn't start at the end. Do you expect to have messages written in a file?

[2019-10-24 16:13] dowbh commented on #2375
Version 5 SR14 64-bit
(5.14.522.8390, 5/22/2017)
Educational Lab License
----------------------------
This is the version info showing in my rhino.

[2019-10-24 16:30] dowbh opened #2413 "Failure on starting from my own files"
I tried to do simulation on CEA for the buildings that are still under the design process. Therefore, I used ArcScene to build all the required data structures, i.e. all the data in the "input" folder in your example (reference-case-open). After I uploaded the data onto the CEA browser interface, an error popped up on my screen, shown below. I wonder is there any suggestions about how it might be

[2019-10-24 17:14] OmarAdnan commented on #2394
ok thanks will try it and inform you

[2019-10-25 03:21] reyery commented on #2402
Hmmm not too sure what is happening here. It should show an error window at startup if there are any problems. Right now it still does not log to a file as I am still working on that.

For now could you try to launch **CEA console** and run `cea dashboard` to see if it successful starts the backend. If it shows `start socketio.run` then it might be something to do with the interface.

In that case

[2019-10-25 03:30] reyery commented on #2405
Maybe the script `cea dashboard` should instead be renamed to _server/backend_ or something similar since it only exposes endpoints to interact with cea via http and necessarily the gui

[2019-10-25 05:42] JIMENOFONSECA commented on #1633
@martin-mosteiro so we were discussing with @gabriel-happle . Maybe if we implement Hs_ag and Hs_bg we can take into account this variation of air-conditioned spaces above ground and underground.

basically having a proportion of area air-conditioned above ground and below ground. The default value will be 00.0 for Hs_bg.

What do you think:

[code]

and do something similar with the values of df[

[2019-10-25 06:59] daren-thomas commented on #2408
I'm able to reproduce this. A quick googling shows some ideas here: https://stackoverflow.com/questions/23434842/python-how-to-kill-child-processes-when-parent-dies/23587108

Since we know _when_ the process is shutting down (`/server/shutdown`) I think it could be as easy as collecting those `POpen` objects and `terminate()`ing them. I'll give it a shot.

[2019-10-25 10:50] daren-thomas commented on #2375
@dowbh I was able to reproduce the error and have a fix in PR #2415 pending review.

[2019-10-25 11:02] daren-thomas commented on #2371
#2411 fixes this...

[2019-10-25 11:02] #2371 closed

[2019-10-25 11:31] shanshanhsieh commented on #2317
Notes from @daren-thomas and my discussion today:
the problem is that the same path is used to store network layouts ( `nodes.shp` and `edges.shp`) of different individuals, and if you start reading / writing to these files in parallel, you're going to run into problems.

possible solution:
create subfolders (`{gen}_{ind}`) under `input/network/DC`

[2019-10-26 14:31] JIMENOFONSECA commented on #2366
I am not for overlaping since it adds some level complexity that a single zone building model should not handle (heating and cooling during the same hour). The best way is to regulate the ventilation rate or the control (night flush and economizer cycle). That may be more realistic. We can even think about a ventilation schedule. I wonder how Epllus does it, and if we can imitate some of that beha

[2019-10-28 08:46] kerembeygo commented on #2402
Somehow loading issue seems resolved. CEA loads.

[2019-10-28 08:47] kerembeygo commented on #2402
![1](https://user-images.githubusercontent.com/29708612/67664405-a28c3480-f978-11e9-8230-8e39edc0a33c.jpg)

[2019-10-28 08:52] kerembeygo commented on #2402
But can not create new project. I click create button. CEA creates a folder with the given name. But can not proceed to the next phase.

[2019-10-28 09:10] reyery commented on #2402
Is it stuck at the same page? Hmm, we definitely need to come up with a better way to show the errors. Could you try creating a new project again and press `Ctrl+Shift+I` to show the web console and see if there are any errors.

[2019-10-28 09:35] daren-thomas commented on #2402
@kerembeygo, just to rule it out: can you try using a project root path that doesn't contain non-ascii characters? I think the ENERJI folder might have a character we've never tested with...

[2019-10-28 09:40] daren-thomas commented on #2379
@dowbh, a quick way to find out the error messages is to double-click on the CEA component. This should open up a Python editor with a "Test" button at the top right (I think). When you click that, there will be some output at the bottom of the dialog. Could you copy that and paste it into this issue please?

[2019-10-28 09:46] daren-thomas commented on #2355
just tested in master: fixed.

[2019-10-28 09:46] #2355 closed

[2019-10-28 09:47] daren-thomas commented on #1145
@JIMENOFONSECA is this still a thing? (asking, because the interface has changed a lot since the issue was created - maybe we can close it?)

[2019-10-28 12:22] #2394 closed

[2019-10-28 14:03] martin-mosteiro commented on #2366
@JIMENOFONSECA Thanks for your feedback. Actually, I don't think cooling and heating in the same hour would ever happen, because the workflow would be something like:
1. If the temperature is too hot, use economizer/night flushing
2. Since temperature is too hot, no heating is activated
3. If temperature is still too hot, turn on cooling systems.

However, I think it _could_ be possible to have he

[2019-10-29 08:44] kerembeygo commented on #2402
Changing the folder name worked. But sometimes CEA load, sometimes doesn't. Running the console first and then Dashboard seems the solution at the moment. I managed to create a new project. Energy demand run gives error.

[2019-10-29 08:45] kerembeygo commented on #2402
![1](https://user-images.githubusercontent.com/29708612/67751100-8bfde000-fa41-11e9-891d-bd60770974e2.jpg)

[2019-10-29 09:22] daren-thomas commented on #2402
@kerembeygo hmm... I've seen that before... let's see... I think this was fixed with PR #2400. You can either update to the newest developer version or wait until version 2.25 - which should be out within the next few days.

[2019-10-29 09:22] #2402 closed

[2019-10-29 09:27] #2324 closed

[2019-10-29 14:32] daren-thomas commented on #2135
Current status: Breaks on demand

[code]

[2019-10-29 15:44] JIMENOFONSECA commented on #1145
Yes, let’s close it
On 28 Oct 2019, 17:47 +0800, Daren Thomas <notifications@github.com>, wrote:

@JIMENOFONSECA<https://github.com/JIMENOFONSECA> is this still a thing? (asking, because the interface has changed a lot since the issue was created - maybe we can close it?)

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub<https://github.com/archit

[2019-10-29 16:29] dowbh commented on #2413
Step A.
Since the buildings are not existing buildings yet, I used the "zone helper" on CEA and cropped the extract same site where the buildings will be located, and then I used the "District helper", "Street helper", and "Data Helper" to generate some of the required data.

Step B.
I drew the building footprints (in dwg.), put them into ArcScene (version 10.7), and created the data for the footp

[2019-10-29 18:52] martin-mosteiro opened #2422 "Schedules for buildings with no occupants don't make sense"
I noticed buildings with no occupants could not be processed by the CEA schedule maker in its present form (see PR #2421). After fixing this, however, these buildings still get unreasonable schedules, such as: Qs_W[t] = Ve_lps[t] = Vw_lph[t] = Vww_lph[t] = OFF for all t.

[2019-10-29 20:32] martin-mosteiro commented on #2422
Something odd appears to have happened whereby a bunch of schedules were created with `nan` as a monthly multiplier. After running CEA again (all else equal), the schedules were created correctly. Closing the issue now.

[2019-10-29 20:32] #2422 closed

[2019-10-29 21:30] OmarAdnan opened #2423 "burning building"

[2019-10-29 21:30] #2423 closed

[2019-10-30 05:52] #2408 closed

[2019-10-30 10:32] reyery opened #2424 "Unable to run dashboard.py in PyCharm"
For some reason PyCharm does not like this kind of imports and will not run `dashboard.py`.

Running it from console seems to work though

https://github.com/architecture-building-systems/CityEnergyAnalyst/blob/12a5dec08fcf449eada930a23109730ed9cd184c/cea/interfaces/dashboard/server/__init__.py#L12
[code]

[2019-10-30 11:55] daren-thomas commented on #2424
I found this while googling the error message: https://stackoverflow.com/questions/30669474/beyond-top-level-package-error-in-relative-import

I think we should just use the full package name (`from cea.interfaces.dashboard.tools.routes import shutdown_worker_processes`)

[2019-10-30 11:56] #1145 closed

[2019-10-30 14:51] daren-thomas opened #2425 "Create a Rhino 6 Grasshopper interface"
This could be as simple as updating the current interface (`cea install-grasshopper`) to also install to the Rhino 6.0 folder, but it could be _so_ much better with the use of `honey-badger` - I believe we can use the information in `scripts.yml` and `default.config` to automatically produce a set of GH components, one for each cea script.

[2019-10-30 14:54] #816 closed

[2019-10-30 15:05] daren-thomas commented on #2377
@OmarAdnan, that's fine. That's just the backend keeping socket.io alive.

[2019-10-30 15:05] #2377 closed

[2019-10-30 15:08] daren-thomas commented on #2349
I'm taking over this issue as I just implemented a similar feature and think I'm best suited to tackle this.

[2019-10-30 15:24] daren-thomas opened #2426 "CEA Installer should create projects folder and extract sample case there"
After installing the CEA, currently, the user still needs to create a project somewhere. I believe we should have some default for this.

Choices:

- C:\Users\user\Documents\CityEnergyAnalyst\projects
- C:\Users\user\Documents\CEA-projects

Also, extracting the reference cases shipped with the CEA could give the user a head start in figuring stuff out.

[2019-10-30 15:31] daren-thomas commented on #2326
@JIMENOFONSECA is this must-have or should-have?

[2019-10-30 15:33] daren-thomas opened #2427 "Blog for M2.26"

[2019-10-31 01:14] JIMENOFONSECA commented on #2326
should…

_______________________
On 30 Oct 2019, 11:33 PM +0800, Daren Thomas <notifications@github.com>, wrote:

@JIMENOFONSECA<https://github.com/JIMENOFONSECA> is this must-have or should-have?

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub<https://github.com/architecture-building-systems/CityEnergyAnalyst/issues/2326?email_source=notificat

[2019-10-31 08:37] shanshanhsieh commented on #1893
clossing this issue since it is obsolete
the supply system optimization was re-made in #2249

[2019-10-31 08:37] #1893 closed

[2019-10-31 08:39] shanshanhsieh commented on #2243
the sript is working well in CEA v2.24

[2019-10-31 08:39] #2243 closed

[2019-10-31 08:48] shanshanhsieh opened #2428 "Thermal network optimization for DH"
The `thermal_network_optimization.py` is only working for DC in SG for the moment.
The cost calculation function is still missing to run for DH.
In more detail, a function called `calc_Ctot_hs_district` (similar to `calc_Ctot_cs_district`) should be added.

[2019-10-31 08:50] shanshanhsieh opened #2429 "Thermal network optimization for DC in CH context"
The `thermal_network_optimization.py` is only working for DC in SG for the moment.
In order to run for DC in the CH context, a detailed piping cost in CH should be added.

[2019-10-31 08:50] shanshanhsieh commented on #2429
@martin-mosteiro might have some data from the past mater thesis?

[2019-10-31 09:15] reyery commented on #2212
I suppose we can close this already?

[2019-10-31 09:17] reyery commented on #2326
I could add this in, since I'm currently working on converting the input editor to use react. Shouldn't be too hard

[2019-10-31 09:19] reyery commented on #2348
These functions are currently working in the electron application

[2019-10-31 09:19] #2348 closed

[2019-10-31 09:23] reyery commented on #2298
Will probably set the `hostname` in a config file or environment variable for the electron application

[code]

[2019-10-31 09:27] reyery commented on #2170
There's currently no **Manage Dashboards** page in the electron application, since I not too sure if it is still useful. We could add it in eventually, however I don't think it is relevant now.

[2019-10-31 09:27] #2170 closed

[2019-10-31 10:23] #443 closed

[2019-10-31 10:28] #2375 closed

[2019-10-31 10:33] #1648 closed

[2019-10-31 10:40] daren-thomas commented on #2404
You can use the grid layout of the dashboard to compare multiple scenarios already.

[2019-10-31 10:40] #2404 closed

[2019-10-31 10:40] JIMENOFONSECA commented on #1647
maybe we close these epics and maintain the individual issues going....It keeps the number of issues tighter.

[2019-10-31 10:40] #1647 closed

[2019-10-31 10:45] #935 closed

[2019-10-31 10:46] daren-thomas commented on #2409
Daren has trace-inputlocator data for `decentralized` and `optimization` (heating) scripts. So I can update the script-data-flow stuff.

[2019-10-31 10:46] JIMENOFONSECA commented on #927
2 years here, we will not have it anytime soon. Closing it.

[2019-10-31 10:46] #927 closed

[2019-10-31 10:47] JIMENOFONSECA commented on #772
2 years here, we will not have it anytime soon. Closing it.

[2019-10-31 10:47] #772 closed

[2019-10-31 10:47] JIMENOFONSECA commented on #756
2 years here, we will not have it anytime soon. Closing it.

[2019-10-31 10:47] #756 closed

[2019-10-31 10:48] JIMENOFONSECA commented on #755
no more valid, the optimization scripts work differently now.

[2019-10-31 10:48] #755 closed

[2019-10-31 10:48] JIMENOFONSECA commented on #754
This was fixed in #2295

[2019-10-31 10:48] #754 closed

[2019-10-31 10:50] JIMENOFONSECA commented on #7
2 years here, we will not have it anytime soon. Closing it.

[2019-10-31 10:50] #7 closed

[2019-10-31 10:50] JIMENOFONSECA commented on #10
2 years here, we will not have it anytime soon. Closing it.

[2019-10-31 10:50] #10 closed

[2019-10-31 10:53] JIMENOFONSECA commented on #80
2 years here, we will not have it anytime soon. Closing it.

[2019-10-31 10:53] #80 closed

[2019-10-31 10:55] JIMENOFONSECA commented on #274
2 years here, we will not have it anytime soon. Closing it.

[2019-10-31 10:55] #274 closed

[2019-10-31 10:56] JIMENOFONSECA commented on #275
2 years here, we will not have it anytime soon. Closing it.

[2019-10-31 10:56] #275 closed

[2019-10-31 10:57] JIMENOFONSECA commented on #276
2 years here, we will not have it anytime soon. Closing it.

[2019-10-31 10:57] #276 closed

[2019-10-31 10:58] JIMENOFONSECA commented on #208
2 years here, we will not have it anytime soon. Closing it.

[2019-10-31 10:58] #208 closed

[2019-10-31 10:59] JIMENOFONSECA commented on #332
2 years here, we will not have it anytime soon. Closing it.

[2019-10-31 10:59] #332 closed

[2019-10-31 11:01] JIMENOFONSECA commented on #533
did this in #2295

[2019-10-31 11:01] #533 closed

[2019-10-31 11:02] daren-thomas commented on #2409
we'll remove this file. but a documentation on how optimization works would be a good idea.

[2019-10-31 11:02] #438 closed

[2019-10-31 11:02] #446 closed

[2019-10-31 11:03] daren-thomas commented on #2410
we decided to remove this script.

[2019-10-31 11:04] JIMENOFONSECA commented on #1218
so we fixed the voi_deck parameter to account for the number of floors from the surface up that have void-deck. that works for most cases

[2019-10-31 11:04] #1218 closed

[2019-10-31 11:12] JIMENOFONSECA commented on #983
2 years here, we will not have it anytime soon. Closing it.

[2019-10-31 11:12] #983 closed

[2019-10-31 11:12] daren-thomas commented on #2425
We could also create an importer for Rhino files and use the CEA interface for simulations. We will eventually stop support for the Grasshopper interface.

So maybe we should create a notebook on how to automate CEA workflows would be a way and how to interface with the CEA from Grasshopper (new blog topic!!!)

[2019-10-31 11:13] JIMENOFONSECA commented on #1021
2 years here, we will not have it anytime soon. Closing it.

[2019-10-31 11:13] #1021 closed

[2019-10-31 11:14] JIMENOFONSECA commented on #1022
2 years here, we will not have it anytime soon. Closing it.

[2019-10-31 11:14] #1022 closed

[2019-10-31 11:14] daren-thomas commented on #2425
Another possibility is to create a blog post detailing how to run the CLI from Grasshopper.

[2019-10-31 11:18] daren-thomas commented on #2426
we decided we won't do this.

[2019-10-31 11:18] #2426 closed

[2019-10-31 11:19] #900 closed

[2019-10-31 11:19] #1198 closed

[2019-10-31 11:19] #1199 closed

[2019-10-31 11:19] #1200 closed

[2019-10-31 11:19] #1201 closed

[2019-10-31 22:46] dowbh commented on #2413
Hey Daren,

Thanks for your reply!
I assigned the coordinate system of the zone shapefile as you suggested, and I put it at the same location where district, terrain, and street shapefiles are in ArcScene.
It worked!

However, I am now getting a new error as below.
------------------------------------------------------------------------------------------------------

City Energy Analyst version 2.

[2019-11-01 01:20] JIMENOFONSECA commented on #1363
2 years here, we will not have it anytime soon. Closing it.

[2019-11-01 01:20] #1363 closed

[2019-11-01 01:21] JIMENOFONSECA commented on #331
2 years here, we will not have it anytime soon. Closing it.

[2019-11-01 01:21] #331 closed

[2019-11-01 01:21] JIMENOFONSECA commented on #333
2 years here, we will not have it anytime soon. Closing it.

[2019-11-01 01:21] #333 closed

[2019-11-01 01:24] JIMENOFONSECA commented on #618
We had some ideas in the past, Now that we have access to uses via webservices, we will start monitoring usage. The idea is that we can get more information about the hurting points of CEA in a more tangible and quantifiable manner.

[2019-11-01 01:25] JIMENOFONSECA commented on #664
2 years here, we will not have it anytime soon. Closing it.

[2019-11-01 01:25] #664 closed

[2019-11-01 01:26] JIMENOFONSECA commented on #1129
duplicate of #2082

[2019-11-01 01:26] #1129 closed

[2019-11-01 01:27] JIMENOFONSECA commented on #1227
2 years here, we will not have it anytime soon. Closing it.

[2019-11-01 01:27] #1227 closed

[2019-11-01 01:27] JIMENOFONSECA commented on #1243
2 years here, we will not have it anytime soon. Closing it.

[2019-11-01 01:27] #1243 closed

[2019-11-01 01:28] JIMENOFONSECA commented on #1247
2 years here, we will not have it anytime soon. Closing it.

[2019-11-01 01:28] #1247 closed

[2019-11-01 01:28] JIMENOFONSECA commented on #1325
2 years here, we will not have it anytime soon. Closing it.

[2019-11-01 01:28] #1325 closed

[2019-11-01 01:29] JIMENOFONSECA commented on #1336
1 year here, we will not have it anytime soon. Closing it.

[2019-11-01 01:29] #1336 closed

[2019-11-01 01:29] JIMENOFONSECA commented on #1339
1.5 years in here, we will not have it anytime soon. Closing it.

[2019-11-01 01:29] #1339 closed

[2019-11-01 01:30] JIMENOFONSECA commented on #1376
1.5 years in here, we will not have it anytime soon. Closing it.

[2019-11-01 01:30] #1376 closed

[2019-11-01 01:30] JIMENOFONSECA commented on #1430
1.5 years in here, we will not have it anytime soon. Closing it.

[2019-11-01 01:30] #1430 closed

[2019-11-01 01:30] JIMENOFONSECA commented on #1433
1.5 years in here, we will not have it anytime soon. Closing it.

[2019-11-01 01:30] #1433 closed

[2019-11-01 01:31] JIMENOFONSECA commented on #1442
done already

[2019-11-01 01:31] #1442 closed

[2019-11-01 01:32] JIMENOFONSECA commented on #1457
1.5 years in here, we will not have it anytime soon. Closing it.

[2019-11-01 01:32] #1457 closed

[2019-11-01 01:33] JIMENOFONSECA commented on #1478
We ended support on March 2019.... closing this.

[2019-11-01 01:33] #1478 closed

[2019-11-01 01:33] JIMENOFONSECA commented on #1487
1.5 years in here, we will not have it anytime soon. Closing it. We never got the data for this.

[2019-11-01 01:33] #1487 closed

[2019-11-01 01:34] JIMENOFONSECA commented on #1513
1.5 years in here, we will not have it anytime soon. Closing it.

[2019-11-01 01:34] #1513 closed

[2019-11-01 01:34] JIMENOFONSECA commented on #1537
this is not the case anymore. 1.5 years in here, we will not have it anytime soon. Closing it.

[2019-11-01 01:34] #1537 closed

[2019-11-01 01:35] JIMENOFONSECA commented on #1544
1.5 years in here, we will not have it anytime soon. Closing it.

[2019-11-01 01:35] #1544 closed

[2019-11-01 01:36] JIMENOFONSECA commented on #1556
@daren-thomas is this still bug, or can you close it?

[2019-11-01 01:37] JIMENOFONSECA commented on #1616
I checked this in several PR's already...we keep what is in there for now...

[2019-11-01 01:37] #1616 closed

[2019-11-01 01:38] JIMENOFONSECA commented on #1653
1.5 years in here, we will not have it anytime soon. Closing it. This is the general case for most tools and not a critical component of the documentation.

[2019-11-01 01:38] #1653 closed

[2019-11-01 01:39] JIMENOFONSECA commented on #1670
1.5 years in here, we will not have it anytime soon. Closing it.

[2019-11-01 01:39] #1670 closed

[2019-11-01 01:39] JIMENOFONSECA commented on #1685
1.5 years in here, we will not have it anytime soon. Closing it. @shanshanhsieh is this still a known issue?

[2019-11-01 01:39] #1685 closed

[2019-11-01 01:40] JIMENOFONSECA commented on #1641
We talked about this in the last meeting. It is time to revisit it.

[2019-11-01 01:41] JIMENOFONSECA commented on #1763
@daren-thomas is this still open?

[2019-11-01 01:42] JIMENOFONSECA commented on #1781
this is not anymore an issue in the cea installation V2.24

[2019-11-01 01:42] #1781 closed

[2019-11-01 01:42] #1822 closed

[2019-11-01 01:44] #1863 closed

[2019-11-01 04:34] JIMENOFONSECA commented on #2413
Since we do not support ArcScene anymore, it is difficult to know how this performs. Does the case study show in our CEA GUI/Dashboard? That is a good indicator that the files are in the right coordinate system.

Maybe you can zip and pass your case study to us? that could help to check what the problem may be.

On 1 Nov 2019, 6:46 AM +0800, dowbh <notifications@github.com>, wrote:

Hey Daren,

Th

[2019-11-01 09:39] gabriel-happle opened #2430 "some CEA scripts were missing access to a multiprocessing parameter"
I ran into this error when trying out the workflow script from pycharm.
The parameter that is missing is  `general:number-of-cpus-to-keep-free`.

[2019-11-02 05:53] gabriel-happle opened #2432 "radiation calculation fails when no surrounding buildings are specified"
`np.vectorize` can not process empty inputs without `otypes` specified.
This happens when the `district` and `zone` file are identical. I.e., when the `district` does not contain any additional surrounding buildings.

[2019-11-04 03:44] #2432 closed

[2019-11-04 03:45] #2430 closed

[2019-11-04 03:47] #2082 closed

[2019-11-04 03:47] #2397 closed

[2019-11-04 03:49] JIMENOFONSECA commented on #1794
@gabriel-happle status? anyway I can help?

[2019-11-04 03:50] #2273 closed

[2019-11-04 03:55] #2359 closed

[2019-11-04 03:56] JIMENOFONSECA commented on #2379
closing until user comes back to us

[2019-11-04 03:56] #2379 closed

[2019-11-04 03:58] #2044 closed

[2019-11-04 04:00] JIMENOFONSECA commented on #1864
High effort, very low value....We will give priority to other issues in the pipeline and close this. I.e., unitests of everything

[2019-11-04 04:00] #1864 closed

[2019-11-04 04:02] JIMENOFONSECA commented on #2135
@daren-thomas as discussed this now works. the error was in the inputs used to run this

[2019-11-04 04:02] #2135 closed

[2019-11-04 04:02] JIMENOFONSECA commented on #2188
won't happen any time soon... closing

[2019-11-04 04:02] #2188 closed

[2019-11-04 04:04] JIMENOFONSECA opened #2435 "Create Unitests for Optimization Script"

[2019-11-04 04:05] JIMENOFONSECA commented on #2168
so we close this for now.....moving away from reading/writing files will not be pursued anytime soon...

[2019-11-04 04:05] #2168 closed

[2019-11-04 04:06] JIMENOFONSECA commented on #1911
not necessary anymore

[2019-11-04 04:06] #1911 closed

[2019-11-04 04:09] JIMENOFONSECA opened #2436 "Interface for schedules in CEA"
This interface goes as another tab to the input editor.
The design was discussed with Reynold personally.
This interface will allow users to edit the schedules of every building / or the district before running cea. This should give better control to the users of how buildings operate.

[2019-11-04 06:51] gabriel-happle commented on #1794
@JIMENOFONSECA that would be great if you have time!
There were other things that had to be done first, and the issue was not very high priority.
This issue is the following:
- Coolroom setpoint temperatures in the construction properties are very low.
- set-point temperatures are determined by the `mainuse`
- if a building happens to be mixed with `mainuse` COOLROOM it gets conditioned to those l

[2019-11-04 08:48] #2424 closed

[2019-11-04 08:52] daren-thomas opened #2438 "Add a version info (GUI & CEA) to interface"
I think we should display version information in the GUI - this includes the version numbers of the

- CityEnergyAnalyst-GUI
- CityEnergyAnalyst

This could be either on the splash screen or status bar or both?

[2019-11-04 12:15] daren-thomas commented on #2168
@JIMENOFONSECA does this mean we're abandoning a cloud version?

[2019-11-04 12:21] daren-thomas commented on #2413
@JIMENOFONSECA it looks like @dowbh _is_ running this in the CEA GUI (see screenshot above). The error he is running into is the `Exception: Temperature in RC-Model of building B001 out of bounds! ` error. Do you maybe have some advice on how to deal with this?

[2019-11-04 12:24] daren-thomas commented on #1763
This has been superseded by #2425

[2019-11-04 12:24] #1763 closed

[2019-11-04 12:55] JIMENOFONSECA commented on #2331
@Jack-Hawthorne we might be fixing all these issues (at least most of them) in the PR #2439

[2019-11-04 14:13] daren-thomas opened #2440 "Schedule-maker error in standard workflow (No such file or directory)"
Steps to reproduce:

- new Virtual Machine
- install CityEnergyAnalyst 2.25
- start CityEnergyAnalyst-GUI
- create new project
- create new Scenario
  - tick all the tools (btw: the dialog for the weather file is weird)
- try to run `data-helper` (doesn't work because schedules are missing)
- try to run `schedule-maker` (output: see below)

[code]

[2019-11-04 14:28] daren-thomas commented on #2440
After checking with @martin-mosteiro, it seems the workflow is to run the `data-helper` with `schedules` selected.

[2019-11-04 14:29] daren-thomas commented on #2440
This is the error I get when running the `data-helper`:

[code]

[2019-11-04 14:38] daren-thomas commented on #2440
OK. It turns out that the MANIFEST.in was not updated to include CSV schedules for the archetypes. Updating this for release-2.25.1 on PyPI.

(NOTE: this bug only manifests itself when not running in developer mode)

[2019-11-04 15:17] daren-thomas commented on #2440
ok. this is being fixed in the release-2.25 branch. closing.

[2019-11-04 15:17] #2440 closed

[2019-11-05 02:09] JIMENOFONSECA commented on #2413
I think this has to do with the coordinate system. It may be happening that the files are in lat and lon coordinates, what would make the dimensions of the buildings extremely small.

I advise to do the next checks:
1. use QGIS or arcgis and see if the zone and district file map correctly
2. use QGIS or arcgis and see if th zone file (properties) has the coordinate system of UTM.

If some of the a

[2019-11-05 02:11] JIMENOFONSECA commented on #2168
Well still we can use containers right? we could create a wrapper for the inputlocator so it sends  and stores data in any particular format we furthermore require. But I may be missing a to of ground knowledge in here.
On 4 Nov 2019, 8:16 PM +0800, Daren Thomas <notifications@github.com>, wrote:

@JIMENOFONSECA<https://github.com/JIMENOFONSECA> does this mean we're abandoning a cloud version?

—

[2019-11-05 07:40] kerembeygo opened #2442 "CEA install-uninstall"
Every time I uninstall CEA uninstaller uninstall dependencies (Python libraries etc.?) too. Installer reinstall them with newer version. This takes quite a long time. Anyway to handle this?

[2019-11-05 08:43] Jack-Hawthorne commented on #2331
@JIMENOFONSECA @daren-thomas this is great news! sorry i have been absent for most of the semester, i ended up having to take more credits than anticipated. it will be great to review the pr once merged

[2019-11-05 09:30] daren-thomas commented on #2442
@kerembeygo you can just install _over_ the old version. that should halve the time spent installing.

[2019-11-05 17:32] martin-mosteiro commented on #2366
@JIMENOFONSECA I'm not sure I understand the question, but in principle it's possible for the heating season to start at the middle of the month, yes.

[2019-11-05 18:13] dowbh commented on #2413
Attached please find the file we have been discussing on.

[inputs.zip](https://github.com/architecture-building-systems/CityEnergyAnalyst/files/3810591/inputs.zip)

[2019-11-05 18:20] #2442 closed

[2019-11-06 14:13] martin-mosteiro commented on #1633
@gabriel-happle This appears to have been addressed by #2420. Please reopen if necessary.

[2019-11-06 14:13] #1633 closed

[2019-11-06 18:10] kerembeygo opened #2443 "Sensitivity Analysis Part II (simulation) - ERROR"
Job Output for 28 - sensitivity-demand-simulate
City Energy Analyst version 2.25.1
Running `cea sensitivity-demand-simulate` with the following parameters:
- general:scenario = C:\Users\KEREM\Documents\CEA Project\Fatih\Fatih1\YavuzSelim1
  (default: {general:project}\{general:scenario-name})
- general:multiprocessing = False
  (default: True)
- general:number-of-cpus-to-keep-free = 1
  (default:

[2019-11-07 09:50] daren-thomas opened #2445 "Fix workflow script to run from PyCharm"
Possible bug seen in the wild: Running workflow.py from PyCharm overwrites user config including Daysim binary path.

Make default workflows use user config instead of default config as base.

[2019-11-07 09:53] daren-thomas opened #2446 "Optimize perfomance of decentralized script"

[2019-11-07 09:57] daren-thomas opened #2447 "Sometimes the path to the Daysim binaries gets overwritten"
- find out when
- find out why
- fix this

possible solutions:
- radiation script could check for existence of these binaries before running
- add special case check for standard windows installation and override to Depencies\Daysim

[2019-11-07 10:01] daren-thomas commented on #2447
other possible solution: add a Daysim folder to CityEnergyAnalyst repo with subfolders: windows, unix, macos.

[2019-11-07 16:53] martin-mosteiro commented on #2366
Instead of changing the cooling season duration, I have now implemented the following:
*1-Make heat recovery bypass available: *
So far we assumed this was not possible. Based on discussions with the Zurich team, this appears to be not only possible but common. Otherwise ventilation would have little effect on the indoor temperatures since the air being circulated in the building would be preheate

[2019-11-07 18:12] shanshanhsieh opened #2449 "Can't create new scenario with with v2.25 - shapely error"
after re-installing cea v2.25, i encountered this error when running new scenario:
after selecting the district in OSM, and click `Create` scenario, only an empty `zone.shp` was created
![image](https://user-images.githubusercontent.com/16998305/68414974-93379300-0191-11ea-91a2-f68689cc8d83.png)

@daren-thomas might know what is causing this error?

[2019-11-08 00:52] JIMENOFONSECA commented on #2366
Thanks for the comprehensive description martin. I think this may solve many of the issues we had. If I get it right. These properties become part of the archetypes right?

On 8 Nov 2019, 12:54 AM +0800, Martín Mosteiro-Romero <notifications@github.com>, wrote:

Instead of changing the cooling season duration, I have now implemented the following:
*1-Make heat recovery bypass available: *
So far w

[2019-11-08 11:07] daren-thomas opened #2450 "Fix debug output from Fiona et al during multiprocessing of radiation script"
When running the radiation script with multiprocessing on, the debug output from Fiona, matplotlib etc. are being printed. Especially matplotlib spits out a lot of info. I haven't figured out yet how to suppress that properly.

[2019-11-08 15:25] martin-mosteiro commented on #2366
@JIMENOFONSECA Yes, I have changed the archetypes so all non-residential buildings built after 2006 have ventilation systems with economizers and all residential buildings built after 2020 have some kind of ventilation system.

[2019-11-11 12:13] daren-thomas commented on #2168
@JIMENOFONSECA the reading / writing of files / dataframes is not solved by containers. Containers solve the problem of how to _deploy_ cea-worker instances. The stuff they're working on still has to be somewhere. So this issue _is_ about the wrapper for the InputLocator you're envisioning here.

[2019-11-11 12:17] #2410 closed

[2019-11-11 13:41] daren-thomas opened #2451 "KeyError: the label [Code] is not in the [index] in district-cooling-systems workflow on master"
It stops at the `thermal-networks` stage:

[code]

district-heating-systems _does_ work, though, so I'm assuming it's probably got to do with the SG region (technology database)

[2019-11-12 01:26] JIMENOFONSECA commented on #2449
@shanshanhsieh we made an important fix over the weekend. mind reinstalling CEA? Once you create the scenario, aim to check the options of the weather file. They should point to a valid weather file to be created. This is a source of typical error.

[2019-11-12 03:30] JIMENOFONSECA commented on #2436
The interface is there, now we need to work the commands so users can edit them from there

[2019-11-12 05:50] JIMENOFONSECA commented on #2413
Alright we fixed it!.

Here is your scenario. We found a problem in your streets file and fixed it by rerunning the tool.
We also found a problem form our end and fixed it in the development environment.

To be able to run your work do the next:

1. Download the latest version of CEA and install the developer's version (tick the box of developer version).
2. Run the solar radiation, building sched

[2019-11-12 12:36] gabriel-happle opened #2453 "Solar radiation curve plot not working in GUI"
this happened today with the newest CEA version.
Same error for monthly solar radiation plot.
Solar radiation per building works fine.

[code]

[2019-11-12 16:50] martin-mosteiro commented on #2428
After a quick scan of the function `calc_Ctot_cs_district`, it seems to me the following would need to be created:
1. `calc_Ctot_hs_district` (analogous to `calc_Ctot_cs_district`, as @shanshanhsieh mentioned)
2. `calc_Ctot_heating_plants` (analogous to `calc_Ctot_cooling_plants`, would need some methods to calculate the costs of different centralized heating supply systems)
3. `calc_Ctot_hs_disco

[2019-11-12 19:54] martin-mosteiro commented on #2453
Strange. Just ran it on my computer and it worked fine.

[2019-11-12 20:00] #2269 closed

[2019-11-12 20:11] dowbh commented on #2413
I really appreciate your help. It works!
Now I am trying to assign the program types to the building geometry, and I have some questions on that.

First, on the "occupancy" tag, as shown in the attached image, I wonder what the numbers mean? Are they the number of floors of a certain program? Or are they occupancy density?

![occupancy](https://user-images.githubusercontent.com/56314722/68706104-1

[2019-11-13 00:53] JIMENOFONSECA commented on #2413
Hi, so the numbers in the occupancy database are from 0.0 to 1.0 and represent ratios of gross floor area per type occupancy. The sum of every row should be equal to 1.0.

After changing the occupancy. You need to rerun the data helper, which will adapt the other databases accordingly.

This is to avoid that the changes you do building by building become overwritten sporadically once you chance th

[2019-11-13 05:06] lguilhermers opened #2454 "As a Researcher I would like to calibrate CEA so I can get realistic results to my baseline"
I will be working on a code for comparison of measured values with model outputs (i.e. validation procedure according to ASHRAE). Later on this will evolve to a calibration tool.

[2019-11-13 12:50] daren-thomas commented on #2349
See PR #2455

[2019-11-13 14:45] martin-mosteiro opened #2456 "Surroundings helper tool skips buildings...?"
I wanted to try some stuff by creating the Hochschulquartier case study again from OSM data. So I did the following:
1. Created a new project by selecting the zone shape from the map while selecting "Surroundings" as true and setting the buffer zone as 100 m. I did not get any surroundings in the scenario generated. I tried this two more times with the same results.
2. I used one of the scenarios

[2019-11-13 17:40] dowbh commented on #2413
I noticed that there is an overlay between the podium and the tower. Because when I built the building's footprint (in AutoCad and ArcScene), there was no parameter that allows me to control at what z-axis level the tower will stand. Is there a way to make the tower stand "on" the podium?

![Volume overlay](https://user-images.githubusercontent.com/56314722/68788669-b4b4d680-05f8-11ea-8f99-b14f117

[2019-11-14 03:19] JIMENOFONSECA commented on #2413
Not for the moment. CEA considers volumes attached to the terrain for now. What you can do is to change the height and number of floors of the podium tower so it goes until the desired height.

I hope this helps.
On 14 Nov 2019, 1:41 AM +0800, dowbh <notifications@github.com>, wrote:

I noticed that there is an overlay between the podium and the tower. Because when I built the building's footprint

[2019-11-14 03:29] gabriel-happle commented on #2453
well... I created a random project in Switzerland and ran until after solar radiation.
Let me know if anyone needs the files.

[2019-11-14 07:15] fcschuch opened #2457 "Error when trying to open CEA Dashboard"
![Error message CEA Dashboard](https://user-images.githubusercontent.com/57716103/68834510-c055db00-0694-11ea-9e6d-a8f83158919a.JPG)

After installing CEA (with the developer version) I tried to open the Dashboard and received the above error message. I pressed OK and waited a while to see if it would open anyway but it stayed in a "frozen state" until I decided to close the application.

[2019-11-14 09:00] daren-thomas commented on #2457
@fcschuch our next release is planned for tomorrow, November 15 or Monday. We'll do some testing to make sure both the developer version and the base version work.

If you want, you can try running the command `cea dashboard` from the CEA Console... What is the output of that command? It might have some more hints on what went wrong.

[2019-11-14 09:06] daren-thomas commented on #2445
This one might be hard to replicate. I wonder how important it is?

[2019-11-14 09:32] daren-thomas commented on #2435
@JIMENOFONSECA after our TeamViewer session - I think this is now something you can address, right? If I remember correctly, we decided that:

- we'll do integration testing by running the `cea-workflow`
  - this would test that the software "runs through", the bare minimum testing needed
- you can define some units to test (e.g. the cost function)
  - can we define expected values for specific in

[2019-11-14 09:34] daren-thomas commented on #2245
@JIMENOFONSECA I'm not sure this is really a "Must have". Instead, we should have a window in which we run these workflows - preferably a time where the Jenkins isn't busy.

[2019-11-14 09:34] daren-thomas commented on #2427
I'm on it, writing a piece about the `cea workflow` command.

[2019-11-14 09:39] daren-thomas commented on #2169
@JIMENOFONSECA if I remember correctly, we decided against this?

[2019-11-14 09:41] daren-thomas opened #2458 "Blog post for M2.27"

[2019-11-14 10:19] daren-thomas commented on #2443
CEA SCRUM decision: This tool should not be part of the GUI. We won't be actively supporting this tool.

[2019-11-14 10:21] daren-thomas commented on #2446
duplicate

[2019-11-14 10:21] #2446 closed

[2019-11-14 10:25] daren-thomas commented on #2449
solved in 2.25.2

[2019-11-14 10:25] #2449 closed

[2019-11-14 10:27] daren-thomas commented on #2450
import logging
logger = logging.getLogger('Fiona')
logger.setLevel("WARNING")  # something like this.

[2019-11-14 10:32] daren-thomas commented on #2453
@gabriel-happle can you please try to replicate with newest version? If you can replicate it, please assign to me :)

[2019-11-14 10:40] daren-thomas commented on #2456
Workaround: create a zone on a different scenario and import that as the district.

Feature idea: click buildings on map to add them to zone / district?

[2019-11-14 10:48] daren-thomas opened #2459 "Update installer to use GUI release with same version number"
Currently the latest GUI release is being used. From now on use release "v${VER}"...

[2019-11-14 10:50] #2366 closed

[2019-11-14 10:57] daren-thomas commented on #1844
This issue could be resolved by writing a blog post (for M2.27?) on how to export a Rhino geometry as a shapefile for CEA.

[2019-11-14 11:02] daren-thomas commented on #1898
Closing as not replicated.

[2019-11-14 11:02] #1898 closed

[2019-11-14 11:03] daren-thomas commented on #2115
Video on front page should at least reflect the current interface.

[2019-11-14 11:06] daren-thomas commented on #1626
this would be part of running the cea workflow scripts - addressed in a separate issue.

[2019-11-14 11:06] #1626 closed

[2019-11-14 11:07] #2169 closed

[2019-11-14 11:08] #1758 closed

[2019-11-14 11:39] fcschuch commented on #2457
@daren-thomas Thanks for the information. This is the output I get after running the command:
![Capture](https://user-images.githubusercontent.com/57716103/68854076-0e310a00-06ba-11ea-9d1b-9494f47187b4.JPG)

[2019-11-14 15:12] RicardoGomesIST opened #2460 "Negative values obtained for Qcs_MWhyr Total cool demand"
Hello,
I am simulating a residential neighborhood. I asked for energy demand values.
I used the default technical systems for the HVAC:
T1 for heating, T2 for cooling that correspond on the "emissions systems" to:
T1 -- Radiator   (90/70)
T2 -- mini-split AC (6/15)
I ran the simulation and it return negative values for the Qcs_MWhyr Total cool demand - Unit: [MWh/year]. How is this possible? Maybe

[2019-11-14 17:51] dowbh commented on #2413
So, based on what you suggest, the podium and the tower will have some portion overlapping with each other. Will that cause any problem?

[2019-11-15 08:55] lguilhermers opened #2461 "bug - not being able to overwrite technology folder"
![image](https://user-images.githubusercontent.com/50981039/68930012-753ce480-07c8-11ea-9b21-c898e39f066c.png)

when I click in "Run Script" nothing happens.

I currently need to re-run the technology folder to see my models in the input error, as recommended by @JIMENOFONSECA
(because right nowI get:
 **Something went wrong.
ERROR MESSAGE: No sheet named <'ALL_IN_ONE_SYSTEMS'>
Details**)

[2019-11-15 09:54] daren-thomas commented on #2461
So... no notifications that a job is running? no output windows?

what version are you using?

@reyery is there a way to view the output of the GUI? I believe there is an issue for this in the database, right?

[2019-11-15 09:59] lguilhermers commented on #2461
No, it acts as if I didn't press the button. When I pressed the button to return to defaults or change the config file, it worked. But when I press to run nothing happens

I am using now version 2.25.1

[2019-11-17 04:18] JIMENOFONSECA opened #2463 "New thermal network engine"
So the thermal model we have is way too detailed and computationally expensive.

-> for 17 building it takes >10 hours with 3 cores.
-> with the new engine it takes 9.3 sec with one core.

The basis of the engine are

Epanet is used for hydraulic calculations (simplified model of the reservoir with adjusted elevation according to pressure losses in the network.
supply and return pipes have the sam

[2019-11-18 03:01] lguilhermers commented on #2461
It seems to be working fine now. I will close the issue

[2019-11-18 08:03] lguilhermers commented on #2461
actually, the issue came back. Must be a certain condition that triggers it. Like running demand and trying to run data helper again. I will post here the steps if I manage to reproduce it.

[2019-11-18 09:59] daren-thomas opened #2464 "Demand script fails with Traceback if Schedules are not present"
Instead of checking for missing input files (building schedules), the demand script creates a Traceback error message.

Steps to reproduce: Create a new project, new scenario. Run Data-helper (select all categories) and then run radiation. Running Demand will result in the error message.

[2019-11-18 10:12] daren-thomas opened #2465 "Include GraphViz with installer"
![image.png](https://images.zenhubusercontent.com/57b40957e40e5714b16d7331/1fd5dfdb-0058-43e3-8d77-5f4d384e4d84)

When trying to build the documentation after a fresh installation of CEA, the GraphViz stuff can't be built because dot needs to be installed separately. We could also just ship it with the CEA.

[2019-11-18 13:29] daren-thomas commented on #2457
@fcschuch that looks good! We just released verion 2.26: https://github.com/architecture-building-systems/CityEnergyAnalyst/releases/tag/v2.26.0

I suggest you restart your computer and then install this version. I think that should work better.

BTW: I just noticed you installed to "C:\Program Files" as opposed to the default (your "Documents" folder) - that _could_ be part of the problem. Is the

[2019-11-18 14:23] daren-thomas commented on #2457
@fcschuch - I tried installing to "C:\Program Files" and - aside from permission issues - it seems it _does_ work. I still suggest not installing there if possible.

[2019-11-19 08:21] daren-thomas commented on #2459
This was implemented with release 2.26.0

[2019-11-19 08:21] #2459 closed

[2019-11-19 13:39] daren-thomas commented on #1777
Reference run: (to be compared to during performance optimization)

[code]
2931.58s = *48.86min*

[2019-11-20 18:04] dowbh commented on #2413
I successfully ran the simulation with the occupancy I want and with everything else set in default. But I got the "temperature out of bounds" error again after I changed the roof type from T4 to T6. I couldn't think of what might cause the problem because the simulation ran well before I changed the roof type. Can you take a look again for my input file? I attach it below.

Also, I am still wonde

[2019-11-20 23:48] JIMENOFONSECA commented on #2413
Is there a T6 in the database of technology/systems/envelopesystems/roof ?
On 21 Nov 2019, 02:06 +0800, dowbh <notifications@github.com>, wrote:

I successfully ran the simulation with the occupancy I want and with everything else set in default. But I got the "temperature out of bounds" error again after I changed the roof type from T4 to T6. I couldn't think of what might cause the problem becau

[2019-11-21 13:26] daren-thomas commented on #1777
By using sympy to solve the system of equations for the variable `q_hw_KW`, I was able to reduce the above to:

[code]
226.28s = **3.77min** which is a little over 10x faster...

[2019-11-21 17:04] dowbh commented on #2413
I think T6 is "dark paint over plaster over concrete", if I was looking for a correct excel sheet.

![InkedSpread sheet_LI](https://user-images.githubusercontent.com/56314722/69359587-b7897a00-0c3d-11ea-82ea-08afad54b22c.jpg)

[2019-11-21 17:15] dowbh opened #2468 "Overlapping between tower and podium"
Becuase of the way of creating building footprints (all in 2D linework on the same plane), it seems that there would be an inevitable overlapping portion in the scenario of a tower standing on a podium. As shown in the attached image, the podium is penetrated through by the bottom of the tower. I wonder is there a way to allow CEA to read them as two separate volumes? Or would you guys suggest a w

[2019-11-21 22:38] JIMENOFONSECA commented on #2413
@dowbh mind posting the error messagge you get?
@reyery this could be a cell validation error in the interface, mind checking after @dowbh puts the error message in? thanks

[2019-11-21 23:59] JIMENOFONSECA opened #2469 "List of usability issues - Practitioner feedback"
During the month of November. Prof. Sulzer, head of SCCER FEEB&D was visiting our lab in Singapore. He is a quite experienced engineer, practitioner and researcher. For the purposes of this list of usability issues, he represents the CEA User Persona of Practitioner.

We tested the workflow of two cases studies in Switzerland and gave a special look to the usability perspective of CEA for taking d

[2019-11-22 01:50] matthiassulzer commented on #2469
Some clarifications:
· Indication which steps are completed

· Electricity prices and CO2 intensity per hour, provide selection of data to choose from

· Potential which are not available should be left out in the optimisation, e.g. PVT or thermal solar

· Graph: Annual energy consumption DH: Pumping energy twice in black and Pumping Energy should be around 1-3%, see paper Grundlagen und Erläuteru

[2019-11-25 15:35] RicardoGomesIST opened #2471 "conversion from 2.17 to latest version"
Hi,
Is there a simple way to convert files from the version 2.17 to latest?
Files that run with the older do not run now.

Thank you for your time

[2019-11-26 10:02] reyery opened #2472 "ImportError when running plot scripts or solar radiation"
This affects developers of CEA when they are switching to and from branches.

Related issues:  #2240
Usually the Exception raised is an `ImportError`

Problem
-
.pyc files from new .py files created in other branches will still remain even when the current branch does not have such .py files.

This would sometimes cause some weird behavior while developing, for example, showing plots that do not e

[2019-11-26 16:41] martin-mosteiro opened #2473 "Building property `bpr.architecture.win_wall` is outdated"
BuildingPropertiesRow includes a parameter called `win_wall`, which seems to be a remnant from the old days when we had only one window-to-wall ratio per building for all façades. At the moment, it is set equal to the following: `self.win_wall = envelope['wwr_south']`

i.e., the window-to-wall ratio of the south-facing façade is taken as the window-to-wall ratio for the entire building, which is e

[2019-11-26 17:32] martin-mosteiro opened #2474 "Choosing an incorrect shading system causes all architecture parameters to be imported incorrectly"
When choosing the type of shading, choosing an incorrect shading type (e.g., 'T4') causes all other architecture parameters (e.g., the window-to-wall ratios) to be imported as NaN. There should probably be an error warning instead.

[2019-11-26 18:04] dowbh commented on #2413
Hello Jimeno and @reyery

Here is the error message.

Clarifying the situation again, after I set the desired occupancy rate for all buildings, I ran the data helper -> solar radiation -> building schedules -> building energy demand. And then I changed the type_roof in the _architecture_ tag into my desired type T6, and I ran solar radiation ->building schedules -> building energy demand, after wh

[2019-11-26 18:41] martin-mosteiro commented on #2474
Solved by #2475.

[2019-11-26 18:42] martin-mosteiro commented on #2473
Solved by #2475.

[2019-11-27 06:06] #2326 closed

[2019-11-27 15:15] shanshanhsieh opened #2476 "improve thermal network detailed model using epanet to approximate mass flow"
the current thermal network model (detailed) runs a full simulation over the timesteps to find out the maximum flow on each edge.
This information is used to select pipe sizes of each edge.

Possible ways to improve:
This process can be sped up by replacing the first mass flow simulation by epanet model used in the thermal-network-simplified model.
Potential danger: compromising the minimum mass f

[2019-11-27 15:18] shanshanhsieh opened #2477 "Wrong column name in the piping catalog (cooling)"
when running `cea workflow` for `cooling`
the process is stuck at thermal network calculation:
[code]

This is because the column names in the piping catalog do not contain `Code`

To solve this issue:
The column name `Description` should be replaced by `Code`

[2019-11-27 15:25] shanshanhsieh commented on #2476
to start:
compare `series_max_mass_flow` in the detailed model against `max_volume_flow_rates_m3s` in the simplified model

[2019-11-28 03:39] shanshanhsieh commented on #2020
just checked the plots on the interface using version 2.26, it works fine!

[2019-11-28 03:39] #2020 closed

[2019-11-28 03:44] shanshanhsieh commented on #1591
we can check the DistrictHeatingDesign library developed from CREM
https://gitlab.com/crem-repository/dhd

[2019-11-28 09:58] daren-thomas commented on #2458
I'm working on a post on the `cea workflow` system. Status: First draft completed.

[2019-11-28 10:17] daren-thomas commented on #2451
duplicate of #2477

[2019-11-28 10:17] #2451 closed

[2019-11-28 10:29] daren-thomas commented on #2321
@JIMENOFONSECA is this still an issue?

[2019-11-29 05:39] JIMENOFONSECA opened #2480 "move inputs.yml to schemas.yml"
Let's have only one place for the ground truth of the schemas as mentioned in #2479

[2019-12-02 08:39] lguilhermers opened #2482 "changes in the Input Editor not being saved"
Hi CEA team,

I am getting an error every time I try to save the Input Editor after trying to save _any_ change. It just displays "Something Went wrong."

![image](https://user-images.githubusercontent.com/50981039/69944435-42ae1e00-1522-11ea-8642-bdf7d02b4246.png)

[2019-12-03 05:30] lguilhermers opened #2483 "error when create a scenario importing input files"
I was not able to import a .shp file to make those as my "zone" file. I even tried with CEA's own files created in previous projects but the error persists.

When I click in "Create", a new window saying "Creating Scenario" shows up, but goes away right after and the import is not successful.

![image](https://user-images.githubusercontent.com/50981039/70022927-d1797400-15d0-11ea-8588-4ece5cd465ed

[2019-12-03 09:57] #2477 closed

[2019-12-03 16:38] #2471 closed

[2019-12-03 16:47] RicardoGomesIST opened #2484 "Is it possible to export outputs to someone that doesn't have CEA?"
Hi everyone,
I would like to know if it is possible  to have a sort of a demonstration kit, where you can for instance send the outputs of two scenarios to someone, who doesn't have CEA installed, and the person is able to visualize the buildings and  the results (without the possibility of running or editing of course).
Thank you very much, keep the good work

[2019-12-04 08:36] JIMENOFONSECA opened #2485 "Interface Issues need information (radiation plots)"
In radiation plots / radiaiton work and radiation curve. The values do not match the index. Let's check this problem.

[2019-12-04 08:43] JIMENOFONSECA opened #2486 "Pop-up feature of the plots is not working"
@reyery let's check it out where is the problem

[2019-12-04 08:44] JIMENOFONSECA opened #2487 "Solar photovoltaic not working in master"
Check what is happening here....we cannot run PV potential

[2019-12-04 09:32] daren-thomas opened #2488 "Optimize performance of decentralized script for heating"
Same as with PR #2467, but for heating.

[2019-12-06 12:06] kerembeygo opened #2489 "CEA Databases"
CEA uses databases for analysis. We are planning a case study and we need to create our own databases. I checked the CEA databases in excel files. Some column headers are understandable some are not. Is there a document which explains the column headers and is there a document about how to create your own database?

![1](https://user-images.githubusercontent.com/29708612/70321941-c83f1000-1839-11e

[2019-12-06 12:21] daren-thomas commented on #2489
@kerembeygo you can use the glossary search function in the CEA GUI (top right) to search any column headers.

[2019-12-07 11:54] kerembeygo commented on #2489
**construction_properties Es**
TODO
![1](https://user-images.githubusercontent.com/29708612/70374195-313d8b00-1901-11ea-99bd-4941b222b949.jpg)

[2019-12-07 11:55] kerembeygo commented on #2489
**Slide down another definition for Es**
![2](https://user-images.githubusercontent.com/29708612/70374244-95604f00-1901-11ea-9357-8a480e54f086.jpg)

[2019-12-07 11:56] kerembeygo commented on #2489
![3](https://user-images.githubusercontent.com/29708612/70374269-b3c64a80-1901-11ea-842e-87d85da77279.jpg)

[2019-12-07 11:58] kerembeygo commented on #2489
Too many TODOS
![5](https://user-images.githubusercontent.com/29708612/70374325-0142b780-1902-11ea-9e6c-45f93deb0a0d.jpg)

[2019-12-07 12:24] JIMENOFONSECA opened #2490 "URGENT-changing inputs in CEA not working because of schedules"
@daren-thomas this could not come at the worse time. We were going to present this in NY. The interface (input-editor) does not save any change. The error in the console is the next:

I run data helper already

The version I am using is developer v2.26.0 Downloaded and installed today.

![image](https://user-images.githubusercontent.com/8973186/70374639-db62e600-18f4-11ea-9563-c7ead1ddfc51.png)

[2019-12-09 12:19] daren-thomas opened #2491 "New Scenario on fresh install does not end up in project folder"
Master / 2.27.0a0 - Steps to reproduce:

- fresh CEA installation (no `cea.config`, clean virtual machine)
- start CEA GUI
- create new project:
  - name: "Kleinalbis"
  - location: "C:\Users\User\Desktop"
- create new scenario
  - name: "baseline"
  - use the open street maps workflow
- open Windows Explorer, navigate to Desktop

Expected: A folder called "Kleinalbis" with a subfolder "baseline"

[2019-12-09 13:05] daren-thomas commented on #2490
this seems to work on the test-realeases (2.27.0a*) that i'm creating. i think we can close this issue.

[2019-12-09 13:05] #2490 closed

[2019-12-10 14:04] #2349 closed

[2019-12-10 14:04] #2463 closed

[2019-12-10 14:04] #1777 closed

[2019-12-10 14:05] daren-thomas opened #2493 "Add multiprocessing to the decentralized script for heating case"
We already added speed optimization for `cea decentralized` in the cooling case. We should be able to do something similar for the heating case.

[2019-12-10 14:06] #2436 closed

[2019-12-10 14:06] #2473 closed

[2019-12-10 14:06] #2141 closed

[2019-12-10 14:06] #2310 closed

[2019-12-10 14:07] #2474 closed

[2019-12-10 14:38] daren-thomas opened #2494 "GUI: Setting data management tools options when creating a new scenario UX"
The UX (User eXperience) of the workflow for creating a new scenario when choosing the weather-helper's (or any of the other helpers') settings is not intuitive:

- open project
- create a new scenario
- choose "Generate new input files using tools"
- select all the Data Management Tools
- open up options

![image.png](https://images.zenhubusercontent.com/57b40957e40e5714b16d7331/8e17fc58-0d35-40d

[2019-12-11 09:13] daren-thomas commented on #2493
I just ran `cea decentralized` on the `reference-case-open`. It does both heating and cooling:

[code]

Note the times for heating and those for cooling are pretty much the same. I think we can just leave it as is for the moment, no?

If I _were_ to go and optimize the heating case, I'd look here:

- `cea.technologies.heatpumps.calc_Cinv_GHP`: profiling found this function called 90 times, each ti

[2019-12-12 09:15] shanshanhsieh commented on #2317
the thermal network optimization is not being used in any research for the moment, therefore, does not have to be addressed in M2.28

[2019-12-12 10:19] #2460 closed

[2019-12-12 10:19] daren-thomas commented on #2460
Hello @RicardoGomesIST, internally, we use negative values for cooling demand - the absolute value is then used for displaying the demand.

BTW: You should probably be using the output "Qcs_sys_MWhyr" for the cooling demand because it includes distribution and emission losses.

[2019-12-12 10:20] RicardoGomesIST commented on #2460
Thank you so much Daren. Keep the amazing work!

IST, Taguspark, N14.16

From: Daren Thomas <notifications@github.com>
Sent: Thursday, December 12, 2019 10:19 AM
To: architecture-building-systems/CityEnergyAnalyst <CityEnergyAnalyst@noreply.github.com>
Cc: RicardoGomesIST <ricardo.a.gomes@tecnico.ulisboa.pt>; Mention <mention@noreply.github.com>
Subject: Re: [architecture-building-systems/CityEner

[2019-12-12 10:25] daren-thomas commented on #2468
We suggest to separate the footprint so that the part with tower and the part without tower are separate and then assign building use as appropriate.

You can use QGIS to fix this issue.

[2019-12-12 10:25] #2468 closed

[2019-12-12 10:28] daren-thomas commented on #2482
@lguilhermers what exact version are you using?

[2019-12-12 10:30] daren-thomas commented on #2483
@lguilhermers can you provide a test case?
@reyery should the interface maybe show more information if something went wrong?

[2019-12-12 10:31] daren-thomas commented on #2484
@RicardoGomesIST I think this might be out of scope of the tool. Since the CEA is open source and free to download / install - the user could just do that?

[2019-12-12 10:31] #2484 closed

[2019-12-12 10:33] daren-thomas commented on #2488
duplicate of #2493

[2019-12-12 10:33] #2488 closed

[2019-12-17 05:48] lguilhermers commented on #2482
@daren-thomas , I was using 2.25.1. I updated to 2.27.0 and it is working now.

[2019-12-17 06:44] lguilhermers commented on #2483
@daren-thomas I tested in the new version (2.27) with CEA shp from other projects and it is working (before it wasn't).
I will have to correct the projection of the shp file I want to import because I think this might be the error source. I update here once I fix it and then try importing it again.

[2019-12-18 03:32] reyery commented on #2393
Closed by https://github.com/architecture-building-systems/CityEnergyAnalyst-GUI/pull/7

[2019-12-18 03:32] #2393 closed

[2020-01-06 15:17] daren-thomas commented on #2458
@JIMENOFONSECA would you mind checking this draft please: https://daren-thomas.github.io/cea-workflow-how-to-automate-simulations/

[2020-01-06 15:23] #2443 closed

[2020-01-06 15:24] #2457 closed

[2020-01-07 14:55] daren-thomas opened #2500 "GUI: hidden parameters with invalid input silently block running scripts"
When parameters have invalid data, the GUI adds a red outline marker. Some parameters are collapsed though, and this outline marker is hidden:

![image.png](https://images.zenhubusercontent.com/57b40957e40e5714b16d7331/46731b42-c866-4931-849a-864e93c4ca54)

![image.png](https://images.zenhubusercontent.com/57b40957e40e5714b16d7331/dd2edff4-aa04-441d-a23a-cd9b175be4f8)

This is confusing for the us

[2020-01-07 15:16] DespaxJulien opened #2501 "Fails to export Grasshopper geometry to shapefiles"
Hi,

I tried to export simple Grasshopper geometry to SHP files following [your last blog article](https://cityenergyanalyst.com/blog/2019/12/12/grasshopper-to-cea-part-3-exporting-gh-geometries-to-shapefile).

The Shapefile Export component does not work (see attached picture).

Do you know what might be causing the problem? I'm running RhinoV6.
Thanks for your help.

Best,
Julien

![image](https

[2020-01-07 15:43] DespaxJulien opened #2502 "Fails to run Building Solar radiation tool"
Hi,

I get an error when running the Building solar radiation tool (see stacktrace below).

I'm on V2.27.

Steps I followed:

- Create a new project + new scenario using `Generate new input files using tools`. I created the Zone + Surroundings + Terrain + Weather in the `Create new scenario` window.
- Run the `Data helper` to create the databases (all 6 of them)
- Run the `Building Solar radiation

[2020-01-08 07:55] gabriel-happle opened #2504 "Minor bug in cooling system calculation"
line 48 in `cooling_resource_activation.py` uses cooling load twice (instead load and capacity):
[code]

According to the function definition, it should be something like: `calc_CT(q_hot_Wh, Q_nom_W)`

@JIMENOFONSECA can you pleas confirm which one is correct?
I will try to fix it by myself.

[2020-01-08 10:06] daren-thomas commented on #2502
@DespaxJulien it looks like it should all work, except that the Radiance / Daysim tools didn't run.

Would you mind trying the following: Rename the folder `I:\Logiciels\City Energy Analyst` to `I:\Logiciels\CityEnergyAnalyst` (remove the spaces) and try again - it could be a problem with how the py2radiance module calls those binaries...

[2020-01-08 10:08] daren-thomas commented on #2501
@shizhongming would you mind having a look please?

[2020-01-08 12:24] daren-thomas opened #2505 "Blog post for M2.29"
Volunteers? Possible topics?

[2020-01-08 12:25] #2395 closed

[2020-01-08 12:51] daren-thomas commented on #2469
@JIMENOFONSECA would you mind splitting this up into a list of issues / epics please? So we can start designing and prioritizing them...

[2020-01-08 13:29] daren-thomas opened #2506 "Add get_database_envelope_systems to schemas.yml (update schemas.yml?)"
Steps to reproduce:

- create new project, new scenario
- (skip `data-helper`)
- run `demand`

Expected: A hint in the GUI what to run (check for missing input files)

Instead, I got an Error in the output:

[code]

[2020-01-08 13:37] daren-thomas opened #2507 "Radiation script can't be run for two scenarios at the same time"
The CEA GUI now allows running multiple scripts at the same time. Not all scripts are written with that in mind. Example: The Radiation script uses "hardcoded" temp files for it's computation.

Steps to reproduce:

- open project with 2 scenarios
- select 1st scenario, run `radiation`
- select 2nd scenario, run `radiation`

An error similar to this should appear: (NOTE: this is a timing issue... i

[2020-01-08 13:49] daren-thomas opened #2508 "Creating new scenarios by copying in GUI doesn't work"
Steps to reproduce:

- open reference-case-open
- click "+ Create New Scenario"
- enter name (e.g. "second")
- select "Copy input folder from another scenario in the project", use baseline
- click "Create"

Expected: Input editor with a copy of the baseline scenario

Buggy behavior:

![image.png](https://images.zenhubusercontent.com/57b40957e40e5714b16d7331/af8e239e-d722-4381-80d0-c7a2c2448285)

F

[2020-01-08 13:50] daren-thomas commented on #2508
(the networks folder is empty)

[2020-01-08 14:07] daren-thomas commented on #2508
(this might have been introduced by #2503 - @reyery could you check if this happens in master too?)

[2020-01-08 15:42] daren-thomas commented on #2200
The Jupyter notebook in `2200-remove-naming-csv` is an attempt at checking for consistency in the naming.csv and glossary.csv files (also, to make sure we don't forget anything when removing naming.csv).

It's showing up some problems, for instance the variable "Excavation" has two different descriptions, depending on which worksheet (`lca_buildings.xlsx:EMBODIED_EMISSIONS` vs. `lca_buildings.xlsx

[2020-01-09 03:44] gabriel-happle opened #2509 "Minor bug in VCC cost calculation: calculation breaks down if chiller size is exactly the maximum"
Two `if` statements are not compatible, making the code break down if the chiller size is exactly equal to the maximum chiller size in the database:

line 101 in `chiller_vapor_compression.py`
[code]

first line accepts `Q_nom_W == max_chiller_size`
second line is looking for `Q_nom_W < max_chiller_size`
(`max_chiller_size = max(VCC_cost_data['cap_max'].values)`)

one of the lines has to be change

[2020-01-09 03:50] gabriel-happle opened #2510 "Not sure if bug: cooling tower cost calculation uses capacity of chiller for calculation"
the function `calc_generation_costs_capacity_installed_cooling` in `cost_model.py` uses the capacity of the VCC chiller to calculate the costs of the cooling tower for air-source-systems.
Not sure if that is intended or not.
Could you please help @JIMENOFONSECA or @shanshanhsieh?
I can fix it myself, if it is not intended.

e.g. line 566, line 5856 and line 605

[code]

[2020-01-09 09:59] JIMENOFONSECA commented on #2502
@daren-thomas this might be again the same problem as in #2447

[2020-01-09 12:37] daren-thomas opened #2511 "AttributeError: 'AllTechHourlyPlot' object has no attribute 'normalization'"
It seems a PR merged today might be the culprit - though I'm not sure. The AllTechHourlyPlot (see image below) has stopped working. The actual error in master is this:

[code]

Which has to do with `PV_hourly_aggregated_kW` not being defined as a property. When fixed, though (as in 70c4cd43e8a506944e7440fafed275655290a881) the error becomes this one:

[code]

I have not checked all the other plots

[2020-01-09 12:38] #2491 closed

[2020-01-09 12:39] daren-thomas commented on #2483
@lguilhermers this will be fixed with the next release (2.28) expected tomorrow or Monday.

[2020-01-09 12:39] #2483 closed

[2020-01-10 02:19] lguilhermers commented on #2483
@daren-thomas thanks for the update! I also discussed with Jimeno yesterday and maybe I was missing some steps on my side (e.g. adding some columns in the attribute table of the .shp file). I will try next week in 2.28 and with those additional steps and update you. thanks!

[2020-01-10 02:32] gabriel-happle opened #2512 "Not sure if bug: Centralized chiller cost calculation seems to use decentralized values"
E.g., line 562 in `cost_model.py` uses chiller type `CH3` to look up values from the databases.

According to `optimization\constants.py` :
[code]

Not sure if this is a bug or intended. I can fix it if someone can tell me what should be the intended behavior.

[2020-01-10 02:44] reyery commented on #2508
Fixed in #2503

[2020-01-10 02:44] #2508 closed

[2020-01-10 03:11] JIMENOFONSECA commented on #2510
@gabriel-happle right, we size the cooling tower proportionately to the capacity of the VCC. so, in my opinion, the code is ok. closing the issue.

[2020-01-10 03:11] #2510 closed

[2020-01-10 03:12] JIMENOFONSECA commented on #2512
oh really? It should use the centralized values. sure you can change that. @shanshanhsieh can you confirm this is the case?

[2020-01-10 03:13] JIMENOFONSECA commented on #2509
@gabriel-happle you can change it to Q_nom_W < max_chiller_size

[2020-01-10 03:15] JIMENOFONSECA commented on #2413
@dowbh I wonder if you are having still the same problem in the latest version of CEA? we attempted to fix this issue in later december.

[2020-01-10 03:16] #2435 closed

[2020-01-10 03:16] #2456 closed

[2020-01-10 03:18] JIMENOFONSECA commented on #2458
@daren-thomas it looks good. I would add a link in the section WORFLOW YML FILE to an example of the yml file. (it can be those we have in workflows).

[2020-01-10 03:34] reyery commented on #2494
@daren-thomas  could you help me check if this is solved in this PR https://github.com/architecture-building-systems/CityEnergyAnalyst-GUI/pull/9

[2020-01-10 04:02] #2507 closed

[2020-01-10 04:03] #813 closed

[2020-01-10 04:03] #906 closed

[2020-01-10 04:03] #967 closed

[2020-01-10 04:05] #618 closed

[2020-01-10 04:05] #660 closed

[2020-01-10 04:05] #1757 closed

[2020-01-10 04:07] #1594 closed

[2020-01-10 04:08] #1556 closed

[2020-01-10 04:08] #1560 closed

[2020-01-10 04:08] #1563 closed

[2020-01-10 04:08] #1591 closed

[2020-01-10 04:08] #1632 closed

[2020-01-10 04:08] #1641 closed

[2020-01-10 04:08] #1643 closed

[2020-01-10 04:08] #1630 closed

[2020-01-10 04:08] #1794 closed

[2020-01-10 04:09] #1990 closed

[2020-01-10 04:12] #1904 closed

[2020-01-10 04:12] #1918 closed

[2020-01-10 04:12] #2004 closed

[2020-01-10 04:12] #2027 closed

[2020-01-10 04:12] #2032 closed

[2020-01-10 04:12] #2061 closed

[2020-01-10 04:12] #2062 closed

[2020-01-10 04:12] #2065 closed

[2020-01-10 04:12] #2115 closed

[2020-01-10 04:12] #2153 closed

[2020-01-10 04:12] #2176 closed

[2020-01-10 04:12] #2184 closed

[2020-01-10 04:12] #2186 closed

[2020-01-10 04:12] #2189 closed

[2020-01-10 04:12] #2219 closed

[2020-01-10 04:12] #2234 closed

[2020-01-10 04:13] #1974 closed

[2020-01-10 04:14] JIMENOFONSECA commented on #2021
@shanshanhsieh any comment?

[2020-01-10 04:15] #1510 closed

[2020-01-10 04:15] #2187 closed

[2020-01-10 04:16] #1844 closed

[2020-01-10 04:18] #2447 closed

[2020-01-10 04:24] #2244 closed

[2020-01-10 04:24] #2267 closed

[2020-01-10 04:24] #2329 closed

[2020-01-10 04:24] #2331 closed

[2020-01-10 04:24] #2336 closed

[2020-01-10 04:24] #2364 closed

[2020-01-10 04:24] #2403 closed

[2020-01-10 04:24] #2405 closed

[2020-01-10 04:24] #2425 closed

[2020-01-10 04:24] #2427 closed

[2020-01-10 04:24] #2428 closed

[2020-01-10 04:24] #2429 closed

[2020-01-10 04:24] #2438 closed

[2020-01-10 04:24] #2445 closed

[2020-01-10 04:24] #2450 closed

[2020-01-10 04:26] JIMENOFONSECA commented on #2487
working in master

[2020-01-10 04:26] #2487 closed

[2020-01-10 04:27] JIMENOFONSECA commented on #2485
fixed in master

[2020-01-10 04:27] #2485 closed

[2020-01-10 04:27] #2482 closed

[2020-01-10 04:28] #2476 closed

[2020-01-10 04:29] #2505 closed

[2020-01-10 04:30] JIMENOFONSECA commented on #2486
closing, there is a duplicate #2104

[2020-01-10 04:30] #2486 closed

[2020-01-10 04:31] #2465 closed

[2020-01-10 04:31] #2317 closed

[2020-01-10 04:31] #2298 closed

[2020-01-10 04:34] JIMENOFONSECA commented on #2493
@daren-thomas yes please! when we have tons of buildings, it makes a difference

[2020-01-10 04:35] JIMENOFONSECA commented on #2472
@reyery let's do it. It is a very silent error we should avoid

[2020-01-10 04:37] JIMENOFONSECA commented on #2500
@reyery can we take a look at this?

[2020-01-10 04:37] #2413 closed

[2020-01-10 04:42] #2453 closed

[2020-01-10 04:44] JIMENOFONSECA commented on #1069
so the order is clear, we will implement further changes by merging naming.csv with the glossary.csv in #2200

[2020-01-10 04:44] #1069 closed

[2020-01-10 04:45] #2461 closed

[2020-01-10 04:49] JIMENOFONSECA commented on #2502
@DespaxJulien we just merged the work. either you need to update from master or reinstall CEA development version. let us know if this did not work.

[2020-01-10 04:49] #2502 closed

[2020-01-10 05:07] JIMENOFONSECA commented on #2325
I made a major refactoring...more to come

[2020-01-10 05:07] #2325 closed

[2020-01-10 05:09] #2245 closed

[2020-01-10 05:15] JIMENOFONSECA opened #2514 "UX: add update function to installer"
So, it is very difficult to do get an update of CEA, one needs to uninstall and reinstall the entire CEA. The best would be to have autoupdates (today's technology) however this may be complicated due to the different users we have in CEA.

So a compromise is to at least make an installer that offers the update function. and somehow an automated messagge that informs our users at the interface tha

[2020-01-10 05:43] JIMENOFONSECA commented on #2489
@kerembeygo we will be adding all this information in the days to come. The next version should have a more thorough description of all the values in CEA. closing this issue for now.

[2020-01-10 05:43] #2489 closed

[2020-01-10 05:56] reyery opened #2515 "UI: Fix Dashboard Grid Layout"
Dashboard grid layout looks good when the GUI window is fully maximized but the plots do not span the whole width at certain sizes leaving a lot of blank space.
Should be a relatively easy fix by using grid css style instead of flexbox.

<img width="652" alt="Capture" src="https://user-images.githubusercontent.com/34395415/72129231-70ec0c80-33b0-11ea-953f-38c22da1c205.PNG">

[2020-01-10 06:00] gabriel-happle commented on #2510
@JIMENOFONSECA, not sure if there is a misunderstanding. Right now the cooling tower are exactly the size of the chiller. according to my understanding, the cooling tower capacity should be slightly larger.

[2020-01-10 09:27] JIMENOFONSECA commented on #2510
Well. We just assumed them to be the same in this case. But feel free to improve it, should you find a better method.

________________________________
From: Gabriel Happle <notifications@github.com>
Sent: Friday, January 10, 2020 2:00:27 PM
To: architecture-building-systems/CityEnergyAnalyst
Cc: Jimeno Fonseca; Mention
Subject: Re: [architecture-building-systems/CityEnergyAnalyst] Not sure if bug

[2020-01-10 13:50] DespaxJulien commented on #2502
@daren-thomas @JIMENOFONSECA, I deleted the spaces in the folder path and it solved the problem: I'm able to run the radiation tool.

Thank you very much for your help

[2020-01-10 21:28] Lh0r opened #2518 "cea-toolbox"
hi i really don't know where is the problem. can you help me?

Traceback (most recent call last):
  File "E:\CITY\CityEnergyAnalyst\Dependencies\Python\Scripts\cea-script.py", line 10, in <module>
    load_entry_point('cityenergyanalyst', 'console_scripts', 'cea')()
NameError: name 'load_entry_point' is not defined

[2020-01-11 14:02] daren-thomas commented on #2518
Hi @Lh0r, I'm really not sure I have all the information necessesary to help you. Would you mind answering the following questions please:

- how did you install? what version? what choices did you make during the installation? (you seem to have a non-standard installation path)
- what exactly are you trying to do? how did you get to this error? (did you click on "CEA GUI"?)
- is that the _whole_

[2020-01-12 12:05] Lh0r commented on #2518
Hi thanks for your help!!
I try to install cea on grasshopper and this is the whole message of error:

λ cea install-grasshopper
City Energy Analyst version 2.27.0
Running `cea install-grasshopper` with the following parameters:
- general:debug = False
  (default: False)
Traceback (most recent call last):
  File "C:\Users\gglho\Documents\CityEnergyAnalyst\Dependencies\Python\lib\runpy.py", line 17

[2020-01-12 12:05] Lh0r commented on #2518
And this for toolbox:

λ cea toolbox
Traceback (most recent call last):
  File "C:\Users\gglho\Documents\CityEnergyAnalyst\Dependencies\Python\lib\runpy.py", line 174, in _run_module_as_main
    "__main__", fname, loader, pkg_name)
  File "C:\Users\gglho\Documents\CityEnergyAnalyst\Dependencies\Python\lib\runpy.py", line 72, in _run_code
    exec code in run_globals
  File "C:\Users\gglho\Document

[2020-01-13 03:17] reyery commented on #2472
I have tested the **git post-checkout hook** script and it works great on my machine. But after trying it a few more time using different method, I have found some problems with this method.

1. The git hook script only exists in my machine and it does not sync upstream to GitHub since it is located in the `.git` folder.
    - One way of solving this is to put the script in a folder named `.githoo

[2020-01-13 05:40] lguilhermers opened #2519 "error when opening CEA dashboard (related to solar radiation)"
Hi,

I am trying to open CEA after the latest merge but I get an error.
![image](https://user-images.githubusercontent.com/50981039/72234880-1bab3780-360a-11ea-933c-7f85f5b46c16.png)

[2020-01-13 07:07] reyery commented on #2519
@lguilhermers I think this problem might hae something to do with `.pyc` files. Do you have **PyCharm**? If you do, you could try to open `CityEnergyAnalyst` folder in **PyCharm** and right click **Clean Python Complied Files**

![image](https://user-images.githubusercontent.com/34395415/72237419-5b2b5100-3615-11ea-99b9-506f2a9eb443.png)

[2020-01-13 07:40] lguilhermers commented on #2519
@reyery thanks for the quick reply. I have PyCharms, tested your solution and it worked here.
Any idea what might have caused this?

[2020-01-13 07:40] #2519 closed

[2020-01-13 08:16] reyery commented on #2519
It happens because of how we list plot modules and how PyCharm compiles `.py` scripts to `.pyc`. Every time we add/remove new plot classes, sometimes `cea` still loads the old `.pyc` files as modules even though we might have edited/removed the associated `.py` file.

Right now the only way to solve this issue is to do **Clean Python Complied Files** manually but we are currently working on a solu

[2020-01-13 08:56] lguilhermers commented on #2519
I see... thanks for the additional information :)

[2020-01-13 14:20] daren-thomas commented on #2518
@Lh0r, ok, so it seems you installed the CEA in the normal mode. This is good, but the errors you show are expected:

- `cea install-grasshopper`, there is an issue with the standard installation, in that it doesn't include the `CEA.ghuser` file for running the CEA in Rhino/Grasshopper - you'll need to install the "Developer" version to get that functionality. Please note that this interface (GH)

[2020-01-13 15:08] daren-thomas commented on #2493
@JIMENOFONSECA do you have a case-study to test before/after with?

[2020-01-14 00:09] JIMENOFONSECA commented on #2493
The open case works. Also thebone of the executive course i sent you a couple of months ago too.

Let me know if you need another one.
On 13 Jan 2020, 23:08 +0800, Daren Thomas <notifications@github.com>, wrote:

@JIMENOFONSECA<https://github.com/JIMENOFONSECA> do you have a case-study to test before/after with?

—
You are receiving this because you were mentioned.
Reply to this email directly, vi

[2020-01-14 08:00] #2504 closed

[2020-01-14 08:00] #2509 closed

[2020-01-14 08:00] #2511 closed

[2020-01-14 08:00] #2512 closed

[2020-01-14 13:28] daren-thomas commented on #2494
checked: this is solved in release 2.28.1

[2020-01-14 13:28] #2494 closed

[2020-01-14 13:48] daren-thomas commented on #2458
@JIMENOFONSECA that's a good tip! implemented! and imported to the cityenergyanalyst blog.

[2020-01-14 14:13] daren-thomas commented on #2458
@JIMENOFONSECA thanks, that's a great idea! implemented and published!

[2020-01-14 14:13] #2458 closed

[2020-01-14 14:19] daren-thomas commented on #2483
@lguilhermers the new version is out, please try it out and report back on whether it solves your problem :)

[2020-01-16 02:31] shizhongming commented on #2501
@DespaxJulien
Hi Julien,
Thanks for the feedback. I think the reason may be that you drew your polylines in Rhino and referenced it in Grasshopper. Try using GH components to create the geometry and see if it works. Let me know!
Regards, Zhongming

[2020-01-16 10:19] reyery commented on #2500
Fixed in https://github.com/architecture-building-systems/CityEnergyAnalyst-GUI/pull/9

[2020-01-16 10:19] #2500 closed

[2020-01-17 02:26] #2104 closed

[2020-01-17 02:28] JIMENOFONSECA commented on #2514
@reyery mind getting this into the pipeline together with @daren-thomas  so both the interface and the code have the option to be updated to a newer version from the installer?

[2020-01-17 07:59] reyery commented on #2514
@daren-thomas , from what I understand from our current installer, non-dev users have CEA installed using pip.
https://github.com/architecture-building-systems/CityEnergyAnalyst/blob/3b777c4a23ab7dc0ef8a1d493af022d549ea21f9/setup/cityenergyanalyst.nsi#L179
So I assume users could actually update their version by running `pip` without using the installer, which could avoid having the users to re-do

[2020-01-17 18:03] martin-mosteiro opened #2524 "Sample workflow file has a mistake"
Not a major problem since the file is only provided as an example, but see the following:

[code]

The parameters for `thermal-network` are wrong (there are no `allow-looped-networks` and `consider-only-buildings-with-demand` parameters in the `thermal-network` section of the config file). More meaningful parameters for the thermal network simulation might be `network-model` (simplified or detaile

[2020-01-17 18:46] martin-mosteiro commented on #2524
Perhaps more importantly: `workflow.py` does not seem able to process changes to `thermal_network.network_model`. I set the following in my `.yml` file:
[code]
...but I am still getting the detailed model instead.

[2020-01-20 07:41] #2493 closed

[2020-01-20 12:56] daren-thomas commented on #2524
woah! when did all of this happen? but yeah, this needs to be updated. Regarding your proposed fix: What's the output?

[2020-01-20 13:25] martin-mosteiro commented on #2524
You mean the input parameter thing? The outputs would be exactly the same, just using meaningful inputs.

If you mean the detailed vs. simplified model, I just get a detailed model simulation even if I specify I want to use the simplified model.

[2020-01-20 16:45] martin-mosteiro opened #2525 "District cooling network temperature error"
`substation_main_cooling` calculates the network temperatures as follows (line 111):

[code]
where (from `calc_DC_supply`, line 863):
[code]

Since COOLROOMs have nominal operating temperatures of 1°C/5°C (from the CEA database), `T_DC_supply_to_cs_ref = -1` (as calculated by `calc_temp_this_building_cooling`, line 183) for buildings with COOLROOMS. Thus, `T_DCN_supply_to_cs_ref = 0`. So far so go

[2020-01-20 20:18] martin-mosteiro opened #2527 "AttributeError: 'InputLocator' object has no attribute 'get_optimization_decentralized_folder_building_result_cooling_activation'"
There's an error in the optimization script due to which it is impossible to run optimization when heating and cooling networks are both present:
[code]

Indeed, there is no method `InputLocator.get_optimization_decentralized_folder_building_result_cooling_activation()` but there _is_ an `InputLocator.get_optimization_decentralized_folder_building_cooling_activation()`, which seems to be the desir

[2020-01-21 02:11] #2527 closed

[2020-01-21 14:59] martin-mosteiro opened #2529 "District cooling network temperature set by temperature of disconnected buildings"
The temperature of the district cooling network is set by the lowest temperature required among all buildings with cooling loads in the area (`buildings_name_with_cooling = get_building_names_with_load(total_demand, load_name='QC_sys_MWhyr')`) instead of being set by the lowest temperature of the buildings connected to the network.

So say you have, for example, a district with high temperature co

[2020-01-22 05:05] lguilhermers opened #2531 "errors running solar radiation"
Hi all,

I am re-running some old CEA models, due to the updates in the last months. I only kept the building-geometries, age.dbf and occupancy.dbf. I was able to run all the Data Management tools and the schedule helper.
But when I go to run the radiation radiation module, either of the two things happen:"
A) CEA gives an error while Creating 3D building surfaces (ValueError: ERROR: this usually

[2020-01-22 10:14] reyery commented on #2514
I tried writing an `update` script for CEA to run `pip install`, but there seems to be some permission error that I can't figure out. Running the same command in console does not seem to give the error.

https://github.com/architecture-building-systems/CityEnergyAnalyst/blob/5d488b12546f5915a24ad0e7a49e285144d8f4a9/cea/interfaces/cli/update.py#L70

[code]

[2020-01-22 10:29] daren-thomas commented on #2200
@JIMENOFONSECA I checked and it's not as easy as I believed it would be. Mainly because of how the unique constraints in `naming.csv` are not met in `glossary.csv`.

If you want, you can look into [the notebook I started for this](https://github.com/architecture-building-systems/CityEnergyAnalyst/blob/2200-remove-naming-csv/notebooks/2200-remove-naming-csv.ipynb).

I tried to update the `glossary.

[2020-01-22 10:29] #2200 closed

[2020-01-22 12:12] daren-thomas commented on #2514
@reyery, that's expected: `cea.exe` is one of the things pip creates. so we can't use the `cea` / `scripts.yml` mechanism to run that script. it shouldn't be much of a problem, though, right?

How are you planning for the user to use this feature?

[2020-01-22 12:36] daren-thomas commented on #2464
fixed in PR #2530

[2020-01-22 13:13] daren-thomas commented on #2480
@JIMENOFONSECA `inputs.yml` contains features not present in `schemas.yml`. While the current state isn't the cleanest solution, it works and the list of files for the input-editor is small and rather static. I suggest we work on more important issues.

[2020-01-22 13:13] #2480 closed

[2020-01-22 15:54] daren-thomas opened #2533 "Optimization fails on larger case study (heating case)"
The following case (based in Zurich) fails to run through with the workflow
[kleinalbis_workflow.zip](https://github.com/architecture-building-systems/CityEnergyAnalyst/files/4098146/kleinalbis_workflow.zip)

Steps to reproduce:
- download and extract project/scenario: https://polybox.ethz.ch/index.php/s/MqDIv3M2RQkNbPA
- run optimization with the following config:
[code]

Expected: Optimization r

[2020-01-23 07:25] reyery commented on #2514
It would be nice if the user could just type `cea update` to update CEA but it's not huge issue. I could just move it out and run it as a separate python script. It could be launched from a `batch` script for windows, just like how `dashboard` script was launched previously from a shortcut.

From the GUI, it could run the `batch` script to initiate the update process. It would also need to make su

[2020-01-23 08:48] daren-thomas commented on #2514
@reyery - we could use something like `PyInstaller` to create an exe from a python script. That would solve the overwriting problem, no? (writing the update script in bash / cmd has it's own problems and will be a lot harder to maintain. also, it'll make downloading stuff harder - we _do_ ship curl, but we also want to check different urls etc.)

[2020-01-23 08:53] #2518 closed

[2020-01-23 10:10] #2524 closed

[2020-01-23 10:20] #2529 closed

[2020-01-23 10:20] #2525 closed

[2020-01-23 10:20] #2506 closed

[2020-01-23 10:20] #2464 closed

[2020-01-23 10:23] daren-thomas commented on #2472
@reyery add notes including the error message with the plots and how to fix it. Then we can close this issue as known-issue.

[2020-01-23 10:31] JIMENOFONSECA opened #2534 "UX : Optimisation should select what technologies to run and which to not"
Taken from #2469
- Technologies a well as buildings.

[2020-01-23 10:41] JIMENOFONSECA opened #2535 "Thermal Network Graph: plant node, the position should be done by the user"
Taken from #2469

[2020-01-23 10:42] daren-thomas commented on #2321
Summary of discussion:

- `inputs/technology/archetypes/construction_properties.xls` file is special in that it's only used as a template for the data-helper and should _not_ be edited by the user
- the other files in technologies _can_ be edited and we should provide an interface in the GUI for this.

Creating a new region for the CEA should provide a new `construction_properties.xls` file.

[2020-01-23 10:46] daren-thomas opened #2536 "Add editor for technologies to GUI"
This is for all the databases in the technologies folder of a scenario.

Special case: construction_properties.xls

[2020-01-23 10:48] daren-thomas opened #2537 "Blog: How to create and save your own databases?"
- documention on what needs to be done
- GUI should provide a workflow
- how to share it with the community when done?

[2020-01-23 10:53] JIMENOFONSECA opened #2538 "Costs/emissions/PEN barcharts should be ordered according to the points in the pareto curve"
Taken from #2469

The order of the graphs can help to make more intuitive the pareto front

[2020-01-23 10:54] JIMENOFONSECA opened #2539 "Show demand in the map per building"
Taken from #2469

[2020-01-23 10:56] JIMENOFONSECA opened #2540 "Potential which are not available should be left out in the optimisation, e.g. PVT or thermal solar"
Taken from #2469

[2020-01-23 10:58] JIMENOFONSECA commented on #2469
@daren-thomas I selected the issues we may be able to cover until version 3.0, and created new ones. @matthiassulzer many thanks for the comments. We much appreciate this.

[2020-01-23 10:58] #2469 closed

[2020-01-23 11:00] JIMENOFONSECA commented on #2531
@lguilhermers the problem should be the coordinate system of your files. In addition the terrain of the buildings may not be overlapping. I suggest to
1. rerun the terrain helper for that case study.
2. check that you can map the buildings on the terrain using Qgis.

[2020-01-23 11:07] daren-thomas commented on #2537
blog this once GUI (#2536?) is created

[2020-01-23 11:14] daren-thomas opened #2541 "Create a structure of the Documentation"
- who are the users?
- structure?
- what do we have? how to move?
- API Documentation - what's the state there?
- bug everyone about glossary.csv TODO stuff!!!!

[2020-01-23 11:19] daren-thomas commented on #2535
Allow the user to select where the plant goes. @reyery feel free to recruit help here.

[2020-01-23 15:47] daren-thomas commented on #2533
@JIMENOFONSECA it really _does_ seem to be an issue with the path length - moving the project to `C:\` solved it.

This is somewhat annoying - but I'm not sure it's really our mistake: There is no sane way to ensure, that paths are _never_ too long, as the user can always create a deeply nested project directory.

We _could_ think of a way to map the `Total_DH_xyz.csv` file to a shorter name, e.g.

[2020-01-24 03:54] reyery commented on #2472
Closing issue. Refer to possible solutions in the first comment.

[2020-01-24 03:54] #2472 closed

[2020-01-24 10:05] emanuel030 opened #2543 "Total demand file not created"
I have run the demand script for a new scenario in SG. The single demand file of each building is created but the total demand file is not. I am not an administrator on the machine from which im running it, might this be the problem? ![image](https://user-images.githubusercontent.com/26175926/73060692-6020b800-3ed3-11ea-9b3b-84e45fa46295.png)

[2020-01-24 10:07] daren-thomas commented on #2543
can you manually create a file there? `C:\Users\emanuel\AppData\local\temp`? maybe with notepad or something. I wonder if that file is being deleted somehow?

[2020-01-24 10:15] emanuel030 commented on #2543
I can create a file manually in `C:\Users\emanuel\AppData\local\temp`. The scenario was set up fresh, here is the config file and scenario anyway: https://we.tl/t-i2QPE4EIR4

[2020-01-28 08:26] lguilhermers commented on #2531
@JIMENOFONSECA thanks for the insights.
I tried again those steps, also with new models and the error persists.
The terrain helper always runs smoothly. Looking at QGis I noticed two things (picture below):
a) although the zones are positioned correctly, the CRS for the new one is 32748, while previously it seems that 32648 was the one being used. If I try to change the CRS system, it puts the old

[2020-01-28 09:08] lguilhermers commented on #2531
@JIMENOFONSECA thanks for the insights
Together with @emanuel030 we were able to fix the projection, which was what was causing issues. The old files were projected in 32648 while the new ones are in 32748.
I think by fixing this the rest of the helpers/ daysim are able to run fine.

[2020-01-29 06:29] lguilhermers commented on #2483
Sorry, I missed that. Yes, everything seems to be running smoothly importing external shp, given that the attribute tables and georeferences are set up correctly. If there is a higher demand for user- imported zones, perhaps a post in the blog with some tips would be useful to not miss anything that is key for CEA. I can help by tracing my steps and issues I faced. :) Thanks, @daren-thomas!

[2020-01-29 07:19] #2531 closed

[2020-01-30 10:38] emanuel030 commented on #2543
Unfortunately the error is still prevailing, even though I now have admin rights to the machine. What else could be causing this error?

[2020-02-03 12:46] daren-thomas commented on #2514
Are we still doing this? (@JIMENOFONSECA, @reyery)

[2020-02-03 13:03] daren-thomas commented on #2543
@emanuel - this looks like the exact same error you got on Euler. Could this be an issue _not_ with Euler, but with the demand script itself?

[2020-02-03 13:14] daren-thomas opened #2547 "ERROR: zone_helper: invalid literal for int() with base 10: '2017-11'"
Steps to reproduce:

- create new project / scenario
- choose all helpers (I think this is only a problem with the zone-helper, though)
- select the area indicated in the screenshot (search for "kleinalbis" in the location search bar)
- try to create scenario

Expected the scenario to be created. I think the OSM might be providing age data in the form "YYYY-MM" and that the zone-helper expects it

[2020-02-03 14:12] daren-thomas commented on #2543
@emanuel - would you mind sending me a sample case study that _doesn't_ work? that ends with this error message?

[2020-02-04 07:06] emanuel030 commented on #2543
It is a weird one. The demand script is currently working both in Euler and on the desktop without errors. Therefore I don't think it scenario dependent. Here is one scenario where the error appeared at one point https://we.tl/t-cPeWp510Ag but is not appearing now. I believe it is dependent on the file size and some kind of storage limit of the temp folder?! Would it be possible to store the tempo

[2020-02-04 13:09] JIMENOFONSECA opened #2548 "As sponsor I would like to see a diagram of roles and responsibilities of team members in CEA so I can help to fill in new positions ASAP"
Some sources for refining this. Especially some graphs/

https://www.romanpichler.com/blog/every-great-product-owner-needs-great-scrummaster/
https://www.romanpichler.com/blog/one-page-product-owner/

[2020-02-04 13:10] JIMENOFONSECA commented on #2547
Yes, that is right. We will need to add more validation rules to the Zone helper. let's take a look to who can do this next sprint.

[2020-02-04 13:12] JIMENOFONSECA commented on #2514
@reyery @daren-thomas after our meeting with the Project Sponsor and the DevTeam, It seems we will have to leave it aside. @reyery mind commenting the reasons why we did not make it at this time and closing the issue? thanks!

[2020-02-04 13:14] JIMENOFONSECA commented on #2539
Although an interesting Idea, we will not have enough time to get it done any time soon. We believe that the bar charts, the data and other 2D plots could aid more the analysis at this point. These plots should be the priority.

[2020-02-04 13:14] #2539 closed

[2020-02-04 13:17] JIMENOFONSECA commented on #2321
Closing this. Another feature that changes this functionality was implemented in #2489

[2020-02-04 13:17] #2321 closed

[2020-02-04 13:21] JIMENOFONSECA commented on #2543
@daren-thomas maybe we can also return the total.csv files from the demand calculation, keep them in memory and then output the results? In this way we avoid the use of a temporary folder? what do you think?

[2020-02-04 13:22] JIMENOFONSECA commented on #2543
@emanuel030 I wonder if your are running CEA in debug mode = True. This is not recommended since it is creating extensive xls files which are not necessary.

[2020-02-04 13:24] JIMENOFONSECA commented on #2540
This idea could eventually accelerate the optimisation script. The modifications we can do to the code is that only technologies that the user selects will be used in the optimisation.

[2020-02-05 05:04] JIMENOFONSECA commented on #2547
@daren-thomas we got a new one from Arno this morning...
<img width="1440" alt="Screenshot 2020-02-04 at 18 46 10" src="https://user-images.githubusercontent.com/8973186/73812423-aea94d00-4817-11ea-8d81-7d12bef7ecaa.png">

[2020-02-05 07:40] emanuel030 commented on #2543
I have tested multiple scenarios (also larger), both with and without the debug mode and they have completed successfully on Euler and on PC. Debug mode taking roughly twice as long or longer (1035 seconds vs 490 seconds/ 850sec vs 260sec). The error has not shown and I wouldn't know how to recreate it.

[2020-02-05 10:13] reyery opened #2549 "`scenario-name` parameter in config should not accept empty/null values"
Problem
-
Currently the GUI sets `scenario-name` to an _empty string_ when doing some operations regarding projects using the dashboard server endpoints:
- **create new project** - no scenario exists yet
- **open project** - we do not assume which scenario to open for the user
- **delete project/scenario** - no scenario exists anymore

In the GUI, the user is restricted from doing anything, such a

[2020-02-05 11:35] reyery commented on #2547
Since we are using `start_date` key of OSM data to find the year of buildings, we need to take note of the various [formats](https://wiki.openstreetmap.org/wiki/Key:start_date#Formatting) that are supported by OSM and parse them accordingly before casting instead of casting it directly (should be easily done using regex). This should also apply to any other key that we are referencing such as `flo

[2020-02-05 12:02] reyery commented on #2547
Just found this website and it seems kinda cool (https://taginfo.openstreetmap.org)

We can see the different types of values used in the `start_date` key [here].(https://taginfo.openstreetmap.org/keys/start_date#values)

**Fun fact**:
 `2017-11` occurs 152 times out of ~14 million values and these are the places in Zurich that has this value
![image](https://user-images.githubusercontent.com/3439

[2020-02-05 12:16] JIMENOFONSECA commented on #2547
Hahahaha, gee that is what i call a casuality. This proves how hard is to make a bullet proof software. A chances of 10.95 in one million :D
On 5 Feb 2020, 20:02 +0800, Reynold Mok <notifications@github.com>, wrote:

Just found this website and it seems kinda cool (https://taginfo.openstreetmap.org)

We can see the different types of values used in the start_date key [here].(https://taginfo.openst

[2020-02-05 12:34] reyery commented on #2547
And `2017-11` is only one such example that we will not be able to do direct casting. There were also some values that use Chinese characters to represent the date.

[2020-02-06 09:29] JIMENOFONSECA commented on #2536
Decided to submit a PR now and create issues for what is left

[2020-02-06 09:30] #2501 closed

[2020-02-06 09:50] JIMENOFONSECA commented on #2535
This type of customization can easily be done with Qgis. The user can take the network layout output file "it is a shapefile" It is saved in outputs/networks/DH/node.shp. Then the user can add a new node in QGIS and assign it the name of "plant" in the attribute table. The user can also use QGIS to modify any part of the network. The user needs to make sure that the node is inside the edges of the

[2020-02-06 09:50] #2535 closed

[2020-02-06 09:51] #2543 closed

[2020-02-06 09:57] JIMENOFONSECA commented on #2538
This is just sorting

[2020-02-06 10:14] JIMENOFONSECA opened #2551 "Optimization creates many files and needs storage"
@martin-mosteiro experiments = 150GB for 100 buildings
@gabriel-happle experiments = 1TB for 150 buildings for 200 generations

1 Option
- Run all without saving. for the last generation rerun the individuals and save. this will reduce to approx 100 MB. so one Three orders of magnitude.

2. Option
- leave it like this.

3. Option 3
- have a debug mode: it creates all files
- just get the info we n

[2020-02-06 10:15] JIMENOFONSECA commented on #2551
This could help CEA to be more "mobile" and efficient in terms of storage.

[2020-02-06 10:17] JIMENOFONSECA opened #2552 "Optimization graph should use system ID instead of generation and individual"
generation = 12
and individual = 15

lets replace by system ID = 12-15 as a list of valid values for the generation

[2020-02-06 11:46] shanshanhsieh opened #2553 "Restructuring and Reducing the CEA database (up for discussion)"
Here are some points we discussed in the CEA meeting (6th Feb), we still need to make the final calls in the coming days.
@martin-mosteiro @daren-thomas @shizhongming any thought is welcome!

- [x] **1.** Remove Primary Energy everywhere (the behavior is linear to emission)
- [x] This information is currently linked to: optimization, life-cycle analysis, feedstocks, mobility, embodied energy.
- [x

[2020-02-06 13:23] martin-mosteiro commented on #2553
1. What do you mean by PEN being linear to emission?
Here's what the CH feedstocks in CEA look like:
![image](https://user-images.githubusercontent.com/18548065/73940344-960a6700-48eb-11ea-8b13-096a6f82ca31.png)
The Swiss grid is a huge outlier because it's low emission but highly PEN intensive (due to nuclear).

Here's what it looks like for SG:
![image](https://user-images.githubusercontent.com/

[2020-02-06 13:27] martin-mosteiro commented on #2553
Everything else sounds okay to me. Including keeping "FEEDSTOCK" and "ALL_IN_ONE_SYSTEM" where they are - might not be ideal, but they're relevant for supply systems, so that looks okay to me.

[2020-02-07 07:56] JIMENOFONSECA commented on #2548
Done in master and our docs: https://city-energy-analyst.readthedocs.io/en/latest/roles.html

[2020-02-07 07:56] #2548 closed

[2020-02-10 06:34] Loufafu opened #2555 "Error using "Building Solar Radiation""
Hello,

I encountered a problem using the CEA tool. I don't manage to run "Building Solar Radiation". I put in the attached document the screenshot of the error.
Could you help us solving this problem?

Furthermore, is it possible to work with another person on the same case study? If yes, how?

Thank you in advance.

![Capture error radiation CEA](https://user-images.githubusercontent.com/6045609

[2020-02-10 07:21] JIMENOFONSECA commented on #2555
@Loufafu check #1890 #1873 if any of those solutions work for you. @daren-thomas once again, a pontetial similar error taking place due to the location of the daysim binaries...

[2020-02-10 07:49] #2534 closed

[2020-02-11 17:00] AlexJew opened #2558 "Building Solar Radiation : Error if loading a terrain projection UTM 29 N, but successful with UTM 29 S"
Hello,

I am trying to use the Building Solar Radiation toolbox, however the following error is raised.

ValueError: ERROR: this usually happens when buildings do not overlap with the terrain, try to check if this is the case

All my files are referenced in WSG 874 / UTM 29N. My terrain file is a 5x5m grid as recommended.

Thank you for your help!

[Inputs.zip](https://github.com/architecture-buil

[2020-02-12 02:51] #2538 closed

[2020-02-12 04:58] JIMENOFONSECA commented on #2409
commited to master

[2020-02-12 04:58] #2409 closed

[2020-02-12 04:59] JIMENOFONSECA commented on #2373
correct, we can only optimize for one grid at the time. We reduced functionality in #2550 so we avoid bugs down the road, and unnecessary maintenance

[2020-02-12 04:59] #2373 closed

[2020-02-12 05:16] JIMENOFONSECA commented on #2533
solved in #2553

[2020-02-12 05:16] #2533 closed

[2020-02-12 13:08] AlexJew commented on #2558
I generated a fixed elevation terrain with the **Data Management > Terrain Helper** tool and realized that the projection was UTM 29S (though my neighbourhood is in Portugal). By loading my terrain file using the UTM 29S projection, the Build Solar radiation tool ran successfully. I believe there must be a bug where the UTM 29 N projection is read as 29 S. This only happens with terrain files (or

[2020-02-12 13:08] #2558 closed

[2020-02-13 03:03] reyery opened #2560 "UX: Metadata for scenarios in Project Overview"
We could allow users to enter some metadata for their scenarios, such as description, that would be shown in the Project Overview page. This would allow users to differentiate each scenario more easily.

[2020-02-13 03:41] shanshanhsieh opened #2561 "cea workflow checking resume-workflow.yml before creating it"
when running `cea workflow` from the console, i got the following error:
[code]

and after i changed the config to `resume-file = {general:project}/resume-workflow.yml`
another error occured:
[code]

[2020-02-14 08:31] reyery commented on #2555
Hi @Loufafu, I am trying to fix this error and hope you can help me check something. Currently the known issues with is error message is that either the path of the daysim binaries/temp path has a whitespace i.e. `C:\User Name\Daysim` (which I do not think it is in your case) or that the `epw2wea` command has encountered an error, maybe due to an invalid `.epw` file.

Could you open __CEA Console_

[2020-02-14 08:37] reyery commented on #2558
Ah thanks for that insight @AlexJew. I will take a look into that and see what I can do to fix it.

[2020-02-14 09:25] shanshanhsieh commented on #2002
this behavior cannot be reproduced by `reference-case-open` and `reference-case-cooling`
will be closing this issue for now

[2020-02-14 09:25] #2002 closed

[2020-02-17 00:40] JIMENOFONSECA commented on #2553
@reyery there are several points we already cover in the PR #2557 , now there are some issue we have in terms of validation. You are on top of that right?

[2020-02-17 03:32] reyery opened #2564 "Radiation script throws errors if Daysim binaries are found in a path containing whitespaces"
Some of the binaries for Daysim (e.g. `gen-dc`) make use of information found in a `.hea` (header) file to get its parameters, such as `bin_directory`. However, these binaries are not able to parse path parameters correctly from the `.hea` file if the path contains whitespaces. Since this buggy behavior is caused in the binary code of Daysim there is nothing much we can do on the Daysim side unles

[2020-02-17 09:32] JIMENOFONSECA opened #2566 "As user I would like to compare today's costs with those of the pareto"

[2020-02-17 11:25] AlexJew opened #2567 "Temperature of R-C model out of bounds"
Hello,

I've been trying to run CEA's Building Energy Demand Tool, but the following error comes up, no matter the building :
_« Exception: Temperature in RC-Model of building IE001 out of bounds! First occured at timestep = 4737. The results were Tint = 54.3371290227, theta_c = 49.2210335175, theta_m = 40.0318735086, Check building geometry and internal loads! Building might be too small in size

[2020-02-17 12:15] daren-thomas commented on #2564
@reyery there is already code in the radiation tool checking for existence of the Daysim binaries - maybe we add the check there? The user could get a warning and just have to install Daysim herself (defaults to `C:\Daysim\bin`)

[2020-02-17 12:16] #2566 closed

[2020-02-17 12:22] daren-thomas commented on #2561
@shanshanhsieh try setting `{general:project}` or `{general:scenario}` to an existing folder that you have write-access to. The error message above seems to be indicating that you don't have a `C:\reference-case-open` folder. Is that correct?

[2020-02-17 12:37] JIMENOFONSECA commented on #2567
@AlexJew I found that your buildings do not have air-con for cooling in air-conditioning systems. It may be happening that your building is overheating an no A/C is available. can you try again with this config and let us know?

[2020-02-17 14:48] RicardoGomesIST commented on #2567
Hi Jimeno,
thank you for your fast reply.
I am working together with Alex on this.
We already tried this:
-- High U values for walls and roofs (1.5 and 1)
-- T19 and T20 for type_cs (supply systems)
--T2 for type_cs (air conditioning)
-- high leakage values (5 h-1)
--cool starts: January....
-- cooling always on with just setpoint at 26ºC
-- no internal gains
-- Zero window wall ratio
-- we delete

[2020-02-18 01:30] JIMENOFONSECA opened #2569 "Separation of Age and Occupancy databases in archetypes"
Based on the comments of @gabriel-happle in #2557 we need to separate building typology into occupancy and construction type

[2020-02-18 01:39] reyery commented on #2561
I guess the whole idea is for it to work with default values even if `reference-case-open` folder does not exist since `workflow` script is supposed to create/extract it as part of its step.

We could set the default file location to somewhere CEA would have write-access to because the assumption now is that the project folder must exist. Or we could just explicitly show an error message for the u

[2020-02-18 03:45] gabriel-happle opened #2570 "bug in sky temperature calculation"
This was discovered when tracking down #2567

`calc_skytemp` in `epwreader` contained some small bugs.
This lead to unrealistic high or low sky temperatures, which then lead to unrealistic high or low `I_rad` values for some isolated hours of the year or even `nan` values, which then made the R-C-model break down.

[2020-02-18 03:54] gabriel-happle commented on #2567
Dear @RicardoGomesIST and @AlexJew,
I tracked down this issue.
Unfortunately, it is not related to any building properties. That's why your changes had little influence.

This issue is related to some calculations with the weather file to get the sky temperature for the long-wave radiation exchange of buildings with the sky.
There was a small bug in the calculation that is now fixed in #2570 #2571

[2020-02-18 10:07] AlexJew commented on #2567
Thanks @gabriel-happle ! Since the bug originates from CEA, I guess I need to wait for the next version to be uploaded with the bug fixed right?

[2020-02-18 10:35] #2227 closed

[2020-02-18 11:00] daren-thomas opened #2572 "As a User, I want to delete a row in the Database editor"
This is in reference to the [GUI 2.30](https://github.com/architecture-building-systems/CityEnergyAnalyst-GUI/releases/download/v2.30.0/win-unpacked.7z)

There are options to add a row to a database and that can be undone. Good. But how do I delete a row?

I tried selecting the row and pressing `[DEL]` but that just blanked out everything.

[2020-02-18 11:18] AlexJew commented on #2567
Hi @gabriel-happle , is it normal that I don't see any weird value in the radiation excel file for the IE001 building (the building that causes the first bug)?

![imagem](https://user-images.githubusercontent.com/32110882/74731413-d2b95500-523f-11ea-8c2a-41ae92e04928.png)

If needed, here is a selection of the excel files I obtained for the radiation (though probably the same as yours):

[solar-ra

[2020-02-18 11:23] daren-thomas opened #2573 "Database Initializer "ghost" tool (also, inconsistent spelling e.g. "DataBase")"
I'm trying to open an older (v2.29) scenario with the v2.30 GUI and clicked on the Database editor. Exciting!

I find this page:

![image.png](https://images.zenhubusercontent.com/57b40957e40e5714b16d7331/8d5b579b-3375-4398-ab73-f714103568f4)

COOL! So next I click on "Assign Database" and get sent to this screen:

![image.png](https://images.zenhubusercontent.com/57b40957e40e5714b16d7331/67556f0f

[2020-02-18 13:30] JIMENOFONSECA commented on #2573
@daren-thomas good catch, maybe we can include it into "utilities", but not in datamanagement as this breaks the workflow and may create confusion. You got it right, the user is not supposed to access to it in the tools. It should be an initialization step everyone must go there at first.

[2020-02-19 11:52] gabriel-happle commented on #2567
Yes. The bug has been fixed here #2571. If you are using the developer version of the CEA you can update via GitHub. Otherwise, you have to wait for the next release.

[2020-02-19 11:53] gabriel-happle commented on #2567
Yes @AlexJew, that is normal. The bug was related to the re-radiation. I.e. the heat loss due to radiation from the building to the sky, not the heat gains from solar radiation.

[2020-02-19 12:10] AlexJew commented on #2567
Hi @gabriel-happle  , thanks for the reply! Currently, we aren't using the developer version of CEA. Would updating the folder /CityEnergyAnalyst/cea/ after the merging of #2571 would resolve the problem?

[2020-02-19 15:08] daren-thomas commented on #2567
@AlexJew, check out the [Release 2.30.0](https://github.com/architecture-building-systems/CityEnergyAnalyst/releases/tag/v2.30.0) - it includes the #2571 fixes. Does that solve your problem?

[2020-02-19 15:13] AlexJew commented on #2567
@daren-thomas it does! Thank you very much :)

[2020-02-20 01:52] JIMENOFONSECA commented on #2514
@reyery if you want to add your comments. We are closing this issue now

[2020-02-20 01:52] #2514 closed

[2020-02-20 01:53] #2536 closed

[2020-02-20 01:54] JIMENOFONSECA commented on #2537
@daren-thomas it is ready, the blog can go ahead.

[2020-02-20 01:55] JIMENOFONSECA commented on #2540
done in #2562

[2020-02-20 01:55] #2540 closed

[2020-02-20 01:58] JIMENOFONSECA commented on #2021
@shanshanhsieh shall we close this?

[2020-02-20 01:59] JIMENOFONSECA commented on #2551
fixed in #2562

[2020-02-20 01:59] #2551 closed

[2020-02-20 03:13] JIMENOFONSECA commented on #2552
committed in #2551

[2020-02-20 03:13] #2552 closed

[2020-02-20 03:14] JIMENOFONSECA commented on #2541
@daren-thomas updates on this?

[2020-02-20 03:15] JIMENOFONSECA commented on #2555
@Loufafu the new release includes some fixes to this. Maybe this works now.

[2020-02-20 03:15] #2555 closed

[2020-02-20 03:20] JIMENOFONSECA opened #2575 "As a user I would like to have input Validation of the Databases so I can avoid unintended errors"
Taken from #2553

 7. Validate input values in each cell
 - some columns can only contain a unique value
 - some cells can only take a limited number of values (e.g. T1, T2, T3)

[2020-02-20 03:21] JIMENOFONSECA opened #2576 "Clean up columns inside the system database"
4. Clean up the columns inside the system database
 - USD-2015
 - remove Type (in the "PV" tab)

[2020-02-20 03:21] JIMENOFONSECA commented on #2553
closing, new separate issues are created for the remaining work

[2020-02-20 03:21] #2553 closed

[2020-02-20 03:22] #2570 closed

[2020-02-20 03:22] #2567 closed

[2020-02-20 03:31] shanshanhsieh commented on #2021
as Martin described, the current method is used in other studies as well, but it does not describe the realistic pumping operation.
i've done some experiments on how it might work, now that i need it in the model of my next papaer, i will try to implement it in a lean way.
this will be my task for the next sprint

[2020-02-20 03:34] JIMENOFONSECA commented on #2573
fixed in #2569

[2020-02-20 03:35] #2573 closed

[2020-02-20 04:20] JIMENOFONSECA opened #2577 "As a user I would like to run CEA on my MacOS"

[2020-02-20 04:20] jimenofonseca opened #2578 "As a Developer I would like to move to python 3 so we avoid technical risks in the future"

[2020-02-20 08:48] daren-thomas commented on #2541
@JIMENOFONSECA I haven't gotten around to it yet.

[2020-02-20 09:59] daren-thomas opened #2580 "cea test does not run through in master"
I think there was a small change to the demand calculation (the radiation part?)

Two symptoms:

- in developer edition:
  - `AssertionError: Sum of column E_sys_kWh differs, 349927.452000 != 349891.878000`
  - `AssertionError: qhs_sys_kwh for B01 should be: 178724.66800, was 183696.53900`
  - can be fixed by re-creating expected data
- in user edition:
  - `NoSectionError: No section: 'test_calc_

[2020-02-20 10:09] #2564 closed

[2020-02-20 10:28] reyery opened #2582 "UX: Change `code` id for tables in input databases"
Currently different tables use the same code format to identify each row i.e. `T1`. This could be confusing for users as a `T1` in one column (e.g. `type_leak`) is not the same as a `T1` (e.g. `type_win`) in another column

![image](https://user-images.githubusercontent.com/34395415/74925116-9e47c380-540e-11ea-912e-2047269b2586.png)

[2020-02-20 10:33] reyery opened #2583 "Rename columns for input databases that refer to another table"
`type_hs` could be renamed to `component_hs` to show that it refers to rows found in component

![image](https://user-images.githubusercontent.com/34395415/74925499-4493c900-540f-11ea-9b2e-ca180e7a3610.png)

[2020-02-20 11:04] reyery opened #2584 "Add migration script for users using older input databases"

[2020-02-20 11:11] #2569 closed

[2020-02-20 11:29] reyery opened #2585 "Changes to structure of database"
As discussed in the meeting, we could change the structure of some of the databases to make their uses more apparent.

- [x] rename `air-conditioning` to HVAC-components, `supply` to supply-assemblies, etc... in archetypes/construction database to show what databases they refer to

- [x] separate assemblies to different tables based on `system` column e.g. `HEATING`, `COOLING`

[2020-02-20 12:28] reyery opened #2586 "Plot errors: Letters in front of categories and wrong script suggestion"
- [x] Remove letters in front of plot categories

- [x] Invalid script name `operation_costs` error when ploting `annual cost` without inputs.
`schema.yml` seems to be outdated due to the script `operation_costs` renamed to `system_costs`

[2020-02-20 15:24] reyery opened #2589 "Function checking for DAYSIM binaries for radiation script does not pass binaries installed by DAYSIM installer"
Currently CEA is checking for a list of files to be present to ensure that the radiation script can run.

https://github.com/architecture-building-systems/CityEnergyAnalyst/blob/160cc8c1b2415e8784374fb98eeadc805273de16/cea/resources/radiation_daysim/radiation_main.py#L205-L215

However, it seems that it is only passing the directory of the DAYSIM binaries that we ship with the CEA installation and

[2020-02-21 02:46] #2586 closed

[2020-02-21 11:18] JIMENOFONSECA opened #2591 "As a User I would like to simulate electric vehicles"
fun thing to try and easy to implement (an approximated model based on schedules)

[2020-02-21 12:10] #2591 closed

[2020-02-21 12:10] #2580 closed

[2020-02-21 12:36] AlexJew opened #2593 "GUI Error : Database Editor > ARCHETYPES > USE_TYPES --> Cannot convert undefined or null to object"
**Describe the bug**
When wanting to access the **use types** via the GUI,  **Database Editor>ARCHETYPES>USE_TYPES**, there is an error that pops up.

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Open CEA Dashboard
2. Go to Database Editor > ARCHETYPES > USE_TYPES

**Desktop (please complete the following information):**
 - OS: Windows 10 Pro
 - Version: 1903

[2020-02-21 13:39] daren-thomas opened #2594 "reference-case-open is not updated"
I'm trying to run the workflow (to be able to test all the new plots!) and ran into this problem:

[code]

[2020-02-21 13:41] daren-thomas opened #2595 "Reference cooling case is not updated"
Have we tested the SG case yet with the 2.31.0 databases? I'm getting the following error:

[code]

[2020-02-21 13:52] daren-thomas commented on #2595
(BTW: it works when running from the GUI - @reyery do you have an idea why?)

[2020-02-21 15:30] kerembeygo opened #2596 "Setup Failure pip (ImportError: cannot import name 'PackageFinder')"
![1](https://user-images.githubusercontent.com/29708612/75047791-72911000-54d8-11ea-8ef5-47ab2ad7a627.jpg)

[2020-02-21 15:31] kerembeygo commented on #2596
![1](https://user-images.githubusercontent.com/29708612/75047722-4f666080-54d8-11ea-938b-465c4d5ff871.jpg)

[2020-02-22 08:09] JIMENOFONSECA commented on #2593
Hi Alex, do you have version 2.30 or version 2.31 of CEA?

[2020-02-22 08:11] JIMENOFONSECA commented on #2595
yes, we noticed it. it was a hotfix into master https://github.com/architecture-building-systems/CityEnergyAnalyst/commit/ccc3157e7094dd686eb129a4e92a02cfe11fb344

is this still an issue?

[2020-02-22 08:12] JIMENOFONSECA commented on #2594
can you map zone.shp and terrain.tif in QGIS?

[2020-02-23 10:18] reyery commented on #2594
Are there supposed to be any differences between the building geometries of **2.90.0** and **2.31.0**? I get the same error with the latest `reference-case-open` on my computer. By replacing input geometries with geometries from **2.29.0** `reference-case-open` the script runs. Terrain file does not seem to be the cause as both version of files have the same hashes.

[2020-02-23 10:43] reyery commented on #2594
Ok... I just tested and confirmed my fear and suspicion.

**There might be something wrong with how `input-editor` is saving geometry files. (assuming there were no changes with building properties between versions, since I did not see any after briefly scanning through them)**

My guess was that the properties of the buildings might not have changed but  **2.31.0** `reference-case-open` geometry

[2020-02-23 11:41] reyery commented on #2594
ok.
There seems to be differences in the `.prj` files in both zone and surrounding where the project system is `"WGS_1984_UTM_Zone_32S"` instead of `"WGS_1984_UTM_Zone_32N"` and `["false_northing",10000000]` instead of `["false_northing",0]`
[code]
similarly,
There are differences between the coordinates of the bounding boxes of each geometry, their **y** coordinates are different. But the differe

[2020-02-23 12:49] JIMENOFONSECA commented on #2594
Great invrstigation.
I think i know what the problem is.
I saved the reference case with the input editor qhen i created the typology file. This updated the Zone file to the latest cea prj ‘which we fixed a few prs ago.

What we need to do is to reimport the terrain file,the street file, and the surroundigns file so CEA change the coordinate systme to the newest one.

After that the solar radiatio

[2020-02-24 01:56] reyery commented on #2593
It could be that the GUI is trying to access a file that does not exist in `USE_TYPES` (e.g. a use-type `EXAMPLE` is found in **schedules** but not in **indoor comfort** or **internal loads**).
There were quite a few changes in the structure of databases between versions 2.29.0 and 2.31.0 in an attempt to make it easier to understand and navigate through.

In any case, the GUI should show a more r

[2020-02-24 01:59] reyery commented on #2594
I think it would be easier to just replace the shapefiles of zone and surroundings in the reference case if their properties have not changed. Then create another issue regarding the calculation of terrain intersection.

[2020-02-24 02:22] reyery commented on #2582
Fixed in https://github.com/architecture-building-systems/CityEnergyAnalyst/pull/2592

[2020-02-24 02:22] #2582 closed

[2020-02-24 02:48] reyery commented on #2595
I have a feeling that the input files in `reference-case-cooling` are not updated. And the other thing is that `get_building_typology` is not in **schemas.yml**.
Also it could be working in the GUI because its running with another scenario with the right files? I'm not sure about that one.

[2020-02-24 02:51] JIMENOFONSECA commented on #2595
Right, I will actually erase reference cooling and reference WTP, they are just too outdated and nobody is following them.

Jimeno
On 24 Feb 2020, 10:49 AM +0800, Reynold Mok <notifications@github.com>, wrote:

I have a feeling that the input files in reference-case-cooling are not updated. And the other thing is that get_building_typology is not in schemas.yml.
Also it could be working in the GUI

[2020-02-24 02:56] reyery commented on #2596
@daren-thomas I think this has something to do with pip version 20.0 https://github.com/pypa/pip/issues/7620 that is breaking installs. I remember you saying something about not updating pip in the installer for this version of CEA. Maybe we could update pip to version 20.0.2 in the installer, since its said to be fixed there.

[2020-02-24 07:29] reyery opened #2597 "GDAL and DAYSIM environment variables are not set for users running scripts from PyCharm"
Problem
-
Variables `GDAL_DATA`, `PROJ_LIB`, `RAYPATH` are not set when running scripts from PyCharm and this causes some unusual behavior such as in `radiation` script where it runs really fast

Solution
-
We could find a way to set these variables like how it done when running it from console. Or find some way to warn and teach users to include these variables in PyCharm using _configuration_, b

[2020-02-24 08:43] daren-thomas commented on #2595
@JIMENOFONSECA can we have maybe another cooling test case to run the workflows on instead?

[2020-02-24 08:50] daren-thomas commented on #2597
similar to checking for Daysim paths, we could also check for GDAL paths and add those to `os.environ` at the beginning of the script.

[2020-02-24 08:53] daren-thomas commented on #2596
yes, let's check to see if that solves the problem. else, @kerembeygo I suggest uninstalling and re-installing CEA: That should leave you with the older, working pip version.

[2020-02-24 09:09] JIMENOFONSECA commented on #2595
Maybe we can use the same case study to test both workflows?, or should we prepare new case studies, maybe even we use real data to make sure we are well close to reality?

Jimeno

________________________

Jimeno A. Fonseca
Dr. Sc. ETH Zurich

Senior Researcher
Singapore ETH-Centre (SEC)<https://sec.ethz.ch/>

Project Coordinator
Multi-Scale Energy Systems (MuSES)<https://fcl.ethz.ch/research/hig

[2020-02-24 09:15] AlexJew commented on #2593
Sorry for the slow response @JIMENOFONSECA ^^ I am currently using the 2.30 version.

[2020-02-24 09:31] daren-thomas commented on #2595
I like the idea of having the reference cases be plausible.

[2020-02-24 10:05] daren-thomas commented on #2596
@kerembeygo: I just checked. It really doesn't install either. I've recreated the setup and am testing it right now. I'm sorry for any inconvenience.

[2020-02-24 12:05] daren-thomas commented on #2596
@kerembeygo: I just tested. Uninstalling and reinstalling works. It seems that an earlier update to pip (if you're overwriting it) is the culprit for this error. Once it's broken, I'm not too sure how it could be fixed as the method to update pip requires running pip itself. So I'm afraid you'll have to uninstall and reinstall.

[2020-02-24 14:12] daren-thomas opened #2600 "system-costs: KeyError: 'Opex_var_buy_USD2015perkWh'"
Steps to reproduce:

- create a new project/scenario
  - db: CH
  - location: kleinalbis (choose a couple of buildings around nr. 80)
  - weather zurich
- run archetypes-mapper, radiation, schedule-maker, demand
- run `system-costs`

Expected this to run through. Instead, I get the following message in CityEnergyAnalyst v2.31.0:

[code]

[2020-02-24 14:34] daren-thomas commented on #2600
@reyery @JIMENOFONSECA this is blocking my efforts to update schemas.yml and the glossary shown in the documentation.

[2020-02-24 14:51] kerembeygo opened #2601 "ERROR: data_initializer:"
Create new scenario
Generate new input files using tools
![1](https://user-images.githubusercontent.com/29708612/75161875-939e6e80-572d-11ea-8c02-e5008b311c57.jpg)
![2](https://user-images.githubusercontent.com/29708612/75161884-9731f580-572d-11ea-88a9-528c93e65279.jpg)
![3](https://user-images.githubusercontent.com/29708612/75161895-9a2ce600-572d-11ea-8b44-6307e01a504c.jpg)
ERROR: data_initialize

[2020-02-24 15:57] daren-thomas commented on #2601
@kerembeygo thank you for reporting this :)

I'm un-assigning myself from this for now - assigning issues is traditionally done during our bi-weekly sprint meeting, or, in critical cases by @JIMENOFONSECA. That way, we can better prioritize our workload and also assign issues to the person most likely to be able to fix it in a timely manner.

[2020-02-24 17:47] kerembeygo commented on #2601
@daren-thomas I think bug report automatically assigned you. I didn't make any assignment to any person.

[2020-02-25 02:37] #2596 closed

[2020-02-25 02:38] reyery commented on #2593
@AlexJew could you try pressing `Ctrl+Shift+R` in **Database Editor** to force refresh. I think I found the bug that is causing **Database Editor** to find something that is not there.

[2020-02-25 05:42] #2600 closed

[2020-02-25 07:30] JIMENOFONSECA commented on #2576
not necessary for the moment. Changes will imply major changes to the dabases.

[2020-02-25 07:30] #2576 closed

[2020-02-25 08:49] daren-thomas commented on #2601
@kerembeygo I'm very sorry. I wasn't aware of that functionality - it's something new we're trying out internally.

[2020-02-26 09:25] nasty-bos opened #2606 "ConfigParser.ParsingError"
Occasionally getting _ConfigParser.ParsingError: File contains parsing errors: C:\Users\HHM/cea.config_ while using multiprocessing within workflow. Deleting config file and using a default one didn't help.
[code]
Using V2.31 on two computers with Windows - both run into the same issue.

[2020-02-26 09:45] daren-thomas commented on #2606
@nasty-bos could you attach the offending file please (`C:\Users\HHM/cea.config`) - I'm especially interested in the lines around 182.

[2020-02-26 10:06] nasty-bos commented on #2606
@daren-thomas here we go:

[ceaconfigfile.txt](https://github.com/architecture-building-systems/CityEnergyAnalyst/files/4254855/ceaconfigfile.txt)

couple of times the error was encountered in the line 179 too.

[2020-02-26 10:33] daren-thomas commented on #2606
@nasty-bos hm.... that seems to be ok. I think @reyery is working on a solution here - we found some race conditions pertaining to config files that might show up with multiprocessing.

[2020-02-26 13:07] daren-thomas opened #2608 "ValueError: invalid literal for int() with base 2: '' when running the Decentralized script"
Steps to reproduce:

- project/scenario = reference-case-open/baseline
- run standard workflow up to "Supply System Part I (decentralized)" (see `district-heating-system.yml`)

Expected: Script runs through. Instead, I get this error:

[code]

[2020-02-26 16:16] AlexJew commented on #2593
Hi @reyery , sorry for not answering earlier. I am currently encountering some issues with Python, and I think I have messed up the environment variables :( CEA Dashboard doesn´t launch so I am trying to install the version 2.31 Once it is set up properly, I'll tell you about it !

[2020-02-27 09:09] daren-thomas commented on #2608
@JIMENOFONSECA do you maybe know what is happening here? (I'm guessing the change in how the optimization script refers to individuals might be the culprit?)

[2020-02-27 09:25] JIMENOFONSECA commented on #2608
@daren-thomas mind telling me what is the value of district_network_barcode? before the crash?

[2020-02-27 09:31] JIMENOFONSECA commented on #2608
btw, maybe we can include the decentralized script now in the unitests? I mean now that the scripts are super fast

[2020-02-27 10:07] JIMENOFONSECA commented on #2601
@kerembeygo I am not able to reproduce. What version of CEA are you using? @reyery have you seen this problem?

@kerembeygo what selection did you do to the data initializer?

[2020-02-27 10:07] #2594 closed

[2020-02-27 10:07] #2595 closed

[2020-02-27 10:14] daren-thomas opened #2612 "Unable to edit code column in Database Editor for Assemblies/Envelope/Construction"
Steps to reproduce:

- open Database Editor
- navigate to Assemblies / Envelope / Construction
- click "Add Row"
- enter Description, Cm_Af
- enter code

Expected: Entering code succeeds

Buggy behavior: The column seems to be read-only - I can't enter any text at all. Saving the new entry results in the Input Editor complaining: "ERROR: index 0 is out of bounds for axis 0 with size 0"

[code]

@r

[2020-02-27 10:39] daren-thomas commented on #2608
@JIMENOFONSECA testing your branch right now. The testing works like this:

- `cea test --workflow quick` (default workflow for testing) will run a bunch of scripts excluding the slower ones - this is run for every PR
- `cea test --workflow unittests` runs all unittests in `cea/tests`
- `cea test --workflow slow` runs all the scripts when merging to master - currently, it's failing due to this iss

[2020-02-27 10:40] daren-thomas commented on #2608
@JIMENOFONSECA where do I find `district_network_barcode`?

[2020-02-27 10:47] kerembeygo commented on #2601
@JIMENOFONSECA CEA V2.31, I followed the steps above to create new scenario.

I can not open scenarios from previous projects.
![2](https://user-images.githubusercontent.com/29708612/75437583-7ce35c00-5967-11ea-9ce6-8543f61d5cf5.jpg)
![1](https://user-images.githubusercontent.com/29708612/75437594-8240a680-5967-11ea-98c6-dff7c857a29f.jpg)

Database editor
![3](https://user-images.githubusercontent

[2020-02-27 11:14] #2608 closed

[2020-02-27 11:26] #2606 closed

[2020-02-27 12:21] reyery commented on #2612
@daren-thomas could you try the GUI in https://github.com/architecture-building-systems/CityEnergyAnalyst-GUI/pull/17

[2020-02-27 12:28] AlexJew commented on #2593
Hi @reyery , my problem has disapperead with the 2.31 version. Thanks :) I'll close the issue then.

[2020-02-27 12:28] #2593 closed

[2020-02-27 13:35] daren-thomas opened #2615 "Clean out the unused js + css stuff from the CEA source tree"
The CEA used to host it's own GUI (in cea/interfaces/dashboard...) including the site template etc. I believe we don't need this anymore as we have the CityEnergyAnalyst-GUI repository that should provide all the necessary libries.

Cleaning this out would reduce the size of the CEA repository and PyPI distributions.

[2020-02-27 15:21] AlexJew opened #2616 "Archetypes Mapper - IndexError : single positional indexer is out-of-bounds"
**Describe the bug**
There is an error when trying to run the Archetypes Mapper in CEA 2.31 . I have been working with **conda environments** (due to dependency clashes with other programs), and I have a conda environment called CEA for the use of the City Energy Analyst. The environment was active when the error occured. I don't know if it may be the reason.

**To Reproduce**
Steps to reproduce t

[2020-02-27 16:57] daren-thomas commented on #2616
@AlexJew can you try re-running `cea archetypes-mapper`, but instead use the CEA Console? It has it's own environment and that way we can ensure we're all working with the same packages.

[2020-02-27 18:16] kerembeygo commented on #2601
I managed to open a previous scenario this time.

Input file could not be found. You can create the file using archetypes-mapper tool.
![1](https://user-images.githubusercontent.com/29708612/75473334-0154cf80-59a6-11ea-9f50-01e4444425e7.jpg)

Archetypes Mapper
![2](https://user-images.githubusercontent.com/29708612/75473441-3a8d3f80-59a6-11ea-9635-8cf1c8b88122.jpg)

City Energy Analyst version 2.3

[2020-02-28 09:53] JIMENOFONSECA commented on #2616
@AlexJew can you check if the values inside "typology" (on the CEA interface) are valid for your buildings? do they map to your database of "Archetypes/use_types"? Let us know. @reyery we may keep track of this and create a warning message if this is the case. OR what about validation so the users cannot run anything unless typology and zone are ok?

[2020-02-28 10:01] JIMENOFONSECA commented on #2601
@kerembeygo so we changed the inputs of CEA in version 2.30 see the warning message in the downloads link https://cityenergyanalyst.com/tryit

"...WARNING: After version 2.30 we do not have any backward compatibility. So your past case studies with CEA will not work. We are working in a transition script to help you migrate. In the mean time you can try the new version or to recreate your case stu

[2020-02-28 10:43] kerembeygo commented on #2601
@JIMENOFONSECA ok, I created a new scenario. Data management, demand forecasting, life cycle analysis, energy potentials tools ran. I'm trying network and optimization tools. I don't know what created the "ERROR: data_initializer" message in the first attempt.

[2020-02-28 12:21] AlexJew commented on #2616
@daren-thomas I ran the `cea archetypes-mapper` via the CEA console and got the same error.

@JIMENOFONSECA I am not sure I understood what you meant, but I compared the typology.dbf file of my scenario (I am still using the default CH one) and the typology from the CEA interface, and they were the same.

![imagem](https://user-images.githubusercontent.com/32110882/75548286-d52c6380-5a24-11ea-9d98

[2020-02-28 12:42] reyery commented on #2616
@AlexJew it seems to me that the values for `STANDARD` are wrong. They are supposed to be in the format `STANDARD1` not `T1`. May I know how did you create the scenario? I'm assuming you created it by importing your own `zone` and `surrounding` files and the `typology` file was created for you by CEA. In that case, there might be something wrong with how CEA is creating the typology file.

[2020-02-28 21:19] JIMENOFONSECA commented on #2616
Hi alex, i think this has to do with our latest update, where we standarized the names of the ‘standard’ filed in typology. Try to ise the latest version. Asign a new database to the scenario (button on the right of the database editor), check the typology file from the cea interface and run archetypes mapper.

Let us know if this works.
On 28 Feb 2020, 20:42 +0800, Reynold Mok <notifications@gith

[2020-03-02 03:53] #2601 closed

[2020-03-02 03:54] leafonseca opened #2617 "Excessive Installation time of CEA from Singapore --3hours"
**Describe the bug**
The installation took too long. Approx. 30 minutes to download and approx. 3 hours to install.

**To Reproduce**
N.A.

**Expected behaviour**
The tool download and installation should take 30 minutes (compared to other tools).

**Screenshots**
N.A.

**Desktop (please complete the following information):**
 - 2.31

[2020-03-02 03:56] JIMENOFONSECA commented on #2617
@daren-thomas mind checking the proxies we have for downloading the libraries. This seems to be a recurrent problem now in SG, not sure in CH

[2020-03-02 05:39] leafonseca opened #2618 "Import of CEA OSM should be restricted in terms to a maximum area. The user should receive a message about this restriction"
**Describe the bug**
It was not possible to export the 3D buildings, streets, etc. of the entire island of Singapore. An error appeared.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'input data'
2. Draw area
3. Click on 'create'
4. See error

**Expected behaviour**
N.A.

**Screenshots**
If applicable, add screenshots to help explain your problem.

![cea2](https://user-images.githubu

[2020-03-02 06:01] JIMENOFONSECA commented on #2547
fixed to master

[2020-03-02 06:01] #2547 closed

[2020-03-02 10:22] JIMENOFONSECA opened #2619 "Emissions plot missing"
ups. we erased this in the previous release.

[2020-03-02 13:34] daren-thomas commented on #2617
@JIMENOFONSECA we don't actually download libraries anymore - we download the Dependencies.7z file from GitHub. It doesn't take 3 hours here - maybe check how long downloading that file in SG takes? Current location: https://github.com/architecture-building-systems/CityEnergyAnalyst/releases/download/v2.27.0/Dependencies.7z

It would help if you could monitor the "Details" during the installation

[2020-03-03 00:22] leafonseca commented on #2617
Hi @daren-thomas, I am Lea, yes it is that file. What should I do?
![image](https://user-images.githubusercontent.com/61671530/75730489-07d9a300-5d28-11ea-886f-497369165ccf.png)

[2020-03-03 05:40] reyery commented on #2515
Fixed in https://github.com/architecture-building-systems/CityEnergyAnalyst-GUI/pull/17/commits/db08775527302bcadd492912f799112eaf8cb6ae

[2020-03-03 05:40] #2515 closed

[2020-03-03 08:16] daren-thomas commented on #2617
Hi Lea, long time no see :) I hope all is well?

Wow. That's really slow. Is this at work? It takes about 30 seconds here. Have you tried talking to your IT? I don't think this is something I can fix from here as I can't really test it.

@JIMENOFONSECA have you tested this on multiple networks? (e.g. is the download speed faster on your home network?)

A possible solution would be to pay for a CDN

[2020-03-03 11:34] kerembeygo opened #2621 "AttributeError: 'numpy.ndarray' object has no attribute 'values"
**Describe the bug**
A clear and concise description of what the bug is.
"AttributeError: 'numpy.ndarray' object has no attribute 'values'"
[Job Output for 3 optimization.docx](https://github.com/architecture-building-systems/CityEnergyAnalyst/files/4281034/Job.Output.for.3.optimization.docx)

**To Reproduce**
Steps to reproduce the behavior:
1. Optimization
2. Supply System Part 2 (centralized)

[2020-03-03 13:02] leafonseca commented on #2618
Hi CEA Team! I did not manage to export the entire city of Singapore in one shot, but various districts. See imaged attached. Thanks.
![cea3](https://user-images.githubusercontent.com/61671530/75778189-515ed800-5d92-11ea-8947-876807b9eac1.JPG)

[2020-03-03 19:45] AlexJew commented on #2616
Hello @JIMENOFONSECA @reyery , sorry for the late answer. Indeed, the problem had to do with backward compatibility. I did as you said @JIMENOFONSECA and it worked. Thanks :)

[2020-03-03 19:45] #2616 closed

[2020-03-04 03:55] leafonseca commented on #2617
Hi Daren,

Great to hear from you, even via CEA :) I will try to download it at home on my private computer and let you know.

Thanks and take care,
Lea

On 3 Mar 2020, at 4:16 PM, Daren Thomas <notifications@github.com<mailto:notifications@github.com>> wrote:

Hi Lea, long time no see :) I hope all is well?

Wow. That's really slow. Is this at work? It takes about 30 seconds here. Have you tried

[2020-03-04 13:30] daren-thomas commented on #2584
@JIMENOFONSECA how far should we go with this?

One solution would be to:

- use database exported with database editor (or CH/SG)
- merge `age.dbf` and `occupancy.dbf` into a `typology.dbf`
- let the user select STANDARD (edit the database to include the STANDARD?)
- run archetypes-mapper

Problem: This undoes any manual changes the user made to the input tables. So:

- update the other `building

[2020-03-04 14:57] daren-thomas commented on #2584
@JIMENOFONSECA can we just assume that databases in v2.29.0 were left untouched? That way the migration script could map T0 -> HVAC_COOLING_AS0 etc. That would make so much stuff so much easier, but if a user had already changed the databases... well... then things would get really tricky to migrate.

Unless they just have to select a standard and then run the `archetypes-mapper`. I kind of like t

[2020-03-05 01:07] JIMENOFONSECA commented on #2584
I think we can leave it to that point you mentioned.but the steps could be something like this. Mind the order.

1. We: The database is reinizialized to the new one
2. We: Occupancy and age file are transformed to typology. While at it, the standard is automatically selected based on the built age (check zone helper for how to do this) and the newly initialized database/archetypes/construction/sta

[2020-03-05 08:26] daren-thomas commented on #2584
@JIMENOFONSECA that's about as far as I got yesterday - had to leave before creating a pull request. I'll get it ready by the end of today - after the SCRUM meeting.

[2020-03-05 08:28] daren-thomas commented on #2537
@JIMENOFONSECA have you found time to check the draft?

- https://daren-thomas.github.io/cea-databases-part-1/
- https://daren-thomas.github.io/cea-databases-part-2/
- https://daren-thomas.github.io/cea-databases-part-3/

[2020-03-05 08:33] daren-thomas commented on #2541
Next Action: Rebuild the glossary page in RTD - a lot of the locators have changed and I want to be sure we're picking up the correct information (I noticed yesterday that it isn't current).

Further steps:
- check each tutorial, update as necessary
- update the zenodo reference for citing the CEA (@JIMENOFONSECA maybe you can do this?)
- update `schemas.yml` using workflow tracing output (some of

[2020-03-05 08:41] daren-thomas commented on #2549
@reyery just wondering - what if the CLI added a check right before the missing input files check for a valid path to the scenario? (I'm asking, because having the `cea.config.Configuration` file making sure the scenario exists could end up being very tricky as there are many edge cases - as you explain above) - or emit a `WARNING: scenario-name is empty`?

I also think the GUI should maintain pro

[2020-03-05 08:45] daren-thomas commented on #2583
@reyery note that this will require writing a db migration as being developed in #2584 - I have come up with a simple system that can be used to provide automatic migrations in newer versions. I was wondering: What are your thoughts on running the migration script from the GUI?

[2020-03-05 08:47] daren-thomas commented on #2585
@reyery is this done? I think it might be?

[2020-03-05 08:49] daren-thomas commented on #2589
@reyery if I remember correctly,`isotrop_sky` and `rayinit` are data files and they _are_ required - I believe I just ran the radiation script on an empty folder and kept adding the missing files until it ran through.

I can take over this issue, I think it should be a quick one.

[2020-03-05 08:49] reyery commented on #2585
Yeah. Seems to be done. Will close this.

[2020-03-05 08:49] #2585 closed

[2020-03-05 08:53] daren-thomas commented on #2612
@reyery assigning this to you as I believe you fixed it.

[2020-03-05 08:53] #2612 closed

[2020-03-05 09:20] daren-thomas opened #2622 "Install Jenkins on ITA-SCHLUE-W-06"
It's time. The old computer running the Jenkins - it was first built in the era of Hansjürg Leibundgut by Forrest Meggers and I - has died and I can't get it back up and running anymore.

I have another computer ready to take over the task and would use this also as an occasion to re-check the guide on how to set up the Jenkins server on a new PC and fix errors.

[2020-03-05 10:04] reyery commented on #2549
Hmm. I'm not saying that the config should "make sure the scenario exists" but at least make sure that `scenario-name` is not empty, since that does not make sense (it would just point to the project path). Then again like you said, we could just check in scripts/CLI that `scenario-name` is not empty which would be easier.

And yes the GUI **should** maintain its own project/scenario state and not

[2020-03-05 10:19] daren-thomas commented on #2577
this is a question of dependencies and packaging.

[2020-03-05 10:23] daren-thomas commented on #2583
We won't fix this as the new standards / assemblies names make this a lot easier for the user to understand.

[2020-03-05 10:23] #2583 closed

[2020-03-05 10:34] daren-thomas commented on #2618
@reyery thinks it might be some kind of rate limiting in the API.

Question: Is this still in scope of the CEA?

[2020-03-05 10:40] daren-thomas commented on #2621
Daren thinks the expression `district_electricity_demands['E_hs_ww_req_disconnected_W'].values` is probably supposed to be a series and somehow got set to an `ndarray` - that's where I'd start to check (maybe a little-used code path set this and it only shows up in specific configurations).

@JIMENOFONSECA I'm assigning this to you for now - is that ok?

[2020-03-05 13:01] daren-thomas commented on #2584
@reyery the GUI falsely states that the typology folder can be created with the `archetype-mapper` tool. It should actually be the `database-migrator` or the `zone-helper`, no?

Also, the PR for this feature (#2623) has a comment on a GUI integration idea - would you please check that out?

[2020-03-06 06:06] #2619 closed

[2020-03-06 06:07] reyery commented on #2615
I was thinking maybe we could also clear some of our stale branches

[2020-03-06 06:41] shizhongming opened #2624 "As a CEA user, I would like to quickly populate an empty site with a plausible design of street layout and building geometries. How to do that?"
To run simulations for green field projects, I would like to quickly generate a plausible design of street layout and building geometries for the empty site? How would we do it? The users who need this function can either be designers, engineers, or researchers.

I would like to introduce a new arm of CEA@Grasshopper, the Urban Block Generator. It is a grasshopper-based tool. It generates geometri

[2020-03-06 07:32] matthiassulzer opened #2625 "Select a few buildings from an existing data set"
**Describe the bug**
I try to select some buildings out of the HQ data set, see https://idethz-my.sharepoint.com/:f:/g/personal/jinxdy7vdt_ethz_ch/Eiq_-l30ZVJEiFuqKVS1eG0B4YkhrfudrccSX32o6J2mBQ?e=w8uzW0

**To Reproduce**
Steps to reproduce the behavior:
1. Open existing project (Hochschulquartier)
2. Select all buildings
3. Deselect the buildings, which I will analyse (ctrl+clicks on the buildings

[2020-03-06 11:29] AlexJew opened #2626 "As a User, I would like to know what are all the variables in the demand/<building_id>.csv and demand/Total_demand.csv files"
**Describe the feature you would like to have**
I would like to know what do the columns' names represent and what are their interaction between each other (ex: Eal is the sum of Ea and El). I would like to have this info for the *<building_id>.csv* and *Total_demand.csv* files.

**Describe the end purpose of this feature**
This will enable me to use the data directly from these csv files and proc

[2020-03-06 12:14] AlexJew opened #2628 "As a User, I would like to be able to download data from my plots on CEA as a .csv file"
**Describe the feature you would like to have**
When creating a plot on CEA, I would like to be able to download the data from the plot..

**Describe the end purpose of this feature**
- Produce my own graph
- Process the data to show relevant tendencies or important hidden correlations

**Describe the end-user of this feature**
- Better communication of the results
- Greater flexibility on the vis

[2020-03-09 05:59] reyery commented on #2625
@matthiassulzer I see that the input files from the scenario are still using the structure for versions <= `2.29.0`. There was a major change in the input files needed for CEA in version `2.31.0`, (i.e. `age` and `occupancy` files were merged to become `typology`, structure of input databases were simplified and separated into categories to make it easier to understand how they are related to each

[2020-03-10 10:11] #2584 closed

[2020-03-10 10:11] #2622 closed

[2020-03-10 11:47] JIMENOFONSECA commented on #2628
@AlexJew the button on the top right of a plot (right besides the legned toggle) gives you access to the data in CSV. Does this provide the functionality you mentioned?

[2020-03-10 11:53] JIMENOFONSECA commented on #2626
@daren-thomas @shanshanhsieh @reyery i wonder if our glossary is not very effective anymore. Lot’s of todo’s. For quite important information. There is also repetition. Could we mobilize the team to engage on this for one afternoon, perhaps all before we release v3.0? I guess that will do and help tons of stranded users. I met other users in SG this week facing the same problem.

[2020-03-10 11:57] JIMENOFONSECA commented on #2577
Should we give it priority in the upcoming sprints or rather move it after the migration to py3

[2020-03-10 11:59] JIMENOFONSECA commented on #2541
Glosary unit tests is the best idea i have heard in some time. Totally go for it now. Especially if we can just kill that glossary and get a unified schemas.yml, a single point of atructured reference to variables.

[2020-03-10 12:32] daren-thomas commented on #2577
@JIMENOFONSECA I think we should do this after migration to py3 - else we'd have to do the same work twice.

[2020-03-10 23:57] JIMENOFONSECA commented on #2577
Great. Let’s do that. So do we see cea 3 with py 3? :-)
On 10 Mar 2020, 20:33 +0800, Daren Thomas <notifications@github.com>, wrote:

@JIMENOFONSECA<https://github.com/JIMENOFONSECA> I think we should do this after migration to py3 - else we'd have to do the same work twice.

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub<https://github.com/arc

[2020-03-11 11:04] AlexJew commented on #2628
@JIMENOFONSECA The button shows which are the files from which the data is extracted, however it may show a list of files and doesn't mention where is the data within this files. Moreover, this data is contained within columns with obscure names (compared to them, the legend's names are much clearer). Rather what I was suggesting, was a feature to export only the data of the plot in a csv file. Fo

[2020-03-11 11:12] FrancisBase commented on #2454
Hello,
Is it possible for CEA to make available the data that was used, or any data actually, that can be used that is actual real measured data, to see the differences between the simulation and the reality ?

Surely it's not imaginable that a simulation engine like CEA which is so widespread has not been published without reproducible calibration, so would like to know if you can share the link

[2020-03-12 11:53] kerembeygo opened #2636 "As a User, I would like to be able to create my envelope assemblies from components (materials)"
**Describe the feature you would like to have**
I would like to create my own envelope assemblies from materials. There can be a materials section in components tab.

**Describe the end purpose of this feature**
So I can make a database for local materials and make my own assemblies (constructions).

**Describe the end-user of this feature**
A Researcher and a Practitioner.

**Provide Aditional in

[2020-03-13 02:29] JIMENOFONSECA opened #2637 "As a Developer I would like a single point of reference for variables in CEA including unit tests"
**Describe the bug**
In repetitive occasions, the Glossary.csv and names.csv files have been found to contain either
1. the same information.
2. outdated information.
3. incomplete information.
This issue is becoming a quite RISKY technical debt of CEA, acknowledging that as of 31st of March we will have important changes in the team and a potential leak of knowledge aboout the variables in CEA.

[2020-03-13 02:30] JIMENOFONSECA commented on #2637
@daren-thomas I assign this to you so we tackle it right away.

[2020-03-13 02:32] JIMENOFONSECA commented on #2618
Yes, @reyery @daren-thomas it is in scope to solve this issue. This is a basic feedback message needed. While we do not support great extensions of land. The user should not be allowed to do this, and instead receive a message explaining that we do not support it.

[2020-03-13 02:33] JIMENOFONSECA commented on #2021
@shanshanhsieh progress?

[2020-03-13 02:45] JIMENOFONSECA commented on #2625
@reyery update? is the tool included in the new release?

[2020-03-13 02:49] JIMENOFONSECA commented on #2537
@daren-thomas good job on putting this together. I think that as part of the new structure of the documentation. we should migrate the content of these blogs to read the docs. If you agree. please publish it in there. Otherwise please proceed to Squarespace.

[2020-03-13 02:51] JIMENOFONSECA commented on #2617
@daren-thomas assigning you, so we keep track of next steps. if you consider that we can take a 3rd party service to keep the downloader, please let us know the price, we can budget it.

[2020-03-13 02:52] reyery commented on #2625
Yes, the migration script is now included in version `2.32.0`. You could follow the steps:

This would generate all the missing files that are required.

[2020-03-13 02:59] JIMENOFONSECA commented on #2636
@kerembeygo thanks for the feature idea. We have considered this possibility since the beginning of CEA, and resolved that the level of U-values and GHG factors per component makes a good compromise between detail, user-experience and accurracy. A higher level of detail (that of materials) could be interesting, yet time consuming to implement and maintain. Especially in regards to the data at the

[2020-03-13 03:12] JIMENOFONSECA commented on #2624
@shizhongming great that you are coming up with this feature.

It would be great if you are interested in taking the CEA@grasshopper as your own development. Perhaps even creating a repository that does this and attracts users and developers on their own. For the future of CEA, we will not be maintaining CEA interface for Grasshopper (the already outdated one we had). So then it makes sense to cre

[2020-03-13 03:12] #2624 closed

[2020-03-13 03:15] JIMENOFONSECA opened #2638 "Official end of support of Interfaces other than CEA Cli and CEA Dashboard"
Picking up on the discussion of #2624, we would make official that CEA only supports our own interfaces. CEA dashboard and CEA Command line. This will help us to maintain focus on helping CEA users to have the best user experience possible.

The steps to make this effective are:
1. Encourage users like @shizhongming to create their own repository (maybe copying what we already did) for new interfa

[2020-03-13 03:16] #2636 closed

[2020-03-13 07:49] daren-thomas commented on #2617
@leafonseca did you try downloading from your home wifi? did that work?

[2020-03-13 07:54] daren-thomas commented on #2637
@JIMENOFONSECA I was planning on moving `glossary.csv` to `schemas.yml` today and adding unittests to test for "TODO" stuff and missing documentation in `schemas.yml`.

Regarding the `naming.csv` file: yes. some of the information _is_ duplicated but in a very subtle way: I tried to harmonize those two files a few sprints ago and failed. Mainly, because they are serving a different purpose:

- `gl

[2020-03-13 07:55] daren-thomas commented on #2637
Also, note that some fields in the output files have the same names, but their context is different, so the description changes slightly.

[2020-03-13 08:45] matthiassulzer commented on #2625
Dear all

Many thanks for the new release. There are still some errors:
Defining a new scenario, an error of not finding the weather file of Zurich:
[cid:image001.png@01D5F91B.C1719FA0]

Best,

Matthias

Von: Jimeno Fonseca <notifications@github.com>
Gesendet: Freitag, 13. März 2020 03:45
An: architecture-building-systems/CityEnergyAnalyst <CityEnergyAnalyst@noreply.github.com>
Cc: Sulzer, Matthia

[2020-03-13 08:57] daren-thomas commented on #2637
Here's an idea: move everything to schemas.yml, including the stuff in names.csv, but change how the plots look up those values (well, duh, if we remove naming.csv, they _have_ to use another method) to explicitly state the output file (locator method) as well as the field to look up. There might be some edge cases, I'll find them and figure something out. All the plots will be needed to be adjust

[2020-03-13 09:08] daren-thomas opened #2640 "Include the SG archetypes in testing"
The workflow `district-cooling-system` uses the CH reference case. That means, we never really test the SG archetypes. It would be good to have at least one workflow that could be run (even if only sporadically) to test that those archetypes map properly.

This could include using the `create-new-scenario` tool - instead of `extract-reference-case` - and pass in a polygon for a scenario in singapo

[2020-03-13 09:40] matthiassulzer commented on #2625
Dear all
To translate the existing HQ file into the new structure failed:
![image](https://user-images.githubusercontent.com/54287523/76608809-93b4b180-6516-11ea-90d3-7d5f9bb3a2d3.png)
![image](https://user-images.githubusercontent.com/54287523/76608830-a3cc9100-6516-11ea-837b-65c45e781dc7.png)
Thanks for an advice. Or could you translate the old version input file of the HQ into the new structure

[2020-03-13 18:19] JIMENOFONSECA commented on #2637
Sounds good. Let’s merge everyting into one single schemas file. As long as we have only one source of information for the variables names, all should work.
On 13 Mar 2020, 16:58 +0800, Daren Thomas <notifications@github.com>, wrote:

Here's an idea: move everything to schemas.yml, including the stuff in names.csv, but change how the plots look up those values (well, duh, if we remove naming.csv,

[2020-03-16 06:28] reyery commented on #2625
@matthiassulzer it seems that you would need to run the `data-initializer` tool first (to initialize the new input databases) before running `database-migrator`.

Nevertheless, I have tried the scenario you provided and converted it to the new structure.
[Hochshulquartier_status_quo.zip](https://github.com/architecture-building-systems/CityEnergyAnalyst/files/4336330/Hochshulquartier_status_quo.zi

[2020-03-16 09:52] matthiassulzer commented on #2625
Hi Rey

Many thanks. It works! However, there is still one schedule missing: Electrical mobility.
[cid:image001.png@01D5FB80.D2D7EE90]
Could you please advice, what I have to do. Thanks.

Best,

Matthias

Von: Reynold Mok <notifications@github.com>
Gesendet: Montag, 16. März 2020 07:28
An: architecture-building-systems/CityEnergyAnalyst <CityEnergyAnalyst@noreply.github.com>
Cc: Sulzer, Matthias <

[2020-03-16 13:57] matthiassulzer commented on #2625
Hi Rey

I also tried to run architypyes-mapper: schedules. But there is also an error:
[cid:image002.png@01D5FBA3.3E3269F0]

Thanks for your help. Best,

Matthias

Von: Sulzer, Matthias
Gesendet: Montag, 16. März 2020 10:51
An: 'architecture-building-systems/CityEnergyAnalyst' <reply@reply.github.com>; architecture-building-systems/CityEnergyAnalyst <CityEnergyAnalyst@noreply.github.com>
Cc: Menti

[2020-03-16 14:03] daren-thomas opened #2642 "As a Developer, I want to split the use_types databases into a .csv and a .json component to make data validation easier"
As part of the effort to make `schemas.yml` a single point of truth for information about the contents of the files used by the CEA (schemas, descriptions etc.), the following files pose a problem:

e.g. `cea/databases/CH/archetypes/use_types/COOLROOM.csv`

You see, they're _supposed_ to be `.csv` files, but they're not. They're a Frankenfiletype, with some header data _before_ the actual schedule

[2020-03-17 03:12] reyery commented on #2625
There seems to be a bug when trying to calculate schedules. I have fixed the code and you can try pulling it from master if you are on the dev version and run `archetypes-mapper` again.

[2020-03-17 07:57] matthiassulzer commented on #2625
Hi Rey

Could we have a short phone call. I need some support to link github und CEA.

Many thanks for calling me on +41786259979

Best,

Matthias

Von: Reynold Mok <notifications@github.com>
Gesendet: Dienstag, 17. März 2020 04:13
An: architecture-building-systems/CityEnergyAnalyst <CityEnergyAnalyst@noreply.github.com>
Cc: Sulzer, Matthias <Matthias.Sulzer@empa.ch>; Mention <mention@noreply.gith

[2020-03-17 08:21] shanshanhsieh opened #2644 "cooling case workflow not running"
**Describe the bug**
`cea workflow` does not run when `workflow = district-cooling-system`
more specifically, there is a problem when running the radiation script

**To Reproduce**
Steps to reproduce the behavior:
1. run `cea workflow` with `workflow = district-cooling-system`
2. See error
[code]
**Expected behaviour**
successful execution of the workflow for a cooling case

**Screenshots**
If app

[2020-03-17 08:22] shanshanhsieh commented on #2644
the radiation script is running for other cases, something is wrong with the specific combination of this case and the weather file

[2020-03-17 08:40] daren-thomas commented on #2644
This is connected to #2640 and seems to be a problem not with the radiation script itself, but with the `archetypes-mapper` using a CH typology input file but using SG archetypes - after running the Archetypes Mapper, some of the input tables do not have all the buildings.

Yes. This needs to be fixed. I think having a separate SG case would be best.

[2020-03-17 08:46] reyery commented on #2625
Fixed in v2.32.0 and 763771e

[2020-03-17 08:46] #2625 closed

[2020-03-17 10:53] matthiassulzer opened #2645 "Solar Potential Calculation on HQ"
**Describe the bug**
Rey, everything works fine…. Exept the calculation of the solar potential:
City Energy Analyst version 2.32.0
Running `cea photovoltaic` with the following parameters:
- general:scenario = C:\Users\sum\Documents\CEA\Hochshulquartier_status_quo New\MBS Case Study HQ
  (default: {general:project}\{general:scenario-name})
- general:multiprocessing = True
  (default: True)
- solar

[2020-03-17 15:13] matthiassulzer opened #2646 "Error Solar Potential"
Rey, please find attached the files. The error occurs by calculating the solar potentials (PV, PVT, and thermal collectors)

[2020-03-18 03:34] reyery opened #2647 "Optimization plots `generation` parameter"
**Describe the bug**
The  **optimization** plots have a `generation` parameter which does not seem to do anything. Plots for generation 1 and generation 2 are the same as both shows data from multiple generations

**To Reproduce**
Steps to reproduce the behavior:
1. Create a plot in the **optimization** category e.g. Pareto Curve
2. Change the `generation` plot parameter

**Expected behaviour**
Ch

[2020-03-18 08:11] JIMENOFONSECA commented on #2644
may I suggest the same project but different scenario? just for the sake of keeping things tidy.

[2020-03-18 08:40] daren-thomas commented on #2644
you mean `reference-case-open/sg-baseline` or something? sure. that would keep things tidier. but the scenario should be in Singapore. And... it's ok if it's a really small case (3 buildings should do, no?) as we just want to be able to run all the different codepaths...

[2020-03-18 08:51] JIMENOFONSECA commented on #2644
well that would not work though...but hey what is the problem? is it that the workflow does not work for SG as a database? if it is that I guess that can be fixed. I remember thinking about that.

Maybe shanshan can describe what is the issue? and at what point does it happen?

I think we can solve it without the need of another case. remember that we have measured data for this one. It is also re

[2020-03-18 08:58] daren-thomas commented on #2644
@JIMENOFONSECA the archetypes don't map - try opening the scenario and then running it as an SG case - some of the input tables lose half of their buildings. I'm guessing it's to do with how the tables are joined (an inner join will remove all rows that don't join).

the thing is, if we don't have a SG case, we're not testing that stuff.

so yes - you have a scenario with measured data and that se

[2020-03-18 09:47] daren-thomas commented on #2647
@JIMENOFONSECA this might be left over from the changes to how the optimization works?

[2020-03-18 11:38] daren-thomas opened #2648 "Installed Capacities plot fails for system = _sys_today"
Steps to reproduce:

- run `cea workflow --workflow district-heating-system`
- open GUI at scenario (`reference-case-open/baseline`, as created in previous step)
- navigate to Dashboard
- add plot, choose Category="Supply System", Plot="Installed Capacities"
- for parameters, choose scenario-name="baseline", system="_sys_today" (the default)
- expected a plot, but instead get the following message

[2020-03-18 12:43] daren-thomas opened #2649 "Optimization fails in cooling case (ValueError: invalid literal for int() with base 2: 'DC_Network_summary_result_0xc.csv')"
Steps to reproduce:

- create a scenario in Singapore, run the whole workflow for DC networks
- alternate: [use this scenario](https://www.dropbox.com/s/azujwi5lqkid3hb/reference-case-sg.zip?dl=0)
- run optimization (for network-type DC)

Expected results: Optimization runs through

Instead, I get this:

[code]

[2020-03-18 15:19] daren-thomas commented on #2537
status update: i'll add to the documentation when updating the tutorials. this will take quite some time

[2020-03-18 15:20] daren-thomas commented on #2561
@shanshanhsieh did you get around to testing the PR?

[2020-03-18 15:33] daren-thomas commented on #2637
Status update: I'm working on a branch (`2637-single-point-of-reference-for-variables`) that will address this.

*Current progress:*

- started a set of unit tests for testing `schemas.yml`
  - go through `InputLocator` methds to make sure all are defined in `schemas.yml`
  - (this led to a lot of old code being found / removed / cleaned up)
  - (found some bugs and created issues for them)
  - ne

[2020-03-18 15:34] daren-thomas commented on #2541
Status update: Working on this in #2637

[2020-03-18 15:35] daren-thomas commented on #2575
@reyery didn't we just merge this?

[2020-03-18 15:37] daren-thomas commented on #2597
@reyery is only the radiation script affected?

[2020-03-19 09:49] #2621 closed

[2020-03-19 10:10] daren-thomas commented on #2618
This is fixed in the GUI. @daren-thomas will test this. and notify @leafonseca about the fix.

[2020-03-19 10:11] daren-thomas commented on #2021
@martin-mosteiro is testing this and will merge when done.

[2020-03-19 10:13] #2575 closed

[2020-03-19 10:22] daren-thomas commented on #2615
@reyery has done this in another branch and it will be merged after testing then.

[2020-03-19 10:43] daren-thomas commented on #2617
it might have been an internet connection issue at the CREATE campus.

[2020-03-19 10:43] #2617 closed

[2020-03-19 10:48] daren-thomas commented on #2640
@daren-thomas will show the exact error that shows up.

[2020-03-19 10:57] daren-thomas commented on #2640
this is a duplicate of #2644

[2020-03-19 10:57] #2640 closed

[2020-03-19 11:01] daren-thomas commented on #2645
Maybe due to `solar:annual-radiation-threshold = 800.0` some of the buildings are being filtered out. @matthiassulzer  would you mind trying to re-run this with `annual-radiation-threshold = 400.0`? Does that work?

[2020-03-19 11:01] #2646 closed

[2020-03-19 11:02] daren-thomas commented on #2646
This is being addressed in #2645

[2020-03-19 11:05] daren-thomas commented on #2647
This should be checked by comparing generation 1 to generation 50.

[2020-03-19 13:56] matthiassulzer commented on #2645
Hi Daren

Thanks for the hint… unfortunately the error still occurs:
Job Output for 1 - photovoltaic
City Energy Analyst version 2.32.0
Running `cea photovoltaic` with the following parameters:
- general:scenario = C:\Users\sum\Documents\CEA\Hochshulquartier_status_quo New\MBS Case Study HQ
  (default: {general:project}\{general:scenario-name})
- general:multiprocessing = True
  (default: True)
-

[2020-03-19 18:29] AlexJew opened #2651 "Input Editor - ERROR: DataFrame index must be unique for orient='index'."
**Describe the bug**
When loading my _zone.shp_ and my _typology.dbf_ files, I get the following error :

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Create a new scenario
2. Import _zone.shp_ and _typology.dbf_
3. Open Input Editor

**Expected behaviour**
A proper reading of my inputs

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Hardware (pleas

[2020-03-19 21:39] #2651 closed

[2020-03-20 03:34] reyery commented on #2647
Just checked and plots for generation 1 and generation 50 are indeed different so there is nothing wrong with the plots. I suppose then the main issue is that the title of the plots could be misleading. At first I thought that plots show emissions/cost for systems in generation X. But in reality it is the ("top performing"?) systems after X generations.

![image](https://user-images.githubusercont

[2020-03-20 10:02] reyery commented on #2648
I have tried it and can confirm that I have the same issue.

It seems that `Supply System Part II (centralized)` does not run any tool/analysis for `_sys_today_` but only for those created during optimization as part of the script, therefore the file would not be created.

One way to solve it is to maybe try to run `_sys_today_` with `cea/optimization/master/evaluation.py` which helps create the d

[2020-03-20 11:27] reyery commented on #2645
Hmm. I think there is something different with the radiation output files.
[code]

The magical number **8760** is actually the number of hours in a year.

So the radiation file for a building is supposed to have **8760** rows of radiation data.

<img width="100%" alt="rqad" src="https://user-images.githubusercontent.com/34395415/77156064-8f216780-6ad9-11ea-8e31-29b578f3482f.PNG">

But the radiatio

[2020-03-20 11:57] matthiassulzer commented on #2645
Many thanks for your help. Hopefully you find the mistake...

Freundliche Grüsse

Matthias Sulzer

Am 20.03.2020 um 12:27 schrieb Reynold Mok <notifications@github.com>:

﻿

Hmm. I think there is something different with the radiation output files.

ValueError: operands could not be broadcast together with shapes (8784,) (8784,) (8784,) () (8760,) (8760,) () () ()

The magical number 8760 is actua

[2020-03-20 12:02] reyery commented on #2645
I think what is happening here is that DAYSIM (`epw2wea`) is including the leap year day when converting the .epw file that we provide to the .wea file that it uses for calculation.

So I think we might have to handle this (leap year) on our end _(unless there is a parameter/property that we can include in the header file or command to do this, but the DAYSIM website is down now so I'm not sure_),

[2020-03-20 13:06] matthiassulzer commented on #2645
Perfect. I am waiting for an update on github. Please advise me, when I can request a pull….

Von: Reynold Mok <notifications@github.com>
Gesendet: Freitag, 20. März 2020 13:03
An: architecture-building-systems/CityEnergyAnalyst <CityEnergyAnalyst@noreply.github.com>
Cc: Sulzer, Matthias <Matthias.Sulzer@empa.ch>; Mention <mention@noreply.github.com>
Betreff: Re: [architecture-building-systems/Cit

[2020-03-20 15:41] #2649 closed

[2020-03-20 15:49] #2644 closed

[2020-03-21 13:11] reyery commented on #2645
Ah of course! The data for the leap day is actually in the weather file! That is why DAYSIM has the information for the extra rows, since it is reading straight from the file, albeit the converted one. There is nothing wrong with what DAYSIM was doing but how we are reading the weather file on our end.

![image](https://user-images.githubusercontent.com/34395415/77226931-feb95480-6bb6-11ea-9a7d-aa

[2020-03-21 13:22] AlexJew opened #2655 "Archetypes Mapper + Database Editor - Unable to map schedules"
**Describe the bug**
The Archetype mapper is not able to map a **Schedule** from the database **USE-TYPES** and from the input file **typology.dbf** . The Archetype Mapper ran properly for the other mappings. The error kept on arising even after changing all the **1ST_USE** field to 'MULTI_RES' and assigning the **archetype** database from the default database CH in **Database Editor > Assign Data

[2020-03-21 13:38] reyery commented on #2655
@AlexJew, I believe this bug is fixed in commit https://github.com/architecture-building-systems/CityEnergyAnalyst/commit/763771e8554b3c336aaf0f7d90dfe4a20d27d3c8 upstream. We will be releasing the next version really soon, which would include this fix.

[2020-03-22 10:26] AlexJew commented on #2655
@reyery ok thanks. I do not understand why are all the other mappings working then? The **Archetypes Mapper** is able to select values from typology.dbf when building achitecture.dbf (from **STANDARD** field) or when building indoor-comfort.dbf (from **1ST_USE** field).

[2020-03-22 10:36] AlexJew opened #2656 "CEA Dashboard > Data Editor - Cutting the right border of data tables"
**Describe the bug**
The GUI cuts the right border of data tables in **Data Editor** when they almost fit in the entire screen.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to **Data Editor**
2. Open a data table (ex: CONSTRUCTION-STANDARDS > STANDARDS_DEFINITION in my case)

**Expected behaviour**
A lower scrolling bar for all databases too wide to fit in the screen.

**Screenshots**

[2020-03-22 10:50] AlexJew opened #2657 "Data Initializator - Unable to found "archetypes" database in SG default database or"
**Describe the bug**
When creating a new scenario and choosing a database path, the following error appears.

[code]

This happens with:
- the SG default database
- a personal database

Strangely, it doesn't happen with the CH default database.

Here's the full error :

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Create new scenario in CEA
2. Select either the SG database or a cus

[2020-03-22 10:57] AlexJew opened #2658 "As a User, I would like to be able to delete created Use-Types"
**Describe the feature you would like to have**
I would like to be able to delete Use-Types from the database I am using.

**Describe the end purpose of this feature**
This applies particularly to use-types created by the user. It may happen that after creating a use-type, we realise that we badly initialised it (ex: wrong share of two different use-types) or that we made a typing mistake in the n

[2020-03-22 11:34] #2589 closed

[2020-03-22 11:34] #2597 closed

[2020-03-23 00:35] JIMENOFONSECA commented on #2645
I think we need to leave out the 29th of February (which is the difference with the leap year). The best is that the epw reader do this check, if 29th of february exist, then erase the day. Confirm that the file has 8760 entries.

On 21 Mar 2020, 21:12 +0800, Reynold Mok <notifications@github.com>, wrote:

Ah of course! The data for the leap day is actually in the weather file! That is why DAYSIM

[2020-03-23 08:37] #2615 closed

[2020-03-23 08:39] oskarinis opened #2660 "Raw data explanation"
As a Practitioner I would like to have a raw data explanation access. For example, what is the meaning of "o mww_zone_kWperC" in Sewage heat potential raw data? Or "DH_ww_tonCO2" in Emissions raw data? Could you please let me know what exactly do they mean?

Any raw data file contains plenty of shortcut names for some specific parmeter and some of them are really hard to figure out. Then the raw d

[2020-03-23 09:19] reyery commented on #2655
The function that was causing the bug is only used when calculating mixed schedules (I guess it was an attempt to optimize not recalculating the same use type multiple types). So it does not affect the other mappings.

[2020-03-23 09:29] emanuel030 opened #2661 "Assembly database outdated"
![image](https://user-images.githubusercontent.com/26175926/77299284-347d4b00-6d27-11ea-81a5-9aada69d6b89.png)

The assembly database, in particular data cost calculations seems to be inaccurate and outdated.
For my research, I am searching for accurate data on CAPEX_USD2015, O&M_% and IR_% for cooling systems in Singapore.

 I would be very grateful for any help or hints regarding the update of t