[2019-07-03 07:13] #2126 closed

[2019-07-03 07:19] lguilhermers opened #2131 "Enhancement: support to copy/ paste to Excel from Building Properties tables"
Would be good if I could easily copy/paste the tables shown in the building properties tables. This would support some excel functions to be used in those cases.

Those tables and the selections were very good additions, by the way! Kudos to the team!

[2019-07-03 07:48] reyery opened #2132 "More informative `500` status error message for dashboard"
Currently in the dashboard, an error in the program will cause flask to respond with a generic `500` message i.e. `Internal Server Error`. Some users have been using this error message to report new issues however this does not provide us with any information regarding the cause of the error.

It will be good if the `500` status page could provide information such as the stack trace so that users

[2019-07-03 08:00] #2132 closed

[2019-07-03 09:34] #2130 closed

[2019-07-03 10:37] daren-thomas opened #2135 "cooling-case-workflow crashes during multi-criteria-analysis"
The `cooling-case-workflow` has stopped working. The issue seems to be in the `multi-criteria-analysis`. It looks like a variable (`df_current_individual`) was renamed or something.

[code]

[2019-07-03 10:38] daren-thomas commented on #2135
@JIMENOFONSECA is this something you could handle?

[2019-07-03 12:20] JIMENOFONSECA commented on #2135
yesp I am on it, expect something by the end of the week (ps, I have been working for 3 days straight on this) :S

[2019-07-04 02:34] reyery opened #2136 "Bugfixes for input editor in dashboard"
There still a few bugs that need to be squashed before it is fully usable.

[2019-07-05 01:07] SyrinxS commented on #2114
v2.17 reports the same error

[2019-07-05 02:26] reyery commented on #2114
@SyrinxS hmm. Sorry it took a while, not being able to recreate the problem on our end makes it hard to find the source of the problem. Fortunately, after looking around, I think this is caused by some other software that you have installed on your computer.
See https://conda.io/projects/conda/en/latest/user-guide/troubleshooting.html#numpy-mkl-library-load-failed.

However since the python that o

[2019-07-05 02:34] reyery commented on #2131
hey @lguilhermers really appreciate the feedback and suggestion! Could use elaborate on what you mean? Do you mean being able to export the table as an excel file?

[2019-07-05 02:54] lguilhermers commented on #2131
This would also be something good, but what I meant was it would be good if I could copy the building properties table (like the one below) and paste them or part of them excel. Then if I do any manipulations on excel I would be able to paste it back as well.
Basically it would mean to treat those tables as excel cells in terms of selection, copying and paste, then you can pretty much use any exce

[2019-07-05 02:57] lguilhermers opened #2138 "area error message does not show all buildings under 100m²"
somehow this error message is missing many buildings

example from a case study:
!!!Warning!!!, the next list of buildings have less than 100m2 of net area, CEA does not handle well thsesbuildings, it might be that CEA fails: These are the buildings[u'B1027', u'B1048', u'B1083', u'B1133']

this (any many other) building was not listed there
![image](https://user-images.githubusercontent.com/509810

[2019-07-05 02:57] reyery commented on #2111
@TheoBreidenstein you should change the coordinate system of your terrain file to a projected coordinate system (UTM) and you can do this with QGIS or ARCGIS.

[2019-07-05 04:02] gabriel-happle commented on #1848
second survey sent out via mailchimp to 250 recipients on 05.07.2019

[2019-07-05 04:02] #1848 closed

[2019-07-05 04:05] gabriel-happle opened #2139 "Analyze results of second CEA user survey"
Second survey was sent on 05.07.2019, see #1848
Prepare presentation of results after sufficient responses are received.
Update survey for third round on 01.10.2019

[2019-07-05 05:57] reyery opened #2140 "Redesigning the dashboard"
Currently our dashboard layout is vertically stacked with one plot on top of another. This would mean that users would have to scroll down to see all the plots that they have added.

We could improve on this layout by making the plots all in one page instead so that the user can see all the plots in one glance without having to scroll down the page (the whole point of a dashboard).

One of the lay

[2019-07-05 07:05] reyery commented on #2138
I found out there is a difference in calculation for the area of the buildings.

The area in the map is calculated as `footprint area` while for the `demand` script is: `footprint area * floors above ground`.

@JIMENOFONSECA my findings regarding the `"less than 100m²"` error is tested based on `footprint area`, so the error in the `demand` script might not be accurate.

[2019-07-05 07:26] reyery opened #2141 "Adding input validation for input editor in dashboard"
Currently, the input editor in the dashboard only does basic input validation i.e. `string or number`. This is not enough as there are some constraints on inputs such as those in `occupancy` where the sum of the columns must be equal to 1 since each column is the fraction of the gross floor area.

Instead of writing such constraints one by one for each table in javascript, the `schema.yml` should

[2019-07-07 09:11] #1865 closed

[2019-07-07 09:11] #2098 closed

[2019-07-07 09:25] Jack-Hawthorne opened #2142 "document and proof naming_new.csv"
There are a number of missing variable descriptions, colors etc... within the naming_new.csv, labelled "TODO", which need to be documented appropriately and subsequently proofed.

[2019-07-07 09:35] Jack-Hawthorne opened #2143 "proof and edit the default.config documentation"
Proof read the default.config for spelling errors/grammar mistakes (help text etc...) and compile a list of missing information.

[2019-07-07 09:45] Jack-Hawthorne commented on #2142
[code]

[2019-07-08 02:27] lguilhermers commented on #2138
Hi @reyery , well observed and based on what I saw your comments make sense.

What I also found interesting is that I ran a case study with many buildings with footprints smaller than 100m² and had almost no errors regarding it. If you want the case-study to help investigating why this error happens just to some buildings, I can send to you.

Regards,
Luis

[2019-07-08 08:34] shanshanhsieh opened #2144 "data helper tool requesting output as input"
The data helper tool is requesting two input files that should actually be the output from the script.
Therefore, resulting to an missing input error.
It should be fixed by changing the specification in `scripts.yml`
![image](https://user-images.githubusercontent.com/16998305/60795396-2dfd7200-a19e-11e9-8493-b65ea19c5ec6.png)

[2019-07-08 09:32] JIMENOFONSECA opened #2146 "Decentralized cooling and heating are not connected to the Optimization"
We found that there is not a feedback loop between the electricity and fuel requirements from the decentralized optimization into the district optimization.

The scripts affected are

optimization_preprocessing_decentralized_main
optimization_master_electricity_main

The tasks are:

1. change the decentralized scri[pt to receive one parameter at the time (ahu, aru etc) No more use of single flags.

[2019-07-08 10:47] #1971 closed

[2019-07-08 12:20] #2144 closed

[2019-07-08 12:45] daren-thomas commented on #2123
@DespaxJulien this was fixed and merged to master as part of PR #2145.

To get it to work with your scenario, either start again, or, delete the "technologies/archetypes" folder in your scenario inputs. I'm closing this for now, but feel free to re-open if it doesn't fix your problem.

[2019-07-08 12:45] #2123 closed

[2019-07-08 14:02] daren-thomas commented on #2131
@lguilhermers depending on which tables you need to edit (*.dbf or *.shp), the CEA actually provides tools to export them to Excel and import them back. Check the Tools/Utilities category in the navigation sidebar. E.g. the `zone.shp` file has a bunch of similarly named files with different endings. If you edit the `.dbf` file using this method, just make sure you don't change the `Name` column. A

[2019-07-08 14:05] daren-thomas commented on #2140
The main issue here is that a lot of our plots are time-series plots with time on the x-axis. So they tend to be wider than high. That's why it's currently the way it is. BTW: The plotting system doesn't need to change to do multiple next to each other, so feel free to try this out.

[2019-07-08 14:07] daren-thomas commented on #2141
We could model this similar to how SQL databases specify this information. Maybe check sqlalchemy which a) is already a dependency of the CEA and b) includes ways to define this kind of stuff.

[2019-07-08 14:09] daren-thomas commented on #2142
@Jack-Hawthorne `naming-new.csv` has been moved to `glossary.csv`.

[2019-07-08 14:12] daren-thomas opened #2147 "Fix typos in error message for buildings with areas < 100m2"
"!!!Warning!!!, the next list of buildings have less than 100m2 of net area, CEA does not handle well thsesbuildings, it might be that CEA fails: These are the buildings[u'B1027', u'B1048', u'B1083', u'B1133']"

Just saw this message in a user-reported bug. There are so many things wrong with this error message. Let's fix it!

@JIMENOFONSECA I'm assigning this to you as I think you know exactly wh

[2019-07-08 15:23] JIMENOFONSECA commented on #2147
Hi Daren, I am busy with the optimization, you can search the message by doing ctrl+shift+f. It is a very cool feature of pycharm. Absolutely anything can be found with that command..

_______________________

Dr. Jimeno A. Fonseca
Senior researcher and project coordinator
Future cities Laboratory
Singapore ETH-Centre

Chair of Architecure and Building Systems
ETH Zurich

On 8 Jul 2019, 22:12 +080

[2019-07-09 02:11] lguilhermers commented on #2131
Noted, Daren! Thanks for the suggestions! :)

[2019-07-09 03:07] gabriel-happle opened #2148 "interface: when accidentally a wrong "project folder" is opened, CEA will create folders there"
When unintentionally opening a random folder with `open project` in the GUI, the CEA will create a folder `input` in that location.
This is not desired.

Assigning @reyery and @daren-thomas. Priority, etc. TBD.

[2019-07-09 08:21] daren-thomas opened #2149 "Show confirmation message when leaving input editor after "Edit Selection" without saving"
Steps to reproduce:

- open input editor
- select some buildings on the map
- click "Edit Selection"
- make some changes
- click "OK"
- navigate to another page (e.g. "Dashboard")

Expected: Confirmation message.
![image.png](https://images.zenhubusercontent.com/57b40957e40e5714b16d7331/8209318b-27c0-45f1-8315-53c40317a158)

Buggy behavior experienced: No message. Changes are discarded.

[2019-07-09 08:21] #2136 closed

[2019-07-09 08:38] daren-thomas commented on #2117
@reyery have you started on this yet? I could also give it a shot, you know...

[2019-07-09 08:40] reyery commented on #2117
@daren-thomas not yet. I'm currently busy with #2140. Go ahead if you want to :)

[2019-07-09 08:49] reyery commented on #2149
@daren-thomas I just tested this and it works on my side (both Firefox and Chrome). Do the `changes` object show up in the web console after editing the selection? The alert is triggered when `changes` is not empty.

[2019-07-09 09:32] daren-thomas commented on #2149
![image](https://user-images.githubusercontent.com/2969564/60876823-eed22e00-a23c-11e9-949e-eb3f8e6782ee.png)

Am I doing something wrong?

[2019-07-09 09:36] reyery commented on #2149
Oh sorry I meant `inputstore.changes`, either `update` or `delete` property should not be empty

[2019-07-09 10:48] daren-thomas commented on #2149
you're right. it works. thank you!

[2019-07-09 10:48] #2149 closed

[2019-07-09 15:47] DespaxJulien commented on #2060
@reyery I think I understood the problem
For some reason, the GIS coordinates system of my `zone`and `district`geometry (WGS 84 / UTM zone 31N) was not the same as the `terrain`coordinates system (WGS 84 / UTM zone 30N).

The trick is that the `terrain`can be at the good location (i.e. beneath the `zone`and `district`) but with a different coordinate system.

I think this error may occur when user

[2019-07-09 15:47] #2060 closed

[2019-07-09 15:58] DespaxJulien opened #2150 "Internal server error when running Plots basic and Dashboard plots"
Hi,

when I try to run the `Plots basic` tool, the dashboard turn into an error page indicating

 (see picture attached).

I get the same problem when trying to add plots on the dashboard.

Steps I followed:

- Running `Solar radiation (Daysim engine)` (which worked fine: I got the CSV files in my scenario folder)

- Running `Demand` (which worked fine: I got the CSV files in my scenario folder)

[2019-07-09 15:58] TheoBreidenstein commented on #2111
Thank you for your answer,

Actually, it doesn't change anything. I still have the error message : **_ValueError: ERROR: this usually happens when buildings do not overlap with the terrain, try to check if this is the case_**
My files are located in Lisbon PT. I don't know if it is the reason of the problem. Because, when I run the tool with the reference-case-open, it works.
And when I try to cre

[2019-07-09 16:03] TheoBreidenstein commented on #2111
That is my last < cea radiation-daysim > - output

City Energy Analyst version 2.16
Running `cea radiation-daysim` with the following parameters:
- general:scenario = C:\Users\theob\Desktop\IN+\Projets\Lisbon\reference-case-open\baseline
  (default: C:\reference-case-open\baseline)
- general:weather = C:\CityEnergyAnalyst\Dependencies\Python\lib\site-packages\cea\databases\weather\Zug.epw
  (defau

[2019-07-09 17:40] RicardoGomesIST opened #2151 "Compatibility issue with Microsoft Edge for input editor"
Very basic question I guess. I just started using CEA. I opened one of your examples and I cannot visualize the inputs as other colleague of mine does, doing the same.. (apparently). Thank you very much. first picture my case, 2nd my colleague case

![ScreenHunter_147 Jul  09 18 34](https://user-images.githubusercontent.com/52715280/60910283-4641bf80-a278-11e9-8145-8d957d2a1b8d.jpg)
![image](https

[2019-07-10 02:28] reyery commented on #2151
Hey @RicardoGomesIST thanks for reporting this issue. From what I can see, it seems that you have a newer version of the CEA tool than your colleague.

Besides that, could you elaborate on what kind of issue you are facing? If there is nothing showing up could you show me what you see in the web console (Chrome: Options > More tools > Developer tools > Console | Firefox: Options > Web Developer >

[2019-07-10 02:37] reyery commented on #2150
Hey @DespaxJulien thanks for reporting this issue. Could you paste the error from the Dashboard console?

If you need to see the plots, in the meantime you could try out the Dashboard feature.

<img width="297" alt="Capture1" src="https://user-images.githubusercontent.com/34395415/60936123-9cf1dc80-a2fe-11e9-8634-0f4d87f7ed9c.PNG">

[2019-07-10 08:21] DespaxJulien commented on #2150
@reyery the issue is that there is no dashboard console when I run `Plots Basic`.

Like, when I click on `Plots basic`, the `Internal Server Error` displays instantly, without any console.

I tried to visualize the plots in the Dashboard feature, as you suggested, and I get this:

- For most of the plots (like `Load curve`, `Energy demand`, `Energy supply`...), I get the same `Internal Server Erro

[2019-07-10 10:33] RicardoGomesIST commented on #2151
Thank you Reynold for your fast reply. Yes, my issue is that in nothing showing up in the inputs button and I was not able to proceed with the case study analysis.

Regarding the info from the web console, I guess this is enough:
run_datatables
init_compose
run_customtabs
SEC7115: :visited and :link styles can only differ by color. Some styles were not applied to :visited.
building-properties (1,1

[2019-07-10 14:23] daren-thomas commented on #2150
@DespaxJulien The Dashboard console @reyery means is the minimized console that is opened when you run the "CEA Dashboard" shortcut. It shows up in the taskbar:

![image](https://user-images.githubusercontent.com/2969564/60976845-bd398f80-a32e-11e9-8cfe-ca329a3109ea.png)

If you open it, you can see output from the local server running the CEA Dashboard:

![image](https://user-images.githubusercon

[2019-07-10 15:12] DespaxJulien commented on #2150
@daren-thomas Oh I see! Sure, here is the slacktrack starting at the moment I ran `Demand` tool, all the way to the bug.

I also attached a picture of the console.

The steps I followed :

- Running `Demand`, which worked fine: I got 2 CSV files in my folder (one for the total and one for my only building which is called PM4).

- Running `Plots basic`, then I get the error.

![Capture](https://use

[2019-07-11 07:07] daren-thomas commented on #2150
@DespaxJulien brilliant! I think it's obvious now, where the problem is. Our bad. I'm sorry. We'll prioritize this for the next sprint!

As a quick work-around for you to continue, open up your `cea.config` file (there should be a shortcut in the start menu to open it with notepad.exe) and search for `B1000` (should be the value of a `buildings` parameter. Rename that to `PM4`. I think that should

[2019-07-11 07:30] daren-thomas commented on #1890
Progress report: Green light from Kianwee to work on a PR to fix similar issues and he'll merge then. @reyery 's PR got merged. I suggest we fix the other `os.system` calls and then create a PR with a new version number so we can have a new version on PyPI. In the meantime, we're shipping our own environment anyway, so we could use the GitHub version no problemo. I'll add that to the next release

[2019-07-11 07:46] gabriel-happle opened #2152 "`data-helper` must respect existing scenario databases"
The `data-helper` creates a copy of the archetypes databases in the scenario folder.
If I want to modify my archetypes, I will change values in this local databases.
But then how do I apply these changes?
If I run the `data-helper` again, it will overwrite the archetypes with the default database and hence never be able to apply changes...

We must have an option to use the existing scenario datab

[2019-07-11 09:21] #1857 closed

[2019-07-11 09:25] TheoBreidenstein commented on #2111
Hello,

I succeed to run the simulation tool and to fix the terrain issue by following the solution of @DespaxJulien in #2060.
The fix is to put terrain.tif, and all other shapefiles in the same coordinate system and in a UTM coordinate system. Actually, I had my district.shp which stayed in WGS 84 / Pseudo Mercator.

Thank you for your help.

[2019-07-11 09:25] #2111 closed

[2019-07-11 09:30] #1956 closed

[2019-07-11 09:31] daren-thomas opened #2153 "Go through glossary.csv and find all missing information / spelling errors"
- afterwards: create task to move plots to use glossary.csv instead of naming.csv (remove that)

[2019-07-11 09:36] daren-thomas commented on #2024
Can we have a PR for this please?

[2019-07-11 09:43] martin-mosteiro commented on #2016
The issue could not be replicated, so we will not work on it unless it occurs again

[2019-07-11 09:43] #2016 closed

[2019-07-11 09:44] #1834 closed

[2019-07-11 09:49] daren-thomas commented on #2025
@shanshanhsieh check this quickly in the current interface to see if it is still an issue. the problem is probably in the `scripts.yml` file.

[2019-07-11 09:50] #2054 closed

[2019-07-11 09:51] #1989 closed

[2019-07-11 09:53] daren-thomas commented on #2030
update the 0 solution for CH archetypes please.

[2019-07-11 09:55] daren-thomas commented on #2030
CH Archetypes specify process heat, SG Archetypes don't. User should override as necessary.

[2019-07-11 09:55] #2030 closed

[2019-07-11 09:57] daren-thomas commented on #2051
@martin-mosteiro will decide on course of action for next sprint.

[2019-07-11 10:11] martin-mosteiro opened #2154 "Error in a formula in the documentation on occupant schedules"
The [occupant schedule documentation](https://city-energy-analyst.readthedocs.io/en/latest/how-are-schedules-defined.html) has a mistake in one of the formulas.

Where it says `T01(t)=(μ−1)/μ*P(t)+P(t+1)` it should be `T01(t)=(μ−1)/(μ+1)*P(t)+P(t+1)`.

@Jack-Hawthorne Could you please correct that? Thanks!

[2019-07-11 10:14] daren-thomas commented on #2036
let's copy archetypes as part of scenario creation and de-couple it from data-helper. let's revisit the workflow here.

[2019-07-11 10:16] #2113 closed

[2019-07-11 13:24] DespaxJulien commented on #2150
@daren-thomas thanks for your quick answers!

I tried to run it by replacing `B1000` with `PM4`, but then the console returned `ConfigError: Invalid choice B1001 for plots:buildings, choose from: ['PM4']` (same as before except it's `B1001`).

So I tried to delete `B1001` to `B1006`, keeping only one building in my `cea. config` file (`PM4`).

With that, I'm able to access the menu of the `Plots b

[2019-07-11 15:06] RicardoGomesIST commented on #2151
the problem is that by default the CEA launches Microsoft Edge and didn't work... I tried in Chrome and looks good. Thanks anyway! best

[2019-07-11 15:59] reyery commented on #2151
Ah great! Glad to know that it works for you now. Will definitely look into browser compatibility, since we currently only test it on Firefox and Chrome. Thanks for alerting us of this issue!

[2019-07-11 16:06] TheoBreidenstein opened #2155 "Buildings underground will throw an error in the solar radiation."
Hello,

When I run Solar Radiation (Daysim engine), I have **_RuntimeError: Standard_ConstructionError_** message which occurs some times.

It only occurs with my complete zone.shp (23 buildings) but not with a simplified model with only one of those.
Could you help me to understand how to deal with it ?

Thank you,

**_`<cea - radiation-daysim> - output`_**

[2019-07-12 06:50] JIMENOFONSECA opened #2156 "Tables should be a link in the plots (do not visualize them)"
So plots have some tables. However, it would be better to include a button on the top right of every plot that takes me to this table (like a pop-up or a new screen)

It is rather difficult to use them like they are.

@daren-thomas would you mind creating a class and a structure to handle this event? thanks!

[2019-07-12 08:19] daren-thomas commented on #2156
@JIMENOFONSECA the plotting system already handles this - it is a purely front-end matter :)

[2019-07-12 08:21] daren-thomas commented on #2155
@TheoBreidenstein this seems to be a problem with building  `B35654`. Could you check that geometry please? What does the footprint look like?

[2019-07-12 08:24] daren-thomas commented on #2150
@DespaxJulien thank you for helping debugging this. We'll need to take a closer look. I'll get back to you as soon as I know more.

[2019-07-12 08:24] JIMENOFONSECA commented on #2156
cool, should we implement it straight away?

________________________________
From: Daren Thomas <notifications@github.com>
Sent: Friday, July 12, 2019 4:19:16 PM
To: architecture-building-systems/CityEnergyAnalyst
Cc: Jimeno Fonseca; Mention
Subject: Re: [architecture-building-systems/CityEnergyAnalyst] Tables should be a link in the plots (do not visualize them) (#2156)

@JIMENOFONSECA<https://g

[2019-07-12 10:02] TheoBreidenstein commented on #2155
@daren-thomas thank you for your precise answer. Actually, building `B35654` is in the district but not in the zone. Its floor_ag and height_ag was both 0. That is why it didn't work. I try to change the building saying floor_ag=1 and height_ag=4. The simulation tool ran well.

This data come from the city council. It is possible that there is some outliers in the database.

[2019-07-12 14:05] daren-thomas commented on #2155
i guess that means the building is below-ground only. like an underground park space or something. since the district is used for radiation analysis and a below-ground building wouldn't cast a shadow it could also be deleted. that is, unless the data is just incorrect. i guess you need to find that out for each specific case.

[2019-07-13 07:02] Jack-Hawthorne commented on #2154
no worries, ill do it now

[2019-07-13 07:20] Jack-Hawthorne commented on #2153
@daren-thomas has the schema.yml been completely updated yet? the naming_new.csv used the old naming.csv and the old glossary.csv to grab the descriptions and colors etc... to salvage information.

if so, has the `cea doc update naming` been run? i would like to make sure the glossary.csv is fully up to date before proof reading and filling in missing information.

[2019-07-13 17:23] #2154 closed

[2019-07-15 09:06] daren-thomas commented on #2048
see https://cityenergyanalyst.com/blog/2019/7/11/modeling-building-occupants-in-the-cea-part-1-deterministic-schedules for the first in a series of three posts :)

[2019-07-15 09:06] #2048 closed

[2019-07-15 09:07] daren-thomas commented on #1870
@reyery how can we get this merged?

[2019-07-15 09:43] daren-thomas commented on #2153
@Jack-Hawthorne we're not talking about the same glossary.csv I think. I'm talking of `cea/glossary.csv` which we newly added by moving `naming_new.csv`.

No, the data is not complete, mainly, because the optimization stuff is being refactored as we speak. I still think it's possible to proofread what we have so far - you can always use the diff to check the new stuff when we add that. I think thi

[2019-07-15 09:50] reyery commented on #1870
@daren-thomas I am still getting the same error regarding something about checkpoints.
[code]

We could merge #2090 first if you want since you mentioned that it includes other fixes, then I submit another issue regarding the error above?

[2019-07-15 11:31] daren-thomas commented on #1870
I'm pretty sure that's because the generation is set to 3 by default and you only have data for 2 generations. but also, those plots are all going to be changed by jimeno anyway, so not merging because of obsolete plots isn't a good idea.

instead, test with other plots to see if the parameters are being set / saved properly. the issue was mainly with parameters that had hyphens in them. and also

[2019-07-15 11:36] #1890 closed

[2019-07-15 11:45] daren-thomas commented on #2031
@gabriel-happle does it matter which buildings are assigned which uses? there are 16 uses configured and 10 buildings - the easiest would be to assign two uses to each building, round-robin fashion. That way all uses are tested. Would that work?

[2019-07-16 07:59] reyery commented on #2156
I can implement this since I'm working on the dashboard plot layout.

[2019-07-16 10:58] daren-thomas commented on #2150
@DespaxJulien I have tried to reproduce your issue in [PR 2160 ](https://github.com/architecture-building-systems/CityEnergyAnalyst/pull/2160) by:

- starting off with a `reference-case-cooling` (using `cea extract-reference-case --case cooling`)
- deleting all the buildings except `B001`
- renaming `B001` to `PM4` (with the new script in that PR `cea rename-building --old B001 --new PM4`
- deleti

[2019-07-16 12:42] daren-thomas commented on #2148
it seems, the `inputs` folder is never created when opening a "project", but it _is_ created when opening a scenario afterwards.

[2019-07-17 02:03] #1870 closed

[2019-07-17 07:57] Jack-Hawthorne commented on #2153
@daren-thomas no worries, i shall finish off the default config help descriptions then move to this one asap.

[2019-07-17 09:11] daren-thomas opened #2163 "Keep plots in their slots in map dashboard when deleting / adding plots"
When deleting the plot next to the map (by clicking the X top-right), I expected that plot slot to be free again. instead, the plots all "moved up". I then went and tested adding a plot to an empty map dashboard, by selecting the last slot (lower-right position) and there the same behavior.

Also, changing the order of the plots doesn't seem to be possible. Could this be added?

[2019-07-17 09:15] daren-thomas commented on #1541
hey, @JIMENOFONSECA I just saw this issue and it contains some goals for refactoring the optimization. Since you're doing that now, I thought you might be interested in some of the thoughts I had on this issue back then - the part about the file count is still relevant in my opinion. Also refactoring towards the deap tutorial skeleton seems prudent - as long as that's still how we do optimization.

[2019-07-17 09:22] Jack-Hawthorne commented on #2143
@JIMENOFONSECA going through the default config thoroughly i noticed these params:

[code]

are they necessary? the folder containing the scenarios is just the project dir, no?

[code]

[2019-07-17 11:08] daren-thomas opened #2165 "Move scenario-plots and benchmark-graphs to the new plotting system"
These are old relics, we'd first need to check if they even still work and then move them to the dashboard plotting system - and remove them as separate tools.

[2019-07-17 11:11] daren-thomas commented on #2143
@Jack-Hawthorne the `scenario-plots:project` and `benchmark-graphs:project` parameters were created long before the concept of `general:project` came about. So, it's a historical artifact. #2165 - I created a separate issue to deal with that.

Regarding `extract-reference-case` - the extracted reference-case is actually a whole project folder. The default destination could also be set to `{general

[2019-07-17 12:58] Jack-Hawthorne commented on #2143
I've completed the first run through and have come up with the following things i wasn't 100% on:
[code]

[code]

[code]

[code]

[code]

[code]

[code]

[2019-07-17 13:06] Jack-Hawthorne commented on #2143
there are also some double ups:
- thermal-network and thermal-network-optimization are very very similar. not sure what the differences are in terms of function.
- network-type is used for a great deal of scripts and might be worth putting as a global param (apart from plots).

[2019-07-17 15:50] liaochenxi opened #2167 "cea dashboard v2.18 create new project"
hello, i just downloaded the latest version cea dashboard v2.18, when i am trying to create a new project, i have several problems. The first one is when i click the button, im not able to select a path.
(<img width="401" alt="image" src="https://user-images.githubusercontent.com/37850333/61389990-33ec0500-a8ba-11e9-92c3-a04e711dfbbd.png">)
The second one is when generate the input files, its alwa

[2019-07-18 02:54] reyery commented on #2163
Yeah I did notice that too. But because the `Dashboard` class stores plots in an array, we can't insert a `Plot` into a specific index, unless we have other "dummy/empty" `Plot` objects to fill the array.

We could try storing an index/id property to `Plot` then have the `layout` property in `Dashboard` to also store the order of the plots e.g. `[None, None, 'PlotID1', None]`. Frontend will go thr

[2019-07-18 09:01] daren-thomas commented on #2167
@liaochenxi could you please specify what browser you are using?

[2019-07-18 09:16] liaochenxi commented on #2167
hello, im using IE 11

[2019-07-18 09:29] liaochenxi commented on #2167
@daren-thomas I’m using IE 11

[2019-07-18 11:22] daren-thomas opened #2168 "Add REST API to Dashboard for locating stuff"
Examples:

- GET http://localhost:5000/locator/get_zone_geometry/<project>/<baseline>
- GET http://localhost:5000/locator/get_weather/<project>/<baseline>
- POST http://localhost:5000/locator/get_total_demand/<project>/<baseline>

This would assume the dashboard is configured with a default project location (I suggest `C:\User\<user>\Documents\CityEnergyAnalyst\projects`) on Windows, i.e. a new pa

[2019-07-18 11:29] daren-thomas opened #2169 "Make the "Project / Scenario" bar at the top of the Dashboard prettier / more functional"
Let's assume we add a `{dashboard:projects-root}` config parameter. Then the Dashboard UI could be set up so that the current project and current scenario are shown as dropdowns here:

![image.png](https://images.zenhubusercontent.com/57b40957e40e5714b16d7331/cdacd47d-12cf-4e6b-a10b-d416118bf110)

To keep the behavior compatible with current behavior, we could just set `{dashboard:projects-root}`

[2019-07-18 11:35] daren-thomas opened #2170 "Manage Dashboards page should use links"
The Actions column in the Manage Dashboards page (`http://localhost:5050/plots/dashboard/manage`) has three options (Open, Rename, Delete):

![image.png](https://images.zenhubusercontent.com/57b40957e40e5714b16d7331/7623db95-d787-4b0e-85de-ac6da9438669)

I was expecting to be able to click on a row in that table and have it open up the dashboard (we don't need the `Open` action).

The actions are

[2019-07-18 11:38] daren-thomas opened #2171 "Show plot table in a modal dialog instead of separate window"
Currently, when showing a plot table, the Dashboard (as of PR #2162) opens the table in a separate window:

![image.png](https://images.zenhubusercontent.com/57b40957e40e5714b16d7331/affcb6df-a3ab-4c2c-aefd-69821aac6148)

I was wondering if it wouldn't be better / prettier to put it into a modal dialog.

[2019-07-18 11:43] daren-thomas opened #2172 "Clicking twice on the plot table icon does not bring the already-open window to forefront"
Steps to reproduce:

- open Dashboard
- choose a plot, click the table icon
- (a window opens showing the table)
- click the table icon again (the window is now in the background)

Expected: window to move to the foreground

Buggy behavior: table window stays in the background, also when brought to the foreground manually, the CSS doesn't seem to be loaded:

![image.png](https://images.zenhubuserc

[2019-07-18 11:43] daren-thomas commented on #2172
This is probably moot if we implement #2171

[2019-07-18 11:47] daren-thomas opened #2173 "Don't display table icon for plots that don't have a table"
This one might be a bit harder to figure out, but, some plots don't have a table:

![image.png](https://images.zenhubusercontent.com/57b40957e40e5714b16d7331/e13b5e2f-d00f-459e-8f59-59da57d72044)

The table icon should probably be disabled for these plots (but how to find out without loading the table?)

[2019-07-18 11:48] daren-thomas commented on #2173
Suggestion: start pre-loading tables as soon as plots are loaded and use that information to update the table icon (remove it / disable it + change the icon to slashed-circle or something)

[2019-07-18 11:50] #2140 closed

[2019-07-18 11:50] #2156 closed

[2019-07-18 12:43] martin-mosteiro commented on #2143
@Jack-Hawthorne I'll try to answer as best as I can!

Sounds good, but this parameter was originally included by @BhargavaKrishnaSreepathi I believe, so I'm not too familiar with it.

"The end year considered for the ~the~ embodied emission calculations."
Also, I'm not sure "end year" is a better term. The point is, if `year_to_calculate - year_built <= 60`, then embodied emissions are considered

[2019-07-18 15:26] daren-thomas commented on #2167
@liaochenxi we should probably add this to the known issues: I think the dashboard doesn't really work with Internet Explorer. We test on Chrome and Firefox. Is it possible for you to use one of those?

[2019-07-19 02:44] reyery commented on #2114
Hey @SyrinxS just wanted to know if this issue has been resolved?

[2019-07-19 05:03] JIMENOFONSECA opened #2174 "Fix margins inside plotly"
Hi Daren,

would you mind helping us to fix the margins inside the plotly diagrams? I think that is a property of the layout of each plot. Maybe some property that can be put into Plotbase?

See how the plots get squeezed due to big margins (the white area around each plot) by default in plotly.

![image](https://user-images.githubusercontent.com/8973186/61510424-5a7a7f00-aa25-11e9-9dea-f118c3a84b

[2019-07-19 05:05] gabriel-happle commented on #2031
sure. why not.

[2019-07-19 05:06] gabriel-happle commented on #2024
@daren-thomas can we have a meeting about this? Maybe today or next week?

[2019-07-19 05:53] gabriel-happle opened #2175 "Clarify main-use determination of buildings with exactly equal use mix"
How is this currently done?
At least there should be some message output to the user. E.g.,
"Main use for B001 with an equal share of OFFICE and MULTI_RES determined to be MULTI_RES. Change occupancy slightly to override default behavior."
Or something like this.

Or, maybe let the user define the main use.

See #2159

[2019-07-19 05:58] gabriel-happle opened #2176 "Check energy demand in cooling case of the following functions"
Check energy demand in cooling case of the following functions
- Foodstore
- Coolroom
- Gym
- Swimming

In #2159 it was noted that the energy demand for buildings of a combination of the above-mentioned uses seem to have a comparatively low energy demand in the cooling case.
It might be related to refrigeration loads being very low or similar issues.
The purpose of this issue is to check whether a

[2019-07-19 07:16] gabriel-happle opened #2177 "Dear users, please fill in this survey to help us develop the CEA"
@liaochenxi
@TheoBreidenstein
@RicardoGomesIST
@lguilhermers
@SyrinxS
@kerembeygo
@emanuel030
@FionaCollins
@petkovevan

Dear user of the CityEnergyAnalyst,
We hope you like our [new installer](https://cityenergyanalyst.com/blog/2019/6/3/how-to-install-the-cea-on-windows-part-1), the [new dashboard tool](https://cityenergyanalyst.com/blog/2019/6/28/getting-started-with-your-own-project-1) - an eas

[2019-07-19 08:39] reyery commented on #2174
Is it possible to update the `plotly` module for python to the latest version? The new version exports the plot divs as 'reactive' so that it fits itself to the size of the container even when resizing the window. It also allows us to export the plots as `JSON`, which could be useful since the javascript `plotly` library could just use it to plot straight to the DOM.

[2019-07-19 08:47] JIMENOFONSECA commented on #2174
Yes, let’s do it, daren will have to just upload a new installer and change the environmnet.yml

_______________________

Dr. Jimeno A. Fonseca
Senior researcher and project coordinator
Future cities Laboratory
Singapore ETH-Centre

Chair of Architecure and Building Systems
ETH Zurich

On 19 Jul 2019, 16:39 +0800, Reynold Mok <notifications@github.com>, wrote:

Is it possible to update the plotly

[2019-07-19 09:13] reyery commented on #2112
@daren-thomas I have been trying to do the input validation with the help of `decode()` in the `Parameter` classes but found a buggy behavior for `nullable` parameters.

For example, the `height-ag` parameter for `zone-helper` is a `nullable` `RealParameter`. Entering a string in the input and click "Saving Configuration" would still save the config as `None` even though it is not a number. Is thi

[2019-07-19 09:30] gabriel-happle opened #2179 "add comfort dbf to input editor in dashboard"
add comfort dbf to input editor in dashboard

[2019-07-19 09:32] shanshanhsieh opened #2180 "unable to launch dashboard"
this is the error i encountered:
@daren-thomas , @reyery any clue?
![image](https://user-images.githubusercontent.com/16998305/61525497-22863280-aa4b-11e9-9297-ee800ae36d53.png)

[2019-07-19 09:40] reyery commented on #2180
The script `annual_costs.py` does not exist in the `master` branch, I think you might have reinstalled CEA while on another branch. Maybe try reinstalling it while in `master`.

[2019-07-19 09:53] liaochenxi commented on #2167
@daren-thomas Thanks for your reply. I tried both Chrome and Firefox, now I'm able to save configurations. But when i tried to import my own input files, with neither Chrome nor Firefox, I cannot select the path of input files.

[2019-07-19 09:56] gabriel-happle opened #2182 "change occupancy_model.schedule_maker to read schedules from files if they exist"
this is the first step towards adding a functionality to generate custom schedules for buildings in CEA.
After an in-depth discussion with @daren-thomas it was decided that in a first step the current workflow and code should not be modified too much. Changes will be implemented in increments.
The `schedule_maker` will execute the following steps in the future.
1. check if schedule input files are

[2019-07-19 10:28] gabriel-happle opened #2183 "Add occupant density and other parameters to input editor"
The purpose of this issue is to come up with a list of building model properties that the user/researcher is supposed to modify and to find a place where to add those parameters.
This is also a result of the discussion with @daren-thomas mentioned in #2182 .

The list entails:
- occupant density (currently read from the archetype schedules file)
-

Potential places to add parameters:
- various bui

[2019-07-19 10:30] gabriel-happle commented on #2183
@martin-mosteiro @shizhongming please add parameters to this issue that you will likely want to modify or parameters that you think users want to modify.
Thanks

[2019-07-19 10:40] gabriel-happle opened #2184 "Refactor and clean up BuildingProperties"
This could be one of the future steps in streamlining the demand simulation workflow.
Based on discussions with @daren-thomas, the following steps could be done:
- refactoring
- moving calculations to the demand script instead of saving values
- reading the solar heat gains on the go, when needed in the demand calculation instead of storing them in memory
- saving building model files do disc
- ..

[2019-07-19 10:45] gabriel-happle opened #2185 "create one or more `schedule maker` tools"
This is connected to #2182
After the CEA is able to read individual building schedules, we will create multiple tools within CEA to create those schedules.
The first one will be `create archetype schedules`, which is basically the conversion of the `occupancy_model.schedule_maker` function to an executable script.

Assigning @martin-mosteiro to this, so that he can track what is happening here.

[2019-07-19 10:47] gabriel-happle commented on #2061
@martin-mosteiro see #2182 and #2185 for the planned features after discussion between me and @daren-thomas

[2019-07-19 11:14] daren-thomas commented on #2180
@shanshanhsieh I got that too. What seems to have happened is that your project directory still has `*.pyc` files left over from when you were testing the optimization branch.

In PyCharm, right-click the `cea` folder and choose "Clear Python compiled files". That should do the trick!

[2019-07-19 11:17] daren-thomas commented on #2112
I think so, no?

So `decode` and `encode` solve the problem of serializing input parameters to strings (since, that is ultimately what gets stored in a cea.config file).

An empty string would then decode to `None`, but not be `float()`-able. So, I think that is as intended.

[2019-07-19 11:19] reyery commented on #2180
@daren-thomas oh didn't know PyCharm could do that. So I'm guessing when running the dashboard, it did not recompile and just ran it from the `*.pyc` files?

[2019-07-19 11:20] daren-thomas commented on #2174
I'm not sure if we can upgrade. I'll check that. first, it would be good to have the status quo of the plots converted. Before changing everything again. Otherwise we'll never finish.

[2019-07-19 11:20] daren-thomas commented on #2180
yes. exactly.

[2019-07-19 11:24] reyery commented on #2180
oh i see. I have tested it and it seems to have worked.

[2019-07-19 11:24] #2180 closed

[2019-07-19 11:36] #2171 closed

[2019-07-19 11:36] #2172 closed

[2019-07-19 11:36] #2173 closed

[2019-07-19 11:40] daren-thomas opened #2186 "Remove suppression of warnings and resolve the warnings instead"
We have code like this (found in optimization branch):

[code]

This issue is about tracking down all instances of this pattern and checking to see if the warnings can be resolved. If they really can't, then add a comment to explain which warnings are being suppressed and why. It might even be possible to selectively only filter those warnings - and allow other, new warnings we don't know about ye

[2019-07-19 11:41] reyery commented on #2112
It also decodes a non-empty string to `None` (e.g. entering 'test' into the parameter) and not an error. But if that is an intended behavior, then I would have to find another way to do the validation.

Because right now I am using the `ValueError` as a way to do server-side validation. Probably will create another route for this then.

[code]

[2019-07-19 11:51] daren-thomas opened #2187 "Refactor branching on network-type in optimization code (and other places)"
We have a lot of code that is broken up into sections of

[code]

This often happens in very long functions that should be refactored with "extract method" anyway to make the high-level structure (what) more clear.

At the same time, `do_stuff_for_dh/dc()` could be refactored to extract the varying parts. A typical way to do this with OO would be to have an object (something like `network_helper`?

[2019-07-19 11:53] daren-thomas opened #2188 "Make sure we're using the print function as opposed to print statement everywhere"
This is one of the first steps towards Python 3 compatibility. At the same time, use `str.format()` instead of string concatenation.

[2019-07-19 11:59] daren-thomas opened #2189 "Extract function for calculating CAPEX and OPEX for technologies"
just noticed that we seem to be using the same formula for calculating opex and capex for different technologies. maybe that could be refactored to a method?

Search the project in Regex mode for: `capex\w+\s+=\s+Inv`

This pattern shows up in nearly all the technologies modules. I think it could be refactored to its own function. Also check how the Inv* variables are calculated. Maybe something c

[2019-07-19 12:04] daren-thomas commented on #2112
I guess you could also modify the code and set it to only return `None` when:

[code]

[2019-07-20 09:35] liaochenxi commented on #2167
fixed by restarting the laptop..

[2019-07-20 09:35] #2167 closed

[2019-07-22 01:47] gabriel-happle commented on #2024
based on discussions with @daren-thomas on the issue. we will abandon my current approach and instead do #2182, #2183, #2184, #2185

[2019-07-22 06:35] JIMENOFONSECA opened #2190 "Plots in the row template do not have same functionality"
So in the "rows" tempalate" the button of "changing plot" does not exist

[2019-07-22 06:46] JIMENOFONSECA opened #2192 "Clicking on a plot's name takes me to a single view of the plot"
So when we click on the plot's name it takes me to a bigger version of the plot in the same window. This makes difficult to work and come back to where i was working.

The functionality whould be different:

If the user clicks on the plot's name, it should open a new window and take her to a single "big" view of the plot. (it can be the html version of it).  It is not necessary that the plot opens

[2019-07-22 09:45] daren-thomas commented on #2192
That's not the only solution to this usability bug: We could also display a link "back to dashboard {dashboard name}".

What problems are you trying to solve _exactly_? I'm not a big fan of opening a new window. But I _am_ open to convincing arguments.

The display necessarily _has_ to happen as part of the "dashboard" in the sense that it has to be a URL passing through our flask server, as the "

[2019-07-22 09:48] daren-thomas commented on #2190
![image](https://user-images.githubusercontent.com/2969564/61623272-96585300-ac76-11e9-93e2-5b9f356ac824.png)

I think @JIMENOFONSECA means the icon on the left in this screenshot. This should be a simple change.

[2019-07-22 18:28] Jack-Hawthorne commented on #2143
cheers @martin-mosteiro!

i will make some issues for the [mpc-building] and [mpc-district] missing documentation.

otherwise, you know the difference between [solar] and [radiation-daysim]?

also the lake thing is completely lost on me. it just has a constant size which is divided by the number of hours in a year. it then writes the same result for each time step. odd.

[2019-07-23 01:59] JIMENOFONSECA commented on #2192
got it.

So the main argument:

1. for the user it is just a hassle to come back and reload the entire CEA once she goes into the plot
2. the user wants to see the plot BIG (the entire webpage). like we used to see them before the dashboard.
3. a BIG and separate window leaves more room for exploration. the user can open several and see them in a BIG screen or save them.

would that work?

On 22 J

[2019-07-23 02:00] JIMENOFONSECA commented on #2174
Alright, let’s start the conversion in a branch.  and tell me what to do with the next plots of the optimization

Jimeno
On 19 Jul 2019, 7:20 PM +0800, Daren Thomas <notifications@github.com>, wrote:

I'm not sure if we can upgrade. I'll check that. first, it would be good to have the status quo of the plots converted. Before changing everything again. Otherwise we'll never finish.

—
You are rece

[2019-07-23 03:06] JIMENOFONSECA commented on #2120
We found a landfill in there. first PR was successfully-merged. I am opening a new issue for more

[2019-07-23 06:51] gabriel-happle opened #2195 "BUG: vectorized get_heating_system_set_point, get_heating_system_set_point fail if setpoint temperatures are integers"
`np.vectorized(get_heating_system_set_point)`, and `np.vectorized(get_heating_system_set_point)` can fail if setpoint temperatures are integers

This is bug reported by @JIMENOFONSECA in a case study in Zurich.

I am relatively confident, that this is related to the behavior of `numpy.vectorize` and the fact that `numpy.nan` is defined as `float`
https://docs.scipy.org/doc/numpy/reference/constant

[2019-07-23 07:34] #2147 closed

[2019-07-23 07:40] Jack-Hawthorne commented on #1069
@daren-thomas are we getting rid of the naming.csv in plots? after the glossary.csv is fleshed out and accurate?

[2019-07-23 08:40] martin-mosteiro opened #2197 "CEA installation guide for Mac"
I have managed to install CEA on a Mac computer. Hooray! The steps to follow need to be added to the website.

[2019-07-23 13:33] daren-thomas opened #2200 "Remove naming.csv"
The naming.csv file, as I understand, has been superseded by the glossary.csv file. We can remove it if we are careful:

- remove `cea.inputlocator.InputLocator#get_naming`
- update `cea/plots/variable_naming.py`
  - use the `glossary.csv` file as input. make sure the interface stays the same (for now)
- remove/update/fix `cea.utilities.doc_update_naming.main`

[2019-07-23 13:35] daren-thomas commented on #1069
- naming.csv: huh. I guess so. let's create an issue for that. (#2200)
- schema.yml: no ETA. Future work will probably be manual, though.

[2019-07-23 14:04] shizhongming commented on #1844
@daren-thomas Sorry for the late reply...I think this issue is not urgent and you may remove yourself from the assignees...

[2019-07-23 15:05] liaochenxi opened #2201 "plot basic and electrical network layout error"
Hello, I have already got the csv files of solar radiation and energy demand, but when i was using plot basic, I got the following error. <img width="770" alt="image" src="https://user-images.githubusercontent.com/37850333/61722316-5a9eb580-ad6a-11e9-90cb-e45b4f9486aa.png">
It seems that its related to the plant node, then i run the thermal network layout. For DC and DH, there is no problem. I got

[2019-07-24 02:09] reyery opened #2202 "Multicriteria analysis throwing errors when getting parameters"
When trying to read the parameters for `multi-criteria-analysis` it is trying to get `general:detailed-electricity-pricing` which does not exist. Should be an easy fix.

[code]

[2019-07-24 02:10] JIMENOFONSECA commented on #2200
we are using several variables in the plots, to 1. name them and 2. give them colors..

[2019-07-24 02:58] #2202 closed

[2019-07-24 09:21] #2031 closed

[2019-07-24 09:34] reyery commented on #2179
Resolved in #2181

[2019-07-24 09:34] #2179 closed

[2019-07-24 09:47] martin-mosteiro opened #2204 "Schedule of temperature set-points for CEA"
The heating and cooling set points are controlled as follows:
[code]

This means that if a building is occupied 7 days a week, the heating/cooling systems will be turned off when people aren't there on Saturdays and Sundays. This doesn't seem very realistic – why would a building that is occupied 7 days a week treat a Sunday differently from a Monday?

This leads to results like these:
<img width=

[2019-07-24 10:21] gabriel-happle commented on #2204
I think temperature set-point schedules is a good idea. We should add it to the schedules file so that the user has more control.

Actually, I'm reviewing a paper on this topic right now.
It states ISO 13790 standard as source and gives a schedule like this for residential:
07:00 - 17:00  :  16°C
17:00 - 23:00  :  21°C
23:00 - 07:00  :  18°C

If we want to allow this kind of input, we should defin

[2019-07-24 10:24] #2182 closed

[2019-07-24 10:24] #2195 closed

[2019-07-24 11:05] daren-thomas opened #2205 "Rename reference-case-open to reference-case-heating"
- check default.config and other places just to be sure about defaults
- this is more consistent (pendant to reference-case-cooling)

[2019-07-24 11:14] daren-thomas opened #2206 "Make "Input Editor" dropdown just be a link like "Dashboard""
Currently, you need to open it and _then_ click on "Building Properties". Since it's the only element in the submenu, let's just flatten it.

[2019-07-24 14:05] daren-thomas commented on #2200
@JIMENOFONSECA yes, I know, but that data is also inside the `glossary.csv` file - so it's redundant and editing `cea.plots.naming` to use `glossary.csv` should be a small change.

[2019-07-25 01:34] shanshanhsieh commented on #2025
hey @daren-thomas , thanks for starting to clean up the config for this part!
i also removed some redundant network parameter and tested it

however, here i encounter a problem regarding the input-files requested in `scripts.yml`
i have to remove the first file to make the script run
![image](https://user-images.githubusercontent.com/16998305/61839187-3ef8f380-aebf-11e9-9a42-10bc2594afdf.png)

ple

[2019-07-25 02:32] JIMENOFONSECA commented on #1069
Bear in mind that we use naming.csv for all the plots naming.

Or did his change? If so, what is the new way? We also need a reference to the colors. And units..
On 23 Jul 2019, 15:41 +0800, Jack-Hawthorne <notifications@github.com>, wrote:

@daren-thomas<https://github.com/daren-thomas> are we getting rid of the naming.csv in plots? after the glossary.csv is fleshed out and accurate?

—
You are r

[2019-07-25 03:09] JIMENOFONSECA commented on #2200
Alright let’s do it.

I added some lines recently to naming.csv for the optimization and supply systems plots.

I hope we do not for get them...

_______________________

Dr. Jimeno A. Fonseca
Senior researcher and project coordinator
Future cities Laboratory
Singapore ETH-Centre

Chair of Architecure and Building Systems
ETH Zurich

On 24 Jul 2019, 22:05 +0800, Daren Thomas <notifications@github.

[2019-07-25 05:31] gabriel-happle commented on #2177
closing this. The 2nd survey is not accepting answers anymore.

[2019-07-25 05:31] #2177 closed

[2019-07-25 05:35] gabriel-happle commented on #2139
closing this issue. The survey is not accepting answers anymore. The results are shared with the team via slack.

[2019-07-25 05:35] #2139 closed

[2019-07-25 05:38] gabriel-happle opened #2207 "Prepare and dissiminate 3rd CEA user survey"
Update survey for the third round on 01.10.2019
Invite people via email and github.

[2019-07-25 06:33] reyery opened #2208 "Input editor map will not initialize if district does not exist"
If the user only creates/has `zone` and not `district` buildings, the map will not initialize with buttons and only show the zoomed out map.

[2019-07-25 07:06] daren-thomas opened #2210 "Default script category showing up in Dashboard navigation"
![image.png](https://images.zenhubusercontent.com/57b40957e40e5714b16d7331/d6c63253-35e1-4706-923d-7d19ca9853af)

Notice the "default" link under "Data Management". That shouldn't be there. It currently contains the plots scripts - I think what happened was, they were moved there from "Visualization" without the `interfaces` property being updated. So, if we are going to remove them from the Dashb

[2019-07-25 08:06] reyery commented on #2210
I'm on `master` and I don't see the default category in the side navigation bar. I remember that it was taken out in PR #2203.

[2019-07-25 08:09] reyery commented on #2206
I was planning to add some kind of "Geometry Editor" to "Input Editor" that was why I left it like that. I suppose we can just flatten it for now.

[2019-07-25 08:41] JIMENOFONSECA commented on #2210
yep, that was fixed then..

[2019-07-25 08:41] #2210 closed

[2019-07-25 09:10] JIMENOFONSECA commented on #2204
just include a new variable in the inputs/indoor-comfort, saying whether the weekend operation is allowed or not and then update the code accordingly....

[2019-07-25 09:13] JIMENOFONSECA commented on #2081
These plots were updated during #2120

[2019-07-25 09:13] #2081 closed

[2019-07-25 09:19] JIMENOFONSECA commented on #1612
The course was cancelled

[2019-07-25 09:19] #1612 closed

[2019-07-25 09:20] #2120 closed

[2019-07-25 09:23] JIMENOFONSECA opened #2211 "Optimization cooling re(making)factoring"
More refactoring needed for optimization cooling

Changes include
- fix to master/slave calculation

[2019-07-25 09:23] #2148 closed

[2019-07-25 09:23] #2143 closed

[2019-07-25 09:31] JIMENOFONSECA commented on #753
#2120 took down gv from the optimization. the subset calibration should be taken out

[2019-07-25 09:36] daren-thomas commented on #753
Daren is going to review it, @JIMENOFONSECA and @shanshanhsieh think it's done.

[2019-07-25 09:36] #2024 closed

[2019-07-25 09:42] JIMENOFONSECA commented on #1889
fixed in #2120

[2019-07-25 09:42] #1889 closed

[2019-07-25 09:44] JIMENOFONSECA opened #2212 "Move interface to Electron instead of what it is"

[2019-07-25 09:50] #1925 closed

[2019-07-25 09:51] #1927 closed

[2019-07-25 09:52] #1686 closed

[2019-07-25 09:53] JIMENOFONSECA commented on #1686
done in #2120

[2019-07-25 09:54] daren-thomas commented on #2025
OK, let's talk on monday

[2019-07-25 09:55] #2142 closed

[2019-07-25 10:00] daren-thomas commented on #2082
Add these maps to the "map" part of map-style dashboard.

- how? does user select the plot to show?
- maybe a dropdown or something.

[2019-07-25 10:14] daren-thomas commented on #2152
Maybe the data-helper needs to be split up into two levels?
OR: don't overwrite archetypes if they're already in the folder?

SO: data-helper should not create / alter `inputs/technologies`. Instead, this should be created by `new-scenario` tool.

OR: data-helper should split "technologies" from databases parameter, add it as a boolean (overwrite/create technologies folder)

building models vs. re

[2019-07-25 10:26] daren-thomas commented on #2036
Let's make the RegionParameter also accept a folder that will be used instead.

[2019-07-25 10:30] #2155 closed

[2019-07-25 10:52] JIMENOFONSECA commented on #2205
just discarding it for the sake of giving priority to other stuff

[2019-07-25 10:52] #2205 closed

[2019-07-25 12:21] daren-thomas opened #2213 "AttributeError: Parameter not found: sewage_water_district when running sewage-potential tool"
When running `cea sewage-potential`, the following error occurs:

[code]

This is probably due to a bad configuration of `scripts.yml`

[2019-07-25 12:33] daren-thomas opened #2214 "Add tooltips to Plot buttons"
The plot buttons at the top right of plots in the Dashboard:

![image.png](https://images.zenhubusercontent.com/57b40957e40e5714b16d7331/e32f53e8-80b7-42cd-b391-3cb1f15102e7)

Let's add tooltips to then that pop up when the user hovers over them. This lets the user figure out what a button does _before_ clicking on it and increases usability.

[2019-07-25 12:35] #2190 closed

[2019-07-26 10:37] JIMENOFONSECA commented on #2213
@daren-thomas this is being solved in my work on the optimization script

[2019-07-26 11:17] gabriel-happle commented on #2072
@daren-thomas and @JIMENOFONSECA would you mind checking my jupyter notebook first before I convert it into a blog. Thanks!
You can find it here[https://nbviewer.jupyter.org/github/gabriel-happle/blog/blob/master/jupyter-and-CEA.ipynb](url)

[2019-07-26 15:32] Jack-Hawthorne commented on #2153
hey all! in my journey through most of the databases in cea, i am coming up with a few variables which i struggle to define. If you could please take the time to fill in these (don't worry about grammar/spelling, just try to convey the best you can), i would be more than happy to proof/reword and insert into the glossary.

@BhargavaKrishnaSreepathi

electrical_networks.xlsx

need the description a

[2019-07-29 08:33] #2095 closed

[2019-07-29 08:37] #2214 closed

[2019-07-29 09:55] daren-thomas commented on #2213
@JIMENOFONSECA how tightly is it coupled with your optimization script? would it be possible to break it out into a separate branch so we can merge it asap?

[2019-07-29 11:27] daren-thomas commented on #1069
@JIMENOFONSECA yes, I know. But `glossary.csv` contains the same information - and more! So it seems sensible to me to only have one such file to reference / maintain. I think `cea.plots.variable_naming` just needs to change the path to the file it uses and should just work. We'd have to test that though.

[2019-07-29 11:28] daren-thomas commented on #2208
What is the expected behavior instead?

[2019-07-29 11:33] daren-thomas commented on #2204
@JIMENOFONSECA separating out the schedule logic from the actual simulation should be the way to go - adding conditional logic just makes things more complex. Instead, the code that creates the schedules could add the new variable you mention - plus, users could provide their own schedules, maybe based on measured data.

[2019-07-29 11:35] daren-thomas commented on #2212
@reyery what is your progress on this so far? do you want help?

[2019-07-29 11:55] daren-thomas commented on #2072
@gabriel-happle first feedback:

[code]

should actually be `cea.api.extract_reference_case(destination=path_to_folder_for_blog, case="cooling")`

I think this shows off the functionality of `cea.api` much better. And also, saves you a lot of extra lines.

[2019-07-29 11:57] daren-thomas commented on #2072
Also, remove hard-coded paths to your `%userprofile%`. instead, you can use `os.path.expandvars(r"${userprofile}\Documents\blog")`.

[2019-07-29 14:11] reyery commented on #2208
hmmm.. I was thinking of just showing the zone buildings even without the district buildings. But since district buildings are needed for simulations, maybe there should be some sort of warning also, to let the users know.

[2019-07-29 14:38] reyery commented on #2212
I having been trying to recreate what we have now in the dashboard and so far I'm somewhat done with the tools portion, now trying to find a way to get the script output. Websockets? Write to a log file and read from there?

I think it will be good for us to discuss the architecture/dataflow of the frontend and backend since we are decoupling it from Flask right now. In a way, I think that this wo

[2019-07-29 15:13] prakharmehta95 opened #2218 "Config Editor error while changing project path"
Basically, I am not able to change my project path in the 'general' tab of the config editor.
Clicking save gives the following error:

**RuntimeError: maximum recursion depth exceeded**

_Workaround: changing my project path in the cea.config file manually_

Here is the (very long) error message:
[code]

[2019-07-30 02:46] gabriel-happle commented on #2072
@daren-thomas thanks for the great feedback!
Those things are exactly what I need to learn.

There is a bit of motivation missing at the top. Is the notebook going to be the blog entry, or are you going to embed it into a blog thing?

[2019-07-30 06:45] gabriel-happle commented on #2072
@daren-thomas
Am I correct that `cea.api.demand(scenario_name='name')` does not work?
It should be `cea.api.demand(scenario='path_to_folder')` to work

[2019-07-30 07:21] gabriel-happle commented on #2072
@daren-thomas I updated the notebook according to your comments.
I hope now it doesn't

[2019-07-30 09:24] daren-thomas commented on #2212
well. we could just branch. but yeah: why not! do you have the correct permissions to create a new repo in `architecture-building-systems`? maybe a `cea-electron` or something. we can always move it back once we're done.

yes. communication between server / client. i was thinking about that. especially, since we're using these `print` statements everywhere... i think in the first step, we need to

[2019-07-30 09:26] daren-thomas commented on #2212
we'd have to explain to everyone to _not_ use `print` anymore. and creating a logger should be dead simple. either `config.logInfo(xyz)`, `config.logError(xyz)` OR:

[code]

[2019-07-30 09:28] daren-thomas commented on #2212
This would also allow us to add a `log.progress(1.0 / 10.0)` - that way, we can show progress bars for scripts!

[2019-07-30 11:43] daren-thomas commented on #2218
@prakharmehta95 the config editor is no longer maintained - none of the code in the `legacy` folder is expected to still work.

Either manually edit the `cea.config` file OR (preferred)

- use the CEA Dashboard interface to set values for scripts (you can also set project path in the "Project management" section of the dashboard interface).
- use the `cea-config`  command-line tool to set config p

[2019-07-30 12:10] prakharmehta95 commented on #2218
@daren-thomas  thanks, I was unaware of this.

[2019-07-30 12:10] #2218 closed

[2019-07-31 05:41] reyery commented on #2212
yea I think I will create the new repo later then transfer the code there.

Sound like a good idea. But I'm not too fond of the current polling method of getting the stdout of the scripts, since I think it is blocking as it's sending web requests to the server every few seconds and could potentially slow things down if we eventually make it a background thing like for #1926 and attempt to run/send

[2019-07-31 06:30] shanshanhsieh opened #2219 "improve model for direct expansion unit for space cooling"
- log the cost data into `supply_systems` database
- get a more detailed reference on efficiency calculation

[2019-07-31 06:42] shanshanhsieh commented on #2146
@JIMENOFONSECA , here's a brief update of what happened in branch `i2146-decentralized-cooling`

the changes made so far:
1. `decentralized_buildings_cooling.py`
 - remove cooling_configuration 1-6, only run simulation to supply all units (aru, ahu, scu)
 - remove `aruflag`, `scuflag`... as inputs from config
 - vectorize functions that calculate hourly operation
 - output hourly resource activati

[2019-07-31 10:42] JIMENOFONSECA commented on #2117
@daren-thomas @reyery can we put this in your top priorities now?

This is kind of crucial feature we need for the interface of CEA.

I believe that the weather should be part of the input files of the scenario and perhaps be part of the new project tool as well as a separate tool that helps people to indicate their scenario.

So, in essence, the weather can become part of the input locator. What

[2019-07-31 10:45] JIMENOFONSECA commented on #2117
The Weather helper tool can ask as input"

1. Select the location of the weather file or select one weather file from CEA databases.

The output:

1.  A weather file (weather.epw) in the folder:  project/scenario/inputs/weather/

[2019-07-31 11:05] JIMENOFONSECA commented on #1069
cool, let’s do it!
On 29 Jul 2019, 7:28 PM +0800, Daren Thomas <notifications@github.com>, wrote:

@JIMENOFONSECA<https://github.com/JIMENOFONSECA> yes, I know. But glossary.csv contains the same information - and more! So it seems sensible to me to only have one such file to reference / maintain. I think cea.plots.variable_naming just needs to change the path to the file it uses and should just w

[2019-07-31 11:06] JIMENOFONSECA commented on #2213
it is!, I am working in the details, a PR should be ready by friday…

_______________________

Dr. Jimeno A. Fonseca
Senior researcher and project coordinator
Future cities Laboratory
Singapore ETH-Centre

Chair of Architecure and Building Systems
ETH Zurich

On 29 Jul 2019, 5:55 PM +0800, Daren Thomas <notifications@github.com>, wrote:

@JIMENOFONSECA<https://github.com/JIMENOFONSECA> how tightly

[2019-07-31 11:30] daren-thomas opened #2220 "Parsley JS validation of path in Open Project dialog does not work for POSIX paths"
The regex pattern used to validate paths in the Open Project dialog (`^[a-zA-Z]:\\[\\\S|*\S]?.*$`) is windows-only. I guess adding an alternative pattern could work. Something like: `^(/[^/ ]*)+/?$`.

This would leave us with: `(^[a-zA-Z]:\\[\\\S|*\S]?.*$)|(^(/[^/ ]*)+/?$)`

[2019-07-31 11:30] daren-thomas commented on #2220
This shows up when trying to run the cea on Mac OS X

[2019-07-31 11:36] daren-thomas commented on #2220
fixed in PR #2216

[2019-08-01 07:55] reyery commented on #2212
@daren-thomas I'm currently trying to rewrite our flask application to use **Flask-RESTPlus**, since I figured that it is going to be RESTful and that we need to refactor it in terms of _resources_ instead of _views_.

[2019-08-01 08:27] gabriel-happle commented on #2072
@daren-thomas and @JIMENOFONSECA my blog is online as a draft.
I embedded the jupyter notebook directly as an `iframe`. Most of the text is inside the notebook.
Does anyone have time to review?
I will check all the texts with grammarly before publishing as well.

[2019-08-01 13:17] prakharmehta95 opened #2221 "Demand Tool error: Temperature in RC-Model of building Z0434 out of bounds!"
Hi,

@martin-mosteiro
@daren-thomas
@JIMENOFONSECA
While running the demand tool for my case study on Wiedikon Zurich, I receive an error like this one:

`Traceback (most recent call last):
  File "C:/Users/iA/Documents/GitHub/CityEnergyAnalyst/cea/demand/demand_main.py", line 222, in <module>
    main(cea.config.Configuration())
  File "C:/Users/iA/Documents/GitHub/CityEnergyAnalyst/cea/demand/de

[2019-08-02 06:46] gabriel-happle commented on #2221
Since I wrote this error message, I will assign myself to this issue.

That might already be the explanation of this error.

[2019-08-02 07:43] JIMENOFONSECA commented on #2211
Merged in

[2019-08-02 07:43] #2211 closed

[2019-08-02 07:56] JIMENOFONSECA opened #2223 "Update Cooling optimization"

[2019-08-02 07:57] JIMENOFONSECA opened #2224 "Convergence problems in optimization for heating case"

[2019-08-02 11:35] shanshanhsieh opened #2227 "Negative values in CT calculation"
when running `calc_CT` at close to full load, the electricity demand `wpartload` is negative
need to check the reference for the range of operation

[2019-08-02 11:37] shanshanhsieh commented on #2146
one more issue added:
3. the CT model gives negative electricity usage at high partload (#2227)

[2019-08-05 01:22] #2146 closed

[2019-08-05 17:02] prakharmehta95 commented on #2221
Hmmm...there are many other buildings in the scenario with similar size and Hs values - why do I get an error on this one only? What can I change to avoid the error?
Hoping to run the demand tool soon as I need the results - worst case, how can I exclude this building from the calculation?

[2019-08-06 02:16] gabriel-happle commented on #2221
Actually, this warning was added in October 2018. It seems a bit strange that you haven't seen it before.
Maybe the archetypes database changed?
I will try to reproduce your error.
What you can do to exclude this building from the calculation is to pass a list containing all other building names to the config file: `[demand] buildings =B001, B002, etc,...`

[2019-08-06 03:08] gabriel-happle commented on #2221
Hi @prakharmehta95 I am able to reproduce this behavior.
This is not a bug. Your building has very high internal loads (more than 1.6 MW peak from lighting systems alone) and is probably very well insulated.
@martin-mosteiro encountered many similar issues with very new buildings in his case study.

Basically, this building does not require a heating system because of its construction properties.

[2019-08-07 00:35] JIMENOFONSECA opened #2229 "Problem with occupancy schedules."
done
Running demand calculation for all buildings in the zone
No schedules detected for building B1000. Creating schedules from archetypes database
Saving schedules for building B1000 to inputs/building-properties directory.
Building No. 1 completed out of 18: B1000
No schedules detected for building B1009. Creating schedules from archetypes database

This behavior just makes the tool use the newl

[2019-08-07 05:57] gabriel-happle opened #2231 "Bug in mixed use schedules creation"
Mixed use schedules with one of the uses contributing zero are not calculated correctly in the `occupancy_model`.

[2019-08-07 11:02] gabriel-happle commented on #2231
This is not a bug. Everything is fine. Sorry.

[2019-08-07 11:05] gabriel-happle opened #2233 "When the occupancy is changed in the interface, a message has to be displayed to run the data-helper"
When changing the occupancy in the input editor, changes are not reflected in the other building properties. Therefore, a warning message should be displayed to the user, reminding him to re-run the data helper.
For this case, the data-helper should be executed only for a single building in order to not affect changes that the user made to other buildings. See #2234  for this.

This issue lead to

[2019-08-07 11:08] gabriel-happle opened #2234 "Make a data-helper that runs for only one building"
It has to be possible to use the data-helper for only one building.
The idea is to update values of one building whithout affecting the (custom) values of other buildings. E.g., because for that one building the occupancy has changed. This is currently not possible.
See #2233

[2019-08-07 11:12] #2231 closed

[2019-08-08 02:10] gabriel-happle opened #2235 "Change folder structure of saving and loading schedules"
With PR #2230 schedule files are read from `input/building-properties` and saved to `output/data/demand`. This change is necessary so that changes in occupancy or other building properties will be applied to the schedule-maker. See #2229

In the future, a more intuitive folder structure should be used.
This is related to #2185, #2184 and #2183

[2019-08-08 03:14] JIMENOFONSECA opened #2236 "introduce grid layout"

[2019-08-08 03:14] JIMENOFONSECA opened #2237 "introduce supply systems map plot"
this is a map presenting the district heating, and cooling networks after optimization

[2019-08-08 06:56] JIMENOFONSECA commented on #2237
@reyery the first steps (data processing) are ready in branch i2237

[2019-08-08 09:16] #2112 closed

[2019-08-08 09:21] reyery commented on #2025
@shanshanhsieh @daren-thomas so what is the status of this?

[2019-08-08 09:28] reyery commented on #2174
@JIMENOFONSECA has fixed this PR #2225

[2019-08-08 09:28] #2174 closed

[2019-08-08 09:29] reyery commented on #2192
would not be issue if moved to electron

[2019-08-08 09:33] reyery commented on #2092
this plots are not used anymore @JIMENOFONSECA is creating new ones

[2019-08-08 09:33] #2092 closed

[2019-08-08 09:37] reyery commented on #2114
stale issue. closing

[2019-08-08 09:37] #2114 closed

[2019-08-08 09:42] reyery commented on #2117
@reyery is going to look into this

[2019-08-08 09:43] reyery commented on #2138
error message has already been added

[2019-08-08 09:43] #2138 closed

[2019-08-08 09:48] reyery commented on #2223
Closed in PR #2225

[2019-08-08 09:48] #2223 closed

[2019-08-08 09:49] reyery commented on #2224
Closed in PR #2225

[2019-08-08 09:49] #2224 closed

[2019-08-12 09:37] martin-mosteiro commented on #2221
Indeed, I have encountered similar issues in the past. In this particular case, the lighting density (33.3 W/m2) looks quite high – is that a retail building, I guess?

[2019-08-12 12:54] daren-thomas opened #2240 "ImportError with CEA Dashboard"
I'm getting the following error with master (as of 2019-08-12) when running `cea dashboard`

[code]

[2019-08-12 13:09] daren-thomas commented on #2240
nevermind... i still had old .pyc files lying around.

[2019-08-12 13:09] #2240 closed

[2019-08-12 14:23] daren-thomas opened #2242 "run_thermal_network - RuntimeError: no arguments in initialization list"
The `cea test` script fails with the error below in master:

[code]

[2019-08-12 14:27] daren-thomas commented on #2242
(working on this in the `release-2.20` thread)

[2019-08-12 14:29] daren-thomas opened #2243 "KeyError: network_type when running thermal-network"
The configuration for the script `thermal-network` might be broken. Check the following output:

[code]

[2019-08-12 16:02] daren-thomas opened #2244 "Default values for network-type are not consistent"
Some parameters use DH, some DC as the default network-type value.

This can lead to subtle errors.

[2019-08-13 08:05] #2236 closed

[2019-08-13 08:05] #2208 closed

[2019-08-13 08:05] #2206 closed

[2019-08-13 08:49] daren-thomas opened #2245 "Replace pydoit with cea workflow for testing the scripts"
We currently use the pydoit library (see `cea.tests.dodo`) for the testing of the cea in the Jenkins. It's complicated - there is some history with different reference cases, etc. - and not all the scripts are tested.

Instead, we could wire up the heating-case workflow and the cooling-case workflow. We can add some semantics to `cea workflow` yaml files to understand some basic tests (compare fil

[2019-08-13 11:47] daren-thomas opened #2246 "Remove old cooling-case-workflow script"
When creating the `cea workflow` script, the workflow yaml file was introduced and both heating-case and cooling-case work implemented using that.

This left the file `cea/tests/cooling_case_workflow.py` unused. It should be deleted.

[2019-08-13 13:40] #2150 closed

[2019-08-14 05:13] JIMENOFONSECA opened #2247 "turn off and on legend button"

[2019-08-14 05:47] JIMENOFONSECA opened #2249 "Optimization district cooling"
This issue aims to verify the contents of the routine for the optimization of cooling systems.

[2019-08-14 11:10] reyery commented on #2237
@JIMENOFONSECA I have pushed some code for you to test before i proceed further. Right now it is able to toggle between layers (i.e. connected/disconnected buildings and network). Could you help me test if it also works when there is DC and DH since I do not have any example that has both networks. I do the 3d implementation of after this.

[2019-08-14 13:10] daren-thomas commented on #2242
works in master (2.20.3)

[2019-08-14 13:10] #2242 closed

[2019-08-14 13:30] daren-thomas commented on #753
STATUS UPDATE:

- class `Thermal_Network` takes a `gv` parameter in  its constructor
  - how to test if removing that will create a problem?
  - btw: the class name should be `ThermalNetwork` and why is it defined in `thermal_network_costs`?
  - @shanshanhsieh can you check this out quickly?
- the following packages are old and will never ever work again without being updated:
  - `cea.demand.cali

[2019-08-14 14:16] daren-thomas commented on #2135
Just tried this again. The simulation stops with lake-potential. I'm creating a PR to update the workflow.

[code]

[2019-08-15 01:42] JIMENOFONSECA commented on #2117
@daren-thomas @reyery maybe somebody can address this now? I am kind of waiting for this feature for quite a long time now..

[2019-08-15 01:52] JIMENOFONSECA commented on #2245
@daren-thomas can you assign a milestone, label, and developer? thanks

[2019-08-15 01:52] JIMENOFONSECA commented on #2244
@daren-thomas can you assign a milestone, label, and developer? thanks

[2019-08-15 01:52] JIMENOFONSECA commented on #2235
@gabriel-happle  can you assign a milestone, label, and developer? thanks

[2019-08-15 01:53] JIMENOFONSECA commented on #2233
@reyery would you mind taking a look at this?

[2019-08-15 01:54] #2229 closed

[2019-08-15 01:55] JIMENOFONSECA commented on #2213
@daren-thomas we merged this a week ago in PR #2225, is the problem still existing?

[2019-08-15 01:56] #2220 closed

[2019-08-15 01:58] JIMENOFONSECA commented on #2201
@liaochenxi sorry for the late response. Kindly check out the new version of CEA, released yesterday. It includes a dashboard tab where you can create all the plots one by one as desired.

Let me know if the error is persistent in the new script

[2019-08-15 01:59] JIMENOFONSECA commented on #2188
@daren-thomas can you assign a milestone, label, and developer? thanks

[2019-08-15 09:36] daren-thomas commented on #2213
@JIMENOFONSECA confirmed. works in master.

[2019-08-15 09:36] #2213 closed

[2019-08-16 06:40] shizhongming opened #2254 "CREATE Symposium poster on CEA"
As stated in the title. Submission date 15 OCT 19.

[2019-08-16 09:04] daren-thomas opened #2255 "thermal-network-optimization does not run from cli / dashboard / workflow"
The `thermal-network-optimization` script has some problems running through. Mainly, this is because of how the `scripts.yml` defines the parameters that a script expects.

It's important (especially for scripts like `thermal-network-optimization`) for the parameters to be explicitly defined, as we intend to run such scripts in other contexts (e.g. Euler / Amazon cloud etc.).

I suggest a refactor

[2019-08-16 09:17] daren-thomas commented on #2244
@JIMENOFONSECA I thought that was supposed to be done in the planning meeting?

[2019-08-16 09:49] daren-thomas opened #2256 "decentralized script fails in cli, dashboard, workflow"
The decentralized script fails because the parameter `{data-helper:region}` is not configured for this script. Which is correct: It shouldn't be configured for that script.

The problem can be traced back to `cea.optimization.preprocessing.decentralized_building_main.disconnected_building_main`, line 38ff:

[code]

This is a bug, anyway, as region `SG` should not be used to test whether heating is

[2019-08-16 09:52] daren-thomas commented on #2135
This issue is currently blocked because of #2256 - I can't get passed `decentralized`. Also, blocked by the `thermal-network-optimization` needing some refactoring.

I guess the cooling-case workflow is working in the sense that it _is_ showing us where the problems are.

I am creating a PR that fixes some stuff. This PR should be merged, even though it doesn't fix this issue per se - It fixes oth

[2019-08-16 09:55] daren-thomas commented on #2197
@JIMENOFONSECA I am having a hard time compiling the binaries for DAYSIM on Mac. I managed to compile them with one strategy, but `radiation-daysim` doesn't work with those. I'm not sure exactly what the issue is.

DAYSIM does not seem to be properly supported on Mac OS.

Would it be acceptable to leave the radiation-daysim script as unsupported by a osx installation? The user could still use the

[2019-08-16 10:06] JIMENOFONSECA commented on #1766
@martin-mosteiro , I am facing the same problem today, May I ask how you solved it?

[2019-08-16 10:15] daren-thomas commented on #2117
@JIMENOFONSECA I'll do this. Steps:

- add a tool `cea weather` that locates the weather and saves it to the inputs folder as `inputs/weather.epw`
- check all references of `config.weather` and remove them.
- update project creation dialog to include weather selection

The user will be able to re-create all simulations of a scenario with the same weather file as previously used, since the `weather

[2019-08-16 10:21] JIMENOFONSECA commented on #1766
well to solve it, just check that the options of the radiation tool are pointing to a valid installation of Daysim.

![image](https://user-images.githubusercontent.com/8973186/63161406-9f102f00-c052-11e9-9f8f-34d3b0aa3681.png)

[2019-08-17 17:42] OmarAdnan opened #2259 "dashboard not starting"
Hi,

I have recently installed CEA 2.20.3 (was running version 2.16 before) and after completing the installation process I tried to launch the CEA dashboard from my desktop but it just doesnt start. Is there any way to overcome this problem?

[2019-08-19 03:02] JIMENOFONSECA commented on #2197
Hi Daren,

I see…well maybe we can make it available and when the users start to bring the issue up, we revisit it?

I guess this will buy us time but not solve the problem?

On 16 Aug 2019, 5:55 PM +0800, Daren Thomas <notifications@github.com>, wrote:

@JIMENOFONSECA<https://github.com/JIMENOFONSECA> I am having a hard time compiling the binaries for DAYSIM on Mac. I managed to compile them with

[2019-08-19 07:45] daren-thomas commented on #2259
Hi @OmarAdnan how did you resolve this? Is it working for you now?

[2019-08-19 08:05] Jack-Hawthorne opened #2260 "glossary update and proof"
In my journey through most of the databases in cea, i am coming up with a few variables which i struggle to define. If you could please take the time to fill in these (don't worry about grammar/spelling, just try to convey the best you can), i would be more than happy to proof/reword and insert into the glossary.

need the description and units for these:

electrical_networks.xlsx

r_ohm_per_km
x_

[2019-08-19 08:07] kerembeygo commented on #2259
I can't find the installer for CEA 2.20.3. Installer from site is 2.14. Does PyCharm update automatically update the dashboard too?

[2019-08-19 08:10] Jack-Hawthorne opened #2261 "glossary update and proof"
In my journey through most of the databases in cea, i am coming up with a few variables which i struggle to define. If you could please take the time to fill in these (don't worry about grammar/spelling, just try to convey the best you can), i would be more than happy to proof/reword and insert into the glossary.

need the description and units for these:

electrical_networks.xlsx

- r_ohm_per_km

[2019-08-19 08:18] Jack-Hawthorne opened #2262 "Documentation of code usage within construction_properties.xlsx"
construction_properties.xlsx:SUPPLY    vs.    construction_properties.xlsx:HVAC

Two questions:

1. What is the difference here between the codes here (e.g. 'type_hs') in the separate sheets
2. What is the source of the codes (e.g. 'T1') specific to each sheet (SUPPLY and HVAC) especially the `type_el` attribute (note: `type_el` is not defined in emissions_systems.xls). Are the sources different?

[2019-08-19 08:23] daren-thomas commented on #2259
@kerembeygo check here: https://github.com/architecture-building-systems/CityEnergyAnalyst/releases/tag/v2.20

Not PyCharm per se - but updating from GitHub to the newest revision of the _master_ branch is the most recent version of the software.

[2019-08-19 08:28] Jack-Hawthorne opened #2263 "update systems input database schema"
I assume supply_systems.xls is mainly used for LCC and sometimes (but not always) storing constraint variables related to supply system sizing.

why are they separated by sheets when they generally have all the same variables and primary keys (the `code` attribute):

- Description
- code
- currency
- a (and variants of)
- b (and variants of)
- c (and variants of)
- d (and variants of)
- e (and var

[2019-08-19 08:32] Jack-Hawthorne opened #2264 "emissions_systems.xls has a misleading name"
emissions_systems.xls have nothing to do with CO2 emission but supply/return temperatures (misleading name).

what about supply_system_constraints.xls? or something else?

[2019-08-19 08:33] Jack-Hawthorne commented on #2263
Also, do the codes for LCA_infrastructure and emission_systems match?
which are used as inputs for the supply_systems.dbf and which for technical_systems.dbf?

[2019-08-19 08:49] daren-thomas commented on #1990
After talking to @JIMENOFONSECA it seems we might just remove the functionality (`cea plots`) altogether. Instead, users will use the dashboard functionality for all plotting.

We still need to clean up and remove all the old plots. @JIMENOFONSECA, let's stay in touch about when we're ready to start removing them!

[2019-08-19 10:09] JIMENOFONSECA commented on #1990
Hi Daren,

We can erase now all the old plots related to:

1. Demand
2. Solar energy

On 19 Aug 2019, 4:51 PM +0800, Daren Thomas <notifications@github.com>, wrote:

After talking to @JIMENOFONSECA<https://github.com/JIMENOFONSECA> it seems we might just remove the functionality (cea plots) altogether. Instead, users will use the dashboard functionality for all plotting.

We still need to clean up

[2019-08-19 19:33] OmarAdnan commented on #2259
No it didnt work, so i downloaded 2.19 but in this version every time i try to open my project which was opening correctly in 2.16 doesnt open on 2.19, it gives : 500 internal server error

[2019-08-19 20:33] OmarAdnan commented on #2259
here is the error message:

Traceback (most recent call last):
  File "C:\Users\Adnan\Documents\CityEnergyAnalyst\Dependencies\Python\lib\site-packages\flask\app.py", line 2292, in wsgi_app
    response = self.full_dispatch_request()
  File "C:\Users\Adnan\Documents\CityEnergyAnalyst\Dependencies\Python\lib\site-packages\flask\app.py", line 1815, in full_dispatch_request
    rv = self.handle_user_

[2019-08-20 07:50] daren-thomas commented on #2259
@OmarAdnan hm... this error message doesn't help me a lot - I'm wondering. Could you explain the steps you do to "try to open my project". I'm guessing:

1. start the CEA Dashboard with the provided link
2. the browser opens with the project landing page
3. select the project folder (the parent folder of the scenario you're trying to run)
4. choose your scenario from the list of scenarios shown
5.

[2019-08-20 09:37] kerembeygo commented on #2259
![shallow geothermal potential 2](https://user-images.githubusercontent.com/29708612/63336049-22799b00-c347-11e9-84d6-ba1384e2cd7b.jpg)
![shallow geothermal potential](https://user-images.githubusercontent.com/29708612/63336059-27d6e580-c347-11e9-9a06-de9d83b7ac5c.jpg)

[2019-08-20 09:45] kerembeygo commented on #2259
![cea sensitivity-demand-simulate](https://user-images.githubusercontent.com/29708612/63336683-3a9dea00-c348-11e9-9177-1a85b10f1009.jpg)
![cea sensitivity-demand-simulate 1](https://user-images.githubusercontent.com/29708612/63336696-3d98da80-c348-11e9-995e-7d38871d6b19.jpg)
![cea sensitivity-demand-simulate 2](https://user-images.githubusercontent.com/29708612/63336721-48ec0600-c348-11e9-9b0d-5f5

[2019-08-20 09:54] OmarAdnan commented on #2259
@daren-thomas
The error occurs after step 4 (of the 5 steps you mentioned above) after I select the scenario from the list of scenario and 'click' open, the error message appears.

Sorry, I don't know how to upload my scenario here, I have tried to drag and drop but I get a message that the file types are not supported here.

From the minimized terminal this is it shows:

C:\Users\Adnan\Documents\

[2019-08-20 09:56] kerembeygo commented on #2259
![network-layout](https://user-images.githubusercontent.com/29708612/63337357-87ce8b80-c349-11e9-8bc4-6120321593b2.jpg)
![network-layout 1](https://user-images.githubusercontent.com/29708612/63337368-8bfaa900-c349-11e9-86ff-90d6ae859722.jpg)
![network-layout 2](https://user-images.githubusercontent.com/29708612/63337367-8b621280-c349-11e9-94ea-2fd0762cfa6c.jpg)
![network-layout 3](https://user-ima

[2019-08-20 10:04] kerembeygo commented on #2259
![water-body-potential](https://user-images.githubusercontent.com/29708612/63338088-d4669680-c34a-11e9-8e18-72bf0ffb443b.jpg)
![Central supply system](https://user-images.githubusercontent.com/29708612/63338093-d6c8f080-c34a-11e9-9b94-96f51a39028c.jpg)
![Central supply system 1](https://user-images.githubusercontent.com/29708612/63338098-d892b400-c34a-11e9-9da2-4099690be4ab.jpg)
Missing geothermal

[2019-08-20 20:56] BharathSeshadri commented on #2260
@Jack-Hawthorne  I have no clue about cea. Jimeno/Shan Shan will know. If you have Qs about the heat- and mass- transfer calculations for the thermal systems, I can help

[2019-08-21 02:03] JIMENOFONSECA commented on #1990
Hi Daren,

We can erase now all the old plots related to:

1. Demand
2. Solar energy

On 19 Aug 2019, 4:51 PM +0800, Daren Thomas <notifications@github.com>, wrote:

After talking to @JIMENOFONSECA<https://github.com/JIMENOFONSECA> it seems we might just remove the functionality (cea plots) altogether. Instead, users will use the dashboard functionality for all plotting.

We still need to clean up

[2019-08-21 07:52] Jack-Hawthorne commented on #2260
@BharathSeshadri sorry! i tagged the wrong person in this one. thanks for responding ;)

[2019-08-21 08:19] daren-thomas opened #2267 "Add validation of region database to UI (Dashboard)"
The PR #2265 introduces the ability to specify a path to the `data-helper` tool instead of just choosing between `CH` and `SG`. This allows for user-specific archetypes etc.

When specifying an invalid region (invalid path / invalid db choice) in the CEA Console, an error message is shown: "Region template path does not exist, using default region. (Not found: ABC)".

When doing the same in the Da

[2019-08-21 08:47] daren-thomas opened #2268 "Shallow geothermal potentail tool: AttributeError: Parameter not configured to work with this script"
This is an issue posted by @kerembeygo (transferred from #2259)

![image.png](https://images.zenhubusercontent.com/57b40957e40e5714b16d7331/e41e25e9-9f4f-4d0c-963a-d239182cf924)
![image.png](https://images.zenhubusercontent.com/57b40957e40e5714b16d7331/b431e724-38fc-4b55-b1b2-20acaf68b7d6)

[2019-08-21 08:51] daren-thomas opened #2269 "sensitivity-demand-simulate tool: AttributeError: Parameter not configured to work with this script"
This is an issue posted by @kerembeygo (transferred from #2259)

![image.png](https://images.zenhubusercontent.com/57b40957e40e5714b16d7331/1991447f-37c5-436b-8e3a-5687357a453a)
![image.png](https://images.zenhubusercontent.com/57b40957e40e5714b16d7331/322e23d5-874f-4311-b29d-b5264cf9b702)

[2019-08-21 08:53] daren-thomas opened #2270 "network-layout tool: UnboundLocalError: local variable 'field' referenced before assignment"
This is an issue posted by @kerembeygo (transferred from #2259)

![image.png](https://images.zenhubusercontent.com/57b40957e40e5714b16d7331/6f1fbe32-d268-478d-b9fa-85df012d21d4)

![image.png](https://images.zenhubusercontent.com/57b40957e40e5714b16d7331/0a17c5df-3025-4966-9e1a-45b6defc02bf)

[2019-08-21 08:56] daren-thomas opened #2271 "optimization tool: Missing geothermal potential of the scenario. Consider running lake potential script first."
This is an issue posted by @kerembeygo (transferred from #2259)

After running `water-body-potential` tool, the `optimization` tool raises this error. (NOTE: the error message needs to be updated to reflect the name change in the tool. Also, the input files system should have caught this first!)

![image.png](https://images.zenhubusercontent.com/57b40957e40e5714b16d7331/74f1f5bd-d1ea-437b-bf1d-e2d

[2019-08-21 08:57] daren-thomas commented on #2259
@kerembeygo your errors, while very helpful, seem unrelated to the current issue. Would you mind in the future creating separate issues for these? Each of the screenshots you posted is it's own issue / potential bug in the code.

I'll move them to separate issues and remove them from this issue as they're distracting from the issue at hand. (see #2268, #2269, #2270, #2271)

[2019-08-21 09:24] daren-thomas commented on #2259
@OmarAdnan with the scenario you supplied, I'm able to reproduce the error in the master branch. May I ask: How did you create this scenario?

I have checked and traced the problem down to the index in `restrictions.dbf` not being unique: You specify the same buildings multiple times. A rough check suggests they're doubled...

[2019-08-21 09:27] daren-thomas commented on #2259
The zone file has 370 buildings, but the unique set of `Name` values is 185. The other `.dbf` files show much more than 370 buildings, (1480, 8*185) - I'm wondering if this happened by manually editing these files (in Excel?) or if our software did this. Do you have any clues?

[2019-08-21 10:31] OmarAdnan commented on #2259
@daren-thomas
These shapefiles which are of Lisbon was provided to me by my professor, which I have edited using QGIS and reduced to a small area in the city to do my first analysis of the solar radiation potential using daysim in CEA. The zone .dbf file I have edited to create the 5 columns that CEA needs to read my shapefile correctly, which are the Name, height_ag, height_bg, floor_ag and floor

[2019-08-21 10:37] OmarAdnan commented on #2259
Furthermore, this scenario could easily be opened on CEA 2.16, but on that version when i try to run daysim, it would either keep running for every or at times gave me an error. After a little digging on github i learned that i was mainly due to the addition of University and Industrial column in the occupancy dbf file. Hence, I downloaded the latest version of CEA hoping it will work here correct

[2019-08-21 10:47] daren-thomas commented on #2259
Mainly, the problem seems to be that some rows are duplicates - the `Name` column should be unique. If you can edit your data to be that way, that would be the easiest.

[2019-08-21 10:52] OmarAdnan commented on #2259
Alright, I shall try it out and see if it helps but just a small question, will be ok to just change the name of buildings in Name column that are repeated? or there are some other things that need to be done

[2019-08-21 11:35] shanshanhsieh commented on #2249
@JIMENOFONSECA , here's a summary of the commits i made today:
1. change method in `calc_VCC` from using empirical operation curve to carnot efficiencies
2. refactor `calc_VCC` so the input is directly the cooling load (Qc) instead of flowrate (mdot)
3. solve #2227 by updating Cooling Tower calculation with minimum partload constraint
4. remove the max/min sizes for VCC and CT, only ACHs need thes

[2019-08-22 06:25] daren-thomas commented on #2259
@OmarAdnan I'm not sure: It seems the various files don't agree on the total number of buildings in your project. I'm guessing, at some point, the datasets got duplicated. If I were you, I'd compare to the originals you got from your professor.

If you're handy with python, using a `jupyter notebook` could be a handy place for cleaning up the data. You can use the `cea.utilities.dbf.dbf_to_datafra

[2019-08-22 07:10] daren-thomas commented on #1926
Progress made here in the branch `1926-cea-worker`: a new script `cea-worker` can access a new api (`/server/jobs`) to run scripts. Output is marshalled via HTTP back to the cea webserver.

socket.io is used to pass output back to the browser - currently, the ticker (update from running scripts flash at the bottom of the web page) works, but I still need to port the tools part to use the new syste

[2019-08-22 07:14] daren-thomas commented on #2169
I think this would increase the usability of the tool a lot!

[2019-08-22 07:30] #2151 closed

[2019-08-22 07:30] daren-thomas commented on #2151
This is a known issue that will go away with the move to the electron interface in M2.23.

[2019-08-22 07:31] daren-thomas commented on #2170
I guess this can be done as part of the react-ification.

[2019-08-22 07:33] daren-thomas commented on #2175
@gabriel-happle what does the main-use specify that isn't part of the mixed-use schedules?

[2019-08-22 07:40] JIMENOFONSECA opened #2272 "Project Sponsor feature request: 30 sec screen capture Video showcasing CEA"
So our project sponsor asked for a Video for a Key-note talk he has on September the 4th.

It should show:

-->  how to get a project
-->  how to run tools and present graphs about different scenarios, (networks and daily profiles).
--> It should be 30 seconds long tops.
--> it should be visually appealing.

[2019-08-22 07:45] daren-thomas commented on #2184
@gabriel-happle this is kind of vague and looks more like an epic. What are concrete steps you'd like to perform here? Please create an issue for each one.

[2019-08-22 07:50] daren-thomas commented on #2259
I'm closing this issue as the problem seems to have been found and is related to the input data, not the dashboard itself.

[2019-08-22 07:50] #2259 closed

[2019-08-22 07:51] daren-thomas commented on #2267
Moving this to the electron interface milestone as by then adding an api for the validator will be much easier.

[2019-08-22 07:58] daren-thomas commented on #2212
@reyery what is your progress here? when do we merge the react part? and the flask-restplus stuff? the electron stuff can come later...

[2019-08-22 07:59] daren-thomas commented on #2212
also, check out #1926 - i'm also working with flask-restplus there for the job server / socket.io for tools output.

[2019-08-22 08:01] daren-thomas commented on #2061
@martin-mosteiro does the new schedules feature (#2182) help here? could you create this as a schedule-maker tool (#2185)? this could also be a blog post!

[2019-08-22 08:02] daren-thomas opened #2273 "Blog post for M2.23"
Who is going to write the next blog post?

[2019-08-22 08:05] daren-thomas commented on #1541
@JIMENOFONSECA so how is this coming along? What is the current status?

[2019-08-22 08:07] daren-thomas commented on #2079
@martin-mosteiro is there anything to be done here?

[2019-08-22 08:08] daren-thomas commented on #2063
@martin-mosteiro what is the status here? can you provide a PR?

[2019-08-22 08:09] JIMENOFONSECA commented on #2256
@shanshanhsieh I beleive you integrated this change right? can you remind us the rationality please?

[2019-08-22 08:14] JIMENOFONSECA commented on #2006
I did this..

[2019-08-22 08:17] JIMENOFONSECA commented on #2263
@Jack-Hawthorne I would appreciate a PR for this.

[2019-08-22 08:17] JIMENOFONSECA commented on #2262
@Jack-Hawthorne sorry but I do not fully understand the question. Mind a few words more?

[2019-08-22 08:20] #2247 closed

[2019-08-22 08:22] JIMENOFONSECA commented on #2244
@daren-thomas well the best is that you suggest one, then I check and move to breakdown accordingly.... what do you think?

[2019-08-22 08:22] JIMENOFONSECA commented on #2243
@shanshanhsieh is that the case?

[2019-08-22 08:23] JIMENOFONSECA commented on #1969
Done centuries ago :-)

[2019-08-22 08:25] daren-thomas commented on #2262
@JIMENOFONSECA I don't understand it fully either, but I just checked the file and it _is_ a bit confusing:

We have a table "SUPPLY" and a table "HVAC" and both specify "type_hs", "type_cs" and "type_dhw". What is the difference between the two?

Also... maybe we can rename the types, so that they're easier to trace back: We use "TX" for all our types, when a "SUPPLY_hs_X" would add more clarity,

[2019-08-22 08:25] JIMENOFONSECA commented on #2271
Let me I fix this...

[2019-08-22 08:26] #1970 closed

[2019-08-22 08:28] JIMENOFONSECA commented on #2270
I can check this...

[2019-08-22 08:28] daren-thomas commented on #1969
@JIMENOFONSECA where is it? I'm checking here: https://city-energy-analyst.readthedocs.io/en/latest/how-to-create-a-new-release.html

I can't find it.

[2019-08-22 08:29] JIMENOFONSECA commented on #1969
Oh I thought it was about repairing the link only

[2019-08-22 08:32] JIMENOFONSECA commented on #2268
@reyery maybe you can give us a quick hand with it? in case you do not know how to fix this type of error, I can tell you how. It is good you know how...It happens form time to time...

[2019-08-22 08:32] daren-thomas commented on #1969
I just checked the link. It leads to here: https://github.com/architecture-building-systems/CityEnergyAnalyst/releases/download/v2.20/Setup_CityEnergyAnalyst_2.20.1.exe

Also, the way it's set up, we need to change it with every release. And when I make a new installer (the revision part of the version) - as a sort of hotfix if the first installer didn't work / needed an update, then it needs to c

[2019-08-22 08:34] JIMENOFONSECA commented on #2122
@daren-thomas this plot does not existing anymore...

[2019-08-22 08:34] #2122 closed

[2019-08-22 08:36] daren-thomas opened #2274 "Thermal Network Optimization doesn't run through (TypeError: __init__() takes exactly 4 arguments (3 given))"
Steps to reproduce:

- reference-case-cooling (doesn't work for heating case yet)
- run from PyCharm (doesn't work for cli/dashboard yet)
- start... wait... it calculates for quite a while. then:

[code]

[2019-08-22 08:39] JIMENOFONSECA commented on #2163
@reyery any updates?

[2019-08-22 08:40] JIMENOFONSECA commented on #2165
These were erased from the interface as they are not functional...

[2019-08-22 08:40] #2165 closed

[2019-08-22 08:41] #2131 closed

[2019-08-22 08:46] JIMENOFONSECA commented on #2187
Hopefully we can tackle this issue once we have the mini-refactoring ready

[2019-08-22 08:47] gabriel-happle commented on #2175
@daren-thomas the main-use determines all kinds of building model parameters (i.e., which archetype is applied).

[2019-08-22 08:48] JIMENOFONSECA commented on #2186
correct, the best way to check for this is to run it without warnings first. It seems there are some related to scipy.... I cannot remember well

[2019-08-22 08:52] JIMENOFONSECA commented on #1590
Due to time restrictions in teh project, I am taking this out of the pipeline

[2019-08-22 08:52] #1640 closed

[2019-08-22 08:52] JIMENOFONSECA commented on #1640
@reyery we did it!

[2019-08-22 08:55] #1644 closed, assigned to daren-thomas

[2019-08-22 08:56] #1574 closed

[2019-08-22 08:56] JIMENOFONSECA commented on #743
this won't happen any time soon, so we close it

[2019-08-22 08:57] #1786 closed

[2019-08-22 08:57] JIMENOFONSECA commented on #1701
this won't happen any time soon, so we close it

[2019-08-22 08:57] #1701 closed

[2019-08-22 08:59] JIMENOFONSECA commented on #1017
this won't happen any time soon (6 - 12 months time), so we close it

[2019-08-22 08:59] #1017 closed

[2019-08-22 08:59] JIMENOFONSECA commented on #940
this won't happen any time soon (6 - 12 months time), so we close it

[2019-08-22 08:59] #940 closed

[2019-08-22 09:00] JIMENOFONSECA commented on #744
this won't happen any time soon (6 - 12 months time), so we close it

[2019-08-22 09:00] #744 closed

[2019-08-22 09:04] JIMENOFONSECA commented on #1541
On it…baby steps…it will be done by end of September as I see.

But in the meantime I will be making some PR's
On 22 Aug 2019, 4:05 PM +0800, Daren Thomas <notifications@github.com>, wrote:

@JIMENOFONSECA<https://github.com/JIMENOFONSECA> so how is this coming along? What is the current status?

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub<h

[2019-08-22 09:15] martin-mosteiro commented on #2063
@daren-thomas no progress made, but it's an easy addition, so I can take care of it by the next milestone

[2019-08-22 09:16] martin-mosteiro commented on #2079
@daren-thomas Yes – but it only affects my reference case. You can close it if necessary.

[2019-08-22 09:17] martin-mosteiro commented on #2061
@daren-thomas No progress made on this yet, need to dive into the new schedules feature and add the MATSim stuff to that.

[2019-08-22 09:39] #2221 closed

[2019-08-22 09:40] #2201 closed

[2019-08-22 09:46] shanshanhsieh commented on #2256
changed to checking if the no space heating systems are installed (T0)

[2019-08-22 09:50] martin-mosteiro commented on #2153
@Jack-Hawthorne I have already answered your question in person.

[2019-08-22 09:55] martin-mosteiro commented on #2153
HVAC = room-level emission systems (e.g., a radiator)
SUPPLY = energy source for the building (e.g., an oil boiler)
The codes in HVAC do come from `emission_systems.xls`. The codes in SUPPLY come from `LCA_infrastructure.xls`.

Yes, that is why the corresponding dbf file is called `technical_systems.dbf`. So the same thing is called *emissions_systems* in the CEA database, *HVAC* in the CEA archet

[2019-08-22 10:04] JIMENOFONSECA commented on #1986
@daren-thomas this can be closed, it is part of verifying the optimization cooling workflow.

[2019-08-22 10:04] #1986 closed

[2019-08-22 10:06] martin-mosteiro commented on #2153
panel efficiency

[NOCT](https://www.pveducation.org/pvcdrom/modules-and-arrays/nominal-operating-cell-temperature)

Constants to calculate air mass modifier (not sure what that means though)

Cell maximum power temperature coefficient

Miscellaneous losses

[2019-08-22 10:11] JIMENOFONSECA commented on #2082
@daren-thomas so these are ready to add they should be part of the new supply maps #1578  (which show 3D information)

[2019-08-22 10:15] JIMENOFONSECA commented on #2273
From today's meeting, I see everyone loaded with stuff. There is no major feature added. We also need to review the Blog M2.21 first

[2019-08-22 10:36] #811 closed

[2019-08-22 13:40] martin-mosteiro commented on #2269
@kerembeygo Thanks for pointing out this issue, however the error doesn't actually appear in the screenshots provided. Could you please copy the full error message?

[2019-08-22 15:01] daren-thomas commented on #1926
Progress update for branch `1926-cea-worker`: tools now run using the job api with socket.io for communication between the `cea-worker` process and the browser. yay!

User can hit [ESC] to exit modal dialog and go to other parts of the application (or start another job...) and continue with their work. If an error happens, an Alert is shown with the error message.

Also, while user is working, a "

[2019-08-22 18:30] kerembeygo commented on #2269
![cea sensitivity-demand-simulate 2](https://user-images.githubusercontent.com/29708612/63539958-d9cb0900-c523-11e9-8acc-490740e3020c.jpg)
![cea sensitivity-demand-simulate 3](https://user-images.githubusercontent.com/29708612/63539966-dc2d6300-c523-11e9-8128-4675469d1c17.jpg)
Two images were forgetten to copy from #2259

[2019-08-23 01:31] #2233 closed

[2019-08-23 11:54] Jack-Hawthorne commented on #2263
@JIMENOFONSECA I haven't yet investigated how all the modules use this data and how they would have to be changed following a database schema update.

The steps to achieving this might look something like this:
- Do a mock up of how it would look and send as a .txt
- Make an overview of which modules use which database for all the input databases.
- Change the schema and update the modules accordi

[2019-08-23 13:13] Jack-Hawthorne commented on #2262
Apologies, this is indeed the question!
l also ask where are the codes (e.g. 'T1', 'T2' ... ) defined? I can find some in emissions_systems.xlsx (e.g. 'type_hs', 'type_cs' ...) , however, 'type_el' is not here.

I also ask if the sources for the "SUPPLY" table and the "HVAC" table are different (i.e. not emissions_systems.xlsx)

[2019-08-23 14:20] daren-thomas commented on #1926
Progress update:

- jobs page added (`http://localhost:5050/tools/`)
- press [ESC] to close dialog and go start some other job
- updates to job states are reflected in real-time
- click on job in table to show output (output is shown as it happens, but also for jobs that are completed success/error)

TODO:

- add link to jobs page (maybe use that as a starting page for creating jobs?)
- make the m

[2019-08-25 12:33] martin-mosteiro commented on #2204
Now that I've seen how the new schedule maker works, I think it makes sense to have the temperature as an additional schedule, but it also makes sense to have an input parameter that defines whether the systems should be off on weekends or not. So it'd be something like:
1. Set `config.demand.are_systems_off_on_weekends` (True / False)
2. Run schedule maker
3. The resulting schedules would then co

[2019-08-25 16:17] OmarAdnan opened #2276 "zone and district shape files do not map correctly"
Hi again,

After my last issue (#2259) with a project not opening in on CEA 2.20.3, I have made the necessary changes to my data, making sure that no building is name is repeated and the building Name column is all unique. Now it does open on the CEA dashboard but the zone and district appear somewhere in the ocean, instead of appearing on top of Lisbon. I went through the CEA website and found th

[2019-08-26 02:25] #2237 closed

[2019-08-26 03:54] JIMENOFONSECA commented on #2263
Hi Jack, the best to proceed is that we meet. I can help to solve many of these questions.

I am available this week on Wednesday at 6:00pm Singapore time. Maybe you write me to my e-mail to confirm the appointment?

Skype should work.
On 23 Aug 2019, 7:54 PM +0800, Jack-Hawthorne <notifications@github.com>, wrote:

@JIMENOFONSECA<https://github.com/JIMENOFONSECA> I haven't yet investigated how al

[2019-08-26 07:12] #2036 closed

[2019-08-26 07:13] #2006 closed

[2019-08-26 07:22] daren-thomas opened #2277 "Update documentation on how to build the docs for a new release"
The documentation here is outdated: https://city-energy-analyst.readthedocs.io/en/latest/how-to-create-a-new-release.html#building-the-documentation

It needs to be updated to reflect the `cea-doc`  tool.

@Jack-Hawthorne as the author of that tool, I'm assigning this to you. Can you please also add some information about the graphviz stuff etc.?

[2019-08-26 08:44] daren-thomas commented on #2197
@JIMENOFONSECA what is the reason for closing the issue? It's unclear to me if this is a "won't-have" or "closed-because-implemented" - the PR is still open. Do we scrap that or merge it in it's current state? Or update it to reflect the fact that not everything will work?

[2019-08-26 08:47] #2079 closed

[2019-08-26 11:36] JIMENOFONSECA commented on #2197
ups... I thought the PR was implemented. my bad.

Jimeno

________________________________
From: Daren Thomas <notifications@github.com>
Sent: Monday, August 26, 2019 4:44:48 PM
To: architecture-building-systems/CityEnergyAnalyst
Cc: Jimeno Fonseca; Mention
Subject: Re: [architecture-building-systems/CityEnergyAnalyst] CEA installation guide for Mac (#2197)

@JIMENOFONSECA<https://github.com/JIMEN

[2019-08-27 06:36] reyery opened #2279 "Render supply networks in input editor based on their connectivity"
Currently the input editor shows supply networks with nodes that are all connected to each other, when in fact the connectivity is supposed to be determined by the type of network indicated in the input database `supply-systems`.

[2019-08-27 14:27] daren-thomas commented on #2255
Status update: `2255-thermal-network-optimization-refactoring` branch.
- created NetworkInfo, NetworkLayout and ThermalNetwork objects
- `thermal-network` works again
- `thermal-network-optimization` doesn't work yet
- problems:
  - `network_info` should contain info needed to create `ThermalNetwork` object
  - updating of `network_info` not explicit
  - (see translate_indiviual, cost function and

[2019-08-28 01:41] gabriel-happle commented on #2204
@martin-mosteiro actually, the system control should be able to detect temperatures of `np.nan` as systems are `off`. We just have to check how to process inputs from csv correctly...

I'm writing this because I'm a bit confused by your point 3.

[2019-08-28 01:49] JIMENOFONSECA commented on #2204
I believe this is implemented already. Check the flag: use user temperatures of the demand script.

Bhargava created this to use the outputs of a model predictive control which defines the optimal setpoints of buildings

_______________________

Dr. Jimeno A. Fonseca
Senior researcher and project coordinator
Future cities Laboratory
Singapore ETH-Centre

Chair of Architecure and Building Systems
E

[2019-08-28 13:19] Jack-Hawthorne commented on #2277
@daren-thomas can i just add a link to the documentation page of tutorials?

[2019-08-29 14:49] daren-thomas commented on #2277
@Jack-Hawthorne more or less. The section in the release documentation should at least contain the commands to run for each release. A link to more in-depth tutorials is of course very welcome!

[2019-09-02 03:11] lguilhermers opened #2283 "CEA not opening / not being able to reinstall it"
Hi all,

For a while I am not being able to open CEA. When it tries to open it closes automatically. The web page is never opened. I was using the developers version and have already updated several times.

Jimeno recommended me to re-install it, but when I tried to do it today, the web page was not found (https://github.com/architecture-building-systems/CityEnergyAnalyst/releases/download/v2.20/S

[2019-09-02 08:41] Jack-Hawthorne commented on #2277
@daren-thomas do they still have to install sphinx ( and are there any version control issues associated?) or is this included in the dev installer?

[2019-09-02 11:21] Jack-Hawthorne commented on #2263
so unfortunately we have somehow missed each other on both scheduled meetings. However, I have read through the code and found the BuildingProperties object which seems to answer some of my questions. I shall do my best to change up the schema, and document this object's attributes their sources (input files).

[2019-09-02 12:16] martin-mosteiro opened #2285 "CEA installation button leads to incorrect URL"
When selecting "Try CEA", users get a form to fill out and finally a download button. This button leads [here](https://github.com/architecture-building-systems/CityEnergyAnalyst/releases/download/v2.20/Setup_CityEnergyAnalyst_2.20.1.exe), which gives a 404 error. The correct link would be [this one](https://github.com/architecture-building-systems/CityEnergyAnalyst/releases/download/v2.21/Setup_Ci

[2019-09-02 13:26] Jack-Hawthorne commented on #2260
@JIMENOFONSECA could you assign someone who knows what these variables are?

[2019-09-03 02:45] #2256 closed

[2019-09-03 02:49] JIMENOFONSECA commented on #2153
@Jack-Hawthorne

r_ohm_per_km - Resistance of one conductor of the line
x_ohm_per_km - Reactance of one conductor of the line
z_ohm_per_km - Impendance of one conductor of the line (actually this is not needed)
b_sh_s_per_km - Shunt suseptance of one conductor of the line (actually this is not needed)
S_max_MVA - Maximum apparent power limit of one conductor of the line (actually this is not neede

[2019-09-03 03:10] JIMENOFONSECA commented on #2285
fixed, good catch martin

[2019-09-03 03:10] #2285 closed

[2019-09-03 03:12] JIMENOFONSECA commented on #2276
@reyery mind giving a hand in here? @OmarAdnan I wonder if you used the create new project tool to upload your zone and district files. The tool aims to clean up any problem you may have with the coordinate system.

[2019-09-03 03:13] JIMENOFONSECA commented on #2283
@lguilhermers We just fixed this. try again!

[2019-09-03 03:13] #2283 closed

[2019-09-03 03:19] JIMENOFONSECA commented on #2273
@reyery I believe we can make the video of CEA public. we have a channel and a blog presenting the features...
here is the video: https://youtu.be/4qcTtyRtbm4

[2019-09-03 03:33] reyery commented on #2273
@JIMENOFONSECA I believe the dashboard would be ready by today (hopefully merged also), so I could start on writing the blog for it for this milestone.

[2019-09-03 03:34] reyery commented on #2273
Oh and maybe we could put some annotations or put some information in the description so that people watching can follow what's going on in the video.

[2019-09-03 11:44] daren-thomas commented on #2255
Status update: I've done all the refactorings above. There are bugs in the thermal-network code, I think. And some in the thermal-network-optimization code. I think mainly we'd have to think long and hard about when files are read and written and where to/from.

as-is in the branch `2255-thermal-network-optimization-refactoring`, thermal-network runs through, as long as (`stop_t - start_t` > numbe

[2019-09-03 11:49] reyery commented on #2276
@OmarAdnan may I know how you are creating the geometry files? I have tried using **QGIS** to open the 3 types of files that you have uploaded and all of them ended up in the middle of the ocean, so it might not be a problem with our dashboard.

[2019-09-04 00:55] JIMENOFONSECA commented on #2273
Great idea. Something like subtitles
On 3 Sep 2019, 11:35 +0800, Reynold Mok <notifications@github.com>, wrote:

Oh and maybe we could put some annotations or put some information in the description so that people watching can follow what's going on in the video.

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub<https://github.com/architecture-bu

[2019-09-04 03:53] #2272 closed

[2019-09-04 08:00] Jack-Hawthorne commented on #2153
thank you both!
i shall dig through the code for the rest

[2019-09-04 09:48] OmarAdnan commented on #2276
Hi, So the geometry files were created by editing the main set of shp files I received from my professor. Here are the files :
[city_zoneformat.zip](https://github.com/architecture-building-systems/CityEnergyAnalyst/files/3573887/city_zoneformat.zip)

If I open the files on QGIS and set the CRS correctly the builds do show up correctly on it as you can see from the screenshots below:
![WGS 84_UTM2

[2019-09-04 11:22] reyery commented on #2276
Aright! After looking through the original shp file provided by your professor, I think I know what might be the problem. The map that we use in our software i.e. **mapbox**, only uses the `WGS84` projection system.

If I am understanding it correctly, you have transformed the CRS of the openstreetmap tiles to fit the various geometries that you have extracted? That is why you were able to fit the

[2019-09-04 11:42] OmarAdnan commented on #2276
Thanks for the help!!  I extracted from the city_zoneformat shapefiles by first creating a copy of it by exporting it with the desired CRS and then renaming the exported layer on QGIS and editing it a bit to make it smaller(less number of building) for my initial analysis on DaySim on CEA, as I believe it will take a very long time to run it on all the buildings present on the main shp file.

What

[2019-09-04 13:30] #2264 closed

[2019-09-04 13:30] #2262 closed

[2019-09-04 13:30] #2261 closed

[2019-09-04 15:20] Jack-Hawthorne commented on #2263
@daren-thomas @JIMENOFONSECA
soooooo, as i have been going through the systems input databases, I've noticed that the schema is really confusing. this is a comment from other users of CEA users too.

It feels like a tangled mess of wires that seems to work but no one is completely sure how. the LCA is disintegrated from the supply and technologies modules hence the `type_cs` discrepancy. and infor

[2019-09-05 07:18] reyery commented on #2276
Hmmm... I'm not too sure. But from the way I extracted the geometries, I did not convert any CRS.

I just selected the buildings using the polygon selection tool then copy and paste it to a separate layer and export the layer as a new shp file. Hope that helps!

<img width="960" alt="Copy_Features" src="https://user-images.githubusercontent.com/34395415/64319961-18ff5c80-cff0-11e9-8b87-b6536c662d2

[2019-09-05 07:26] daren-thomas commented on #2277
@Jack-Hawthorne confirming your assumption: sphinx is now part of the installer. it just makes it simpler. also no more  `pip install -e .[dev]` (the `[dev]` part is now obsolete)

[2019-09-05 07:30] daren-thomas opened #2291 "District heating system workflow fails at decentralized tool"
Steps to reproduce:

-  `cea workflow --workflow district-heating-system`

Expected the workflow to run through, but only gets as far as  `decentralized`:

Full stack trace:

[code]

[2019-09-05 09:18] #2163 closed

[2019-09-05 10:51] OmarAdnan commented on #2276
That's pretty much how I did it too. Anyways I am really grateful for your help but now I have another problem since yesterday which is occurring in the DaySim, after creating the necessary files (age, occupancy, terrain) and running the data helper tool; when I initiate Daysim it gives an error which says its a ValueError. On the dashboard window in chrome browser it also : "ValueError: ERROR: th

[2019-09-06 07:40] reyery opened #2293 "Error decoding BooleanParameter"
Trying to edit plot parameters that has a `BooleanParameter`, using the new react dashboard, results in an error:

[code]

This is caused by the parameter form giving `BooleanParameter` `decode()` function a `bool` instead of a `str`

[2019-09-06 07:46] #2293 closed

[2019-09-06 09:39] reyery commented on #2276
Hmm.. we could just keep it in this conversion for now unless turns out to be a big issue. May I know what kind of terrain file you are using? If you are using your own terrain file could you upload it so I can investigate it on my end.

[2019-09-06 12:38] daren-thomas opened #2296 "Error running emissions script"
Steps to reproduce:

- open scenario in dashboard
- choose "Tools / Analysis / Life Cycle Analysis (zone)"
- click "Run"

Expected script to complete successfully, instead got this error:

[code]

[2019-09-06 13:48] daren-thomas commented on #2192
@reyery how _exactly_ would the move to electron address this issue?

[2019-09-06 13:53] daren-thomas commented on #2192
Status update: #2288 (FEATURE: New React Dashboard) removed the link in the plot title.

[2019-09-06 15:29] OmarAdnan commented on #2276
This is the main file, using QGiS raster clipping option and I clipped the raster down to a small size just of my area of interest.

[Terrain.zip](https://github.com/architecture-building-systems/CityEnergyAnalyst/files/3584575/Terrain.zip)

[2019-09-09 14:10] Jack-Hawthorne commented on #2263
@JIMENOFONSECA @daren-thomas @martin-mosteiro please have a look at branch #2263 : `cea/databases/SG/systems`

there are four new databases which have merged many of the sheets and conflicting sources of information. still yet to be tweaked and completely filled in but it would be nice to have some feedback.

if someone could explain what each of these temperatures is expressing that would be grea

[2019-09-10 20:44] martin-mosteiro commented on #2051
@prakharmehta95 has been working on this for his paper and will create a PR once he is done updating the schedules.

@prakharmehta95 could you maybe give an update on the status of the schedule update?

[2019-09-11 10:08] prakharmehta95 commented on #2051
@martin-mosteiro  I am done updating the schedules, will do a PR soon - for future reference, I want to add in the sources/some decisions we took while discussing what to do.

[2019-09-11 10:16] martin-mosteiro commented on #2051
@prakharmehta95 Thanks, that'd be perfect. Please do list all sources for future reference.

[2019-09-11 10:23] prakharmehta95 commented on #2051
@martin-mosteiro I have a question - should I leave comments in the excel database files for those values which are a bit unclear/left the same as old SIA 2006 standards, or should I have a separate text file?

Also had some color codes in the files to highlight values where no clear sources were found/values were attained through calculations (e.g. the Hospital energy densities) - keeping the col

[2019-09-11 11:35] daren-thomas opened #2298 "React code uses hardcoded server:port"
see: `cea/interfaces/dashboard/plots/static/js/react-dashboard.js` - this code does stuff like

[code]

which hardcodes the hostname and port of the cea server. instead, this should just be relative - `/api/dashboard/new` should work just as well.

the rationale for this is that we don't want to hardcode these values as they might change - imagine a future where the CEA is hosted in the cloud - sa

[2019-09-16 01:52] #2246 closed

[2019-09-16 09:22] reyery commented on #2276
hey @OmarAdnan sorry for the delay, but I am still can't figure out how to solve this problem. Could you submit this as a separate issue, copying what you have mentioned above? Might need to have some one else to look into this.

[2019-09-16 09:41] daren-thomas opened #2307 "Allow opening a scenario by clicking on image from project overview page"
As a user, after opening a project, I instinctively try to click on the scenario image to open the scenario. This doesn't currently work - I'm supposed to click the "open" button.

Instead, make the scenario image also open the scenario on click.

[2019-09-16 09:51] shanshanhsieh commented on #2263
Hi @Jack-Hawthorne ,
thanks for looking into this.
here are the answers i know:
1. dTcs_C / dThs_C : looking at the usage, i am not so sure abt what is means. maybe @gabriel-happle can explain this better.
2. Ts0_scu_C / Ts0_ahu_C / Ts0_aru_C : nominal off-coil temperatures of the heating/cooling units. (Chiller operates according to this temperature, not the other way around. aru stands for air-r

[2019-09-16 09:53] shanshanhsieh commented on #2249
@JIMENOFONSECA , i've updated the power consumption of absorption chiller in this branch according to a manufacturer's catalog. changes can be found in branch `i2249`

[2019-09-16 11:01] OmarAdnan commented on #2276
Yea sure, I will do that.

[2019-09-16 11:07] RicardoGomesIST opened #2308 "Terrain missing file (?) and error on the Solar Calculation"
Hi, I tried to define a new project.First, exported and adapted the zone and district files from OSM. Then, in CEA I tried to define the terrain file (using helper and default values). Then ran the Solar Radiation and returned the error:
ERROR: this usually happens when buildings do not overlap with the terrain, try to check if this is the case
One thing I noticed it that the topography folder jus

[2019-09-16 11:10] OmarAdnan opened #2309 "Error when running DaySim, terrain doesn't seem to overlay over the shapefile correctly."
[Terrain.zip](https://github.com/architecture-building-systems/CityEnergyAnalyst/files/3615957/Terrain.zip)

I have a problem which is occurring in the DaySim, after creating the necessary files (age, occupancy, terrain) and running the data helper tool; when I initiate Daysim it gives an error which says its a ValueError. On the dashboard window in chrome browser it also : "ValueError: ERROR: thi

[2019-09-16 11:31] daren-thomas opened #2310 "Input Editor: Show the list of valid supply systems in dropdowns"
![image.png](https://images.zenhubusercontent.com/57b40957e40e5714b16d7331/ae803229-0860-4a4b-83c9-7205706995f3)

When editing the supply-systems, the user needs to know the system id to use. These are rather cryptic (all starting with `"Tx"`) and need to be looked up in "{general:scenario}\inputs\technology\lifecycle\LCA_infrastructure.xlsx".

Instead, let's let the computer do the work for us. W

[2019-09-16 11:42] kerembeygo opened #2311 "Thermal Network II (simulation) stops without warning"
![Thermal Network](https://user-images.githubusercontent.com/29708612/64954979-ba5b9d80-d88f-11e9-94dd-27083073415a.jpg)
![CEA Thermal Network1](https://user-images.githubusercontent.com/29708612/64954984-be87bb00-d88f-11e9-8d52-79f2ba94ceae.jpg)
![CEA Thermal Network2](https://user-images.githubusercontent.com/29708612/64954992-c182ab80-d88f-11e9-9533-cc58e854db88.jpg)
![CEA Thermal Network3](htt

[2019-09-16 12:46] daren-thomas commented on #2311
@kerembeygo I'm not sure exactly what you mean - I just ran the script today without any problems on the master branch.

Have you tried running it from the CEA Console? (`cea thermal-network`) - maybe you can see more output there...

How long did you wait to assure it stopped? From your last screenshot, it seems you still have a python session there... it's just currently not doing anything?

[2019-09-16 13:12] OmarAdnan commented on #2309
This is the region which i am interested in. It is a neighbourhood in Lisbon, Portugal.

[zone.zip](https://github.com/architecture-building-systems/CityEnergyAnalyst/files/3616406/zone.zip)

[2019-09-17 08:11] #2279 closed

[2019-09-17 08:30] reyery opened #2312 "Supply system map does not work in single plot view"
Opening supply system map in single plot view and toggling 3D would cause this error.

![image](https://user-images.githubusercontent.com/34395415/65024780-13970000-d968-11e9-87e1-360e24a8ff79.png)

![image](https://user-images.githubusercontent.com/34395415/65024790-17c31d80-d968-11e9-9414-6872369a3855.png)

From the looks of it, could be some kind of dependency problem with deckgl. Changing to r

[2019-09-17 15:42] gabriel-happle commented on #2263
- dTcs_C / dThs_C: is the setpoint correction of the heating/cooling systems. It's used to calculate losses due to emission and control in the `space_emission_systems.py` code
- T_sup_air_aru_C: is the supply air temperature of the air-recirculation unit. I.e., the temperature of the conditioned air coming from your fan-coil unit. It is used in the `airconditioning_model.py` code

[2019-09-17 15:48] gabriel-happle commented on #2263
@Jack-Hawthorne I can't find a branch #2263. is it on github?

[2019-09-18 01:06] #2276 closed

[2019-09-18 05:22] JIMENOFONSECA opened #2314 "Dashboard "set-scenario" does not work in master"
@reyery maybe we can check this? to replicate just press the 'set-scenario' button in the dashboard

![image](https://user-images.githubusercontent.com/8973186/65113799-1ef53480-da17-11e9-9ed7-4d4b3fd54413.png)

[2019-09-18 05:28] JIMENOFONSECA opened #2315 "Add new plot/Change plot buttons should present the properties of the plot first"
When we add a new plot or change the plot it will do it so with the properties of the config file automatically.

This is a bit of a hassle, since it means we have to create the plot. and then go to the properties of the plot and change it to the configuration of the plot we want.

This problem could be solved by presenting the properties of the plot prompt BEFORE the plot is created and Just righ

[2019-09-18 05:57] JIMENOFONSECA commented on #2249
Thanks shanshan I merged that branch into my new branch (optimization-cooling) I should be able to send a PR. soon

[2019-09-18 06:14] kerembeygo commented on #2311
Yes python session is there but it doesn't perform anything. It happened before.
![Thermal Network 1](https://user-images.githubusercontent.com/29708612/65118918-57cfe200-d9f4-11e9-998a-909cf80b0
![Thermal Network 2](https://user-images.githubusercontent.com/29708612/65118933-5b636900-d9f4-11e9-9121-8fc8ae85670f.jpg)
![Thermal Network 3](https://user-images.githubusercontent.com/29708612/65118945-

[2019-09-18 06:16] kerembeygo commented on #2311
CEA Console run
![Thermal Hydraulic](https://user-images.githubusercontent.com/29708612/65119430-e8a6bd80-d9f4-11e9-8312-001c1729d810.jpg)

[2019-09-18 06:19] kerembeygo commented on #2311
Question is I didn't enter any information about the scenario. How does console choose which scenario to perform?

[2019-09-18 06:21] kerembeygo commented on #2311
The run also increases disc size considerably. How do I clean the excess data from disc?

[2019-09-18 07:01] kerembeygo commented on #2311
Thermal Networks plots command only try to display DC plots (DH?).
![ThNw1](https://user-images.githubusercontent.com/29708612/65122979-ec3d4300-d9fa-11e9-90d9-64871c8a2d71.jpg)
![ThNw2](https://user-images.githubusercontent.com/29708612/65122978-ec3d4300-d9fa-11e9-947f-fdb755dbd65f.jpg)
I don' t have any cooling demand for the district. But there must be.
![Energy Demand 1](https://user-images.gi

[2019-09-18 08:22] shanshanhsieh opened #2317 "Adding parallel processing to thermal-network-optimization"
Current thermal-network-optimization is only running the simulation with single processing.
Need to investigate whether the files are saved and read correctly between different rounds of simulations of different individuals.
@daren-thomas , please suggest the plan of attack, thanks!

[2019-09-18 08:24] #2255 closed

[2019-09-18 10:50] reyery commented on #2314
Ok found the annoying bug where I forgot to change some function parameters during refactor.

[2019-09-18 11:17] #2314 closed

[2019-09-18 13:56] #1926 closed

[2019-09-18 13:56] #2192 closed

[2019-09-18 13:56] #2117 closed

[2019-09-18 13:56] #2277 closed

[2019-09-18 13:58] #753 closed

[2019-09-18 13:58] #1969 closed

[2019-09-18 13:59] #2197 closed

[2019-09-18 14:04] daren-thomas commented on #2274
@shanshanhsieh is this fixed? I think it is, right?

[2019-09-18 14:10] daren-thomas commented on #2168
A lot of this is already implemented with cea-worker... the whole InputLocator situation needs to be revisited. But... I think this would be more cleanly done by moving the scripts away from reading/writing files and reading/writing DataFrames instead.  The problem is, this would require changing every single script... We might actually never get around to doing this.

So the solution presented he

[2019-09-18 14:16] daren-thomas commented on #2291
@JIMENOFONSECA what is the status here? I think it's fixed, right?

[2019-09-18 14:26] daren-thomas commented on #2235
@martin-mosteiro @gabriel-happle how is this connected to the PR #2302 (Add script to create occupant schedules from MATSim population)?

[2019-09-18 14:26] daren-thomas commented on #1990
We'll actually be erasing the plot tools as soon as we have implemented all the plots.

[2019-09-18 14:33] JIMENOFONSECA commented on #2291
Yep
On 18 Sep 2019, 22:23 +0800, Daren Thomas <notifications@github.com>, wrote:

@JIMENOFONSECA<https://github.com/JIMENOFONSECA> what is the status here? I think it's fixed, right?

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub<https://github.com/architecture-building-systems/CityEnergyAnalyst/issues/2291?email_source=notifications&email_tok

[2019-09-18 14:48] martin-mosteiro commented on #2235
I did some minor folder reorganization as part of the MATSim schedule implementation. Might solve this issue or not – up to Gabriel (the creator of this issue and reviewer assigned to PR #2302) to decide.

[2019-09-19 06:39] lguilhermers opened #2321 "Construction database available in input folder"
Hi all,

I had a meeting with Jimeno today to discuss some results today and he raised some issues to be posted here.

One would be that the construction_properties database shouldn't be available for the users to see in inputs - technology folder, as this raises confusion of which fields need to be edited by the user.

Thanks!
Luis

[2019-09-19 06:42] lguilhermers opened #2322 "fields for Es and Ns (visibility at dashboard and definition at glossary)"
Hi all,

I had a meeting with Jimeno today to discuss some results today and he raised some issues to be posted here.

One would be that the the fields of Ns and Es are not visible at the dashboard to be edited, and this would be useful for the users. Right now they are only accessible by going to the building_properties folder.
Furthermore, it need a definition in the glossary because this parame

[2019-09-19 06:46] lguilhermers opened #2323 "Dashboard graph names"
Hi all,

I had a meeting with Jimeno today to discuss some results today and he raised some issues to be posted here.

One would be that the some of the names of graphs at the dashboard are a bit confusing.
He suggested to change "Energy Supply Intensity" to "Energy Use Intensity" and changing the current "Energy Use Intensity" to "Energy End-Use Intensity". This is to avoid confusion with EUI bei

[2019-09-19 08:50] daren-thomas opened #2324 "Resume workflow feature does not work"
The `cea workflow` tool has a feature to resume at the last step that failed. This is essential while debugging, as you want to be able to fix a bug and then continue from where the workflow crashed.

It is currently not working.

[2019-09-19 08:52] daren-thomas commented on #2322
@lguilhermers what fields exactly are you talking about? In what file are they?

[2019-09-19 08:55] daren-thomas commented on #2321
@lguilhermers how is that _not_ a user input? I mean, for regions that we include (SG/CH), we can provide this information, but shouldn't the user be able to edit that and create his own region database?

[2019-09-19 08:57] #2291 closed

[2019-09-19 09:04] lguilhermers commented on #2321
I think Jimeno's idea was to let the users create their own database in a separate place. If I understood correctly, with some interface on the dashboard for that.
For me it is a fair point that there needs to be a place to create a personal database, and for now probably the only way to do is by editing this sheet. But I also agree with Jimeno that creates some confusion with what is being consid

[2019-09-19 09:09] lguilhermers commented on #2322
In architecture.dbf (inputs - building properties) there are 2 parameters named "Es" and "Ns".
From my understanding they control the rate of space that uses electricity and share of the building that is dedicated to apartments (or offices), respectively.
This is useful because a significant part of the building is used for common spaces, mostly circulation.  This factor should account for those.

[2019-09-19 09:33] #2274 closed

[2019-09-19 09:44] daren-thomas commented on #1541
implemented in PR for #2249

[2019-09-19 09:44] #1541 closed

[2019-09-19 10:11] daren-thomas opened #2325 "Refactor all the databases"
Check
- naming (files, tables, columns)
- what get's used by what script? (we have some hints from the TraceInputLocator)
- create a plan on how to move forward

[2019-09-19 11:52] gabriel-happle commented on #2207
As discussed in today's CEA meeting, we will try to approach advanced CEA users in person.
For this purpose, I will prepare a mailing list of persons to approach and a doodle to plan Skype meetings with the CEA team.

[2019-09-19 15:29] gabriel-happle commented on #2152
yes. This is fixed in #2265

[2019-09-19 15:29] #2152 closed

[2019-09-20 02:55] lguilhermers opened #2326 "feature request: show GFA where there is information about the area and volume"
Hi CEA team,

Would it be possible to add a feature that calculates the GFA (area * number of floors) and shows it in the input editor, the same way is done for areas and volumes (below)?
In my case I have data about GFA and would like to check with what CEA gives before running the simulations, adjusting the model to match with the available data.
Right now I believe the only ways to get it are b

[2019-09-20 03:27] JIMENOFONSECA commented on #2296
@daren-thomas I believe this is fixed?

[2019-09-20 03:31] JIMENOFONSECA commented on #2268
it was somehow fixed..It does not happen anymore in master

[2019-09-20 03:31] #2268 closed

[2019-09-20 03:33] JIMENOFONSECA commented on #2153
@Jack-Hawthorne do you have anymore variables missing?

[2019-09-20 03:37] JIMENOFONSECA commented on #2025
@daren-thomas @shanshanhsieh status please!

[2019-09-20 03:49] JIMENOFONSECA commented on #2308
Unfortunately, your files are not in the same coordinate system. your edits outside of CEA might have changed the format.

Please check our tutorial on how to change your coordinate system to what CEA needs (UTM)

[2019-09-20 03:52] JIMENOFONSECA commented on #2309
@OmarAdnan can you check that both files have exacly the same coordinate system? You can check this by doing right click in each layer and checking the properties attibute. Terrain, Zone etc has to have the same coordinate system there.

Qgis, normaly transforms your data in order to visualize it, but it does not change it for you.

[2019-09-20 03:54] JIMENOFONSECA commented on #2317
@shanshanhsieh check the optimization code I made. this should give you an idea how to set up GA correctly, including parallel simulations

[2019-09-20 04:06] JIMENOFONSECA commented on #2322
@reyery the columns are not integrated into the dashboard. they do exist in the architecture.dbf
@gabriel-happle would you mind telling use again what NS and Es control for the singapore context?

[2019-09-20 04:08] JIMENOFONSECA commented on #2321
@daren-thomas no, the user should not have access to this (at least not in this way) the reason is that
1. we do not have any user creating their own database (so why bother)
2. having this, creates confusion. We do not know anymore where the data is taken from (what databses can be editted and which not

The way to go is to take it out from the data helper. Should a user wants to create their own

[2019-09-20 04:11] JIMENOFONSECA commented on #2326
@reyery I think we can implement this quite easily in the front end (it is the multiplication of (floors_ag+floorsbg) * area

[2019-09-20 04:15] JIMENOFONSECA commented on #2175
@martin-mosteiro would you mind making the message? I think you know about the schedules more than any by now.

Just the message will be enough

[2019-09-20 04:17] JIMENOFONSECA commented on #900
Closing. this will not happen in the near future of the project

[2019-09-20 04:18] JIMENOFONSECA commented on #1705
closing, as we do not keep track of this anymore

[2019-09-20 04:18] #1705 closed

[2019-09-20 04:18] JIMENOFONSECA commented on #1647
@daren-thomas update?

[2019-09-20 06:19] lguilhermers opened #2328 "Edit Selection does not work if some rows have the same value as the new value"
Hi,

I am trying to edit inputs for multiple buildings so I am using the edit selection button. The problem is: if at least one of the buildings already has one of the fields the same as what I am trying to edit, it doesn't let me press ok and apply the changes for the others.
I get that it doesn't make sense to edit a building to change to the same properties, but sometimes is the fastest way to

[2019-09-20 08:30] daren-thomas commented on #1647
@JIMENOFONSECA I'm still waiting for the workflow to run through to be able to collect the information for the last few scripts. Some parts of this issue are implemented: For those scripts where we have metadata, the input files are checked for existence as a pre-condition to running the script and a hint is printed out to the user with recommendations on what scripts to run first.

In the next st

[2019-09-20 08:32] daren-thomas commented on #900
@JIMENOFONSECA Python 2.7 is end-of-life in January 2020. I suggest we do the port, but maybe after MuSES?

[2019-09-20 08:43] #2271 closed

[2019-09-20 11:55] OmarAdnan commented on #2309
Ok sure I will check them and see if they are the same

[2019-09-23 02:09] JIMENOFONSECA commented on #900
yes... i think we open this issue when we need to do it. For now, it is just background noise. I lose time trying to understand the issue (and similar ones) every sprint. i suggest to close all that we will not be doing in a year time. It is just taking us out of focus. It is distracting...

Some pruning to get to our priorities and roadmap will be good. I do not see us working on this issue even

[2019-09-23 07:50] Jack-Hawthorne opened #2329 "Update Input Database Schema"
As the name suggests, this epic is based on updating the input databases schema, particularly aimed at the systems databases. The goal is to reduce redundancy and increase user friendliness by combining similar databases and updating the naming accordingly.

As most of the databases are read and stored in the `building_properties.py` objects, this might be able to be done in three steps:

- update

[2019-09-23 07:54] lguilhermers opened #2330 "Unable to handle column names with different case due to case sensitivity of pandas column names"
Hi all,
I was trying to change the parameter "Es" in architecture.dbf and this caused an error in the simulation and now when trying to opening this file. Not sure what caused, but changing it back also didn't help.

I am attaching a link to the edited file here (I can't attach this format here): https://we.tl/t-UPxDy7Mq8B

I am also copying the log error below:
Traceback (most recent call last):

[2019-09-23 07:58] Jack-Hawthorne commented on #2263
@gabriel-happle @shanshanhsieh

Thankyou both for the information! It is greatly appreciated.

Apologies, i forgot to publish this branch. However, I after consulting @daren-thomas, I will now create an epic and separate issues pertaining to some confusing aspects and potential fixes for these for the team to review and comment.

Hopefully we can get this sorted without too much hassle!

[2019-09-23 08:29] Jack-Hawthorne opened #2331 "Update of electrical_networks, thermal_networks and supply_systems (sheet: Piping) databases"
When reviewing the databases, I noticed that all these are databases are related, being "transmission systems". They are conduits for the transmission of thermal and electrical energy and could potentially be merged.

------------------------------------------
`electrical_networks.xlsx` issues

- According to jimeno, a great deal of the attributes in the `electrical_networks.xlsx` are not actually

[2019-09-23 12:48] Jack-Hawthorne opened #2332 "Update of emission_systems, supply_systems and LCA_infrastructure databases"
Going through the databases, I noticed the emission_systems, supply_systems and LCA_infrastructure databases are all somehow related. Working with a CEA user, it was very confusing to pinpoint which parameters would impact which outcomes and how to modify these to suit their scenarios and research topics.

-----------------------------------

`emission_systems.xlsx` issues:

- the name of the file

[2019-09-23 13:57] #2051 closed

[2019-09-23 14:51] martin-mosteiro opened #2333 "Data helper tool copies wrong weather file with no error message"
When running the data helper tool, if the user specifies any weather file that is not in the CEA database, then CEA uses Changi without any kind of error message.

This leads to users running simulations with the wrong weather file without realizing it.

[2019-09-23 14:53] martin-mosteiro commented on #2333
Input:
[code]

Output:
[code]

The output should be some kind of warning that `something-fake` is not a valid weather path.

[2019-09-23 14:56] martin-mosteiro commented on #2333
The issue is that if you do the following with the aforementioned config file you get the following:
[code]

[2019-09-23 15:00] martin-mosteiro commented on #2333
This seems to be an issue with the config file parser. Possible solutions:
1. Do not use `Singapore-Changi_1990_2010_TMY` as the default value for `config.weather_helper.weather`
2. Something smarter.

I trust @daren-thomas can do option 2, so I'll assign him.

@daren-thomas, please let me know if you disagree.

[2019-09-24 03:15] JIMENOFONSECA commented on #2331
Hi @Jack-Hawthorne I think you did a very good job describing this issue. I know understand the critical problem you pointed out. thumbs up for that.

As for the solution:
1. Let's keep the electrical network parameters for now. Looking at which ones are used or not used, should be another issue, because it can take several days to figure it out and test that we d onot break the code.
2. The mater

[2019-09-24 03:36] JIMENOFONSECA commented on #2332
@Jack-Hawthorne once again, thums up for the great description.

I see the issue is challenging, since some of the databases are used for only optimization while others are used for the technical_systems.dbf I suggest you meet with @gabriel-happle and @daren-thomas who are in Zurich until the end of this month and together devise a plan on how to put all these databases into the right shape.

1. A

[2019-09-24 03:36] #2332 closed

[2019-09-24 04:18] JIMENOFONSECA commented on #2269
@martin-mosteiro update?

[2019-09-24 04:18] #2063 closed

[2019-09-24 05:24] reyery commented on #2322
@lguilhermers we have added the variables to the dashboard in master

[2019-09-24 05:34] reyery commented on #2330
hey @lguilhermers, because pandas column names are case-sensitive and the file that you have given me has all the column names in uppercase, it was not able to find the column `Name` even though it exists in your file as `NAME`. Easiest way to solve it would be to just rename your columns to the original case. We will look into how we can handle this type of errors.

[2019-09-24 06:03] lguilhermers commented on #2330
Got it! But not sure what caused the cases to change, as I didn't to this change manually...

[2019-09-24 06:04] lguilhermers commented on #2322
Thanks!

[2019-09-24 06:48] JIMENOFONSECA opened #2336 "Project sponsor feature request: guide on how to start with CEA"
It could be a small document about what steps to do now whith the new CEA.

1. https://cityenergyanalyst.com/blog/2019/6/3/how-to-install-the-cea-on-windows-part-1Use this guide to install the development version of CEA and connect to our repository (code base)
2. https://cityenergyanalyst.com/blog/2019/6/28/getting-started-with-your-own-project-1Use these series of blog posts to create a new proj

[2019-09-24 07:10] lguilhermers commented on #2322
@reyery should those fields be visible in the input editor already? I pulled the update, but I still don't see it on my dashboard.
![image](https://user-images.githubusercontent.com/50981039/65489292-6bd87f80-dedd-11e9-863a-ae4e14c7ee08.png)

[2019-09-24 07:14] #2328 closed

[2019-09-24 07:14] JIMENOFONSECA commented on #2322
@lguilhermers you need to restart CEA after updating from master :-). let us know if this works

[2019-09-24 08:47] JIMENOFONSECA commented on #2270
EL should not be part of the inputs. We do not support that functionality for now. PR #2337 solves this issue

[2019-09-24 09:04] JIMENOFONSECA commented on #2260
@Jack-Hawthorne I believe this is a duplicate issue? I remember giving this information already?

[2019-09-24 09:04] #2260 closed

[2019-09-24 09:14] lguilhermers commented on #2322
@gabriel-happle just a reminder, if you can provide further clarification of what those parameters (Ns; Es) control.

[2019-09-24 09:21] martin-mosteiro commented on #2175
@JIMENOFONSECA check out PR #2339

[2019-09-24 09:41] JIMENOFONSECA commented on #2066
solved in master

[2019-09-24 09:41] #2066 closed

[2019-09-24 09:44] JIMENOFONSECA commented on #2263
I saw the issues that were recently created, we close this issue to avoid duplicates

[2019-09-24 09:44] #2263 closed

[2019-09-24 12:40] martin-mosteiro commented on #2269
@kerembeygo, @JIMENOFONSECA I cannot seem to replicate the issue. The sensitivity analysis step 2 runs correctly on my computer.

@kerembeygo Given that you are getting an error relating to `config.debug`, is it possible that you have this option set to `True` in your config file?

[2019-09-24 12:47] gabriel-happle commented on #2322
@lguilhermers
`Es` is the fraction of GFA that has electrical loads, such as e.g., lighting according to the internal loads per m2. This area can be different to the Air-conditioned area.
`Ns` is the fraction of net floor area to GFA. It is used in the occupancy models when calculating the number of people in advanced occupancy models.

[2019-09-24 21:17] JIMENOFONSECA commented on #2322
https://github.com/gabriel-happle Gabriel, would you mind adding this description to the CeA glossary. It is missing in there
On 24 Sep 2019, 20:57 +0800, Gabriel Happle <notifications@github.com>, wrote:

@lguilhermers<https://github.com/lguilhermers>
Es is the fraction of GFA that has electrical loads, such as e.g., lighting according to the internal loads per m2. This area can be different to t

[2019-09-25 11:12] kerembeygo opened #2342 "CEA V. 2.22 Demand Error"
![Demand1](https://user-images.githubusercontent.com/29708612/65595918-7ad33680-df9e-11e9-82d7-1584dd6336ca.jpg)
![Demand2](https://user-images.githubusercontent.com/29708612/65595932-8292db00-df9e-11e9-83fd-aeba5d9d4d25.jpg)
![Demand3](https://user-images.githubusercontent.com/29708612/65595946-8888bc00-df9e-11e9-9d17-ada904e68a10.jpg)

[2019-09-25 17:28] kerembeygo commented on #2342
![Demand](https://user-images.githubusercontent.com/29708612/65624627-f3ec8100-dfd2-11e9-8ad5-d688d4a74dcc.jpg)

[2019-09-25 17:28] kerembeygo commented on #2342
No error with 2.21

[2019-09-26 07:55] #2175 closed

[2019-09-26 07:56] JIMENOFONSECA commented on #2342
@martin-mosteiro @gabriel-happle I guess there were some changes to the databases? please suggest what to do in this case

[2019-09-26 08:18] martin-mosteiro commented on #2342
@JIMENOFONSECA Indeed.
@kerembeygo please update CEA and run the data helper again, or alternatively add a column `Qcpro_Wm2` to the file **internal_loads.dbf** in your case study.

[2019-09-26 10:36] kerembeygo commented on #2342
Yes, data helper worked.

[2019-09-26 10:36] #2342 closed

[2019-09-26 12:14] gabriel-happle commented on #2207
an invitation email for face-to-face feedback sessions was sent to 12 advanced users of CEA.
This will replace the survey.
Closing the issue.

[2019-09-26 12:14] #2207 closed

[2019-09-26 12:18] gabriel-happle opened #2343 "Add Es and Ns parameters to glossary"
Add `Es` and `Ns` parameters to glossary as result of #2322

[2019-09-26 13:18] gabriel-happle opened #2344 "Please make output messages of CEA more human readable"
Output messages of CEA are currently not human-readable anymore.
Plus, output messages should be part of the dashboard interface.

Example of running the demand:
What I need to see here is e.g.,:
- for which buildings existing schedules were detected and used
- for which buildings new schedules were created

[code]

[2019-09-26 15:30] gabriel-happle opened #2345 "Geometry extraction from open streetmap fails in San Francisco and Los Angeles"
Trying to extract geometry in Los Angeles and San Francisco fails with below error message.
Funny enough, extracting geometry in other places in California (e.g. Alturas, California) seems to work.

[code]

e.g. Alturas, California
![image](https://user-images.githubusercontent.com/17002288/65702354-235ac680-e083-11e9-9107-9b2ea3591466.png)

[2019-09-27 03:26] JIMENOFONSECA commented on #2345
So this is a problem of an external library. It seems the lat and lon of the site are outside of the bounds (the bounds are in this picture).

Maybe we could check if the file in OSM comes with another latitute and longitude readings in SanFrancisco?

<img width="771" alt="Screen Shot 2019-09-27 at 11 25 15 AM" src="https://user-images.githubusercontent.com/8973186/65739893-826b1a80-e119-11e9-9448

[2019-09-27 09:01] kerembeygo commented on #2269
![Sensitivity Demand Simulate](https://user-images.githubusercontent.com/29708612/65756645-29ea4c00-e11e-11e9-9523-469eaa8186a7.jpg)
![Sensitivity Demand Simulate 1](https://user-images.githubusercontent.com/29708612/65756684-3bcbef00-e11e-11e9-884e-9aef38d11d56.jpg)
![Sensitivity Demand Simulate 2](https://user-images.githubusercontent.com/29708612/65756702-45eded80-e11e-11e9-9634-087ce4cd1378.jp

[2019-09-27 09:04] kerembeygo commented on #2269
![Sensitivity Demand Simulate 5](https://user-images.githubusercontent.com/29708612/65756923-b137bf80-e11e-11e9-9be9-0ca865610e8a.jpg)
![Sensitivity Demand Simulate 6](https://user-images.githubusercontent.com/29708612/65756926-b39a1980-e11e-11e9-8415-866a1bb4548f.jpg)
![Sensitivity Demand Simulate 7](https://user-images.githubusercontent.com/29708612/65756927-b4cb4680-e11e-11e9-97b2-660f703d6807.

[2019-09-27 09:07] kerembeygo commented on #2269
After running Sensitivity Analysis I (DOE) (Both Sobol and Morris)
I ran Sensitivity Analysis II (simulation) in dashboard.
I didn't make any changes in my config file.

[2019-09-27 09:16] kerembeygo commented on #2269
[general]
project = C:\CEA PROJECT\ISTANBUL\Fatih\Kocamustafapasa
scenario-name = KM1
scenario = {general:project}/{general:scenario-name}
multiprocessing = true
number-of-cpus-to-keep-free = 1
debug = false

[data-helper]
region = CH
overwrite-technology-folder = true
databases = comfort, architecture, HVAC, internal-loads, supply, restrictions

[streets-helper]
bbox =
streets = all_private

[ter

[2019-09-27 10:12] JIMENOFONSECA commented on #2204
@gabriel-happle @martin-mosteiro @daren-thomas

I believe we should get a solution to this issue soon. I was visiting Energy Plus and Design-Builder with Luis (one of our users). The solution might be quite simple and it is related to adding a schedule of air-conditioning and natural ventilation.

It can be added to the excel file we already have for each type of occupancy (in occupancy_schedules.

[2019-09-27 14:42] martin-mosteiro commented on #2204
Agreed, this should be fixed. @JIMENOFONSECA I'm available for discussion next week.

Today, @prakharmehta95 and I tested simply adding a boolean (`systems_on_on_weekends`) that would define whether the systems should be off over the weekend or not. This is a simple solution that however only allows the systems to be on or off for  all buildings with no weekend occupants (i.e., no diversity betwee

[2019-09-27 15:01] gabriel-happle commented on #2204
@JIMENOFONSECA what is a schedule of air-conditioning?
I believe, what we should implement are the set-point temperatures directly as mentioned above.
The schedule of natural ventilation should be easy to implement.

[2019-09-29 08:06] kerembeygo commented on #2311
![Output for thermal-network 1](https://user-images.githubusercontent.com/29708612/65828534-89726400-e2a4-11e9-9e55-3c1c421d2426.jpg)
![Output for thermal-network 2](https://user-images.githubusercontent.com/29708612/65828943-13bcc700-e2a9-11e9-8c27-6d7f953f4cad.jpg)

[2019-09-29 08:08] kerembeygo commented on #2311
Other issues seem to persist

[2019-09-30 06:49] lguilhermers opened #2346 "Definitions of E_sys and GRID"
Hi all,

I was not understanding very clear the difference from GRID and Esys by the the definitions provided and wanted to clarify based on some basic checks I did on the results of a simulation:

GRID means total buildings electricity consumption (and therefore what the grid has to provide to it) and is composed of Eal + Ecs + Eww + Eaux.

Meanwhile is Esys is just the electricity consumed for i

[2019-09-30 06:55] lguilhermers opened #2347 "Definitions for windows properties"
In inputs > technology > systems > envelope_systems.xls, it is not clear to me what F_F stands for. It is also missing in the glossary. Can someone please clarify (and probably add in the glossary as well)

On an additional note, G_win seems not straightforward to me that it refers to SHGC. In there a specific reason that "SHGC_win" is not used instead?
I guess using the most common terms in the v

[2019-09-30 07:08] lguilhermers opened #2348 "duplicate and rename projects not working"
In the project overview screen, if you go to Edit - Rename or Edit - Duplicate, those buttons are not working.

[2019-09-30 07:17] lguilhermers opened #2349 "feature request: suspend simulations"
Would be nice to be able to abort the simulations in case you see you missed something and want to change or something like that. Right now we have access to the job list but there isn't an option to suspend activities.

[2019-09-30 07:53] lguilhermers opened #2350 "bug in energy demand - load curve graph"
Hi,

When I look at values for the load curve for one building, I see this distribution:
![image](https://user-images.githubusercontent.com/50981039/65859021-d4ba6e80-e399-11e9-82ad-c97a66a1b639.png)

When I add more buildings, the curve for appliances is still the same values of the first graph, which is a bug (it should add the load for all buildings, like is done for the other curves):
![image]

[2019-09-30 09:24] lguilhermers commented on #2204
As for natural ventilation, there is also a general schedule, similarly to mechanical ventilation, which for most of the cases should be the same as the occupancy (and is also loaded as the occupancy schedule by default).

An interesting control I found for natural ventilation is this set of rules:
 "Note that when using the Calculated natural ventilation model option windows and vents are only op

[2019-09-30 10:30] lguilhermers opened #2351 "warning display for missing data helper"
Not really a big issue here but I noticed that when I created a new case and by some reason the default of data helper was to have nothing selected on the database (picture below). I ran without noticing and it didn't display any warning. Also when running the solar radiation and demand they were all shown as "success".
![image](https://user-images.githubusercontent.com/50981039/65870789-a182da00-

[2019-09-30 10:45] lguilhermers opened #2352 "void decks (odd results)"
I was discussing some results with @JIMENOFONSECA and showed him some results with simulations of void decks.

I added 0.05 (5%) of void decks, which should increase ventilation and reduce the energy consumption. Furthermore, as I understood, it is reducing the area of apartments in this building (I imagine as the ground floor of a condominium or any building with pilotis for example.

By this log

[2019-09-30 12:29] gabriel-happle commented on #2204
Hi @lguilhermers, well I kind of disagree with the "reasonability". Those are just assumptions.
Currently, the opening of windows in CEA is related to the required fresh air supply, irrespective of any temperatures.
What you are describing is a mode of increasing ventilation rates for "natural cooling".

[2019-10-01 02:09] lguilhermers commented on #2204
Hi @gabriel-happle,
I agree with the controls of fresh air, Design Builder also has requirements for those. As I said, this is one model for calculated natural ventilation which is particularly interesting to me. Although being just assumptions (those models are based on many assumptions anyway), they can prevent a non-natural behavior of opening windows, for example when it is too cold or too hot

[2019-10-01 09:33] martin-mosteiro commented on #2333
@daren-thomas Any feedback on this? Otherwise I can do my solution (which is to give the `weather_helper` no default value to refer to).

[2019-10-01 09:35] martin-mosteiro commented on #2269
Okay, I was finally able to replicate this issue. Interestingly, this doesn't happen when I run sensitivity analysis from Pycharm, only when I do so from the dashboard.

[2019-10-01 11:48] daren-thomas commented on #2344
@gabriel-happle that's the stuff output in the shell, right? because, the script output _is_ visible if you open up the job and look. Or am I missing something here?

[2019-10-01 14:32] daren-thomas commented on #2323
closed with  #2327

[2019-10-01 14:32] #2323 closed

[2019-10-02 06:21] gabriel-happle commented on #2344
Hi @daren-thomas, I actually didn't try to open the job. But e.g., these messages about using schedules were not part of the UI previously. I had to check the shell for those.

[2019-10-02 08:22] daren-thomas opened #2355 "Reference-case-open was zipped on a mac and extracting it now creates a "__MACOSX" folder"
When extracting a zip archive created on a mac on Windows, a folder "__MACOSCX" is created alongside the folder being extracted. This contains resource forks or something (yes, that's as technical as I feel comfortable getting).

Steps to reproduce:

- CEA Console
- `cea extract-reference-case --case open`
  - maybe also verify with the other cases?
- check the output folder

Steps to fix:

- re-z

[2019-10-02 08:26] daren-thomas commented on #2344
You mean this output, right?

[code]

That was taken from the dashboard interface... Am I missing something?

[2019-10-02 08:30] daren-thomas commented on #2344
@gabriel-happle I just checked. yes. The output is suppressed if you turn multiprocessing off. I know how to fix this.

(The console will not be part of the electron interface, so it's important that we fix this now)

[2019-10-02 10:49] gabriel-happle commented on #1633
re-opening this!

[2019-10-02 14:28] strusoftsawen opened #2356 "ResolvePackageNotFound when installing on Ubuntu 18.04.3"
Trying to install on Ubuntu 18.04.3 the installation fails with the following error message:

![image](https://user-images.githubusercontent.com/55441918/66050804-24ca3a00-e52e-11e9-9843-d5855d91901c.png)

Apparently these specific package versions don't exist in any of the channels. Looking at [this link](https://anaconda.org/conda-forge/gdal/files?version=2.4.1&page=2&channel=broken) it appears

[2019-10-03 03:29] JIMENOFONSECA commented on #1633
After our discussion with @gabriel-happle and @lguilhermers we are going to try to change the internal loads, solar radiation loads, and heat transfer coefficients to account for the area of air-conditioned space.

@gabriel-happle will do the honors and @lguilhermers and myself will test

[2019-10-03 03:31] JIMENOFONSECA commented on #2204
After a conversation with @gabriel-happle and @lguilhermers we decided to give it a try to:

1. Create a schedule for setpoints for heating and cooling
2. Connect that schedule to CEA
3. test against data in Singapore.

@lguilhermers will do 1, @gabriel-happle will then do 2. @lguilhermers and myself will do the testing.

[2019-10-03 07:45] daren-thomas commented on #2356
@strusoftsawen yes, it is. thank you for pointing this out. would you mind updating the `environment.ubuntu.yml` file when done and creating a pull request? we would be much obliged - ubuntu is not our current focus and our limited resources prohibit testing: if you want to help out with that, i'd be glad to answer any questions that arise!

[2019-10-03 08:21] #2309 closed

[2019-10-03 08:22] #2308 closed

[2019-10-03 08:25] daren-thomas opened #2357 "Add link to documentation / issues / known issues to electron interface"
The Electron interface to the CEA does currently not have these links:

![image.png](https://images.zenhubusercontent.com/57b40957e40e5714b16d7331/0d0f3ef7-4e6b-4ec7-8b17-73f1cb58d88a)

[2019-10-03 08:26] daren-thomas opened #2358 "Add glossary search to Electron interface"
The Electron interface of the CEA does not currently have a glossary search feature as present in the flask-only frontend:

![image.png](https://images.zenhubusercontent.com/57b40957e40e5714b16d7331/50fcc66f-5db0-44fd-a5ef-0fb24d394420)

[2019-10-03 08:31] strusoftsawen commented on #2356
@daren-thomas I'll see what I can do, running into some other dependency issues now as well, but I'll let you know if I manage to get it running.

[2019-10-03 08:32] JIMENOFONSECA commented on #1646
@shanshanhsieh closing since it is not expected any progress on this by the official end of this phase of the project

[2019-10-03 08:32] #1646 closed

[2019-10-03 08:33] #1326 closed

[2019-10-03 08:34] daren-thomas commented on #2072
Reviewed it - changed jupyter to Jupyter. Published. Thank you very much, Gabriel!

[2019-10-03 08:34] #2072 closed

[2019-10-03 08:35] #1076 closed

[2019-10-03 08:36] JIMENOFONSECA commented on #1327
@Khayatian we close this issue since there is no further development expected until the end of this phase of the project (March 2019)

[2019-10-03 08:36] #1327 closed

[2019-10-03 08:43] shizhongming commented on #2254
Having the framework of the poster introducing CEA here. It follows the CEA color theme, introduces the users, functions, advantages, platforms, and the key dates of the tool for the main sections, as well as the impacts of CEA on the bottom. Please comment. :) Then, I will send it to the PR group of FCL for approval. Thanks!
![MuSES_poster_2019_v1](https://user-images.githubusercontent.com/166403

[2019-10-03 08:45] daren-thomas commented on #2322
@gabriel-happle please add descriptions to the `glossary.csv` file

[2019-10-03 08:46] #2270 closed

[2019-10-03 08:47] #2296 closed

[2019-10-03 08:50] #1664 closed

[2019-10-03 08:52] daren-thomas commented on #2307
fixed in electron interface

[2019-10-03 08:52] #2307 closed

[2019-10-03 08:53] #2322 closed

[2019-10-03 08:54] #2330 closed

[2019-10-03 08:55] daren-thomas opened #2359 "Blog for M2.24"

[2019-10-03 08:56] daren-thomas opened #2360 "Create installer for Electron Interface"
Needs to include:

- documentation on how to build the installer
- update "steps to create a new release" to include this information

[2019-10-03 08:58] daren-thomas commented on #2360
- add build command to docs on how to create a new release
- update nsis installer to add interface download / extraction

[2019-10-03 09:01] daren-thomas opened #2361 "Electron interface should start and stop flask server"
When you start the Electron interface, the flask server should also start and it should be stopped when the Electron window is closed.

[2019-10-03 12:37] gabriel-happle commented on #1633
@JIMENOFONSECA and @lguilhermers,
also @shanshanhsieh and @martin-mosteiro and @shizhongming,
Please check out branch https://github.com/architecture-building-systems/CityEnergyAnalyst/tree/i1633-gains-and-losses-proportional-to-conditioned-area

I made two changes:
- Heat transfer areas of the RC model are weighted by the fraction of conditioned area `Hs`. Roof and floor/basement are weighted dir

[2019-10-03 13:02] gabriel-happle commented on #1633
just a thought: maybe we should weigh the heat exchange area with `Hs/Ns` so that it remains `=1` for most buildings.
I'm doing that. It makes a bit more sense since buildings with `Hs=0.9` probably exchange over the whole envelope.

![image](https://user-images.githubusercontent.com/17002288/66128703-ff6a2880-e620-11e9-879b-b3301a27200e.png)
![image](https://user-images.githubusercontent.com/1700

[2019-10-03 15:30] martin-mosteiro commented on #1633
@gabriel-happle Thanks for the first stab at this. Some points:

1. `NFA = GFA * Ns`. For the Swiss case, it's safe to assume the Net Floor Area is equal to the conditioned area. But in Singapore there are unconditioned, actively occupied floor areas (Hs < Ns). We could probably use `Es` as a proxy though: assume only the net floor area is electrified, and thus `NFA = GFA * Es`, with the condition

[2019-10-03 15:40] martin-mosteiro commented on #1633
Especially since GFA includes underground floors. Imagine the following (hypothetical) case:
One building with 3 floors above ground and 1 unheated floor below ground. GFA = 4 * footprint. Hs = 0.75. However the solar gains should indeed all be assigned to the top 3 floors! So your "fix" would underestimate solar gains by 25%.

[2019-10-04 04:07] JIMENOFONSECA commented on #1633
wait...should not Af be calculated as (GFA [above ground] * hs)? I believe that should be the implementation right?

[2019-10-04 07:09] shizhongming commented on #2254
@JIMENOFONSECA  Please have a look at the second version of the poster. Let me know when you have time to sit down together again.

![MuSES_poster_2019_v2-01](https://user-images.githubusercontent.com/16640327/66188072-f9278b00-e6b8-11e9-8540-bc8d8437c637.png)

[2019-10-04 09:05] martin-mosteiro commented on #1633
It isn't:
building_properties.py (line 382): `df['floors'] = df['floors_bg'] + df['floors_ag']`
building_properties.py (line 385): `df['GFA_m2'] = df['footprint'] * df['floors']  # gross floor area`
building_properties.py (line 274): `df['Af'] = df['GFA_m2'] * df['Hs']  # conditioned area: areas that are heated/cooled`

And it shouldn't, right? There can also be conditioned floor areas below groun

[2019-10-04 10:16] gabriel-happle commented on #2204
@lguilhermers this runs an is ready to be tested.
Please check branch https://github.com/architecture-building-systems/CityEnergyAnalyst/tree/i2204-temperature-setpoints

[2019-10-04 10:34] gabriel-happle commented on #2204
For most of the buildings, changes don't affect much.
It seems that some setpoints were changed when updating the databases.
![image](https://user-images.githubusercontent.com/17002288/66201253-8547ab80-e6d5-11e9-8fc3-bdb3496db7c3.png)

[2019-10-04 10:35] martin-mosteiro commented on #2204
Yes, that is the case. The temperatures were all set to SIA 2024 (2015). So are the changes observed before mainly due to the changes in the databases?

[2019-10-04 10:39] gabriel-happle commented on #2204
@martin-mosteiro there are three changes visible here:
1) the systems are not `off` anymore on weekends
2) some systems have been changed to have a set-back in the morning and evening (new temperature schedules)
3) some changes of the database by an earlier PR might not be part of the reference-case-open yet

We can try to replicate the old behavior with the new databases.

[2019-10-04 11:00] gabriel-happle commented on #2204
Trying to get same heating energy demand of `B03` mainuse `GYM` as previously.

new setpoints:
![image](https://user-images.githubusercontent.com/17002288/66201949-28e58b80-e6d7-11e9-8d26-74dc9e256952.png)

old setpoints emulated with schedule:
![image](https://user-images.githubusercontent.com/17002288/66202485-70b8e280-e6d8-11e9-8da2-311d478e051f.png)

![image](https://user-images.githubusercont

[2019-10-04 11:22] gabriel-happle commented on #2204
@JIMENOFONSECA should this be a PR now?
Then I have to update the test data according to the new temperature set point schedules.

[2019-10-04 12:59] daren-thomas commented on #2360
The command to build the `cea-electron` repo is `yarn dist:dir`. See the README.md file for all the different commands you can use.

The `dashboard.bat` file needs to be updated to include the `-u` flag to `python` (no buffering of stdout/stderr).

[2019-10-07 06:36] gabriel-happle commented on #2204
OK. It was decided with @JIMENOFONSECA to make this change part of the CEA.
I'm therefore updating the tests and submitting a PR

[2019-10-07 07:45] reyery opened #2364 "dashboard.yml file gets overwritten if CEA encounters a plot class it does not recognise"
Currently, reading the `dashboard.yml` will cause it to be overwritten by the default yaml file when it does not recognize new/old plot classes. This is irreversible and the user will not be able to recover the previous yaml file.

It could give an assertion error or create a backup of the old yaml file instead of just overwriting it.

https://github.com/architecture-building-systems/CityEnergyAna

[2019-10-07 09:03] strusoftsawen commented on #2356
@daren-thomas Hi again, trying to solve the environment has been running now over the weekend and it doesn't look to stop anytime soon. I think the best way to resolve this if somebody who has the environment running on ubuntu can run `conda env export > environment.ubuntu.yml --no-builds` to avoid the build names being included in the .yml file causing overly restrictive dependency checking. Unti

[2019-10-07 10:01] martin-mosteiro opened #2366 "Heating and cooling season are not realistic"
The use of a single heating season and a single cooling season for the Swiss case does not appear to be realistic. For starters, it leads to buildings with high internal loads (e.g., `INDUSTRY`, `RETAIL`) to overheat in summer, as shown by @prakharmehta95 in #2221:
![image](https://user-images.githubusercontent.com/18548065/66301647-ce774580-e8f7-11e9-8742-598158599fb6.png)

The old version of SIA

[2019-10-07 11:51] RicardoGomesIST opened #2367 "Solar radiation: Standard construction error"
Hi,

When I ran the Solar Radiation tab, it does not run and present "RuntimeError: Standard_ConstructionError

 "
The construction look ok and are the same as used in reference examples.  Is the coordinate system again? I have zone, district and terrain files with the sampe projection
CRS EPSG:32229 - WGS 72 / UTM zone 29N - Projected

(...)
Generating geometry for building B41090
burning buildin

[2019-10-07 16:26] #2333 closed

[2019-10-08 01:39] JIMENOFONSECA commented on #2254
Thanks for this. Maybe we change the pic of CEA under HOW? the previous screenshot will do better than this one.

On 4 Oct 2019, 3:09 PM +0800, Zhongming Shi <notifications@github.com>, wrote:

@JIMENOFONSECA<https://github.com/JIMENOFONSECA> Please have a look at the second version of the poster. Let me know when you have time to sit down together again.

[MuSES_poster_2019_v2-01]<https://user-im

[2019-10-08 06:05] gabriel-happle commented on #2366
@martin-mosteiro I guess the rule to choose between heating and cooling operation should be based on something like the average daily outdoor temperature.

For residential it seems to be mostly a legal issue in Switzerland:
https://www.20min.ch/community/dossier/geldratgeber/story/Wann-muss-der-Vermieter-heizen--29988400

I don't know if the same applies to other building functions.

question: the

[2019-10-08 07:15] JIMENOFONSECA commented on #2366
Sure, still this should be an option of the demand tool.

Just adding two variables will suffice. It would be up to anyone using the tool to set up this.

If you go for the dates, include:

config.demand.heating-season = 01.11, 30.03
config.demand.cooing-season = 01.04, 30.10

We can create with Reynold the interface for this. It can look like a calendar in CEA. only day and month are allowed for

[2019-10-08 09:25] kerembeygo opened #2370 "CEA 2.23 Radiation-Daysim Error"
![Radiation1](https://user-images.githubusercontent.com/29708612/66384057-b6bac280-e9c6-11e9-9ddb-cfaec098caca.jpg)
![Radiation2](https://user-images.githubusercontent.com/29708612/66384066-bb7f7680-e9c6-11e9-9eba-e787cdee0c71.jpg)
![Radiation3](https://user-images.githubusercontent.com/29708612/66384079-bfab9400-e9c6-11e9-81e9-28943ab12cbe.jpg)
![Python Viewer](https://user-images.githubuserconte

[2019-10-08 10:53] daren-thomas commented on #2370
@kerembeygo this is actually expected behavior - to avoid seeing visual representations of all the buildings in the Solar Radiation simulation, set the `debug` option to `False`. Otherwise, closing this window will open up the next one and so forth until all have been shown and the simulation will proceed as usual.

[2019-10-08 10:54] #2370 closed

[2019-10-08 11:03] #2357 closed

[2019-10-08 11:03] #2358 closed

[2019-10-08 11:18] daren-thomas opened #2371 "RTD builds are all failing due to timeouts"
The build process for ReadTheDocs needs to be revisited. It seems the creation of the conda environment is taking too long. There are multiple ways to fix it, I just need some time allocated to this.

[2019-10-08 13:31] daren-thomas commented on #2360
First version here: https://www.dropbox.com/s/nukficzmvq64hyf/Setup_CityEnergyAnalyst_2.23.exe?dl=0

It _does_ open up the cea in the browser too... I'm wondering if that is fixed in a branch that hasn't been merged yet. @reyery do you know more about this?

[2019-10-09 02:23] reyery commented on #2361
Resolved in #2369

[2019-10-09 02:23] #2361 closed

[2019-10-09 03:58] JIMENOFONSECA opened #2373 "District cooling plant plot does not run without optimizing for cooling"
This issue was identified as part of PR #2295

so in essence that plot cannot run without optimizing for district cooling. How would you like to handle that error? @daren-thomas in the front or the back-end. if so how? I am opening a separate issue for this.

[2019-10-09 08:09] daren-thomas commented on #2373
@JIMENOFONSECA ideally, we use the `input_files` array in the plot class: This approach assumes there is a file that is only present when the optimization for district cooling has been run. The `input_files` array is a list of tuples `(locator_method, list_of_arguments_to_locator_method)` and is checked by the plotting system - the system will output an error (plus a hint of which script to run) i

[2019-10-09 08:33] daren-thomas commented on #2311
Regarding your question: The config file (`%USERPROFILE%\cea.config`) contains parameter information for the scripts - when you open a project / scenario in the dashboard, this gets set.

You can also save parameters in the tools section of the dashboard for each tool - then you can run them from the CEA Console without specifying the parameters explicitly. You can also modify these parameters wit

[2019-10-09 08:38] daren-thomas commented on #2311
Regarding the plots: You can set the parameters of the plots and switch the network type to "DH" with the wrench symbol at the top right of the plot.

Regarding:

Which issues exactly now? Would you mind creating separate issues for each?

Also, a hint if the screenshot workflow is cumbersome for you: You can copy the output of the console / job and paste them here using triple backticks. That als

[2019-10-09 10:11] martin-mosteiro commented on #2366
@gabriel-happle

It is, but from what I gather the legal requirement is that building owners _have_ to provide heating when conditions reach X. That does _not_ mean, however, that they are required to shut down the heating outside of the heating season, does it?

Yeah, I wondered the same thing. I believe it is only space cooling. SIA 2024 (2006) says the _Jährlicher spezifischer Kühlenergiebedar

[2019-10-09 10:17] martin-mosteiro commented on #2366
@JIMENOFONSECA

Actually, it's not the heating season I'm questioning, but the cooling season. i.e., the profiles found in SIA appear to match our assumed heating season, but _not_ our cooling season. So the answer would be to remove the cooling season definition entirely (or make the cooling season last all year) and adjust the code so that heating and cooling seasons overlap.

The tricky part, i

[2019-10-09 11:01] strusoftsawen commented on #2356
After `Solving environment` for about five days the process finally failed with the following error. As you can see there are a lot of incompatible specifications, most of which seem impossible to resolve with the current dependency versions. Again, I think somebody with more insight to the code needs to go through the dependency list and clean it up/update the versions.

[code]

[2019-10-09 11:43] strusoftsawen commented on #2356
@daren-thomas ok, I got it to work. I needed to do three things:

- Add `conda-forge/label/gcc7` to channels (this seems fine)
- Add `conda-forge/label/broken` to channels (this is more concerning)
- Change `jinja2==2.10` to `jinja2==2.10.1` (not sure what the implications are)

Now it seems to work. I'll open a separate issue about the broken dependencies, and create a pull request to update the

[2019-10-09 11:53] daren-thomas commented on #2135
@JIMENOFONSECA I'm getting the following error after the `optimization-cooling` branches was merged to master:

[code]

So... we still can't get as far as multi-criteria-analysis. Any ideas?

[2019-10-09 11:54] daren-thomas commented on #2249
So... can we close this issue? @JIMENOFONSECA?

[2019-10-09 11:58] strusoftsawen commented on #2356
@daren-thomas created a pull request but I think I did it in the wrong way because I wasn't able to link it to a zenhub issue. I'll look at it again tonight.

[2019-10-09 16:26] kerembeygo commented on #2311
By issues I meant Thermal Network plots. There are seven plots for Thermal Networks. I tried each of them and Dashboard displayed an error message for each of them. I switched the network from DC to DH and it worked except for

Supply and Return Temp. at Plant None vs Ambient Temp. for DH

I have the following message
Traceback (most recent call last):
  File "C:\Users\KEREM\Documents\CityEnergyAn

[2019-10-09 17:17] dowbh opened #2375 "CEA failure on Grasshopper"
I am now trying to figure out the way of using grasshopper to input data for CEA. After following the instructions on the CEA’s blog, `Grasshopper-to-CEA` specifically, the CEA component in grasshopper still does not work. The following screenshots might be helpful for you to assess the problems. The first shot is the result I got when pulling CEA component to grasshopper. Since I couldn’t find fu

[2019-10-09 22:58] OmarAdnan opened #2376 "Results from Daysim without running data-helper (Query)"
Hi

I just wanted to know, if for running just Daysim Solar Irradiance model to get solar irradiance on rooftops of buildings in a zone, do I need to run data-helper? Currently, I was able to run daysim without using data-helper and I am a bit confused as to whether the results and plots generated in dashboard are correct or not.

[2019-10-10 11:40] #2376 closed

[2019-10-10 12:29] OmarAdnan opened #2377 "Data helper error"
Hi

I have been getting error everytime i run the datahelper and I am unable to understand where or why its happening.
Would be glad if some one can tell me which file or item in the directory is causing the error.
Here is the error and my project files:
[Scenario.zip](https://github.com/architecture-building-systems/CityEnergyAnalyst/files/3712513/Scenario.zip)

C:\Users\Adnan\Documents\CityEnerg

[2019-10-10 16:51] dowbh opened #2379 "Issue #2375 follow-up"
I'm still having trouble operating CEA in Rhino 5 with Grasshopper v0.9.0076 as mentioned in the previous post. Meanwhile, I tried the same processes in Rhino 6 and the CEA component surprisingly showed up. However, after I hook the required input to CEA component, it still kept showing errors as the image attached below. I'm confused. In the blog, it's said that the  Rhino 5 is required, but it s

[2019-10-11 08:03] JIMENOFONSECA commented on #2249
yes
On 9 Oct 2019, 7:54 PM +0800, Daren Thomas <notifications@github.com>, wrote:

So... can we close this issue? @JIMENOFONSECA<https://github.com/JIMENOFONSECA>?

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub<https://github.com/architecture-building-systems/CityEnergyAnalyst/issues/2249?email_source=notifications&email_token=ACEOXAWCLVPWKUIE

[2019-10-11 08:57] #2249 closed

[2019-10-11 08:59] daren-thomas commented on #2379
@dowbh: can you show the error messages themselves?

[2019-10-13 12:33] kerembeygo opened #2381 "http://localhost:5050/tools/weather-helper ERROR"
![WH](https://user-images.githubusercontent.com/29708612/66715652-6bd9ea00-edce-11e9-9a2d-8e176990f8e9.jpg)

[2019-10-14 03:39] #2344 closed

[2019-10-14 04:04] JIMENOFONSECA commented on #2351
@reyery would you mind taking a look? I believe this is an error of the MultiChoiceParameter of the config. The user should select at least one right?

[2019-10-14 07:57] JIMENOFONSECA commented on #2346
We updated the glossary to reflect this in PR #2383

GRID_kWh,Grid total requirements of electricity = GRID_a + GRID_l + GRID_data + GRID_pro + GRID_aux + GRID_cdata + GRID_cre + GRID_hs + GRID_ww + GRID_cs,kWh

E_sys_kWh,End-use total electricity system consumption = Ea + El + Edata + Epro + Eaux

[2019-10-14 11:01] JIMENOFONSECA commented on #1633
maybe we wait for the schedule maker and see how to implement (improve)? what is your take on this @gabriel-happle

[2019-10-15 01:29] JIMENOFONSECA commented on #2381
@kerembeygo mind writing the steps you did to reproduce the error? incl. the CEA version you are using. thanks!

[2019-10-15 01:41] JIMENOFONSECA commented on #2367
Hi!, I could not open your case study. I see there are problems regarding the inputs. For example the filed NAME should be Name. This happens in the input database of indoor-comfort.

![image](https://user-images.githubusercontent.com/8973186/66793442-eff7b300-ef2f-11e9-9002-73a3f3e1f5e6.png)

[2019-10-15 01:55] JIMENOFONSECA commented on #2377
@OmarAdnan the error has to do with a field not popualted in the occupancy database.

@reyery we have a problem with this scenario. The Dashboard is not allowing to save changes while populating the field 'HOSPITAL' in the occupancy database from the dashboard.

Here is the errro messagge:
![image](https://user-images.githubusercontent.com/8973186/66793831-ad36da80-ef31-11e9-9ff9-aee1de80a0f2.png)

[2019-10-15 01:58] #2356 closed

[2019-10-15 02:22] JIMENOFONSECA commented on #2343
I did this in #2363

[2019-10-15 02:22] #2343 closed

[2019-10-15 02:27] JIMENOFONSECA commented on #2349
@reyery does that work? cancel the job?

[2019-10-15 02:27] JIMENOFONSECA commented on #2348
@reyery is this something that works in the new PR?

[2019-10-15 02:40] JIMENOFONSECA commented on #2347
So basically, the name G-win has to do with the European definition of the SHGC. here is a description of how both terms are the same. Since the engine of CEA for demand calculation is based on the ISO standard, we aim to maintain that nomenclature as much as possible.

I have implemented the explanation to both terms in the master branch and the glossary. It should work now.

F_F refers to the fr

[2019-10-15 02:40] #2347 closed

[2019-10-15 03:52] JIMENOFONSECA commented on #2345
@gabriel-happle fixed in master, it should work now

[2019-10-15 03:52] #2345 closed

[2019-10-15 03:59] JIMENOFONSECA opened #2385 "Import own files for scenario does not work"
from a comment of Carlos Silva (one of our users) the importer of files does not work in master.

[2019-10-15 06:53] #2385 closed

[2019-10-15 07:11] JIMENOFONSECA opened #2387 "GIS editor of Open Street Maps from CEA"
The idea is to give the user the opportunity to edit their area of analysis directly in Open Street Maps. Not too many people know about it. But they can actually help to make the data more rich for simulations.

This idea came from one interview with our users. This feature could help to make more collaborative the study of one area (for example when multiple students are working on it).

The ide

[2019-10-15 07:53] RicardoGomesIST commented on #2367
Thank you Jimeno!

IST, Taguspark, N14.16

From: Jimeno Fonseca <notifications@github.com>
Sent: Tuesday, October 15, 2019 2:42 AM
To: architecture-building-systems/CityEnergyAnalyst <CityEnergyAnalyst@noreply.github.com>
Cc: RicardoGomesIST <ricardo.a.gomes@tecnico.ulisboa.pt>; Author <author@noreply.github.com>
Subject: Re: [architecture-building-systems/CityEnergyAnalyst] Solar radiation: Stand

[2019-10-15 08:20] kerembeygo commented on #2381
I ran data helper tools in order.
![3](https://user-images.githubusercontent.com/29708612/66813574-ab731400-ef3d-11e9-9486-b95d609be191.jpg)

[2019-10-15 08:20] kerembeygo commented on #2381
![1](https://user-images.githubusercontent.com/29708612/66813640-ca71a600-ef3d-11e9-9c76-e605ed04be90.jpg)

[2019-10-15 08:23] kerembeygo commented on #2381
Error for weather-helper.
![2](https://user-images.githubusercontent.com/29708612/66813732-f5f49080-ef3d-11e9-97f4-5e94f0340710.jpg)

[2019-10-15 08:28] kerembeygo commented on #2381
CEA 2.23. I wanted to change epw file for PV analysis. How can I do that? By using weather-helper? There is no option in input editor.

[2019-10-15 09:06] lguilhermers opened #2388 "Delete Selection button now working"
The delete selection button, used to delete buildings in the input editor, doesn't seem to be working. Can you please check on that?

[2019-10-15 09:12] lguilhermers opened #2389 "Weather helper not running"
When trying to run weather helper, I get directed to a new page with the following message, before I can even select a weather:

Traceback (most recent call last): File "C:\Users\luis.santos\Documents\CityEnergyAnalyst\Dependencies\Python\lib\site-packages\flask\app.py", line 2292, in wsgi_app response = self.full_dispatch_request() File "C:\Users\luis.santos\Documents\CityEnergyAnalyst\Dependenci

[2019-10-15 09:55] JIMENOFONSECA commented on #2389
@reyery any ideas? I am not able to reproduce the error. @lguilhermers are you in master right? This might be a duplicate of #2381

[2019-10-15 09:56] JIMENOFONSECA commented on #2388
@reyery any ideas? I think the save button is also not working..

[2019-10-15 11:28] reyery commented on #2388
this is the an unfortunate side effect of making CEA ready for the electron app. The native browser alert windows that are supposed to be shown when clicking delete or save have been replaced with a javascript implementation. Adding the dependencies in the html solves this. Should be working now 0f35524

[2019-10-15 16:03] OmarAdnan commented on #2377
Thanks for pointing out the mistake.

Now I am able to run data-helper successfully. However, when I try to run Daysim after running data helper, I get the following error:

C:\Users\Adnan\Documents\CityEnergyAnalyst>SET PATH=C:\Users\Adnan\Documents\CityEnergyAnalyst\Dependencies\Python;C:\Users\Adnan\Documents\CityEnergyAnalyst\Dependencies\Python\Scripts;C:\Users\Adnan\Documents\CityEnergyAnaly

[2019-10-16 00:48] JIMENOFONSECA commented on #2377
There is some division by zero in the number of floors. One or more of your geometries in the zone or district have a number of floors_ag = 0. please check. You can either erase the geometry or set the correct value of the floors.
On 16 Oct 2019, 12:03 AM +0800, OmarAdnan <notifications@github.com>, wrote:

Thanks for pointing out the mistake.

Now I am able to run data-helper successfully. Howeve

[2019-10-16 02:46] #2388 closed

[2019-10-16 02:52] gabriel-happle commented on #1633
This is not so straightforward as we thought.
Plus, the residential buildings in Singapore are an exception, with their very small `Hs`.
Maybe for the moment, we shouldn't change anything until we come up with a solution on how to account for the solar heat gains.

Judging from my own experience living in Singapore, the inside of a well-ventilated residential building is pretty much the outside te

[2019-10-16 02:57] #2389 closed

[2019-10-16 02:59] JIMENOFONSECA commented on #2381
Alright..the problem is that we changed the weather files in the new branch.

To solve this problem:

1. Open the cea.config file (you should be able to find it in your desktop)
2. erase the "xxxxxxxxxxxxxxxx" contents of the next line

[weather-helper]
weather = "xxxxxxxxxxxxxxxx"

so ti should look like this:

[weather-helper]
weather =

3. restart CEA. It should work fine.

[2019-10-16 07:56] JIMENOFONSECA commented on #2387
Well, we decided to not go for it.

I think this issue already explains that users can use Open Street Maps and improve the information the maps have. Specially in regards to the use of the

1. building type: or the land use of the buildings
2. Building:levels or floors above ground.
3. Start_date or year of construction.

[2019-10-16 07:56] #2387 closed

[2019-10-16 07:57] #2381 closed

[2019-10-16 08:40] kerembeygo commented on #2381
Contents of my config file is already like this. I haven't made any changes.
![1](https://user-images.githubusercontent.com/29708612/66902580-906dd600-f009-11e9-9268-b6577f8438b1.jpg)

[2019-10-16 08:42] kerembeygo commented on #2381
When I run weather-helper command.
![2](https://user-images.githubusercontent.com/29708612/66902772-e9d60500-f009-11e9-82e8-7756eebefb69.jpg)

[2019-10-16 08:54] JIMENOFONSECA commented on #2366
@martin-mosteiro I see, so in your case the building is overheating...I wonder if just changing the minimum ventilation per person (what might occur in reality) will help to not overheat the building.

So how to proceed?

Is not this as easy as changing the start and end of the cooling season in the system's control file to make it last for the entire year? Should not that be all?

[2019-10-16 09:29] JIMENOFONSECA commented on #816
We will discontinue support on this tool and move it to the legacy folder. It is just consuming unnecessary resources at the moment. Idealy we implement a calibration tool based on GA (which could be significantly faster and appliacable to urban scale problems. Bayesian calibration is an overkill in here. However  I am a fan of using the approch for research purposes.

[2019-10-16 09:45] JIMENOFONSECA commented on #2312
@reyery did we fix this?

[2019-10-16 09:48] reyery commented on #2312
@JIMENOFONSECA don't think so. This will probably only affect the web browser version. Once we move to electron this issue would be obsolete.

[2019-10-16 09:49] JIMENOFONSECA commented on #2351
So we might include this in future releases.

[2019-10-16 09:49] #2351 closed

[2019-10-16 13:14] martin-mosteiro commented on #2366
Indeed, adjusting the heating/cooling season control is easy. The question is what would be a realistic building system operation for buildings with high internal gains such that cooling is required even at times where outdoor temperature is relatively low (such as RETAIL). Increasing ventilation sounds like a reasonably straightforward solution – I just don't know if that's indeed what the operat

[2019-10-17 02:59] JIMENOFONSECA commented on #2366
Good. Any information online about this?
On 16 Oct 2019, 21:14 +0800, Martín Mosteiro-Romero <notifications@github.com>, wrote:

Indeed, adjusting the heating/cooling season control is easy. The question is what would be a realistic building system operation for buildings with high internal gains such that cooling is required even at times where outdoor temperature is relatively low (such as RETAI