[2020-03-23 09:30] reyery commented on #2647
@JIMENOFONSECA I believe we can just rename the plots to solve this issue. Maybe something like **Annual Emissions for best individuals after X generations**. What do you think

[2020-03-23 10:21] JIMENOFONSECA commented on #2647
Excelent name! Go for it
On 23 Mar 2020, 17:30 +0800, Reynold Mok <notifications@github.com>, wrote:

@JIMENOFONSECA<https://github.com/JIMENOFONSECA> I believe we can just rename the plots to solve this issue. Maybe something like Annual Emissions for best individuals after X generations. What do you think

—
You are receiving this because you were mentioned.
Reply to this email directly, view it

[2020-03-23 15:34] daren-thomas opened #2662 "As a developer I would like to know the status of thermal-network-optimization so I can update the corresponding locator methods"
Some locator methods (e.g. get_optimization_network_all_individuals_results_file, get_optimization_network_generation_individuals_results_file) are only used in the `thermal-network-optimization` script. I'm not sure this script really works anymore.

@JIMENOFONSECA @shanshanhsieh do you know more about this?

[2020-03-24 02:22] JIMENOFONSECA commented on #2658
Hi @AlexJew I wonder if you could
1. create the new usetype (the right one)
2. go to typologies and select for one or more buildings this new right use_type.
3. Run archetypes mapper to map the archetypes data related to these use types again.

[2020-03-24 02:25] JIMENOFONSECA commented on #2660
@oskarinis great point, we are addressing this right now in #2626 #2637 Next week is our deadline to release a new version with this fixed. @daren-thomas I add you here so we make sure we cover this in those issues

[2020-03-24 02:26] JIMENOFONSECA commented on #2662
@shanshanhsieh I wonder if this tool should be moved to legacy, unless it is going to be used and documented. perhaps there is a tool in the making>

[2020-03-24 02:29] JIMENOFONSECA commented on #2642
we decided to not go for this in the last meeting. many more files does not seem like a solution. any other alternative @gabriel-happle @martin-mosteiro @daren-thomas @shanshanhsieh @reyery ideas?

[2020-03-24 04:35] DavidKayanan opened #2663 "Sensible and latent heat rejected by AC-units: specifying the state and mass flow of outlet air"
**Specifying the state and mass flow of outlet air**
As a researcher, I would to calculate the state and mass flow of the output air of cooling towers of air-conditioning systems.

**Purpose**
This contains the information of the split between latent and sensible heat, and could be used in CFD models (e.g. in AnsysFluent)

**End-User**
Researcher

**Method**
I believe the method can be outlined as

[2020-03-24 07:14] lguilhermers opened #2664 "Status of jobs remain as Pending"
**Describe the bug**
After latest merge (as of 24/03), I am not being able to send any jobs. Status remain as Pending, without any return

**To Reproduce**
Steps to reproduce the behavior:
1. I opened different CEA cases (already existent) and try to run several different tasks (from database and demand forecasting) and they were all unsuccessful

**Expected behaviour**
Complete jobs sent

**Scree

[2020-03-24 07:32] reyery commented on #2664
Are you on the developer version? If so, I believe you would need to overwrite the GUI you have to the newest [GUI](https://github.com/architecture-building-systems/CityEnergyAnalyst/releases/download/v3.0.1/win-unpacked.7z), since there where some changes as to how jobs are started.

[2020-03-24 08:25] reyery commented on #2645
@JIMENOFONSECA I have removed the leap day in `epwreader` but it still gives the same error since DAYSIM would still include the leap day. I think we would still have to edit the radiation output results if you really want to maintain the 8760 rows everywhere.

[2020-03-24 08:41] lguilhermers commented on #2664
Hi rey, I had overwriten the GUI and did again, but the issues remains... This same version was working before I updated from the master branch just now.

[2020-03-24 10:08] JIMENOFONSECA commented on #2663
@shanshanhsieh mind describing how we do it now in CEA and pointing David to the scripts which may get some of this information?

[2020-03-24 10:12] JIMENOFONSECA commented on #2663
@DavidKayanan I just checked and we have a very simplified model that only calculates the electrical load. https://github.com/architecture-building-systems/CityEnergyAnalyst/blob/master/cea/technologies/cooling_tower.py

maybe @shanshanhsieh has more information about this?

[2020-03-24 10:18] reyery commented on #2664
I tried it on my end and I get the same issue. It seems that the one that was uploaded is not the latest GUI. I have re-uploaded it, could you try downloading it again [here](https://github.com/architecture-building-systems/CityEnergyAnalyst/releases/download/v3.0.1/win-unpacked.7z).

[2020-03-24 11:22] daren-thomas commented on #2664
@reyery that might break the release 3.0.1 which doesn't include the pr that introduced this - maybe we should do a release 3.0.2 instead?

[2020-03-24 11:44] reyery commented on #2664
@daren-thomas oh crap I just realised that PR #2652 was not included in the release. yeah we could, since it would affect developers that are on master without the new GUI.

[2020-03-24 11:53] reyery commented on #2664
Alright I have reuploaded and reverted the link to the previous build that was uploaded (the one without the endpoint change).

[2020-03-24 23:29] JIMENOFONSECA commented on #2645
Yes, let’s do that.

Jimeno

________________________

Jimeno A. Fonseca
Dr. Sc. ETH Zurich

Senior Researcher
Singapore ETH-Centre (SEC)<https://sec.ethz.ch/>

Project Coordinator
Multi-Scale Energy Systems (MuSES)<https://fcl.ethz.ch/research/high-density-cities/multi-scale-energy-systems.html>

Product Owner & Developer
City Energy Analyst (CEA)<https://cityenergyanalyst.com/>

Principal Invest

[2020-03-25 01:52] lguilhermers commented on #2664
It is working again. Thanks!

[2020-03-25 02:39] lguilhermers opened #2665 "differences in outputs after migration"
**Describe the bug**
I have ran the same case study with v2.29 and 2.32 to understand the differences in the migration. I will need to translate several old cases to new ones at some point and would like their demand to match given the same inputs. @JIMENOFONSECA helped me to go through the database and we spotted some differences (in void-decks, walls and shading). He addressed those in the branc

[2020-03-25 10:18] AlexJew commented on #2658
I am working on it. I'll come back to you as soon as I've done it!

[2020-03-25 12:45] AlexJew commented on #2537
@daren-thomas If I may just add a comment, in Part 2, after the change in the database ASSEMBLIES/ENVELOPE/CONSTRUCTION, it would be good to add that you need to save the change (click on "Save Databases"). Otherwise, the change isn't registered and you can not use that newly defined value in the Input Editor.

I have been reading your texts in advance as I am trying to get my head around how to u

[2020-03-25 12:50] matthiassulzer commented on #2645
Hi Rey

Please let me know, if you fixed the solar problem. Thanks.

And could you advise me, why no jobs are getting executed, after I pulled all new changes from GitHub?
[cid:image001.png@01D602AC.5830EC40]

Best,

Matthias

Von: Reynold Mok <notifications@github.com>
Gesendet: Freitag, 20. März 2020 13:03
An: architecture-building-systems/CityEnergyAnalyst <CityEnergyAnalyst@noreply.github.com>

[2020-03-25 12:58] reyery commented on #2645
@matthiassulzer you would need to overwrite the interface with the latest one which was not included in the current release. There was a change in master that has made the one that you have installed not able to send jobs to CEA.

You could download the pre-release version [here](https://github.com/architecture-building-systems/CityEnergyAnalyst-GUI/releases/download/v3.0.2/win-unpacked.7z) and ex

[2020-03-25 13:48] daren-thomas opened #2667 "As a User I would like "Unnamed: 0" columns to be renamed to better understand their meaning"
There are 17 instances of columns named "Unnamed:0" (including one "Unnamed:0.1" in the `schemas.yml` file. This is what those columns are called in the corresponding csv files. I believe this is an artefact of how they are created (`df.to_csv`) and it could probably be easily fixed.

Often, a more meaningful name could be "hour" or "hour-of-year".

[2020-03-25 14:03] #2618 closed

[2020-03-25 14:05] matthiassulzer commented on #2645
Perfect! It works agin. Many thanks ☺

Von: Reynold Mok <notifications@github.com>
Gesendet: Mittwoch, 25. März 2020 13:58
An: architecture-building-systems/CityEnergyAnalyst <CityEnergyAnalyst@noreply.github.com>
Cc: Sulzer, Matthias <Matthias.Sulzer@empa.ch>; Mention <mention@noreply.github.com>
Betreff: Re: [architecture-building-systems/CityEnergyAnalyst] Solar Potential Calculation on HQ (#26

[2020-03-25 15:44] AlexJew commented on #2537
If I could give a suggestion; it would be good to have an explanation about the schedule for the cases of PROCESSES, ELECTROMOBILITY, SERVERS, WATER, LIGHTING and APPLIANCES. It is hard to understand what is the unit and what we are talking about. Also an explanation of the values in USE-TYPES > Properties would be really helpful. Thank you very much for your work, it is of such a huge help in my

[2020-03-25 16:01] AlexJew commented on #2655
@reyery I was able to run the Archetypes Mapper after loading a database I had previously created which included some use-types I had created.

[2020-03-25 16:29] AlexJew commented on #2658
@JIMENOFONSECA the problem is that once you have created a usetype, you can not overwrite it by creating a new usetype with the same name. Here is the error you get :

[code]

[2020-03-25 16:48] AlexJew opened #2670 "Building Solar doesn't work with underground parkings"
**Describe the bug**
I have underground parkings that I have defined with _height_ag = floors_ag = 0_ . Even though they won't represent any heat/cooling consumption, they represent an electricity consumption (electric car chargers will be installed) and therefore I need to keep them.

However, when trying to run **Building Solar Radiation** tool, the program crashes :

1. I run the tool without i

[2020-03-25 17:29] AlexJew commented on #2591
@JIMENOFONSECA Sorry for raising that old issue, could you please just explain how to use the ELECTROMOBILITY tab in **Data Editor > USE-TYPES** ?

[2020-03-27 05:34] lguilhermers commented on #2665
update: I checked occupancy and config files and they are the same. My guess is that there is something in the internal calculations (for both solar radiation and demand) that generate those differences. Due to that, the versions aren't really compatible (meaning results from v2.29 won't be reproduced by v2.32 even if the same inputs are applied). Would be great to have a confirmation about that b

[2020-03-27 06:01] lguilhermers opened #2671 "some variables from architecture don't get balanced while running archetypes helper"
**Describe the bug**
A case with multiple occupancy is not merging some properties according to its weighted average.

**To Reproduce**
1. Go to a new case on v2.32
2. Create multiple typologies (for my case I has 0.6 office, 0.2 retail and 0.2 mixed use, created from half residential and half hotel)
3. Run archetypes mappes
4. See architecture tab (for me it shows Hs_ag = 0.25 and wwr = 0.29, whi

[2020-03-27 06:40] shanshanhsieh opened #2672 "Update "Roles and Responsabilities" in the documentation"
updating the "Roles and Responsibilities" before starting the new era of CEA.

[2020-03-27 16:41] wieselukas opened #2674 "DLL issue: "Die Ordnungszahl 242 wurde in der DLL mkl_intel_thread.dll nicht gefunden""
See the comments on this issue for more information - basically, @wieselukas can't start the CEA GUI due to some incompatibility of DLL's on his system, probably due to the mkl_intel_* family of DLLs. We're not quite sure yet how to fix.

## Previous bug: (solve _after_ above works)

Title: Error loading weather file when creating a scenario

**Describe the bug**
After pressing "safe" on the Creat

[2020-03-28 03:41] reyery commented on #2674
@wieselukas I was not able to reproduce the error on my end, maybe you can try the following and let me know if it works.

Based on the error you have provided, it could be that there was no weather file selected. May I know if you have clicked the **Save & Close** button after setting the weather?

![image](https://user-images.githubusercontent.com/34395415/77813761-2132fc80-70e6-11ea-8fae-390520

[2020-03-28 04:58] reyery commented on #2665
It's interesting that radiation results are now different since we did not change anything regarding calculations. From what I understand radiation script depends on the **zone and surrounding geometries, weather, terrain and building architecture (mainly envelope)**.

Looking at `envelope_systems` from v2.29 and `ENVELOPE` from v2.32 which are used to map the building architecture, there seems to

[2020-03-28 13:19] matthiassulzer commented on #2645
Hi Rey

I hope you progress with Daysim. I just recognized a minor tipper: relative Demand and Supply should be W/m2 instead of kW/m2.

Best,

M
[cid:image002.jpg@01D6050B.E5908080]

Von: Reynold Mok <notifications@github.com>
Gesendet: Freitag, 20. März 2020 13:03
An: architecture-building-systems/CityEnergyAnalyst <CityEnergyAnalyst@noreply.github.com>
Cc: Sulzer, Matthias <Matthias.Sulzer@empa.

[2020-03-28 16:25] kerembeygo opened #2675 "Solar radiation normalization fails"
**Describe the bug**
Solar radiation normalization fails

**To Reproduce**
Demand forecasting -> Building solar radiation

Dashboard -> Add plot

Solar potentials -> Solar radiation

Next -> Normalization

Something went wrong!

**Expected behaviour**
Normalized solar radiation graph

**Screenshots**
![1](https://user-images.githubusercontent.com/29708612/77827935-ab508480-7129-11ea-85d9-dc16ca030

[2020-03-30 02:06] lguilhermers commented on #2665
Hi Ray,

Thank you for spotting this. I will try to change those window as per the old version and see if the results match at this time.
For the demand case, would be good to know if it is a change in the database (that I can revert to original version if needed) or change in calculations (and why/how they happen if that is the case).
If you want to replicate the demand difference yourself, I may

[2020-03-30 08:33] wieselukas commented on #2674
Thank you for your fast reply!

1. Yes I did press "Save & Close" to end the dialog
2. I downloaded the Setup_CityEnergyAnalyst_3.0.2.exe from the cea website (https://cityenergyanalyst.com/try-cea)
3. when running cea --version I get (as expected from my side): City Energy Analyst version 3.0.2

Something seems to be odd on my computer. This morning I wanted to recreate the issue and the CEA Dash

[2020-03-30 22:33] S-Haddad-S opened #2676 "Start CEA"
**Describe the feature you would like to have**
We need to run an energy simulation for an urban area 2km*2km; I would like to see whether we can use your tool for predicting energy demand of this district. We need to use our own weather file and consider future development of the urban area; buildings which are not in the open database. We can create a shape file, Autocad, etc to represent the fu

[2020-04-01 07:26] #2647 closed

[2020-04-01 07:27] reyery commented on #2664
Fixed in [v3.0.2 ](https://github.com/architecture-building-systems/CityEnergyAnalyst/releases/download/v3.0.2/Setup_CityEnergyAnalyst_3.0.2.exe)

[2020-04-01 07:27] #2664 closed

[2020-04-01 07:38] #2021 closed

[2020-04-01 07:39] #2638 closed

[2020-04-01 09:39] reyery commented on #2645
@matthiassulzer I have already come up with a fix and an waiting for testing to pass before merging it to master.

[2020-04-01 09:48] matthiassulzer commented on #2645
Ufff. Many thanks. I am looking forward to it.

Von: Reynold Mok <notifications@github.com>
Gesendet: Mittwoch, 1. April 2020 11:39
An: architecture-building-systems/CityEnergyAnalyst <CityEnergyAnalyst@noreply.github.com>
Cc: Sulzer, Matthias <Matthias.Sulzer@empa.ch>; Mention <mention@noreply.github.com>
Betreff: Re: [architecture-building-systems/CityEnergyAnalyst] Solar Potential Calculation o

[2020-04-02 07:15] reyery commented on #2645
@matthiassulzer, I am trying to find this variable but I am not too sure where it is from. May I know which one you are referring to?

[2020-04-02 09:05] matthiassulzer commented on #2645
Hi Rey

In the dash board: if I am choosing add plot, energy demand, peak demand, the graph shows in the section Relative (kW/m2). In my mind it should be W/m2. Clear?

[cid:image001.jpg@01D608DE.8C504100]

Von: Reynold Mok <notifications@github.com>
Gesendet: Donnerstag, 2. April 2020 09:16
An: architecture-building-systems/CityEnergyAnalyst <CityEnergyAnalyst@noreply.github.com>
Cc: Sulzer, Matt

[2020-04-02 09:14] shanshanhsieh commented on #2537
@daren-thomas can we close this issue?

[2020-04-02 09:20] shanshanhsieh commented on #2648
we will not create the plots for `_sys_today_` for the moment, but it is an upcoming feature.
this feature will require a *supply system simulator* tool

[2020-04-02 09:25] shanshanhsieh commented on #2578
@reyery could you please make a new issue for the testing plan before we start looking into it?

[2020-04-02 09:27] shanshanhsieh commented on #2655
this issue should be fixed in v3.0.2, please update your CEA and let us know if the issue persists.

[2020-04-02 09:27] #2655 closed

[2020-04-02 09:32] shanshanhsieh commented on #2657
the connection between the databases-path and the script is not stable.
we should first look into how the config file is handling this parameter.

[2020-04-02 09:37] JIMENOFONSECA commented on #2658
@AlexJew so I guess we will have to do a workaround.
1. create a new name.
2. edit the multi_res_old and save changes

[2020-04-02 09:37] #2658 closed

[2020-04-02 09:38] #2665 closed

[2020-04-02 09:43] shanshanhsieh commented on #2667
we should change those instances to `index=False`

[2020-04-02 09:45] shanshanhsieh commented on #2670
the radiation toold should skip those buildings have height_ag = floors_ag = 0
but a dummy radiation file should be created to pass on to the demand calculation

[2020-04-02 09:50] shanshanhsieh commented on #2671
@lguilhermers this behavior is expected.
Only internal loads, comfort, and schedules will change with different use types.
The values Hs, wwr is decoupled from the use type, it is determined by the *STANDARD* chosen.

[2020-04-02 09:50] #2671 closed

[2020-04-02 09:53] shanshanhsieh commented on #2674
@reyery will test the new version v3.0.2

[2020-04-02 10:06] wieselukas commented on #2674
Is there a better tested version from the past I could try in the meanwhile?

[2020-04-02 11:32] shanshanhsieh commented on #2676
Hi @S-Haddad-S , thank you for your interest!
The CEA tool is a stand-alone software and fully open-access, you can download it from here: https://cityenergyanalyst.com/try-cea
The installation is automated for windows OS.

To your questions:
Q1: Is it possible to upload user defined epw – climate data?
A1: Yes, there is a weather helper tool that assist you to connect your own epw files.
Q2: Can

[2020-04-02 11:32] #2676 closed

[2020-04-02 11:38] shanshanhsieh commented on #2663
Hello @DavidKayanan!
I've sent you some information on the mass balance of cooling towers to your email address.
Please take a look and we can discuss from there!

[2020-04-03 08:55] lguilhermers commented on #2671
Ah, I see. Was not aware of this change, as (I think) before those parameters were also weighted. Thanks for clarifying :)

[2020-04-03 11:25] reyery commented on #2656
@AlexJew can I check if manually resizing the window resizes the table also?

[2020-04-03 11:51] reyery commented on #2675
@kerembeygo could you try opening CEA Console and run `cea dashboard` so we could see the output log of CEA. After seeing "**start socketio.run**" in the console, launch the Dasboard GUI. Try to reproduce the bug and see if there are any error messages in the console.

[2020-04-03 12:01] AlexJew commented on #2656
Hi @reyery , what do you mean by manually resizing the window? When passing my mouse over it, I do not see any resizing symbol. I haven't updated my CEA version yet

[2020-04-03 12:23] reyery commented on #2656
Try making the application window bigger/smaller by dragging from the corners of the application window. I have a feeling the table only re-renders when the application window resizes.

[2020-04-03 13:54] AlexJew commented on #2656
As you say, the table resizes properly once I leave the full screen mode. But, if I decide to go back to full screen, the problem comes back.
![image](https://user-images.githubusercontent.com/32110882/78368043-ec79e600-75ba-11ea-9cee-77b083f7ffcd.png)

[2020-04-04 10:10] kerembeygo commented on #2675
![1](https://user-images.githubusercontent.com/29708612/78424347-90c06300-7675-11ea-9762-ee39034d1533.jpg)

[2020-04-04 10:10] kerembeygo commented on #2675
![2](https://user-images.githubusercontent.com/29708612/78424358-a170d900-7675-11ea-9b21-cfaa3488f251.jpg)

[2020-04-04 10:10] kerembeygo commented on #2675
![3](https://user-images.githubusercontent.com/29708612/78424374-b3eb1280-7675-11ea-826c-873b566581ac.jpg)

[2020-04-04 10:11] kerembeygo commented on #2675
![4](https://user-images.githubusercontent.com/29708612/78424380-c36a5b80-7675-11ea-9f9d-bee39bb660a4.jpg)

[2020-04-04 10:12] kerembeygo commented on #2675
![5](https://user-images.githubusercontent.com/29708612/78424403-ef85dc80-7675-11ea-820e-29c3eec3a6dd.jpg)

[2020-04-04 10:13] kerembeygo commented on #2675
![6](https://user-images.githubusercontent.com/29708612/78424431-1ba15d80-7676-11ea-8f28-54ea92cb5b2b.jpg)

[2020-04-04 10:18] kerembeygo commented on #2675
Last plot is yearly. Time span on x-axis?

[2020-04-06 19:14] matthiassulzer commented on #2645
Hi Rey

How does it look like? Is the bug of the daysim solved? Thanks for a quick update.

Best,

Matthias

Von: Reynold Mok <notifications@github.com>
Gesendet: Mittwoch, 1. April 2020 11:39
An: architecture-building-systems/CityEnergyAnalyst <CityEnergyAnalyst@noreply.github.com>
Cc: Sulzer, Matthias <Matthias.Sulzer@empa.ch>; Mention <mention@noreply.github.com>
Betreff: Re: [architecture-buil

[2020-04-06 21:55] reyery commented on #2674
Hmm.. there could be something wrong with just the GUI.

Could you try downloading just the GUI files [here](https://github.com/architecture-building-systems/CityEnergyAnalyst/releases/download/v3.0.2/win-unpacked.7z) and extract to overwrite the one that you have.

![image](https://user-images.githubusercontent.com/34395415/78608762-0c97f680-7894-11ea-8644-9b3838ae6b8f.png)

In the meantime, I wi

[2020-04-07 06:13] shanshanhsieh opened #2679 "unittest failing on master"
**Describe the bug**
The unittest is not passing in the master branch. @daren-thomas could you please take a look at this? Thanks!

**To Reproduce**
Steps to reproduce the behavior:
1. Go to cea consold
2. Do `cea test`

**Expected behaviour**
Succesful completion of unittest.

[code]

[2020-04-07 06:19] shanshanhsieh commented on #2663
Hello @DavidKayanan ,
Could you please describe all of the inputs and outputs of this model? (e.g. inputs: cooling load, outputs: electricity consumption)
This information will help me to decide how to integrate your model into the CEA.

[2020-04-07 13:34] reyery commented on #2675
Hmm.. seems that the plots work now.
The last plot is showing the data resampled(sum) to years. The x-axis should just indicate the year i.e. **2009** not a range, will fix that.

[2020-04-07 16:24] daren-thomas commented on #2648
@shanshanhsieh I can't get this plot to run for any system:

- Installed Capacities for sys_89_0 - baseline:

[code]

[2020-04-07 16:28] daren-thomas opened #2680 "As a Developer I would like to remove naming.csv file to have a single point of reference for glossary information"
The way the `naming.csv` file is set up, we'll need to change the plots a bit to be able to move these variables to `schemas.yml`.

It will require that the output variables in the plots is actually an output column in one of our output fields. If that assumption does not hold, we'll need to come up with another plan.

[2020-04-07 16:30] daren-thomas opened #2681 "As a Developer, I would like to remove the inputs.yml file to have a single point of truth for glossary information"
The information in this file is in a different format to the `schemas.yml` file - but could easily be expressed in that file.

[2020-04-08 08:41] wieselukas commented on #2674
When Starting the dashboard over the console I get the following error:

![CEA_Error_from_console](https://user-images.githubusercontent.com/13906846/78762957-dbe3ba00-7984-11ea-9d25-2a40b2c34cb6.PNG)
(Roughly translated: The ordinal number 242 was not found in the library "[...]")

When trying version 3.0.1 I got exactly the both same errors when starting from the dashboard icon and the console.

[2020-04-08 09:19] shanshanhsieh commented on #2679
the test works after cleaning the .pyc files

[2020-04-08 09:19] #2679 closed

[2020-04-08 11:53] reyery commented on #2674
Hmm.. In that case, it seems that this problem might not be caused by CEA but python itself. Do you have any other python/conda installations on your machine?

[2020-04-08 14:01] wieselukas commented on #2674
No just the one that got installed by the cea installer.

It puzzles me why the error occured after the weekend but did not occur before the weekend. Maybe as background knowledge it's usefull to know that Germany changed to DST over especially this weekend. But I don't know if that could have to do with the error I get.

[2020-04-09 03:04] shanshanhsieh opened #2682 "wrong unit in the peak demand plot"
**Describe the bug**
as mentioned in #2645 by @matthiassulzer , the unit in the peak demand plot is off.
the unit for relative demand should be **[W/m2]**

**To Reproduce**
Steps to reproduce the behavior:
1. Go to dashboard
2. Open peak demand plot of any building
![image](https://user-images.githubusercontent.com/16998305/78853496-92ad6c00-7a51-11ea-89ab-3f84a5ca54d9.png)

[2020-04-09 03:05] shanshanhsieh commented on #2682
@reyery , i am not so familiar with the plots systems now.
could you please take a look at this? thanks!

[2020-04-09 03:27] shanshanhsieh opened #2683 "Leap day still shown in plots after being removed from the calculation"
**Describe the bug**
The leap day error was solved by removing 2/29 from all calculations in PR #2666.
However, in some plots, the leap day is still being displayed with empty values.

**To Reproduce**
Steps to reproduce the behavior:
1. Run solar radiation with this weather file: **Zuerich-SMA_2016 **
2. Open **solar radiation for district** in dashboard
![image](https://user-images.githubusercon

[2020-04-09 03:29] #2645 closed

[2020-04-09 07:05] #2628 closed

[2020-04-09 09:03] matthiassulzer commented on #2645
Hi Shanshan

How are you? I hope you are well in Singapore. I am just wondering, why this issue is closed. There is still an error by calculating the solar potential. Many thanks for a short feedback.

Best,

Matthias

PS. We would like to use CEA for the MBS, hence we are looking for a quick solve of the error.

Von: Shanshan Hsieh <notifications@github.com>
Gesendet: Donnerstag, 9. April 2020 05

[2020-04-09 09:07] reyery commented on #2645
@matthiassulzer I think this issue was closed automatically after we have merged the fix to master. You could try pulling this update using the Github application and try the calculations again.

[2020-04-09 09:16] matthiassulzer commented on #2645
Hi Rey

Thanks for the information. I pulled on github, run the weather helper on CEA, but still get the same error, when I am running PV/solar potential:

City Energy Analyst version 3.0.2
Running `cea photovoltaic-thermal` with the following parameters:
- general:scenario = C:\Users\sum\Documents\CEA\Hochshulquartier_status_quo New\Plattenstrasse
  (default: {general:project}\{general:scenario-n

[2020-04-09 09:19] reyery commented on #2645
@matthiassulzer you would have to rerun the `radiation` script also since the previous radiation results would still have the leap day.

[2020-04-09 09:30] matthiassulzer commented on #2645
Rey, you are the best! Many thanks.

Von: Reynold Mok <notifications@github.com>
Gesendet: Donnerstag, 9. April 2020 11:20
An: architecture-building-systems/CityEnergyAnalyst <CityEnergyAnalyst@noreply.github.com>
Cc: Sulzer, Matthias <Matthias.Sulzer@empa.ch>; Mention <mention@noreply.github.com>
Betreff: Re: [architecture-building-systems/CityEnergyAnalyst] Solar Potential Calculation on HQ (#26

[2020-04-09 09:40] reyery commented on #2657
@AlexJew are you still getting this error? I have tried multiple ways but was still unable to recreate this bug on my end. However, I do think that this error might not be because CEA was unable to find the path to the databases (the error message was raised by us and not might not accurately represent the actual error), CEA tries to verify the path of the database before running the script.

What

[2020-04-09 09:46] matthiassulzer commented on #2645
Hi Rey
I have application question: Can I only simulate one building? And how can I run the optimization for central? Do you have an idea? Thanks.

Best,

Matthias

Von: Reynold Mok <notifications@github.com>
Gesendet: Donnerstag, 9. April 2020 11:20
An: architecture-building-systems/CityEnergyAnalyst <CityEnergyAnalyst@noreply.github.com>
Cc: Sulzer, Matthias <Matthias.Sulzer@empa.ch>; Mention <m

[2020-04-09 10:09] AlexJew commented on #2657
Hi @reyery, tbh I haven't downloaded the latest version yet, so I don't really know if the bug has been corrected since then. Once I've downloaded it and tried creating a new scenario, I'll get back to you, but for the meantime it might be better to close the issue?

[2020-04-09 10:11] reyery commented on #2657
Alright, no worries. I will just close this issue for now and you could reopen/create a new issue if you encounter this again. Thanks!

[2020-04-09 10:11] #2657 closed

[2020-04-09 11:36] reyery commented on #2674
Hey @wieselukas, I think I might have discovered something that might solve this. According to [this](https://conda.io/projects/conda/en/latest/user-guide/troubleshooting.html#numpy-mkl-library-load-failed) documentation, it could be that some other application installed Intel libraries to C:\Windows\System32 on your computer that is not compatible with CEA.

To solve this you could try to edit th

[2020-04-09 19:58] SanamDabirian opened #2684 "CEA Installation (Error opening file for writing)"
Dear CEA Team,

I am going to install the latest version of CEA, but I faced an error (opening files for writing). It does not work even if I select abort or retry or ignore. I would appreciate it if you guide me on how to resolve the issue.
Sincerely,
Sanam Dabirian

![CEA error](https://user-images.githubusercontent.com/55449782/78935204-4a567400-7a7a-11ea-8ecd-e61e89f59f69.jpg)

[2020-04-12 09:21] kerembeygo opened #2686 "MuSES Grand Finale"
In YouTube CEA Channel

3.5 Real Time Simulation Platform in Switzerland (MuSES Grand Finale Part 10/10)
4. Final Remarks and Q&A

videos are missing. Can you upload them if they are available?

[2020-04-13 03:53] reyery commented on #2684
I was not able to reproduce this issue on my end. Maybe you could try installing [v3.0.1](https://github.com/architecture-building-systems/CityEnergyAnalyst/releases/download/v3.0.1/Setup_CityEnergyAnalyst_3.0.1.exe) instead and running it as administrator. It could be because of write permissions.

[2020-04-13 04:00] nasty-bos opened #2687 "_ensure_folder method in InputLocator class may create race condition when used with multiprocessing"
**Describe the bug**
While running "cea photovaltaic" within workflow for the districts containing multiple buildings of exactly same kind, simulation would often crash at the beginning of writing the results (BuildingName_PV.csv) into _outputs\\data\\potentials\\solar_ folder.

**To Reproduce**
Difficult to reproduce as conditions require that the calculation for 2 buildings is finished simultane

[2020-04-13 08:15] reyery commented on #2645
I'm not too sure it is possible to do optimization for one building right now. You could submit a request for this feature on GitHub if you want to do that.

[2020-04-13 09:00] matthiassulzer commented on #2645
Cool. Thx. I will do so.

Gruss

Matthias

Am 13.04.2020 um 10:16 schrieb Reynold Mok <notifications@github.com>:

﻿

I'm not too sure it is possible to do optimization for one building right now. You could submit a request for this feature on GitHub if you want to do that.

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub<https://github.com/arch

[2020-04-13 09:27] matthiassulzer opened #2688 "Optimization for ONE Building"
In order to compare decentralized and centralized solutions, scenarios (optimizations) with a building would be useful.

[2020-04-13 09:46] emanuel030 opened #2689 "network-layout error, length mismatch"
When I run the network-layout script for one specific scenario, the following error is raised:
[code]
The problem is, the whole file is too big to share through normal channels (14.7 GB),
Here the building geometry and building properties folders as well as the first outputs of the DC network before the script shoes an error:
[scenario_network_error.zip](https://github.com/architecture-building-sy

[2020-04-13 10:23] reyery commented on #2648
Hmmm.. That might possibly mean that both heating and cooling capacity files are empty since both are `None`. But its hard to tell since it is using a catch all exception and could be caused by something else. Would change this to catch `pandas.errors.EmptyDataError` instead since I think it was the intended logic.

https://github.com/architecture-building-systems/CityEnergyAnalyst/blob/1c2d4c9b24

[2020-04-14 13:20] lguilhermers commented on #2689
Jimeno, Emanuel and I will give a try on this bug tomorrow (14/04)

[2020-04-14 16:00] LuVoGu opened #2690 "CEA Error on startup V.3.0.2. but not in v.3.0.1"
**Describe the bug**
I installed CEA following the blog tutorial and every time I tried to launch the dashboard two errors occured (screenshots).
After a few new downloads and retries (errors occured every time) I downloaded v. 3.0.1 where the errors do not occur and the dashboard starts.

**To Reproduce**
Steps to reproduce the behavior:
1. install version 3.0.2
2. launch dashboard
3. error windo

[2020-04-14 17:11] daren-thomas commented on #2690
@LuVoGu this is very unfortunate. I will take special care to test this with the next release coming up end of this week. Please stay tuned. You can try installing V3.0.2 with the Developer mode - that _might_ work, but I will do some testing on Friday to make sure the next release will not have this error.

[2020-04-14 17:15] daren-thomas commented on #2667
@shanshanhsieh I believe most of these are handled in #2637 - we will do a check (grep `schemals.yml`) after merging.

[2020-04-14 17:16] #2561 closed

[2020-04-14 17:22] daren-thomas commented on #2687
@nasty-bos thank you! I think an adaptation of your 2nd solution could work - but instead of catching the `WindowsError` (non-portable, error message could change from version to version or maybe even be in a different language), we might be able to catch a more generic error or just sleep and check if it exists before re-trying...

[2020-04-14 17:23] daren-thomas commented on #2687
Wait. Actually, your first solution is much much cleaner!

[2020-04-15 03:30] nasty-bos commented on #2687
Agreed, first solution is simple and transparent, unfortunately it is not generic, working only for this specific case and not really addressing the underlying problem.

The second solution could be better in my opinion but requires some further thought. Catching OSError would be too broad i.e. catch an exception of "disk full" or "file not found" instead of the one we're interested in. Catching W

[2020-04-15 07:07] #2637 closed

[2020-04-15 07:16] shanshanhsieh commented on #2680
before plotting, there should be a .csv output of all the data used.
that would require seperated "mini scripts" to replace the "pre-processing" step.

[2020-04-15 07:21] shanshanhsieh commented on #2681
- augment `schemas.yml` schema to allow this
- update GUI (possibly)
- edit API end points in cea.interfaces.dashboard.api.inputs to read from `schemas.yml`
- remove `inputs.yml` from MANIFEST.in

[2020-04-15 07:28] shanshanhsieh commented on #2684
Dear @SanamDabirian,
Please check that you have the right permission to this folder, and let us know if the issue persists.

[2020-04-15 07:28] #2684 closed

[2020-04-15 07:33] shanshanhsieh commented on #2686
@JIMENOFONSECA are you planning to publish the Final Remarks and Q&A?

[2020-04-15 07:47] shanshanhsieh commented on #2687
Hi @nasty-bos,
Would you be interested in becoming a developer of CEA?
We've added you as a contributor!
Please create a pull request with the proposed changes, and assign @daren-thomas as the reviewer.
thank you!

[2020-04-15 10:37] AlexJew commented on #2670
Hi, I don't know if that is of any help, but my terrain isn't flat, so I guess that, even if the parkings are considered as underground, they may clash with lower standing building (terrain-wise) that are purely overground.

[2020-04-15 12:45] emanuel030 opened #2693 "System_costs module doesn't include CapEx of all cooling systems"
The system_costs.py module currently only considers Capital Expenditure of District Cooling and disregards Capex for other cooling technologies.

The cooling capacity QC_sys0_kW should serve as a basis to calculate investment cost for all technologies.

[2020-04-15 15:55] daren-thomas commented on #2690
fixed in #2694

@LoVoGu - the pre-Release [v3.0.3a0](https://github.com/architecture-building-systems/CityEnergyAnalyst/releases/tag/v3.0.3a0) resolves this issue. An official Release v3.1.0 can be expected by end of this week.

[2020-04-16 03:54] JIMENOFONSECA opened #2695 "Webinar on optimisation with CEA"
**Describe the feature you would like to have**
2h webinar with users of CEA walking through theory and then optimization with CEA.

**Describe the end purpose of this feature**
So the CEA community knows how to use this amazing feature (nobody seems to be able to do it beyond the core team at this point.

**Describe the end-user of this feature**
Everyone: Researcher, a Student, or a Practitioner

[2020-04-16 04:22] JIMENOFONSECA commented on #2686
done! enjoy!

[2020-04-16 04:22] #2686 closed

[2020-04-16 06:53] shizhongming opened #2696 "Handover Grasshopper connections to Zhongming"
Recently I received several interests and requests about using CEA in Grasshopper. As we ceased to maintain the Grasshopper connection, I wonder if we can fork it out and I can be the one who maintains it? Could we schedule a meeting @daren-thomas for a handover?

Thanks,
Zhongming

[2020-04-16 07:27] daren-thomas commented on #2663
@DavidKayanan: We're thinking of creating a plugin-system for scripts that are not part of the CEA core workflow and would like to make this the first such plugin. I'll reach out to you next week for this.

[2020-04-16 07:33] daren-thomas commented on #2660
This is merged in master. You can use the GUI to check for explainations - there is a search bar at the top right (Glossary Search). This works for all the input and output files of the CEA. We're still working on the plot output files. Try searching for `DH_ww_` instead:

![image.png](https://images.zenhubusercontent.com/57b40957e40e5714b16d7331/4f29891e-cc19-4696-ac69-ab8f8a81d94e)

[2020-04-16 07:33] #2660 closed

[2020-04-16 07:35] daren-thomas commented on #2656
Update: @reyery is close to finding a solution.

[2020-04-16 07:36] #2690 closed

[2020-04-16 07:46] daren-thomas commented on #2683
Idea: Maybe just change the year-portion of the timeseries to leap-year+1

[2020-04-16 07:57] daren-thomas commented on #2693
@shanshanhsieh can you please perform a triage for this issue?

[2020-04-16 08:23] emanuel030 opened #2697 "in thermal_loads, system efficiency not accounted for in building-scale cooling system electricity calculations"
We were comparing different supply technologies for a certain case study district and could not find any difference in total energy demand, even though the supply technologies have different efficiencies assigned to them in the SUPPLY database.

It turns out that the thermal_load module of the demand calculations does not take the system efficiency of the 'Building'-scale supply technologies with

[2020-04-16 09:40] shanshanhsieh commented on #2693
hi @emanuel030 ,
are you referring to line 92 in `system_costs.py`?
line 92:
```cooling[service + '_sys_total_capex_yr'] = cooling[service + '0_kW'] * cooling['CAPEX_USD2015kW']```
in which the services are defined as:  `cooling_services = ['DC_cs', 'DC_cdata', 'DC_cre']`

please also indicate what kind of assistance would you need to tackle this issue.
thanks!

[2020-04-16 09:46] shanshanhsieh commented on #2695
hi @JIMENOFONSECA ,
is there a timeline you are thinking of?
since the resource we have now in the CEA team is quite limited during this "hibernation period", we can probably only schedule this in after July 2020.
we can revisit this in the roadmap planning event, during which, we can decide together whether this should be included in the roadmap and at when.

[2020-04-16 10:21] shanshanhsieh opened #2699 "A guide on how to modify scripts in CEA and create a PR"
**Describe the feature you would like to have**
For the increasing numbers of collaborators in the CEA, we need to provide infomration on how to modify scripts in CEA and create a PR.

**Describe the end purpose of this feature**
To formalize the process of integrating new collaborators to the CEA development.

**Describe the end-user of this feature**
Anyone who has good ideas and would like to c

[2020-04-16 10:23] emanuel030 commented on #2693
Yes exactly! I already modified the code to make the investment cost dependent on the thermal capacity. I will have to check if it still works with the dashboard plots of costs before creating the pull request.

[2020-04-16 10:26] #2687 closed

[2020-04-16 10:27] shanshanhsieh commented on #2699
I would also like to welcome our latest collaborators: @nasty-bos , @emanuel030 , @lguilhermers , @DavidKayanan.
Thank you for your interest, and we are as enthusiastic as you are!

We would like to have your help in shaping this document.
Please comment here for any questions you have regarding how to modify scripts and create PR in CEA.

[2020-04-16 10:32] JIMENOFONSECA commented on #2695
I was thinking about execution in a month time (acknowledging the hibernation period). Do you think we could come up with something by then? I am glad to help. For example I can take the centralised opts and somebody the decentralised one? I can also provide the mailing-list for advertisement. We can depart from an scenario where users already had run demand, local potentials, and thermal networks

[2020-04-17 02:33] DavidKayanan commented on #2663
@daren-thomas This sounds good to me. From the engineering perspective, this step really occurs at the end of the analysis, and is more like post-processing.

[2020-04-17 05:05] shanshanhsieh commented on #2695
There is no capacity from my side to take up any story point on this issue until the end of May.
It might be possible to meet the timeline if you would like to take over this issue.
I apologize, but I cannot commit to this at the moment. We can have a short discussion on how to proceed.

[2020-04-17 07:02] #2689 closed

[2020-04-17 10:38] JIMENOFONSECA commented on #2695
No problem. Then it is settled. We can revisit this issue later on once people have time. Feel free to move on with the issue.
On 17 Apr 2020, 13:05 +0800, Shanshan Hsieh <notifications@github.com>, wrote:

There is no capacity from my side to take up any story point on this issue until the end of May.
It might be possible to meet the timeline if you would like to take over this issue.
I apologize

[2020-04-17 12:01] daren-thomas opened #2700 "Heating Reset Curve plot does not work with reference-case-open / standard workflow (simplified network model)"
I'm trying to test all plots, but I can't seem to get the Heating Reset Curve plot to work. When trying to debug it, I found there is a difference in the file `get_thermal_network_node_types_csv_file` columns - depending on whether the simplified or the detailed network model is being used.

The following error was produced using the simplified network model and is also the way the file is describ

[2020-04-17 20:13] compostable opened #2703 "Incorrect Calculation: Comfort Chart / p_ws_from_t"
**Comfort Chart**

The water vapor saturation pressure is being incorrectly calculated in [p_ws_from_t(t_celsius)](https://github.com/architecture-building-systems/CityEnergyAnalyst/blob/3da65db9f8b26386a7523b15cac2c29a2c5e8bbc/cea/plots/demand/comfort_chart.py#L472):

The [following line](https://github.com/architecture-building-systems/CityEnergyAnalyst/blob/3da65db9f8b26386a7523b15cac2c29a2c5e8

[2020-04-20 06:48] emanuel030 opened #2704 "Naming of Cooling technologies in SUPPLY database of assemblies leads to confusion."
Cooling technologies in the SUPPLY database in 'databases\SG\assemblies' calls for a more concrete naming. The naming doesn't effect any of the code.

Naming is proposed as follows:
**Direct expansion unit** (no chiller water-air, or chiller air-air), those are other systems usually used only for central AC which have a chiller (a vapor compression unit normally and either a dry-cooling tower or a

[2020-04-20 09:02] wieselukas commented on #2674
I tried adding the line like you said and had no success on both my at the time installed version 3.0.1 and also after installing the newly released 3.1.0 version. The error messages remained the same when starting the cea dashboard from the console or the desktop icon.

[2020-04-20 17:40] matthiassulzer commented on #2645
Hi Rey

Everything worked out well with the HQ case…. up to now. I got the following error:
City Energy Analyst version 3.1.0
Running `cea radiation` with the following parameters:
- general:scenario = C:\Users\sum\Documents\CEA\Hochshulquartier_status_quo New\MBS Case Study HQ
  (default: {general:project}\{general:scenario-name})
- general:multiprocessing = True
  (default: True)
- general:numbe

[2020-04-20 17:53] matthiassulzer commented on #2645
… interesting: using Zürich SMA 2016 weather data, the error occurs. But using Zürich TMY 1990-2010 weather data, on error occurs.

Von: Sulzer, Matthias
Gesendet: Montag, 20. April 2020 19:40
An: 'architecture-building-systems/CityEnergyAnalyst' <reply@reply.github.com>; 'architecture-building-systems/CityEnergyAnalyst' <CityEnergyAnalyst@noreply.github.com>
Cc: 'Mention' <mention@noreply.github.

[2020-04-21 07:01] matthiassulzer commented on #2645
Hi Rey

I just identified another bug in the graph:
Annual Costs for best individuals after 100 generations normalized to gross floor area
--> the cost are showed in absolute numbers instead of US$ per m2 GFA

Best,

Matthias

Von: Sulzer, Matthias
Gesendet: Montag, 20. April 2020 19:53
An: 'architecture-building-systems/CityEnergyAnalyst' <reply@reply.github.com>; 'architecture-building-systems/C

[2020-04-21 07:12] matthiassulzer commented on #2645
… and there might be an anther calculation error in the graph:
Installed Capacities for sys_42_0 - MBS Case Study HQ
--> seasonal storage with 50MW capacity is not feasible

Best,

Matthias

Von: Sulzer, Matthias
Gesendet: Dienstag, 21. April 2020 09:02
An: 'architecture-building-systems/CityEnergyAnalyst' <reply@reply.github.com>; 'architecture-building-systems/CityEnergyAnalyst' <CityEnergyAnaly

[2020-04-21 12:53] reyery commented on #2645
@matthiassulzer for the problem regarding solar radiation, there seems to be an error in the weather file reader when something else was merged. I have a fix for that and am testing now. For the other two, I would have to look further into them.

[2020-04-21 14:10] reyery commented on #2656
@AlexJew could you help me test [this](https://polybox.ethz.ch/index.php/s/f0r3lruB9PQVyNa) build of the GUI to see if it still happens on your end?

[2020-04-21 16:46] JIMENOFONSECA commented on #2645
Hey rey, we did a fix when people included weather files with a leap year but without the 29th of feb.

It should work for both cases.

Is there an error?

Dr. Jimeno Fonseca
Senior Researcher
SEC | ETH Zurich

Read more about City Energy Dynamics<https://www.jimenofonseca.com/>

On 21 Apr 2020, 20:54 +0800, Reynold Mok <notifications@github.com>, wrote:

@matthiassulzer<https://github.com/matthia

[2020-04-22 02:54] reyery commented on #2645
@JIMENOFONSECA I think there was a missing variable when you resolved the merge conflict. I will merge the fix soon

[2020-04-22 04:44] JIMENOFONSECA commented on #2703
@shanshanhsieh it would be good to groom this and other issues as soon as they are identified.  i.e., add the people with knowledge to the conversation. As for this issue @gabriel-happle could help, but I do not know if he is around?

[2020-04-22 04:45] JIMENOFONSECA commented on #2704
@emanuel030 merged? if so, congrats, you can close the issue

[2020-04-22 04:46] #2661 closed

[2020-04-22 04:46] #2648 closed

[2020-04-22 04:50] emanuel030 commented on #2704
great! yes the database got updated

[2020-04-22 04:50] #2704 closed

[2020-04-22 05:13] reyery commented on #2675
Layout of x-axis for time frames fixed in #2691. We could not fix solar radiation normalization since we could not recreate the issue on our end. If it fails again, you could reopen/create an issue.

[2020-04-22 05:13] #2675 closed

[2020-04-22 16:00] daren-thomas commented on #2626
This is basically done. Anything still missing should be it's own issue. Thank you all for helping with the glossary definitions!

[2020-04-22 16:00] #2626 closed

[2020-04-22 18:25] AlexJew commented on #2656
Hi @reyery , I will do so tomorrow. Thanks ! :)

[2020-04-23 08:17] reyery commented on #2645
@matthiassulzer I am not too familiar with the calculation of **Installed Capacities**, could you create this in a new issue so that we can assign it to someone with that knowledge?

[2020-04-23 08:40] #2537 closed

[2020-04-23 08:46] daren-thomas commented on #2697
@JIMENOFONSECA is this still open? (asking you as you merged the PR #2697)

[2020-04-23 09:19] matthiassulzer opened #2707 "Calculation Installed Capacity Seasonal Storage"
Installed Capacities for sys_42_0 - MBS Case Study HQ
 seasonal storage with 50MW capacity is not feasible
![installed capacity](https://user-images.githubusercontent.com/54287523/80082184-4c2d3680-8554-11ea-96df-617b7bd71fb9.png)

[2020-04-23 14:51] JIMENOFONSECA commented on #2697
It can be closed now

Dr. Jimeno Fonseca
Senior Researcher
SEC | ETH Zurich

Read more about City Energy Dynamics<https://www.jimenofonseca.com/>

On 23 Apr 2020, 16:47 +0800, Daren Thomas <notifications@github.com>, wrote:

@JIMENOFONSECA<https://github.com/JIMENOFONSECA> is this still open? (asking you as you merged the PR #2697<https://github.com/architecture-building-systems/CityEnergyAnalyst/

[2020-04-23 23:53] reyery commented on #2645
@matthiassulzer I have merged the fix for the weather reader to master. #2706

[2020-04-24 09:56] shizhongming commented on #2696
Hi @daren-thomas , concerning this, are you free some time next week to zoom call? My time is quite flexible. :)

[2020-04-25 13:54] AlexJew commented on #2656
@reyery  the build works! For comparison sake :
- Testing with original CEA 3.1
![Screen Shot 2020-04-25 at 14 49 35 (2)](https://user-images.githubusercontent.com/32110882/80281659-9f45eb80-8704-11ea-9c2f-7f2e00d474fb.png)

- Testing with your build
![Screen Shot 2020-04-25 at 14 52 06 (2)](https://user-images.githubusercontent.com/32110882/80281664-ab31ad80-8704-11ea-8006-ae1c19967d68.png)

We c

[2020-04-25 14:10] #2672 closed

[2020-04-27 05:39] reyery commented on #2656
Thanks for testing it! Will merge this fix into the coming release.

[2020-04-27 05:39] #2656 closed

[2020-04-27 06:03] emanuel030 opened #2708 "Error displaying the dashboards dashboard"
When opening the dashboard with any scenario and opening up the dashboard option from the menu on the left, no options of displaying the results are available. As in 'Add dashboard'
etc. are not available.

Following error message is shown when inspecting the page:

![image](https://user-images.githubusercontent.com/26175926/80338799-d72d6a00-888f-11ea-98aa-1b1109d49531.png)

**Hardware :**
 - OS

[2020-04-27 10:02] daren-thomas commented on #2696
Hi @shizhongming I'll send you a meeting request on Outlook, ok?

[2020-04-27 13:32] daren-thomas opened #2710 "Check to make sure the format of outputfiles for thermal-network is the same for simplified / detailed"
I'm not sure this is the case - also, we haven't been testing both of these lately. Instead, we have been using the simplified model.

See also issue #2700 (Heating Reset Curve plot does not work with reference-case-open / standard workflow (simplified network model))

[2020-04-28 02:41] shizhongming commented on #2696
@daren-thomas thanks and see you later today!

[2020-04-28 09:03] daren-thomas commented on #2710
In issue #2667 I tracked down the differences (NOTE: needs to be checked for DC too - they might be different):

I noticed some discrepancies with the `thermal-network` script outputs, depending on if "simplified" or "detailed" model is used:

- `get_thermal_network_node_types_csv_file`:
  - detailed columns: `[,Name,Type,Building,coordinates,Q_hex_h_ahu,Q_hex_h_aru,Q_hex_h_shu,Q_hex_h_ww,Q_hex_pl

[2020-04-28 09:03] daren-thomas commented on #2667
I noticed some discrepancies with the `thermal-network` script outputs, depending on if "simplified" or "detailed" model is used:

- `get_thermal_network_node_types_csv_file`:
  - detailed columns: `[,Name,Type,Building,coordinates,Q_hex_h_ahu,Q_hex_h_aru,Q_hex_h_shu,Q_hex_h_ww,Q_hex_plant_kW]`
  - simplified columns: `[Building,Type]`
  - NOTE: I think this is connected with issue #2700
- `get_th

[2020-04-28 09:09] daren-thomas opened #2711 "Rename the columns "Unnamed 0:" and "Unnamed 0.1:" in get_multi_criteria_analysis"
The script `get_multi_criteria_analysis` has two output columns that are not named. They are index columns, but should either be dropped or renamed.

This requires also updating `schemas.yml` to reflect the changes made when fixing this issue.

[code]

[2020-04-28 09:10] daren-thomas commented on #2667
The multi-criteria-analysis script also needs updating: #2711

[2020-04-28 09:12] daren-thomas opened #2712 "Rename the "Unnamed: 0" column in get_optimization_decentralized_folder_building_cooling_activation"
The `decentralized` script produces the file `get_optimization_decentralized_folder_building_cooling_activation` that has an index column called "Unnamed: 0" - this should either be renamed or dropped.

[2020-04-28 09:12] daren-thomas commented on #2667
The decentralized script also needs updating: #2712

[2020-04-28 09:15] daren-thomas commented on #2712
NOTE: These output files show the same problem:

- `get_optimization_decentralized_folder_building_result_cooling`
- `get_optimization_decentralized_folder_building_result_heating`
- `get_optimization_decentralized_folder_building_result_heating_activation`

[2020-04-28 09:17] daren-thomas opened #2713 "Update optimization script to remove "Unnamed: 0" columns in output"
Output files found:

- `get_optimization_generation_connected_performance`
- `get_optimization_generation_disconnected_performance`
- `get_optimization_generation_total_performance`
- `get_optimization_generation_total_performance_pareto`
- `get_optimization_individuals_in_generation`

[2020-04-28 10:14] reyery commented on #2708
Hmm.. I was not able to reproduce this error. Could you try to overwrite the GUI files by downloading it from here https://github.com/architecture-building-systems/CityEnergyAnalyst/releases/download/v3.1.0/win-unpacked.7z ?

[2020-04-28 11:49] reyery commented on #2674
All right, in addition to that line, add

to the front of **PATH**
(edit the path according to the path of your CEA installation directory i.e. `$CEA_PATH\Dependencies\Python\Library\bin;`)

![image](https://user-images.githubusercontent.com/34395415/80483414-a2510e00-8988-11ea-9f12-b1fa72a66866.png)

Hopefully this would allow python to search for the DLLs in there first.

[2020-04-29 07:21] #2708 closed

[2020-04-29 07:21] shanshanhsieh commented on #2708
@emanuel030 we are closing this issue, we can re-open it if @reyery's solution doesnt work.

[2020-04-29 07:26] shanshanhsieh commented on #2707
@matthiassulzer, how about results from other individual? are they all in the similar range?

[2020-04-29 07:41] daren-thomas opened #2715 "Run coverage on the slow testing workflow to make sure we're testing all code paths"
This is important so we know what code paths are acutally being tested on a regular basis and which ones might be "dead code". We need this information along with sample output from such a comprehensive workflow test when we port to Python3, so we know that we're actually creating the same product.

- coverage (i think this is the name of the tool) runs a python script and reports on how much (%)

[2020-04-29 08:06] daren-thomas opened #2716 "As a Developer, I would like a plugin Architecture for creating "satelite" CEA Scripts"
Rationale: Not all proposed scripts are in scope of the CEA Core. We need a way to allow users to add their own scripts that work with the CEA eco system, but are maintained in their own repository.

Vision: An ecosystem of CEA satelite scripts! (first case study would be David's cooling towers calculation)

Method:

- CEA satelite repositories share the same similar structure: `schemas.yml`, `scr

[2020-04-29 08:25] matthiassulzer commented on #2707
Jep, see plot of the 80_13 multi criteria solution
![newplot](https://user-images.githubusercontent.com/54287523/80575302-a66e4180-8a03-11ea-88ce-9dc8c6041b56.png)

[2020-04-29 09:47] emanuel030 commented on #2708
Thank you both and sorry for the late reply! It worked with the proposed solution. I don't know what went wrong with the GUI since it worked before and then suddenly stopped. But is now fixed :)

[2020-04-30 07:16] #2697 closed

[2020-04-30 07:20] daren-thomas commented on #2696
This issue is complete with the creation of the `cea-grasshopper` repository.

[2020-04-30 07:20] #2696 closed

[2020-04-30 07:22] daren-thomas commented on #2663
@DavidKayanan, Issue #2716 deals with a plugin architecture for adding functionality to the CEA and we expect to have this for Release v3.3. I would love to use this issue here as a first proof-of-concept.

[2020-04-30 07:29] daren-thomas commented on #2454
Could this be broken down into multiple steps that could (realistically) be solved during a sprint? Also, maybe this could be realized as an example of the plugin architecture (see #2716)

[2020-04-30 07:33] daren-thomas commented on #2670
@JIMENOFONSECA do you have an update on this issue?

[2020-04-30 07:40] lguilhermers commented on #2454
Hi Daren,

I can give an update about this. We have a functional code that calibrates multiple scenarios against monthly measured data, using the ASHRAE standard and also checking how many building are considered validated. @JIMENOFONSECA has been helping me to enhance it and right now I am testing how it performs.

The code is made for v 2.29, so it needs to be updated. After that I believe it wi

[2020-04-30 07:44] daren-thomas commented on #2713
@JIMENOFONSECA I'm assigning this task to you for now as you probably know best how to do this. If you can't make it this sprint, please let me know and move it back to the product backlog and un-assign yourself.

[2020-04-30 07:44] shanshanhsieh commented on #2707
yes, i agree the size is a bit unrealistic as a large scale ATES is normally 10MW.
i can see these solutions:
- allow users to define the upper bounds of seasonal storage
- update the potential script to set feasible bounds
- update the bounds on the cost database
@JIMENOFONSECA, your comments will be appreciated : )

[2020-04-30 07:54] daren-thomas commented on #2454
Removing estimate as it is messing with our sprint velocity calculation.

[2020-04-30 08:36] matthiassulzer commented on #2707
Dear Shanshan

Thanks for your suggestions. Seasonal storages are usually sized with the following parameters:
- Storage capacity (kWh)
- Peak load (kW)

Both parameter can be calculated (there are plenty of models available) by knowing the footprint and the depth of the geothermal storage.

Best,

Matthias

Von: Shanshan Hsieh <notifications@github.com>
Gesendet: Donnerstag, 30. April 2020 09:45

[2020-04-30 08:42] daren-thomas opened #2717 "As a User I would like to be able to run scripts only after completion of other scripts"
The `cea workflow` system kind of is a solution to this, but when running scripts using the GUI, say you start a new scenario and run some short scripts (`weather-helper`, `archetypes-mapper`) etc. Next, you want to run `radiation` and then `demand`. Well. Currently you have to run `radiation`, _wait_ for it to complete and _then_ run `demand`.

What if we could schedule the `demand` script to run

[2020-04-30 09:07] #2682 closed

[2020-04-30 09:07] #2683 closed

[2020-04-30 09:47] JIMENOFONSECA opened #2718 "Namin.csv is still there, move it to schemas"
**Describe the bug**
So it seems the schemas are not connected to the plots, this was supposed to be changed by now? @daren-thomas mind taking a look?

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behaviour**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add sc

[2020-04-30 09:53] daren-thomas commented on #2718
@JIMENOFONSECA this is a duplicate of #2680. It has been moved down in importance relative to other issues.

The main problem is that `naming.csv` refers to variables that are not necessarily output-file columns - some of them are aggregations made ad-hoc in the plots themselves.

[2020-04-30 09:53] #2718 closed

[2020-04-30 09:58] JIMENOFONSECA commented on #2711
@daren-thomas I can help, but can you fix the schemas to include the colours so we get rid of naming.csv, please? In Cooling Singapore we are trying to add new plots...but the tasks is becoming quite repetitive, having to do the naming of variables in schemas and naming csv twice. see #2718

[2020-04-30 12:45] daren-thomas commented on #2711
@JIMENOFONSECA see #2680 - we can't get rid of `naming.csv` quite yet as it does not do the same thing as `schemas.yml` and therefore can't be merged quite yet.

- `schemas.yml` describes input and output files and their schema (columns).
- `naming.csv` describes variables used in plots and their colors, legend text etc.

While there is some overlap, `naming.csv` refers to values that aren't part

[2020-04-30 12:45] daren-thomas commented on #2680
we can't get rid of `naming.csv` quite yet as it does not do the same thing as `schemas.yml` and therefore can't be merged quite yet.

- `schemas.yml` describes input and output files and their schema (columns).
- `naming.csv` describes variables used in plots and their colors, legend text etc.

While there is some overlap, `naming.csv` refers to values that aren't part of the output files, but in

[2020-04-30 14:27] PMAU-yahoo opened #2720 "ERROR: 'NoneType' object is not iterable"
I tried to work with the reference-case-open that you provided, but I got the following message:

ERROR: 'NoneType' object is not iterable

Attached a screenshot of the error.

I arrived at that error by doing the following: I opened the project -> selected the scenario -> the tool sent me to the "Input editor" section -> I clicked back into the "Project overview" section and directly back to the

[2020-05-01 01:38] JIMENOFONSECA commented on #2711
Let me clarify.

Every output variable in CEA goes directly into the plots without postprocessing the naming.  I personally spent months making this possible.

If there is this case in some plots. Those plots are just wrong and should we reworked to avoid unnecessary postprocessing.

In that sense the schemas should replace naming.csv 100%. And they are able to. It is just annoying to have to put

[2020-05-01 01:42] JIMENOFONSECA commented on #2718
Once again. That is not an intended behavior. If it is, the plot is just wrong and should be removed. We spent a lot of time making possible that the output variables go directly into the plots without any ‘aggregation’.

So the schemas should replace naming.csv as of now without any need of postprocessing the outputs.
On 30 Apr 2020, 17:54 +0800, Daren Thomas <notifications@github.com>, wrote:

C

[2020-05-01 01:49] JIMENOFONSECA commented on #2707
Well...Shanshan you could build a new model which defines the size of the seasonal storage as a decision variable for the genetic algorithm.

Check out how we do it for the daily thermal storage for the cooling case. That seems to work well.

I advise to size the seasonal storage as a fraction of the solar potential and waste heat (in case industry, data centers, sewage heat is considerably high).

[2020-05-01 01:51] JIMENOFONSECA commented on #2670
No, i am not sure if another developer can help. i am swamp these months with other tasks.
On 30 Apr 2020, 15:33 +0800, Daren Thomas <notifications@github.com>, wrote:

@JIMENOFONSECA<https://github.com/JIMENOFONSECA> do you have an update on this issue?

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub<https://github.com/architecture-building-sy

[2020-05-03 23:59] DavidKayanan commented on #2716
Hi @daren-thomas. Thanks for the update. I just wanted to ask, when do you expect to have this release?

[2020-05-04 06:14] daren-thomas commented on #2674
@wieselukas did this help with your error?

[2020-05-04 10:27] daren-thomas commented on #2716
@DavidKayanan we have scheduled this for the current sprint - due May 14. If you would like, we can talk about using your code as a first proof-of-concept. Are you available this week? What is your timezone?

[2020-05-04 15:01] gabriel-happle commented on #2703
Thank you very much @compostable for spotting this.
It was a great help that you directly linked to the correct equation and documentation in the issue description.
I created a PR for this #2721.

[2020-05-04 16:54] MarelloAvanzini opened #2722 "Archetypes mapper generates unrelated 'Name' values"
**Describe the bug**
I am using CEA to simulate the energy consumption of a neighburhood in Lisbon extracted from a shapefile provided by my thesis supervisor. Using QGIS I managed to cut the neighbourhood, adapt the database structure to fit the new CEA version and export it into a zone file. Then, from it I created my project and a scenario called "Boavista old".
However, when I tried to generat

[2020-05-05 08:29] wieselukas commented on #2674
I tried the suggested addition to the dashboard.bat file but still get the same error-messages

[2020-05-06 13:00] #2703 closed

[2020-05-06 15:34] MarelloAvanzini opened #2724 "'MissingInputDataException' Solar Radiation"
**Describe the bug**
I have run successfully the 'Building solar radiation' simulation for all the buildings in my scenario, however when I run the 'Building energy demand' on the same buildings an error occurs saying that radiation data is missing.

**To Reproduce**
Steps to reproduce the behavior:
1. Click on 'Open Project'
2. Find the path of 'Boavista trial - working':
[Boavista trial - workin

[2020-05-09 12:12] 89ng opened #2726 "Fiona/gdal import error: DLL failed : the operating system cannot run%1"
**Describe the bug**
when startup dashbord, it reported an import error: DLL failed : the operating system cannot run%1, it seems it is related to fiona/gdal, and the same issue occured when I manualy imported fiona/gdal (see as the image below),
I have checked  all the related issues in this repository (including#1708), but none of these worked. I have also tried to re-installed it several times,

[2020-05-11 07:15] shanshanhsieh commented on #2720
dear @PMAU-yahoo ,
thank you for bringing this issue to our attention.
we tried to reproduce it, but failed.
we are glad that you can solve this issue on your own!

[2020-05-11 07:15] #2720 closed

[2020-05-11 07:22] shanshanhsieh commented on #2722
@MarelloAvanzini thank you for submitting this issue, we will take a look at it in the coming sprint.

[2020-05-11 07:27] shanshanhsieh commented on #2724
@MarelloAvanzini we will test your input files and get back to you!

[2020-05-11 07:32] daren-thomas commented on #2726
@89ng - can you try importing `fiona` using the python shipped with the CEA Console please? Check your start menu for the "CEA Console" program, then type python.

The CEA Console contains some additional settings (to the environment variables) that are required for GDAL dlls.

Does this solve your issue?

[2020-05-11 08:49] 89ng commented on #2726
Thank you for your kind reply! But it seems it still does not work. Did I do it correctly? Sorry I am really new to this.
![image](https://user-images.githubusercontent.com/58104779/81542452-f4c10000-9374-11ea-9aaa-b2c35ddafeb6.png)
(The Chinese characters mean "the operating system cannot run%1")

[2020-05-11 08:53] daren-thomas commented on #2726
@89ng - when you installed the CEA - did you copy it from the installation location to "F:\CES\..." or did you install it to that folder directly?

Can you please try to install it to the default location (in your user profile) and see if that helps?

[2020-05-11 09:00] 89ng commented on #2726
I just changed the installation location at that time, but I will reinstall it to the default location right now, thank you!

[2020-05-11 09:11] #2693 closed

[2020-05-11 10:22] 89ng commented on #2726
Seems it doesn't work, the same error occured, so weird
![image](https://user-images.githubusercontent.com/58104779/81551424-1d032b80-9382-11ea-8108-cd9bb1320438.png)

[2020-05-11 11:48] 89ng commented on #2726
Is that possible that I configure the environmental variables or create an unaffected environment mannually?

[2020-05-11 23:01] reyery commented on #2674
@wieselukas could you check if the file `mkl_intel_thread.dll` is located in `C:\Windows\System32`? If so, could you try uploading the file. I would need to try to reproduce this error on my end to solve it.

[2020-05-13 07:19] daren-thomas commented on #2726
@89ng as per our video call yesterday, I'm closing this. Thank you for taking time to try and debug this with me. I believe the error is due to an unknown state of your operating system. Please feel free to re-open this issue if you have new information. Good luck with your course today!

[2020-05-13 07:19] #2726 closed

[2020-05-13 07:28] shanshanhsieh commented on #2572
@reyery are you working on this? if yes, please move it to "In Progress", if not, we could discuss in the meeting tomorrow.

[2020-05-13 07:33] shanshanhsieh commented on #2712
@JIMENOFONSECA what is the status of this issue?

[2020-05-13 07:35] shanshanhsieh commented on #2715
@reyery what's the status of this issue?

[2020-05-13 07:36] shanshanhsieh commented on #2710
@reyery , what is the status of this issue? is the estimate still valid?

[2020-05-13 07:45] daren-thomas commented on #2716
Status update: branch `2716-cea-plugin-architecture` can run cea plugin scripts & show them in the GUI. Working on Plots and Configuration/Parameters.

[2020-05-13 07:47] daren-thomas commented on #2663
Status update: We're moving this back to "Product Backlog" as we first need to solve the Python 3 dependency and the plugin architecture. Note: This issue should be completed before end of June.

[2020-05-13 07:55] JIMENOFONSECA commented on #2712
yeah, I just send a PR for this.

On 13 May 2020, 3:33 PM +0800, Shanshan Hsieh <notifications@github.com>, wrote:

@JIMENOFONSECA<https://github.com/JIMENOFONSECA> what is the status of this issue?

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub<https://github.com/architecture-building-systems/CityEnergyAnalyst/issues/2712#issuecomment-6278044

[2020-05-13 08:03] JIMENOFONSECA commented on #2711
solved in #2728

[2020-05-13 08:03] JIMENOFONSECA commented on #2712
solved in #2728

[2020-05-13 08:03] JIMENOFONSECA commented on #2713
solved in #2728

[2020-05-13 08:55] JIMENOFONSECA commented on #2670
solved in #2729. We just changed the schema so @AlexJew CEA will throw a proper exception. So you can not run CEA unless al buildings have at least one floor. Unfortunately, the opposite functionality you require was not intended from the beginning.

If you still require it, we will appreciate a PR with the code modifications. unless @daren-thomas or @shanshanhsieh know about a quick way to add th

[2020-05-13 09:34] reyery opened #2730 "Inconsistent/duplicated information in schemas.yml"
Since we have merged the `glossary.csv` into `schemas.yml`, it introduced a new property `values` which is used to describe the example values found in that column.

I have realized that numerical types i.e. **int** and **float** are using this property to describe the expected range of the variable.

For example, `1ST_USE_R` expects values between **0.0** and **1.0** based on the property `value`

[2020-05-13 10:28] AlexJew commented on #2670
Ok, thanks for the attempt :/ @JIMENOFONSECA is there any documentation explaining how to use the ELECTROMOBILITY sheet for the Database? I am still quite confused about the units.

[2020-05-13 15:17] #2700 closed

[2020-05-13 15:17] #2710 closed

[2020-05-13 16:36] JIMENOFONSECA commented on #2670
No problem.

No, no documentation, but the units and glossary should pretty much tell. You will need to add the electric vehicles as a load per vehicle in internal-loads and then put in the schedule the number of vehicles in every hour of the day.

I hope this helps.
On 13 May 2020, 18:28 +0800, AlexJew <notifications@github.com>, wrote:

Ok, thanks for the attempt :/ @JIMENOFONSECA<https://github

[2020-05-14 06:48] emanuel030 opened #2732 "Refinement of the 'chiller_vapor_compression' COP by accounting for part load operation"
For my research it is imperative to calculate the system efficiency of vapor compression chillers with high accuracy.

I therefore suggest to improve the COP calculation for vapor compression chillers, by introducing a part load factor (PLF) based on the installed capacity.

The end-user of this feature would be researchers as well as practitioners.

The complete equation of the proposed improveme

[2020-05-14 07:26] daren-thomas commented on #2715
Reynold has run coverage with `cea test --workflow slow` and we have about 40% coverage.

[2020-05-14 07:29] daren-thomas commented on #2715
@reyery can you please post me the branch so I can join you in our efforts?

[2020-05-14 07:34] daren-thomas commented on #2730
Let's use min/max instead - and leave the values field as documentation hint.

[2020-05-14 07:45] daren-thomas commented on #2722
There is a tool `cea rename-buildings` but we just found out that it doesn't work anymore. Maybe this issue could include a fix to it?

[2020-05-14 08:18] shanshanhsieh commented on #2713
@daren-thomas , i am not sure where did you retrieve this list, but
- `get_optimization_generation_connected_performance`
- `get_optimization_generation_disconnected_performance`

were renamed to
- `get_optimization_generation_district_scale_performance`
- `get_optimization_generation_building_scale_performance`

just FYI

[2020-05-14 09:00] daren-thomas commented on #2713
probably changed _after_ I made the list...

[2020-05-15 10:31] #2681 closed

[2020-05-15 13:15] #2713 closed

[2020-05-15 13:15] #2711 closed

[2020-05-15 13:16] #2712 closed

[2020-05-15 13:16] #2670 closed

[2020-05-17 21:28] reyery commented on #2724
@MarelloAvanzini based on the input files that you provided, it seems that it is missing the weather, terrain and surrounding geometry files that are needed for `radiation` to run.

You could use the **weather-helper**, **terrain-helper** and **surroundings-helper** tools in CEA to help you generate these files.

Subsequently, you would have to run **schedule-maker** to create occupancy data for t

[2020-05-17 22:37] reyery commented on #2722
@MarelloAvanzini the input files that you provided did not include the **typology** file. My suspicion is that the **typology** file that you have used does not have the correct building names as **Archetypes Mapper** creates the other input files based on that.

[2020-05-18 09:14] arnoschlueter opened #2738 "Selecting buildings ('Draw') on a map generates error"
Selecting buildings ('Draw') on a map generates error:
' UnicodeDecodeError: 'utf8' codec can't decode byte 0xe4 in position 13: invalid continuation byte'

[2020-05-19 06:58] reyery opened #2739 "Unable to run demand on selection of buildings if all radiation files are not created"
Currently the **demand** script does not run if the user selects a number of building when radiation files do not exist for **all** buildings in the zone file, even though radiation files for selected buildings exists.

https://github.com/architecture-building-systems/CityEnergyAnalyst/blob/fc1dbbaf52bc5ce0d5132c72e956754d96cc7e4f/cea/demand/demand_main.py#L160-L165

This would not normally affect

[2020-05-19 07:09] daren-thomas commented on #2738
@reyery can you please try to reproduce this bug?

[2020-05-19 07:22] daren-thomas commented on #2738
Adding to the issue: The search bar does not react to "Zürich", but will accept "Zurich".

[2020-05-19 07:27] daren-thomas commented on #2738
@arnoschlueter we were not able to re-produce your error. Could you please post a screenshot of your selection before clicking "Create"?

We've tried two examples including the train tracks - one near Central and the other encompassing Europaallee, Lagerstrasse and the HB itself - it seems to be working for us?

[2020-05-19 08:29] arnoschlueter commented on #2738
apologies, me neither at this point. Maybe restart of tool / windows helped.

Best, Arno
On 19 May 2020, 09:28 +0200, Daren Thomas <notifications@github.com>, wrote:

@arnoschlueter<https://github.com/arnoschlueter> we were not able to re-produce your error. Could you please post a screenshot of your selection before clicking "Create"?

We've tried two examples including the train tracks - one nea

[2020-05-20 07:16] daren-thomas commented on #2738
closing as not reproducible.

[2020-05-20 07:16] #2738 closed

[2020-05-21 13:32] #2715 closed

[2020-05-21 13:32] #2730 closed

[2020-05-25 07:37] daren-thomas opened #2742 "Re-introduce numbacc compilation of demand (and maybe also thermal-networks detailed etc?)"
As a User I would love the fastest CEA possible to save resources when running long-running simulations.

Back in the day, the CEA could compile the thermal_loads script to `.pyd` using numbacc. This was a big improvement to the runtime of the demand script at the cost of slightly different end results (rounding differences in floating point math).

This machinery still exists but hasn't been used

[2020-05-25 07:43] daren-thomas commented on #2674
@wieselukas, we're closing this issue as not reproducible. We're deeply sorry you had this experience with the CEA. We'd love to help fix it for you and will re-open this issue if you want to give it another shot.

[2020-05-25 07:43] #2674 closed

[2020-05-25 07:45] daren-thomas commented on #2724
@MarelloAvanzini, I hope @reyery 's comment (see above) helped you get it up and running. We're closing the issue for now but will gladly re-open it if you need further assistance.

[2020-05-25 07:47] #2724 closed

[2020-05-25 08:11] daren-thomas commented on #2722
@MarelloAvanzini, based on the scenario you provided (Boavista old) I was not able to reproduce your error - my main question is: Where did your **typology** file come from?

It should be possible to create a typology file in excel - you'll need the following columns (please name them exactly like this):

- Name
- YEAR
- STANDARD
- 1ST_USE
- 1ST_USE_R
- 2ND_USE
- 2ND_USE_R
- 3RD_USE
- 3RD_USE_R
-

[2020-05-25 08:14] daren-thomas commented on #2578
@shanshanhsieh for testing, we expect to do the following:

- implement coverage of (most) of the code base (we'll have to remove "dead" code)
- run the test workflow "slow" and collect the results
- write a script to compare those results with a new run
- this will give a yay / nay output on whether we're still running the "same" CEA

[2020-05-26 22:33] reyery opened #2743 "Negative values in schemas.yml for databases"
After implementing **min/max** properties for numerical values in schema.yml (https://github.com/architecture-building-systems/CityEnergyAnalyst/issues/2730), there are a few values in the database editor that are throwing errors for being negative while **min** property is set to 0.

Below are the values found that are throwing errors:
- use-types:Indoor Comfort: **Ths_setb_C**
- assemblies:HVAC:

[2020-05-27 07:14] shanshanhsieh commented on #2667
@daren-thomas please quickly run through the workflow and check what is remaining.

[2020-05-27 07:18] shanshanhsieh commented on #2549
@reyery what is the status of this issue?

[2020-05-27 07:22] #2739 closed

[2020-05-27 07:30] daren-thomas opened #2744 "Python3: Write a workflow to exercise the whole CEA Core"
Base this on the `cea/tests/workflow_slow.yml`.

Goal:
- Coverage of CEA code base should be as large as possible .
- Result should be two scenarios, one for SG one for CH that have all the scripts run
- This is the baseline for testing compatibility of future changes

[2020-05-27 07:32] daren-thomas opened #2745 "Python3: Port codebase to Python3"
Look up online guide on how to do this.
Possibly use the 2to3 script as a starting point.

Test with GUI.
Test with workflow script from #2744 (call it `cea/tests/workflow_coverage.yml`)

NOTE: Porting will include working around py4design - maybe we need to fork this.

https://docs.python.org/3.3/howto/pyporting.html

NOTE: Let's drop python2 support - we don't need it.

[2020-05-27 07:34] daren-thomas opened #2746 "Python3: Compare results of py3 vs py2 runs of workflow_coverage.yml"
Write a script to compare two scenarios to make sure they have the same outputs.

(workflow_covarage might need to set random seeds to ensure the same values are produced)

[2020-05-27 07:36] daren-thomas opened #2747 "Python3: Update deployment"
Update the deployment of the CEA (Windows version):

- create a new `Dependencies.7z` file with the new (py3) environment
- create a release and test.

[2020-05-27 07:38] daren-thomas commented on #2744
- call it `cea/tests/workflow_coverage.yml`
- include running from polygon (site-helper, zone-helper etc.)

[2020-05-27 07:40] daren-thomas commented on #2747
- take a stab at automating 80% of the deployment (`cea-dev deploy --version 3.4.0`) based on https://city-energy-analyst.readthedocs.io/en/latest/how-to-create-a-new-release.html

[2020-05-27 08:02] reyery commented on #2549
@shanshanhsieh I have not started on this yet. Will get to it soon once I finish up the other issues.

[2020-05-27 13:36] daren-thomas opened #2749 "Update schemas.yml for get_optimization_decentralized_folder_building_result_heating_activation"
While fixing #2667, I noticed that the file `get_optimization_decentralized_folder_building_result_heating_activation` does not correspond to the `schemas.yml` entry.

missing fields in the file according to schemas.yml:

- BackupBoiler_Status
- Q_BackupBoiler_gen_directload_W
- NG_BackupBoiler_req_Wh
- NG_Boiler_req_Wh
- Q_GHP_gen_directload_W

extra fields found in the file according to schemas.

[2020-05-27 14:55] emanuel030 opened #2750 "Negative gas burner loads in decentralized_building_cooling"
When running the decentralized optimization script I have found that arrays 'q_burner_load_Wh' and 'q_gas_for_burner_Wh' of the 3rd activation "Config 3: Evacuated Tube Solar Collectors + Single-effect Absorption chillers" show negative values.

![image](https://user-images.githubusercontent.com/26175926/83035248-cd07b280-a06b-11ea-9a00-7857c9981909.png)

Since there should not appear negative coo

[2020-05-28 06:45] #2716 closed

[2020-05-28 07:16] shanshanhsieh commented on #2743
use-types:Indoor Comfort: Ths_setb_C -> could be negative in COOLROOMS
assemblies:HVAC:controller: dT_Qcs -> could be negative
@shanshanhsieh will update the rest

[2020-05-28 18:41] emanuel030 opened #2751 "Move the hard-coded values out of chiller_vapor_compression into CONVERSION database"
In the process of writing new functions to account for part load operation in the 'chiller_vapor_compression' module, several technology specific values were introduced for the calculations. Those should be moved into the 'Chiller' sheet of the CONVERSION workbook of the component database.

To clean up the code further, a class for the vapor compression chiller shall be introduced, passing down i

[2020-05-29 04:44] emanuel030 opened #2752 "Error in mutation part of the centralized optimization"
When running the centralized optimization ('optimization_main') with a specific case study, the optimization shows an error when mutating the cooling system size. More precisely, the "individual" seems to be of 0 length.

This error is specific for a specific case study and has not appeared with other scenarios. The case study is saved in this folder: https://polybox.ethz.ch/index.php/s/cpZ6TS03Zw

[2020-05-29 08:09] emanuel030 commented on #2752
This error only appears if no technology is selected, as in 'technologies-dc' in the optimization section of the config file

[2020-05-29 09:01] reyery commented on #2667
Solved in #2748

[2020-05-29 09:01] #2667 closed

[2020-05-29 20:57] LeoTom95 opened #2753 "Zone.shp input error to create new scenario"
Good morning,
I'm Leonardo Tomasetto, I've been working with CEA for a few months to check the consumption of a neighborhood for a university thesis study. In recent days I had to update the software to version 3.3.0 and I encountered the following problem:
when I try to create a new scenario with the zone.shp file that I created in Qgis and I have used up to now the input page does not load the f

[2020-05-30 01:03] reyery commented on #2753
Hey @LeoTom95, if you don't mind, could you upload the shapefile that you used and a screenshot of what the CEA is showing, so that we can try to reproduce the issue on our end to solve it. Thanks.

[2020-05-30 08:32] LeoTom95 commented on #2753
[zone.zip](https://github.com/architecture-building-systems/CityEnergyAnalyst/files/4705336/zone.zip)
<img width="1440" alt="Schermata 2020-05-30 alle 10 24 38" src="https://user-images.githubusercontent.com/66142001/83323564-07d23c00-a260-11ea-92d5-ab4d3112f14c.png">

Hi @reyery , I'll send you the requested file.
If you see the screenshot, the problem occurs when I click create, it doesn't give

[2020-05-31 10:26] shanshanhsieh commented on #2743
components:conversion:PV: *PV_a1, PV_a2, PV_a4* : *[+0.1,-0.1]*
components:conversion:Absorption_chiller: r_e, r_g, a_e, a_g: could be negative (no fixed bound)
components:conversion:HEX: a, d_p: could be negative (no fixed bound)
components:conversion:HP: e: could be negative (no fixed bound)
components:conversion:TES: e: could be negative (no fixed bound)

[2020-06-01 03:49] shanshanhsieh commented on #2751
@reyery would definitely be able to help on the code structure!

[2020-06-01 05:48] reyery commented on #2743
@shanshanhsieh so for PV_a1, PV_a2, PV_a4, max is 0.1 and min is -0.1. Does that also apply to PV_a0 and PV_a3?

[2020-06-01 08:27] reyery commented on #2749
After looking through the code, the columns for `get_optimization_decentralized_folder_building_result_heating_activation` are not consistent as they are based on different technologies with different properties, and selected based on which is ranked the __"best"__.

This behaviour also happens for cooling counterpart `get_optimization_decentralized_folder_building_cooling_activation`
(should this

[2020-06-01 08:39] reyery commented on #2749
It seems that most of these columns that being written to disk are not used in any calculations. Only `E_hs_ww_req_W` column seems to be used when get electricity demand of buildings.

`NG_BackupBoiler_req_Wh` and `NG_Boiler_req_Wh` seems to used to get fuel demand of buildings, but the function `extract_fuels_demand_buildings` that is assessing them is not being used - it is commented out. Do we

[2020-06-01 12:57] JIMENOFONSECA commented on #2749
Hi Rey, shanshan made the script,  it may be needed still. What about the plots? Do they reference to it somehow?
On 1 Jun 2020, 16:39 +0800, Reynold Mok <notifications@github.com>, wrote:

It seems that most of these columns that being written to disk are not used in any calculations. Only E_hs_ww_req_W column seems to be used when get electricity demand of buildings.

NG_BackupBoiler_req_Wh and

[2020-06-02 01:56] reyery commented on #2753
After testing, it seems to be a problem with the GUI not accepting the form when user is using "import" method caused by a field in the "generate" method throwing an error. A fix has been created and would be added to the new release coming in the next few days.

[2020-06-02 10:06] reyery opened #2755 "Include fuel demand into optimization"
Currently, fuel demand electricity is not included into optimization as the function is being commented out.

https://github.com/architecture-building-systems/CityEnergyAnalyst/blob/f5e116a6623745866ae1e669846ddfc7f50468c1/cea/optimization/master/evaluation.py#L131

[2020-06-03 07:47] emanuel030 opened #2756 "Adaptive Electricity Price"
The electricity price is changing depending on the end user (residential/commercial) and the consumption per year/month. In Singapore, if you are a business and have > 2000 kWh/month of electricity consumption per month, you can buy electricity from a 'licensed electricity retailer', meaning you get better deals, leading to a price reduction of ca. 25% (from 24 Sct/kWh to 18 Sct/kWh).

This is als

[2020-06-04 14:47] AlexJew opened #2757 "Correct electromobility explanation"
**Describe the bug**

Curently, the variable _Ev_kWveh_ is erroneously explained in the **Input Editor**. In the glossary, there isn't any information. This is important, as currently there is little explanation about the electric mobility feature, when I believe it represents an increasingly important feature.

**To Reproduce**

Steps to reproduce the behavior:
1. Go to Input Editor
2. Select _in

[2020-06-04 15:07] AlexJew opened #2758 "Understanding mixed-use buildings"
**Describe the feature you would like to have**
Hello, I would like to understand the difference between stating different uses in _typology.dbf_ and building mixed-uses usetypes in the databases via the **Data Editor**. I believe that if a mixed-use can be define by mixing schedules of different use-types, just refering to different use-types with their respective rates per building in _typology.

[2020-06-05 15:32] emanuel030 opened #2759 "Diversity factor of district cooling not considered in the demand script"
District cooling&heating systems have the 'advantage' of a coincident capacity for the entire district, which is calculated by taking the maximum of the sum of loads of each hour. Right now the capacity is defined as the sum of the individual maxima building loads, no matter which technology is chosen. The difference between the those two capacities is defined as the diversity factor and can be in

[2020-06-08 14:53] AlexJew opened #2760 "Differences in U-values between CEA Database and J. Fonseca 2015 article"
**Describe the bug**
I am working on a energy demand simulation project in Lisbon and I am using archetypes that were characterised for the Portuguese building stocks. I was interested in comparing with the U values found in Switzerland. I noticed that there was quite a significant difference (particularly for ground and windows) in values between the U values for the archetypes mentioned in J. Fo

[2020-06-08 17:18] emanuel030 opened #2761 "Value Error in network-layout for multiple case studies"
Running network-layout I ran into the following error for multiple case studies. For multiple other case studies it ran without problems.

`ValueError: There was an error while creating the Steiner tree. Check the streets.shp for isolated/disconnected streets (lines) and erase them, the Steiner tree does not support disconnected graphs.`

Checking in Arcmap for disconnected streets manually none c

[2020-06-09 04:15] emanuel030 commented on #2761
@JIMENOFONSECA do you have an idea if this error is in relation to the changes made in April?

[2020-06-09 07:12] JIMENOFONSECA commented on #2761
well. did you check if there are streets floating around in the shapefile?

[2020-06-09 07:26] emanuel030 commented on #2761
That was the first thing I did. And none could be found.. I have further used tools 'planarize lines' and 'integrate' to combine lines which are within a certain tolerance. This results in the following change in street files (e.g. case study LCZ2_Expo, 1. is original, 2. after 'integrate'):
![image](https://user-images.githubusercontent.com/26175926/84117993-f1e52800-aa64-11ea-8e13-bcd98c979d99.p

[2020-06-09 07:28] daren-thomas commented on #2757
@AlexJew thank you for pointing this out! This kind of attention to detail really helps us improve the CEA :)

@JIMENOFONSECA can you look into this please? Might be as simple as editing one field in `schemas.yml` and also updating the databases (if we really want to change the default value)...

[2020-06-09 07:44] daren-thomas commented on #2758
@AlexJew I agree, the feature in the Database Editor is maybe not named correctly: It's creating a _new_ use_type (based on existing use types) that can then be independently edited.

So, the feature in the Database Editor allows you to create independent use types - that can then be mixed together in the typology input file.

What do you think: Would it be a bit less confusing if we renamed the t

[2020-06-09 07:46] daren-thomas commented on #2759
@emanuel030

would it not make sense to calculate that _after_ the demand script? before it get's used? I think it could either be

- a plugin (i.e. not part of canonical CEA)
- or added to the system_costs module or something?

[2020-06-09 07:48] daren-thomas commented on #2760
@JIMENOFONSECA @gabriel-happle do you have any insights into this question?

[2020-06-09 07:51] daren-thomas commented on #2753
the PR is in the GUI, @daren-thomas will test this.

https://github.com/architecture-building-systems/CityEnergyAnalyst-GUI/pull/28

[2020-06-09 07:54] daren-thomas commented on #2722
@MarelloAvanzini, we are closing this issue for now - we can re-open it if the above solution doesn't work.

[2020-06-09 07:54] #2722 closed

[2020-06-09 07:57] emanuel030 commented on #2759
@daren-thomas
From my knowledge the capacity from the total_demand file is only used in system_costs. So it would be sufficient to include it in the system_costs module, however you need all hourly values (so the individual building files B1001, B1002 etc. ) from the demand which would need to be imported there.

[2020-06-09 07:59] daren-thomas commented on #2749
@reyery and @daren-thomas are currently thinking the best way is to just list all the columns all the time with a "N/A" style output for technologies that aren't used. Maybe somewhere down the road someone will do some analysis on this output and having the data tidy (e.g. not having to check each output file for existing columns) will make their job a lot easier.

[2020-06-09 08:41] AlexJew commented on #2758
Hi @daren-thomas , I believe it is a good idea indeed.

1. The title could be "Create new use-type" and for clarity, maybe you could formulate it differently than "Creates a new use-type by aggregating values from a list of different use-types" to "Creates a new use-type using as a basis a single or multiple existing use-types" (or something similar that suggest that indeed it can be built from a

[2020-06-09 08:59] daren-thomas commented on #2753
fixed in GUI - will be deployed with next release end of this week.

[2020-06-09 08:59] #2753 closed

[2020-06-09 16:01] daren-thomas commented on #2699
Something like this: https://city-energy-analyst.readthedocs.io/en/latest/how-to-contribute.html?
It seems we already have that documentation. I'm still creating a PR - with a slightly altered index page, lot's of cleaning up etc.

[2020-06-10 06:43] #2549 closed

[2020-06-10 06:46] shanshanhsieh commented on #2743
not exactly, but we can allow that, since these parameters are model specific, there could be other models that require this range.

[2020-06-10 06:55] shanshanhsieh commented on #2699
@daren-thomas that sounds good!

[2020-06-10 07:11] shanshanhsieh commented on #2755
@reyery is it required for Nexus-e? The primary energy is no longer and objective in the optimization.

[2020-06-10 07:51] #2732 closed

[2020-06-10 07:54] daren-thomas commented on #2745
Status update:

- using `futurize` to automate migration as per python website recommendation
- building new conda env for python3

[2020-06-10 10:12] martin-mosteiro opened #2764 "zone_helper: Record's geometry type does not match collection schema's geometry type"
**Describe the bug**
While creating a new case study on the CEA dashboard, I got a `ValueError: Record's geometry type does not match collection schema's geometry type: 'MultiPolygon' != 'on'`. Not sure how to debug this. This happened while running an older version of the dashboard, but I don't think this would be related to that.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to CEA Da

[2020-06-10 10:16] martin-mosteiro commented on #2764
A smaller case study didn't work, either, so it might indeed be an installation issue. Re-installing the latest version now.

[2020-06-10 12:09] daren-thomas opened #2765 "GUI freezes to blank screen if project is set to non-existing folder in config file"
Steps to reproduce:

- set `general:project` to a non-existing folder (e.g. `cea-config write --general:project C:\this-folder-doesnt-exist`)
- start CEA GUI
- click either "New Project" or "Open Project"

Expected behavior: The normal project selection screen - possibly with a default path (Documents?)

Buggy behavior: Blank screen.

Setting the project value to an empty string in the `cea.config

[2020-06-11 07:07] shanshanhsieh commented on #2752
@reyery will change the default to all technologies if none is specified

[2020-06-11 08:21] shanshanhsieh commented on #2755
@reyery , i think we can safely delete that section of the code.
the calculation was moved to `calc_costs_emissions_decentralized_DH`

[2020-06-11 08:36] JIMENOFONSECA commented on #2757
@daren-thomas sure, easy to solve, I made a PR #2768 for this. I hope this solves the issue.

[2020-06-11 08:42] JIMENOFONSECA commented on #2760
Well I believe the values got updated in the process of improving CEA throughout the years. I am not sure if those values are representative of the Swiss building stock anymore. in Fonseca et al.,2015 we took different sources of information to put them together, including a sample of 24 buildings in Zug, Switzerland. If any, I would recommend @AlexJew to look at other references beyond CEA and fo

[2020-06-11 12:00] AlexJew commented on #2760
Ok, thank you for the feedback :)

[2020-06-11 12:00] #2760 closed

[2020-06-12 07:01] shanshanhsieh commented on #2759
@emanuel030 , i think this will be a great addition!
it can be generated in the same loop while generating `Total_demand.csv`
but you will need to create a separate file to save hourly values (smth like `District_diversity_factors.csv` ?)

[2020-06-12 07:03] #2699 closed

[2020-06-12 07:36] emanuel030 commented on #2759
The coincident peak demand (= coincident capacity) is actually 1 single value for the entire district (over all building, over the entire year). Same with the diversity factor which is diversity_factor = ((non_coincident_capacity- coincident_capacity)/non_coincident_capacity). To calculate the coincident capacity you take the maximum of the joint cooling load curve of all buildings in the district

[2020-06-12 07:51] shanshanhsieh opened #2769 "Automate the process of creating new releases of CEA"

[2020-06-12 09:17] #2765 closed

[2020-06-12 13:33] #2743 closed

[2020-06-13 11:17] MarelloAvanzini opened #2772 "'MultiPolygon' object has no attribute 'exterior'"
**Describe the bug**
An error occurs when running a radiation simulation on a scenario I have created by modifying a shapefile of Lisbon I have been given for my thesis. I used QGIS to merge smaller buildings 5 by 5 into the 2-stories linear buildings you see on the right and to draw the single-storey buildings with various shapes at the center (some were overlapping in the original file); therefo

[2020-06-14 09:56] kerembeygo opened #2773 "Solar Radiation"
**Describe the bug**
No plot for Solar Radiation (hourly-daily-weekly)
Solar radiation normalization fails (gross floor area-net floor area-air conditioned floor area-building occupancy) Total_demand.csv doesn't exist

**To Reproduce**
Steps to reproduce the behavior:
1. Run building solar radiation
2. Add plot

**Screenshots**
![SR1](https://user-images.githubusercontent.com/29708612/84590328-3e0

[2020-06-14 10:41] kerembeygo opened #2774 "Photovoltaic Potential"
**Describe the feature you would like to have**
I ran photovoltaic panels for PV1, PV2, PV3.
No plot for hourly, daily, weekly
For monthly and yearly plots there is no indication for PV type

**Describe the end purpose of this feature**
I want to see results for PV types

**Describe the end-user of this feature**
A Researcher, a Student, or a Practitioner.

**Provide Aditional information if possi

[2020-06-14 11:01] kerembeygo opened #2775 "Solar Collector"
**Describe the feature you would like to have**
No plot for FP collectors
No plot (hourly, daily, weekly) ET collectors

**Describe the end-user of this feature**
Ex. A Researcher, a Student, or a Practitioner.

**Provide Aditional information if possible**
![SC1](https://user-images.githubusercontent.com/29708612/84591483-7fe75700-ae47-11ea-8589-e1e5a3b28b5f.jpg)
![SC2](https://user-images.github

[2020-06-14 11:36] kerembeygo opened #2776 "Photovoltaic-thermal panels"
**Describe the feature you would like to have**
Options for PVT are
FP -> PV1, PV2, PV3
ET -> PV1, PV2, PV3
But there are no plot options

**Describe the end-user of this feature**
Ex. A Researcher, a Student, or a Practitioner.

**Provide Aditional information if possible**
![PVT1](https://user-images.githubusercontent.com/29708612/84592181-6bf22400-ae4c-11ea-9a2c-3e28e9d713ca.jpg)

[2020-06-14 11:56] kerembeygo opened #2777 "LOD-Roof Shape-Solar Potential"
**Describe the feature you would like to have**
How does solar potential tool work for different roof shapes?
In CEA I have LOD1 buildings.
If we have a map with LOD2 level can CEA take into account different roof shapes?
Can we create different roof shapes with Urban Block Generator and estimate their energy potential?

**Describe the end purpose of this feature**
I want to evaluate solar potenti

[2020-06-14 12:21] kerembeygo opened #2778 "New scenario: Could not find weather file"
**Describe the bug**
Traceback (most recent call last):
  File "c:\users\kerem\documents\cityenergyanalyst\cityenergyanalyst\cea\interfaces\dashboard\api\project.py", line 185, in post cea.api.weather_helper(config, scenario=new_scenario_path)
  File "c:\users\kerem\documents\cityenergyanalyst\cityenergyanalyst\cea\api.py", line 58, in __call__
    self._runner.__call__(*args, **kwargs)
  File "c:

[2020-06-15 07:28] daren-thomas commented on #2772
@MarelloAvanzini - thank you for reporting this. We'll schedule this in an upcoming sprint.

For now, the CEA doesn't actually work with MultiPolygon shapefiles for the zone: instead, can you create the scenario with Polygon shapefiles?

[2020-06-15 07:40] daren-thomas commented on #2773
@kerembeygo thank you for pointing this out! We've done some digging and it seems something in the plotly libraries might have changed in a new release - we'll need to look into this more closely.

[2020-06-15 07:42] daren-thomas commented on #2774
@kerembeygo this seems to be connected to #2773

[2020-06-15 07:42] daren-thomas commented on #2775
@kerembeygo this seems to be connected to #2773

[2020-06-15 07:44] daren-thomas commented on #2776
@kerembeygo could you please elaborate on this:

I'm not quite sure what you're expecting or envisioning here. What kind of options do you mean?

[2020-06-15 07:46] daren-thomas commented on #2777
@kerembeygo thank you for bringing this up. I'll discuss it with @shanshanhsieh at the next Pre-Planning meeting (Wednesday next week). I'm not sure it's in scope of the CEA, but maybe we can figure out a workaround or something...

[2020-06-15 07:50] daren-thomas commented on #2778
@kerembeygo, the error message looks like you did not specify a weather file in the scenario creation screen. Could you please re-try the scenario creation process, but explicitly selecting the weather (click the configure icon next to it)
![image.png](https://images.zenhubusercontent.com/57b40957e40e5714b16d7331/684323a1-462d-40b1-9c43-8a3b48e84165)

@reyery could the GUI check this on submit?

[2020-06-15 10:33] kerembeygo commented on #2778
@daren-thomas all options were checked in data management tools (picture above)

I repeated the same process today.

![Zurich4 ERR2](https://user-images.githubusercontent.com/29708612/84647697-72e06b80-af0c-11ea-81e6-f47092c0ad99.jpg)

weather file checked

![Zurich4 ERR3](https://user-images.githubusercontent.com/29708612/84647754-87246880-af0c-11ea-9004-5e383518ae20.jpg)

different area in Zuric

[2020-06-15 10:44] kerembeygo commented on #2778
I tried another district in Istanbul without checking the weather file.

![Nisanca2](https://user-images.githubusercontent.com/29708612/84648796-301f9300-af0e-11ea-8b77-59b1a599572f.jpg)

I got no error message this time

![Nisanca3](https://user-images.githubusercontent.com/29708612/84648835-3c0b5500-af0e-11ea-8026-d05c179f90da.jpg)

[2020-06-15 11:25] reyery commented on #2778
@kerembeygo could you check the `cea.config` file and under `weather-helper`, is weather empty? If it is, you would have to press the gear icon beside the weather-helper tool in the GUI to set the file path.

[2020-06-15 11:28] kerembeygo commented on #2777
There are some parametric works about roof generation for Grasshopper but I didn't check them in detail.

https://www.grasshopper3d.com/video/parametric-roof
https://www.grasshopper3d.com/forum/topics/roof-generator
https://www.grasshopper3d.com/forum/topics/pitched-roofs

May be this can be an enhancement to Zhongming Shi' s Grasshopper plugin.

![grasshopper](https://user-images.githubuserconten

[2020-06-15 11:31] AlexJew opened #2779 "As a user, I would like to have separate import for construction standards and for use types"
**Describe the feature you would like to have**
Hello,

I was wondering if it was possible to have separate imports for construction standards and use types database? Currently CEA enables to separately import archetypes, assemblies and components, but I believe that a more interesting separation would be between construction standards and use types. This separation corresponds to a real separatio

[2020-06-15 11:44] kerembeygo commented on #2776
![pvt1](https://user-images.githubusercontent.com/29708612/84653003-3cf3b500-af15-11ea-970c-17139ad2892d.jpg)

There are three types of PV (PV1, PV2, PV3)
Two types of SC (FP-ET)
When I want see the simulation resuIts for each option I can not choose the panel type

![pvt3](https://user-images.githubusercontent.com/29708612/84653587-5e08d580-af16-11ea-92fd-19c8363f193d.jpg)

Results for which PV-S

[2020-06-15 12:07] kerembeygo commented on #2778
I set the file path this time and there was no error. Config file weather-helper is set to file path.

But solar radiation for district plot gives no results for certain months. Plot covers more than one year

![SR1](https://user-images.githubusercontent.com/29708612/84655526-c1e0cd80-af19-11ea-9694-4c0b37dca9ce.jpg)

[2020-06-15 15:44] daren-thomas commented on #2745
Status update:

- branch `2745-port-codebase-to-python3`
- unit tests run through! (NOTE: This is not the same as `cea test --workflow slow` - that is the next mini-milestone)
- dropping python2 support alltogether for easier transition

[2020-06-15 16:10] daren-thomas commented on #2745
- `cea test --workflow quick` runs through!!

Next mini-milestone: `cea test --workflow slow`

[2020-06-17 15:33] daren-thomas commented on #2745
Status update:

- `cea test --workflow slow` gets as far as optimization. Optimization needs some debugging, trying to see if some static type inference (mypy, MonkeyPatch) can help spot the errors.

[2020-06-19 08:01] #2773 closed

[2020-06-19 08:01] #2774 closed

[2020-06-19 08:01] #2775 closed

[2020-06-19 09:00] daren-thomas commented on #2761
@emanuel030, @shanshanhsieh is this issue resolved? the PR #2762  connected with this issue was merged. did it resolve the issue?

[2020-06-19 09:01] #2757 closed

[2020-06-19 14:21] daren-thomas commented on #2745
Status update:

- `cea optimization` now runs through (tested on DH network so far)
- next: `cea test --workflow slow`

[2020-06-19 18:53] AlexJew opened #2781 "Thermal Network Simulation - UnboundLocalError: local variable 'tavg' referenced before assignment"
**Describe the bug**
Hello CEA developers! I am using CEA to design a heating and cooling network for a future neighbourhood. The module **Thermal Network Part I (layout)** for designing the layout has worked for both DH and DC. However, I have tried using the simplified model for the simulation with **Therma Network Part II (Simulation)**, and it only ran for the DC. For the DH, I got the followi

[2020-06-20 07:28] emanuel030 commented on #2761
@daren-thomas the PR did not resolve the issue.  I run into this error roughly every second case study i am running and have to manually edit the streets.shp files in ArcGis in order to succesfully run the network-layout. We amended a comment in the PR, describing on how to solve this error in ArcGis.

[2020-06-22 10:59] AlexJew opened #2782 "AttributeError with streets.shp"
**Describe the bug**
Hello CEA developers, I am currently working with CEA to design a thermal network for a future neighbourhood in Lisbon. Since the streets remain to be built, I have drawn the future street layout that I export to CEA. I was using a _single multipart polygon_ for the street layout up until now, but when trying to build the thermal network, I realised that CEA required _single p

[2020-06-22 18:36] AlexJew commented on #2782
I have found the origin of the problem. It was due to an empty geometry in my _streets.shp_ file. Sorry ^^

[2020-06-22 18:36] #2782 closed

[2020-06-23 07:47] daren-thomas commented on #2782
@AlexJew congratulations on fixing this!

[2020-06-23 09:05] AlexJew commented on #2782
Maybe it would be good to clarify the message printed, explaining that it probably comes from a feature with an empty geometry

[2020-06-23 16:22] AlexJew opened #2784 "As a user, I would like to know how to run thermal network layout optimisation"
**Describe the feature you would like to have**
In CEA currently, there is the possibility to design DH and DC layouts for the buildings and then to simulate their performance with regard to the layout. However, if I understood properly from this doc in the legacy: https://city-energy-analyst.readthedocs.io/en/latest/how-to-run-thermal-network-optimization.html , it seems like it is possible to ru

[2020-06-24 07:00] daren-thomas opened #2785 "Check for empty geometries in streets.shp file"
In reference to #2782, when the `streets.shp` file has an empty geometry, the current error message is `AttributeError: 'NoneType' object has no attribute 'is_empty'` - this should be more helpful.

Checking the shapefile on read with the `ShapefileSchemaIo` class (e.g. `locator.get_street_network.read()`) for empty geometries should produce this message, maybe as a warning, and just ignore those

[2020-06-24 07:00] daren-thomas commented on #2782
Good idea, I created issue #2785 with this suggestion.

[2020-06-24 10:53] daren-thomas commented on #2745
Status update: Try out the installer here: https://www.dropbox.com/s/u4k9puv4xpu0ggm/Setup_CityEnergyAnalyst_3.5.0a1.exe?dl=0

[2020-06-24 12:12] #2776 closed

[2020-06-24 12:12] shanshanhsieh commented on #2776
Hi @kerembeygo,
It is not possible to run multiple types of PV in the same scenario, the results get overwritten.
We recommend you to create multiple scenarios with different types of PV or SC, and compare the results among these scenarios.

[2020-06-24 12:23] daren-thomas commented on #2778
@kerembeygo could you please send us this scenario to try and reproduce your error? maybe also a copy of the weather file you are using?

[2020-06-24 12:31] daren-thomas commented on #2779
@AlexJew - I'm not quite sure what you're trying to do. If I understand correctly, you'd like to run multiple scenarios and change the use types of the buildings for each such scenario (e.g. between OFFICE and RESIDENTIAL) right? I think that can be done by just changing the use type of the building in the Input Editor.

What am I missing?

[2020-06-24 17:49] AlexJew commented on #2779
Hello @daren-thomas, in my case, I was studying two different user behaviours in multi-dwelling units. Indeed, in Portugal, there is the energy poverty issue which forces certain residents to reduce their energy demand for space heating thus affecting their thermal comfort. Therefore, I simulated the energy demand for space heating and cooling with different schedules for setpoint and setback mode

[2020-06-24 17:56] AlexJew commented on #2784
Hello, since my post I have made some improvement and understood that the thermal-network-optimisation module wasn't implemented yet in the GUI. Therefore, I have been trying to run it via the CEA console, but it seems to be completely stopped though I have assigned parameters that should help reduce the computational cost of the optimisation:
- max-number-of-plants = 1
- possible-plant-sites = I2

[2020-06-24 18:13] AlexJew commented on #2784
A cause might be that I am working on the project from a remote desktop with 2 processors, though I have set number-of-cpus-to-keep-free = 0.

I would like to share my scenario files in case someone would like to try it. It contains the scenario inputs and the demand outputs: https://we.tl/t-xfZPmbeVeV

My thermal-network-optimization configuration parameters are:
[code]

[2020-06-25 06:54] shanshanhsieh commented on #2777
hi @kerembeygo,

The radiation script in the CEA only handles LOD1 at the moment. The same goes for the solar potential tool (PV, SC). Enhancing the LOD is possible but currently out of the scope of our roadmap.

However, @shizhongming might pick up on this to connect honeybee to GTC (GrassHopper to CEA) in the near future.

[2020-06-25 06:56] #2761 closed

[2020-06-25 07:25] jimenofonseca opened #2786 "Fix to network layout known error"
**Describe the bug**
in connection to #2782 and #2785 it would be good to implement a solution to the known issue of the streets file.

the problem is that the network layout will fail for some files for other not.

we know this has to do with the parameter of SHAPEFILE_PRECISION.
what we do not know is what the value of that parameter is.
We know it can be from 6 to 15.

My suggestion is to make

[2020-06-25 07:26] daren-thomas commented on #2572
Status update: @reyery has a branch that starts to address this.

[2020-06-25 07:28] daren-thomas commented on #2454
@lguilhermers can you please give an update to this issue?

[2020-06-25 07:31] daren-thomas commented on #2755
Status update: This is about deleting a single line. @daren-thomas will do it in the python3 branch.

[2020-06-25 07:36] daren-thomas commented on #2751
@emanuel030 do you have an update to this issue?

[2020-06-25 07:43] daren-thomas commented on #2786
@emanuel030 @JIMENOFONSECA can you please provide a link to the inputs that don't work for reproducing the error :)

[2020-06-25 07:49] daren-thomas commented on #2772
@MarelloAvanzini - we're closing this issue for now. Please feel free to file a new issue with follow up questions :)

[2020-06-25 07:50] #2772 closed

[2020-06-25 07:53] daren-thomas commented on #2746
This can also be done with other scenarios (@JIMENOFONSECA might have some ideas)

- compare 3.5.0aX (check PR #2783)
- to master (3.4.0)

[2020-06-25 09:39] emanuel030 commented on #2786
@daren-thomas here you go https://we.tl/t-wQXQMjMBHc.
in inputs/networks I have stored the street files created by the street-helper as well as modified street shapes which are working and called 'streets_working'.

@jimenofonseca I am not sure about the adjustment of SHAPEFILE_PRECISION being the solution to this problem since I always had to change the streets.shp manually as well. So after the

[2020-06-25 10:37] kerembeygo commented on #2778
[Nisanca4.zip](https://github.com/architecture-building-systems/CityEnergyAnalyst/files/4830666/Nisanca4.zip)

[2020-06-25 12:06] eap23 opened #2787 "Reduce the number of buildings per chunk in DAYSIM"
**Describe the bug**
When running the _Building Solar radiation_ simulation on my model I receive the error:
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Create a `zone.shp` file with 98 buildings where the largest building is about 9.000 sqm and the smallest around 500 sqm. The site area is some 180.000 sqm.
2. Create a `surroundings.shp` file with 1 building with about 1.500 sqm

[2020-06-25 12:08] eap23 commented on #2787
Where am I supposed to

with CEA?

[2020-06-25 19:45] kerembeygo opened #2788 "Radiation status:Running - Daysim simulation finished"
**Describe the bug**
I ran the radiation tool for a district in Zurich. Simulation ended (plots available for solar radiation) but I had contradictory messages at the end.

When I want to open my scenario and see my district in 3D I have a blank screen.

**To Reproduce**
Steps to reproduce the behavior:
1.1 Run solar radiation tool
1.2 After simulation check job status bar

2.1 Open your scenario

[2020-06-25 20:04] kerembeygo commented on #2788
I closed the dashboard and reopened it. Now I can see my model in 3D.
![1](https://user-images.githubusercontent.com/29708612/85790024-3a286980-b738-11ea-9211-5aa0f581563c.jpg)

[2020-06-25 20:32] AlexJew opened #2789 "As a user, I would like to be able to import a Dashboard"
**Describe the feature you would like to have**
Hello, I have recently had all my dashboards cleared out completely. It is annoying since it requires a significant amount of time to be built. I have a backup of my _dashboard.yml_ file, and I thought it would be good to have an option for importing an existing dashboard for cases such as mine, but also for a more general purpose of reusing standard

[2020-06-25 20:37] AlexJew opened #2790 "The data export does not work for PVT potential plots"
**Describe the bug**
Hello, I was not able to export the data for the following PVT potential plots. I realise that it is more complicated since the data is more than two-dimensional.

![Screen Shot 2020-06-25 at 21 35 12](https://user-images.githubusercontent.com/32110882/85792710-db5cf300-b72b-11ea-9971-158a5e591164.png)

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Dashboard
2. Pl

[2020-06-25 20:39] AlexJew opened #2791 "High energy potential for PVT panels"
**Describe the bug**
Hello, I was wondering if it was really possible to obtain such high values for energy generation with PVT panels compared to other solar technologies?

These are the results I have obtained from my case when comparing the potential for the building stock. "Existing" and "Future" refer to existing buildings and future buildings in the neighbourhood (they'll occupy an empty spa

[2020-06-26 09:01] lguilhermers commented on #2454
@daren-thomas Sure!

We are running a longer iteration (1000 it) locally with a computer in @emanuel030 house. When it runs we will see if it converged well.

The code itself has been working for a while, but it is very tailored for the needs we have currently.
Once I analyse this longer run, if it is reasonable, we can discuss about how those can be incorporated in CEA in a more generic way, how

[2020-06-28 02:38] XtaoBai opened #2792 "Building Energy demand - Calculate the Demand- the total demand isn't calculated"
**Describe the bug**
In calculating the demand for an area with 15 buildings. IOError B1000T.csv does not exist, and the job shut down, the total demand hasn't been calculated.

**To Reproduce**
Steps to reproduce the behavior:
1. Input the area, run the data management, solar radiation the schedule.
2. Click on demand, then run the script
3. See error

**Expected behaviour**
The total demand shou

[2020-06-28 03:00] XtaoBai commented on #2792
I find close the disable the debugging-specific behaviors, it works. What does this mean?

[2020-06-28 12:26] AlexJew opened #2793 "Significant difference between simplified and detailed simulation results for thermal networks"
**Describe the bug**
Hello CEA developers, I have been testing different network layouts for my case study in Lisbon. First, I wanted to limit myself to the simplified models because of the important amount of connected buildings with the network, but the results seemed to forecast an unrealistically small pumping demand in my opinion. Therefore, I tried running the detailed model, but instead I o

[2020-06-28 15:46] AlexJew commented on #2793
I have wondered, would it be possible:
1. The cause is the plant supply temperature? I have not changed its default value of 80°C, leaving the temperature control to VT.
2. The pumping cost includes the heat pump at the substation to adapt the supply temperature and thus, in case of DC, lower it?

I was aiming at knowing the pumping cost and thermal losses for an optimised layout and operation. Is

[2020-06-29 07:06] reyery commented on #2787
Hi @eap23, thanks for reporting this issue. To reduce the number of buildings per chuck, you could change it under the **Advanced** settings of the radiation script if you are using the GUI. Let me know if that works for you.

![image](https://user-images.githubusercontent.com/34395415/85983269-c7f6a400-ba19-11ea-838d-742ff87af947.png)

[2020-06-29 07:14] daren-thomas opened #2794 "Ship Reynolds Daysim binaries instead of the official ones"
@reyery has a new build of the Daysim binaries for x64 and this build avoids a Memory issue with large scenarios.

[2020-06-29 07:17] daren-thomas commented on #2788
@kerembeygo thank you for reporting this. Currently, we can't reproduce the error. We've decided to add a log for the GUI that might help debug this kind of error in the future.

[2020-06-29 07:17] #2788 closed

[2020-06-29 07:20] daren-thomas opened #2795 "Add a log function to the GUI"
Currently, when something goes wrong in the GUI, there is no way to know _what_ went wrong. Especially if it happened on a user's computer.

Debugging errors in the wild could be made easier with a log file - logging errors from the GUI as well as the CEA output - and storing it in a file. This file could be wiped every day or some other system to avoid huge files resulting on the user's computer,

[2020-06-29 07:22] daren-thomas commented on #2789
@AlexJew, you're totally right: This behaviour is annoying. I like the idea, let's see if we can schedule it sometime. For now, your solution to back up the `dashboard.yml` is probably a best practice. Imagine a library of dashboard templates to start with!

[2020-06-29 07:24] daren-thomas commented on #2791
@shanshanhsieh would you mind checking this issue please?

[2020-06-29 07:26] daren-thomas commented on #2792
@XtaoBai I'm guessing here - it seems the behavior of the demand script with `--debug on` is to write some additional files. This was probably being used during the development of that script and has not been tested properly since. I'm sorry you ran into this bug. Let's see if we can fix it up.

@gabriel-happle would you mind checking this quickly?

[2020-06-29 07:27] daren-thomas commented on #2793
@shanshanhsieh would you mind checking this please?

[2020-06-29 07:37] daren-thomas commented on #2454
@lguilhermers - the longer it takes to merge, the harder it will be to merge. But I totally understand that you need to check your results first.

I'm wondering if your changes could be made into a plugin instead? Let's talk when you're done!

[2020-06-29 08:01] lguilhermers commented on #2454
Yes, indeed.
I think a plugin is a good alternative, as it is a quite 'stand-alone' tool and perhaps doesn't go into the workflow of many of the analysis being done (manual calibration is still quite common, especially for the lack of data).
I have also not seen other tools where calibration is incorporated directly into them, so a plugin can be a first step towards that.

[2020-06-29 15:15] AlexJew commented on #2793
Does it matter whether in _supply_systems.dbf_, the supply source is not district heating? Are there any other inputs for the thermal network simulation than the energy demand of the buildings?

[2020-06-29 19:21] AlexJew opened #2796 "DH simulation does not accept network-names"
**Describe the bug**
Hello CEA developers. I have noticed that when trying to simulate a DH network with a detailed model, it does not register the value for _network-names_ and instead looks for the _edges.shp_ and _nodes.shp_ files directly in _outputs/DH/_ . I believe this should be easy enough to solve, as such problem doesn't arise with DC simulations. Maybe to be added to #2781?

Here is the

[2020-06-29 19:33] AlexJew commented on #2793
Hello,

I have been working on a smaller scale network for faster computation. Here is the DC network for the 30 villas of the neighbourhood:

![Screen Shot 2020-06-29 at 20 28 23](https://user-images.githubusercontent.com/32110882/86047730-43227f00-ba47-11ea-9c0c-a52160398164.png)

The cold consumption occurs during summer (cooling season from 15/05 to 15/09):

![Screen Shot 2020-06-29 at 20 29 0

[2020-06-30 11:44] shanshanhsieh commented on #2784
Hi @AlexJew,

I only had time to do a quick check on the tool.
From my end, it is possible to run `cea thermal-network-optimization` for DC with our reference case.
Unfortunately, our manpower is a bit short for now, thus you have to expect slow responses to questions that are specific to your project.

My suggestion is to start running everything using the default settings (only change `network-t

[2020-06-30 11:52] shanshanhsieh opened #2797 "Columns with empty results"
**Describe the bug**
After comparing the results between the current master and v3.5.0a2, i discovered several columns that contain empty results.

files containing empty result columns:
- `Total_LCA_operation.csv` : GHG_sys_tonCO2, GHG_sys_building_scale_tonCO2, PV_tonCO2, SOLAR_ww_tonCO2
- `Total_demand.csv`: PV_MWhyr, PV0_kW

**To Reproduce**
Run `cea workflow --slow`

**Expected behaviour**
No

[2020-06-30 12:23] AlexJew commented on #2784
Hi @shanshanhsieh , thank you for the feedback. I am currently running simulations on a smaller scale neighbourhood, trying to understand empirically how it works. Could you please share with me the parameters you used in your config file? I fear mine has been so much changed that I can not retrieve the original easily

[2020-07-01 07:43] fcschuch opened #2798 "Error when trying to open CEA Dashboard [cont.]"
@daren-thomas I submitted this issue last year (issue #2457) and you helped me with it, sorry I did not follow up back then.
I have now installed CEA again, but the issue still persists (same error message when I open the Dashboard).

I made sure to install CEA in the Documents folder this time, and tried running 'cea dashboard' in the console, getting the following output:

Could it be an issue w

[2020-07-01 09:38] AlexJew commented on #2793
Hello @shanshanhsieh ,

I have been exploring more the scenarios trying to understand what was the factor that could cause such results, and I found out that the _min-mass-flow_ factor had a tremendous effect on the energy consumption. As it decreases:
- it reduces slightly the network thermal loss
- it reduces the network piping size
- it reduces dramatically the pumping power

By default, the pa

[2020-07-01 10:22] daren-thomas commented on #2798
@fcschuch that's the expected behavoir - you've just started the server part of the CEA. What you _should_ be doing is running the GUI - check your start menu for a "CEA Dashboard" link. _or_ in the folder `C:\Users\Administrator\Documents\CityEnergyAnalyst` you should find that shortcut too.

[2020-07-01 10:23] daren-thomas commented on #2798
(please note that manually running `cea dashboard` is not required - the GUI starts the server on startup)

[2020-07-01 17:09] reyery commented on #2794
Just found out that there are discrepancies in the outputs for **radiation** when using the different Daysim binaries.
It seems that the newly complied binaries actually runs **faster**, but the outputs are always **different**
(based on SHA-1 hash of the output folder)

[code]

Just floating point differences I think, I uploaded some examples for the same one building.

[B1000_radiation.zip](http

[2020-07-01 17:14] reyery commented on #2794
Here are the binaries that I complied [Daysim x64.zip](https://github.com/architecture-building-systems/CityEnergyAnalyst/files/4859354/Daysim.x64.zip). Not sure if I did it correctly

[2020-07-02 01:19] fcschuch commented on #2798
@daren-thomas the problem is I haven't been able to open the cea dashboard shortcut. I get the following error message:

![image](https://user-images.githubusercontent.com/57716103/86305714-b7e0ef00-bbe8-11ea-9f67-7c7ef3bd5d2a.png)

[2020-07-02 07:38] daren-thomas commented on #2798
@fcschuch what version of Windows are you using?

[2020-07-02 12:43] fcschuch commented on #2798
@daren-thomas Windows 7

[2020-07-03 06:57] shanshanhsieh commented on #2784
[code]

you can also find the default values here: https://github.com/architecture-building-systems/CityEnergyAnalyst/blob/master/cea/default.config

[2020-07-03 07:17] shanshanhsieh commented on #2787
this issue could be fixed with #2794, please check again when this PR is merged

[2020-07-03 07:18] #2787 closed

[2020-07-03 07:33] shanshanhsieh commented on #2794
@reyery will compare the results between the two versions and we can discuss once again.
maybe @jimenofonseca would know why this happens?

[2020-07-03 07:53] shanshanhsieh commented on #2779
Hi @AlexJew,
the CEA way is to use different use types to encode different user behaviors.

[2020-07-03 07:53] #2779 closed

[2020-07-06 14:53] eap23 commented on #2787
Hi @reyery,

thanks for your suggestion! It worked setting parameter `n-buildings-in-chunk` to 30 in my case.

Is there a way of determining an appropriate value for this parameter other than trial and error?
Or put it different - what is the numeric relationship between the parameter `n-buildings-in-chunk` and the number of sensors in _DAYSIM_?

Thanks!

[2020-07-06 15:14] eap23 opened #2800 "Shapefile with set back storeys"
**Describe the bug**
I have a buildling design with set back storeys (see screenshots). GIS applications as _QGIS_ can interpret elevation of a given polygon as seen in image `QGIS_Issue_Elevation_Stacked.PNG`, but _City Energy Analyst_ does not provide this funtionality (see `CEA_Issue_Elevation_Stacked.PNG`).
The only way I can achieve this in CEA is to define nested polygons where each one has

[2020-07-07 14:05] reyery commented on #2794
Anyway, I just want to provide an update regarding the differences in the results of the newly complied Daysim binaries.
I have ran the radiation simulation on the reference case with the new binaries 10 times and used the **mean squared error**(MSE)  metric to calculate the error compared to when using the original binaries.

I took the **average** of the MSE between the 10 runs and also calculat

[2020-07-07 14:30] reyery commented on #2787
Right now we have not found an exact way to determine the right value for `n-buildings-in-chunk` based on the user inputs since we were not able to accurately pinpoint the factors that might affect it, so we put a **50000** boundary for the number of sensors, which has been rather effective.

This is mainly due to a bug/limitation of the current release of Daysim, where we found out that high numb

[2020-07-08 02:45] lguilhermers opened #2801 "open a project folder or create new projects not working in dashboard after updating CEA"
**Describe the bug**
Hi, I just updated CEA to latest version (from 3.1.0 to 3.4.0) and I have not been able to open a project folder or create new projects.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to dashboard
2. Click on new project or open project
3. Click on Create or Open
4. See error (nothing happens)

**Screenshots**
Nothing happens when I click on "Create" (or "Open" in op

[2020-07-08 07:11] reyery commented on #2801
Hey @lguilhermers, could you try replacing your current GUI files with the latest one here https://github.com/architecture-building-systems/CityEnergyAnalyst/releases/download/v3.4.0/win-unpacked.7z

There were some changes regarding how the GUI communicates with CEA

[2020-07-08 07:12] shanshanhsieh commented on #2800
Hi @eap23,
The only way to process this geometry is to cut the building vertically, so you will have to make three buildings:
1. 9-floors high, with the smallest rectangular footprint
2. 6-floors high, with a L-shape footprint
3. 3-floors high, with a L-shape footprint

The proposed solution is an approximation.
If you want to reflect changes of complicated geometry, you might have to simulate the

[2020-07-08 07:12] #2800 closed

[2020-07-08 07:20] lguilhermers commented on #2801
Ok, it worked! Thanks for the quick reply :)

[2020-07-08 07:20] #2801 closed

[2020-07-08 08:04] shanshanhsieh commented on #2793
Hi @AlexJew,

Indeed, in the detailed version, there are more input parameters (assumptions) that influence the results. This also means that the users can have more control over the network operation.
I will set up another issue to unify the default inputs of both simplified and detailed calculations, also, better documentation of the tool ; )

As you said, the `min-mass-flow` changes the flow ra

[2020-07-08 08:04] #2793 closed

[2020-07-08 08:24] shanshanhsieh commented on #2791
Hi @AlexJew,

The quick answer is that the input temperature of PVT is very different from SC.
Therefore, it is possible to have higher thermal output from PVT.
You might want to check if the thermal outputs (temperature level) from PVT is a useful resource in your case, otherwise, don't include it in your report.

In the CEA supply system optimization, we use these outputs from different solar te

[2020-07-08 08:24] #2791 closed

[2020-07-08 11:16] eap23 commented on #2800
Hi @shanshanhsieh,

thanks for your advise! Will give it a try.

[2020-07-08 11:17] eap23 commented on #2787
Thanks, @reyery for clarification!

[2020-07-09 03:43] reyery commented on #2751
Closed with #2799

[2020-07-09 03:43] #2751 closed

[2020-07-09 06:01] reyery commented on #2752
Just a clarification, must there be at least be a single technology selected (for either DH or DC) for optimization to run?

[2020-07-09 07:35] daren-thomas commented on #2794
@reyery would you mind adding the following anaylisis:

- boxplots for each building/direction
- percentages of error compared to total per building

[2020-07-09 07:37] daren-thomas commented on #2798
@fcschuch unfortunately, we don't have a windows 7 machine to test on. @reyery will try to test it on a virtual machine to see if he can reproduce the error.

[2020-07-09 07:44] daren-thomas commented on #2778
@kerembeygo I'm sorry, I've been very busy with the porting of the CEA to the newest version of Python and haven't gotten around to looking into this.

From a quick scan of your screenshots, it looks like your weather file contains multiple years. We don't support this. Can you try with another weather file, that only contains data for one year?

@reyery just checked the .epw file in the scenario

[2020-07-09 07:48] daren-thomas commented on #2755
Status update: @daren-thomas _won't_ be doing it in the python3 branch. Instead, he'll do it _after_ the python3 branch is merged to keep the port as conservative as possible.

[2020-07-09 08:25] emanuel030 commented on #2752
@reyery Yes, I believe so since otherwise the optimization runs into problems when mutating the share of each technology, since there is no share to mutate at all. I would suggest to put Base VCC as a standard.

[2020-07-12 11:12] reyery commented on #2798
After trying a installation of CEA on a fresh Windows 7 machine I can confirm that it still works on Windows 10.
Examining the error that you provided again, It seems that maybe the GUI was not able to run **cmd.exe** and spawn a new process.

@fcschuch Could you help me check if you are able to run **cmd.exe** manually and if it is in your `PATH` environment variable?
- Search for "run" in the se

[2020-07-13 05:55] fcschuch commented on #2798
@reyery many thanks.
I took the steps above and was able to open the cmd (image below). I also checked the "Edit environment variables for your account" and this is what appears for the PATH:
C:\Users\Administrator\AppData\Local\Programs\Python\Python38-32\Scripts\;C:\Users\Administrator\AppData\Local\Programs\Python\Python38-32\;C:\Python36;C:\Users\Administrator\AppData\Local\GitHubDesktop\bin;C

[2020-07-13 06:21] reyery commented on #2798
Alright, I think `C:\Windows\System32` not being in `PATH` might be the problem. Would you mind appending it to the `PATH` variable and try launching CEA again?

[2020-07-13 06:27] fcschuch commented on #2798
@reyery Yes, that worked! Thank you very much

[2020-07-13 09:06] reyery commented on #2798
@fcschuch no worries, glad to be of help! Feel free to open a new issue if you encounter any more problems.

Closing this issue as it is solved.

[2020-07-13 09:06] #2798 closed

[2020-07-15 10:52] reyery commented on #2794
First I compared the sensor number/size to make sure that both binaries are working with the same inputs, which fortunately is the case.

Below are the boxplots for
- Root Mean Squared Error (RMSE)
- Mean Absolute Error (MAE)
- Total Percentage Error
- Total Percentage Error per Building

In general, I think that radiation results for rooftops in all tests are very consistent and close to the benc

[2020-07-15 17:55] emanuel030 opened #2803 "unexpected value for floors of surroundings when running surrounding-helper"
When running surroundings-helper for one specific district, the following error appears:
![Brighton_Ave_Floor](https://user-images.githubusercontent.com/26175926/87577638-c9a4b500-c705-11ea-85da-80464c1f23c0.png)

It seems that it is caused by an unexpected value when cleaning the attributes of the surroundings.
![weird_value in floors](https://user-images.githubusercontent.com/26175926/87577735-e

[2020-07-15 18:47] emanuel030 opened #2804 "no sensor data (.json) to run photovoltaic.py"
When running the photovoltaic module, the following error appears:
![photovoltaic need json](https://user-images.githubusercontent.com/26175926/87583264-4471ce00-c70e-11ea-8389-2ba3d8361df5.png)

Looking into the error, the script is reading a path to a json file. However, as I see it, with the option in the radiation script to turn the 'write-sensor-data' option off, the json files are no longer

[2020-07-15 21:59] reyery opened #2805 "Create Daysim project folder of radiation script using `tempfile.TemporaryDirectory`"
Currently the **radiation** script creates the Daysim project folder in the **temporary directory** in the form of `temp_{chunk_number}`. This prevents multiple different instances of the **radiation** script to be run together since they might attempt to access the same folder which could result in I/O issues (such as trying to write to the same file while another trying to read from it).

To sol

[2020-07-15 22:39] reyery commented on #2804
@emanuel030 yes unfortunately setting `write-sensor-data` to **true** in radiation is needed for photovoltaic script to run.

However, this is set as **true** by default, and only to be set to **false** if you want to save disk space as the sensor data **and** not run PV potentials, since it is relative large compared to the aggregated radiation results for each building.
[code]

Currently, while

[2020-07-15 22:51] reyery commented on #2803
That value was directly extracted from OSM data and unfortunately it is not the cleanest/most accurate dateset. But if I remember correctly, we do try to parse/clean such values with the `zone-helper`, maybe we missed out the `surroundings-helper`. I will take a look at it.

[2020-07-16 03:57] emanuel030 commented on #2804
thanks for the explanation @reyery

[2020-07-16 03:57] #2804 closed

[2020-07-23 07:19] daren-thomas commented on #2752
@reyery is going to to a slight modification to `MultiChoiceParameter` (add parameter config `nullable`, if set to false, emtpy strings and lists get decoded to _all selected_)

[2020-07-23 07:23] #2778 closed

[2020-07-23 07:25] #2784 closed

[2020-07-23 07:25] daren-thomas commented on #2784
@AlexJew, we're closing this for now, feel free to open it again if you have more questions :)

[2020-07-23 07:35] daren-thomas commented on #2794
We decide to add these binaries as an option to the radiation script with a clear warning for the user that the results are not deterministic, but faster and can handle larger case studies.

[2020-07-23 07:37] daren-thomas commented on #2794
A Pull Request would include a separate folder for these binaries and the radiation script should set the appropriate radiation:daysim-bin-folder parameter before running. Update required to the installer.

[2020-07-25 11:34] reyery commented on #2752
Anyone knows if config parameters for **thermal-network** `substation-cooling-systems` and `substation-heating-systems` can be empty i.e no selection?

Also are `re` and `data` valid choices for `substation-cooling-systems`?

[code]

[2020-07-27 08:34] lguilhermers opened #2808 "not able to change the typology-use in the edit selection tab"
**Describe the bug**
When I try to change the Use writing a new existent typology in the database I get the following error message:
"1ST_USE is not a undefined", the same happens for the other uses.
Does this have something to do with the class types given for those names? For the ratio, it works normal (if I put a number it accepts, otherwise it says it is not a float)

**Screenshots**
If applic

[2020-07-27 08:53] #2764 closed

[2020-07-27 08:59] #2803 closed

[2020-07-27 09:25] #2752 closed

[2020-07-27 13:35] #2744 closed

[2020-07-28 08:36] reyery commented on #2808
I think it's giving an error because the input is supposed to be a selection box instead of text input box. Will take a look at this bug.

[2020-07-31 14:13] shanshanhsieh opened #2810 "`calc_dTm_HEX` input errors"
**Describe the bug**
The function, `calc_dTm_HEX(thi, tho, tci, tco)`, throws errors when `tho < tci`

**To Reproduce**
example: `calc_dTm_HEX(338.0, 281.728, 282.07, 333.0)`

**Expected behaviour**
- avoid  `tho < tci` in the arguments
- catch the value error before it propagates

[2020-08-03 10:32] daren-thomas opened #2811 "Can't delete scenario"
**Describe the bug**
I can't delete a scenario in my project using the GUI. The GUI doesn't show any error messages, but if I start `dashboard.bat` before starting the GUI, I see the following error:

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Start CEA (v3.7.0)
2. Create New Project
3. Create New Scenario
4. In Project overview, delete the Scenario, wait for the timer in the mod

[2020-08-05 06:19] lguilhermers commented on #2808
Hi Rey, just as an update I found this issues with other toolboxes, for example the STANDARD. I think for all, they were supposed to be selection boxes, so it seems that is indeed the bug. Please let me know if I can assist somehow.

[2020-08-05 07:07] #2810 closed

[2020-08-05 17:13] martin-mosteiro opened #2812 "ERROR 4: This is a BigTIFF file. BigTIFF is not supported by this version of GDAL and libtiff."
I am running the solar radiation script using a topography downloaded from the [GeoVITe database from ETH](https://geovite.ethz.ch/DigitalElevationModels.html). This leads to the error message in the title. Upgrading to GDAL version 2.2.4 should [apparently](https://gis.stackexchange.com/questions/268124/reading-a-bigtiff-file-gdal) solve the problem, though I'm having trouble upgrading GDAL on my

[2020-08-06 06:52] daren-thomas commented on #2812
@martin-mosteiro the py3 port uses GDAL 2.4.4 - so... help us make it into master!

[2020-08-06 07:38] daren-thomas commented on #2794
@jimenofonseca suggests having the non-deterministic version as the default with option for slower, deterministic version of the binaries.

@reyery could also look into creating another version based on only the memory issue commit and see if that's faster but still deterministic.

[2020-08-11 01:37] jimenofonseca opened #2813 "Ventilation load not accounted in the output"
**Describe the bug**
Ventilation load not accounted in the output

**To Reproduce**
Steps to reproduce the behavior:
1. run demand simulation
2. check for Eve_kWh or Grid_ve_kWh in the output files

**Expected behaviour**
the outputs should be there, but they are not calculated

**Screenshots**
---

**Hardware (please complete the following information):**
 - Windows 10
 - CEA 3.0

[2020-08-11 03:52] reyery opened #2815 "Surroundings helper does not capture every building"
When the zone geometry bounds are of irregular shape as one like below, there is a huge chunk of buildings that are not considered as highlighted in red.

![image](https://user-images.githubusercontent.com/34395415/89852857-6140da80-dbc2-11ea-8809-2e60374ba311.png)

[2020-08-12 18:41] RicardoGomesIST opened #2816 "schedules maker does not work. zone label is not in the index"
Hi,
when I run the building demand/Building schedules from the CEA dashboard it does not run and says that the first zone label is not in the index.

I have around 1800 buildings.
I created the schedules from the Archetype Mapper and they appear on the \inputs\building-properties\schedules and look good.

here is the info I get:
[code]
I Work with City Energy Analyst version 3.7.0, on windows 10
t

[2020-08-13 15:20] RicardoGomesIST commented on #2816
I created a new archetype database by copying the CH and changed the name and added some solutions. Everything seems good when using the Archetype Mapper. But for the schedules doesn't run well. After hours I understood that the standard name was too long (at least it worked with smaller ones). Now it runs.
So, I will just leave this post for you to confirm  this possibility or is other thing that

[2020-08-18 02:59] #2813 closed

[2020-08-18 03:00] jimenofonseca opened #2817 "Ventilation rate in conflict with inputs"
**Describe the bug**
so there is a guideline for minimum ventilation rate of 0.6 l/s/m, OR 5.5 l/s/pp. We are using the first which enters in conflict with the minimum ventilation rate per person (an input parameter). we need to change this.

[2020-08-18 09:46] martin-mosteiro commented on #2812
Since this will be solved with the py3 port, I guess this will get resolved... soon. Closing the issue.

[2020-08-18 09:46] #2812 closed

[2020-08-18 09:54] martin-mosteiro opened #2819 "CalledProcessError while running the radiation script"
**Describe the bug**
I am running the radiation script on the case study discussed in #2812. After solving the terrain issues, I managed to get the Daysim simulation running, but now I get the following error message:
[code]

Since I am not familiar with Daysim, I am not sure what this error even means.

**To Reproduce**
Steps to reproduce the behavior:
1. [Download the case study](https://we.tl/t

[2020-08-18 09:58] #2817 closed

[2020-08-19 07:16] shanshanhsieh commented on #2819
we could find out more information by running command `ds_illum "c:\users\assist~1\appdata\local\temp\temp667\temp667.hea"`

[2020-08-19 07:21] shanshanhsieh commented on #2572
@reyery which branch is this?

[2020-08-19 07:38] martin-mosteiro commented on #2819
@shanshanhsieh thanks!

[2020-08-19 11:17] noivoindio commented on #2798
@reyery Hi! I think I have a similar error but I can't solve it. I have CEA version 3.7.0 in Windows 10 and when I start CEA dashboard, it appears these similar errors. I already reinstall the program but the error remains. After these errors, the program closes. I don't know what I'm doing wrong.

I hope that you can help me with this. Thank you in advance.

![image1](https://user-images.githubus

[2020-08-19 11:36] rfnif opened #2820 "Error on startup CEA 3.7.0 in Windows 10"
Hi! I have CEA version 3.7.0 in Windows 10 and when I start CEA dashboard, it appears these errors. After these errors, the program closes.

![image1](https://user-images.githubusercontent.com/69899773/90630163-70ee9d80-e218-11ea-9db7-ff520a7c4ed1.jpeg)

When I click "Exit CEA", it appears this error:

![image2](https://user-images.githubusercontent.com/69899773/90630167-72b86100-e218-11ea-81d0-4c

[2020-08-20 07:18] daren-thomas commented on #2746
See newest comments on PR #2802 for current status of testing and distribution of testing tasks.

[2020-08-20 07:21] daren-thomas commented on #2745
@daren-thomas will merge master into a new testing-version and provide that early next week. always use download link at the top for your testing endeavors.

[2020-08-20 07:31] #2747 closed

[2020-08-20 07:41] daren-thomas commented on #2820
@rfnif, can you try to uninstall the CEA (check to make sure the whole folder is deleted) and reinstall again? I think just re-installing might be overwriting a previous installation and would love to make sure a clean installation still produces this bug...

[2020-08-20 11:12] martin-mosteiro commented on #2815
I have the same issue here:
![Screen Shot 2020-08-20 at 13 10 01](https://user-images.githubusercontent.com/18548065/90763196-892cee00-e2e6-11ea-9984-9d1c86ffb561.png)

This is a duplicate of #2456 though – Which we closed because (a) no one was blocked by this issue, (b) we had no capacity to solve this issue, (c) we had a workaround. This *should* be solved eventually, though.

[2020-08-20 11:15] shjiang commented on #2820
I have the same problem.

[2020-08-20 12:22] shjiang commented on #2820
The error happens again after a clean reinstallation.

[2020-08-22 12:55] shjiang opened #2821 "UNKNOW ERROR with "Input Editor""
When openingn the example project in "CityEnergyAnalyst-v3.8.0a0\architecture-building-systems-CityEnergyAnalyst-2956835\cea\examples", or creating a New Scenario,  the "Input Editor" shows "Something went wrong".

<img width="600" alt="000" src="https://user-images.githubusercontent.com/2359242/90956470-81717300-e4b9-11ea-891b-d0e35072f32e.png">

**Hardware (please complete the following informat

[2020-08-24 10:53] rfnif commented on #2820
@daren-thomas , thanks for your reply, it's solved! I thought that I had already done that, but it didn't solve the problem...
This time, after I uninstall CEA, I reboot my computer and maybe it was crucial.
Thanks again for your reply!

[2020-08-25 00:24] shjiang commented on #2820
I followed your step, and the error happened again.
The error was found in the installation process.

<img width="373" alt="Snipaste_2020-08-25_08-22-47" src="https://user-images.githubusercontent.com/2359242/91109016-45523400-e6ac-11ea-8e04-85e74adbf23e.png">

[2020-08-25 03:39] lguilhermers opened #2822 "Deleted buildings are not removed in new simulations"
**Describe the bug**
Hi all. @emanuel030  and I have noticed a strange behavior, that we are not sure if it is intentional. If we run the simulation and after that, delete certain buildings and re-run the simulation, the old buildings stay in the results folder (with the old results).
You can easily detect them by the date/time of simulation and delete manually, but wouldn't it be better if the si

[2020-08-27 00:55] reyery commented on #2821
Hi @shjiang could you try running `cea dashboard` in the CEA console and start the application after seeing the message below. It should hopefully show any error messages that would help us troubleshoot this. Thanks!

![image](https://user-images.githubusercontent.com/34395415/91371132-c2171680-e842-11ea-9f87-81b3950769b5.png)

[2020-08-27 01:50] shjiang commented on #2821
Below is the message. Thanks a lot for your reply!

<img width="1106" alt="Snipaste_2020-08-27_09-48-05" src="https://user-images.githubusercontent.com/2359242/91374305-841df080-e84a-11ea-84b4-44b1de7bbadb.png">

[2020-08-27 01:59] reyery commented on #2821
Hmm, looks like you have another instance of CEA already running. Could you try closing the application and try it again.

[2020-08-27 02:06] shjiang commented on #2821
I tried and it shows,
<img width="660" alt="Snipaste_2020-08-27_10-05-40" src="https://user-images.githubusercontent.com/2359242/91375308-dfe97900-e84c-11ea-94a8-d1398447d55e.png">

[2020-08-27 02:13] reyery commented on #2821
With that open, could you try running the input editor again? I should show the error. Thanks!

[2020-08-27 02:30] shjiang commented on #2821
I have tried to open two projects. The first one was established by myself.  The "Input editor" shows error at the very start.
<img width="929" alt="001" src="https://user-images.githubusercontent.com/2359242/91376199-1de79c80-e84f-11ea-8ce1-bdc7bad7580f.png">

The second one is the example in the cea source code folder. I unzipped it, and opened it with CEA Dashboard.  The "Input editor" worked a

[2020-08-27 02:35] reyery commented on #2821
Thanks for the screenshots! That is exactly what we need. Seems there's definitely something up with `fiona`, which seems to be also causing the problem in #2820. We will try to recreate this problem on our end and come up with a fix soon.

[2020-08-27 12:26] martin-mosteiro commented on #2819
This issue hasn't appeared again since, so I'm closing it

[2020-08-27 12:26] #2819 closed

[2020-08-28 06:21] lguilhermers opened #2825 "editing void_deck in Database Editor generates an error"
**Describe the bug**
When trying to edit the database, only "0" is a value accepted for void_decks

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Database Editor- Archetypes - Envelope Assmblies
2. Try to edit the field void_decks to 1 (or any other value other than 0). Happens in a new standard or editing an old one
3. See error

PS: I am currently bypassing the error by editing dire

[2020-09-02 07:14] shanshanhsieh commented on #2822
Hi guys,

Thanks for the suggestion, we will keep it in the pipeline.
However, i am not sure if all users would expect this behavior to happen, they might be shocked that the files have disappeared.

When deleting some buildings, it sounds like a "new scenario/case" to me, and there is a scenario layer in the CEA folder structure.
The general folder structure looks like this: `case/scenario/inputs

[2020-09-02 09:13] shanshanhsieh commented on #2825
hi @lguilhermers ,

please confirm with @jimenofonseca if that is an intended behavior, or the value could be freely assigned.
if the later is true, @reyery could tell you the steps to fix it!

[2020-09-02 09:36] lguilhermers commented on #2825
@shanshanhsieh

I have confirmed with him already, he said that integers should be valid there (normally 1, but I imagine the user should be able to set more, as long as it is lower than the number of floors). Another thing to support that is that Standard 1 and 2 have a void deck as 1 from the database.

[2020-09-02 09:43] lguilhermers commented on #2822
Yes, got that. I agree it is not such a big deal in the moment, as it is quite a specific situation.

For me deleting buildings was a matter of refining the geometry and getting rid of small buildings that get created from arcmaps (didn't made sense to start a new scenario since I had most of the settings defined).
But since I had already simulated radiation and demand once, those results (from de

[2020-09-03 06:50] daren-thomas commented on #2822
@lguilhermers yes, actually. it's not a motivation per se, but rather an emergent behaviour from how the scripts "think" of output - they think in files and not folders so after deleting building "Bxyz", a simulation script wouldn't have any way to "know" anything about "Bxyz_simulation_output.csv".

I'm hoping to make it even more abstract, such that the scripts don't even know what file it's usi

[2020-09-03 07:39] daren-thomas commented on #2822
we're closing this for now, marked as known issue - we might reopen it at a later stage.

[2020-09-03 07:39] #2822 closed

[2020-09-03 07:43] daren-thomas commented on #2825
@reyery the `schemas.yml` file says the `max` value is `null` - that might be the problem.

[2020-09-03 07:49] daren-thomas commented on #2821
@shjiang I'm sorry this is taking so long to resolve. Would you mind telling me how you installed the CEA? It seems you're running the new experimental installer (v3.8.0a0) - but what version did you install? also... did you install the regular version or the developer version (second screen in the installer, the checkbox I think)?

[2020-09-03 07:59] shanshanhsieh opened #2826 "empty output column in `Bxxx_PVT.csv` and `Bxxx_SC_ET/FP.csv`"
**Describe the bug**
The column `T_PVT_re_C` in `Bxxx_PVT.csv` contains empty output, which should be zeros or 'nan'.
The same happens in `Bxxx_SC_ET/FP.csv` .

**To Reproduce**
Steps to reproduce the behavior:
1. Run `photovoltaic_thermal.py`
2. Read `Bxxx_PVT.csv`

**Expected behaviour**
The empty cell should be 'nan', or equivalent.

**Hardware (please complete the following information):**
 -

[2020-09-03 07:59] shjiang commented on #2821
I installed the regular version (default option) of v3.8.0a0. In fact, I have tried v3.7.0 either, but it went wrong at the first start.&nbsp;

------------------ Original ------------------
From: Daren Thomas <notifications@github.com&gt;
Date: Thu,Sep 3,2020 3:49 PM
To: architecture-building-systems/CityEnergyAnalyst <CityEnergyAnalyst@noreply.github.com&gt;
Cc: shjiang <shjiang@foxmail.com&gt;,

[2020-09-03 09:20] shanshanhsieh commented on #2826
@daren-thomas , i just checked and realized that this only happens in the py3 version.
shall i just go to the branch and fix it?

[2020-09-03 11:02] daren-thomas commented on #2826
yes, please.

[2020-09-04 06:02] shizhongming opened #2827 "empty output column in `Total_LCA_operation.csv ` and `Total_demand.csv`"
**Describe the bug**
'Total_LCA_operation.csv' contains empty columns.
The same happens in 'Total_demand.csv'.

**To Reproduce**
Steps to reproduce the behavior:

    Run 'demand_main.py'
    Read 'Total_demand.csv'

**Expected behaviour**
The empty cell should be 'nan', or equivalent.

**Hardware** (please complete the following information):

    OS and version: Windows10
    Version of CEA you

[2020-09-10 04:45] shanshanhsieh commented on #2827
@shizhongming , can you specify the columns that are empty?
also, is this an issue or did you solve it already?

[2020-09-16 07:33] shanshanhsieh commented on #2821
@shijiang could you please uninstall everything, and try out the v3.10.0?
https://github.com/architecture-building-systems/CityEnergyAnalyst/releases/download/v3.10.0/Setup_CityEnergyAnalyst_3.10.0.exe

thank you!

[2020-09-16 07:42] shanshanhsieh opened #2830 "Documentation on `How to create a new release?`"
@reyery and I made a new release together following the documentation.
We found that the documentation needs an update.

[2020-09-16 09:18] #2830 closed

[2020-09-16 11:37] shjiang commented on #2821
I tried and unfortunately I encountered the follow error at the start:

While clicked "Exit CEA", it showed:

Should I do some other tests?

Plus, could you tell me how to install the software without downloading files if I have already downloaded the files "Dependencies.7z" and "win-unpacked.7z" onto my disk?

Thanks a lot!

------------------&nbsp;原始邮件&nbsp;------------------
发件人:

[2020-09-16 13:27] reyery opened #2832 "Unable to run cea-plot when non-developer version is installed"
It seems that `plot.html` in `cea.plot` is not included in `MANIFEST.in` so `cea-plot` was not able to find it when CEA is installed using non-developer. This only affects `cea-plot` and `cea tests` since these are the only scripts that I can find that uses `plot.html`. Strangely, this does not affect plots in dashboard GUI. Should be relatively easy to solve by including the file mentioned into `

[2020-09-17 07:02] daren-thomas opened #2833 "Test network-layout script (compare v3.10.0 with py3 port)"
@martin-mosteiro and @daren-thomas have tested the `thermal-network` script under the conditions {DH, VT}. We should also test combinations {DC, VT} and {DH|DC, CT}. But it seems that's good.

One thing we're not sure of, is if the `network-layout` script produces the same results. They might be slightly different, which would be ok, but has downstream consequences, so let's investigate that.

[2020-09-17 07:15] #2794 closed

[2020-09-17 07:20] daren-thomas commented on #2821
@shjiang - your last error looks like you still had the `v3.8.0a0` Depencencies folder installed when you installed `v3.10.0`. That can lead to problems with DLLs, as `v3.8.0a0` is an experimental release using a different python version.

I suggest manually deleting the folder `C:\Users\jiang\Documents\CityEnergyAnalyst` and reinstalling version 3.10.0. I'm sure that will solve your issue :)

As

[2020-09-17 07:21] #2820 closed

[2020-09-17 07:23] daren-thomas commented on #2826
@shanshanhsieh as discussed in the meeting, better to create a separate branch, PR, merge to master and then update the py3 PR from master. That way we can continue testing apples to apples.

[2020-09-17 07:25] daren-thomas commented on #2827
@shanshanhsieh maybe check #2826 for a solution.

While you're at it, how about a script similar to `scenariocompare.py` (check there for how to walk a directory structure) that checks all csv files for empty columns?

[2020-09-17 07:27] daren-thomas opened #2834 "Docker container for CEA (py3 version) that runs as a "server""
For the ReMap project, details follow.

[2020-09-17 07:31] daren-thomas commented on #2769
This should be `cea-dev release` and it should create an installer for the version found in `cea/__init__.py::__version__`.

- pack `Dependencies.7z` to installer
- pack `win-unpacked.7z`  to installer
- avoid PyPI versions
- automate creating CHANGELOG etc.

[2020-09-17 07:41] shanshanhsieh commented on #2833
@martin-mosteiro
for the simulation results, we can focus on comparing the total quantity in these files:
`DC_plant_pumping_load_kW.csv`
`DC_plant_pumping_pressure_loss_Pa.csv`
`DC_plant_thermal_load_kW.csv`

same for `network-layout`, the total numbers of edges/nodes should be the same (my hunch).
also, the total length should almost equal as well.

[2020-09-17 07:54] martin-mosteiro commented on #2833
@shanshanhsieh well, not quite. I just checked the results for DC. there's no difference in most files, _only_ in those where the network temperatures are stored:
[code]
(each of those rows is just the sum of the difference for all edges/nodes for all timesteps)

That's pretty weird, since _if_ the temperatures are different, then either the cooling delivered or the flow rate should also be differ

[2020-09-17 08:21] martin-mosteiro commented on #2833
Okay, I'm not sure why the temperature differences were so large in the diff files, because they are extremely small when you look at the source files (in the order of 1e-14). So DC|VT looks okay!

[2020-09-17 08:25] martin-mosteiro commented on #2833
- [ ] DH, VT
- [ ] DC, VT
- [ ] DH, CT
- [ ] DC, CT
- network_layout

[2020-09-17 09:01] martin-mosteiro commented on #2833
Both network layouts are the same save for the _names_ of the pipes and nodes - which is not a problem

[2020-09-17 09:03] daren-thomas commented on #2833
ok cool! @shanshanhsieh what is still left to test? (maybe we can create separate issues?)

[2020-09-17 09:10] martin-mosteiro commented on #2833
I am currently testing the constant temperature case. Once that is done, all cases will have been tested.

[2020-09-17 14:09] martin-mosteiro commented on #2833
The CT simulations show no difference at all:
[code]

[2020-09-17 14:10] martin-mosteiro commented on #2833
No difference in the simplified simulations, either!
[code]

[2020-09-17 14:12] martin-mosteiro commented on #2833
No changes in any of the combinations - the tests have been successfully passed!

[2020-09-17 14:12] #2833 closed

[2020-09-17 22:22] shjiang commented on #2821
Thanks a lot for your work! @daren-thomas. I failed again on my computer but I made it on another computer. So, it is obvious the problem of my computer.

[2020-09-25 06:11] #2827 closed

[2020-09-25 06:59] shanshanhsieh opened #2835 "Create Release 3.11.0 for CEA in python3"

[2020-09-25 07:01] shanshanhsieh opened #2836 "Inform users about the python3 migration"
Send out a newsletter to inform our users about the new release.

[2020-09-25 12:46] kerembeygo commented on #2834
What will be the functional relationship between CEA and ReMaP project? Comparison of simulation results and real time data? Calibration?

[2020-09-25 16:58] rdmolony opened #2838 "Pip dependency resolution error pyscaffold<3.3a0,>=3.2a0"
**Describe the bug**
While following the excellent guide [Installation guide for Windows (from the source)](https://city-energy-analyst.readthedocs.io/en/latest/installation/installation-on-windows-manual.html) - with minor changes for Windows Subsystem for Linux 2 (WSL2) Ubuntu a dependency conflict prevented install.

**To Reproduce**
Steps to reproduce the behavior:
[code]

**Expected behaviour

[2020-09-29 06:02] #2578 closed

[2020-09-29 06:02] #2745 closed

[2020-09-29 06:02] #2746 closed

[2020-09-30 06:24] shanshanhsieh opened #2839 "Unclear column names and documentation in `Total_demand.csv`"
This is reported by Marius from Nexus-e.
The definitions of *energy consumption*, *end-use electricity*, and *grid electricity* are unclear to users.

Example:
The total value of end-use electricity exceed the grid electricity, which is not easy to understand.

![image.png](https://images.zenhubusercontent.com/57b4452fe40e5714b16d75a2/9c1d4879-fdc2-4fca-9a7e-462d76704bfd)

The actual relationship:

[2020-09-30 06:44] daren-thomas commented on #2838
@rdmolony we've just ported master to python3. so that might be adding to the conflicts. also we'll have to update the manual installation instructions to adjust.

as luck would have it, i'm tinkering with a dockerized version of cea right now and running into conflicts too - i'll publish a new `environment.ubuntu.yml` for you as soon as I have it ready. i actually expect a conda-packed environmen

[2020-09-30 06:45] daren-thomas commented on #2838
btw: i did a `grep -hr --include \*.py "^import" | sort | uniq | grep -v "import cea" > ..\docker\server\imports.py` on the cea folder yesterday and the results would be a good starting point, if you'd like to give it a go - still need to filter out standard libraries, but that's the list of stuff we need to be able to import.

[2020-09-30 07:07] #2835 closed

[2020-09-30 07:18] shanshanhsieh commented on #2663
Hi @DavidKayanan,

We have finished the migration to python3, so you can add you script as a plug-in now!
Please follow the steps in our blog, and let us know if you have any problem.
https://cityenergyanalyst.com/blog-1

thanks!

[2020-09-30 07:23] daren-thomas opened #2840 "Allow CityEnergyAnalyst-GUI to connect to remote CEA server"
Currently, the GUI is hardwired to `localhost:5050`. This is not strictly necessary, as the CEA Server could be easily hosted on another machine. Use the host/port parameters from the `cea.config` file.

[2020-09-30 07:42] shanshanhsieh commented on #2834
@kerembeygo,
in ReMaP, we will use the CEA to provide demand data to other project partners to test their technology or control algorithms.
In line with this effort, we will update some CEA database to include future scenarios of districts in Switzerland.
are you familiar with ReMaP? suggestions are welcome!

[2020-10-01 07:11] #2821 closed

[2020-10-01 07:15] daren-thomas opened #2841 "Update Grasshopper interface for py3 version"

[2020-10-01 13:41] kerembeygo commented on #2834
@shanshanhsieh
For the first time I heard about ReMaP and Nexus-e last year. I asked Jimeno Fonseca whether those platforms would share a common interface and exchange data. He said CEA is a part of ReMaP project. But we didn't talk about the functional relationship between them. All I know is the information on website.

We are in contact with an Austrian Institute to be partners in oncoming H202

[2020-10-06 13:53] oisindoherty3 opened #2842 "Coordinate reference system issues when importing zone file"
I am importing a zone file with polygon geometries in standard lat/long format, which should be based in Dublin, Ireland. When I read in the files however and it projects in CEA the buildings appear in the ocean off the coast of Africa.

I've tried rectifying this through a geometry conversion to UTM coordinates using Geopandas .set_crs however I couldn't get that to accurately work either.

I've

[2020-10-06 13:59] daren-thomas commented on #2838
@rdmolony you might be interested in this branch: https://github.com/architecture-building-systems/CityEnergyAnalyst/tree/2834-docker-container-for-remap

In it, I have update the file `environment.ubuntu.yml` and am able to install the CEA on WSL2 (running Ubuntu). I've attached that file: [environment.ubuntu.yml.zip](https://github.com/architecture-building-systems/CityEnergyAnalyst/files/533430

[2020-10-07 14:34] oisindoherty3 commented on #2842
As an update on this, I have uploaded a more recent version of my shapefile with the lat/longs for a sample district inputted. This still sends me out to the ocean! Hoping you can help, Oisin
[GeodirSampleCEA4326.zip](https://github.com/architecture-building-systems/CityEnergyAnalyst/files/5341416/GeodirSampleCEA4326.zip)

[2020-10-08 08:29] daren-thomas opened #2843 "Add a list of published plugins"
**Describe the feature you would like to have**
Our documentation / website should include a page of links to plugins for the CEA. And some basic instructions on how to install and configure plugins.

**Describe the end purpose of this feature**
We want to show a list of additional functionality that can be added to the CEA - and also show off the hard work of our users!

**Describe the end-user o

[2020-10-09 08:37] oisindoherty3 commented on #2842
Hey just an update, I was able to get it working through manually setting the original CRS in a Geopandas and then converting those GeoDataFrames to an EPSG of 32629. The issue still remains however when I import latitude and longitudes that it places me in the middle of the sea!

[2020-10-14 08:03] shanshanhsieh commented on #2843
@daren-thomas , please take a look at the page i created : https://cityenergyanalyst.com/plugins
password to this page: cea

please make any necessary changes, and enable the page if you think it's good to go!
thanks : )

[2020-10-14 09:17] daren-thomas commented on #2842
@oisindoherty3, Sorry for only getting to this now. Great sleuthing!

I'm not quite sure I understand your last post: After conversion, does it now work for you? Or is your scenario still in the middle of the ocean?

What do you mean with "import latitude and longitudes" - how exactly are you going about this?

[2020-10-14 09:27] daren-thomas commented on #2843
@shanshanhsieh I _did_ find a small typo (tamplate vs. template).

I don't really understand how to "enable the page" - I checked the page settings but only found the password thing. How do I enable it?

[2020-10-14 09:49] oisindoherty3 commented on #2842
Hi Darren,

No problem at all! It works for me now yes, I originally had the geometry column of my imported dataset in EPSG 4326, so purely latitude and longitude. This however was placing me in the ocean, it took a good while of playing around but eventually my solution was to set the crs of my original dataset to its origin country (EPSG 2157, Ireland), then use the Geopandas operation to_crs to

[2020-10-14 13:36] daren-thomas commented on #2842
Hi Oisin,

Thank you for your feedback. That's a useful tip!

Regards,
Daren

[2020-10-14 13:36] #2842 closed

[2020-10-15 03:49] shanshanhsieh commented on #2836
@daren-thomas , i've sent you a test newsletter to your email.
please take a look and let me know if anything is missing.
thanks!

[2020-10-15 06:19] #2838 closed

[2020-10-15 07:05] daren-thomas commented on #2454
@lguilhermers please add a link to your awesome plugin to this issue so people can find it when they search "calibrating cea models"

[2020-10-15 07:06] #2454 closed

[2020-10-15 07:07] daren-thomas commented on #2843
Also add some hints on how to install plugins to this page.

[2020-10-15 07:12] daren-thomas commented on #2843
we decide: @daren-thomas updates the template to add installation instructions. maybe add a blog post on dealing with plugins (installing, uninstalling, registering in config file...)

[2020-10-19 16:43] BeaHerrero opened #2844 "Issues with CEA last version (3.11.0)"
**Describe the bug**
I tried to use it with a group of students and they all got errors when editing the databases and when running the radiance model or importing weather files. The error was "something went wrong" and no more details were shown. As they only difference with mine was the version (I have 3.7.0) I was wondering if there is some problem with the last version released.
**Hardware:**

[2020-10-20 06:47] Mar-Ges commented on #2844
I tried to download the last version (3.11.0), but i couldn't install it because of a runtime Error:
"R6034
An application has made an attempt to lead the C runtime library incorrectly.
Please contact the application's support team for more information."

[2020-10-21 10:02] daren-thomas commented on #2844
@BeaHerrero thank you for reporting this! I'm looking into it...

[2020-10-21 12:38] martin-mosteiro opened #2845 "Input parameter `predefined-hourly-setpoints` not clearly defined"
**Describe the bug**
The building energy demand tool includes a Boolean input called `predefined-hourly-setpoints`, described as "True if deterministic temperature set points or each hour of the year are considered to calculate the system demands".

Fair enough. Sounds like the input temperature schedules created by the schedule maker tool, right? Nope! If you follow the code, the script is trying

[2020-10-21 13:02] martin-mosteiro commented on #2845
I've double checked: there is no method to create the files required by this option, so it's not that this is required by other CEA functionalities. So the only reason to have this method is in order to allow users to manually specify their own predefined setpoint temperatures. But this is already possible in the CEA inputs!
- If what you'd like to change is the set point or setback temperatures,

[2020-10-22 13:45] RolandNemeth opened #2847 "importing own zone .shp, latitude out of range (must be between 80 deg S and 84 deg N)"
**Describe the bug**
Using the older GHSHP grasshopper components, I converted some project Rhino 3dm geometries for importing to CEA. The geometries apear to be valid, as I checked them in an ArcGIS viewer, and they show up as expected.

However, when trying to import the geometries, CEA tells me that "ERROR: create_new_scenario: latitude out of range (must be between 80 deg S and 84 deg N)", mor

[2020-10-23 03:51] lguilhermers commented on #2454
Sorry, forgot about that last week.
Here is the link of the plugin for reference: https://github.com/lguilhermers/calibration_plugin

Thanks @daren-thomas and @jimenofonseca for the support to develop it!

[2020-10-23 07:13] daren-thomas commented on #2847
@RolandNemeth thank you for reporting this. We're looking into it. Can you provide more information? E.g. a test case that shows the error?

[2020-10-23 07:17] daren-thomas commented on #2844
@BeaHerrero I've been trying to replicate your results. It seems importing weather files works for me, so does the radiation script.

When trying to save changes in the Database error, I get the "Something went wrong" error. I'm looking into that now.

[2020-10-23 07:33] BeaHerrero commented on #2844
We used version 3.7.0 yesterday for doing the same and no one got any
error. Thank you for looking into it.

El vie., 23 oct. 2020 a las 9:17, Daren Thomas (<notifications@github.com>)
escribió:

[2020-10-23 07:47] daren-thomas commented on #2844
Looks like the error could be here:

[code]

I think maybe that code needs to be checked for py3 compatibility.

[2020-10-23 08:10] RolandNemeth commented on #2847
@daren-thomas . Hi, thanks for looking into it, I have attached the files here as a zip, with the two prj versions mentioned in the original issue above; let me know if you need anything else to get a clear picture!
The error shows up already with only the zone.shp as imported geometry, but I have attached the streets and surroundings too for completeness.
[CEA_rhino_shp_inputs.zip](https://github

[2020-10-23 08:19] RolandNemeth commented on #2847
btw, I have found this thread, could be related?
https://github.com/Turbo87/utm/commit/17e570cd3dde0b5daa774b68cbb7130ea2f0016c

[2020-10-26 10:29] daren-thomas commented on #2844
OK. So I found the culprit (in `schedule_reader.py`) - what went wrong (remember, "something went wrong") was that we were writing with a `csv.writer` object to a bytes stream, which is not supported (`open(path, "wb")` was the way to do it in python2, now we just need "w").

I've fixed this and created a PR (#2848). This fix should show up in Release 3.13.

[2020-10-27 08:03] jimenofonseca commented on #2847
Let me suggest some checks, maybe this helps.

Option A.
1. Try reading the file in arcgis without any .prj file added to it (erase it if you have it in the same folder)
2. then try to import it in CEA.

Option B.
1. Try reading the file in CEA directly without any .prj file added to it (erase it if you have it in the same folder).

Option C.
1. is your location in the north or south poles (outsid

[2020-10-27 20:51] Ekaterina-Vititneva commented on #2847
Hi! I did have the same issue for a couple of days with shapefiles from grasshopper (with .prj file from osm). Now, after deleting the .prj files from “inputs\building-geometry” and afterwards inserting them there again it worked to open this scenario and the input editor for it. (I have CEA 3.4 though).

[2020-10-28 08:58] shanshanhsieh commented on #2847
@RolandNemeth did any of the options solve your problem?

[2020-10-28 09:03] #2836 closed

[2020-10-28 09:04] shanshanhsieh commented on #2808
@reyery , what is the status of this issue?

[2020-10-28 16:10] daren-thomas commented on #2769
include publishing docker image

[2020-10-28 16:15] #2844 closed

[2020-10-28 16:50] daren-thomas opened #2849 "cea-doc html fails (TypeError: a bytes-like object is required, not 'str')"
Found another thing that doesn't work quite yet. We should test this and the RTD documentation generation. This stems from the py3 port.

[2020-10-29 08:23] daren-thomas opened #2851 "Write a blog post on how I created a plugin for CEA"
- reference your research on this topic.
- focus mainly on the _content_ of your plugin (we already have blog posts explaining the _how-to-plugin_)

[2020-10-29 09:31] daren-thomas commented on #2843
done.

[2020-10-29 09:31] #2843 closed

[2020-10-29 10:53] daren-thomas commented on #2841
@shizhongming would you mind testing this please? https://github.com/architecture-building-systems/cea-grasshopper/releases/tag/v1.1.0

[2020-10-29 10:59] daren-thomas opened #2852 "After merging docker image, change the url used to track master"
For testing purposes, the PR #2850 uses the branch `2834-docker-container-for-remap` to build the image from. Once merged, set this back to using just plain master. This is a chicken-and-egg problem...

[2020-10-29 21:39] nasty-bos commented on #2847
Hi @RolandNemeth. Let me share the workflow I was using to deal with the shapefiles:

1. Start by following this guide: https://cityenergyanalyst.com/blog/2019/12/12/grasshopper-to-cea-part-3-exporting-gh-geometries-to-shapefile
2. Use QGIS to enrich created files from Grasshopper with the coordinate system (in my case, "WGS 1984 UTM Zone 48N" for Singapore) and set the exact location manually.
3.

[2020-11-02 03:49] shizhongming commented on #2841
Thanks @daren-thomas working on it!

[2020-11-02 12:41] martin-mosteiro opened #2855 "KeyError in Thermal network layout tool"
Attemped to run the thermal network layout tool on a case study created from scratch on CEA 3.13.0. The tool does not work at present due to a KeyError:
[code]

[2020-11-02 15:55] shizhongming commented on #2841
I have just completed testing the Grasshopper interface for data management, energy demand, LCA, and solar potentials.
Before I started, I tested CEA and my case study using the command line in the CEA console. Everything worked very well.
For the Grasshopper interface some went through and some did not. The details are as follows.

dbf-excel: worked well
Data-initializer: worked well
weather-help

[2020-11-05 10:16] piotre13 opened #2858 "help in restoring v2.22 flexibility_model functionalities"
I'm quite new to programming world, so I apologize if this question is too silly. I wanted to know if you have any suggestions or ideas on how to restore the flexibility_model module (from the concept version, last version in which it is out of legacy is the v2.22, https://github.com/architecture-building-systems/CityEnergyAnalyst/tree/v2.22/cea/optimization/flexibility_model ).
furthermore i want

[2020-11-06 09:05] daren-thomas commented on #2841
@shizhongming: schedule-maker works for me. does the rhino console output have any hints?

[2020-11-06 09:34] daren-thomas commented on #2841
@shizhongming same for demand script. they work for me.

[2020-11-06 09:56] 89ng opened #2859 "How to estimate energy loads from specific emission system using Energyplus simulation results & modify the energy flow hierarchy for building-level systems"
**Describe the feature you would like to have**
I find many of the cea functions very helpful to plan & try out systems even at the building-level. However, it is extremely hard for me to find out & modify all the corresponding functions & APIs, I would really appreciate some  brief instructions & explanations regarding the following features:
1.	How to estimate energy loads from specific emission

[2020-11-09 13:26] xiaoshir opened #2860 "Having problem in 3.13.0 exe windows installation: No module named 'queue'"
Hi I'm trying to install 3.13.0 using the exe windows installer (Setup_CityEnergyAnalyst_3.13.0.exe) getting from [here](https://cityenergyanalyst.com/try-cea), but ran into an error in the end that says

[code]

See also below for a screenshot.
![image](https://user-images.githubusercontent.com/28433916/98545086-38011a80-2295-11eb-86b6-1fb28c4e5e3a.png)

Note that:
- I didn't check the box for in

[2020-11-10 09:06] daren-thomas commented on #2860
@xiaoshir you raise a good point: a previous installation of CEA actually might be the problem here. Mainly, because two different versions of Python are being installed in the same folder (`CityEnergyAnalyst/Dependencies/Python`).

I suggest you uninstall CEA. make sure the folder `C:\Users\{your-user-name}\Documents\CityEnergyAnalyst` is completely removed. Then try re-installing.

[2020-11-10 09:31] daren-thomas commented on #2859
@89ng we'll look into your questions more closely tomorrow and on Thursday during our bi-weekly sprint meeting. Especially regarding questions 1 & 2.

Regarding question 3: We do have a release of the Grasshopper plugin for Rhino 6. See https://github.com/architecture-building-systems/cea-grasshopper/releases

The level of detail is on the separate scripts, of which demand is just one. So no, thes

[2020-11-11 09:04] shanshanhsieh commented on #2858
@piotre13 the structure of the demand files are still the same, the column names might change a bit since v2.22.

[2020-11-11 09:07] #2858 closed

[2020-11-11 09:49] shanshanhsieh commented on #2859
1. That's a really good idea! The way the code is set up, the cooling load from the RC-model and the cooling load of the emission systems are not calculated seperately. You can find the details in `hourly_prodecure_heating_cooling_system_load.py`.
Maybe you could check the HIVE project: https://github.com/architecture-building-systems/hive, which breaks up the demand and supply calculation into gr

[2020-11-11 09:49] #2859 closed

[2020-11-11 11:03] daren-thomas opened #2861 "Create Workflow for ReMaP / VILLE"
To complete the CEA Docker image for ReMaP / VILLE purposes, we need to specify exactly what (and how) the CEA will be used:

- workflow.yml file of the steps
- a definition of the volumes and what inputs to expect (geometry etc.)
- a (small) plugin to send a notification back to the Simulation Server when the workflow is done
  - what is the HOST/PORT?
  - what should be in the message? (we can p

[2020-11-11 14:30] daren-thomas commented on #2797
fixed by #2856

[2020-11-11 15:00] daren-thomas commented on #2826
fixed in #2826

[2020-11-11 15:11] #2797 closed

[2020-11-11 20:47] 89ng commented on #2859
Thanks a lot, it really helps!

[2020-11-12 01:15] #2826 closed

[2020-11-12 07:08] #2834 closed

[2020-11-12 08:23] #2847 closed

[2020-11-12 08:23] daren-thomas commented on #2847
Closing this issue. @RolandNemeth, feel free to re-open if the proposed solutions don't work.

[2020-11-12 08:30] daren-thomas commented on #2663
@jimenofonseca are you interested in making this plugin? @DavidKayanan seems to have moved on.

[2020-11-12 08:32] daren-thomas commented on #2851
status update: draft session.

[2020-11-12 08:36] daren-thomas opened #2862 "Add a "server" mode to CEA GUI"
Currently the GUI uses the system file open dialog to select the project folder. `cea dashboard` should have an option to just show a drop-down of the `{server:project-root}`.

[2020-11-12 08:49] daren-thomas opened #2863 "Plan a CEA Hackathon"
For December. With a schedule for pair-programming sessions.

[2020-11-12 09:24] daren-thomas opened #2864 "Add feature to workflow script to allow user parameters"
Workflow script should allow user-specified parameters for ReMaP project etc.

Currently, this can be done with environment variables, but obviously for venios, it should also be part of the parameters stuff.

Idea: add a json parameter to the workflow script.

[2020-11-12 09:26] daren-thomas opened #2865 "ReMaP Plugin"
- create a zone.shp file based on gwr building id's
- send ok/error message to a server (alternative: have this as a parameter to the job api, a "callback" url)
- actually, plugin could expose it's own script instead of workflow.yml that just hard-codes the workflow and provides the parameters.

Stuff we can start on right now:

- cea-remap-plugin -- #2865 (should become an epic?)
  - create zone.

[2020-11-12 09:27] daren-thomas commented on #2864
might not be necessary, as it could be implemented as a remap plugin script see #2863.

[2020-11-12 13:00] jimenofonseca commented on #2663
Not immidiately.
Best, Jimeno
On 12 Nov 2020, 16:30 +0800, Daren Thomas <notifications@github.com>, wrote:

[2020-11-18 08:21] daren-thomas opened #2868 "Explore shipping only `.pyc` files with the windows installer"
**Describe the feature you would like to have**
I think we could add a step to `cea-dev build` that removes the uncompiled python files (`*.py`) from all the dependency libraries.

**Describe the end purpose of this feature**
This will allow us to ship a smaller installer as we won't have to ship all the source code to libraries we depend on.

**Describe the end-user of this feature**
All users of

[2020-11-18 09:00] piotre13 opened #2869 "subhourly demand calculation"
dear all,
I'm looking deeply at the cea codes and I wanted to know if in your opinion is it possible to let the demand module run with a different timestep. I've seen that there are parameter setting the timestep such as the constants in _constants.py_ (HOUR_in_YEAR etc..) do you think that if I make some changes to these constants and to some input data the module could work and return results fo

[2020-11-18 09:54] daren-thomas commented on #2869
@piotre13 without checking the source code directly, I assume the following: No. It will not be quite as easy.

If I remember correctly, the demand code has two "levels". A high-level one and a low-level one. You can easily spot the high-level functions as they normally include a `tsd` parameter, which stands for "time step data". The lower-level functions calculate the actual equations for each t

[2020-11-18 14:50] nasty-bos opened #2871 ""Generate new files using input tools" in CEA Dashboard shows inadequate behaviour"
**Describe the bug**
While using Dashboard, CEA doesn't allow to create a new scenario with zone input only. It is missing the surroundings input. Once zone and surrounding inputs are chosen, it shows the same error, but this time it is missing a street file. Therefore, a new scenario is created only if zone, surroundings and street inputs are chosen.

[code]

**To Reproduce**
Steps to reproduce t

[2020-11-18 15:18] daren-thomas commented on #2815
@reyery good job! I think maybe you need to update the estimate on this one?

[2020-11-18 15:34] nasty-bos opened #2872 "Dashboard: Button "Draw" disappears while selecting an area in the map for the zone file"
**Describe the bug**
Button "Draw" disappears while selecting an area in the map for the zone file.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Select an area in the map for the zone file'.
2. Type in a location and click "go".
3. Scroll down to the map and see that there is no button "draw".

**Expected behaviour**
Button "Draw" should be always present on the map.

**Screenshots

[2020-11-19 13:20] martin-mosteiro opened #2874 "Installation guide from the source is outdated"
It seems like the installation guide from the source code wasn't updated after porting to Python 3:
https://city-energy-analyst.readthedocs.io/en/latest/installation/installation-on-windows-manual.html
(Python 2.7 is still listed as a prerequisite)

I think it's a good feature to have such an installation guide - it also gives the best chance for Mac users to try installing on their Macs (even if

[2020-11-20 06:17] reyery commented on #2815
Closed by #2824

[2020-11-20 06:17] #2815 closed

[2020-11-22 02:09] shjiang opened #2876 "Create Buildings that cannot be found on OpenStreetMap"
Dear all,
I'm studying this wonderful software, and it is found that some buildings (remote villages, etc.) cannot be found on the OpenStreetMap. Can anyone tell me how to add buildings to the new scenario in this case?
Thanks a lot!

[2020-11-25 06:22] shanshanhsieh commented on #2861
1. workflow.yml

[code]

2. input :
- list of building coordinates
- weather file (if the user don't have any, we have to use the weather file from our database)

3. return :
- Bxxx_demand.csv
- Total_demand.csv
(we might have to change the format of these files, this can be defined later)

[2020-11-25 06:24] shanshanhsieh commented on #2861
the weather file thing could be one step inside the ReMaP plug-in.
we can add some more weather files from Switzerland, and choose the weather file from stations that is the closest to the site.

[2020-11-25 06:45] shanshanhsieh commented on #2855
@martin-mosteiro  not sure if it is related, there is a known error with the precision and only a manual solution so far: see #2786

[2020-11-25 07:01] shanshanhsieh commented on #2863
I think we could tackle the GUI related issues in December 2020, the rest in January 2021.

GUI related issues:
1. using `schmas.yml` to modify inputs #2749 , #2825 *Driver:* @shanshanhsieh
2. database editor #2572, #2825, #2758 *Driver:*
3. delete scenario in GUI #2811 *Driver:* @daren-thomas
4. create scenario #2872, #2871 *Driver:* @nasty-bos

Coding related topic:
1. How to check if all the co

[2020-11-25 07:48] daren-thomas opened #2877 "ReMaP: Create a zone.shp based on a list of building coordinates (GWR?)"

[2020-11-25 09:18] daren-thomas commented on #2861
Stuff we can start on right now:

- cea-remap-plugin
  - create zone.shp based on gwr building id's
  - collection of weather files for Switzerland (include projected files? 2050?)
  - figure out closest weather file to zone.shp middle point

`cea remap --buildings 1001 1002 1003 1004 [...] --retrofit-scenario xyz --weather-scenario xyz --urban-development-scenario xyz`

- NOTE: the databases migh

[2020-11-25 09:20] shanshanhsieh opened #2878 "ReMaP: Collect weather files"
- Collect weather files from

[2020-11-25 09:23] shanshanhsieh opened #2879 "ReMap: determine the closest weather station to a building"

[2020-11-25 09:29] shanshanhsieh opened #2880 "Remap: program retrofit scenarios"
Based on a zone.shp file, update the `input/building-properties` folder to reflect the ReMaP/VILLE retrofit scenario.

TODO: specify what files actually get changed and how? (or do we use `archetypes-mapper`?)

[2020-11-25 09:30] shanshanhsieh opened #2881 "Remap: program urban development scenario"
Figure out which databases need to be updated in `inputs` for a given `zone.shp` and `urban-development-scenario` choice.

How do we handle densification???

[2020-11-25 09:32] daren-thomas commented on #2841
@shizhongming can you please check again? does it work for you now? do you see any output in the Rhino console log?

[2020-11-25 09:34] daren-thomas commented on #2860
@xiaoshir - did you get this to work? If not, please comment - we will otherwise close this issue (for now) tomorrow.

[2020-11-25 09:34] daren-thomas commented on #2808
@reyrey what is the status of this issue?

[2020-11-25 09:35] daren-thomas commented on #2855
@martin-mosteiro do you have a status update for the CEA planning session tomorrow?

[2020-11-25 09:36] daren-thomas commented on #2861
@daren-thomas, map this information onto the sub-issues, create epic and then close.

[2020-11-25 09:38] daren-thomas commented on #2851
@lguilhermes, soooo looking forward to the blog post demo tomorrow :)

[2020-11-25 09:41] martin-mosteiro commented on #2855
@daren-thomas As of right now, no – But I'm doing some testing right now and hopefully have an update by tomorrow!

[2020-11-25 09:50] daren-thomas commented on #2862
Alternative idea: The dropdown for project selection should be the default, and only show the open-file-dialog button when not in "server" mode.

Same goes for creating a new project (default: just a text-input, whitelist valid folder characters)

[2020-11-25 09:50] daren-thomas commented on #2864
closing as not necessary right now

[2020-11-25 09:50] #2864 closed

[2020-11-25 09:51] daren-thomas commented on #2865
@daren-thomas make this an "epic", set the other issues as dependencies.

[2020-11-25 09:57] daren-thomas commented on #2872
This happens for me too! Clicking somewhere close to where the button should be can make it show up again. According to @shanshanhsieh zooming in and out can also help.

[2020-11-25 09:58] daren-thomas commented on #2872
quick-fix: add a warning on the side?

[2020-11-25 10:01] daren-thomas commented on #2876
Basically, you'll need to create your own zone.shp file - using ArcGIS or QGIS or similar software, making sure to save it in the right map projection. Maybe use a similar shapefile based on buildings you _can_ select in open street maps as a starting point?

[2020-11-25 10:03] daren-thomas commented on #2877
@nasty-bos do you have access to the database? Could you help me getting started on this?

@reyrey I heard you have a new branch for your GWR plugin that might be interesting for me. Would you mind sharing?

[2020-11-25 10:06] daren-thomas commented on #2878
@nasty-bos, this is what we probably need in a first step:

- list of weather stations (and location?) for Switzerland
- for each weather station, one weather file per weather-scenario we'd like to be able to compute
- (the weather station location is probably encoded in the epw file, so no need to do that separately)

[2020-11-25 12:09] martin-mosteiro commented on #2855
After repeating the steps I followed last time on the same area I analyzed back then (plus two others), I haven't been able to replicate the issue. So I'm closing it.

[2020-11-25 12:09] #2855 closed

[2020-11-25 12:14] martin-mosteiro commented on #2876
@shjiang This resources might help:
1. You might want to create your geometries on geometry and export them to shapefiles for use in CEA: [link](https://cityenergyanalyst.com/blog/2019/12/12/grasshopper-to-cea-part-3-exporting-gh-geometries-to-shapefile)
2. Or perhaps draw your geometries on your prefer CAD software and manually create your shapefiles using GIS software: [link](https://cityenergya

[2020-11-25 12:38] nasty-bos commented on #2872
yes, these tricks work for me too

[2020-11-26 03:42] shizhongming commented on #2841
@daren-thomas apologies for the delay and I was on some deadline....
I ran the testing again. This time includes the network-layout and optimization. Still, all is well except the schedule-maker and demand. I tried them several times and each time returned the same problem.

schedule-maker can generate all the outputs but won't end the execution. The Rhino console is as follows.
![schedule-maker](

[2020-11-26 07:41] daren-thomas commented on #2841
@shizhongming are you running the newest version of CEA?

[2020-11-26 07:52] shizhongming commented on #2841
@daren-thomas I was using the CEA installed around 4 weeks ago...probably not...let me reinstall to have a try

[2020-11-26 08:10] #2849 closed

[2020-11-26 08:13] #2860 closed

[2020-11-26 08:21] daren-thomas opened #2882 "Write a blog article on how to add your own building geometries to a scenario"

[2020-11-26 08:24] daren-thomas commented on #2861
epic is created. closing this issue.

[2020-11-26 08:24] #2861 closed

[2020-11-26 08:31] daren-thomas commented on #2851
Status update: This is in the making. Some final touches needed before peer review.

[2020-11-26 08:58] daren-thomas commented on #2879
@emanuel030 did something similar and @lguilhermers has the code. Be sure to check this before you start!