[2019-04-10 02:18] JIMENOFONSECA opened #1870 "dashboard settings not working for CAPEX vs OPEX dashboard, and potentially more."
I basically open the dashboard and get as default this plot:

![chrome_hcGcPyY0lr](https://user-images.githubusercontent.com/8973186/55846805-9c1fa200-5b79-11e9-840a-2abab480eb71.png)

1. I then open the settings and see several variables that do not have anything to do with the plot
i.e., detailed electricity pricing, multi-criteria, network-type, region.

2. In addition, if I either save changes

[2019-04-10 02:19] JIMENOFONSECA commented on #1870
@daren-thomas this behavior also happens in the 'Capacity installed in generation 2 plots'

[2019-04-10 02:42] JIMENOFONSECA commented on #1695
Closing it, there was PR already merged about this

[2019-04-10 02:46] JIMENOFONSECA opened #1871 "Region parameter should not be passed to all scripts"
The 'region' parameter should just be used by the 'data helper method'. The later should also create the default databases in a scenario basis.

In this way, CEA will refer only to the databases that are inside each scenario to do any calculation. This makes more sense than passing the region parameter throughout all CEA. It is becoming something like the global variable parameter (avoid at all co

[2019-04-10 08:10] daren-thomas commented on #1871
That's a good plan! This would mean that the databases created by the data-helper are not stored in subdirectories (CH, SG, custom) as they are now, but instead just in the databases subfolder of the scenario, so that the inputlocator can find them without the region parameter!

[2019-04-10 08:14] daren-thomas commented on #1695
@JIMENOFONSECA re-opening. What PR do you mean? The RegionParameter has not been implemented as far as I can tell. `default.config` still lists it as a ChoiceParameter, effectively hardcoding the valid list of regions the CEA knows about.

Maybe I'm missing some of the discussion here?

[2019-04-10 09:25] daren-thomas commented on #1868
Ugh! You're right! That's so stupid. And so DOS era... I'll figure out something.

[2019-04-10 09:26] daren-thomas commented on #1869
Does this hold for other plots too? (Is it a problem with the dashboard implementation of plots or just the EnergyBalancePlot?)

[2019-04-10 09:27] daren-thomas commented on #1870
Ah. I think I've noticed this two. I think I'm going to spend this afternoon going after these issues.

[2019-04-10 09:34] daren-thomas commented on #1069
@Jack-Hawthorne I suggest you:

- create separate issues for each of the TODOs mentioned above.
- also separate issues for the scripts yet to run.
- please create a pull request of your work so far

I'm promoting this issue to an epic and will add the new issues to that epic.

Thank you :)

[2019-04-10 09:37] daren-thomas commented on #1865
@Jack-Hawthorne please expand on the issue description. I do not quite understand your point.

(how?)

(specifically what data and why would i want to delete any?)

[2019-04-10 09:44] JIMENOFONSECA commented on #1869
yep. I just tired with the EnergyDemand plot. the same problem. It seems to be systematic...

[2019-04-10 09:56] JIMENOFONSECA commented on #1871
Exactly!, @gabriel-happle will give me a hand tomorrow afternoon, so we have this refactoring ready as soon as possible. This should also help to have the 'settings' part of the plots more clean...

[2019-04-10 10:00] JIMENOFONSECA commented on #1871
@daren-thomas I willll locate the databases in this directory ......'scenario'/inputs/techno-economics/archetypes etc. would that work?

Would the name 'techno-economics' differentiate these types of databases from let's say the 'building-properties' databases or the 'building-geometry' databases?

[2019-04-10 10:07] JIMENOFONSECA commented on #1695
oh, sorry, I saw one PR was merged attached to this issue…

but, maybe we do not need the region issue anymore sisnce we are going to move it only to the data helper..

[2019-04-10 10:21] daren-thomas commented on #1871
so... remove the `databases` folder from scenarios? fine by me. i'm not sure about the term `techno-economics`. Is that a real word? also, if you're going to move the files around, they don't really have to all end up in the same folder - say, because before the idea was "databases", maybe each of the files could belong somewhere else? hm... just checked. i don't know. we could also just call it `

[2019-04-10 10:22] daren-thomas commented on #1871
also, please add a script, maybe to the `bin` folder that can convert an existing scenario to the new format.

[2019-04-10 10:23] daren-thomas commented on #1871
(this will also mess with @Jack-Hawthorne 's work on the input data documentation)

[2019-04-10 10:33] daren-thomas commented on #1869
ok. thank you for the clarification. i'll start working on that once the caching PR is merged.

[2019-04-10 14:43] daren-thomas commented on #1827
I can't reproduce this. I'm following the exact steps.

@shanshanhsieh were you testing on your computer? Could you try doing this in a python shell: `os.path.expanduser('~/cea.config')` - is that a local file on your computer?

[2019-04-11 03:35] shanshanhsieh commented on #1855
@emanuel030 how's the status for this?
if you had identified that the bottleneck is in thermal calculation, it is possible to modify the script and only run for hydraulic losses.

[2019-04-11 08:13] JIMENOFONSECA opened #1873 "Daysim broken in master"
So it got broken since we enabled Linux machines to use CEA. a few PR's ago.

you can solve this issue by doing:

1. open anaconda prompt
2. do activate cea
3. do pip install -U --no-cache git+https://github.com/chenkianwee/py4design

@daren-thomas is helping us to have a permanent solution to this issue

[2019-04-11 09:20] daren-thomas opened #1875 "Fix the link to "How to document the CEA""
In the [tutorials for developers section of the CEA documentation](https://city-energy-analyst.readthedocs.io/en/latest/tutorials.html#for-developers) the link to `how-to-document-cea` is not working. This needs to be fixed.

[2019-04-11 11:10] #1875 closed

[2019-04-11 13:05] daren-thomas commented on #1869
I just tried with your example (Energy Balance Plot):

- create new Dashboard
- first plot: Energy Balance Plot for Building 001
- second plot: Energy Balance Plot for Building 002
- notice how the two plots show different values (the difference is rather small, but hovering over the values will show it)

- yes, when selecting all buildings, there _is_ a quirky behavior of the title being "Energy

[2019-04-11 13:19] daren-thomas commented on #1869
![image.png](https://images.zenhubusercontent.com/57b40957e40e5714b16d7331/9bec8534-6741-4a9a-8140-cd6416a6bad1)

The reason for this behavior is that this particular plot only works for one building - the first in the list.  I think I can update the code to work with multiple buildings...

[2019-04-11 15:55] daren-thomas commented on #1869
See [PR 1880](https://github.com/architecture-building-systems/CityEnergyAnalyst/pull/1880) for a fix to this specific issue (there are other issues, namely #1868, #1870 that I still need to check once this has been merged).

[2019-04-12 01:43] gabriel-happle commented on #1835
@martin-mosteiro only AC systems 'create' latent loads in the CEA. If there is no system to remove humidity, there is no latent load in the calculation.
Does it answer your question?
If you want latent loads to be covered we need to create a kind of `3for2` system for cooling. I.e., with outdoor air units, air recirculation units and sensible cooling units.
We can do that. We just have to come up

[2019-04-12 02:48] JIMENOFONSECA opened #1881 "Demand calculation B07 problematic"
@martin-mosteiro @gabriel-happle I think you guys changed the open case study to include servers. Which is great.

However,  there is a problem.. Building 07 is registering a E_sys_kWh (all electrical system end-demand) that does not consider the cooling demand (of the servers) converted into electricity.

Moreover, the energy supplied by the GRID kWh is 0!, despite the supply system being T1 = el

[2019-04-12 03:03] #1871 closed

[2019-04-12 03:03] #1849 closed

[2019-04-12 03:20] JIMENOFONSECA commented on #1658
being fixed in #1880

[2019-04-12 03:30] JIMENOFONSECA commented on #1834
@martin-mosteiro @FionaCollins would you mind explaining what the issue is and how it reflects in the plots? Advice on what to modify would be welcome.

[2019-04-12 03:31] JIMENOFONSECA commented on #816
@adam-rysanek any news on the publication?

[2019-04-12 07:53] daren-thomas commented on #1658
@JIMENOFONSECA specifically the energy supply plot is _not_ addressed in #1880. This is a separate issue.

[2019-04-12 08:01] JIMENOFONSECA commented on #1658
@daren-thomas I added it to that, it was a quite simple problem to solve in that PR. It was the same problem with the Energy Demand plot

[2019-04-12 08:16] daren-thomas commented on #1658
Yeah, I just saw that and came here to update my comment :) thank you!

[2019-04-12 08:36] daren-thomas opened #1882 "Add tabular data to plots shown in the Dashboard"
The `cea plots` command (and relatives) included tabluar data as part of the output. While porting the plots to the dashboard, these tables have been dropped. They need to be re-added.

Ideally, re-adding the plots does not use the plotly interface for creating tables as those are a lot harder to style nicely than, say, outputting html tables with css - which is very easy to do with flask and jinj

[2019-04-12 08:42] martin-mosteiro commented on #1835
@gabriel-happle Thanks for the feedback. I know that's the case on CEA, the question was more whether that's a feasible system setup. I would assume the ventilation systems would need to take care of some latent load?

[2019-04-12 09:52] JIMENOFONSECA commented on #1736
@billpoon12138 we just updated the environment and included instructions to run CEA in linux. let us know if we can close this issue

[2019-04-12 09:55] JIMENOFONSECA commented on #1701
@martin-mosteiro want to add this to CEA still?

[2019-04-12 09:56] JIMENOFONSECA commented on #1695
@daren-thomas alright, we are not using the region parameter anymore since PR #1878

[2019-04-12 09:56] #1695 closed

[2019-04-12 09:57] JIMENOFONSECA commented on #1686
This should go for the executive course, I am increasing the priority to this.

[2019-04-12 09:57] martin-mosteiro commented on #1834
@JIMENOFONSECA The top plot posted by Fiona says "District heating for space heating demand". This is itself not a very clear statement.
- Do we mean the amount of heat the district heating network is supplying to the buildings? Then the two should be equal ("District heating for space heating demand"="End use space heating demand" from the bottom plot). They're not.
- Do we mean the amount of exe

[2019-04-12 09:58] JIMENOFONSECA commented on #1685
Updating this for the executive course

[2019-04-12 10:00] JIMENOFONSECA commented on #1647
@gabriel-happle do you need more 'error messages' and assertion tools for that besides those added to the new project tool, the optimization, and the radiaton tool? if so maybe we can close this issue and open new ones, should a problem occur?

[2019-04-12 10:01] JIMENOFONSECA commented on #1639
@shanshanhsieh is this still the case? We got rid of the region parameter and we did not noticed it while at it

[2019-04-12 10:01] JIMENOFONSECA commented on #1636
solved in issue #1858

[2019-04-12 10:01] #1636 closed

[2019-04-12 10:05] JIMENOFONSECA commented on #1616
@daren-thomas is this still a should have? if not maybe we can assign it lower priority or close it?

[2019-04-12 10:05] #1578 closed

[2019-04-12 10:05] #1568 closed

[2019-04-12 10:07] JIMENOFONSECA commented on #1513
@shanshanhsieh do you think we can/should use this feature for the executive course?

[2019-04-12 10:08] JIMENOFONSECA commented on #1492
This issue was covered during the executive course of Jul 2018

[2019-04-12 10:08] #1492 closed

[2019-04-12 10:08] JIMENOFONSECA commented on #1491
I removed it in the last PR #1871

[2019-04-12 10:08] #1491 closed

[2019-04-12 10:12] JIMENOFONSECA commented on #1477
closing, the economics database does not exist anymore/was refactored some time ago

[2019-04-12 10:12] #1477 closed

[2019-04-12 10:15] JIMENOFONSECA commented on #1475
@daren-thomas closing, I believe this was removed while we removed the region parameter and the copy databases tool was added to the datahelper

[2019-04-12 10:15] #1475 closed

[2019-04-12 10:15] JIMENOFONSECA commented on #1469
this was fixed during the exectuive course of 2018

[2019-04-12 10:15] #1469 closed

[2019-04-12 10:16] Jack-Hawthorne opened #1883 "Optimization script AttributeError: not configured for detailed-electricity-pricing"
I am trying to run a stripped down version of the optimization script for documentation purposes. See below:
[code]
Looks as though it arises when moo_optimization is attempting to use the detailed-electricity-pricing parameter as an argument for LcaCalculations

[2019-04-12 10:17] JIMENOFONSECA commented on #330
It was decided to use minimum solar irradiation per year. It is available in the current CEA version

[2019-04-12 10:17] #330 closed

[2019-04-12 10:17] martin-mosteiro commented on #1701
@JIMENOFONSECA I still think it'd be useful, but it's not a priority for me.

[2019-04-12 10:17] JIMENOFONSECA commented on #1021
@shanshanhsieh are you planning to do this in the next year, if not please close. I am adding this to known issues

[2019-04-12 10:19] JIMENOFONSECA commented on #979
Closing, since that level of detail is not needed for our simulations at the moment.

[2019-04-12 10:19] #979 closed

[2019-04-12 10:20] JIMENOFONSECA commented on #964
It runs since the PR #1747

[2019-04-12 10:20] #964 closed

[2019-04-12 10:22] #948 closed

[2019-04-12 10:22] JIMENOFONSECA commented on #940
@shanshanhsieh is this still the case?, if not maybe we can close it?

[2019-04-12 10:23] Jack-Hawthorne commented on #1883
@daren-thomas you were working on these LcaCalculation invocations a few weeks ago, is it an easy fix? Similar to decentralized, I cannot run the trace for optimization without it working for either the baseline or WTP_CBD_h scenarios.

[2019-04-12 10:25] JIMENOFONSECA commented on #1041
@shanshanhsieh should we close this?

[2019-04-12 10:27] JIMENOFONSECA commented on #1753
closing, it is a duplicate of #1855

[2019-04-12 10:27] #1753 closed

[2019-04-12 10:28] #1634 closed

[2019-04-12 11:38] daren-thomas commented on #1616
@JIMENOFONSECA please keep it.

[2019-04-12 11:42] daren-thomas commented on #1647
@JIMENOFONSECA @gabriel-happle, we have been working on this with @Jack-Hawthorne: a collection of the schema (and datatypes) of input files needed for scripts to run. The way the new project tool (and others) check the input data is ad-hoc and useful for some specific cases like checking geo stuff and tiff stuff. Given the meta-data we have collected (and are still collecting) we can provide a de

[2019-04-12 17:56] martin-mosteiro opened #1884 "CEA can't process leap years"
The measured weather data for Zurich from 2016 in the CEA database is 8784 hours since it was a leap year,  but in CEA the length of a year is hard-coded as 8760. So the `Zurich-2016.epw` is currently unusable. I think the most consistent solution is to keep a "standard" length of a year at 365 days (for consistent comparisons) and skip the extra day in leap years.

[2019-04-14 10:47] martin-mosteiro opened #1886 "'E_cdata' is not actually calculated anywhere"
The electricity demand to cool data centers is included in the CEA results, but it is never actually calculated in the code. See below:
[code]
If there is no data center in the building, then the demand is set to 0, but none of the scripts in the first part of the "if" statement actually calculates `tsd['E_cdata']`. So if there is a data center, this column in the csv file will be left blank.

[2019-04-14 10:48] martin-mosteiro commented on #1886
This is caused by a typo in `calc_Qcdataf`, where this variable is called `'E_data'` instead of `'E_cdata'`

[2019-04-14 10:52] martin-mosteiro commented on #1886
Solved by PR #1887

[2019-04-14 10:52] martin-mosteiro commented on #1884
Solved by PR #1885

[2019-04-15 06:25] #1736 closed

[2019-04-15 06:26] billpoon12138 commented on #1736
@JIMENOFONSECA Thanks for your reply and update, and it works very well now.

[2019-04-15 14:01] martin-mosteiro commented on #1881
@JIMENOFONSECA Due to a typo (see issue #1886) the electricity demand for cooling server rooms wasn't actually being calculated anywhere, so
- if Edata=0, E_cdata=0 and GRID = E_sys+...+E_cdata=a number
- but if Edata>0, E_cdata=NaN and GRID=E_sys+...+E_cdata=NaN
PR #1887 solves this issue.

[2019-04-15 17:41] martin-mosteiro opened #1888 "Databases are no longer copied by default?"
Running a demand simulation on a case study with no databases. I do not want to run the data helper since I am working with parameters provided by the user. I get the following error:
[code]
Shouldn't the databases be copied to the case study when they are not available in the given folder?

As a workaround, I copied the databases from the CEA repository to the case study, but the folder structure

[2019-04-15 23:02] JIMENOFONSECA commented on #1888
Nop. They are generated now with the data helper.

@channel IMPORTANT UPDATE. We erased the region parameter from general settings in CEA. This led to erasing the automatic copying of default databases (which was a hack). Now, you need to run the data helper with the category “technology”. This will copy the databases to your scenario. CEA will use the location inputs/technology to look for defaul

[2019-04-16 01:27] shanshanhsieh opened #1889 "plot-supply-system not running"
The function `preprocessing_generation_data` in `cea\plots\supply_system\main.py` is not updated with the new names
this function is similar to `preprocessing_generation_data` in `cea\analysis\multicriteria\main.py`, and update the column names, but they are not exactly the same

[2019-04-16 03:50] shanshanhsieh commented on #1889
once fixed, this should be added to the `cooling-case-workflow`

[2019-04-16 07:36] JIMENOFONSECA commented on #1858
@daren-thomas Many thanks for your comments, they were quite useful.
The final Blog article is here:

https://cityenergyanalyst.com/blog/2019/4/5/speedinguppart1

[2019-04-16 07:36] #1858 closed

[2019-04-16 08:26] Jack-Hawthorne commented on #1883
this looks to be resolved with pr #1878

[2019-04-16 08:26] Jack-Hawthorne commented on #1883
closing issue

[2019-04-16 08:27] #1883 closed

[2019-04-16 09:20] martin-mosteiro commented on #1888
Thanks for the clarification!

[2019-04-16 09:20] #1888 closed

[2019-04-16 10:03] reyery opened #1890 "Daysim error when username has a whitespace"
Did a fresh installation of CEA following the steps indicated in the docs (https://city-energy-analyst.readthedocs.io/en/latest/installation-on-windows.html) and was not able to run Daysim.

[code]

I noticed that this is related to issue #1709
After debugging, I found out that the program was trying to execute:
[code]
The space in the first directory parameter due to the username definitely messe

[2019-04-17 02:23] shanshanhsieh commented on #1833
the documentation is included in PR #1837
and the naming stays the same for now

[2019-04-17 09:21] daren-thomas commented on #1890
hey @reyery! welcome!

ugh! that's an annoying bug to run into. In the end, what I think we need to do is update the `py4design.py2radiance` library to shell out properly - and also check to see if the programs ran correctly. basically, the workflow is to fork that repo, make the fixes and then create a pull request for @chenkianwee to merge to his master. he will also need to update the version n

[2019-04-17 14:40] daren-thomas opened #1891 "Update documentation on how to create documentation to include inputs / outputs"
The PR #1877 updates the script `cea trace-inputlocator` to trace input / output files of a script. The PR has a good summary of how to run it and what to expect. This issue concerns two minor missing points:

- update the documentation on rtd to include build instructions for the viz stuff
- automate the steps described in the PR comments:
  - copy all the viz files and dump them in CityEnergyAna

[2019-04-17 15:06] daren-thomas opened #1892 "Icons for CEA"
For the upcoming installer, I need some Icons for the CEA

- multiple resolutions (16x16, 32x32 at least)
- will end up for installer.exe, menu shortcuts, CEA Console (yep. figured that out. it's a thing)

[2019-04-18 02:53] shanshanhsieh commented on #1513
Solar thermal + cooling is not more competitive than PV + vapor compression chillers at building levels
(in terms of price, efficiency, space, maintenance...)
in my opinion, it is more worth exploring in industrial sites that requires heating, and can use absorption chillers to leverage the excess heat production from solar thermal collectors...

[2019-04-18 04:54] shanshanhsieh opened #1893 "Add a guide on how to modify CEA optimization"
Specify places in the CEA supply system optimization script to change to
- add new variables
- add new objectives

[2019-04-18 06:22] JIMENOFONSECA commented on #1513
Alright so it is out and we leave it for future work.

[2019-04-18 06:34] gabriel-happle commented on #1835
@martin-mosteiro I see, you want to control the ventilation system according to humidity. Well, that doesn't exist yet, but I'm sure it can be done.
Right now the ventilation system is supplying the required ventilation rate according to occupancy with the special rules of night flushing and economizer.
Should we add this kind of control? I.e., increase the ventilation rate according to relative h

[2019-04-18 06:35] shanshanhsieh commented on #1826
i made a short guide that explains:
- objectives & variables
- and links to workflow & files generated by cea
https://github.com/architecture-building-systems/CityEnergyAnalyst/blob/i1826-document-optimization-in-CEA/docs/how-to-run-CEA-optimization.rst

[2019-04-18 06:38] gabriel-happle commented on #1881
Thanks @martin-mosteiro for taking care of this!

[2019-04-18 07:15] daren-thomas opened #1894 "Remove creation of the conda environment for running the Jenkins scripts"
I think that might have gotten re-added with the last merge. I'll need to investigate.

[2019-04-18 07:28] daren-thomas commented on #1873
Besides the py2radiance stuff (which is just basically calling out to daysim, right?) - what other stuff are we using from py4design?

We recently saw a demonstration of the COMPAS project being developed at BRG and other ITA chairs and... that would let us do geometry stuff without having to include OCC/pyOCC, which is a tricky dependency of py4design. And they have more manpower to maintain. I w

[2019-04-18 07:57] JIMENOFONSECA commented on #1890
@reyery glad you are in. I follow @daren-thomas suggestion, the best is to directly fix the issue, and make a pull request (PR) to the repository owner. We happen to know him, he is a CEA Alumni :-)

[2019-04-18 08:00] #1869 closed

[2019-04-18 08:01] #1658 closed

[2019-04-18 08:14] JIMENOFONSECA commented on #1873
It could make sense, BUT, this will not be a priority until the Interface and the installer be complete

[2019-04-18 08:27] #1886 closed

[2019-04-18 08:27] #1884 closed

[2019-04-18 08:27] martin-mosteiro commented on #1881
This issue **should** be solved now, but I haven't actually checked. Would make sense to run the open case again and check the results.

[2019-04-18 08:29] #1703 closed

[2019-04-18 08:41] martin-mosteiro commented on #1855
@shanshanhsieh Running the simulation without multiprocessing solves the issue... it just takes a very long time. As suggested, skipping the thermal calculation could be a workaround for this specific case.

However I wonder if there's a way to make this simulation less time consuming through parallelizing or other tricks up @daren-thomas's sleeve?

[2019-04-18 08:41] reyery commented on #1890
Thanks for the welcome!

Ah yes. Noted.

I have just submitted a pull request to the `pydesign` repo with the minor fix and the fix seems to be working on my desktop now, Daysim is now running.

[2019-04-18 08:52] shanshanhsieh commented on #1639
there is no region parameter in that script now

this is how it looks like:
![image](https://user-images.githubusercontent.com/16998305/56349002-3cb93600-61fa-11e9-989d-577343184be7.png)

[2019-04-18 08:58] #1859 closed

[2019-04-18 09:01] daren-thomas commented on #1513
Reopening as the issue is not closed, but rather deferred. Maybe we need a label for this kind of issue? ("closed" means we won't be revisiting this ever again...)

[2019-04-18 09:06] JIMENOFONSECA commented on #1881
yes we can close it now. PR #1887 solved it.

[2019-04-18 09:06] #1881 closed

[2019-04-18 09:14] #1684 closed

[2019-04-18 09:19] #1827 closed

[2019-04-18 09:19] daren-thomas commented on #1827
Closing as not reproducible.

[2019-04-18 09:32] daren-thomas commented on #1855
Running this from the command line (CEA Console) might work better than from PyCharm...

[2019-04-18 09:35] #1841 closed

[2019-04-18 09:39] daren-thomas commented on #1873
We wait a week to see if kianwee was on vacation.

[2019-04-18 09:53] daren-thomas commented on #1862
let's make the projection a separate issue

[2019-04-18 09:56] daren-thomas commented on #1891
also, find a better place to put this: https://city-energy-analyst.readthedocs.io/en/latest/script-input-outputs.html

[2019-04-18 10:06] daren-thomas opened #1896 "Blog entry for Milestone M2.13"
The Blog should be about how to use Grasshopper and CEA. Potentially, only about creating the Zone.shp file and the occupancy and age files. The rest (district, streets, terrain) can be done with the blog published in M2.12

[2019-04-18 10:32] JIMENOFONSECA commented on #1890
Hi @reyery btw, if you have time, please take a look at issue #1813. This could be our first work together with CEA.  Let me know your thoughts on that issue and if you need more info

[2019-04-18 10:36] JIMENOFONSECA commented on #1642
This was fixed in PR's #1851 and #1849

[2019-04-18 10:36] #1642 closed

[2019-04-18 11:49] gabriel-happle opened #1897 "Blog Post: “Getting Started with your own project” Guide"
Based on the findings of the 1st CEA user survey, we conclude that there is a comprehensive guide/documentation needed about setting up a new project in CEA from scratch.

This should be addressed in a blog post that also features the new interface and new tools currently in production.

[2019-04-18 11:50] gabriel-happle commented on #1847
New issue #1897 created from the findings of the survey.

[2019-04-18 11:50] #1847 closed

[2019-04-18 11:52] gabriel-happle commented on #1848
Todo:
- refine research areas
- add more CEA tools
- add an option for mechanical engineering background

[2019-04-18 12:13] reyery commented on #1890
@JIMENOFONSECA sure no problem, will definitely look into that.

[2019-04-18 17:51] martin-mosteiro opened #1898 "Yearly plot for district solar technologies graphs don't display any results"
I did the following:

1. Ran the PV, PVT, FP and ET potential scripts
2. Ran `main` from `cea.solar_technology_potentials`

The following graph is created:
![before](https://user-images.githubusercontent.com/18548065/56380569-cf65cf00-6212-11e9-99b8-4008481d04da.png)

I tried deleting the five instances of `visible='legendonly',` in `cea.solar_technology_potentials.all_tech_yearly` and the graph l

[2019-04-18 21:33] chenkianwee commented on #1873
Hi sorry for not responding quickly. I would suggest using the honeybee module from the ladybug library. It is actively under development and have a huge community using it compared to my library which is just developed by me, so I don't think it is necessary to wrap daysim urself. (https://www.ladybug.tools/) Ya I agree with daren regarding the geometry engine, PythonOCC is a very tricky dependen

[2019-04-23 09:01] daren-thomas commented on #1873
@chenkianwee is there a way we could help py4design? the parts we are mainly interested in are in py2radiance. i'm a bit hesitant to incorporating it directly into the CEA because of licensing issues (the GPL license makes this hard even if we were to rewrite most stuff)

Otherwise, we could fork? Would you be ok with that?

[2019-04-23 14:16] chenkianwee commented on #1873
@daren-thomas I am fine with you forking it, I am glad you can build upon my codes.

[2019-04-23 14:27] martin-mosteiro opened #1901 "Ensure there is at least one occupant per building function"
The case study in Almere includes some unorthodox homes that are single-occupant lofts of 14 m2. Since the area is less than the assigned area for a single-family home according to the CEA archetypes, there are no occupants all year round. Hence the cooling systems are never turned on and the building overheats in summer.

This could be solved by adapting the occupancy schedule such that each use

[2019-04-23 14:31] martin-mosteiro opened #1902 "Add Dutch weather file to CEA"
The case study in Almere required the creation of new archetypes for the Netherlands. These should be added along with the weather file for Lelystad, to be used for the Almere case study.

[2019-04-23 15:07] martin-mosteiro commented on #1902
Since the archetypes are actually not full archetypes, these will rather be kept in the "technology" folder of the case study in the case study repository. The weather file will however be added to the CEA databases.

[2019-04-23 15:11] martin-mosteiro opened #1904 "Add humidity control for ventilation in buildings with radiant cooling"
As discussed in issue #1835, airtight buildings with radiant cooling are very uncomfortable:
![image](https://user-images.githubusercontent.com/18548065/56592302-b2eadd80-65ea-11e9-868d-90ff7d21b2bf.png)
This is due to these buildings having no form of humidity control. When humidity limits are exceeded, the ventilation systems should adjust accordingly.

[2019-04-23 15:12] martin-mosteiro commented on #1835
The humidity control part of this issue will be taken care of at a later time (#1904). For now, the floor cooling systems have been implemented and tested, so I will create a PR for this issue.

[2019-04-23 15:13] martin-mosteiro commented on #1901
Taken care of in PR #1903

[2019-04-23 23:44] JIMENOFONSECA commented on #1873
Sorry to put the brakes in here, but unless this fork, and publishing this fork /ammendments takes just 1 day, includng future maintenance. I would prefer if Chianwee can just publish in pypi the master version of py4design. Which will solve our inmediate issues.

We have many other things with top priority in the pipeline and should not loose focus at any point in time.

Chianwee, i appreciate yo

[2019-04-24 07:21] JIMENOFONSECA opened #1907 "Improve guide to start a project with CEA"
Based on recent changes to the tool, we need to reflect this into the documentation

[2019-04-24 09:29] #1902 closed

[2019-04-24 09:31] #1853 closed

[2019-04-24 14:24] chenkianwee commented on #1873
@JIMENOFONSECA so all i need to know is the commit it to PYPI ? If that is the case I just uploaded it, version 0.27 . Sorry for the delay, I must have gotten lost from the messages. Hope it solves your problem.

[2019-04-24 16:45] shizhongming commented on #1892
![16](https://user-images.githubusercontent.com/16640327/56677513-e3b23c00-66ea-11e9-8c1a-9401fcc20f17.png)
![32](https://user-images.githubusercontent.com/16640327/56677514-e44ad280-66ea-11e9-8241-038554384846.png)
![128](https://user-images.githubusercontent.com/16640327/56677515-e44ad280-66ea-11e9-9ab5-9e09b094cb82.png)
![256](https://user-images.githubusercontent.com/16640327/56677518-e44ad280

[2019-04-24 22:11] justinfmccarty opened #1909 "Fresh Install Issues"
Hello there,

I am attempting to install CEA following steps 1-10 with fresh Pycharm, cloned repository, fresh Daysim 4.0, but have been hung up on this error:
[code]
Following this I have tried to continue in the process:
[code]

Any advice would be greatly appreciated.

[2019-04-25 06:31] JIMENOFONSECA opened #1911 "More friendly EXIT message when quiting the dashboard"
![image](https://user-images.githubusercontent.com/8973186/56714241-cd49c600-6766-11e9-857e-69244bedb444.png)

[2019-04-25 06:33] JIMENOFONSECA commented on #1909
Hi @justinfmccarty would you mind trying our new all-in-one-step installer? #1908

Let us know if this works for you!

[2019-04-25 07:13] justinfmccarty commented on #1909
@JIMENOFONSECA, the installer seems to have worked. About 20 minutes with the developer option checked. I was able to launch the dashboard (looking great) and migrate to the project we have created for one of our Vancouver test zones. The geometry appeared and everything looked right. There was an error when I launched the dashboard though:
[code]

I had to manually open http://localhost:5050 as w

[2019-04-25 10:01] daren-thomas opened #1912 "Update Licence Agreement to reflect 2019 in Copyright"
The Copyright in the LICENCE file is from 2013-2017 - we should update this to 2019.

[2019-04-25 10:10] daren-thomas opened #1913 "Dashboard does not work when cea is pip installed from PyPI"
It seems the inputs.yml file is not part of the manifest or something...

![image.png](https://images.zenhubusercontent.com/57b40957e40e5714b16d7331/29199016-0b9e-4665-86e1-38d0ed7ee4ed)

Steps to reproduce: Install the CEA with the new installer (see #1908) without the developer version. Run the cea dashboard.

[2019-04-25 10:13] daren-thomas opened #1914 "Make sure radiation-daysim works after installing the CEA with the Installer"
The installer bundles Daysim binaries. These still need to be tested properly. First field tests (thank you @JIMENOFONSECA) imply it doesn't quite work yet.

[2019-04-25 10:58] daren-thomas commented on #1892
this is great! @shizhongming could you also create a set with fade to dark background?

[2019-04-25 10:59] daren-thomas commented on #1911
what are the steps to reproduce this?

this message is from the browser, not the cea dashboard. basically, you're trying to connect to the dashboard, but the dashboard is not running.

[2019-04-25 14:06] daren-thomas opened #1915 "Update installer to retrieve CEA environment from a known location"
Currently, I'm hosting the CEA environment on my polybox account. I think we should find a better place to find it - something not only I have access to.

This issue includes updating the Release how-to to include updating the CEA environment with the current version (do a `pip install path-to-cityenergyanalyst` inside that environment, create the 7z archive and post update to new url)

[2019-04-25 14:09] daren-thomas commented on #1912
fixed in the PR #1908

[2019-04-25 14:09] #1912 closed

[2019-04-25 23:29] JIMENOFONSECA commented on #1911
To reproduce:

  1.  run cea dashboard.
  2.  Open the browser.
  3.  In the cea dashboard/bottom left, click the turn off button.

Then you get that messagge.

It would be good to have a pop up  that says (are you sure you want to exit? And then close the browser tab or send a messagge on how to exit.

_______________________

Dr. Jimeno A. Fonseca
Senior researcher and project coordinator
Future

[2019-04-26 00:05] justinfmccarty commented on #1909
I have been able to work from the new installer on the reference case. I tried to use our own project but was thwarted when running `radiation_main.py`. Error below, but I think you all already know about it:
[code]

I made it through the intial demand and network layout calulcations with the reference case, but was faced with another error  during `decentralized_building_main`. #1825 - Same `Valu

[2019-04-26 07:39] JIMENOFONSECA commented on #1915
What about storing it in a repository in GitHub?

[2019-04-26 07:41] JIMENOFONSECA opened #1916 "Open CEA dashboard directly from the ICON"
3rd ISSUE: I believe I had implemented the option to open automatically the cea interface. Now when I click CEA dashboard it opens this.

I believe it should directly open the browser (no the console). We can open the console with other executable as I see, right?

![image](https://user-images.githubusercontent.com/8973186/56714407-4d702b80-6767-11e9-94d3-4b1a12c4dad8.png)

[2019-04-26 16:00] #1852 closed

[2019-04-29 02:27] reyery opened #1917 "Allow user to create zone shapefile from map during project creation"
With the help of a map when creating a new project, the user should be able to create a zone shapefile based on a selection on the map using a lasso like tool. This can be achieved with the help of the zone helper tool.

[2019-04-29 07:07] JIMENOFONSECA opened #1918 "As a user I would like to extract satellite data for the terrain"
So until now we can create terrain files with fixed elevation.

what about getting one form satellite data? The best would be to absorb this MIT license work and do it:

https://github.com/tilezen/joerd

[2019-04-29 11:03] JIMENOFONSECA opened #1920 "As user i would like to get the occupancy file from OSM information"
This can be an improvement to #1813 where the parameters inside the occupancy file can be filled in with OSM data

[2019-04-29 11:11] reyery opened #1921 "As a user I would like to create a new project/select my scenario as soon as I start the CEA dashboard"
https://github.com/architecture-building-systems/CityEnergyAnalyst/issues/1813#issue-415968438

A landing page like the one mentioned above could be provided to the user, so that they can manage different projects such as creating a new project or opening an existing project.

[2019-04-30 03:28] JIMENOFONSECA commented on #1873
@chenkianwee many thanks, all works good now! #fixed in PR #1922

[2019-04-30 03:28] #1873 closed

[2019-04-30 05:01] JIMENOFONSECA opened #1923 "Add Wiedikon case study to website"

[2019-04-30 05:07] #1923 closed

[2019-05-02 02:32] #1833 closed

[2019-05-02 02:33] #1826 closed

[2019-05-02 02:53] #1907 closed

[2019-05-02 02:55] JIMENOFONSECA opened #1924 "Create case study for executive course"
This entails finding an area, potentially in Zurich of about 20 buildings, where to run simulations, including all the stack until optimization.

[2019-05-02 03:01] JIMENOFONSECA opened #1925 "Remove/move flags related to district heating and cooling and electricity prices"
There are some flags that are being used in the GENERAL part of the config file. Since these flags only applied to some scripts eg., thermal network or optimzation. I believe we need to move those variables to those scripts in the config file. @shanshanhsieh would you mind making these changes?

![image](https://user-images.githubusercontent.com/8973186/57054836-a260f400-6cc9-11e9-8ab0-b9408f85788

[2019-05-02 03:19] JIMENOFONSECA opened #1926 "As a user I would like to not get blocked once one Job in the CEA dashboard starts"
So until now, we have this message window that shows the status and messages when we use a tool in cea.

![image](https://user-images.githubusercontent.com/8973186/57055113-9c6c1280-6ccb-11e9-8853-4d7445c00490.png)

I believe we should change it to a small message bar on the bottom right of the screen (like that one in pycharm.

This should show without blocking the user to navigate across the int

[2019-05-02 08:35] shizhongming commented on #1892
@daren-thomas Hi! How about we use a square instead of rounded corners. (I am not sure I really get your point as when I placed the rounded logo onto a dark background, I did not see any gradient...)
![16_square](https://user-images.githubusercontent.com/16640327/57064227-46619400-6cf8-11e9-8fa6-908d2fa7c8e4.png)
![32_square](https://user-images.githubusercontent.com/16640327/57064235-495c8480-6cf

[2019-05-02 09:19] #1600 closed

[2019-05-02 09:31] #1813 closed

[2019-05-02 09:33] gabriel-happle commented on #1855
There are no more memory errors when running from the console.
Closing this issue.

[2019-05-02 09:33] #1855 closed

[2019-05-02 09:44] gabriel-happle commented on #1639
@JIMENOFONSECA fixed this.

[2019-05-02 09:44] #1639 closed

[2019-05-02 09:49] gabriel-happle commented on #1862
@BhargavaKrishnaSreepathi fixed this. It was merged with the epic #1600

[2019-05-02 09:49] #1862 closed

[2019-05-02 09:54] gabriel-happle commented on #1828
Separate issues were created: #1916 #1915 #1914 #1913 #1911

[2019-05-02 09:54] #1828 closed

[2019-05-02 09:56] gabriel-happle commented on #1897
Assigning @reyery to this issue

[2019-05-02 10:03] JIMENOFONSECA commented on #1896
In reference to issue #481 we will give it a shot and include video tutorials in all Blog entries.

[2019-05-02 10:04] gabriel-happle commented on #481
We are making video tutorials to be included in the blog posts.

[2019-05-02 10:04] #481 closed

[2019-05-02 10:04] shizhongming commented on #1896
I am creating a series of blogs on CEA at Grasshopper. The first blog is about the installation of the CEA Grasshopper interface, producing .dbf files. Yet need to include a video.

[2019-05-02 10:05] JIMENOFONSECA commented on #1909
@daren-thomas any clue about this?

[2019-05-02 10:10] JIMENOFONSECA commented on #1918
It is difficult without python 3...

[2019-05-02 21:16] justinfmccarty commented on #1909
I seem to have worked past it. I removed the CEA install and my C:\Daysim installation two days ago and then installed the CEA using the installer. When running `radiation_main` I ended with the error `IOError: [Errno 2] No such file or directory: 'c:\\users\\justi\\appdata\\local\\temp\\temp0\\wea\\Zug_60min.wea'`. I read in some issue in the log that this was a result of no RAYPATH or PATH varia

[2019-05-03 02:13] JIMENOFONSECA opened #1927 "Multi-criteria after optimization broken for DH case"
After running decentralized, and centralized optimization with district heating, I am trying to run multi-criteria. It seems some arrays do not have the same length.

What could be the problem? @shanshanhsieh the data is 4Gb so I can pass it to you via a hardisk

![image](https://user-images.githubusercontent.com/8973186/57117060-f6341180-6d8b-11e9-8722-8599be8db9c5.png)

[2019-05-03 08:22] #1924 closed

[2019-05-03 08:22] #1920 closed

[2019-05-04 14:25] martin-mosteiro opened #1930 "Empty results for buildings including COOLROOM and SERVERROOM"
Running reference-case-open. 'B01' is 25% COOLROOM, 'B07' is 50% SERVERROOM.

In the yearly results for B01:
- Qcre_sys_MWhyr, Qcre_sys0_kW = 0
- Qcre_MWhyr, Qcre0_kW = NaN
For B07:
- Qcdata_sys_MWhyr = 9357.107
- Qcdata_sys0_kW = 1068.163
- Qcdata_MWhyr, Qcdata0_kW = NaN

In the hourly results for B01:
- Qcre_sys_kWh, Qcre_kWh = 0 at every hour of the year
And for B07:
- Qcdata_sys_kWh = 1068.163

[2019-05-04 14:42] martin-mosteiro commented on #1930
The refrigeration loads 'Qcre_sys' are now fixed. However 'Qcdata' and 'Qcre' are still missing... because there is actually no function that calculates them. I am actually not even sure why we would ever need these, @JIMENOFONSECA?

[2019-05-04 14:55] martin-mosteiro commented on #1930
`Qcdata_kWh` and `Qcre_kWh` are not used anywhere else in the code, so removing them will not have any impact on the other results.

[2019-05-06 01:49] JIMENOFONSECA commented on #1930
Hi martin, we need to fix this. Qcdata is supposed to be used in the optimzation and supply systems in swtizerland. It is one strong vector of energy demand that can be used as waste heat.

I suggest:
1. consider COOLROOMS and SERVERROOMS as separate vectors of demand from the buildings. They do not influence the internal loads at all. they have a separate HVAC system.
2. make static that when a b

[2019-05-06 03:00] #1835 closed

[2019-05-06 03:28] gabriel-happle commented on #1794
The behavior that is not desired is, that the `COOLROOM` is deciding the set point temperature of -5­ deg for mixed-use buildings. This happens when `COOLROOM` is the `mainuse` of the building.

I'm assuming that the `COOLROOM` set point temperatures are kind of hypothetical and that the refrigeration load is met with the `Qcre_Wm2 = 8` internal loads. (see issue description).

I think an easy way

[2019-05-06 03:34] JIMENOFONSECA commented on #1794
Yes and no.

On one hand the coolroom and server should not play a role in the schedules and internal loads of the building.

They should be considered as separate things from the building. Like if they had an adiabatic interface with the building. Which i sol to asume.

In the case the user creates a building that has only servers or only coolrooms, the building physics model should not run.

The

[2019-05-06 06:22] gabriel-happle opened #1932 "COOLROOM and LAB do not have archetypical process schedules defined"
While working on #1794 it became evident that COOLROOM and LAB do not have process schedules defined for calculating refrigeration loads and process electricity consumption respectively.

In `occupancy_model.py` line 578 it is obvious that only INDUSTRIAL has a process schedule defined.

process schedules have to be added to the `occupancy_schedules.xlsx` database and the `read_schedules` function

[2019-05-06 06:25] gabriel-happle commented on #1794
Treating COOLROOM like PARKING in determining `mainuse` in data-helper.
Discovered that refrigeration loads are not calculated due to missing schedule in COOLROOM occupancy database.
created #1932. This has to be fixed first to continue.

[2019-05-06 07:16] reyery opened #1933 "district.shp file created by district_geometry_helper does not have 'floors_bg' attribute"
Trying to view the district inputs in the dashboard throws this error

[code]
The district.shp file created by district_geometry_helper does not have the required attributes 'height_bg' and 'floors_bg'.

[2019-05-06 07:20] reyery commented on #1933
@JIMENOFONSECA I could add both of this attributes as input parameters to the district helper script, similar to what the zone helper is currently doing.

[2019-05-06 07:49] martin-mosteiro commented on #1930
@JIMENOFONSECA Thanks for the reply. So Qcdata (as opposed to Qcdata_sys) is indeed used in the optimization scripts?

Would researching and assigning a percentage of losses be a better solution than calculating the losses in a manner analogous to normal cooling systems? Since they have a separate system, would it be fair to implement non-recoverable distribution losses? Do they need emission loss

[2019-05-06 07:53] martin-mosteiro commented on #1932
@gabriel-happle The issue with COOLROOMs is addressed in issue #1930.

Regarding LABs, I remember creating a process schedule for these back when I created the LAB archetype (just copied the INDUSTRIAL process schedule), but maybe it got lost along the way? And in any case I don't think a large manufacturer (as used to define the process schedules for INDUSTRIAL) is a valid reference for a LAB. Ma

[2019-05-06 08:18] JIMENOFONSECA commented on #1930
yes, I believe we use only non-recoverable losses.

_______________________

Dr. Jimeno A. Fonseca
Senior researcher and project coordinator
Future cities Laboratory
Singapore ETH-Centre

Chair of Architecure and Building Systems
ETH Zurich

On 6 May 2019, 3:50 PM +0800, Martín Mosteiro-Romero <notifications@github.com>, wrote:

@JIMENOFONSECA<https://github.com/JIMENOFONSECA> Thanks for the reply

[2019-05-06 08:18] JIMENOFONSECA commented on #1933
HI Reynold, that behavior is intended. We do not need information about what is underground the district to run simulations at the moment. So it is another set of parameters we can save.
On 6 May 2019, 3:21 PM +0800, Reynold Mok <notifications@github.com>, wrote:

@JIMENOFONSECA<https://github.com/JIMENOFONSECA> I could add both of this attributes as input parameters to the district helper script,

[2019-05-06 08:34] gabriel-happle commented on #1932
@martin-mosteiro let me know when #1930 is fixed.

Regarding the LAB, in that case, it would be easier to just increase the equipment load and get rid of the process load.

[2019-05-06 08:54] daren-thomas commented on #1915
It seems we can do this as part of a release: https://help.github.com/en/articles/distributing-large-binaries

I'm on it.

[2019-05-06 08:55] JIMENOFONSECA opened #1934 "separate lat from lon in new project page"
a small change, maybe we can split the box into one that says latitude and the other longitude? people usually confuse which one is which :-), I do :-D

![image](https://user-images.githubusercontent.com/8973186/57214601-129aad00-701d-11e9-8a3e-6cac727b18a7.png)

[2019-05-06 09:02] JIMENOFONSECA opened #1935 "databases lack some arguments in the dashboard"
The next databases are missing a new attribute that helps the user to know where the data was extracted from.

The attribute is called "data_source" it is of type txt.

The next databases lack it in the dashboard:

zone.shp,
district.shp
age.shp
occupancy.shp

![image](https://user-images.githubusercontent.com/8973186/57215764-707cc400-7020-11e9-99fa-8dce843f6f05.png)

[2019-05-06 09:14] daren-thomas commented on #1916
@JIMENOFONSECA I believe this works. Can you test it please?

[2019-05-06 09:30] JIMENOFONSECA opened #1937 "Automate the creation of other files inside CEA when creating a new project"
So besides the zone file, it would be good to give the option to the user to create:

1. the district file
2. the streets file
3. the terrain file

However, It would be good to show the config of each tool in a pop-up, so the user can configure each tool before it is being run.

![IMG_3085](https://user-images.githubusercontent.com/8973186/57217230-a0c66180-7024-11e9-9e91-57565b174389.JPG)

[2019-05-06 09:42] JIMENOFONSECA opened #1938 "Move project data to settings button and only display important fields"
1. let's move the "project data" INTO the settings button of the dashboard

![image](https://user-images.githubusercontent.com/8973186/57218021-d704e080-7026-11e9-84ff-8919594a0c31.png)

2. then we erase the section "Project" from the dashboard.

![image](https://user-images.githubusercontent.com/8973186/57218038-e71cc000-7026-11e9-82bc-70d7694f7acc.png)

3. Then also move to the top of the menu t

[2019-05-06 09:58] #1917 closed

[2019-05-06 09:59] JIMENOFONSECA commented on #1916
Should I wet for your fixes to the installer so I test all?

[2019-05-06 10:53] #1934 closed

[2019-05-06 11:09] #1938 closed

[2019-05-06 11:18] JIMENOFONSECA opened #1942 "Delete default dashboard and stop loading/creating plots by default"
So the CEA dashboard creates random plots once we start a scenario.

It would be good to stop this behavior. Let the user go to the Dashboard and create a new dashboard on its own.

This of course, after running some tools.

[2019-05-06 11:40] #1933 closed

[2019-05-06 12:09] martin-mosteiro commented on #1932
I agree. Although in more general terms, I think the "process" calculations in general are not very clear at the moment. Besides, demands for process heating or cooling are probably served by dedicated, separate systems (like in COOLROOMs and SERVERROOMs).

[2019-05-06 12:10] martin-mosteiro commented on #1932
However, getting rid of the process schedule in labs would mean that LABs can never have process electricity. Which I guess is fair if we assume that processes in LABs are just lumped into appliances.

[2019-05-06 15:03] daren-thomas commented on #1913
@JIMENOFONSECA I believe that works for newer versions of the installer. Try this one: https://www.dropbox.com/s/iavdblwizr9x9v0/Setup_CityEnergyAnalyst_2.13.exe?dl=0

[2019-05-06 15:04] daren-thomas commented on #1803
This is implicitly fixed with the windows installer - we ship a start menu shortcut to start the dashboard.

[2019-05-06 15:04] #1803 closed

[2019-05-06 15:05] daren-thomas commented on #605
Closing, as we are now using a new method and the issue is not relevant anymore.

[2019-05-06 15:05] #605 closed

[2019-05-06 15:07] daren-thomas commented on #1894
just checked. fixed.

[2019-05-06 15:07] #1894 closed

[2019-05-06 15:30] daren-thomas commented on #1916
Since we do have a short deadline, you could maybe test some issues together with this installer: https://www.dropbox.com/s/iavdblwizr9x9v0/Setup_CityEnergyAnalyst_2.13.exe?dl=0

It should have quite a few of the issues resolved.

[2019-05-07 07:45] JIMENOFONSECA opened #1945 "add a publisher to the CEA installer so windows does not stop it"
basically, offer some information about the publisher to avoid the next message

![image](https://user-images.githubusercontent.com/8973186/57282129-0119d980-70df-11e9-8000-0428a084dab0.png)

[2019-05-07 12:14] daren-thomas commented on #1945
It's not about offering publisher information, it's about digitally signing the .exe. It depends on the configuration of your operating system (on mine, this does not happen, so I can't really debug it for you - maybe Reymond can replicate this?).

OS X has a similar thing with apps downloaded from the internet, where you have to open them a right way, basically, it means "look, this piece of soft

[2019-05-07 12:20] daren-thomas commented on #1909
Newer versions of the installer (still under development) solve this. Try this one: https://www.dropbox.com/s/iavdblwizr9x9v0/Setup_CityEnergyAnalyst_2.13.exe?dl=0

The CEA console provided there has the RAYPATH variable set and I added some missing Daysim binaries. Does this help?

[2019-05-07 12:52] reyery opened #1946 "zone.cpg file being created when creating new project with dashboard"
When creating a new project using the dashboard interface, a zone.cpg file will be created in the new project path.

For example, if the new project is saved as ` C:\new-project\`, a zone.cpg file will be created in the folder structure ` C:\new-project\baseline\inputs\building-geometry\zone.CPG`.

This also happens as long as the project in the current config does not exist, when the page is load

[2019-05-07 12:54] reyery commented on #1946
@daren-thomas after debugging for a while, I realized that it might be caused by this context processor that is running at every page load.

https://github.com/architecture-building-systems/CityEnergyAnalyst/blob/acd1a295b72e762f0e610f6e0e71752b694172e0/cea/interfaces/dashboard/dashboard.py#L37-L40

[2019-05-07 18:44] justinfmccarty commented on #1909
@daren-thomas Installed and works great inside of the console.

[2019-05-08 02:20] JIMENOFONSECA commented on #1909
@daren-thomas I just installed it, but using the link in the github repository, The last release 2.13. It does not work on my computer. Is by any chance this file in the dropboxlink different than that one in github?

![image](https://user-images.githubusercontent.com/8973186/57344660-a5049300-717a-11e9-9307-a20a56072a6b.png)

Following the comments of justin, it seems the installer did not get al

[2019-05-08 02:21] JIMENOFONSECA commented on #1914
@daren-thomas I just tested the executable of version 2.13, It does not work. I believe the fix has to do with that of #1909. I made a comment in there...

[2019-05-08 03:53] #1935 closed

[2019-05-08 04:06] gabriel-happle commented on #1863
@JIMENOFONSECA @martin-mosteiro @shanshanhsieh @shizhongming
Here are some updates about weather files that are of interest to all simulators/researchers:

When simulating radiation in Singapore, Malaysia, and Myanmar with weather files from the above-mentioned repository, I noticed too high yearly global horizontal irradiation (GHI) values. GHI was unrealistically high compared to measured and GH

[2019-05-08 04:55] JIMENOFONSECA commented on #1863
I am for trusting the guys of mete test in this matter….

Jimeno
On 8 May 2019, 12:06 PM +0800, Gabriel Happle <notifications@github.com>, wrote:

@JIMENOFONSECA<https://github.com/JIMENOFONSECA> @martin-mosteiro<https://github.com/martin-mosteiro> @shanshanhsieh<https://github.com/shanshanhsieh> @shizhongming<https://github.com/shizhongming>
Here are some updates about weather files that are of i

[2019-05-08 05:02] gabriel-happle commented on #1863
I agree with @JIMENOFONSECA, Meteonorm should be reliable. Unfortunately, it is not free.

[2019-05-08 07:52] daren-thomas commented on #1909
@JIMENOFONSECA yes, the dropbox link is newer. Here's the newest version I'm working with. It runs radiation-daysim from the cea console: https://www.dropbox.com/s/upxsegqkcf1c716/Setup_CityEnergyAnalyst_2.13.3.exe?dl=0

I'm still working on getting the Dashboard to run through (some setting of environment variables required).

Not all Daysim binaries are included. Only the ones we actually use. B

[2019-05-08 07:56] daren-thomas commented on #1946
good debugging! i'm pretty sure somewhere in there the `_ensure_folder_exists` method on `InputLocator` is being called. maybe we can refrain from doing that eagerly?

[2019-05-08 07:56] daren-thomas commented on #1892
@shizhongming I like these! I'm using them for my next pull request for the installer and radiation stuff!

[2019-05-08 08:50] JIMENOFONSECA commented on #1909
Got, it. Is it possible to reemplaze this installer cersion with the one in github releases? Just because people download the tool almost every day..and it would be good to give them the most updated version...

_______________________

Dr. Jimeno A. Fonseca
Senior researcher and project coordinator
Future cities Laboratory
Singapore ETH-Centre

Chair of Architecure and Building Systems
ETH Zurich

[2019-05-09 05:59] JIMENOFONSECA commented on #1892
sorry to put the brakes for this. the White and purple does not relate to CEA. It would be good to keep the colorful identity we have to until now.

[2019-05-09 06:00] JIMENOFONSECA commented on #1892
@shizhongming no square, we need a rounded logo, please figure it out how to avoid the white background issue, please...

[2019-05-09 06:02] JIMENOFONSECA commented on #1945
@daren-thomas if that is what is required, I am assigning this to known issues and won't have

[2019-05-09 06:02] #1945 closed

[2019-05-09 06:03] JIMENOFONSECA commented on #1927
@shanshanhsieh have you had the chance to check that the problem is?

[2019-05-09 06:43] shizhongming commented on #1892
@daren-thomas @JIMENOFONSECA I just made a new rounded version and hope they dont have the white edge this time (I dont see white edge as I tested in photoshop)... @daren-thomas one question, the format of the image has to be png only or it accept vector like eps also?

![CEA_desktop_icon_v2 1_16](https://user-images.githubusercontent.com/16640327/57432582-dc516d80-7268-11e9-8443-fcfea4547ff8.png)

[2019-05-09 06:44] JIMENOFONSECA opened #1949 "Include 3d visualization and layers for showing inputs."
The idea is to include basic 3d and 2d visualization of:

1. Buildings (inputs/networks/building_geometry/district.shp and inputs/networks/building_geometry/zone.shp)
2. Streets (inputs/networks/streets.shp)
3. District heating networks (inputs/networks/DH/node.shp, inputs/networks/DH/edge.shp)
4. District cooling networks (inputs/networks/DC/node.shp, inputs/networks/DC/edge.shp)
5. District elec

[2019-05-09 06:49] shanshanhsieh commented on #1927
i just had a quick look, it seems like the script is reading information from the checkpoints.
and the df_network is hard-coded to read `DCN_list_All` (line 167)
that might be the problem?

![image](https://user-images.githubusercontent.com/16998305/57432781-5aae0f80-7269-11e9-82c1-5c13f0c347d1.png)

[2019-05-09 07:24] JIMENOFONSECA commented on #1927
Yeah, that is right, the problem is there, it seems it needs to take DHN_list_all when running the heating case. Still, it seems it is returning a list of individuals that do not match the same length for all parameters.

best, Jimeno

On 9 May 2019, 2:50 PM +0800, Shanshan Hsieh <notifications@github.com>, wrote:

i just had a quick look, it seems like the script is reading information from the c

[2019-05-09 08:03] JIMENOFONSECA commented on #1868
It is relevant….
On 8 May 2019, 9:35 PM +0800, Daren Thomas <notifications@github.com>, wrote:

I'm not quite sure if this is still relevant and if we should maybe wait for the new landing page ux to solidify. I suggest assigning this to @reyery<https://github.com/reyery>.

—
You are receiving this because you authored the thread.
Reply to this email directly, view it on GitHub<https://github.com/

[2019-05-09 14:16] daren-thomas opened #1950 "Remove option "demand:use-daysim-radiation""
The demand tool currently uses an option `demand:use-daysim-radiation`. Is there still code for this? I think we can safely remove this as we don't use the ArcGIS radiation tool anymore.

[2019-05-10 01:36] JIMENOFONSECA commented on #1950
@gabriel-happle would you mind making this change please? I think we can remove that option for sure... thanks

[2019-05-10 04:53] JIMENOFONSECA commented on #1932
@gabriel-happle @martin-mosteiro do not get rid of this. They are used in optimization as sources of waste heat, and sources that need specific boilers (due to the temperature needs)

[2019-05-10 06:02] #1921 closed

[2019-05-10 06:02] #1937 closed

[2019-05-10 06:31] JIMENOFONSECA opened #1952 "Change installation guide to new installer"
We do this, when we merge the PR #1947, and make sure that the installer works.

[2019-05-10 07:07] JIMENOFONSECA opened #1953 "Create Blog on how to install CEA"
@daren-thomas I believe the final step on the installer initiative is to write a blog about how to install CEA. Please make the honors

For the blog. Either:

Include some Gif animation of the process: You can use shareX for this in windows.
OR
Create a video of the process.

I suggest to divide the blog in two sections.

1. the first consist in installing the normal version.
2. the second consist

[2019-05-10 07:27] #1952 closed

[2019-05-10 07:27] JIMENOFONSECA commented on #1942
@reyery this is closed right?

[2019-05-10 13:41] daren-thomas commented on #1892
@shizhongming actually, they end up as a *.ico file, but the png files work perfectly for inclusion. The fading issue turned out to be a 24bit vs. 32bit bmp issue (1 bit for transparency or 8bits... turns out, visual studio could only do 24bit icons, but i found a tool that can do 32bit icons so it works!)

closing as it's part of #1947.

[2019-05-10 13:41] #1892 closed

[2019-05-13 01:29] reyery commented on #1942
@JIMENOFONSECA Not yet, still working on it. I have stopped the dashboard from creating the default plot, but am trying to change how the user would create/manage different dashboards.

[2019-05-13 09:36] #1914 closed

[2019-05-14 01:14] JIMENOFONSECA opened #1955 "The installer shows low-res icons in the desktop"
![image](https://user-images.githubusercontent.com/8973186/57663912-99a4e200-7628-11e9-92e1-513a11262e2e.png)

[2019-05-14 01:16] JIMENOFONSECA commented on #1955
Also, in terms of installation steps, the desktop shortcuts should be created as the last step of the installation. Otherwise, there is a temptation to open the CEA before the installation finishes

![image](https://user-images.githubusercontent.com/8973186/57663975-e38dc800-7628-11e9-84ab-0872e17024f3.png)

[2019-05-14 01:36] JIMENOFONSECA opened #1956 "Add Glossary to dashboard"
Until now, @Jack-Hawthorne created a great glossary of all the variables inside CEA and organized them in here https://city-energy-analyst.readthedocs.io/en/latest/glossary.html

The process is semi-automated

Now, it would be good that the user can have access to a "SEARCH" function inside the dashboard, which could help him/her to find the meaning and units of any variable.

@reyery any ideas on

[2019-05-14 03:18] JIMENOFONSECA opened #1957 "Make some noise about the new installer"
Finally! after several years in the making we got a beautiful and robust installer for CEA.

Now it is time to let the world know about it.

The plan is to send a newsletter, However, I will need that @daren-thomas completes #1953 first.

[2019-05-14 03:19] JIMENOFONSECA commented on #1916
This works in the latest version of the installer (see releases)

[2019-05-14 03:19] #1916 closed

[2019-05-14 06:48] daren-thomas commented on #1955
@JIMENOFONSECA I wonder if there is any way to find out what resolution windows is using for your desktop. the icon file we ship has multiple resolutions in it: 16x16, 32x32, 128x128, 256x256. I wonder if you have something in between (there might be a 46x46) - I'll investigate.

[2019-05-14 06:55] daren-thomas opened #1958 "Cooling-Case-Workflow fails with IOError"
I just ran the `cea cooling-case-workflow` on the master branch over night and got the following error message:

[code]

I was wondering, @shanshanhsieh, if the name of that file got changed somewhere? Here is more context of the error:

[code]

[2019-05-14 07:02] JIMENOFONSECA commented on #1955
Hi daren, no worries, I think this is a low priority issue now.

Let’s get into the most important issue next  (publishing a blog on how to install CEA).

thanks,
Jimeno

On 14 May 2019, 2:49 PM +0800, Daren Thomas <notifications@github.com>, wrote:

@JIMENOFONSECA<https://github.com/JIMENOFONSECA> I wonder if there is any way to find out what resolution windows is using for your desktop. the icon

[2019-05-14 08:03] #1814 closed

[2019-05-14 08:07] daren-thomas commented on #1822
@JIMENOFONSECA does the start menu shortcut to open the config file in notepad.exe solve the problem of finding the `cea.config` file easily? Then we can concentrate on the load/save features, but demote this to a should-have.

[2019-05-14 08:20] reyery opened #1960 "Plots in dashboard are not able to handle 'file does not exist' exception"
Plots could not be successful created if the required files cannot be found, causing the dashboard to not be able to handle the exception and show the 500 status code error.

Plots should still be created and also show useful information such as "Please run xyz simulation..." for the respective missing files, so that the user knows what to do.

[2019-05-14 08:26] reyery opened #1961 "Image for scenarios in project overview to make them more identifiable"
Along with a short description, an image that represents each scenario in the project overview would make it easier for users to identify and differentiate them.

[2019-05-14 09:22] JIMENOFONSECA commented on #1822
yes, it works quite well. thanks!

_______________________

Dr. Jimeno A. Fonseca
Senior researcher and project coordinator
Future cities Laboratory
Singapore ETH-Centre

Chair of Architecure and Building Systems
ETH Zurich

On 14 May 2019, 4:07 PM +0800, Daren Thomas <notifications@github.com>, wrote:

@JIMENOFONSECA<https://github.com/JIMENOFONSECA> does the start menu shortcut to open the confi

[2019-05-14 11:30] #1915 closed

[2019-05-14 11:30] #1913 closed

[2019-05-14 11:30] daren-thomas commented on #1913
fixed.

[2019-05-14 12:41] daren-thomas commented on #753
So there are still some places we need to look at:
- `cea/analysis/mcda.py`  (@JIMENOFONSECA, I think this is your script?)
- `cea.analysis.uncertainty.Individual_Evaluation` (@shanshanhsieh, this should be an easy fix, I think the variables used are mainly in the config file - except "num_tot_buildings"?)
- `cea/demand/subset_calibrator/`  - (this folder still has some usages in it - I'm hesitant

[2019-05-14 16:08] Jack-Hawthorne commented on #1956
@reyery @JIMENOFONSECA
the glossary is currently out of date

Back end
----------
i have some ideas and am currently working out a script that will merge the plots naming.csv to include attributes such as description, unit etc...

 to create a formal 'variable declaration' which can be verified using the meta_data created by trace_inputlocator

specifically, by referencing the trace data and the v

[2019-05-15 06:28] reyery opened #1964 "Unable to save values of input database when changing them through the dashboard"
When trying to change inputs values such as `Hs` (type: float) in the `architecture` database, the new value that is submitted in the form is in type string instead. This causes the type mapping of columns in `line 51` to map it to a different type such as a string and eventually cause an exception in `line 57` when using `len()` on a float

https://github.com/architecture-building-systems/CityEne

[2019-05-15 08:06] shizhongming commented on #1896
@daren-thomas I just finished the first blog on Squarespace....could you have a look? Thanks.

[2019-05-15 09:03] #1964 closed

[2019-05-15 10:56] #1942 closed

[2019-05-15 10:56] #1946 closed

[2019-05-15 14:07] daren-thomas commented on #1953
@JIMENOFONSECA please check this first draft for the blog entry: https://daren-thomas.github.io/installing-cea-on-windows/

[2019-05-15 14:44] daren-thomas commented on #1896
@shizhongming how do i access it?

[2019-05-15 14:45] daren-thomas opened #1966 "Create Release 2.14"
Close this Milestone by creating the Release 2.14

[2019-05-15 14:57] daren-thomas commented on #1864
this could be an interesting blog post...

[2019-05-15 15:35] daren-thomas commented on #1761
@shizhongming I just updated your branch (`grasshopper--for-2.9.2`) from master. we should probably figure merge soon or create a new branch with your changes...

As far as I can tell your only change is adding the `thermal-network-costs` script? Is that correct?

I'm not sure about the thermal-network script - it takes _forever_ to run and my guess is that it is actually running without a problem

[2019-05-16 03:41] shizhongming commented on #1896
@daren-thomas Jimeno told me you have credentials to the Squarespace..nvm, i just made it public. Please use this link.
 https://cityenergyanalyst.com/blog-1

[2019-05-16 08:32] daren-thomas commented on #1896
hey @shizhongming ah. i understand. yes. i probably should have figured that out on my own. sorry.

This is fantastic! I _love_ it!

I do have some small comments:

- the workflow for the installation is different with the introduction of the installer:
  - step 2 should be: launch the CEA Console from the Start menu
  - step 3 is not required
  - step 4, formatting of indented list
- in "Creating

[2019-05-16 09:27] daren-thomas commented on #1761
@shizhongming is going to restart with a new branch based on master (2.14) and create a pull request.

[2019-05-16 09:27] Khayatian opened #1967 "Dashboard not working properly on Internet Explorer"
The dashboard does not work properly with "internet explorer" (Windows 10). This can be an issue for institutional computers where the default app for browsing is set to "internet explorer". Perhaps a recommendation on the browser can help avoiding this issue.

[2019-05-16 09:32] Khayatian opened #1968 "Confirmation of successful test run"
After the test run is completed (on Dashboard), there is no message, to confirm that the test run was successful without errors. Perhaps a note indicating a successful run can be helpful.

[2019-05-16 09:35] daren-thomas commented on #753
we can delete the `cea/demand/subset_calibrator/` folder

[2019-05-16 09:41] daren-thomas opened #1969 "Update documentation on how to create a release and include information for Try It button on website"
@JIMENOFONSECA could you please update the documentation. The link needs to change with every minor release (2.14, 2.15, etc.)

[2019-05-16 09:43] Khayatian opened #1970 "Solar radiation documentation correction"
The solar radiation in the dashboard is placed at:
Tools/Energy potentials/Solar radiation (Daysim engine)

But in the documentation it is stated that it can be found at:
tools/Resources/Solar Radiation

[2019-05-16 09:46] daren-thomas commented on #1866
I will check to see if still relevant after landing page changes

[2019-05-16 09:47] Khayatian opened #1971 "Executing Demand with no solar data"
When executing the demand module (without radiation files), the run fails without explaining that the solar radiation module should have been run first.

[2019-05-16 09:55] daren-thomas commented on #1911
I misunderstood: This issue applies to the shutdown button on the CEA Dashboard page.

We could maybe just remove the button? Or shut down the flask application...

[2019-05-16 10:05] daren-thomas commented on #1960
each plot knows a list of input_files that it requires. you can check for that.

[2019-05-16 10:08] daren-thomas commented on #1968
ok. noted. i will update the output in the window of the dashboard. the confirmation is actually the close button that turns green.

[2019-05-16 10:10] daren-thomas commented on #1971
i'll add this to using the @Jack-Hawthorne meta-data.

[2019-05-16 10:12] #1909 closed

[2019-05-17 03:39] shizhongming commented on #1896
@daren-thomas thanks for the comment!
However, the `cea install-grasshopper` is currently not working under the cea console. the errors are as follows. could you have a look? Thanks~ (I unpublished the blog for the moment)

C:\Users\Zhongming\Documents\CityEnergyAnalyst
λ cea install-grasshopper
City Energy Analyst version 2.13.5a1
Running `cea install-grasshopper` with the following parameters:
-

[2019-05-17 09:45] daren-thomas commented on #1960
add a `check_inputs` to `PlotBase`, similar to:
[code]

meta_data is jacks's traceinputlocator output, check that here: `\cea\tests\trace_inputlocator.output.new.yml` - copy to `cea\schema.yml` and add stubs for optimization methods until we have all the data.

also, update `input_files` list on plots to be just the method (don't call) and maybe tuple if has parameters (`if type(input_file) is tup

[2019-05-17 11:31] #1966 closed

[2019-05-17 13:18] daren-thomas commented on #1896
ah. right. i think i saw that - but fixed it on your old branch. let me see. i'll create a pull request.

@JIMENOFONSECA this error has to do with the `concept_parameters.py` file being removed. do you know what happened to it? I tried to find it, but I think it never existed?

Anyway, I made a small PR to fix this. Check out #1973

[2019-05-17 13:48] daren-thomas opened #1974 "What happened to the concept module?"
It seems it's referenced in `cea/optimization/flexibility_model/mpc_district/planning_and_operation_batch_run.py`. It's probably referenced in other places as well.

Was it removed?

[2019-05-17 13:51] daren-thomas opened #1976 "Change "Try It" link on Website to link to Release 2.14"
The "Try It" link on www.cityenergyanalyst.com needs to be updated to point to the new release.

[2019-05-17 13:55] daren-thomas commented on #950
Status update: The CEA runs on Ubuntu and Euler. We still need to test it on Mac OS X.

[2019-05-17 13:59] daren-thomas commented on #1930
@JIMENOFONSECA, @martin-mosteiro could you update the story points information for this issue please?

[2019-05-17 14:04] daren-thomas commented on #1927
@shanshanhsieh how much time do you think this issue would take to solve? how many story points? could you please update that information?

[2019-05-17 14:05] daren-thomas commented on #1926
@reyery how long do you think this could take? could you please update the story points for this issue? thank you :)

[2019-05-17 14:08] daren-thomas commented on #1955
@shizhongming i checked, the resolution we're missing seems to be 48x48. could you please send me such an icon? thank you :)

[2019-05-17 14:25] daren-thomas commented on #1967
@Khayatian thank you for bringing this up! Would you mind posting some screenshots?

Is this IE (which version?) or Microsoft Edge?

[2019-05-20 08:50] Khayatian commented on #1967
@daren-thomas Some institutes reset the browser of the computer to IE every time it reboots. In my case, IE doesn't seem to run any of the modules (e.g. demand, daysim solar).

![demand-run- cmd-window](https://user-images.githubusercontent.com/27851066/58008588-fd2d8480-7aec-11e9-862d-8d2851ef2e0b.PNG)

![daysim-run-cmd-window](https://user-images.githubusercontent.com/27851066/58008593-00c10b80-

[2019-05-20 08:50] daren-thomas commented on #1958
@shanshanhsieh I'm a bit stuck, as i'd need this to work to have optimization results to continue with the plots. do you have an idea what the problem could be?

[2019-05-20 09:11] daren-thomas commented on #1967
@Khayatian could you please answer the above question?

Also, I don't think this looks like an IE problem - I was expecting screenshots of the Dashboard looking all weird in Internet explorer... Could you please give detailed information on what works and what doesn't? What did you do to get this message?

It looks a bit like something is being blocked by a firewall, but I do not have enough infor

[2019-05-20 09:16] daren-thomas opened #1977 "Remove .cache folder from scenario listings"
The Project overview page in the CEA Dashboard shows the list of scenarios in a project. This is basically a list of all folders inside the project folder.

One of those folders, `.cache` is special, in the sense that it isn't a scenario, rather, it's a cache of plot data and plot outputs. This should not be shown in the listing.

The class `cea.config.ScenarioNameParameter` has a property `_choic

[2019-05-20 09:21] daren-thomas opened #1978 "Create an Uninstaller for the CEA"
The uninstaller should

- remove the `C:\Users\USERNAME\Documents\CityEnergyAnalyst` folder
- remove shortcuts in the Start menu
- remove shortcuts on the Desktop

There is currently an Uninstaller that (probably) does the first point. This needs to be tested...

[2019-05-20 09:22] daren-thomas opened #1979 "Collapsable input fields for tools"
The CEA Dashboard tools section lists the parameters for running tools. In the ArcGIS interface, some of these parameters were "collapsed", by specifying a category for the parameter. This improves the user experience, by showing the most relevant parameters and at the same time allowing access to more specific parameters for power users.

[2019-05-20 10:19] emanuel030 opened #1980 "Looped network created by layout script with `allow-looped-networks = false`"
I have ran a 'thermal-network' optimization on a "large" project with 571 nodes and edges and 258 consuming buildings. The simulation on a CPU with 16GB RAM and 8 processors @3.6GHz has succesfully completed after 33 days.
During simulation following warning was shown:
![BASELINE_ERROR_2](https://user-images.githubusercontent.com/26175926/58014030-328b9f80-7af8-11e9-8d64-305851ac6fcf.png)
which sa

[2019-05-20 10:19] Khayatian commented on #1967
@daren-thomas I see, so let me try it on a different PC. Also, the version of the IE is:

![Capture](https://user-images.githubusercontent.com/27851066/58014569-7632d900-7af9-11e9-83b8-706aa61531ac.PNG)

[2019-05-20 12:09] shanshanhsieh commented on #1927
@JIMENOFONSECA please try to run the script in branch `i1927`
it should be running now, i didnt have time to check the plots, please let me know if the numbers make sense

[2019-05-21 01:09] #1976 closed

[2019-05-21 01:24] reyery commented on #1977
@daren-thomas I do not see the `.cache` folder in the Project Overview page on my end when it is present in the project folder. However we could still change the current implementation of getting the list of scenarios using the config.

[2019-05-21 02:42] JIMENOFONSECA commented on #1953
Looking good!.

Just a few comments:

1. Just please make a Gif of the Screenshots or a Video, up to you. This is somehow the format we would like to go for. ShareX works like a charm for this in windows.

2. MIT License

3. Divide the Blog into two bog entries. (just like I did for the data helper thing). One entry is for normal users, the second entry is for researchers/developers.

3. For the r

[2019-05-21 02:48] JIMENOFONSECA commented on #1974
if it si not there, then it is removed...

[2019-05-21 02:51] #1092 closed

[2019-05-21 02:51] #950 closed

[2019-05-21 02:58] JIMENOFONSECA opened #1981 "Add supply system plots to dashboard"
@daren-thomas This issue entails adding all the plots inside the script cea/plots/supply_system/main.py to the dashboard.

They are 20 different.

[2019-05-21 02:59] JIMENOFONSECA opened #1982 "Add Solar potential plots to the dashboard"
@daren-thomas This issue entails adding all the plots inside the script cea/plots/solar_potential/main.py to the dashboard.

They are 3 different.

[2019-05-21 03:00] JIMENOFONSECA opened #1983 "Add solar technologies plots to the dashboard"
@daren-thomas This issue entails adding all the plots inside the script cea/plots/solar_technology_potentials/main.py to the dashboard.

They are 6 different.

[2019-05-21 03:01] JIMENOFONSECA opened #1984 "Add thermal networks plots to the dashboard"
@daren-thomas This issue entails adding all the plots inside the script cea/plots/thermal_networks/main.py to the dashboard.

They are 10 different

[2019-05-21 03:03] JIMENOFONSECA opened #1985 "Add life_cycle plots to the dashboard"
@daren-thomas This issue entails adding all the plots inside the script cea/plots/life_cycle/main.py to the dashboard.

They are 5 different

[2019-05-21 03:05] JIMENOFONSECA opened #1986 "Add plots comparisons to dashboard"
@daren-thomas This issue entails adding all the plots inside the script cea/plots/comparisons/main.py to the dashboard.

They are 11 different

[2019-05-21 03:06] JIMENOFONSECA commented on #753
@daren-thomas we take over this, so you can focus on the plots and the dashboard

[2019-05-21 03:38] shizhongming commented on #1955
Hi @daren-thomas , Sorry for the late reply as Monday was a public holiday in Singapore...please find the 48X48 here :)

![CEA_desktop_icon_v2 1_48](https://user-images.githubusercontent.com/16640327/58066671-ece4da80-7bbc-11e9-908d-a003dc3417a0.png)

[2019-05-21 03:40] JIMENOFONSECA commented on #1927
Hi Shanshan,

Thanks for this. so the multi-criteria runs :-),

However the optimisation (overview and detailed) do not run. Would you mind taking a look?

Many thanks for this!

On 20 May 2019, 8:09 PM +0800, Shanshan Hsieh <notifications@github.com>, wrote:

@JIMENOFONSECA<https://github.com/JIMENOFONSECA> please try to run the script in branch i1927
it should be running now, i didnt have time t

[2019-05-21 03:56] gabriel-happle opened #1987 "CEA tests don't run"
Console tests stop after calibration. `dodo` on pycharm continues running.

CONSOLE OUTPUT:

[code]

PYCHARM OUTPUT:

[code]

[2019-05-21 05:31] shanshanhsieh commented on #1958
hey @daren-thomas, i found the problem, will send a PR today!

[2019-05-21 05:35] shanshanhsieh commented on #1927
@JIMENOFONSECA great, i will send a PR when i test the results with a cooling case

for optimization, do you mean the plotting part? could you make a separate issue about that?

[2019-05-21 05:49] gabriel-happle opened #1988 "Installation guide for windows includes misleading pycharm configuration"
https://city-energy-analyst.readthedocs.io/en/latest/installation-on-windows.html

When using the installer, should the environment in pycharm not point to `...\CityEnergyAnalyst\Dependencies\Python`?
(step 8 in pycharm set up)

[2019-05-21 05:58] gabriel-happle opened #1989 "Replace nonsensical "alerts" in dashboard with other messages"
... maybe a welcome message, instead of something about film festivals
![image](https://user-images.githubusercontent.com/17002288/58071783-4d314780-7bd0-11e9-961a-74dfb4fe237f.png)

Also, nothing happens when you click. So maybe it can be removed altogether.

[2019-05-21 06:03] JIMENOFONSECA commented on #1927
Well, the thing is that if the optimization_overview plot does not run, then it means the problem persists. since I cannot visualise it. I d o not know i the results make sense.

Jimeno

_______________________

Dr. Jimeno A. Fonseca
Senior researcher and project coordinator
Future cities Laboratory
Singapore ETH-Centre

Chair of Architecure and Building Systems
ETH Zurich

On 21 May 2019, 1:35 PM

[2019-05-21 06:06] gabriel-happle commented on #1987
Actually, I take it back. After pointing pycharm to the environment created with the installer, the `dodo` does not work either.

[2019-05-21 06:11] gabriel-happle commented on #1987
output from pycharm in master

[code]

[2019-05-21 06:18] shanshanhsieh commented on #1927
okay, got you, i'll take a look

[2019-05-21 06:47] shizhongming commented on #1761
Hi @daren-thomas  ,
In making the blog on the current version of CEA-Grasshopper, it raised the following error when running `dbf-to-excel-to-dbf`. I believe this error is block all other commands on Grasshopper. Could you give it a look?
![error](https://user-images.githubusercontent.com/16640327/58074254-61c50e00-7bd7-11e9-8bb9-a1341362999e.PNG)

[2019-05-21 08:24] Jack-Hawthorne commented on #1956
@daren-thomas do you happen to have a complete trace.inputlocator.output.yml for the singapore cooling case?

[2019-05-21 09:07] daren-thomas opened #1990 "Update the plots tools to use the new plotting system"
The `cea plots` (and relatives) tools use the old plotting system from the last Executive course. Since then, all the plots have been refactored to a class hierarchy, but the legacy code has been left intact - in order to be able to compare.

- rename the scripts to `cea legacy-plots[-*]`
- update the original plot scripts to use the new system
- run both sets and compare results
- make sure to up

[2019-05-21 10:20] shanshanhsieh commented on #1927
Hi @JIMENOFONSECA , this part of plotting is not ready for heating case at all. (you can run the optimization plot until `supply_system_configuration` now.
and the implementation of the cooling case is very confusing, which means i have to first spend some time understanding its structure in order to implement the heating case...

before jumping into the rabbit hole, i think we should have a meeti

[2019-05-21 10:49] kerembeygo opened #1991 "Issues with installer for CEA 2.14"
CEA 2.14 Setup
"Uninstalling 2.14
Successfully installed CEA-2.11"
Version mismatch?
![CEA Setup](https://user-images.githubusercontent.com/29708612/58086206-dcd1f880-7bc6-11e9-9d18-cc126cdefd85.jpg)

CEA Dashboard
After 2.14 install
CEA Version 2.13.5a1
![CEA Version](https://user-images.githubusercontent.com/29708612/58086333-1b67b300-7bc7-11e9-9dd0-68d6bba084f1.jpg)

CEA Dashboard Warning
Do no

[2019-05-21 11:04] JIMENOFONSECA commented on #1927
Sure... i am leaving for 3 weeks after the group meeting of this week. So we need to discuss it promptly...

But in essence, the optimization and its plots should work for the heating case....

What are your thoughts?

Jimeno

_______________________

Dr. Jimeno A. Fonseca
Senior researcher and project coordinator
Future cities Laboratory
Singapore ETH-Centre

Chair of Architecure and Building Sys

[2019-05-21 14:36] daren-thomas commented on #1866
@reyery do you think this is still relevant? I think, after the work you've done on the project management blueprint, that we can maybe just close this?

[2019-05-21 14:58] daren-thomas commented on #1956
@Jack-Hawthorne no, I'm afraid not. This is blocked by #1958. I think it's possible to proceed without having all the data, no? The official meta-data is located in `cea/schemas.yml` - pending #1992, which introduces it along with the `cea.scripts.schemas()` function.

[2019-05-21 15:00] daren-thomas commented on #1761
Hi @shizhongming I think that would come from an old version of the cea-grasshopper plugin. Did you do a `cea install-grasshopper`?

[2019-05-21 15:04] daren-thomas commented on #1761
![image](https://user-images.githubusercontent.com/2969564/58107617-82e32a00-7bea-11e9-9c9a-2bdfd3dc0f3b.png)

[2019-05-22 03:09] shanshanhsieh commented on #1958
hi @daren-thomas , i've solved the problems created by the name changes in the input locators.
the workflow now run through optimization. (see branch `i1958`)

and here comes an error that i cannot crack:
(also tried to run the multicriteria script locally, it works fine, only get this error when running via `cooling-case-workflow`)

[code]

[2019-05-22 06:52] reyery commented on #1866
@daren-thomas currently "Projects" can be accessed using the gear icon in the bottom left. We can probably close this issue already since we can already switch scenarios without using this page. However, I am curious regarding what we can do with the remaining settings. Do we still need them? We could move them to project management, then we can remove the gear icon thing.

At the same time, maybe

[2019-05-22 06:56] reyery commented on #1961
@JIMENOFONSECA Do you think we still need this? Since the rest said that the images would look almost the same among the scenarios, so it would not add much value. Should we change it to labels instead?

[2019-05-22 07:19] daren-thomas commented on #1987
[code]

this was from command line. worked for me.

[2019-05-22 07:26] daren-thomas commented on #1987
@gabriel-happle i'm not really sure this is a blocking issue. the tests have been running for master on the jenkins too, so it might be more something with your setup?

[2019-05-22 07:38] daren-thomas commented on #1925
@JIMENOFONSECA, @shanshanhsieh is the issue, that they show up in the "Project Data" page? (i.e., are part of the [general] section of the config file?

Or should they be set separately for each tool? Maybe we could move them to a more general `[network]` section and have all those tools use that?

@reyery and I are in a discussion here: #1866 regarding the "Project Data" page. maybe the whole pag

[2019-05-22 07:39] daren-thomas commented on #1866
@reyery oh, so you moved the project page down there... i thought you just removed it...

there is an [issue somewhere](https://github.com/architecture-building-systems/CityEnergyAnalyst/issues/1925) about these:

![image](https://user-images.githubusercontent.com/2969564/58155668-9d61e580-7c74-11e9-860f-ccd91ff7b818.png)

I'm actually fine with removing this page entirely. I think the tools that

[2019-05-22 07:51] JIMENOFONSECA commented on #1925
Hi,

My quick thoughts on this,

Every tool should have individual options that apply for that tool. No dependencies, no hidden properties, not interrelated properties.

These flags should belong to the scrip where they are used and nowhere else.

No general sections please. That leads to scripts like the Global Variables script….

On 22 May 2019, 3:38 PM +0800, Daren Thomas <notifications@github.

[2019-05-22 07:53] JIMENOFONSECA commented on #1961
Actually, we need the images.

In Cooling Singapore for example we are running all Singapore.

Each scenario is a different area of Singapore, so it will be good to have the image, or something that helps to intuitively recognise the area.

On 22 May 2019, 2:57 PM +0800, Reynold Mok <notifications@github.com>, wrote:

@JIMENOFONSECA<https://github.com/JIMENOFONSECA> Do you think we still need this

[2019-05-22 08:04] shanshanhsieh commented on #1925
just did a quick search, these flags are only used in the supply system optimization related scripts
so the section `[optimization]` is more appropriate, and that will be my plan for this issue

and yes, it is not necessary to show this flags in the "Project Data" page

[2019-05-22 08:19] daren-thomas commented on #1925
@JIMENOFONSECA one reason for doing it this way was, because scripts _do_ have dependencies. It _matters_ that you run the demand with the same weather file as the radiation script. And this way, the last setting used is automatically shown. I always thought there would be some other parameters for which this is true too - like whether we're using cooling or heating (or both?).

so, you guys, as d

[2019-05-22 08:44] gabriel-happle commented on #1987
@daren-thomas My setup is a completely new installation with the installer. Incl. new python environment.
Doesn't that mean the master (and/or installer) is broken?

[2019-05-22 09:07] #1868 closed

[2019-05-22 09:08] daren-thomas commented on #1987
@gabriel-happle, i'll test it in a clean vm and report back. thank you for bringing this up.

[2019-05-22 09:12] JIMENOFONSECA commented on #1925
So for the weather, this should be a scenario variable and be shown into the ‘project overview’ along with each scenario, so we avoid the problems of running demand and radiation with a different file

For the others, as Shanshan said, they are only used in one script. so they should be moved.

On 22 May 2019, 4:20 PM +0800, Daren Thomas <notifications@github.com>, wrote:

@JIMENOFONSECA<https://g

[2019-05-22 09:20] daren-thomas commented on #1988
@gabriel-happle you're right. i'll update it. would you be up for reviewing?

[2019-05-22 09:21] #1960 closed

[2019-05-22 09:21] daren-thomas commented on #1925
@JIMENOFONSECA when we removed the "cascading configuration files" feature (remember?), the concept of a "scenario variable" was removed. that's what the cascade was all about. we don't have a place to store scenario information anymore.

[2019-05-22 09:33] JIMENOFONSECA commented on #1925
Well you can store it in the cache…or in a text file fo the scenario? In fact the weather should be part of the inputs folder right? maybe we should add a weather helper tool?

_______________________

Dr. Jimeno A. Fonseca
Senior researcher and project coordinator
Future cities Laboratory
Singapore ETH-Centre

Chair of Architecure and Building Systems
ETH Zurich

On 22 May 2019, 5:22 PM +0800, Da

[2019-05-22 09:36] martin-mosteiro commented on #1932
@gabriel-happle #1994 will solve part of the issue described here. The missing part is the process schedules for LABs.

[2019-05-22 09:42] daren-thomas commented on #1987
Reproduced the error on a clean vm. Investigating.

[2019-05-22 09:56] gabriel-happle commented on #1988
@daren-thomas sure. I can review.

[2019-05-22 09:58] gabriel-happle commented on #1932
@martin-mosteiro cool. I will copy the Industry schedule for now. And then make a PR soon

[2019-05-22 10:16] daren-thomas commented on #1987
Initial tests with setting "QT_PLUGIN_PATH" in the CEA Console to "C:\Users\USER\CityEnergyAnalyst\Dependencies\Python\Library\plugins" seems to fix it when running `cea test` from the CEA Console. Next step is to figure out how to add that for PyCharm and the CEA Desktop scenario.

[2019-05-22 11:51] martin-mosteiro opened #1995 "Steiner tree script should not connect buildings with no demand"
The Steiner tree script connects all buildings, regardless of whether they have a demand or not. Sure, the optimization scripts then decide whether buildings should be connected or not, and thus these buildings won't be connected.

But we could instead avoid connecting buildings with no heating/cooling systems at all as a prescreen. It's an easy fix and it can save a lot of calculation time when r

[2019-05-22 12:08] daren-thomas commented on #1987
![image.png](https://images.zenhubusercontent.com/57b40957e40e5714b16d7331/2b084f66-28f6-41f4-a987-fcc607989c1b)

It seems, when setting the "QT_PLUGIN_PATH" environment variable in the CEA Console, running `cea test` runs through. So this seems to be the issue. As far as I know, there might be problems with setting this as part of the installation for the user (problems with other software) so I'

[2019-05-22 12:10] daren-thomas commented on #1987
Current workaround until I can solve this issue:

(in the CEA Console, type:)

[code]

(of course, replace USER with your username)

[2019-05-22 12:22] daren-thomas opened #1996 "CEA Dashboard crashes when opening a non-existant project"
Steps to reproduce:

- fresh installation of CEA (e.g. delete `cea.config`, delete `C:\reference-case-open`)
- start CEA Dashboard
- choose "open project"
- click "Open" (accepting default `C:\reference-case-open`, which doesn't exist)

Expected result: I'm not sure what I expected... Maybe I don't expect to have that project in the box if it doesn't exist?

Actual result: "Internal Server Error"

[2019-05-22 12:30] daren-thomas commented on #1987
After more digging, I found the installer includes a `Dependencies\Python\qt.conf` file which should be updated when installing. The contents (as installed) are:

[code]

[2019-05-22 13:21] daren-thomas commented on #1987
https://www.dropbox.com/s/cgf9jkcaikzo618/Setup_CityEnergyAnalyst_2.14.exe?dl=0

The above installer should fix this problem. I'm running some tests (local and in vm) to verify, but will create a PR as soon as that's done.

@gabriel-happle please test the installer on your computer to see if it solves the problem for you too.

[2019-05-23 03:25] reyery commented on #1956
@JIMENOFONSECA currently the data I am pulling for the front end only contains variables for plots, using the `naming.csv` file. Would you like to include other variables such as those for input/output databases? @Jack-Hawthorne is there anywhere I could extract this other information?

[2019-05-23 07:16] Jack-Hawthorne commented on #1956
@reyery so i have in mind a re-vamp of the naming.csv to include all written variables, not just those for plots. my idea so far is to:

- cross reference with the meta-data from trace-inputlocator, checking to see if all variables in the naming.csv are ACTUALLY used (i have a feeling there are many outdated ones in there)
- for the ones which appear in the naming.csv, merge the naming.csv variabl

[2019-05-23 07:31] daren-thomas commented on #1956
@JIMENOFONSECA, are the variables in `naming.csv` always output fields from scripts?

@Jack-Hawthorne can you please create a sketch / mockup of the output you expect to create? we have an idea of the `schemas.yml` file (though, the list of columns could be a list instead of a dictionary - i'll look into that should it arise) and we already have the `naming.csv`. Which ones are you proposing to ch

[2019-05-23 07:38] daren-thomas commented on #1987
This is now fixed. Users of releases 2.14 and before can re-run the 2.14 installer from GitHub to fix this.

[2019-05-23 07:44] #1901 closed

[2019-05-23 07:46] daren-thomas commented on #1974
@JIMENOFONSECA, maybe let me refrain the question a bit: What is the rationale? Why was it removed? Whoever removed it, didn't do a proper search / replace.

![image](https://user-images.githubusercontent.com/2969564/58234652-52f96b00-7d3f-11e9-8313-f4e90437281b.png)

This code is now non-functional. So I'd really like to know who moved it, where to, and what to do about the stuff that's now broke

[2019-05-23 07:50] shanshanhsieh commented on #1958
hey @daren-thomas , can you help me understand this error? thanks!
![image](https://user-images.githubusercontent.com/16998305/58234969-683bbd00-7d72-11e9-8d1a-ae9e98f1f670.png)

[2019-05-23 07:52] daren-thomas commented on #1977
Just checked. Confirmed. Closing. Thank you :)

[2019-05-23 07:52] #1977 closed

[2019-05-23 07:56] daren-thomas commented on #1958
Yes, this is fixed in PR #1997 - basically, the installer didn't set up qt properly in your environment. Either re-run the installer (from the releases page) OR (much quicker):

- open the file `C:\Users\YOUR_USER_NAME\Documents\CityEnergyAnalyst\Dependencies\Python\qt.conf`
  - of course, replace with your user name
- edit each path in that file to be similar to this:

[code]

(please note that t

[2019-05-23 08:55] daren-thomas commented on #1768
@Jack-Hawthorne  see `bin/create-changelog.py` in master. note, what's missing is figuring out the version of the cea at time of merge. this can be figured out by calling into git with the commit id - check this answer on stackoverflow on how to use [git show](https://stackoverflow.com/a/338470/2260) to do that - you can use `subprocess` and capture stdout then parse that to get the version.

[2019-05-23 09:02] martin-mosteiro opened #1999 "I_rad has wrong sign in energy balance plots"
I_rad should be grouped with the losses, not the gains. This is likely caused by PR #1778, which fixed a mistake in the sign in I_rad (among other issues).

<img width="1232" alt="E_balance" src="https://user-images.githubusercontent.com/18548065/58239905-3d3d7300-7d4a-11e9-9046-b667c8821a62.png">

[2019-05-23 09:15] gabriel-happle commented on #1987
@daren-thomas should I close this? do you want to keep it open or post it somewhere for everyone?

[2019-05-23 09:27] shanshanhsieh commented on #1958
first i had an error with the `osmnx` model
and now i have this
![image](https://user-images.githubusercontent.com/16998305/58241668-06824f80-7d80-11e9-8c86-605078c3edb4.png)

[2019-05-23 09:31] JIMENOFONSECA commented on #1974
yep, I believe it is not part of the tools MPC-district and MPC-building anymore, so we can delete it…

_______________________

Dr. Jimeno A. Fonseca
Senior researcher and project coordinator
Future cities Laboratory
Singapore ETH-Centre

Chair of Architecure and Building Systems
ETH Zurich

On 23 May 2019, 3:47 PM +0800, Daren Thomas <notifications@github.com>, wrote:

@JIMENOFONSECA<https://git

[2019-05-23 09:34] JIMENOFONSECA commented on #1956
The variables in naming.csv where created to account for variables that we include in the plots of CEA.

There might be more variables that are not yet part of the plots of CEA, which are parts of the outputs.

To test changes in Naming, I will 1. run all the plots of CEA. I mean all the 60, and check that we did not erased any variable from naming.csv.

I think naming.csv has the variables we nee

[2019-05-23 10:04] JIMENOFONSECA opened #2001 "Ability to select and erase one building form the dashboard (and all data)"
@reyery so this is one functionality that Luis asked me about. It turns out that sometimes the open street maps imports builidings that

1. Too small for CEA to run, so CEA crashes.
2. buildings that the user does not want, but that he/she achcidentaly included.

So it would be good to have a command to erase the building and the row in all the input databases.

[2019-05-23 10:13] martin-mosteiro opened #2002 "Negative values in PV potential"
Some interesting results from Jakub: a PV array producing negative electricity!
<img width="651" alt="image" src="https://user-images.githubusercontent.com/18548065/58244787-a4abf080-7d53-11e9-93f9-2848a5beb880.png">
(That's a building in the Zurich case study and the date is 20 February).

A similar issue had previously been found (and solved) for solar collectors (#1409).

[2019-05-23 14:13] daren-thomas commented on #1958
what's the value of `cooling-case-workflow:last` in your config file?

[2019-05-23 14:14] #1987 closed

[2019-05-23 14:16] daren-thomas commented on #1974
ok. assigning to you - you are probably the most knowledgeable person on the team regarding this matter. we'll prioritize it next week.

[2019-05-23 14:29] #1955 closed

[2019-05-23 14:29] #1882 closed

[2019-05-24 02:31] #1950 closed

[2019-05-24 03:57] gabriel-happle opened #2004 "test_calc_thermal_loads should be executed for all buildings, not only `B01`"
Also, there is a "reference-case-cooling" now that should be included in the tests of the demand calculation.
And, I would like to add a SOP where testers explain why and how the test data is updated and write a few lines about why the updated values make sense.
Assigning @daren-thomas for now.

[2019-05-24 04:13] gabriel-happle commented on #2004
E.g. https://github.com/architecture-building-systems/CityEnergyAnalyst/pull/1994#issuecomment-495462581

[2019-05-24 06:25] shanshanhsieh commented on #1958
oops, that's the problem! it was left blank... my bad
running the entire workflow again, at optimization now... will update you in 1-2 hours!

[2019-05-24 07:04] Jack-Hawthorne commented on #1956
@daren-thomas
ok, currently the documentation merge method works like this:
- read the old glossary file, read the naming.csv, read the metadata from trace script
- compare the metadata variables to those within naming.csv and glossary.csv
- if matched in only naming, parse the description from naming.csv (first priority) and put TODO for the other elements
- if matched in naming and glossary, par

[2019-05-24 07:06] gabriel-happle opened #2005 "Dashboard: Create new project from import data not working"
The functionality of `import input files` in the new project tool is not functional.
![image](https://user-images.githubusercontent.com/17002288/58308929-6686fd80-7e35-11e9-8a6a-1b0d398b3f2a.png)

[2019-05-24 07:49] shanshanhsieh commented on #1958
[code]

[2019-05-24 07:50] daren-thomas commented on #1958
[code]

runs through on my machine. hm...

[2019-05-24 08:30] #1982 closed

[2019-05-24 08:44] daren-thomas opened #2006 "Temperature Axis Title on Solar radiation curve plot covered by legend"
![screenshot_2019-05-24_city_energy_analyst_default_dashboard.png](https://images.zenhubusercontent.com/57b40957e40e5714b16d7331/29d41bf1-b6c9-4cfd-ac02-24f8c2435b17)

See the above screenshot from the dashboard.

[2019-05-24 09:21] Jack-Hawthorne commented on #1956
@JIMENOFONSECA @daren-thomas
here is the current output of this method:
[example_csv_file.txt](https://github.com/architecture-building-systems/CityEnergyAnalyst/files/3216126/example_csv_file.txt)

[2019-05-24 10:37] gabriel-happle opened #2007 "Dashboard: Terrain helper tool does not show a success message when finished"
Terrain helper tool does not show a success message when finished.
I also saw this for the data helper tool, there the close button turned green after running.
In the terrain helper tool the close button was immediately green. This made me question if the tool was still running or maybe crashed.
Not sure if it is intended.

Assigning @reyery for now.

[2019-05-24 10:43] gabriel-happle opened #2008 "Dashboard: demand tool not working when non-existing building is selected in config"
I'm getting `Internal Server Error`.
Previously a `B001` was selected for the demand calculation and still saved in the config file.
When opening a project that does not have `B001`, the demand tool does not open.
Assigning @daren-thomas and @reyery

[code]

[2019-05-27 03:26] #1985 closed

[2019-05-27 03:34] reyery commented on #1866
@daren-thomas I am guessing I can go ahead and remove this page entirely to close this issue? The only concern left is the weather setting, which I feel is a separate unrelated issue.

[2019-05-27 07:41] #1958 closed

[2019-05-27 08:02] lguilhermers opened #2011 "Error running demand script - BUG: demand cannot process `REFERENCE` added by zone-helper."
Hi all,

I am Luis and took the executive course on CEA and now I am working with Jimeno in the Cooling Singapore project. I am testing some case studies across Singapore and facing some issues, so @JIMENOFONSECA  asked to update them here.

This one is related to running the demand code. Apparently it tries to call the occupancy_schedules and finds a problem.
@daren-thomas, Jimeno said that you m

[2019-05-27 08:06] lguilhermers opened #2012 "Error when running Data helper: BUG: "INDUSTRY" vs "INDUSTRIAL" in zone-helper"
For this case study I am not being able to run the Data Helper and there is no clear message about what could be the error when running the code in PyCharm.

Case study file can be found here (expires in one week): https://we.tl/t-nsYDnHEBPt

[2019-05-27 08:09] lguilhermers opened #2013 "Error when running district helper"
For this case study I am not being able to run the District Helper. the  error message  when running the code in PyCharm indicates some float NaN cannot be converted to integer

Case study file can be found here (expires in one week): https://we.tl/t-MO6L8LFobl

[2019-05-27 08:28] lguilhermers opened #2014 "Error when running the Solar Radiation component"
This case study was not able to run the solar radiation. This error is indicated for one of the buildings (CEA1004):
_ValueError: ERROR: this usually happens when buildings do not overlap with the terrain, try to check if this is the case_
I ran the terrain helper before and didn't identify nothing special about the building geometry that can be causing this.

Case study file is attached here (exp

[2019-05-27 10:44] gabriel-happle commented on #2012
@lguilhermers I took a look at this.
It seems your occupancy.dbf has the type "INDUSTRY" and "INDUSTRIAL".
The bug is caused by the zone-helper script in the function `calculate_occupancy_file`.
I'm therefore renaming this issue and assign labels.

[2019-05-27 10:55] gabriel-happle commented on #2011
I also took a look at this @lguilhermers
I think the error is caused by your `occupancy.dbf` having some `REFERENCE` column/row.
The demand script can not process this currently.
You could do a workaround and delete this column from your files, e.g. with the dbf to excel and excel to dbf tools in CEA, while we fix this bug.
I'm also renaming the issue.

[2019-05-27 11:07] gabriel-happle commented on #2014
Hi @lguilhermers |
I took a look at your files.
![image](https://user-images.githubusercontent.com/17002288/58415902-81b27100-80b2-11e9-8c74-7990e06d476a.png)
![image](https://user-images.githubusercontent.com/17002288/58415979-b8888700-80b2-11e9-9b55-1bd7320d6e7e.png)

[2019-05-27 11:14] gabriel-happle commented on #2014
When I'm looking at your building geometry files, I see two columns I don't know.
One is empty and called `descriptio`, the other one is called `category` and usually has the value of `yes`.
Maybe @daren-thomas, @reyery or @JIMENOFONSECA know more.

[2019-05-27 16:16] emanuel030 opened #2015 "Negative Temperatures in thermal-network simulation"
I have ran the 'thermal-network' simulation for 4 different space cooling scenarios, in all of them you can observe negative temperature values. The temperatures get especially low in the Plant node as shown in this time series for one of the scenarios:
![Supply_Temp_Plant_2](https://user-images.githubusercontent.com/26175926/58430475-ce457e80-80a9-11e9-9467-07d909fb5a0c.png)

If we look closer we

[2019-05-27 16:43] emanuel030 opened #2016 "High ΔT in Building nodes for space cooling simulation"
I have ran the 'thermal-network' simulation for 4 scenarios.
If analyzing the supply and return temperature in the consumer nodes, a high ΔT gets apparent for each of the nodes.
This is the supply and return temperature of one node as well as there difference:
![Screenshot 2019-05-27 at 18 40 59](https://user-images.githubusercontent.com/26175926/58431646-03080480-80af-11e9-8465-1887746cf234.png)

[2019-05-28 03:12] reyery commented on #2011
@lguilhermers @gabriel-happle can confirm that the error is caused by the introduction of the `REFERENCE` column into the `occupancy.dbf` file. I have already came up with a solution and will be merging it to master soon.

[2019-05-28 03:29] reyery commented on #2011
Just a heads up on another issue. Was able to proceed with the demand script with the code change however it encountered another error. Not sure what that means. B1033 is the one in yellow
[code]

![Screenshot (3)](https://user-images.githubusercontent.com/34395415/58448652-1791de80-813b-11e9-9227-72f92157287a.png)

[2019-05-28 03:34] lguilhermers commented on #2011
Hi Reynold,
I have found this issue before and discussed with Jimeno. It was always happening because OpenStreet Maps selected some very small geometries as buildings (probably some infrastructure construction in real life). I bypassed it by setting Hs = 0 to those buildings.
This building in yellow seems big enough to not cause the error, but maybe its geometry contributes to it.

[2019-05-28 04:15] reyery commented on #2013
@lguilhermers I have found out that this error happened because the default `buffer` parameter that was set for the tool was too small and that it could not find any buildings within the range, which resulted in an empty list.

You could trying increasing the buffer for now so that it finds some buildings within the area.

In the meantime, I will find a way to handle that error, and maybe a way to

[2019-05-28 05:59] reyery commented on #2012
@JIMENOFONSECA based on `COLUMNS_ZONE_OCCUPANCY` only the column `INDUSTRIAL` exists not `INDUSTRY` found in `zone_helper`. So I am going to assume that `INDUSTRIAL` is the correct/intended column name and proceed with the fix.

https://github.com/architecture-building-systems/CityEnergyAnalyst/blob/edf54922c74a0803c03de7dcd3068915257dea61/cea/datamanagement/databases_verification.py#L12-L13

http

[2019-05-28 06:04] reyery commented on #2011
@lguilhermers thanks for the insight! Will create a new issue for this and look into it.

[2019-05-28 11:02] daren-thomas opened #2020 "Update "PV/SC/PVT Potential per Building for District" plot to look better for the dashboard"
The "PV/SC/PVT Potential per Building for District" plot (`cea.plots.solar_technology_potentials.all_tech_yearly.AllTechYearlyPlot`) has some issues when plotted with the new system in the dashboard.

- the instructions covers the legend (decide on what to do about that. suggestion: remove instructions)
- when the plot is first opened, nothing is shown
- the table is very long (decide on what to d

[2019-05-28 11:03] daren-thomas commented on #2020
@shanshanhsieh would you like to collaborate on this please?

[2019-05-28 11:13] daren-thomas commented on #1866
@reyery did you make progress on this?

[2019-05-28 11:18] reyery commented on #1866
@daren-thomas not yet. I'm just planning to remove it anyway.

[2019-05-28 11:22] shanshanhsieh commented on #2015
Currently, we have variable flow and variable temperature (VT&VF) control model in cea.
This can be solved by implementing constant temperature, variable flow control (CT&VF).
![image](https://user-images.githubusercontent.com/16998305/58474303-4f217a80-817d-11e9-9dac-1751c20a5910.png)
the iteration in the lower green box is the VT & VF control in the current cea model
in order to implement CT & V

[2019-05-28 11:39] daren-thomas commented on #2013
![image](https://user-images.githubusercontent.com/2969564/58475313-e5d64300-814d-11e9-86be-a44b37ab4caf.png)

@reyery It seems this is not fixed by #2018 as I don't see an error message to explain what is going on.

[2019-05-28 12:01] daren-thomas commented on #2013
@reyery nevermind: i pushed a fix for that - it was an unrelated race condition regarding reading the output of the script in the dashboard. The error message shows up now. Thank you.

[2019-05-28 12:02] daren-thomas commented on #2012
this seems to work with your PR!

[2019-05-28 12:35] #2011 closed

[2019-05-28 12:45] martin-mosteiro opened #2021 "Pumping energy calculation incorrect according to literature"
Just got feedback on the CEA thermal network simulation from . At the moment, we are calculating the pumping energy as follows:
[code]
where
[code]

That is, `Pumping_power = [pressure_loss_pipe(e) * mass_flow_rate (e) + pressure_loss_node(n) * mass_flow_rate(n)] / water_density / pump_efficiency` for each edge _e_ and node _n_.

This is not correct, however. From  _District Heating and Cooling_ (

[2019-05-28 15:17] shizhongming commented on #1761
@daren-thomas I think I remembered to do that every time I updated. Probably I forgot this time...It works now....Now, I am testing all the commands in Grasshopper now and I will give an update soon. :)

[2019-05-28 15:53] shanshanhsieh commented on #2015
@martin-mosteiro @emanuel030
in branch `i2015`, i did the initial implementation:
1. avoid too low plant temperature: switch the control to 'CT_VF' when `t_plant_sup` is lower than 2C
2. simulate network with constant supply temperature:  `t_plant_sup_0` is fixed in line 2602 in the script

i added some hints for you to understand the implementation, look out for `TODO[SH]` in `thermal_network.py`

[2019-05-29 03:03] lguilhermers commented on #2011
@reyery  one aditional note to your comments. the building B1033 is actually this one (circled in red), which is consistent with the small geometries issues I was having before. Probably a filter to remove small areas would happen a lot. Open Street Maps has a lot of those.
Thanks for the fix!
![image](https://user-images.githubusercontent.com/50981039/58526364-55593a80-8201-11e9-981f-36dd8556c5cc

[2019-05-29 06:15] lguilhermers commented on #2012
I managed to run the data helper with the fix, but the running the demand still shows an error:
  File "C:\Users\luis.santos\Documents\CityEnergyAnalyst\Dependencies\Python\lib\site-packages\xlrd\book.py", line 476, in sheet_by_name
    raise XLRDError('No sheet named <%r>' % sheet_name)
xlrd.biffh.XLRDError: No sheet named <u'INDUSTRY'>

Process finished with exit code 1

[2019-05-29 08:03] reyery commented on #2012
@lguilhermers hmmm.. `INDUSTRY` should not be appearing anymore. Does your new `occupancy.dbf` file still have the `INDUSTRY` column at the end?

Could you provide the full stack trace of the error or the `solar-radiation` files? Because I cannot run and recreate the problem without running daysim which is going to take a very long time to run on my laptop.

[2019-05-29 08:07] shizhongming commented on #1761
@daren-thomas Hi, I am using the installer v2.14..and did the command `cea install-grasshopper`...it still reverted me the same error.. then I tried on another computer...the other computer cannot go through the `cea install-grasshopper`..

[2019-05-29 08:08] shizhongming commented on #1761
<img width="645" alt="image" src="https://user-images.githubusercontent.com/16640327/58540430-efce7380-822b-11e9-98ee-ea9f14cfd3e3.png">

[2019-05-29 08:44] lguilhermers commented on #2012
I think I know what happened. The Industry was still in the dbf for one of the buildings, even though I couldn't see it anymore in the CEA. I think for new models it should be fine
![image](https://user-images.githubusercontent.com/50981039/58542744-b2201980-8230-11e9-938b-f99c4ae1a406.png)
Now I am getting a new error when I run the demand:
C:\Users\luis.santos\Documents\CityEnergyAnalyst\Depende

[2019-05-29 08:46] lguilhermers commented on #2012
Model file is here: https://we.tl/t-GboICJ9FUj

[2019-05-29 09:44] reyery commented on #2012
@lguilhermers Seems like your `occupancy.dbf` has been altered and the `Name` column is missing. You could try running `zone_helper.py` again to recreate the file or manually add the `Name` column back again (but I suggest the former). Should not have any problems after that as I was able to run it on my side.

[2019-05-29 09:45] #2013 closed

[2019-05-29 14:03] daren-thomas commented on #1761
hi @shizhongming i think the installation didn't run through cleanly on that computer. the hint: it's trying to use the python from my user account! can you do this:

`C:\Users\Admin\Documents\CityEnergyAnalyst\Dependencies\Python\python.exe -m pip install -e "C:\Users\Admin\Documents\CityEnergyAnalyst\CityEnergyAnalyst`

[2019-05-29 14:13] daren-thomas commented on #1956
@Jack-Hawthorne wait a minute... I just looked at `example_csv_file.txt` and I don't really think the column "script" is correct. Shouldn't it be the filename instead? or the locator method? I think you're throwing away information here for no reason at all. but maybe I'm missing something?

[2019-05-29 14:18] daren-thomas commented on #2004
@gabriel-happle check out `cea.tests.test_calc_thermal_loads.TestCalcThermalLoads#test_calc_thermal_loads_other_buildings` - it runs it for the other buildings too! the testing is just not as strict (tests totals, not individual values).

yes, let's include the reference-case-cooling too!

[2019-05-30 01:32] gabriel-happle commented on #2004
@daren-thomas I know. I think we can compare the same values as for the individual building. We are only testing 3 quantities for those buildings.

[2019-05-30 03:29] gabriel-happle opened #2024 "Create functionality to assign individual custom occupancy schedule (people) to building"
For my research I want to create a new functionality that allows the assignment of a custom occupancy schedule to individual buildings.

Since I like using jupyter notebooks, I would like to create some interface to the building models from there.

I imagine, after the building model (i.e. the `bpr`) is created I have to overwrite the occupancy schedule and recalculate the ones depending on it (in

[2019-05-30 03:31] gabriel-happle commented on #2024
@daren-thomas, if you could quickly explain how `cea` code should be called ideally from `jupyter notebooks` I could turn that into one of the next blogs.

[2019-05-30 05:57] gabriel-happle opened #2025 "Dashboard: multiple ambiguities with network calculation interface"
![image](https://user-images.githubusercontent.com/17002288/58611747-c45a9000-82e2-11e9-8484-c87ba89eded1.png)

[2019-05-30 06:00] gabriel-happle commented on #2025
When opening the network interface, I noticed various small things that are unclear.
- network-name parameter is not clearly described
- representative-week option appears twice
- tool is for "branched" networks, diameter iteration mentions "looped" networks as well
- heating system should mention "DH" instead of "DC" (typo)

[2019-05-30 06:14] gabriel-happle opened #2026 "Dashboard: Thermo-hydraulic network (branched) requires click on `Save configuration` to apply changes to settings"
different from other tool interfaces, this one does not accept changes to parameters directly when clicking on `Run ...`. One has to first click on `Save configuration` to apply changes.

[2019-05-30 06:45] Jack-Hawthorne commented on #1956
@daren-thomas yeah this is now old, please check out the branch #2017
the script is handy for themes which are already present in the naming.csv under the attribute 'category'

the `naming_new.csv` one has the following attributes:

[code]

with the primary key easily made from combining the `file_name` with the `variable`

[2019-05-30 07:58] daren-thomas commented on #2025
@gabriel-happle some of these might be linked also to #1925 - I think we're moving towards each script having it's own list of parameters. the `representative-week` option could be from that: maybe a whole section was imported in the `scripts.yml` and also separately referenced.

I also think we should go over the descriptive text for all parameters for all tools. A lot of them need need some edit

[2019-05-30 08:04] daren-thomas commented on #2026
I'm surprised. The parameters are passed to the script on `[Run]`. I'm guessing the script re-reads the configuration file, possibly in the `main` function. I checked quickly and couldn't find anything. Does this apply to all the parameters? Or maybe just the one that was duplicated? (see issue #2025)

[2019-05-30 08:06] gabriel-happle commented on #2026
In my case, it applied to all parameters.

[2019-05-30 08:18] daren-thomas commented on #2024
oh yeah, i'm hoping to do a blog on that someday too. here's a pointer: check out the `cea.api` namespace in `IPython` - it let's you invoke all the cea scripts from python!

`cea.api.demand(weather='path/to/weather', ...)`

I think the schedules could use some work: at the moment, they're created by this crazy Excel sheet. What if we had a schedule editor in the Dashboard and a more "sane" way to

[2019-05-30 08:43] Khayatian commented on #1967
Apparently, this issue only concerns my computer not IE in general. Therefore, we can close the issue.

[2019-05-30 08:44] #1967 closed

[2019-05-30 09:14] daren-thomas commented on #1896
@shizhongming still needs to test this, issues with `install-grasshopper` command. @daren-thomas will provide some help.

[2019-05-30 09:18] #1930 closed

[2019-05-30 09:29] daren-thomas opened #2027 "Create a "Check for updates" shortcut with installer on Windows"
it should do a `pip install -U cityenergyanalyst`

[2019-05-30 09:31] #1983 closed

[2019-05-30 09:42] daren-thomas commented on #1995
this issue is being rebranded by @martin-mosteiro

[2019-05-30 10:49] shizhongming commented on #1761
@daren-thomas following your solutions above. The `cea install-grasshopper` works now. However, there is another issue....as in the picture. The `cea install-grasshopper` command seems to not create a config.py file? in the folder of Rhino? Reynold was trying to help, but we couldnt figure out how....
![image](https://user-images.githubusercontent.com/16640327/58628202-ae14fa00-830b-11e9-8fd8-4466

[2019-05-30 10:58] shizhongming commented on #1761
@daren-thomas it seems that @reyery found a solution..he is gonna send a pull request..

[2019-05-30 10:59] reyery commented on #1761
@daren-thomas I think I found out why and I think it is probably due to the fact that the `install-grasshopper` script is not copying over the `config.py` file.

[2019-05-30 11:01] martin-mosteiro commented on #1995
Turns out that @JIMENOFONSECA already solved this issue recently. However the variable names could be made more consistent, plus the script wouldn't work if buildings without demand were not connected but they were also included in the `disconnected_buildings` list.

[2019-05-30 13:41] #1995 closed

[2019-05-31 03:03] gabriel-happle commented on #1932
@martin-mosteiro you were right! there is a process schedule for LAB, but only in the CH archetypes.
I was checking the reference-case-cooling at the time I made this issue.
I will just add the same schedule to the SG archetypes and test quickly in both regions.

[2019-05-31 03:17] gabriel-happle commented on #1932
@martin-mosteiro in any case, the process schedules of LAB (and HOSPITAL) were not read by the `read_schedules` function.
I also noticed that HOSPITAL has processes in CH.
I'm therefore adding the same schedules in SG.

[2019-05-31 04:06] gabriel-happle opened #2030 "INDUSTRIAL, LAB, HOSPITAL archetypes in SG do not have process heat demand (internal loads)"
INDUSTRIAL, LAB, HOSPITAL archetypes in SG do not have process heat demand (internal loads)
- should they?

[2019-05-31 04:07] gabriel-happle opened #2031 "reference-case-cooling has only 3 uses"
- more uses like in reference case open should be tested

[2019-05-31 04:08] gabriel-happle opened #2032 "reference-case-open does not have LAB use"
- LAB use could be added to the reference case for testing
- also other new uses like MUSEUM and UNIVERSITY are not tested

[2019-05-31 06:05] reyery opened #2033 "Editing and saving input values in dashboard causes error"
There seems to be a problem when editing input values in the dashboard and saving them.
Changing a value (e.g. edit `height_ag` and click save) will cause an error.

This happens because the program is trying to convert the coordinates of the polygons but is unable to find the original coordinate system of the file.
[code]

For some reason, when saving the new dataframe to file, it causes the `.pr

[2019-05-31 06:08] reyery commented on #2033
@daren-thomas any clues for why this is happening? I want to test the installation theory but am not sure how to do it with the new cea installation since installing `fiona` and `gdal` using `pip` is quite complicated.

[2019-05-31 07:51] JIMENOFONSECA commented on #2011
Hi guys,

We added this column as part of the inputs from data of Open street maps. It run on master before I left without a problem…maybe something changed?

Best,
Jimeno

On 27 May 2019, 12:57 PM +0200, Gabriel Happle <notifications@github.com>, wrote:

I also took a look at this @lguilhermers<https://github.com/lguilhermers>
I think the error is caused by your occupancy.dbf having some REFERENC

[2019-05-31 08:48] gabriel-happle opened #2036 "Archetypes Database is not really flexible accross multiple scenarios"
@shizhongming approached me with a question:
- how to modify archetypical construction across multiple (>100) scenarios?

Turns out, that is actually not easily possible. It seems either one has to modify the cea databases (and potentially run into trouble when updating from master/installing a new version) or one has to manually copy-paste/modify the database 100 times.

I think one possible enha

[2019-05-31 08:51] gabriel-happle commented on #2036
Maybe in this way, we could create a repository of database structures from different users to be shared and exchanged.
I.e., the workflow would be to copy one of the existing databases and play around with the valid parameters while keeping the same structure, just in another folder anywhere on the computer.

[2019-05-31 08:53] daren-thomas commented on #2036
I kind of like this idea. I think it could work similar to the weather files, which are either the name of a built-in weather file _or_ the path to a weather file. The region parameter (how cool is it that it's only used in the data-helper now!?) could be just that. Either a built-in region name _or_ the path to a region database folder structure.

[2019-05-31 09:17] daren-thomas commented on #2033
I noticed that installations running with the CEA Console have a lot of fiona messages about GDAL paths etc.

[code]

This page has some hints: https://stackoverflow.com/questions/14444310/how-to-set-the-gdal-data-environment-variable-to-point-to-the-directory-containi

I did a quick test with the following: Open `$INSTDIR\dashboard.bat` and edit it to be like this:

[code]

(update the paths to r

[2019-05-31 18:59] kerembeygo opened #2037 "CEA 2.14 Energy Potentials"
For PV2, PV3 selection CEA runs for PV1.
For FP selection runs for ET
![Photovoltaic Thermal PV2](https://user-images.githubusercontent.com/29708612/58728270-33250f80-83ef-11e9-9362-dd835d7f56e4.jpg)
![Photovoltaic Thermal PV1](https://user-images.githubusercontent.com/29708612/58728281-3c15e100-83ef-11e9-9754-3bd5dc3d510c.jpg)

[2019-06-02 17:45] martin-mosteiro opened #2038 "Config file has similarly-named options that are confusing"
The `plots` section of the config file contains the following two options:
[code]

Isn't it kind of confusing to have a `buildings` and a `building` option? When exactly should each be used is also not clear. What if I want to run a single plot that is not Energy Demand, Comfort or Heating Reset-schedule?

[2019-06-03 07:59] daren-thomas commented on #2038
So the problem I was trying to solve here is, some plots only work on a single building. Other plots can work on a district. The was the `cea plots` tool works, is it runs a bunch of plots. It's a bit messy on the details of running SingleBuildingPlots - basically, the plot categories do a big `if` statement on the length of the `buildings` parameter.

The dashboard interface stores plot settings

[2019-06-03 08:00] daren-thomas commented on #1990
Maybe we remove the `cea plots` tool alltogether. see discussion here: #2038

[2019-06-03 08:10] #1761 closed

[2019-06-03 08:59] lguilhermers opened #2039 "not being able to create new scenarios"
Hi all,
I am getting:
"Internal Server Error
The server encountered an internal error and was unable to complete your request. Either the server is overloaded or there is an error in the application." whenever I try to create a new scenario.
Before it was working fine.
It happens after I put the specifications and click on "Create"

[2019-06-03 12:05] gabriel-happle opened #2040 "Installer: jupyter notebook launcher tries to find non-existing anaconda environment"
to solve the issue of not being able to launch jupyter notebook with the CEA console
[code]

We suggest to `pip install --force-reinstall jupyter` .

However, this process is blocked by an error regarding `functools32`:

[code]

To solve this error in the folder `CityEnergyAnalyst\Dependencies\Python\Lib\site-packages` delete the folder `functools32` and the file `functools32-3.2.3_2-py2.7.egg-inf

[2019-06-03 12:06] gabriel-happle commented on #2040
@daren-thomas is the issue accurately described?

[2019-06-03 13:01] daren-thomas commented on #2039
@lguilhermers, can you show the output of the dashboard console? You can find it in your taskbar, it's the minimized window with the CEA logo. If you open that, you should see a console with the error message - could you please copy/paste the whole stacktrace here? or do a screenshot?

[2019-06-03 14:09] martin-mosteiro opened #2041 "Thermal network simulation uses wrong section of the config file"
From line 439 in thermal_network.py:
[code]
So whether the representative week method is used or not is defined not by the `thermal-network` section of the config file, but by the `thermal-network-optimization` section (i.e., when running thermal network simulation the optimization configuration overrides the simulation configuration).

[2019-06-03 14:22] daren-thomas commented on #1953
I made the changes requested and added the post to the squarespace blog thing as a draft. I'm not so sure about a header (poster?) image - how did you guys do that? also: what kind of image should i choose? i'm a bit at a loss here...

[2019-06-03 15:00] daren-thomas commented on #1991
@kerembeygo, there are a bunch of issues lumped into this one, so please be patient, I will try to address them all...

- did you install the "Base Installation" or the "Developer version"?
- it looks like you have previous installations on your computer?
- regarding version mismatch: I think that should be fixed now - maybe re-install or, if you have the developer version, pull from github. Read

[2019-06-03 19:28] martin-mosteiro opened #2043 "Installation guide is incomplete?"
Clean install of CEA following [the installation guide](https://city-energy-analyst.readthedocs.io/en/latest/installation-on-windows.html). The steps are as follows:

[code]
So far so good. I want to use Pycharm, so I go to the following section:
[code]
Check.
[code]
Check.
[code]
Problem. There is no cea environment in anaconda. Is this supposed to have been created by the installation file? This

[2019-06-03 19:29] martin-mosteiro commented on #2038
In that case the question has been clarified and whether to do something about it or not is part of issue #1990. I believe this question-issue can be closed now.

[2019-06-03 19:29] #2038 closed

[2019-06-04 01:37] lguilhermers commented on #2039
Sure, @daren-thomas

C:\Users\luis.santos\Documents\CityEnergyAnalyst>SET PATH=C:\Users\luis.santos\Documents\CityEnergyAnalyst\Dependencies\Python;C:\Users\luis.santos\Documents\CityEnergyAnalyst\Dependencies\Python\Scripts;C:\Users\luis.santos\Documents\CityEnergyAnalyst\Dependencies\Daysim;C:\Program Files\Microsoft MPI\Bin\;.;C:\DAYSIM\lib\;C:\DAYSIM\bin\;C:\Program Files (x86)\Intel\iCLS Clie

[2019-06-04 02:54] reyery commented on #2033
@daren-thomas can confirm that setting `GDAL_DATA` and `PROJ_LIB` solves the problem when running from the dashboard shortcut. Is it possible to add these environment variables from the installer so that it fixes the problem for users that start it from cmd line or pycharm?

[2019-06-04 05:26] reyery opened #2044 "Grasshopper InputLocator error"
Currently running Grasshopper is showing this error message.

[code]

Grasshopper is trying to find the `weather` databases but is unable to find them. As seen in the code below, `inputlocator` makes use of `__file__` to find the directory of the database folder, which in this case is `C:\Users\Admin\AppData\Roaming\McNeel\Rhinoceros\5.0\scripts\cea\`

https://github.com/architecture-building-syst

[2019-06-04 05:28] reyery commented on #2044
@daren-thomas I'm not familiar with how `.pth` files are supposed to work, but I am guessing it is supposed to point to the databases path. But this is case it is not working.

[2019-06-04 05:40] gabriel-happle commented on #2043
@martin-mosteiro this is a duplicate of #1988. It will be fixed with PR #2042 that I just approved.
If this solves your issue, please close this one.

[2019-06-04 05:54] gabriel-happle commented on #2024
@martin-mosteiro I'm entering your `occupancy_model` territory here.
I realized that schedules are created inside the `thermal_loads` script.
As a first step, I think we could move the schedules to the `bpr` object, which is actually something like our "building model".
Is there anything that would speak against that?

@daren-thomas in the future they could be part of the `building_properties`. Bu

[2019-06-04 07:10] daren-thomas commented on #2024
@gabriel-happle I like that workflow.
@JIMENOFONSECA do we need to stick with dbf? wasn't that just for ArcGIS?

[2019-06-04 07:12] #1988 closed

[2019-06-04 07:24] daren-thomas opened #2045 "The CEA Blog is password protected"
I just published my two blog parts and tried to check the post. I get the following:

![image.png](https://images.zenhubusercontent.com/57b40957e40e5714b16d7331/b3ee55cf-c4ad-4a20-b7f6-8bd3c3403250)

this happens with my posts, but _also_ with jimenos. is there a setting somewhere?

[2019-06-04 07:29] #1953 closed

[2019-06-04 07:34] daren-thomas commented on #2044
@reyery could you please add some information of _what_ you're running in grasshopper? maybe the inputs used? thank you.

(i'm guessing it should probably be more something like `os.path.dirname(cea.databases.__file__)` but i'd need to check.

the `.pth` file adds folders to the PYTHONPATH. what is the contents of `databases.pth`?

[2019-06-04 07:53] reyery commented on #2044
@daren-thomas running anything that would require accessing the databases i.e. `demand` with `scenario` path as input and everything else as default.

The `databases.pth` file provides the correct path to databases
i.e. `C:\Users\Admin\Documents\CityEnergyAnalyst\CityEnergyAnalyst\cea\databases`

[2019-06-04 08:05] daren-thomas commented on #2043
@martin-mosteiro just merged #2042. please check again. also, a draft of my blog on installing for Developers/Researchers is here: https://daren-thomas.github.io/installing-cea-on-windows-part-2/ - wait. let's just put it live on our blog and see what happens: ah no. see #2045 for that...

can we close this?

[2019-06-04 09:05] martin-mosteiro commented on #2043
Thanks for the clarification, @gabriel-happle. @daren-thomas I'll give it a try and let you know how it goes.

[2019-06-04 09:07] #2043 closed

[2019-06-04 10:03] daren-thomas commented on #2039
I've just tried it with the most recent version of the CEA installer (preview: https://www.dropbox.com/s/nnpytege07xo92q/Setup_CityEnergyAnalyst_2.15a0.exe?dl=0) and it seems to work. Would you please re-install CEA and see if it works now? Else, I would need more information of your inputs to re-create the error message: Exact location you're using, what you clicked etc. Maybe a zip of the scenar

[2019-06-04 10:58] Khayatian opened #2046 "Demand tool not working when occupancy fraction is modified"
When the fraction of occupancy type is modified, the demand tool will not run.

To replicate:
(1) run the open reference case scenario
(2) in project management, create a copy of the scenario
(3) in the new scenario go to inputs/occupancy
(4) modify building 3 in the following way:
    a) change the fraction of occupancy for industrial from 0.5 to 0.0
    b) change the fraction of occupancy for li

[2019-06-04 11:59] daren-thomas opened #2048 "Blog post for M2.18"
As for every sprint, we're doing a blog post for M2.18. Who's up? @martin-mosteiro can give a sneak preview of his paper (occupancy in CEA) or exposé of student's work.

[2019-06-04 12:11] daren-thomas commented on #2033
This should be fixed with Release 2.15. Would you mind trying out the installer please? https://github.com/architecture-building-systems/CityEnergyAnalyst/releases/tag/v2.15

[2019-06-04 12:12] #1768 closed

[2019-06-04 12:26] martin-mosteiro opened #2049 "Poorly written variable description in config file"
Running from the dashboard. The variable `network-type` is described as follows: "type of network used, based on the region, for Switzerland it is DH, for Singapore it is DC".

This is not a good description of what the variable means. The point is DH is district heating and DC is district cooling, regardless of country.

[2019-06-04 12:42] martin-mosteiro commented on #2041
@shanshanhsieh I have changed all instances of `config.thermal_network_optimization.use_representative_week_per_month` to ` config.thermal_network.use_representative_week_per_month` as discussed. You can check this on branch `2041-thermal-network-config`.

As discussed, please double check whether this affects the optimization workflow. If it does, I suggest unifying the sections `[thermal-network

[2019-06-04 12:55] reyery commented on #2033
@daren-thomas I can confirm that this issue is fixed with Release 2.15, when running from dashboard shortcut or cmd line. Closing issue.

[2019-06-04 12:55] #2033 closed

[2019-06-04 13:02] #2049 closed

[2019-06-04 14:37] daren-thomas commented on #1870
Some of this is fixed. Other stuff not yet.

- regarding 1: detailed electricity pricing, multi-criteria, network-type, region... for each of the optimization plots, we need to define the variables...

- regarding 2: fixed that, but still I'd like to work some more on that (formatting of BooleanParameter is not as nice as in the tools)

In addition, when setting the generation to 1 (working from c

[2019-06-04 14:52] martin-mosteiro opened #2051 "Swiss occupancy schedules are really outdated"
The Swiss occupancy schedules in CEA are based on SIA 2024 (2006). There has been a new version of this standard for four years now (2015)!

The schedules (and particularly the monthly schedules) have changed dramatically, but other boundary conditions (occupant density, water demand, electricity demand) have changed significantly as well.

Check out, for example, the monthly schedules for offices

[2019-06-05 20:58] kerembeygo commented on #1991
@daren-thomas

- I installed "Developer version"

- Yes I have previous versions. I want to uninstall them. There were uninstall.exe files in different versions of CEA folders. I tried to run them. Only uninstall files are gone. See below for properties of CEA 2.15 (on the left) and CEA 2.9 (on the right)
![CEA](https://user-images.githubusercontent.com/29708612/58987014-46691e00-87e7-11e9-9fb1-9c

[2019-06-06 03:34] reyery commented on #2012
@lguilhermers just want to check with you if this issue has been resolved?

[2019-06-06 13:49] shanshanhsieh commented on #2041
@martin-mosteiro , i've made the changes necessary for the thermal network optimization to accommodate the changes you made. feel free to create a PR!

[2019-06-07 02:48] gabriel-happle commented on #2024
@daren-thomas because this work is still experimental, I would like to have my schedule generator outside of CEA first to test.
Therefore, I would like to input the full yearly schedules of buildings directly. I.e., some vectors of 8760 values.

Currently, there are maximum 12 schedules per building:
`people` - number of people present
`ve` - required fresh air (depends on `people`)
`Qs` - heat ga

[2019-06-07 09:08] martin-mosteiro opened #2053 "Process schedules for LAB and HOSPITAL are questionable"
As mentioned in #1932 and #2034, I don't think the process schedules for LAB and HOSPITAL as defined in CEA make sense. Since there are no devoted schedules for these uses in the SIA standard, these were created as a copy of the process schedules for INDUSTRY, however this archetype was created based on data from a heavy manufacturing company in Switzerland. The schedules for processes follow a ve

[2019-06-07 09:09] martin-mosteiro commented on #2053
I'm co-assigning @gabriel-happle since this came up in an issue he created.

[2019-06-07 09:29] martin-mosteiro opened #2054 "Inconsistent DHW schedules in archetypes database"
The dhw schedules in CEA are processed as follows:
[code]
where P_dhw is the dhw schedule from the occupancy database and Schedule is the actual schedule read by CEA.

For all occupancy types except residential, however, the schedule in the occupancy file is either `P_dhw,weekday(t) = P_occ,weekday(t)` **OR** `P_dhw,weekday = P_occ,weekday(t) / (P_occ,weekday(0) + ... + P_occ,weekday(24))`

So the

[2019-06-07 09:30] martin-mosteiro commented on #2053
Probably worth getting your opinion on what to do with the SG process schedules, though @gabriel-happle

[2019-06-07 10:08] martin-mosteiro commented on #2030
Process heat in the Universitätsspital is used for sterilization, laundry, etc. I suppose that's a common requirement in other hospitals?
Labs and Industry depend on the type of lab and industry considered...
My take: it's okay for all of them to be 0 by default and it's just a parameter needs to provide for their specific application.

[2019-06-07 10:22] martin-mosteiro commented on #2054
@gabriel-happle There is no such inconsistency for DHW schedules in the SG database - worry not!

[2019-06-09 05:57] gabriel-happle commented on #2053
@martin-mosteiro I would have to do some research. no idea about it right now.

[2019-06-10 02:51] gabriel-happle commented on #2046
@Khayatian this might be related to PR #2034. I suggest to try this again after #2034 is merged.

[2019-06-10 03:23] lguilhermers commented on #2039
Dear Daren,
Sorry for the delay. I am using the developer version and pulling the updates from Github, so it should be updated. There is one update from you in the history saying it is version 2.15, so this should be fine.
I will list below the steps I am taking to see if you can help:
1- open CEA (dshboard is indicating is version 2.15)
2 - Create new project (named it "test", output path to a fo

[2019-06-10 03:23] lguilhermers commented on #2039
error log:

C:\Users\luis.santos\Documents\CityEnergyAnalyst>SET PATH=C:\Users\luis.santos\Documents\CityEnergyAnalyst\Dependencies\Python;C:\Users\luis.santos\Documents\CityEnergyAnalyst\Dependencies\Python\Scripts;C:\Users\luis.santos\Documents\CityEnergyAnalyst\Dependencies\Daysim;C:\Program Files\Microsoft MPI\Bin\;.;C:\DAYSIM\lib\;C:\DAYSIM\bin\;C:\Program Files (x86)\Intel\iCLS Client\;C:\Pr

[2019-06-10 03:25] lguilhermers commented on #2039
Zip file with what was created: https://we.tl/t-KnvzU5ZKnB

[2019-06-10 05:31] lguilhermers commented on #2012
@reyery currently I am unable to check on that due to another error that Darren is checking (https://github.com/architecture-building-systems/CityEnergyAnalyst/issues/2039#issuecomment-498607456).
I no longer have the old files to test, so I can do once I am able to test new projects again.
Thanks!

[2019-06-10 12:31] gabriel-happle commented on #2024
@daren-thomas if you have some time, would you please take a look at my branch https://github.com/architecture-building-systems/CityEnergyAnalyst/tree/i2024-read-custom-occupancy-schedule

Basically, I split the demand script into two:
- `make-building-models` creates the `bpr` including the yearly schedules and saves as `pickle`
- `demand` reads the pickle and calculates the demand as usual

I ch

[2019-06-11 02:21] lguilhermers commented on #2039
Hi Darren,
I changed the settings when creating the zone, restoring it to defaults and now I am able to create the scenarios again. Not sure what specifically was set to cause the error.

Would be good if whenever creating a new project from scratch those settings were always set back to the default to avoid loading previous configurations.

[2019-06-11 02:24] #2039 closed

[2019-06-11 05:17] lguilhermers commented on #2014
Another case where Daysim presented an error: https://we.tl/t-6U4KPYD08d
"ValueError: ERROR: this usually happens when buildings do not overlap with the terrain, try to check if this is the case" (for building CEA1099)

[2019-06-11 05:22] lguilhermers opened #2056 "some buildings are not created"
I noticed that when selecting the zone area some buildings are not created (example below). Is this caused by the open street maps configurations or there might be another reason for that?

![image](https://user-images.githubusercontent.com/50981039/59245575-03c29e00-8c4c-11e9-8a3f-7eeefb3f8d97.png)

[2019-06-11 06:09] reyery commented on #2056
@lguilhermers may I know which buildings you are referring to? Could be a problem on open street map side, since the data is pulled straight from there.

[2019-06-11 06:18] lguilhermers commented on #2056
in this case that I indicated, would be the Capitaspring (U/C) building, which was in the middle of my chosen area and was still not generated. I have seen others before, but didn't keep track of them.

[2019-06-11 06:26] reyery commented on #2056
Oh. The Capitalspring is stated as under construction so it is not considered a building in open street maps. As for others, most probably it was not included in open street maps. Since data from open street maps is crowd sourced, its not exactly accurate.

[2019-06-11 06:28] lguilhermers commented on #2056
Ok, thanks for the clarification!

[2019-06-11 06:28] #2056 closed

[2019-06-11 07:13] #1949 closed

[2019-06-11 10:55] shanshanhsieh commented on #2015
@martin-mosteiro , is there a branch i can link this issue to?

[2019-06-11 12:47] martin-mosteiro opened #2057 "CEA has Pandas compatibility issues on Euler"
Euler uses Pandas version 0.20.3, whereas CEA uses 0.23.4. This can cause compatibility issues when running CEA on Euler. Specifically:
1. _Locally,_ `pd.read_excel(file_path, sheet_name='sheet_name')` produces a dataframe from 'sheet_name'
2. _Locally,_ `pd.read_excel(file_path, sheet_name=['sheet_name'])` produces the following dict: `{'sheet_name': pd.read_excel(file_path, sheet_name='sheet_nam

[2019-06-11 12:49] martin-mosteiro opened #2058 "Contrived line in thermal_networks.py causes issues on Euler"
From line 3099 in thermal_network.py:
[code]
This is an unnecessarily complicated line.
- `pd.read_excel(locator.get_thermal_networks(), sheet_name='MATERIAL PROPERTIES')` creates a DataFrame from the contents of the sheet 'MATERIAL PROPERTIES'
- `pd.read_excel(locator.get_thermal_networks(), sheet_name=['MATERIAL PROPERTIES'])` creates a dict equivalent to `{'MATERIAL PROPERTIES': pd.read_excel(l

[2019-06-11 12:58] martin-mosteiro commented on #2015
No, these results were produced using the master branch.

[2019-06-11 16:27] DespaxJulien opened #2060 "Dashbord V2.15 fails to perform solar radiation"
Hi,
I just downloaded the Dashboard V2.15, and tried to run a solar radiation study. CEA fails to achieve the study, and the "web console" returns at the end :

[code]
However, I checked that the buildings actually overlap with the terrain (that I created with the Terrain helper). Also, I did not modified any databases (that I created with the Data helper tool).

Do you know what could be the mist

[2019-06-12 07:04] lguilhermers commented on #2013
@reyery , @daren-thomas
I am facing another error related to district helper. This time I made sure that buildings were included within the range given, so I put different ranges up to 400m.

This is the error presented:
City Energy Analyst version 2.15
Running `cea district-helper` with the following parameters:
- general:scenario = C:\CEA\LCZv2\LCZ3_BrightonAve
  (default: C:\reference-case-open

[2019-06-12 07:16] reyery commented on #2060
Hi @DespaxJulien, it seem that we have a "rounding" error in the `terrain_helper` script which might cause the boundary of the terrain to be too close to one of your buildings (either on the right or the bottom side of the terrain boundary) thus throwing the error you are currently seeing.

I am currently working on a fix for this and would merge it to master soon and include it onto our next rele

[2019-06-12 07:21] reyery commented on #2014
Found out the the error is most likely caused by a "rounding" error in the `terrain_helper` script.

Casting floats to integers drops the decimal places and might cause the terrain boundary (usually either the bottom or right side) to be too close to buildings thus throwing the error.

https://github.com/architecture-building-systems/CityEnergyAnalyst/blob/65b8285cfac9bbc17c3e8687d448c15de54af335/

[2019-06-12 07:23] lguilhermers commented on #2014
Nice, thanks @reyery !

[2019-06-12 07:29] reyery commented on #2060
Duplicate of #2014

[2019-06-12 07:30] martin-mosteiro commented on #2046
@Khayatian #2034 has been merged, you can try this again now.

[2019-06-12 07:32] #1932 closed

[2019-06-12 07:38] #1999 closed

[2019-06-12 07:43] martin-mosteiro opened #2061 "Add option to create building schedules from MATSim population data"
As discussed with @daren-thomas yesterday, I have created a script to read a MATSim population file and create building schedules from it. This has remained in my own personal branch as I am not sure how interesting it is to other users of CEA, but it could easily be adjusted to create individual building schedules that could be imported as defined in #2024.

@JIMENOFONSECA, @gabriel-happle: would

[2019-06-12 07:44] martin-mosteiro commented on #2061
This will in any case not be done before July.

[2019-06-12 07:44] DespaxJulien commented on #2060
All right, thank you @reyery !

[2019-06-12 07:45] martin-mosteiro commented on #2024
I've played around with this in my own branch for the whole MATSim population import analysis I'm doing. This might be something worth adding later on (see #2061). I'll assign myself in this issue just to know what format this schedule import will take for future reference.

[2019-06-12 07:50] martin-mosteiro opened #2062 "Add option to have a high temperature cooling network with decentralized chillers"
As discussed with @daren-thomas yesterday, I have done some work on simulating a free cooling network with decentralized chillers to provide process cooling and refrigeration. This has so far been kept in my own branch as it involved making a lot of ad hoc assumptions, however it could be polished and turned into a CEA feature. @shanshanhsieh already has some insight into what I have done so far a

[2019-06-12 08:36] martin-mosteiro opened #2063 "Add process cooling as an energy demand in CEA"
As discussed with @daren-thomas, this has been a necessary implementation on my own obscure branch of CEA that should be implemented on the master branch as well.

Unfortunately, building energy demand data is not always detailed enough to provide information of the specific uses for different energy demands in an area. In CEA there are two variables for process energy calculation (process electri

[2019-06-12 08:52] martin-mosteiro opened #2064 "pymc3 causes installation issues on Euler"
Installing CEA on Euler produces the following error:
[code]

[2019-06-12 09:04] martin-mosteiro commented on #2064
This is solved by doing `pip install --user pymc3==3.6` before installing CEA - that version still seems to by python 2.7 compatible.

`setup.py` needs to be updated file to reflect this new knowledge.

[2019-06-12 09:06] lguilhermers opened #2065 "error caused by small geometries extracted from arcmaps"
Hi,

I have noticed in quite a few case studies that the zone generating process selects some small geometries (probably some infrastructure components) in Open Street Maps as buildings.
When running the demand those "buildings", this generates an error which @JIMENOFONSECA suggested to bypass by setting the Hs=0, which works for now.
The problem is that sometimes I can't identify all the problema

[2019-06-12 09:42] reyery commented on #2013
@lguilhermers what was the error message when running with default parameters i.e. `buffer: 50.0` because I was able to run it successfully with defaults.

On the other hand, running it with `buffer: 400.0` did give me the same error. That error is due to the open street maps data where one of the `building:levels`, namely `Brighton View` is given as `1,2,3` when it should have been a single value

[2019-06-12 09:44] reyery commented on #2013
Creating a separate issue for this.

[2019-06-12 09:55] reyery opened #2066 "Handle type casting exceptions of Openstreetmaps data"
As mentioned in https://github.com/architecture-building-systems/CityEnergyAnalyst/issues/2013#issuecomment-501199526, we need to be careful of type casting values from openstreetmaps as the data might contain erroneous values.

There should be `try-except`s that provide default/best guesses for such data.

[2019-06-12 10:05] #2064 closed

[2019-06-12 10:18] martin-mosteiro commented on #2057
Actually, I was wrong. `sheet_name` doesn't work on Euler at all, only the deprecated `sheetname` works.

[2019-06-12 10:20] martin-mosteiro commented on #2058
@daren-thomas Removing the contrived way that line was written worked locally, but it didn't solve the issue on Euler. So I had to change `sheet_name` to the deprecated `sheetname`, which creates a warning (`C:\ProgramData\Miniconda2\envs\cea\lib\site-packages\pandas\io\excel.py:329: FutureWarning: The `sheetname` keyword is deprecated, use `sheet_name` instead
  **kwds)`) but still works both loc

[2019-06-12 13:25] #1981 closed

[2019-06-12 13:26] daren-thomas commented on #1984
I'd like to bet these plots have never been run for a network other than the default (no-name).

[2019-06-12 13:34] daren-thomas commented on #1991
@kerembeygo,

ok. you have a bunch of installations. this is going to be a little tricky, as the installation method has changed a bit since 2.9. here are some things i'd like you to try:

- delete the folder `C:\Users\KEREM\AppData\Local\CityEnergyAnalyst`
- delete the folder `C:\Users\KEREM\Documents\CityEnergyAnalyst`
- go to the folder `C:\Users\KEREM` and delete
  - `cea_arcpy.pth`
  - `cea_p

[2019-06-12 14:33] #1961 closed

[2019-06-12 14:33] #1866 closed

[2019-06-12 14:39] #2005 closed

[2019-06-13 03:35] gabriel-happle commented on #2024
@martin-mosteiro welcome to my branch. feel free to try it out and give comments for changes.
I can send you some of my jupyter notebooks to try the functionality

[2019-06-13 04:35] lguilhermers opened #2068 "CEA not opening"
Hi,
With latest updates, I am not being able to open the CEA. Is it working normally for you?
Any suggestions on how to deal with that?

Regards,
Luis

[2019-06-13 06:39] daren-thomas commented on #1989
How about this ends up being where simulation job updates get reported? Imagine, you sit down in front of the CEA Dashboard and start an optimization run. Inside the messages you could get updates (generation 1 completed, ... generation n completed, optimization completed) with links to plots showing the results?

[2019-06-13 06:58] gabriel-happle commented on #1848
@architecture-building-systems/cea-developers
Please add additional questions you would like to ask for the second round here.
Thanks

[2019-06-13 07:00] gabriel-happle commented on #1794
@daren-thomas I didn't find time to do this.
I will be back in July. Please move to next or next-next milestone.

[2019-06-13 07:23] shizhongming commented on #2045
I just checked the square space settings...it seems the blogs are all locked...I just removed the password settings...It is working now @daren-thomas

[2019-06-13 07:26] reyery commented on #2068
@lguilhermers Oh if I'm not wrong you are seeing an `ImportError`? I think we just merged a branch that has a new module i.e. `staticmap` that needs to be installed manually (until the new installer is created).

You can try running this command in the `CEA Console` if that's the case.
[code]

If not, do share the error message if there is any.

[2019-06-13 07:28] lguilhermers commented on #2068
@reyery
the program closes while trying to open, I can't see any error message or have access to the dashboard.

Thanks!

[2019-06-13 07:29] reyery commented on #2068
@lguilhermers ok, just tested and my guess was correct. Try running the above command

[2019-06-13 07:30] lguilhermers commented on #2068
Ok, I just ran your command in cmd outside of CEA instead and it worked.
Thanks!

[2019-06-13 07:37] daren-thomas commented on #2007
I think, the `done / success` message should be done in by the script runners (`cea` command, Dashboard tools, `cea.api.*` etc.) as well as the writing out of parameters (currently, the parameters are printed out by `cea` and the `cea.api` module, but a lot of scripts also manually print them out (and often get them wrong, as it's not updated when the `scripts.yml` gets updated. So. This issue cou

[2019-06-13 07:41] reyery commented on #2068
No problem! We should have known this would happen when merging. Closing this issue for now.

[2019-06-13 07:41] #2068 closed

[2019-06-13 07:53] #2045 closed

[2019-06-13 07:55] daren-thomas commented on #2030
@martin-mosteiro, @gabriel-happle does anything need to be done about this? or can we close this issue?

[2019-06-13 07:58] daren-thomas commented on #2031
@gabriel-happle could you please update the reference case? can i assign this to you?

[2019-06-13 07:59] reyery opened #2069 "ImportError for users on CEA developer version"
As in #2068, users who have already installed the developers version of the CEA will not be able to launch the dashboard using `CEA Dashboard` shortcut if they update from master when a new module is imported but not installed.

This was recently caused by PR #2055 with the introduction of the `staticmap` module.
Temporary fix now is to run:
[code]

[2019-06-13 08:02] daren-thomas commented on #2037
Could this be related to #2026? @reyery would you like to look into this, since you're doing all the Dashboard stuff? Otherwise I can give it a spin...

[2019-06-13 08:08] #2057 closed

[2019-06-13 08:08] daren-thomas commented on #2057
@martin-mosteiro closed as your PR was merged.

[2019-06-13 08:32] shizhongming opened #2070 "CEA blog - running CEA command in Grasshopper"
Write a blog about running CEA commands in Grasshopper. Taking CEA energy demand simulation as an example.

[2019-06-13 08:32] shizhongming commented on #2070
Just published this blog.

[2019-06-13 08:33] #2070 closed

[2019-06-13 09:07] martin-mosteiro commented on #2024
Thanks! The jupyter notebooks would be cool to check out, sure

[2019-06-13 09:10] reyery commented on #2037
@daren-thomas it seems to be related. I think line 23 causes parameters with dashes to not enter the `if` condition so it will not be set. Removing `.replace('-', '_')` seems to work.

https://github.com/architecture-building-systems/CityEnergyAnalyst/blob/45a43dc098c49b24dd94991127187ae621ba8667/cea/api.py#L22-L25

[2019-06-13 09:15] #1896 closed

[2019-06-13 09:18] #2041 closed

[2019-06-13 09:18] #2058 closed

[2019-06-13 09:28] gabriel-happle opened #2072 "Blog for 2.18: Make building models and edit with jupyter"

[2019-06-13 09:37] #2012 closed

[2019-06-13 09:40] lguilhermers commented on #2013
@reyery  just to update you, using 50 meter worked for me as well. Before I had started from 100m, that's why I always got the error.

[2019-06-13 09:45] gabriel-happle commented on #1686
maybe @martin-mosteiro can hire a student to help.
This has to be discussed with @JIMENOFONSECA.
This issue should go hand in hand with the refactoring of the optimization code.

[2019-06-13 09:56] gabriel-happle commented on #1980
can you try to reproduce this @emanuel030 ?
And send the input files `streets.shp` to @shanshanhsieh please.

[2019-06-13 09:59] lguilhermers opened #2073 "error when running Data Helper"
I had the following error in my last 2 case studies (link below):

C:\Users\luis.santos\Documents\CityEnergyAnalyst\Dependencies\Python\python.exe C:/Users/luis.santos/Documents/CityEnergyAnalyst/CityEnergyAnalyst/cea/datamanagement/data_helper.py
Running data-helper with scenario = C:\CEA\LCZv2\LCZ4_BoonLay
Running data-helper with archetypes = ['comfort', 'architecture', 'HVAC', 'internal-loads'

[2019-06-13 10:00] martin-mosteiro commented on #1980
@shanshanhsieh here is the streets shapefile. The scenario he is running is the "Masterplan" scenario in the `cea-reference-case` repository. The scenario has changed significantly (an update of the reference case is still pending) but the building geometries should be the same as found in Emanuel's case.

[networks.zip](https://github.com/architecture-building-systems/CityEnergyAnalyst/files/3285

[2019-06-13 10:10] gabriel-happle commented on #2025
check `default.config` and `scripts.yml`

[2019-06-13 10:10] martin-mosteiro opened #2074 "Update Spacergy scenarios in 'reference-case-zurich' repository"
This is necessary for @shanshanhsieh to reproduce the issues found by @emanuel030 (#1980 and #2016).

Currently there are two scenarios: "Baseline" and "Masterplan". These have since been renamed to "0_StatusQuo" and "1_Baseline", and three additional scenarios ("2_HealthCampus", "3_Synergy" and "4_SuperUrban") have been created. There is already a branch about this that needs to be updated and pu

[2019-06-13 12:43] martin-mosteiro commented on #2074
I created a PR about this in `cea-reference-case` and assigned it to @daren-thomas. However I also noticed that the `reference-case-almere` had also been assigned to @daren-thomas but was never merged.

@daren-thomas please merge both :)

[2019-06-13 15:45] #2074 closed

[2019-06-13 15:46] martin-mosteiro commented on #1980
@shanshanhsieh The case study including street networks and thermal networks are all in the `cea-reference-case` repository. The scenario @emanuel030 is referring to is **"1_Baseline"**

[2019-06-13 15:46] martin-mosteiro commented on #2016
@shanshanhsieh The scenarios in question including the district cooling networks that @emanuel030 was simulating are now all available in the `cea-reference-case` repository.

[2019-06-13 20:51] JIMENOFONSECA commented on #2061
Hi Martin. This definately will be great to have as it allows to make future comparisons among occupancy models much more easy. Maybe the matsim data becomes part of a default database for the CH context?

_______________________

Dr. Jimeno A. Fonseca
Senior researcher and project coordinator
Future cities Laboratory
Singapore ETH-Centre

Chair of Architecure and Building Systems
ETH Zurich

On 1

[2019-06-17 07:53] reyery commented on #1979
@daren-thomas I'm not sure how I should choose which parameters should be collapsible. Right now I am thinking of grouping them based on the section the parameter is from, then only show the options relating to the `general` section and maybe it's own section. But judging from `script.yaml`, not a lot of options would be collapsed.

I was thinking maybe we could somehow tag the parameters to indic

[2019-06-17 10:15] reyery commented on #2065
I have been testing with many different scenarios to find a way to filter out problematic buildings and it seems like buildings generally under 100m<sup>2</sup> would throw the error (not very accurate, some did not when it was around 90). I am not sure there is a surefire way that we can filter out such buildings.

A better idea would be the one that you have suggested is to skip such buildings d

[2019-06-17 12:27] Khayatian commented on #2046
@gabriel-happle @martin-mosteiro
The issue is not entirely solved. There is a new error pointing to the Temperature range. Please see the following:

Running demand calculation for all buildings in the zone
Using 7 CPU's
Building No. 1 completed out of 9
Building No. 2 completed out of 9
Building No. 3 completed out of 9
Process Process-6:
Traceback (most recent call last):
  File "D:\Users\Fazel\

[2019-06-17 12:48] Khayatian commented on #2046
@gabriel-happle @martin-mosteiro
**correction**: I believe this (new) error is not related to the occupancy ratio. Once I re-run the solar radiation module, (daysim finishes successfully), yet when running the demand module afterwards, it returns an error pointing to the temperature range (Building #3).
to replicate:
(1) create a copy of baseline scenario,
(2) run solar potential (daysim) module
(

[2019-06-17 12:56] Khayatian commented on #2046
The issue is resolved.

[2019-06-17 12:56] #2046 closed

[2019-06-17 13:06] Khayatian opened #2078 "Demand calculation fails after re-running solar radiation"
The demand calculation fails after re-running the solar radiation (Daysim engine) module.

To replicate:
(1) open reference-case-open
(2) run solar potential module
(3) run demand module

Demand calculations fail after building #3 is completed.

[2019-06-17 19:02] martin-mosteiro opened #2079 "Projection issues with the Spacergy scenarios"
The latest shapefiles for the Spacergy scenarios after @emanuel030 projected them all to standard coordinates have issues, where the zone and district shapefiles for scenarios 2, 3, and 4 do not match (see image below as example).
This is not the case in the older version of these shapefiles, so projecting the old shapefiles to the new coordinate system might suffice.
![image](https://user-images.

[2019-06-17 19:30] JIMENOFONSECA commented on #2065
I would suggest to:

  1.  Add an explicit messagge to the error of temperature explaining the potential causes of the error to the user. “There was an error in building xxxx, potential problems are an area of less than 100m2.”
  2.  Add a function to CEA where we can eliminate buildings from the zone. It should also erase all the rows in the iput databases with information about that building..

[2019-06-18 13:43] daren-thomas commented on #2078
@Khayatian what is the error message?

[2019-06-18 13:46] daren-thomas commented on #1979
@reyery there is a ".category" portion in the `default.config` file. This was used in the ArcGIS interface to hide stuff that wasn't "default" below collapsing sections, using the ".category" value as the text of these sections. See, e.g. the "create-new-project" parameters.

[2019-06-18 13:50] #1996 closed

[2019-06-18 13:51] #2073 closed

[2019-06-18 14:01] reyery commented on #1979
@daren-thomas ah yes I see that now. Will see what I can do with them. Thanks!

[2019-06-18 14:05] daren-thomas commented on #1979
i think it could be as simple as some bootstrap thing... like maybe this: https://getbootstrap.com/docs/4.3/components/collapse/#accordion-example

[2019-06-19 02:48] lguilhermers commented on #2065
I agree that the solution provided by @JIMENOFONSECA seems the best one for the moment. The feature to eliminate buildings would also be useful if I identify that a structure created by open street maps does not correspond to the reality or to the case study analyzed.

[2019-06-19 06:29] #2014 closed

[2019-06-19 06:52] reyery commented on #2060
Hey @DespaxJulien, I have already introduced the fix to the code. Unfortunately, it did not manage to be included in the `2.16` release. However, you could still install the `developer version` of `2.16` to get the fix.

[2019-06-19 08:45] daren-thomas opened #2081 "Supply System plots don't work (KeyError: population_fitness)"
Steps to reproduce and result: (based on output of cooling-case-workflow)

[code]

I have done some digging and it seems the checkpoint file is a json dictionary and some of the keys were renamed:

- `population_fitness` -> `tested_population_fitness`
- `population` -> `tested_population`

BUT: I did try to rename these in the plots function (`cea.plots.supply_system.main.preprocessing_generations

[2019-06-19 08:45] daren-thomas commented on #2081
@shanshanhsieh would you mind looking into this for me?

[2019-06-19 09:27] daren-thomas opened #2082 "Add network plots to Dashboard"
Inside `cea.plots.thermal_networks.main.plots_main`, there are three plots that I have not added as part of #1984, as they require some re-thinking of how to show that data. Currently, a png image is produced. For the Dashboard a more interactive and visually interesting plot would be similar to how the `cea/plots/supply_system/map_chart.py` works for the supply system plots. The supply system plo

[2019-06-19 09:36] lguilhermers commented on #2014
@daren-thomas @reyery
I pulled the last merge and still got error running daysim in those files. Should I re-run terrain helper to fix this issue on my side?

[2019-06-19 09:38] reyery commented on #2014
@lguilhermers yes, please rerun `terrain_helper` as the bug was fixed there.

[2019-06-19 09:38] DespaxJulien commented on #2060
Hello @reyery, thanks for letting me know! Could you tell me where I can download the developer version of 2.16? Do I need to download the whole master ? Thank you

[2019-06-19 09:46] reyery commented on #2060
Did you install your current version from our installer? You can download the 2.16 installer from here:
https://github.com/architecture-building-systems/CityEnergyAnalyst/releases/download/v2.16/Setup_CityEnergyAnalyst_2.16.exe

There will be an option to install the developer version in the installer.

![](https://images.squarespace-cdn.com/content/v1/587d65bdbebafb893ba24447/1559570076010-0ALNUP

[2019-06-19 09:48] DespaxJulien commented on #2060
Perfect! thx

[2019-06-19 13:16] DespaxJulien commented on #2060
Hi @reyery ,

I tried to perform the radiation study after creating the terrain with [your script](https://github.com/architecture-building-systems/CityEnergyAnalyst/commit/f6e7af06612de7ba0fa243cb8acc0ef6ffd687d5)

Although I cheked that the terrain is modified after running the terrain helper, the radiation study still returns the same error message in the dashboard :

To come up with this
(1) C

[2019-06-19 13:26] DespaxJulien commented on #2060
Also, I tried to "artificially" create a larger terrain, by adding buildings in my district, running the terrain helper and then deleting those extra buildings.

Even though the terrain is larger, the dashboard still returns the same error when running the radiation analysis

[2019-06-19 13:56] Khayatian commented on #2078
@daren-thomas  the error retuned:

City Energy Analyst version 2.16
Running `cea demand` with the following parameters:
- general:scenario = D:\Users\Fazel\Documents\CityEnergyAnalyst\reference-case-open\reference-case-open\baseline
  (default: C:\reference-case-open\baseline)
- general:weather = d:\users\fazel\documents\cityenergyanalyst\cityenergyanalyst\cea\databases\weather\Singapore-2015.epw

[2019-06-19 14:04] reyery commented on #2060
Would you mind sending over your project files so that I can try to recreate the problem? I'm not too sure what is happening now.

[2019-06-19 14:05] Khayatian commented on #2078
Issue found:
The solar module was run for Singapore, resulting in high solar gains, and therefore internal temperatures rise (outside the bounds of +50 and -30). The Demand works well with Zug weather data file, which has lower solar radiation.

[2019-06-19 14:05] #2078 closed

[2019-06-19 14:41] DespaxJulien commented on #2060
Sure, here is a wetransfer containing the inputs of my scenario :

https://we.tl/t-98uyNUyANT

Terrain was created using the latest version of the terrain helper

Thank you

[2019-06-19 15:31] reyery commented on #2060
I'm still not too sure what is happening, but from my end what I can see your building geometries are in the middle of the sea, so that might be causing the issue. Maybe there is something wrong with the CRS?

[2019-06-19 15:49] DespaxJulien commented on #2060
Yes maybe that could be an issue, I'll check it out
Thank you!

[2019-06-20 09:11] daren-thomas commented on #1870
there is a change in #1984 (#2083) to the PlotBase class that needs to be merged before I can continue on this.

[2019-06-20 09:32] daren-thomas commented on #2007
fixed in PR #2084.

[2019-06-20 09:32] #2007 closed

[2019-06-21 12:55] daren-thomas commented on #2026
Alternate steps to reproduce this:

- run dashboard
- open project (cooling-case-workflow/baseline)
- tools -> Life Cycle Analysis -> emissions
- set `year-to-calculate` to 2019
- run emissions

expected it to run for 2019, instead, I got the following output:

[code]

Note the `emissions:year-to-calculate` setting is 2020!

I'm assuming this is the same bug, but this way avoids a lengthy simulati

[2019-06-24 06:04] reyery opened #2088 "Scenario images do not update when zone file is updated"
Currently, the script for generating scenario images in the `project overview` of dashboard only creates an image if it does not exist. So the image for the scenario does not change/refresh when the `zone` file is edited e.g. delete buildings.

One way to solve this would be to create a refresh button for each scenario, which will delete the current image and create a new one.

There could be also

[2019-06-24 08:07] daren-thomas commented on #2088
Another way to solve this would be to compare the timestamps on the `zone.shp` file vs. the scenario preview image. If the `zone.shp` file is newer - recreate the image? This logic would go where the test for existance of that preview image goes. Test for both (`if not preview_image_exists(scenario_name) or preview_image_outdated(scenario_name): create_preview_image(scenario_name)`

[2019-06-24 09:27] daren-thomas commented on #2027
I think this is not really as important, since the user can always just install the newest version with the installer from github.

[2019-06-24 09:29] daren-thomas commented on #2037
This is fixed in PR #2087

[2019-06-24 09:29] #2037 closed

[2019-06-24 09:30] daren-thomas commented on #2040
@gabriel-happle yes, i think that sums it up nicely.

[2019-06-24 09:33] daren-thomas commented on #1844
@shizhongming what is the status of this? is there anything i need to do for this? otherwise i'd like to remove myself from the assignees list for now.

[2019-06-24 12:56] SyrinxS opened #2089 "windows 2.14 installation error"
Completed the base installation and click on the CEA dashboard, it poped up: python.exe- cannot find ordinal: Ordinal 242 could not be located in the dynamic link library libiomp5md.dll
![1](https://user-images.githubusercontent.com/52148503/60020169-09939700-96c2-11e9-95c2-cff46ef94e95.JPG)

I installed 2.13 before, however, I think it has unistalled already.

How can I fix it now?

[2019-06-25 05:54] #1968 closed

[2019-06-25 07:03] #2026 closed

[2019-06-25 07:19] #2008 closed

[2019-06-25 08:16] CarlosSantosSilvaTecnico opened #2091 "Simple project creation with the Dashboard does not work"
I tried to create a new project  from scratch using the dashboard.
I choose the zone in the map, i make the polygon of one building, included the information of number of floors etc, but when I push  the create bottom , I have an error.

See the outputs bellow. Apparently, something wrong with the REFERENCE field.  I have tried creating the district etc, but the error seems to be always the same.

[2019-06-25 14:14] daren-thomas opened #2092 "KeyError: 'E_ACH_W' when running plots-scenario-comparisons"
I'm about to start working on #1986 (add plots-scenario-comparisons to dashboard) and tried to run the existing plotting functions first. I expected them to run through. They used to work, after all!

Instead, I got this:

[code]

[2019-06-26 07:44] daren-thomas commented on #2091
@CarlosSantosSilvaTecnico I just tried to reproduce this with the following steps:

- downloaded and installed [latest release (2.16)](https://github.com/architecture-building-systems/CityEnergyAnalyst/releases/download/v2.16/Setup_CityEnergyAnalyst_2.16.exe)
  - base installation, default settings for everything
- started the dashboard
- "Create New Project"
- created new Scenario
  - chose two b

[2019-06-26 08:00] daren-thomas commented on #2089
@SyrinxS, could you please try installing the [latest release (2.16)](https://github.com/architecture-building-systems/CityEnergyAnalyst/releases/tag/v2.16)?

I don't think you need to uninstall first - just re-run the installer and see if that works for you.

[2019-06-26 08:06] CarlosSantosSilvaTecnico commented on #2091
Dear Daren, thanks for your prompt answer, but it does not work…I made this file using windows step recorder so you can see…

I have python 3.7, but as I understand, CEA runs inside an environment with Python 2.7, so no problem there I believe.

I did just one building, but I don´t thin that is the issue… I think this version is the same that I had before (I am using this since beginning of may, a

[2019-06-26 08:44] daren-thomas commented on #2091
@CarlosSantosSilvaTecnico I'm sorry, I don't see the windows step recorder?

[2019-06-26 09:21] CarlosSantosSilvaTecnico commented on #2091
Sorry, please see the PDF

From: Daren Thomas <notifications@github.com>
Sent: 26 June 2019 09:44
To: architecture-building-systems/CityEnergyAnalyst <CityEnergyAnalyst@noreply.github.com>
Cc: CarlosSantosSilvaTecnico <carlos.santos.silva@tecnico.ulisboa.pt>; Mention <mention@noreply.github.com>
Subject: Re: [architecture-building-systems/CityEnergyAnalyst] Simple project creation with the Dashboa

[2019-06-26 10:02] daren-thomas commented on #2091
@CarlosSantosSilvaTecnico which PDF? Could you try adding it on the github interface (as opposed to email?)

[2019-06-26 10:23] CarlosSantosSilvaTecnico commented on #2091
Dear Daren, i follow all your steps...the one i might be doing wrong is selecting 2 buildings... in the picture that follows when i finish one polygon and move to other building, CEA considers the same polygon...

[
![2_buildings](https://user-images.githubusercontent.com/39272469/60172369-6f883780-9804-11e9-8a98-b36beb390fd8.png)
](url)

[2019-06-26 10:28] daren-thomas commented on #2091
@CarlosSantosSilvaTecnico did you update to the newest CEA? I'm unclear on exactly where the problem is?

[2019-06-26 10:41] CarlosSantosSilvaTecnico commented on #2091
I did reinstall, followed all the steps... the error in the console is alwyas a problem in the REFERENCE...

her eis a link to a video to make it more clear....

https://www.dropbox.com/s/gcgwj6jm6o70zbp/City%20Energy%20Analyst%20_%20New%20Project%20-%20Google%20Chrome%2026_06_2019%2011_39_49.mp4?dl=0

[2019-06-26 11:15] daren-thomas commented on #2091
@CarlosSantosSilvaTecnico can you please post the contents of the Dashboard output (the terminal which shows the error? (basically, more of what you posted in the original description of your issue). Also, can you check at the top of the output what version of CEA is being used?

@reyery do you have any idea what is causing this? if i remember correctly, this was fixed a few sprints ago, right?

[2019-06-26 12:14] CarlosSantosSilvaTecnico commented on #2091
CEA 2.16 (just downloaded and installed from scratched again)
The full output is this:

INFO:werkzeug: * Running on http://localhost:5050/ (Press CTRL+C to quit)
INFO:werkzeug:127.0.0.1 - - [26/Jun/2019 13:09:57] "GET / HTTP/1.1" 302 -
INFO:werkzeug:127.0.0.1 - - [26/Jun/2019 13:09:57] "GET /landing/welcome HTTP/1.1" 200 -
INFO:werkzeug:127.0.0.1 - - [26/Jun/2019 13:09:57] "GET /landing/welcome HT

[2019-06-26 12:57] daren-thomas commented on #2040
This is addressed in [PR #2093](https://github.com/architecture-building-systems/CityEnergyAnalyst/pull/2093) - the installer now installs jupyter and ipython (they're just too useful not to have out of the box)

Also, try this: `start jupyter qtconsole` - i like that one a lot!

[2019-06-26 13:16] daren-thomas commented on #1891
@Jack-Hawthorne do you have a status update on this?

[2019-06-26 13:56] daren-thomas commented on #2091
@CarlosSantosSilvaTecnico thank you :)

@reyery: any ideas?

[2019-06-26 17:06] reyery commented on #2091
Have been trying to emulate and follow the steps taken as closely as possible but I was unable to recreate the error on my end.

I don't think it is the same issue here, those were to do with files created by `zone-helper`. But in this case the `zone-helper` could not even create the files.

Not too sure why `REFERENCE` could not be found since it would have been created here.
https://github.com/a

[2019-06-26 19:51] kerembeygo opened #2094 "IOError: File overrides.csv does not exist when running the demand tool (fixed)"
![Demand](https://user-images.githubusercontent.com/29708612/60210090-b574e800-9864-11e9-9211-b400e2e75fb5.jpg)
![Demand1](https://user-images.githubusercontent.com/29708612/60210131-c9b8e500-9864-11e9-8170-bcecd376eedf.jpg)
![Demand2](https://user-images.githubusercontent.com/29708612/60210152-d89f9780-9864-11e9-837f-81b84a1c355a.jpg)

[2019-06-26 19:54] CarlosSantosSilvaTecnico commented on #2091
I dont know if it helps, but i add ghe zip... he basiclly creates the site shape files but not the zone, district etc...
[inputs.zip](https://github.com/architecture-building-systems/CityEnergyAnalyst/files/3331691/inputs.zip)

[2019-06-26 19:56] kerembeygo commented on #2094
![BP](https://user-images.githubusercontent.com/29708612/60210428-86ab4180-9865-11e9-92f5-9abe3175f9f8.jpg)

[2019-06-27 02:09] reyery commented on #2060
@DespaxJulien just want to check if this issue is resolved?

[2019-06-27 05:26] JIMENOFONSECA commented on #2094
@kerembeygo you are running with the flag running_overrides = True of the demand tool.
It should be set to False. please comment and close if this works

[2019-06-27 06:35] daren-thomas opened #2095 "ArcGIS interface installation does not work anymore"
The ArcGIS interface installation throws an error ("IOError: [Errno 2] No such file or directory: 'c:\\users\\darthoma\\documents\\github\\cityenergyanalyst\\cea\\concept_parameters.py'")

[code]

Fixing this should be as simple as removing the line from `install_toolbox` simple. The concept_parameters were moved to legacy a few milestones ago.

[2019-06-27 06:48] kerembeygo commented on #2094
![Demand1](https://user-images.githubusercontent.com/29708612/60243095-20074180-98c0-11e9-9c4f-7c47be95cb88.jpg)
![Demand2](https://user-images.githubusercontent.com/29708612/60243135-31504e00-98c0-11e9-9c1b-159622c18715.jpg)
![Demand3](https://user-images.githubusercontent.com/29708612/60243231-68befa80-98c0-11e9-9f11-dd81644b0817.jpg)
![Demand4](https://user-images.githubusercontent.com/29708612

[2019-06-27 06:57] kerembeygo commented on #2094
![Screenshot (1)](https://user-images.githubusercontent.com/29708612/60243898-e8999480-98c1-11e9-844f-88fea988ecc6.png)

[2019-06-27 06:59] daren-thomas commented on #2089
Closing this issue as it applies to an older release.

[2019-06-27 06:59] #2089 closed

[2019-06-27 07:00] kerembeygo commented on #2094
![Screenshot (2)](https://user-images.githubusercontent.com/29708612/60244078-55149380-98c2-11e9-8d4f-f9f48b3ab415.png)

[2019-06-27 07:11] lguilhermers opened #2096 "error on creating "Energy Use Intensity for District" plot on dashboard"
Hi,

I was trying to run this plot while discussing some results with @JIMENOFONSECA  and got the following error:

ERROR:flask.app:Exception on /plots/div/1/0 [GET]
Traceback (most recent call last):
  File "C:\Users\luis.santos\Documents\CityEnergyAnalyst\Dependencies\Python\lib\site-packages\flask\app.py", line 2292, in wsgi_app
    response = self.full_dispatch_request()
  File "C:\Users\luis.

[2019-06-27 07:15] daren-thomas commented on #2069
For pip installable modules, the workflow should be:

- developer adding a dependency needs to add the module to the `INSTALL_REQUIRES` list in `setup.py`

All other users of CEA with the developer version then just need to `pip install -e PATH_TO_CEA_REPO`. In the standard case, as set up by the installer, launch the CEA Console and type:

[code]

That will update the requirements as specified in

[2019-06-27 07:16] #2069 closed

[2019-06-27 07:23] daren-thomas commented on #2094
@reyery was just looking at the tooltip in the pic above. There is a typo in "descriptio".

[2019-06-27 07:31] daren-thomas opened #2097 "Temperature in RC-Model out of bounds when running demand"
@kerembeygo ran into this issue in #2094 - I'm opening this as a separate issue so we can close the first one.

Screenshots of the output:

![image.png](https://images.zenhubusercontent.com/57b40957e40e5714b16d7331/0be79138-f966-42ea-9ea3-4fe437cb6f16)
![image.png](https://images.zenhubusercontent.com/57b40957e40e5714b16d7331/fc8f58bd-59c2-4752-8a48-7410d834b534)
![image.png](https://images.zenhub

[2019-06-27 07:32] daren-thomas commented on #2094
@kerembeygo I think this is a separate issue to the one above? Maybe call it "Temperature in RC-Model out of bounds when running demand". See #2097.

I'm renaming this issue, since "CEA 2.16 Demand Run" is too generic.

[2019-06-27 07:33] #2094 closed

[2019-06-27 07:40] reyery commented on #2094
yeah I have noticed that. Got that straight from the `zone.shp` file which has the 10 character limitation on column names. Took it out from the tooltip on the branch that I am working on, since it does not give any valuable information most of the time.

[2019-06-27 07:53] Jack-Hawthorne commented on #1891
These have all been addressed by #2017 and #2067
The graphviz tool now reads the `scripts.yml` when called via the cli `cea-doc graphviz`, rebuilding all the graphviz files and updating the related rst file.

[2019-06-27 07:53] #1891 closed

[2019-06-27 07:55] Jack-Hawthorne opened #2098 "fix metadata acquisition documentation"
There is a slight error in the formatting of `how-to-use-traceinputlocator.rst`

[2019-06-27 08:10] daren-thomas commented on #2098
Dear @Jack-Hawthorne could you please be more specific?

[2019-06-27 08:23] daren-thomas commented on #2098
ok. i saw your PR. closing :)

[2019-06-27 09:16] daren-thomas commented on #1857
@JIMENOFONSECA is still selecting.

[2019-06-27 09:17] daren-thomas commented on #1991
@kerembeygo can we close this issue?

[2019-06-27 09:19] daren-thomas commented on #1956
@reyery and @daren-thomas will skype about this.

[2019-06-27 09:24] daren-thomas commented on #1897
@reyery will finish this today :)

[2019-06-27 09:40] daren-thomas commented on #1834
We decided it's an error. @JIMENOFONSECA will look into this.

[2019-06-27 09:50] #1957 closed

[2019-06-27 09:53] #1980 closed

[2019-06-27 09:53] daren-thomas commented on #1980
We can't reproduce this right now.

[2019-06-27 10:03] daren-thomas commented on #2065
This is one of the limitations of the model.

[2019-06-27 10:09] daren-thomas commented on #2091
We can't replicate this error.

[2019-06-27 10:12] CarlosSantosSilvaTecnico commented on #2091
OK, thanks for the time spent, i have tried in another computer and it does not work either. I will wiait for 2.17 version.

[2019-06-27 10:12] shanshanhsieh opened #2100 "replace a figure in documentation"
the figure in this page is wrong
https://city-energy-analyst.readthedocs.io/en/latest/how-to-run-CEA-optimization.html
it should be linked to the supply system superstructure plot

[2019-06-27 11:54] #2100 closed

[2019-06-27 12:17] daren-thomas commented on #1890
Just sent Kianwee an email regarding your PR, @reyery. Let's see how this progresses.

[2019-06-27 13:04] daren-thomas opened #2102 "Can't add the same plot twice in a dashboard"
Steps to reproduce:

- new Dashboard
- add Energy Demand / Comfort Chart plot
- add Energy Demand / Comfort Chart plot

Expected: To see the Energy Demand / Comfort Chart plot twice in the dashboard

Buggy behavior: The plot is only shown once, but there are  _two_ plot "windows" shown. In the second one, only the table of the plot is shown.

I suspect this has something to do with `div` id's.

[2019-06-28 02:20] #1979 closed

[2019-06-28 02:29] JIMENOFONSECA commented on #2097
@daren-thomas The error message seems to be clear. Hs might be too small. As discussed this is a limitation of the model. It ode snot handle tiny geometries.

[2019-06-28 02:29] #2097 closed

[2019-06-28 03:06] JIMENOFONSECA opened #2104 "Add button to open plot in a new window"
@reyery similar to what you did to minimize the advanced properties of other scripts. It would be great to have the same feature for the plots of the dashboard. During analysis time the can be many.

[2019-06-28 04:36] JIMENOFONSECA opened #2105 "Plots for Demand no working in master"
@daren-thomas no idea why, but somehow the next plots throw a server error and it has to do with the script:

Heating reset curve
Energy balance

Just try to run it for any case study, it will just not work.

[2019-06-28 07:25] reyery commented on #1897
Blog is now published!

[2019-06-28 07:25] #1897 closed

[2019-06-28 07:31] lguilhermers opened #2107 "Error when trying to change number of floors and height above ground using data helper"
Hi,

With data helper I am able to change the zone occupancy, but the number of floors/ height above ground give me an error:

City Energy Analyst version 2.17a0
Running `cea zone-helper` with the following parameters:
- general:scenario = C:\CEA\LCZ8_JooKoon
  (default: C:\reference-case-open\baseline)
- zone-helper:height-ag = 9.0
  (default: None)
- zone-helper:floors-ag = 3
  (default: None)
-

[2019-06-28 07:32] #1991 closed

[2019-06-28 08:04] reyery commented on #2107
@daren-thomas this issue seems to be the same as #2091. It seems to be happening when editing floors/height above ground parameter. I'm looking into it now

[2019-06-28 08:49] reyery commented on #2107
Ahhh the `REFERENCE` column is only added if `height-ag` and `floors-ag` parameters is not set... How could I have missed that.

[2019-06-28 09:20] daren-thomas commented on #2105
@JIMENOFONSECA I'm on it. actually, just fixed them as related to #2096, PR is coming any moment now.

[2019-06-28 11:46] #2102 closed

[2019-06-28 12:00] TheoBreidenstein opened #2111 "Error with the terrain during simulations"
Hello,

I have an error when I want to run Solar Radiation (Daysim system) tool. I have built my own model of Tecnico Lisbon. You could find the Project Folder here : **https://we.tl/t-MnbYw2tmWf** (available until _Jully 5th 2019_).

I have such an error :

Actually, I can't run any simulation without an _ERROR_.
However, my model is well represented when I see it in the input section of CEA.

Ru

[2019-06-28 12:03] daren-thomas commented on #2091
I was able to reproduce the error when setting floors_ag and floors_bg in the zone settings while creating a new scenario.

[2019-06-28 12:04] daren-thomas commented on #2091
ah. i see the PR #2108 was already merged.

[2019-06-28 12:15] daren-thomas opened #2112 "Zone helper dialog: ValueError: Can't decode value for non-nullable IntegerParameter"
Steps to reproduce:

- open "Project Overview > New Scenario"
- select "Generate new input files"
- edit zone helper properties:
  - set `floors-bg` to `2.0`
- click "Save Configuration"

![image.png](https://images.zenhubusercontent.com/57b40957e40e5714b16d7331/16fb0fd1-3e09-4ff8-8e2e-271037cd5fb9)

Expected: Either a message that an integer is expected _OR_ conversion to integer / default value

[2019-06-28 12:21] daren-thomas commented on #2091
This will be part of the 2.17 release.

[2019-06-28 12:21] #2091 closed

[2019-06-28 12:22] daren-thomas commented on #2107
@reyery this is fixed now, right? With #2108?

[2019-06-28 12:29] reyery commented on #2107
@daren-thomas yeah. Gonna close this issue now.

[2019-06-28 12:29] #2107 closed

[2019-06-28 13:48] #2105 closed

[2019-06-28 14:24] daren-thomas opened #2113 "CEA can't be installed to "C:\Program Files" or "C:\Program Files (x86)" on Windows"
These folders require special rights and we currently do not support installing to these folders.

If you _really_ want to do it, you can right-click the installer in Windows Explorer and select "Run as Administrator". This will allow you to install the software, but this is not tested or supported.

[2019-06-30 12:15] SyrinxS opened #2114 "windows 2.16 installation error"
Completed the base installation and click on the CEA dashboard, it poped up: python.exe- cannot find ordinal: Ordinal 242 could not be located in the dynamic link library libiomp5md.dll
![1](https://user-images.githubusercontent.com/52148503/60396374-7a7bf880-9b73-11e9-8830-bbb2a95f4e7d.JPG)
Similar problem occurred when I tried v2.14 before (reported as issue #2089)
Thanks in advance for your kin

[2019-07-01 02:46] JIMENOFONSECA opened #2115 "As project sponsor, I would like the CEA website to have a major update (September 2019)"
In conversations with the project sponsor of CEA, we will need a major update of the CEA website. Introducing all new features and images of the tool (last major update was January 2018)

We will aim to do this by the end of September (after the executive course)

[2019-07-01 04:45] reyery opened #2117 "Individual weather settings for each scenario in the dashboard"
Currently the `weather` setting is based on the `cea.config` file which applies to all the scenarios in a project. Users that need different `weather` settings for each scenario would have to change the `config` file when switching scenarios.

Maybe for now a `.yml` could be used to store such settings in each scenario folder that the dashboard could read and apply when users open a new scenario.

[2019-07-01 04:48] #2001 closed

[2019-07-01 05:48] reyery commented on #1989
The alerts are now hidden as of commit fec1a9941b14a37f73928513df967be7bae2f3dc until we can do something about it

[2019-07-01 07:02] #2088 closed

[2019-07-01 08:37] JIMENOFONSECA opened #2120 "refactor connection of optimization to multi-criteria"
So things are a bit messy - it needs some tidying up and I have free time now to go into this now

[2019-07-01 08:51] #2096 closed

[2019-07-01 08:52] #1984 closed

[2019-07-01 09:33] daren-thomas opened #2122 "Internal server error when switching from DC to DH in optimization plot "Centralized costs per generation unit""
Steps to reproduce:

- open project with cooling-case-workflow results
- open baseline scenario
- create a new dashboard
- add plot "Optimization overview / Centralized costs per generation unit"
- (assuming config file is set to DC, you should see the plot)
- change settings of plot, from DC to DH

Expected:
- either plot using DH optimization data
- OR an error message instructing user to genera

[2019-07-01 09:38] DespaxJulien commented on #2060
Hi @reyery,
Unfortunately no. I've been trying to rerun the terrain helper from the developer version, and I the dashboard console returned the same error:

[code]

I even added extra buildings in the district before creating the terrain, and then deleted those buildings to have an extra-large terrain, but it did not work either.

Note that I am using M2.16.

You pointed out that maybe the problem

[2019-07-01 09:51] DespaxJulien opened #2123 "Data helper fails to create several databases"
Hi,

I've been trying to create a new project from the 2.16 Dashboard. When I run the `data helper`, it returns an error and some databases are not created.

Here are the steps to reproduce the error:

1/ Create new scenario from the dashboard: choose to create zone, district and terrain. Select random and simple buildings,
2/ Run `data helper` with all databases selected. The dashboard console re

[2019-07-01 09:53] DespaxJulien commented on #2060
@reyery just to let you know, I'm trying to reproduce the error on a new project created on the dashboard, but it might take some time since I encountered another error (see : #2123)

[2019-07-01 11:08] #2040 closed

[2019-07-01 11:08] #1978 closed

[2019-07-02 08:58] reyery commented on #2123
The error is due to the introduction of the 'UNIVERSITY' occupancy type in #2034, where it found in the `SG` database and not in the `CH` database.

Since `zone-helper` creates the `occupancy` file based on `COLUMNS_ZONE_OCCUPANCY`, it will contain the `UNIVERSITY` column.
https://github.com/architecture-building-systems/CityEnergyAnalyst/blob/dc367abcb52b20cde1d141ef808851da924bac9f/cea/datamanag

[2019-07-02 14:17] #2015 closed

[2019-07-03 03:34] lguilhermers opened #2126 "Old projects not opening"
Hello,

My old projects are not opening, the Internal Server Error message is shown.

"Internal Server Error
The server encountered an internal error and was unable to complete your request. Either the server is overloaded or there is an error in the application."

[2019-07-03 04:22] reyery opened #2127 "Finalising dashboard glossary and bugfixes"
There are still some bugs introduced in #2125 such as this, since `naming_new.csv` does not exist anymore.

https://github.com/architecture-building-systems/CityEnergyAnalyst/blob/f1001483de87abeb4e49f6a20cfa392ea3200b1e/cea/interfaces/dashboard/inputs/routes.py#L81

and this as its supposed to be `suggestion.data.catagory` instead.

https://github.com/architecture-building-systems/CityEnergyAnaly

[2019-07-03 05:41] reyery commented on #2127
Closed by #2128

[2019-07-03 05:41] #2127 closed

[2019-07-03 07:09] lguilhermers opened #2130 "Changing building occupancy on edit selection screen (doesn't support decimal)"
Hi,

I noticed that if I try to put a decimal for the occupancy in the edit selection screen (for one or multiple buildings) it gives me a warning. It works if I do directly on the main panel, but then I would be forced to do building by building.

![image](https://user-images.githubusercontent.com/50981039/60570605-83074580-9da4-11e9-8464-0d4b57077930.png)