[2016-10-05 14:56] #237 closed

[2016-10-05 14:56] #242 closed

[2016-10-05 14:56] #243 closed

[2016-10-05 14:58] daren-thomas commented on #248
@gabriel-happle, do you want to work with me on this?

[2016-10-05 15:00] daren-thomas commented on #249
@JIMENOFONSECA are you ok with this?

[2016-10-05 15:01] daren-thomas commented on #251
@JIMENOFONSECA I would like to hear your thoughts on this...

[2016-10-05 15:05] daren-thomas commented on #323
added in the jenkins branch

[2016-10-06 01:34] JIMENOFONSECA commented on #249
@daren-thomas list_uses is used in several scripts to short-list the uses needed in the case study. Please bear this in mind when doing the changes.  Take a look at the calc_mixed_use function. You might have to restructure this and several other functions around. Otherwise I am ok with the other changes.

[2016-10-06 01:41] JIMENOFONSECA commented on #251
I will include the gv.season_hours as input parameters in the demand script. This is something that the user should specify always. I imagine this as a calendar option, where first, the users selects if there is heating season (a tick box), i the tick box is activated. the user should select the beginning and end of the heating season. i.e., 12.09.16    -    15.05.17. if the user does not indicate

[2016-10-06 01:43] JIMENOFONSECA commented on #344
just like #251 the best to do is to ask the user always for the latitude and longitude of the place were he is doing the simulation via the GUI.

[2016-10-06 06:29] JIMENOFONSECA commented on #97
@shanshanhsieh please check issues. this seems to be obsolete.

[2016-10-06 06:31] JIMENOFONSECA commented on #159
@shanshanhsieh @martin-mosteiro is thi sstill an issue? please close if not...

[2016-10-06 06:42] JIMENOFONSECA commented on #295
done!

[2016-10-06 06:42] #295 closed

[2016-10-06 06:45] daren-thomas commented on #249
good point! i guess `list_uses` becomes `uses.keys()` in the proposed structure above. But maybe we do a more OO approach and actually bang out some classes for this. I will tread carefully!

[2016-10-06 08:54] JIMENOFONSECA opened #351 "Develop bayesian calibrator for CEA"
The idea is to integrate part of the work of y. Heo on the bayesian calibration of building energy models into the CEA. the process includes methods for running:
1. Preescreening or sensitivity analysis of continuos variables of the CEA model based on the morris method.
2. New database of probability distributions: Accounting for uncertainty of most variables in the CEA based on real measurements

[2016-10-06 08:55] #159 closed

[2016-10-06 09:01] daren-thomas opened #352 "Update documentation to reflect changes to input files for PN Radation"

[2016-10-06 09:01] shanshanhsieh commented on #336
The PV generation script is now in the contribution folder.
This should be moved to the master branch after issue#9 is closed.

[2016-10-06 09:02] daren-thomas opened #353 "Update installation guide for new radiation script"

[2016-10-06 09:04] #269 closed

[2016-10-06 09:06] #69 closed

[2016-10-06 09:06] #82 closed

[2016-10-06 09:07] #97 closed

[2016-10-06 09:25] JIMENOFONSECA opened #354 "Integration of Generative Design in CEA"
potential to use CityGML + rhino.

[2016-10-06 09:25] shanshanhsieh commented on #292
I made some first attempts to correlate cooling electricity with outdoor T, RH and occupancy, not much correlation is found with linear regression. We could look into time series analysis when we have a chance.

[2016-10-06 11:08] JIMENOFONSECA commented on #292
Well... As discussed we have to look at multivariate regression approaches. Linear regression of one vs one variable does not work. check this in detail. There are plenty of people gattering surrogate models from both measurements and simulation. What approach (name of the method) did you used that did not work???

[2016-10-06 15:02] daren-thomas opened #355 "Create installer for ArcGIS version"
I just checked all the libraries we depend on and they are all BSD, MIT or LGPL. I believe that means we can write an installer (`Setup.exe`) that will install the CEA for users without having to follow the instruction manual.

I have used a prototype of this for the MBS students (computer lab, laptops) that basically has them copy pre-prepared files and folders to the computer. This format is eas

[2016-10-07 03:46] JIMENOFONSECA commented on #351
@martin-mosteiro i guess we will need access to the HQ metered data for all standing buildings. hourly values will be the best.

[2016-10-07 04:16] JIMENOFONSECA commented on #355
@daren-thomas i was wonder if we could target to get to install the CEA one day from pip install. or easy_install. Just as many other libraries of python that exist our there.

I guess we can split the process in two things:

- one is the CEA as a library and 'engine'
- one is the installer of the plug-in to make it work with arcgis.

I believe both should be different. In this way we do not compr

[2016-10-07 07:19] paulneitzel opened #356 "Integrate PV sensor selection into daysim radiation script"
up to now files with all sensor points have to be saved and loaded. a pre selection of only the relevant sensors for pv calculation would save simulation time

[2016-10-07 08:18] martin-mosteiro commented on #351
@JIMENOFONSECA I am in contact with the Universities and Hospital to obtain measured data. For the privately owned buildings it will be hard to get hourly metered data... Or how did you do it for Inducity?

[2016-10-07 08:21] JIMENOFONSECA commented on #351
We liased with the operator of the district (siemens) he was our partner during the project. Maybe ZH's city could help? At least to get data from the district heating operator...

Best, Jimeno

On 7 Oct 2016, at 16:18, martin-mosteiro <notifications@github.com<mailto:notifications@github.com>> wrote:

@JIMENOFONSECA<https://github.com/JIMENOFONSECA> I am in contact with the Universities and Hospi

[2016-10-07 08:30] martin-mosteiro commented on #351
@JIMENOFONSECA We are in contact with them and will hopefully have the information from them by the end of the month.

[2016-10-07 12:12] JIMENOFONSECA commented on #351
@martin-mosteiro no problem i guesss i will be finishing by the end of the year this. It would be great we get data for 2 or more years btw :-)

[2016-10-11 01:29] JIMENOFONSECA commented on #351
@daren-thomas i am having a little of a problem while running 7000 simulation of the CEA in parallel. I tried using the Queue, Process and Apply.Sync functions of the multiprocessing library in python. all have the same problem. They create multiple python instances for each simulation. The result: after just 10 pycharm runs out of memory. Any clue how to solve this issue?

[2016-10-11 07:38] daren-thomas commented on #351
@JIMENOFONSECA: where can i find this code? I checked out the `i351-the-calibrator` branch, but I'm not sure where to start?

[2016-10-11 07:53] daren-thomas commented on #351
OK. I see the problem: You need to use a pool (like in demand). What you are currently doing is allocating a new process for each job. A pool will (re-)use a set of processes...

[2016-10-11 08:32] daren-thomas commented on #351
@JIMENOFONSECA I have just pushed on your branch a version that uses multiprocessing. I suggest you don't use it though: We can only easily do multiprocessing on either the demand calculation or the morris function. Doing it on both doesn't work easily (though see here: http://stackoverflow.com/questions/6974695/python-process-pool-non-daemonic for a work-around) and besides, there is not much sen

[2016-10-11 09:43] JIMENOFONSECA commented on #351
@daren-thomas thanks a lot for the input. I figured out the way to do it with just using multiprocessing for calling the demand, but not in the demand script itself as you said. I also moved from the morris method to Sobol, which is a bit more accurrate, more computer intensive, but on return it provides a better understunding of how much each variable is influencing the model (in percentage of th

[2016-10-11 14:12] daren-thomas opened #358 "Replace `calc_t_em_ls` with a table-based method"
`calc_t_em_ls`  is just one of many methods that might be improved by using a more data-driven approach. This is a possible rewrite of the function, *except* edge cases behave slightly different.

This issue is about verifying that the edge cases in the original implementation are, in fact, correct and if not, maybe we can adopt the following version:

[code]

[2016-10-11 14:54] daren-thomas opened #359 "merge `calc_Ea_El_Edata_Eref_schedule` and `calc_Eprof_schedule`"
The functions `calc_Ea_El_Edata_Eref_schedule` and `calc_Eprof_schedule` are practically the same - except that the former handles some special cases. They should actually be the same function and could be called, idk... `weighted_average_of_schedules`?

[2016-10-12 07:46] JIMENOFONSECA commented on #12
@martin-mosteiro this is the issue which could make more sense to work in right now as it goes in line with the needs of the spacergy project

[2016-10-12 08:57] daren-thomas opened #360 "calc_Eaf should probably be calculated based on Aef instead of Af"
Currently, `calc_Eaf` (final electrical consumption due to appliances) uses the input variable `Af` (conditioned floor area (heated/cooled) in [m2]). I think we should use the input variable `Aef` (floor area with electricity in [m2]) instead.

@JIMENOFONSECA: Is this a bug? Do we need to change it?

[2016-10-12 08:59] daren-thomas commented on #360
The answer to this bug needs to be added to the documentation in the `calc_Eaf` function on the documentation-and-refactoring branch.

[2016-10-12 09:01] daren-thomas commented on #360
Also, this function could easily be inlined (it is just a multiplication: `Eaf = schedule * Ea_Wm2 * Aef`)

[2016-10-12 12:55] daren-thomas opened #362 "I don't understand the share parameter in calc_Edataf"
The function `calc_Edataf` has a `share` parameter that get's passed the occupancy share for usage type "SERVERROOM". The thing is, we already created the schedule as that same fraction of the electrical loads, so I think we're doing this twice:

`calc_Edataf = schedule * Ed_Wm2 * Aef * share`

with
- `schedule = schedules[list_uses[num][1] *  building_uses[list_uses[num]]`,
- `Ed_Wm2 = bpr.intern

[2016-10-13 00:26] JIMENOFONSECA commented on #360
Yes, all should be changed to that.

Best, Jimeno

On 12 Oct 2016, at 17:01, Daren Thomas <notifications@github.com<mailto:notifications@github.com>> wrote:

Also, this function could easily be inlined (it is just a multiplication: Eaf = schedule * Ea_Wm2 * Aef)

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub<https://github.com/architecture-bui

[2016-10-13 07:50] daren-thomas commented on #360
@JIMENOFONSECA, I'm not quite sure what you mean. What exactly should be changed?

1. change to Aef instead of Af
2. inline (remove function invocation)
3. find other such functions with this problem (candidates: `calc_Elf`)

[2016-10-13 07:55] JIMENOFONSECA commented on #360
all :-)

On 13 Oct 2016, at 3:50 pm, Daren Thomas <notifications@github.com<mailto:notifications@github.com>> wrote:

@JIMENOFONSECA<https://github.com/JIMENOFONSECA>, I'm not quite sure what you mean. What exactly should be changed?

  1.  change to Aef instead of Af
  2.  inline (remove function invocation)
  3.  find other such functions with this problem (candidates: calc_Elf)

—
You are recei

[2016-10-13 07:56] daren-thomas commented on #323
merged to master when the jenkins branch merged :)

[2016-10-13 07:56] #323 closed

[2016-10-13 08:01] daren-thomas commented on #251
does it make sense to include a cooling season and a heating season?
also, `season_hours` is a bit confusing as a name... can we refactor the code a bit? I propose:

- gv contains `start_date_heating_season`, `end_date_heating_season`, `start_date_cooling_season`, `end_date_cooling_season`.
- this get's translated to two ndarrays of booleans: `is_heating_enabled` and `is_cooling_enabled`

what do

[2016-10-13 08:09] JIMENOFONSECA commented on #251
yep we an transform it to boolean. what is necessary is to include a new modification to the demand toolbox GUI. see my last comment on how it could be.

yes, it is necessary. heating season and cooling season mean "politically" when you are allowed to heat your building or cool it down. USA, europe (depending on the country) have an specific way to deal with these dates.

[2016-10-13 08:12] daren-thomas commented on #251
OK. So I will implement it like that in a branch `i251-heating-cooling-seasons` including an option for the gui.

[2016-10-13 09:14] daren-thomas commented on #3
I have looked into this with various formats and it seems it doesn't really help much.

[2016-10-13 09:14] #3 closed

[2016-10-13 09:16] daren-thomas commented on #65
this has been implemented for some time.

[2016-10-13 09:16] #65 closed

[2016-10-13 09:21] daren-thomas commented on #165
We now have a sandbox branch and that seems to be working. It is probably better to develop changes on a dedicated branch, but the sandbox can serve for personal scripts / playing around.

I'm not sure what the contributions branch is good for.

[2016-10-13 13:04] daren-thomas commented on #304
progress is being made on the documentation-and-refactoring branch.

[2016-10-14 09:29] martin-mosteiro opened #366 "Absorption cooling model"
Certain buildings in the Hochschulquartier case study use absorption cooling. Currently there are no models for this within the CEA. So, an absorption cooling model needs to be developed.

[2016-10-14 12:17] martin-mosteiro opened #368 "Hochschulquartier reference case incomplete"
The shapefiles for the Hochschulquartier aren't entirely accurate:
1. the LEO building from the ETH has been in operation since 2014, but it is not included in the shapefile
2. the zone of study does not include the Kunsthaus - which is actually part of the perimeter of the Masterplan
3. other buildings have already been demolished - however, I would argue that the Baseline reference case provides

[2016-10-14 12:28] daren-thomas commented on #360
fixed with PR #367

[2016-10-15 11:27] martin-mosteiro opened #369 "Create a "renovation archetype" script"
Data on building renovation is basically impossible to obtain (feedback from the city of Zurich) unless you ask each building owner for the information. The next best solution is to assess the building stock visually, which might be impractical and would still be a guess.

One solution could be to create a model based on the Gebäudeparkmodell which predicts the probability of a building component

[2016-10-17 02:15] JIMENOFONSECA commented on #369
Interesting, I am working on the Calibrator issue and this might be inline with some statistical work to predict demand. I am looking now at bayesian statistics to calibrate building models. I imagine using a similar approach to the renovation paradigm. It sounds to me like a nice topic for a publication. Basically we will use bayesian statistics to calibrate the building model based on the year o

[2016-10-17 09:48] shanshanhsieh commented on #358
hey @daren-thomas , could you please give me an example on the "edge cases"?

[2016-10-17 10:09] gabriel-happle opened #370 "Create a load model for latent cooling load (humidity model)"
The goal could be a model analogue to the thermal RC-model with humidity resistance and capacitance.
This issue is specially relevant for the Singapore (hot+humid climate).
This issue needs some research prior to implementation.

@adam-rysanek from 3for2 might be consulted for the present state of the art of humidity modeling.

[2016-10-17 10:10] #350 closed

[2016-10-17 10:12] #360 closed

[2016-10-17 12:58] daren-thomas commented on #358
hey @shanshanhsieh, OK, so I wrote a commentary on this bug in my sandbox folder https://github.com/architecture-building-systems/CEAforArcGIS/blob/sandbox/sandbox/dthomas/i358.py

Edge cases could mean a lot in testing. In this example I just tested all combinations and included versions where a bad input ("XYZ") and no input (`None`) get passed in and we get some differences:

[code]
The format

[2016-10-17 13:00] daren-thomas commented on #358
So, once you and I agree on what *should* happen when bad data gets put in to the function, we can adopt the newer version of the function...

[2016-10-17 13:14] daren-thomas commented on #358
I have also done a speed test to see if there is a difference, but there is no noticeable difference in speed so I suggest we go with the version that is easier to understand and maintain. What do you think, @shanshanhsieh?

[2016-10-17 13:18] daren-thomas commented on #358
Huh... by moving the dictionaries to the module (so they only get created at module import time) the newer version is twice as fast...

[2016-10-17 15:06] #297 closed

[2016-10-17 15:11] martin-mosteiro commented on #203
The MIBS students' data has been incorporated. However, its validity is questionable, since (a) they are not experts, and (b) even an expert would only be able to give a guess on the current stock's renovation dates.

I few a couple solutions:
1. keep the MIBS student data: at least the window renovation rates are generally correct and even a bad guess is better than no guess (as is currently the

[2016-10-17 15:11] daren-thomas commented on #358
See PR #371

[2016-10-18 06:42] shanshanhsieh commented on #358
Hi @daren-thomas , thank you for the explanation!
to my opinion, at the edge cases, when the control systems and emission systems are not specified in the database, an error should be raised. Or at least zero temperature adjustment should be returned (result_heating, result_cooling). Therefore, we should switch to your table-based method.

[2016-10-18 08:29] amraladdin commented on #203
I believe it depends on what we are aiming for. If it's for the MIBS students, we can go on with their assumptions, it is already a good exercise for them.
However, if we are talking about the approach that would generate more accurate and reliable results, I suggest the following:
- Develope the statistical model.
- Generate results.
- Compare with MIBS assumptions.
- Compare both with real consu

[2016-10-18 08:43] amraladdin opened #372 "Discrepancy in the Data Helper generated values"
After the Exercise we gave to the MIBS students (which is to assume time of retrofitting for building components, in order to incorporate these values in the AGE shape file and have -hopefully- more accurate inputs). The following occured:
- In the cases when no renovation occurs, some students used "0" as an input value, while others used the "built" year (so if the building was built in 1870, th

[2016-10-18 08:47] JIMENOFONSECA commented on #372
An interesting bug. Ask them to always use 0 if they have not been renovated. Use only the real built year in the 'built' column.

Assign the issue to me. the bug will be solved until the end of the year. Is that ok?

[2016-10-18 08:48] amraladdin commented on #372
Yeah, I already fixed all the non-retrofitted values to 0 and sent the new file to the students yesterday.
Yeah sure, end of the year is perfect, they'll continue working with these files from now on :)

Cool, thanks!

[2016-10-18 10:56] daren-thomas commented on #358
OK. It turns out that the reference cases include 'T0' as cooling system. What is the setpoint correction for that supposed to be? I'm setting it to `0.0`, @shanshanhsieh can you please check to see if that is correct?

[2016-10-18 11:58] daren-thomas commented on #358
@shanshanhsieh: Can you check the branch of the PR #371 for an example of unit testing the `calc_t_em_ls` function? What are examples of correct behavior (input / output)? I think it would be good to test some. Also, please check that the `T0` definitions are correct. I'm not sure about them.

[2016-10-19 02:45] JIMENOFONSECA opened #373 "Heating coil breaks due to data generated by HVAC model"
The heating coil does not converge due to a case where both temperatures of air before and after the coil are identical even in periods of heating demand. The temperatures are about 39 degrees which seems unrealistic if there is a heating load. This is stopping work on the issue i351.

To discover this, I run 300 simulations of a set of 9 buildings in zug with different HVAC systems. The problem h

[2016-10-19 05:14] JIMENOFONSECA opened #374 "Sensitivity analysis and supercomputer for cea"
So we are facing the problem of limited computing power with CEA. Simulations just take a lot to run. Especially while doing sensitivity analysis.While we thought will be a problem later on with the optimization of energy systems is a problem now.

I talked to the super computer cluster at FCL which has 100 cores available for us to use. The infrastructure is based on a linux system and uses Docke

[2016-10-19 06:25] JIMENOFONSECA opened #375 "Improve Solar variables for windows and opaque surfaces"
This includes updating values for solar reflectance of opaque and translucent surfaces in the CEA. These factors are generating an important effect on heat gains due to solar radiation and should be considered.

This issue will be solved together with #351

[2016-10-19 07:32] shanshanhsieh commented on #358
You are right @daren-thomas , there is a problem when no heating or cooling system is assigned (`T0`).
`T0` means there's no heating/cooling systems installed, therefore, also no control systems for heating/cooling.
In short, when the input system is `T0`, the output set point correction should be `0.0`.
So if there is no cooling systems, the `calc_t_em_ls` function input: (T1, T0, T1) (type_hs, t

[2016-10-19 08:27] daren-thomas commented on #358
I have updated the code to reflect this for heating systems and cooling systems in 522e066.  I have also added your last comment to the documentation of the function. Also, check out the unit tests that make sure this is correct. I think we should do a lot more of these at the module/function level as they "document" the assumptions built into the code.

Can you come up with other tests for correc

[2016-10-19 08:33] daren-thomas commented on #374
BTW: The brutus (and it's sister euler) computers are linux based as well!

From simulations I have done for Arno in the past on the brutus cluster, what happens is you divide the simulation task into independent tasks that can be run. You create a runner script - a batch file - that orchestrates running the whole process. Since each node on the cluster can only be used for a specific amount of ti

[2016-10-19 08:47] JIMENOFONSECA commented on #374
Great, let me know how we can get started.

On 19 Oct 2016, at 4:33 pm, Daren Thomas <notifications@github.com<mailto:notifications@github.com>> wrote:

BTW: The brutus (and it's sister euler) computers are linux based as well!

From simulations I have done for Arno in the past on the brutus cluster, what happens is you divide the simulation task into independent tasks that can be run. You create

[2016-10-19 08:51] daren-thomas commented on #374
A first step could be to create the `pip install` mechanism you were talking about in #355 - that would make setting up a linux environment a bit easier. I will look into running cea on euler today and tomorrow and report back to you!

[2016-10-19 08:52] JIMENOFONSECA commented on #374
thanks!

[2016-10-19 08:53] shanshanhsieh commented on #358
I adopted the function name from before, a better name could be `temperature_setpoint_correction_for_space_emission_systems` or just `setpoint_correction_for_space_emission_systems`.
`T0` is not a valid input for control system, if the control system is not specified, an error should be raised, and I think that's what the current function is doing. I modified it in [099bee3](https://github.com/arc

[2016-10-19 12:40] daren-thomas commented on #355
PR #376 is a first step: It includes an Inno Setup file that can create a file `Setup_CEAforArcGIS10.4.exe` that will install the CEA on a system. I have tested this on an empty VM that only contains ArcGIS 10.4 on Windows 10 and ran all the scripts (except radiation) and it works! This uses a simplified installation procedure that just copies the conda environment's `site-packages` folder to the

[2016-10-19 12:41] daren-thomas commented on #355
@JIMENOFONSECA: Here is a link to the [Setup_CEAforArcGIS10.4.exe](https://www.dropbox.com/s/96gl5f3uxqq23s6/Setup_CEAforArcGIS10.4.exe?dl=0) if you want to test it.

[2016-10-19 13:09] daren-thomas commented on #358
thank you! I will update the function name, I like your suggestions!

BTW: I took the `T0` for control systems from the documentation as mentioned in the docstring of the function. Would you mind checking the relevant page and updating it in the documentation please?

[2016-10-20 02:07] JIMENOFONSECA commented on #355
Great stuff.

would you mind including the next libraries? (my next pull request requires them, so it would be good to have them to test it).

- Salib
- plotly
- pydoe

thanks!

On 19 Oct 2016, at 8:41 pm, Daren Thomas <notifications@github.com<mailto:notifications@github.com>> wrote:

@JIMENOFONSECA<https://github.com/JIMENOFONSECA>: Here is a link to the Setup_CEAforArcGIS10.4.exe<https://www.dr

[2016-10-20 02:10] shanshanhsieh commented on #358
Will do!

[2016-10-20 08:39] daren-thomas commented on #355
Hi Jimeno, this installer only installs the `cea` branch. plotly is included but I'd prefer not to include libraries "in advance". How about we merge the PR and then do this in a separate issue?

[2016-10-21 02:39] gabriel-happle commented on #373
On it

[2016-10-21 02:44] gabriel-happle commented on #248
@daren-thomas Sorry, didn't see this notification. The output of this function is actually not used at the moment. It would be for more sophisticated infiltration/ventilation calculation. Also this issue has to be properly addressed as soon as we select our geometry data type of the future. Maybe we can just deactivate it for now?

[2016-10-21 02:56] gabriel-happle commented on #373
@JIMENOFONSECA I can not see the mentioned reference case. Can you send me the link please?

[2016-10-21 05:23] JIMENOFONSECA opened #377 "Need for different types of outputs of the demand model"
In the sensitivity analysis, as well as in testing, not all the outputs of the demand model will be needed. Sometimes the file total data is not necessary, sometimes hourly data is not necessary, but monthly and vice versa etc..

I think we could create some standard output configurations. This will be especially effective when generating big chunks of data. like results of 200k simulations..

It

[2016-10-21 07:32] daren-thomas opened #378 "Update the documentation for `type_ctrl`"
In the [current documentation](https://architecture-building-systems.gitbooks.io/cea-toolbox-for-arcgis-manual/content/building_properties.html#mechanical-systems) the list of values for `type_ctrl` does not reflect the values as described in the `calc_t_em_ls` (or, as of #371 / #358) `setpoint_correction_for_space_emission_systems`). Especially `T0` should not be described as a valid value. But w

[2016-10-21 07:33] daren-thomas commented on #378
@shanshanhsieh can you do this please?

[2016-10-21 08:56] gabriel-happle commented on #373
@JIMENOFONSECA I can not reproduce this error with the given inputs! The demand calculation in the master branch runs through. However, I made some observations:
- The inputs for the U-values are impossible in practice, as ArcGIS does not allow for more then 15 digits after the comma in attribute tables
- The radiation file is not consistent with the weather file (e.g. different hours of sun shine

[2016-10-21 08:59] JIMENOFONSECA commented on #373
@gabriel-happle great i will come back to you with some other cases next week.

[2016-10-21 09:04] gabriel-happle opened #379 "Update full report function"
A lot of variable can currently not be reported any more in the `utilities.reporting` function, as names of variables have changed.
Names of variables to report are in `globalvar`

`cannot report following variables: q_int, Eal_nove, Edata, vww, vw, Qcdata, Qcrefri, Hve, Htr_is, Htr_ms, Htr_w, Htr_em, Htr_1, Htr_2, Htr_3, QHC_sen, t5, tHset_corr, tCset_corr, Waterconsumption`

`cannot report follo

[2016-10-21 09:13] martin-mosteiro opened #380 "New occupancy types needed in Swiss database"
The Hochschulquartier has quite a few occupancy types that currently cannot be modeled on the CEA, including:
- Museum
- Laboratories
- Lecture halls
  These need to be added to the database.

[2016-10-21 09:42] daren-thomas commented on #379
good point! A lot of these might have been moved to the `tsd` variable...

[2016-10-21 09:48] daren-thomas commented on #377
One way to do this is to refactor the methods for writing out the result files to a class, say `BuildingResultWriter` and `TotalsResultWriter`. Have the `demand_main` script use a default value for these - one that writes out the results just like the current version does. Then, you can create alternative subclasses of these writers: a `MonthlyBuildingResultsWriter` would just write out the monthl

[2016-10-21 09:49] shanshanhsieh commented on #378
The documentation of [Building Properties in the Archetype section ](https://architecture-building-systems.gitbooks.io/cea-toolbox-for-arcgis-manual/content/building_properties.html) is updated according to the current "Archetypes_properties.xlsx" spreadsheets now.
Except there are three properties that is described in the documentation but not in the Architecture spreadsheets.
They are : `type_ro

[2016-10-21 09:53] daren-thomas commented on #377
Note, if we are doing the calibration calculations on Euler, we don't really need to do this: We can implement a post-processing step that converts the hourly results into monthly results.

When running on Euler, you have two types of storage: A per-user storage (your `$HOME` folder) that is persisted between sessions and a per-node storage (a "scratch" folder) that is deleted after a job has been

[2016-10-21 09:56] daren-thomas commented on #248
I suggest removing the whole function, if it is not being used. We can still find it in the revision history if we ever need it again, but having "dead" code in the codebase is a bad idea: It makes it harder to understand what is going on and code tends to "rot" over time.

Could you remove it and we revisit this function when we are ready for a more sophisticated infiltration/ventilation calculat

[2016-10-21 10:28] #358 closed

[2016-10-24 11:53] daren-thomas commented on #346
@JIMENOFONSECA: Th[e PR on the reference case is still open](https://github.com/architecture-building-systems/cea-reference-case/pull/7). Can you please comment on that?

[2016-10-25 08:44] shanshanhsieh commented on #378
The  `type_roof/type_wall/type_win` are implemented for issue #375 .
The [building properties section documentation](https://architecture-building-systems.gitbooks.io/cea-toolbox-for-arcgis-manual/content/building_properties.html#mechanical-systems) is up to date.

[2016-10-25 08:44] #378 closed

[2016-10-25 08:54] daren-thomas commented on #322
resolved in PR #382

[2016-10-25 13:52] martin-mosteiro opened #383 "Process heating calculation"
In the Universitätsspital, about 20% of the total heating demand is for processes (e.g. sterilization). These need higher supply temperatures than either space heating or hot water. Currently, this demand is supplied by the vapor-based district heating network (192°C as opposed to 90-120°C for the water-based network).

This demand should therefore be calculated separately. In the current version

[2016-10-25 18:12] JIMENOFONSECA commented on #377
I created a solution to this with some flags in global variables.
It works nicely in my pc. after merged maybe we can thing on transforming the remake of results_to_cv function of the thermal loads.py to a class as you say? I agree with you that could be the way to go. .

On 21 Oct 2016, at 5:48 pm, Daren Thomas <notifications@github.com<mailto:notifications@github.com>> wrote:

One way to do this

[2016-10-25 18:16] JIMENOFONSECA commented on #378
yes, they will be used in once #381 be merged.

On 21 Oct 2016, at 5:49 pm, shanshanhsieh <notifications@github.com<mailto:notifications@github.com>> wrote:

The documentation of Building Properties in the Archetype section <https://architecture-building-systems.gitbooks.io/cea-toolbox-for-arcgis-manual/content/building_properties.html> is updated according to the current "Archetypes_properties.xl

[2016-10-27 14:08] daren-thomas opened #384 "Users want to be able to upload a new weather file"
While this is possible, it is insanely complicated - the user has to figure out where the cea is installed and then navigate to the databases/CH/weather folder or something like that.

The documentation does not mention that the cea is normally installed in the %APPDATA%/ESRI/... folder, so updating the documentation on replacing the weather files to point to that installation folder would be the

[2016-10-27 15:44] daren-thomas opened #385 "Add a building with `Af == 0` to reference-case-open"
This will let us test that case in future much quicker (currently we have to run the slow masterplan) and find bugs much faster.

[2016-10-27 15:44] daren-thomas commented on #385
@JIMENOFONSECA can you do this please?

[2016-10-28 02:19] JIMENOFONSECA commented on #385
done!

[2016-10-28 02:19] #385 closed

[2016-10-28 08:04] daren-thomas opened #386 "Create a "readthedocs" style API documentation for the CEA"
Using techniques as described in [this blog post](https://medium.com/@tryexceptpass/python-introspection-with-the-inspect-module-2c85d5aa5a48#.9sl0rz2m4) and [MkDocs](http://www.mkdocs.org/) or something similar we could create an up-to-date API documentation to the CEA. Some additional ideas:
- host this in GitHub pages / readthedocs.io
- automatically build when merging to master
- will inspire

[2016-10-28 08:06] JIMENOFONSECA commented on #386
totally down for it. Would this replace the git book? i hope so. it is difficult to get things well organized there (the menu bar does not work properly).

[2016-10-28 08:07] JIMENOFONSECA commented on #386
are we talking about somthing like this:

http://pymc-devs.github.io/pymc3/notebooks/getting_started.html

[2016-10-28 08:13] daren-thomas commented on #386
actually, I was thinking more of an API reference, that is, a compilation of module, class and function docstrings (the stuff with the `"""all my documenation in tripple-quotes"""`).

The git book documentation could of course also be moved to another system if you like: we have saved all the files in markdown in a github repository in our organization, so we can easily move them to another system

[2016-10-28 08:21] JIMENOFONSECA commented on #386
maybe we can. the menu on the left is a bit big and it is difficult to minimize or expand a chapter and sub-chapter.

But if it is for the API reference and the Gitbook i will go for doing one sole thing in something like readocs.io. I have seen many other libraries including using manual and API in the same site. I think having the code and the manual is quite useful. So one can refer to the othe

[2016-10-28 08:54] daren-thomas commented on #386
I have set this task to the M3 milestone. I suggest we continue documenting as before for this milestone and then I will figure out how to migrate it to the new version. That way, we don't have to stop our efforts. I have clicked around on the gitbook page a bit and have experienced a weird behavior that I can't really reproduce with level 3 subtitles appearing and disappearing in the TOC without

[2016-10-28 09:22] JIMENOFONSECA commented on #386
good for me, let's move it to M3
________________________________
From: Daren Thomas [notifications@github.com]
Sent: Friday, October 28, 2016 4:54 PM
To: architecture-building-systems/CEAforArcGIS
Cc: Jimeno Fonseca; Comment
Subject: Re: [architecture-building-systems/CEAforArcGIS] Create a "readthedocs" style API documentation for the CEA (#386)

I have set this task to the M3 milestone. I sugge

[2016-10-28 10:24] gabriel-happle opened #387 "Ventilation system properties to archetypes"
Building archetypes have to be equipped with ventilation system properties (similar to heating/cooling system properties). The current demand calculation uses some work around.

The list of properties includes:
- Mechanical ventilation: Yes/No
- Window ventilation: Yes/No
- Heat recovery: Yes/No/Type
- Night flushing/economizer: Yes/No
  -...

[2016-10-28 10:25] gabriel-happle commented on #248
Actually I'm working on exactly that.

[2016-10-28 11:44] daren-thomas commented on #387
- Heatrecovery: Type (with one option equivalent to "none" - this is how the other systems in the CEA work, generally, none is `T0`)

Also, note, that we can start from zero here, so instead of using `T0, T1, T2` as values, maybe settle on `HR0, HR1, HR2` so that these values remind the user of the type being used:
- MV: mechanical ventilation
- WV: window ventilation?
- HR: heat recovery
- NF: ni

[2016-10-31 13:27] #322 closed

[2016-10-31 13:28] daren-thomas commented on #300
@JIMENOFONSECA worked on this with the calibrator branch and I introduced the `DemandWriter` classes. I think this issue can be closed.

[2016-10-31 13:28] #300 closed

[2016-10-31 15:39] daren-thomas opened #388 "Rename `cea/utilities/helpers.py` and document CEA code standards for times"
The file `cea/utilities/helpers.py` contains a list of functions to convert to and from the "Hour Of Year" and "Seasonhours" convention as well as similar functions for such time computings.

"helpers" is a very generic name. We could come up with something better. "timeconversions"? Or "time_helpers"? I suggest "`hour_of_year.py`"

Also, this module should include a docstring at the top explainin

[2016-10-31 15:40] daren-thomas commented on #388
@JIMENOFONSECA thoughts?

[2016-10-31 18:12] martin-mosteiro opened #389 "Numerous issues with the embodied energy script"
I found a number of issues in the embodied energy and emissions calculation.

1. A minor issue: is there any reason to calculate _delta_year_ as
        `envelope_df['delta_year'] = (envelope_df['envelope'] - year_to_calculate) * -1`
instead of the much simpler and easier to read:
        `envelope_df['delta_year'] = year_to_calculate - envelope_df['envelope']`?

2. A likely couple of typos: the c

[2016-10-31 18:35] martin-mosteiro commented on #389
@amraladdin these are the issues I described in my email to you.

[2016-11-01 02:01] JIMENOFONSECA commented on #389
@martin-mosteiro my comments. would you assign it to yourself and go ahead with the changes?

A minor issue: is there any reason to calculate delta_year as
**agree**

A likely couple of typos: the contributions due to HVAC renovation include two mistakes.
**agree**

On to the important stuff.

@JIMENOFONSECA what is PFloor exactly?
**it is a flag to count with the % of the floors that have externa

[2016-11-01 02:05] JIMENOFONSECA commented on #388
for 'season hours', it should be solved with #251.
for 'hoy', @gabriel-happle could you comment on this?

[2016-11-01 02:23] #377 closed

[2016-11-01 02:24] #375 closed

[2016-11-01 02:25] JIMENOFONSECA commented on #374
@daren-thomas i completed the sensitivity analysis and it works good without crashing for both sobol and morris methods. is there a way i could connect to euler and run simulations form here?

[2016-11-01 02:27] JIMENOFONSECA commented on #373
@gabriel-happle it is working, i think the inputs with many digits was the problem. i was able to run it without concern now

[2016-11-01 02:27] #373 closed

[2016-11-01 06:38] gabriel-happle commented on #388
`hoy` is my variable name for 'hour of the year'. i.e. `hoy = 1` first hour on 1st of January.
`seasonhour` is my variable name for 'hour of the season'. i.e. `seasonhour = 1` is the first hour at the start of the heating season.
`t` is now the same as `seasonhour`. so it is used for counting the hours in the for loop. `hoy` is e.g. used to look up data from the weather file, or similar. For any l

[2016-11-01 09:58] martin-mosteiro commented on #389
@JIMENOFONSECA Thanks for your answers! I forgot to assign the issue to myself, I've done it now.

Sounds okay to me, if anything maybe the name could be changed to something more intuitive.

What I meant was inconsistent is that the **internal** walls are not included in the building calculation while the **external** walls are not included in the renovation calculation. For each of these compone

[2016-11-01 10:02] amraladdin commented on #389
@martin-mosteiro Yes, exactly! However, shouldn't the second graph have an always decreasing value? I mean since the beginning of the calculation? Cause in the case shown here, even without retrofitting, after 60 years the building embodied energy doesn't reach 0.

[2016-11-01 10:28] JIMENOFONSECA commented on #389
One question, should not all go to 0 by 2020 in the example?

Best, Jimeno

On 1 Nov 2016, at 17:58, martin-mosteiro <notifications@github.com<mailto:notifications@github.com>> wrote:

@JIMENOFONSECA<https://github.com/JIMENOFONSECA> Thanks for your answers! I forgot to assign the issue to myself, I've done it now.

PFloor it is a flag to count with the % of the floors that have external walls. in

[2016-11-01 11:09] martin-mosteiro commented on #389
@JIMENOFONSECA not the way it is currently implemented in the CEA. In the CEA, the embodied energy/emissions due to construction are constantly 1/60 of the construction energy **forever** and the embodied energy/emissions are 1/60 of the renovation energy only when calculating within 60 years of renovation. That's why I'm saying that the calculation is not consistent.

[2016-11-02 01:26] JIMENOFONSECA commented on #389
I see, so after 60 years of contruction there is no stop in the emissions in CEA. Let's fix that.

Best, Jimeno

On 1 Nov 2016, at 19:09, martin-mosteiro <notifications@github.com<mailto:notifications@github.com>> wrote:

@JIMENOFONSECA<https://github.com/JIMENOFONSECA> not the way it is currently implemented in the CEA. In the CEA, the embodied energy/emissions due to construction are constantly

[2016-11-04 12:33] martin-mosteiro commented on #389
@JIMENOFONSECA That's what I meant in my first message. Guess that was just a misunderstanding. I've now fixed all the above issues and created a pull request.

[2016-11-07 07:39] gabriel-happle opened #392 "move required ventilation rate script"
The required ventilation rate according to occupancy is now calculated inside a temperature controller function `cea.controllers.calc_simple_temp_control()`.

The function will be moved to an appropriate location

[2016-11-08 07:29] #67 closed

[2016-11-08 07:31] #86 closed

[2016-11-08 07:33] #87 closed

[2016-11-08 07:34] #96 closed

[2016-11-08 07:35] #83 closed

[2016-11-08 07:45] JIMENOFONSECA opened #393 "DHC network for the cea"
- Develop a hydraulic thermal model of DHC networks.

- Develop a new method to optimize the network with 2-objective optimisation (investment and operation costs). Optimize layout and size of the network.

- implement either a minimum spanning tree or ring topology. the last could become the dominating network layout.

- Allow adjusting mass flow rate in networks for heating and cooling instead o

[2016-11-08 07:50] JIMENOFONSECA commented on #393
I consider inputs shoudl be:
1. one excel file with the costs of different types of pipes and the properties of the materials. his should be stored in the database of the cea. Check publication in energy and buildings for these parameters as a starting point.
2. a grid of potential paths where buildings can be connected. This include streets, pedestrian pathways, additional that the designer consi

[2016-11-08 07:56] JIMENOFONSECA commented on #393
For the thermal losses you might want to check:
summarize_network_main.py/calc_piping_thermal_loss. But i suggest to do some research about this

For the hydraulic model:
One option is to check florian's documentation and try to do it.
Another one is to connect to EPANET. Energyplus is to buildings like epanet is to hydraulic networks.
Another option is to extract and code the hydraulic model from

[2016-11-08 15:12] daren-thomas commented on #374
check out PR #394 - there is a README.md in the euler subfolder that explains how to run things.

[2016-11-10 01:50] #346 closed

[2016-11-10 01:51] JIMENOFONSECA opened #395 "Open test and examples to cea master"
We have been asked to upload an open case study. this will facilitate dissemination of the tool.

[2016-11-10 14:15] martin-mosteiro opened #397 "2000 Watt society target values"
The target values in the 2000 Watt society graphs are taken from SIA 2040 and the Leitfaden Arealentwicklung für die 2000-Watt-Gesellschaft. This means that not every building occupancy type from the CEA is included (e.g., Industry and Hospitals are not included). In the current CEA calculation, the target for these uses is set to zero!

- **Short term solution for the MIBS:** use the values for i

[2016-11-10 14:16] #389 closed

[2016-11-11 12:44] daren-thomas opened #398 "Weatherfile should be part of scenario"
After some consideration I have come to the conclusion that the weather file should be part of the scenario  or at least the path to the weather file should be part of the scenario configuration file (to be developed).

We should also have a script / method to set the weather file for a scenario, like the data helper. In fact, the data helper could be used for that purpose, but a separate step wou

[2016-11-14 07:54] #395 closed

[2016-11-14 07:58] JIMENOFONSECA opened #399 "Clustering of typical days for calibration"
As part of the calibration model and assessment of uncertainty, it is necessary to include clustering techniques for the CEA tool. They should optimize the number of clusters in a non-supervised way.

[2016-11-14 08:26] daren-thomas commented on #372
Did the reference cases get updated with the new files sent to the students?

[2016-11-14 08:28] JIMENOFONSECA commented on #372
@amraladdin any clue?

[2016-11-14 08:46] amraladdin commented on #372
No, because changing the values to 0 for the age of retrofitting is a quick fix and not a long-term solution for the tool. Someone needs to check the calculations to see why this issue is happening. @JIMENOFONSECA , wasn't this issue assigned to you?

[2016-11-14 08:55] JIMENOFONSECA commented on #372
yes it was. I thought it was solved already. Do you have any solution form the user perspective?. I am out of ideas in this topic

On 14 Nov 2016, at 4:46 pm, Amr Elesawy <notifications@github.com<mailto:notifications@github.com>> wrote:

No, because changing the values to 0 for the age of retrofitting is a quick fix and not a long-term solution for the tool. Someone needs to check the calculation

[2016-11-14 09:19] JIMENOFONSECA opened #401 "Change the repository name"
We would like to be known as CityEnergyAnalyst as we are becoming less and less dependent on arcgis and more a general open source tool

[2016-11-14 09:59] amraladdin commented on #372
No I don't, sorry. I guess we would need to see why this issue is happening in the code. Unfortunately, I don't have much time till the end of the year because of teaching.

@martin-mosteiro do you have an idea why this error is happening? Or any idea how to solve it?

[2016-11-14 10:12] martin-mosteiro commented on #372
The explanation is pretty easy. Check this out:
![screen shot 2016-11-14 at 11 08 57](https://cloud.githubusercontent.com/assets/18548065/20260621/c6ab6a9a-aa5a-11e6-8114-f0c32c8d02a3.png)
A building **renovated** before 1920 has different U-values than one **built** before 1920. So that's what causes the problem. In order to avoid discrepancies, we could either:
1. tell people to use 0 for no ren

[2016-11-14 12:05] daren-thomas commented on #324
The Jenkins solves this issue!

[2016-11-14 12:05] #324 closed

[2016-11-14 12:06] daren-thomas commented on #13
@JIMENOFONSECA can you provide a description of this issue?

[2016-11-15 05:28] JIMENOFONSECA commented on #13
This was an issue that became solved with @gabriel-happle 's work on the HVAC system. I will close it now.

[2016-11-15 05:28] #13 closed

[2016-11-15 06:12] #344 closed

[2016-11-15 09:11] daren-thomas opened #403 "conda install cea"
Figure out how to install the cea libraries using `pip`, `easy_install` or a similar mechanism. This is the installer for the library version, as opposed to the quick hack we made for the ArcGIS version.

It should install the cea on:
- Windows,
- Linux
- Mac

And should also address installing dependencies. Since installing some of the cea dependencies is notoriously difficult, we will have to fi

[2016-11-15 09:13] daren-thomas commented on #355
I have opened a new issue #403 for the next milestone to deliver a `pip install cea` mechanism.

There are still some tasks that need to be completed before we can close this issue, see above.

[2016-11-15 14:27] daren-thomas commented on #185
I've had a thorough look at how the tools work in ArcGIS and it doesn't really work. There is no elegant way to do this. There is, however, the possibility to add waaay more documentation to the tool, and I will add that as a separate issue instead.

[2016-11-15 14:27] #185 closed

[2016-11-15 14:29] daren-thomas opened #404 "Add documentation to the ArcGIS interface"
The ArcGIS interface can be documented in the "*.pyt.xml" files that are currently being ignored in GitHub. These files can contain user documentation that we might show. This would be in addition to documenting the tool in the manual.

[2016-11-16 08:40] martin-mosteiro opened #406 "Remove hard coding and document TABS"
Based on @gabriel-happle's comments. There are currently control temperatures which are hard coded and the calculation is not documented.

[2016-11-17 10:42] gabriel-happle commented on #251
Please wait for my major changes in demand calculation. Thank you.
#220

[2016-11-17 11:13] #347 closed

[2016-11-18 03:22] shanshanhsieh opened #407 "Hydraulic model for DHC network"
Add the hydraulic model of DHC network into the technologies folder.

For the hydraulic model:
One option is to check florian's documentation and try to do it.
Another one is to connect to EPANET. Energyplus is to buildings like epanet is to hydraulic networks.
Another option is to extract and code the hydraulic model from EPANET documentation.

[2016-11-18 03:23] shanshanhsieh opened #408 "Thermal model for DHC network"
Add the thermal model of DHC network into the technologies folder.

For the thermal losses you might want to check:
summarize_network_main.py/calc_piping_thermal_loss. But i suggest to do some research about this

[2016-11-18 03:24] shanshanhsieh opened #409 "Piping database for DHW network"
one excel file with the costs of different types of pipes and the properties of the materials. this should be stored in the database of the cea. Check publication in energy and buildings for these parameters as a starting point.

[2016-11-18 03:38] gabriel-happle opened #411 "newest version of wheels for geopandas installation did not work BUT conda has a geopandas installer"
@daren-thomas my attempt of installing geopandas with the newest versions of shapely, etc was not successful (maybe my fault, I only tried once).
The previously downloaded wheels worked.

During debugging of some code I got the strange message, that I need `rtree`. By researching a bit on how to install I found this:
https://anaconda.org/ioos/geopandas

It seems that there are easy packaged instal

[2016-11-18 03:39] shanshanhsieh opened #412 "Plotting potential DHC network paths"
Before the network layout optimization, a grid of potential paths should be prepared. Where buildings and plants are connected should be specified. This include streets, pedestrian pathways, additional that the designer considers could be interesting.

Possible steps:
1. Extract shape file via Shapely: for each node, store information of actual location and distances to other nodes. Create an arti

[2016-11-18 03:41] shanshanhsieh commented on #393
4 small issues are decomposed from this issue, and will be finished for Milestone 2.
The 4 issues are: #407, #408, #409, #412
The rest will be tackled in Milestone 3.

[2016-11-21 09:52] #374 closed

[2016-11-21 10:14] daren-thomas opened #415 "Finish documentation for sensitivity analysis"
@JIMENOFONSECA just merged the sensitivity-euler branch back to master. There is some documentation work left to do:

- document the script `sensitivity_demand_samples.py` to the same quality as `sensitivity_demand_analysis.py`
- document the script `sensitivity_demand_simulate.py` to the same quality as `sensitivity_demand_analysis.py`
- move the file `euler/README.md` to the folder `cea/analysis

[2016-11-21 10:15] JIMENOFONSECA opened #416 "Expand sensitivity analysis"
Now that the sensitivity analysis runs in Euler we can proceed to expand the analysis to include much more input and output variables.

- We will start with expanding it to get monthly simulation results

[2016-11-21 10:15] daren-thomas opened #417 "Document credits convention"
We use the following convention for documenting the credits and other information in the python scripts:

[code]

This needs to be added to the contributor's manual.

[2016-11-21 10:17] daren-thomas commented on #417
@martin-mosteiro do you want to take care of this? And assign the issue to yourself? I think this would also go with your changes for the PR #414.

[2016-11-21 11:58] martin-mosteiro commented on #417
@daren-thomas Done.

[2016-11-21 11:58] #417 closed

[2016-11-21 13:59] daren-thomas commented on #411
cool! I'll give it a check: this could make installation of the cea sooo much easier!

[2016-11-22 10:01] shizhongming opened #418 "Make the component in Grasshopper calling CEA"
Script the component in Grasshopper to call for simulation in CEA@ArcGIS.  The output of the component is the energy consumption of the input scenario.

The attached pic is the general workflow of the loop of the optimization of the form based on the energy performance. P.S.

![capture](https://cloud.githubusercontent.com/assets/16640327/20519270/32175d6a-b0dd-11e6-8454-f1d58f20ad49.JPG)

[2016-11-22 10:03] shizhongming commented on #418
The three components in orange in the pic are assigned to Zhongming, Zhongming and Daren respectively.

[2016-11-22 16:03] #165 closed

[2016-11-23 13:10] daren-thomas commented on #401
I suggest we add an `arcgis` folder under the `CityEnergyAnalyst` main folder. Right next to the `cea` folder. And we also need a `docs` folder (or `doc`?) and a `bin` folder (for command-line scripts like the euler stuff) and a `grasshopper` folder for grasshopper components like the stuff @shizhongming and I are working on. Also, maybe a `vistrails` folder for VisTrails components. You get the p

[2016-11-25 09:50] daren-thomas opened #420 "Add calibration_main script to the dodo file for Jenkins"
Figure out how to add the calibration routine to the integration tests run by Jenkins.

[2016-11-28 09:26] daren-thomas commented on #52
Moving this to next milestone, as it might be solved with @gabriel-happle 's changes to the demand calculations...

[2016-11-28 09:27] daren-thomas commented on #362
@JIMENOFONSECA, I would like you to assign this task to yourself or talk to me about it.

[2016-11-28 09:30] daren-thomas commented on #247
this has already been renamed, I will just rename the unit tests.

[2016-11-28 09:40] JIMENOFONSECA commented on #362
@daren-thomas yes you are right. check PR #421

[2016-11-28 09:41] #406 closed

[2016-11-28 09:46] daren-thomas commented on #247
@JIMENOFONSECA: this is a really quick one for the four-eyes-principle. Changes are made to the unit tests and the Jenkins will prove that they still run.

[2016-11-28 10:01] daren-thomas opened #423 "Fix optimization use of InputLocator"
The optimization code uses a different approach to the InputLocator than the rest of the code: It assigns local variables to the InputLocator and uses those instead of the `get_*` methods employed by the rest of the CEA.

Refactor those usages to the standard model and at the same time make sure folders referenced exist.

[2016-11-28 12:22] daren-thomas commented on #423
Started working on branch `423-fix-optimization-use-of-inputlocator`. Since this leads to refactoring, I first need to be able to verify I am not changing results. @JIMENOFONSECA: How do we test the current functionality of the optimization?

[2016-11-28 15:36] daren-thomas commented on #362
fixed with PR #421

[2016-11-28 15:36] #362 closed

[2016-11-29 00:23] JIMENOFONSECA commented on #423
Uhoh... My PR of documenting optimization has this in place and it is 100% functional. We might want to merge that branch first and then see if the input locator issue persists

Best, Jimeno

On 28 Nov 2016, at 20:23, Daren Thomas <notifications@github.com<mailto:notifications@github.com>> wrote:

Started working on branch 423-fix-optimization-use-of-inputlocator. Since this leads to refactoring,

[2016-11-29 05:09] JIMENOFONSECA commented on #141
@daren-thomas  is this still an active issue?

[2016-11-29 05:11] JIMENOFONSECA commented on #9
@paulneitzel we cannot get it run and get the next error. do you know what could be the cause? this issue is being reworked for the cea tool in the branch i9-New-Radiation-Engine

![image](https://cloud.githubusercontent.com/assets/8973186/20697572/30e0ac00-b635-11e6-8f05-7e5b44c1b374.png)

[2016-11-29 07:49] JIMENOFONSECA commented on #416
@daren-thomas  i am receiving this error, do you know what can be the cause? i think i am not able to pass the list of groups correctly to linux.
![image](https://cloud.githubusercontent.com/assets/8973186/20700962/63c0f3a8-b64b-11e6-9e68-f3ed76a82c15.png)

[2016-11-29 08:29] daren-thomas commented on #416
I noticed your branch `i416-expand-sensitivity` adds `problem.pickle` and `samples.npy` to the folder `cea/analysis/sensitivity`... may I ask why? These files are not code, but output of the script and should be in the samples folder... can I delete them from source please?

[2016-11-29 08:39] #415 closed

[2016-11-29 08:39] #399 closed

[2016-11-29 08:47] JIMENOFONSECA commented on #416
Yes, delete them.
When i run it from pycharm locally it stores automatically those files there. Btw, running the sensitivity analysis locally seems to not be working. Does it work for you?

Best, Jimeno

On 29 Nov 2016, at 16:30, Daren Thomas <notifications@github.com<mailto:notifications@github.com>> wrote:

I noticed your branch i416-expand-sensitivity adds problem.pickle and samples.npy to the

[2016-11-29 08:53] daren-thomas commented on #416
how are you running it? you need to specify the command line arguments - if you run it in `cmd.exe` you can specify those there, *or* you can configure PyCharm to set them...

[2016-11-29 08:54] JIMENOFONSECA commented on #416
i am just running it as script in pycharm and run defaults

[2016-11-29 09:48] daren-thomas commented on #416
we can maybe set up some defaults for running it like that...

[2016-11-29 11:01] daren-thomas commented on #141
@JIMENOFONSECA technically it is not finished yet, but I do not want to make changes to demand calculation because @gabriel-happle is making changes. We need to get @gabriel-happle 's changes into master ASAP I think. I have moved this to the next milestone for now.

[2016-11-29 13:46] daren-thomas commented on #423
@JIMENOFONSECA, so, I just branched from master again, after merging your PR. It is not 100% functional.
- I ran the `optimization_main` script but got an error "no module `slave_main`" - the module was named `Slave_main.py`, so I renamed that
- next, I get an error `IOError: File c:\reference-case-zug\baseline\outputs\data\potentials\solar/Pv.csv does not exist`

Could you check on the master bra

[2016-11-30 03:00] JIMENOFONSECA commented on #423
@daren-thomas worse than that, the demand.py doe snot work anymore.... @gabriel-happle does the demand_main.py iwork for you?

![image](https://cloud.githubusercontent.com/assets/8973186/20738119/f91ca136-b6eb-11e6-80b2-ba7899675fc9.png)

[2016-11-30 03:11] gabriel-happle commented on #423
This warning is coded by me. It is from the HVAC script enthalpy calculation. meaning that some air temperatures are higher than 60°C... I just tested the demand for my pull request #425 - no issues

[2016-11-30 03:12] gabriel-happle commented on #423
All these things will not happen anymore with my major update (I hope)

[2016-11-30 05:34] #247 closed

[2016-11-30 10:36] #147 closed

[2016-11-30 13:01] daren-thomas commented on #251
moving this to next milestone as it might interfere with @gabriel-happle 's work

[2016-11-30 13:59] daren-thomas commented on #423
can confirm: current master has no warnings. everything is a-ok. there was one warning, apparently `df.sort` is deprecated, moved to `df.sort_values`.

[2016-12-01 09:34] #387 closed

[2016-12-01 09:36] #270 closed

[2016-12-01 09:37] gabriel-happle opened #427 "SIA 2044 thermal loads to CEA incl. TABS and Corrections to standard"
SIA 2044 methods to CEA incl. TABS and corrections to standard from Korrigenda C1 and Korrigenda C2

[2016-12-01 14:03] amraladdin commented on #241
UPDATE:
----------

I ran the radiation file for Cairo (check .epw file above) and this time it worked! I ran the data helper and demand as well and they worked fine as well.

However, when I tried to run the radiation file for Kiruna Climate in Sweden, I still get the following error:

![kiruna error](https://cloud.githubusercontent.com/assets/16256867/20796635/50b7d82a-b7d7-11e6-8432-caa70122856

[2016-12-02 15:07] #303 closed

[2016-12-02 15:10] daren-thomas commented on #349
see `_ensure_folder` in PR #428

[2016-12-02 15:20] daren-thomas commented on #359
already done.

[2016-12-02 15:20] #359 closed

[2016-12-02 15:21] daren-thomas commented on #78
@JIMENOFONSECA: is this still relevant?

[2016-12-02 15:24] daren-thomas commented on #384
I now think the weatherfile used should be part of the scenario inputs and copied there every time...

[2016-12-02 15:26] daren-thomas commented on #235
@JIMENOFONSECA : Do you have input on this?

[2016-12-05 15:30] daren-thomas commented on #355
fixed in PR #429

[2016-12-06 04:15] JIMENOFONSECA opened #430 "Missing links in docs and energy system supply chain diagram needed"
From A. schlueter's communication: Today was the ENSCC kickoff (spacergy). Some of the other research groups were interested to learn more. They were especially interested in the supply models and if / how they could contribute. Now I checked the documentation but the links do not work: https://architecture-building-systems.gitbooks.io/cea-toolbox-for-arcgis-manual/content/technical_data.html

[2016-12-06 04:34] JIMENOFONSECA commented on #78
Well, it was a tool to make easier running multiple scenarios at the same time. Do we like to add this? If not, we can forget about it

Best, Jimeno

On 2 Dec 2016, at 23:22, Daren Thomas <notifications@github.com<mailto:notifications@github.com>> wrote:

@JIMENOFONSECA<https://github.com/JIMENOFONSECA>: is this still relevant?

—
You are receiving this because you were mentioned.
Reply to this em

[2016-12-06 06:21] JIMENOFONSECA commented on #235
yes, we can do that. please feel free to move it to a separate directory in the databases.

[2016-12-06 06:23] JIMENOFONSECA commented on #241
I see the problem. we are running kiruna weather file with the location of Zug/Zurich. The latitute and longitud of the site should match the weather file in order of this to work. In order words. please use the latest version of the radiation tool which requires you to put the latitude and longitud of the location where you are doing the calculations.

[2016-12-06 08:42] amraladdin commented on #241
Sounds good! Thanks!
I'll close this issue then...

[2016-12-06 09:33] daren-thomas commented on #241
sounds good is not enough: did jimenos proposal work? did you test it?

On Tue, 6 Dec 2016 at 09:43, Amr Elesawy <notifications@github.com> wrote:

[2016-12-06 10:20] daren-thomas commented on #78
OK. We forget about it. I don't see the point.

[2016-12-06 10:20] #78 closed

[2016-12-06 10:45] amraladdin commented on #241
You are absolutely right. I apologize, I understood from Jimeno's message that they ran the simulation for the reference cases of Zurich or Zug, while I guess he meant that this is the cause of the problem. My mistake!

I used the latest radiation model. I checked from the Kiruna weather file the latitude and longitude values (67.82 and 20.33 respectively) However, I got another error. Could you p

[2016-12-07 06:04] JIMENOFONSECA commented on #416
@daren-thomas so im facing the same problem. too many outputs and i seem to run out of space in the scratch folder.

![image](https://cloud.githubusercontent.com/assets/8973186/20956589/d36d27a4-bc85-11e6-8416-2a83c468f4bd.png)

After listing the files i can successfully see that there is some output created. it is supposed to be around 56000*9 = 504.000 files. however i get only 468.000. so i gue

[2016-12-07 09:04] daren-thomas commented on #416
@JIMENOFONSECA, your screenshot doesn't really represent the error you mention.

one thing i noticed on your screenshot, though, is that you are using `scp` from within `euler`. Basically, you are asking the euler node to copy a file to itself. The `scp` command you used was supposed to be called from your local computer.

How are you listing the files? I'm particularly interested in the output of

[2016-12-07 10:28] JIMENOFONSECA commented on #416
Yep.  Apparently the files are there but i am not able to retrieve the results. Would you suggest a away to transfer the files out of euler? Filezilla did not work..

Best, Jimeno

On 7 Dec 2016, at 17:04, Daren Thomas <notifications@github.com<mailto:notifications@github.com>> wrote:

@JIMENOFONSECA<https://github.com/JIMENOFONSECA>, your screenshot doesn't really represent the error you mention.

[2016-12-07 10:57] daren-thomas commented on #416
you could zip it all up in a single file and download that? do you need all the files or just the analysis excel files?

[2016-12-07 10:58] daren-thomas commented on #416
Try this page for some ideas on how to zip the samples folder: http://unix.stackexchange.com/questions/57013/zip-all-files-in-directory

[2016-12-07 11:02] daren-thomas commented on #310
fixed with PR #431

[2016-12-07 11:11] daren-thomas commented on #111
moving to next milestone (post-gabriels changes...)

[2016-12-07 12:33] daren-thomas commented on #244
fixed in PR #432

[2016-12-07 15:33] daren-thomas commented on #235
on branch `235-move-weather-files-to-separate-directory` but I need to wait for PR #423 to be merged first. @JIMENOFONSECA can you look into that?

[2016-12-07 15:38] #117 closed

[2016-12-07 15:56] daren-thomas commented on #161
I can't find this in our code anymore. Closing.

[2016-12-07 15:56] #161 closed

[2016-12-07 15:57] daren-thomas commented on #249
This has to be moved until after @gabriel-happle has made his changes!

[2016-12-07 23:30] JIMENOFONSECA commented on #416
I just need the analysis files. I checked in brutus wiki and it says that you can use scp to extract also files from the cluster into a local workstation. I did not have success.

Best, Jimeno

On 7 Dec 2016, at 18:58, Daren Thomas <notifications@github.com<mailto:notifications@github.com>> wrote:

Try this page for some ideas on how to zip the samples folder: http://unix.stackexchange.com/questio

[2016-12-08 01:17] JIMENOFONSECA commented on #235
done!
________________________________
From: Daren Thomas [notifications@github.com]
Sent: Wednesday, December 07, 2016 11:33 PM
To: architecture-building-systems/CEAforArcGIS
Cc: Jimeno Fonseca; Mention
Subject: Re: [architecture-building-systems/CEAforArcGIS] Move weather files to separate directory (#235)

on branch 235-move-weather-files-to-separate-directory but I need to wait for PR #423<htt

[2016-12-08 01:20] #355 closed

[2016-12-08 09:51] daren-thomas commented on #235
fixed in PR #433

[2016-12-08 09:52] #423 closed

[2016-12-08 09:52] #349 closed

[2016-12-08 09:53] #310 closed

[2016-12-08 10:05] daren-thomas commented on #416
After our skype meeting today, I understand it is working for you now?

[2016-12-08 10:30] JIMENOFONSECA commented on #416
Yep, i have to do a couple of checks more though...

Best, Jimeno

On 8 Dec 2016, at 18:05, Daren Thomas <notifications@github.com<mailto:notifications@github.com>> wrote:

After our skype meeting today, I understand it is working for you now?

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub<https://github.com/architecture-building-systems/CEAfo

[2016-12-13 11:36] daren-thomas commented on #222
Fixed in #435

[2016-12-14 02:32] #244 closed

[2016-12-14 07:57] #235 closed

[2016-12-14 08:52] daren-thomas opened #436 "Add choices parameter to CLI of sensitivity_demand_samples.py for --variable-groups"
The parser.add_argument method takes a parameter "choices" that could be used to make sure the user only uses choices that are actually defined. In fact, we might even look up the valid choices by checking the excel file.

[2016-12-14 08:54] daren-thomas opened #437 "Remove multiprocessing from GlobalVariables and make it a script parameter"
Leaving it in GlobalVariables has some drawbacks: Often, when developing a new feature, this variable gets set to False and can sometimes end up in production because of this.

[2016-12-14 10:02] JIMENOFONSECA commented on #20
so, the problem was not anymore there.

[2016-12-14 10:02] #20 closed

[2016-12-14 10:08] JIMENOFONSECA commented on #372
@daren-thomas i see this as a kind of error handling error. In practice, the users should not be able to input the renovation year  equal to the construction year. could you help me to implement this? we might want to postpone this for the next milestone. I will put you in the loop

[2016-12-14 10:10] JIMENOFONSECA commented on #416
waiting for  #434 to be merged

[2016-12-14 10:11] JIMENOFONSECA commented on #356
waiting for #424 to be merged. It depends on #9 to be developed.

[2016-12-14 10:13] martin-mosteiro commented on #372
Shouldn't be too difficult, no? Maybe if the renovation year is the same as the construction year, the data helper could give a warning and use the construction year as the reference value (instead of the renovation year)?

[2016-12-15 12:34] amraladdin commented on #241
@JIMENOFONSECA did you manage to take a look at this issue?

[2016-12-16 07:45] gabriel-happle commented on #427
@JIMENOFONSECA, @martin-mosteiro, @daren-thomas
According to my understanding we are using the TABS calculation in a wrong way.
Please check 3.1.8 in SIA 2044. Floor heating (currently implemented in CEA) should be calculated with the "normal" RC model but separated convection and radiation component of the heating power.
TABS are calculated according to 2.2.7.3 ff with an extended RC model.
I wan

[2016-12-16 09:36] martin-mosteiro commented on #427
As I mentioned during our call, the current version of the calculation does indeed follow 3.1.8 already. However, this uses a hard-coded value of 0.5 for the TABS case. This could be made much simpler/clearer by adding the corresponding variable _f_HC_ mentioned in the standard and set its value depending on whether it's a radiator or a TABS system.

The problem is rather in the temperature contro

[2016-12-16 10:06] martin-mosteiro commented on #427
Okay, after talking to @gabriel-happle and rereading the above message I get the issue. The current CEA doesn't make a distinction between TABS and floor heating and uses the floor heating calculation method from SIA 2044 3.1.8 with the temperature controls for TABS from the EMPA book. This should be fixed and floor heating and TABS be defined individually.

[2016-12-16 10:39] martin-mosteiro commented on #397
@amraladdin This is the issue I was referencing the other day when we talked about setting the 2000W targets. For the MIBS course we already used the values we assigned ourselves with Stefan. Longer term we should really calculate the targets as done in the literature.

[2016-12-17 12:02] amraladdin commented on #397
@martin-mosteiro
Yeah, true. So now we have the new values, however, we also made a number of assumptions and we need to verify them. I don't think we can do this before this milestone. We will need to postpone the deadline of this issue. What do you think?

[2016-12-19 05:56] JIMENOFONSECA commented on #241
@amraladdin yes you shoudl go to the calculation of the sunrise hours in the area... it is making problems and would need to be replaced.

[2016-12-19 08:36] daren-thomas opened #438 "Save sensitivity analysis intermediate results in less files"
There is a disk quota on the amount of files we are allowed to produce on the Euler scratch folder. This is set at one million files. The way we currently operate, we exceed this quota really easily when doing bigger-N simulations.

Ideas could include:
- deleting analysis by hand more frequently
- working with archives (but, concurrency??)
- working with a sql database (but, concurrency??)

[2016-12-19 09:13] daren-thomas commented on #241
pyephem and sunrise has weird behaviour...

[2016-12-19 09:15] #222 closed

[2016-12-19 09:23] daren-thomas commented on #180
Architecture / Workflow: how do the modules interconnect with each other?

[2016-12-19 09:35] daren-thomas opened #439 "Update documentation to explain the tool for interested parties"
- what does the tool do?
- what modules are included?
- what is the method used by these modules?
- related papers / research / standards / *equations*
- diagram of how different parts connect to each other (workflow flowchart)
- Teaching material should be included in the documentation
- Video tutorials
- talking about which technologies (systems) are included and how they are modeled

problem we

[2016-12-19 09:36] daren-thomas commented on #439
@JIMENOFONSECA is looking for some extra help in the documentation efforts.

Most of this information needs to be done by end of January.

[2016-12-19 10:01] daren-thomas opened #440 "cea/databases/SIN needs to be erased / renamed"

[2016-12-20 10:08] daren-thomas opened #441 "Create a call graph of the various scripts"
Create a graphical representation of how the code flows through the functions in the various scripts, starting with the demand script.

- either with the data from the `functionlogger`
- or with the tool `pycallgraph`
- or some other tracing system

Add the output to the documentation.

[2016-12-20 14:05] daren-thomas opened #442 "Rewrite the "Getting started" chapter"
- it should reflect how to get started with the tool
- the sandbox is not present anymore
- we should not start the document with a big list of rules and regulations
  - that does not create trust in our product
  - that creates distrust in our procedures (this is subtle, but think about it: do you want to start using a tool for your research, where the main focus of the documentation, the "gettin

[2016-12-20 14:06] daren-thomas commented on #442
@JIMENOFONSECA do you want to take over this issue? I'm starting by adding an overview workflow description...

[2016-12-20 14:18] #180 closed

[2016-12-21 02:20] gabriel-happle opened #443 "Check building geometry calculations for RC model"
Check calculations for the different areas for the RC model.
E.g. `A_tot = Lambda_at * A_f, with Lambda_at = 4.5` in 7.2.2.2 in ISO 13790 is different from the current calculation.
This issue is related to #12

[2016-12-21 02:22] gabriel-happle opened #444 "Include TABS calculation into SIA2044 RC model"
Include TABS as additional heating/cooling system option in the CEA.
According to SIA2044.

[2016-12-21 02:59] gabriel-happle opened #445 "Compare CEA demand calculations with LESOSAI"
Compare/Validate CEA calculations for simple building geometries with LESOSAI software:

Lesosai uses the same methods / standards for the calculation of heating demand, etc.

http://www.lesosai.com/en/

[2016-12-21 03:09] gabriel-happle opened #446 "Use radiant temperature for heat transfer calculation of non-back-ventilated facades in SIA RC model"
SIA 2044 section 2.1.5.2 and 2.1.5.3
External temperature for heat transfer through opaque elements should be adjusted for non-back-ventilated elements. According to Lukas Lienhart this is the normal case for buildings.

This issue is related to #443 and #12

[2016-12-21 11:09] daren-thomas opened #447 "examples/ninecubes.zip needs to be updated for `type_vent` attribute"
The zip file needs to be updated to the newest version of the reference-case-open.

[2016-12-22 06:19] #416 closed

[2016-12-22 06:21] JIMENOFONSECA commented on #351
moving this to the next milestone as there is an ongoing publication that will use part of the data included in this approach

[2016-12-22 06:23] JIMENOFONSECA commented on #440
erased directly from master

[2016-12-22 06:23] #440 closed

[2017-01-03 14:33] #164 closed

[2017-01-03 14:36] daren-thomas commented on #441
see #448 for an implementation of this with the following output:

[demand-module-overview.gv.pdf](https://github.com/architecture-building-systems/CEAforArcGIS/files/682398/demand-module-overview.gv.pdf)

[demand-function-graph.gv.pdf](https://github.com/architecture-building-systems/CEAforArcGIS/files/682399/demand-function-graph.gv.pdf)

[2017-01-03 14:41] daren-thomas commented on #447
check to see if this is still relevant in master...

[2017-01-03 14:44] daren-thomas commented on #447
fixed in PR #448

[2017-01-06 10:29] daren-thomas commented on #411
I have tried and tried... I keep getting the following error:

[code]

We will have to dig a lot deeper to get this working... But I haven't given up yet...

[2017-01-06 12:16] daren-thomas commented on #411
I have saved a copy of the versions mentioned in the installation docs here: https://www.dropbox.com/s/axy30q24by2qw1z/cea-dependencies-wheels.zip?dl=0

[2017-01-06 13:45] daren-thomas commented on #411
I have updated the installation guide to point to the dependencies. We will have to figure out a way to make the installation easier. I would *love* to be able to do `conda install cea` and everything else just gets installed...

[2017-01-09 12:28] daren-thomas commented on #442
@JIMENOFONSECA can you take a look at this?

[2017-01-09 15:17] daren-thomas opened #449 "Infiltration as a function of Archetype and building/renovation year"
Is this currently the case? The infiltration rate could be guessed as a function of archetype and building/renovation year.

[2017-01-09 15:17] daren-thomas commented on #449
@gabriel-happle maybe you know about this?

[2017-01-09 15:21] daren-thomas opened #450 "Display Error message in ArcGIS if input files for heatmaps are not found"
Maybe we need to add some architecture here. How about modules (demand, scenario plots, emissions etc.) follow a convention. Say... a function `validate_input(locator: InputLocator)` that returns `True` if the files required to run this module are present?

The result could even be a tuple `(bool, str)` with an error message?

[2017-01-09 15:29] daren-thomas opened #451 "Move Archetypes to scenario"
I believe that the archetypes should be copied to the scenario in the data helper module. Or even better: Have a module for creating a new scenario and a module for cloning an existing scenario.

This goes hand-in-hand with having the weather file in the scenario: All the data necessary to produce the results should be contained in the scenario folder.

At the very least, keep the archetypes in th

[2017-01-10 08:43] daren-thomas opened #452 "Radiation tool fails on ninecubes scenario"
The scenario we ship as an example does not work with the radiation tool. We found this out while installing the CEA on johannes' computer.  It might also fail for other scenarios:

[code]

We tried the *reference-case-open* and we have tried both weather files: Zurich and Zug.

@JIMENOFONSECA can you take a look at this and assign it to yourself?

[2017-01-16 03:25] BhargavaKrishnaSreepathi opened #453 "Running Optimization_main needs refactoring"
Optimization_main.py is not running completely. We need to check what is the issue. Preliminary glance points it may be because of the title of 'slave_ main' file. The file in the CEA master folder corresponding to this error is named as 'Slave_main' instead. The error is as follows:

C:\Users\Bhargava\Anaconda2\envs\esri104\python.exe C:/Users/Bhargava/Documents/GitHub/CEAforArcGIS/cea/optimizati

[2017-01-16 07:26] BhargavaKrishnaSreepathi commented on #453
After refactoring 'Slave_main' to 'slave_main' and correcting a bracket in 'least_cost', a new error popped up

Traceback (most recent call last):
  File "C:/Users/Bhargava/Documents/GitHub/CEAforArcGIS/cea/optimization/optimization_main.py", line 85, in <module>
    run_as_script(r'C:\reference-case-zug\baseline')
  File "C:/Users/Bhargava/Documents/GitHub/CEAforArcGIS/cea/optimization/optimizati

[2017-01-16 07:42] daren-thomas commented on #453
Sorry about being pedantic, but we can only really refactor code that runs. This is just a bug. Or rather a series of bugs.

@JIMENOFONSECA: Can you help @BhargavaKrishnaSreepathi get the optimization code?

[2017-01-16 08:18] daren-thomas opened #454 "Refactoring opportunities for demand calculation"
Based on some function tracing I've been doing for pr #448 (as requested by #441, Create call graph for the various scripts) I have created the following representation of which modules call which other modules as part of the demand calculation:

![image](https://cloud.githubusercontent.com/assets/2969564/21975178/7a62f00c-dbcb-11e6-9ea8-a7f32595ac90.png)

Viewing this graph, you can see some inte

[2017-01-16 08:23] daren-thomas commented on #403
Once way to do this would be to de-couple from ArcGIS: We could make the arcgis toolbox call python as an external script. Then we should be able to use the conda versions of geopandas...

[2017-01-16 08:39] #43 closed

[2017-01-16 08:39] #70 closed

[2017-01-16 08:39] #71 closed

[2017-01-16 08:39] #79 closed

[2017-01-16 09:15] gabriel-happle opened #455 "Document every function incl. source in cea/demand folder"
Document every function incl. source in cea/demand folder
- short documentation incl. sources
- move constant values out of individual scripts

[2017-01-16 09:20] gabriel-happle commented on #449
@daren-thomas Currently air tightness of the envelope is related to the U-Values of the windows (which are basically a function of building/renovation year).
Source is the DistrictECA DB http://www.district-eca.de/index.php?lang=en

[2017-01-16 09:23] daren-thomas opened #456 "Add video tutorial scripts to user manual"

[2017-01-16 09:24] BhargavaKrishnaSreepathi opened #457 "Installation guide-CEA documentation"
Make a list of the steps involved in installation of CEA along with screenshots or the add the text output provided by the command prompt

[2017-01-16 10:17] JIMENOFONSECA opened #458 "Diverse issues for the CEA tool ( to be discretized)"
- Revise the list of folders in the installation guide.
- Show what makes it different to other tools - and compare them.
- Exercise to get it to know (http://doc.arcgis.com/en/arcgis-online/get-started/quick-exercise-maps.htm) and run one case study.
- Need of a website to show documentation for developers (read the docs kind of move it into Gitdocs or something like it).
---- Add Diagram call gr

[2017-01-17 08:03] BhargavaKrishnaSreepathi commented on #457
[Installation Guide.docx](https://github.com/architecture-building-systems/CEAforArcGIS/files/710350/Installation.Guide.docx)

Gave a detailed explanation of steps involved in CEAforArcGIS installation. Do let me know if you have any comments

[2017-01-17 16:00] daren-thomas commented on #457
Great work! Can you update the online documentation to reflect this? This will require writing in markdown. Ping me if you need any pointers.

[2017-01-18 01:33] BhargavaKrishnaSreepathi opened #459 "Installation error detected in relation to ArcGIS"
In my many adventures in installing the CEA tool box, i have encountered one weird interaction between ArcGIS and CEA tool box. I found that in the C:\Python27 folder, there needs to be only folder containing ArcGIS10.4. It should not have any other files which correspond to previous installation of ArcGIS, which can happen if the ArcGIS software is uninstalled and reinstalled, but the user has hi

[2017-01-18 01:47] JIMENOFONSECA opened #461 "Create a tutorial about the installation procedure"
Before we get our .exe or pip installation. we need to fix the procedure of installation.

[2017-01-18 01:48] JIMENOFONSECA opened #462 "Create CEA's own website"
This includes but is not restricted to:

Need of a website to show features, updates, team, reach out people and main features.
----Create a list of use cases for the website. @amr priority 1.
----Diagram of CEA tool from the SBE conference.
---- List of standards used in the tool need to be added.
----Show what makes it different to other tools - and compare them.
Exercise to get it to know (http

[2017-01-18 01:51] JIMENOFONSECA opened #463 "Create CEA's documentation website"
Need of a website to show documentation for developers (read the docs kind). This should contain mainly information about the functions and workflow of the tool.

---- Store it in GitDocs.
---- The formula for showing scripts: (top-down and bottom-up). 2 callgraphs (one coarse, one in detail) followed by the description of every function using SphynX.

[2017-01-18 01:52] #458 closed

[2017-01-18 01:57] JIMENOFONSECA opened #464 "Document all functions and add full reference of the calculation procedure"
For every function make sure it is documented and it has a reference to a standard or a paper inside the code. @daren-thomas will do some magic to extract this information and put it nicely in a website (see #463)

[2017-01-18 01:59] gabriel-happle opened #465 "Switch between detailed and simple infiltration calculation"
Make it possible to switch between detailed and simple infiltration calculation in the thermal demand procedure.

[2017-01-18 02:02] gabriel-happle opened #466 "Implement SIA tabs calculation in archetypes and demand calculation procedure"
Implement 'real' TABS in Archetypes and demand calculation procedure. Currently floor heating is falsely called 'TABS' in some parts of the CEA. As there are no archetypes that use TABS currently this issue is low priority. Source for the calculation procedure will be SIA 2044.

[2017-01-18 02:04] JIMENOFONSECA commented on #464
I would suggest the next division of branches and scripts for each one to work on:

i464-demand-docs: All the files and subfolders included in cea/demand, except subfolder of calibration. @gabriel-happle .

i464-analysis: all the files included in cea/analysis. except that of sensitivity.

i464-calibration-sensitivity: All the files included in cea/demand/calibration @me.

i464-databases: All file

[2017-01-18 02:10] JIMENOFONSECA commented on #462
@shizhongming please provide graphics for the intro webpage. I created some examples on the website already.

[2017-01-18 02:13] JIMENOFONSECA commented on #462
@amraladdin @shizhongming

For the user manual of the tool. Would you like to have it on the website (e.g.,http://urbanmodellinginterface.ning.com/page/user-guide)

or would you like to be it togetter with the developer's manual?
(e.g., https://pymc-devs.github.io/pymc3/)

@daren-thomas what is your preference too?

[2017-01-18 05:41] JIMENOFONSECA commented on #464
The next is an example of a well documented function: @daren-thomas please let me know if that is the case or modify)

[code]

[2017-01-18 07:28] BhargavaKrishnaSreepathi opened #467 "Error while running optimization_main.py"
While running the optimization_main.py for the reference-case-zug and fixing two minor typos, I reached an error which occurs after the algorithm runs for few generations. I am attaching the error faced.

Traceback (most recent call last):
  File "C:/Users/Bhargava/Documents/GitHub/CEAforArcGIS/cea/optimization/optimization_main.py", line 85, in <module>
    run_as_script(r'C:\reference-case-zug\b

[2017-01-18 07:36] BhargavaKrishnaSreepathi commented on #467
Ran the file again to test if the results are the same, the error is the same but the values are as following
locator.get_optimization_slave_results_folder
<bound method InputLocator.get_optimization_slave_results_folder of <cea.inputlocator.InputLocator object at 0x14BF1AB0>>

MS_Var.configkey
40.560010.3610.0600001010.1910.80000.32111000000110110110101110

Result
              0
0  7.979038e-02

[2017-01-18 09:12] amraladdin commented on #462
Since we have the manual in text and images at the moment, I believe we can add it to the developers' manual for now, and when we have the videos, we can propose to add them separately, like the UMI tutorials... What do you guys think?

[2017-01-18 09:13] amraladdin commented on #456
On it :)

[2017-01-18 09:14] amraladdin opened #468 "Create a list of potential CEA users and their needs"
In order to understand the needs of each user and how useful the CEA Toolbox is for them.

[2017-01-18 09:22] gabriel-happle commented on #466
Agree. That's why I put Priority 2 and Milestone at end of the year. Please change, if you think so. TABS will most likely be used in the European case (if at all).

[2017-01-18 12:01] daren-thomas commented on #462
I'm not really sure about the difference between your examples? They look structurally more or less the same?

[2017-01-18 12:04] daren-thomas commented on #467
try this: `os.path.join(locator.get_optimization_slave_results_folder(), MS_Var.configKey + "_StorageFlag.csv")`

The error message points to the solution: `object of type 'instancemethod' has no len()`. `get_optimization_slave_results_folder` was being passed in as a function instead of the results of calling the function, which is a string.

[2017-01-18 12:11] daren-thomas commented on #464
Check here for the syntax of the `:param` notation: http://thomas-cokelaer.info/tutorials/sphinx/docstring_python.html

It seems you want to do something along the lines of
[code]

That is, separate `:param:` and `:type:`. Also, you can specify `:returns:` and `:rtype:`.

This information can then be processed by Sphynx for building the documentation (I am currently learning Sphynx...)

[2017-01-18 12:17] amraladdin commented on #468
List created and awaiting contributions!

[2017-01-18 12:18] daren-thomas commented on #463
@JIMENOFONSECA for clarification: what is GitDocs?

[2017-01-18 12:25] daren-thomas commented on #461
Could this have been fixed with @BhargavaKrishnaSreepathi 's screenshots that he added to the installation procedure?

[2017-01-18 12:30] daren-thomas commented on #449
@gabriel-happle, thank you. What do you suggest we do with the issue? Is this something we want to add? Also, we need to document the information you just provided.

[2017-01-18 15:33] JIMENOFONSECA commented on #461
Yes!

Best, Jimeno

On 18 Jan 2017, at 20:25, Daren Thomas <notifications@github.com<mailto:notifications@github.com>> wrote:

Could this have been fixed with @BhargavaKrishnaSreepathi<https://github.com/BhargavaKrishnaSreepathi> 's screenshots that he added to the installation procedure?

—
You are receiving this because you authored the thread.
Reply to this email directly, view it on GitHub<htt

[2017-01-19 01:36] gabriel-happle commented on #449
https://gabriel-happle.gitbooks.io/cea-thermal-loads-ventilation/content/ventilation_properties_of_buildings.html

@daren-thomas can you open this link? some of the documentation is basically ready for some time but has never been integrated in the public gitbook

[2017-01-19 02:20] BhargavaKrishnaSreepathi commented on #461
Closing the issue as the installation procedure is updated.

[2017-01-19 02:20] #461 closed

[2017-01-19 08:00] BhargavaKrishnaSreepathi commented on #467
`os.path.join(locator.get_optimization_slave_results_folder(), MS_Var.configKey + "_StorageFlag.csv") ` worked and I was able to successfully run the optimization_main file.

I observed another bug (i suppose), where once in a while, like after running the optimization_main certain number of times, it starts showing an error, which was not making any sense.

C:\Users\Bhargava\Anaconda2\envs\esri10

[2017-01-19 08:02] JIMENOFONSECA commented on #462
Hi All! so here is the list of things we could do among ourselves for the **NEW** website. I took the liberty to divide the tasks by each one of the sections of the website. Please let me know if there are any doubts. It would be great if we can finish by Thrusday the 26.Feb.

@shizhongming

…Join / Featured Research Topics
-	add an open-source picture representative of each research topic
…Partne

[2017-01-19 12:24] daren-thomas commented on #449
@gabriel-happle this is really great stuff! Can you take responsibility of ensuring this shows up in the documentation at some point?

[2017-01-20 05:44] JIMENOFONSECA commented on #462
btw,  please Make sure all images have less than 1Mb of wight! use https://tinyjpg.com/ to compress them before uploading)

[2017-01-25 08:00] JIMENOFONSECA commented on #462
Sorry guys, i messed up, It would be great if we can finish by **Thrusday the 26. January**

[2017-01-26 06:08] JIMENOFONSECA commented on #462
Thanks to everyone for their input. I will close the issue as the website is up and stable. Further modifications will be submitted as individual issues.

[2017-01-26 06:08] #462 closed

[2017-01-27 03:33] BhargavaKrishnaSreepathi opened #470 "Optimization fixes"
Optimizing is causing the number of function evaluations to balloon out over every generation and it is taking increasingly long times in between generations. This need to figured out and make the program more efficient

[2017-01-27 08:32] JIMENOFONSECA commented on #464
Current status:

i464-databases: 80% done! - described in gitbook
i464-optimization: Done!  - inserted in the code

[2017-01-31 02:12] BhargavaKrishnaSreepathi commented on #470
changed the selection strategy applied in the optimization. Now the optimization uses same number of individuals for every generation, instead of increasing them. Now for the individual size of 20 and the total generations of 30, the total time is ~5 hours. The Pareto fronts have a similar coverage as the previous version, but now the front only displays non-dominated solutions. It is also stable

[2017-01-31 02:12] #470 closed

[2017-02-01 14:30] daren-thomas opened #472 "cea.sensitivity.sensitivity_optimization.py doesn't work"
It can't work. The imports don't work. This never worked

- `import cea.optimization.evolAlgo.evaluateInd as eI` (evolAlgo doesn't exist)
- the variation of globalvars used doesn't work
- the code is a mess

I'm not sure what it is for at all (we have another sensitivity analysis code - which one is this one?)

[2017-02-03 08:37] daren-thomas opened #473 "Port to Python 3"
Python 3 is becoming the standard python. We should plan ahead: Some day we will need to port our software.

I just checked: geopandas and pandas (and therefore numpy, shapely etc.) are both python 3 compatible.
Also, the next version of ArcGIS (ArcGIS Pro?) uses python 3.

This is a major issue. Epic even. We should first stabilize the code base.

[2017-02-07 09:05] daren-thomas commented on #386
Woohoo! First, incomplete, buggy version can be marveled here: http://city-energy-analyst.readthedocs.io/en/386-create-readthedocs-style-api-documentation/index.html

We still have a lot of build fails, because not all imports work yet. How to implement these things:

- `arcpy` (no clue, but hey, I'll give it a try)
- `deep` (should be easy, just add it to the requirements)
- `SALib` (see `deep`)

[2017-02-07 09:11] daren-thomas opened #474 "Move contributions to own repository, remove sandbox"
I believe we should move the contributions folder to it's own repository. In fact, I'm still not sure what we use it for. @JIMENOFONSECA could you please explain again?

I think we can remove the sandbox folder and also the sandbox branch. We should probably vote on this or at least discuss some, but I really think it gets in the way and promotes giant merges as opposed to smaller, task-based merg

[2017-02-07 09:12] daren-thomas commented on #463
@JIMENOFONSECA what is the status on this? I think you are creating the website, right? I have a task #386 for the RTD api documentation. See the issue for a preview of what it could end up looking like.

[2017-02-07 09:13] daren-thomas commented on #454
@JIMENOFONSECA any comments on this?

[2017-02-07 09:15] daren-thomas commented on #403
Issue #386 uses the RTD conda functionality to install the dependencies and it works. The drawback: We can't use the old versions required for ArcGIS. I suggest we split the ArcGIS interface as described above.

This will slip to the next milestone or the dev implementation week...

[2017-02-07 10:38] JIMENOFONSECA commented on #463
this issue is supposed to be #386. i think this is a duplicate then.... The CEA documentation website is intended to be in RTD or did i get it wrong?

[2017-02-07 10:38] JIMENOFONSECA commented on #463
i meant RTD when i said gitdocs, sorry...

[2017-02-07 11:02] JIMENOFONSECA commented on #454
For the geometry reader i believe it will be depreciated once citygml is in. Zhongming and kianwee are working in this.

The intention of Physics is to use them in other algorithms so i will keep it outside for the moment.

The cea technologies can be divided as you said. I will however add a subfolder called 'generation' on top.

In regard to the demand_main there is not too much to do at the mom

[2017-02-08 07:39] JIMENOFONSECA commented on #356
Waiting for #9 to be delivered. @chenkianwee is working in it now. moving to the next milestone

[2017-02-08 07:40] JIMENOFONSECA commented on #442
@daren-thomas this is part of the #386 . could these tasks be moved there?

[2017-02-08 08:32] daren-thomas commented on #442
@JIMENOFONSECA I'd prefer not to. Here's why: This task is about writing. It is about re-formulating our message. In my mind, #386 is more about the plumbing: How to publish our documentation on RTD, including an automatic API documentation. Keeping these tasks apart will make it easier to complete them as they retain focus.

What do you think?

[2017-02-08 08:39] daren-thomas commented on #463
You are right. Closing this as a duplicate.

[2017-02-08 08:39] #463 closed

[2017-02-08 09:19] daren-thomas opened #475 "Which language to use for documentation / code: English or American?"
This came up today. We should be consistent. Either EN/US or EN/EN. Which should it be?

[2017-02-08 09:24] martin-mosteiro commented on #475
Probably should be consistent within a single script, but do we really need each script to be consistent with one another? For example, journals usually accept papers in either American or British as long as their consistent.

I personally prefer EN/US for obvious reasons, by the way :)

[2017-02-08 09:25] JIMENOFONSECA commented on #442
I got you, let's do that. Btw is it possible to move the .md files to the read the doc page you are creating? Is there a guide? I can do plumbing and writing simultaneously :-)

Best, Jimeno

On 8 Feb 2017, at 16:32, Daren Thomas <notifications@github.com<mailto:notifications@github.com>> wrote:

@JIMENOFONSECA<https://github.com/JIMENOFONSECA> I'd prefer not to. Here's why: This task is about wri

[2017-02-08 10:14] daren-thomas commented on #442
I'm on it. I will explain tomorrow: We will need to reformat the .md files to .rst files. But since we don't have that much documentation, it should be a piece of cake! (also, maybe I can use pandoc to do an automatic translation?)

[2017-02-09 07:51] JIMENOFONSECA commented on #475
I agree with martin...

[2017-02-09 07:54] JIMENOFONSECA commented on #472
This is for the optimization part @BhargavaKrishnaSreepathi  could you check if it works? the idea of this code is to take the results of a generation, change the prices of some fuels, re-run and based on certain criteria erase the individuals that are not robust enough

[2017-02-09 07:55] daren-thomas commented on #475
So... EN/US? This should go in the docs somewhere... I'll create a "documenting CEA" chapter...

[2017-02-09 07:56] BhargavaKrishnaSreepathi commented on #472
Sure, let me take a stab at it

[2017-02-09 07:57] #447 closed

[2017-02-09 07:59] daren-thomas commented on #454
this changes a lot with @gabriel-happle 's branch, so let us wait for that to merge first...

[2017-02-09 08:04] shanshanhsieh opened #478 "Missing information for Technology and Resources documentation"
This is a repository of the missing information for documenting scripts in `technologies` and `resources` folders.
Need to consult the theses of Tim Vallrath and Thuy-An Nguyen, also confirm with @JIMENOFONSECA

- `cogeneration.py`: OP: GT exhaust gas; OP: FC efficiency (energy.gov)

- `furnace.py`: OP: furnace thermal/el part load curve (link not working), COST: bioenergy 2020 (AFO)

- `heatpumpt

[2017-02-09 08:09] JIMENOFONSECA commented on #442
Great stuff in the read the docs, should we close this issue @daren-thomas

[2017-02-09 08:10] JIMENOFONSECA commented on #464
Current status:

i464-databases: done! - described in gitbook
i464-optimization: Done! - inserted in the code

@martin-mosteiro @shanshanhsieh @gabriel-happle what is the status on this?

[2017-02-09 08:12] shanshanhsieh commented on #464
Update to the `technologies` part:
Three technologies: `radiators.py`, `controllers.py`, `heating_coils.py` related to the demand scripts, will need support from @gabriel-happle.
The solar radiation related scripts are unchanged, since it will be updated after issue#336 is merged.
The `substation.py` is unchanged, will be updated when branch i412 is merged.

[2017-02-09 08:17] JIMENOFONSECA commented on #464
@shanshanhsieh great!, for what is left of your part would you mind creating an issue so we can get rid of this one. what about @gabriel-happle and @martin-mosteiro ?

[2017-02-09 08:20] JIMENOFONSECA opened #479 "Check benchmarks database and documentation"
The benchmarks databases could probably be stored in a single excel file. The naming of each tab should be in Capital letters to maintain consistency. Consider changes into the documentation and the references to all the values. @martin-mosteiro could you take care of this part?

[2017-02-09 08:24] JIMENOFONSECA commented on #468
@amraladdin is this done?

[2017-02-09 08:29] JIMENOFONSECA opened #480 "Complement "readthedocs" style API documentation for the CEA"
The new read the docs documentation needs to migrate work from gitbook + other fixes to be discussed

[2017-02-09 08:39] shanshanhsieh commented on #478
OTHER TODOs:
The solar radiation related scripts (photovoltaic.py, photovoltaic_thermal.py,solar_collector) are unchanged, since it will be updated after issue #336 is merged.
The substation.py is unchanged, will be updated when branch i412 is merged.

[2017-02-09 08:43] JIMENOFONSECA commented on #388
@daren-thomas is this solved?

[2017-02-09 08:43] #343 closed

[2017-02-09 08:45] JIMENOFONSECA commented on #430
done

[2017-02-09 08:45] #430 closed

[2017-02-09 08:46] amraladdin commented on #468
Hey @JIMENOFONSECA from my side yes.
I got only one more contribution from Bahrga. I didn't want to close this issue before we discuss about it. I believe this could be important for your workshop next week.

[2017-02-09 08:47] JIMENOFONSECA commented on #439
this is part of the issue #480

[2017-02-09 08:47] #439 closed

[2017-02-09 08:48] JIMENOFONSECA commented on #480
copied form issue #439 as issues that the documentation should have

what does the tool do?
what modules are included?
what is the method used by these modules?
related papers / research / standards / equations
diagram of how different parts connect to each other (workflow flowchart)
Teaching material should be included in the documentation
Video tutorials
talking about which technologies (systems

[2017-02-09 08:51] JIMENOFONSECA commented on #452
who is johnhofer? somebody messed up the code and commited to the master withotu permission. is  thi issue still open?

[2017-02-09 08:51] daren-thomas commented on #388
No, it is not solved. I was waiting for the @gabriel-happle branch to be merged before looking into this again. We need to talk.

I am worried about the use of `hoy` in the code as sometimes we move back to `t`. We should write up a clear explanation of this.

[2017-02-09 08:53] martin-mosteiro commented on #479
Can

[2017-02-09 08:54] JIMENOFONSECA commented on #398
@daren-thomas i will go for being part of the config file. the user can use a weather file per scenario or use those existing in the database

[2017-02-09 08:56] JIMENOFONSECA commented on #467
@BhargavaKrishnaSreepathi could you close the issue if it is ready?

[2017-02-09 08:58] JIMENOFONSECA commented on #331
@shanshanhsieh is this implemented in the #424 ?

[2017-02-09 08:58] #467 closed

[2017-02-09 08:58] #457 closed

[2017-02-09 08:59] #453 closed

[2017-02-09 09:00] gabriel-happle commented on #464
@JIMENOFONSECA I was waiting for the merge of my branch. I believe most of the new stuff is documented. I will have a look at the new assignment by @shanshanhsieh .
But for me it is not clear which documentation we are actually going for... Daren Version from above or Jimeno Version from above?

[2017-02-09 09:01] shanshanhsieh commented on #331
no, the conclusion was that it requires additional research for SG.

[2017-02-09 09:01] daren-thomas commented on #442
not yet: we haven't addressed the getting started stuff quite yet. I'm sorry. The milestone is slipping.

[2017-02-09 09:05] martin-mosteiro commented on #464
@JIMENOFONSECA 85% done, I'll finish it up after the meeting

[2017-02-09 09:19] #456 closed

[2017-02-09 09:19] daren-thomas opened #481 "Create Video Tutorials"
Create Video Tutorials of CEA.
-> Installing CEA.
-> Making a new project in CEA. - incl. getting geometry and data.
-> Run Solar radiation.
-> run demand.
-> run lifecycle analysis.
-> run district cooling.
.....and more....

[2017-02-09 09:19] #468 closed

[2017-02-09 09:25] #464 closed

[2017-02-09 09:26] #441 closed

[2017-02-09 09:31] daren-thomas opened #482 "Document decision to use American English in CEA documentation in the dev guide"

[2017-02-09 09:34] daren-thomas commented on #403
will probably be more: `conda install -c conda-forge cea`

[2017-02-09 09:39] #386 closed

[2017-02-09 09:40] #256 closed

[2017-02-09 09:40] #220 closed

[2017-02-09 09:40] #392 closed

[2017-02-09 09:41] #427 closed

[2017-02-09 09:41] #84 closed

[2017-02-09 09:41] #379 closed

[2017-02-09 09:47] #449 closed

[2017-02-09 10:00] JIMENOFONSECA opened #483 "Graph linking databases"
The documentation of databases lacks a diagram showing how the different databases depend on each other.

[2017-02-09 14:28] martin-mosteiro opened #484 "Unnecessary function in embodied energy script"
The embodied energy script includes the following function:
'''
def calc_comparison(array_min, array_max):
    if array_max == 'DEPO':
        if array_min != 'DEPO':
            array_max = array_min
    return array_max
'''
What this does is check which building use is most common and least common in a building and, if the most common use is **'DEPO'**, change the value of the most common use to

[2017-02-09 15:37] martin-mosteiro commented on #397
This issue was resolved along with #464 . The missing values were completed based on the standard calculation procedure when possible and based on simple assumptions otherwise. These assumptions were double checked and considered reasonable by @amraladdin . The missing values are completed as follows:

**(1) 'INDUSTRY':** operation and embodied energy and emissions calculated based on the bottom-u

[2017-02-09 15:38] martin-mosteiro commented on #479
The benchmark databases have been moved into a single file with the formatting specified in this issue. These changes have been incorporated in Pull request #485 .

The documentation will now be updated accordingly.

[2017-02-10 03:14] gabriel-happle opened #486 "Optimization algorithm not working at low load, small heat transfer fluid temperature difference"
Optimization Algorithm not working with low load, small heat transfer fluid temperature difference.
Effect was observed in Building 5 in Zug case study by @BhargavaKrishnaSreepathi and me at heating load of 2 W and supply and return fluid temperatures of 20.9°C, resulting in 0°C temperature difference.
Reason 1 is the low precision of the demand .csv file rounding to 3 digits after the comma! Easy

[2017-02-10 03:38] gabriel-happle opened #488 "Replace 0°C temperature outputs from demand calculation by np.nan, adjust optimization functions"
This issue needs coordination between demand @gabriel-happle and optimization @BhargavaKrishnaSreepathi.

Demand calculation should not output 0°C Temperatures for HTF supply or return in situations of no load and no flow. Optimization should process these outputs correctly.

[2017-02-10 03:45] JIMENOFONSECA commented on #484
Yes, it happens when you have a restaurant in the ground floor and 5 stories of parking or deposit. In zug we had this case

Best, Jimeno

On 9 Feb 2017, at 22:29, martin-mosteiro <notifications@github.com<mailto:notifications@github.com>> wrote:

The embodied energy script includes the following function:
'''
def calc_comparison(array_min, array_max):
if array_max == 'DEPO':
if array_min != 'DEPO

[2017-02-10 04:19] BhargavaKrishnaSreepathi commented on #472
Hi @JIMENOFONSECA. I will summarize my understanding of the necessity of the file, please correct me if i am wrong.
1. We take the population of a certain generation
2. we change the unit prices of utilities like electricity, natural gas prices and see the solution which is least sensitive to the variations in these prices.
3. We then proceed to remove the individuals which are very sensitive from

[2017-02-10 04:25] JIMENOFONSECA commented on #472
You are right :-)

Best, Jimeno

On 10 Feb 2017, at 12:19, BhargavaKrishnaSreepathi <notifications@github.com<mailto:notifications@github.com>> wrote:

Hi @JIMENOFONSECA<https://github.com/JIMENOFONSECA>. I will summarize my understanding of the necessity of the file, please correct me if i am wrong.

  1.  We take the population of a certain generation
  2.  we change the unit prices of utilities

[2017-02-10 07:06] martin-mosteiro commented on #484
The ocuppancy type the script looks for should be renamed from 'DEPO' to 'PARKING' since we don't have any occupancy type 'DEPO'. I'll fix it.

[2017-02-10 07:07] #397 closed

[2017-02-10 07:08] JIMENOFONSECA commented on #479
@martin-mosteiro yes there should be a separated version in read the docs. I did it in gitbook let me know if you can see it

[2017-02-10 07:22] JIMENOFONSECA opened #489 "User manual updates"
I Just created this issue to keep track of everyone's suggestions to improve the user manual as requested by @amraladdin
@daren-thomas @gabriel-happle @BhargavaKrishnaSreepathi @shanshanhsieh @shizhongming please check the guide and add your comments and  recommendations in here.

[2017-02-10 07:23] BhargavaKrishnaSreepathi commented on #489
Hey amr: here are my comments about the user manual
1. In the 'Get Started' page, we are not providing any details about DBF reader, so should it be mentioned? It is in the first paragraph of the page
2. At the bottom of the same page, there is a section about 'Main Steps'. I did not understand the necessity of it on this page. Is there any reason?
3. Sorry for being so picky, in the page 'creatin

[2017-02-10 07:33] JIMENOFONSECA commented on #484
A cool :-)

Best, Jimeno

On 10 Feb 2017, at 15:06, martin-mosteiro <notifications@github.com<mailto:notifications@github.com>> wrote:

The ocuppancy type the script looks for should be renamed from 'DEPO' to 'PARKING' since we don't have any occupancy type 'DEPO'. I'll fix it.

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub<https://github.com/

[2017-02-10 07:39] JIMENOFONSECA commented on #489
@amraladdin It is a great starting point and i see it is well structured and easy to read. I mention some points that could be covered and add the questions that each topic should answer to the reader.

1. Guide to modify geometry: how do i create a new scenario and modify, the height, location and 2D vertices of buildings directly in ArcGIS?. How do I add a some new buildings either using ArcGIS

[2017-02-10 11:31] martin-mosteiro commented on #484
Fixed by PR #491

[2017-02-10 11:32] amraladdin opened #492 "Add images from the user manual to a Google Drive."
Add all the graphic material for the manual and structure it in folders in the following link:
https://drive.google.com/drive/folders/0Bys6lc-g6_9Ca3RNbXUxU3lic00?usp=sharing

[2017-02-10 14:38] martin-mosteiro commented on #479
Finished the Gitbook documentation. This issue is now closed.

[2017-02-10 14:38] #479 closed

[2017-02-13 09:11] BhargavaKrishnaSreepathi opened #494 "Simultaneous Optimization"
This issue aims to perform both network optimization and the conversion systems optimization in one step (a simultaneous way) instead of a step wise procedure.

The method of doing this will be by incorporating network optimization into the conversion systems in a step wise manner i.e. the first one will be to incorporate the simple network optimization and then incorporate the work done by @marti

[2017-02-15 05:44] martin-mosteiro opened #495 "Archetype documentation issues"
@JIMENOFONSECA When trying to create new archetypes for the Hochschulquartier I came through multiple issues in the documentation of the source data for the archetypes. Here are the issues I found:

1. Some values do not match the source (especially SIA 2024):
1.1. Occupancy: e.g.: the probability of people being at home according to SIA 2024 is 0 between 9 and 12 and between 15 and 17 (it never g

[2017-02-17 08:59] amraladdin commented on #492
Uploaded on the Google Drive

[2017-02-17 08:59] #492 closed

[2017-02-17 13:43] amraladdin commented on #495
Hey Martin... I honestly don't remember. Can I take a look at it early March? I'm kind of bombarded with work till end of the month :)

[2017-02-20 02:06] martin-mosteiro commented on #495
No worries, this is rather low priority stuff I guess. But since we just did this whole documentation run, I thought we might as well get it right ;)

[2017-02-20 06:16] JIMENOFONSECA commented on #354
@shizhongming could you elaborate about the status in here?, thanks

[2017-02-22 07:24] BhargavaKrishnaSreepathi opened #498 "ScenarioPlotsTool throws `NameError: global name 'arcpy' is not defined`"
ScenarioPlotsTool not working as 'import arcpy' is not done in the file

[2017-02-22 07:54] daren-thomas commented on #498
updated issue title to reflect the actual issue.

[2017-02-24 03:24] #484 closed

[2017-02-24 03:52] martin-mosteiro commented on #380
Lecture halls are assumed to be the same as the current `SCHOOL` archetype. Only `MUSEUM` and `LAB` archetypes were created based on the existing method. The former was partially based on the old `PUBLIC` archetype (which had been removed as part of issue #184 ), the latter is brand new. The following assumptions were made:

**1. Schedules:** As defined in the CEA documentation, schedule informati

[2017-02-24 05:30] #486 closed

[2017-02-27 03:59] BhargavaKrishnaSreepathi commented on #498
Issue is fixed and Pull Request has been accepted

[2017-02-27 03:59] #498 closed

[2017-02-27 04:46] JIMENOFONSECA opened #504 "Manual: how to edit geometry in arcgis"
So this is missing, and this is probably the cause of many complains avoid quirkiness of the tool. It can be easily solved as the geometry editor is quite powerful in arcgis.

[2017-02-27 07:11] gabriel-happle opened #505 "NTU EcoCampus: Creating cea refernce case folder structure"
Set up the folder structure and files for the NTU case study in the cea reference case repository

[2017-02-27 07:13] gabriel-happle opened #506 "NTU EcoCampus: Split building shape file into individual buildings and update names in attribute table"
Split building shape file into individual buildings and update names in database.
Set up zone / district database.
- floors_bg
- floors_ag
- Bwidth
- Blength
- height_bg
- height_ag

split footprints into individual buildings (with google earth, or similar info)
assuming floor height, extracting no. of storeys from excel sheet (room names)

[2017-02-27 07:28] gabriel-happle opened #507 "NTU EcoCampus: set up building age database"
Set up building age database. Consistent with split building shape file.

- Name
- built
- roof = 0
- windows = 0
- partitions = 0
- basement = 0
- HVAC = 0
- envelope = 0

assume no refurbishment, age of building from site survey (ask EcoCampus for confirmation of assumptions)

[2017-02-27 07:31] gabriel-happle opened #508 "EcoCampus: Set up building architecture database"
- Name
- win_wall []
- type_shade
- Occ_m2p
- n50
- win_op
- f_cros
- type_roof
- type_wall
- type_win

roof type; from google earth (flat/pitched), average building height for green roof building.
peak occupancy: from applicable construction code.
air tightness: assumption from age of building, literature review (usual values for simulations in SG).
material properties base plate: from Revit mode

[2017-02-27 07:33] gabriel-happle opened #509 "EcoCampus: set up indoor comfort database"
- Name
- Tcs_set_C
- Ths_set_C
- Tcs_setb_C
- Ths_setb_C
- Ve_lps

temperature set points: ask NTU (ask for meeting with facility manager), especially labs
humidity set points: ask NTU (ask for meeting with facility manager)
ventilation rate: CEA (SIA)

[2017-02-27 07:36] gabriel-happle opened #510 "EcoCampus: set up internal loads database"
- Name
- Qs_Wp
- X_ghp
- Ea_Wm2
- El_Wm2
- Epro_Wm2
- Ere_Wm2
- Ed_Wm2
- Vww_lpd
- Vw_lpd

Appliances: electricity extra load from measured data / CEA should accept measured data as input (new feature)
Light: CEA (SIA), LED lighting
hot water: CEA (SIA), for residential
fresh water: CEA (SIA), average water consumption for singapore functions (literature review)
process energy: electricity extra l

[2017-02-27 07:38] gabriel-happle opened #511 "EcoCampus: set up occupancy database"
- Name
- PFloor
- HOTEL
- COOLROOM
- PARKING
- SCHOOL
- OFFICE
- GYM
- HOSPITAL
- INDUSTRIAL
- RETAIL
- RESTAURANT
- SINGLE_RES
- MULTI_RES
- SERVERROOM
- SWIMMING
- FOODSTORE

Todo:
Add Labs and maybe circulation spaces

functions:
facilities listing Excel sheet, percentages of functions according to CEA list of functions (office, lab, school mix), HS & ES (assumption, air conditioned space, elec

[2017-02-27 07:40] gabriel-happle opened #512 "EcoCampus: set up supply systems database"
- Name
- type_el
- type_cs
- type_hs
- type_dhw

hvac systems: assumption (ask Jemma), confirm with NTU intern
dhw system: instant electric heaters for residential buildings

[2017-02-27 07:59] gabriel-happle opened #513 "EcoCampus: Create weather file for years 2004 - till date from NUS data"
Create epw weather file from open source NUS data.

https://inetapps.nus.edu.sg/fas/geog/ajxdirList.aspx

[2017-02-27 08:01] gabriel-happle opened #514 "EcoCampus: create terrain file and street network for EcoCampus"
Terrain file for solar radiation simulation & visualization purposes.
Street network for visualization purposes.

[2017-02-27 08:06] gabriel-happle opened #515 "EcoCampus: Read in and use measured demand data in CEA instead of calculated demand"
CEA has to be able to overwrite calculated heating / cooling / electricity / water demand per building with real measured data input.

- create data reader, maybe in collaboration with @daren-thomas
- overwrite or bypass demand calculation in tsd file with input data.

[2017-02-27 08:09] gabriel-happle opened #516 "EcoCampus: clean up and prepare cooling consumption data of EcoCampus"
- Review provided data
- Extract profiles for validation of demand simulation or as input data to bypass demand calculation (building level, if possible)

[2017-02-27 08:10] gabriel-happle opened #517 "EcoCampus: clean up and prepare electricity consumption data of EcoCampus"
- review provided measured data
- Extract profiles for validation of demand simulation or as input data to bypass demand calculation (building level, if possible)

[2017-02-27 08:20] gabriel-happle opened #518 "EcoCampus: set up database of thermal properties of buildings in Singapore [part of archetypes DB]]"
- Es
- Hs
- th_mass
- U_wall
- U_roof
- U_base
- U_win

Es, Hs: facilities listing Excel sheet, percentages of functions according to CEA list of functions (office, lab, school mix), HS & ES (assumption, air conditioned space, electrified space = common space is electrified & non-air-conditioned)
thermal mass: calculate from construction (Revit models), get one building, assume same construction f

[2017-02-27 08:22] gabriel-happle opened #519 "Implement Water supply temperature in SG"
should be close to soil temperature (find in literature), assume constant

[2017-02-27 08:32] gabriel-happle opened #520 "EcoCampus: Create schedules for SG"
- OFFICE
- RETAIL
- RESTAURANT
- SCHOOL (for lecture hall)
- MULTI_RES (for student hall)
- LAB (new! from HVAC schedules)
- SERVERROOM
- GYM
- PARKING

Todo: check usages first.
Use SG standards or ASHRAE / SIA.
Verify with provided HVAC schedules.

[2017-02-27 09:51] gabriel-happle commented on #508
@shizhongming we will do this together

[2017-02-27 09:53] gabriel-happle commented on #506
@shizhongming I will start with #511. I can also check for the number of floors in each building.

[2017-02-27 10:12] gabriel-happle commented on #506
@shizhongming building age is in the first tab of the facilities listing Excel file.

[2017-02-27 16:35] daren-thomas commented on #515
Do you have time this week to skype about this?

[2017-02-28 01:47] gabriel-happle commented on #511
Proposed conventions for categorization of functions:
- staff lounge -> OFFICE
- student lounge -> SCHOOL
- research -> OFFICE
- research lab -> LAB
- teaching lab -> SCHOOL

@JIMENOFONSECA any comment? Do we need an additional type for Library? or which one would you suggest.

[2017-02-28 01:48] gabriel-happle commented on #515
@daren-thomas of course. any time.

[2017-02-28 01:53] shanshanhsieh commented on #516
@gabriel-happle Why do we want to bypass demand simulation?

[2017-02-28 01:55] gabriel-happle commented on #516
@shanshanhsieh In case we have measured data of special processes we are not able to simulate.

[2017-02-28 01:57] JIMENOFONSECA commented on #511
Tricky one. Does the SIA 2024 offer a library? we might check if it is similar to other uses. if not, we might need to add it...

On 28 Feb 2017, at 9:47 am, Gabriel Happle <notifications@github.com<mailto:notifications@github.com>> wrote:

Proposed conventions for categorization of functions:

  *   staff lounge -> OFFICE
  *   student lounge -> SCHOOL
  *   research -> OFFICE
  *   research lab

[2017-02-28 02:16] BhargavaKrishnaSreepathi commented on #513
All the files downloaded from the website, when opened lead to the following error:

"The file you are trying to open, 'filename.xls' is in a different format than specified by the file extension. Verify that the file is not corrupted and is from a trusted source before opening the file. Do you want to open the file now?"

For now, I figured out two ways to deal with this error

1. Open the file -

[2017-02-28 02:18] BhargavaKrishnaSreepathi commented on #513
The conversion into either 'xls' or 'xlsx' format is essential as there are a large number of files and appending them manually doesn't make sense. Hence Python is used to append these files, which will accept the above mentioned formats

[2017-02-28 03:02] shizhongming commented on #506
@gabriel-happle Ok! I will start with this one~

[2017-02-28 06:11] BhargavaKrishnaSreepathi commented on #513
@JIMENOFONSECA : I am going through the .epw files. I observed that the columns do not have any names associated with them in the file. Is there a legend, which says what each individual column is about?

[2017-02-28 06:40] gabriel-happle commented on #513
http://bigladdersoftware.com/epx/docs/8-2/auxiliary-programs/epw-csv-format-inout.html#epw-csv-format-inout

[2017-02-28 06:42] gabriel-happle commented on #513
@BhargavaKrishnaSreepathi maybe you can also use this
https://www.advancedrenamer.com/
it's cool. I have used it before

[2017-02-28 06:49] JIMENOFONSECA commented on #513
Yes!, check in cea/ utilities/epw reader. Py

That is the name of the columns..

Best, Jimeno

On 28 Feb 2017, at 14:42, Gabriel Happle <notifications@github.com<mailto:notifications@github.com>> wrote:

@BhargavaKrishnaSreepathi<https://github.com/BhargavaKrishnaSreepathi> maybe you can also use this
https://www.advancedrenamer.com/
it's cool. I have used it before

—
You are receiving this becau

[2017-02-28 07:26] BhargavaKrishnaSreepathi commented on #513
For the year 2012: there is data missing from 28/06/2012 to 19/07/2012

[2017-02-28 07:44] shizhongming commented on #354
@JIMENOFONSECA The CityGML LOD2.5 is finalizing. I am working on wrapping my things up to be readable by CEA. And Darren is working on the connection of CEA and Grasshopper as we discussed during his visit here last week.

[2017-02-28 08:21] shanshanhsieh commented on #516
The `Chiller Consumption` folder is reviewed. All the available information is summarized in `_BTU_BuildingSubstation_Summary.xlsx`

[2017-02-28 08:26] martin-mosteiro commented on #511
It does: 4.3 Bibliothek under the building category "school"

[2017-02-28 08:42] shizhongming commented on #506
The Shapefile split is done. We use the NTU map as references. Open to changes.

[2017-02-28 09:27] gabriel-happle commented on #511
Processing done.
Check Building_Functions_GH_20170227.xlsx in google drive.

Seems we need LAB, LIBRARY and COMMON & CIRCULATION.
You were working on the circulation space @martin-mosteiro ?

[2017-02-28 09:33] martin-mosteiro commented on #511
No, not really. I created the LAB archetype, that's it. Library should be pretty easy to define. Common & circulation could be a bit trickier (a lot of the properties would depend on the building's main use, I suppose)

[2017-02-28 10:21] JIMENOFONSECA commented on #513
2003? Do we need data of all those years? Is not only necessary for the time of the measurements?

Older data we can get with interpolation from meteonorm..

Best, Jimeno

On 28 Feb 2017, at 15:26, BhargavaKrishnaSreepathi <notifications@github.com<mailto:notifications@github.com>> wrote:

For the year 2012: there is data missing from 28/06/2012 to 19/07/2012

—
You are receiving this because you

[2017-03-01 02:12] BhargavaKrishnaSreepathi commented on #513
After discussing with @JIMENOFONSECA, the weather files are to be generated for the year which has the details about the measured energy consumption. As per @gabriel-happle, we have the hourly chiller loads for some parts in 2014, 2016. So effectively we will be requiring the weather data files for 214 and 2016. Do correct me if I missed something

[2017-03-01 02:22] gabriel-happle commented on #511
@martin-mosteiro cool. so we have LAB to start from. Is it already merged to the database?
I can also create the Library based on SIA.
Regarding the Common & Circulation - we plan to use it in SG context to determine the fraction of conditioned space vs. non-conditioned space (Hs). We will probably just assume some lighting for those spaces. And no occupancy.

[2017-03-01 02:25] gabriel-happle opened #521 "EcoCampus: Expand Occupancy DB to include Library"
Include Library Occupancy in DB.
Data from SIA2024.

[2017-03-01 03:51] shanshanhsieh commented on #518
http://www.sciencedirect.com/science/article/pii/S0378778813003964
27 different envelope combination based on survey of buildings around central business district in Singapore.

[2017-03-01 04:12] gabriel-happle commented on #513
@JIMENOFONSECA which data from the weather file is actually used in the CEA calculation? Could you please make a list?

[2017-03-01 04:17] gabriel-happle commented on #508
@JIMENOFONSECA What is the actual input data needed to run the CEA? Could you please document this? For me it is not clear which of the shapefiles are produced by the properties script. It seems some are produced, some are modified (i.e. columns added by calculation) and some are actual inputs.
Should we produce the files necessary to run the demand? (but then there are no U-values, thermal mass,

[2017-03-01 04:22] gabriel-happle commented on #508
@shizhongming http://libguides.nus.edu.sg/c.php?g=145647&p=954488 I think we have to get these standards

[2017-03-01 04:25] gabriel-happle commented on #518
http://www.sciencedirect.com/science/article/pii/S0378778817302931

EnergySimulation parameters for Singapore

[2017-03-01 06:04] gabriel-happle commented on #518
Thermal properties of green roofs:
http://www.sciencedirect.com/science/article/pii/S0378778802001081

[2017-03-01 06:19] gabriel-happle commented on #510
Some numbers on lighting,...
http://www.sciencedirect.com/science/article/pii/S0301421508003534

[2017-03-01 06:23] gabriel-happle commented on #518
Simulation parameters of residential buildings in SG:
http://www.sciencedirect.com/science/article/pii/S0360544209004733

[2017-03-01 07:11] gabriel-happle commented on #518
Generic office building simulation parameters:
http://www.sciencedirect.com/science/article/pii/S0196890410005388

[2017-03-01 07:12] gabriel-happle commented on #518
Simulation parameters of office room:
http://www.sciencedirect.com/science/article/pii/S037877880900293X

[2017-03-01 07:25] gabriel-happle commented on #518
Fractions of Air-conditioned area for office, industry and residential:
http://www.sciencedirect.com/science/article/pii/S037877881630442X

[2017-03-01 07:41] gabriel-happle commented on #508
@shizhongming maybe we can use these categories for green roofs

[2017-03-01 07:47] JIMENOFONSECA commented on #508
For this case,

I suggest:

We call the properties file with the archetypes of zurich

Then we modify the input files generated with the data we collected.

With the time we will need to build an archetypes database for singapore. But i see it quite a lot of work now and the clock is ticking to deliver the project results..

Best, Jimeno

On 1 Mar 2017, at 12:17, Gabriel Happle <notifications@gith

[2017-03-01 07:55] JIMENOFONSECA commented on #513
Go to cea/utilities/epw-reader.py
The values passed are used in the cea tool

In radiation main.py
In demand main.py

Best, Jimeno

On 1 Mar 2017, at 12:12, Gabriel Happle <notifications@github.com<mailto:notifications@github.com>> wrote:

@JIMENOFONSECA<https://github.com/JIMENOFONSECA> which data from the weather file is actually used in the CEA calculation? Could you please make a list?

—
You

[2017-03-01 08:30] BhargavaKrishnaSreepathi commented on #513
The values passed to the files are as follows:
Radiation.py: 'dayofyear', 'exthorad_Whm2', 'glohorrad_Whm2', 'difhorrad_Whm2'
demand_main.py: 'drybulb_C', 'relhum_percent', 'windspd_ms', 'skytemp_C'

In terms of parameters related to this directly or indirectly are the following:

1. dayofyear (direct from .epw file)
2. exthorad_Whm2 (direct from .epw file)
3. glohorrad_Whm2 (direct from .epw file

[2017-03-01 09:08] martin-mosteiro commented on #511
@gabriel-happle Yep! Pull request #503 . The Library archetype would probably be interesting here too. Do you think your archetype will only be applicable to the SG case or also CH?

[2017-03-01 12:10] gabriel-happle opened #522 "NUS EcoCampus: Standardise Archetype and Building Systems Database"
Right now thermal properties and material properties of buildings are partly stored in the archetypes database and partly in the systems database, although they are related. E.g. U-Value of windows (in archetypes) and g-Value of windows (in systems).
Same with facade U-Values and absorptivity / emmissivity.

At the same time, envelope system properties are not part of any shapefile generated. This

[2017-03-01 12:22] gabriel-happle commented on #518
Common properties of windows and facades in SG:
https://www.bca.gov.sg/greenmark/others/bldgplanningmassing.pdf

[2017-03-01 12:33] gabriel-happle commented on #518
@JIMENOFONSECA Yeah!
EcoCampus Block N3.2 Energy Simulation!
http://www.irbnet.de/daten/iconda/CIB_DC26318.pdf

[2017-03-01 13:27] gabriel-happle commented on #518
Institutional building properties in SG:
http://www.sciencedirect.com/science/article/pii/S0378778815304552

[2017-03-02 00:46] JIMENOFONSECA commented on #522
Great idea about this. Let's discuss next week how to integrate these things

Best, Jimeno

On 1 Mar 2017, at 20:11, Gabriel Happle <notifications@github.com<mailto:notifications@github.com>> wrote:

Right now thermal properties and material properties of buildings are partly stored in the archetypes database and partly in the systems database, although they are related. E.g. U-Value of windows (i

[2017-03-02 02:31] gabriel-happle commented on #518
SinBerBEST Benchmark building SG:
http://escholarship.org/uc/item/7k1796zv

[2017-03-03 02:09] BhargavaKrishnaSreepathi commented on #513
Air temperature is generally the dry bulb temperature
http://www.engineeringtoolbox.com/dry-wet-bulb-dew-point-air-d_682.html

[2017-03-03 03:07] gabriel-happle commented on #512
Assumptions:
- VAV AHU for all Non-residential buildings [Eri@n Bharath Paper]
- no space heating systems
- no hot water systems in non-residential buildings [EcoCampus]
- direct electrical heating of hot water in residential buildings, no tank [EcoCampus]
- type_el is only for GHG emissions -> not needed for demand calculation
- cooling systems of residential buildings ???

[2017-03-03 03:08] gabriel-happle commented on #509
see archetypes SG in google drive

[2017-03-03 03:09] gabriel-happle commented on #510
see archetypes SG in google drive

[2017-03-03 03:09] BhargavaKrishnaSreepathi opened #524 "Thermal and Hydraulic Network Optimization"
Hey @shanshanhsieh,

I will just list out the parameters you expect from the optimization here. Correct me if I missed any.

**Data available from either the .shp or .csv files are the following:**

1. Total number of nodes, represented as J0, J1....J65 (for our current case)
2. Pipes represented as Pipe01, Pipe02...Pipe65 **(Not quite sure what these are? Are they streets?)**

**Data provided by

[2017-03-03 03:39] gabriel-happle commented on #520
LAB: 24hrs system operation, 7 days per week [EcoCampus Schedules]

[2017-03-03 03:55] gabriel-happle commented on #520
NREL schedules:
http://www.nrel.gov/docs/fy11osti/46861.pdf

[2017-03-03 04:04] shanshanhsieh commented on #524
**Data available from either .shp or .csv**

This part includes two steps.
First, to read all the possible nodes (consumers/plants) and edges (most of the time are streets) and construct an `edge-node matrix of all the possible nodes and edges`.
Second, to output the network layout for simulation, this is another `edge-node matrix of the actual network layout `(connected nodes and selected edges t

[2017-03-03 05:43] shanshanhsieh commented on #511
@martin-mosteiro I added the library schedule from SIA2024 to archetype schedule, so it should work for the Swiss case. (see pull request #523 )
As for Singapore, we might have to investigate the monthly variation (because the vacation periods are probably different....)

[2017-03-03 05:45] shanshanhsieh commented on #521
The library schedule from SIA2024 is added to the archetype schedule.
We might have to investigate the monthly variation (because the vacation periods are probably different....).
Action: check NTU calendar and confirm with ecocampus

[2017-03-03 06:02] shanshanhsieh commented on #512
DHW temperature: 38 C
https://www.aosbath.com/4-facts-about-hot-water-pressure-in-singapore/

[2017-03-03 06:15] #472 closed

[2017-03-03 06:54] shanshanhsieh opened #525 "EcoCampus: Questions to EcoCampus Facility Managers"
This is a repository for questions and data we would like to verify with EcoCampus FMs.
Please put all of your questions in this issue @JIMENOFONSECA @gabriel-happle @shizhongming @BhargavaKrishnaSreepathi

[2017-03-03 06:58] shanshanhsieh commented on #525
- Fresh water supply temperature (to chillers and dhw heaters), refers to #519.

- Chilled water network: pipeline layout/ pipe diameter/ pipe insulation/ water flowrate. (asked Samira, still waiting for her reply)

[2017-03-03 07:25] shanshanhsieh commented on #520
Residential cooling load profiles at Emerald Hill, SG: P.186 (including weekdays and weekends)
Restaurant/pub; Office; Store; Yoga/Spa cooling load profiles at Boat Quay, SG: P.129

Bruelisauer, M., & Berthold, S. (2015). Recaiming Backlanes - Design Vision for Increasing Building Performance and Reprogramming Common Spaces. World Sciencitific.

[2017-03-03 07:27] shanshanhsieh commented on #519
SG soil temperature: 33.5 C; river temperature: 27.5 C
http://www.sciencedirect.com/science/article/pii/S2095263513000290

[2017-03-03 07:36] gabriel-happle commented on #517
Method:
- Remove periods of faulty reporting, i.e. zero for a long time and large number at the end (see picture)

![image](https://cloud.githubusercontent.com/assets/17002288/23542272/22f6e1b8-0027-11e7-8c4d-c00d462b9ffc.png)

[2017-03-03 07:41] martin-mosteiro commented on #511
@shanshanhsieh Yep, the schedule should obviously be valid for CH. My question was aiming more to the construction archetypes - did you guys also create a construction archetype for libraries and is it also valid for CH?

[2017-03-03 08:02] shanshanhsieh commented on #519
Average water temperature in SG: 27-29 C (hottest in May)
https://weather-and-climate.com/average-monthly-water-Temperature,Singapore,Singapore

[2017-03-03 08:07] shanshanhsieh commented on #511
@martin-mosteiro we are not creating a construction archetype especially for libraries in SG at the moment. Will keep you posted if we do. But I doubt that could be applied to ZH though...

[2017-03-03 08:26] #380 closed

[2017-03-03 08:46] gabriel-happle opened #526 "Archetype DB for CH and SG: Decouple construction DB from occupancy DB"
Does it make sense that new occupancy types (i.e. schedules and internal loads) automatically require a new building type?
Maybe we can reduce the types of buildings and increase the types of occupancy at the same time.
E.g. INSTITUTIONAL architecture for MUSEUM, SCHOOL, LIBRARY, LABORATORY, etc. usages
E.g. COMMERCIAL architecture for OFFICE, RETAIL, RESTAURANT, etc.

The database would then just

[2017-03-06 02:25] JIMENOFONSECA commented on #505
@gabriel-happle done! check repository

[2017-03-06 02:25] #505 closed

[2017-03-06 02:31] JIMENOFONSECA commented on #522
@gabriel-happle when do you have time and we meet to brainstorm and make a plan about this?

[2017-03-06 08:19] shizhongming commented on #507
Most of the age of buildings is done. Some of them are unable to trace....

[2017-03-06 08:20] shizhongming commented on #514
Working on this now. At first glance, yes the open street map is not matching the locations of buildings we have....

[2017-03-06 08:23] shizhongming commented on #508
Based on different sources, the number of floors, the window-to-wall ratio and roof type are done. @gabriel-happle for the roof type, most of them are just flat room without green.....

[2017-03-07 06:14] gabriel-happle commented on #517
Tip by Dr. Clayton Miller (Building Data Specialist):
https://bitbucket.org/berkeleylab/eetd-loadshape

I'm trying to get this to work at the moment.

[2017-03-07 06:37] gabriel-happle opened #527 "EcoCampus: Create Guide on how to set up a case study"
Create Guide on how to set up a case study
- Documentation of DataHelper (including work flow for user)
- Create diagram of database connections

[2017-03-07 06:38] gabriel-happle opened #528 "EcoCampus: Create shapefiles of case study"
"Empty" shape files needed to run properties/demand script.

[2017-03-07 07:01] gabriel-happle commented on #514
Terrain file is needed to run solar radiation simulation. TIFF-format.

[2017-03-07 07:45] JIMENOFONSECA opened #529 "Hide process to get Bwidth and Blenght in Zone and district file"
These values are confusing and make difficult the user experience. they can be calculated in the background.

[2017-03-07 07:51] JIMENOFONSECA opened #530 "Make that the floor height be calculated from Height and floor internally"
Also raise error for cases that exceed the standard: E.g., 100 floors in 10 meters.

[2017-03-07 09:45] gabriel-happle opened #531 "Expand Envelope Systems DB to include Thermal Properties of Materials"
- Includes erasing 'thermal_properties' shape file
- Archetypes DB will have links to envelope systems DB instead of U-Values
- Envelope system types will include U-Values
- In Archetypes_properties DB move thermal mass, Hs and Es to Architecture, eliminate Thermal

[2017-03-07 09:55] gabriel-happle opened #532 "FAQ for CEA website"
The goal is to create FAQ for the user manual in the website:

Questions:
- what is 'PFloor'?
- ... add more

[2017-03-07 13:24] daren-thomas commented on #532
more questions:
- how to create your own archetype?
- how to specify your own weatherfile?
- how to i create geometry for input?

[2017-03-08 02:07] BhargavaKrishnaSreepathi commented on #513
The ratio of 'glohorrad_Whm2' to 'difhorrad_Whm2' varies widely between 1 to 9 (observed in the singapore.epw weather file). The average value for all these cases is '1.795'. If we do not get any other value, we can use this.

There is an alternate way, where we take the average corresponding to each hour of the day and then apply  it to our case. i.e. average of hour 1 of all 365 days and then us

[2017-03-08 03:27] BhargavaKrishnaSreepathi commented on #513
@JIMENOFONSECA : a minor technical glitch. 2016 being a leap year, has one extra day so wherever we had 8760 hours need to be changed to 8784 hours. Shall I do this or for simplicity remove 29th February to maintain 8760 hours while running the 'demand_main' file

[2017-03-08 03:34] JIMENOFONSECA commented on #513
This is a good point.
I will keep it 8760 so we can compare to other years.

best,  Jimeno

On 8 Mar 2017, at 11:27 am, BhargavaKrishnaSreepathi <notifications@github.com<mailto:notifications@github.com>> wrote:

@JIMENOFONSECA<https://github.com/JIMENOFONSECA> : a minor technical glitch. 2016 being a leap year, has one extra day so wherever we had 8760 hours need to be changed to 8784 hours. Shal

[2017-03-08 03:35] BhargavaKrishnaSreepathi opened #533 "Change the optimization code to incorporate multiprocessing as done in the demand main file"
Change the code to incorporate multiprocessing as done in the demand main file

[2017-03-08 03:36] BhargavaKrishnaSreepathi commented on #513
Noted. Thanks

[2017-03-08 05:53] BhargavaKrishnaSreepathi opened #535 "Develop uncertainty distributions for various parameters used in CEA"
Make a database on the various parameters used in CEA and the distributions they can have i.e. the min, max, std. This can then be used to develop uncertainty analysis and figure out which of the parameters are more susceptible.

[2017-03-08 10:03] BhargavaKrishnaSreepathi opened #536 "Develop test case for testing the thermal and hydraulic losses"
Develop a test case to test the thermal_network_matrix.py file. This will be further useful in future to test the hydraulic and thermal losses for network optimization.

Develop two/three network configurations for the 9 building case study

[2017-03-08 10:07] martin-mosteiro commented on #536
Great idea! The network shapefiles are something that needs to be incorporated into the reference cases, anyway, so it obviously makes sense to include them in testing as well.

[2017-03-08 10:13] shanshanhsieh commented on #536
@martin-mosteiro  shall I include you in this issue, then?  : )
Since it will require two parts:
1. Prepare the shape files of three testing networks for reference-case-open
2. Simulate those three testing networks in simulink

[2017-03-09 03:04] BhargavaKrishnaSreepathi opened #537 "Optimization_main is giving 'module' object has no attribute error"
There is an error as following, when I tried to run the optimization_main file

AttributeError: 'module' object has no attribute 'coolingMain'

This is due to the following line in evaluation.py file

import cea.optimization.preprocessing.cooling_network as coolMain

For some reason, this is not importing the functions defined in the 'cooling_network' file

[2017-03-09 03:49] BhargavaKrishnaSreepathi commented on #537
the error is very weird. I renamed the file from 'cooling_network' to 'cooling_net' it runs seamlessly. But if I change it back to 'cooling_network', the error comes back again. @daren-thomas : Do you have any comments on this?

[2017-03-09 06:03] JIMENOFONSECA commented on #528
@gabriel-happle  The best way is to prepare all the databases in excel to make a join with a shapefile with only the names of the buildings. i can do this.

To do this, please prepare 1 shapefile and three excel files:

shapefile 1: Just all the building geometries with only the field 'Name' in it.

excel file 1: Create an excel file with the column names of age.shp (be aware of upper/lower case).

[2017-03-09 06:07] gabriel-happle commented on #528
OK. I'll do that asap.
Do we want to consider "common space" as occupancy?

[2017-03-09 06:52] shanshanhsieh opened #539 "Launch tool: hydraulic network"
Create a GUI on ArcGIS that allows users to draw thermal networks and calculate thermal and hydraulic losses. The workflow will be: reading shape file of thermal networks and user-specified parameters (supply temperature, insulation level...) from ArcGIS, and passing these inputs to the network simulation script developed in #408 #407.
We will work on this issue after the network simulation script

[2017-03-09 07:17] JIMENOFONSECA commented on #528
maybe in architecture.shp? so during the calculation we discount that space from the occupancy...

On 9 Mar 2017, at 2:07 pm, Gabriel Happle <notifications@github.com<mailto:notifications@github.com>> wrote:

OK. I'll do that asap.
Do we want to consider "common space" as occupancy?

—
You are receiving this because you were assigned.
Reply to this email directly, view it on GitHub<https://github.

[2017-03-09 07:30] gabriel-happle commented on #528
OK. So our total of the mixed usage will be smaller than 1?
i.e. OFFICE = GFA_OFFICE / GFA_TOTAL
Or we distribute the common spaces to the other usages and just consider it in Hs and Es?
i.e. OFFICE = GFA_OFFICE / (GFA_TOTAL - GFA_COMMON)

[2017-03-09 07:36] JIMENOFONSECA commented on #528
I guess the second… what do you think?

On 9 Mar 2017, at 3:30 pm, Gabriel Happle <notifications@github.com<mailto:notifications@github.com>> wrote:

OK. So our total of the mixed usage will be smaller than 1?
i.e. OFFICE = GFA_OFFICE / GFA_TOTAL
Or we distribute the common spaces to the other usages and just consider it in Hs and Es?
i.e. OFFICE = GFA_OFFICE / (GFA_TOTAL - GFA_COMMON)

—
You are

[2017-03-09 07:40] gabriel-happle commented on #528
Yes. Probably. Otherwise we don't have any electric load in that areas (lighting, etc.)... Or we create the common space later.
I will prepare the files for the second one.

[2017-03-09 09:40] gabriel-happle commented on #506
@shizhongming Could you please split S2.1 and S2.2 for me? ;)
Xie Xie
Also we should better remove special characters like '@' and '&', etc. from the names

[2017-03-09 15:09] daren-thomas commented on #403
conda create -n cityenergyanalyst python=2.7
activate cityenergyanalyst
conda install -c conda-forge geopandas
pip install cityenergyanalyst-1.0-py2-none-any.whl
python -m cea.interfaces.arcgis.install_toolbox

[2017-03-10 06:47] BhargavaKrishnaSreepathi opened #540 "Create Latin Hyper Cube random sampling method to test which parameters are more sensitive"
Create Latin Hyper Cube random sampling method to test which parameters are more sensitive

[2017-03-13 08:26] BhargavaKrishnaSreepathi commented on #540
An open source data set having the cost details. Developed by National Renewable Energy Laboratory (NERL). Might be a good source for having a uniform cost equation for all the renewables

http://en.openei.org/apps/TCDB/#blank

[2017-03-14 07:41] shizhongming commented on #514
@gabriel-happle Terrian file has been put into the spatial data folder of Google Drive

[2017-03-14 12:25] daren-thomas opened #541 "Rename "Demand helper" and "Properties" to "Apply Archetypes""
We use the terms "demand helper" and "properties" for the script that needs to be run before running the demand to create additional data required for simulation.

I think renaming these terms to "apply archetypes" communicates more clearly what the script actually does.

I therefore suggest we rename the script and associated tools / interfaces as well as language in user documentation.

[2017-03-16 06:38] JIMENOFONSECA commented on #7
I suggest to close this issue as we might not want to get into the detail of several materials. We know that construction materials in Singapore are quite similar in the whole building stock

[2017-03-16 06:41] JIMENOFONSECA commented on #15
@gabriel-happle would this be an issue we are planning to still address?

[2017-03-16 06:42] JIMENOFONSECA commented on #29
@shanshanhsieh can you provide a better description. or is it still relevant?

[2017-03-16 06:44] JIMENOFONSECA commented on #32
Can you provide a better description. or is it still relevant?

[2017-03-16 06:47] JIMENOFONSECA commented on #52
@daren-thomas is it ready or still important?

[2017-03-16 06:48] JIMENOFONSECA commented on #57
@daren-thomas is this still necessay?

[2017-03-16 06:49] JIMENOFONSECA commented on #66
@gabriel-happle was this decided? should this be considered?

[2017-03-16 06:50] JIMENOFONSECA commented on #73
@daren-thomas is this still necessary?

[2017-03-16 06:51] JIMENOFONSECA commented on #75
@shizhongming a year old issue what are your plans about this.

[2017-03-16 06:52] JIMENOFONSECA commented on #76
@gabriel-happle is this issue still open? if so, what are the plans to address it?

[2017-03-16 06:55] JIMENOFONSECA commented on #77
This is a year old issue. @shanshanhsieh what is the solution, intention or plan so far? maybe you would like to create issues to every single technology you want to add.

[2017-03-16 06:55] JIMENOFONSECA commented on #85
@shanshanhsieh is this still relevant? what is the action plan?

[2017-03-16 06:57] JIMENOFONSECA commented on #88
@shanshanhsieh what is the status and action plan?

[2017-03-16 06:57] JIMENOFONSECA commented on #89
This is a year old issue. @martin-mosteiro what is the status / action plan for this?

[2017-03-16 06:59] JIMENOFONSECA commented on #90
This is a year old issue. @shizhongming what is the status / action plan to carry out this task? I believe this was mentioned during the  CEA workshop as a priority for this year.

[2017-03-16 07:00] JIMENOFONSECA commented on #91
This is a year old issue. @daren-thomas are we expecting this? I believe it would be a great add on. but i would get the issue out of the list if we do not plan to develop it any time soon.

[2017-03-16 07:02] JIMENOFONSECA commented on #92
this is a year old issue. @shanshanhsieh what is the status and action plan about this?

[2017-03-16 07:03] JIMENOFONSECA commented on #93
This is an year old issue too @shanshanhsieh is this still relevant?

[2017-03-16 07:05] JIMENOFONSECA commented on #95
@shanshanhsieh is this still in your agenda? @martin-mosteiro would you like to take this into account? what is the action plan. This is a year old issue

[2017-03-16 07:06] JIMENOFONSECA commented on #100
This is a year old issue. @gabriel-happle what is the status and action plan of this issue? if there is not a master student are you planning to incorporate this still?

[2017-03-16 07:07] JIMENOFONSECA commented on #111
@daren-thomas is this still need to be done?

[2017-03-16 07:09] JIMENOFONSECA commented on #141
@daren-thomas is this still an active issue?

[2017-03-16 07:09] JIMENOFONSECA commented on #186
This is a year old issue. @daren-thomas is this still the case?.

[2017-03-16 07:13] JIMENOFONSECA commented on #206
@gabriel-happle if it is a duplicate, can this be closed?

[2017-03-16 07:13] JIMENOFONSECA commented on #208
@gabriel-happle is this still an issue? what is the action plan?

[2017-03-16 07:15] JIMENOFONSECA commented on #209
@gabriel-happle is it still an issue? what is the action plan?

[2017-03-16 07:20] JIMENOFONSECA commented on #248
@gabriel-happle what is the status of this? is it still an issue?

[2017-03-16 07:22] JIMENOFONSECA commented on #251
@daren-thomas is this still required?

[2017-03-16 07:25] JIMENOFONSECA commented on #267
@gabriel-happle @daren-thomas i suggest to close this issue if it is not as important as other issues

[2017-03-16 07:27] JIMENOFONSECA commented on #268
@shanshanhsieh @BhargavaKrishnaSreepathi what is the status of this. is it being implemented or is it still necessary? consider the issue is 8 months old an if it is important we need to put it into the development pipeline

[2017-03-16 07:29] JIMENOFONSECA commented on #272
@shanshanhsieh what is the status and plan to integrate this? is it still an issue? i suggest to put only technologies we need to incorporate soon.. the issue is 8 months old.

[2017-03-16 07:29] JIMENOFONSECA commented on #273
@shanshanhsieh @BhargavaKrishnaSreepathi is this still necessary?

[2017-03-16 07:30] JIMENOFONSECA commented on #274
@shanshanhsieh is it part of the PR #334

[2017-03-16 07:31] JIMENOFONSECA commented on #285
@daren-thomas i believe this is a duplicate of a year old issue. #193 . Is this still necessary or in the pipeline?

[2017-03-16 07:59] JIMENOFONSECA commented on #525
- temperature setpoints

- temperature set-backs and off periods.

- humidity setpoints

[2017-03-16 08:15] daren-thomas commented on #285
you're right. closing as duplicate.

[2017-03-16 08:15] #285 closed

[2017-03-16 08:19] daren-thomas commented on #267
@gabriel-happle what do you think?

[2017-03-16 08:43] martin-mosteiro commented on #15
@JIMENOFONSECA sorry to butt in, but this seems to overlap with #188 quite a bit no? which was closed a while back?

[2017-03-16 08:49] JIMENOFONSECA commented on #15
You are right. Let's close it then?

Best, Jimeno

On 16 Mar 2017, at 16:43, martin-mosteiro <notifications@github.com<mailto:notifications@github.com>> wrote:

@JIMENOFONSECA<https://github.com/JIMENOFONSECA> sorry to butt in, but this seems to overlap with #188<https://github.com/architecture-building-systems/CEAforArcGIS/issues/188> quite a bit no? which was closed a while back?

—
You are rece

[2017-03-16 08:50] martin-mosteiro commented on #15
Let's see what @gabriel-happle thinks, I guess. But I think given the direction we're moving towards this will in any case not be an issue anymore.

[2017-03-16 08:51] martin-mosteiro commented on #89
Honestly, I have done nothing on this. I can start looking into it, though.

[2017-03-16 08:52] martin-mosteiro commented on #95
I'd call it nice to have.

[2017-03-17 02:40] BhargavaKrishnaSreepathi commented on #524
Use the individuals already present and use minimum spanning tree algorithm to calculate equivalent length from it and proceed to calculate thermal and hydraulic losses

[2017-03-17 02:43] BhargavaKrishnaSreepathi opened #542 "ArcGIS interface for Conversion Systems Optimization"
Prepare an interface to run Optimization from ArcGIS. Also prepare documentation for the same

[2017-03-17 02:45] BhargavaKrishnaSreepathi opened #543 "Pareto plot from ArcGIS"
the input should be an individual of a generation. The output should be a plot which shows the energy mix, visualization of which buildings are connected

[2017-03-17 04:42] BhargavaKrishnaSreepathi opened #544 "Network hydraulic and thermal Losses"
Generate an interface in ArcGIS which calculates the network hydraulic and thermal losses if the network is provided

[2017-03-17 07:29] shanshanhsieh commented on #521
**1. Schedules**: Schedule information was extracted from SIA 2024:2015 4.3 Bibliothek
Daily hot water use is not actually included in SIA 2024. This profile was assumed to be the same as the occupancy profile.

**2. Architecture properties**: Following the CEA documentation, a variety of sources were used.
2.1. type_shade: assume the same as `SCHOOL`
2.2. win_wall: assume the same as `SCHOOL`
2.3

[2017-03-17 07:52] JIMENOFONSECA commented on #452
Tested. It works in my pc with the latest version of CEA , no changes made. pleas let me know if this is still the case

[2017-03-17 09:01] shanshanhsieh commented on #274
nope, this will require further research. There are some references from SERIS already, should not be a big problem. This issue falls in category 1 - stuff we are definitely going to do.

[2017-03-17 09:02] shanshanhsieh commented on #273
I believe yes, otherwise the solar potentials will be over-estimated.
This issue falls in category 1 - stuff we are definitely going to do

[2017-03-17 09:05] shanshanhsieh commented on #272
Yes, we can close this issue for now since these aspects will be updated when we add new technologies.

[2017-03-17 09:05] #272 closed

[2017-03-17 09:17] shanshanhsieh commented on #95
This is actually not the first priority for my research at the moment.

[2017-03-17 09:31] shanshanhsieh commented on #85
yes, i would still like to do this! but it comes after the network optimization is stable, therefore, stays as priority 2!

[2017-03-17 09:33] shanshanhsieh commented on #77
Yes, we could close this one for now, new issues on individual technologies will be updated.

[2017-03-17 09:33] #77 closed

[2017-03-20 07:49] BhargavaKrishnaSreepathi commented on #543
Modify the graphs_optimization file and prepare a script that can be run from ArcGIS to generate Pareto-curves in the following scenarios:
1. Pareto front - 2D - all generations - 1 scenario
2. Pareto front - 3D - all generations - 1 scenario
3. Pareto front - 2D - 1 generation - 1 scenario
4. Pareto front - 3D - 1 generation - 1 scenario
5. Pareto front - 2D - 1 generation - all scenarios
6. Pare

[2017-03-20 07:50] BhargavaKrishnaSreepathi commented on #543
Work in the branch named 'Pareto-curve-plot'

[2017-03-20 07:52] BhargavaKrishnaSreepathi commented on #268
@shanshanhsieh : On top of adding the cost terms to the database, I will be even changing the investment cost calculation also, i.e. standardize the cost calculations based on the equation we discussed.

[2017-03-20 07:53] BhargavaKrishnaSreepathi commented on #268
Make the changes in 'i268-Technology-cost-database' branch

[2017-03-20 13:36] daren-thomas commented on #251
@gabriel-happle - how would this now work? do we want to sit together and look at it?

[2017-03-20 13:43] daren-thomas commented on #186
Yes. But I think we can take the easy route of just removing all the `__init__.py` files. The `InputLocator` should be able to handle folders that do not exist yet. Check out PR https://github.com/architecture-building-systems/cea-reference-case/pull/9

[2017-03-20 13:44] daren-thomas commented on #141
@JIMENOFONSECA no. it has been resolved with gabriel's branch.

[2017-03-20 13:44] #141 closed

[2017-03-20 13:46] daren-thomas commented on #111
no. i think this has been refactored into oblivion.

[2017-03-20 13:46] #111 closed

[2017-03-20 13:48] daren-thomas commented on #91
@JIMENOFONSECA I am currently working on the decoupling of CEA from ArcGIS which would make moving to ArcGIS Pro much easier. But personally I don't think it is important. If you like we can delete this.

[2017-03-20 13:51] daren-thomas commented on #73
@JIMENOFONSECA I would need to take a closer look. I gather you just added a new use (LIBRARY) - how did that go? If all you needed to do was change the archetypes excel files then this issue can be closed. However, since the current master branch is failing with a `XLRDError: No sheet named <u'LIBRARY'>` I believe we are not quite there yet...

[2017-03-20 13:55] daren-thomas commented on #57
no. let's not bother.

[2017-03-20 13:55] #57 closed

[2017-03-20 13:56] daren-thomas commented on #52
@JIMENOFONSECA yes, I think it is important.

[2017-03-20 16:04] amraladdin commented on #532
Great input! Thanks guys!

[2017-03-20 16:51] amraladdin commented on #241
@daren-thomas @JIMENOFONSECA Do we have any updates on this issue? I'm not sure I'm able to fix this issue in the tool. Could you recommend someone to do so?

[2017-03-20 16:53] amraladdin commented on #203
Any ideas on my latest comment in this thread?
@martin-mosteiro according to Jimano's last message on the CEA _group meeting Channel on Slack... Would you categorize this issue as Priority 2 or 3?

[2017-03-20 17:12] martin-mosteiro commented on #203
Well, I guess that depends. The basic question is: is the online reference case repository meant to contain basic case studies for first time users or is it a repository of our group's case studies?

I have further developed the Hochschulquartier case study on my own computer but have never updated the online reference case because I assumed this was relevant only to Spacergy. However, if the plan

[2017-03-21 01:15] JIMENOFONSECA commented on #203
So the reference case is a private repository and should have the cases the group is working on, including hochschule quartier. Be aware that there are issues that will change the strucutre of the case studies. So we use the repository to do this. We should store measured data in there too so be careful to not run the data helper on those cases.

The examples folder in the public repository will h

[2017-03-21 01:15] JIMENOFONSECA commented on #241
Dis you try again if the problem still exists?

Best, Jimeno

On 21 Mar 2017, at 00:51, Amr Elesawy <notifications@github.com<mailto:notifications@github.com>> wrote:

@daren-thomas<https://github.com/daren-thomas> @JIMENOFONSECA<https://github.com/JIMENOFONSECA> Do we have any updates on this issue? I'm not sure I'm able to fix this issue in the tool. Could you recommend someone to do so?

—
You

[2017-03-21 01:17] JIMENOFONSECA commented on #73
Yep the next pr in the pipeline fixes this.but it is good that this error exists that means he forgot to add a tab to the archetypes folder. Should we create an error messagge?

Best, Jimeno

On 20 Mar 2017, at 21:51, Daren Thomas <notifications@github.com<mailto:notifications@github.com>> wrote:

@JIMENOFONSECA<https://github.com/JIMENOFONSECA> I would need to take a closer look. I gather you jus

[2017-03-21 01:19] JIMENOFONSECA commented on #91
Yep i do not see it coming in the next couple of years...

Best, Jimeno

On 20 Mar 2017, at 21:48, Daren Thomas <notifications@github.com<mailto:notifications@github.com>> wrote:

@JIMENOFONSECA<https://github.com/JIMENOFONSECA> I am currently working on the decoupling of CEA from ArcGIS which would make moving to ArcGIS Pro much easier. But personally I don't think it is important. If you like we

[2017-03-21 01:40] JIMENOFONSECA commented on #186
That will be great!

Best, Jimeno

On 20 Mar 2017, at 21:43, Daren Thomas <notifications@github.com<mailto:notifications@github.com>> wrote:

Yes. But I think we can take the easy route of just removing all the __init__.py files. The InputLocator should be able to handle folders that do not exist yet. Check out PR architecture-building-systems/cea-reference-case#9<https://github.com/architecture-b

[2017-03-21 01:59] JIMENOFONSECA commented on #483
I will take this to the milestone of the ecocampus project as it will need to be redone once those changes in the databases be applied

[2017-03-21 05:00] #528 closed

[2017-03-21 05:01] JIMENOFONSECA commented on #452
@daren-thomas it works in mine, maybe gabriel's work fixed this issue. is it working in yours?

[2017-03-21 06:08] #29 closed

[2017-03-21 07:04] JIMENOFONSECA commented on #522
DUPLICATE OF #531 I am on it

[2017-03-21 09:13] daren-thomas commented on #452
@JIMENOFONSECA what happened to the zip file? I think that breaks some of my code (not in a bad way, just, will need to fix)

[2017-03-21 09:14] #91 closed

[2017-03-21 09:19] JIMENOFONSECA commented on #452
So it should be there in master. But in the other pull requests it will change to an unzipped folder structure of an scenario so it can be read and read from pycharm. Would you agree with it? We can also put it as a zip file which could also work and everytime it changes we zip it again. Maybe this keeps some kind of data integrity?

Best, Jimeno

On 21 Mar 2017, at 17:13, Daren Thomas <notificati

[2017-03-21 09:21] martin-mosteiro commented on #203
Okay then – I will update all files for the HSQ case study accordingly.

Back to @amraladdin's question, then, the issue described is no longer true. So I'd be okay with closing it, even.

[2017-03-21 09:32] amraladdin commented on #203
I agree... @JIMENOFONSECA do you also agree to close this issue?

[2017-03-21 11:57] JIMENOFONSECA commented on #203
sure, i will close it then

[2017-03-21 11:57] #203 closed

[2017-03-21 12:49] amraladdin commented on #532
@gabriel-happle @daren-thomas Do you guys agree that I close this issue and add your comments on issue #489 ... It's about the User manual updates...

[2017-03-21 12:56] martin-mosteiro opened #550 "No module named shapefile"
Commit `2557c8e` from #547 includes the following line:
`import shapefile` (line 405 of thermal_loads.py)
This command requires pyshp! So the manual should be updated to include the installation of pyshp as a necessary step to use the CEA.
@JIMENOFONSECA

[2017-03-21 13:02] amraladdin commented on #489
Update from @JIMENOFONSECA
-----------------------------------
PR 531 introduces a new structure of databases:

1. basically the thermal_properties.shp is erased. most of the values contained in this shapefile now will exist in the architecture.shp for the sake of simplicity. @martin-mosteiro please consider this for the HQ case study. If you upload it to the private repository we will make this c

[2017-03-21 14:01] amraladdin commented on #241
@JIMENOFONSECA yes, and it gives the same error. @martin-mosteiro also tried running it and it generated the same error.

This opens an important point, I believe this issue is not a priority at this point. We don't have any research projects in such climates, however, if the tool is to be open to the public in the future, this issue might be of importance. That being said, I think we should go in

[2017-03-21 14:09] martin-mosteiro commented on #241
Agreed, since it's an issue that won't affect any of our current case studies, it doesn't make sense to work on it. I say keep it as Priority 3 (and work on it iff we get such a case study) or (even better) close it.

[2017-03-21 15:51] martin-mosteiro opened #552 "Hot water tank calculation error"
I ran into an issue when running the sensitivity analysis procedure for the ninecubes test case:
[code]

Tracing back the error, it appears that the existing calculation process for hot water tank losses causes an error when the hot water demand for the building is zero for the whole year. In this case, the hot water tank size is set to 0 m3 (line 190 in hotwater_loads.py), which causes multiple p

[2017-03-22 01:42] JIMENOFONSECA commented on #241
Actually, the know what is the cause.

You cannot run buildings and terrain located in a coordinate system away from the original climate.

To make it work in cairo. You would need buildings and terrain geolocated in there.

Best, Jimeno

On 21 Mar 2017, at 22:09, martin-mosteiro <notifications@github.com<mailto:notifications@github.com>> wrote:

Agreed, since it's an issue that won't affect any o

[2017-03-22 01:52] shanshanhsieh commented on #552
Good catch!
Just checked the modification you made, it make sense and we should implement it : )

[2017-03-22 05:31] JIMENOFONSECA commented on #452
I just zipped it.

[2017-03-22 09:31] daren-thomas commented on #532
@amraladdin no, I don't agree. Why add the two together to create a mega-task? Instead, we should just complete this task and the other task.

[2017-03-22 10:44] gabriel-happle commented on #66
I think this is needed. Especially for Singapore case and instant heaters.

[2017-03-22 10:46] gabriel-happle commented on #76
We are actually not using Kaempf model any more. As it assumed 100% outdoor air, which is not reasonable. But anyways we will see as soon as we run our first Singapore simulations, whether our models are feasible

[2017-03-22 10:46] amraladdin commented on #241
I'm not sure if this is the case, cause the Cairo case ran successfully before (Check my update on the 1st of December 2016). So perhaps it is related to the sun hours availability. Any other possibilities?

[2017-03-22 10:48] gabriel-happle commented on #100
I think we need this. Who does it is up to discussion.

[2017-03-22 10:51] gabriel-happle commented on #206
Actually Economizer is totally different from free cooling. I didn't know at the time. I learned that in Singapore context the conditions are never favorable to use an Economizer. In Switzerland however, this is different. Maybe @martin-mosteiro has to decide?

[2017-03-22 10:51] gabriel-happle commented on #208
Should be part of humidity modeling. Action plan up for discussion.

[2017-03-22 10:52] gabriel-happle commented on #209
Also connected to humidity modeling. Action plan to discuss.

[2017-03-22 10:53] gabriel-happle commented on #248
Whole function will be obsolete with higher LOD inputs. Probably no action needed.

[2017-03-22 10:56] gabriel-happle commented on #267
I still think it's important. we should just come up with a strategy or guideline and start working according to it from now on. But in general I still think we should avoid zero in cases where we actually mean "no data".

[2017-03-22 10:58] gabriel-happle commented on #15
can probably be closed. Unless someone external wants to work on that.

[2017-03-22 11:05] gabriel-happle commented on #444
No priority from Singapore side.
How about Zurich @martin-mosteiro ?

[2017-03-22 11:06] gabriel-happle commented on #445
Would be interesting. But not necessary with calibration and Bestest, etc.

[2017-03-22 11:07] gabriel-happle commented on #443
Has to be reviewed when higher LOD input is available. Probably modifications will be necessary then.

[2017-03-22 11:08] gabriel-happle commented on #446
Has to be reviewed when higher LOD geometry is available.

[2017-03-22 11:09] gabriel-happle commented on #455
Documentation work is continuous process. Don't know if issue is needed for that.

[2017-03-22 11:11] gabriel-happle commented on #411
@daren-thomas this can be closed I think.

[2017-03-22 11:22] martin-mosteiro commented on #444
Not a priority, but probably good to have.

[2017-03-22 11:23] martin-mosteiro commented on #206
Are we talking about night time flushing to cool the building? Probably good to have in Switzerland, no?

[2017-03-22 12:22] amraladdin commented on #489
@BhargavaKrishnaSreepathi Regarding your first comment... The DBF reader, could you provide the information necessary there? I'm not familiar with the DBF reader.

Regarding point no. 2... you're right, I should add this part to the quick simulation introduction. It basically shows the main steps users need to go through in order to create a successful simulation.

Points 3 and 4 are done... Pleas

[2017-03-22 12:31] BhargavaKrishnaSreepathi commented on #489
@amraladdin meant to tag you @JIMENOFONSECA i guess :)

[2017-03-22 13:19] amraladdin commented on #489
:D maybe I meant to tag both of you Bharga, cause I was referring to the first point in your comment :) but you're right, Jimeno also mentioned it in his 3rd point in the update I added yesterday :)

So, if any of you guys can add this to the manual, it would be great! Otherwise, I would need more time to learn more about it and implement it!

[2017-03-22 14:34] amraladdin commented on #489
SUMMARY FOR TOMORROW
-------------------------------
@BhargavaKrishnaSreepathi 's points 2, 3 and 4 are fixed. However, for point no.1, I will need someone to create the DBF reader part, this also applies to Jimeno's update comment on the building properties.

@JIMENOFONSECA 's point 3 is finished, @martin-mosteiro will help me with point no. 1 and I will get on point no. 2 after the meeting.

[2017-03-22 14:37] amraladdin commented on #532
SUMMARY FOR TOMORROW:
-------------------------------
I made a sample of the FAQ section and one of the questions (the weather file). Regarding the archetypes, I will work on it after the meeting, while point no. 3 (the geomerty) I will finish it with the help of Martin.
@gabriel-happle 's point regarding the definitions, I will work on that after the meeting as well :)

See you guys tomorrow!

[2017-03-22 14:40] #369 closed

[2017-03-22 14:43] martin-mosteiro commented on #393
This issue has been replaced by #407, #408, #409 and #412, so it should be closed.

[2017-03-22 14:43] #393 closed

[2017-03-22 14:44] daren-thomas commented on #474
the folder is not there anymore...

[2017-03-22 14:44] #474 closed

[2017-03-22 14:47] #473 closed

[2017-03-22 14:50] daren-thomas commented on #186
waiting for reference-case folder to stabilize with the new .dbf files. also, @JIMENOFONSECA consider merging the PR in the reference case repository.

[2017-03-22 14:55] daren-thomas commented on #437
with PR #554 , this would then become a global parameter to the `cea` tool

[2017-03-22 14:57] #454 closed

[2017-03-22 14:59] daren-thomas commented on #442
@JIMENOFONSECA can we close this?

[2017-03-22 15:00] #36 closed

[2017-03-22 15:05] daren-thomas commented on #401
PR #554 de-couples ArcGIS and the CEA (among many other goodies) and is a step in this direction.

[2017-03-22 15:06] daren-thomas commented on #411
check out PR #554

[2017-03-22 15:06] #411 closed

[2017-03-22 15:06] #187 closed

[2017-03-22 15:07] daren-thomas commented on #403
On Linux and Mac OS X, installation is one line: `pip install cityenergyanalyst`. See PR #554 that implements this issue.

[2017-03-22 15:08] daren-thomas commented on #480
@JIMENOFONSECA who should be working on this?

[2017-03-22 15:09] #304 closed

[2017-03-22 22:55] JIMENOFONSECA commented on #241
There is a chance the PR of daysim solar radiation fixes al this. so i would close this issue
________________________________
From: Amr Elesawy [notifications@github.com]
Sent: Wednesday, March 22, 2017 6:46 PM
To: architecture-building-systems/CEAforArcGIS
Cc: Jimeno Fonseca; Mention
Subject: Re: [architecture-building-systems/CEAforArcGIS] Some weather files don't work (#241)

I'm not sure if t

[2017-03-23 02:07] #291 closed

[2017-03-23 02:19] JIMENOFONSECA commented on #442
waiting to merge PR #545 to close it

[2017-03-23 02:22] JIMENOFONSECA commented on #186
done!
________________________________
From: Daren Thomas [notifications@github.com]
Sent: Wednesday, March 22, 2017 10:50 PM
To: architecture-building-systems/CEAforArcGIS
Cc: Jimeno Fonseca; Mention
Subject: Re: [architecture-building-systems/CEAforArcGIS] Rename `__init__.py` in reference-case to `README.md` (#186)

waiting for reference-case folder to stabilize with the new .dbf files. also, @

[2017-03-23 02:23] JIMENOFONSECA commented on #474
yep it is out, i did not noticed in which merge it went down, but well, we do not need them right?

________________________________
From: Daren Thomas [notifications@github.com]
Sent: Wednesday, March 22, 2017 10:44 PM
To: architecture-building-systems/CEAforArcGIS
Cc: Jimeno Fonseca; Mention
Subject: Re: [architecture-building-systems/CEAforArcGIS] Move contributions to own repository, remove sa

[2017-03-23 09:16] martin-mosteiro opened #555 "Add new heating systems needed for Hochschulquartier reference case"
The ETH is supplied by a heating network based on district heating from incineration, a heat pump and heat recovery from cooling processes. A new supply system type is therefore necessary for this combination.

[2017-03-23 09:16] martin-mosteiro commented on #368
This issue is solved, but the new reference case needs to be uploaded to our reference case repository. I will do so today.

Note: this will require adding additional supply systems to our database, see #555.

[2017-03-23 09:59] #403 closed

[2017-03-23 10:16] daren-thomas opened #556 "Fix broken build in master"
The master branch is currently broken wrt the jenkins. Fix this ASAP.

[2017-03-23 11:45] JIMENOFONSECA commented on #368
Cool, be aware of the new type of files we have. Thermal_loads got suppressed and the architecture.shp and zone.shp changed. However if you upload de case study, i can help you out with this shift.

Best, Jimeno

On 23 Mar 2017, at 17:17, martin-mosteiro <notifications@github.com<mailto:notifications@github.com>> wrote:

This issue is solved, but the new reference case needs to be uploaded to our

[2017-03-23 13:13] martin-mosteiro opened #558 "Mechanical ventilation recirculation calculation error"
When running sensitivity analyses for the demand of the Hochschulquartier case study, I run into the following error:
[code]

I traced it back to a case where **m_ve_mech = 0** (i.e., mechanical ventilation system is inactive, only recirculation air gets conditioned) and **qe_sen > 0** (i.e., sensible heating is needed). Under these circumstances, the supply air **ts = t3** is set to the default *

[2017-03-23 13:21] daren-thomas commented on #556
@JIMENOFONSECA, @gabriel-happle  do you know why this error could be happening:

[code]

[2017-03-23 17:52] martin-mosteiro opened #560 "RC model can't deal with inconsistent inputs"
The function `lookup_f_hc_cv_heating(bpr)` in rc_model_SIA.py cannot deal with a heating system of type `'T0'`. Which is reasonable, because this function only gets called up if the building is heated, so `'T0'` as an input makes no sense.

Since the sensitivity analysis script changes `'Hs'` but doesn't change the corresponding value for `type_hs`, the sensitivity analysis cannot run unless this

[2017-03-24 01:29] JIMENOFONSECA commented on #556
I think, one of the fields in the occupancy.dbf is Null.
so this is what we know. when you create a new field let's call it 'LIBRARY' the content will look like a 0
but in reality is NULL. (a quite stupid thing arches has).

the way to solve it:
when on field 'LIBRARY' is added, you need to fill in the content with 0.
then you will visualise 0
and the content will be 0

Shanshan found this issue.

[2017-03-24 09:00] martin-mosteiro opened #562 "Sampling for sensitivity analysis on Euler is broken"
The new database structure introduced in #549 is not compatible with the sampling code in Euler, generating the following error:

[code]

[2017-03-24 09:26] daren-thomas commented on #556
It's not actually that easy (refering to "could we add a class that handles some types of errors and get called when this happens) - instead, you are supposed to check input and raise an error with an error message if the program can't recover from this error. I have updated the masterplan reference case (I found the bug yesterday too...) and also added a line

```prop_occupancy_df.fillna(value=0.

[2017-03-24 09:45] JIMENOFONSECA commented on #556
I tend to feel this is an user error (he/she/it did not formatted the input file right). We probably should not be handling these type of error internally. I wonder if there could be many of this sort that just need a warning message to pop-up with the description of the error.

________________________________
From: Daren Thomas [notifications@github.com]
Sent: Friday, March 24, 2017 5:26 PM
To:

[2017-03-24 09:59] daren-thomas commented on #556
There are many, many, many ways to provide bad input! I think, when we discover these ways, we should through a `ValueError`:

In this specific case, though, `fillna` is not so bad, right?

[2017-03-24 10:30] JIMENOFONSECA commented on #556
i have the impression that fillna could work in this case, but still we should create some error messages. At least it could give a hint of what is going wrong...
________________________________
From: Daren Thomas [notifications@github.com]
Sent: Friday, March 24, 2017 5:59 PM
To: architecture-building-systems/CEAforArcGIS
Cc: Jimeno Fonseca; Mention
Subject: Re: [architecture-building-systems/CE

[2017-03-24 11:15] martin-mosteiro commented on #562
I'm using the old uncertainty database on Euler for now, but the sensitivity analysis code for Euler should be adapted to the new database structure... @daren-thomas?

[2017-03-24 13:34] daren-thomas commented on #556
PR #563 builds!

[2017-03-27 03:54] #537 closed

[2017-03-27 03:55] BhargavaKrishnaSreepathi commented on #537
Closing the issue as the error is not seen in the updated master

[2017-03-27 05:10] JIMENOFONSECA commented on #483
@gabriel-happle i think this issue was brought up in a discussion together. Would you mind reviewing the three slides created in
https://cityenergyanalyst.squarespace.com/faq/

Under the DATABASES subtitle, and bringing some suggestions for improving if necessary? thanks!

[2017-03-27 08:45] amraladdin commented on #489
@JIMENOFONSECA @BhargavaKrishnaSreepathi @daren-thomas @martin-mosteiro @gabriel-happle @shanshanhsieh @shizhongming Which of you will help me with the DBF reader steps in the Users' Manual?

[2017-03-28 01:45] shizhongming opened #566 "Code the program that can run the CEA and send back the result in Rhino/Grasshopper"
![workflow status quo ubg](https://cloud.githubusercontent.com/assets/16640327/24385073/87ea9d40-139a-11e7-8518-34f6cd5ae9fa.png)

Hi Darren, this issue is as we discussed when you were in Singapore. I also attached a diagram to explain the workflow. Let me know if you have any questions~

[2017-03-28 16:17] martin-mosteiro opened #568 "Heating coil script references an inexistent globalvar"
The heating coil script does the following (lines 50-55):
[code]
....but `gv.samples` doesn't exist, which causes the following error:
[code]
So... problem.

[2017-03-29 08:38] daren-thomas commented on #568
It looks like you can just delete that line, it's only a `print` statement after all...

[2017-03-29 08:40] martin-mosteiro commented on #568
I know. And I did on my computer :) But I'll commit my latest updates as soon as the master branch is working again...

[2017-03-29 12:05] daren-thomas opened #569 "cea radiation should fall back to weather file for latitude and longitude"
if not present in the shapefile, check the weather file for these values...

[2017-03-30 01:46] gabriel-happle commented on #558
Thank you @martin-mosteiro

[2017-03-30 03:09] BhargavaKrishnaSreepathi opened #570 "ValueError: operands could not be broadcast together with shapes (8760,) (4984,) (8760,)"
Connected to pydev debugger (build 171.3780.115)
PRE-PROCESSING + SINGLE BUILDING OPTIMIZATION
Solar features extraction
Run substation model for each building separately
Run decentralized model for buildings
Create distribution file with all buildings connected
Traceback (most recent call last):
  File "C:\Program Files (x86)\JetBrains\PyCharm 2016.3.2\helpers\pydev\pydevd.py", line 1578, in <mod

[2017-03-30 03:12] BhargavaKrishnaSreepathi commented on #570
This is an error I observe once in a while when I run optimization multiple times. This problem is solved when i replace the corresponding reference file in 'C:'. Have you encountered this error @JIMENOFONSECA @daren-thomas

[2017-03-30 03:16] JIMENOFONSECA commented on #570
It means that somehow you are reading arrays that have (N = 8760 - 4984) cells with 'NULL' inside, Check the inputs. be sure you have run the demand first. a good way to debug is to know which building the model is checkin and see weather the inputs are the problem...

[2017-03-30 03:20] BhargavaKrishnaSreepathi commented on #570
So here is how I get this error.
1. I run the demand_main file once
2. After this i run the optimization_main file multiple times. It does not show any error 9 out of 10 times. But the 10th time it gives this error.
3. The surprising part is it running the other times

[2017-03-30 07:50] ahmed3yad opened #571 "Unable to install the CEA Tool for ArcGIS"
Dear all,

I'm a researcher and I want to use the CEA tool for ArcGIS for my research. I tried to install it and followed the instructions but then It showed me an error while I was testing the example shipped with the tool (The radiation module did not work). So, I tried to remove the tool and install it again but now the tool is not even working and shows a red cross beside its logo in ArcGIS.

[2017-03-30 08:24] daren-thomas commented on #571
@ahmed3yad we are currently spending a lot of effort to make the installation much less painful.
Please check this page for the a preview of how to install the latest version: https://github.com/architecture-building-systems/CEAforArcGIS/blob/master/docs/installation-guide.rst

[2017-03-30 08:32] daren-thomas commented on #570
can you create a case? can you figure out the exact scenario being used, the input data as jimeno mentioned? then we figure out how the system got into this state.

[2017-03-30 08:49] ahmed3yad commented on #571
@daren-thomas Thanks a lot for your fast response and I know of course that you spend a lot of effort to make this wonderful tool easy to use.

So, in order to install the CEA tool for ArcGIS I should follow these 4 steps only?:
1) create a conda environment and activate it.
2) conda install -c conda-forge geopandas
3) pip install cityenergyanalyst
4) cea install-toolbox

Because there are two oth

[2017-03-30 10:53] JIMENOFONSECA opened #573 "Fix SAX optimization to measured data and plotting"
It needs new functionalities.

[2017-03-30 12:13] daren-thomas commented on #571
@ahmed3yad to quote from the page:

You should not need to do anything else than the four steps above! But if you run into problems, you can check the "Connecting to Arcpy" section. If you wish to install the absolute bleeding edge version, then replace step 3 (`pip install cityenergyanalyst`) with a git clone of the CEAforArcGIS repository and then a `python setup.py install`. I will update the d

[2017-03-30 12:15] martin-mosteiro opened #575 "MonthlyDemandWriter prints out less variables"
The MonthlyDemandWriter does not print the full output of the calculations (as HourlyDemandWriter does), but only a subset (i.e. **QEf**, **QHf**, **QCf** and **Ef**).
Is there a reason for this? @JIMENOFONSECA @daren-thomas

This can easily create errors. It means, for example, that sensitivity analysis with `gv.print_partial = 'monthly'` can only be run for the variables specified there. If you,

[2017-03-30 12:20] daren-thomas commented on #571
see PR #574

[2017-03-30 14:50] ahmed3yad commented on #571
@daren-thomas I followed the four steps and replaced the third step with: "a git clone of the CEAforArcGIS repository and then a `python setup.py install`". But at the end, the tool showed under "My Toolboxes" with a red X beside it and no modules were installed as you can see in the following picture:

![capture](https://cloud.githubusercontent.com/assets/26455475/24510074/68aa1148-1568-11e7-9269

[2017-03-31 08:19] daren-thomas commented on #571
@ahmed3yad, I am on it! I'm sorry. I made some stupid mistakes. I'll notify you when this is fixed.

[2017-03-31 08:31] ahmed3yad commented on #571
@daren-thomas Great! ... Thanks a lot and waiting for your notification.

[2017-03-31 14:10] martin-mosteiro opened #583 "Hot water loads create an error when V=0"
hotwater_loads.py includes the following code (lines 172 to 177):
[code]

Basically: try to calculate exponential, unless you get an error, in which case... do the same calculation that caused the error. This looks like a mistake, @JIMENOFONSECA ?

[2017-04-02 07:13] ahmed3yad commented on #571
@daren-thomas Any news about the fix ? Thanks!

[2017-04-03 03:29] JIMENOFONSECA commented on #583
Well, it turns out that sometimes we run the algorithm twice and it converges... it might be an issue with the seed. this is the fastest way to fix it.. if an issue, i would put it priority 3

________________________________
From: martin-mosteiro [notifications@github.com]
Sent: Friday, March 31, 2017 10:10 PM
To: architecture-building-systems/CEAforArcGIS
Cc: Jimeno Fonseca; Mention
Subject: [ar

[2017-04-03 07:09] daren-thomas commented on #583
how can this converge by running it twice? it's a mathematical function! i don't see any seed in this code. am i blind?

@JIMENOFONSECA can you please look at the code mentioned above again. There must be another reason for doing this twice. Or none at all.

[2017-04-03 07:11] daren-thomas commented on #571
@ahmed3yad as per pull request #582, the fix is now in the master branch. You can update your repository and run `python setup.py install` again. It should now work.

[2017-04-03 08:33] ahmed3yad commented on #571
@daren-thomas Thanks Daren, but unfortunately the problem still exists and the tool is still not working !

[2017-04-03 08:34] daren-thomas commented on #571
@ahmed3yad did you re-do the `cea install-toolbox` command?

[2017-04-03 09:06] ahmed3yad commented on #571
@daren-thomas Yes, I installed everything from the beginning as I reinstalled windows, ArcGIS and Anaconda to make sure that everything will work as intended and then when I ran the command: “python setup.py install” I had an error that told me to install “Microsoft Visual C++ Compiler Package for Python 2.7” and when I installed it I had another error that required me to install “VCredist SP1” wh

[2017-04-03 09:18] daren-thomas commented on #571
when you right-click on the 'City Energy Analyst.pyt' file, you should find an option that shows you why it failed to load. What does it say?

[2017-04-03 09:19] JIMENOFONSECA commented on #526
So in discussion with Gabriel we decided the best way for the time being is to create an archetypes database for SIN similar to that of CH. that entails:

- simplyifying a bit the Achetypes_properties.xls/ARCHITECTURE taking out n50 and put it in in envelope_systems.xls/WINDOW. Taking out occ_m2p and put it in Achetypes_properties.xls/INTERNAL_LOADS

- Then we create the Archetypes_properties.xls

[2017-04-03 09:21] martin-mosteiro commented on #583
@daren-thomas that's what I mean. This is just an exponential - if there's a division by zero the first time, why wouldn't there be the same issue when you repeat the calculation with the same exact inputs?

[2017-04-03 09:25] ahmed3yad commented on #571
@daren-thomas When I right-click, This menu appears:

<img width="232" alt="1" src="https://cloud.githubusercontent.com/assets/26455475/24603199/2220a5d4-1860-11e7-8ff6-9091650a6b8d.png">

Which option of the above you are talking about?

[2017-04-03 09:26] daren-thomas commented on #571
`Check Syntax...`

[2017-04-03 09:27] ahmed3yad commented on #571
@daren-thomas
<img width="368" alt="2" src="https://cloud.githubusercontent.com/assets/26455475/24603303/82acbc08-1860-11e7-99ae-e75ed13f6c15.png">

[2017-04-03 09:46] daren-thomas commented on #571
huh... can you try to click `Refresh`?

[2017-04-03 09:53] ahmed3yad commented on #571
@daren-thomas I did and still nothing happened ... This is the file named "[CityEnergyAnalyst.py](https://app.box.com/s/4slspyuv2jjnwyq1j7rikq2lh5bkxen9)" that is installed in the following directory: `C:\Users\Ayad\AppData\Roaming\ESRI\Desktop10.4\ArcToolbox\My Toolboxes\City Energy Analyst.pyt`

I do not know will it help or not that you check this file.

[2017-04-03 11:12] JIMENOFONSECA commented on #583
@martin-mosteiro you are right. sorry i confused the issue with another function where we apply bisect and netwton to know the return temperature of the radiator. Yes this does not make sense, please erase..

[2017-04-03 11:25] daren-thomas commented on #571
@ahmed3yad could you do me a favor? could you delete the file `CityEnergyAnalyst.py` from the `My Toolboxes\City Energy Analyst.pyt` folder and retry the `cea install-toolbox` command?

If the folder appears again, please copy the `CityEnergyAnalyst.py` file to the `My Toolboxes` folder and delete the `City Energy Analyst.pyt` folder. Does it work now?

If the folder doesn't appear again, you shou

[2017-04-03 11:40] ahmed3yad commented on #571
@daren-thomas Great! .. now it works, but I had to copy the `CityEnergyAnalyst.py` file to the `My Toolboxes` folder and rename it to `CityEnergyAnalyst.pyt` and then deleting the `City Energy Analyst.pyt` folder. Deleting the file `CityEnergyAnalyst.py` and retry the `cea install-toolbox` command did not work and resulted in a `CityEnergyAnalyst.pyt` folder again and not a file.

I think now I ha

[2017-04-03 11:41] daren-thomas commented on #571
You're very welcome. Thank you for helping with the debugging: This annoying episode should be fixed by end of April!

[2017-04-03 11:44] daren-thomas opened #584 "cea install-toolbox creates a folder instead of a file for "City Energy Analyst.pyt""
Somehow on all computers tested except mine, the cea install-toolbox command creates a folder and copies the file there. I need to figure out how to avoid that. See #571 for a user story that ran into this problem and how we solved it on his machine.

[2017-04-03 11:52] ahmed3yad commented on #571
@daren-thomas It seems that there are some more errors when running the `radiation` module
<img width="442" alt="1" src="https://cloud.githubusercontent.com/assets/26455475/24607985/af10502a-1874-11e7-8141-da6bb0b09e35.png">
<img width="831" alt="2" src="https://cloud.githubusercontent.com/assets/26455475/24607989/b1ae6fd8-1874-11e7-9a57-40653eb34335.png">

[2017-04-03 12:00] martin-mosteiro commented on #583
@JIMENOFONSECA what should the erased line be replaced by?
ValueError?
Or: if (p * cpw * V * (twws - tamb) * 1000)) == 0, then the exponential tends to 0...?

[2017-04-03 13:29] JIMENOFONSECA opened #585 "CEA seems to not be considering setbacks"
An error, difficult to track from the last improvement of the demand script. The cea is basically not using the setbacks anymore! @gabriel-happle coudl you help us to solve this issue? we need it for CISBAT..

From the picture one can see that the values assigned to th_set_C (what is selected from the controller) and theta_a (what gets into the RC model) are different for the time with setbacks!!

[2017-04-03 14:00] daren-thomas commented on #571
@ahmed3yad where did you get the reference case from? can you use the command line to `cd` into a directory (e.g. `%temp%`) and then use `cea extract-reference-case` to extract the *reference-case-open* into that folder? then, while you're at it, `cd reference-case-open\baseline` from there and run `cea latitude` to extract the latitude value?

[2017-04-03 14:10] ahmed3yad commented on #571
I got the reference case from your GitHub repository: `CEAforArcGIS\cea\examples\reference-case-open.zip`.

I extracted the latitude value, it is equal to 46.9524055556

[2017-04-03 14:12] daren-thomas commented on #571
Can you `cd` into the folder you extracted the reference case to (`cea extract-reference-case` does just that, extract from that zip) and `activate cea` and then do `cea latitude`?

[2017-04-03 14:24] ahmed3yad commented on #571
@daren-thomas I already did that and got the value of: 46.9524055556
<img width="399" alt="1" src="https://cloud.githubusercontent.com/assets/26455475/24613857/deb693f6-1889-11e7-8418-020203a203ad.png">

I also tried the tool with this extracted scenario and I had the same error.

[2017-04-03 14:28] daren-thomas commented on #571
Oh dear. @ahmed3yad, please stand by while I try to figure out how to debug this...

[2017-04-03 14:32] ahmed3yad commented on #571
@daren-thomas Of course! ... take your time

[2017-04-03 14:48] daren-thomas commented on #571
@ahmed3yad: what time-zone are you in? I would like to contact tomorrow, maybe do a teamviewer session or similar.

[2017-04-03 14:54] #558 closed

[2017-04-03 15:09] #568 closed

[2017-04-03 15:10] #560 closed

[2017-04-03 15:22] ahmed3yad commented on #571
@daren-thomas I'm currently staying in Italy, so my time zone is GMT+2 (the time now is 5:22 PM). It would be a pleasure to me to have such a contact with you, just tell me the time that most suits you and I will be available.

[2017-04-03 18:24] martin-mosteiro commented on #383
Update: from the Hochschulquartier reference yearly data we can easily calculate the process heating demand for hospitals (sterilization processes, e.g.) - this should be added to the archetype database for building type 'HOSPITAL'.

[2017-04-03 18:28] martin-mosteiro commented on #526
Seems like a reasonable short-term solution to me. Longer term, I agree with @gabriel-happle that a sub-categorization would make more sense - something like what SIA 2024 does, e.g.:
1. Residential: 1.1. Multi-family, 1.2. Single-family
2. Hotel
3. Office
4. School: 4.1. Classroom; 4.3. Library; 4.5. Lab
5. Retail: 5.1. Supermarket; 5.2. General retail
etc.

[2017-04-04 01:43] gabriel-happle commented on #585
@JIMENOFONSECA I don't think there is an error. I never changed anything on how the temperature schedules are created. I attached one of the detailed reports that I recently created for the Zug Case study.
Check out `ta_cs_set`, `ta_hs_set` and `theta_a` in columns BV, BW and BX. Seems to work. For heating and for cooling.
[Bau H-2017-03-24-11-52-27.xlsx](https://github.com/architecture-building-s

[2017-04-04 02:00] gabriel-happle commented on #585
@JIMENOFONSECA There might be an issue where buildings are overheating during periods with a cooling set point. This is due to the rule that cooling systems are generally deactivated when the outdoor temperature is colder than the indoor temperature. Should we deactivate this rule?

def is_active_cooling_system(bpr, tsd, t):

    # check for cooling system in building
    # check for cooling seaso

[2017-04-04 03:56] JIMENOFONSECA commented on #585
I believe if this is maintained we could compute the thermal comfort (i.e. hours outside of the setpoint and humidity levels). so, are the setback points influencing still the results in your opinon @gabriel-happle

[2017-04-04 07:52] daren-thomas commented on #571
@ahmed3yad I am in GMT+2 myself. Let us meet at 15:00.

[2017-04-04 08:09] ahmed3yad commented on #571
@daren-thomas OK great! ... How will we do it? Skype, Facebook, TeamViewer??

[2017-04-04 08:11] daren-thomas commented on #571
skype should work. send me an email to thomas (at) arch (dot) ethz (dot) ch with your skype name so I can call you.

[2017-04-04 08:25] ahmed3yad commented on #571
@daren-thomas I have just sent you an email.

[2017-04-04 08:56] martin-mosteiro commented on #438
I was creating an issue on this until I realized... hey, there already is one!

**1. File limit**
The limit to the number of files that can be stored at any given time on Euler is a major issue. The limits on the Euler scratch folder are as follows: 1 million files and 2.5 TB. That sounds like a lot, but when doing sobol, for example, the number of files created is:
2*(# of variables+1)*N*(# of bu